[2022-08-03 23:22] ItalyPaleAle commented on #4971
Fix: https://github.com/dapr/components-contrib/pull/1930

[2022-08-03 23:26] ItalyPaleAle commented on #4967
It's tracked here: https://github.com/dapr/dapr/issues/4797

Right now we do not have an infrastructure in place to created digital signatures.

Are you able to run Docker containers?

[2022-08-03 23:41] yaron2 commented on #4959
Ping @RyanLettieri

[2022-08-04 00:37] berndverst commented on #4461
@yaron2 is there another issue for the ID field of subscriptions to be added which you discussed above? This will likely be needed to support multiple wildcard subscriptions. Right now neither Go SDK nor Python SDK support multiple wildcard subscriptions.

[2022-08-04 01:47] yedf2 commented on #4939
For dapr created http service, is there a way to return custom http status code? dtm needs this feature

[2022-08-04 02:12] yedf2 opened #4973 "[Proposal] Supporting OutBox pattern"
## In what area(s)?
/area runtime

## Describe the proposal
For Golang SDK, provide a function `SaveBulkStateAndPublish(ctx context.Context, storeName string, items []*SetStateItem, pubsubName, topicName string, data interface{}, opts ...PublishEventOption) error`

This function will do `Save` and `Publish` as an 'atomic' operation, and has the same effect of Outbox.

Other language SDKs is simila

[2022-08-04 05:17] vikas2k14 opened #4974 "Dapr APISIX integration - Tracing is not starting from apisix"
We are using Dapr with all our services and all the pods are having dapr sidecar. We wanted to integrate dapr with APISIX gateway. The main objective for this integration is to start mTLS and tracing from APISIX gateway itself instead of the service.

We followed [this blog](https://blog.dapr.io/posts/2022/01/13/enable-dapr-with-apache-apisix-ingress-controller/) from dapr for the same.

We were a

[2022-08-04 05:27] rahulpoddar-fyndna commented on #4912
Thanks for the discussing this. Debugged this with dapr using port forward to check the value of dapr_http_server_request_count metrics. It shows correct count of request processed matching with the number of request sent from client application. We would be checking if there is any problem with the prometheus scrapping end point and revert.

[2022-08-04 06:48] akhilac1 commented on #4912
@DeepanshuA - This issue will not need any fix in Dapr. Can you please remove the bug and P1 tags. Thanks!!

[2022-08-04 09:39] olitomlinson commented on #4939
I'm not an expert but I thought distributed transactions were an anti-pattern in a micro-service architecture?

My preference would be to use higher-order paradigms if possible i.e. lean into workflows to orchestrate services and perform compensations - there already is a proposal in development for this https://github.com/dapr/dapr/issues/457

Can/Should DTM capabilities co-exist alongside Dapr W

[2022-08-04 09:57] #4966 closed

[2022-08-04 14:02] gidduk commented on #4967
Yes, I can run Docker containers.

[2022-08-04 18:02] mukundansundar commented on #4601
@spottedmahn could you give some details on which devcontainer was used?
@ItalyPaleAle It seems that that folder is not present ... And it should throw and error IMO since `daprd` will try to read from given location

[2022-08-05 08:59] qiangmzsx opened #4976 "pubsub kafka :grpc: the client connection is closing"
## In what area(s)?

## What version of Dapr?
Runtime version: 1.8.3

## Expected Behavior

Multiple grpc streaming requests over the dapr grpc proxy should be supported.

## Actual Behavior
2022/08/05 16:47:25 error publishing event unto ddkafka_test_01 topic: rpc error: code = Canceled desc = grpc: the client connection is closing

## Steps to Reproduce the Problem

kafka.yaml
[code]
code
[code]

[2022-08-05 14:03] sunzhaochang commented on #4976
It is unnecessary to create client instance for each request here. The dapr client instance should be created during startup phase and shared throughout your application, which will also have better performance.

[2022-08-05 14:51] yedf2 commented on #4939
In the micro-services area, it's great if it's possible to be both highly cohesive and loosely coupled while avoiding distributed transactions. But there are many scenarios where there is a need to maintain data consistency across multiple services, when distributed transactions have to be introduced, e.g. interbank transfers, multiple micro-services in an order system.

dtm is a microservice orch

[2022-08-05 14:55] yaron2 commented on #4976
That's correct. You are closing a client per request and gRPC multiplexes connections. Create the client once on a global scope in your app.

[2022-08-05 14:55] #4976 closed

[2022-08-05 17:08] yaron2 commented on #4959
Ping @RyanLettieri

[2022-08-05 17:11] yaron2 opened #4978 "Add dead letter topics to Subscription CRD"
Currently dead letter topics can only be set using programmatic subscriptions.

In order to add DLT support to declarative (YAML) subscriptions, the [Subscription CRD](https://github.com/dapr/dapr/blob/master/charts/dapr/crds/subscription.yaml) needs to be updated to include the property.

[2022-08-05 17:11] yaron2 commented on #4978
@Taction can you take this please?

[2022-08-05 17:28] shubham1172 commented on #4712
/activity

[2022-08-05 17:39] yaron2 commented on #4970
Looks good.

[2022-08-05 17:44] bbrandt commented on #4603
+1

[2022-08-05 17:53] RyanLettieri commented on #4959
@yaron2 Not all the components are crashing, only the new component (temporal) being added is crashing. The component is also importing gRPC and protobuf packages, specifically the following:
        github.com/golang/protobuf v1.5.2
	google.golang.org/grpc v1.47.0
	google.golang.org/protobuf v1.28.0

[2022-08-05 18:07] #2836 closed

[2022-08-05 18:08] ItalyPaleAle opened #4979 "Migrate HTTP server from fasthttp to net/http"
Since at least 2020, Dapr has been using the [fasthttp](https://github.com/valyala/fasthttp) library for the internal HTTP API server. An [Architectural Decision Record](https://github.com/dapr/dapr/blob/1cbf67f8a5da0bb5be4e3a123632c17ebb173f4e/docs/decision_records/architecture/ARC-004-http-server.md) from June 2020 (that is still in "proposed" status) contains information on this decision, which

[2022-08-05 18:09] yaron2 opened #4980 "Add otel section to Configuration CRD"
The [Configuration API type](https://github.com/dapr/dapr/blob/master/pkg/apis/configuration/v1alpha1/types.go) needs to be updated to include the `otel` section and the [Configuration CRD schema](https://github.com/dapr/dapr/blob/master/charts/dapr/crds/configuration.yaml) regenerated.

[2022-08-05 18:10] yaron2 commented on #4980
cc @juazasan

[2022-08-05 18:12] yaron2 opened #4981 "OpenTelemetry support: Address comments from #4808"
Address comments from https://github.com/dapr/dapr/pull/4808/files.

[2022-08-05 18:13] yaron2 commented on #4981
cc @juazasan

[2022-08-05 19:09] #4692 closed

[2022-08-05 19:35] yaron2 commented on #4979
For me, the fact fasthttp still doesn't support HTTP/2 (though it is [in-progress](https://github.com/fasthttp/http2), albeit slow) and will likely not support HTTP/3 is alone good enough of a reason to switch to net/http.

This I disagree with, I think fasthttp is almost completely aligned with what we are doing (backend calls with thousands of small to medium requests optimized for low-latency).

[2022-08-05 20:15] ItalyPaleAle commented on #4979
Thanks for your thoughts.

With I/O bound I was referring to what our handlers are doing: most of our handlers connect to external services (a state store, a binding, etc) or perform service-invocation. I think it's fair to assume that the complexity of the code inside the handlers, and the number of allocations (and opportunities for improvements), is orders of magnitude bigger than the complexit

[2022-08-05 20:23] yaron2 commented on #4979
Maybe, but the net latency of the server adds up and becomes more critical as the I/O operations are slower.

If it's not going to shorten the path much to change minimally to test performance, we'll just need to test when all the work is done and make a decision then whether the perf loss is acceptable.

[2022-08-06 03:03] #4590 closed

[2022-08-06 05:41] #4586 closed

[2022-08-06 05:51] Taction commented on #4978
@yaron2 Sure.

[2022-08-06 05:51] Taction commented on #4978
/assign

[2022-08-07 03:59] VenkateshSrini commented on #4949
can some one from Dapr team help me on this. We are have Kubernetes Jobs also that needs to handle state management. So any help in this regard is greatly appreciated

[2022-08-07 05:29] yaron2 commented on #4949
Remove the dapr.io/app-port annotation from your YAML

[2022-08-07 06:29] VenkateshSrini commented on #4949
@yaron2 , I;m not sure where you are seeing dapr.io/app-port. [deploymeent.yaml](https://github.com/VenkateshSrini/dapr-state-store-app/blob/main/dapr.state.console/dapr-state-job.yaml) is here. To make things easier I will copy paste the yaml again here `apiVersion: batch/v1
kind: Job
metadata:
  creationTimestamp: null
  name: dapr-state-job
  namespace: m2c-steeltoe
spec:
  template:
    metada

[2022-08-07 06:52] yaron2 commented on #4949
If you don't have the annotation for app port, Dapr won't be trying to communicate with your app.

It's not clear then what issue you're experiencing

[2022-08-07 08:27] VenkateshSrini commented on #4949
@yaron2. That is my issue. This is a kubernetes job. I do not know from where it is taking the app port.

[2022-08-07 16:32] ItalyPaleAle commented on #4716
👋 bot

[2022-08-07 23:51] ItalyPaleAle commented on #4730
👋 bot

[2022-08-08 02:04] RcXu opened #4983 "Add the out-binding component alicloud.sls support logic"
## In what area(s)?

## Describe the proposal

Add the out-binding component alicloud.sls support logic, which works for logs storage.

[2022-08-08 07:37] mukundansundar commented on #4621
@pravinpushkar why was this issue not closed with 1.8 release?

[2022-08-08 07:46] pravinpushkar commented on #4621
The original issue #4367 got closed. This issue has developer persona api as well which we did not agree to implement as of now because of suitable usecase.
But I guess we can close this as well.

[2022-08-08 07:49] mukundansundar commented on #4621
@pravinpushkar  let's keep it open as part of that discussion ... though could you change the issue title/description to reflect the latest state?

[2022-08-08 08:16] pravinpushkar commented on #4621
@mukundansundar  Updated the description with tasks.

[2022-08-08 14:21] pravinpushkar commented on #4968
Closing this as the issue was not passing the parameter --app-port correctly. I am facing issue with unsubscribe  also but that is being tracked with the linked PR above.

[2022-08-08 14:21] #4968 closed

[2022-08-08 16:08] yaron2 commented on #4959
We already have mentioned packages here: https://github.com/dapr/dapr/blob/master/go.mod.

Can you recheck if versions have changed or if there are other packages being imported?

[2022-08-08 21:02] RyanLettieri commented on #4959
@yaron2 Here're the diffs from my go.mod:
![image](https://user-images.githubusercontent.com/67934986/183513901-7db1c63b-d674-4ddc-9142-24b6b6dcb81a.png)

[2022-08-08 22:27] #4571 closed

[2022-08-09 16:46] addjuarez commented on #3256
https://github.com/dapr/components-contrib/pull/1380

[2022-08-09 18:45] tmacam opened #4988 "Renaming Distributed Lock API UnlockResponse.Status"
While writing the Python SDK bindings for the Distributed Lock (dapr/python-sdk#43), a discussion arose regarding the naming of fields: `LOCK_UNEXIST ` and `LOCK_BELONG_TO_OTHERS`.

https://github.com/dapr/dapr/blob/1fdc9a151956f061677258479965af61cb34ddf3/dapr/proto/runtime/v1/dapr.proto#L592-L593

The main concerns are:
1. There is a typo/grammar error  in `LOCK_BELONG_TO_OTHERS`. It should read

[2022-08-09 18:56] yaron2 commented on #4988
I'm good with putting this into 1.9. We do not need a deprecation notice.

[2022-08-09 18:57] tmacam commented on #4988
I will submit a PR for this shortly.

[2022-08-09 23:10] #4988 closed

[2022-08-10 06:41] jasparmang commented on #4952
Looks like this logs appear at least more often if the service is restarting. Unsure if related to shutdown or start of the new instance. It is quite hard to track and not easy to reproduce.

[2022-08-10 15:17] DanBiscotti commented on #4534
Hi, we are noticing this error on our dapr operator logs (versions 1.7.2 and 1.7.3). Are you saying it's something we can ignore?

[2022-08-10 17:07] #4983 closed

[2022-08-10 19:19] yaron2 commented on #4949
Based on your logs, Dapr is not trying to communicate with the app. I need more details to understand what's going on. You say this:

Can you elaborate on what happens when you call the Dapr state API? what's the status code and/or response that you're getting back?

Looking at your command arguments, I think the issue is you're starting your dotnet app and then shutting down Dapr immediately.

Tr

[2022-08-10 19:33] yaron2 commented on #4974
You shouldn't need to use a zipkin plugin for APISIX as the local Dapr sidecar will start the trace.

[2022-08-10 20:07] tmacam commented on #4925
I did a barebones Java implementation of a pluggable State Store component in https://github.com/tmacam/DaprPluggableComponent-Java

[2022-08-10 20:44] BCoskun opened #4992 "Resiliency Settings not working as expected in Self hosted environment (slim)"
## In what area(s)?

/area runtime

## What version of Dapr?
1.8.3

## Expected Behavior

I have a simple Resiliency policy code that applied to the Azure Service Bus component.

[code]

## Actual Behavior

Resiliency Policies doesn't follow the rules provided for retry counts and message are sometimes delivers the messages multiple times and contradict with duration value specified in the policy.

[2022-08-10 20:57] yaron2 commented on #4917
That could work, provided the underlying SDK supports it.

[2022-08-10 20:58] yaron2 commented on #4711
Not a pre-requisite per-se, but yes, this needs to be done together with the runtime changes.

[2022-08-10 21:00] yaron2 commented on #4711
Not directly related, but a project like [VCluster](https://www.vcluster.com/) allows you to create virtual clusters as namespaces inside a parent cluster. You can then install Dapr (or any other platform) in the virtual cluster for a multi-tenant architecture.

[2022-08-10 21:41] olitomlinson opened #4993 "[feature request] Support dynamic metadata spec in State Management"
We have data security requirements in our multi-tenant system whereby we need to :

1. Control how data is logically segregated by `tenant_id` when persisted.
2. Prevent developers from accidentally (or intentionally) omitting important query constraints that would restrict the result set to a given `tenant_id`.

Dapr State Management building blocks currently don't provide a way to achieve this d

[2022-08-10 22:27] yaron2 commented on #4992
cc @halspang

[2022-08-10 23:23] ItalyPaleAle opened #4995 "1.8.4 Hotfix release checklist"
- [X] Dapr maintainer(s) communicate out the discovery of an issue that requires a hotfix and the reason why to the Discord Maintainers and Release channels. Hotfix is one of categories below:
   - [X] Security vulnerability: https://github.com/dapr/components-contrib/pull/1954
   - [X] Regression that does not have a work around: https://github.com/dapr/components-contrib/pull/1957
   - [ ] Broke

[2022-08-11 00:35] halspang commented on #4992
@BCoskun - Are you setting `maxDeliveryCount`? Azure service bus will attempt to redelivery messages separately from how your resiliency policy specifies. Work is ongoing to make components play nicer with resiliency in the runtime.

[2022-08-11 02:47] VenkateshSrini commented on #4949
@yaron2 ,
The entire code for saving and getting the object from state store is given below
` using dapr.state.console.Model;
using Dapr.Client;

namespace dapr.state.console
{
    public class Worker : BackgroundService
    {
        private readonly ILogger<Worker> _logger;
        private readonly DaprClient _daprClient;
        private readonly IConfiguration _configuration;
        public Wor

[2022-08-11 03:03] SakaZhang opened #4996 "Sidecars inject pods failed."
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

 /area runtime

 /area operator

 /area placement

## Inject pods failed when apply calico networkpolicy
When i apply calico NetworkPolicy, darp's sidecars inject failed.

It looks like  :
[cod

[2022-08-11 06:17] SakaZhang commented on #4996
When apply calico networkpolicy, the new created pod cannot be injected by dapr and no logs in dapr-operator and dapr-sidecar-inject.When delete networkpolicy, dapr can correct inject sidecar to pods.

[2022-08-11 07:21] SakaZhang commented on #4996
Now i upgrade dapr to 1.8.3, this prob is solved.But i still dont know why.Maybe in some release fixed it.

[2022-08-11 07:21] #4996 closed

[2022-08-11 13:03] engeluke commented on #1172
How do you enable the hot reload mentioned here ?

[2022-08-11 13:18] BCoskun commented on #4992
@halspang - Yes I adding maxDeliveryCount value into policy file this morning but, it didn't change the behavior. Still DAPR delivering message more than 3 times.

[2022-08-11 14:48] hueifeng commented on #4756
/keep-alive

[2022-08-11 15:42] #4978 closed

[2022-08-11 17:05] halspang commented on #4992
@BCoskun - `maxDeliveryCount` is an option for your service bus, not resiliency. You'll have to add it there.

[2022-08-11 17:48] ItalyPaleAle opened #5000 "Dead letter queue does not work when topic contains a wildcard"
## In what area(s)?

/area runtime

## What version of Dapr?

## Issue

When an app subscribes to a topic using a wildcard (something that can be done for example with `pubsub.mqtt` by subscribing to `foo/#`), failed messages are not sent to the DLQ.

The problem is here:

https://github.com/dapr/dapr/blob/e8080af869f56d78ca44e8fe4603d2e41c4d9ee7/pkg/runtime/runtime.go#L610

This checks for the DL

[2022-08-11 17:48] ItalyPaleAle commented on #5000
/assign

[2022-08-11 23:39] halspang commented on #4970
Overall looks good to me. Two things:

1. Given the stricter definitions of the cert tests, are we going to go through and mark which ones need to be updated? Certain components like Kafka and Azure Service Bus* have _a lot_ of metadata so I wouldn't be surprised if they were missed.
2. Should we include anything about resiliency here? We have a proposal [1863](https://github.com/dapr/components-c

[2022-08-12 00:01] berndverst commented on #4970
1.) Existing components should be grandfathered in. We should make sure to revisit their certification tests when we have an opportunity to do so.

@dapr/approvers-components-contrib @dapr/maintainers-components-contrib should ensure that new metadata options being introduced for stable components also add an appropriate test case in certification tests going forward.

2.) Given that the Component

[2022-08-12 00:08] ItalyPaleAle commented on #4952
Are you able to provide some more details on the logs that appear? Do they just say “context canceled” or is there something else to indicate which part of Dapr is issuing the log? Is there a stack trace?

At a high level, “context canceled” is not _necessarily_ a bad thing, but it depends on how/when/where it happens

[2022-08-12 00:54] daixiang0 commented on #4979
Since fasthttp does not support HTTP2 and net/http is in a very well maintained and optimized state, switch is meaningful.

For performance, a benchmark result is necessary to detect the true perf loss.

[2022-08-12 00:58] #4980 closed

[2022-08-12 01:04] yaron2 commented on #4970
Agree

Agree

I'm not too sure about that, but in any case we probably need a few releases with Resiliency in stable status before we can make that decision.

[2022-08-12 01:05] ItalyPaleAle commented on #4970
Overall I think this makes a lot of sense.

Only one comment on this:

On the last sentence:

1. I think we should clarify that components that use HTTP or GRPC but maintain streams or perform long-polling (which is the case for some pub subs), then they are still required to comply with this requirement.
2. Even when the component does not maintain any persistent connection, I think it is still i

[2022-08-12 02:35] tjoudeh commented on #4459
The problem is still there even though they are Container Apps use v1.7.3. I can't query Cosmos DB store when deploying to container apps, while query cosmos db works when I self-host dap on my machine with no issues.

This is the exception I'm receiving

[code]

![image](https://user-images.githubusercontent.com/3114431/184274259-e6392f29-4c13-40d2-a312-2f0167526efc.png)
FYI @yaron2 @torosent if

[2022-08-12 03:42] yaron2 commented on #4459
This needs to be tracked here: https://github.com/microsoft/azure-container-apps/issues/155

[2022-08-12 03:51] chn-xu opened #5003 "How can I get more request context in WASM middleware?"
Hi, guys

I want to re-write the URL in WASM. For different scope service invocation. From [documents](https://docs.dapr.io/reference/components-reference/supported-middleware/middleware-wasm/) it seems like I can only get a request URL in the middleware. How can I get more request context in the middleware?​

[2022-08-12 06:10] eyeye commented on #2675
waiting for progress.

[2022-08-12 07:20] Lichmaker opened #5005 "How can i run `dapr init` using proxy"
[code]

Due to the particularity of my local network, I have to use a proxy to access Docker Hub.
I dont know if this is runing the command `docker pull` or something.
I already set up my https_proxy environment variable.
[code]

So if there is anyway to run `dapr` using proxy. please tell me :) thanks a lot

[2022-08-12 07:35] daixiang0 commented on #5003
Oh thanks for your interest, it is in plan, but implement is not hard. You can take a look and post a PR if you want.

[2022-08-12 07:44] olitomlinson commented on #4872
@yaron2

Just an update, my development teams are starting to move forward with adopting Dapr PubSub, so its essential for us that this is resolved quickly, as our entire development cluster relies on multiple dev/test copies of the application stack being deployed and we can't allow messages to collide across those stacks.

[2022-08-12 13:39] yaron2 commented on #4872
This is still on track for 1.9

[2022-08-12 15:06] itac-admin commented on #3464
I'm having trouble with the same issue.
Has anyone had the same thing happen?

[2022-08-12 18:50] alecor191 opened #5006 "Dapr sidecar not terminating when CronJob main container exits"
## In what area(s)?

/area runtime

## What version of Dapr?

1.8.3

## Expected Behavior

When a CronJob pod is started and the app container exits, then the Dapr sidecar container should also exit to terminate the job pod.

## Actual Behavior

After app container terminates, the Dapr sidecar container keeps running, thus preventing the pod from terminating.

## Steps to Reproduce the Problem

Cr

[2022-08-12 19:12] mcandeia commented on #4962
I want to share some progress and caveats,

I managed to execute both tests in parallel with success, the linux AKS tests took ~18 minutes and the windows test took ~28 minutes.

- With tailscale in place we must have a shared (possibly team) account which we should document how to access/generate keys and rotate them.
- Tailscale is not free and we need a subnet router for each AKS running in par

[2022-08-12 21:23] ItalyPaleAle opened #5007 "`pkg/grpc/endpoints.go` needs to be updated to the last APIs"
## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior

API allowlists work as expected.

## Actual Behavior

API allowlists are currently not working as expected with gRPC because the file [`pkg/grpc/endpoints.go`](https://github.com/dapr/dapr/blob/master/pkg/grpc/endpoints.go) is not up-to-date.

A user reported an issue with being unable to use the State Query API vi

[2022-08-12 23:51] #4718 closed

[2022-08-13 03:45] Taction commented on #5003
I think it would be better to submit a proposal about the abi defination first, which defines the `Functions implemented in the Wasm module` and `Functions implemented in the host environment`. And maybe this can be implemented in another middleware, leaving the `basic` as a simple example for beginners.
@daixiang0 WDYT?

@GeekEz also you can do this based on your requirements, if this is hard for

[2022-08-13 06:28] #4650 closed

[2022-08-13 07:13] liujingshi opened #5010 "Excuse me, Can the Dapr running locally be connected to the Dapr running on the cloud?"
Excuse me, Can the Dapr running locally be connected to the Dapr running on the cloud? The written service runs on the cloud, but the service under development runs on the local, and the local service needs to call the cloud service. Can the Dapr on the local and Dapr on the cloud be directly connected? What are some ways not to use Kubernetes? What are the ways to use Kubernetes?

[2022-08-13 12:23] GOVINDBHAVAN opened #5011 "dapr init could not connect to Docker"
Hello, I am able to run **dapr init -k** which creates pods successfully on kubernetes running on docker-desktop, but when I run the **dapr init** it's not able to connect docker.

$ **dapr init** or with sudo getting same error
⌛  Making the jump to hyperspace...
❌  **could not connect to Docker. Docker may not be installed or running**

OS Details: PopOS 22.04
Docker-Desktop for Linux: 4.11.0-am

[2022-08-14 11:55] mcandeia commented on #5003
I agree with @Taction, how about [proxy-wasm](https://github.com/proxy-wasm/spec) ABI especification?

I don't know if it's too much for our middlewares but it supports a lot of operations and it is already a standard. Having yet the possibility to support envoy proxies out-of-the-box and being the second one to implement a server supporting proxy-wasm spec.

[2022-08-14 12:26] mcandeia commented on #5011
The `-k` parameter uses your kubernetes current context to install/configure dapr dependencies. The dapr init uses your docker context to do the same. Notice that one can fail and the other may succeed or vice-versa.

Could you paste here the output of `kubectl config current-context` and `docker context ls` ?

[2022-08-14 12:50] Taction commented on #5003
The [proxy-wasm](https://github.com/proxy-wasm/spec) ABI is definitely a good idea! And there is a [proxy-wasm-go-sdk](https://github.com/tetratelabs/proxy-wasm-go-sdk) provided by tetratelabs and a [proxy-wasm-go-host](https://github.com/mosn/proxy-wasm-go-host) provided by mosn. I've read the source code previously and adding wazero runtime support for the host is not hard, but there are still t

[2022-08-15 00:38] GeekEz commented on #5003
Yes, please.

[2022-08-15 00:53] #4706 closed

[2022-08-15 01:04] daixiang0 commented on #5003
Actually, in the beginning, I name it "basic" because I want it to keep easy and simple, proxy-wasm is good but very complex and I want to implement it in another WASM middleware.

I want to get more feedback about just leaving "basic" for beginners as an example or still making it cover the whole request/response context.

/cc @dapr/maintainers-dapr @dapr/maintainers-components-contrib

[2022-08-15 01:27] sunzhaochang commented on #5006
The dapr sidecar has a `/shutdown` endpoint and you need call the api before app exits.
Read [Running Dapr with a Kubernetes Job](https://docs.dapr.io/operations/hosting/kubernetes/kubernetes-job/) for more information.

[2022-08-15 03:50] GOVINDBHAVAN commented on #5011
Hi, please find output:

$ kubectl config current-context:
docker-desktop

$ docker context ls
NAME                TYPE                DESCRIPTION                               DOCKER ENDPOINT                                   KUBERNETES ENDPOINT                                 ORCHESTRATOR
default             moby                Current DOCKER_HOST based configuration   unix:///var/run/docker.soc

[2022-08-15 04:45] alecor191 commented on #5006
Great, thanks a lot @sunzhaochang!

[2022-08-15 04:45] #5006 closed

[2022-08-15 09:05] saber-wang opened #5013 "when the Deadletter is not subscribed, the message will be lost"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

 /area runtime

## Ask your question here
In the new version, deadletter is provided, but if only dead letter is declared, no subscription will be generated, which will lead to the loss of mess

[2022-08-15 13:55] RcXu commented on #5010
Maybe not as you wish，some Dapr api such as bindings and state store based on other software (eg  redis,kafka and other persistance storage)  could do this.  but service invoke and actors maybe not, it has some problems for accross cluster, such as  name service , component resource  and so on, so not mention locally and cloud.
If you only need to resolve the service invoke between locally and clo

[2022-08-15 13:57] BCoskun commented on #4992
@halspang , Thanks for pointing right settings but still not working as expected. I also upgraded 1.8.4 this morning but still same issue.

[2022-08-15 14:13] BCoskun commented on #4992
I think I understand now that I should be deleting the existing Azure Service subscription created by DAPR before retrying new settings so that the subscription values can be applied to the Azure Service Bus. It seems changing configuration doesn't update existing subscriptions.

[2022-08-15 14:58] yaron2 commented on #4290
@Taction can you look into this please? :)

[2022-08-15 15:12] #5007 closed

[2022-08-15 16:56] bab5470 opened #5014 "Does dapr support the AMPQs (Secure AMPQ) protocol when using rabbitmq for pubsub?"
Does dapr support the AMPQs (Secure AMPQ) protocol when using rabbitmq for pubsub?

When we specify the following in our dapr pubsub config our setup works:

[code]

When we switch the config as follows it breaks:

[code]

Note all we've changed is the protocol from ampq to ampqs and the port from 5672 to 5671.

We are using our own internal CA when securing rabbitmq so I don't know if there is so

[2022-08-15 17:28] mcandeia commented on #4962
Bringing some bad news:

I asked the tailscale support team if there is a way to rotate the  Auth Keys(to connect the network) using an API Key (to manage the console), and they answered that isn't.
<img width="1347" alt="image" src="https://user-images.githubusercontent.com/5839364/184685015-d6c9cb6b-4bb3-414e-8778-3c599dfda6f0.png">

There's been an ongoing issue since 2 Nov 2021 https://github.

[2022-08-15 17:45] ItalyPaleAle commented on #4995
Closing as complete

[2022-08-15 17:45] #4995 closed

[2022-08-15 18:12] artursouza commented on #4970
Are we OK to merge https://github.com/dapr/docs/pull/2720 ?

[2022-08-15 18:19] berndverst commented on #4970
Agreed. Updated.

I don't think that belongs in certification tests. If the network is down the component will fail operations multiple times (depending on resiliency settings). It would be expected that the runtime eventually consider the component to be in bad state and attempts to restart the component (or restarts the entire sidecar -- whichever the current behavior is).

[2022-08-15 18:21] berndverst commented on #4970
Please update the PR to also add the detailed requirements on the certification tests which we can link to. Otherwise the page is still very ambiguous as it isn't clear what a certification test entails.

[2022-08-15 21:25] #4734 closed

[2022-08-15 22:03] berndverst opened #5015 "Dapr should clean up orphaned kubernetes services"
/area operator

## Describe the feature
When creating a Kubernetes deployment Dapr automatically creates a Kubernetes service to be used for service invocation. When a deployment is deleted Dapr does not clean up this service.

The Dapr control plane (probably the operator) should on a regular (configurable?) time interval delete all unneeded services.

Perhaps this can be accomplished by scanning

[2022-08-15 22:15] berndverst commented on #5015
Fixed by https://github.com/dapr/dapr/pull/4850

[2022-08-15 22:15] #5015 closed

[2022-08-16 01:56] Taction commented on #4290
@yaron2 Sure and sorry for the delay, it is possible for me to look into this the next week as I'll take a vacation recently. :)

[2022-08-16 02:01] yaron2 commented on #4290
Sure thing, thanks

[2022-08-16 03:18] VenkateshSrini commented on #4949
@yaron2 ,
I have fixed the issue. The issue is that we need to remove the cancellation related while loop. Also, we should not pass the app's cancellation token to the Dapr async method. The main reason is that when the shutdown of the app (not the command of job spec in deployment.yaml) method is invoked the persistence is not completed. With some log statements, I was able to fix the same.

[2022-08-16 03:18] #4949 closed

[2022-08-16 06:53] #4674 closed

[2022-08-16 10:11] shubham1172 commented on #2218
## Batch Publish without broker support

Batch publish does not provide transactional semantics, the batch can be broken into individual messages and published individually.

By default, the messages are published in parallel. This means that the messages may be received out of order. Here are two sequence diagrams to demonstrate the request flow.

![image](https://user-images.githubusercontent.co

[2022-08-16 11:52] mcandeia commented on #5011
Really weird. [Seems that one of these two things went wrong, but why?](https://github.com/dapr/cli/blob/master/utils/utils.go#L138)

[2022-08-16 12:29] sunzhaochang opened #5016 "gRPC `SendMsg` should not be called in different goroutines when using streams"
## In what area(s)?

/area operator

## What version of Dapr?

1.8.3

## Expected Behavior

No data race when using grpc streams.

## Actual Behavior
Currently the component is sent to sidecar by multiple goroutines when it is updated:
https://github.com/dapr/dapr/blob/327900f9d95747a1421bec44d899fae7e484916b/pkg/operator/api/api.go?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%

[2022-08-16 12:29] sunzhaochang commented on #5016
/assign

[2022-08-16 14:34] DeepanshuA commented on #2218
### Batch Subscribe:

Till now, this is how normal subscribe operation works in Dapr:

<img width="445" alt="subscribe" src="https://user-images.githubusercontent.com/24491296/184901551-e61f1ad9-652e-451d-b61b-be8f2bf62369.png">

Well, Ideally this is how Batch Subscribe should flow like:

<img width="423" alt="batch_subscribe" src="https://user-images.githubusercontent.com/24491296/184902667-78e3

[2022-08-16 15:58] pravinpushkar opened #5017 "Unsubscribe configuration : Reponse is not similar across gRPC and HTTP"
## In what area(s)?

 /area runtime

## Ask your question here

Unsusbcribe configuration APIs response is not uniform between gRPC and HTTP. In case of HTTP we are returning empty body with response header where as in gRPC we are sending response body.
See -
gRPC - https://github.com/dapr/dapr/blob/327900f9d95747a1421bec44d899fae7e484916b/pkg/grpc/api.go#L1729
HTTP - https://github.com/dapr/dapr/

[2022-08-16 16:43] yaron2 commented on #5017
This should be fixed, we should follow the gRPC spec in this case.

[2022-08-16 17:37] halspang commented on #4992
@BCoskun - Yes, I don't believe the subscription is updated with new values on startup, I think it needs to be deleted first.

How many retries/deliveries are you seeing? One thing to call out is that the retries may be 1 more than you think they should. This is because it's run as initial call + retry count. So your actual calls will be retry count + 1. If you factor in the redelivery from your s

[2022-08-16 19:46] olitomlinson commented on #4576
bump so this doesn't go stale

[2022-08-16 21:51] cgillum commented on #4576
Unfortunately, the stale bot is not aware of people's vacation schedules. 😅

Just as an FYI to interested folks, some initial POC work has been completed and we're hoping to share progress and maybe do some demos at an upcoming [Dapr Community Call](https://github.com/dapr/community#community-meetings).

[2022-08-17 04:07] #4835 closed

[2022-08-17 05:47] sabagara opened #5019 "Add ALLOWED_SERVICE_ACCOUNTS option to the helm chart"
## In what area(s)?

## Describe the feature

Agones and dapr must be used on AKS.
Starting with dapr 1.8, an option was created to allow dapr injection for game servers created with Agones Fleet. (#4680)
I tried to take advantage of this, but since the installation in AKS is done with the az extension, i think we need to make it officially supported in Helm charts.

Possible fixes are:
It is in c

[2022-08-17 06:31] pravinpushkar commented on #5017
/assign

[2022-08-17 07:48] rojamajor opened #5021 "Why does the dapr-https 443-3500 I added disappear. The 1.7 version of dapr does not have this problem."
The default service port mapping created by dapr of version 1.8 has dapr-http 80-3500, then I added a dapr-https 443-3500, the problem is, when I scale the number of containers, dapr-https 443-3500 disappears . The 1.7 version of dapr does not have this problem, what is the reason, thank you!

[2022-08-17 16:14] shubham1172 opened #5023 "Support Dapr deployments on ACI virtual kubelets"
## In what area(s)?

/area runtime

## Describe the feature

**Background**
With https://github.com/dapr/dapr/pull/4741 we modified a behavior for our k8s deployment.
- Originally, both Command and Args were used, where Command would be `daprd` or `dlv` and Args would be the appropriate arguments.
- After the above PR, Command is no longer used. The Args now contain `daprd` or `dlv` followed by ot

[2022-08-17 17:48] ItalyPaleAle commented on #5023
IMHO this is acceptable as it's a very niche situation: people who use AKS with ACI virtual nodes **AND** want to use Windows containers (WCOW) **AND** want to install custom CA certs. I have no idea how many people would fall into that group, but I think it's reasonable to assume we can ignore that at least for now.

[2022-08-18 05:11] ItalyPaleAle commented on #4797
👋 bot

[2022-08-18 07:14] jiangjinnan opened #5027 "Tracing error: invalid parent span IDs=XXX; skipping clock skew adjustment"
Dapr runtime version: 1.8.4
Service invocation scenario (self host): app1=>app2=>app3
Local Jaeger with Zipkin collector.
The service invocation span for app2->app3 :  invalid parent span id
![image](https://user-images.githubusercontent.com/7710918/185331310-dd95f031-77c7-478e-8440-543ac3f4c1b1.png)

[2022-08-18 07:22] jiangjinnan commented on #5027
trace json
[code]

[2022-08-18 08:35] jiangjinnan commented on #5027
The following figure illustrates the network traffic and span's relationship.
![image](https://user-images.githubusercontent.com/7710918/185349787-4f205165-027c-4bea-9a21-2d447ccfbf0f.png)

[2022-08-18 12:55] sunzhaochang commented on #5021
The dapr service is created or updated by `reconcile` function in operator, this function is responsible for enforcing the desired resource state on the actual state of the deployment/statefulset object.
Do not edit dapr service directly as it will always be reconciled by operator.

[2022-08-18 15:22] #5017 closed

[2022-08-18 16:00] BCoskun commented on #4992
@halspang, Yes, I can confirm that your calculated delivery count and actual count is matching.

[2022-08-18 16:06] shubham1172 opened #5029 "Add recommended labels to Dapr control plane Kubernetes objects"
## In what area(s)?

/area hosting

## Describe the feature

Kubernetes recommends some common labels for all Kubernetes objects.

https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/#labels

Some of Dapr control plane resources already contain these labels, but all of them do not. This will help us query objects in useful ways - for e.g., "get all Dapr control plane k8

[2022-08-18 16:14] yaron2 commented on #5029
The following labels exist today for all control plane Kubernetes resources:

[code]

[2022-08-18 16:16] #5000 closed

[2022-08-18 16:29] shubham1172 commented on #5029
@yaron2 these do exist for Deployment and StatefulSet, but they are not present on other resources like Service, Secret, ConfigMap, etc.

[2022-08-18 17:32] yaron2 commented on #5029
Ok that makes sense, I got confused by the vagueness of "Dapr control plane resources". Do you mean to extend this to all Kubernetes objects owned by Dapr? For example, the `*-dapr` k8s services that are owned by the operator.

[2022-08-18 17:33] artursouza commented on #5029
Can we get these for 1.9?

[2022-08-18 17:34] yaron2 commented on #5029
Triaged into 1.9.

[2022-08-18 18:38] mcandeia opened #5030 "Support Lock component aliasing"
## In what area(s)?

/area runtime

## Describe the feature

The lock component should support aliasing.

## Release Note

RELEASE NOTE:

[2022-08-18 18:38] mcandeia commented on #5030
/assign

[2022-08-18 18:44] ItalyPaleAle commented on #814
Opened a PR for this: https://github.com/dapr/dapr/pull/5031

[2022-08-18 18:46] fabistb opened #5032 "Distributed Lock API - Support global lock"
## In what area(s)?

 /area runtime

## Describe the feature
Enhance the distributed lock api to lock a resource on a global level.
Resource locked by App1 should also be locked for App2.

## Release Note

RELEASE NOTE:
**ADD** Global resource lock

[2022-08-18 18:48] fabistb commented on #5032
@artursouza like briefly discussed.

[2022-08-18 19:11] amanbha commented on #814
Thanks @ItalyPaleAle  Amazing to see this land in

[2022-08-18 20:27] mikeb26 opened #5034 "ETag support for the AWS Dynamo DB State Store"
## In what area(s)?

## Describe the feature
ETags are required in order for state store clients to safely update existing state store items. This existing state store feature should be extended to be supported on the AWS DynamoDB backend.

## Release Note
RELEASE NOTE:
**ADD** Support for ETags in DynamoDB state store

[2022-08-18 20:58] yaron2 commented on #4993
Thanks for this proposal @olitomlinson, I've discussed this with fellow maintainer @artursouza and we agree this is a very useful feature for Dapr, and can be extended to other building blocks in the future.

In terms of design, we propose the following (using HTTP as an example for now but this is applicable to gRPC also):

We'd like to introduce the concept of `tenant` as a standard and consiste

[2022-08-18 21:25] olitomlinson commented on #4993
@yaron2 @artursouza Thanks for accepting the proposal!

What you’ve said all makes sense to me.

I’ve another consideration to add to the mix, which is, can the specification of the tenant be mandated by the component yaml?

This is important because we absolutely wouldn’t want developers to accidentally miss this property. So if the Operator can enforce that the tenant is required (via a setting

[2022-08-18 21:31] olitomlinson commented on #4993
also, I somewhat disagree with this approach for my use-case.

I don’t want the developer to be able to change the strategy by providing `metadata.schema` or `metadata.table` - for me this is very much an Operations concern which a dev shouldn’t be able to modify at whim.

Not saying that this approach would work for other use-cases, but just not mine :)

[2022-08-18 21:40] tmacam opened #5038 "Return Application ID in grpc Metadata API"
While building the GRPC response for the Metadata API, the `Id` field is left unset:

https://github.com/dapr/dapr/blob/f99ab6662a5f8cc004fa4380b09b10caf610237d/pkg/grpc/api.go#L1502-L1506

This deviates from what is done in the HTTP counterpart of the API:

https://github.com/dapr/dapr/blob/f99ab6662a5f8cc004fa4380b09b10caf610237d/pkg/http/api.go#L1855

[2022-08-18 21:45] yaron2 commented on #4993
That makes sense to me. What about this type of component enforcement:

[code]

This would make runtime operations more performant as we wouldn't need complex string manipulations. cc @artursouza

[2022-08-18 21:56] olitomlinson commented on #4993
Yep, that feels stricter and therefore better.

@andihysondotmatics thoughts?

[2022-08-18 22:19] artursouza commented on #4993
I agree to have  `?metadata.tenant` and not have anything that exposes the component spec to the user. If you need to enforce tenant in a component, it can be part of the component metadata (not request metadata):
[code]

This way, the component code will check for the `tenant` value in the request metadata.

[2022-08-18 22:20] yaron2 commented on #4993
That seems fine. @artursouza might `multiTenant` be redundant and we could rely on the existence of a `tenant` property alone?

[2022-08-18 22:35] artursouza commented on #4993
I would let it be something defined per component.

I would let it be decided per component.

[2022-08-18 22:51] halspang commented on #1827
Workaround is still present and needed based on my testing with .NET.

[2022-08-18 22:53] ItalyPaleAle commented on #814
Posting here the details of the implementation for review as requested by @artursouza and @yaron2  , documenting the implementation from #5031

The PR adds 3 new APIs. Altogether, they allow developers to subscribe to new topics on-demand, and unsubscribe when not needed anymore.

### HTTP

- `GET  /v1.0/subscriptions` -> returns the list of topics (and routes, etc) the application is subscribed t

[2022-08-18 23:06] #5038 closed

[2022-08-18 23:16] 1046102779 opened #5040 "Proposal: CRDs add a field to constrain micrologic behavior and improve experience."
## In what area(s)?

## Describe the proposal

[code]

[code]

In the financial sector, we do not want a MicroLogic server to carry a field value such as `delieverAt`, and the risk is very high. We want to be able to control it in the CRDs. We will write `delieverAfter` = 2min to a CRDs file. And it will be stored to metadata in Init phase.

In the CRDs issued by the control panel, we now encounte

[2022-08-18 23:18] 1046102779 commented on #5040
https://github.com/dapr/dapr/issues/5040

[2022-08-19 02:02] rojamajor commented on #5021
@sunzhaochang 谢谢，但是 1.8之前版本没有这个策略，为何1.8版本有这个策略呢？

[2022-08-19 02:03] 329277920 opened #5044 "invalid memory address or nil pointer dereference"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

content:panic: runtime error: invalid memory address or nil pointer dereference

[2022-08-19 02:13] jiangjinnan commented on #5027
The missing span should be from app2 which use DaprClient(HttpClient) to perform service invocation. The call chain is OK when I leverage OpenTelemetry.Net to add both ASP.NET Core and HttpClient instrumentation.

[2022-08-19 02:49] yaron2 commented on #4779
ping @erfan0798

[2022-08-19 03:28] shubham1172 commented on #5029
Yes, sorry for the confusion, thank you!

[2022-08-19 04:03] sunzhaochang commented on #5021
在1.7版本中有个bug，导致无法正常更新service，后来的版本中修复了这个问题。

[2022-08-19 06:49] callebjo commented on #814
Great.
I will try this  as soon as possible.

Regards & Thanks.

Johan

Op vr 19 aug. 2022 om 00:53 schreef Alessandro (Ale) Segala <
***@***.***>:

--

*Johan Callebert*

*ICT Middleware Developer*
*Randstad group*

*Keizer Karellaan 586 bus 81082 Brussel/Bruxelles*

tel. +32 2 472 60 50
gsm. +32 478 68 03 35

--
Disclaimer:This e-mail is confidential and intended for the addressee(s)
only. If yo

[2022-08-19 08:41] yifeng-yu opened #5045 "Proposal: Feature Request for Query API in State Management Building Blocks"
## In what area(s)?

**Query in State Management**

## Describe the Issue
![1660895899811](https://user-images.githubusercontent.com/54553531/185572234-cf402c28-8d00-46c2-aa41-6fb717dfd55d.png)

- Currently Dapr seems to be only supporting these four operations (EQ, IN, AND, OR) in query filter. However, we probably need more, e.g **Greater than, Less than, Not Equal**, etc, to make query more eff

[2022-08-19 08:53] yifeng-yu opened #5046 "Proposal: Feature Request for Secret API in Secret Management Building Blocks"
## In what area(s)?

**Save Secret in Secret Management**

## Describe the Issue
- Secret API Page:
![1660898668276](https://user-images.githubusercontent.com/54553531/185580996-dcfc9097-b7fc-463a-bf8e-50dd0a7bc693.png)

- Secret Management Page:
![1660898707810](https://user-images.githubusercontent.com/54553531/185581107-6f8fef38-f39f-4ce2-a58d-9ac9ee03fc73.png)

According to these two pages on

[2022-08-19 09:35] andihysondotmatics commented on #4993
This all looks great everyone - and thanks for considering the proposal.

I think I'd agree with @yaron2 that the `multiTenant` aspect could be implied by the presence of the `tenant` property in most cases - however I could see where there could be certain kinds of component that have just one tenancy model.  In that case @artursouza's suggestion of a simple boolean works better than the key/valu

[2022-08-19 10:31] saber-wang opened #5047 "Recently, I have been studying the configuration API, but haven't realized the management of the configuration API, have I?"
## In what area(s)?

 /area runtime

## Ask your question here

How is the configuration managed now?
![image](https://user-images.githubusercontent.com/45062099/185600247-e6158971-abae-42a2-b330-723abe293e97.png)

[2022-08-19 18:32] #5030 closed

[2022-08-19 19:09] bledbet commented on #4917
I would also be in favor of an option for the subscribing service to return a specific response code that would cause dapr to deadletter immediately.  As background (https://discord.com/channels/778680217417809931/901141467840524289/1009925708858007715) I was a little surprised to find that there is a specific response code (404) to "drop" the message - I really can't see how this is different fro

[2022-08-19 23:43] tmacam opened #5051 "Metadata API does not return components through GRPC"
## In what area(s)?

/area runtime

## What version of Dapr?

edge: v1.7.0-rc.4-504-g032581df-dirty

https://github.com/dapr/dapr/commit/032581dfd736b8927e8f8ebee360c9888dd9a80f

## Expected Behavior

While invoking GetMetadata through GRPC, the contents of the `registeredComponents` field should be non-empty and match what is returned by the corresponding HTTP API:

The HTTP response:

[code]

##

[2022-08-20 02:50] mcandeia opened #5053 "Support running E2E tests over tailscale network with a Personal Token"
## In what area(s)?

/area test-and-release

The original issue is the #4962. However it stills on hold because of [this](https://github.com/dapr/dapr/pull/4991#issuecomment-1218304428).

I'm creating a new issue to address the possibility of executing the tests using the tailscale subnet router but using their personal keys.

[2022-08-20 02:50] mcandeia commented on #5053
/assign

[2022-08-20 18:27] mcandeia opened #5055 "Add a new `check-manifests-diff` make target plus CI/CD step to detect outdated CRDs."
## In what area(s)?

/area runtime

/area operator

## Describe the proposal

This is an extension of the current check for outdated go-modules and proto files.

The same should apply for the CRD definitions.

bonus: A command that generate the CRDs [already exists](https://github.com/dapr/dapr/blob/master/tools/codegen.mk#L10).

We should also need

1. A new command `check-manifest-diff` - will c

[2022-08-20 18:27] mcandeia commented on #5055
/assign

[2022-08-20 20:35] #4240 closed

[2022-08-21 06:49] GOVINDBHAVAN commented on #5011
Hi there was missing docker engine on my system, earlier I'd only installed docker-desktop for linux with kubernetes.

Today installed docker engine separately along side docker-desktop for linux, and now dapr init is working. Thanks

$ sudo dapr init
⌛  Making the jump to hyperspace...
ℹ️  Container images will be pulled from Docker Hub
ℹ️  Installing runtime version 1.8.4
↗  Downloading binaries

[2022-08-21 06:49] #5011 closed

[2022-08-21 18:04] ItalyPaleAle opened #5056 "E2E tests consistently failing on Windows"
Since about 2 days ago (Friday), our E2E tests are consistently failing on Windows (and only on Windows), with actor tests failing almost every time. Current pass rate is about 10%.

Requests to actor apps fail with "connection refused".

Examples:
- https://github.com/dapr/dapr/actions/runs/2899097648
- https://github.com/dapr/dapr/actions/runs/2898743651
- https://github.com/dapr/dapr/actions/ru

[2022-08-22 01:02] akshat172 commented on #4767
I am facing the same issue, any solutions

[2022-08-22 01:03] akshat172 commented on #4767
@k33lan - Did you find a solution on this

[2022-08-22 01:07] akshat172 commented on #4459
The issue is still there
![image](https://user-images.githubusercontent.com/26165605/185820067-34068b40-a6c2-4e3d-be76-d7955f6583a1.png)
![image](https://user-images.githubusercontent.com/26165605/185820116-64077687-562c-4ce8-a501-426f7a9ce3a5.png)

[2022-08-22 01:07] akshat172 commented on #4459
Any updates on the fix

[2022-08-22 05:50] joelyen commented on #4508
We have internal application encryption requirements for our project, and we would like to standardize the encryption operation across all the services. Since this new building block won't be available for a while, does it make sense for us to internally build the "local" version following the Output Binding Component spec?

[2022-08-22 06:56] songyang133 opened #5058 "dapr'actor for k8s have a exception: INTERNAL: error invoke actor method: error finding address for actor type DemoActor with id fc955d2e-14e1-4dc4-ac9e-f10f86a20c21"
hello,everyone!
I tried to implement the actor case for DAPR in Java. My idea is to register the implementation class first, then create the actor, and then use ActorId to execute the actor. However, in the K8S cluster or local deployment, the following error is reported when register reminder.
 **INTERNAL: error invoke actor method: error finding address for actor type DemoActor with id fc955d2e-

[2022-08-22 12:01] NickLarsenNZ commented on #4724
Could it just be disabled by default in the chart?

_I haven't used it yet, but was going to take a look after resolving the issues I'm currently facing with the operator._

[2022-08-22 16:15] ItalyPaleAle commented on #4508
@joelyen the biggest blocker to this is that we need to implement support for streaming first. These APIs need to be streaming-first so they can handle larger amounts of data without issue. You can try building this with the output bindings spec, but you may have issues if trying to process larger blobs of data.

Which operations are you specifically interested in?

[2022-08-22 16:16] artursouza commented on #4133
We could offer a regex matching solution, so the path is replace by the pattern's "name":

Config:
[code]

Then the metric would have `path="/customer/CUSTOMER_ID"` instead of `path="/customer/123456567890"`

[2022-08-22 16:18] shubham1172 commented on #4133
Prometheus has a relabel configuration that we can leverage:
https://prometheus.io/docs/prometheus/latest/configuration/configuration/#relabel_config

[2022-08-22 16:39] bledbet commented on #4917
Another area where integration with transactional message brokers might be improved is in how they leverage the broker when following a retry policy.

I'm getting expected behavior under "normal circumstances" when using an Azure ServiceBus pubsub with maxDeliveryCount=1 and an exponential retry policy with maxRetries=10.  The message is tried 10 times with an increasing amount of time between eac

[2022-08-22 17:09] XavierGeerinck opened #5059 "PubSub Routing - Multi routing, same topic only calls 1 route onEvent"
## In what area(s)?

/area runtime

## What version of Dapr?

1.8.0

## Expected Behavior

When creating multiple route subscriptions that share the same subscription (see below) I expect that the 3 routes are being called (even though I use the same subscription)

[code]

Demo implementation: https://github.com/dapr/js-sdk/pull/342

## Actual Behavior

Only one of the routes above gets called

##

[2022-08-22 17:38] artursouza commented on #5044
Please, provide more info. If possible, upgrade to latest Dapr version.

[2022-08-22 17:52] mcandeia commented on #4925
As aligned with @johnewart, we decided to not have the `socketPath` attr inside pluggable component CRD for two reasons:

1. The socket would be different per component instance, not per pluggable component, hence, the relationship between pluggable component and the component instance would be 1..N, meaning N sockets could be potentially created.
2. The socket name will be defined in runtime base

[2022-08-22 18:05] johnewart commented on #4925
Also, this can be overridden on a per-component basis using a `Location` field similar to the one the PluggableComponent used to describe the socket location. The thinking here is that for the "normal" case, the component doesn't need to specify its socket path and the times you would override the socket location would be if you are sharing a socket (i.e a multiplexed implementation) or you specif

[2022-08-22 18:14] ItalyPaleAle commented on #5059
You are creating 3 routes but with the same pubsubName and topic. I think it's correct for Dapr to only pick one.

[2022-08-22 18:15] bencz opened #5118 "Mongodb state-store not working"
When creating/configuring the state-store as mongodb, writing and initializing works correctly, but when trying to read some information from the state-store, a serialization error occurs.

Another point, when comparing the creation of the actors' reminders partitions in other databases, such as PgSQL, in mongo db, every time the application is restarted, more N partitions of the reminders are cre

[2022-08-22 18:16] ItalyPaleAle commented on #5059
You are creating 3 routes but with the same pubsubName and topic. I think it's correct for Dapr to only pick one (usually, the first one).

This is by design because each topic represents one stream of messages.

Imagine, hypothetically, that this weren't the case and that Dapr sent the _same_ message to 3 different handlers. What happens if 2 handlers return "OK" and 1 handler returns "not ok"? S

[2022-08-22 19:46] geertn commented on #4133
I believe you shouldn't allow the possibility of Dapr overloading monitoring systems (and possibly generating high costs when paying for amount of time series, which is a common thing). So the sensible thing would be to disable this by default. I'd rather have a generic way of configuring this so we don't have to adjust configs every time a developer adds new path.

[2022-08-22 20:26] #4883 closed

[2022-08-22 23:16] artursouza opened #5061 "[DRAFT] gRPC middleware + JWT Token validation"
Create a gRPC middleware building block and implement a JWT token validation component.

[2022-08-22 23:18] #4598 closed

[2022-08-22 23:27] #5061 closed

[2022-08-23 01:27] ren-chen2021 opened #5063 "redis error print: "redis: 2022/08/23 00:58:57 pool.go:356: Conn has unread data" happened"
## In what area(s)?

/area runtime

## What version of Dapr?
1.8.0

## Expected Behavior

no error print

## Actual Behavior

redis: 2022/08/23 00:58:57 pool.go:356: Conn has unread data

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2022-08-23 03:01] saber-wang opened #5064 "[Configuration Api]An exception will be thrown when the current configuration item does not exist"
## In what area(s)?

 /area runtime

## Ask your question here
An exception will be thrown when the current configuration item does not exist.

The dapr should explicitly inform the configuration item in the returned content that it does not exist, instead of throwing an exception directly.

error:
[code]

[2022-08-23 05:38] #4445 closed

[2022-08-23 06:58] XavierGeerinck commented on #5059
So how would we go about having different routes receive a message then? Would we want them to all register to a different topic?

Maybe more in the sense of: do we want a 1:N or 1:1 relation on topic:route?

[2022-08-23 07:06] ItalyPaleAle commented on #5059
I believe the common pattern is that each message should be consumed by one consumer only.

If you want multiple consumers, here are two possible ideas:

1. Have each consumer subscribed to a different topic. Then send the message to all topics at once.
2. Implement a "hub-and-spoke" solution. Have a single subscriber on a single topic ("hub"). When the message arrives, the hub makes a service inv

[2022-08-23 07:10] XavierGeerinck commented on #5059
But in routing and rules we can have a topic item that we want to process and move towards a certain "route"

Now it can happen that you have multiple of these subscriptions set up that all fallback to the same route I think sometimes even on the same topic? Or should we ensure people use only one event handler for the route?

I see it as pubsub > topic > route > event handler for the route

In Pu

[2022-08-23 07:54] NickLarsenNZ opened #5066 "dapr-operator not starting and TLS issues when running with ArgoCD"
## In what area(s)?

/area operator

/area placement

## What version of Dapr?

1.8.4

## Expected Behavior

After deploying the CRDs and Helm Chart, I expect the operator and ancillary services to stay running.

## Actual Behavior

Sometimes all services come up fine, while other times the pods of the various services are killed due to Readiness Probe failure.

## Steps to Reproduce the Problem

[2022-08-23 08:30] NickLarsenNZ commented on #5066
Now that I've enabled debug logging, the operator is coming up. The placement server still fails, so I'll update the logs in the description (with debug level).

[2022-08-23 08:46] NickLarsenNZ commented on #5066
I'm going to disable liveness probes and see what happens.

[2022-08-23 09:15] Rob623 commented on #1850
We would also need the ability to for dapr sidecars to forward invocations to its app using both HTTP and GRPC simultaneously.
Any plans to support it?

[2022-08-23 09:36] NickLarsenNZ commented on #5066
Nothin appears to be failing anymore, but that doesn't explain why I had seen errors about failing to retrieve TLS certificates, or the K8S API bad certificate.

[2022-08-23 10:42] NickLarsenNZ commented on #5066
Something else I'm noticing is that when Sentry starts, the Secret `dapr-trust-bundle` goes out of sync (in ArgoCD). When Argo CD Auto-syncs it, it adds in the additional labels:

[code]

When Sentry starts up, the secret data changes and the labels are removed:

[code]

I think this might be the problem.

[2022-08-23 12:00] abhijeethaval commented on #2675
This will be very useful feature.

[2022-08-23 12:16] NickLarsenNZ commented on #5066
Ok, I think I have solved it. It seems at least `dapr-trust-bundle` is being written to and ArgoCD keeps rolling it back to an empty secret.

I have instructed secrets to be ignored from Argo's diff by putting the following into the Application manifest:

[code]

[2022-08-23 12:17] NickLarsenNZ commented on #5066
I'm going to close this issue for now as it is looking like it is working consistently. I'll re-open if the problem appears again.

[2022-08-23 16:35] bledbet opened #5068 "Integrate Resilliency retry policies with rollback to transactional message brokers"
I know that not all pubsub dapr components are backed by a real transactional message broker that has commit/rollback/deadletter capability, but it would be nice if the components that _are_ backed by a transactional message broker would leverage the broker's native features for rollback/retry/deadletter functionality when implementing a retry policy.

For example, I'm getting expected behavior un

[2022-08-23 16:38] bledbet commented on #5068
I previously mentioned this in another issue, as it seemed related... let me know if I should just delete that comment from this issue: https://github.com/dapr/dapr/issues/4917

[2022-08-23 17:55] mcandeia opened #5070 "Update components-contrib version to use base metadata struct"
## In what area(s)?

/area runtime

## Describe the feature

Update all components initialization (i.e invoke Init(metadata) func) to use  the new base metadata struct.

Basically, instead of having

[code]

We're going to have

[code]

on all initialization occurrences, which is ~13 lines

[Related issue](https://github.com/dapr/components-contrib/issues/1990#issuecomment-1224144229)

## Release

[2022-08-23 18:00] mcandeia commented on #5070
/assign

[2022-08-23 20:37] #4801 closed

[2022-08-23 22:49] yaron2 opened #5073 "gRPC Service Invocation does not emit metrics"
When using gRPC for service invocation, call metrics are not being emitted. This is because Dapr uses gRPC streaming for `daprd` to `daprd` communications and our interceptor is of a Unary interceptor type.

[2022-08-23 22:50] yaron2 commented on #5073
/assign

[2022-08-23 22:53] yaron2 commented on #5046
Thanks for opening this issue @yifeng-yu. We've decided to not do this, you can find the information here: https://github.com/dapr/dapr/issues/3301.

Closing the issue for now.

[2022-08-23 22:53] #5046 closed

[2022-08-23 22:54] yaron2 commented on #5013
How will messages be lost if they are not subscribed to in the first place?

[2022-08-23 22:56] zevsap commented on #5013
что?

Отправлено из Yahoo Почты на iPhone

Пользователь среда, августа 24, 2022, 1:55 AM написал Yaron Schneider ***@***.***>:

How will messages be lost if they are not subscribed to in the first place?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you are subscribed to this thread.Message ID: ***@***.***>

[2022-08-24 02:10] saber-wang commented on #5013
@yaron2
pubsub:
[code]

Subscription:
[code]
Exchanges has
![image](https://user-images.githubusercontent.com/45062099/186301078-37cbc55c-2d63-43d6-bf94-eb45922f05e3.png)

But there are no queues
![image](https://user-images.githubusercontent.com/45062099/186301296-6599b78f-7d6b-402d-b0cc-7cce388ac544.png)

At this time, when the `orders` subscription is wrong, all the messages forwarded to the De

[2022-08-24 03:00] daixiang0 commented on #4925
I agree that in this version we have one default socket path is enough.

[2022-08-24 03:07] #4852 closed

[2022-08-24 03:14] yaron2 commented on #4925
A default socket path is better.

[2022-08-24 04:01] artursouza commented on #4712
I like the idea. But it would be a breaking change. In the mean time, can we remove daprd from dapr image?  /cc @yaron2

[2022-08-24 04:18] yaron2 commented on #4712
Startup times for the control plane are almost irrelevant here. We shoukd do this for other reasons namely security.

[2022-08-24 04:20] yaron2 commented on #4712
I think we can do this safely. Why are you concerned about this being a breaking change if this doesn't cause a change in behavior?

[2022-08-24 05:28] yaron2 commented on #5066
@NickLarsenNZ I think we could really use a section in our docs for running Dapr with Argo. Would you like to submit a PR to the docs repo? It will greatly help our community.

[2022-08-24 13:16] rabollin opened #5075 "Resiliency - Ability to report different error codes based on different failures"
Resiliency feature - 1.8 release.  The error code returned by dapr SDK is always the same when resiliency policy is configured. It would help if the error codes were different.

ex: ERR_DIRECT_INVOKE - When unable to invoke services via dapr InteractionService
      ERR_DIRECT_INVOKE - context deadline exceeded - Timeout - via dapr InteractionService

Though the issue is reported against Resilienc

[2022-08-24 16:51] #5023 closed

[2022-08-24 18:04] NickLarsenNZ commented on #5066
Hi @yaron2, yes I could give that a go. I'm just having another issue (my original problem with `bad certificate` when the sidecar-injector tries to contact the k8s api. I think it might also be ArgoCD sync related but I can't see where it is happening yet. So, once I am satisfied with my setup, I'd be happy to write some docs.

[2022-08-24 18:21] DiegoAJR opened #5079 "Pubsub for actors proposed implementation"
## In what area(s)?

/area runtime

## Describe the proposal

To dive into more detailed information about the proposed implementation, refer to the following PRs where you will find the changes made and files added to Dapr:

Feature request: #501
1. Dapr/dapr: #4844
2. Dapr/components-contrib: dapr/components-contrib/pull/1875
3. Dapr/python-sdk: dapr/python-sdk/pull/438 and dapr/python-sdk/pull/

[2022-08-24 20:13] senthomas opened #5080 "Authenticate to Kafka Cluster using mutual TLS throws error"
Was trying to connect to a Kafka cluster using Mutual TLS authentication as described in the given link

https://docs.dapr.io/reference/components-reference/supported-pubsub/setup-apache-kafka/

**yaml file I used is provided below**

`apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: weatherpubsub
spec:
  type: pubsub.kafka
  version: v1
  metadata:
    - name: brokers
      value: "

[2022-08-24 23:49] cgillum commented on #4576
For anyone who may have missed the community call, you can see a recording of the Dapr Workflow POCs using this link: https://www.youtube.com/watch?v=8Aj1WUzVvGs&t=115s.

[2022-08-25 09:01] NickLarsenNZ commented on #5066
I think I have found where the `http: TLS handshake error from 10.220.48.83:41902: remote error: tls: bad certificate` error (reported by the sidecar-injector` comes from.

I disabled ArgoCD sync, and this morning I woke to find a change it detected (by not auto synced).

[code]

When I inspect the certs, I see:

Current CA bundle
[code]

... and ArgoCD wants to sync it to:
[code]

The dates diffe

[2022-08-25 09:22] NickLarsenNZ commented on #5066
This is boiling down to the ca cert and keypair being generated in the Helm chart.

https://github.com/dapr/dapr/blob/20356ee82825c4c051c91ac9e81c2680da9c77a4/charts/dapr/charts/dapr_sidecar_injector/templates/dapr_sidecar_injector_webhook_config.yaml#L1-L9

Option 1:
- Advise people to use externally signed certificates so they aren't randomly generated on each `diff` check that ArgoCD does.
- Th

[2022-08-25 09:44] NickLarsenNZ commented on #5066
For my own purpose I'm going to implement Option 1 as we can't wait on the release cycle (unless charts changes can go into current releases?). But I'm happy to implement Option 2 when our team is unblocked.

[2022-08-25 11:48] 329277920 commented on #5044
After updating the version, the problem is solved. Thank you.

[2022-08-25 11:48] #5044 closed

[2022-08-25 15:48] olitomlinson commented on #5079
Will it be possible to use the normal pub/sub HTTP syntax to publish a message.

i.e. instead of

` POST http://localhost:3500/v1.0-alpha1/actors/<actorType>/<actorId>/publish/<PubsubName>/<Topic>`

will you be able to do

` POST http://localhost:3500/v1.0/publish/<PubsubName>/<Topic>`

and will it be possible to bind the topic to the Actor via a traditional `subscription` component yaml?

i.e. so

[2022-08-25 17:31] #5053 closed

[2022-08-25 22:14] DiegoAJR commented on #5079
1. You can still use the normal publish API and route events to services. The new API will only be used when you want to include actors as subscribers.
[code]
When using the normal publish API, events will arrive only to the subscribed services.

[code]
This request will route the event to any service and declared actor subscribed to the topic.

2. Declarative subscriptions for actors are not supp

[2022-08-26 04:10] daixiang0 commented on #5019
Sounds good, could you post a PR for this?

[2022-08-26 05:59] ItalyPaleAle commented on #4712
I was the one concerned about it being a breaking change. We don't know if someone is using the "dapr" image also for the runtime, perhaps in some self-hosted scenario.

Perhaps a way we can fix this is.... we continue publishing "dapr" with everything inside. We already have separate images for sentry, placement, and daprd. So we just need to create one more image for the operator.

[2022-08-26 06:41] 1046102779 opened #5085 "`dapr/components-contrib` and `dapr/dapr` interdependence problem."
https://github.com/dapr/dapr/blob/master/go.mod#L560
[code]

This approach is not an effective way in the long run. If master temporarily uses github's own account branch, and then branches from other children's shoes account, it is different from this branch, which will lead to failure

[code]

Then I feel that  the follow is another problem:

`dapr/components-contrib` and `dapr/dapr` have depend

[2022-08-26 07:05] ItalyPaleAle commented on #5085
The fork is temporary and was meant to be there for a few hours tops. Due to a series of PRs that got piled up, we had to do some more work and right now both Dapr/dapr and components-contrib have pinned forks (from me and @berndverst ). This was an exceptional situation and we'll have it fixed by EOD Friday. Sorry for the inconvenience.

And yes, we know that the circular dependency is a problem.

[2022-08-26 07:11] 1046102779 commented on #5085
https://github.com/dapr/components-contrib/pull/1973

I will encounter this later when I change the ·secretstores· API context destructively.

another problem:

[code]

This kind of replacement is really a bit uncomfortable, because I will do it too.

[2022-08-26 07:13] 1046102779 commented on #5085
Compatibility must be considered for subsequent changes, which is really painful, because the speed of iteration and considerations will be very high, and it will be very cautious and daunting to do.

[2022-08-26 07:47] berndverst commented on #5085
It is unfortunate but was unavoidable here. I spent my entire day on this interdependence problem!

Once my PR #5083 is merged the issue should be resolved again for now.

In the future we may choose to break certification tests in contrib temporarily to avoid this interdependence issue.

Unfortunately it is not possible to make all tests pass and not having to create temporary forks like was done

[2022-08-26 07:51] daixiang0 commented on #5085
I agree that we should avoid doing so in dapr/dapr.

[2022-08-26 07:56] 1046102779 commented on #5085
At present, if it is an API (`components-contrib` repo) destructive change, it seems that this is unavoidable. Can we introduce a branch of the branch to deal with this problem, such as: the `develop` branch is used to merge, if there is no problem, and then merge into the master and so on way.

/cc @daixiang0 @berndverst @ItalyPaleAle

[2022-08-26 07:59] daixiang0 commented on #5085
I want to ask why you always sync master branch, is it for development?

[2022-08-26 08:02] 1046102779 commented on #5085
We will regularly synchronize the code of the community master branch to the internal, if we use replace, we cannot use replace internally, because there are differences in replace.

[2022-08-26 08:25] olitomlinson commented on #5079
@DiegoAJR Whats the reasoning for introducing a new Actor Publish API and not just extending the existing PubSub API?

[2022-08-26 09:35] skyao commented on #5056
There are many different errors in different action run.

I need to find the reason for them case by case.

[2022-08-26 09:39] sunzhaochang commented on #5021
This issue can be closed as comments above. Please feel free to reopen this If you still have problems.

[2022-08-26 09:45] skyao commented on #5056
### Start / End time checking fail

https://github.com/dapr/dapr/runs/8027778812?check_suite_focus=true

[code]

For the code of test case:

[code]

From the time information in the logs

[code]

we can get that start time as follow:

| actor id | Start time | End time (time in log) | completed in xx s |
| -------- | ---------- | ---------------------- | ----------------- |
| 1004a    | 00:39:44

[2022-08-26 10:08] rahulpoddar-fyndna commented on #5075
For different error scenarios, if we could get different error codes, it will be helpful. Need this for all the components including bindings and service to service invocation.

[2022-08-26 11:08] NickLarsenNZ commented on #5066
On closer inspection, I don't seem to be able to provide my own CA and keypair for the webhook secret and config.

I also now understand this line:
https://github.com/dapr/dapr/blob/20356ee82825c4c051c91ac9e81c2680da9c77a4/charts/dapr/charts/dapr_sidecar_injector/templates/dapr_sidecar_injector_webhook_config.yaml#L38

- Helm will generate the CA and keypair on first install
- On future installs,

[2022-08-26 16:17] ItalyPaleAle commented on #5056
Could this be an issue with the clocks out of sync? Perhaps one actor runs on a different VM and there's a clock drift?

[2022-08-26 16:26] #4556 closed

[2022-08-26 16:51] ItalyPaleAle commented on #5085
@1046102779 the replace has been removed now

[2022-08-26 17:21] #4766 closed

[2022-08-26 19:17] mikeb26 opened #5089 "couldn't find state store state.aws.dynamodb/v1"
## In what area(s)?

/area runtime

## What version of Dapr?

version edge commit 683a436ff1367e4ff2d27da2d79069c04ec2c46d

$ git describe --dirty
v1.8.2-168-g683a436f-dirty

dirty due to local testing of components-contrib fix for https://github.com/dapr/components-contrib/issues/1982

Perhaps this was introduced by recent components auto-registration change? (commit 29233c6f2)

## Expected Behav

[2022-08-26 23:48] skyao commented on #5056
Yes, this is possible. So I added some log to print the start/end time and let's wait for next fail of this case.

[2022-08-27 00:07] skyao commented on #5056
### connection timeout for actor application

see [[dapr-test · dapr/dapr@29233c6 (github.com)](https://github.com/dapr/dapr/runs/8036227288?check_suite_focus=true)](https://github.com/dapr/dapr/runs/8036227288?check_suite_focus=true), the error log are following:

[code]

It shows that when the test case (TestActorInvocationCrossSDKs) want to access the actor applications, the actor applications

[2022-08-27 00:18] 1046102779 commented on #5085
Thanks.

[2022-08-27 10:29] rojamajor opened #5090 "Unhandled exception. Dapr.DaprApiException: error invoke actor method: failed to invoke target 10.39.1.36:50002 after 3 retries"
I installed dapr on kubernetes, created 2 namespaces, each namespace installed redis and the storage component of type state.redis, then I deployed the same application in these 2 namespaces, the problem is to create The code of the actor can only run successfully in one namespace, that is, the one deployed first can run successfully, and the prompt for running the code in another namespace is: "U

[2022-08-29 01:03] daixiang0 commented on #5056
Also on darwin, see https://github.com/dapr/dapr/runs/8041576527?check_suite_focus=true

[2022-08-29 03:29] skyao commented on #5056
### daprd sidecar failed to start in 10 minutes

https://github.com/dapr/dapr/runs/8060927377?check_suite_focus=true

[code]

[2022-08-29 03:50] daixiang0 commented on #5056
You can save it like https://github.com/dapr/dapr/blob/master/.github/workflows/kind-e2e.yaml#L219 does.

[2022-08-29 04:09] ItalyPaleAle commented on #5056
@skyao  the logs from AKS clusters are stored in Azure Monitor. You should have access per my message on Teams. Those are collected directly from the platform so they are more reliable.

[2022-08-29 04:10] ItalyPaleAle commented on #5056
This is a different issue: https://github.com/dapr/dapr/pull/5086

[2022-08-29 05:27] #5051 closed

[2022-08-29 08:35] skyao commented on #5056
Updated: thank for Alessandro, I have got the container logs from Azure log monitor by

[code]

[query_data.csv](https://github.com/dapr/dapr/files/9442975/query_data.csv)

In the end of the container logs, I found that:

[code]

[2022-08-29 08:53] 1046102779 opened #5093 "How can we get cookies from http request using -port=:3500?"

[2022-08-29 09:48] mstrYoda opened #5094 "[FEATURE REQ] Authorization Component"
## In what area(s)?

/area runtime

## Describe the feature

Authorization, as a cross-cutting concern is a highly required feature in microservices. It might be good to have authz in Dapr as a building block.

We can create a port for authz component and different authz implementations might plug into this port like pubsub or other components that can have different implementations.

With the aut

[2022-08-29 09:54] skyao commented on #5056
There is a issue similar to above error:

https://github.com/dapr/dapr/issues/3060

It seems that hyper-v maybe the root cause:

https://github.com/docker/for-win/issues/3171#issuecomment-459205576

[2022-08-29 10:46] skyao commented on #5056
[query_data_for_all_bind_error.csv](https://github.com/dapr/dapr/files/9443850/query_data_for_all_bind_error.csv)

This is the logs from azure log monitor, this bind error happened since 31 July.

There are more than 700 lines, it means that there are more than 350 times that dapr sidecar failed to start for binding port.

And it's interesting that this error only happened to 50001 port, never hap

[2022-08-29 13:18] 1046102779 opened #5424 "Proposal: Configuration Subscribe&Unsubscribe Abstract Design"
## Background
For the current configuration Subscribe and Unsubscribe API, when  most configuration instances implement Configuration API, it may fail to meet expectations due to poor design and implementation, or cause resource leak.

## Questions and Analysis
### Case 1

[code]

In theory,  if we do not do anything, for each key, three goroutines will be started to watch key1, key2 and key3; the

[2022-08-29 14:30] ItalyPaleAle commented on #5056
We can change the port if needed. But if this were Hyper-V and a 4-years-old issue... why are we seeing it only now?

[2022-08-29 16:20] artursouza commented on #4724
Yes. It can be disabled by default first, but the scope for this issue is to remove it from the dapr's chart and have its own chart with separate installation. Even the CLI could have `dapr dashboard init -k` to install the dashboard on K8s and `dapr dashboard init` to install in standalone mode.

[2022-08-29 18:40] #5089 closed

[2022-08-29 21:51] artursouza commented on #5094
Great proposal! Thanks.

1. How is it different from a middleware component?
2. Where are the roles defined?

An end-to-end example would help show a scenarios for this feature.

[2022-08-29 21:56] artursouza commented on #5079
I personally think there is value in having an actor specific API  so the ActorProxy implementation can have a native interface. It is a better user experience than asking the user to hand-craft the CloudEvent object to include ActorType and ActorId.

[2022-08-29 22:34] mcandeia commented on #4925
I've written a small example on how would be implementing a pluggable component in Go: https://github.com/mcandeia/dapr-components-go-sdk/blob/main/examples/redis/main.go

The cool thing is that you can reuse the current interfaces and leave the entire implementation behind gRPC transparent to the developer, in this case, I could run redis component without touching the redis implementation

[2022-08-29 22:43] mstrYoda commented on #5094
Hi @artursouza, thank you for your response.

1- Actually, sounds eligible at first look. I imagined this feature like pubsub component, having a port to implement externally, so this is why I created the issue as a component. But it might be implemented as a middleware too.

2- I think authorization data should be handled by the user. It should not be a concern of Dapr at the first glance. If we

[2022-08-29 23:05] mstrYoda opened #5098 "refactoring sidecar injector by using controller-runtime/webhook/admission package"
The current sidecar injector contains lots of boiler plate code that can be eliminated by using [kubernetes-sigs/controller-runtime/webhook/admission](https://github.com/kubernetes-sigs/controller-runtime/tree/master/pkg/webhook/admission) package.

It eliminates:
- manually decoding/deserializing admission requests
- manually creating decoders for parsing k8s object from the admission request obj

[2022-08-30 01:23] 1046102779 commented on #5040
/cc @yaron2 @artursouza @daixiang0

[2022-08-30 07:36] skyao commented on #5056
update for bug1 - Start / End time checking fail:

After adding the log of start time and end time, we can see the start time and end time of actors when test case failed.

As shown in following link:

https://github.com/dapr/dapr/runs/8084847563?check_suite_focus=true

There are logs when test case failed to do start time / end time checking:

[code]

I list the time in above logs to see what hap

[2022-08-30 10:04] HackToday opened #5100 "Install dapr on the Kubernetes cluster pods failed with flag provided but not defined"
## In what area(s)?

 /area runtime

 /area operator

## What version of Dapr?

Dapr CLI: v1.7.0-rc.3-49-gf790c2f-dirty

## Expected Behavior

kubectl get pods --namespace dapr-system would show all pods running

## Actual Behavior

[code]

Check logs for those pods:

For sidecar
[code]

For operator
[code]

## Steps to Reproduce the Problem

1. Install Dapr CLI
  Since dapr CLI have bugs for prox

[2022-08-30 12:33] vijaykumar2057 opened #5103 "App lost connection with dapr binding after few hours by itself."
We have an application which has connection with rabbitmq binding.
when I have deployed the application for the first time, application  has been establishing connection with binding and working fine for few hours. After some time binding component gets restarts automatically and lost connection with my application.
How can we keep alive the connection for long time by not allowing biding componen

[2022-08-30 14:12] mcandeia commented on #4475
Folks, I've discussed this issue with few people, and we ended up with three different proposals (non-exhaustive) that can be evaluated.

Currently our http middleware pipeline is executed in the context of Incoming HTTP request for Dapr Sidecar, hence it is executed based on used Dapr API Protocol, if it is HTTP so the HTTP middleware Pipeline will be executed.

For the context of this issue, we'

[2022-08-30 20:44] halspang opened #5105 "Expand request metrics to include User-Agent"
## In what area(s)?
/area runtime

## Describe the feature
Dapr should record a metric based off the `User-Agent` of incoming requests. This can be used for dashboards displaying request origins/makeup of services that are interacting with Dapr. If no `User-Agent` is passed, record `Unknown`. This metric can be a counter so we can see how many requests are coming in based on the `User-Agent`.

As

[2022-08-30 23:48] artursouza commented on #5105
What is the risk of the User-Agent to be random and create infinite number of metric keys, causing extra cost on aggregators.

[2022-08-30 23:49] #4884 closed

[2022-08-31 00:18] vzdesic opened #5106 "ASF to DAPR migration"
I would like to know if anyone tried to migrate existing microservices architecture built using Azure Service Fabric into one using DAPR?

Reason for this is because already developed number of services (developed long time ago) is now only 10% of the newly planned number of services. So, why not migrate to the better platform in parallel with further development.

Migration must be gradual, takin

[2022-08-31 05:08] HackToday commented on #5100
When I dig more, and found that is because of old  dapr image, the root cause is that I used one docker mirror registry, which only host the old images before, and the latest image not updated. So that image would fail for unrecongnized flags.

Close this issue for registry issue.

[2022-08-31 05:08] #5100 closed

[2022-08-31 06:06] HackToday opened #5108 "unknown field "components" in io.dapr.v1alpha1.Configuration.spec"
## In what area(s)?

 /area runtime

## What version of Dapr?

v1.8.2-184-ga6153bb2

## Expected Behavior

make setup-test-components would run ok

## Actual Behavior

[code]

## Steps to Reproduce the Problem

Following the guide in https://github.com/dapr/dapr/blob/master/tests/docs/running-perf-tests.md

## Release Note

RELEASE NOTE:

[2022-08-31 08:04] skyao commented on #5056
### update for bug3 - dapr sidecar failed to start because of 50001 port binding

I found many similar logs in dapr container logs. This log is more clear that the 50001 port is used (or not free in time)  :

[code]

[2022-08-31 08:08] olitomlinson commented on #4993
Ideally, we would like this to be supported on the PostgresQL component as a first pass.

Possibly S3 too, but less certain about this. Also, there isn't an S3 State Management component yet - I suspect it may make sense to introduce an S3 state management component once the [streaming capability in State Management](https://github.com/dapr/dapr/issues/4934) is available

[2022-08-31 10:34] ItalyPaleAle commented on #5108
Were you re-using a previous cluster? the Configuration CRD changed recently, and doing "helm install" doesn't update the CRDs. You also need to run:

[code]

[2022-08-31 13:28] Taction commented on #4290
I can not reproduce this issue for 1.8. And have checked the code that handles scopes, @dazhu6666  can you please have a try with dapr 1.8.0 to see if this issue disappears?

[2022-08-31 14:17] Taction commented on #5003
Following is a simplified proposal for basic middleware. Another idea is to keep L7 abi the same as proxy-wasm, but since we can impl a proxy-wasm middleware, so I prefer to keep this simpler.
/cc @GeekEz @daixiang0

# Functions implemented in the Wasm module

### `_start`

- params:
  - none
- returns:
  - none

Start function which is called when the module is loaded and initialized. This can be

[2022-08-31 14:37] HackToday commented on #5108
@ItalyPaleAle  yes,  you are right. Thought previous CRDs updated. Redeploy again, and specs now updated.
Thanks. I will close it now.

[2022-08-31 14:37] #5108 closed

[2022-08-31 15:26] olitomlinson commented on #5106
Dapr has no opinion how you do stuff like OAuth2, OIDC protocols, API Gateway, GraphQL. So as long as those aspects are not strongly tied into Service Fabric concepts, then you should be able to port those across with some effort.

The most comparable feature of Dapr and Service Fabric is the Virtual Actors, so if your system makes heavy use of Actors you may expect significant feature parity in t

[2022-08-31 16:14] HackToday opened #5110 "Why dapr perf run with "Did not find sidecar" error ?"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

 /area runtime

## Ask your question here
I am trying to make dapr perf tests run, following

https://github.com/dapr/dapr/blob/master/tests/docs/running-perf-tests.md

I used minikube local cl

[2022-08-31 16:45] senthomas commented on #5080
Wondering if there is any additional configuration from within Dapr to turn off domain matching. Our Kafka clusters are setup
as *.navidev.local but the client certificate is issued to  *.navidev.us, navidev.us.

The same certificates are being used by .net clients and they are working fine.

[2022-08-31 20:26] ItalyPaleAle commented on #5110
Something is messed up with your Kubernetes setup, as it's not invoking the sidecar injector.

Can I recommend a:

[code]

Then try again?

[2022-09-01 00:34] #4872 closed

[2022-09-01 02:23] #5093 closed

[2022-09-01 07:23] 1046102779 commented on #5040
/cc @ItalyPaleAle @berndverst.

[2022-09-01 07:29] HackToday commented on #5110
Hi @ItalyPaleAle  I cleaned environment as above, and it not complain sidecar issue now.

But when I run some perf test, it have some strange errors like :

for ` make test-perf-actor_timer`:

[code]

[2022-09-01 07:43] berlinsaint commented on #2710
/label help wanted

[2022-09-01 08:17] olitomlinson commented on #5079
I guess when I think about PubSub as general concept, I'm thinking of the publisher being completely unaware of the potential subscribers.

Yet here we have an Actor PubSub API that specifically links the Publisher to the Consumer - can this really be classed as conventional PubSub? To me it's not conventional and thats where my confusion comes from.

To me, it makes more sense to use the standard

[2022-09-01 15:28] senthomas commented on #5080
Also was trying to understand what is the difference between "Communication using TLS" and "SASL Password". Does both configuration look the same?

https://docs.dapr.io/reference/components-reference/supported-pubsub/setup-apache-kafka/#communication-using-tls
https://docs.dapr.io/reference/components-reference/supported-pubsub/setup-apache-kafka/#sasl-password

[2022-09-01 17:54] senthomas opened #5115 "Authenticate to Kafka Cluster using mutual TLS"
Currently, our Kafka cluster is configured to use KAFKA_SSL_KEY_PASSWORD to decrypt the private key that resides in the key certificate.
Is there any setting in Dapr for configuring KAFKA_SSL_KEY_PASSWORD with the mTLS authentication?
Or should we use only non-encrypted RSA PRIVATE KEY- base64-encoded PKCS8 format as given in the example?

[https://docs.dapr.io/reference/components-reference/suppo

[2022-09-01 18:47] artursouza commented on #3354
Restarting this discussion.

My question is not answered in there.

[2022-09-01 18:55] artursouza commented on #3354
This is helping getting to the bottom of the real need. Thanks for this.

So, if I understand correctly, the problem is that JDBC and ADO.Net do not offer a real translation layer for SQL statements across Database engines (please, confirm this) - which makes the code not portable. Although the connection is portable, the SQL statements created in the app are not. So, the Dapr's Database API could

[2022-09-01 20:27] yaron2 commented on #3354
If this API can support MySQL and PostreSQL I think it would go a long way towards ensuring that the mainstream use cases are covered.

I only worry about further confusion with the existing Query API - It also provides a common query specification that is translated to different databases. I understand the difference here, but most users will not.

[2022-09-01 21:52] alicejgibbons commented on #4290
I thought I had this issue too but it was the result of not putting the "/" in front of the route for declarative subscriptions in the subscribing service. Eg. [HttpPost("/notify/comnotifyhandler")] instead of [HttpPost("notify/comnotifyhandler")])

In dotnet 5/6 this preceding  "/" is **not** needed for programatic subscriptions but only for declarative.

[2022-09-02 00:25] #4959 closed

[2022-09-02 00:26] RyanLettieri commented on #4959
The error appears to be an issue locally on my end, and is now fixed

[2022-09-02 01:49] skyao commented on #5056
### bug4 - e2e test case can't connect to ingress

https://github.com/dapr/dapr/runs/8106662992?check_suite_focus=true

[code]

By checking the logs of application and dapr sidecar, I found that the 3000 port of application is OK and sidecar connected it by address of 127.0.0.1:3000.

Yet at that time the e2e test case report "20.14.11.203:3000: connect: connection refused" after restart.

I guess

[2022-09-02 04:31] dipankaj commented on #4588
Hi @vangheem, @yaron2 ,
Any update on this, please? I am eagerly waiting to incorporate Cloud Even binary mode in my project.

[2022-09-02 06:12] GeekEz commented on #3565
@fanfanbj Great, thanks. May I know any updates about this one?

[2022-09-02 09:06] mukundansundar commented on #4974
@vikas2k14 Based on the above comment, Dapr should automatically start the trace. Zipkin uses [B3 Propagation](https://github.com/openzipkin/b3-propagation) and that is not what Dapr uses afaik. @yaron2 Correct me if I am wrong.

@vikas2k14  Can you check without the zipkin plugin for APISIX?

[2022-09-02 09:31] mukundansundar commented on #2218
## Proposed Batch Publish API

Each SDK provides a convenience wrapper for creating a list of CloudEvents on behalf of the app.

[code]

There will be a new HTTP endpoint to handle the batch publish:

[code]
The `data.json` file provided to the call contains a list of CloudEvents:

[code]

A couple of things to call out here:

- Individual CloudEvents in the batch may use binary-encoded data (`app

[2022-09-02 13:28] darren-wang opened #5116 "How to debug Dapr control plane and Dapr runtime on Kubernetes using VS Code?"
Hi,

The doc(Debug Dapr control plane on Kubernetes):

https://docs.dapr.io/developing-applications/debugging/debug-k8s/debug-dapr-services/

and the doc(Debug daprd on Kubernetes):

https://docs.dapr.io/developing-applications/debugging/debug-k8s/debug-daprd/

both ends up with:

However, for a new Dapr developer like me using VS Code, I don't know how to start a remote debug session and point to

[2022-09-02 16:58] vikas2k14 commented on #4974
@yaron2 @mukundansundar

That was the expectation that once the sidecar is attached to the apisix pod, it should start tracing from the apisix gateway without using any external plugin, but that's not the observed behavior.

As a workaround, I tried using the Zipkin plugin provided by apisix but that doesn't seem to be a compatible solution.

[2022-09-02 18:01] artursouza commented on #4475
1. App Channel Middlewares - I think this can unblock many scenarios like adapting a payload to a particular service. I think we should implement this in 1.9
2. Protocol agnostic Middleware - we have been that route before (trying to converge HTTP and gRPC protocols) and it did not work for service to service invocation. We ended up deprecating that. I would not try this again.
3. Execute on Servi

[2022-09-02 19:09] mcandeia commented on #4475
After further investigation, I found that it is not so simple to reuse our already created middlewares because they rely on fasthttp as server middleware. Despite being very similar, we will probably have to update our middleware to provide a more http-server agnostic interface.

[see here](https://github.com/dapr/components-contrib/blob/master/middleware/middleware.go#L22).

So the advantage of r

[2022-09-02 20:05] xendren opened #5117 "Secrets do not work in Kubernetes with a custom component"
## In what area(s)?

/area runtime

## Ask your question here
Our applications cannot be deployed to the "default" namespace in k8s, so we are following the documentation for accessing secrets in Kubernetes using a custom Component definition.   We are getting an error message that the secret cannot be found, however.  This is working as expected in stand alone mode using a local file for the secr

[2022-09-02 20:07] artursouza commented on #4475
OK. Let's fix that too as part of this work. So, the middlewares can be agnostic of framework.

[2022-09-02 20:36] artursouza commented on #2218
I like Option 2 with some modifications:

1. Rename that o bulk since it will be aligned with the terminology we use for state operations in bulk with no transaction guarantees.
2. Change Data to `interface{}` since it will allow that to be a cloud event object or byte array based on content-type. Also, rename `Data` to `Event` since it will be odd to call `data.data` in code (`event.data` reads b

[2022-09-02 21:03] berndverst commented on #5118
@artursouza please rename to -- HTTP BingingRequest JSON unmarshaling does not retain integers types.

[2022-09-03 01:29] yaron2 commented on #4475
As I suggested to @mcandeia, we need to enable middleware for service to service invocation, however it was intended from the beginning that middleware applies on the Dapr public HTTP server only, it was never meant to be used for s2s.

[2022-09-03 05:54] #4207 closed

[2022-09-03 15:28] RcXu opened #5120 "Support for Distribute Transaction with Service Invoke"
## In what area(s)?

/area runtime

## Describe the proposal

To support distributed transactions, a loose transaction manager building block add to dapr.
This building block provides following operations :
`beign: open a transaction;`
`commit: Submit a transaction;`
`rollback: rollback the transaction;`
`getState: query the execution status of the current transaction.`
Dapr alse cloud implement a

[2022-09-03 18:16] bencz opened #5123 "Actor Runtime: Incorrect Reminder Partition Count when using MongoDB"
when the application is configured to use the partitioning of reminders, when the application is started, the reminders are created in the database, in PgSQL, these partitions are created only once, in the first startup of the application, I can restart the application N times the partitions are not recreated, now, using MongoDB as a state-store, it creates duplicate reminders and, to make matters

[2022-09-03 18:17] bencz commented on #5123
Probably this bug is related to this one: https://github.com/dapr/dapr/issues/5118

[2022-09-03 22:35] #4558 closed

[2022-09-03 23:06] #4816 closed

[2022-09-04 03:42] #4307 closed

[2022-09-04 18:07] mukundansundar commented on #2218
I do not think we should rename the API or objects in it to bulk. There is only generally widely accepted concept of batch publish and nothing wrt to bulk.

Why not have everything as byte array and then check if it can be a cloud event based on `dataContentType`. We have had this discussion [previously](https://github.com/dapr/dapr/issues/1793) wrt interface between dapr/dapr and dapr/components-

[2022-09-04 18:12] mcandeia commented on #4475
Does makes sense to you having app channel middlewares separate from dapr api middlewares @yaron2 ?

[2022-09-04 18:14] mcandeia commented on #4475
Despite the fact that I mentioned, it could be possible to reuse our middlewares with some mapping from fasthttp request to fasthttp requestctx, I found sole code doing the same for the native net.http

[2022-09-04 18:57] jpiquot opened #5124 "CosmosDb context deadline exceeded"
## In what area(s)?
/area runtime

## What version of Dapr?
1.8.4
Using DotNet SDK

## Expected Behavior
The cosmos db api calls should use the timeout defined in the component file (initTimeout).

## Actual Behavior
When the initTimeout is not defined, we can see that the timeout is 5 seconds as expected. But when defining the initTimeout to any value (for example 1m), the timeout is 10 seconds.

[2022-09-04 19:13] yaron2 commented on #4475
I would choose this option as a last resort. Separate middleware means more friction for contributors and more maintenance and testing burden for maintainers, and for end users this means less options because there is no reusability.

[2022-09-04 19:21] mcandeia commented on #4475
Yes, the idea is actually make it work with the current middlewares without any further modification - at least not triggered by this demand, what I'm trying to validate now is the separation of concerns: two different places where middlewares can be executed, but the implementation still the same,

You can see a POC [here](https://github.com/mcandeia/dapr/pull/4/files)

The configuration below sh

[2022-09-05 10:16] mukundansundar opened #5128 "Refactor `runtime.go` file"
/area runtime

## Describe the proposal
Currently the `pkg/runtime/runtime.go` is a humongous file >2800 lines of code.
As new code gets added and new building blocks are considered and added or old code is modified, it becomes really hard to maintain. Similarly the `runtime_test.go` file is also huge >4900 lines of code.

The proposal in this issue is to split the `runtime.go` file into its compo

[2022-09-05 11:54] mukundansundar commented on #4546
opening for this comment https://github.com/dapr/dapr/issues/4546#issuecomment-1161996237

[2022-09-05 12:50] olitomlinson commented on #4576
@cgillum

In this proposal, will Workflows follow the same guidance as Azure Durable Functions regards recommending that any long-running / compute intensive operations are not done in the workflow?

[2022-09-05 13:49] SeidChr commented on #3059
Not having EF support in DAPR is kind of a deal breaker honestly.
we are just in the architecture of a new application which would be supposed to use dapr in order to gain independence from its surroundings, but which also heavily utilizes entity framework.

[2022-09-05 21:30] mattmazzola opened #5133 "Difference in behavior between DAPR on local docker, vs DAPR inside .devcontainer (does not load components)"
## In what area(s)?

/area runtime

## Ask your question here

I have created my own test application based on the `hello-world-compose` of Dapr samples.
When I run `docker compose up` locally DAPR loads the statestore component for Redis correctly and all using the application is successful.

I then learned about docker .devcontainers and tried to add that to my sample.
The dev container seems to

[2022-09-05 22:27] #4818 closed

[2022-09-06 03:01] mattmazzola commented on #5133
Related to this issue, I would want to know, **what the best way to debug this type of issue?**

I have turned on Debug logging on both of the DAPR sidecars, but I didn't see any more useful information into the logs.
My next attempt to try to open an interactive shell inside the dapr container, but didn't seem to find any shell like executables.

Something like:
[code]
Fails because `bash` or `sh

[2022-09-06 03:17] artursouza commented on #2218
We did have a discussion about Batch vs Bulk and the main difference was that Batch would save all messages as a single write while Bulk would not have that guarantee. This distinction is important. We cannot use Batch and Bulk interchangeably.

This is odd. Adding a random ID to each message only for Bulk publish is odd. The non-bulk API does not require that. I see SDKs making this "depend on or

[2022-09-06 03:47] yaron2 commented on #2218
Agree, this is the path of least surprise for the user. Batch and Bulk carry very different guarantees. While pub/sub terms do not usually use Bulk, Dapr does have the Bulk concept so this would be aligned with other APIs today.

I would rather have entryId be optional to to reduce boilerplate code from the user's perspective. For the Batch API, there should be no entryId at all.

[2022-09-06 04:05] artursouza commented on #5124
We should also add this as a new scenario for conformance tests in general.

[2022-09-06 05:15] mukundansundar commented on #2218
@yaron2 If we rename to operations and struct to bulk to align with other Dapr APIs, then what does the above comment that it is not required for Batch API imply?

@artursouza @yaron2 Are we aligned on the functionality being defined by this API? In that it is not possible to make the publishing of multiple messages / subscribing of multiple messages transactional without first class broker suppor

[2022-09-06 08:11] sebastiansmithomm commented on #4471
was there a resolution for this? I have the same issue under IISExpress ONLY. Using kestrel all works ok.

[2022-09-06 08:46] tstojecki commented on #4576
@cgillum
Curious about the retry mechanics. In the demo you show multiple stages as part of the workflow (process order, approve, notify, etc...). If it succeeds in the first operation but fails in the next, will the workflow be tried as a whole again - all steps, including the ones that have succeeded?

[2022-09-06 11:43] olitomlinson commented on #4576
@tstojecki

I'm not an authority on this, but theres a couple of ways this could go...

1. It is up to your user code to `try {} catch {}` around any Operation that may fail. In the `catch {}` block perform any necessary compensation around that Operation. An example compensation which might be perform the same operation again aka. a manual retry.

2. The developer/operator applies custom resilien

[2022-09-06 14:38] mcandeia opened #5135 "Proposal: Middleware Pluggable Components design"
## In what area(s)?

/area runtime

## Describe the proposal

As preparation for 1.9 arrival, we should agree on proto definitions for pluggable components. A separate discussion might be necessary for some components that has performance and usability as a priority, middleware is one of those because it would be potentially invoked for every http request. Currently, we provide a simple way of int

[2022-09-06 14:39] mcandeia commented on #4925
I just opened a [separate discussion](https://github.com/dapr/dapr/issues/5135) for middlewares pluggable components, it deserves its own thread

cc: @tmacam @johnewart

[2022-09-06 14:43] artursouza opened #5136 "Sidecar logs error on RETRY pubsub result from App"
## In what area(s)?

## What version of Dapr?

1.8.x

## Expected Behavior

Should log WARN instead.

## Actual Behavior

Logs ERROR because it returns an error to the upstream call stack:

https://github.com/dapr/dapr/blob/490ef74dbd06e13a4557a249afd58d1abecb01af/pkg/runtime/runtime.go#L1937
https://github.com/dapr/dapr/blob/490ef74dbd06e13a4557a249afd58d1abecb01af/pkg/runtime/runtime.go#L1945
ht

[2022-09-06 14:56] artursouza opened #5137 "Add `time` to CloudEvent automatically if not present"
## In what area(s)?

## Describe the feature

Some users are setting their own cloud event object on publish just because they need `time`. Please, add it automatically on pubsub publish if the `time` attribute is not present.

https://github.com/cloudevents/spec/blob/v1.0.2/cloudevents/spec.md#time

## Release Note

RELEASE NOTE:

[2022-09-06 15:01] yaron2 commented on #5135
We have initial support today for WASM middleware. Wouldn't it be best to see how we can enable that for the s2s middleware too?

[2022-09-06 15:02] yaron2 commented on #5135
cc @daixiang0

[2022-09-06 15:04] yaron2 commented on #5136
Maybe this should be `Debug` logs?

[2022-09-06 15:08] yaron2 commented on #5040
Do you mean that verification should happen on the CRD schema or on a call to the Dapr APIs if users try to override metadata as part of the call?

[2022-09-06 16:05] mcandeia commented on #5135
If you mean: have the same interface, I totally agree!

Actually now I'm wondering if the WASM middleware won't compete with pluggable component middleware. Maybe having just one is enough? Do we have a use-case where one is applicable and the other is not?

[2022-09-06 17:34] yaron2 commented on #5135
My opinion is that one is enough and two will be confusing. WASM is more performant and secure (theoretically) and our strategy for pluggable components in general is WASM when the tech is mature enough.

[2022-09-06 19:00] mcandeia commented on #5135
Yes, it makes sense to me. However I'm afraid that pluggable components might become an easy-to-go way as a short-term solution, but if we don't have any strong reason to have a full-compatible middleware working in a short-term I'm also ok with it

cc: @tmacam @johnewart @artursouza

[2022-09-06 19:38] mcandeia commented on #5135
To be honest I think we can hide the implementation details from the final-user (component implementer) and switch between WASM-gRPC when it gains tech maturity.

That's why I support having pluggable components over gRPC even for middleware. But I agree with you that the interfaces to interact with the request/response should be the same, not only for middleware but for the rest of the components

[2022-09-06 20:29] ulisesortega opened #5138 "Dapr / Actor / Reminder is keeping the state in Cosmos DB even after the reminder is inactive."
## What version of Dapr?
1.8.0

## Deployed

The application is deployed in Azure Container App.

## Issue

I have an actor that register a reminder (CreateReminderAsync(InvoiceMessage invoice)), it's a one time Reminder, but the issue is after the reminder is trigger it keeps in Cosmos DB the state like:

`{
    "id": "InvoiceActor||F002279582||RetryReminder",
    "value": {
        "lastFiredTim

[2022-09-06 20:50] olitomlinson commented on #5138
@ulisesortega

I think this may have been fixed already in the next release

https://github.com/dapr/dapr/issues/4801

[2022-09-06 21:15] #4568 closed

[2022-09-06 23:40] codefromthecrypt commented on #5135
drive-by due to wasm.

## near-maybe performance

There's a lot of talk about near metal performance in wasm and I would say that's plainly marketing unless proven otherwise. It can be faster than I/O :) The HTTP middleware needs to be carefully designed including avoiding rebuffering entire request/response bodies in memory (which has a hard size limit due to 32bit addressing). In some cases, dep

[2022-09-06 23:51] codefromthecrypt commented on #5135
You should eventually expect a "shout-out to Karmem" comment on anything marshaling performance related in wasm, so I'll beat the fans to it by plugging the link now https://github.com/inkeliz/karmem

[2022-09-07 00:13] tmacam commented on #5135
### Regarding middleware as a pluggable component

I talked before with @mcandeia and the biggest challenge I see defining a middleware pluggable component is how different it is from the request-response proxy model of other components. For a state store, for instance, the component is _just translating a `GET`_ from Dapr to the underlying datastore it is acting as an adaptor layer for ;)  For mi

[2022-09-07 00:34] daixiang0 commented on #5135
My concern is about the scale and ecology of gRPC middleware for HTTP, WASM as a middleware become popular in the service mesh world. I see some use cases that use gRPC as an external service but not middleware, one reason I can think of is that gRPC services need always running but WASM just runs when necessary.

Now we only have HTTP middleware, also I wonder about the status of gRPC middleware(

[2022-09-07 00:35] codefromthecrypt commented on #5135
my 2p

If we split by control-plane data-plane, I think the former type of middleware is less risky from a technical design POV due to being bounded and unable to hurt real requests. That said I agree that classifying the middleware technically is better than assuming functional groups are more or less risky to include in the first cut. Maybe a chart with middleware and each fasthttp function they

[2022-09-07 01:42] 1046102779 commented on #5040
Yes. When the dapr runtime is applied to the financial industry, the metadata parameter usage strategy is very important, such as: prohibit setting `TTL` by yourself, use a  default `TTL` value in the YAML configuration; then there are required, deny and optional metadata fields.

[2022-09-07 01:48] #5085 closed

[2022-09-07 02:17] anoymouscoder commented on #5136
@artursouza I want to make sure I understand correctly that for retriable errors we don't need to log Error, but just log Warn or log Debug, while for non-retriable errors we need to log Error.
The log behavior is done by upstream call, so we need different types of error to distinguish retriable from non-retriable error, is that right?

[2022-09-07 02:23] artursouza commented on #5136
I think it should log warning since users have asked for this behavior before.

[2022-09-07 02:24] artursouza commented on #5136
Correct. It probably means that the function should return two error objects, one for retriable error and one for non-retriable.

[2022-09-07 02:25] anoymouscoder commented on #5136
/assign

[2022-09-07 02:57] anoymouscoder commented on #5137
Do you mean here, or can you tell where the code needs to be improved.
https://github.com/dapr/dapr/blob/190e07375b97d917830b8e8d8f16aea0d13a223f/pkg/runtime/pubsub/cloudevents.go#L24

[2022-09-07 03:27] anuraaga commented on #5135
I've been working on writing middleware for Envoy with TinyGo and wasm and can share some anecdotes - they're just personal experience so hopefully just a source of information.

## Using off the shelf libraries in plugins

I am taking a off-the-shelf Go library for WAF, [Coraza](https://github.com/corazawaf/coraza) to introduce a WAF firewall filter to Envoy. [It](https://github.com/anuraaga/cora

[2022-09-07 07:42] famarting opened #5141 "sidecar injector - GetAppID does not work as expected"
## In what area(s)?

/area k8s-injector

## What version of Dapr?

## Expected Behavior

The function used by the sidecar injector to get the app id behaves as expected
https://github.com/dapr/dapr/blob/master/pkg/injector/sidecar/utils.go#L30

## Actual Behavior
The function used by the sidecar injector to get the app id it's coded to pick the pod's name as the default app id but in reality that'

[2022-09-07 08:33] daixiang0 commented on #3510
Do test at local, CGO swallowed OpenSSL's performance :(

[2022-09-07 08:33] #3510 closed

[2022-09-07 08:34] kumaya opened #5142 "Wait for dapr api to be ready before establishing connection from dapr runtime"
## In what area(s)?

 /area runtime

## What version of Dapr?

## Expected Behavior

When kubernetes cluster is upgraded or nodes are restarted, the near simultaneous restart of `dapr-operator/api` and services using `dapr sidecar` is causing the `dapr runtime` to fail while loading `components`. This is because the call from dapr sidecar container to fetch the component details from dapr operator

[2022-09-07 08:36] kumaya commented on #5142
Possible fix for wait for operator/api to be ready
[code]
https://github.com/dapr/dapr/blob/190e07375b97d917830b8e8d8f16aea0d13a223f/pkg/operator/client/client.go#L47

[2022-09-07 12:01] ananyak19 commented on #5137
Hey can I work on this?

[2022-09-07 12:03] ananyak19 commented on #5137
Hey
I would like to work on this issue.

[2022-09-07 12:07] ananyak19 commented on #5128
Hey
I would like to work on this issue.
Please assign.

[2022-09-07 13:13] DomineCore opened #5144 "When can support openapi？"
When can support openapi？ I want to do some internal custom function based on openapi

[2022-09-07 18:33] artursouza commented on #4508
We discussed this issue in the community call today. Here goes the general feedback on it (including some of my recommendations too):

1. Encrypt API over HTTP
[code]
Response: RAW encrypted payload in the HTTP response body.

2. Decrypt API over HTTP
[code]
Response: RAW plaintext in the HTTP response body.

3. Built-in encryption component
- Cipher information is part of the component
- Fetches

[2022-09-07 20:37] berndverst commented on #5118
gRPC is not impacted by this. As such we will be migrating the remaining SDKs to use the gRPC APIs for actors as soon as possible. We will migrate the .NET SDK in time for the 1.9 release.

[2022-09-07 20:42] tmacam commented on #4508
I think we need a way to also make envelope encryption exposed through Dapr. Some cloud providers (AWS, IBM) expose envelope encryption as a first class concept. Additionally, it is a common pattern for enabling secure high-throughput client side encryption. It might be a worth concept to have as a building block for distributed apps exposed through Dapr.

## Context

So what is envelop encryption

[2022-09-07 21:18] mcandeia commented on #4925
Folks, I want to restart the prior discussion about container/process bootstrapping handled by daprd (sorry I wasn't here when it happened).

I have a mid-term proposal that covers both - dapr runtime in standalone or k8s mode unaware of how the process/containers should be started and at the same time provide a consistent way for declaring pluggable components for kubernetes.

**Disclaimer:  I do

[2022-09-07 21:27] artursouza commented on #4925
This is a great proposal. I like that this is making pluggable component a first class concept - we probably need a way to scope it only to some applications. When it comes to the component discovery via a shared folder, it is a great idea for standalone mode.

[2022-09-07 21:51] artursouza commented on #4508
The proposal from @tmacam goes into details on how Dapr should have an opinion on the encryption envelope I mentioned earlier. Thanks, @tmacam!

[2022-09-07 22:21] berndverst commented on #5118
Quick update here:

If the content Type is specified as `application/JSON` then numbers will become double/float/decimal. That is in line with the JSON spec.

This will still happen with gRPC
https://github.com/dapr/dapr/blob/master/pkg/grpc/api.go#L768

For other content types there is no concern here.

Note that in the case of HTTP the HTTP request JSON unmarshalling always unmarshalled any data

[2022-09-07 22:31] berndverst commented on #5118
@bencz from a Dapr perspective we can retain the data type by storing a value as a string (the SDK will be able to deserialize things correctly), or we lose the data type when inserting a JSON document into Mongo - because the JSON spec doesn't distinguish between integers and decimals.

In virtually all state stores we save the entire document as a string.

[2022-09-07 22:50] tmacam commented on #4508
After re-reading this proposal I noticed support for envelope encryption is present in the form of `/wrapkey` and `/unwrapkey` APIs. I do wonder if it makes sense to offer an abstraction of client-side encryption using envelope encryption under the hood.

[2022-09-07 22:58] resouer commented on #3586
Late for the dinner, but will we consider an alternative UX to enable this feature in developing time? i.e. resiliency feature that accessible from Dapr SDK.

Declarative configuration is great for existing apps but when building app with Dapr from scratch, it feels a bit weird to leave my critical API calls unreliable intentionally, remember this "issue" somehow, and then configure resiliency pol

[2022-09-07 23:40] yaron2 commented on #3586
This is largely outside the scope of Dapr SDKs and is a solved problem in nearly all languages today. Here's an example for Dotnet:

https://github.com/App-vNext/Polly

[2022-09-08 01:15] resouer commented on #3586
Emm, not sure can I also use Polly to retry Dapr state store call in my code?

[2022-09-08 01:26] yaron2 commented on #3586
Sure you can. You wrap the Dapr State SDK call with Polly. Not only will it cover failures from Dapr to the state store, it will cover the HTTP or gRPC call to Dapr itself, something resiliency policies don't cover today as they are only enabled in the runtime.

[2022-09-08 02:44] #4255 closed

[2022-09-08 04:07] anoymouscoder commented on #5136
@artursouza The act of catching these errors and logging them happens in the pubsub component(e.g. rabbitmq) of the components-contrib repo, right?
So if I want to change the log level I also need to change the components-contrib repository?

[2022-09-08 04:32] yash-nisar commented on #5137
/assign

[2022-09-08 07:48] wajika commented on #4585
As long as the trace-id is placed in the message, can it be recognized as kafka in the complete trace?

[2022-09-08 08:30] olvesh commented on #4133
I just stumbled over this as well!
The memory usage of the sidecar will be quite high if we were to fix this on ingest to Prometheus via relabelling, would like to have some way of configuring this.
I understand that since this is a sidecar Dapr can not know what is an url-parameter and what is not, without some heuristics tool to do this.

Other solutions could be if the dapr-wrapped-app offers a

[2022-09-08 09:50] olitomlinson opened #5145 "[Feature Request] Zero Trust mode for dapr"
### Problem space

The OOTB default scope configuration of some/most(?) build blocks are permissive.

A non-exhaustive list off the top of my head, to give a few examples...

- All secrets are exposed in the secret store by default.
- All secret stores are available to every App by default.
- All Apps can invoke each other by default.
- All components are available to all Apps.

This default scope

[2022-09-08 13:07] ItalyPaleAle commented on #4508
Hey folks, I wanted to write down my thoughts next week once I’m back from vacation, but I had given this a bit more thought–and it also addresses @tmacam’s feedback.

I can flush this out in a full API design next week, but at a high level…

——

**First**, my original proposal was for exposing low-level primitives only. I think we still need to do that, and in addition to methods to encrypt/decry

[2022-09-08 17:06] sleipnir commented on #4541
ping

[2022-09-08 17:47] artursouza commented on #5118
Wait. If the `value` is saved as string, then it will not be queriable right?

[2022-09-08 17:55] berndverst commented on #5118
Sadly that is correct @artursouza.

The only way around this is for us to introduce some sort of type annotations which a component can then use to coerce the data into the correct types. That would need to be implemented by the SDKs and then each component (e.g. MongoDB) would need to use this information.

Perhaps on the SetRequest the metadata could be `{'dataTypes': {'somekey.somesubkey': 'int

[2022-09-08 17:56] artursouza commented on #4508
I am not sure about offering the low level crypto APIs because we will lose the portability cross components.  We should have a common denominator API that is compatible across cloud services first. The more we add to the request, the less portable it is. This was one of the outcomes of the discussion in the community call. /cc @yaron2

IMO, we should have /encrypt /decrypt /sign /verify but not /

[2022-09-08 18:06] artursouza commented on #5118
This is an interesting idea but I am concerning about getting a strict contract for serialization, making the SDKs to basically become a serializer.

What about we support BSON too and then the SDKs would use BSON to avoid this problem?

[2022-09-08 18:08] berndverst commented on #5118
Yes supporting BSON in SDKs, Runtime and Components works too - that's a big effort for sure however.

[2022-09-08 18:11] artursouza commented on #5118
We can split the work per SDK but it would be the right thing to do.

[2022-09-08 18:12] berndverst commented on #5118
Personally I think this type hint I suggested is only necessary for override from the default JSON unmarshalling. It would only be necessary for numbers and can be specified manually or automatically via the SDKs.

Most components do not support BSON and it feels like too much effort to add BSON to all SDKs and runtime just for MongoDB. Even RethinkDB doesn't support BSON.

[2022-09-08 18:13] artursouza commented on #5118
My proposal is to use BSON as the transport protocol all the way to component, then the component can decide if it can save as-is or convert to JSON.

[2022-09-08 18:19] berndverst commented on #5118
That's fine. Just want to be clear on the effort here:

1. Every SDK must now take a dependency on a BSON SDK / library. If content type is specified as `application/bson` then the SDK must serialize the data to the native BSON binary encoding.
2. The runtime must leave `application/bson` contentType in tact without any modifications -- that's probably the default behavior today, but we need to ch

[2022-09-08 18:50] ItalyPaleAle commented on #4508
I wasn't in the community call, but I am not sure I understand the concerns about portability.

All key vaults expose only crypto primitives as the lowest common denominator. Although some algorithms aren't universal, we can count on a core set to be present, including AES and RSA (AFAIK ChaCha20 isn't available anywhere, and support for ECDSA/EdDSA is limited).

When we implement this in Dapr, th

[2022-09-08 19:05] tmacam commented on #5135
As @mcandeia pointed out, we are discussing two related but distinct topics in this issue and this is diverging from this issue's main target. While interesting and all, it might be more productive if we untangle this discussion and move the WASM as an alternative for middleware pluggable components to a separate issue. Both alternatives can coexist. Anyway. if someone opens one, please let me kno

[2022-09-08 19:13] berndverst opened #5146 "New Building Block Type: DocumentStore"
# DocumentStore Building Block

### Background:
As one of the maintainers of components-contrib it is very apparent that some state stores and their respective use cases are unlike others. MongoDB, RethinkDB and some uses of PostgreSQL are some examples here which store (in the case of PostgreSQL this is optional) data very differently from other state store components.

A **DocumentStore** allows

[2022-09-08 20:29] yaron2 commented on #5135
gRPC plugins are not the right fit for chatty scenarios like middleware that operate per-request. Since this is still in debate, we should remove gRPC middleware support from 1.9.

cc @artursouza

[2022-09-08 20:36] berndverst commented on #5146
POST/PUT http://localhost:<daprPort>/v1.0/document/<storename>
GET http://localhost:<daprPort>/v1.0/document/<storename>/<key>
GET http://localhost:<daprPort>/v1.0/document/<storename>/bulk
DELETE http://localhost:<daprPort>/v1.0/document/<storename>/<key>
GET http://localhost:<daprPort>/v1.0/document/<storename>/query

Optionally:
PATCH http://localhost:<daprPort>/v1.0/document/<storename>/<key>

[2022-09-08 20:50] yaron2 commented on #5146
I think this is a good direction as it brings focus and expands Dapr's state management features:

1. State for K/V - existing API
2. State for Document Stores - Document API
3. State for SQL DBs - [Database API proposal](https://github.com/dapr/dapr/issues/3354) (in discussion phase)

The Query API allows to query Redis, which is a very useful feature being used today. Will this ability be retain

[2022-09-08 20:52] berndverst commented on #5146
Redis with RedisJSON is a document store -- so I think we could add that particular flavor as a supported DocumentStore @yaron2

[2022-09-08 21:05] DeepanshuA commented on #2218
Alright, I thought that I have already defined

Even though structs for Bulk Subscribe were defined under previous comment (specifically point no. 4) but I think it will be better to define structs etc. more clearly and explicitly. And, also bring forth few changes that seem considerable.

#### How bulkSubscribe be triggered?

App can define "bulkSubscribe" to be true inside metadata for response

[2022-09-08 22:22] artursouza commented on #2218
I agree with Option 1.

[2022-09-08 22:26] artursouza commented on #4508
I have used a "crypto API" before and the algorithm used was outside the code. It was defined when creating the encryption key in the encryption service. This way, the app just needs to encrypt passing the payload and keyname. I don't think Dapr would add value by providing low level primitives - there are plenty of libraries doing that today.

[2022-09-09 00:32] artursouza commented on #5135
I agree. Let's discuss middleware for a later release - it might not be ideal for pluggable components.

[2022-09-09 06:19] ItalyPaleAle commented on #4508
The value Dapr provides is that it abstracts the various cloud key vaults. All libraries that offer the primitives expect the key material to be passed directly.

[2022-09-09 06:28] #5021 closed

[2022-09-09 07:38] 1046102779 opened #5147 "dapr runtime incorrectly uses `secretKeyRef` when loading and initializing all components."
## In what area(s)?

## Ask your question here

### SecretStore Schema

https://github.com/dapr/dapr/blob/master/pkg/apis/components/v1alpha1/types.go#L60

[code]

**Name is the secret name, and key is the field in the secret.**

### SecretStore Runtime

https://github.com/dapr/dapr/blob/master/pkg/runtime/runtime.go#L2479

[code]

Currently, all CRDs can be configured with the secretstores instan

[2022-09-09 08:06] #5147 closed

[2022-09-09 08:53] shubham1172 commented on #5029
/assign

[2022-09-09 10:42] olitomlinson commented on #5146
This is pretty cool!

Are there any reasons that would preclude, AWS DocumentDb, Azure CosmosDb included in this? Not saying they should be in for day 1, just curious.

---

Also, just to be devils advocate here, may I ask the question :

_Are we absolutely sure this isn't a new capability which is built on-top of the existing State Management building block?_

I'm only asking because we went thro

[2022-09-09 12:36] mcandeia opened #5149 "feature: Kubernetes Mode Support for Pluggable Components"
## In what area(s)?

/area runtime

/area operator

## Describe the feature

[Original issue](https://github.com/dapr/dapr/issues/4925)

In order to list all available pluggable components a new operator API should be added,

[code]

**This API must not be namespaced.** The rationale is that the pluggable component makes no sense without a component pointing to it. So if there's a component depend

[2022-09-09 13:54] mcandeia commented on #4475
Hey @ewassef I just opened a PR in your sample branch with the current proposal for the issue [this PR](https://github.com/ewassef/opa-dapr/pull/1/files), could you check?

please keep in mind that's not meant to be used in production yet, it's just a preview from my own fork

[2022-09-09 16:00] erfan-at commented on #4779
Mr. Yaron 2.
We had a plan to use this service in microservices but it has been canceled due to some reasons
Thank you for your follow up

[2022-09-09 16:34] #4925 closed

[2022-09-09 18:45] artursouza commented on #5142
Also, the sidecar should crash if cannot connect to operator. This way, K8s would automatically restart the container.

[2022-09-09 18:46] artursouza commented on #5138
Closing as duplicate of https://github.com/dapr/dapr/issues/4801

[2022-09-09 18:46] #5138 closed

[2022-09-09 20:24] yaron2 commented on #5149
I've read this several times and cannot understand why this needs to be cluster-wide.

What is `it` referring to in this sentence? a pluggable component?

I don't understand the rationale behind this. Say we have two namespaces, A and B. There are two state store components, with the same name, each deployed to the same namespace. Now developers want to add corresponding pluggable components for c

[2022-09-09 20:29] yaron2 commented on #5149
But then in the request you require a namespace, which will return all pluggable components for the requested namespace:

[code]

Am I missing something?

[2022-09-09 20:50] halspang commented on #4992
@BCoskun - Do you need anything else or can I close this issue?

[2022-09-09 20:54] yaron2 commented on #4925
So you may ask, how the pluggable components will be recognized by the runtime? That's the second major change of the current proposal: Component discovery using a shared socket volume.

Auto registration is great, I'd maybe flip this around and look into having the pluggable components discover the Dapr runtime and register to it. This will be less resource intensive on the runtime and move the b

[2022-09-09 21:56] yaron2 commented on #5146
No reason, these are perfectly valid document stores.

That was my concern as well first reading this, but unlike blobs which fit existing k/v semantics in terms of API, the document store interface has a large number of distinct and domain specific endpoints/methods to justify a new API.
As far as user's are concerned, there won't be much difference between adding the endpoints to the existing AP

[2022-09-09 22:42] berndverst commented on #5146
I'm lazy and didn't feel like listing every component. Yes those components you mentioned also should be supported DocumentStores. Couldn't think of them in the moment.

[2022-09-09 23:27] berndverst commented on #5123
@artursouza you added some E2E test runs for this -- were you able to reproduce this issue in our test infrastructure?

[2022-09-09 23:32] berndverst commented on #5133
Can you just use our official dev container here? https://github.com/dapr/dapr/blob/master/.devcontainer/devcontainer.json

That should docker in docker -- which is probably what isn't working for you right now.

Maybe @ItalyPaleAle has more advice.

[2022-09-10 02:50] madhavsikka commented on #5141
/assign

[2022-09-10 05:46] maxpu80 commented on #4891
Hi! The problem is reproduced for me also

Env:

Windows 10
dapr -v
CLI version: 1.8.0
Runtime version: 1.8.4
docker -v
Docker version 20.10.14, build a224086

The application works fine when started with dapr cli and fails with the error when started with docker-compose
None of the suggestions from above works for me

I've created repo with details in readme where you can reproduce error easily h

[2022-09-10 06:01] ItalyPaleAle commented on #5133
Hi @mattmazzola , I haven’t tested this personally, but at a quick look I can’t see you running `dapr init` In the dev container. Besides creating the redis container (managed by Dapr in this case), this also creates the config files and anything else that is needed.

Also, please don’t use `redis:alpine` because we don’t support version 8 of Redis yet.

As for using the dev containers from this r

[2022-09-10 09:14] Sachin1939 commented on #5137
/assign

[2022-09-10 10:47] mcandeia commented on #4925
Good points @yaron2,

Note that whatever way we go with (Dapr discovers or component discovers) there's guaranteed to be a race for daprd or the pluggable component to boot first. Ordering isn't guaranteed, especially not on Kubernetes.

Yes, you're right, however that's another advantage of using a shared volume for sockets. If the socket isn't there when the daprd at the moment of component load

[2022-09-10 21:39] ItalyPaleAle commented on #3968
👋 bot!

[2022-09-10 22:56] mcandeia commented on #5149
You're right, it got a little confused reading it now again,

Let me try to put it another way: I think of a pluggable component as an extension of daprd, it enables new types of components to be configured. But the fact that you have a pluggable component in a namespace OR cluster-wide does not mean that there is a component in use.

For example: Suppose it is namespaced and there is a `state.foo

[2022-09-10 23:58] yaron2 commented on #5149
Cluster wide resources are considered a bad practice in k8s for most scenarios due to security and isolation, preventing multi-tenancy. Most organization do not allow their developers to alter Kubernetes resources that are cluster scoped, and namespace isolation is by far the most common approach in terms of resource governance.

By making it cluster wide, we will be going against namespace isolat

[2022-09-11 00:03] mattmazzola commented on #5133
I agree with ItalyPaleAle that I shouldn't be using that image in this case

In other words, the devcontainer.json you linked seems intended for development of DAPR, but I don't intend to develop DAPR runtime. I want to develop an application which _uses_ DAPR runtime. The devcontainer.json was created by DAPR VScode extension so it should be "official".

I don't think `dapr init` is needed or wou

[2022-09-11 01:09] mcandeia commented on #5149
I see what you're saying @yaron2, you brought good points when you mention the multi-tenancy scenarios,

Yet, for me it's the same as saying that you can't use a `state.redis` in namespace A, but in namespace B you can. It's not the relationship with the CRD specifically, it's the relationship between the dapr and the pluggable component. From my perspective, the pluggable component should be an e

[2022-09-11 01:15] yaron2 commented on #5149
Yes, go ahead and change the scope from cluster wide to namespace. Thanks

[2022-09-11 08:54] madhavsikka commented on #5141
Hi @artursouza. Does defaulting it to an empty string sound reasonable?

[2022-09-11 13:12] #4572 closed

[2022-09-12 04:36] aniljdk opened #5152 "Dapr AWS X-Ray Tracing Exporter for OpenTelemetry Collector is not exporting traces to AWS X-Ray"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

## Ask your question here
Deployed services on EKS and configured Dapr to send distributed tracing data. Deployed Dapr OpenTelemetry Collector using Dapr AWS X-Ray Exporter to export traces to

[2022-09-12 08:18] ItalyPaleAle commented on #4894
👋 bot

[2022-09-12 11:16] olitomlinson commented on #5152
@aniljdk

Just to double check, did you follow these instructions?

[2022-09-12 14:02] olitomlinson commented on #3642
+1 on this.

We have a fundamental architectural use-case which relies on this capability becoming available soon, ideally in 1.9.

[2022-09-12 15:40] aniljdk commented on #5152
@olitomlinson
i  have followed instructions from
https://docs.dapr.io/operations/monitoring/tracing/open-telemetry-collector/
https://aws-otel.github.io/docs/getting-started/x-ray#configuring-the-aws-x-ray-exporter

[2022-09-12 18:32] artursouza opened #5155 "Include caller's and callee's app-ids in headers for service to service invocation"
## In what area(s)?

/area runtime

## Describe the feature

When an app is invoked via Dapr, the caller's and callee's app-ids should be available to the app's handler to do additional logic (fine access control, for example) since the method's behavior might change based on that information.

This information should be present as headers for HTTP calls and metadata for gRPC.

## Release Note

RE

[2022-09-12 18:49] artursouza commented on #5145
This would only make a difference in scenarios where the configuration for Dapr in the cluster is not done by the developers. Dapr does not have a concept of "Global Configuration" and each app specifies its own config at runtime. So, the production environment must have this configuration restricted to only admins. Then, we could offer a "zero trust" config where components are only accessible by

[2022-09-12 18:54] artursouza commented on #5141
First, it cannot default to pod's name. That logic should be gone.

Then, we do the following:
1. Default to trying to fetch Deployment's name and Statefulset's name.
2. If no app-id is found, then we fail since app-id is mandatory.

/cc @yaron2

[2022-09-12 18:56] artursouza commented on #5137
Yes, we should have it as a first class attribute in the CE object.

[2022-09-12 18:57] yaron2 commented on #5141
I recommend to not default to anything. `app-id` is a required annotation and the injector should log it and fail the injection.

[2022-09-12 19:00] artursouza commented on #5136
Not necessarily. This code is handled here: https://github.com/dapr/dapr/blob/490ef74dbd06e13a4557a249afd58d1abecb01af/pkg/runtime/runtime.go#L761

I think we can move the log logic there as well and we will have two error objects to differentiate between non-retriable and retriable errors. The change on each component to understand the difference can be a follow up.

[2022-09-12 19:00] MGK91 commented on #5152
Hi Team,

Greetings, can someone please help us with the configuration to export traces from DAPR to AWS Xray through Open telemetry exporter , DAPR and Open telemetry running on EKS

Reciever config is as follows

      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318
      awsxray:
      awsxray/udp_endpoint:

[2022-09-12 19:01] mcandeia opened #5156 "feature: Add Pluggable Components Feature Flag"
## In what area(s)?

/area runtime

## Describe the feature

Add a new feature flag to enable/disable pluggable components since it is a preview feature.

## Release Note

RELEASE NOTE:

[2022-09-12 19:11] olitomlinson commented on #5145
@artursouza

Ok. Would it be possible to enable “zero trust” mode when dapr is installed into the cluster for the first time? Happy if this is an immutable option.

[2022-09-12 19:20] yaron2 commented on #5145
It can be a Helm Chart value: zerotrust=true.

[2022-09-12 19:24] mcandeia commented on #5156
/assign

[2022-09-12 20:34] berndverst commented on #3642
FYI @mukundansundar

And somewhat related: There is also the request for arbitrary fields / properties on the message data itself. This is referred to as cloud event extensions generally.

I have a draft PR for the cloud event extensions, but it seems we additionally would need a field on the cloud event envelope proto to store arbitrary headers in some sort of map.

[2022-09-12 21:45] cgillum commented on #4576
Yes, for code-based workflows using the built-in engine, the same basic rules will apply: [workflow code should be fully deterministic](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-code-constraints#using-deterministic-apis) and should externalize compute intensive processing when possible.

[2022-09-12 21:55] yaron2 commented on #4787
keep alive

[2022-09-12 21:57] cgillum commented on #4576
Just to add to what @olitomlinson said, there are two types of "failures" to consider:
1. Application failures - for example, a service invocation returns an HTTP 500 error
2. Infrastructure failures - for example, a node crashes and brings down your workflow process (or brings down the process of a service you were invoking).

In the first case (application failures), retry policies will be gover

[2022-09-12 23:35] #5156 closed

[2022-09-13 00:39] artursouza commented on #4549
My point was about making the base URL configured, not the complete URL. Usually the base URL is fixed and the path is what varies.

[2022-09-13 01:15] artursouza commented on #4588
We got too busy with many other things. We still have interest in supporting this.

[2022-09-13 05:34] mukundansundar commented on #3642
@berndverst
For a cloudEvent we can have an additional field called metadata, but for raw payload we will not be able to store any metadata with the payload itself.

The main need is to be able to set some application defined properties along with the message.

Most of the brokers and their SDKs do support storing storing application defined properties/metadata along with the message.
For example:

[2022-09-13 05:35] tstojecki commented on #4576
Interesting, thanks!

@olitomlinson it sounds like it won't rerun successfully executed operations

[2022-09-13 10:23] olitomlinson commented on #3642
In addition to @mukundansundar list :

- AWS SQS also supports up to 10 custom properties on each message. [Although each property must be typed](https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-message-metadata.html#message-attribute-components).

[2022-09-13 11:49] pravinpushkar opened #5160 "gRPC Subscribe Configuration API does not return the subscribe ID until the updateEventHandler get called"
## In what area(s)?
/area runtime

## What version of Dapr?

latest

## Expected Behavior

`SubscribeConfigurationAlpha1` should return the subscriptionID as soon as it is available instead of waiting till `UpdateEventHandler` is called.

## Actual Behavior

When subscribe is called the client is not aware of the subscription Id and has to wait till `updateEventHandler` gets called`.
See from belo

[2022-09-13 11:58] pravinpushkar commented on #5160
Attaching the suggested fix PR above.

[2022-09-13 12:02] pravinpushkar commented on #5160
/assign

[2022-09-13 14:11] jpiquot commented on #5058
Hi, I have the same issue if I use cosmosdb but works fine with the a memory statestore. Did you try with a simple memory state to see if it's an issue in your code or on the persistence layer?

[2022-09-13 14:30] mcandeia opened #5162 "documentation: Add preview features dev docs"
## In what area(s)?

/area docs

## Describe the proposal

As feature flags have been increasingly used by dapr, documentation and usage must be constantly updated even to maintain a standard of how they should be used and when they should be removed.

This proposal aims to document the use and show some examples in code encouraging best practices when using it, followed by post-actions when relea

[2022-09-13 14:30] mcandeia commented on #5162
/assign

[2022-09-13 22:53] artursouza opened #5165 "Remove application/json as default content type"
## In what area(s)?

 /area runtime

## Describe the feature
As planned from 1.7, we will have a breaking change to remove application/json as default content type and require app's and SDKs to provide that value.

Follow up from deprecation notice:
https://docs.dapr.io/operations/support/support-preview-features/

https://github.com/dapr/dapr/blob/d97d23c369a06c0d78a79ae6454ad6c104982ad1/pkg/conf

[2022-09-14 04:08] pravinpushkar commented on #5160
@LaurenceLiZhixin @beiwei30 @yaron2 please share your thoughts.

[2022-09-14 04:13] daixiang0 commented on #3968
@JoshVanL are you still working on this issue? It is a great improvement to implement cert-manger.

[2022-09-14 06:26] kumaya commented on #5142
I can work on it.

[2022-09-14 07:36] kumaya commented on #5142
/assign

[2022-09-14 08:35] nelson-b commented on #372
Can we access key vault with service principal using client secret instead of certificate

[2022-09-14 14:45] yaron2 commented on #372
Yes, see here: https://docs.dapr.io/reference/components-reference/supported-secret-stores/azure-keyvault/#configure-the-component.

[2022-09-14 15:16] mcandeia opened #5173 "proposal: Protos for PubSub Pluggable Component"
## In what area(s)?

/area runtime

## Describe the proposal

As a preparation for 1.9 arrival, we should agree on proto definitions for pluggable components. This proposal is focused on pubsub protos.

The pubsub proto is a very straightforward interface since we provide only publish and subscribe methods, the proto definition is also simpler with one caveat: it requires gRPC stream on subscribe.

[2022-09-14 15:17] mcandeia commented on #5173
/assign

[2022-09-14 15:21] mcandeia commented on #5173
Disclaimer: This initial implementation will not cover https://github.com/dapr/dapr/issues/2218 until it reaches stability.

[2022-09-14 15:26] ItalyPaleAle commented on #5133
Take a look at using Dapr with Docker-compose: https://docs.dapr.io/operations/hosting/self-hosted/self-hosted-with-docker/#run-using-docker-compose

[2022-09-14 15:51] mattmazzola commented on #5133
I wasn't sure which part you wanted to look at. I think your link on shows a snippet or single file of the "hello-world-compose" sample. In my first post I said I based my sample off of [this sample](https://github.com/dapr/samples/tree/master/hello-docker-compose)

I would bet the issue still remains. I think we could test that the `hello-world-compose` sample works locally but does not work on t

[2022-09-14 16:03] mukundansundar commented on #5173
@mcandeia one question that I have here is in the stream of messages that the pluggable component receives and sends to app via runtime, how are app ack/retry/drop responses communicated back to the pubsub provider per message in the stream?

[2022-09-14 16:06] mcandeia commented on #5173
great point, we actually need a response stream back to ack the messages. Currently this is not necessary because this is handled by the component directly (dapr is not aware that an ack is required or not) but given that the fact that dapr receives the message does not mean that the message was handled successfully it means that we need an ack explicit in this sense, thanks @mukundansundar

[2022-09-14 17:54] #5162 closed

[2022-09-14 17:56] juazasan commented on #4981
@yaron2 excuse me, just wanted to check whether you are taking care of this or wanted me to address the comments. Thanks.

[2022-09-14 18:04] yaron2 commented on #4981
Please address the comments. Thanks!

[2022-09-14 18:45] mcandeia commented on #5173
need some direction here @yaron2 @artursouza @johnewart

[2022-09-14 19:01] #5149 closed

[2022-09-14 19:10] yaron2 commented on #5173
Bi-di streams seem like the only way to achieve this. Of course, we cannot let the pluggable components signatures break the Dapr API guarantees.

[2022-09-14 19:11] artursouza commented on #5173
I agree to proceed with single message via bi-directional streaming and ACK (FIFO). Batch or bulk processing should be a follow up. Let's keep this consistent to the current component interface.

[2022-09-14 19:21] mcandeia commented on #5173
Just as sanitycheck @yaron2 @artursouza

We are agreeing in use Sequential ack with two different messages types (TopicSubscribe and MessageAck) in a single bi-di stream, ack (this ack is unary LOL)?

[2022-09-14 19:28] mcandeia commented on #5173
Note that, again, Parallel Ack is a superset of sequential, the same guarantees are provided in both cases in the sense of: If the component doesn't support Parallel messages processing it is just a matter of not using asynchronism when implementing

[2022-09-14 19:29] artursouza commented on #5173
OK. Let's try the third option then. It might also be handy to support batch and bulk later on.

[2022-09-14 20:28] mukundansundar commented on #5173
@mcandeia @yaron2 @artursouza @skyao should we add the capability of being able to subscribe to multiple topics in a single subscribe request?

[2022-09-14 20:30] yaron2 commented on #5173
This is the gRPC proto contract today, so yes.

[2022-09-14 20:52] mcandeia commented on #5173
I would like to remember that the spec for these protos follows the components contrib spec not the grpc api

In that sense all methods are covered https://github.com/dapr/components-contrib/blob/d4f2b108dece2b21913b078019acdddb9fb87d40/pubsub/pubsub.go#L24

[2022-09-14 21:08] johnewart commented on #5173
Late to the party but I agree that this should work for the current scenario and I don't believe will block us from adding support for multi-message mechanisms (batch / bulk) later on. I think we will just need to do a little more bookkeeping when that happens, though I imagine at least some of that will have to happen in the runtime anyhow so may not have an outsized effect on this particular pro

[2022-09-15 01:45] #5073 closed

[2022-09-15 12:17] mcandeia commented on #5173
After few different implementation designs I found a more interesting solution for the following reasons:

1) Allow an unsubscribe for cleanup
This is an interesting step that we don't have explicit in the code, however, today unsubscribe is the same as stopping handling messages, for the component this won't work because the gRPC connection can drop and the application is still interested in the

[2022-09-15 14:48] shubham1172 commented on #4892
FYI, once I deleted "that" cluster, I was not able to reproduce it.

[2022-09-15 16:09] BartNetJS commented on #4187
hi @edetime , where you able to fix your issue?
I have the same on a kubernetes cluster in docker desktop.
The logs in dapr sidecar shows:
Failed to listen on [::1]:3500 with error: listen tcp [::1]:3500: bind: cannot assign requested address","scope":"dapr.runtime.http"

[2022-09-15 16:22] NileshGule opened #5178 "[Pubsub] RabbitMQ component creates queue name different from what is specified in the topic name"
I am able to send messages and retrieve messages using the PubSub component with RabbitMQ.

However, I saw that Dapr automatically adds consumer name to the topic name. I have specified topic name as "techtalks" and published the Event using following code

![image](https://user-images.githubusercontent.com/1298374/190455068-72e62241-9c9d-42ef-bf57-ea5e81e7a807.png)

The RabbitMQ pubsub Dapr compo

[2022-09-15 17:12] k-krupka opened #5179 "[Feature Request] Pubsub Application / Custom Properties propagated in headers of messages"
## Describe the feature
i.e. Azure Service Bus as a queueing system offers ability to set headers (next to the body) on the message. As of this moment, it is not possible to set those headers when using either REST call or the clients (c# in my case).
It would be great if the application properties would be settable, i.e. via metadata dictionary.

## Release Note
RELEASE NOTE: **ADD** pubsub suppo

[2022-09-15 17:15] k-krupka commented on #5179
#3642

[2022-09-15 18:29] #4362 closed

[2022-09-15 19:34] jpiquot opened #5180 "Dapr input binding request fails when returning status code 204 in an input binding handler."
## In what area(s)?
/area runtime
## What version of Dapr?
1.8.4
## Expected Behavior
Returning a status code 204 (No content) in an input binding should not be considered as succeeded by Dapr Binding component.
## Actual Behavior

App Handler returned an error for message xxxx on queue xxx: fails to send binding to http channel, status code : 204

![bindingerror](https://user-images.githubusercon

[2022-09-15 19:49] yaron2 commented on #5180
[This](https://github.com/dapr/dapr/blob/master/pkg/runtime/runtime.go#L1258) line probably needs to change to allow the 2xx range to be considered as success. Would you like to submit a PR for this?

[2022-09-15 21:05] cgillum commented on #4576
Just an update for those who may be interested: the first iteration of the Durable Task Framework clone for Go is here: https://github.com/microsoft/durabletask-go.

This is just the core engine, the gRPC contract (for the runtime), and the core engine abstractions. I verified that it's compatible with the existing gRPC-based Durable Task SDK for .NET (the same one I used as the basis for my POC d

[2022-09-15 23:33] #5160 closed

[2022-09-16 03:55] dipankaj commented on #4588
Thanks, @artursouza for tagging this requirement for the v1.10 milestone. As mentioned by @yaron2, I was expecting this to be a release candidate for 1.9. I am worried my business can wait for that long. Will it be possible to prioritize it for v1.9, please?

[2022-09-16 04:33] #4869 closed

[2022-09-16 07:12] pparth commented on #3383
Any updates here please?

[2022-09-16 07:32] daixiang0 commented on #3613
seems no input anymore, feel free to reopen or open a new issue.

[2022-09-16 07:32] #3613 closed

[2022-09-16 07:32] #3368 closed

[2022-09-16 07:43] daixiang0 commented on #5003
@Taction pretty cool, are you interested in implementing it?

[2022-09-16 08:16] daixiang0 commented on #5144
Could you share more details about use case?

[2022-09-16 08:56] jpiquot commented on #5180
Thanks, @yaron2,  for your quick answer. Unfortunately, I am a .NET developer with no knowledge of the Go language.

[2022-09-16 09:18] jpiquot opened #5182 "Error finding address for actor type with Azure Cosmos DB"
## In what area(s)?
/area runtime

## What version of Dapr?
1.8.4

## Expected Behavior
No error when invoking actors

## Actual Behavior
Dapr.DaprApiException in System.Private.CoreLib.dll : "error invoke actor method: error finding address for actor type 'Dynamics365ReceiverActor' with id 'MnGdkklhj456-3c...'.

When using Redis or Memory state stores, actors work well. There are not any security

[2022-09-16 09:44] sunzhaochang commented on #5180
/assign

[2022-09-16 10:18] sarsharma opened #5183 "Configuration Store: Subscribe to all keys will not notify changes for any new keys"
The dapr docs specify that we can subscribe for all configuration changes if we do not pass any keys to the subscribe endpoint.
* https://docs.dapr.io/reference/api/configuration_api/#query-parameters-1
`GET http://localhost:<daprPort>/v1.0-alpha1/configuration/<storename>/subscribe`

If the user does not pass any params to the endpoint, the config store is queried for all existing keys and then t

[2022-09-16 10:31] akhilac1 commented on #5183
When no keys are specified as part of the subscribe request, the full set of keys are retrieved using Get operation and these keys are added to the subscribe request sent to the configuration component.

https://github.com/dapr/dapr/blob/4550ffdd0bee3b460f9e090ba6023c242a6dfca1/pkg/http/api.go#L926-L953

the component sees this as a subscribe request for a specific set of keys and subscribes to th

[2022-09-16 10:47] mandarj123 opened #5184 "MQTT binding , how to provide certificate"
Hello,

I am trying to use MQTT binding to subscribe to mqtt topic. I am following the documentation
https://docs.dapr.io/reference/components-reference/supported-pubsub/setup-mqtt/#related-links

Here , it's not clear how to provide certificates. what does curly braces signify?

 - name: caCert
    value: ${{ myLoadedCACert }}
  - name: clientCert
    value: ${{ myLoadedClientCert }}

    Can som

[2022-09-16 11:51] jpiquot commented on #5182
I also tried with Azure SQL Server Database and actors work correctly.

[2022-09-16 14:46] mcandeia commented on #5173
errata: As gRPC metadata should be opaque for the gRPC call, I'd rather use subscription as a Required property for the first send and optional for the subsequent calls. I found this a common practice throughout the grpc community

Updated with the final design.

[2022-09-16 16:29] mandarj123 opened #5187 "Connecting to MQTT using TLS"
I am trying to connect to MQTT broker which is secured using TLS . I have required certificates. however when I provide these certificate in mqtt component. I get "Invalid CA Certificate".

I cannot find any working example of this scenario. Has anyone experienced this while using dapr mqtt binding with Certificates?

[2022-09-16 17:49] #4893 closed

[2022-09-16 22:16] halspang opened #5191 "InvokeActorRequest does not have Metadata"
## In what area(s)?

/area runtime

## What version of Dapr?
All.

## Expected Behavior
InvokeActorRequest (used by the gRPC API for InvokeActor) allows for Metadata to be passed into it enabling features like Actor Reentrancy.

## Actual Behavior
InvokeActorRequest does not have metadata so we cannot pass fields like the reentrancy header into it.

## Steps to Reproduce the Problem
Found while at

[2022-09-16 22:54] #5191 closed

[2022-09-17 17:32] mcandeia opened #5194 "proposal: Protos for Bindings Pluggable Components"
## In what area(s)?

/area runtime

## Describe the proposal

As a preparation for 1.9 arrival, we should agree on proto definitions for pluggable components. This proposal is focused on bindings protos.

The experience with the [pubsub](https://github.com/dapr/dapr/issues/5173) proto made this one easier to implement. So the protos follows the same interface for components-contrib receive and sen

[2022-09-17 17:32] mcandeia commented on #5194
/assign

[2022-09-18 03:13] mattmazzola commented on #5133
Is there any more suggestions on how to debug this issue?
Does anyone have answers to the questions above:
1. How do I verify the components files are copied into the dapr sidecars?
1. How to compare file paths of where the DARP sidecar is attempting to load components vs where the components files are located? (I should be the --components-path location)

Since I have linked the repo I think it s

[2022-09-18 06:57] #4896 closed

[2022-09-18 08:54] #4900 closed

[2022-09-18 13:30] #4902 closed

[2022-09-19 03:44] skyao opened #5196 "[propsal]Spring Cloud Integration - Overview"
## Background

As we described in the [Overview of Dapr](https://docs.dapr.io/concepts/overview/) :

![any-language-any-framework](https://user-images.githubusercontent.com/1582369/190946043-bbfe40e0-23a8-4a9a-8cf6-bbff7b029793.png)

For Java language, Dapr provides [ Java-SDK project](https://github.com/dapr/java-sdk). And in this SDK, Dapr provides a sub-project named "sdk-springboot" to integra

[2022-09-19 08:59] gunniwho opened #5198 "gRPC proxy not operational during the graceful shutdown period"
## In what area(s)?

/area runtime

## What version of Dapr?

1.8

## Expected Behavior

The gRPC proxy should be operational during the graceful shutdown period.

## Actual Behavior

I have this use case where I have a dapr-ized application that is serving an API behind an AWS load balancer. The application uses dapr strictly as a grpc reverse proxy (outbound service invocations). The AWS load ba

[2022-09-19 15:30] jancespivo opened #5199 "enforce pubsub implementations in contrib to deliver asynchronously with the option of setting concurrency via config"
## In what area(s)?

## Describe the feature

Now concurrency is done per implementation basis (as mentioned https://github.com/dapr/dapr/issues/940#issuecomment-571789035). For some of these implementations to consume multiple messages concurrently is needed to scale whole application instead of just using lightweight threads like goroutines. One of the excellent feature of Dapr is it can abstrac

[2022-09-19 16:49] XavierGeerinck commented on #3642
Can +1 saying that it's preventing me from working with e.g. Azure Digital Twins since it sends to Event Hub and they utilize `source` as the `twinId` thus preventing `twinId` to be accessible as the property is not being mapped correctly.

[2022-09-19 20:02] #4010 closed

[2022-09-19 20:52] #5173 closed

[2022-09-19 22:08] artursouza opened #5202 "Support Actor callback APIs via gRPC"
## In what area(s)?

 /area runtime

## Describe the feature
Runtime and SDKs should support app callback for Actors via gRPC in addition to HTTP.

https://github.com/dapr/dapr/blob/a52441615dc92c0b8901350a5c5b0aac86c513f5/dapr/proto/runtime/v1/appcallback.proto#L29

Each SDK should also have a way to offer this transparently.

## Release Note

RELEASE NOTE:

[2022-09-20 04:34] #4475 closed

[2022-09-20 10:43] mandarj123 opened #5204 "Invalid CA Certificate error for MQTT with TLS"
I am connecting to MQTT broker which is protected. I have created below component spec based on details which work with a software like MQTT Explorer to connect to the broker from my machine.

apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: mqttpubsub
spec:
  type: pubsub.mqtt
  version: v1
  metadata:
  - name: url
    value: "mqtt://brokeraddress:8883"
  - name: consumerID
    val

[2022-09-20 14:41] shubham1172 commented on #3451
/keep-alive

[2022-09-20 14:55] mthmulders opened #5205 "mDNS name resolution broken on macOS?"
## In what area(s)?
/area runtime

## What version of Dapr?
CLI version: 1.8.1
Runtime version: 1.8.4

## Expected Behavior

I am running two Spring Boot-based Java applications locally, each with their own Dapr sidecar.
Using an HTTP client, I ask each sidecar to invoke a method on one of the Java applications:

[code]

I expect each sidecar to be able to invoke the **vehicleinfo/XT-346-Y** metho

[2022-09-20 16:46] shubham1172 commented on #4158
/keep-alive

[2022-09-20 18:10] rvanmaanen opened #5206 "Should the Dapr sidecar have an option for auto shutdown when the attached application is gone?"
As a developer I want to have an easy workflow, meaning that when I'm writing code in my favorite IDE (Visual Studio / VS code) I want to start and stop debugging with the press of a button. At that moment, when I launch my application, I also want the Dapr sidecar to start and when I stop the application in whatever way I want the sidecar to terminate.

Starting the sidecar on startup of my appli

[2022-09-20 20:08] MarcelMC commented on #3252
I start the service in docker swarm. Mine is available at docker_service_name: port
Why do you complicate such a simple thing?

[2022-09-20 20:38] senthomas opened #5207 "helm install throws exception unknown field "deadLetterTopic" in io.dapr.v1alpha1.Subscription.spec"
## In what area(s)?

Configuring a dead letter topic with a declarative subscription

**Subscription yaml file**

`apiVersion: dapr.io/v1alpha1`
`kind: Subscription`
`metadata:`
  `name: servicerequestsubscription`
`spec:`
  `topic: nH.ServiceRequest.Dev`
  `route: /ServiceRequestCreated`
  `pubsubname: servicerequestcreatedpubsub`
  `deadLetterTopic: nH.ServiceRequest.Dev.dlq`
`scopes:`
  `- serv

[2022-09-20 21:30] artursouza commented on #3252
I do think there is value in having remote daprd sidecar. But it should enforce a SSL connection in those cases. Then, have a token for client auth. I think it can work.

[2022-09-20 21:36] senthomas commented on #5207
kubectl apply throws a similar error:
error validating data: ValidationError(Subscription.spec): unknown field "deadLetterTopic" in io.dapr.v1alpha1.Subscription.spec

[2022-09-20 22:06] mukundansundar commented on #3252
Having an SSL connection was the main concern raised which caused the revert of the previous work done to add enable remote dapr sidecar.

[2022-09-20 22:09] mukundansundar commented on #3252
Related issue https://github.com/dapr/dapr/issues/2576

[2022-09-21 00:59] mcandeia opened #5210 "proposal: Pluggable Components Registry"
## In what area(s)?

/area runtime

/area operator

## Describe the proposal

## Context

This proposal is focused on improving the relationship between pluggable components CRD and component the CRD.

## The naming problem

Be backed by kubernetes is almost the same as saying that kubernetes is also a kind of component registry, also means that all available Pluggable Components CRD is part of a

[2022-09-21 01:00] mcandeia commented on #5210
cc: @johnewart @artursouza @yaron2 @tmacam

[2022-09-21 01:13] tmacam opened #5211 "PubSub and SecretStore features are not exposed by Metadata API"
## In what area(s)?

/area runtime

## What version of Dapr?

`v1.7.0-rc.4-568-g030ebefd`

1.8

## Expected Behavior

For SecretStores this was expected as support for SecretStore features is recent (dapr/components-contrib#2069).

For PubSub this was a miss.

## Actual Behavior

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE: **FIX** PubSub and SecretStore capabilities are prese

[2022-09-21 03:21] yaron2 commented on #5210
The second approach is much preferable to the first.

Reference fields in CRDs referencing other Kubernetes objects are a common design and I am not at all worried about the fact there can be 2 pluggable components CRDs referencing the same component. A runtime error would be the correct way to handle this scenario..

Separate question: why do we need the `type` field and not infer that from the r

[2022-09-21 06:51] pravinpushkar commented on #5183
I agree. Basically we should pass the keys as it is to components. If the keys list is empty then pass the empty list and leave it to the components on how they want to implement subscribe all. Some components have OOB apis for events and notifications like redis while some do not have.

[2022-09-21 08:11] daixiang0 commented on #5003
/cc @codefromthecrypt in case you are interested in it.

[2022-09-21 08:21] codefromthecrypt commented on #5003
Thanks for looping me in. For starters, I think it would be easier to develop this as a fasthttp based project then after experimentation add it to dapr. The feedback loop would be a lot faster IMHO, especially as this seems like basically implementing fasthttp middleware in wasm. What do you think?

[2022-09-21 08:33] anuraaga commented on #5003
Heard about this issue from @codefromthecrypt - lately my main focus has been on WASM middleware for Envoy (proxy-wasm), WAF functionality via the [Coraza](https://github.com/corazawaf/coraza) project so can provide some perspective from that angle. Coraza is interested in being well integrated with many server projects as possible to deliver WAF functionality where users need it, but if every hig

[2022-09-21 08:35] codefromthecrypt commented on #5003
copying in @erikdubbelboer from fasthttp. I feel like this is a convergence of fans who would like to help get a webassembly plugin thing working with a primary consumer of at least dapr. The key here is folks not just wanting it to happen but offering to help. I would also help, and prefer to solve this first at the fasthttp abstraction, if the project is interested.

[2022-09-21 09:12] mukundansundar commented on #2218
@artursouza @yaron2 As discussed offline, setting the metrics as per the following definition
[code]
later once the BulkPublish API is out of Alpha Status and in GA, we will have a merged metric that tracks the count of events posted through both single publish and bulk publish. For now both the counts will be separate.

[2022-09-21 09:13] mthmulders commented on #5205
Today, I tested the same setup on a clean Linux VM. It works flawlessly there, supporting my gut feeling this is a macOS-specific issue.

[2022-09-21 09:28] mcandeia commented on #5210
Excellent question,

We can, but it requires changing our component registry behavior or a hint in the component crd telling the runtime if such component is pluggable(I’m not a fan of this one)

This is used to select which registry such pluggable component must be added. Loading pluggable components is the same as calling

${specType}Registry.RegisterComponent(“kafka-pluggable”, newKafkaPluggabl

[2022-09-21 09:29] codefromthecrypt commented on #5003
fyi made a blank repo to play around with this as I think trying to design everything in one issue will be pretty crazy. @Taction feel free to move your initial strawman over if you like, you have admin https://github.com/http-wasm/http-wasm-abi

[2022-09-21 10:30] mandarj123 opened #5214 "Dapr Adds -producer automatically ahead of consumerId"
Hello,

I am using mqtt pub-sub to subscribe to external broker. I need to connect to this broker using
-consumerId
-cacert
-clientcert
-clientkey

While all values are being passed, the request is rejected.On troubleshooting we observed, the remote broker is receiving clientId as

consumerId(mentioned in component file)+"-producer"

the -producer part is breaking the authentication and it's not n

[2022-09-21 11:40] 1046102779 commented on #5183
For the design of Configured Subscribe and Unsubscribe, you can read issue [#2027](https://github.com/dapr/components-contrib/issues/2027) together.

[2022-09-21 12:58] mcandeia commented on #5210
Runtime error in this case means shutting down the sidecar?

Keep in mind that it could be out of control of dapr enduser. Considering the following scenario:

Two different helm charts being developed by two different vendors (pluggable component implementers) with same name but containing different set of components with only one intersection:

Let's say two helm charts A and B:

Helm chart A in

[2022-09-21 14:58] sejpalkalpesh commented on #5080
@senthomas I can see following debug msg in your error logs
[code]
It means you're using wrong x509 certificate for authentication. you should generate a new x509 certificate for host `waldevkafka04.navidev.local`

[2022-09-21 16:21] yaron2 commented on #5210
Yes. It's a valid reason to panic.

Correct.

For improved simplicity, user experience and Dapr code maintenance, I propose we remove `PluggableComponent` and *not* use any new CRD for pluggable components. Rather, we reuse the existing `Component` CRD and add pluggable features to it, so a component can become pluggable. This has the benefit of:

1. Best UX for developers and operators - no new C

[2022-09-21 16:32] mcandeia commented on #5210
I like the simplicity but it seems that it blocks a lot of things in the way, for example, if we add more attributes in the pluggable component this needs to be repeated in each CRD component that points to the same pluggable component.

For now, it looks like it's okay because we don't have any attributes other than the pluggable component name, but if you add at least one, you'll have to start r

[2022-09-21 16:55] mcandeia commented on #5210
Your proposal is fine considering the requirements now. But it is just a way to add an "inline" pluggable component, so we can move all fields from pluggable component crd to the component crd as `pluggable` property for instance,

What I'm trying to consider is a world where pluggable components definition are reusable across components, like we started to discuss in [this](https://github.com/dap

[2022-09-21 16:58] mcandeia commented on #5210
I would say if we go for "inlining" the pluggable component we could use something like:

[code]

no changes required

[2022-09-21 17:34] yaron2 commented on #5210
I would say this is out of scope, due to:

1. It isn't common to share definitions between CRDs or even Kubernetes objects. This is largely outside the scope of Dapr
2. Components today have many potential sharable definitions (credentials as an example that stands out the most). We have seen no asks to make this sharable across components. And these are definitions that every developer and/or ope

[2022-09-21 17:44] mcandeia commented on #5210
Oh wait, just to make something clear, when I say "pluggable components definitions are reusable across components" it literally means this ["Reference fields in CRDs referencing other Kubernetes objects are a common design"](https://github.com/dapr/dapr/issues/5210#issuecomment-1253155916)

[2022-09-21 17:50] yaron2 commented on #5210
So those are actually two different things: sharable definitions vs reference fields. As an example of a common use case for reference fields, look at Kubernetes selectors as an example - where a Kubernetes service is a totally separate resource but it references another resource which is a Deployment.

In our case, you are talking about sharing common fields for the purpose of sharing them betwee

[2022-09-21 18:23] mcandeia commented on #5210
Please be clear if you are against [this](https://github.com/dapr/dapr/issues/4925#issuecomment-1239896900) proposal as this brings more clarity to me, because I am struggling on considering this possibility and it leads me to different alternatives. If we do not consider this possibility, I am 100% in favor of your proposal. But if we consider I would like to see a world where I can say that the

[2022-09-21 19:14] yaron2 commented on #5210
The only thing I'm favoring less is the `ComponentRegistry` design.

I'm proposing an alternative design that, in my opinion, offers a better UX for developers, operators and less maintenance burden for Dapr maintainers.

I would argue that `Component` and `PluggableComponent` are targeting the same personas, and having the mentioned fields in the Component field makes sense when considering the P

[2022-09-21 19:24] MarcelMC commented on #3252
My communication between websites is encrypted by the mesh service. Everyone has a choice whether to enable ssl or not.

[2022-09-21 19:32] MarcelMC opened #5216 "Disable programmatic configuration"
## Ask your question here

How can I set dapr to not call api / configuration and subscriptions. We only use declarative configurations and I have no these  endpoints.

[2022-09-21 19:35] mcandeia commented on #5210
Now we are talking,

I’ll wait for artur opinion to have one perspective here.

[2022-09-21 20:47] halspang commented on #5105
@artursouza - Another thought here is that we could just add the full `User-Agent` to the API Logging stuff. It doesn't matter if they're unique there, and it feels like relevant info. We can then add the other headers to the SDKs for metrics. Thoughts?

[2022-09-21 21:18] artursouza commented on #5216
If you don't implement those, sidecar will ignore the 404 response.

[2022-09-21 22:29] #4623 closed

[2022-09-22 00:43] codefromthecrypt commented on #5003
ps we (tetrate) are going to setup infrastructure in this org towards whatever end. there are years of pressure building up to solve this, just no one did it. waiting isn't really all that helpful as it just reinforces go as the slower leg in webassembly progress.

the most important thing will be a -benchmark repository which can show some of the dire performance implications as well incidental c

[2022-09-22 01:25] daixiang0 commented on #5003
Another thing needs to be considered -- now FastHTTP still does not support HTTP2 in production, as https://github.com/dapr/dapr/issues/4979 said.

For the first step, HTTP1 support is enough, but for the future, we need to consider more.

@erikdubbelboer what is status of HTTP2 support in FastHTTP?

[2022-09-22 01:41] codefromthecrypt commented on #5003
my 2p I think HTTP semantics are still defined in terms of the text protocol. When we start dropping down to the binary framing, it starts looking like a proxy again. I might focus on HTTP semantics at least for starters because that's typically the abstraction middleware are defined (not just TinyGo).

[2022-09-22 02:14] Taction commented on #5003
Cool! I agree with @codefromthecrypt and @anuraaga, we can implement that as a lower-level framework middleware(for now it is fasthttp, and can be implemented to other frameworks) and use it in dapr when finished. I will move my draft idea to the repo later.

As for http2, dapr is considering migrating to net/http, and middleware can be implemented for net/http that supports http2. And yes, HTTP1

[2022-09-22 02:47] anuraaga commented on #5003
Just a note for HTTP/2 vs 1, defining the ABI in terms of text should work fine for both since most frameworks do that anyways (e.g., headers are strings in almost all of them). We'll probably just need to define some semantics on how to present information that translates between them, e.g. possibly requiring implementations of the ABI to translate `Host` -> `:authority`. Not doing so could make

[2022-09-22 03:54] raymondsze opened #5223 "CQRS with dapr thought"
I'm taking look into implement cqrs with dapr. I'm not sure if I'm right or not.
The cqrs flow should be like this...

1. For each aggregate type, we use Actor, and method in actor act as command handler. The command should contain the aggregate type, aggregate id, payload, and version (optional, if specified, suppose this command can only be applied to the specified version of the aggregate).

2.

[2022-09-22 06:13] liuhaoyang commented on #5196
This is a great proposal. But I don't see a description of the support for RPC/Http-style microservice invocation, for the following functions, may dapr provide support ?

[2022-09-22 09:15] 1046102779 opened #5225 "Dapr Opentelemetry Semantic Convention and Metric Naming"
## In what area(s)?

## Describe the feature

Only keep the trace sdk and metric sdk in the Opentelemetry API, and standardize the observability report.

First we need to unify the semantics of observability.

## Opentelmetry Semantic Convention

|current name | name |value |description|
|---|---|---|---|
|app_id|service.name|- |custom value|
|namespace|service.namespace|-|custom value, such as: d

[2022-09-22 09:28] 1046102779 commented on #5225
## Opentelemetry Init Configuration

[code]

[2022-09-22 09:31] 1046102779 commented on #5225
## Metric Init

[code]

[2022-09-22 13:35] mcandeia commented on #5210
After a good night of sleep I think we can get back to this discussion,

So I would like to split the discussion in two, 1) what we are going to do targeting 1.9, and  2) what is the state of art for pluggable components - desired future

for 1)
due to the tightly deadline, I would argue that should keep the Pluggable Component CRD and add `name` as a spec attr rather than using from `metadata.nam

[2022-09-22 13:49] amulyavarote opened #5226 "Proposal for how to organize Dapr workflow SDKs"
This is the proposal for Dapr workflow SDKs organization. We have two different set of APIs. They are,
Dapr workflow management APIs and Dapr workflow authoring APIs. The proposal is to have two different packages and artifacts for these two different types of APIs.

**1. Dapr workflow management APIs:**

- Include all the management APIs in the existing SDK and under the same package.
- These API

[2022-09-22 15:07] timgabrhel opened #5228 "Unable to specify response body and 500 status code for python gRPC service"
## In what area(s)?

/area runtime

## What version of Dapr?

python dapr-ext-grpc 1.7

## Expected Behavior

When an exception occurs in my code grpc service, I want the result to be an HTTP 500 exception with the json message box

## Actual Behavior

If I set the content type to `text/plain`, then the error message is returned, but the HTTP status code is 200
If I set the content type to `applic

[2022-09-22 16:39] cgillum commented on #5226
At a high level, I'm in favor of this proposal. I do have a few questions, though.

For the workflow management APIs, you mention in the Cons that "it won't be light weight". Can you elaborate on what you mean? The [Dapr Workflow Proposal](https://github.com/dapr/dapr/issues/4576) mentions 5 specific management APIs, which are going to be wrappers around gRPC or HTTP calls to the Dapr sidecar. I w

[2022-09-22 18:01] johnewart commented on #5210
I don't have any strong opinion other than making things clear and easy to use -- in that regard I think that using only the `Component` CRD with some metadata doesn't quite communicate that fact that a pluggable component is adding itself to the registry (in theory they could be multiplexed in the future and not be a 1:1 mapping) and to that end I think the `PluggableComponent`  CRD makes that di

[2022-09-22 18:28] artursouza commented on #5226
I agree that we need to bring in versioning to this discussion. I like @cgillum's idea of suffixing it with `-alpha` since the whole SDK is not stable. /cc @msfussell @halspang @berndverst @yaron2  thoughts on this?

[2022-09-22 18:32] berndverst commented on #5226
Yes, in the Python SDK we don't call the methods Alpha, but we print a warning that the API being used is Alpha and subject to change.

This is what we should do for Workflows also in the Python SDK.

[2022-09-22 18:41] artursouza commented on #5226
@berndverst  this is to add a suffix to the artifact's version that is released, not the classes.

[2022-09-22 18:41] yaron2 commented on #5226
Why can't this for under the dapr org?

[2022-09-22 18:53] yaron2 commented on #5210
By registry you mean the Dapr component registry in `daprd`, correct? If Dapr scans the component and adds it to the corresponding registry based on the pluggable explicit definition, how is that less clear than another CRD?

Also I don't understand the comment about why the same CRD would be parsed twice? What contexts are you referring to?

[2022-09-22 18:55] #4302 closed

[2022-09-22 18:56] #5211 closed

[2022-09-22 18:58] artursouza commented on #5226
This is about adding as new artifacts in the existing SDK repos - it means, new packages in Maven, NuGet, NPM, etc. It does not mean a new repo. The difference is that this artifact would have the `-alpha` suffix in the version since it is not stable as the other artifacts released per SDK.

[2022-09-22 19:09] fabistb opened #5230 "Correlate actor reminder creation and execution events"
## In what area(s)?

 /area runtime

## Describe the feature

If an actor creates a reminder which is later executed these operations are currently treated as individual events on the observability side.
In application insights this is displayed by different operation ids for the reminder creation and the reminder execution.

Correlating these would improve the end to end visibility.

## Release N

[2022-09-22 19:09] fabistb commented on #5230
Cc: @artursouza

[2022-09-22 19:24] mcandeia opened #5231 "feature: Share gRPC connection for bindings Pluggable Components"
## In what area(s)?

/area runtime

## Describe the feature

When a single pluggable component (i.e process/container) implements at same time input and output bindings buildingblocks, two gRPC connections are created. Even dough they are backed by an UDS (unix domain socket) it should be good in terms of resource usage to reuse the connection for both.

[check here for further information](https:

[2022-09-22 19:25] mcandeia commented on #5231
/assign

[2022-09-22 19:36] berndverst commented on #5226
I have no idea what we are talking about.

If there are new SDKs for authoring workflows I don't think the SDK name must include alpha. The SDK version itself should be alpha.

But I imagine that the workflow management / execution parts go into our existing Dapr SDKs.

If I am mistaken I will need more context. I feel very out of the loop as both contrib and Python maintainer

[2022-09-22 19:37] berndverst commented on #5226
I have no idea what we are talking about.

If there are new SDKs for authoring workflows I don't think the SDK name must include alpha. The SDK version itself should be alpha.

But I imagine that the workflow management / execution parts go into our existing Dapr SDKs.

If I am mistaken I will need more context. I feel very out of the loop as both contrib and Python maintainer

[2022-09-22 20:12] berndverst commented on #5226
Ok, took me a while to get the right context here (side note, really need to link a condensed design / exec summary).

For Python I propose we keep everything in the existing SDK under a new sub package, but *not a separate SDK*. Workflows is too tightly couples with the runtime after all.

I prefer making this `dapr.experimental.workflows`. In the future when the feature is no longer Alpha all a

[2022-09-22 22:24] artursouza commented on #5226
For the current way things are done in Python SDK, yes.

Now, for Java and DotNet SDK, Actors are released as a separate artifact (code in same repo), so I think Workflows SDK should mirror what is done with Actors SDK there too, adding the `-alpha` suffix to the version.

[2022-09-23 00:08] berndverst commented on #4934
Can we add `List` as an operation? This appears to be something that folks want to do for the majority of blob stores. (And of course the list operation could be keyPrefix aware)

@yaron2 @ItalyPaleAle @olitomlinson

[2022-09-23 00:15] pkedy commented on #5003
Does anyone think that having several fine-grained calls over the FFI boundary would be a performance issue? That is definitely my concern. I'm curious if proxy-wasm is this fine-grained. It might make sense to have the Wasm module return a control structure with modifications to make in the FastHTTP request and response?

I see that the basic Wasm middleware component uses [wapc](https://wapc.io)

[2022-09-23 00:22] ItalyPaleAle commented on #4934
Yes, that makes sense. With `list`, however, we'd need to implement some pagination logic.

[2022-09-23 00:34] mcandeia commented on #5231
cc: @ItalyPaleAle

[2022-09-23 00:51] daixiang0 commented on #5003
@pkedy definitely it can do more than redirects! Before adding more functions, I want to discuss whether we need to introduce a new WASM ABI or reuse proxy-wasm ABI.

Performance is always in my mind but we need to trade-off between performance and flexibility in most cases.

[2022-09-23 00:51] mcandeia commented on #5223
if consistency is important in that step I'd recommend the following approaches:

1) Or publish the event first with a sanitycheck safeguard (i.e check if the command was successfully applied somehow)
2) Or make sure that this operation is atomic (i.e transacional environment)

I'm not sure but I guess it depends on the broker that you're using, from dapr perspective the messages were successfully

[2022-09-23 00:57] pkedy commented on #5003
@daixiang0 Fair point. I'd like to understand that myself. Maybe others can chime on regarding proxy-wasm.

[2022-09-23 01:24] pkedy commented on #5003
@daixiang0 I've worked on HTTP1/HTTP2/gRPC proxies similar to Envoy. I remember now that Envoy filters work at that protocol/frame level (e.g. OnHeaders, OnBody, etc) as they are sent over the wire. I think the difference in this scenario is Dapr is operating on the HTTP context struct *after* it has been processed by fasthttp (or net/http). So I'm guessing that proxy-wasm might not be a fit based

[2022-09-23 01:32] daixiang0 commented on #5003
Yes, proxy-wasm has many coupled with Envoy itself, although reuse can introduce new ecological support, it also brings huge complexity.

Let's start by a new ABI and make it simple and easy!

[2022-09-23 03:39] raymondsze commented on #5223
Thanks. I have a question how do we discard the event. For example, I've updated aggregate A (assume current version is 1) with 3 events (i.e, E1 (version: 1), E2 (version: 2), E3 (version: 3)).

The event handler could receive the events with order like E2 > E1 > E3
The E2 event should be applied to version 2. So the event handler knows that E1 should be handled first, E2 have to be discarded. Ho

[2022-09-23 05:51] DeepanshuA commented on #2218
For bulk subscribe, for gRPC side, we need a new API for Apps in proto definitions.
If we introduce a new API in existing ` service AppCallback `, then it becomes a breaking change for existing Apps, when they start to use Dapr 1.9. So, @mukundansundar suggested me using a new service which can be like an extension to AppCallback service, just like `AppCallbackHealthCheck`.

So, I will be creating

[2022-09-23 06:22] vikas2k14 commented on #4974
it seems to be working after a redeploy
I will keep the issue open for a week to observe the behavior and close it out if it is consistent.

[2022-09-23 07:11] vikas2k14 commented on #4508
I support this...we are also using dapr in all our applications and this is one of our requirements...if dapr could orchestrate that that would be really helpful.

We have one service for all the data security-related requirement ( like encryption/decryption/signing XML) so it would be really helpful if we could orchestrate the backend kms system using dapr.

[2022-09-23 09:07] vikas2k14 commented on #2905
👍  This is one of the hot requirements for us.

In fact, we wanted to write a generic serializer/deserializer but since DaprObjectSerializer doesn't take any parameter for content type and data-accept and always returns application/json we couldn't do it.

It would be really helpful to have this included.

Thanks.

cc: @rahulopengts @mukundansundar @akhila

[2022-09-23 09:35] DanielYWoo opened #5234 "provide different endpoints for liveness and readiness probes"
## In what area(s)?
/area runtime

## Describe the proposal
Liveness and readiness are two different purposed probes in k8s, we generally have different implementations. e.g., if the sidecar is overloaded we report error in the readiness probe to let k8s remove me from the traffic and bring me back later. If the sidecar encounters problems during initialization we report liveness problems to let k

[2022-09-23 09:46] mcandeia commented on #5223
It's up to you treat it as an event store, dapr has no assumptions regard your data shape. In your case you might use it as an array/set of events.

Actually I was trying to address failures when publishing messages, in that case, if you process the command first and then after raise an event, there is a change to fail when trying to publish the event even when command was successfully executed.

[2022-09-23 12:53] mandarj123 opened #5235 "Allow adding ConsumerClientId to override default ConsumerId handling in pub-sub mqtt"
Currently MQTT pub-sub is not usable when publisher and subscriber are both not following the Dapr pattern.

For eg.

If i design pub-sub spec for mqtt something like below.

[code]

When i run dapr using dapr run ...

The ClientId which is sent to the remote producer reads abcd1234-producer

This behaviour is inexplicable because the exact crux of pub-sub is that the sub might not be in control o

[2022-09-23 15:54] yaron2 commented on #5210
Since users don't know about or interact with our registry in any way since this is an implementation details at the lowest level, we should keep this out of scope for the CRD user experience discussion.

In that context, I believe reusing the `Component` CRD and adding a clear and explicit `pluggable` section enables greater simplicity for users, keeps both personas (developer and operator) align

[2022-09-23 17:10] akhilac1 opened #5236 "Runtime panic in Invokemethod for Subscribe configuration notification"
## In what area(s)?

 /area runtime

## What version of Dapr?
1.8.x

## Expected Behavior

https://github.com/dapr/dapr/blob/9da16f4a2ee9658dc7b26cf154d75c2e7a3128b7/pkg/http/api.go#L806-L811

This code causes panic in runtime when appchannel is nil or when handler is not defined for the specific key
## Actual Behavior

If appchannel is nil or invoke fails, runtime should not panic

## Steps to Re

[2022-09-23 17:10] akhilac1 commented on #5236
@artursouza - This Issue is related to runtime panic and needs to be tagged as a blocker for release
@ItalyPaleAle , @berndverst - FYI

[2022-09-23 18:35] berndverst commented on #4934
Agreed. In many cases we can rely on the SDK's existing pagers, but in other cases we need to have a Dapr implementation for when native pagination does not exist.

[2022-09-23 18:52] akhilac1 commented on #5236
/assign

[2022-09-23 20:29] olitomlinson commented on #4804
Bump

[2022-09-23 20:31] berndverst commented on #4804
Should be closed in favor of #4934 anyway

[2022-09-23 23:00] artursouza commented on #4898
I forgot to add this to the milestone. We need to remove this flag: https://github.com/dapr/dapr/issues/5165

[2022-09-24 03:29] raymondsze commented on #5223
If I use the actor state manager to store the event, I remember the save state operation is called after the method complete. So it is possible the event would be published before the event is successfully saved. What you mean is the pubsub call some method of the corresponding actor to check if the event is successfully saved into actor state first, if yes, then process the event, then it can mak

[2022-09-24 03:45] kevinten10 commented on #5155
Hi, can users customize the **key name**(header/metadata) of app-ids.

In the past, dapr did not provide an app-ids trace mechanism, we implemented a app-ids transfer code for trace by ourselves.

At the same time, in order to be compatible with the original trace system, the key needs to be consistent with the original, such as XXX-Client-AppId etc.

We pass this value in the following steps:

+

[2022-09-24 04:25] #4148 closed

[2022-09-24 07:16] kevinten10 commented on #5128
Hi, I also encountered the same problem when designing the runtime api of the SDK model: https://github.com/dapr/dapr/issues/3261.

`runtime.go` is too big, both from a code perspective and a developer maintenance perspective.

I mentioned the split idea before here: https://github.com/dapr/dapr/issues/3600. Currently [java-runtime-api](https://github.com/capa-cloud/cloud-runtimes-jvm/tree/master/

[2022-09-24 07:25] erikdubbelboer commented on #5003
HTTP2 will probably never be supported by fasthttp. To be honest I would just switch to `net/http` as soon as possible for this project.

[2022-09-24 07:39] kevinten10 commented on #5196
Great proposal! this will power more users to migrate to dapr.

When we implemented the runtime-api, we also encountered such a problem: developers wanted to make changes to the original code as small as possible, so we also developed an adapter-layer-sdk, and then adapted it to the runtime-api sdk.

I will add a few questions and ideas we encountered here:

### More adaptor layer scalability

In

[2022-09-24 14:29] #5235 closed

[2022-09-25 00:07] mcandeia commented on #5223
let me exemplify

instead of
[code]

You should do

[code]

[code]

[2022-09-25 04:38] anuraaga commented on #5003
`proxy-wasm` is fine-grained in the sense that host calls are used to get data about the request such as headers, body. FFI is a bit slower than a normal function call, but not a whole lot more - given the wide range of middleware, and even the wide range of languages (e.g. Rust vs TinyGo) with different performance characteristics, it's hard to make any definite recommendation, but I think genera

[2022-09-25 15:28] pkedy commented on #5003
@anuraaga I think my example created more confusion than clarity ;) Forget about waPC and MsgPack. My general point is that like how `proxy_set_headers` lets you set multiple headers in a single FFI call, I think it would be simpler _and_ faster to collapse at least all header mutations into a single (and very simple) binary payload representation. Something like this seems already necessary for e

[2022-09-25 22:20] pkedy commented on #5003
Just as a reference: On my M1 Mac, I benched a very simple call from host to an empty guest function at ~260ns, which is insanely good. Kudos to the wazero team! This may not be as much of a concern as it once was.

[2022-09-26 03:38] #5194 closed

[2022-09-26 04:19] mukundansundar commented on #2218
Task List merged into feature branch in [dapr/dapr](https://github.com/dapr/dapr/tree/feature/pubsub-batching) or [components-contrib](https://github.com/dapr/components-contrib/tree/feature/pubsub-batching):

- [x] Bulk Publish HTTP/gRPC Implementation -> PRs (#5127)(#5213)
- [ ] Bulk Suscribe HTTP/gRPC Implementation --> PRs(#5154)(#5177)
- [x] Raw Payload Support -> done as part of impl PRs
- [

[2022-09-26 04:36] #4920 closed

[2022-09-26 05:14] yaron2 commented on #2218
Can you please explain why adding a new method to the existing app callback will result in a breaking change?

[2022-09-26 05:30] DeepanshuA commented on #2218
It will be a new rpc for BulkSubscribe, if we add it to exiting AppCallback, then when existing apps upgrade Dapr 1.9, they will need to necessarily implement this rpc, even if they don't use this feature.
Hence, it will be a breaking change for them.

[2022-09-26 05:50] #4403 closed

[2022-09-26 05:51] wimvc1 commented on #5184
The details of each component field is specified here:
https://docs.dapr.io/reference/components-reference/supported-pubsub/setup-mqtt/#spec-metadata-fields

Copy/paste:

<html>
<body>

caCert | Required for using TLS | Certificate Authority (CA) certificate in PEM format for verifying server TLS certificates. | "-----BEGIN CERTIFICATE-----\n<base64-encoded DER>\n-----END CERTIFICATE-----"
-- | --