[2022-01-13 20:12] artursouza opened #4124 "Nightly builds for Dapr"
## In what area(s)?

/area test-and-release
## Describe the proposal

As we add new features or APIs in master branch, SDKs need to have a local override solution to rebuild the master branch to run integration tests on changes that are not yet released in runtime. Instead, we should have a unified solution where Dapr is released nightly and SDK workflows can make use of that pre-built release ins

[2022-01-13 20:14] berndverst commented on #4124
This would be fantastic.

`dapr init --runtime-version=nightly` should install the latest nightly release. This would be pretty close to running against dapr/dapr@master, but without having to build daprd from scratch which is very slow.

[2022-01-13 21:35] patrickhuber commented on #3787
Yes, you will need to compile for the target platform for static binaries. That can be part of the convention when loading the plugin, probably would need GOARCH as well.

For languages that have a runtime, like java, dotnet, etc, you would only need to supply the target assets and make sure the runtime is installed. For OCI images, docker or containerd would need to be installed.

Source Plugins:

[2022-01-13 22:38] dmitsh opened #4125 "e2e tests: Windows tests fail on placement service deployment"
## In what area(s)?

/area test-and-release

## What version of Dapr?

## Actual Behavior

`helm install dapr` fails on Windows:
[code]

The reason: placement service fails to respond on readiness probe within allocated time (15s).

Ideas:
- increase number of attempts in readiness/liveness probing
- investigate why placement service is slow to deploy

From the logs:
[code]

[2022-01-14 01:00] dmitsh opened #4126 "state store: client-side encryption and query api are mutually excluded"
## In what area(s)?

/area runtime
/area docs

## What version of Dapr?

1.5.x
1.6.x

## Expected Behavior

Querying encrypted state store should return an error.

## Actual Behavior

Querying encrypted state store returns empty result.

## Release Note

RELEASE NOTE: **FIX** state store: client-side encryption and query api are mutually excluded

[2022-01-14 02:47] artursouza commented on #3271
Moved to 1.7

[2022-01-14 02:52] #4046 closed

[2022-01-14 02:54] artursouza opened #4128 "Support UDS for Windows"
## In what area(s)?

/area runtime

## Describe the feature

Unix Domain Sockets is only enabled on Unix. It needs to be enabled on Windows too.

## Release Note

RELEASE NOTE:

[2022-01-14 02:54] artursouza commented on #2864
Support for this feature on Windows will be tracked in https://github.com/dapr/dapr/issues/4128

[2022-01-14 02:57] artursouza opened #4129 "Support UDS on Linux"
## In what area(s)?

 /area runtime

## Describe the proposal

Retroactive adding issue to track when this feature was added for Linux. It enabled Unix Domain Socket communication between app and sidecar.

[2022-01-14 02:57] artursouza commented on #2864
Retroactive creating issue to track when feature was added for Linux only: https://github.com/dapr/dapr/issues/4129

[2022-01-14 02:58] artursouza commented on #2864
This issue is now marked as an Epic, which means it is not fixed to a single milestone.

[2022-01-14 03:02] daixiang0 commented on #4129
On Win? Linux support has been implemented.

[2022-01-14 03:04] #3716 closed

[2022-01-14 03:16] #4129 closed

[2022-01-14 03:17] artursouza commented on #4129
@daixiang0 Yes, I added this to retroactive track that. Forgot to close.

[2022-01-14 03:24] #4126 closed

[2022-01-14 05:05] geekgao commented on #2675
That's useful

[2022-01-14 05:11] artursouza commented on #4119
/cc @amulyavarote

[2022-01-14 05:13] artursouza commented on #3837
Moving to 1.7 because we are cutting RC for 1.6.

[2022-01-14 05:16] artursouza commented on #3788
PR is merged. Closing.

[2022-01-14 05:16] #3788 closed

[2022-01-14 08:53] geertn opened #4133 "High cardinality of path label overloads Prometheus"
Related issue: https://github.com/dapr/dapr/issues/1624

Dapr 1.5.1

I'm using Prometheus to monitor Dapr sidecars. I've got a high volume service in which many different paths are being called. Therefore the path label has high cardinality and I'm ending up with huge amounts of data (20MB+ on each scrape run) and Prometheus memory usage.

We end up with huge amounts of time series like the follow

[2022-01-14 12:53] patrickhuber commented on #3787
Does it make sense to have a CRD for Plugins? I noticed when trying to integrate into Dapr core that I was coupling the component with the plugin definition, but Plugins have their own lifecycle and there is a 1:N relationship between a plugin and the components it provides.

Something like this:

[code]

I'm still trying to find better names for `process` and `image` as the two ways a plugin can

[2022-01-14 14:19] Taction commented on #3801
/assign

[2022-01-14 17:17] #4006 closed

[2022-01-14 17:57] dmitsh opened #4136 "v1.6 Endgame"
Release Coordinator: @dmitsh
Release Buddy: @amulyavarote

Code freeze: 01/13/2022
Endgame starts: 01/14/2022
Release date: 01/20/2022

Release Tasks:

- [x] No P0 issues before code freeze.
- [x] Code freeze at 12:00 pm 01/13.
- [x] Register new component (Alibaba) in dapr/dapr (@yaron2 )
- [x] E2E, certification and perf tests are passing (@dmitsh)
- [x] Update components-contrib certification t

[2022-01-14 18:12] mmisztal1980 commented on #2217
@artursouza will it be possible to "peek" the topics?

Scenario:
GIVEN I have a distributed system
WHEN a message fails to reach the recipient
THEN the message is delivered on to a deadletter topic
AND a dedicated dapr-enabled service can peek so I can reschedule it (automatically or on demand via ui)

[2022-01-14 19:26] berndverst commented on #4044
This is a good idea.

We should have a GitHub Action in every repo that forces an update to the `changelog.md` with each PR.

As for release notes process itself:

The current release notes script would be updated to import the various `changelog.md` files. The code for determining contributors doesn't need to be changed though.

The process otherwise will be unchanged -- the generated release not

[2022-01-15 08:30] pree-T commented on #4128
May I work on this? Can someone help me as I am new to open source contribution?

[2022-01-16 08:54] #3749 closed

[2022-01-16 09:57] 84819760 opened #4138 "Unable to initialize"
dapr init
⌛ Making the jump to hyperspace...
ℹ️ Installing runtime version 1.5.1
❌ Downloading binaries and setting up components...
❌ error downloading daprd binary: Get "https://github.com/dapr/dapr/releases/download/v1.5.1/daprd_linux_amd64.tar.gz": unexpected EOF

Tried for 7 days and failed to initialize. Is there any other way?

[2022-01-16 13:45] #3405 closed

[2022-01-16 23:14] #2582 closed

[2022-01-17 02:18] daixiang0 commented on #4138
Do you have a network issue when connected to GitHub?

[2022-01-17 02:21] daixiang0 commented on #4128
@pree-T happy to see it if you wish, you can read related issues/PRs/docs first.

[2022-01-17 02:54] 84819760 commented on #4138
There is a network problem and can not be solved, what exactly did init download and do? Is there a manual method?

[2022-01-17 02:56] 84819760 commented on #4138
There is a network problem and can not be solved, what exactly did init download and do? Is there a manual method?

[2022-01-17 04:54] ankitkgcs opened #4139 "Getting seprate traces for the same code flow."
## In what area(s)?

## Ask your question here
I am setup two applications behind nginx ingress with dapr [setup.](https://dev.to/stevenjdh/create-a-kubernetes-nginx-controller-with-dapr-support-3e8n) When I am making a synchronous call from serviceA to serviceB I am getting two separate traces. First trace for ingress to srevice A and another trace for calling serviceB  from service A using invok

[2022-01-17 11:43] abelperezok opened #4141 "Is it possible to make injector healthz port configurable ?"
## In what area(s)?

/area operator

## Ask your question here

Following up from PR https://github.com/dapr/dapr/pull/4120 if the setting `hostNetworks` is applied then it will use host network namespace which also includes the health check port, 8080 in this case.

I found it's currently hard-coded in this line:
https://github.com/dapr/dapr/blob/468638abdd3476d74628bb920bf7091a83a7fc33/cmd/injec

[2022-01-17 12:57] Taction commented on #4122
Thanks, I think the global configuration makes sense.
Add a configMap maybe named `dapr-config-sidecar` contains configuration items for the sidecar, injector gets this config map content at startup and uses configs defined as the default value. example:
[code]
Configs from annotions > configs defined in config map > default value.

WDYT? @yaron2

[2022-01-17 17:42] jjcollinge commented on #3787
Just to make sure I'm keeping up, are you suggesting that the plugin service should be configurable (via a CRD) so it can load different components depending on it's configuration (this feels similar to the initial language proxy suggestion where we can basically run a language stub that can the load different components in that language) or that we just use a CRD as a way to configure daprd on ho

[2022-01-17 19:30] patrickhuber commented on #3787
I'll try to break it down into the specific issues I ran into that
ultimately led me down the CRD path. Working code exists here
https://github.com/patrickhuber/dapr

Loading / Pulling: a plugin must be loaded. This can be done via convention
on the files system but at some point DAPR will probably need to pull the
plugins from a plugin registry instead of relying on users to drop files in
the cor

[2022-01-18 02:43] daixiang0 commented on #4141
@abelperezok yep, you can do it!

[2022-01-18 02:45] daixiang0 commented on #4138
@yaron2 please help move to CLI repo, it is a network issue indeed, maybe fixed by support offline init.

[2022-01-18 02:50] daixiang0 commented on #4065
ping @1046102779

[2022-01-18 04:29] #3623 closed

[2022-01-18 04:56] #3902 closed

[2022-01-18 10:35] jjcollinge commented on #3787
Thanks @patrickhuber for the detailed breakdown, appreciate your patience with me :).
I just want to clarify my understanding, there are 2 layers in this approach (if I grok your code correctly).
The 1st layer, is daprd launching and invoking an external gRPC service (a.k.a. Plugin Host) instead of a normal in-proc component.
The 2nd layer, is the Plugin Host launching and invoking a number of com

[2022-01-18 14:02] #3762 closed

[2022-01-18 14:06] ewassef commented on #3513
Do we have a new milestone for this?

[2022-01-18 14:48] trondhindenes opened #4143 "dapr reconnect logic with rabbitmq results in "channel not initialized""
## In what area(s)?
/area runtime
1.5.1

## Expected Behavior
We're seing that dapr loses contact with rabbitmq from time to time. Not sure why.
During reconnect, we're seeing this:

[code]

It seems that dapr's reconnect logic causes the app to go into a "channel not initialized", which it cannot recover from.
In this state, the health endpoint still returns "ok", which means that kuberneretes do

[2022-01-18 15:36] patrickhuber commented on #3787
Launching is launching a GRPC Server. It could be the act of starting a container or a process. I use the term "Plugin" to represent this GRPC Server. The components would be services within the GRPC Server. Once the GRPC Server process or container has started, the server can serve each component it contains.

I should have put a disclaimer on the code link 😆. It is a bit unorganized at the momen

[2022-01-18 16:05] yaron2 commented on #3471
@rajagopalanrg yes, you are not supposed to change the service type. these services are governed by the Dapr operator. If you want to expose new services, you need to create additional ones.

[2022-01-18 16:05] #3471 closed

[2022-01-18 16:16] trondhindenes commented on #4143
adding a bit more info here: The root cause of the failure is that this message exceeds the default 30m ack timeout in rabbitmq. Still, I would except dapr to either be able to reconnect to the broker or start reporting unhealthy state on its `health` endpoint when ending up in this situation.

[2022-01-18 17:32] jjcollinge commented on #3787
Ah I think I see the root of my confusion. I thought you were suggesting `daprd` called the gRPC service that was defined in https://github.com/patrickhuber/components-contrib/blob/master/state/plugin/host.go which then loaded and called the plugins in https://github.com/patrickhuber/components-contrib/tree/master/state/plugin/fixtures/. But is `host.go` just the way you were testing this before i

[2022-01-18 17:35] patrickhuber commented on #3787
Correct, I moved all of the code out of components-contrib

On Tue, Jan 18, 2022, 12:32 PM Joni Collinge ***@***.***>
wrote:

[2022-01-18 21:00] jjcollinge commented on #3787
Great, I'm on the same page as you now - sorry about the confusion! :D

So here is a bit of a brain dump.

I think the plugin lifecycle interface should include ways to:
- Launch the plugin
- Probe the plugin (startup, liveness, readiness)
- Close/Kill the plugin (important when gracefully cleaning up or running as a Job)
- Attach to a plugin (what happens when daprd restarts etc.)

There will be

[2022-01-18 22:10] R-Lamberson commented on #4031
@jjcollinge I have resolved the errors that were occurring
1) implemented the daprClientBuilder using dependency injection and modified the areas where the daprClient was being used to wrap the instantiation of the daprClient as part of using to make sure the any unmanaged resources were being released.  This cleared a substantial number of the original issues

<img width="484" alt="image" src="ht

[2022-01-18 23:35] patrickhuber commented on #3787
I'll take a look and see how much more difficult or easy it is to return a single instance vs multiple. It may just be a matter of hard coding service names on the client and server.

Yes, that works.

The component CRD will simplify things and eliminate a lot of the plumbing code @jjcollinge mentioned above. I think the goal for kubernetes is to launch this as a container in the pod and not as a

[2022-01-19 03:19] 1046102779 commented on #4065
@daixiang0 @artursouza @yaron2

Example after we transform dapr, as follow:

# component
## bindings.http
specify nameresolution:  polaris
<img width="495" alt="wecom-temp-f5bd6c9d79adf30247c05015e7059f63" src="https://user-images.githubusercontent.com/20457624/150056993-3406910f-b75f-4907-b637-8f3ec174e68d.png">

## nameresolution.polaris
<img width="1363" alt="wecom-temp-5945be8c03d96efb739a99a6

[2022-01-19 06:30] fanfanbj commented on #1907
/assign

[2022-01-19 07:34] jjcollinge commented on #3787
Awesome, sounds good. Yes running within the pod will keep things on localhost. We do allow the use of token auth for the Dapr API on localhost as an extra layer of security which we might think about with plugins but let's not stress about that for now. I think at a later point, supporting hosted plugins (remote) might be a neat extensibility model which would require transport encryption but we

[2022-01-19 08:06] AvtsVivek opened #4148 "The stop button in the dashboard is not clearly visible."
A minor issue, in the dark mode, the dashboard stop button is not very clear. Version is 1.5.1

![image](https://user-images.githubusercontent.com/41255281/150089374-7070ff44-ad21-4f83-8fcc-e189ac1a1a8e.png)

## In what area(s)?

## What version of Dapr?

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2022-01-19 08:27] darren-wang commented on #4059
I found a solution to set timezone for both control plane and sidecar, tested on v1.5.1 official image from docker hub.
- control plane: edit each control plane service's Deployment yaml, add `TZ` env, e.g. for China:

[code]

- sidecar: add `dapr.io/env` in app's Deployment yaml, e.g. for China:

[code]

then both control plane and sidecar will log with correct time zone.

I think this should clo

[2022-01-19 08:27] #4059 closed

[2022-01-20 02:10] artursouza commented on #4136
Docker image for the UI app in the distributed-calculator quickstart does not work anymore. After [this fix](https://github.com/dapr/quickstarts/commit/26ae0d06cc352a9cc91c3945e5f1e7d91359f676#diff-5297e5faca7acd7134e4d7cb33f9dc87632c6a471f65a5782636e1082e3d635f), it has a new error. When opening http://localhost:8080, the browser shows a error message:

[code]

To repro:

[code]

Then, open http:

[2022-01-20 02:14] daixiang0 commented on #4148
@yaron2 please help move to dashboard repo.

[2022-01-20 02:14] daixiang0 commented on #4143
30m timeout is too long I think, is it a real case?

[2022-01-20 11:22] trondhindenes commented on #4143
could you explain a bit more?

[2022-01-20 21:47] tillig opened #4150 "Dapr dashboard doesn't show local app-only components"
## In what area(s)?

/area runtime

## What version of Dapr?

1.5.1

## Expected Behavior

I have installed Dapr using the slim option `dapr init -s` because I want to be very specific about what services are available to various applications I'm working on. For example, we don't have Zipkin in our Kubernetes cluster so I don't want that just "globally available" during local development.

I have

[2022-01-21 01:04] halspang opened #4152 "Investigate RocketMQ Increased goroutine Count"
RocketMQ had to be removed from the 1.6 release because importing caused an increase of ~30 goroutines. This was seen as too large an increase and should be investigated before we can include it in the dapr runtime.

![image](https://user-images.githubusercontent.com/70976921/150446835-03a763f9-519f-4b1a-a6a0-3a92f3822942.png)

[2022-01-21 01:04] halspang commented on #4152
@x-shadow-man, I saw you added RocketMQ, would you be a good person to investigate this as well?

[2022-01-21 02:30] #3759 closed

[2022-01-21 02:38] daixiang0 commented on #4143
I think 30m timeout is unacceptable in common cases, so want to confirm it is a special use case?

[2022-01-21 05:47] #4034 closed

[2022-01-21 09:24] trondhindenes commented on #4143
We have messages that take more than 30 minutes to process.

[2022-01-21 09:56] jjcollinge opened #4153 "Proposal: Configurable gRPC Middleware Pipelines"
/area runtime

## Describe the proposal
Allow Dapr to support user configurable gRPC middleware (interceptor) pipelines. I propose that we use a similar structure to how we currently support HTTP pipelines to make it consistent. This includes the definition of the middleware as components and the configuration of the middleware pipeline itself using the configuration file.
GRPC interceptors are di

[2022-01-21 12:56] fanfanbj commented on #3565
/assign

[2022-01-21 17:17] #3736 closed

[2022-01-21 19:54] fbridger commented on #4112
@viveknuna Check this issue: https://github.com/dapr/dapr/issues/3664 to see if you are encountering the same limitation.

In a nutshell, the same Application can only subscribe to an event **ONCE**

[2022-01-22 02:47] edetime opened #4187 "who can help me for this error ,thanks！"
info: Microsoft.AspNetCore.Hosting.Diagnostics[2]
Request finished HTTP/1.1 GET http://192.168.13.70:30069/swagger/index.html - - - 404 0 - 2.8432ms

 {"EventId":2,"LogLevel":"Information","Category":"Microsoft.AspNetCore.Hosting.Diagnostics","Message":"Request finished HTTP/1.1 GET http://192.168.13.70:30069/swagger/index.html - - - 404 0 - 2.8432ms","State":{"Message":"Request finished HTTP/1.1

[2022-01-22 03:34] yaron2 commented on #4065
Thanks, will take a look

[2022-01-22 03:38] viveknuna commented on #4112
@fbridger you've misunderstood my question. Please read again.

[2022-01-23 00:59] yaron2 commented on #3713
@jigargandhi are you looking into this?

[2022-01-23 06:10] artursouza commented on #4136
I have validated the quickstarts on ARM64 standalone mode (including binding since I used the `ripplemotion/kafka:latest` image) and K8s. The only thing I could not validate was binding quickstarts for K8s since I could not find a helm installer for Kafka and Zookeeper on ARM64.

If anyone is interested, this is the docker compose for Kafka to work with ARM64:
[code]

[2022-01-24 06:00] jigargandhi commented on #3713
@yaron2 Sorry, not at the moment

[2022-01-24 10:38] shubham1172 commented on #3911
@msfussell @greenie-msft there are still some repos with non-Apache licenses. Should we update their licenses too?

Repo| Current License
--|--
https://github.com/dapr/helm-charts |none
https://github.com/dapr/generator-dapr| none
https://github.com/dapr/samples| MIT
https://github.com/dapr/setup-dapr| MIT
https://github.com/dapr/ApplicationInsights-LocalForwarder| MIT
https://github.com/dapr/work

[2022-01-24 11:13] shubham1172 opened #4158 "Remove dependencies with "bad" license."
All third-party dependencies for Dapr must comply with CNCF licensing policies - See [Allowed third party license policy | cncf/foundation](https://github.com/cncf/foundation/blob/main/allowed-third-party-license-policy.md)

## Action items

- [x] identify such dependencies across repos (runtime, cli, go-sdk, dashboard, kit, components-contrib)
- [x] find alternate libraries to replace them with
-

[2022-01-24 11:20] shubham1172 commented on #4158
/assign

[2022-01-24 11:45] rabollin commented on #4158
The list of Repos include Components Contrib too.
Include the automated workflow to identify non-compliant licenses for future check-ins as 5th item in the  action items.

[2022-01-25 02:14] daixiang0 commented on #4158
/cc @artursouza related issue https://github.com/dapr/dapr/issues/3591

[2022-01-25 09:13] PeterGerrard commented on #3793
@fjvela Any updates? Do we need to bring a TLS certificate even if we've disabled mTLS?

[2022-01-25 11:16] wymli opened #4162 "How can I access redis zset using dapr?"
## Ask your question here
If I use dapr's statestore to access `redis`, how can I use types such as list, zset, etc.?
According to the documentation, it seems that only kv storage can be used.
Thanks

[2022-01-25 12:24] mhozhda-agiliway commented on #3826
@yaron2 Not sure what has been changed but I can confirm it now works as expected in the last version. Thanks!

[2022-01-25 12:24] #3826 closed

[2022-01-25 14:29] patrickhuber commented on #3787
I think I found a good place to inject into the runtime. Extending the secret store dependency preprocess to plugins. This ensures the plugin component is loaded before the components that it serves. Thia change adds an optional field to the component called "Plugin".

Changes are here https://github.com/patrickhuber/dapr.

I'm going to spend the next few days cleaning the code up and testing the

[2022-01-25 17:09] yaron2 commented on #2817
@seeflood @kevinten10 the API spec SIG is now formally established with you both as co-chairs. Congrats :)

We've created a [dedicated repository](https://github.com/dapr/sig-api) (which you're both now maintainers of, look for a GitHub invite in your email) and a [Discord Channel](https://discord.com/channels/778680217417809931/935578420589522984).

All work, designs and discussions should now oc

[2022-01-25 18:56] trondhindenes commented on #4067
Just to comment on this, I just tested dapr 1.6.0 since there's a lot of robustness changes in it, and as far as I can see, here's what's happening:

- the "graceful timeout" setting is now configurable (was hard-coded to 5 secs before), that's great.
- when the pod goes into a "terminating" state, dapr will finish off in-flight messages and stop picking new ones
- however, when in a terminating s

[2022-01-25 19:42] halspang commented on #3934
/assign

[2022-01-25 22:21] ryou90 commented on #501
Removed from 1.6. but not in Milestone 1.7?

[2022-01-25 23:48] shell931 opened #4165 "Size statestore Dapr to Gcp"
I'm using the statestore compont to save an state on gcp firestore, i need save and state encypted with State.Encryption: https://docs.dapr.io/developing-applications/building-blocks/state-management/howto-encrypt-state/, the problem is that when I save a long state i get this error:

 datastore: string property too long to index for a Property with Name "Value"","grpc_status":13}

The problem is

[2022-01-26 00:00] yaron2 commented on #4165
Does this work without encryption?

[2022-01-26 06:14] 1046102779 commented on #4162
bindings.redis currently supports `set` command, other commands are not supported

[2022-01-26 06:34] 1046102779 commented on #4065
@yaron2 @artursouza @daixiang0

 How do you think of this proposal? Looking forward to your opinion

[2022-01-26 07:28] yamashita-akino commented on #3169
Organization/Company: FUJITSU CLOUD TECHNOLOGIES LIMITED
Website: https://fjct.fujitsu.com/
Country: Japan
Contact: iaas-oss-info@list.fjct.fujitsu.com
Usage scenario: Using Dapr for applications that operate virtual infrastructures
Status: Production

[2022-01-26 08:30] mukundansundar commented on #3991
@yaron2 @artursouza For this issue, as @pkedy mentioned, should we directly make use of the CloudEvents Proto instead of modifying the existing flow ? https://github.com/cloudevents/spec/blob/v1.0.1/spec.proto

[2022-01-26 09:15] #4038 closed

[2022-01-26 09:21] gverstraete opened #4166 "Dapr Reminders not firing"
We are currently Dapr Actors where each actor represents a device, and when a device becomes inactive, we want to get notified.
We were looking at the docs and found out about the Dapr reminders.

Based on what we understood from the documentation here, https://docs.dapr.io/developing-applications/building-blocks/actors/howto-actors/#actor-timers-and-reminders. Reminders would get triggered in any

[2022-01-26 12:29] #4043 closed

[2022-01-26 14:10] jjcollinge opened #4167 "Proposal: Use CEL for Middleware Selectors"
/area runtime

## Describe the proposal
In 2020 I opened a [PR](https://github.com/dapr/dapr/pull/1557) that was abandoned that added a fairly naïve approach to using the middleware selector property to apply middleware to specific Dapr endpoints. Rather than using a custom expression as was done in the original PR, I propose that we try to use CEL (which is already used in pubsub routing) instead

[2022-01-26 15:03] #4162 closed

[2022-01-26 15:15] shell931 commented on #4165
When I put State.Encryption as false does not generate any problem, only happens when State.Encryption is true

[2022-01-26 15:57] shell931 commented on #4165
I have tried with  State.Encryption as false and only i can add some extra data and I get the same problem

datastore: string property too long to index for a Property with Name "Value"","grpc_status":13,

I think it should depend of the size in fire store but not a limitation from Dapr with Name "Value"","grpc_status":13, I think it should depend of the size in fire store but not a limitation fro

[2022-01-26 19:08] fdauri opened #4168 "Pub/Sub permission for Service Account on Kubernetes"
## In what area(s)?

/area runtime
/area test-and-release

## Ask your question here

Dear Dapr Team,

I'm trying to deploy a Pub/Sub component using Kafka on Kubernetes. The Kubernetes cluster has fine grain permession for service account. I obtain the following error:

components.dapr.io "pubsub" is forbidden: User "system:serviceaccount:dapr-poc:dapr-poc-sa" cannot get resource "components" in

[2022-01-26 21:24] #1657 closed

[2022-01-27 00:59] #3918 closed

[2022-01-27 01:59] halspang commented on #3934
## Overview

As this is a non-versioned API, backwards compatibility will be important. As such, we have a couple ways of doing things:

1. Add a version field in the payload and create a new version of the object (mapping a v1 -> v2 internally)
2. Make this an additive change where we just introduce new fields
3. A combination of the two above

This change will also impact the SDKs, so it'll be i

[2022-01-27 02:05] artursouza commented on #3934
I agree with this proposal 100%:
+ Make this a non breaking change and use the existing config as default.
+ Support a new header in the config response to future proof the API to support multiple version in the future.

The only thing I would change is to rename `actorPerTypeConfig` to `actorTypesConfig` or `entitiesConfig`.

[2022-01-27 02:12] #3888 closed

[2022-01-27 11:36] hdget opened #4169 "when using consul for service name resolution, consul not do health check correctly in v1.6.0, but it works well on v1.5.1"
## In what area(s)?
/area runtime

## What version of Dapr?

## Expected Behavior

Assume using dapr to spawn an gateway http server(using gin) like this
[code]

Here `go run main.go` try to start a gin http server and listen on port:8080

What we expect is the gateway service will be shown as healty in consul

## Actual Behavior

When using consul name resolution with dapr v1.5.1, the gateway ser

[2022-01-27 13:30] #4045 closed

[2022-01-27 17:11] amulyavarote opened #4170 "v1.7.0 Release Planning"
Release Coordinator: @amulyavarote
Release Buddy: @pravinpushkar
Build and Test Champion: @amulyavarote

Preflight check:  03/08/2022
Code freeze:  03/23/2022
Endgame starts:  03/24/2022 - https://github.com/dapr/dapr/issues/4413
RC1 date:  03/24/2022 (earliest)
Release date:  03/30/2022

- [x] Retrospective of previous release v1.6.0

## Milestones

Dapr - https://github.com/dapr/dapr/milestone/1

[2022-01-27 18:36] yaron2 commented on #4169
Can you explain a bit more about the workaround you did?

[2022-01-27 22:33] berndverst opened #4171 "Make Sidecar injection resilient in case of Kubernetes API interruptions / admissions webhook failures etc"
## In what area(s)?

/area injector
/area sidecar-injector

## Describe the feature
Dapr Sidecar Injector is responsible for handling the creation of Dapr sidecars and injecting the Dapr Trust Bundle secret from the Dapr-System namespace. Internally this approach uses the Kubernetes `MutatingAdmissionWebhook` feature.

On occasion the MutatingAdmissionRequest to the webhook which is registered to

[2022-01-27 22:33] berndverst commented on #4171
/area operator

[2022-01-28 00:16] halspang commented on #3934
Going through this a bit, I'm modifying the updated config to keep `actorScanTimeout` a global value. Reasoning for this is:

1. Individual scan intervals could mean a goroutine for each actor type. Non-bounded goroutines don't sound great.
2. Avoiding a goroutine for each means using the smallest scan interval or grouping the values. This is basically a global config anyway.

Config looks very si

[2022-01-28 02:14] rehth opened #4173 "Proposal: Cross-language actor api generation"
## In what area(s)?

/area operator

## Describe the proposal

Through an interface description file(`*.proto`), the actor api file of the corresponding language is generated by the command line, for example:
`dapr gen actor --python/--golang`

[2022-01-28 02:33] yaron2 commented on #4141
Closed with #4155

[2022-01-28 02:33] #4141 closed

[2022-01-28 05:12] pravinpushkar commented on #4170
Release buddy

[2022-01-28 05:28] #4173 closed

[2022-01-28 07:00] LaurenceLiZhixin commented on #3906
My colleague Lan Luo raised a problem with the existing design. My current design is based on the config's key granularity model. For example, if there are multiple subscribe operations of the configuration of key "myKey", one unsubscribe operation for "myKey" will impact all previous subscribe operations.
But with a granularity of the whole subscribe operation, each call to subscribe returns a sp

[2022-01-28 07:01] LaurenceLiZhixin commented on #3906
My colleague Lan Luo raised a problem with the existing design. My current design is based on the config's key granularity model. For example, if there are multiple subscribe operations of the configuration of key "myKey", one unsubscribe operation for "myKey" will impact all previous subscribe operations.
But with a granularity of the whole subscribe operation, each call to subscribe returns a sp

[2022-01-28 07:31] #3878 closed

[2022-01-28 07:41] #3532 closed

[2022-01-28 10:19] abelperezok opened #4174 "Configure sidecar-injector health check port via helm"
## In what area(s)?

## Describe the feature

Following up from https://github.com/dapr/dapr/issues/4141 and https://github.com/dapr/dapr/pull/4155. If using `hostNetwork: true`  there is a chance of port collision since the default value 8080 is a very popular choice.

The injector has already a command line flag to configure what port to use for health check, this is a step further and update th

[2022-01-28 14:11] jigargandhi commented on #3921
/assign

[2022-01-28 15:29] Cowlord711 commented on #4124
I can try to work on this

[2022-01-28 17:02] jjcollinge commented on #2950
@artursouza I think if #4167 get's accepted and implemented, then we could revisit this. Like you previously said, we'd need to add a way in the runtime to call the state store from the middleware but this should be doable. Middleware is actually a place where it makes a lot of sense to make components available. Longer term we should expect custom/pluggable middleware and these would be an extens

[2022-01-29 02:23] yaron2 commented on #4124
That's much appreciated. We're here to assist!

[2022-01-29 02:55] berndverst commented on #4171
This issue may also come in handy in case an existing deployment is modified with dapr annotations when it previously didn't have dapr annotations. I'm unclear on the behavior today (haven't further looked into this).

[2022-01-29 17:09] yaron2 commented on #4171
An existing deployment with added annotations will get the sidecars injected.

[2022-01-30 09:24] #4053 closed

[2022-01-31 01:54] artursouza commented on #1907
@fanfanbj Do you think this can be done for 1.7? Release date will probably be within 45 days.

[2022-01-31 04:48] mukundansundar commented on #3911
Being worked on.

[2022-01-31 04:54] shubham1172 commented on #3911
/assign

[2022-01-31 05:03] shubham1172 commented on #3911
Updated https://github.com/dapr/dapr/issues/3911#issuecomment-1019955295 with the existing open PRs for updating license. @mukundansundar can you please help to close the PRs?

[2022-01-31 06:04] #3908 closed

[2022-01-31 06:58] shubham1172 commented on #4158
https://github.com/cncf/foundation/issues/292 to track the clarification for third-party storage policies.

[2022-01-31 08:36] XavierGeerinck opened #4178 "Configuration API: Not able to listen to all key changes"
## In what area(s)?

/area runtime

## What version of Dapr?

1.6.0

## Expected Behavior

When running the configuration API without providing the keys I would expect to listen to all key changes.

Test highlighting this: https://github.com/dapr/js-sdk/blob/f00326715ebdd8532e103547f55485dad4de7c0b/test/e2e/main.grpc.test.ts#L292

## Actual Behavior

It is not subscribing to anything, tests are fa

[2022-01-31 13:06] #3700 closed

[2022-01-31 16:27] CrazyHZM commented on #4178
/assign

[2022-01-31 17:21] yaron2 commented on #3906
@LaurenceLiZhixin returning a subscription ID is valid, and I agree that the API needs to support multiple subscriptions from the same app.

[2022-01-31 17:23] yaron2 commented on #4048
@Flern this will get fixed in 1.7.

[2022-01-31 18:32] #4136 closed

[2022-01-31 18:46] dmitsh opened #4182 "Add support for k8s v1.23"
k8s version v1.23 has been released. Need to update e2e test to include it.

[2022-01-31 19:33] #4182 closed

[2022-01-31 21:45] yaron2 commented on #3820
@lihanping2016 did you close this because you were able to get the value?

[2022-01-31 23:14] yaron2 opened #4185 "Dapr retries forever when app is erroring on subscriptions"
Dapr's subscription configuration for retries relies on the default maxRetries as -1, which means infinite. In the event of a connection error from the app when calling the `/dapr/subscribe` endpoint, Dapr would continue retrying indefinitely.

[2022-01-31 23:52] #4185 closed

[2022-02-01 00:46] subash89 opened #4188 "Enhance dapr_rbac ClusterRole for more restricted Kubernetes RBAC Environments"
I am using 1.5.1 dapr `version.`

Example of following code snippet.

`kind: `ClusterRole`
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: dapr-operator-admin
rules:
- apiGroups: ["*"]
  resources: ["customresourcedefinitions", "serviceaccounts", "deployments", "statefulsets", "services", "configmaps", "secrets", "components", "configurations", "subscriptions", "leases"]
  verbs: ["get"

[2022-02-01 21:50] #3814 closed

[2022-02-02 09:31] shubham1172 commented on #4158
Here are a list of CNCF exceptions for licenses https://github.com/cncf/foundation/blob/main/license-exceptions/cncf-exceptions-2019-11-01.json

[2022-02-02 09:56] Taction commented on #4143
This is related to components-contrib, fixed the reconnect logic.

[2022-02-02 09:56] shubham1172 commented on #4158
https://github.com/cncf/foundation/issues/294 to track Dapr dependencies that are non-compliant according to the guidelines, but used by other CNCF projects.

[2022-02-02 15:40] jjcollinge commented on #2950
Just mapping this out a little more. The main issue is how to get components into middleware (or other components) without breaking the current interfaces (as middleware is 3rd party we can't change that). So far my only thought is that we could maybe attach components to the context that is passed into middleware and other components but I'd have to prototype this to see if it'd even work. There

[2022-02-03 00:52] artursouza opened #4195 "Enable pub/sub fanout for StatefulSets"
## In what area(s)?

 /area runtime

## Describe the proposal

In the context of apps with multiple instances (PODs in K8s):

In addition to support `{uuid}` for ConsumerID, we should also support `{podName}` to populate it with the POD's name and have a persisted behavior where the ConsumerID does not change on restart. This can be useful across the board, including Kafka, where the ConsumerGroup

[2022-02-03 00:58] yaron2 commented on #4195
on Kubernetes, a pod restart will result in a different name. Kubernetes StatefulSets are objects that allow you to retain the name of the pod.

But more than that, each pod in a deployment should get the same, unique name, otherwise this will break all of Dapr's pub/sub at-least-once guarantees because different pod instances of an app will result in their own consumer groups. That is why we have

[2022-02-03 01:03] yaron2 commented on #4195
Setting {uuid} is the same as setting to {podName}, and setting {uuid} solves for #3332.

[2022-02-03 01:13] georgestevens99 commented on #3513
This is an important feature and I encourage you all to make a new milestone for it.  If I am reading the comments correctly it was scheduled for 1.6 and that got delayed, and now it is sitting there awaiting.

Going back to the original proposal "The proposal is to extract the components into separate go binaries that are individually (or logically grouped) into their own Pods or instances and in

[2022-02-03 01:15] artursouza commented on #4195
There is a difference. You might want the subscriber to be "sticky". The POD names are kept in a Statefulset.

[2022-02-03 01:31] yaron2 commented on #4195
Ok, as long as we're clear this will enable fan-out scenarios with checkpointing for stateful sets only, this should be good.

[2022-02-03 10:44] jjcollinge commented on #2950
Hey @mstrYoda, yh happy to chat tomorrow if you have time? If you are on the [dapr discord](https://discord.com/invite/ptHhX6jc34) I am user `jjcollinge#1054` - you can ping me on there or if you'd rather have a voice/video call we can set one up on discord too, I'll be free after 11:00am GMT.

[2022-02-03 11:30] akkie opened #4196 "Cross build the dev container image for ARM based architectures"
## In what area(s)?

/area test-and-release

## Describe the feature
Currently the devcontainer is only build for linux/amd64. On MAC based Silicon processors this containers will not start. So it's not possible to use the dev container on such machines.

## Release Note

**ADD** Devcontainer image for ARM architecture.

RELEASE NOTE:

[2022-02-03 19:15] #3911 closed

[2022-02-03 19:54] #4174 closed

[2022-02-04 01:36] georgestevens99 commented on #3787
Hello.  Thanks to all for all of the thinking and sketching that you have done on this topic.  One thing that could speed you on your way is asking what are the constraints on the behavior of a plugin?  Knowing constraints ahead of time acts to simplify design.  So you might ask:

- What behaviors can a plug in do?
- What behaviors can a plugin never do?
- More generally, what are example customer

[2022-02-04 06:22] sridharan-stitch opened #4207 "daprd doest not works with non-root access"
I tried with version 1.5.1 and 1.6.0 both got same issue.
dapr Works only with sudo in linux.
sudo ./daprd -version
**1.6.0**

if we use the same command without sudo.
./daprd -veriosn hang infinitely in linux.

due to this dapr cli hangs too

is there any way to fix this

[2022-02-04 10:47] Syuparn opened #4197 "gRPC Proxy connection between apps gets closed after mTLS TTL passed"
## In what area(s)?

/area runtime

## What version of Dapr?

1.6.0

## Expected Behavior

An app can request to another app via gRPC Proxy even after their sidecars renew mTLS certifications.

## Actual Behavior

gRPC Proxy connection closes once the sidecars renew mTLS certifications.

## Steps to Reproduce the Problem

I used a sample project to reproduce this issue (using gRPC proxy with hello

[2022-02-04 10:52] Syuparn commented on #4197
I suppose sidecars keep using the same connection for gRPC proxy even the certification is expired.

In HTTP invoke, connections are recreated if the current one is unavailable.

https://github.com/dapr/dapr/blob/ec4424851c4ec0650505ec4674d3999489d60952/pkg/messaging/direct_messaging.go#L157

implementation of `connectionCreatorFn`

https://github.com/dapr/dapr/blob/ec4424851c4ec0650505ec4674d3999

[2022-02-04 12:56] pravinpushkar opened #4199 "Change GH Workflow to publish to GitHub Registry in addition to Docker Hub"
## In what area(s)?

 /area test-and-release

## Describe the feature

Workflow to be implemented to publish images to GitHub container registry along with docker hub
## Release Note

RELEASE NOTE:

[2022-02-04 12:57] pravinpushkar commented on #4199
/assign

[2022-02-04 12:58] pravinpushkar commented on #4199
related to https://github.com/dapr/cli/issues/640

[2022-02-04 13:47] shubham1172 opened #4200 "Upgrade non-compliant com.fasterxml.jackson dependencies"
Per FOSSA scanning based on #4158, the following two dependencies are **unlicensed** and non-compliant with CNCF's guidelines.
1. https://github.com/FasterXML/jackson-datatype-jdk8
1. https://github.com/FasterXML/jackson-module-parameter-names

Both of them are also deprecated now, and it's recommended to use https://github.com/FasterXML/jackson-modules-java8 instead, which is also licensed with A

[2022-02-04 15:38] jjcollinge commented on #3256
@wcs1only would using Gossip directly not be a viable alternative to mDNS? I think based on [this article](https://www.consul.io/docs/architecture/gossip) even Consul uses Gossip under the hood.

[2022-02-04 16:39] yaron2 commented on #4197
That's the cause. A PR to fix this would be great 👍

[2022-02-04 16:50] yaron2 commented on #4170
Please link to the corresponding issue for the tasks above, and remove all POCs as they are not deliverables and shouldn't be tracked here.

[2022-02-04 16:53] msfussell commented on #4170
I would like to review the list of preview features and determine which are going to GA in the milestone. https://docs.dapr.io/operations/support/support-preview-features/

[2022-02-04 16:55] dmitsh commented on #2892
@jigargandhi , I have a question about your PR. Copying it here:
What is the rationale behind having content type as a separate member as opposed to a part of metadata? We already list content type in the metadata. Why to duplicate?

[2022-02-04 17:37] dmitsh commented on #2892
I would suggest that we don't need any code change to add content type support.

Here is what I would propose:

For gRPC API, we include `contentType` entry in the existing metadata. (refer to https://github.com/dapr/components-contrib/blob/master/metadata/utils.go#L36)

For HTTP API, we append URL with `metadata.contentType` query parameter.
For example, `POST http://localhost:3500/v1.0/state/mys

[2022-02-04 17:48] yaron2 commented on #4170
@amulyavarote I went ahead and removed the POCs.

[2022-02-04 18:18] artursouza commented on #4170
These are the things I am personally keeping on top of mind for this release.

Deliver Resiliency policies across all building blocks @halspang
Complete certification for prioritized Azure components
Complete Configuration API and Query State API support in .Net, Java, Javascript and Python SDKs
Assess and remove “bad” licenses based on FOSSA report @shubham1172
“Airgap” Dapr installer @shivamkm07

[2022-02-04 18:30] BrianMcBrayer commented on #4008
Any updates on this? Was this ever fixed?

[2022-02-04 18:37] dmitsh commented on #2892
I disagree. Nothing prevents us from defining mandatory parameters in the metadata. This approach will eliminate breaking changes in the future.

[2022-02-04 18:38] artursouza commented on #3513
This issue is still in the POC stage. We will not add it to a milestone until there is clarify in the design for this feature. The design work does not fit into a milestone because is not an artifact delivered to the end user. We have no question that this feature is important. We are working on the design phase now and it will be added to a milestone at the right time.

[2022-02-04 18:39] yaron2 commented on #3513
Ditto

[2022-02-04 18:42] artursouza commented on #2892
On the other hand, metadata was supposed to be used for component specific attributes. contentType is a cross cutting concern, similar to eTag.

[2022-02-04 18:45] yaron2 commented on #2892
If Content Type is not required (as suggested by @artursouza and I agree with that), then I think what @dmitsh suggested is better (include in metadata) because it better matches how it's currently handled in existing protocols (HTTP).

[2022-02-04 18:51] artursouza commented on #2892
Why eTag is not in metadata? This question is to mainly help surface the real criteria to "promote" attributes from metadata.

[2022-02-04 18:55] yaron2 commented on #2892
I absolutely think `eTag` should be in metadata as well. For historical reasons that didn't happen.

[2022-02-04 19:00] yaron2 commented on #2892
To be clear, I don't think it's a make-or-break if Content Type is in the request body or in metadata - it feels more natural to be in metadata.

[2022-02-04 19:24] mcrio commented on #4008
This is the patch, still awaiting the merge
https://github.com/dapr/dapr/pull/4020

[2022-02-04 19:50] halspang commented on #3934
Docs issue for it: https://github.com/dapr/docs/issues/2176

[2022-02-04 21:28] gunniwho opened #4202 "Multiple access control policies for a single app results in all of those operations being denied"
## In what area(s)?

/area runtime

## What version of Dapr?

1.6.0

## Expected Behavior

Expected app to be allowed to make a grpc service invocation when there is a policy in the access control config of the service being invoked that allows that app to perform that operation.

## Actual Behavior

When there are multiple policies in the service's access control config, none of them work.

## St

[2022-02-04 22:34] rodrigoscna opened #4203 "Missing options to configure dapr_rbac subchart"
## In what area(s)?

/area helm

## What version of Dapr?

All versions

## Expected Behavior

The Helm deployment for dapr_rbac should allow proper configuration of the secret-reader that is deployed by default.

## Actual Behavior

There are no available settings for the dapr_rbac helm chart.

## Steps to Reproduce the Problem

N/A

## Release Note

RELEASE NOTE: **ADD** New options available fo

[2022-02-05 01:29] paulyuk commented on #4196
Hey @akkie,

This is an issue that we're passionate about, and it's tricky.  To run on ARM64/applesilicon we need 1) a base image that works on silicon and 2) ARM compatible dependencies for all the SDKs/frameworks/runtimes used in all language flavors of the quickstarts.  Something that installs this whole 'kitchen sink' of dependencies is referred to by the VSCode project as a 'universal' image.

[2022-02-05 20:43] artursouza opened #4206 "[Proposal] Publish 4 Golden Signals for Observability"
## In what area(s)?

 /area runtime

## Describe the proposal

Measure and publish the 4 golden signals for observability from each sidecar to measure application health:

https://sre.google/sre-book/monitoring-distributed-systems/#xref_monitoring_golden-signals

[2022-02-06 03:23] yaron2 commented on #4206
Crossing with https://github.com/dapr/dapr/issues/4068.

[2022-02-07 00:39] patrickhuber commented on #3787
I managed to get a prototype of plugins working with daprd using standalone mode. Latest prototype is here: https://github.com/patrickhuber/dapr

Here is a gist for setting the plugin and the component that uses the plugin https://gist.github.com/patrickhuber/617a2fe3415b84d1a92649c16f8c4a9d . (replace my user directory with your own). You drop this in your components directory with any other comp

[2022-02-07 02:31] daixiang0 commented on #4207
`$ docker run -it -v $(pwd)/dist/linux_amd64/release:/app  --entrypoint=sh  gcr.io/distroless/static:debug-nonroot
~ $ /app/daprd -version
edge
~ $ /app/daprd version
FATA[0000] app-id parameter cannot be empty              instance=2917bdb1822a scope=dapr.runtime type=log ver=edge
`
Test with 1.6/master, all works, it seems your env issues.

[2022-02-07 13:16] rodrigoscna commented on #4203
/kind helm

[2022-02-07 15:01] jamuro77 opened #4209 "Not able to set ScheduledEnqueueTimeUtc metadata in PubSub component properly"
/area runtime

I am trying to set the **ScheduledEnqueueTimeUtc** metadata property when publishing a message to a **PubSub** component (Azure Service Bus behind the scenes) with **1.6.0** Dapr runtime version. So, following the documentation and as a quick start I'm using postman to send a POST request similar to this:

**POST** http://localhost:3500/v1.0/publish/jmdemospubsub/jmdemos?metadata.tt

[2022-02-07 16:00] rrati commented on #3787
Sorry to be late to the party.  I'm new to dapr and still trying to work through how this proposal would work.  My team has a strong interest in the external extensions functionality being designed here.  I'm a bit unclear on how a few things mentioned in this proposal are currently planning to work.  Namely:

1. Language agnostic for plugins
2. Downloading plugins from a server

2 seems like a pr

[2022-02-07 16:08] patrickhuber commented on #3787
GRPC is used to handle communication between plugin and daprd. The plugin can be developed in any language as long as it implements a GRPC server. I have some experimental examples of this here: https://github.com/patrickhuber/components-contrib/tree/master/state/plugin/fixtures/state (ignore rust and wasm directories as they are empty)

This is a distinct step that would be taken care of by some

[2022-02-07 16:10] jjcollinge commented on #3787
Nice work @patrickhuber I'll spin this up later this week and feedback ASAP 👍.

[2022-02-07 19:55] rrati commented on #3787
Ah, ok.  I got confused by the go plugin + server download bits.  Since it's all still grpc, I suppose the plugins on a server could be in any language.  I was thinking the method to communicate with a plugin wasn't grpc anymore, thus the downloaded plugins would be loading straight into dapr as go plugins or similar.

[2022-02-07 22:35] yaron2 opened #4212 "daprd loads components instead of skipping if exists when operator stream reconnects"
This issue is the root cause for https://github.com/dapr/dapr/issues/3946 and https://github.com/dapr/components-contrib/issues/1318.

In `daprd`, the check between the old component vs new component will determine they are not equal, and `daprd` will proceed with loading all existing components again. This will happen every time that a component is updated (just a label update, for example, that

[2022-02-07 22:37] yaron2 commented on #4212
cc @artursouza do we want to release this as 1.6.1? On one hand, we've had this bug since ~1.3.x, on the other hand, this is a pretty nasty issue.

[2022-02-08 00:43] daixiang0 commented on #4212
Agree.

[2022-02-08 00:54] #4212 closed

[2022-02-08 02:37] hdget commented on #4169
The workaround is set `app-protocol`  to `http` other than `grpc`, e,g:
- the command cause health check issue:
[code]

- the command doesn't have issue
[code]

[2022-02-08 05:23] #4008 closed

[2022-02-08 06:59] shubham1172 opened #4219 "Track dependency updates for armon/consul-api to meet compliance requirements"
**Problem**
https://github.com/armon/consul-api uses MPL-2.0 and is non compliant with CNCF guidelines. It is consumed in Dapr using two dependency paths as shown in the graph below:
![image](https://user-images.githubusercontent.com/22132944/152934122-86cad9de-80fe-4a0b-8024-fbcdc6a7d764.png)

**To do**
This is a two part work item
1. Update the https://github.com/kubernetes-sigs/controller-runti

[2022-02-08 07:00] shubham1172 commented on #4200
/assign

[2022-02-08 08:12] mstrYoda commented on #2950
Hi again, I just try to make some PoC for the cache middleware. I wrote a pseudo code for caching.

![image](https://user-images.githubusercontent.com/12763626/152944224-1bc9f5f1-d456-422e-88c9-3a90a07dde71.png)

I accessed the state store by defining a new function inside runtime.go. I saw that there is already an exposed method for pubsub (GetPubSub), a wrote similar function for state store:

!

[2022-02-08 09:40] 63hogan opened #4218 "Updating components such as pubsub, the old components is never closed when running in a Kubernetes mode."
## In what area(s)?
pkg/runtime/runtime.go

## What version of Dapr?
newest

## Expected Behavior
close old component before updating component with same pubsubname.

## Actual Behavior
when updating some pubsub component config,  the old should be closed.
[code]
when received update request, if the pubsubName is same as old component(maybe for  updating config?) it just replaced with the new comp

[2022-02-08 10:45] jigargandhi commented on #2892
@dmitsh Content type field in metadata is also fine. However, in that case we need standardization of what key means a content type. This standardization is necessary because we have many components and many SDKs and each can mean content type differently. For example Go SDK can add `contentType` in GRPC call and some http call may add `metadata.content-Type` as query string parameter. And one sta

[2022-02-08 12:33] gunniwho commented on #4197
Do you know if v1.5 affected by this issue as well?

[2022-02-08 12:50] Syuparn commented on #4197
The connection error is reproduced in v1.5.1 too.

[2022-02-08 12:52] gunniwho commented on #4197
Thanks!

[2022-02-08 14:38] lucasjellema opened #4221 "Incorporate new state store component based on Oracle Database"
## In what area(s)?

 /area runtime

## Describe the feature

Include reference to State Store component based on Oracle Database (as introduced in https://github.com/dapr/components-contrib/pull/1454 ) into Dapr runtime
## Release Note

RELEASE NOTE: **ADD** Introduce state store component backed by Oracle Database or OCI Autonomous Database

[2022-02-08 17:35] #4197 closed

[2022-02-08 17:36] yaron2 commented on #4197
This fix is merged, will be released with 1.7.

[2022-02-08 19:56] yaron2 commented on #4168
Does this help? https://github.com/dapr/dapr/blob/master/charts/dapr/charts/dapr_rbac/templates/ClusterRoleBinding.yaml

[2022-02-08 19:58] yaron2 commented on #4165
Looks like the is a limitation of the Google SDK:

https://code.googlesource.com/gocloud/+/refs/tags/v0.7.0/datastore/save.go
https://github.com/googleapis/google-cloud-go/issues/2949

[2022-02-08 19:59] yaron2 commented on #4218
Thanks, will be fixed in 1.7.

[2022-02-08 20:01] yaron2 commented on #3920
@thielepaul can you comment here with `/assign` please? :)

[2022-02-08 23:03] crgarcia12 commented on #4221
Wouldn't Postgre be better?

[2022-02-09 00:09] ewassef commented on #3513
How can I help here? I can bring a few dozen folks to assist with docs/designs etc if we can help get this done. We would very much like to standardize on Dapr more so that we are now, but only 1-2% of our developers are golang devs and contributing back is difficult. Having that flexibility of choosing your own language can allow us to extend and contribute back to the mainline, or if thats not d

[2022-02-09 07:33] thielepaul commented on #3920
/assign

[2022-02-09 07:36] mstrYoda commented on #4218
@yaron2 There is also another issue which I opened a time ago, it is automatically closed, is that issue will be fixed in 1.7 too? https://github.com/dapr/dapr/issues/3015

[2022-02-09 08:05] c-thiel opened #4224 "dapr & istio - mTLS disabled missing DAPR_TRUST_ANCHORS"
## In what area(s)?

/area runtime
/area operator

## What version of Dapr?
1.6.0

## Actual Behavior
I am running istio with dapr. I have installed dapr with helm using the following configuration in namespace dapr-system:
[code]

Upon sidecar injection with the following annotation in "namespace-b" with istio enabled I get the following error of dapr:

[code]

I am getting the following Error:
`

[2022-02-09 10:47] shubham1172 opened #4225 "Internal packages in Dapr"
Today, all our packages are packed in the `pkg` directory, which means anyone who depends on `github.com/dapr/dapr`, has access to all the exported functionality from `pkg`. However, a lot of code in `pkg` is internal to Dapr, i.e., it should not be a part of our public API. For example, https://github.com/dapr/dapr/tree/master/pkg/testing provides mocks for our internal unit testing.

Referring t

[2022-02-09 11:11] shubham1172 commented on #4219
External issues for tracking:
- https://github.com/rubenv/sql-migrate/issues/208

[2022-02-09 15:08] mmisztal1980 commented on #2217
@artursouza can you comment on the issue?  has it been delayed?

[2022-02-09 16:27] georgestevens99 commented on #3513
FYI -- The current work in this area is being done in Issue #3787.  And
thanks for your generous offer!

On Tue, Feb 8, 2022 at 7:09 PM Eddie ***@***.***> wrote:

[2022-02-09 17:56] brandonmaul opened #4226 "Add support for specifying a kubernetes namespace in Client SDK and Actor SDK"
## In what area(s)?

 /area placement

## Describe the feature

When using the Client SDKs or Actor SDKs, we should have the option to specify the exact kubernetes namespace which will contain our dapr-enabled app or actor. As of right now you can only [specify namespaces](https://docs.dapr.io/developing-applications/building-blocks/service-invocation/howto-invoke-discover-services/#namespaces) wh

[2022-02-09 19:37] artursouza commented on #2950
This is interesting and works well for HTTP. The next step would be to create clarity on how it would work with gRPC. Some SDKs communicate over gRPC primarily. If this feature is only over HTTP, it would limit its use.

At this stage, there is probably a challenge on how to make the middleware agnostic of protocol.

[2022-02-09 19:49] yaron2 commented on #2950
This looks good overall, although I have the following concerns/observations:

1. an HTTP request cache is many times something that doesn't need to be persisted in a database, but rather in-memory. Since requests do not inherently need to be stored centrally, it might be better to store the requests in-memory
2. Concerned over coupling together two components. If we accept the rational of the fir

[2022-02-09 20:05] artursouza opened #4227 "Switch from Service Account Tokens to Bound Tokens"
## In what area(s)?

 /area runtime

## Describe the feature
In some setups, the application's POD must run without access to K8s APIs. On the other hand, the Dapr sidecar crashes as in #3667. The sidecar should still work without access to K8s API, such as when `automountServiceAccountToken: false` is set at the pod.

## Release Note

RELEASE NOTE: Allow sidecar to run in pods with `automountServ

[2022-02-09 20:13] yaron2 commented on #4227
Without a service account token, there is zero validation on the pod identity in Kubernetes and this presents a risk for clusters that users control (99.9% of Dapr use cases I imagine).

What needs to be done is the same thing Linkerd did and switch to Bound Tokens: https://linkerd.io/2021/12/28/using-kubernetess-new-bound-service-account-tokens-for-secure-workload-identity/.

But we should allow

[2022-02-09 20:27] esfitsMack commented on #4038
I have this same issue...it's intermittent. Multiple event hubs on the same instance w/ no issue but there is one event hub that functions fine for about a month then fails. No errors. Messages just build up and the subscribing service on ServiceFabric no longer "sees" messages on the event hub. Restarting the service does nothing even though the connection to EH is reestablished. The only solutio

[2022-02-09 20:29] berndverst opened #4228 "[Proposal] Criteria for Preview Feature & Experimental/Alpha API stable designation"
/area docs

This proposal intends to formalize under which circumstances Preview features and Experimental / Alpha APIs may graduate to stable (or default) features.

## Proposed Criteria
- SDK support in Go, Python, Java, JavaScript, .NET [if new API or API change]
- Partner with other SDK maintainers to create implementation plan [if new API or API change]
- Must support HTTP and gRPC [if new AP

[2022-02-09 20:33] berndverst commented on #4228
Additional thoughts:

When an experimental API / Alpha API is made stable for a period of 1 release alias the API to be available under the preview name and the new stable name.

When a preview feature graduates to stable it is enabled by default. Offer a way to optionally disable the feature for a limited period of time.

[2022-02-09 20:36] halspang opened #4229 "Actor reminder rename can leave reminder deleted in failure scenario"
## In what area(s)?
/area runtime

## What version of Dapr?
1.6

## Expected Behavior
If a rename fails, the existing reminder should still be present.

## Actual Behavior
If the method fails anywhere after the `DeleteReminder` call, the reminder will not be put back and is thus lost. This can happen if:

- The statestore has any failure while storing the reminder
- If the `evaluationBusy` flag is

[2022-02-10 04:10] rahulpoddar-fyndna commented on #3642
We are also looking for this feature, where we can pass custom headers while invoking
1. invokeBinding when kafka is configured (kafka.binding). This works fine when using with http binding. But does not work as expected while using with kafka binding.
2. publishEvent when using with kafka.pubsub
Above using java SDK.

[2022-02-10 04:45] CrazyHZM opened #4231 "The test result files are not all added to .gitignore"
For example:  test_report_e2e.xml

[2022-02-10 06:28] c-thiel commented on #4224
I re-installed dapr this morning, deleted all components and re-applied them. Without adding a single commit to the helm chart it is now working. Maybe I was just a little too fast in applying some annotations. Nevertheless, it's working now. Closing the issue.

[2022-02-10 06:28] #4224 closed

[2022-02-10 10:25] mstrYoda commented on #2950
I do not have any knowledge of grpc request flow but I will definitely take a look into that.

Thank you for your thoughts.
1- If we cache in memory, we couldn't take advantage of shared cache for different pods. The same request handled by different pods will have a different cache in memory. This increases the overall memory usage. But it might be an option for users.
2- Currently I do not have

[2022-02-10 14:38] brandonmaul commented on #4226
Is it possible to ask if this can be added to the [v1.7 milestone](https://github.com/dapr/dapr/milestone/13)? Or is it too large of a feature request?

[2022-02-10 16:57] gdlcf88 opened #4233 "Outbox pattern for statestore + pubsub in Dapr"
/area runtime

## Overview

Hi guys. Maybe Dapr could provide an outbox & inbox infrastructure since any distributed app development framework needs it to make sure domain events are published and subscribed.

This issue only discusses outbox, I will continue to think about the inbox later and create another [issue for the inbox](https://github.com/dapr/dapr/issues/4247).

## Why the Outbox Patter

[2022-02-10 17:04] #4231 closed

[2022-02-10 17:12] yaron2 commented on #4226
It's probably too large for 1.7.. I'll put it in for 1.8 for now.

[2022-02-10 17:14] brandonmaul commented on #4226
Yay the first v1.8 feature! thank you 😊

[2022-02-10 20:42] berndverst opened #4234 "[Proposal] Sidecar Performance Requirements for New Components"
/area runtime
/area docs

## Sidecar Performance Criteria for New Component Additions

Background: Today Dapr maintainers accept virtually every new component addition into the runtime. This has proven to be problematic when component contributions and their dependencies were not carefully examined for performance impact on the overall sidecar.

After some internal discussion the Microsoft team pr

[2022-02-10 21:00] shobhitkasliwal-onbe opened #4235 "Adding custom Tags to the traces"
when dapr send traces to collector it adds few predefined tags. I could not find a way to send custom tags. These custom tags could be helpful in troubleshooting or matching logs and traces. I think http header or grpc metadata can we utilized to allow adding custom tags. Please let me know if there is already a way to add custom tags in any way ?

[2022-02-11 00:37] georgestevens99 commented on #4233
Thanks for the helpful diagrams and reference links.

Another good reference link is https://microservices.io/patterns/data/transactional-outbox.html.  This is less than 3 pages including a useful diagram.

[2022-02-11 03:05] daixiang0 commented on #4225
In fact, we do not have a real "public API", I do not see harmful problems about being called by others, maybe I miss something important?

[2022-02-11 03:05] #3947 closed

[2022-02-11 04:19] shubham1172 commented on #4225
Yes, I was coming from more of a best practices point-of-view than a bad actor one.

[2022-02-11 04:42] msfussell commented on #2892
For me it would be great to see the whole picture to assess this statement from @jigargandhi, which occurs everywhere.
"Since we want a unique way to define content type we might need to hard code the string contentType (going by go's naming convention) in components-contrib, dapr, and all the SDK repos and also document this constant in docs."

However if this is unachievable now, since content t

[2022-02-11 06:38] gdlcf88 commented on #4233
The diagrams above are simplified, in fact, I think the Outbox & Inbox pattern should be put into separate new components, maybe named `outbox` and `inbox`.

So if someone needs to publish a traditional message directly, he just calls the pubsub API as before.

[2022-02-11 13:45] shubham1172 opened #4236 "Fixing dependencies with bad license in Dapr SDKs"
Related to #4158

The objective of this issue is to clean up all dependencies across our SDKs which are not compliant with the CNCF guidelines for licensing - See [Allowed third party license policy | cncf/foundation](https://github.com/cncf/foundation/blob/main/allowed-third-party-license-policy.md). A similar exercise is on-going for other repos - runtime, components-contrib, kit, dashboard, and

[2022-02-11 15:13] gverstraete commented on #4166
I found the reason, it seems there was a runtime mismatch. On the k8s cluster v1.4.0 was installed. We were using SDK v1.5.0. After aligning, it seems to work!

[2022-02-11 15:13] #4166 closed

[2022-02-11 21:10] berndverst opened #4237 "increase mTLS service invocation retry interval"
In order to aid with the replacing of TLS certificates, this is a proposal to try mTLS service invocation requests for a period of 60 seconds (?) in case a certificate mismatch is encountered.

This would allow for more time to restart applications without errors in case of Dapr control plane TLS certificate upgrades

[2022-02-11 21:29] yaron2 commented on #2892
I support using `metadata` query params for HTTP. @dmitsh what's the proposed gRPC implementation?

[2022-02-11 21:38] dmitsh commented on #2892
The gRPC API already has metadata as part of the request objects.
We would need to change some of the SDKs (including go-sdk) to allow passage of the metadata.

[2022-02-12 21:43] patrickhuber commented on #3787
I spent some time removing the "run.*" metadata properties from the config and in the process have come up with a pattern for using plugins in kubernetes mode I'd like others to review. This should allow the same component files to be used in standalone and in kubernetes mode. I have code changes that I haven't checked in yet, but I'll do so when I get them tested. Plugins deviate slightly from st

[2022-02-14 08:26] fanjianfeng2014 opened #4239 "trace with zipkin"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

## Ask your question here
when I integrate trace with zipkin, some questions :
Api gateway(APISIX    has zipkin plugin)   route to  upsream service (dapr  service)
dapr configured zipkin io，but

[2022-02-14 11:54] nunofilipecosta opened #4240 "`enable-profiling` & `enable-debug` don't work"
## In what area(s)?
/area runtime

## What version of Dapr?

## Expected Behavior

## Actual Behavior

As per documentation ( https://v1-5.docs.dapr.io/operations/troubleshooting/profiling-debugging/ )  I should be able to set the annotation `dapr.io/enable-profiling: "true"`   and then `kubectl port-forward divideapp-6dddf7dc74-6sq4 7777:7777 `
Does not work
Also
( https://v1-5.docs.dapr.io/devel

[2022-02-14 13:48] rahulpoddar-fyndna opened #4241 "Dapr Authorization Code Grant and Bearer Flow Issue"
Issue with Dapr Authorization Code Grant and Bearer Flow Issue
Version : 1.5.0

We have two services.
Service A : Configured for Authorization Grant Flow (using google/git, test with both google and git)
Service B : Configured for Bearer Flow
Test Scenarios:
A. When OAuth is not configured.
     Service A is able to Invoke Service B Successfully. Works fine.

 B. When Authorization grant flow conf

[2022-02-14 17:46] dmitsh opened #4242 "state store query API: validate query JSON format change"
validate query JSON format change in e2e tests

[2022-02-14 19:34] hrkeni commented on #3103
Please keep this issue open as it is relevant

[2022-02-14 19:52] ewassef commented on #3513
@georgestevens99 That sounds great! this issue does mention State Stores only though, does it expand its pattern to other components as well? Our biggest gap is in the pubsub component at the moment and where we could use this the most

[2022-02-14 20:00] #4242 closed, assigned to dmitsh

[2022-02-14 20:16] yaron2 commented on #4240
Can you try adding the following annotation and see if you can port-forward?

[code]

[2022-02-14 22:02] georgestevens99 commented on #3513
@ewassef  Can you briefly state your needs in the area of pubsub?  What do you
need that is not there now, and how does that fit in to the area 3513 addresses?  Thanks.

Also the State Store work in #3787 is about is intended to serve as a POC for plugins in general so as to understand the best ways to approach a multi building block plugin.

Pardon the double response, but the first one had a typ

[2022-02-15 01:31] yaron2 commented on #3103
Reopened, sorry it took so long.

[2022-02-15 01:32] yaron2 commented on #3103
Dapr supports gRPC streaming today. If you have another use case, can you elaborate?

[2022-02-15 03:19] ewassef commented on #3513
No problems @georgestevens99.
Part of the pubsub additions we would like to make is integration with a schema registry (think of confluent and their interceptor in their clients) and secondly to allow for tokenizing or adding data to the cloud event payload. Most useful for us is the tokenization of the PII fields (marked so via their registered schema) that would submit the PII and return a token

[2022-02-15 04:52] berndverst opened #4244 "[Proposal] Process: Removing Components"
I propose we formalize a process for removing components from the Dapr sidecar.

Eligibility Requirement:
- This process shall only be applied to components that have been part of at least 4 releases.

Proposal:
- A Dapr Community member opens a GitHub issue to propose the removal of a particular component
- This issue is shared in Discord and applicable channels to solicit feedback
- A 60 day com

[2022-02-15 04:59] berndverst commented on #4244
It is unclear whether this should only be applied to components which have not graduated from Alpha state.

[2022-02-15 07:04] CrazyHZM commented on #4202
@gunniwho
I tried to reproduce several of the problems you mentioned, and found that except for the wildcard problem, the others did not reproduce. I added unit test and e2e to the sample you mentioned, and you can see if it is correct：
https://github.com/dapr/dapr/pull/4238
Regarding wildcard support, I will continue to work on this PR.

[2022-02-15 16:26] amulyavarote opened #4245 "Dapr side car is unable to handle many requests on pub-sub - Scaling Issue"
## In what area(s)?

 /area runtime

## Describe the feature
Dapr side car is not scaling when the load increases on pub-sub. When the application is trying to publish many messages, the error "connection refused" occurs.

The reference issue that was created in js-sdk repo.
https://github.com/dapr/js-sdk/issues/123

## Release Note

RELEASE NOTE:

[2022-02-15 16:31] #4245 closed

[2022-02-15 17:14] #2892 closed

[2022-02-15 17:33] berndverst commented on #3811
Depends on #4228

[2022-02-15 17:57] amulyavarote commented on #4119
/assign

[2022-02-15 19:28] gdlcf88 opened #4247 "Inbox pattern for pubsub in Dapr"
/area runtime

## Overview

Hi guys. Maybe Dapr could provide an outbox & inbox infrastructure since any distributed app development framework needs it to make sure domain events are published and subscribed.

This issue only discusses inbox, I will continue to think about the inbox later and create a new issue for it. Please also see the [Outbox pattern for pubsub in Dapr](https://github.com/dapr

[2022-02-15 19:51] artursouza commented on #3920
Reopening since the E2E test does not pass on Windows and should not be specific to mqtt.

[2022-02-15 20:08] dmitsh opened #4249 "redis state store: implement state query API and add e2e tests"
## In what area(s)?

/area runtime
/area docs
/area test-and-release

## Describe the feature

redis state store: implement state query API and add e2e tests

## Release Note

RELEASE NOTE:
**ADD** state store query API for Redis

[2022-02-15 20:08] dmitsh commented on #4249
/assign

[2022-02-15 21:37] hrkeni commented on #3103
@yaron2 Thanks. Our use case is the same that's described in the OP - sending a large file to another service (via HTTP POST with `Content-Type: multipart/form-data` without needing to buffer the request.

[2022-02-15 21:46] artursouza opened #4252 "[Proposal] Deprecate "legacy" gRPC service invocation API"
Now that we have "proxy mode" service invocation for both gRPC and HTTP, the old way of doing service invocation should be deprecated. It will also remove the code responsible for translating gRPC<->HTTP, which was already agreed by maintainers a while ago that is a bad idea.

## Describe the proposal

Deprecation notice for "legacy" service invocation APIs.

# Update

We cannot deprecate `/v1.0/i

[2022-02-15 21:55] yaron2 commented on #4252
There seems to be a misunderstanding, as we only have proxying for gRPC and not HTTP. The main (and most widely used) form of service invocation today uses gRPC under the covers, and so there is nothing to deprecate.

For now, removing the labels @artursouza until we get more clarity.

[2022-02-15 21:58] yaron2 commented on #4252
@artursouza if you meant to deprecate the [gRPC `InvokeService` method](https://github.com/dapr/dapr/blob/68d27d6cbecf56daf377f8a13191106297a84fa4/dapr/proto/runtime/v1/dapr.proto#L30) then please change the title from APIs to API and mention the specific method in gRPC.

To be clear, the gRPC -> HTTP path is one that we can for sure deprecate due to gRPC proxying.

[2022-02-15 22:08] artursouza commented on #4252
What about this https://docs.dapr.io/developing-applications/building-blocks/service-invocation/howto-invoke-discover-services/#additional-url-formats ?

[2022-02-15 22:11] yaron2 commented on #4252
These are additional calling endpoints for the calling app, they do not use HTTP proxying under the covers, but gRPC.

[2022-02-15 22:51] artursouza commented on #4252
@halspang @yaron2

What about this updated scope?

1. Deprecation notice of "old" gRPC service invocation method.
2. Deprecation notice of runtime for invocations of type gRPC -> HTTP or HTTP -> gRPC.

[2022-02-15 22:55] yaron2 commented on #4252
Looks good, with the one caveat that HTTP -> gRPC we cannot remove. Just as an FYI, I also don't think we should work towards removing it in the long run as HTTP to a gRPC bridge is relevant and useful (examples [here](https://docs.microsoft.com/en-us/aspnet/core/grpc/httpapi?view=aspnetcore-6.0). This is in contrast with gRPC -> HTTP which is a cause of many issues.

[2022-02-15 23:15] yaron2 commented on #3549
@seeflood are you working on this? we want to advance this, possibly into 1.8, and if ok with you I can assign the implementation to myself based on the design here.

[2022-02-16 00:32] georgestevens99 commented on #3513
@ewassef  Thanks for posting your pubsub wish list.  I will make some comments tomorrow evening, since some items may already be implemented or in the pipeline.

However, a key thing to point out to everyone reading this Plugin stuff is well summarized in your final sentence "Ultimately, the biggest win would be to create a Dapr component registry where all vendors or private companies can self-ho

[2022-02-16 01:00] georgestevens99 opened #4255 "Dapr Eventual Consistency Building Block"
/area runtime
## Describe the proposal

I propose that Dapr have a new Building Block that is similar in concept and level in the hierarchy of capabilities to the other Building Blocks, like Pubsub, Service Invocation, State Storage, etc.

This new Building Block will address the key issue common to all distributed systems and which can also make life difficult in developing them without distribut

[2022-02-16 01:35] seeflood commented on #3549
@yaron2 Sorry for not replying recently.I already implemented part of it ,and will submit a WIP PR so that you can comment on and directly modify it.
Is that ok?

[2022-02-16 01:43] yaron2 commented on #3549
Thanks, that's ok. We don't have a date yet but it's more than two months away.

[2022-02-16 02:13] ewassef commented on #4252
If I recall correctly, when this was brought up a while ago, I mentioned how we have been able to add Dapr and all the great addons to existing services by changing the "host" setting for each of the downstream services and proxying through the Dapr. If we go to the header method, this will make using Dapr for any pre-existing systems impossible. I would keep both if the slightly shorter URL is so

[2022-02-16 04:29] yaron2 commented on #4252
That's an interesting data point @ewassef. cc @artursouza.

[2022-02-16 04:58] amulyavarote commented on #4170
These are the things I am personally keeping on top of mind for this release.

Deliver Resiliency policies across all building blocks @halspang
Complete certification for components that had certification tests added in 1.6
Complete Configuration API and Query State API support in .Net, Java, Javascript and Python SDKs
Assess and remove “bad” licenses based on FOSSA report @shubham1172
“Airgap” Da

[2022-02-16 05:49] msfussell commented on #4252
I agree with @ewassef point here. I do not see the immediate need to deprecate the original gRPC service invocation. Also let's try to use names that make it clear which service invocation is being discussed rather than "old" /"new". Maybe "direct" and "proxy" are possible names.

[2022-02-16 05:51] yaron2 commented on #4252
@msfussell I edited your comment and replaced gRPC with HTTP as that's the API that @ewassef meant.

[2022-02-16 06:21] msfussell commented on #4247
Here I believe that you are suggesting implementing local transactions between the message and the user application for which the message was destined. In the event of an application failure the can application recover and can read the original message again which it applies to its state in a transaction way. Is that your intent?

[2022-02-16 06:29] msfussell commented on #4244
Trying to be clear on the problem. Is this because today all the components are compiled into the single binary? If you could choose your components or component were loaded dynamically this would be less of an issue. Still agree having a removal path, but can be over a longer period of time.

[2022-02-16 06:47] msfussell commented on #3811
You can say this about any feature that is released and strictly all features should be put into preview. The issue is that preview is made harder by having to associate a configuration file with the app.

 In the case of reentrancy, it is core to actor the framework and enables many workflow scenario uses, particularly the callback from one workflow actor to another. I think that this feature is

[2022-02-16 06:56] msfussell opened #4260 "Make Automatic State Store Encryption No Longer a Preview Feature"
## In what area(s)?

## Expected Behavior
This is preview feature that was introduced in v1.4 release https://github.com/dapr/dapr/pull/3589
Original issue https://github.com/dapr/dapr/issues/1090

## Actual Behavior
Make this a GA feature in the current release, with ensuring test coverage, update docs and examples.

RELEASE NOTE:

[2022-02-16 06:58] thielepaul commented on #3920
Ok I see why you needed to revert the e2e test. Can we merge the fix to the problem anyway? https://github.com/dapr/dapr/pull/4259

I do not think this can be tested with redis streams as we use `XGroupCreateMkStream` for subscriptions which does not support wildcards.

[2022-02-16 07:32] yaron2 commented on #3811
I agree, suggesting to remove features based on lack of usage evidence alone is fool hardy. On the other hand, we do know this was a requested feature by users. As such, there are no logical grounds to removing it.

[2022-02-16 07:42] gdlcf88 commented on #4247
Hi @msfussell, thanks for your reply.

What I want is to add an infrastructure between pubsub and apps:

producer app -> **outbox** -> pubsub
pubsub -> **inbox** -> consumer app

The outbox pattern ensures that the related messages (domain events or more) will eventually be published after the app completes a DB transaction.

The inbox pattern receives messages from pubsub and ack quickly. It will

[2022-02-16 09:20] thesobercoder commented on #1246
This would be really welcome addition.

[2022-02-16 14:26] gunniwho commented on #4202
@CrazyHZM we are consistently reproducing this. Are you using the grpc proxy feature?

[2022-02-16 19:04] thesobercoder commented on #3354
This is exactly what I was thinking today is missing.

[2022-02-16 23:41] yaron2 commented on #4228
@berndverst overall this looks good! A piece of feedback and suggestion before the STC meeting today is to remove the following:

We should not tie runtime feature maturity to SDKs. Making sure that an API has both HTTP and gRPC is enough.

### Removing features

Out of the 3 bullet points, only the first is a criteria item that talks about the *why* and not the *how*, and I suggest we remove or u

[2022-02-17 00:01] msfussell commented on #4228
The question I have on the criteria is defining what constitutes a feature. Clearly new APIs are, but then there is a blurry line on adding new capabilities to existing features. Actor reentrancy is an example. This makes all new features always start in preview.

[2022-02-17 00:05] berndverst commented on #4228
@msfussell this issue refers to Preview Features as they are defined in code today and Alpha APIs. Whether something should be added as a Preview Feature or Alpha API isn't intended to be the focus of this issue.

[2022-02-17 00:39] yaron2 commented on #4244
There's a fundamental contradiction here with the hierarchy and relationship between maintainers and STC [as it is defined today](https://github.com/dapr/community/blob/master/steering-and-technical-committee-charter.md#authority-facilitation-and-decision).

Maintainers of components-contrib must reach the decision about whether or not a component is removed. If a decision can't be agreed upon, th

[2022-02-17 00:58] georgestevens99 commented on #3513
@ewassef  I have broken down your "pubsub additions" into separate parts below.  Then I comment on how to go about getting each part into Dapr.

1. Part of the pubsub additions we would like to make is:
    a. integration with a schema registry (think of confluent and their interceptor in their clients)
    b.	secondly to allow for tokenizing or adding data to the cloud event payload.
        i.	M

[2022-02-17 01:41] #4048 closed

[2022-02-17 03:23] goflutterjava opened #4263 "[ noob question] How to unit test the code"
## In what area(s)?

 /area test-and-release

## Ask your question here
Hi, dapr community, I am reading <<learning dapr>>. I was wondering how to unit test my code
[code]
But In unit test, I don't have a 3500 server listening
Am I need to run a mock dapr server in unit-test code

[2022-02-17 08:09] amimimor commented on #4247
@gdlcf88 I'm not sure if I agree with the statement "... since any distributed app development framework needs it to make sure domain events are published and subscribed."
What I'm concerned with the proposed approach are the following (IMHO):

- You "replace" one point of failure with another (broker replaced by database)
- Effectively now there are two points of failure, which seems like fightin

[2022-02-17 08:31] saber-wang commented on #3408
Is there a repair plan for this problem?

[2022-02-17 08:58] 1046102779 commented on #4065
@yaron2 @artursouza @daixiang0 @pkedy +1.

long long ago...

[2022-02-17 10:33] JadynWong commented on #4247
Hi @amimimor ,

First of all inbox is an optional in pubsub, it is not required.

1. The failure point is not a replacement relationship, inbox does not address the failure risk of MQ.
2. Inbox's db failure risk needs to be borne additionally, this is true, but inbox's requirement objectively needs to be solved unless there is a better alternative.
3. inbox database write time will not exceed expe

[2022-02-17 12:25] nupis-DanielS opened #4265 "State store returns saved JSON array uncorrectly"
## In what area(s)?

 /area runtime

 /area docs

## What version of Dapr?

1.5.x and above

## Expected Behavior

When retrieving a JSON array from the state store the structure should be the same as it was saved. The output was correct till version 1.4.x. The expected behaviour would be the same as in the current documentation.

` wget http://localhost:3500/v1.0/state/state-store/planet --header

[2022-02-17 14:19] JadynWong commented on #4247
Hi @amimimor ,

First of all inbox is an optional in pubsub, it is not required.

1. The failure point is not a replacement relationship, inbox does not address the failure risk of MQ.
2. Inbox's db failure risk needs to be borne additionally, this is true, but inbox's requirement objectively needs to be solved unless there is a better alternative.
3. Inbox database write time will not exceed expe

[2022-02-17 17:15] gdlcf88 commented on #4247
Another problem I found in the inbox implementation of the ABP framework is that [Any handler throwing block the whole inbox queue](https://github.com/abpframework/abp/issues/11210). Then we tried to fix it in this [PR](https://github.com/abpframework/abp/pull/11216), but Mr.Kalkan reminded us of one thing:

DDD may have higher requirements for the Outbox & Inbox pattern. How do we design it for D

[2022-02-17 18:09] yaron2 commented on #4228
@artursouza this is a reminder to modify the proposal based on the STC discussion. Thanks in advance!

[2022-02-17 20:36] yaron2 commented on #4265
Thanks for reporting. Is this happening with MongoDB only?

[2022-02-17 21:50] a377965 opened #4266 "PUB/SUB Error in Subscription Sidecar"
I am running DAPR in Azure AKS using Azure Service Bus.  I have a service which it using grpc and stores state in a Redis instance in AKS.  This same client also publishes a topic on an ASB / Namespace topic.  The message appears to be sent successfully

A client which is set up to process the message from the subscription on the topic is emitting the following error  :

time="2022-02-17T21:24:46.

[2022-02-17 21:58] a377965 commented on #4266
I should have also mentioned that both services are using the Java SDK.

[2022-02-18 01:56] 1046102779 commented on #4065
## background
At present, there are many building blocks that each component may need to service discovery, and currently state, bindings, pubsub, configuration, etc. that do not have service discovery capabilities. We now use mysql, redis, mq, http and other resources in microservices. The name resolution used for service discovery. At present, a big disadvantage of a Dapr design is that the name

[2022-02-18 02:06] yaron2 commented on #3968
Yes, I think having cert-manager support will be of great help, especially towards auto-rotating root certs.

[2022-02-18 03:45] ls-2018 commented on #2353
+1

[2022-02-18 04:14] daixiang0 commented on #4065
It sounds interesting, is it common to use Dynamic DNS in production?

[2022-02-18 04:46] 1046102779 commented on #4065
Yes. Dynamic DNS is specfic type in nameresolution.

[2022-02-18 04:50] shubham1172 commented on #4219
The new helm release will be on March 09, post which we will upgrade to v3.8.1 and close this.

[2022-02-18 05:55] zwq000 opened #4267 "Why did remove PubSub / NATS component"
pubsub components include nats-streaming and nats-jetstream, but remove  pubsub/nats .

In NATS documents, basic NATs is also called 'Core NATS', which is a basic subscription and publishing function.
Some existing systems also need to support 'Core NATS'

[2022-02-18 06:16] fanfanbj commented on #1907
@artursouza I made a little to investigate sidecar container, it hasn't release in kubernetes. There are some solutions to solve this kind of problems. So this problem maybe delay to close.

[2022-02-18 06:19] #4225 closed

[2022-02-18 06:24] shubham1172 opened #4268 "[Administrative] Setting up a FOSSA account for use"
This issue is to set up a central FOSSA account to be used across our repositories.

As part of the epic #4158, we are introducing a new GitHub workflow with [fossa action](https://github.com/fossas/fossa-action) for scanning for invalid licenses. This will help us avoid introducing any further bad licenses in the code base. The existing ones are already being fixed (more details on the issue abov

[2022-02-18 10:19] gbragi commented on #4202
@CrazyHZM I have a simple reproduction of this issue in the following repo: https://github.com/gbragi/dapr-issue-4202-repro

Here is the ACL configuration:

`apiVersion: dapr.io/v1alpha1
kind: Configuration
metadata:
  name: serverconfig
spec:
  accessControl:
    defaultAction: deny
    trustDomain: "public"
    policies:
      - appId: client
        defaultAction: deny
        trustDomain: "pub

[2022-02-18 10:19] jaredhshuai opened #4270 "Dapr sidecar not injected in Pod"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

**Environment** :

**Steps:**

1. Deploy dapr using helm or cli.  -- both tried
[code]

2. Create a Pod object to be deployed in kubernetes cluster. (YAML used for same is attached)
[code]

3. We can observe that container in the pod is running successfully, however there's n

[2022-02-18 11:52] mukundansundar opened #4271 "Update PHP base image for actorphp E2E tests"
## In what area(s)?

 /area test-and-release
## Describe the proposal

Update PHP base image for actorphp e2e tests

Currently base image for the actorphp e2e test is fixed to php:8.0.0-cli which was last updated more than a year ago.

Any security vulnerabilities fixed further in the base images of either PHP or its base image are not picked up for the e2e test images.

Need to update to the late

[2022-02-18 13:29] XavierGeerinck commented on #2217
+1 for deadletter support, could use it for Queues as well (Azure Service Bus)

[2022-02-18 17:06] jjcollinge opened #4272 "Should Dapr service use probe annotation instead of scrape"
Currently the Dapr Kubernetes service uses the `prometheus.io/scrape` annotation. Given that `kubernetes_sd_configs` with a role of `service` uses the [Prometheus Blackbox](https://github.com/prometheus/blackbox_exporter) exporter, I think it's more idiomatic to use the `prometheus.io/probe` annotation.

This then works with a typical Prometheus configurations:
[code]
Resulting in the services wor

[2022-02-18 17:12] yaron2 commented on #4272
This makes sense. To be clear, should this be added instead of modified to preserve backward compatibility?

[2022-02-18 17:18] jjcollinge commented on #4272
Yeah we'd need to phase the deprecation of the `/scrape` label. I'll open a PR to add `/probe` - we will need a deprecation notice and then in a future release we can remove it. Sound reasonable?

[2022-02-18 17:27] yaron2 commented on #2217
Triaged to 1.8.

[2022-02-18 17:34] yaron2 commented on #4272
Yep. cc @artursouza

[2022-02-18 18:27] abelperezok commented on #4270
I've got no experience with Weave network CNI, this is not the same situation I encountered with EKS and Calico. In this situation the control plain did reach the admission webhook and the container injection also happened. It's the injected container is the one suddenly crashing.
@jaredhshuai could you enable debug in your dapr deployment so you can see what exactly is not able to connect to ?
@y

[2022-02-18 18:31] abelperezok commented on #4270
@yaron2 At least with EKS-Calico it's not necessary to enable the hostNetworks other than the sidecar injector to achieve success.

[2022-02-18 19:25] yaron2 commented on #4266
Can you put the code on your event subscriber that is failing to call the invocation endpoint?

It looks like your app is failing to invoke another app, and thus returning an error to Dapr when it's receiving the event.

[2022-02-18 19:53] msfussell opened #4273 "Improve the error message for when a state store has not been set for actor usage and actors are used"
## In what area(s)?

## What version of Dapr?
v1.6
## Expected Behavior
See this doc issues that was raised https://github.com/dapr/docs/issues/2184

This is to add more detail to the error message when you try to save and actor and the statestore has not been configured for actors. It would be good to provide and indication of what you can do to fix the issue. Suggested error can be improve simil

[2022-02-18 23:38] #4271 closed

[2022-02-19 06:02] jaredhshuai commented on #4270
hi @abelperezok

- I have enabled debug in my darp deployment
[code]

- Find error:
[code]
[code]

[2022-02-19 14:37] abelperezok commented on #4270
@jaredhshuai what about `kubectl logs` on `daprd` container `-c daprd` ?
would that give you more information ?

[2022-02-19 14:51] jaredhshuai commented on #4270
@abelperezok It returns nothing.

[2022-02-19 14:52] jaredhshuai commented on #4270
Error: INSTALLATION FAILED: validation: chart.metadata.version "DAPR_VERSION_HELM" is invalid when install dapr with debug mode.
[issues 16](https://github.com/dapr/helm-charts/issues/16)

[2022-02-20 13:27] BhusanBibhuti commented on #3523
It did not work for me.
dapr-http-max-request-size is set to 16 MB and also set to the same for UseGrpcChannelOptions.
Please advise further.

[2022-02-20 22:57] mayoatte commented on #4255
Just wanted to chime in support of this proposal and the related Outbox / Inbox proposals. The problems it addresses are some of the most significant problems we deal with. Even with all Dapr does, we currently still have to build these features in every service. It would be a huge win if Dapr helped address these fundamental distributed systems problems.

[2022-02-21 01:25] jaredhshuai opened #4277 "Error: INSTALLATION FAILED: validation: chart.metadata.version "DAPR_VERSION_HELM" is invalid when install dapr with debug mode"
## In what area(s)?
/area debug dapr on Kubernetese
https://docs.dapr.io/developing-applications/debugging/debug-k8s/debug-dapr-services/

## What version of Dapr?
1.6.0

## Expected Behavior
When debug dapr on Kubernetes, after build dapr source code and push image to docker hub, it should be installed successfully through helm.

## Actual Behavior
INSTALLATION FAILED: validation: chart.metadata.

[2022-02-21 01:26] jaredhshuai commented on #4277
transfer from https://github.com/dapr/helm-charts/issues/16

[2022-02-21 01:27] jaredhshuai commented on #4277
I found this hint from helm repo, this issue only exists in helm versions 3.5.2 and above:
https://github.com/helm/helm/issues/9342

[2022-02-21 01:51] daixiang0 commented on #4272
@jjcollinge good catch, let's do it.

[2022-02-21 01:55] daixiang0 commented on #4277
@jaredhshuai we can do a version check and document it, are you interested in adding it?

[2022-02-21 01:56] jaredhshuai commented on #4277
@daixiang0 How can I do it?

[2022-02-21 01:57] daixiang0 commented on #4263
I think you can check unit test codes.

[2022-02-21 02:05] daixiang0 commented on #4277
https://docs.dapr.io/operations/troubleshooting/ seems a good place to comment this.

[2022-02-21 02:08] jaredhshuai commented on #4277
Sure, after you confirm the version check, I'd like to go to update the page. If it's a bug, it may need to be fixed.

[2022-02-21 02:44] daixiang0 commented on #4277
I see you use charts/dapr, but official is dapr/dapr, below codes work:
[code]

[2022-02-21 03:03] jaredhshuai commented on #4277
If the installation is based on the debug source code, you need to use
[code]
https://docs.dapr.io/developing-applications/debugging/debug-k8s/debug-dapr-services/

[2022-02-21 03:46] theonefx commented on #4273
/assign

[2022-02-21 05:19] CrazyHZM commented on #4202
@gbragi Thanks for your example, I found out that grpc.proxy is also turned on in this example, I'll try to see why it happens.

[2022-02-21 07:06] artursouza commented on #4228
This is the updated proposal based on the feedback from the STC.

## Updated Criteria for stable feature or new API
- ~SDK support in Go, Python, Java, JavaScript, .NET [if new API or API change]~
- Partner with ~other~ SDK maintainers to create implementation plan [if new API or API change]
- Must support HTTP and gRPC [if new API or API change]
- ~One community sponsor other than the organizatio

[2022-02-21 07:17] artursouza commented on #4277
There is an extra step if you need to use the chart from local folder.

REL_VERSION=edge bash .github/scripts/set_helm_dapr_version.sh

[2022-02-21 07:18] artursouza commented on #4277
In this case, the tag must also be changed to edge in your build.

The action item for this bug is to update the docs to reflect the latest instructions. This step is needed to simplify our release process.

[2022-02-21 07:20] artursouza commented on #4267
/cc @yaron2 @pkedy

[2022-02-21 07:33] jaredhshuai commented on #4277
hi @artursouza Did you mean:
[code]

[2022-02-21 07:59] EashShow opened #4278 "dapr invoke error"
Dapr CLI  version: 1.5.1
Dapr Runtime version: 1.6.0
Dapr Client version: 1.6.0
OS: CentOS

when I invoke an appId XXXX by DaprClient, I will get an error like this sometimes:
fail to invoke, id: XXXX, err: rpc error: code = Internal desc = error invoking app channel: error when reading response headers: EOF. Buffer size=4, contents: \"\\x88\\x02\\x03\\xea\"

I dont kown what's the matter

help, t

[2022-02-21 12:32] a377965 commented on #4266
the code is in a private repo, so full sharing is impossible....here are the pertinent code snippets:

k8s Subscription CRD
====================
apiVersion: dapr.io/v1alpha1
kind: Subscription
metadata:
  name: ap999999
  namespace: pr100000-aks-ns-dev
spec:
  topic: ap555555.calculation.t
  route: /calculate
  pubsubname: calculation-asb
scopes:
- ap111111
- ap999999

k8s Component CRD
==========

[2022-02-21 13:01] DeepanshuA commented on #3787
Assigning it to myself to evaluate this proposal's way to 1.7.

[2022-02-21 13:14] akkie commented on #4196
Hi @paulyuk,

thanks for your answer. Sorry that I was not precise enough. I have not talked about the QuickStart image. I have talked about https://hub.docker.com/r/daprio/dapr-dev/tags. These images are based on https://hub.docker.com/_/golang/. There are arm64 based images but not for buster. Only the LTS version stretch has arm64 builds. So maybe it's possible to switch back to the LTS version

[2022-02-21 13:51] BhusanBibhuti opened #4279 "Reopen https://github.com/dapr/dapr/issues/3523"
Facing similar issue mentioned in https://github.com/dapr/dapr/issues/3523 . none of the specified solutions did work for me.
Any pointer ?

[2022-02-21 14:46] patrickhuber commented on #3787
Ok, so something like `DAPR_PLUGINS="gomemory:5000;otherplugin:5001"` added to the container running daprd

Yes. Some thought will need to be added to how plugins get to their destination. Currently in standalone mode a file is dropped into a folder. In kubernetes mode a container is in the pod. In the future, a registry model may be desired to handle the discovery and placement of the plugin proc

[2022-02-21 14:59] wofr commented on #3976
I run into the same problem using dapr v1.5.0.  I switched to 1.6.0 but I didn't do the trick,  chaning the delays finnaly helped in my case
[code]

[2022-02-21 18:28] yaron2 commented on #3976
Reopened by mistake

[2022-02-21 18:28] #3976 closed

[2022-02-21 18:35] yaron2 commented on #3787
Hi @DeepanshuA thanks for your interest in this issue. Generally maintainers evaluate and triage proposals, and one or more people who create the design and drive the implementations are assigned to the issue.

Can you explain on what you mean by "evaluate this proposal's way to 1.7"? Thanks :)

[2022-02-21 19:45] yaron2 commented on #4279
Can you describe what your application flow is? (For example, which API you are calling on Dapr and are you using HTTP or gRPC?)

[2022-02-21 19:47] #4272 closed

[2022-02-21 19:52] yaron2 commented on #4278
This error is reported to Dapr from your target app. It could happen due many reasons, one of which is returning a response body from a `GET` request, for example.

Can you try to change your code on the called app side to just return `200 OK` and see if that solves it? If it does, we can examine your code to see what's causing the response to appear malformed to Dapr.

[2022-02-21 19:53] BhusanBibhuti commented on #4279
Am running dapr in slim mode and making use of grpc and calling grpc endpoint via dapr client.

Grpc server correctly returns response when trying from tools like kreya/bloomrpc with max size set as 16 MB in the tool setting itself.

But when trying from dapr client, the mentioned issue is being faced.
Note   , dapr client object shows the MaxRecieveSize set to 16 MB , but not able to produce resp

[2022-02-21 19:54] yaron2 commented on #4268
@msfussell we need to check with CNCF (via a service desk ticket) under which account we should be signing up to FOSSA with.

[2022-02-21 19:59] yaron2 commented on #4202
@gunniwho @gbragi It'll be fixed for 1.7, the upcoming release.

@CrazyHZM thanks for looking into this! let me know if you need any assistance.

[2022-02-21 20:34] yaron2 commented on #4267
Hi @zwq000, in accordance to the guidance issued by NATS maintainers, we will also deprecate NATS streaming (see [here](https://docs.nats.io/reference/faq#jetstream-and-nats-streaming) and [here](https://github.com/nats-io/nats-streaming-server#warning--deprecation-notice-warning) in the future, as this is now considered legacy and will stop receiving security fixes and patches.

Regarding Core NA

[2022-02-21 20:34] yaron2 commented on #4267
Closing this for now, but we can continue discussing here @zwq000 if you have further questions.

[2022-02-21 20:34] #4267 closed

[2022-02-22 01:26] yaron2 commented on #4266
@a377965 is this Java code the exact same code producing the error? Because according to the error, the subscriber is trying to invoke Dapr or call to some Dapr endpoint.

@artursouza do you spot anything here?

[2022-02-22 06:21] CrazyHZM commented on #4202
@yaron2
I already know what caused the problem, will fix it later.

[2022-02-22 06:55] CrazyHZM commented on #4202
I think we can support the following three wildcards for the time being：
`?`: matches any single character
`*`: matches any number of characters
`**`: matches any number of characters, supports multi-level directories

do you have any other suggestions? @yaron2

[2022-02-22 07:06] yaron2 commented on #4202
I think we can consolidate ** into *, no?

[2022-02-22 07:18] CrazyHZM commented on #4202
Agree, the demand for `?` marks will indeed be less.
In the near future I will continue to work on #4238 to support this.
@yaron2

[2022-02-22 07:20] yaron2 commented on #4202
Ok, and please be sure to submit a fix for the ordering problem too. Thank you!

[2022-02-22 08:58] wofr opened #4281 "CrashLoopBackOff Dapr-sidcars when installing Dapr with Argo-CD"
## In what area(s)?

## What version of Dapr?
Dapr Runtime version: 1.6.0
GKE installation with ArgoCD

## Expected Behavior

## Actual Behavior

I try doing an deployment of dapr and application which are using dapr via ArogCD.

First I struggled to get dapr running because when deplyoing it with Argo,  either the operator or the replacement service didn't run stable. Following the instructions h

[2022-02-22 09:15] saber-wang commented on #3408
@artursouza This should not be a problem with SDK. Dapr does not accept request headers larger than 4K

[2022-02-22 09:38] EashShow commented on #4278
the request of this action is HttpPost
and this error is arisen sometimes,
the probability of this error is about 10%

[2022-02-22 11:51] wofr commented on #4281
The issue is caused by argo-cd, I guess it most be solved there

[2022-02-22 11:51] #4281 closed

[2022-02-22 12:35] a377965 commented on #4266
Hi Yaron, the log is from this code (the subscription to the topic) which makes it very odd,  see the sidecar logs:

time="2022-02-17T21:24:46.361732876Z" level=debug msg="**Calling app's handler for message a2894ee1-944f-4ee9-a5bd-d0c52fe9efa4 on topic ap555555.calculation.t" app_id=ap999999** instance=calculator-microservice-8c65fd8ff-vjjks scope=dapr.contrib type=log ver=1.6.0

followed by the

[2022-02-22 13:26] itsoli91 commented on #2675
It's a important feature and already is supported by Azure Service Bus.

[2022-02-22 15:42] aintbrokedontfix opened #4282 "PodSecurityPolicy: unable to admit pod: []:Deployment does not have minimum availability."
## In what area(s)?

/area operator

/area docs

## Ask your question here

Are there any docs on how to deploy the operator, dashboard, and applications into K8s when K8s is enforcing PodSecurity Policies?

[2022-02-22 15:55] rafgithub opened #4283 "Azure storage queue binding. Message visibility"
## In what area(s)?

/area runtime

## Ask your question here
Hi, I have a question regarding the Azure Storage Queue binding.
I have an external application that feeds an Azure storage queue. Another application, deployed on a k3s cluster, makes use of the Dapr Azure storage queue input binging to dequeue the messages and perform some long-running operations.
During my tests, I noticed that after

[2022-02-22 16:08] m-carter1 opened #4284 "Keda ScaledJob - no sidecar"
Dapr CLI version: 1.6.0
Dapr Runtime version: 1.6.0
Dapr Client version: 1.6.0

I have a Keda ScaledJob deployed in Kubernetes which is scaled to zero and will scale up when a message is detected on a queue,  once it has run to completion it will shutdown, this is working fine

However, the dapr sidecar is not being injected so I am unable to call the other dapr services.
There aren't any errors i

[2022-02-22 16:55] yaron2 commented on #4284
Can you run the following command to grab the logs from the sidecar injector and paste it here?

[code]

If you can `helm upgrade` your installation with the `--set dapr_sidecar_injector.logLevel=debug` param to enable debug logs on the sidecar injector, that's even better.

[2022-02-22 17:12] yaron2 commented on #3906
Closed via #4130.

[2022-02-22 17:12] #3906 closed

[2022-02-22 17:32] yaron2 commented on #3787
That's an implementation detail reserved to the PR stage. Feedback about the internal ways we deal and compose interfaces to allow for different protocols in the future can be given at that point by maintainers.

[2022-02-22 17:38] yordan-pavlov commented on #2167
Component health checks would be a very useful feature, particularly in pubsub components where it's possible to have a subscription which is disconnected and then is unable to reconnect - in this case what currently happens is the app + dapr sidecar appears to be running but is actually silently unhealthy - it's disconnected from the subscription and not receiving messages, but the only way to fi

[2022-02-22 18:30] yaron2 commented on #4266
Is the app `ap999999` your subscriber or publisher? if it's the subscriber (based on what you said), I think it's very weird that it'll come from the publisher. There's something very basic we're missing here :)

[2022-02-22 18:32] yaron2 commented on #4284
Which Kubernetes distribution/service you're running on?

[2022-02-22 19:28] a377965 commented on #4266
@yaron2,  this is essentially from your solution : https://docs.dapr.io/developing-applications/building-blocks/pubsub/howto-publish-subscribe/
using ASB over RabbitMQ.
Now, my publisher is ALSO writing to REDIS via a gRPC client and that same client is publishing the message to the topic, which is a difference from the example. The details of the client setup in the publisher from the example sol

[2022-02-22 19:39] yaron2 commented on #4266
Ok, can you remove the code that writes to Redis and see if you see a difference in the logs?

[2022-02-22 21:38] a377965 commented on #4266
after removing the code which writes to Redis, the problem continues to exist.
The only think I can't seem to get around in my publishing code is that I must set the following property or I cant spin up a new DaprClient :
         	Properties p = System.getProperties();
		p.put("dapr.api.methodInvocation.protocol", "GRPC");
		System.setProperties(p);
		DaprClient client = new DaprClientBuilder().b

[2022-02-23 01:08] yaron2 commented on #4068
# List of metrics to be added for components

## Pub/Sub - Ingress

| Metric Name  | Description   | Type       | Tags
| ------------- | -----------  | ---------- | -------------
| event_count  | Number of events received by component | Counter | component_name <br> namespace_name <br> process_status
| event_latencies  | The time spent by the app channel to process the event | Histogram  | compone

[2022-02-23 01:29] daixiang0 commented on #4283
It would be nice to add some useful log or metric or trace to track it.

[2022-02-23 01:31] daixiang0 commented on #4282
Could you share more details about how to reproduce it?

[2022-02-23 01:33] paulyuk commented on #4196
Hey @akkie sorry I missed that.  You're right, I'll talk to team about this.

Are you able to workaround this meanwhile by changing the base image one of those in your link, say the 1.17-bullseye?

[2022-02-23 01:42] #3920 closed

[2022-02-23 02:05] yaron2 commented on #4203
Closed via #4204

[2022-02-23 02:05] #4203 closed

[2022-02-23 02:25] yaron2 commented on #4282
This isn't a direct answer to your question, but PodSecurity policies are now deprecated in K8s and will be removed in 1.25, so I don't foresee this becoming a guidance in docs.

Also this is very much ties to the type and configuration of the policy being enforced, and so it's difficult to help without more information.

[2022-02-23 03:50] artursouza commented on #3920
Thanks for your contribution! When you have some time, it would be great to have E2E test for this.

[2022-02-23 04:01] daixiang0 commented on #3968
Yes, now we need to rotate it by hand refer to https://docs.dapr.io/operations/security/mtls/#updating-root-or-issuer-certs

[2022-02-23 04:23] #4263 closed

[2022-02-23 05:21] #4199 closed

[2022-02-23 09:14] m-carter1 commented on #4284
Azure Kubernetes service v1.21.7

[2022-02-23 12:09] zwq000 commented on #4267
@yaron2  Thank you very much. I also feel this through the documentation. Dapr's Pub / sub is designed based on load balancing, so a message can only be consumed once

[2022-02-23 12:33] a377965 commented on #4266
@yaron2 and @artursouza ,
After reading around a bit on other matters, I am believing that I was using a work around of this matter in my PUBLISH service:

- https://github.com/dapr/java-sdk/issues/515

and this entire problem stems back to the okhttp3 version ..... any way you guys can confirm or deny this assertion?

This is a significant problem for me in adopting the platform, as we are making

[2022-02-23 13:51] ionut-balazs-lateral commented on #3787
Great conversation on this topic! I'm interested in Dapr extensibility and looking into applying the same principles described here for external middleware components.

A bit of context... I'm designing a framework on top of Dapr that currently lives in the application container and it's tied to .NET. In the future I want the framework to become language agnostic so other implementations can take

[2022-02-23 14:17] EashShow commented on #4278
May I ask what seems to be the reason?
Thanks!

[2022-02-23 14:31] ionut-balazs-lateral commented on #3787
@patrickhuber, this means that the process launched by go-plugin acts like a proxy to the container the plugin is running in and just forwards the requests?

[2022-02-23 14:57] patrickhuber commented on #3787
We revised the process above a bit.

When in standalone mode, daprd will launch the plugin as a standalone process

When in kubernetes mode, the sidecar injector will inject an environment variable into the daprd container that contains the list of plugins. The plugins will be hosted in the same pod as individual containers following a naming convention.

There are two processes involved with hash

[2022-02-23 15:11] ionut-balazs-lateral commented on #3787
Thanks for the quick reply!

So when in Kubernetes mode you're not actually using hashicorp/go-plugin on the client side? Or were you able to circumvent the plugin.NewClient() launch of the server standalone process?
I was under the impression that go-plugin always needs to be supplied with a cmd to launch the standalone process.

[2022-02-23 15:22] patrickhuber commented on #3787
Yes, hashicoro/go-plugin is not directly used in kubernetes mode.

On Wed, Feb 23, 2022, 10:11 AM Ionut Balazs ***@***.***>
wrote:

[2022-02-23 15:26] TilmannBach commented on #3408
@yaron2 any plans on this? the 431 "Too big request header" comes from `fasthttp`. we need a possibility to configure this via the dapr settings 🚀

[2022-02-23 15:31] alberthuang24 opened #4287 "When the deployment selector is updated, dapr will get a "connection refused" error"
dapr suddenly appeared inaccessible, check the debug logs found that it is due to the deployment of the selector property change, dapr service is not updated caused

## What version of Dapr?

 version 1.6.0 -- commit 4bb25fab444c4f1a1bf0ffd74293dbd4fdcea580"

## Expected Behavior

Service should be updated

## Actual Behavior

https://github.com/dapr/dapr/blob/master/pkg/operator/handlers/dapr_han

[2022-02-23 15:34] alberthuang24 commented on #4287
/area operator

[2022-02-23 15:39] alberthuang24 commented on #4278
It looks like there is a problem with the character encoding returned by your program, "\x88\x02\x03\xea" looks more like GBK encoding than UTF-8, as far as I know dapr currently only supports UTF-8 encoding

 @EashShow

[2022-02-23 16:05] yschneider-bosch opened #4323 "Dapr Invoke Method has very low throughput compared to calling API directly"
## Expected Behavior

invokeMethod sends requests asynchronously and parallel. The number of connections, threads etc can be configured. The performance should match calling the api endpoint directly.

## Actual Behavior

We have started investigating as we noticed that under load, requests are processed almost sequentially, leading to very long processing time if the target method takes long time

[2022-02-23 20:11] artursouza commented on #4266
@a377965 You should not use gRPC for service invocation. HTTP is the solution to be used. In this case, you can override the okhttp3 version to a higher version to resolve the dependency conflict.

I am moving this issue to java-sdk repo. We can also upgrade to a most recent version of OKHTTP3 for now. The long term goal is to remove it as a dependency.

[2022-02-23 22:40] artursouza opened #4289 "[Proposal] New offline state API"
## In what area(s)?

/area runtime

## Describe the proposal

There might be scenarios where Dapr is running on the edge or in environments with limited connectivity. In those cases, the app might still want to perform read/write operations offline and sync those operations with the cloud storage once it is available again.

<img width="661" alt="image" src="https://user-images.githubusercontent.c

[2022-02-23 23:53] yaron2 commented on #4289
I think offline sync capabilities would be immensely useful to applications running in partially disconnected environments and broadens Dapr's edge story.

Personally I think we should have "offline sync" be a feature on the existing state API, because:

1. Different APIs would mean developers need two different codepaths to maintain based on the environment they are deploying to. That's in contra

[2022-02-24 01:27] msfussell commented on #3934
Can I suggest that before closing a runtime issue that there are issues raised for docs and each of the SDKs where affected that are linked to this issue. Otherwise we have a continual debt that is unaccounted for.

[2022-02-24 01:27] yaron2 commented on #4287
Our operator today doesn't watch Deployments and modifies the Service selector if their matchLabels change. If you'd like to contribute a fix to this, that'd be great.

[2022-02-24 02:02] msfussell commented on #4289
@artursouza It would be useful to provide a scenarios example of the usage here in the form of some applications that would use this. For example, a navigation app using Dapr used on a transport ship that has infrequent connectivity and has to sync data back to a cloud storage.  I presume that the reconciliation of the state entries goes both ways (it does not have to, I have seen example where th

[2022-02-24 02:21] alberthuang24 commented on #4287
Great, I will fix this

/assgin

[2022-02-24 03:26] EashShow commented on #4278
"\x88\x02\x03\xea", this message may not response by my program.
this error is not arisen every time
the probability is about 10%

i dont know what's the matter.
Ah.....

[2022-02-24 03:26] EashShow commented on #4278
"\x88\x02\x03\xea", this message may not response by my program.
this error is not arisen every time
the probability is about 10%

i dont know what's the matter.
Ah.....

[2022-02-24 05:07] artursouza commented on #4068
LGTM. Please, put it behind a feature flag. It would be interesting to have E2E and perf tests for these. How much does enabling these metrics impact performance? it would be good to see in perf tests.

[2022-02-24 05:12] yaron2 commented on #4068
@artursouza I don't think this calls for a feature flag because this is not a new feature in any way, it's an addition of metrics via means that exist in code today. It's more of a bug fix really than anything else.

I'll conduct performance tests and measure the differences, but the change if any should be unnoticeable since Dapr isn't pushing metrics out, but getting scraped. The performance pen

[2022-02-24 05:33] daixiang0 commented on #4068
Agree. It is more like an enhancement for current metrics.

[2022-02-24 05:56] artursouza commented on #4252
Yes but the way to simply change the host of the receiving end would still be supported for HTTP and that is the preferred way. Appending `/v1.0/invoke` is not necessary anymore.

[2022-02-24 06:06] dazhu6666 opened #4290 "on-retriable error returned from app while processing pub/sub event"
in k8s
use pub/sub  => kafka

config
apiVersion: dapr.io/v1alpha1
kind: Subscription
metadata:
  name: sub-com-notifyhandler
spec:
  topic: Com_Notify_Handler
  route: /notify/comnotifyhandler
  pubsubname: pubsub
scopes:
- A

apiVersion: dapr.io/v1alpha1
kind: Subscription
metadata:
  name: sub-com-firmwareupdate
spec:
  topic: Com_FirmwareUpdate_Response
  route: /notify/comfirmwareupdatehandler

[2022-02-24 06:08] zxyao145 opened #4291 "Can --app-protocol support both HTTP and grpc?"
## Ask your question here
Can --app-protocol support both HTTP and grpc?  I want to be able to call one service through HTTP and grpc. Is this possible?

[2022-02-24 09:23] ionut-balazs-lateral commented on #4153
@jjcollinge great proposal! I believe this is a vital aspect of Dapr extensibility. One thing that caught my eye in your proposal was the mention that middleware for the gRPC app channel has lower priority than gRPC API.
I think the two go hand in hand, similar to the HTTP middleware pipeline. Any request manipulation on the sender app side must have a counterpart on the receiving end unless I am

[2022-02-24 10:25] mukundansundar commented on #4291
Moved this issue here, since it a runtime related question and not directly CLI related.

[2022-02-24 12:24] CrazyHZM opened #4292 "Helm install dapr fails when running e2e test locally"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

## Actual Behavior

Error: validation: chart.metadata.version "DAPR_VERSION_HELM" is invalid
make: *** [docker-deploy-k8s] Error 1

## Steps to Reproduce the Problem

make docker-deploy-k8s
## Release Note

RELEASE NOTE:
FIX helm install dapr fails when running e2e test locally

[2022-02-24 12:24] CrazyHZM commented on #4292
/assign

[2022-02-24 12:26] CrazyHZM commented on #4292
Because `DAPR_VERSION_HELM` and `DAPR_VERSION_TAG` will not be replaced when e2e is executed locally.

[2022-02-24 13:57] zxyao145 commented on #4291
Hi! Yes, I can control the use of HTTP or grpc through `app-protocol`, but I want to use both at the same time. Will dapr consider this possibility? Or do I need to start two sidecars?

[2022-02-24 14:17] darren-wang opened #4294 "Feature requested: sidecar version should be able to be configured by app."
## In what area(s)?

 /area runtime

## Describe the feature
As an engineer, software like dapr are seen as platforms in our work, and will be maintained by specific team.

Nowadays the sidecar used is decided by control plane configuration and the sidecar is often upgraded together with control plane.

For a team maintaining a platform like dapr, there will be many apps running on the platform.

[2022-02-25 01:46] zxyao145 commented on #4291
There is no use case, just a demo. What I understand is that if grpc and HTTP are mixed in the application, it may need to use both protocols at the same time.

I just got in touch with dapr and may have misunderstood it.

[2022-02-25 01:52] Taction commented on #4290
@dazhu6666  Because your app with id `micro-com` don't have the configured callback endpoint `/notify/comnotifyhandler`. The HTTP status code is 404.

[2022-02-25 02:43] xendren commented on #4168
Apologies for jumping in here, but I have the same issue trying to deploy a component in kubernetes.  We have installed dapr to our k8s cluster using the helm chart as instructed with the "dapr-system" namespace.  Our applications are deployed in other namespaces in the same cluster.  I have a secret created in my application namespace, and now I am attempting to setup the component so my app can

[2022-02-25 06:57] yaron2 commented on #4168
Components need to be deployed in the same namespace of the apps that consume them.

[2022-02-25 07:52] gamechanger3 opened #4297 "trace context can't be propagated to the 3rd service"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

 /area runtime

## Ask your question here
### trace context can't be propagated to the 3rd servicem like the image below
![image](https://user-images.githubusercontent.com/26455226/155675031-d3

[2022-02-25 09:10] shuiyunwudi commented on #3734
hi, I take your advice and try to use consul  for DNS, but it seems invoke applications across cluster didn't work normal. Is there any demos?

[2022-02-25 11:39] dazhu6666 commented on #4290
i have   [Route("/notify/comnotifyhandler")]

[2022-02-25 11:42] dazhu6666 opened #4298 ""Subscription\" in version \"dapr.io/v2alpha1\"""
time="2022-02-25T10:50:19.515414273Z" level=error msg="failed to list subscriptions from operator: rpc error: code = Unknown desc = error getting subscriptions: no matches for kind \"Subscription\" in version \"dapr.io/v2alpha1\"" app_id=dapr-test-api instance=dapr-test-api-77564cf9c7-gmsb6 scope=dapr.runtime type=log ver=1.5.0

in k8s

config

apiVersion: dapr.io/v1alpha1
kind: Subscription
metad

[2022-02-25 13:58] sridharan-stitch commented on #4207
I am doing it without docker

Let me know what environmental issues, how to find the issue.

[2022-02-25 16:02] xendren commented on #4168
@yaron2 Thank you for the reply.  If that is true, then I don't understand why I'm getting the forbidden error when trying to create the secretstore component in my namespace.  My user account has full access to that namespace.  I'm not sure what I am missing.  Also, shouldn't I be able to see the default "kubernetes" secretstore in the default namespace as a resource?  I am not seeing it in the U

[2022-02-25 18:07] yaron2 commented on #4298
It's possible you didn't update the CRDs when upgrading?

Try running `kubectl apply -f https://raw.githubusercontent.com/dapr/dapr/release-1.5/charts/dapr/crds/subscription.yaml` and see if the error repeats.

[2022-02-27 11:29] mickdelaney opened #4300 "Apache Pulsar Partitioning & Routing modes"
/area runtime

## Describe the feature

A key feature of Pulsar is message ordering guarantees.
In order to enable it in Dapr we need to be able to setup partitioned topics and configure message routing.
https://pulsar.apache.org/docs/en/concepts-messaging/#partitioned-topics
This is currently available in Dapr for Kafka using both config, and metadata when publishing.

## Release Note

[2022-02-28 02:49] daixiang0 commented on #4207
Make sure daprd file permission, and try build Dapr under this account.

[2022-02-28 03:30] dazhu6666 commented on #4298
@yaron2

[2022-02-28 03:34] yaron2 commented on #4298
Download the YAML, and change this:

[code]

To this:

[code]

[2022-02-28 05:38] sridharan-stitch commented on #4207
I have added info, please let me know what access I need to give.

[]$ dapr init -s
⌛  Making the jump to hyperspace...
ℹ️  Installing runtime version 1.6.0
↙  Downloading binaries and setting up components...
Dapr runtime installed to /home/devuser/.dapr/bin, you may run the following to add it to your path if you want to run daprd directly:
    export PATH=$PATH:/home/devuser/.dapr/bin
✅  Downlo

[2022-02-28 06:14] artursouza opened #4301 "Standardize use of content type in runtime and SDKs"
## In what area(s)?

## Describe the proposal

Document and standardize use of content type across APIs and SDKs. This is a metadata attribute and is optional. On the other hand, there should be documentation on how to use it and define how SDKs should support it.

State store work: https://github.com/dapr/dapr/issues/2892

[2022-02-28 06:28] maiguoma opened #4302 "Regarding PubSub, redis cannot subscribe to messages after restarting. The journal is as follows:"
After redis restarts, it cannot subscribe to the message. The journal error shows that deathstarstatus cannot be found in xreadgroup

The error log is as follows：

**time="2022-02-28T06:27:03.525248062Z" level=error msg="redis streams: error reading from stream deathStarStatus: NOGROUP No such key 'deathStarStatus' or consumer group 'monitor' in XREADGROUP with GROUP option" app_id=monitor instanc

[2022-02-28 06:34] artursouza opened #4303 "Relative perf tests"
## In what area(s)?

## Describe the proposal
Revisit performance test solution to run against relative deltas from baseline and not require absolute threshold based on specific hardware. This way, perf tests can be reproduced in different types of hardware and measure relative (instead of absolute) performance.

[2022-02-28 08:03] dazhu6666 commented on #4298
Good。。it's work。。。thinks
@yaron2

[2022-02-28 08:03] #4298 closed

[2022-02-28 08:18] dazhu6666 commented on #4290
time="2022-02-24T05:58:09.453293632Z" level=error msg="non-retriable error returned from app while processing pub/sub event eea7276c-fc61-4615-8bbd-67ba627ecd6e: . status code returned: 404" app_id=A instance=micro-com-5d89cb6699-flz4q scope=dapr.runtime type=log ver=1.5.0

@Taction

[2022-02-28 10:43] saber-wang opened #4304 "When version exists in labels of Deployment, dapr may not be able to complete the creation of svc"
/area operator

brief  deploy yml
[code]
svc yml at this time
[code]

1.If I add a new version `Deployment`(3-1-1237)
[code]
2. Then delete the previous version `Deployment`(3.1.1236)
3. `test-dapr` will not be created at this time

[2022-02-28 11:21] Taction commented on #4290
@dazhu6666 Can you call the endpoint directly such as using curl? And make sure your endpoint support `post` method.

[2022-02-28 12:30] alberthuang24 commented on #4304
Can you provide the operator's log? Or the actual Deployment file. I don't seem to see any annotation that starts the dapr

[2022-02-28 17:08] a377965 opened #4306 "Dapr Sidecar Error Connecting to Azure Service Bus Topic"
My sidecar for a Subscription Service is reporting the following error when attempting to connect to an Azure Service Bus Topic:

time="2022-02-28T16:43:37.995828682Z" level=error msg="app returned http status code 401 from subscription endpoint" app_id=ap222222 instance=message-producer-microservice-545d7789c6-pk6mq scope=dapr.runtime type=log ver=1.6.0

time="2022-02-28T16:43:37.995889387Z" leve

[2022-02-28 17:56] yaron2 commented on #4298
@pkedy should we update the CRD to include this?

[2022-02-28 21:04] GFlisch opened #4307 "error occurred while beginning pubsub rabbitmq.pubsub: error getting topics from app: invalid character '<' looking for beginning of value"
## In what area(s)?

/area runtime

## What version of Dapr?

1.6

## Expected Behavior

Starting pub sub.

## Actual Behavior

When I try to use pub sub with daprd I have the following message (I am running on a windows 11 pc).

error occurred while beginning pubsub rabbitmq.pubsub: error getting topics from app: invalid character '<' looking for beginning of value
I have also tried with the pubs

[2022-02-28 22:19] #4202 closed

[2022-02-28 23:24] yaron2 opened #4309 "Support UDS on Kubernetes"
Today, Dapr supports unix domain sockets on self-hosted mode only. We should add a `dapr.io/unix-domain-socket-path` or similar annotation on Kubernetes and [mount a volume](https://kubernetes.io/docs/tasks/access-application-cluster/communicate-containers-same-pod-shared-volume/#creating-a-pod-that-runs-two-containers) (if possible; if not, instruct users to do so in the deployment YAML) for the

[2022-03-01 01:01] saber-wang commented on #4304
@alberthuang24 I updated the deployment file

[2022-03-01 01:36] dazhu6666 commented on #4290
the question is
yaml config use 【scopes】 not work

not sub topic app will show error  "non-retriable error returned from app while processing pub/sub"
but use  Topic("pubsub","")  Attribute  is work

netcore 5.0

[2022-03-01 01:36] dazhu6666 commented on #4290
@Taction

[2022-03-01 01:44] Taction commented on #4307
Daprd will try to get subscription config from `/dapr/subscribe` endpoint with get method, and expect the response in `application/json` format. It seems your endpoint returns a html format result?

[2022-03-01 01:57] Taction commented on #4290
Thanks for your clarify, I know your issue now, `scopes` do not take effect. I'll look into that later.

[2022-03-01 02:32] daixiang0 commented on #4309
UDS share refers to https://kubernetes.io/docs/tasks/access-application-cluster/communicate-containers-same-pod-shared-volume.

Mark it as help wanted as I am busy recently, anyone interested can take it.

[2022-03-01 02:35] daixiang0 commented on #4303
Still reuse current logic?

[2022-03-01 02:36] daixiang0 commented on #4301
How about creating a list to divide and track them?

[2022-03-01 03:39] EashShow opened #4310 "SignalR handshake error"
Dapr CLI version: 1.5.1
Dapr Runtime version: 1.6.0
Dapr Client version: 1.6.0

the signalR endpoint is "/socket/ws"
the websocket URL is "http://192.168.101.18:3500/v1.0/invoke/myappid/method/socket/ws"
the response to frontend is "**Error during WebSocket handshake: Unexpected response code: 200**"

_when the signalR connects to "http://192.168.101.18:5000/socket/ws" directly, not through the Da

[2022-03-01 06:36] dazhu6666 opened #4311 "dapr in k8s mult pod cannot start use kafka pubsub"
ver  1.5

netcore 5.0

use components pubsub

pubsub use SDK Topic("pubsub","")

=========================================================================

**pubsub.yaml**
apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: pubsub
spec:
  type: pubsub.kafka
  version: v1
  metadata:
  - name: brokers
    value: "xxx"
  - name: consumerGroup # Optional. Used for input bindings.
    value

[2022-03-01 07:26] alberthuang24 commented on #4304
Okay, I think your problem is the same as mine, when the deployment changes, the service is not updated in time

https://github.com/dapr/dapr/issues/4287

[2022-03-01 15:33] a377965 commented on #4306
Dapr Team, any insight into this matter?  I have worked around in to not require Dapr Service Bus in this one service(using not Dapr subscriber without Cloud Events) and all was working.  But now the issue is showing up in other services that were previously working successfully as they required a restart and are showing a similar message.

[2022-03-01 16:35] trondhindenes opened #4313 "allow annotation to specify shutdown pause"
## In what area(s)?

/area runtime

## Describe the feature
We're struggling with making dapr lifecycle robust, especially during shutdown. We have some pods that need a few seconds (up to 30) to shutdown, and during those 30 seconds, they require the dapr sidecar to be available so that messages can be sent. However, since these pods are in the "draining" state, we don't want them to receive more

[2022-03-01 17:02] trondhindenes commented on #4313
I tried to use the dapr _service_ instead of the sidecar address in the meantime, but at least the health endpoint (`curl http://<app-id>-dapr:80/v1.0/healthz`) just gives a http 400 back :-(

[2022-03-01 17:35] msfussell commented on #4119
@amulyavarote - can you create a docs issue for this to track. The docs issues should contain examples on how to use this.

[2022-03-01 23:32] shobhitkasliwal-onbe commented on #4235
can anyone please let me know if there is a way to add tags to traces in dapr ?

[2022-03-01 23:52] yaron2 commented on #4235
There isn't currently a way to add tags.

[2022-03-01 23:53] yaron2 commented on #4235
If you want to come up with a design proposal here for how to implement these for HTTP/gRPC, that'd be great.

[2022-03-02 02:18] saber-wang commented on #4304
@alberthuang24  It should be the same problem

[2022-03-02 03:29] jaredhshuai commented on #4270
hi @abelperezok Did you find anything?

[2022-03-02 03:31] jaredhshuai commented on #4277
hi @artursouza Any updates?

[2022-03-02 03:42] nwiizo commented on #3169
Organization/Company:3-shake Inc.
Website: https://3-shake.com/
Country: Japan
Contact: [shuya.motouchi@3-shake.com](shuya.motouchi@3-shake.com)
Usage scenario: Using Dapr for applications that SaaS.
Status: In Development

[2022-03-02 03:50] #3825 closed

[2022-03-02 03:51] yaron2 commented on #4270
Use the --previous flag in the logs command to get the logs of the crashed container.

[2022-03-02 16:53] yaron2 commented on #4284
Can you turn on Kubernetes API logs from AKS and look at the k8s controller and other components to try and spot an error when calling the sidecar injector? It'll surely show up there.

[2022-03-02 18:42] yaron2 opened #4317 "Stop event processing on sigterm"
For slow (subjective term, but that only strengthens the need for this feature) consumers of pub/sub events and input bindings, dealing with incoming messages when the `daprd` process is shutting down is not desirable for cases where a graceful drain is needed.

Ideally we'd want to signal to `daprd` to stop consuming events once the sigterm signal is received.

[2022-03-02 20:29] amulyavarote commented on #3811
/assign

[2022-03-02 20:53] subash89 opened #4321 "Dapr 1.6: Grant dapr-operator svc account the access to secrets"
Dapr 1.6.0
I could see following error from dapr-sentry pod [1] while deploying dapr in EKS.

The error logs are from dapr-sentry pod. So this means dapr-operator service account trying to read/update secrets witin dapr-sentry container.  I haven't seen this issue in 1.5.x, probably this attempted operation is newly introduced.

The way I could get away from this issue is binding dapr-operator svc

[2022-03-02 21:25] trondhindenes commented on #3169
Organization/Company: Nomono
Website: https://nomono.co/
Country: Norway
Contact: trond.hindenes@nomono.co
Usage scenario: Using Dapr for distributed messaging between our microservices
Status: Production

[2022-03-03 01:31] daixiang0 commented on #4317
+1

[2022-03-03 02:45] artursouza commented on #4323
I talked to Yaron about this and could still be an SDK issue. Still needs further investigation.

[2022-03-03 04:31] hjiea commented on #4291
I also encountered this problem. A microservice needs to be accessed by users through HTTP and other microservices in dapr through grpc,. If I divide it into two, it will become two service instances, which will lead to data synchronization problems (they use the same data and cache)

[2022-03-03 04:59] shubham1172 opened #5873 "Verify performance regression with nacos binding upgrade and add it back"
## Describe the feature
Dapr introduced the Alibaba Nacos binding with dapr/components-contrib#814 in v1.2 which was then reverted back in the endgame with https://github.com/dapr/dapr/pull/3212, after a performance regression https://github.com/dapr/dapr/issues/2479.

Nacos was upgraded to a newer version with dapr/components-contrib#1478 (and many other PRs since), this issue is to verify if the

[2022-03-03 05:14] yaron2 commented on #4068
Made changes to the above table:

1. Changed `component_name` and `namespace_name` to `component` and `namespace` to be consistent with existing Dapr keys.
2. Changed x_count and x_latencies to count and latencies.

[2022-03-03 09:26] siredmar commented on #3085
@1046102779 any news on this one?

[2022-03-03 09:28] nokimac160 opened #4324 "querying elasticsearch & couchbase"
HI

1. How i can querying elasticsearch ? by the sdk (java/go/node.js)
2. How i can querying couchbase ? by the sdk (go/java/node.js)

i appreciate code example, how to querying by SDK statestore/query/ from SDK the elasticsearch & couchbase.

thanks

[2022-03-03 09:38] 1046102779 commented on #3085
It was already supported from v1.6.

[2022-03-03 09:48] siredmar commented on #3085
@1046102779 so, if this feature is already supported in v1.6, i'd expected some log output when a new component is detected in the components dir.

How i tested this:

[code]

[2022-03-03 10:07] fanfanbj commented on #1907
@yaron2 @artursouza I found that sidecar container type feature is still undecided in kubernetes. Dapr provides a way to determine it’s health using an HTTP /healthz endpoint：GET http://localhost:<daprPort>/v1.0/healthz. App can call this API at prestart in container's lifecyle to determine sidecar's start status. Can we use this way as a solution? and we can log this into dapr document until the

[2022-03-03 10:10] dengyangxi opened #4325 "How to enable both grpc and HTTP when starting dapr ?"
Use grpc communication：

 dapr run --dapr-http-port 3511 --app-port 5000 --app-id backend  **--app-protocol grpc**  dotnet  .\BackEnd\bin\Debug\net5.0\BackEnd.dll --app-ssl

Use HTTP communication
 dapr run --dapr-http-port 3500 --app-port 5000  --app-id backend  dotnet  .\FrontEnd\bin\Debug\net5.0\FrontEnd.dll

How to use **grpc and HTTP** communication.
Enable the above two communication modes a

[2022-03-03 13:33] denis111 commented on #2885
Or just make local dapr run command support hostname, not only port, so it may work with solutions like kubefwd, telepresence, etc.

[2022-03-03 15:49] pratik2247 opened #4326 "how to find TrustDomain for Access Policy ?"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

## Ask your question here

Hi Team,

We have deployed services into kubernetes cluster and have defined access policy for them as follows.

accessControl:
    defaultAction: deny
    trustDomai

[2022-03-03 16:21] denis111 commented on #2885
Seems like it was possible before (by just using different host for each run) but the commit was reverted https://github.com/dapr/dapr/pull/2727 😢

[2022-03-03 19:06] paulgyro commented on #3169
Organization/Company: enChoice
Website: https://www.enchoice.com
Country: USA
Contact: pwidner@enchoice.com
Usage scenario: Using Dapr for our core distributed system / microservices infrastructure

[2022-03-03 20:28] yaron2 commented on #4326
Can you remove the `trustDomain` field completely and see what happens?

[2022-03-03 20:29] yaron2 commented on #4302
Does this still happen if you restart Dapr after Redis restarts?

[2022-03-04 01:54] #4119 closed

[2022-03-04 02:28] artursouza opened #4327 "Support for external app's endpoint (remote sidecar)"
## In what area(s)?

 /area runtime

## Describe the proposal

Today, Dapr sidecar invokes apps on localhost only. On the other hand, there might be situations where the app is not running at the same host as the app.

This proposal is for Dapr sidecar to accept a new parameter, `--app-endpoint` where an HTTPS URL can be passed in. For example, `--app-endpoint https://myapp.myhostingplatform.com`.

[2022-03-04 02:44] #3811 closed

[2022-03-04 02:49] yaron2 commented on #4327
I support this, just need to make sure we get a stamp of approval from the community regarding the security of this.

[2022-03-04 02:59] artursouza commented on #4327
The HTTPS connection  SHOULD NOT work with self-signed certificates, for starters.

[2022-03-04 03:41] fanfanbj commented on #3565
@artursouza @yaron2 I am working this issue. I plan to add SSL support in daprd's http protocol and grpc protocol. Do you think it‘s ok for that?

[2022-03-04 07:43] Rahul-jll commented on #2353
I am also facing the same issue on AKS

[2022-03-04 16:25] paulvanbladel commented on #4255
In my view, pub sub without outbox pattern is quite useless. If you need that in the app service itself, we seriously undermine the benefit of dapr. Outbox/inbox is a real infrastructure concern, so it's place is definitely inside the sidecar.

[2022-03-04 16:58] yaron2 commented on #4321
@subash89 I cannot reproduce this, and there was no change in Dapr 1.6 afaik.
Can you try installing Dapr 1.6 on a fresh EKS cluster and see if you get the same error?

[2022-03-04 17:32] m-carter1 commented on #4284
I've had a quick look and nothing is jumping out at me

There's a 404 error on the prometheus-operator, i'll look some more next week

`{
	"kind": "Event",
	"apiVersion": "audit.k8s.io/v1",
	"level": "Request",
	"auditID": "xxxc0bbe-f217-44c5-94e2-224d2b432xxx",
	"stage": "ResponseComplete",
	"requestURI": "/apis/apps/v1beta1/statefulsets?resourceVersion=0",
	"verb": "list",
	"user": {
		"username

[2022-03-04 17:33] msfussell commented on #4327
This is identical to the work done here https://github.com/dapr/dapr/issues/1972 and as @yaron2 it was security that was the hard part, both Auth and encryption.

[2022-03-04 21:19] artursouza commented on #4327
This is very similar but not identical. In this case, we are focusing on HTTPS endpoint only, not gRPC. That limits the security concerns. Also, this issue does not include how to open Dapr's sidecar API externally, which is today handled entirely by the user.

[2022-03-05 10:43] iamhardikat11 commented on #4309
Sir, can you please describe more about this issue, I have fundamental knowledge regarding it, please elaborate a bit more?

[2022-03-06 19:07] #4068 closed

[2022-03-07 01:48] Taction commented on #4309
Dapr now uses `unix-domain-socket` flag to define the unix domain dir, this should be exposed to service annotation. Better to add a mount volume (follow https://kubernetes.io/docs/tasks/access-application-cluster/communicate-containers-same-pod-shared-volume.) to the helm and the path should be defined from `values.yaml`.

[2022-03-07 05:18] shubham1172 commented on #3837
/assign

[2022-03-07 07:21] artursouza commented on #4171
We have identified other scenarios where the sidecar is not injected. We need to create some sort of background process to identify those instances and proactively fix it.

[2022-03-07 07:31] maiguoma commented on #4302
No, after Redis restarts, you need to restart dapr manually, which is very troublesome. During the period, the business will be interrupted, and the published data cannot be subscribed. It will not return to normal until dapr is restarted. What is a better way to deal with dapr subscription after Redis restarts? No data problem (key not found in XREADGROUP)

[2022-03-07 08:19] 1046102779 commented on #3085
Sorry, I didn't make it clear, the dynamic loading of components can only take effect in k8s cluster;

[2022-03-07 08:42] siredmar commented on #3085
Would you accept a PR that introduces this feature with a newly flag e. g. 'dynamicComponentsReloading'?

[2022-03-07 09:01] dazhu6666 commented on #4311
@Taction @yaron2 @pkedy

[2022-03-07 10:25] subash89 commented on #4321
@yaron2  I tried helm uninstall and reinstall. So the difference here is what permission you have as the role in which you deploy the helm chart. If the role you used to deploy the chart has both cluster level access as well as namespace level access together, it will work.

[2022-03-07 15:24] #4284 closed

[2022-03-07 15:42] sergiibielskyi opened #4332 "Service invocation response ERR_DIRECT_INVOKE"
Hi, I try to play with service invocation but I see an error like this
{
    "errorCode": "ERR_DIRECT_INVOKE",
    "message": "fail to invoke, id: cosmosdb, err: couldn't find service: cosmosdb"
}

My command to run
dapr run --app-id cosmosdb --app-port 5298 --dapr-http-port 50001 --components-path Components dotnet run

I have two web APIs and trying to call web method
var client = new DaprClient

[2022-03-07 18:01] yaron2 commented on #1976
It's not a requirement. You can also set up a secure tunnel between the standalone instance and the k8s cluster, for example, and talk to the Kubernetes service of the desired Dapr sidecar.

Re: Bad Gateway, Dapr by default locks down communications from outside the pod. To change that, see [this](https://docs.dapr.io/reference/arguments-annotations-overview/) about `--dapr-listen-addresses`. (you

[2022-03-07 18:23] artursouza commented on #4227
@yaron2 I think the work here might be as simple as disabling (via configuration or automatically) the K8s secret store, which is the root cause of the crash. This way, users run on K8s while the app POD has `automountServiceAccountToken: false`. Do you see another use case for the sidecar to depend on the K8s API?

[2022-03-07 18:31] xendren commented on #1976
Wow!  That's all that I was missing.  Thanks for the response.
I wish that was better documented somewhere.  I see the comment now in the variables section you linked, but it wasn't obvious to me that it was locked down.  When I deployed my calling app to Kubernetes in a different namespace/pod, everything worked fine.  I'm guessing the Kubernetes identity service lookup is using the gRPC call tha

[2022-03-07 18:37] yaron2 commented on #1976
cc @msfussell Re: better documentation.

For service to service calls, the app calls to Dapr on localhost locally. It's the same for same/cross namespaces.
With an Ingress Controller, the controller is actually calling Dapr through a Kubernetes Service and not on localhost, which is why you need to set up the above rules.

[2022-03-07 18:57] yaron2 commented on #4227
Dapr service invocation (with mTLS) cannot operate when `automountServiceAccountToken` is set to `false`.

[2022-03-07 19:02] yaron2 commented on #4227
@artursouza the cause of the crash in https://github.com/dapr/dapr/issues/3667 is no longer relevant. The Dapr sidecar today makes no k8s API calls. The secrets now are fetched by the Operator and delivered to the sidecar.

[2022-03-07 19:40] yaron2 commented on #4227
Well, there's an exception there. If the app uses the Secrets API, then the sidecar will call the k8s API as part of the component logic. We need to make the k8s secret component explicit, and only if applicable to the app we should load it.

[2022-03-07 19:41] artursouza commented on #4227
Yes. That was my original point.

[2022-03-07 23:05] #4249 closed

[2022-03-08 03:09] EashShow opened #4336 "invoke SSE by Dapr, the connection or response works incorrect"
Dapr CLI version: 1.5.1
Dapr Runtime version: 1.6.0
Dapr Client version: 1.6.0

when I FlushAsync(), the SSE connection is keep alive, but the front-end can not receive any message
when I Flush(), the front-end can receive the message, but the SSE connection will be disconnected

[2022-03-08 05:37] johnseed commented on #3766
Same issue here.
Redis, rabbitmq is working fine, but Kafka keep getting error "Invalid receive (size = 369295616 larger than 104857600)".
Tried [Bitnami kafka](https://bitnami.com/stack/kafka), [wurstmeister/kafka](https://hub.docker.com/r/wurstmeister/kafka), [Offical APACHE KAFKA](https://kafka.apache.org/quickstart) with no luck.

### Error info
dapr:
[code]
Kafka:
[code]

## Code
repo [johnse

[2022-03-08 05:38] xendren commented on #1976
Ok.  That makes sense.
Currently, I added an ingress rule for my application to route all the api traffic to the dapr service targeting port 80.  It seemed that would be required to call the sidecar from external client.  I'm assuming that is required.

[2022-03-08 06:29] shubham1172 commented on #3451
@daixiang0 can you please reopen this issue? Are you in favor of creating a separate `healthz` endpoint for actors?

[2022-03-08 06:32] daixiang0 commented on #3451
@shubham1172 I perfer to optimize healthz.

[2022-03-08 08:19] saber-wang opened #4338 "What are the best practices for PubSub A/B test in dapr?"
/area runtime
## Ask your question here

According to my test, at present, you can only add the version number for appid and topic at the same time to correctly route messages.
However, adding the version number to the appid makes the actors state unavailable. See the previous problem for details #3888
So there are other better solutions?

[2022-03-08 08:25] mdutshabalala opened #4339 "Dapr in AKS with Azure File Share PV mounting failing health and readiness probes"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

AKS should be able to provision dapr side-car successfully

## Actual Behavior

Dapr side car failing health and readiness probes.

## Steps to Reproduce the Problem

Provision a container in AKS that has a Dapr side-car. Mount the main container via PV to Azure File Share.
http-get http://:3501/v1.0/healthz delay=30s timeout=3s

[2022-03-08 08:58] saber-wang commented on #3408
@TilmannBach  I see #3346 has fixed this

[2022-03-08 08:58] #3408 closed

[2022-03-08 10:49] TilmannBach commented on #3408
so this is available but not documented? thanks @saber-wang to hint me there, i'll give it a try!

[2022-03-08 11:26] Taction commented on #3408
This can be set from annotation `dapr.io/http-read-buffer-size`.

[2022-03-08 12:12] goldytech opened #4340 "Unable to start .net 6 Api project in self hosted mode with components path parameter"
## In what area(s)?

/area runtime

## What version of Dapr?

 1.1.6

## Expected Behavior

I'm running a .net 6 webapi service . I'm trying dapr with state management building block. I've created a folder within my project folder called `DaprComponents`. This folder has a 'stateStore.yml` file where my Redis configuration is defined.
Now when I run the project with this cli command `dapr run --ap

[2022-03-08 15:25] yaron2 commented on #3766
Will take a look

[2022-03-08 18:37] ItalyPaleAle opened #4341 "Proposed improvements to state store encryption"
## In what area(s)?

/area runtime

## Describe the proposal

In #4260 we are proposing to make state store encryption a stable feature, as originally discussed in #1090. While reviewing the implementation of the feature, I would like to suggest a couple of areas of improvement before we consider the feature stable, which I believe would bring value to our customers.

### Consider using a wrapped

[2022-03-08 18:42] ItalyPaleAle commented on #4341
CC: @yaron2 as discussed during the call this morning

[2022-03-08 18:47] yaron2 commented on #4341
Dapr supports sharing of state, meaning several apps can [share the same state[(https://docs.dapr.io/developing-applications/building-blocks/state-management/howto-share-state/) from the same state store. How does the proposed model work with that?

[2022-03-08 18:49] ItalyPaleAle commented on #4341
We can decide how the key is shared. The way keys would be shared (or not) depends just on what identifier we use to store the key in the state store. If we include the application name, we can limit it to an application; otherwise, we don't have to.

It's totally fine for the wrapped key to be public and stored in the state store, since it's wrapped and without knowledge of **UK** can't be decryp

[2022-03-08 19:04] yaron2 commented on #4341
In the event of a database record corruption where the WK is lost, how would an organization go decrypting existing data using an existing UK?

How do you guarantee that two or more instances of the same app (or different apps targeting the same state store that has sharing enabled) do not create different WKs due to a race condition?

[2022-03-08 19:28] ItalyPaleAle commented on #4341
Restore from backup. If we assume that records are most likely to be corrupted when they're written/updated, a WK should be read very frequently but written only when the UK is rotated. So this seems a fairly uncommon case.

Note that you only need to restore the WK from backup. And being something long-lived, you'll likely have a backup of that.

Also worth noting that key wrapping/unwrapping sho

[2022-03-08 20:10] yaron2 commented on #4341
So this essentially requires the user to:

1. Create UK
2. If the database doesn't have backup: Watch the database for the first time a key is ever created (how? by who'm? by what means?), then backup the data manually
3. If the database has backup: Rely on the fact that the backup occurred before the data loss. (this is non-deterministic).
4. In the event of data loss: manually patch the database

[2022-03-08 20:20] ItalyPaleAle commented on #4341
On point 1,  I would like to highlight the delta with the current configuration.

- Users are already required to generate UK, so first step doesn’t change.
- Corruption of a record in a database is already a possibility and users should already be encouraged to perform backups regardless. You’re correctly highlighting that there’s an increased risk due to the case when WK is the only thing that g

[2022-03-08 20:41] yaron2 commented on #4341
Actually, it should very much be treated differently than any other situation where the database fails. A database failure such as a restart, temporary network partition or disk failure, or even non encrypted data loss can result in a data recovery.

This situation, however, will result in a full loss of all data in the system.

To me, this is a no-go as a guiding principal in Dapr is to try and p

[2022-03-08 22:54] yaron2 commented on #4341
Also, can we agree that making the Cipher configurable is not a blocker to GA this feature?

I agree on both accounts.

[2022-03-09 00:36] georgestevens99 commented on #501
I have been watching this feature out of the corner of my eye for months now.  It is very popular, but looks as if it has gotten stalled out for the last couple releases.  I hope work to complete this can resume after 1.7 is out the door and result in getting something nicely useable (but maybe not with every feature including the kitchen sink) released and into developers hands in the next few mo

[2022-03-09 02:53] Taction commented on #3766
@johnseed can you help have a try with this pubsub yaml?
[code]

[2022-03-09 03:24] darren-wang commented on #3766
what is the minimum version of kafka cluster that this component support, I'm using kafka 0.10.0.1 and `ip:port` as `brokers`(e.g. 123.123.123.123:9092) and  the sidecar failed with :

[code]

And I'm sure that the network is connected and the test cluster does not need authentication.

I think there should be a version list that our component supports.

[2022-03-09 03:26] darren-wang commented on #3766
what is the minimum version of kafka cluster that this component support, I'm using kafka 0.10.0.1 and `ip:port` as `brokers`(e.g. 123.123.123.123:9092) and  the sidecar failed with :

[code]

And I'm sure that the network is connected and the test cluster does not need authentication.

I think there should be a version list that our component supports.

[2022-03-09 03:51] #3981 closed

[2022-03-09 05:08] artursouza commented on #3934
@msfussell  This would be a new process, we do have the docs issue already. If that is tagged correctly in the milestone, it will accomplish the debt in docs.

[2022-03-09 05:08] #3934 closed

[2022-03-09 06:10] feuyeux commented on #2665
Great for me, and it works well if only keeping the filters at least.

[2022-03-09 06:38] #3977 closed

[2022-03-09 06:59] Taction commented on #3766
The default version is 2.0.0.0, and you can define it with `version`. I am currently not sure the supported range but you can have a try by adding:

[code]

[2022-03-09 07:15] johnseed commented on #3766
It worked! Thank you so much.

[2022-03-09 08:22] jyller opened #4343 "Dapr init certificate signed by unknown authority"
[code]

[2022-03-09 09:37] shubham1172 commented on #4332
Can you please share the logs from `dapr run`?

[2022-03-09 09:43] sergiibielskyi commented on #4332
Hi, sure. Take a look below,
Starting Dapr with id cosmosdb. HTTP Port: 50001. gRPC Port: 58073
INFO[0000] starting Dapr Runtime -- version 1.6.0 -- commit 4bb25fab444c4f1a1bf0ffd74293dbd4fdcea580  app_id=cosmosdb instance=machine.local scope=dapr.runtime type=log ver=1.6.0
INFO[0000] log level set to: info                        app_id=cosmosdb instance=machine.local scope=dapr.runtime type=log v

[2022-03-09 09:59] shubham1172 commented on #4332
It looks related to https://github.com/dapr/dapr/issues/3256

Can you please check the related issues in that issue (starting with https://github.com/dapr/dapr/issues/2665) to see if it helps you?

[2022-03-09 10:16] sergiibielskyi commented on #4332
I do not have any VPN enabled services. Only antivirus firewall. Anyway let me try to disable it to see if it is fixed afterward

[2022-03-09 10:19] sergiibielskyi commented on #4332
Yes, after removing, it works
<img width="456" alt="Знімок екрана 2022-03-09 о 12 18 08" src="https://user-images.githubusercontent.com/22615785/157421889-bc43f23d-e069-4491-95b8-eb3e4a52a871.png">

[2022-03-09 10:33] #4332 closed

[2022-03-09 10:33] sergiibielskyi commented on #4332
that works right now.

[2022-03-09 10:40] shubham1172 opened #4344 "Method invocation error handling for invalid method name"
Related PR: https://github.com/dapr/cli/issues/909
Service invocation API reference: https://docs.dapr.io/reference/api/service_invocation_api/

## Description

### Invalid app-id

Whenever one makes a HTTP call to Dapr with invalid app ID, it handles it gracefully and returns a proper message.

<details>
<summary>Sample request</summary>

[code]
</details>

<details>
<summary>Response (Status cod

[2022-03-09 16:53] pravinpushkar commented on #4343
@jyller
In order to proceed further please provide below information -

1. Are you getting this issue consistently?
2. Are you able to download the tar files directly with your browser from this location - https://github.com/dapr/dapr/releases/tag/v1.6.0
3. If you are behind any proxy or vpn then can you verify once by disabling it.

[2022-03-09 18:15] #3450 closed

[2022-03-09 18:17] calvin2021y opened #4346 "couldn't find output binding"
**Describe the bug**

try call the http bindings with curl, but get this error:
[code]

**To Reproduce**

this is my config:

[code]

The logs:

[code]

I can see the it from `dashboard Dapr Components` list.

**Expected behavior**

expect the call sccuess

[2022-03-09 22:09] yaron2 commented on #4346
What namespace is your app running in?

[2022-03-09 22:17] yaron2 commented on #777
This is coming out in the 1.7 (next) release. Tracked here: https://github.com/dapr/dapr/issues/3586

[2022-03-09 22:17] #777 closed

[2022-03-09 22:26] yaron2 commented on #3015
@mstrYoda we'll continue the discussion. I reopened the issue.

@artursouza hot reloading of components is something that many have asked about. we can provide this functionality to both k8s and self-hosted modes, so I don't see this as bringing k8s into Dapr. In the past we discussed that hot reloading will need to be explicitly enabled (via Configuration) and will default to how Dapr behaves tod

[2022-03-09 23:06] jjaferson commented on #4309
@Taction Not sure I follow how to add the volume mount to the helm, in my understanding the ask for this issue is to get the volume name from a pod annotation (`dapr.io/unix-domain-socket-volume-name`), mount a volume in the injected sidecar container and set the flag `--unix-domain-socket` with the path as argument to the service.

Added an exemple here in my fork https://github.com/jjaferson/dap

[2022-03-10 01:25] yaron2 commented on #4309
What you did in your fork is the way to go about it. I think the volume would need to get mounted on all containers in the pod though.

[2022-03-10 02:13] darren-wang commented on #3766
I'm using dapr-1.5.1, and,

1. I confirmed that `brokers` field supports `IP1:PORT,IP2:PORT` brokers string.
2. pubsub.kafka supports kafka `0.10.0.1`

here is my yaml:

[code]

[2022-03-10 02:14] #3766 closed

[2022-03-10 04:11] yaron2 commented on #4309
Looks like there's a PR in for this: https://github.com/dapr/dapr/pull/4348#event-6214701548

[2022-03-10 04:15] daixiang0 commented on #4309
I have created a draft as #4348, it can share UDS volume among all containers.

[2022-03-10 05:27] calvin2021y commented on #4346
This is the dapr run:
[code]

run with `NAMESPACE=default` and not set namespace from config yaml files.

[2022-03-10 05:32] yaron2 commented on #4346
Clear your namespace env var and try again.

[2022-03-10 07:17] calvin2021y commented on #4346
same error:

[code]

[2022-03-10 08:02] XavierGeerinck commented on #3451
Agreed that this is crucial, we can never expect a server to startup correctly before placement has been checked

[2022-03-10 08:21] mstrYoda commented on #3015
@yaron2 I am happy to hear that. I will keep following the discussion. I would like to get involved in the development process.

[2022-03-10 18:47] berndverst opened #4350 "Update protoc version and centrally specify the version"
Currently Dapr forces the use of protoc 3.14.0. This version is quite outdated and should be updated.

The latest protobuf / protoc version generates different output. We need to evaluate whether the new output is backwards compatible.

Both the Makefile and Devcontainer Dockerfile specify the protobuf version to use and install. We should define this in a central place so that the Devcontainer an

[2022-03-10 21:34] jjaferson commented on #4309
I had a look at your PR @daixiang0 and it looks good, maybe something to consider is adding a check to verify if the volume already exists and instead of passing a path via the `dapr.io/unix-domain-socket-path` annotation only specify the name of the shared volume as apparently according to the [documentation](https://kubernetes.io/docs/tasks/access-application-cluster/communicate-containers-same-

[2022-03-11 00:11] ItalyPaleAle commented on #4341
For making the cipher configurable, are you with sticking to AES only, or is support for other ciphers (probably just ChaCha20-Pply1305) a requirement?

In the first case the implementation would be trivial: the right algorithm (AES-128/192/256) would be selected based on the key size (ie: 128-bit keys lead to AES-128). No further configuration changes would be needed.

In the latter, we'd need to

[2022-03-11 02:00] daixiang0 commented on #4309
The volume name is hard to conflict I think.

[2022-03-11 05:42] ls-2018 opened #4352 "Lack of mirror"
## In what area(s)?

`tests/e2e/bindings/bindings_test.go:106` test will pull docker.io/dapriotest/e2e-binding_input:latest image
but dockerhub is no mirror image

<img width="910" alt="image" src="https://user-images.githubusercontent.com/38821215/157809184-670f3ce5-f398-4549-adb7-9859dba0ba85.png">
<img width="783" alt="image" src="https://user-images.githubusercontent.com/38821215/157809300-92a

[2022-03-11 05:51] shubham1172 commented on #4268
/assign

[2022-03-11 07:20] darren-wang commented on #3766
P.S.

dapr subscription needs kafka v0.10.2.0 at least, so in our test with kafka 0.10.0.1, only pulisher is available.

[2022-03-11 10:36] psychomelet opened #4353 "concurrent map write error in placement"
[code]

[2022-03-11 11:38] mstrYoda commented on #2950
ping @artursouza @jjcollinge @yaron2

[2022-03-11 12:39] nupis-DanielS commented on #4265
Hi.

Are there any news on this topic or should i move the issue to the components-contrib project?

[2022-03-11 14:21] shubham1172 commented on #4158
Closed by mistake, please reopen this.

[2022-03-11 18:58] artursouza commented on #3015
I can see this being valuable in local development mode. For production use, I would recommend against it because of increased risk for a service wide outage due to a bad config - K8s handles that for you via the rolling restarts.

[2022-03-11 20:07] #4219 closed

[2022-03-11 20:10] yaron2 commented on #4344
The Service Invocation methods should be as close to a transparent proxy as possible and not interpret any status codes or make decisions based on these that alter the returned response from the target endpoint.

cc @paulyuk

[2022-03-11 20:29] artursouza opened #4355 "Mirror 3rd party images into Dapr's GitHub Container Registry"
Today we use many 3rd party images in CLI and quickstarts. We pull them from Docker Hub. Pulling from Docker Hub can be limited in some enterprise networks. I propose we create a process to mirror container images from 3rd parties into our GitHub Container Registry. This can include images like Kafka, Zipkin, Redis, etc.

The update can be for latest tag only and be done on a weekly basis.

Propos

[2022-03-11 20:50] yaron2 commented on #4355
Makes sense. This will mean, however, that in the event of a Log4J like incident, we would have to update our images as soon as a patch version in the upstream image is out.

[2022-03-11 23:08] mstrYoda commented on #3015
+1 for local development.

Also what about making it optional to the end-user for production? Maybe it can be specified by a parameter for dynamically reflecting component updates.

[2022-03-11 23:08] mstrYoda commented on #3015
+1 for local development.

Also what about making it optional to the end-user for production? Maybe it can be specified by a parameter for dynamically reflecting component updates.

[2022-03-12 00:46] paulyuk commented on #4355
Agreed.  At same time these images have been last updated by maintainers between 6mo and 3 years ago. We should consider a more reliable supply chain to guard against that kind of incident. If we can improve the reliability of pulls and rate limiting first, I think we can improve the supply chain and patching next.

[2022-03-12 02:48] shubham1172 commented on #4344
@yaron2 is there a more elegant way for Dapr CLI (or any other consumer) users to figure out what went wrong? 404 can be either the URL is itself broken, or the method name is incorrect.

[2022-03-12 02:58] yaron2 commented on #4344
A method name is essentially a part of the URL, so broken URL == method name is incorrect.

If we accept that, then a consumer can interpret a `404` response as URL not found for the target app.

Of course, the Dapr itself can return 404 if you get the Invoke URL wrong, ie. `/invokexxx/order`. The CLI is free of such issues since the `invoke` command on the CLI uses a correct Dapr URL that cannot

[2022-03-12 04:16] psychomelet opened #4357 "placement raft cluster hangs when large number of pods restart"
Dapr version v1.5.1

Dapr placement using ha deployment: 3 replicas

We're monitoring the cases of dapr-placement raft cluster stop in our prod k8s cluster, the placements stopped with no nodes working as leader in cluster, causing the entire actor service down, and the cluster can not recover automatically.

When the incident happens, we have to follow exactly 3 steps to recover the service. Neit

[2022-03-12 09:35] trondhindenes commented on #4143
@artursouza any chance of getting this included in a hotfix or something prior to 1.7.0? We're pretty desperate for this as we have to restart all dapr-enabled pods if rabbitmq has been restarted or down.

[2022-03-12 10:34] calvin2021y commented on #4346
@yaron2  any idea how to fix this ?

[2022-03-12 10:36] ls-2018 commented on #4352
/c @yaron2

[2022-03-12 15:48] yaron2 commented on #3874
@Fredborg are you still experiencing an issue?

[2022-03-12 18:11] IlSocio opened #4362 "Subscriber without SDK dependency (.net framework)"
/area runtime

hello everyone,
I'd like to use the PUB/SUB component in some webapi (.net 4.7.2), but I can't find any SDK for this platform.
Is there any way to avoid the SDK dependency and still be able to integrate properly with DAPR?

I started by using the "declarative-subscription" approach to manage the routing and I noticed that the Subscriber is supposed to provide a "/dapr/subscribe" end

[2022-03-12 19:51] #3945 closed

[2022-03-13 15:42] #4309 closed

[2022-03-13 21:52] blublinsky opened #4366 "Create a specified or default label when Dapr sidecar is injected"
## In what area(s)?

/area runtime

## Describe the feature
When using Prometheus operator https://github.com/prometheus-operator/prometheus-operator, the pods to scrape are defined using pod monitors https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/user-guides/getting-started.md#include-podmonitors  which are using matchLabels. Automatically creating well-defined

[2022-03-14 02:15] daixiang0 commented on #4352
ping @artursouza

[2022-03-14 02:15] #4353 closed

[2022-03-14 05:34] artursouza opened #4367 "Capabilities API"
Today, components have different capabilities for a given building block. In state store, for example, we have ETag and Transaction as optional capabilities. In PubSub, we have TTL. This proposal is to offer 2 things:

1. An API (probably as part of the metadata API) to list the capabilities of a component.
2. A way for the application to validate that a component has the capabilities it needs - d

[2022-03-14 05:59] xiaodongcool opened #4368 "error downloading daprd binary: stream error: stream ID 1; PROTOCOL_ERROR; received from peer"
[code]

[2022-03-14 05:59] artursouza commented on #4277
@ItalyPaleAle have fixed it in master branch. Please, try again.

[2022-03-14 05:59] #4277 closed

[2022-03-14 06:06] artursouza opened #4369 "Sidecar injection "sentinel""
Create a cron job (or background go routine in sidecar injector) that will identify Deployments or Jobs that did not have Dapr sidecar injected after some period of time and fix it.

The motivation are issues from users reporting that the dapr sidecar rarely (more than 0 times) does not inject the sidecar. Instead of debugging each event, we should have this background job as a safety guard.

[2022-03-14 06:08] artursouza commented on #4369
Sorry, duplicate of https://github.com/dapr/dapr/issues/4171

[2022-03-14 06:08] #4369 closed

[2022-03-14 06:09] artursouza commented on #4124
@Cowlord711 It is working! Thanks a lot for this contribution.

![image](https://user-images.githubusercontent.com/130954/158114854-7d0a551d-5325-440e-be59-1383c9424833.png)

[2022-03-14 06:09] #4124 closed

[2022-03-14 06:29] abserari commented on #4368
It seems to be a network problem. Could you re-produce this problem?

[2022-03-14 07:02] abserari commented on #4367
It is not feasible to expect all vendors to provide uniform building block capabilities, meaning that if some vendors have special capabilities, consumers are still vendor-bound. This API seems to be important in the scenes to avoid runtime crashes in the case where the document is not fully read or specified.

[2022-03-14 09:10] sedat-eyuboglu commented on #3069
This is an old issue but i want share our experiences:
#4051 pls. check this one. We saw an error while installing it on OKD and OCP.
In our case open shift's olm manager service account was not in the list of allowed service accounts of dapr.
We deployed it in openshift accepting this result. And didn't see any critical result. But dapr injector continues to produce error messages.
We are not OCP

[2022-03-14 09:18] mukundansundar commented on #4367
/assign

[2022-03-14 09:26] Admiralkheir commented on #3069
We gave some permission for sidecar injection and dapr components working
- gave system:openshift:scc:anyuid role to default service account in dapr-system
- gave cluster-admin cluster role to dapr-operator service account in dapr-system

[2022-03-14 13:33] itsoli91 opened #4370 "Why competing consumers always select same subscriber"
Imagine we have two instances of the same service and both of them have subscribed to a single topic 'SampleTopic'.
Currently When I publish a message to that topic, always that service which has subscribed sooner will receive the event.
Since it's a long running task I want when one instance is busy the event will be picked by another one.
I tested this with RabbitMQ and it's working fine but wit

[2022-03-14 13:41] ermaugustinas opened #4371 "Dealing with K8 throttling sentry requests"
When running a large number of pods (< 400) I seems to start hitting the issue with the dapr sentry server

[code]

Which in turn starts to fail via

Dapr sidecars are then stuck and processing can't continue. Is there way to disable this, or am I looking at this in a wrong manner ?

[2022-03-14 16:54] yaron2 commented on #4371
It's not Sentry that's throttling, but the Kubernetes API server in response to Sentry validating the pod token.

[2022-03-14 18:18] mukundansundar commented on #4325
seems similar to #4291

[2022-03-14 19:39] yaron2 commented on #4260
Closed via #4318.

[2022-03-14 19:48] c-thiel opened #4374 "dapr should fail when operator connection fails | istio compatibility"
## In what area(s)?
/area runtime
/area operator

## What version of Dapr?
1.6.0

## Expected Behavior

The sidecar should fail when operator connections are not possible.

## Actual Behavior
If the operator is not reachable during dapr startup, dapr retries 4 times, a warning is issued that components could not be loaded and thus nothing will happen afterwards. Even though the deployment is broke

[2022-03-14 21:10] c-thiel commented on #4374
We could mitigate this issue with https://github.com/dapr/dapr/issues/2984 but I still think it is a valid point that dapr should not successfully start if the operator is not reachable.

[2022-03-14 22:18] ItalyPaleAle opened #4375 "E2E tests fail when using a private container registry"
## In what area(s)?

/area test-and-release

## Description

Currently tests are failing when the test images are stored on a private container registry (ie. one that doesn't allow public, un-authenticated pulls), even when the K8s cluster itself is authenticated against the container registry. Happening on both Linux and Windows.

This was confirmed with using Azure Container Registry, with K8s a

[2022-03-14 22:19] ItalyPaleAle commented on #4375
@artursouza  can you please triage and assign this to me?

[2022-03-14 22:21] ItalyPaleAle commented on #4375
/assign

[2022-03-15 00:46] #3955 closed

[2022-03-15 04:53] #4355 closed

[2022-03-15 09:58] #2815 closed

[2022-03-15 11:49] ermaugustinas commented on #4371
@yaron2 So that is happening because of mTLS that's enabled within dapr? I assumed that it would have no problem scaling ~ 1000 pods. In that case should mTLS be disabled to prevent this from happening?

[2022-03-15 12:03] ermaugustinas commented on #4371
For context, we are running in AKS, I assume, that's related to https://github.com/Azure/AKS/issues/2155

[2022-03-15 15:08] paulyuk opened #4377 "Request: run docker-mirror-container action and set permissions"
Related to PR https://github.com/dapr/dapr/pull/4365

Could a maintainer please manually trigger the docker-mirror-container action in dapr/dapr, so we push our ~four 3rd party containers to the package list.  This enables the final step of building and testing against private registries, which should improve test reliability.

After that, I'd ask we:

- add package `Read` permissions for `dapr/qu

[2022-03-15 16:42] seeflood commented on #3549
Hi guys, I submitted two PRs for review .See https://github.com/dapr/dapr/pull/4379 and https://github.com/dapr/components-contrib/pull/1574

[2022-03-16 06:28] #4077 closed

[2022-03-16 09:51] greghoover commented on #3991
any activity on this?

[2022-03-16 11:26] BhargavaM91 opened #4386 "Error while Invoking dapr sidecar"
Hi All

I have initialized the dapr for my solution. Then I ran the dapr command to expose the dapr sidecar but it's throw error.

"dapr run --app-id appname--app-port 5000 --dapr--http--port 3500 dotnet run"

Error: {
"errorCode": "ERR_DIRECT_INVOKE",
"message": "invoke API is not ready"
}

Tried enabling the mDNS but no use.

[2022-03-16 13:49] 1046102779 commented on #4068
Is it more appropriate to use `processing status` tag than `process status` tag?

[2022-03-16 13:55] 1046102779 commented on #4068
And when are we going to implement Opentelemetry?  I found that Opentelemetry [tracing and metrics](https://opentelemetry.io/status/) are in stable status.  At the same time, golang implementation of Opentelemetry Specification also is in stable excluded logs.

[2022-03-16 18:28] skyao commented on #4323
This is a very tricky bug...... I sent so many times to debug it.

![Selection_001](https://user-images.githubusercontent.com/1582369/158661565-281448a0-fbb3-4677-9b11-9bf4459d2547.png)

As shown in above picture, by default, if no specified configuration, the service invoke flow will like this.

- In the java SDK, it will use HTTP to connect to daprd via dapr HTTP API
- Between two daprd, the pro

[2022-03-16 18:42] jjcollinge commented on #4323
@skyao thanks for the detailed breakdown - can I just query your point on the mDNS name resolution - the mDNS name resolution does use a cache internally ([see here](https://github.com/dapr/components-contrib/blob/9a3e7199e92079da1bda57c570d60873287d3d70/nameresolution/mdns/mdns.go#L247)) so it should only browse the network on the first occurrence of an appID until the cached address expires. You

[2022-03-16 19:26] ItalyPaleAle commented on #4375
I need to do more testing. I suspect it may be related to how AKS clusters on Azure authenticate with ACR, given that it's using some non-standard way. Will report once I have some findings.

[2022-03-16 21:46] artursouza commented on #2167
I propose we prioritize this for 1.8.

[2022-03-17 01:21] 1046102779 opened #4390 "Discussion: add diagnostics different components."
The current tag usage is rather confusing.

componentKey: https://github.com/dapr/dapr/blob/master/pkg/diagnostics/service_monitoring.go#L15

[code]
component.type: https://github.com/dapr/dapr/blob/master/pkg/runtime/runtime.go#L2234

[code]
component.name: https://github.com/dapr/dapr/blob/master/pkg/grpc/api.go#L407

[code]

And do we need namespaces in tag, such as `dapr.component.name` or `da

[2022-03-17 01:25] 1046102779 commented on #4390
https://github.com/dapr/dapr/issues/4068

[2022-03-17 01:25] skyao commented on #4323
Yes, I agree with you that the mDNS should work like this.

But in my test, I just use  the testcase  @yschneider-bosch discribed above and with a log arround the ResolveID() method in file `pkg/messaging/direct_messaging.go`:

[code]
And rerun the testcase with/without sleep(1000) in the DemoServiceController.

the log without sleep(1000) :

[code]

the log with sleep(1000) :

[code]

[2022-03-17 01:33] skyao commented on #4323
From the log we can see that almost of time mDNS works well and the response time of ResolveID() is 0 or near 0, except that three are some strange records with response time 3 / 6 / 9 / 12 seconds.

3 / 6 / 9 / 12 seconds, they are so regular.

[2022-03-17 02:16] Seanxwy opened #4391 "Have you considered supporting Windows containers"
I wanted to use Windows services for deployment, but cloud servers do not support secondary virtualization.Is there any consideration of fully supporting Windows containers, rather than only running Linux containers

[2022-03-17 04:06] 1046102779 opened #4392 "discussion: diagnostics tag usage"
https://github.com/dapr/dapr/blob/master/pkg/diagnostics/tracing.go#L51
[code]

tag namespace `db.`  SHOULD NOT be used in components.

https://github.com/dapr/dapr/blob/master/pkg/diagnostics/grpc_tracing.go#L281
https://github.com/dapr/dapr/blob/master/pkg/diagnostics/grpc_tracing.go#L285
https://github.com/dapr/dapr/blob/master/pkg/diagnostics/grpc_tracing.go#L289
https://github.com/dapr/dapr/b

[2022-03-17 08:31] jjcollinge commented on #4323
Thanks @skyao I will see if I can repro this behaviour in a test of the mDNS name resolution on its own. Will report back as soon as I can.

[2022-03-17 09:29] skyao commented on #4323
OK, you can just add the log as I shown above , rebuild the daprd and replace the one in ~/.dapr/bin, and rerun your test case.

I tested it on ubuntu 20.04 with intel x86 cpu. The branch of dapr repo and java-sdk repo are master.

[2022-03-17 12:16] #3146 closed

[2022-03-17 12:29] skyao commented on #4323
update for okhttp:

I checked the dapr java sdk code and found that there are some default settings in okhttp which we don't set in dapr java sdk and use the default value:

- maxRequests: default to 64
- maxRequestsPerHost: default to 5! default to 5! default to 5!
- maxIdleConnections

After change maxRequestsPerHost from default 5 to a big one, the problem resolved.

@artursouza This is why our

[2022-03-17 13:30] #4106 closed

[2022-03-17 13:46] shubham1172 opened #4393 "Devcontainer bash is slow to respond"
It has recently started for me, but the devcontainer bash takes a lot of time to execute any command (even the most simple ones like export). I am using VS code insiders with devcontainer on Windows 11.

I found this issue which is related https://github.com/microsoft/vscode/issues/133215

After editing the ~/.bashrc file and removing the call to set the git prompt, it is very fast again. Should w

[2022-03-17 15:29] skyao commented on #4323
s

[2022-03-17 16:35] paulyuk commented on #4377
Good question.  In the packages for a repo, we now see these images and settings for each image.  That is where we can set Read/Write permissions for other repos (think dapr/quickstarts can read from dapr/dapr packages).  We can also set visibility on the entire registry to public or private.

https://github.com/orgs/dapr/packages?repo_name=dapr

https://github.com/dapr/dapr/pkgs/container/3rdpart

[2022-03-17 16:35] #4377 closed

[2022-03-17 18:11] jjcollinge commented on #4323
@skyao I believe I have got to the bottom of the mDNS behaviour you were seeing - please refer to https://github.com/dapr/components-contrib/pull/1591. Thanks for flagging it.

[2022-03-17 18:29] shubham1172 commented on #3837
Dapr/dapr does not have a problem.  I tried putting telemetry around pub ([pkg/grpc/api.go](https://github.com/dapr/dapr/blob/9e970a0365181b5862aec06bf9902e4e72bc2278/pkg/grpc/api.go#L281)) and sub ([pkg/runtime/runtime.go](https://github.com/dapr/dapr/blob/9e970a0365181b5862aec06bf9902e4e72bc2278/pkg/runtime/runtime.go#L575)) code to check what data is being sent and received.

Example data sent

[2022-03-17 18:47] shubham1172 opened #4395 "Move away from json-iterator/go to encoding/json"
## In what area(s)?

/area runtime

## Describe the proposal

As discussed in https://github.com/dapr/dapr/issues/3837, we want to move away from the 3rd party JSON library to go's standard library since std lib's performance is no longer a problem. See https://github.com/json-iterator/go/issues/455

We should do this exercise for all Dapr repositories.

Note, there was a behavior change between `

[2022-03-17 19:32] ItalyPaleAle commented on #4375
I troubleshooted this. The reason for the error wasn't due to the container images being private.
Instead, it was caused by the fact that when not running inside the Dapr Test environment in Azure, MongoDB needs to be started in the cluster (which was not explained in the docs).
I've found a couple of issues with the tests and docs while investigating this issue, and I'll open a PR for those. For

[2022-03-17 19:32] #4375 closed

[2022-03-17 22:31] #718 closed

[2022-03-18 04:54] #4325 closed

[2022-03-18 07:16] ankitkgcs opened #4397 "Dapr Java sdk availability for 1.5, 1.6 in maven central?"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

## Ask your question here
Hi Team,

Latest stable version of Dapr is 1.6 but in maven central java sdk version is 1.4.0. Can you please let us know when can we expect the sdk 1.5, 1.6 releases

[2022-03-18 08:08] 767829413 commented on #4302
Hi, what is the version of Dapr you are using, I found a similar problem described in the issue corresponding to v1.2.0 and it was solved.
Redis subscriber should not block infinitely on XReadGroup [852](https://github.com/dapr/components-contrib/issues/852)

[2022-03-18 08:53] maiguoma commented on #4302
v1.6.0

[2022-03-18 08:54] maiguoma commented on #4302
@767829413 v1.6.0

[2022-03-18 09:43] 767829413 commented on #4302
Hi, I'm using Dapr version also v1.6.0, and I tried to reproduce the problem you mentioned by using the hello-world example in Quick Start, but it didn't work.
![45455454](https://user-images.githubusercontent.com/34152277/158979077-26e9d382-d1c5-459b-af24-77cb3545146c.png)

[2022-03-18 09:47] maiguoma commented on #4302
Hello, there is no problem with the local development environment, this problem will only exist on kubernetes

[2022-03-18 12:49] 1046102779 commented on #4065
@artursouza @yaron2 @daixiang0 /cc

[2022-03-18 14:31] 1046102779 opened #4398 "mistake usage: Change from CloudEvent's traceid to traceparent"
https://github.com/dapr/dapr/blob/master/pkg/runtime/pubsub/cloudevents.go#L30
https://github.com/dapr/dapr/blob/master/pkg/http/api.go#L428
https://github.com/dapr/dapr/blob/master/pkg/http/api.go#L1544
https://github.com/dapr/dapr/blob/master/pkg/http/api.go#L1556
https://github.com/dapr/components-contrib/blob/master/pubsub/envelope.go#L37

<img width="1636" alt="image" src="https://user-images

[2022-03-18 15:40] Taction commented on #2217
/assign

[2022-03-18 18:42] artursouza commented on #4323
@skyao Thanks, I am moving this issue back to Java SDK since that is where the fix is in. The mDNS finding was also great, thanks.

[2022-03-18 19:33] mukundansundar commented on #4397
@ankitkgcs The latest stable release for Java SDK is 1.4.0 only. The SDK versions are independent of runtime version. 1.4.0 is compatible with 1.6.0 runtime.

[2022-03-18 21:35] yaron2 commented on #2167
Triaged to 1.8.

[2022-03-18 22:24] yaron2 commented on #4304
Closing as dupe of #4287.

[2022-03-18 22:24] #4304 closed

[2022-03-18 22:44] yaron2 commented on #3513
This work is now tracked in https://github.com/dapr/dapr/issues/3787.

[2022-03-18 22:44] #3513 closed

[2022-03-18 22:45] yaron2 commented on #3787
@patrickhuber would you like to start working on a PR for this?

[2022-03-18 23:25] #4108 closed

[2022-03-18 23:26] patrickhuber commented on #3787
Yes. I had some family issues come up so I haven't been able to give it
attention the last month.

I still want to test the kubernetes config which I'll try to get to this
weekend.

On Fri, Mar 18, 2022, 6:46 PM Yaron Schneider ***@***.***>
wrote:

[2022-03-19 01:39] #3946 closed

[2022-03-19 15:39] kjenney commented on #2869
The latest helm chart doesn't use lookup in this template.  Maybe this was resolved upstream?

[2022-03-20 07:51] #4022 closed

[2022-03-21 01:01] daixiang0 commented on #4393
How about adding an option for this rather than direct remove?

[2022-03-21 01:55] shubham1172 commented on #4393
@daixiang0 are you suggesting using some environment variables for devcontainer to conditionally activate/remove this function? Or perhaps a command in PATH to activate/remove the prompt?

I think most users won't have problem with this, only Windows users with their source code in non-WSL file system, should have this slowness.

[2022-03-21 03:33] fanspace opened #4400 "dapr-operator Pod always restart"
time="2022-03-21T01:41:43.319040845Z" level=info msg="sidecar connected for component updates" instance=dapr-operator-56cd55588c-lqcgb scope=dapr.operator.api type=log ver=1.6.0
time="2022-03-21T01:41:48.023657626Z" level=info msg="sidecar connected for component updates" instance=dapr-operator-56cd55588c-lqcgb scope=dapr.operator.api type=log ver=1.6.0
time="2022-03-21T01:42:00.975746953Z" level=

[2022-03-21 03:56] shubham1172 commented on #4268
I have a question - should our FOSSA account be shared with only the STC, or should it include maintainers as well?

We will need to ask CNCF to invite users each time (unless they give admin access to someone from Dapr), so it's best that the list (1) is limited, and (2) has infrequent changes.

The initial FOSSA account has already been set-up, so there should be not much work for the account ho

[2022-03-21 06:08] daixiang0 commented on #4393
I prefer to add option in the json file, users who use vscode can change it.

[2022-03-21 06:52] shubham1172 commented on #4393
Do you have any docs/pointers on how will it work? I guess you are talking about the devcontainer.json file?

[2022-03-21 14:06] subash89 opened #4403 "Performance issue, using Java Dapr Client, request timeout for Dapr when load test"
hi
I am using apache bench to load test my JVM (micro service) app, with dapr side car to call a http backend.
App talks to dapr via gRPC to invoke the custom binding and I am testing this in self hosted mode.

I'm hitting the api with 20 users, total 10000 requests in each run. After about 5 iterations of these, dapr becomes unresponsive, and [1] error shows up.

I did a pprof on cpu and attached

[2022-03-21 17:22] yaron2 commented on #4398
Closed via https://github.com/dapr/components-contrib/pull/1602.

@1046102779 does this need a change in docs?

[2022-03-21 18:03] shubham1172 commented on #3837
I did some more research, and this will **not** be a breaking change.

The only change that this PR introduces is in the unmarshalling of the CloudEvent data from the PublishEventRequest in PublishEvent ([api.go](https://github.com/dapr/dapr/blob/2062c3ed344759e213d0f3b4a05df35283fcbcd4/pkg/grpc/api.go#L235))

Earlier, this unmarshalling resulted in data loss while converting 64-bit values to 53-b

[2022-03-21 18:27] yaron2 commented on #4400
It looks like the Kubernetes API server is timing out when the Dapr operator is calling it. What Kubernetes service/environment are you running in?

[2022-03-21 18:28] yaron2 commented on #4403
Are you using a `samplingRate` of `1`?

[2022-03-21 18:38] shubham1172 commented on #3837
@mukundansundar can you please un-tag the PR as `breaking-change`?

[2022-03-21 20:17] subash89 commented on #4403
@yaron2  Yes It was set to 1. Using the default config. But I don't have a local zipkin. But didn't see any timeout like errors on failing to push tracing metrics. Does it fail silently if fails to publish tracing data ?

And is this sampling rate is per second or per minute ?

`apiVersion: dapr.io/v1alpha1
kind: Configuration
metadata:
  name: daprConfig
spec:
  tracing:
    samplingRate: "1"

[2022-03-21 21:48] ItalyPaleAle commented on #3968
I really like this idea.

In the theme of supporting third-party CA's, I would like to suggest that we support Azure Key Vault as well, as it would allow better security (keys can't be extracted), automatic cert rotation, etc.

CC: @paulyuk

[2022-03-21 22:24] tillig commented on #4150
I've never been entirely clear about bots closing issues automatically without some sort of team response. This is still an issue. It might not be something that folks care to address but it seems like a human should make that decision.

[2022-03-21 22:42] #4125 closed

[2022-03-21 23:10] yaron2 commented on #4150
@tillig thanks for keeping this issue alive - as you can see, the bot removes the `stale` label as soon as someone responds in the issue so it won't be closed. This is to make sure that only inactive issues are closed, and even then these can be reopened later by maintainers.

I am moving this issue to the correct repository.

[2022-03-22 00:38] 1046102779 commented on #4398
ok, i will search and modify related docs.

[2022-03-22 00:48] #4178 closed

[2022-03-22 01:18] 1046102779 commented on #4398
https://github.com/dapr/dapr/pull/4405

[2022-03-22 03:58] skyao commented on #1787
Let me take this task.

[2022-03-22 09:07] fanspace commented on #4400
in fact , i try to invoke grpc service via dapr for many times. i  build k8s cluster with kubeadm and sealer both.    for begining. all is fine. but after 24hours,  the clinet (dapr.io/app-protocol: "http") will recive "last connection error: connection closed" error msg.

[2022-03-22 09:45] dazhu6666 opened #4408 "dapr in k8s mult pod cannot start use kafka pubsub"
ver 1.5

netcore 5.0

use components pubsub

pubsub use SDK Topic("pubsub","")

=========================================================================

pubsub.yaml
apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
name: pubsub
spec:
type: pubsub.kafka
version: v1
metadata:

name: brokers
value: "xxx"
name: consumerGroup # Optional. Used for input bindings.
value: "group1"
name: clientID
va

[2022-03-22 13:31] #4030 closed

[2022-03-22 16:08] #4260 closed

[2022-03-22 16:48] adoss commented on #1976
I am running into an issue where my application ( Tomcat/Spring) is not able to recover session. I see some differences in the http headers, when I inspect it in my application see below

1. The host name is always the local host not the domain
2. The headers is always application/json.

The apps works just fine without side cart pattern, appreciate any help.

Does the side cart pattern only works

[2022-03-22 17:41] shubham1172 commented on #4158
Using this comment to track FOSSA false positives and possible resolutions.
1. https://github.com/apache/pulsar-client-go, issue: https://github.com/apache/pulsar-client-go/issues/752

[2022-03-22 19:43] amulyavarote opened #4413 "v1.7 Endgame"
Release Coordinator: @amulyavarote
Release Buddy: @pravinpushkar

Preflight check:  03/08/2022
Code freeze:  03/22/2022
Endgame starts:  03/23/2022
RC1 date:  03/28/2022
Release date:  ~04/04/2022~ 04/07/2022

Release Tasks:

- [x] No P0 issues before code freeze.
- [x] Code freeze at 03/28/2022.
- [x] Check all new components are registered in dapr/dapr (@berndverst )
- [x] E2E, certification and

[2022-03-22 22:53] rogerex commented on #4209
yeah, I'm having the same issue, I tried to send ticks as well, but not working

[2022-03-23 02:32] subash89 commented on #4403
After changing the span to higher value problem got resolved.

[2022-03-23 04:54] subash89 commented on #4403
I tried a value like 0.001, sample once every 1000. Then dapr could withstand the load. But the moment I set the value back to 1, then it crashes as mentioned earlier.

@yaron2  Is there any known limitation for why it's not woking with sampleRate=1 ? My microservice(JVM) inbult jager client could withstand same load without any issue.

[2022-03-23 05:29] anobleperson commented on #3069
A couple of other notes for OpenShift for the documentation
- DeploymentConfig workloads (OpenShift specific) don't work with dapr, it must be Deployment workloads. If DeploymentConfig is used, the sidecar won't be injected
- In order to give the permissions given by @Admiralkheir above, the following commands can be called
`oc policy add-role-to-user system:openshift:scc:anyuid -z default`
`oc po

[2022-03-23 06:53] skyao commented on #1772
There are some requirements coming form dapr community, so I re-open this issue and then we can discuss here.

[2022-03-23 06:54] saber-wang commented on #4374
At present, in some cases, the communication failure between daprd and operator also leads to many unknown problems. The communication failure between daprd and operator should  @yaron2
[code]

[2022-03-23 07:37] shubham1172 commented on #4218
FYI, to reproduce the issue:
- Deploy the tutorial hello-world: https://github.com/dapr/quickstarts/tree/master/tutorials/hello-kubernetes
- Make changes to the state store configuration and run `kubectl apply -f redis-state.yaml`
- With each run, there is an extra Redis client added (can be seen in the screenshot)

![image](https://user-images.githubusercontent.com/22132944/159647057-948c3e20-b3e

[2022-03-23 07:46] kamikyo commented on #1772
First of all, thanks to @skyao
In a system composed of microservices, it is inevitable to encounter TCC or SAGA business scenarios.
There are indeed already some good solutions in the community, such as: [Seata](https://github.com/seata/seata)/[hmily](https://github.com/dromara/hmily)/[tcc-transaction](https://github.com/changmingxie/tcc-transaction), etc.
Unfortunately, they all pollute the exist