[2020-08-25 20:04] wcs1only commented on #1945
On windows, it fails more than it passes.

On linux, I've only seen it fail once.

[2020-08-25 20:05] wcs1only commented on #1945
Working on a patch to dump the logs on a e2e test failure to see if that shows us anything.

[2020-08-25 21:26] yaron2 commented on #1963
Can you try this when your apps are deployed to the `default` namespace?

[2020-08-25 21:54] mchmarny opened #1966 "Make Dapr logging less actor verbose"
When starting a basic Dapr app, there is a lot of noise about actors in the log that potentially could scare the user, whether the user is using actors or not.

First, there is the actors not configured warning (should that be debug?)

[code]

Since there is no store or the store user configured for their app is not transactional, we print another warning about actor compatible state store

[code]

[2020-08-25 21:57] yaron2 commented on #1966
All for making the logging less verbose where needed. we know if actors are hosted in the runtime and can potentially skip those checks.

[2020-08-25 22:35] amanbha commented on #1961
Closing as the PR is merged

[2020-08-25 23:09] amanbha commented on #1961
Reopening it as it needs to be registered in runtime as well.
The PR https://github.com/dapr/components-contrib/pull/444 is for components-contrib

[2020-08-26 01:03] LMWF commented on #1964
@stephaneey For the transaction api on a cosmos component, metadata for the partition id must be specified.

I appended this below using your sample above, can you try this/

[code]

[2020-08-26 05:09] stephaneey commented on #1964
Hello Leon,

As stated before, I've already tried with the partition key and it doesn't work either. Here is the config of the collection:

![partitionKey](https://user-images.githubusercontent.com/2558877/91257579-96c0f880-e76a-11ea-93f2-dce0ad7822c1.png)

as you can see, the partition key is /partitionKey. So I tried to specify both "partitionKey" and "/partitionKey" but no luck:

[code]

[code]

[2020-08-26 05:44] stephaneey commented on #1964
Hi again,

I found the issue by looking at the .go source code. The metadata is not to be specified for the entire set of operations but for each operation, so this payload works:

[code]
it'd be indeed more logical to specify it for the entire set of operations since it cannot be different anyway but that's how it works right now, not as described in the doc :)

Thanks

[2020-08-26 06:02] stephaneey opened #1967 "Add optional metadata to either the GET, either bulk GET operations (or both) of the STATE API"
## In what area(s)?

 /area runtime

## Describe the feature
Currently, both the simple POST and TRANSACTION endpoints let you specify a metadata payload in which you can define the partition key. However, when you don't specify any, Dapr will use the combination of dapr appid||key value to define the partition key value. That is all fine but if you posted a new document with a partition key value

[2020-08-26 06:35] KaiWalter commented on #1963
Sure I will try to rollback one of our clusters to 0.9.0 with the app in default namespace.

[2020-08-26 11:38] jigargandhi commented on #1954
I think, placement and sidecar injector still needs modification so the ticket should not be closed

[2020-08-26 12:03] KaiWalter commented on #1963
@yaron2 I was not able to reproduce this issue with a reduced version of our scenario - neither w/o nor w/ namespace. Let's close this issue for now and I will come back when I figured out what specifics in our environment or update process caused the issue.

[2020-08-26 12:03] #1963 closed

[2020-08-26 14:00] czmirek opened #1969 "Reminder cannot unregister itself"
Following on https://github.com/dapr/dapr/issues/1867

I was told by @vinayada1 that a reminder must be always unregistered explicitly from a public call.

Then why reminder cannot unregister itself? Is this design limitation, missing feature, something else? Or is there some way that a reminder can unregister itself, without the need for a different task running somewhere else?

Because of this l

[2020-08-26 14:02] yaron2 commented on #1954
Yeah, was closed via automation

[2020-08-26 15:23] yaron2 commented on #1969
/cc @amanbha

@czmirek design-wise, how would you see the reminder unregistering itself?

[2020-08-26 15:39] czmirek commented on #1969
@yaron2 I'm answering from a developer's point of view so apologies if I'm missing something.

Unregistering the reminder already requires calling a method `UnregisterReminderAsync` inside the reminder instance. That leads me to believe that the design decision for unregistering reminder from inside the reminder is already there.

The difference is context.
1) Calling `UnregisterReminderAsync` fro

[2020-08-26 15:54] yaron2 commented on #1969
Thanks for the clarification.

So would enabling calling UnregisterReminderAsync from ReceiveReminderAsync unblock your scenario?

[2020-08-26 15:55] yaron2 commented on #1732
Hi @veselfil, have you tried the 0.10 release?

[2020-08-26 15:58] czmirek commented on #1969
Yes :)

Dne st 26. 8. 2020 17:54 uživatel Yaron Schneider <notifications@github.com>
napsal:

[2020-08-26 18:48] yaron2 commented on #1969
I added this to our next 0.11 release.

[2020-08-26 20:56] ooeygui opened #1972 "Enable Daprd to communicate with nodes not on localhost."
## In what area(s)?

## Describe the feature
We are using dapr with non-kubernetes deployed nodes. In order to support this, we are launching daprd on the local system which uses daprd to enable pub/sub.

We have scenarios, where we can use gRPC, but are unable to launch a separate process for the daprd sidecar.

ASK:
Please support Daprd with nodes not running on localhost.
I suspect it will look

[2020-08-26 21:25] yaron2 commented on #1782
LGTM on adding secret scopes to configurations.

This is a global per app setting and not per component, and this is exactly what the `Configuration` CRD is for.

[2020-08-26 22:41] #1720 closed

[2020-08-26 22:42] amanbha commented on #1961
closing as its registered in runtime https://github.com/dapr/dapr/pull/1968

[2020-08-26 22:42] #1961 closed

[2020-08-26 22:51] yaron2 commented on #1969
@czmirek I tried this with 0.10 and could not reproduce this. I was able to call `UnregisterReminderAsync` from `ReceiveReminderAsync` and I confirmed the reminder only fired once. The interval set was 10ms.

[2020-08-26 23:20] yaron2 commented on #1967
Actually, this is possible, but we've found that we have no documentation of it.

For both `GET` and `BULK GET`, the metadata comes in form of query parameters.

So you would essentially do this:

#### Bulk GET

[code]

#### GET

[code]

[2020-08-27 00:10] vinayada1 commented on #1740
@cjlpowers : I am trying to debug a similar issue. Could you share some details about your env?
- Are you using any particular sdk?
- Sample code from the client that you were able to repro the issue with?

[2020-08-27 07:29] czmirek commented on #1969
@yaron2 You are right! I tested the code on 0.10 and the reminder correctly unregisters itself and it's not fired twice. Thank you 👍 :)

[2020-08-27 07:29] #1969 closed

[2020-08-27 19:12] #1909 closed

[2020-08-27 19:12] #1967 closed

[2020-08-27 19:43] LMWF opened #1973 "Remove non transactional delete, save actor state api"
Remove delete actor state api described here: https://github.com/dapr/docs/blob/master/reference/api/actors_api.md#delete-actor-state

This api is not used in any sdk, and its functionality is provided by the save state api.

/area runtime

[2020-08-27 19:49] amanbha commented on #1973
Remove non transactional delete, save actor state api
Actors use transactional state apis.

[2020-08-27 23:03] wcs1only opened #1974 "Create workflow for windows base container image"
## In what area(s)?

/area test-and-release

## Describe the feature

The multistage windows build for our windows based Dapr containers is taking far too long. I am separating this out into a separate workflow.

[2020-08-27 23:15] yaron2 commented on #1954
Thanks, amazing work @jigargandhi and @ShaileshSurya.

@ShaileshSurya are you up for the sidecar injector?

[2020-08-28 00:08] LMWF commented on #1964
@stephaneey Thanks I see, that's a bug in the cosmos component.  Before 0.10 it was internally necessary to specify the partition id in the metadata of each request in the component (but the transaction api wasn't exposed), but with 0.10 it should only needed once like in my example.  I opened https://github.com/dapr/components-contrib/issues/446

[2020-08-28 03:08] sd797994 opened #1976 "How to make external traffic flow into the dapr's service mesh with out kubernetes‘s ingress-controller?"
under normal circumstances if you need external request into the app in kubernetes, you must use ingress-controller and make yaml file to set service rules and ingress rules. reasons based on unified programming, does dapr have any component(like istio apigateway) to replace k8s's component(ingress controller)?

[2020-08-28 04:27] jigargandhi commented on #1954
@yaron2 I can start work on the runtime, Do you have any priority/guidelines for the same?

[2020-08-28 05:18] ShaileshSurya commented on #1954
Hey @yaron2  I will open up the PR soon.

[2020-08-28 06:46] Admiralkheir commented on #1959
issue moved [https://github.com/microsoft/vscode-dapr/issues/110](url)

[2020-08-28 06:49] #1959 closed

[2020-08-28 06:52] yaron2 commented on #1954
Great, thanks!

[2020-08-28 06:54] yaron2 commented on #1954
That'd be awesome, just a recommendation: wait until we merge https://github.com/dapr/dapr/pull/1946 as it's refactoring a big portion of the main runtime code. Other than that, no special guidelines.

[2020-08-28 08:50] yittg commented on #1954
Maybe too late? 😃
How about the official [fmt.Errorf](https://golang.org/pkg/fmt/#Errorf) with 'w' verb? Does it match?

[2020-08-28 16:00] yaron2 commented on #1933
That's a good idea.

[2020-08-28 21:26] amanbha commented on #1973
Closing this issue as both the PRs in runtime and docs are merged.

[2020-08-28 21:26] #1973 closed

[2020-08-28 22:23] #1958 closed

[2020-08-31 16:39] yaron2 commented on #1976
Hey @sd797994, Dapr's main design principle is to _integrate with_ rather than _replace_, and as such does not mandate that users install a dedicated Dapr ingress controller when there are dedicated, widely used and industry standard solutions like Nginx and Traefik, both of which can be used to act as an Ingress controller for Dapr.

Essentially you would be injecting a Dapr sidecar into an Ingre

[2020-08-31 17:21] #16 closed

[2020-08-31 17:31] yaron2 commented on #1952
Correction, not a bug, we didn't use as intended (copying the values) and in the latest release of the router they changed the implementation to automatically copy it so users don't get confused :)

[2020-08-31 17:31] vinayada1 commented on #1740
This issue was caused by a bug in the fast http router introduced in release-0.7.0. PR: #1978 which pulled in the latest fast http router version fixed the issue.

[2020-08-31 17:32] #1954 closed

[2020-08-31 17:46] #1952 closed

[2020-08-31 17:47] #1740 closed

[2020-08-31 17:52] amanbha commented on #1952
Thats great @yaron2, does thi mean that with latest fasthttp, we don't have to worry about issues which have been fixed by this PR https://github.com/dapr/dapr/pull/1839 , it will be taken care by fasthttp correctly.

[2020-08-31 17:56] yaron2 commented on #1952
To be clear, the issue was not with fasthttp, it was with the router that was built on top of fasthttp.

[2020-08-31 18:09] artursouza commented on #1933
What is the "good idea"? The cli to wait or the SDK to wait?

[2020-08-31 18:18] yaron2 commented on #1933
Both the CLI and SDKs should wait for the `daprd` health checks to pass before launching the app and issuing API calls, respectively.

[2020-08-31 18:21] yaron2 commented on #1728
Closed via #1888

[2020-08-31 18:21] #1728 closed

[2020-08-31 18:26] amanbha commented on #1952
Is it this one https://github.com/fasthttp/router/issues/38?

[2020-08-31 18:27] yaron2 commented on #1952
Yep

[2020-08-31 19:00] artursouza commented on #1933
OK. I am working on it.

[2020-08-31 22:15] #1974 closed

[2020-08-31 22:25] artursouza commented on #1340
Based on the messages above, this is my summary of the expected behavior:

1. GET http://localhost:<appPort>/dapr/subscribe

Code | Description
-- | --
200 | Application subscribes to the responded topics
404 | Application does not subscribe to any topic
Others | Application does not subscribe to any topic and warning message is emitted.

2. POST http://localhost:<appPort>/TopicA

Code | Descripti

[2020-08-31 22:29] yaron2 commented on #1340
Looks good, we just need to think about how we give the gRPC API the ability to return the HTTP equivalent of `503` and `Other`.

[2020-08-31 23:57] LMWF opened #1983 "Actor should not return 200 on get if the key is not present"
## In what area(s)?

 /area runtime

## Expected Behavior

It should return 204 like the non-actor api.

## Actual Behavior

It returns 200.

[2020-09-01 00:52] sd797994 commented on #1976
@yaron2  thank you, this is what i want~

[2020-09-01 00:52] #1976 closed

[2020-09-01 05:28] ShaileshSurya commented on #1954
It was great working with you guys @yaron2 @youngbupark do feel free to mention me in any issue that you feel I can contribute.

[2020-09-01 18:38] #1983 closed

[2020-09-01 20:39] mchmarny opened #1986 "Support configurable TTL on topics/queues created by Dapr"
Right now undelivered messages hang forever in Dapr, given the same app ID, the messages will be listed as errors on each app start. Propose there is a way for user to specify TTL on messages for each instance of Dapr (regardless of the pubsub users), or if possible, for each pubsub, For example `"topic1:600`, `topic2:3600`. Could be combined with the broader thinking around consolidating retries

[2020-09-02 01:27] yaron2 commented on #1954
Thanks, this is highly appreciated. Welcome to the Dapr project!

[2020-09-02 01:32] yaron2 opened #1988 "Update e2e test components to fetch values from secrets"
Currently, the e2e tests components have their values in the component YAML definition.

It would be best to update the Redis state store component YAML to take the `redisHost` value from a secret.
The reason for this is to check for regression in the Secret processing mechanism in `daprd`.

This means:

1. Adding a Kubernetes Secret to the `tests/config` directory that contains the `redisHost` va

[2020-09-02 01:36] yaron2 commented on #1988
/cc @yittg

[2020-09-02 01:49] yittg commented on #1988
/assign

[2020-09-02 01:50] yittg commented on #1988
We can do this before merging #1946 .

[2020-09-02 16:23] shalabhms commented on #1891
@yaron2 , @mchmarny , @amanbha , @youngbupark ,  based on the issue proposal discussion, we all agreed on the option 1.

Having separate state APIs for bulk state API and single state API

GetState <-> SaveState - can get and save single state
GetBulkState <-> SaveBulkState - can get and save multiple states

Please let me know if there is any question as I am starting to make suggested changes fo

[2020-09-02 16:32] yaron2 commented on #1891
Ok with me.

Just to be clear, the changes needed are to add a new Save State API endpoint.

[2020-09-02 16:40] mchmarny commented on #1891
In addition to the API endpoint point @yaron2 made above, that also means change to [Save State](https://github.com/dapr/docs/blob/master/reference/api/state_api.md#save-state) payload from array to a single item, right?

[2020-09-02 16:40] yaron2 commented on #1891
No, it means we will be adding an additional API for a single item.

[2020-09-02 16:44] mchmarny commented on #1891
I realize the braking change implication but as a user having multiple APIs to do the same thing is almost never a good thing. SDK's can hide that, but still, that's a lot to provide parity, which was the original objective in this issue.

[2020-09-02 16:47] yaron2 commented on #1891
So you're suggesting to not change anything in the APIs?

This issue is about parity. Single Get and Bulk Get are different APIs with different parameters and payloads, and so they have different endpoints. @youngbupark created this issue to provide parity so that if we have two different APIs for single and bulk for Get, we should have the same for set.

[2020-09-02 16:51] shalabhms commented on #1891
@mchmarny , this issue is about bringing parity between Get and Set API set. Having Single item Get/Save and Bulk Get/Save.

[2020-09-02 16:55] mchmarny commented on #1891
Something got lost in translation here. I was agreeing with:

* the proposed changes
* new API for single Get....
* AND trying to confirm that

[code]

would take a single item as request vs an array as it does now.

[2020-09-02 17:01] yaron2 commented on #1891
"new API for single Get" - it already exists (since 0.1.0).
So because we have single get and bulk get, and today bulk set, this issue is about adding single set for parity.

[2020-09-02 17:24] mchmarny commented on #1891
Thanks for clarifying, sg

[2020-09-02 20:16] #1780 closed

[2020-09-02 21:49] artursouza commented on #1340
Here is my proposal for GRPC:

1. For subscription via  channel.ListTopicSubscriptions()
GRPC implementation can throw an exception prior to app code or in app code, either way the existing behavior is good: log error. I recommend we change the HTTP implementation to emit Error too and not Warning, for consistency.
There is no equivalent to 404 here since users cannot choose not to implement ListT

[2020-09-02 21:54] yaron2 commented on #1340
GRPC implementation can throw an exception prior to app code or in app code, either way the existing behavior is good: log error. I recommend we change the HTTP implementation to emit Error too and not Warning, for consistency.
There is no equivalent to 404 here since users cannot choose not to implement ListTopicSubscriptions() in the GRPC callback, so there is no action item here (apart from the

[2020-09-02 21:55] #1391 closed

[2020-09-02 22:00] yaron2 commented on #1340
HTTP part is in, by @artursouza via #1985. Keeping open until gRPC lands.

[2020-09-02 22:02] #1758 closed

[2020-09-02 22:05] yaron2 commented on #1869
@Haishi2016 what do you say?

[2020-09-02 22:09] Haishi2016 commented on #1869
Dapr doesn't define a ETag format, because that is subject to the underlying state store. A user is not supposed to supply an arbitrary ETags in requests - ETags are maintained by the state store and users can only play back ETags instead of creating new ones.

Because we can't dictate how ETag is implemented, we can't decide on a specific ETag format. Redis doesn't have built-in ETag so we are us

[2020-09-02 22:42] LMWF commented on #1759
There are scenarios for this inside actor_features_test.go.

[2020-09-02 22:49] yaron2 commented on #1869
That makes sense. @mchmarny your thoughts?

[2020-09-02 23:53] yaron2 commented on #1708
# Design proposal

The proposed design here strives to make the following statements true:

1. Cross namespace service discovery will not be a breaking change
2. Cross namespace service discovery is only applicable today to Kubernetes, but the design should not hinder using namespaces on other future hosting platforms
3. The API design should be as explicit as possible

## HTTP API

The following

[2020-09-02 23:56] LMWF opened #1991 "Get/save actor state should return 400 on actor not found"
## In what area(s)?

/area runtime

## What version of Dapr?

0.10.0

[2020-09-03 00:22] Haishi2016 commented on #1708
I think this is fair. A suggestion - should we explicitly adopting the DNS name format in the sense that

1) name without dots - local name within the same namespace. Examples: service1, service2.
2) name with one dot - name scoped to a namespace. Examples: service1.nsa, service2.nsb.
3) name with two more more dots - name scoped to a different domain such as a different cluster. Examples: service

[2020-09-03 00:29] yaron2 commented on #1708
Thanks, so what you say aligns with option 2.
I agree that two or more dots can signify a different domain, and it probably will once there's a plan in place for universal namespace.

[2020-09-03 00:36] amanbha commented on #1708
LGTM @yaron2, Like option 2 for HTTP API, the name (`namespace2.myapp`) can be seen as a fully qualified name of the target service and can work with other platforms as well, if we extend the option 2 to gRPC, then for gRPC  id can also be `namespace2.myapp`

[2020-09-03 01:06] rynowak commented on #1708
I like the direction of the discussion here so far, I think it makes tons of sense to also align with things users are familiar with.

Would the plan be to allow one level of nesting for the immediate future - with the plan to extend the functionality as needed to support other scenarios?

[2020-09-03 01:35] yaron2 commented on #1708
That's the plan

[2020-09-03 02:14] #1988 closed

[2020-09-03 02:40] msfussell commented on #1708
Agree on having this as a FQDN format which could then make it universal for other platforms. Presumably not having any namespaces, as today, would remain valid?

[2020-09-03 02:43] yaron2 commented on #1708
Indeed. On k8s, this means the namespace the app is running in. This is also consistent with name resolution on k8s itself.

[2020-09-03 04:37] anglogold commented on #944
In a containerized microservice I'm using the dapr.io state management system as a data cache of equipment; providing a highly efficient way of accessing many equipment status at scale.

Using a simple CRUD approach, I can create, read, update and delete equipment statuses using dapr as follows with very little effort and code:

- POST equipment/
- GET equipment/key
- PUT equipment/key
- DELETE eq

[2020-09-03 05:42] yaron2 commented on #944
hey @anglogold, for 0.10 we introduced a new API that might make it easier for you - [the transactional state API](https://github.com/dapr/docs/blob/master/reference/api/state_api.md#state-transactions).
Depending on which state store you use, you can send a transaction operation that will consist of the equipment item in one operation, and an update to the list of keys in a second operation.

So

[2020-09-03 05:58] anglogold commented on #944
Rock and roll, you guys never cease to amaze me. I see the solution using the transactional state API will eliminate the need to implement my own indexing system and make things lean and mean.

Nice one @yaron2 I tip my hat to dapr...

[2020-09-03 06:13] yaron2 commented on #1708
I agree, the gRPC changes are redundant as the namespacing is inferred from the FQDN formatting.

[2020-09-03 09:18] abserari opened #1996 "Change NATS server to NATS Streaming for Pub/Sub"
## In what area(s)?

 /area runtime

## Describe the proposal

it seems that nats-streaming pub-sub components has already realized in components-contrib. I think if we need to add it.
1. test the nats-streaming components with pub-sub
2. register it in runtime
3. add nats-streaming setup to docs.

 I'm willing to contribute if need.

[2020-09-03 09:46] yaron2 commented on #1996
Your contribution here will be most welcomed

[2020-09-03 10:45] abserari commented on #1996
Hi, I got some questions. In components-contrib. the natsstreaming has a nats logger but not a dapr logger. and there is no `log.Info` or `log.Debug` function call in code. it seems like that natsstreaming should have a pull-request first to convert logger and add `log.Debug` call like other components' realization.
so the question is do I need to open a pull-request at components-contrib first?

[2020-09-03 13:26] gunniwho opened #1997 "Is it necessary for dapr-operator to have cluster-admin role in kubernetes?"
/area operator

Ops are not loving the idea of giving dapr-operator cluster-admin permissions. Is this really necessary and if so, what is it necessary for (i.e. what operations does it have to do where more restrictive permissions would not suffice)?

Thanks!

[2020-09-03 13:48] mchmarny commented on #1869
Yep, this totally makes sense from the implementation standpoint. Strings lowest common denominator. I'll updates the Dapr state store API docs to make this more explicit.

[2020-09-03 13:55] #1869 closed

[2020-09-03 15:31] wcs1only opened #1998 "Add two new daprbot test commands to test windows and linux separately if need be."
## In what area(s)?

## Describe the feature

Add separate daprbot targets:

ok-to-test + scheduled test -> linux + windows (existing tests target)
ok-to-linuxtest -> only linux (new)
ok-to-wintest -> only windows (new)

[2020-09-03 18:02] #1708 closed

[2020-09-03 18:31] yaron2 commented on #1997
Definitely not necessary, and we should change from Cluster Admin to fine grained permissions before 1.0.

Would you be interested in taking this on? I can provide you with the list of verbs and API groups needed.

[2020-09-03 19:00] #1944 closed

[2020-09-03 19:37] artursouza commented on #1340
There has been some discussion in the PR above regarding the GRPC solution for the message delivery changes. Here is a new proposed approach where the GRPC behavior would be better aligned with the HTTP solution already merged:

For message delivery via clientV1.OnTopicEvent():

// TopicEventResponse, unchanged.
message TopicEventResponse {
}
Error status will contain error code and be parsed via

[2020-09-03 19:43] yaron2 commented on #1340
I strongly oppose this, as this in a gRPC programming model errors are _usually_ used to signal things to the gRPC framework and not application level errors. In the gRPC programming model, a strongly typed model is encouraged and provides better clarity.

To illustrate: A developer using gRPC with a typed model does not need to guess which error code they should return. They have an option betwee

[2020-09-03 20:14] amanbha commented on #1340
I am more inclined to option 2 as stated [above](https://github.com/dapr/dapr/issues/1340#issuecomment-686717275) by @yaron2. Putting it explicit in HTTP response is more clear from user perspective rather than going through our custom interpretation of http status code.

[2020-09-03 21:05] artursouza commented on #1340
Option 2 from @yaron2 has a problem of not being Restful compliant. In Restful APIs, the service uses HTTP error codes for non-successful requests. In Restful APIs, 200 (or 204) means success and no error code is expected. It means the service will need to provide a custom object for a non successful HTTP code. Then, Dapr needs to parse the body of every bad response to try to extract the custom r

[2020-09-03 21:07] yaron2 commented on #1340
Dapr has no guarantees of being RESTFul compliant.

[2020-09-03 21:08] artursouza commented on #1340
OK, then we can make option 2 and make 200 mean SUCCESS, RETRY, DROP in both GRPC and HTTP.

[2020-09-03 22:55] #1891 closed

[2020-09-03 23:31] youngbupark opened #2002 "Create test for actor reliable and scalability"
## In what area(s)?

/area/runtime/actor

## Describe the proposal

Create test for actor reliable and scalability tests

[2020-09-04 01:03] wcs1only commented on #1945
On a hunch, I upped the default TCP connect timeout values on windows. The tests have now passed 3x in a row: https://github.com/dapr/dapr/pull/2000

In at least one case, the test took in excess of 200s. Looking through the test history, I can see that the windows versions of these two tests are consistently taking longer than their linux counterparts. The default TCP connect timeout is 21s on Wi

[2020-09-04 01:08] yaron2 commented on #1945
Or: do we care for 200s?

[2020-09-04 06:16] yaron2 commented on #813
# Design Proposal

## Features

The access control feature will allows developers to:

1. Specify, for a given app, an allowed list of applications that can invoke it. for both HTTP and gRPC enabled apps.
2. Specify, for a given app, which methods may be invoked by the different applications. for both HTTP and gRPC enabled apps.
3. Enable this feature for both Kubernetes and Self-Hosted modes

##

[2020-09-04 08:37] gunniwho commented on #1997
Ok great - I'll give it a go! Is there a timeline yet for 1.0?

[2020-09-04 10:46] abserari commented on #1996
Hi, Yaron, do I need to add natsstreaming setup doc here? https://github.com/dapr/docs/blob/master/howto/setup-pub-sub-message-broker/README.md

[2020-09-04 14:04] yaron2 commented on #1996
Yes, please. And remove the existing one.

[2020-09-04 14:16] youngbupark commented on #813
Will Sentry serve SPIFFE workload API?

[2020-09-04 14:18] yaron2 commented on #813
No, there's no need for that. Similar to Istio, it will generate SPIFFE x509 leaf certificates.

[2020-09-04 14:27] youngbupark commented on #813
Can you add how to support multiple http verbs? Let's say app1 allows app2 to access /orders/ with GET and POST.
Will we use yaml array format or CSV (e.g. "GET,POST")?

[2020-09-04 14:31] yaron2 commented on #813
We can either use a comma delimited string or make it an array field. What do you think is best?

Personally, an array would make the YAMLs potentially bigger in cases of many rules, while a comma delim might not be as clear.

[2020-09-04 14:37] youngbupark commented on #813
yaml spec supports both multi-line and single-line array format - https://stackoverflow.com/questions/23657086/yaml-multi-line-arrays.

[code]

Personally, I would use yaml single line format because we do not need additional CSV parser.

[2020-09-04 14:58] yaron2 commented on #813
Oh nice I didn't know about the single line array. I updated the example above.

[2020-09-04 15:11] yaron2 commented on #1997
Shooting for an RC build around end of October/mid November

[2020-09-04 15:31] yaron2 commented on #1996
Closed via https://github.com/dapr/dapr/issues/1996

[2020-09-04 15:31] #1996 closed

[2020-09-04 15:44] abserari commented on #1996
ok, btw, the doc repository is a little big. (my network 7k/s)
I do it on here.
https://github.com/dapr/docs/pull/774
and I try to install it by helm but always get more problems. so I change to use kubectl apply to install according to the nats-official doc.

[2020-09-04 15:52] Haishi2016 commented on #813
Is trust domain orthogonal to name space? Or would name space be part of the workload identifier?

[2020-09-04 16:14] yaron2 commented on #813
We can go both ways. I proposed that trust domain is a namespace, but the following can also be valid:

[code]

Both have pros and cons.

Having the trust domain be orthogonal to a namespace allows users to not have to deal with assigning trust domains, as Dapr has a clear definition of what this is and manages it for them.

By having the trust domain be separate from the namespace, we will be man

[2020-09-04 16:33] wcs1only commented on #813
Anything you can do in json, you can do in yaml. Yaml is a superset of json.

[2020-09-04 18:04] #1991 closed

[2020-09-04 20:16] #1935 closed

[2020-09-04 20:18] yaron2 commented on #1954
Hey @jigargandhi, you can start working on the `daprd` codebase now if you're up for it.

[2020-09-04 20:47] msfussell commented on #813
1) These statements are contradictory.
"Specify, for a given app, **an allowed list of applications that can invoke it**. for both HTTP and gRPC enabled apps."

and

Option 1 "The AccessControl instance above declared a set of rules that apply to application with id of app1. In this case, one rule is defined. **that rule specifies that only app2 can call app1,** and specifically allows the invocat

[2020-09-04 20:48] yaron2 commented on #813
The meaning is for a list of apps that can call you (you == the app defined).

[2020-09-04 20:56] yaron2 commented on #813
I would suggest that the regex confusion that may arise here is not worth the relatively uncommon scenario where users will have multiple apps prefixed and that they would all share the same policy.

If you want all methods to be restricted, you are implying that we make the allow list into a deny list as well. I support that notion. I'll update the spec accordingly.

Not sure I understand? if the

[2020-09-04 21:02] vinayada1 commented on #813
I like Option1 better since it is completely isolated from the current Configuration.
Questions:-
1. I am assuming that the default action is deny. If we want to block only certain apps/methods per app, it might become pretty verbose to specify each one explicitly if the number of microservices grow. We could add an action and a default action as below to make this simpler.

apiVersion: dapr.io/v1

[2020-09-04 21:05] yaron2 commented on #813
@vinayada1 can you format your YAML? I want to make sure I understand your spec before I comment on it :)

[2020-09-04 21:15] vinayada1 commented on #813
Updated....sorry didn't realize the formatting was bad

[2020-09-04 21:16] yaron2 commented on #813
@vinayada1 I edited your comment to add the "```yaml" tag.

As @msfussell pointed out also, we should probably design for allow/deny actions.
In that case, it should be noted that deny will always take precedence over allow.

I like your suggestion.
Why do we need the `defaultAction` under the app directly, though?

[2020-09-04 21:19] vinayada1 commented on #813
So that we say we have a defaultAction = allow there, we need to only specify the methods that need to have an action = deny. The app level defaultAction should take precedence over the global defaultAction

[2020-09-04 21:21] yaron2 commented on #813
OK. @msfussell what do you think?

[2020-09-04 21:33] rynowak commented on #813
This is pretty cool 👍

As an overall scoping concern ... it seems like this addresses *invocation traffic that arrives through the Dapr sidecar only*. In the broader scheme this is closer to cooperative multi-tenancy - as long as everyone is doing invocation through Dapr's mechanism then these access controls apply. If someone is invoking another service *outside* of Dapr's invocation mechanism (t

[2020-09-04 21:35] vinayada1 commented on #813
Say we add a new microservice app100 and app1-app99 need to allow some incoming call from app100. Does that mean we will need to restart all the dapr sidecars before this policy can be applied? That sounds like a problem.

[2020-09-04 21:45] yaron2 commented on #813
Yes, that's the distinction between Dapr and a Service Mesh like Istio and Linkerd. You would use the latter if you want to restrict on the L4 level. Dapr does not proxy traffic and as such it is outside of the scope.

All the ones I talked to are aware that this applies to Dapr traffic only. We are very clear that Dapr is not an inbound traffic proxy.

Makes sense, but policies and rules are conf

[2020-09-04 23:12] msfussell commented on #813
I like this new proposal from Vinaya with the default action and specific actions. This is the right approach. I did a small edit on the proposal to change httpVerb: "*"  to httpVerb: ["*"] with brackets.
The reason that I would like to see this in configuration file is that I see the configuration files as the place that an operator does the app configuration, rather than a proliferation of files

[2020-09-05 00:10] yaron2 commented on #813
Everyone: I updated the proposal with the findings we all agreed on and addressed all feedback, so feel free to review again and raise anything if you have any questions.

The only open issue that we have is whether we create a separate CRD for `AccessControl` or make it part of the `Configuration`.

Here's my list of pros/cons:

### Configuration

#### Pros

* Less maintenance: no need for new CR

[2020-09-05 00:21] amanbha commented on #813
@yaron2 As both the options would need dapr side cars to be restarted once access policies are applied. While hot reloaing of components can be debated but we should consider fix for this https://github.com/dapr/dapr/issues/1172 (if not for all components but atleast for service access list (and may be secret access list)

[2020-09-05 00:23] yaron2 commented on #813
While outside of scope, I agree. #1172 is also in the v1.0 scope and it should handle hot-reloading for every CRD we have and will have by then.

[2020-09-05 04:09] #1340 closed

[2020-09-05 05:55] RichiCoder1 commented on #1617
Update: Finally setting aside cycles to tackle this. Got some experience integrating OPA via other work

[2020-09-05 12:04] jigargandhi commented on #1954
Sure I will start with `cmd/dapr/*` and `pkg/runtime/*`

[2020-09-05 13:28] mchmarny commented on #1617
+1 on a lib to minimize any latency implications related to HTTP serde to start with and we evolve based on real-world usage from there.

Overall, IMO the desired approach here is one that minimizes the user exposure to OPA implementation on Dapr side. While Rego is go-like (+/- for some), using the go library approach would allow us to potentially provide multiple ways of specifying the policies

[2020-09-05 15:39] RichiCoder1 commented on #1617
That seems reasonable. For a first-pass MVP, add via Go SDK w/ support for rego snippets embedded in config? Just integrating OPA and defining the `input` will probably be a lot of work, so I'm fine with a tight scope. Then layer other features on top in priority, like bundles, discovery, and decision logging.

That'd be neat. I forget where but I do remember seeing some RBAC/ABAC framework that t

[2020-09-05 15:52] yaron2 commented on #1617
We also need to watch out for the increase in the binary size of Dapr if we go the SDK route.

[2020-09-05 18:58] RichiCoder1 commented on #1617
Added the rough outline of a very MVP implementation of OPA Middleware here: https://github.com/dapr/components-contrib/pull/456.
First major outing into Go land too.

[2020-09-05 19:32] yaron2 commented on #1617
Awesome! We'll review

[2020-09-05 21:22] yaron2 commented on #1954
Sounds great, thanks!

[2020-09-06 11:01] hongjic opened #2005 "About AppChannel"
Hi all, our team and I have been playing with Dapr for a while and we have a question about the `AppChannel`.

For the http channel implementation, all requests go through the `InvokeMethod` API and that works fine. For the grpc implementation, only service method invokation is implemented base on `AppChannel`, all other rpc calls like `ListTopicSubscriptions` simply go through the raw grpc client

[2020-09-06 17:21] yaron2 commented on #1895
they are combined, and in case of a conflict the app endpoint takes precedence.

[2020-09-08 06:26] jigargandhi commented on #1954
@yaron2  you can review the above PR for `runtime`

[2020-09-08 07:47] jigargandhi commented on #1954
I will take up `actors` and `api` next

[2020-09-08 08:21] xiazuojie opened #2007 "Clarify lifecycle of Dapr process and app process"
## In what area(s)?
/area runtime
## Describe the proposal

At the moment, the expected lifecycle between Dapr process and app process is not clear.
1. Dapr runtime has a [blockUntilAppIsReady](https://github.com/dapr/dapr/blob/11f00c3410c1162846aa997cbf2255029403d853/pkg/runtime/runtime.go#L226), meaning it waits for app to be ready (i.e. opening a port) before initialization and opening dapr-grp

[2020-09-08 17:38] vinayada1 commented on #1820
As discussed in the community meeting, Dapr runtime will implement a retry mechanism. We will keep this retry logic very simple and optional. Below is an initial design proposal.

Design Proposal:-
1. A retry spec will be added to the global config
2. The retries could be configured as follows in the config.yaml:-

[code]

3. The building blocks can be opted-in or out from the retry logic by inclu

[2020-09-08 18:16] youngbupark commented on #1782
@mukundansundar can we use single-line array for allowed list key ?

[ "key1", "key2" ]

yaml will automatically deserialize it to array without additional CSV parsing.

[2020-09-08 18:24] msfussell commented on #1782
LGTM. And I agree with @youngbupark  on the use of [ ] brackets.
Also raise the configuration section concepts doc update issue that needs to update this topic https://github.com/dapr/docs/tree/master/concepts/configuration

[2020-09-08 18:29] vinayada1 commented on #1782
Looks okay. Just one clarification: What would be the behavior if the secrets config spec is added but a secret store is not specified. For example, Secret Store 3 in the sample spec above?

[2020-09-08 18:35] denniszielke opened #2009 "Grpc.Core.RpcException when remote invocation results in BadRequest"
## Expected Behavior

The client sdk should be able to handle HTTP 400 Bad Request and make the request available to the calling application

## Actual Behavior

When the app returns a HTTP400 or BadRequest object the dapr client fails with an exception.

## Steps to Reproduce the Problem
Small modification of https://github.com/dapr/dotnet-sdk/blob/master/samples/AspNetCore/ControllerSample/Contr

[2020-09-08 18:45] rynowak commented on #1782
Once the secrets configuration spec is added to the Configuration yaml and applied, then only the secrets listed as allowed can be accessed from that particular secret store.

So what would it look like to specify that a component can't access anything? Empty list? or do we want something explicit?

[code]

[2020-09-08 18:56] rynowak commented on #1782
Thinking a little bit more about this....

If this is an env-var that means it's accessible to any code running the cluster that has read access to the PodSpec or a backing k8s secret right? In k8s Dapr is not the one starting your container, so it has to be represented in the k8s apis. I'm not sure how we think about these concepts in the overall threat model...

Another approach might be to gene

[2020-09-08 19:00] yaron2 commented on #1782
+1 on the need to come up with a way to deny access to all secrets. It might be a dedicated property.

[2020-09-08 19:01] yaron2 commented on #1782
Just to clarify, the proposal being discussed here is about solution 2 and thus the token is currently irelevant unless we tackle solution 1 instead.

[2020-09-08 19:23] wcs1only commented on #1782
A few things:

I'm not sure I like the behavior of defaulting to open to all, and only closing once an ACL is added. Imagine the scenario of a production Dapr cluster which contains many microservices using many different secrets. Now imagine retroactively trying to add valid ACLs. If a maintainer misses some secrets in their ACL when applying it for the first time, they may break their running ap

[2020-09-08 19:26] yaron2 commented on #1782
We already have solution 1 in place today. Users can set up tokens in a secret and then have Dapr only authenticate requests with that token.

This issue came up during the security audit Dapr went through, the recommendation from the team was to add the ability for users to deny access to secrets.

[2020-09-08 19:30] rynowak commented on #1782
If that's the case, I'm not sure what what the change is that's being discussed here (re: auth) is the idea that a token would be *required* for access to secrets?

In either case solution 2 is very useful as a defense in depth mechanism for cases of accidental disclosure. In particular I'm thinking of vulnerabilities where application code uses user-input to determine which secret to use. Having

[2020-09-08 19:30] yaron2 commented on #1997
Here you go:

* services - list, watch, get, update, delete, create
* deployments - create, get, list, watch
* serviceaccounts - get
* components - list, get, watch
* configurations - list, get, watch

[2020-09-08 19:32] yaron2 commented on #1782
correct, which means that we'd mandate creating a token and then injecting it into a user's pod or process. (that's doable on both k8s natively through the sidecar injector and self-hosted).

[2020-09-08 19:34] rynowak commented on #1782
Without auth, what's stopping *any* code running in the cluster from pinging a random dapr sidecar and asking for all of the secrets?

[2020-09-08 19:52] yaron2 commented on #1782
Without auth enabled, nothing. However you can't ask Dapr for all the secrets as it intentionally doesn't have a List operation for secrets, you can Get a secret by providing the name for it.

In general, Kubernetes allows by default any Pod to access any other Pod over the network, whether in the same namespace or even across namespaces. Only fairly recently did Network Policies come into play, a

[2020-09-08 21:15] youngbupark commented on #2009
The current implementation has already put all these information to Status.Details for [rich error handling support](https://grpc.io/docs/guides/error/#richer-error-model).

Regarding gRPC official doc, some of gRPC SDKs support status details. e.g. grpc-dotnet has supported this, but grpc for c# doesn't support it.

[code]

The official doc recommends to use trailer metadata as @akkie requested,

[2020-09-08 21:22] yaron2 commented on #2009
The only issue I see here is that of unclear behavior based on the content size of the message. We probably don't want users to have if/else statements that look for the body in `Status.Details` and then the trailer metadata.

I would suggest to always store it in Status.Details and never populate the metadata trailers, as it's not a good fit for that type of data.

[2020-09-08 21:28] youngbupark commented on #2009
We already populated to Status.Details but the problem here is that [gRPC for C# doesn't support Status.Details](https://github.com/grpc/grpc-dotnet/issues/303) (which is the rich error handling way in gRPC)

[2020-09-08 21:32] yaron2 commented on #2009
Ok I missed the rich error support being Status.Details.

Now that I think about it, since we are a reverse proxy (albeit with a bridge in this case), we should return the body as the Data payload returned to the caller. This is *not* a gRPC error. a gRPC error would be returned in case of an internal error or network error. Since Dapr should "only" surface up HTTP responses, Dapr should not treat

[2020-09-08 21:44] youngbupark commented on #2009
We referred to grpc-gateway conversion logic between http and grpc status code and google cloud api error handling when we designed it. please look at this guideline. gRPC rich error handling is designed to describe detail application error.

https://cloud.google.com/apis/design/errors#generating_errors

If we treat http errors as GRPC OK, it will break trace and metrics status result. This is sam

[2020-09-08 21:54] yaron2 commented on #2009
Yeah I get that, but just because something operates in one way today, doesn't mean it needs to be kept that way.

The following statements are known to be true:

1. Service to Service invocation is a reverse proxy + service discovery
2. For HTTP to HTTP, Dapr doesn't do any type of status code conversion. Whatever status code returns from the target app is returned to the caller

Considering that

[2020-09-08 22:02] youngbupark commented on #2009
As I mentioned, status code and the original error body is already given in Status.Details. but the problem here is that grpc for c# cannot extract this given info.

If we change this behavior, then this is going to be bigger work.

[2020-09-08 22:02] yaron2 commented on #2007
Hi @xiazuojie, you're right that once the sidecar feature is implemented, Dapr should not use `blockUntilAppIsReady`.

Unfortunately, that features has been removed from 1.18, then removed from 1.19 and currently has no specific date for landing.

reference: https://github.com/kubernetes/enhancements/issues/753

[2020-09-08 22:03] yaron2 commented on #2007
However, we are working on fixing this by making the Dapr API available before blocking for the app status.

[2020-09-09 03:24] youngbupark commented on #2009
I have taken a look at the other SDKs to see how to decode status details (rich error model). It is stored as `grpc-status-details-bin` trailer metadata(grpc for c# can access this metadata as well). trailer's data will be added to the end of the body. So it doesn't matter with size of body :) Trailer field lengths will be limited 8KiB (on spec), but not for body because Trailer fields are stored

[2020-09-09 03:29] yaron2 commented on #2009
That's good info,. but it doesn't affect the fact that Dapr shouldn't decide which HTTP status codes are considered an error and which are not. Dapr should report back to the client the details that the HTTP call returned, and not decide that status code X == gRPC exception.

[2020-09-09 03:40] youngbupark commented on #2009
Then how can we handle http -> grpc case? we agree this conversion when we review the spec long before ago. The current design can handle four cross protocol invocation. Then why grpc gateway project does this conversion? We will discuss it tomorrow. If we change this behavior, it requires lots of change related to trace and metrics. I am not sure this is the right approach.

Even google cloud api

[2020-09-09 03:45] yaron2 commented on #2009
I understand, I'm simply saying that it's the user's app job to decide about how to handle status codes, not Dapr's.

For gRPC gateway, do they handle gRPC client to HTTP server, or HTTP client to gRPC server?

[2020-09-09 03:52] youngbupark commented on #2009
Grpc gateway allows to run grpc server and accept http and grpc clients both.

We referred to this and you reviewed it together. We agreed upon the design, did not we? Again user can handle the original status error code properly without losing data and info. Then what’s your concern?

This is the fundamental design for trace and metrics so the design change can impact both.

[2020-09-09 03:53] yaron2 commented on #2009
I get it, I don't want to make far reaching changes. Let's discuss in the maintainers meeting tomorrow.

[2020-09-09 04:04] xiazuojie commented on #2007
Can you clarify what you mean by "making the Dapr API available"?
Does it mean only dapr-grpc-port is open, or that Dapr process is fully working?

I believe we need a fully working Dapr process before an app process is started, because the app may need to do some initialization (e.g. get some initial config from a state service) on startup through Dapr.

[2020-09-09 04:09] yaron2 commented on #2007
It means Dapr will be fully working before it blocks for the app.

[2020-09-09 05:55] jigargandhi commented on #1954
`config`, `credentials` and `diagnostics` next

[2020-09-09 13:18] altinoren opened #2011 "Accessing Dapr secret store early on during Startup"
I want to use Dapr secret stores to initialize a DB connection with the connection string retrieved from a store. I want to understand the startup sequence and determine the point where secrets are available.

This is my `Main`:

[code]

Normally, in `Startup.cs:ConfigureServices`, connection strings are supplied as follows:

[code]

To access Dapr through DI, tried this:

[code]

In this case, Da

[2020-09-09 13:31] rdiaz82 commented on #1339
Hi!! thanks, @yaron2 for pointing me to this proposal.  A couple of weeks ago, I wrote another proposal very similar to this one but using bindings and a mongo based query language here is the proposal for more information https://github.com/dapr/components-contrib/issues/441.

After reading the awesome detailed explanation done by @jjcollinge, I think that we can blend both proposals to solve the

[2020-09-09 16:23] amanbha commented on #2011
Transferring to dapr repo and closing as duplicate of https://github.com/dapr/dapr/issues/1493

[2020-09-09 16:23] #2011 closed

[2020-09-09 16:59] mukundansundar commented on #1782
@rynowak @yaron2  I think only Kubernetes secret store does not need any setup and that would be the only secret store which would need a deny all mechanism. All other secret stores need components setup and combined with the allowlist can have a flow similar to deny all. But at the same time, we can also have a property specifically to deny access to any secrets in that secretstore.
The configura

[2020-09-09 18:01] lukekim commented on #1820
Where are we defining the list of buildingBlock names/keys? They should be consistent across all of Dapr such as for example the secrets proposal.

[2020-09-09 18:06] tcnghia commented on #1805
I'd love to help with this issue if no-one else is working on.

[2020-09-09 18:08] yaron2 commented on #1820
I think we want to look into providing the spec above on a per call basis, as there's a direct correlation between a call and it's retry settings.

The most common example is calling an API that returns a list of items (service invocation example):

Consider the following:

[code]

When getting a single item, it makes sense to have very different retry settings than, for example with a count of 10

[2020-09-09 18:12] yaron2 commented on #1805
Assigned, thank you.

[2020-09-09 18:50] artursouza commented on #1820
I agree the configuration should be per call. The retry logic depends on the use case in the user's app and it is unlikely there is a one-size-fits-all type of configuration.

[2020-09-09 19:10] artursouza commented on #813
I am in favor of adding accesscontrol to configuration due to simplicity. We should not add complexity until users have a use case that is hard to manage with the simple design.

[2020-09-09 19:12] yaron2 commented on #813
That's my view too. Simplicity is key.

[2020-09-09 20:57] vinayada1 commented on #1820
While I agree that a per-call config would be great, I thought the idea was to keep the Dapr implementation for this pretty basic and the advise the use of special libraries for more capabilities. If we have a consensus that a per-call config is needed in the simple implementation, then I will add the design details to this.

[2020-09-09 21:02] yaron2 commented on #1820
The retry mechanism you outlined is simple enough and exactly what was meant by keeping it simple, but it wasn't intended to be a per building block retry IMO. We can keep the retry settings simple and basic by apply them to every call.

[2020-09-09 21:09] yaron2 opened #2014 "Update e2e pub/sub test for declarative subscriptions"

[2020-09-09 21:13] mukundansundar opened #2016 "Serialization issues with Transaction upsert operation"
## In what area(s)?
/area runtime
## What version of Dapr?
0.10.0
## Expected Behavior

When a state is saved via the the executeTransaction method via GRPC, `Multi` method implementation for redis state store, and the state is again read in via the getState API, there is a deserialization issue.
[code]
Found during implementation of the transaction API for Java SDK.

## Actual Behavior

State sav

[2020-09-09 21:34] artursouza commented on #1782
I am in favor of forcing the user to provide the allowlist and have an empty list to mean "no access". To have a denylist scenario covered, I think it is better to have an attribute such as `defaultAccess: allow` or `defaultAccess: deny` and have `alowedSecrets` and `deniedSecrets` too.

[2020-09-09 22:56] yaron2 commented on #1895
@anishj0shi the PR for this has been opened: https://github.com/dapr/dapr/pull/2015

[2020-09-09 22:59] mukundansundar commented on #2016
With Java SDK
Using the saveState API saves it as
[code]

Using GRPC Execute Transaction. Saves it as a string and also we can see the extra escaped quotes.
[code]

[2020-09-09 23:00] youngbupark commented on #2016
cc/ @yaron2 @orizohar @mchmarny @msfussell

[2020-09-09 23:02] yaron2 commented on #2016
My opinion is to go with fix #1 in the runtime.

[2020-09-09 23:03] mukundansundar commented on #2016
@yaron2 All three steps of the fix are necessary.

[2020-09-09 23:04] yaron2 commented on #2016
Ok, just making sure we're not doing a Redis only fix here. We need to make sure that the runtime does the right thing.

[2020-09-09 23:44] vinayada1 commented on #2016
Here is the behavior with .net sdk:-
With SaveState API:-
127.0.0.1:6379> hgetall 'gRPC_Client||mykey'
1) data
2) {"size":"small","color":"yellow"}
3) version
4) 1

With TransactionState Upsert operation:-
127.0.0.1:6379> get "gRPC_Client||mystate"
"{\"Size\":\"small\",\"Color\":\"yellow\"}"

With Transaction APIs, get after a save state results in a deserialization exception:-
== APP == Unhandled

[2020-09-09 23:45] vinayada1 commented on #2016
Also, note that the data is being stored differently to the state store by Java and .net sdks. Therefore, set by one and get by other would fail too.

[2020-09-10 00:26] wcs1only commented on #1945
Reopening, because we're still getting the Linux failure observed. I have a hunch on that one (it looks like we're now beating the kafka config job because we've made the e2e-test-app build that much faster).

[2020-09-10 01:34] wcs1only commented on #1945
Finally getting a somewhat consistent repo. Have to tear down the whole namespace and run everything from scratch to get it to fail about half the time (or perhaps it was that I rebased on master).

When we fail, we have a completely empty action log in the actorapp.
[code]

[2020-09-10 06:10] artursouza opened #2017 "Missing Consistency in GRPC's Bulk get state API."
## In what area(s)?

 /area runtime

## What version of Dapr?

master

## Expected Behavior

Consistency is part of the proto in GRPC for bulk get state API.

## Actual Behavior

It is documented for HTTP but not present in GRPC:

https://github.com/dapr/docs/blob/master/reference/api/state_api.md#get-bulk-state

## Steps to Reproduce the Problem

Read the doc and check the proto for Bulk API.

[2020-09-10 06:19] yaron2 commented on #2017
That's a good catch, but it's actually a case of wrong documentation. Consistency is unsupported for Bulk Get.

[2020-09-10 10:30] fireshoot opened #2019 "叼叼叼"

[2020-09-10 13:48] #2019 closed

[2020-09-10 14:16] mchmarny commented on #2016
the go-sdk didn't see that issue but I've added an [explicit upsert test](https://github.com/dapr/go-sdk/pull/71) to validate going forward.

[2020-09-10 15:39] mchmarny commented on #2016
I was able to replicate in PostgreSQL as well... that's after fighting Mongo replicaset for 20 min (required for transaction support). Looks like this is Dapr core level issue.

[code]

[2020-09-10 16:00] youngbupark commented on #2016
HTTP transaction api (including actor transactional api) deserializes the entire payload to extract operation, value, and key, so value is non-string or non-byte array value when user pass non-string/non-byte array. then component serializes this non-string and non-bytes value.

But grpc apis requires no deseralization to extract value. When Dapr passes this value to the existing redis component,

[2020-09-10 16:43] mchmarny commented on #2016
My bad, fat-fingered trackpad click :(

[2020-09-10 19:53] wcs1only commented on #1945
Finally caught the daprd logs from a failed run.
[code]
And the app logs:
[code]

[2020-09-10 19:55] wcs1only commented on #1945
This feels like our smoking gun:
[code]

[2020-09-10 19:57] yaron2 commented on #1945
Indeed. This means the Redis component is not applied in the cluster by the time the sidecar is starting.

[2020-09-10 19:58] wcs1only commented on #1945
kubectl get pods -n dapr-tests
NAME                                     READY   STATUS      RESTARTS   AGE
dapr-dashboard-6c6c45df7b-xw5sj          1/1     Running     0          47s
dapr-kafka-0                             1/1     Running     2          3m30s
dapr-kafka-config-f68c87c2-zlzpd         0/1     Completed   0          3m30s
dapr-kafka-zookeeper-0                   1/1     Running

[2020-09-10 20:00] yaron2 commented on #1945
I meant the component, not the pod.

[2020-09-10 20:02] wcs1only commented on #1945
[code]

[2020-09-10 20:07] wcs1only commented on #1945
Subsequent runs of the same test on the same cluster and namespace, do pass. So whatever this condition is it clears by the next run.

[2020-09-10 20:07] yaron2 commented on #1945
The condition is very clear: the component is not applied when the sidecar comes up.

[2020-09-10 20:15] wcs1only commented on #1945
Does not the above indicate that it was applied before the start of the sidecar?

[2020-09-10 20:17] yaron2 commented on #1945
Not completely.
You can reliably reproduce the error code from the sidecar by starting it with the component missing from the cluster.

[2020-09-10 20:19] wcs1only commented on #1945
Yes, but the get components command indicates that the component was not missing from the cluster? That was run prior to the start of the tests.

[2020-09-10 20:57] yaron2 commented on #1945
There's something I suspect may cause this. I've added a generally useful log in [this](https://github.com/dapr/dapr/pull/2021) PR to let users know when a component was successfully loaded.

We now need to get the same logs in a failure case with this latest change.

[2020-09-10 22:50] #1895 closed

[2020-09-11 00:21] youngbupark commented on #1386
Related to #2002

[2020-09-11 00:28] wcs1only commented on #1945
Got a repro with the new log:
[code]

[2020-09-11 00:29] yaron2 commented on #1945
This validates what I suspected. The state store is loaded after the actors pass init.

[2020-09-11 04:06] #2014 closed

[2020-09-11 06:41] anishj0shi opened #2025 "[Discussion]Documentation for the new Subscription CRD"
as a follow up to #2015, does it makes sense to have a documentation reference on how to use this CRD? Probably with an example.

[2020-09-11 07:03] akkie commented on #2009
@yaron2 @youngbupark Do you have any update regarding this topic?

[2020-09-11 12:08] KaiWalter commented on #1732
@yaron2 On a cluster with **dapr 0.10.0** components and apps now being dormant for >1w I also experienced this error "Error finding address for actor type {type}" when restarting my test rig. Redeployment of apps did not help. After `kubectl rollout restart deployment.apps/dapr-placement -n dapr-system` and redeployment of the app the actors were working again.
Now I cannot generalize this proble

[2020-09-11 14:01] youngbupark commented on #2025
@anishj0shi / @yaron2 created the issue here. please take a look at https://github.com/dapr/docs/issues/782

closing this issue.

[2020-09-11 14:01] #2025 closed

[2020-09-11 16:30] youngbupark commented on #2009
We found the bug in gRPC for c# which it populates `grpc-status-details-bin` to response header instead of trailer metadata. The maintainer of gRPC for c# starts looking at this bug. But unless the bug fix comes soon (by this week or next week), we will provide the workaround which extracts the error from header in Dapr dotnet-sdk by next week.

[2020-09-11 16:30] yaron2 commented on #2025
@anishj0shi: https://github.com/dapr/docs/tree/master/howto/consume-topic#declarative-subscriptions

[2020-09-11 17:37] yaron2 commented on #1782
I support having `defaultAccess` to specify the default behavior of the scope, but not forcing users to specify scopes. That'd also be a breaking change, regardless.

[2020-09-11 18:38] mukundansundar opened #2026 "Add ContentType to state"
## In what area(s)?

/area runtime

## Describe the proposal
For state changes, Add ContentType to state.
This is allow for better abstraction and deserialization binary values if the SDKs know what type the value of the content is.

[2020-09-11 18:50] mukundansundar commented on #1782
The design becomes:
[code]
defaultAccess is still allow, to allow all secrets to be read.
If the defaultAccess is set as deny, then only the list of secrets in the allowedSecrets will be granted access to.
If the default Access is set as allow, then
 - if allowedSecrets is present, only those secrets will be accessible eg: STORE_NAME_2, only "key4" and "key5" are allowed
 - if allowedSecrets is no

[2020-09-11 18:56] yaron2 commented on #1782
lgtm

[2020-09-11 23:26] artursouza commented on #1782
allowedSecrets and deniedSecrets have the same behavior regardless. The only difference is that when not provided, we assume an empty list. What determines if all secrets are allowed by default or not is defaultAccess. A user can have `defaultAccess: deny` and not provide allowedSecrets. It is odd, but semantically it means nothing is allowed.

[2020-09-12 20:00] RichiCoder1 opened #2030 "Allow Freeform Component Metdata"
## In what area(s)?
/area runtime

## Describe the proposal
Currently `component.dapr.io/v1alpha1` `spec.metadata` must be structured as an array of `{ key: string, value: string }` entries. This constrains what information may be provided via metadata and arguable makes component definitions more verbose to read.

I propose `v1alpha2` that supports a `map[string]interface{}`-like freeform diction

[2020-09-12 20:05] RichiCoder1 commented on #2030
It looks like this was done in part to support allowing secret values. I wonder if there's not a better way to enable that?

[2020-09-12 20:07] yaron2 commented on #2030
Mostly due to this: https://github.com/kubernetes/gengo/issues/138

[2020-09-12 20:18] RichiCoder1 commented on #2030
@yaron2 would a `JSON` field with https://github.com/kubernetes-sigs/controller-tools/issues/281 get close? That seems the be "recommendation" for arbitrary objects in a given field.

[2020-09-12 20:45] RichiCoder1 commented on #2030
Apparently there's support for custom marshalling and unmarshalling: https://github.com/mongodb/mongodb-kubernetes-operator/pull/134/files#diff-49c488ba1252fd36602f98c8df647f9eR74

Not sure if that'd meet that same need.

[2020-09-12 23:11] RichiCoder1 commented on #1617
The OPA Http Portion of this is integrated, but I realized I deviated from the design here somewhat in that the inputs and outputs are HTTP specific. @yaron2 I may make one more change before release to at least change the `package` and `input` to reflect @jjcollinge proposed structure with the HTTP input being `input.request.http` rather than just `input.request`.

[2020-09-12 23:13] RichiCoder1 commented on #1617
That said, the next step after that would likely be extracting the OPA code into a reusable policy component as outlined here, getting bundle support working, and updating the middleware to be able to reference the policy component.

[2020-09-12 23:15] yaron2 commented on #1617
That's currently out of scope. General policy will be revisited in the future.

[2020-09-12 23:16] RichiCoder1 commented on #1617
Sounds good @yaron2. Just let me know how I can chip in!

[2020-09-13 16:45] RichiCoder1 commented on #2030
Another option would be to have Dapr dynamically managed CRDs for components: https://github.com/open-policy-agent/gatekeeper/blob/master/pkg/controller/constrainttemplate/constrainttemplate_controller.go

But that seems like a massive amount of work 😅.

[2020-09-13 19:12] brendandburns opened #2033 "Error when `dapr.io/id` is missing is opaque"
/area runtime

## What version of Dapr?

## Expected Behavior

I left off the `dapr.io/id` annotation. I would expect to get an actionable error message in the dapr sidecar logs.

## Actual Behavior

The error message is opaque ("CreateSignedWorkloadCert: id must not be empty").

## Steps to Reproduce the Problem

Install dapr 0.10.0
Create a Pod w/o the `dapr.io/id` annotation.

[2020-09-13 20:37] yaron2 commented on #1617
The middleware itself is registered as an HTTP middleware, so I don't see changes needed here..

[2020-09-13 20:41] yaron2 commented on #2030
Per component CRDs would result in 10s or 100s of CRDs, and user feedback has been that the single component CRD is a low maintenance preferred solution.

There is a way to do this, basically patch up the generated files manually and write the correct deep copying logic. This is possible because k8s-codegen will still autogenerate the files, they just will not compile due to errors in the DeepCopy

[2020-09-13 20:41] RichiCoder1 commented on #1617
That's the conclusion I came to too after some though. If ya'll make the policy structure more generic, people would have to adjust their policies _but_ they'd likely have to do that anyway.

[2020-09-14 09:34] RicardoNiepel commented on #1229
@yaron2 have you already added the benchmark numbers from the 21 community call? Could not find them...

[2020-09-14 14:28] youngbupark commented on #1732
@KaiWalter I can reproduce it in my environment. I will investigate the issue.

[2020-09-14 15:48] wcs1only opened #2034 "Intermittent E2E test failure (stateapp_test)"
## In what area(s)?

/area test-and-release

## What version of Dapr?

edge

## Expected Behavior

Test should pass.

## Actual Behavior

https://github.com/dapr/dapr/runs/1107312806

[code]
## Steps to Reproduce the Problem

Intermittent E2E test failure.

[2020-09-14 16:26] yaron2 opened #2037 "Sidecar injector leaks private info in logs"

[2020-09-14 16:28] #2037 closed

[2020-09-14 17:20] #2033 closed

[2020-09-14 19:19] #1805 closed

[2020-09-14 22:28] wcs1only opened #2042 "Operator service restarts during E2E tests."
## In what area(s)?

## What version of Dapr?

edge
## Expected Behavior
Operator services should remain up and running throughout the course of the E2E tests.

## Actual Behavior

Intermittently, an operator service restart is causing E2E test runs to fail:

https://github.com/dapr/dapr/runs/1113922249

The logs pulled for this run clearly show an operator service restart caused the actorapp to f

[2020-09-15 00:40] artursouza commented on #2026
I did a look at the runtime code and API to understand the implication of adding content-type to state and (potentially) other building blocks. Here are my findings:

0. `content-type` should be optional, otherwise it will increase the bar for adoption.

1. 'content-type' here does not mean the content of the `data` attribute, it means the language specific type that will help the SDK deserialize

[2020-09-15 00:49] yaron2 commented on #2026
lgtm on 3.

[2020-09-15 00:50] rynowak commented on #2026
Do we have examples of what we think **better deserialization of binary values** means?

[2020-09-15 01:25] youngbupark opened #2045 "wrong dns resolution for cross namespace service invocation"
## In what area(s)?

/area runtime

## What version of Dapr?

edge

## Problem

if client invokes `nodeapp.nodens` service, dapr does not resolve app id and namespace correctly.
[code]

expected:

[code]

actual:

[code]

## root cause

Dapr doesn't extract appid so that it pass `nodeapp.nodens` as appid.

https://github.com/dapr/dapr/blob/ce6562c5b8b3c8e3d5a8dc047975169b46d91ceb/pkg/messaging/dir

[2020-09-15 01:43] artursouza commented on #2026
Yes. It means getting a base64 encoded string from dapr's Java Http API and not knowing if it is supposed to be a String to decoded to byte[]. We can add a check to determine if users want a byte[] back and decode in the SDK prior to returning the value to the app.

[2020-09-15 02:24] wcs1only opened #2047 "Intermittent E2E test failure (pubsub)"
## In what area(s)?

## What version of Dapr?

edge

## Expected Behavior

## Actual Behavior
[code]

We suspect that the issue is related to the fact that this test opens up one HTTP connection per message and does not close them. We might be hitting limits on the number of outbound connections. Connection count gets up to 300 before the test is over.
## Steps to Reproduce the Problem

Intermitte

[2020-09-15 03:18] aktxyz opened #2049 "Actor Reminder not persisting"
## In what area(s)?

/area runtime

## What version of Dapr?

0.10.0-preview01

## Expected Behavior

reminder should persist and keep firing on restart and no error should be shown

## Actual Behavior

reminder does not keep firing on restart and an error is shown

## Steps to Reproduce the Problem

The test case is basically a fork of the dapr/dotnet-sdk repo ...

modified repo
https://github.co

[2020-09-15 03:31] msfussell commented on #1782
These setting are all on a per-store basis, including defaultAccess correct? If so, I do not see the difference between defaultAccess: deny and denyAccess: deny. Can you explain?

[2020-09-15 04:30] youngbupark commented on #2045
@yaron2 cross namespace still doesn't work

[code]

[2020-09-15 04:33] yaron2 commented on #2045
That's not an error message, and it looks like the address is correct.

[2020-09-15 04:41] jigargandhi commented on #1954
@youngbupark @yaron2  can you take a look at the above PR. There are still a few  packages needing change after this one.

[2020-09-15 13:13] #2047 closed

[2020-09-15 14:42] youngbupark commented on #2045
@yaron2

Yes I added debugging log. address is correct. I can ping from pythonapp (in default ns) to nodeapp (in nodens)
[code]

but invocation is failed. Do we have any [network policy](https://kubernetes.io/docs/concepts/services-networking/network-policies/#default-policies) over namespace ? I do not see such setting in the code.

Please reproduce on your machine

[2020-09-15 15:14] aktxyz opened #2050 "dapr actor timers and reminders should have a way to retrieve the current list of timers"
## In what area(s)?

/area runtime

## Describe the feature

Currently you can set/get/delete reminders and timers on dapr actors.

However you can not retrieve a list of current reminders and timers?  It seems like this should be possible, lets say you add 3 reminders to an actor, and later want to clear out the list of reminders, you have no way of knowing that list.

If the intended way of hand

[2020-09-15 16:15] youngbupark commented on #2026
Solution 3 looks good to me. @artursouza can you please create ADR once the decision is made?

[2020-09-15 16:26] mukundansundar commented on #2026
Solution 3 looks good.

[2020-09-15 16:49] mukundansundar commented on #1782
@msfussell semantically both `defaultAcess: deny` and `denyAccess: true` mean the same since it is one a per store basis. `defaultAccess` is more consistent with the Service Invocation changes that are being made. So went with that approach.

[2020-09-15 17:48] rynowak commented on #2026
Makes sense, no concerns about option 3. `byte[]` <-> `base64 string` is something pretty much all JSON serializers do

[2020-09-15 17:56] XavierGeerinck opened #2052 "Unable to access state store in different Microservice in Kubernetes (works with dapr run)"
## In what area(s)?

/area runtime

## Ask your question here

**Use case:** I would like to build an API gateway with throttling per user build in (e.g. 1M/2M/3M/... calls per user per month depending on a billing plan).

**Idea:** To implement the use case above, I wanted to create 2 microservices, 1 backend and 1 api gateway microservice. What will happen is the following:

1. [Frontend] User c

[2020-09-15 18:17] #1643 closed

[2020-09-15 20:51] artursouza commented on #1933
It is not possible to wait for sidecar before starting app, **unless** app does not listen to port. Today, starting sidecar depends on app being up and running to get actors and topics configuration. In anyway, I have a PR adding this feature to the cli, which will make our demos more stable since publishing/invoking apps will only run after the sidecar is up.

[2020-09-15 21:29] wcs1only commented on #2042
Another instances of this, looks like leader election failed?:
https://github.com/dapr/dapr/runs/1119642803?check_suite_focus=true
[code]

[2020-09-15 21:45] youngbupark commented on #2042
error retrieving resource lock dapr-tests/operator.dapr.io: configmaps "operator.dapr.io" is forbidden: User "system:serviceaccount:dapr-tests:dapr-operator" cannot get resource "configmaps" in API group "" in the namespace "dapr-tests"

error loading trust root bundle: error generating trust root bundle: failed saving secret to kubernetes: secrets \"dapr-trust-bundle\" is forbidden: User \"system

[2020-09-15 21:46] yaron2 commented on #2042
This last run failed due to an RBAC error that is related to this PR.

[2020-09-15 21:50] wcs1only commented on #2042
Ok, so it appears that this most recent failure is not related to the previously observed operator issue.

[2020-09-15 22:30] #2016 closed

[2020-09-15 22:55] #2045 closed

[2020-09-16 02:43] artursouza commented on #2026
See PR above for ADR: https://github.com/dapr/dapr/pull/2053

[2020-09-16 15:41] wcs1only commented on #2042
Another one, same signature:
https://github.com/dapr/dapr/runs/1120934213?check_suite_focus=true
https://ms.portal.azure.com#@72f988bf-86f1-41af-91ab-2d7cd011db47/blade/Microsoft_Azure_Monitoring_Logs/LogsBlade/resourceId/%2Fsubscriptions%2F38875a89-0178-4f27-a141-dc6fc01f183d%2FresourceGroups%2Fdapre2e%2Fproviders%2FMicrosoft.ContainerService%2FmanagedClusters%2Fdapr-aks-e2e-06/source/LogsBlade.A

[2020-09-16 15:49] wcs1only commented on #2042
Oh here's something:
https://ms.portal.azure.com#@72f988bf-86f1-41af-91ab-2d7cd011db47/blade/Microsoft_Azure_Monitoring_Logs/LogsBlade/resourceId/%2Fsubscriptions%2F38875a89-0178-4f27-a141-dc6fc01f183d%2FresourceGroups%2Fdapre2e%2Fproviders%2FMicrosoft.ContainerService%2FmanagedClusters%2Fdapr-aks-e2e-05/source/LogsBlade.AnalyticsShareLinkToQuery/q/H4sIAAAAAAAAA12PwQrCQAxE7%252F2KuamgFqGoJy8qInhTv

[2020-09-16 16:21] wcs1only commented on #2042
So prevailing theory is that we're just racing with ingestion of root certificate from sentry. Operator blocks until it can read from the secrets mount, and it might be being restarted by healthcheck waiting for this mount to come up. We're going to:
1. Add --wait to dapr helm install command
1. Reorder dapr install step to come before e2e container push.

PR to follow shortly.

[2020-09-16 16:48] youngbupark commented on #1732
Sharing the current progress, on local test, I can see unexpected EOF error from stream connection on placement server so that it keeps removing the Dapr sidecars from the membership list. trying keep-alive option doesn't work. I am still investigate the issue and will keep the progress posted here.

[2020-09-16 16:59] #2042 closed

[2020-09-16 17:52] XavierGeerinck commented on #2052
Solved in community call, solution is to have 2 servers listening on 2 ports (one for local calls listening on local interface, the other for external calls on external interface) then expose the local one through the `dapr.io/port` annotation

Thanks @yaron2 for answering this! :)

[2020-09-16 17:52] #2052 closed

[2020-09-16 19:29] wcs1only commented on #2034
Finally had time to triage this. It smells a lot like the component startup race in #1945, so this might already be fixed. For some reason, I'm having trouble getting the daprd container logs to confirm.
https://ms.portal.azure.com#@72f988bf-86f1-41af-91ab-2d7cd011db47/blade/Microsoft_Azure_Monitoring_Logs/LogsBlade/resourceId/%2Fsubscriptions%2F38875a89-0178-4f27-a141-dc6fc01f183d%2FresourceGroup

[2020-09-16 19:39] wcs1only commented on #2034
Yeah, I don't know why the daprd container logs are empty:

https://ms.portal.azure.com#@72f988bf-86f1-41af-91ab-2d7cd011db47/blade/Microsoft_Azure_Monitoring_Logs/LogsBlade/resourceId/%2Fsubscriptions%2F38875a89-0178-4f27-a141-dc6fc01f183d%2FresourceGroups%2Fdapre2e%2Fproviders%2FMicrosoft.ContainerService%2FmanagedClusters%2Fdapr-aks-e2e-07/source/LogsBlade.AnalyticsShareLinkToQuery/q/H4sIAAAAAA

[2020-09-17 00:04] youngbupark commented on #2049
@aktxyz Thanks for the report. I will reproduce and investigate it in my environment and then update the progress by this week.

[2020-09-17 00:16] youngbupark commented on #2005
@hongjic That's good suggestion. e.g. Having the abstraction layer, you would probably use light protocol, e.g. unix-socket, to communicate with your app.

As you see, AppChannel design is pretty generic, which we could extend to the other protocol relatively easy. But we are heading to 1.0 release now so that we do not have the time to consider design change.

BTW, can you elaborate more on your

[2020-09-17 00:19] youngbupark opened #2059 "Cannot build debuggable docker image"
## In what area(s)?

/area test-and-release

## What version of Dapr?

master

## Expected Behavior

docker image must be built without any errors.

## Actual Behavior

docker image build is failed.

## Steps to Reproduce the Problem

make build-linux
make DEBUG=1 docker-build

[2020-09-17 12:14] mchmarny opened #2061 "Publishing to component w/o without topic returns 200"
I'm to sure if this is a bug or an attempt at backward compatibility that has unintended side effects but in v0.10 the Dapr API will now return `200` on publish posts without topic.

[code]

Results in

[code]

I though this was an attempt for backward compatibly for pre v0.10 usage where only topic was required so I've added subscription without topic:

[code]

In that case Dapr does not throw er

[2020-09-17 16:06] wcs1only opened #2063 "Display container logs on an E2E test failure."
## In what area(s)?

/area test-and-release

## Describe the feature

External contributors can not view container logs for E2E tests. Long term, we need a public test result aggregation solution that aggregates everything we need to diagnose E2E test failures.

In the short term:
E2E test suite should dump the container logs to the console on a failure.

RELEASE NOTE: End to end tests now save co

[2020-09-17 16:47] #2059 closed

[2020-09-17 19:27] mukundansundar opened #2067 "Follow gRPC error handing in associating gRPC error codes with errors"
## In what area(s)?

/area runtime
## Describe the proposal

The current grpc/api.go has two different ways of reporting error.

One is by associating grpc error codes following https://grpc.io/docs/guides/error/#richer-error-model
Eg:
[code]
https://github.com/dapr/dapr/blob/master/pkg/grpc/api.go#L104

The other is creating new error values on the fly.

[code]

This should be changed to follow t

[2020-09-17 19:28] youngbupark commented on #2067
+1

cc/ @yaron2 @rynowak @msfussell

[2020-09-17 19:30] youngbupark commented on #2067
We need to follow the standard grpc error handling guideline instead of creating our own way.

[2020-09-17 19:46] tcnghia opened #2068 "Unable to create Dapr sidecar service when AppID is long"
## In what area(s)?

/area operator

## What version of Dapr?

HEAD

## Expected Behavior
A `dapr` sidecar service to be created for applications with valid App IDs.

## Actual Behavior
When using really long AppID, like `"calculator-with-very-long-name-exceeding-sixty-four-characters"`, `dapr-operator` fails with this error

[code]

This is due to Kubernetes requiring that Service name must be a

[2020-09-17 19:47] tcnghia commented on #2068
cc @youngbupark

[2020-09-17 22:12] msfussell commented on #25
Deprioritizing this issue based on review. Can revisit in the future as needed.

[2020-09-17 22:12] #25 closed

[2020-09-17 22:12] msfussell commented on #27
Deprioritizing this issue based on review. Can revisit in the future as needed.

[2020-09-17 22:12] #27 closed

[2020-09-17 22:21] msfussell commented on #294
Deprioritizing this issue based on review. Can revisit in the future as needed.

[2020-09-17 22:21] #294 closed

[2020-09-17 22:24] msfussell commented on #378
this needs to be included in endgame reviews for each milestone.

[2020-09-17 22:25] msfussell commented on #423
Fixed

[2020-09-17 22:25] #423 closed

[2020-09-17 22:26] msfussell commented on #496
Fixed.

[2020-09-17 22:26] #496 closed

[2020-09-17 22:27] msfussell commented on #504
Deprioritizing this issue based on review. Can revisit in the future as needed.  Cron binding addresses this feature

[2020-09-17 22:27] #504 closed

[2020-09-17 22:28] msfussell commented on #505
Deprioritizing this issue based on review. Can revisit in the future as needed.

[2020-09-17 22:28] #505 closed

[2020-09-17 22:32] tcnghia opened #2069 "Add code coverage GitHub action"
## In what area(s)?

/area test-and-release

## Describe the feature

Business value: knowing code coverage will remind us to pay attention on our code health in each pull request.

[2020-09-17 22:37] msfussell commented on #697
Closing as a duplicate of https://github.com/dapr/dapr/issues/718

[2020-09-17 22:37] #697 closed

[2020-09-17 22:40] msfussell commented on #749
Deprioritizing this based on review. Can revisit in the future. Checkout cloudstate.io as an example of doing this.

[2020-09-17 22:40] #749 closed

[2020-09-17 22:40] msfussell commented on #750
Deprioritizing this based on review. Can revisit in the future.

[2020-09-17 22:40] #750 closed

[2020-09-17 22:41] mchmarny commented on #639
We should try to enable this using [Project Eirini](https://www.cloudfoundry.org/project-eirini/) or other that make CF on k8s possible

[2020-09-17 22:47] vinayada1 opened #2070 "Change hardcoded ints to constant values in http/api.go"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

Use constants for more code readability for status codes in http/api.go.

## Actual Behavior

hardcoded ints such as 403 are used.

## Release Notes

RELEASE NOTE: **UPDATE** Change hardcoded integer status codes to constants for HTTP API

[2020-09-17 22:48] msfussell commented on #843
@artursouza can you revisit this and determine what has been covered and what remains?

[2020-09-17 22:49] msfussell commented on #856
Deprioritizing this based on review. Can revisit in the future.

[2020-09-17 22:49] #856 closed

[2020-09-17 22:52] msfussell commented on #881
The scenario is when I want to get create my own gRPC clients and would like to have a single path to the files.

[2020-09-17 23:01] youngbupark commented on #1732
@KaiWalter I have the fix - #2071

Uninstall Dapr first. Can you try to use my private build which includes the fix ?

[code]

[2020-09-17 23:14] #2002 closed

[2020-09-18 10:50] KaiWalter commented on #1732
@youngbupark did the reinstall but am not sure how to check the correct version. This is what is logged:
[code]

[2020-09-18 11:23] KaiWalter opened #2073 "helm repo update on Dapr repo fails with error unmarshaling JSON - unknown field "acrMetadata""
/area runtime

## What version of Dapr?

## Expected Behavior

`helm repo update` just updates chart information.

## Actual Behavior

[code]

## Steps to Reproduce the Problem

- Helm 3.3.2 installed with apt
[code]

[2020-09-18 11:25] KaiWalter commented on #2073
Wanted to follow instructions from #1732

This issue is likely more to be related to Azure Container Registry (which Dapr team obviously utilizes to host Helm charts) or Helm CLI - but maybe already stumbled across this issue.

[2020-09-18 15:29] #2069 closed

[2020-09-18 15:34] youngbupark commented on #2073
@KaiWalter what's the version of helm? I cannot repro on my mac.

[2020-09-18 15:37] KaiWalter commented on #2073
@youngbupark it is 3.3.2

[2020-09-18 16:24] youngbupark commented on #2073
Based on the error message, it is related to ACR. unfortunately, I cannot repro on my machine.

helm version
version.BuildInfo{Version:"v3.3.1", GitCommit:"249e5215cde0c3fa72e27eb7a30e8d55c9696144", GitTreeState:"dirty", GoVersion:"go1.15"}

[2020-09-18 16:44] Dunning-Kruger commented on #2073
Randombly stumbled onto this issue but wanted to leave some info.This error happens (currently) when you try to add azure's marketplace as repo:
[code]

[2020-09-18 16:52] youngbupark commented on #1732
The version is correct. This is not the final fix. The final fix will be released to 0.11.0 Please let me know if you see any issues.

[2020-09-18 17:18] Dunning-Kruger commented on #2073
Hey. You can most likely repro it on v3.3.2. Sample here: [helm/issues/8769](https://github.com/helm/helm/issues/8769)

[2020-09-18 17:22] vinayada1 opened #2075 "E2E Test Scenario for Access Control Lists for service invocation"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

Add end to end tests for the feature : Allow lists for service invocation https://github.com/dapr/dapr/issues/813

## Actual Behavior

## Steps to Reproduce the Problem

[2020-09-18 17:49] youngbupark commented on #2073
Thanks for finding it. :) @KaiWalter please try to downgrade helm.

[2020-09-18 19:17] #2026 closed

[2020-09-18 19:34] bridgetkromhout commented on #2073
Please track the discussion in helm/helm#8761 as we get this resolved. Downgrading helm to a version with CVEs is not advisable.

[2020-09-18 22:26] youngbupark commented on #2073
Thanks for the update.  [hot fix](https://github.com/helm/helm/issues/8761#issuecomment-695085765) is released. @KaiWalter please try with the latest version of helm.

[2020-09-18 22:30] youngbupark commented on #2073
I can still reproduce the same issue with 3.3.0 release.

[code]

[2020-09-18 22:36] bridgetkromhout commented on #2073
Hi, @youngbupark - as explained in https://github.com/helm/helm/issues/8761#issuecomment-695085765 ACR is not yet fixed. Please see https://github.com/helm/helm/issues/8761#issuecomment-695099518 where @SteveLasker goes into more detail, and follow that issue for more updates. Thanks.

[2020-09-19 07:17] KaiWalter commented on #2073
@youngbupark thanks for following up with this issue out-of-scope for Dapr.

I did a downgrade to 3.3.1

[code]

and now `helm repo update` works again.

[2020-09-19 07:17] #2073 closed

[2020-09-19 07:21] KaiWalter commented on #1732
@youngbupark have the fix now installed on our clusters - I suppose - and will monitor behavior

[2020-09-19 12:59] AI-Marvel opened #2077 "When using multiple replicas to subscribe a message, multiple duplicate messages are received."
My Dapr CLI/Runtime is 0.8.0.

        When I used emqx as the mqtt broker to subscribe and publish messages, the following problems occurred:

        I use the dapr mqtt component to subscribe and publish messages. I set the number of replicas of the receiver to 3. When the sender sends one message, only one copy should receive one message, but the reality is that all three copies have received

[2020-09-19 13:05] #2077 closed

[2020-09-20 12:19] jigargandhi commented on #1493
@amanbha  I can take this up if it is up for grabs.

[2020-09-21 00:14] amanbha commented on #1493
Sure @jigargandhi , thanks!

[2020-09-21 05:46] veselfil commented on #1732
Hi, it took us a long time to upgrade to DAPR 0.10, so apologies for my lack of activity. It seems we have now run into the same issue as @KaiWalter. We will also try upgrading to the custom build and see if it works.

[2020-09-21 15:46] RicardoNiepel commented on #1048
https://github.com/dapr/dotnet-sdk/issues/401
https://github.com/dapr/docs/issues/806

[2020-09-21 15:52] RicardoNiepel commented on #1048
I've updated the initial issue to be no longer DevSpaces specific - it's a general question how to enable a good developer experience = inner loop

[2020-09-21 15:53] RicardoNiepel commented on #1048
@yaron2 Last time we spoke about that, you already had some OSS projects in mind which can support the overall goal behind this story - can you please bring them to the table?

[2020-09-21 18:29] artursouza opened #2079 "Tracking milestone changes"
Add/Set an empty `CHANGES.md` file in the beginning of work on every milestone. This file would include a summary of relevant changes (including breaking changes) across repos and SDKs. This would later become the release notes. The idea is to have a place to track relevant changes as we go. In the end, the changes will follow the release branch, so users and devs have a readable history of change

[2020-09-21 18:42] #1782 closed

[2020-09-21 18:45] maksimkim opened #2080 "Support arbitrary datacontenttype in publish/subscribe"
## In what area(s)?

 /area runtime

## Describe the feature

Today if Content-Type header in publish request has value different from application/json the runtime sets datacontenttype property of cloud event envelope to text/plain. That prevents users from annotating their event payload with semantic content types e.g. application/xml, etc.
It shouldn't be an issue if dapr runtime would use the C

[2020-09-21 21:14] alex-doe opened #2081 "Multi PubSub 'PubSubName' Abstraction"
## In what area(s)?

/area runtime

## Ask your question here
In the current Multi PubSub implementation the `PubSubName` is transported via the CloudEvent envelope.
We encountered problems of abstraction in two example scenarios - Here a simplified description:

A service (A) emits a message to the topic "somethingHappend" which is subscribed by two other services (B,C)
These services are, except

[2020-09-21 22:27] tcnghia commented on #2079
If release notes are included in PRs (for example https://github.com/kubernetes/kubernetes/pull/64503), there are tools that help with release notes gathering like this one from Kubernetes project https://github.com/kubernetes/release/tree/master/cmd/release-notes

It looks pretty simple to use. However it does not handle reverted commits (for an example: search for the mentioning of 64365 in http

[2020-09-22 01:12] #1945 closed

[2020-09-22 01:12] #2034 closed

[2020-09-22 01:31] RichiCoder1 opened #2082 "OPA HTTP Middleware"
## In what area(s)?

## Describe the feature
As part of #1617, create an HTTP middleware that allows applying Open Policy Agent Policies to incoming service requests.

[2020-09-22 01:53] #2082 closed

[2020-09-22 20:18] youngbupark opened #2083 "Run actor reliability and scalability test"
## In what area(s)?

/area runtime

## Describe the feature

Along with #2002,

1. Scalability of actors - balancing actors across nodes
2. Test placement/ daprd actor runtime reliability
3. Gather test results

Reference:
#2002
#663

[2020-09-22 22:05] youngbupark commented on #2080
You can still pass entire CE payload with the different data content type. - https://github.com/dapr/components-contrib/blob/e5a50cb2daa50d53709bf9fbdf2b3f59cf744b16/pubsub/envelope.go#L73-L92

@mchmarny looks like we might not document how to pass the user CE payload. Have we documented how to use user CE payload?

[2020-09-22 22:24] youngbupark commented on #2081
cc/ @yaron2 @mchmarny @orizohar

[2020-09-22 22:29] #1997 closed

[2020-09-22 22:57] mukundansundar opened #2084 "Milestone 0.11.0 End Game"
End game Lead: @mukundansundar
End game buddy: @youngbupark

This is the schedule for the 0.11.0 Release

09/24 4:30 PM PST code freeze for the release
09/30 Release date

- [x] Code freeze at 4:30 pm 09/24
- [x] No P0 issues before code freeze.
- [x] Create 0.4 release branch for component-contrib @youngbupark
- [x] Cut 0.4.1 release for component-contrib @youngbupark
- [x] update component-contr

[2020-09-23 01:58] MedAnd commented on #955
For anyone following this feature request... hot off the press: [Announcing Dapr integration in Azure API Management Service](https://cloudblogs.microsoft.com/opensource/2020/09/22/announcing-dapr-integration-azure-api-management-service-apim/)

[2020-09-23 02:08] mchmarny commented on #955
As @MedAnd said, this is straight of the press. We look forward to your feedback on the [initial Dapr integration in APIM](https://github.com/dapr/samples/tree/master/dapr-apim-integration). There is a lot more we could still do there, so real-world use-cases are instrumental in prioritizing. Thanks!

[2020-09-23 12:14] skyao commented on #2073
Today I meet this problem and waste a lot of time until I found this issue and the helm bug( helm/helm#8761 (comment) ).....

I also remove the version (3.3.4) and reinstall helm 3.3.1.

It works.

[2020-09-23 13:37] goodforever opened #2087 "How to build and install from source?"
## Ask your question here
How to build and install runtime from source code and setting up components?

[2020-09-23 13:42] mchmarny commented on #2080
To prevent the implicit "conversion" you've outline, wrap whatever payload you want to be delivered to your subscribing apps as [CloudEvent](https://github.com/cloudevents/spec). Starting with Dapr v0.9 we no longer wrap published content into CloudEvent if the payload itself is already a CloudEvent. Here is how you can see how this works.

Assuming your have some XML payload (really can be any fo

[2020-09-23 13:56] mchmarny commented on #2081
I may not get your specific use-case but, the topic name is only unique in the context of a specific component (e.g. `comp1/orders` or `comp2/orders`). For two services to exchange events they must be using the same, fully qualified topic. So yes, all services subscribing to the same topic must name their PubSub component identically.

We are in a process of enabling [subscriptions declaratively](

[2020-09-23 14:00] KaiWalter commented on #1732
@youngbupark looks good on my end. After a few days and occasionally putting load on the actor scenarios, placement service / actors are still "alive".

[2020-09-23 14:21] youngbupark commented on #1732
Thanks for the report. This fix will go with the 0.11.0 release.

JFYI - Apart from this fix, we are actively working on testing and improving the reliability of placement under very high load.(#2083)

cc @msfussell @yaron2

[2020-09-23 15:02] wcs1only commented on #2087
https://github.com/dapr/dapr/blob/master/docs/development/developing-dapr.md is the good place to start.

See also, running the end-to-end tests: https://github.com/dapr/dapr/blob/master/tests/docs/running-e2e-test.md

[2020-09-23 15:02] #2087 closed

[2020-09-23 15:47] SteveLasker commented on #2073
Apologies @skyao,
Please see [this ACR Avisory](https://aka.ms/acr/advisories) for mitigation. We sincerely apologize for the frustrations.
While we address the immediate issue and are rolling out a fix with recommendations for what customers can do now, we are also working to address the larger implication of well-intended security updates and how they impact customers. Or, more importantly, how

[2020-09-23 15:58] #1732 closed

[2020-09-23 18:59] alex-doe commented on #2081
And this is exactly where we asked ourselves the, admittedly heretical, question whether it is necessary/correct that all services must share the same name for a pubsub component. This leads to a (technical) coupling between producer and consumer.

Maybe a more detailed description of one of our use-cases can give a better insight:

We have an external, onpremise [windows service ugh], system whic

[2020-09-23 19:03] mchmarny opened #2088 "Add bidirectional output binding binding to show that capability"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

[2020-09-23 20:18] mchmarny commented on #2081
Thanks for the additional clarity, @alex-doe. I think understand it now. Let me look into this and get back to you.

[2020-09-23 21:58] aktxyz commented on #2083
+1

can you include stopping/starting the connected apps ... I have seen "context deadline exceeded" errors that went away by restarting the placement service

[2020-09-23 22:06] youngbupark commented on #2083
Try with the latest edge version.
[code]

For selfhost mode,

https://github.com/dapr/dapr/actions/runs/269037612

1. download right binary
2. copy daprd to ~/.dapr/bin/

[2020-09-23 23:05] youngbupark commented on #2080
@mchmarny can we move this issue to dapr/docs to follow up documentation ?

[2020-09-23 23:12] yaron2 commented on #2080
I talked to @maksimkim about this offline, he wants the ability to change the datacontenttype without being forced to compose the entire CloudEvents envelope.

[2020-09-23 23:24] aktxyz commented on #2083
I actually tried that yesterday and still saw the same issue ... restarting
placement before starting the apps again still solved it ... it seems there
is a funky state when apps disconnect perhaps

On Wed, Sep 23, 2020 at 5:07 PM Young Bu Park <notifications@github.com>
wrote:

-- thanks, Andrew
512-484-1330
aktxyz@gmail.com

[2020-09-23 23:43] mchmarny commented on #2080
@yaron2 can you elaborate on the feedback some more? Supporting any content type while keeping CE are kind of not mutually compatible... short of some hack with "special" header property that switches the flow of event and prevents CE from being used at all maybe.

[2020-09-24 00:44] #813 closed

[2020-09-24 00:46] youngbupark commented on #2083
Please try it again. I merged the fix in today's morning :) if you tried yesterday, then you can see the same issue. please try it now.

We discovered some other issues at some scale. this fix will come in the next release. stay tune!

[2020-09-24 00:52] youngbupark opened #2089 "Improve placement service reliability"
## In what area(s)?

/area placement

## What version of Dapr?

master

## Steps to Reproduce the Problem

Installing and uninstalling 60 Dapr pods made placement crashed.

https://github.com/dapr/dapr/tree/master/tests/apps/actorload/deploy

1. Install 60 PODS stateactor and 20 PODS testactorclient
2. Uninstall 60 PODS stateactor
3. Install 60 PODS stateactor

## Expected result

Placement should

[2020-09-24 02:01] aktxyz commented on #2083
sweet !!!! will give it a go :)

[2020-09-24 04:22] youngbupark commented on #2089
1. Placement - Add robust membership update logic
2. Placement - Improve latest table dissemination algorithm without lock and with fail-over
3. Dapr sidecar - SIGINT - support graceful member removal from membership

[2020-09-24 05:04] youngbupark opened #2093 "Investigate unexpected memory increase of Actor POD during actor load testing"
## In what area(s)?

/area runtime

## Problem

While running actor load-test for > 24hr, we discovered unknown POD eviction due to the memory usage of stateactor application. [stateactor `nop` method](https://github.com/dapr/dapr/blob/b16ab3ebfd3740ca26366d66224339b3caa7a00b/tests/apps/actorload/cmd/stateactor/main.go#L66-L68) returns 200 immediately. so that we're suspecting dapr runtime memory

[2020-09-24 05:17] youngbupark opened #2094 "Re-evaluate hash function and virtual node factor for placement hashing table"
## In what area(s)?

/area runtime

## Background

While creating 20 * 2048 =~ 40960 random Guid based actors under actor load test, sometimes, we found that actors were activated in the specific server(hot spot)

![image](https://user-images.githubusercontent.com/11863108/94103309-2baa2680-fde9-11ea-9437-54a698bc3c9c.png)

This issue is to re-evaluate hash function and virtual node factor and fin

[2020-09-24 06:22] shalabhms opened #2095 "Fix broken link in observability doc"
Fix broken link in observability doc

[2020-09-24 07:28] #2095 closed

[2020-09-24 17:09] mchmarny commented on #1966
This verbose logging appears to be related to state store validation in [actors.go](https://github.com/dapr/dapr/blob/6adf6026c7aa5d40406728ee5f4858269419fef1/pkg/actors/actors.go#L138-L145)

Looks like we warn on nil state store but the following line casts it to `state.TransactionalStore`

[code]

[2020-09-24 18:00] mchmarny commented on #2088
The postgres output binding showcases the bi-directional capability https://github.com/dapr/docs/pull/813

[2020-09-24 18:00] #2088 closed

[2020-09-24 19:05] #2061 closed

[2020-09-24 19:13] msfussell commented on #813
One issue that I have is that we should consider changing the app name be app-id, so this aligns with both the CLI name and with the K8s config name. https://github.com/dapr/docs/blob/master/howto/configure-k8s/README.md

[2020-09-24 19:34] mchmarny commented on #2081
Looks like this was a side effect of the multiple pub/sub support we added in v.0.10. Fix is already in on schedule for v0.11 [here](https://github.com/dapr/dapr/pull/2099)

[2020-09-24 21:59] yaron2 opened #2101 "Update grpc-go to latest version"
Dapr is currently forced to use `grpc-go` version 1.26 because of the following:

1. Components in `components-contrib` need to be updated to use versions > 1.26
2. the `github.com/coreos/etcd` package used by the `etcd` state store cannot be upgraded > 1.29. This is a [known issue](https://github.com/etcd-io/etcd/issues/12124).

Upgrading to newer versions of `grpc-go` is critical for Dapr due to

[2020-09-24 22:21] mukundansundar opened #2102 "E2E tests not working with minikube"
## In what area(s)?

/area test-and-release

## What version of Dapr?

Latest master version of Dapr as of 9/24/2020

## Expected Behavior

[code]
## Actual Behavior

The test times out.

The daprd container does not start and the pod goes into a CrashLoopBackoff state.

[code]

## Steps to Reproduce the Problem

1. Get the latest master branch of dapr/dapr.
2. Export the following variables
[code

[2020-09-24 22:49] #2081 closed

[2020-09-24 23:40] msfussell opened #2103 "The config options for Helm chart need to be listed in a table"
The readme here https://github.com/dapr/dapr/tree/master/charts/dapr needs to include all the options that can be provided to the Helm chart with an example. For example like this https://github.com/grafana/helm-charts/tree/main/charts/grafana

For the example show an example like this

helm install dapr dapr/dapr --namespace dapr-system --set global.ha.enabled=true

[2020-09-24 23:43] yaron2 commented on #2103
This is super important. examples can be few just to give an idea of how setting looks like, but the important thing really is to have a table like [this](https://github.com/grafana/helm-charts/tree/main/charts/grafana#configuration).

[2020-09-25 03:06] artursouza opened #2107 "Dapr does not install on arm64 cluster"
## In what area(s)?

 /area test-and-release

## What version of Dapr?

0.10

## Expected Behavior

`dapr init --kubernetes` works on a kubernetes cluster on arm64.

## Actual Behavior

`dapr init --kubernetes` does not install on arm64 cluster due to missing images. It seems that we are publishing two amd64 but no arm64 images starting with version 0.10:

https://hub.docker.com/layers/daprio/dapr

[2020-09-25 11:26] XavierGeerinck commented on #843
+1 on the queue requirement! :) would be able to utilize this!

[2020-09-25 11:29] skyao opened #2108 "Dapr operator pod keeps "CrashLoopBackOff" because of worng yaml format for boolean: true/false, not "true"/"false""
## In what area(s)?

## What version of Dapr?

## Expected Behavior

## Actual Behavior

Dapr operator pod runs into "CrashLoopBackOff"  in e2e test:

[code]

when I run command (`k logs dapr-operator-78cb984f6c-gn74v -n dapr-system`) , I found in the logs there are so many errors:

[code]

I found that the reason is I following the e2e guide to do "make setup-disable-mtls" to disable mtls in e2e

[2020-09-25 11:51] skyao opened #2109 "Injector can't disable mtls because wrong yaml format"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

Following e2e documents to disable mtls in e2e test, run `make setup-disable-mtls`

## Actual Behavior

Mtls is enabled after this command. The logs:

[code]

The reason I report in other issue :  #2108

Why I submit this issue is that in injector code, the error of "fail to parse the yaml" is "eat" by the code, without any logs:

[2020-09-25 11:53] skyao commented on #2102
@mukundansundar  I submmit two similar issues, you can have a look to see if there are some relationship.

#2109
#2108

[2020-09-25 12:51] skyao commented on #1893
I think this is not a issue but a more strict rule ?

It seems the yaml/json parsers are different in standalone and k8s mode.

[2020-09-25 15:34] youngbupark commented on #1254
@artursouza we have this tracking issue to support more arm arch. I think we need to prioritize it before RC release

cc/ @yaron2 @msfussell @mchmarny @orizohar @yolember

[2020-09-25 15:37] youngbupark commented on #2107
dupe with https://github.com/dapr/dapr/issues/1254

[2020-09-25 15:39] youngbupark commented on #2107
Please try with the below command:
[code]

[2020-09-25 15:40] youngbupark commented on #2107
We have deprioritized #1254 . We have to prioritize this in 0.12.0.

[2020-09-25 15:42] youngbupark commented on #2108
Nice catch. [Our automated e2e test](https://github.com/dapr/dapr/actions?query=workflow%3Adapr-test) does not turn off mTLS so that we didn't catch this issue before.

[2020-09-25 18:07] aktxyz opened #2113 "add ability to retrieve registered actor list"
## In what area(s)?

## Describe the feature
Currently the actor metadata api will allow you to retrieve a list of actors that have been activated.  This request is to enhance the metadata api to allow you to retrieve the full list of registered actors (even if that actor has seen no activations).

This is in the same spirit as an early request around reminders ...
https://github.com/dapr/dapr/iss

[2020-09-25 18:41] tcnghia opened #2114 "Service invocation blocked in self hosted mode due to empty SPIFFE ID"
## In what area(s)?

/area runtime

## What version of Dapr?

0.11.0-rc.1

## Expected Behavior

The `hello-world` quick start sample works as instructed.

## Actual Behavior

The Python app fails to call the Node.js application through service invocation API.  The HTTP response received was `500`, with the following response body

[code]

@vinayada1 @youngbupark root caused to SPIFFE ID being emp

[2020-09-25 18:41] tcnghia commented on #2114
cc @mukundansundar @youngbupark @vinayada1 @msfussell

[2020-09-25 18:44] yaron2 commented on #2114
@vinayada1 just making sure: if no access policy has been applied through configuration, then all methods should be allowed, correct?

[2020-09-25 18:45] yaron2 commented on #2114
I suspect that `a.accessControlList` isn't nil here when it should be: https://github.com/dapr/dapr/blob/ce89980eda9cc86efbc11a745e2959b1925236ca/pkg/grpc/api.go#L118

[2020-09-25 21:23] artursouza commented on #2107
It works with the following command, the only problem is Dashboard:

` helm install dapr dapr/dapr --namespace=dapr-system --set-string global.tag=0.11.0-rc.0-linux-arm`

[code]

[2020-09-25 21:24] yaron2 commented on #2107
https://github.com/dapr/dashboard/issues/75

[2020-09-25 21:24] artursouza commented on #2107
@yaron2 Thanks, I was about to create an issue.

[2020-09-26 00:53] vinayada1 opened #2121 "http to grpc test does not return error codes other than 2xx"
## In what area(s)?

## What version of Dapr?

0.11

## Expected Behavior

If the caller side gets an error code, it should be propagated to the end app

## Actual Behavior

The caller side always get success. This is an infra issue and will cause problems for even existing e2e tests if we want to add negative tests

## Steps to Reproduce the Problem

RELEASE NOTE: NOT APPLICABLE

[2020-09-26 00:59] mukundansundar commented on #2121
Based on the documentation for httpClient.Do https://pkg.go.dev/net/http#Client.Do

An error is returned if caused by client policy (such as CheckRedirect), or failure to speak HTTP (such as a network connectivity problem). A non-2xx status code doesn't cause an error.

A non-2xx status code from downstream, if not checked based on status code and propagated properly by the caller, will not be pro

[2020-09-26 02:24] youngbupark commented on #1254
dupe #2107

[2020-09-26 02:24] #1254 closed

[2020-09-26 07:49] skyao commented on #2101
do we unregister the state store implementation from daprd until this is resolved?

I agree with this. No reason to block all for a long time by one component impl.

[2020-09-26 21:53] artursouza commented on #2107
The following command now works:
`helm install dapr dapr/dapr --namespace=dapr-system --set-string global.tag=edge`

[2020-09-26 21:54] artursouza commented on #2107
Dashboard is still crashing but that is expected until it is fixed in the related issue.

[2020-09-26 23:51] vinayada1 opened #2124 "Access Control Lists for service invocation should handle duplicate app ids in different namespaces"
## In what area(s)?

## What version of Dapr?

0.11

## Expected Behavior

The policy spec can contain the same app ID with different namespaces. Runtime should be able to handle this case

## Actual Behavior

If the ACL policy spec has duplicate appID with different namespaces, then the last one specified is used. The others will be ignored

## Steps to Reproduce the Problem

Define same appID wi

[2020-09-27 00:20] artursouza opened #2126 "Delete state in trx does not work without etag"
## In what area(s)?

/area runtime

## What version of Dapr?

0.11.0-rc.2

## Expected Behavior

State can be deleted without providing etag as input for trx api.

## Actual Behavior

When using the transaction API to save and delete state, it can't be deleted without etag.

## Steps to Reproduce the Problem

Saves a state with transaction API.
Deletes the state without passing etag in trx.

(Or s

[2020-09-27 01:17] mukundansundar opened #2128 "[E2E Scenario Tests] Add more E2E tests for StateTransaction API"
Fix E2E tests for StateTransaction API

/area test-and-release
## Describe the proposal

E2E test for State Transaction API needs to both test transactional upserts and deletes

[2020-09-27 01:37] mukundansundar commented on #2114
This change needs to be merged into master branch.

[2020-09-27 02:33] #2126 closed

[2020-09-27 06:00] mukundansundar commented on #2114
Merged to master via https://github.com/dapr/dapr/pull/2133

[2020-09-27 06:00] #2114 closed

[2020-09-28 01:24] moluzhui opened #2135 "Dapr Communication protocol conversion MQTT problem"
## In what area(s)?

## Ask your question here
Dapr converts `HTTP/GRPC` requests from the application container to MQTT protocol for communication through sidecar. This unifies the external interface.

But for some MQTT features, such as [will_set](https://www.eclipse.org/paho/index.php?page=clients/python/docs/index.php#option-functions), I did not see the python sdk-based mqtt will_set in the s

[2020-09-28 02:18] skyao commented on #2101
I found that in go-sdk, grpc-go version is already update to 1.32.0.

[2020-09-28 03:28] beiwei30 opened #2136 "redundent metadata in dapr_service_injector_service.yaml"
## In what area(s)?

## What version of Dapr?

v0.11.0-rc.2-12-gb84096b8

## Expected Behavior

a redundant 'metadata' is defined under 'metadata' in charts/dapr/charts/dapr_sidecar_injector/templates/dapr_sidecar_injector_service.yaml

[code]
## Actual Behavior

I believe it should be

[code]

## Steps to Reproduce the Problem

[2020-09-28 09:38] skyao commented on #2108
PR submit and merged.

[2020-09-28 09:38] #2108 closed

[2020-09-28 13:10] skyao opened #2138 "Add HTTP state code check in e2e testapp"
## In what area(s)?

area test-and-release

## What version of Dapr?

0.11.x
master

## Expected Behavior

In e2e test, when daprd return error message, the testapp should understand this is an error, not a valid response. And then testapp should handle the response as error, not expected data.

## Actual Behavior

In dapr runtime, http api (`pkg/http/api.go`) will response error with 400 state co

[2020-09-28 13:24] skyao commented on #2138
There are many silimar code in testapp. I have do a PR to fix one of them:

https://github.com/dapr/dapr/pull/2139

In fact, this issue take me a long time to find it out.....

[2020-09-28 15:46] mchmarny opened #2140 "Resolve high severity security dependabot alerts"
https://github.com/dapr/dapr/network/alerts

[2020-09-28 16:35] tcnghia commented on #2140
@mchmarny not sure why that link doesn't work for me? I got a 404.

[2020-09-28 17:07] mchmarny commented on #2140
I think you need org rights to see that. I'll list a few examples in here.

[code]

[2020-09-28 20:00] mukundansundar commented on #2084
Dapr upgrade guidelines. https://github.com/dapr/docs/tree/master/howto/deploy-k8s-prod#upgrading-dapr-with-helm

Here the helm chart needs to point to the RC for testing RC

[2020-09-28 21:22] #2124 closed

[2020-09-28 21:23] #2075 closed

[2020-09-28 21:59] artursouza commented on #2107
I've verified that image v0.3.0-rc.3 works. Closing this issue.

[2020-09-28 21:59] #2107 closed

[2020-09-29 02:59] artursouza commented on #2102
They did work for me but I will create a PR fix the tricks. Also, using the uber make target did not work because it was failing to push images, it only worked after I ran one step at a time.

[code]

[2020-09-29 03:00] artursouza commented on #2102
Make sure you start minikube with `minikube start --cpus=4 --driver=hyperkit `

[2020-09-29 10:04] skyao opened #2145 "Category checking in component initial process"
/area runtime

## What version of Dapr?

 0.11

## Expected Behavior

If the "spec.type" of component is invalid, daprd should find it is invalid and report error or wrong.

## Actual Behavior

Daprd logged that "component loaded". But since the initial of this component is skipped, the component won't work.

## Steps to Reproduce the Problem

1. prepare a component config file.

[code]

2. Make a

[2020-09-29 10:06] skyao opened #2146 "report an error when component category is invalid"
/area runtime

## What version of Dapr?

 0.11

## Expected Behavior

If the "spec.type" of component is invalid, daprd should find it is invalid and report an error for debugging.

## Actual Behavior

Daprd logged that "component loaded".

But since the initial of this component is skipped, the component won't work.

## Steps to Reproduce the Problem

1. prepare a component config file.

[code]

[2020-09-29 10:12] skyao commented on #2109
Code merged. Close this issue.

[2020-09-29 10:12] #2109 closed

[2020-09-29 14:50] robece opened #2147 "Horizontal Pod Autoscaler error when Dapr sidecar is injected on pod"
## In what area(s)?
Opertor on Kubernetes deployment

## What version of Dapr?
0.10.0

## Expected Behavior
Pod should scale using K8s HPA native component when Dapr sidecar is injected.

## Actual Behavior
Pod with DAPR sidecar injected not scaling with HPA on AKS (Kubernetes version 1.17.9)

Error received:
- missing request for memory or missing request for cpu.
- invalid metrics (2 invalid out

[2020-09-29 14:56] yaron2 commented on #2147
Hi, can you annotate your Dapr deployment with resource constraints (see [here](https://github.com/dapr/docs/tree/master/howto/configure-k8s))?

[2020-09-29 15:02] robece commented on #2147
Hey Yaron, thanks for the quick response, I think that's the issue, I don't have some of those settings.

This is my deployment script:

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.exposedAPI.deployment.name }}
  labels:
    app: {{ .Values.exposedAPI.deployment.name }}
    aadpodidbinding: {{ .Values.exposedAPI.deployment.aadpodidbinding }}
spec:
  replicas: {{ .Values.expos

[2020-09-29 15:58] robece commented on #2147
@yaron2 fixed by adding the missing annotations:

        dapr.io/sidecar-memory-request: "{{ .Values.exposedAPI.resources.requests.memory }}"
        dapr.io/sidecar-cpu-request: "{{ .Values.exposedAPI.resources.requests.cpu }}"
        dapr.io/sidecar-memory-limit: "{{ .Values.exposedAPI.resources.limits.memory }}"
        dapr.io/sidecar-cpu-limit: "{{ .Values.exposedAPI.resources.limits.cpu }}

[2020-09-29 15:58] #2147 closed

[2020-09-29 16:54] tcnghia commented on #1551
`distroless` just added `arm64`. See gcr.io/distroless/static:nonroot (thanks @mattmoor for https://github.com/GoogleContainerTools/distroless/pull/586/files )

[2020-09-29 17:03] mattmoor commented on #1551
Wasn't aware of that blog post, but you can watch my original talk on it at the top of the distroless README.  Hopefully entertaining, and only slightly dated (I am no longer drinking the Bazel kool-aid 😉 ).

Happy to swing by and chat if it'd be helpful?

[2020-09-29 17:10] artursouza commented on #2102
There is a PR to run E2E tests on KinD. It takes about 20 minutes: https://github.com/dapr/dapr/actions/runs/278849209
I created a draft PR to run E2E tests on Minikube, it is taking about 2h and the run gets cancelled: https://github.com/dapr/dapr/runs/1180749174?check_suite_focus=true

Running E2E locally with Minikube on my Macbook Pro was also very slow. My proposal is for KinD to be the recom

[2020-09-29 18:08] yaron2 commented on #813
That's true, we use the `app-id` term everywhere and this should be kept consistent here too.

[2020-09-29 18:33] msfussell opened #2149 "For access list the app name should be appId for consistency"
kind: Configuration
metadata:
name: nodeappconfig
spec:
tracing:
samplingRate: "1"
accessControl:
defaultAction: allow
trustDomain: "public"
policies:
- appId: pythonapp
defaultAction: allow
trustDomain: 'myDomain'
namespace: "default"
operations:
- name: /neworder
httpVerb: ['POST']
action: deny

[2020-09-29 21:07] mukundansundar opened #2153 "Traces are not showing up in zipkin"
## In what area(s)?

/area runtime

## What version of Dapr?

0.11.0-rc.3
## Expected Behavior

Traces should be shown in zipkin. As seen with 0.10.0 version the traces show up as expected.

App receives the publish.

[code]

Trace:

![image](https://user-images.githubusercontent.com/65565396/94615572-d5ac0780-025c-11eb-9ab5-4e3139bbbd39.png)

## Actual Behavior

App receives that publish as expec

[2020-09-29 23:04] #2103 closed

[2020-09-29 23:05] #2149 closed

[2020-09-30 00:44] mukundansundar opened #2155 "Build dev-container on rc release?"
## In what area(s)?

/area test-and-release

## Ask your question here

Is there a need to build dapr-dev-container on a rc release? https://github.com/dapr/dapr/releases/tag/v0.11.0-rc.4

[2020-09-30 00:58] mukundansundar opened #2156 "Remove the deprecated github release plugin and start using Github CLI"
## In what area(s)?

/area test-and-release
## Describe the proposal

Remove the deprecated github-release-plugin and start using Github CLI for release

[2020-09-30 02:34] mukundansundar commented on #2153
@tcnghia Confirmed with the RC.4 that this is fixed.

[2020-09-30 02:34] #2153 closed

[2020-09-30 02:37] skyao commented on #2145
duplicated commit. remove this one

[2020-09-30 02:37] #2145 closed

[2020-09-30 04:05] youngbupark commented on #2146
@skyao Thanks for the report. The log improvement can be done by returning the proper error instead of nil. then caller side will print out the error properly. We will bring this fix next release (0.12.0)

[2020-09-30 04:10] youngbupark commented on #2135
Dapr does not expose MQTT specific feature to the users. You may able to pass some special metadata to component using metadata. Before discussing the specific feature, can you please elaborate on your scenario ?

[2020-09-30 05:01] artursouza opened #2157 "Move E2E local run doc to KinD"
Existing E2E tests documentation explains how to use Minikube to run them locally. Recent work has shown how KinD can be faster to run them. Change instructions to run E2E tests to refer to KinD instead of Minikube to run locally.

[2020-09-30 05:02] artursouza commented on #2102
Team has agreed to use KinD instead of Minikube to run E2E tests locally. Closing this in favor of https://github.com/dapr/dapr/issues/2157

[2020-09-30 05:02] #2102 closed

[2020-09-30 15:10] #2136 closed

[2020-09-30 15:54] youngbupark opened #2158 "Add access list missing e2e tests for the cross protocol test between http and grpc"
## In what area(s)?

/area runtime

## What version of Dapr?

master

## Description

[tech debt] Add access list missing tests for the cross protocol test between http and grpc.

[2020-09-30 16:24] wcs1only opened #2159 "Helm chart should allow specifying the node architecture in addition to node os."
There is no helm chart option to deploy Dapr control plane to a preferred CPU architecture. In clusters that contain more than one architecture (both amd64 + arm64, for instance), we should allow users to specify a target architecture in addition to a target OS.

/area test-and-release

## Describe the feature

The primary use case for this is running our E2E test suite on arm64 clusters.

[2020-09-30 18:12] mukundansundar commented on #2084
https://github.com/dapr/dapr/pull/2119

[2020-09-30 19:44] RadoslavGatev commented on #1172
It seems the code for hot reload has been implemented by #1946. According to the operator logs, sidecars are successfully establishing connections to it and component changes are being successfully detected. However, for some reason sidecars are not getting notified about the modified component.

[2020-09-30 19:48] mukundansundar opened #2163 "Metrics disable not working"
## In what area(s)?

/area runtime

## What version of Dapr?

0.11.0-rc.4

## Expected Behavior

Metrics to be disabled if the configuration is added to disable it.

## Actual Behavior

Metrics still visible.

## Steps to Reproduce the Problem

Add configuration in either self hosted or kubernetes mode.

[code]

Run any of the quick starts with this configuration enabled `dapr.io/config` annotatio

[2020-09-30 23:00] yaron2 commented on #1172
@RadoslavGatev The operator side is mostly in place, however the sidecar part is currently (intentionally) ignoring updates.

We (maintainers) have spoken about this issue today and I just triaged this into the 0.12.0 milestone.

[2020-09-30 23:08] mukundansundar commented on #2084
Merge back changes PRs

https://github.com/dapr/dapr/pull/2165

https://github.com/dapr/cli/pull/476

[2020-10-01 14:41] amolenk opened #2167 "Allow components to perform custom health checks"
## In what area(s)?

/area runtime

## Describe the feature

Dapr currently already provides an `healthz` endpoint to check if the instance is healthy. In addition to the health of the Dapr instance I'd also like to be able to check the health of the underlying component infrastructure.

A typical health check for an application that uses Redis for example, would be to send a PING command to Redis

[2020-10-01 15:07] amolenk opened #2168 "Get all secrets from secrets API"
## In what area(s)?

/area runtime

## Describe the feature

Allow applications to get all secrets they've got access to from the secrets API, for example:

[code]
[code]

This would make it significantly easier to create a .NET Configuration Provider that doesn't require the developer to pass the secret names directly in code when registering the provider (.NET Configuration Providers cannot lazi

[2020-10-01 17:46] vinayada1 opened #2170 "Release process automation"
## In what area(s)?

## Describe the feature
Automate the release process:-
- Automate verification of quickstarts on MacOS, Windows and Linux
- Automate verification of sdk samples
- Automate release of all dapr repos - cutting release branch, push tags, etc.
- Automate release notes creation

[2020-10-01 17:57] artursouza opened #2171 "Automate release notes"
Automate release notes generation based on issues in the milestone.

RELEASE NOTE: **ADD** Testing automated release note.

[2020-10-01 18:10] shalabhms commented on #2163
@mukundansundar , it is to be noted that this metric disable option flag is only for dapr runtime metrics. This flag will not affect dapr system metrics. So if the metrics are still emitted for runtime then this need to be fixed otherwise not.

[2020-10-01 20:01] #2084 closed

[2020-10-01 20:01] #1953 closed

[2020-10-01 20:11] daniel-garcia opened #2173 "Support Anonymous Topic subscription via HTTP"
## In what area(s)?
/area runtime

## Describe the feature
Currently its not possible to implement synchronous RPC over the broker abstraction the dapr provides. This feature request is to allow an application to subscribe to a single event on an anonymous topic. For example:

Application Foo wants to send a message to application Bar and receive the response in the same calling context. To do thi

[2020-10-01 20:50] vinayada1 commented on #1820
Updated the proposal for per-call

[2020-10-01 21:50] bvwells commented on #1951
I'm happy to take a look at this!

[2020-10-01 21:53] bvwells commented on #1951
There are a number of new linters in v1.31.0. Might need to advise of which ones you want to enable.

[2020-10-02 07:16] mukundansundar opened #2176 "Fix Potential flaky tests in actors_test"
## In what area(s)?

/area runtime

## What version of Dapr?

master branch - after 0.11 release

## Expected Behavior

actors_test.go to pass

## Actual Behavior

Workflow failed for the darwin run.

[code]
https://github.com/dapr/dapr/runs/1197013308?check_suite_focus=true

On a re run of the GitHub workflow, the test passed.

## Steps to Reproduce the Problem

This is potential flaky test. Repr

[2020-10-02 12:54] amolenk opened #2178 "Invalid component category does not raise error"
## In what area(s)?

/area runtime

## What version of Dapr?

0.11.0

## Expected Behavior

When I specify an incorrect type in a component configuration, the log will show me an error as expected. In the example below, I’m using `secretstores.foo` as the component type which clearly doesn’t exist:

[code]

This results in the following error in the log as expected:

[code]

However, when I make a

[2020-10-02 17:55] mchmarny opened #2180 "Daprd sidecar warnings on loading components in k8s 1.18.8"
Seeing a bunch of these warnings in Dapr `v.0.11` sidecar logs that seem to be related to the new SPIFFE identity support. I haven't had a chance to check on any other version of k8s besides `v1.18.8`

[code]

So far, not seeing any issues with the specific components but I've only tested like 5-7 of them.

[2020-10-02 18:06] yaron2 commented on #2180
This is not related to the SPIFFE.

I can't reproduce this, but this error message in the code means that Dapr can't load components at all, so the fact you are able to see any components working is a smell of something odd.

[2020-10-02 19:17] amolenk commented on #2178
Duplicate of #2146

[2020-10-02 19:17] #2178 closed

[2020-10-02 19:39] SteveLasker commented on #2073
For completeness, ACR fixes have been rolled out worldwide and were completed 9/26/2020

[2020-10-02 19:43] bvwells commented on #1951
I've skipped a few new linters:
    - nlreturn
    - exhaustive
    - noctx
    - gci
    - gofumpt

Also, added some gosec ignores for tls versions. Might want to think about upping the tls version as a separate issue.

Let me know if there is anything you want to enable/disable.

[2020-10-02 20:05] mukundansundar commented on #2176
Another Example:
[code]

Failed only on windows during github workflow run: https://github.com/dapr/dapr/pull/2175/checks?check_run_id=1200610473

[2020-10-02 21:21] mchmarny commented on #2180
This is newer than default k8s version cluster, anything related to v1.18.8?

[2020-10-02 21:22] yaron2 commented on #2180
No, in addition our e2e are now running on k8s 1.18.8 and 1.19, we do not see this issue.

[2020-10-02 21:24] mchmarny commented on #2180
Reaching out here but keying out of the `cluster.local` and components... I'm seeing this in cases of components connecting to services using fully qualified URI (e.g. `redis-master.redis.svc.cluster.local:6379` or `mongo-mongodb-headless.mongo.svc.cluster.local:27017`). Why would the ca be even checked for 'cluster.local`... as if that was external?

[2020-10-02 21:25] yaron2 commented on #2180
The CA is never kicked in when components try to connect to their respective backends. The CA and the `cluster.local` name is only in place for service invocation.

[2020-10-02 21:27] yaron2 commented on #2180
Specifically, the error you received above is when the Dapr sidecar tries to connect to the Operator to get the components with TLS.

[2020-10-02 21:31] mchmarny commented on #2180
Your last two comments seem to contradict each other, but I could be misreading. Either way, I'll keep on eye on this. This should be reproducible using the steps outline here https://github.com/mchmarny/dapr-demos/tree/master/pipeline#run-on-kubernetes

[2020-10-02 21:34] yaron2 commented on #2180
I updated the comment above.. the CA is for service invocation and for Dapr --> Control Plane communications.

As I said, when this error occurs, no component can work as they're not loaded in the sidecar.

[2020-10-02 21:36] mchmarny commented on #2180
Also, the cluster created using

[code]

and Darp installed with

[code]

[2020-10-02 21:41] mchmarny commented on #2180
Well, looked some more... Pub/Sub using Redis and State using Mongo get that error and don't seem to work correctly... looking more now

[2020-10-02 21:42] yaron2 commented on #2180
It makes sense they won't work if the sidecar is unable to pull the components.

[2020-10-02 21:45] mchmarny commented on #2180
The Dapr sidecar injector has a bunch of these errors

[code]

[2020-10-02 21:46] yaron2 commented on #2180
It looks like a faulty installation. I'll try to follow the setup you gave and see if I can reproduce.

[2020-10-02 22:40] yaron2 commented on #2180
Here are the findings:

With `global.ha.enabled=true`, the mounting of the k8s secret on the Operator pods is unsuccessful when they first come up.

A quick workaround is to execute `kubectl rollout restart deploy/dapr-operator -n dapr-system` after the initial installation (when all pods are 1/1 Running).

[2020-10-02 23:46] yaron2 commented on #2180
/cc @msfussell this is a P1 with an inclination towards P0.

It basically means HA mode is broken.

[2020-10-03 01:49] yaron2 commented on #2180
Root cause:

When multiple Sentry pods come up together, every pod will attempt to create new certificates and save them as a secret. This creates a situation where there are 3 different CAs until the Sentry pods are restarted (and then all read from the same secret).

[2020-10-03 14:49] yaron2 opened #2187 "HA mode is broken"
First reported by @mchmarny [here](https://github.com/dapr/dapr/issues/2180).

In 0.11.0, enabling HA mode will cause sidecars to report authentication issues with the Dapr control plane.

This happens because multiple instances of Sentry will boot up and create their own root certs, while only one instance will save the certs for future use in a secret or on the filesystem.
This means that until

[2020-10-03 14:52] yaron2 commented on #2187
I put a `P0` here because this means HA mode is not working.

@msfussell @mchmarny @youngbupark @artursouza - I feel this deserves a 0.11.1 release once the [fix](https://github.com/dapr/dapr/pull/2185) is merged, but if there's consensus the other way, feel free to assign this as a `P1`.

[2020-10-03 14:52] yaron2 commented on #2180
Tracking here: https://github.com/dapr/dapr/issues/2187

[2020-10-03 14:52] #2180 closed

[2020-10-03 15:20] yaron2 opened #2188 "E2E tests should run with a highly available setup"
Today, end to end tests run the non-production recommended setup with one instance per pod.

As between the two modes (non-HA and HA) the highly available setup is both the recommended one and also the more complex one in terms of different coordination between resources on an otherwise no resource dependency coordinated hosting platform (Kubernetes), it's recommended we run the e2e tests with `ha

[2020-10-03 15:48] youngbupark commented on #2188
I agree on enable HA mode for the existing e2e tests. For non-HA mode, I would add one more KinD test for non-HA mode. @yaron2 what do you think?

1. AKS cluster test - HA mode enabled.
2. KinD test for three k8s versions with HA mode
**3. Kind test for one version k8s with non-HA mode. ** -> new

cc/ @tcnghia

[2020-10-03 15:53] youngbupark commented on #2187
Agree that this fix needs to be released as hotfix.

[2020-10-03 16:01] #1951 closed

[2020-10-03 18:18] tcnghia commented on #2188
Regarding running HA tests on KinD, I think some experiments will be needed. It would be nice to test HA there if we can fit our tests there.

+1 to leave some coverage for non-HA to ensure a good experience for users trying things out.

[2020-10-03 18:26] tcnghia commented on #2188
To clarify the experimentations: currently, our KinD cluster was created with 2 worker nodes. I don't know what our HA test setup looks like, but if we want to have at least 3 control plane Pods on different nodes, then we will need to at least add one more worker Node.

[2020-10-03 18:34] msfussell commented on #2187
Yes. This needs a hotfix release.

[2020-10-03 18:39] youngbupark commented on #2187
@yaron2 when [this](https://github.com/dapr/dapr/pull/2189) e2e test result is green, I will cut 0.11.1 release.

[2020-10-03 19:22] #2188 closed

[2020-10-03 23:02] mchmarny commented on #2187
Tested, after updating, my cluster to `v0.11.1` is getting the daprd sidecar injected and secrets populated.

[2020-10-03 23:03] youngbupark commented on #2187
closing this issue.

[2020-10-03 23:03] #2187 closed

[2020-10-04 09:40] mukundansundar commented on #1820
Will the backoff interval also be the period between retries for the linear retry mechanism.
Are there any limits going to be set for the retry count? Since the period between retries is expected to double, will there be validations such that huge numbers are not allowed?

[2020-10-05 19:14] yaron2 opened #2195 "Actors are broken on k8s with 0.11"
Due to changes to server names in generated certificates, the actor building block did not pass a namespace when calling a remote actor.

This means that on Kubernetes cluster with mTLS enabled, and clients calling actors on different pods, invocations will fail with a `Context Deadline Exceeded` message.

[2020-10-05 19:15] yaron2 commented on #2195
This needs a hotfix for 0.11.2.

/cc @youngbupark @msfussell @mchmarny @artursouza

[2020-10-05 19:30] #2171 closed

[2020-10-05 19:34] youngbupark opened #2197 "No remote actor invocation test in e2e test"
## In what area(s)?

/area test-and-release

## What version of Dapr?

master

## Expected Behavior

remote actor invocation test fails by #2195

## Actual Behavior

No Error

## Steps to Reproduce the Problem

Run e2e test via /ok-to-test

[2020-10-05 19:34] youngbupark commented on #2197
Root cause : Dapr does not have remote actor invocation call test.

[2020-10-05 19:35] yaron2 commented on #2195
https://github.com/dapr/dapr/issues/2197 will ensure these types of errors get caught in e2e tests, in addition to unit tests that were added in #2196.

[2020-10-05 20:00] #2195 closed

[2020-10-05 20:14] yaron2 commented on #2195
@msfussell can you confirm a hotfix?

Myself and @youngbupark have agreed.

[2020-10-05 20:17] msfussell commented on #2195
Yes, release a hotfix for this. Does this checkin also cover fixing the E2E test coverage?

[2020-10-05 20:25] yaron2 commented on #2195
@youngbupark is working on fixing the e2e. Once @youngbupark validated the fix in his environment we will release the hotfix.

[2020-10-05 22:15] mukundansundar opened #2202 "Address deprecation of set-env in workflows"
## In what area(s)?

/area test-and-release

## Describe the proposal
Github workflows deprecating the "set-env" call to set environment variables.
Make use of the new method to modify env vars.

https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/

Warning message:
[code]

[2020-10-06 00:22] #2197 closed

[2020-10-06 01:30] h2floh commented on #1893
Hi @skyao I am not sure about the technical reason.
But in that case my ask would be to unify the yaml/json parsers or using the same parsers as k8s does. Otherwise the experience for a developer is not ideal:
Things which are working in 'dev' standalone suddenly throw errors if you go over to k8s mode.

[2020-10-06 16:28] youngbupark commented on #663
In terms of simplicity, I am prototyping server and client for placement with https://github.com/hashicorp/raft - https://github.com/youngbupark/raft-membership

[2020-10-06 16:52] vinayada1 commented on #1759
- Actor service invocation when the actors exist on the same pod
- Actor service invocation when the actors exist on different pods

[2020-10-06 17:06] vinayada1 opened #2205 "[E2E Scenario Tests] for Service Invocation across containers"
## In what area(s)?

## Describe the feature
Need e2e tests to cover functionality added by feature:
https://github.com/dapr/dapr/issues/1506

Service invocation tests when the two applications are running in different containers

[2020-10-06 17:16] vinayada1 opened #2207 "[E2E Scenario tests] for Service Invocation across namespaces"
## In what area(s)?

## Describe the feature
Add e2e tests to cover service invocation across namespaces.

[2020-10-06 17:27] Li-Yanzhi opened #2208 "The permission of ClusterRole dapr-operator-admin was not correctly defined."
## In what area(s)?

## What version of Dapr?

## Expected Behavior

Pod dapr-operator should not output the error of watching crds of Subscriptions

## Actual Behavior

There are duplicated error logs output every second in pod dapr-operator:

[code]

## Steps to Reproduce the Problem

Install v0.11.0, v0.11.1, v0.11.2
View output log from Pod dapr-operator
Details are here: https://gitter.im/Dap

[2020-10-06 17:52] mukundansundar opened #2209 "Add section in release notes on contributors to the release"
## In what area(s)?

/area test-and-release
## Describe the proposal

For Dapr release as part of the automated release notes creation process, there needs to be a way to acknowledge the contributors to the release milestone.
Something similar to VSCode - https://code.visualstudio.com/updates/v1_49#_thank-you or tensorflow.

[2020-10-06 17:55] #2146 closed

[2020-10-06 18:33] yaron2 opened #2210 "Update hotfix release notes with detailed information"
As discussed with @msfussell @mchmarny and @orizohar, release notes should be more detailed about the issues fixed, root cause and how it was resolved.

[2020-10-06 18:49] #2210 closed

[2020-10-06 19:17] yaron2 opened #2212 "Add unit tests for Sentry and gRPC"
There are certain critical pieces in `/sentry and `/grpc` packages that need additional testing.
These pieces of code are either critical or a exist in a "change often" path.

[2020-10-06 19:18] yaron2 commented on #2212
Closed via #2181 and #2182.

[2020-10-06 19:18] #2212 closed

[2020-10-06 20:11] youngbupark opened #2213 "Document hotfix release process"
Dapr doesn't have the documented process for hotfix release. This process needs to include:

0. How to prioritize the issue as hotfix and get approvals from maintainers/contributors.
1. How to communicate with users/contributors about the issues earlier
2. How to apply hotfix change to master and release and cut the release
3. How to announce new dapr hot fix. e.g. in blog/twiter/gitter

[2020-10-06 20:33] youngbupark commented on #2213
cc/ @orizohar @msfussell @mchmarny @yaron2 @yolember

[2020-10-06 22:08] yaron2 commented on #2101
@skyao can you help with this? my ask is that you take the components-contrib repo and check if we can upgrade grpc-go to a version > 1.3x.

[2020-10-06 23:32] yaron2 commented on #2068
This needs an error log in the operator about an invalid service for the given deployment ID, and additional logic in the sidecar injector to not inject the sidecar, since a service that's required for networking will not be created.

[2020-10-07 00:21] #2208 closed

[2020-10-07 18:30] msfussell commented on #1711
Only python is left covered in Python : dapr/python-sdk#97

[2020-10-07 18:30] #1711 closed

[2020-10-07 21:15] artursouza opened #2216 "PubSub message expiration"
ServiceBus offers native support for TTL per message. Kafka does it at a global or topic level but not at message level. Dapr can use native support for some implementation but also implement TTL by not publishing messages that have expired. The same will happen if a message cannot be sent to a subscriber after retrying for a configurable amount of time.

Expected behavior: Publisher can (optional

[2020-10-07 21:41] artursouza opened #2217 "PubSub's DeadLetter Topic"
After a message cannot be delivered to a subscriber (retry time out or message expiration), the message should be sent to a special topic. The subscriber can subscribe from that topic as well, or simply leave messages there to be manually verified. Dapr will try to publish to dead letter topic only once (best effort). This is a way the subscriber can recover if the API was returning non-retriable

[2020-10-07 21:48] artursouza commented on #843
Which component are you using? This might be already available if the component has support for consumerGroup ids.

[2020-10-07 21:50] yaron2 commented on #2217
This is a good description of the feature. Do you think this might be important enough to be a P1?

[2020-10-07 22:46] artursouza commented on #2217
I think this is a great addition after we reach 1.0, this is why I've added P2. I am happy to bump it up to P1 if we have a valid customer ask for this.

[2020-10-07 23:03] artursouza opened #2218 "Proposal: Support batching of send and receive pub/sub messages for performance"
The current PubSub model notifies consumers by making a roundtrip per message. A way to improve message throughput would be to allow consumers to declare the intention of consuming messages in batches. Processing messages in batches lead to the following optimizations:
- roundtrip reduction between dapr and consuming component by sending messages batches
- consumer computation by observing a messa

[2020-10-07 23:05] artursouza commented on #2218
@yaron2 @youngbupark  @mukundansundar @msfussell This looks like a P1 to me. What do you think?

[2020-10-07 23:06] artursouza commented on #2218
Also, there was an ask for it in the parent issue: #843

[2020-10-07 23:22] yaron2 commented on #2218
I would like to see this as a P1 because it can drastically improve throughput and open up more high scale scenarios that rely on pub/sub.

[2020-10-07 23:43] artursouza commented on #1360
This proposal seems to include a way to describe a workflow and its components (processors and topics) and provision resources accordingly. If my understanding is correct, this seems to be above the abstraction layer that Dapr operates.

@yaron2 Thoughts?

[2020-10-07 23:46] tcnghia commented on #2202
Thanks @mukundansundar . I didn't see this issue when sending the PRs

[2020-10-07 23:50] artursouza commented on #1986
Closing this in favor of existing issue: #843

[2020-10-07 23:50] #1986 closed

[2020-10-08 00:25] youngbupark opened #2220 "Dapr returns "Message is nil" error instead of real error for http->gRPC invocation."
## In what area(s)?

/area runtime

## What version of Dapr?

master

## Steps to Reproduce the Problem

Under http->grpc service invocation scenario, grpc caller returns Unimplemented error.

## Actual Behavior

http caller gets 500 response code with `Message is nil` message with

## Expected Behavior

http callers gets 500 error with `Unimplemented error and detail error info`

## Release Note

[2020-10-08 00:32] artursouza commented on #2080
I just tested publishing with JSON and XML and the content-type is not propagated correctly for the XML case:

[code]

[code]

[code]

@yaron2 @mchmarny  it seems that we need to make Dapr handle content-type correctly for other types, not only JSON.

[2020-10-08 01:02] youngbupark opened #2221 ".net gRPC appcallback server OnInvoke method doesn't work for http->grpc invocation scenario"
#In what area(s)?

/area runtime

## What version of Dapr?

master

## Steps to Reproduce the Problem

1. Run gRPC appcallback service with debug log level
example: https://github.com/RadoslavGatev/aspnet-core-grpc-dapr-service

[code]

2. run dapr
[code]

Find HTTP API port.

3. Invoke callee service
[code]

## Expected Behavior

[code]

## Actual Behavior

from callee app
[code]

Invoke response

[2020-10-08 01:04] youngbupark commented on #2220
@msfussell @orizohar @yaron2 @yolember this is bug in runtime side. I will prioritize it as P1 because this is bug in service invocation. Please let me know if you have any concern.

[2020-10-08 01:19] youngbupark commented on #2221
Root cause & possible fix:
the root cause of this issue is that ASP.net Kestrel throws the exception because request header from dapr runtime app channel includes connection specific headers. I am unable to repro on python, js, and the other language grpc implementation.

The best option is to find which headers make this problem in Kestrel server and then fix it in runtime side.

Impact:
Our curr

[2020-10-08 01:24] youngbupark commented on #2221
cc/ @dabedin @RadoslavGatev

[2020-10-08 02:02] artursouza commented on #809
Closing issue.

[2020-10-08 02:14] artursouza commented on #925
There can be a use for a query based API, not necessarily SQL. Converting the query into SQL sounds like an implementation detail. Closing this in favor of #1339

[2020-10-08 02:14] #925 closed

[2020-10-08 02:15] artursouza commented on #944
Closing this in favor of #1339

[2020-10-08 02:15] #944 closed

[2020-10-08 02:18] artursouza commented on #1421
Why do we need this feature? I recommend we close it. Labeled as shelved in the meantime.

[2020-10-08 02:26] yaron2 commented on #809
I'm not ready to close this yet, would like to revisit this.

[2020-10-08 04:22] yaron2 opened #2222 "Dapr will not load a binding that is only an input binding"
The current implementation of the `initBinding` method [here](https://github.com/dapr/dapr/blob/67c4553aea13acef634540469f4a287b759a288e/pkg/runtime/runtime.go#L346) will first attempt to load a binding as an output binding, and if that doesn't succeed it will exit and not provide a chance for the runtime to load an input binding.

Currently, there is only one binding which is only an input bindin

[2020-10-08 04:22] yaron2 commented on #2222
/cc @youngbupark

[2020-10-08 13:39] skyao commented on #1893
I totally agree. In fact I found similar issue like this:

#2108

This time, it is about boolean: it should be true/false, not "true"/"false"

[2020-10-08 13:40] skyao commented on #1893
@vinayada1 is there any plan? Should we unify the yaml parsers for standalone mode and k8s mode?

[2020-10-08 13:49] #2222 closed

[2020-10-08 15:25] daniel-garcia commented on #2173
@artursouza @amanbha @yaron2  Can someone from dapr team comment and triage this? Our team at Infoblox would can work on pull requests to get this into dapr.

[2020-10-08 16:50] stephaneey opened #2225 "Dapr integration with APIM not working"
## In what area(s)?

/area runtime

## What version of Dapr?
0.10.0

## Expected Behavior

Configured the following APIM policy:
[code]
targeting the following component:

[code]
both self-hosted gateway and the component are in the same K8s namespace. The same component works with a dapr-enabled busybox, excluding any config issue at Dapr level.

A call to:

[code]
should push a message to the ta

[2020-10-08 18:18] youngbupark commented on #2225
cc/ @mchmarny

[2020-10-08 18:43] yaron2 commented on #2173
Hey @daniel-garcia, thanks for opening this issue. Also the willingness to work on Dapr is much appreciated.

Dapr considers pub/sub to be an asynchronous mechanism, where publishers can send messages to consumer who might not be running and guarantee at-least-once delivery. This is inline with how popular message buses such as Kafka, NATS Streaming, AWS SQS, Azure Service Bus and others operate.

[2020-10-08 18:44] youngbupark commented on #2221
Update: in http->grpc scenario, dapr copies entire headers from http request to grpc metadata. http 1.1 protocol specific header are added with dapr- prefix and some of them are bypassed. `connection` and `content-length` are bypassed to grpc, but both are prohibited to use in http 2.0.  The current gRPC implementation is actually grpc over http 2.0. Only Kestrel server is the only server to do st

[2020-10-08 18:48] mchmarny commented on #2225
Does any other API (Dapr or not) on that self-hosted gateway work?
Also, the log you included in this issue, is that from the daprd container on the self-hosted gateway itself?

[code]
If you remove APIM out of the equation and forward local port to the Dapr sidecar itself, does the publish work then?

[2020-10-08 19:15] yaron2 commented on #1893
@skyao and @h2floh, we should either use the k8s parser in `daprd` or, better yet, find a way to change the Component schema from map[string]string to map[string]interface{} which would allow the flexibility of the self-hosted parser.

[2020-10-08 20:40] daniel-garcia commented on #2173
@yaron2 ,

Thanks for the reply. That synchronous RPC is a different pattern than what we require. In that case, the application receiving the call needs to be directly reachable by the calling application. In many cases (and in our case specifically), the calling application and the target application can both call to the broker but can't call each other. Imagine the caller is bending a NAT gatew

[2020-10-08 20:48] yaron2 commented on #2173
Thanks for explaining the scenario, I understand what you're trying to achieve now.
Dapr Bindings have a bi-directional capability in which you can invoke a binding and receive a response back.

I think extending existing bindings (for example, Kafka) with this additional functionality is a better way to go than Pub/Sub which is designed to be asynchronous.

[2020-10-08 21:12] artursouza commented on #974
This issue still exists today and should be addressed prior to 1.0. It causes the data to be read to be different from what is written. The SDK sends it as part of a payload in a JSON request but is returned "JSONnized" data back.

Reproduced in https://github.com/artursouza/dapr-issues/tree/master/dapr/974

This is how the data is persisted in Redis:
[code]

[2020-10-08 21:21] yaron2 commented on #974
Are string quoted when saving with gRPC also?

[2020-10-08 21:25] yaron2 commented on #1339
Hey @rdiaz82, I prefer option 1 for simplicity and maintainability.

Option 3 carries too much overhead.

What are the benefits of option 2 over option 1 in your eyes?

[2020-10-08 21:34] daniel-garcia commented on #2173
I think we are still missing each other on what the desired behavior is or maybe I'm misunderstanding how bindings work. Perhaps some pseudocode will help. How can I achieve the equivalent of the code below using bindings?

[code]

[2020-10-08 22:29] jkotalik commented on #2221
FYI @tratcher @jamesnk @halter73

[2020-10-08 22:31] wcs1only opened #2226 "[Unit Tests] Test improvement Effort"
## In what area(s)?

/area test-and-release

## Describe the feature

We've settled on a strategy for test improvement:
1. Make sure our repos have test coverage reporting.
1. Add PR gating to ensure that our test coverage does not regress.
1. Rather than just pick a number, we're going to audit our current unit test coverage and identify high value gaps.

https://codecov.io/gh/dapr/dapr/tree/d6d6

[2020-10-08 22:31] Tratcher commented on #2221
@rynowak and I were talking about this earlier. There's no indication of a problem in Kestrel, it seems to be a dapr/gRPC client issue.

[2020-10-08 22:33] yaron2 commented on #2226
As a maintainer of this repo, I am not aware of any such coverage goals. Where is this documented?

[2020-10-08 22:38] wcs1only commented on #2226
This figure was cited in a recent planning discussion. I will see if I can track down where it came from.

[2020-10-08 22:40] yaron2 commented on #2226
Thanks for responding quickly. My ask is that you remove the 80% goal, leave it TBD as this needs to be discussed between maintainers and approvers.

This issue can serve as a discussion for this.

[2020-10-08 22:41] wcs1only commented on #2226
Fair enough.

[2020-10-08 23:10] wcs1only opened #2227 "Release automation"
## In what area(s)?

/area test-and-release

## Describe the feature

Release Automation Goals
1. Any operator should be able to drive a release
1. The actual production of the release should not contain manual steps or validation.

## Release Note

RELEASE NOTE:

[2020-10-08 23:40] #2221 closed

[2020-10-09 00:18] yaron2 commented on #1893
@youngbupark and @msfussell, I put `P1` on this. If you believe this is not a `P1`, we can change.

[2020-10-09 03:10] moluzhui commented on #2135
I want to use the MQTT **retain** keyword to store some information on the Broker.
I want to be able to remove the retain when the client disconnects through the **will_set** feature so that it doesn't interfere with subsequent functions

[2020-10-09 04:48] msfussell commented on #843
@artursouza - Can we close this issue now separate ones have been created?

[2020-10-09 05:12] #2202 closed

[2020-10-09 06:04] stephaneey commented on #2225
@mchmarny  @youngbupark sorry guys my bad, found the culprit: the gateway image is not the default one but 1.1.0-preview-8. I would have expected the normal one to crash when it does not recognize policies, but it just ignores it. So, problem fixed, it was because of the wrong gateway image.

Thanks

[2020-10-09 06:04] #2225 closed

[2020-10-09 10:17] #1169 closed

[2020-10-09 10:41] mukundansundar opened #2232 "Remove deprecated daprd flags"
## In what area(s)?
Remove deprecated daprd flags

/area runtime

## Describe the proposal

Flags that have been deprecated like
placement-address --- replaced by placement-host-address
max-concurrency --- replaced by app-max-concurrency
protocol --- replaced by app-protocol

should be removed.

https://github.com/dapr/dapr/blob/master/pkg/runtime/cli.go#L47

[2020-10-09 16:36] daniel-garcia commented on #2173
I took a deeper look at bindings and I think I have a better understanding. To do this with bindings I would implement an output binging that receives messages from app A. These messages would get routed to the appropriate queue that app B could read either via pubsub or an input binding. App B then sends a response either via an output binding or pub/sub.  Then output binding on App A could be li

[2020-10-09 16:55] yaron2 commented on #2173
Sounds good. Feel free to ping me privately on our gitter channel if you need help.

[2020-10-09 17:31] #1893 closed

[2020-10-09 18:44] philliphoff commented on #1414
@clintsinger For issue (1) above (certain naming patterns do not work), could you show a sample Docker Compose YAML?  I tried replicating that scenario, but I'm not seeing any issues.

@msfussell For issue (2) above, I've come across this scenario as well with the VS Code Dapr extension, where I'd prefer to just "reset" the `daprd` instance rather than completely restart it, with `daprd` automatic

[2020-10-09 20:14] msfussell commented on #1006
Closed by PRs from v0.6.0 onwards

[2020-10-09 20:14] #1006 closed

[2020-10-09 20:21] msfussell commented on #1186
The scenario here is to discover the list of services running across multiple machines

[2020-10-09 20:25] msfussell commented on #1229
This will become a benchmark blog post.

[2020-10-09 20:27] msfussell commented on #1246
Closing and willing to revisit in the future based on feedback and demand

[2020-10-09 20:27] #1246 closed

[2020-10-09 20:28] msfussell commented on #1268
Done

[2020-10-09 20:28] #1268 closed

[2020-10-09 20:32] msfussell commented on #1350
OPA has been included as a middleware component in the V0.11.0 release

[2020-10-09 20:32] #1350 closed

[2020-10-09 20:37] RichiCoder1 commented on #1350
@msfussell Worth keeping this issue open? This is talking about a different kind of Policy than the HTTP AuthZ Middleware covers

[2020-10-09 20:37] msfussell commented on #1420
@benc-uk - Can you test this again with v0.11.2 release? Thanks

[2020-10-09 20:39] msfussell commented on #1479
Ask this on Gitter.

[2020-10-09 20:39] #1479 closed

[2020-10-09 20:40] #1530 closed

[2020-10-09 20:47] msfussell commented on #1554
This is contributor documentation improvements

[2020-10-09 20:52] msfussell commented on #1576
As we are removing dev container this is no longer needed

[2020-10-09 20:52] #1576 closed

[2020-10-09 20:57] msfussell commented on #1617
@jjcollinge - After having JWT and OPA middleware in Dapr, what is now the delta from this proposal?

[2020-10-09 21:02] msfussell commented on #1679
@jsacapdev - Do you have any more comments on this?

[2020-10-09 21:09] msfussell commented on #1883
Enable Dapr to be able to call applications that have https endpoint

[2020-10-09 23:41] youngbupark commented on #2221
@dabedin @RadoslavGatev, fix is merged. You can try out with the edge version binary with the following instruction.

## self-host mode
1. download daprd binary - https://github.com/dapr/dapr/actions/runs/297942309
2. replace daprd binary in ~/.dapr/bin/ with downloaded one

## k8s mode
[code]

[2020-10-10 00:00] #2159 closed

[2020-10-10 04:56] RadoslavGatev commented on #2221
@youngbupark, it works like a charm. Thanks!

[2020-10-10 09:25] mukundansundar opened #2235 "PubSub fails delivery on 200 with empty JSON"
## In what area(s)?

/area runtime

## What version of Dapr?

master

## Expected Behavior

On a successful response from Subscriber HTTP 200, the pubsub message should be marked as consumed correctly and not redelivered.

## Actual Behavior

Even on a successful response, the message is not marked as consumed and it is being redelivered again and again on app restart.

## Steps to Reproduce the P

[2020-10-10 13:55] mukundansundar commented on #2235
@yaron2 @youngbupark @artursouza The line [here](https://github.com/dapr/dapr/blob/master/pkg/runtime/runtime.go#L1113) needs to change.
On a successful consumption of event, even in the scenario that the non-empty response does not contain a status field, it should not fail.

[2020-10-10 15:16] yaron2 commented on #2235
To be clear, this only happens if the subscriber returns a response object that Dapr does not expect.

If the subscriber returns an empty body and a 200 OK response, the message is marked as successfully processed and is not redelivered.

[2020-10-10 15:25] benc-uk commented on #1420
Just installed 0.11.2 in my cluster
Repeated my test

Same result :(

Go apps still exhibit this 500 error from the Dapr HTTP service call layer when stopping & starting pods, followed by a few seconds of connection refused. Node apps carry on with zero downtime

[2020-10-11 01:38] #2138 closed

[2020-10-11 08:30] mukundansundar commented on #2079
With the addition of RELEASE NOTES to Issues, are we still planning to include `CHANGES.md`?

[2020-10-12 13:03] skyao commented on #2138
@youngbupark @yaron2  Sorry to do the whole PR laste, since in the last two weeks, we have a long long holiday in China.

I have submitted a new PR to add state checking for bulk get and delete.

https://github.com/dapr/dapr/pull/2238

[2020-10-12 14:35] skyao commented on #2101
I have tried to upgrade grpc-go version from v1.26.0 to v1.32.0:

[code]

It was blocked by the etcd, I have just checked the lastet etcd release and the code of etcd master branch, there is no fix for the removed naming package.

It seems that we have to wait for etcd to fix this problem, or, as you said, "unregister the state store implementation from daprd until this is resolved".

[2020-10-12 15:15] skyao commented on #2101
I also tried to delete the etcd usage from dapr, just one place: etcd for state. And only two files:

[code]

After I deleted these two files , I found this:

[code]
I have to update the version of google.golang.org/api to the latest version of v0.32.0 (which use grpc-go 1.31). Then in dapr/dpar project:

[code]

Still trying to find out why this happened.

[2020-10-12 17:01] tcnghia commented on #1080
Thanks @msfussell . I'm syncing with @youngbupark today about the work needed for this item.

[2020-10-12 17:02] #1809 closed

[2020-10-12 17:10] youngbupark commented on #2235
Yes, not matter what message body is returned, it shouldn't be redelivered.

[2020-10-12 17:16] youngbupark commented on #2235
Can you double-check it using your own code instead of using e2e test app?

[2020-10-12 17:28] mukundansundar commented on #2235
I checked it with a quick modification to the quickstart for pubsub. I was able to reproduce the issue where in if the subscriber application sends out an empty body with 200 response, there is no redelivery of message. But if the application sends out a response with a JSON body that does not contain the key value pair `{"status":"SUCCESS"}`, then the message is failed regardless of the 200 respo

[2020-10-12 17:57] artursouza commented on #2235
Returning 200 with a valid JSON but without "status" success returns an error: https://github.com/dapr/dapr/blob/7a4f5df73f89df141a1bbaa0b099f4996f75c631/pkg/runtime/runtime.go#L1113

I feel that this behavior should be changed since we consider success an invalid JSON response:
https://github.com/dapr/dapr/blob/7a4f5df73f89df141a1bbaa0b099f4996f75c631/pkg/runtime/runtime.go#L1099

[2020-10-12 17:58] artursouza commented on #2235
Empty status should be considered success while anything else is a retry (error).

[2020-10-12 18:20] artursouza commented on #2235
Status | Payload | Expectation
-|-|-
200 | Empty | Success
200 | {} | Success
200 | Invalid JSON | Success with warning logged
200 | { "status": "" } | Success
200 | { "status": "invalid" } | Error to be retried

[2020-10-12 18:55] yaron2 opened #2242 "Placement needs a configurable healthz port"
Currently, the healthz port for the placement service is always `8080` with no configurable option to set the port.
This can cause the placement service to throw an error when running on a machine where port `8080` is taken.

First reported by @samcov [here](https://github.com/dapr/docs/issues/857).

~The error does not prevent from the Placement Service to function normally.~

[2020-10-12 20:06] artursouza opened #2243 "Validate CosmosDB state store for Actor"
## In what area(s)?

 /area runtime

## What version of Dapr?

0.10

## Expected Behavior

CosmosDB can be used to save state in Actord

## Actual Behavior

Example from Java SDK did not work when switched to CosmosDB

## Steps to Reproduce the Problem

Use Actor's example from Java SDK
Configure statestore to use CosmosDB

## Release Note

RELEASE NOTE:

[2020-10-12 20:23] yaron2 commented on #2242
Update: we `log.Fatal` for failing to start the healthz server which exists the process, which makes the placement service exit if a healthz port is already used.

[2020-10-12 21:18] yaron2 commented on #2243
@KaiWalter, are you using Dapr and CosmosDB for actors? did you notice any issues with  Dapr => v0.10?

[2020-10-12 22:27] wcs1only opened #2245 "E2E test failures in HA mode."
## In what area(s)?

/area test-and-release

## What version of Dapr?

## Expected Behavior

## Actual Behavior

E2E tests are failing with

[code]

It appears that since enabling HA mode, we're deploying enough control plane nodes that the scheduler chooses to ignore the preferredDuringSchedulingIgnoredDuringExecution affinity.

## Steps to Reproduce the Problem

Tests have been failing for 3 day

[2020-10-12 22:29] #2068 closed

[2020-10-12 23:46] #2242 closed

[2020-10-13 04:43] KaiWalter commented on #2243
@yaron2 we noticed no regressions - neither 0.10 nor 0.11 - and we're running our tests really regularly

[2020-10-13 18:15] cmendible opened #2246 "cloudkms secret store is not registered in daprd"
While working on https://github.com/dapr/components-contrib/pull/310 I noticed that cloudkms is not registered in daprd

## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior

cloudkms secret stores should be regsitered in daprd

## Actual Behavior

cloudkms secret store is not registered here: https://github.com/dapr/dapr/blob/e0415372f6b3bf110a0567842ece7b439cfeb987/

[2020-10-13 18:17] yaron2 commented on #2246
This store should be removed entirely.

[2020-10-13 18:19] cmendible commented on #2246
@yaron2 is there an issue for that? I can submit a PR! It is the only store I need to change to finish: https://github.com/dapr/components-contrib/pull/310

[2020-10-13 18:24] yaron2 commented on #2246
Please submit a PR that removes it from component-contrib, that'd be great.

[2020-10-13 18:25] yaron2 commented on #2246
@cmendible can you please comment on this issue https://github.com/dapr/components-contrib/issues/495 so I can assign it to you? thanks

[2020-10-13 21:49] #2245 closed

[2020-10-14 00:20] artursouza commented on #974
This is for actors, it is over HTTP only.

[2020-10-14 00:26] yaron2 commented on #974
I fear this is not only for actors though.

[2020-10-14 00:40] youngbupark commented on #974
I think we fixed this issue in 0.11.0. Transactional api no longer use SET. If you use `GET` or `MGET` to see the data, the data would be the old data. Can you please try with HGETALL or Hxx command?

@mukundansundar didn't you validate this last time?

[2020-10-14 00:44] mukundansundar commented on #974
@youngbupark The change was done by @tcnghia and validation unit tests were added. Though I do not know if it was locally viewed via the Redis console.

[2020-10-14 00:46] yaron2 commented on #974
I was talking about the non transactional API..

[2020-10-14 00:47] youngbupark commented on #974
non transaction state api is fixed by @mukundansundar

[2020-10-14 00:51] mukundansundar commented on #974
I worked on the transaction state api only. https://github.com/dapr/dapr/commit/afbe726a56a3f165d8a86681ae9e1f608047a7a9

[2020-10-14 01:04] youngbupark commented on #974
In sum,

* transactional api serialization issue (actor state, non-actor transactional api) was fixed by [this pr](https://github.com/dapr/components-contrib/commit/d2ee3200cdf585d0bd67f89250512013b7fd9938#diff-8d6dfcfc7936e603c26a2ae1a53c245f16cbdf7bf44dabc35c240fa5d1edf93f) and [this pr](https://github.com/dapr/dapr/commit/afbe726a56a3f165d8a86681ae9e1f608047a7a9)
* transactional api has used HS

[2020-10-14 02:47] youngbupark commented on #974
@mukundansundar and I ran some test with python actor sdk and java actor-sdk.

**Dapr runtime doesn't add double-quotation to the string data**, but python-sdk adds double-quotation because python json serializer serializes `teststr` to `"teststr"` based on the [json spec](https://www.json.org/json-en.html).

Technically, if user calls save state api to save single string state via http api, user

[2020-10-14 04:34] mukundansundar commented on #1808
The tests are flaky because of multiple delivery of messages.
https://github.com/dapr/dapr/runs/1251132133?check_suite_focus=true#step:19:332 redelivery because of error fails, but redelivery because of retry succeeds.

Previous run both cases for both linux and windows succeeds. https://github.com/dapr/dapr/runs/1250859908?check_suite_focus=true#step:19:245

[2020-10-14 05:28] youngbupark commented on #974
This is wrong. Sorry for the confusion @artursouza

I debugged the runtime code to double-check the value. sdk doesn't add double-quotation. redis state component json-serializes string value. This component saves data which is json-serialized. it bypassed only bytes array without any serialization.

gRPC API uses only bytes array as a value. redis component will save it as is without any serializ

[2020-10-14 07:00] youngbupark commented on #663
## Overview of placement service

Placement service acts as membership service of actor service instances and partitioning service for actors. When Dapr runtime starts, it connects to placement service gRPC server and keep this connection in its entire life-cycle in order to synchronize the local actor partition table in Dapr runtime sidecar. Dapr runtime piggybacks to placement service by reporti

[2020-10-14 08:52] beiwei30 opened #2250 "typo in pkg/metrics/exporter.go"
## In what area(s)?

/area runtime

## What version of Dapr?

v0.11.0-rc.2-93-gf4f48153

## Expected Behavior

There are two typos of 'initialized'.

## Actual Behavior

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2020-10-14 13:27] yaron2 commented on #2250
Closed with #2251

[2020-10-14 13:27] #2250 closed

[2020-10-14 14:32] skyao commented on #2101
@yaron2  I'm trying to update etcd to use new grpc version (v1.32.0), there are so many breaking changes in name resolver and loadbalancer ......

[2020-10-14 14:35] yaron2 commented on #2101
We will most likely remove etcd then.

[2020-10-14 14:53] skyao commented on #2101
Ok, we can do both of them: remove etcd to let dapr go; update etcd so later we can get etcd back.

[2020-10-14 15:29] beiwei30 opened #2252 "typo in pkg/runtime/runtime.go"
## In what area(s)?

/area runtime

## What version of Dapr?

v0.11.0-rc.2-93-gd6a77844

## Expected Behavior

typos for

[code]

## Actual Behavior

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2020-10-14 17:41] tcnghia opened #2255 "[E2E Scenario Tests] Upgrade/Downgrade testing"
## In what area(s)?

/area runtime
/area operator
/area placement
/area test-and-release

## Describe the feature

We want to ensure that upgrades are safe for users, i.e. having no accidental breaking changes. Also, in the [should be] rare cases that a bad upgrade happens, we want to ensure that users can safely downgrade to a previous version. At a minimum, this would translate to data format co

[2020-10-14 18:19] tcnghia opened #2256 "Test downstream compatibility from upstream repos"
## In what area(s)?

/area test-and-release

## Describe the feature

Changes in an upstream repo may cause the build to break in a downstream repo (for example `dapr/components-contrib` -> `dapr/dapr`).

If the downstream repo updates their dependency frequently this can be detected early. However, if we add a simple workflow to trigger a downstream build+unit test at HEAD of the downstream repos

[2020-10-14 19:06] tcnghia opened #2257 "Support cluster suffix other than `.cluster.local`"
## In what area(s)?

/area runtime
/area operator
/area placement

## Describe the feature

While most managed K8s clusters (GKE, AKS) use the `.cluster.local` DNS suffix, not all K8s clusters have that. There are a few places in our code that hard code such value (for example https://github.com/dapr/dapr/blob/7ddf957a1ae42ad83197aaca4d6ee287955442e4/pkg/grpc/grpc.go#L96 ), as well as the Helm cha

[2020-10-14 20:48] yaron2 commented on #2101
@youngbupark and @msfussell we need a consensus here.

I vote for removing the etcd state store temporarily until they fix their issue so we can upgrade Dapr's gRPC version and enjoy the features, bug fixes and performance improvements of newer versions.

[2020-10-14 20:55] youngbupark commented on #2101
If no one uses etcd state store, I think I agree with removing it temporarily.

[2020-10-14 21:04] yaron2 commented on #2101
I'll ask on Gitter.

[2020-10-14 22:17] artursouza commented on #1688
Issue is component specific. This one is in RabbitMQ component.

[2020-10-14 23:24] artursouza commented on #974
After talking to Young Bu, it is clear that this behavior is correct because redis is serializing into JSON consistently. In my example, the double quotation is expected because the string is serialized once and redis displays it with quotation. The object is also serialized once but redis (again) quotes in order to display.

Closing this issue.

[2020-10-14 23:24] #974 closed

[2020-10-14 23:28] youngbupark commented on #2257
@yaron2

[2020-10-15 00:44] msfussell opened #2535 "Consistency of API names surfaced by each SDK"
Currently there are API names that are not consistent with other SDKs. Its worth reviewing the differences

For example in
https://github.com/dapr/python-sdk/blob/master/dapr/clients/grpc/client.py
execute_transaction and ExecuteStateTransactionAsync in .NET
get_states and GetBulkStateAsync in .NET

[2020-10-15 02:21] #2252 closed

[2020-10-15 02:21] #2246 closed

[2020-10-15 03:39] artursouza opened #2259 "Check consistency in binding payload serialization across HTTP and gRPC"
Ensure consistent binding payload serialization across HTTP and gRPC

[2020-10-15 05:27] yaron2 opened #2260 "Make required the version field on Component YAML"
Beginning RC1.0 / 0.12.0, component YAMLs will require the currently unused version field.
This version field denotes the schema version of a component, (ie. pubsub.redis).

All components will be version with `v1` to start with. Once a new version of a component increments (ie. v2), a new code package v2 will be created for the component in components-contrib repo and registered in the dapr runti

[2020-10-15 07:53] skyao commented on #2101
@yaron2  I have finishd the code change for etcd update to grpc-go v1.32.0 version. The PR is submmited: https://github.com/etcd-io/etcd/pull/12398

But I don't think it will be merged and release new grpc versio in short time. Should we still try to remove etcd temporarily?

[2020-10-15 13:48] skyao commented on #2101
@yaron2 To be safety, I will remove etcd state store from dapr and component-contrib first. And laster after these PR merged I will continue to upgrade grpc version.

[2020-10-15 15:52] skyao commented on #2101
@yaron2  to update grpc to new version v1.32.0, there are many work todo , not only etcd. Let me list all of them:

1. etcd

      As discussed above.

2. google.golang.org/api

     Resolved after upgrade to the latest version of v0.32.0 (which use grpc-go 1.31)

3. gopkg.in/couchbaselabs/gocbconnstr

     Something very interesting for this, in fact I don't have any change to couchbaselabs. But

[2020-10-15 16:08] yaron2 commented on #2101
This is ok.

Correct, the Type field has changed. Feel free to make the required changes to `ErrorInfo`.

/cc @youngbupark

[2020-10-15 16:19] youngbupark commented on #2101
yes please upgrade the latest version of `google.golang.org/genproto` and change the code accordingly.

[2020-10-15 16:33] aktxyz commented on #2113
another thought on this ... ideally it would be great to ...

- retrieve to complete list of registered actors
- be able to retrieve the list of actors registered by the call the calling app (likely a subset)

[2020-10-15 16:37] wcs1only opened #2262 "[Unit Tests] Runtime: Gate PRs on unit test coverage"
## In what area(s)?

/area test-and-release

## Describe the feature

Enable PR gating on unit test coverage to ensure we do not regress on test coverage. For now the agreed upon rule is that no PR should reduce the test coverage. We may expand these rules later.

Part of #2226
## Release Note

RELEASE NOTE: Added codecov rules to ensure that no PR reduces unit test coverage.

[2020-10-15 18:31] artursouza opened #2263 "Corrupt names for triggering timer and reminder"
## In what area(s)?

/area runtime

## What version of Dapr?

0.11

## Expected Behavior

Timers and reminders are triggered correctly.

## Actual Behavior

Runtime tries to trigger timers and reminders using a corrupted name.

## Steps to Reproduce the Problem

Create many actor instances and register timer, then look at the logs to see that eventually it triggers the wrong timer name.

## Releas

[2020-10-15 19:16] #1883 closed

[2020-10-15 20:50] tcnghia commented on #1080
I've also confirmed that Open Telemetry Collector was pushing correctly to App Insights correctly.

![Screenshot App Insight](https://user-images.githubusercontent.com/138266/96184421-528de100-0eed-11eb-99a6-7876b38bf8ba.png)

(red lines are error calls when state store wasn't set up correctly. other lines are for happy RPC calls)

[2020-10-15 20:53] #2070 closed

[2020-10-16 07:07] beiwei30 commented on #2163
@mukundansundar, I verified `v0.11.0-62-g8e718001` with the standalone mode. I confirmed that the behavior of metrics does honor the global configuration.

You may need to watch the logger output to check if

[code]

appears or not.

[2020-10-16 15:25] beiwei30 opened #2269 "issue 2268 follow up: add unit test for the negative scenarios"
## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior

Add unit test for the negative scenarios. This is a follow up for issue #2268

## Actual Behavior

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2020-10-16 16:41] wcs1only opened #2270 "[Unit Test] Runtime: Coverage Audit"
As part of dapr/dapr#2226 we need to perform a unit test coverage audit for this package. The purpose of this audit is to identify unit test coverage gaps that we would like to close ahead of v1.0.

Audit Guidelines:
1. We're not shooting for a particular coverage percentage, rather we're looking to add tests which deliver on ensuring correctness and reliability. We prefer efforts that deliver cov

[2020-10-16 16:42] halspang commented on #2163
There may also be some clarification required as to what qualifies as a runtime/system metric. Running the hello-world quickstart with metrics disabled, I can confirm that I don't see `enabled metrics http middleware`, but I do see these metrics come through:

[code]

In addition to what appear to be more system level metrics:

[code]

It's unclear to me whether the `_runtime_` metrics are system

[2020-10-16 16:55] mukundansundar commented on #2163
@shalabhms From the previous [comment](https://github.com/dapr/dapr/issues/2163#issuecomment-710201224) it is seen that runtime metrics is not disabled as [expected](https://github.com/dapr/dapr/issues/2163#issuecomment-702308526).
Is that a correct conclusion?

[2020-10-16 17:09] #2063 closed

[2020-10-16 18:27] XavierGeerinck commented on #843
Sorry for the late response, I've been in Turkey at the moment with low access to internet for family visit.

The solution I am now using is by switching it to queues (where it is supposed to be actually) and that did the trick in my use case. I have a blog post coming out soon :)

[2020-10-16 21:07] artursouza commented on #843
@msfussell  I agree. In this case, each feature is independent and is already being tracked separately.

[2020-10-16 21:07] #843 closed

[2020-10-16 21:46] yaron2 opened #2272 "Real error is hidden from users in case of RPC connection failure"
Dapr uses a `WithBlock()` gRPC option when establishing a connection to a remote sidecar. When gRPC is blocking and timeout passes, the Dial method will return a Context Exceeded error instead of the real underlying error, as transient connection errors are kept being retried when `WithBlock()` is present.

This prevents users from discovering the underlying cause of a failed RPC request.

[2020-10-16 22:19] #2272 closed

[2020-10-16 22:39] aronchick opened #2273 "Better error handling on PubSub receiving a legacy message."
/area runtime

## Describe the feature
If the message on a pubsub is not a cloudevent (for example, because it was created by a legacy service, not dapr), dapr subscriber fails and does not inform the consumer what the message body is.

## Release Note
RELEASE NOTE: **FIX** Fix the dapr runtime to handle non-json/non-cloud event formatted messages from PubSub.

RELEASE NOTE:

[2020-10-16 22:45] youngbupark commented on #2273
@mchmarny @yaron2 I know this is by-design because we're expecting that all message subscribed by Dapr is CE formatted message. seems like HTTP and gRPC behavior is different here. HTTP bypass the data to request body and gRPC returns error and print out the error message with Debug level.

Shouldn't we make both behavior consistent or can we wrap non-CE message which the different system/service

[2020-10-16 23:44] mukundansundar commented on #2067
@beiwei30 Thanks for picking this up. Assigning this issue to you.

[2020-10-16 23:48] mukundansundar commented on #2067
@beiwei30  Please comment `/assign @beiwei30` and assign yourself to the issue ...

[2020-10-17 19:24] aronchick opened #2275 "Subscribing to CloudEvent seems to fail on well formed JSON"
/area runtime

When submitting the following to Azure Service Bus:

[code]

Dapr pubsub shows the following error:
[code]

It _appears_ that dapr does not like that the value is an int (which is valid json).

## Release Note

RELEASE NOTE:

[2020-10-17 20:13] #2067 closed

[2020-10-19 02:47] beiwei30 commented on #1829
@mchmarny I believe 3bf0c0d46e6e40687b2dcb09a6f5a153b3af999b introduced by #2223 should address this issue too.

[2020-10-19 06:30] sirius1024 opened #2278 "Which is preferred in business data persistence scenarios? Dapr state stores or traditional database CRUD"
## In what area(s)?
/area docs
/area best practice

## Ask your question here
Which is preferred in business data persistence scenarios? Dapr state stores or traditional database CRUD?

[2020-10-19 07:49] dybxin opened #2281 "How to use declarative subscriptions consume topics"
## Ask your question here
in components file have two config yaml:
custom.yaml
[code]

rabbitmq.yaml
[code]

subscribe
[code]

run subscribe
[code]

publisher
[code]

run publisher
[code]
result:
i got `{"errorCode":"ERR_PUBSUB_NOT_FOUND","message":""}`

[2020-10-19 07:54] yaron2 commented on #2281
The publisher also needs a components path with the rabbitmq YAML

[2020-10-19 08:10] dybxin commented on #2281
@yaron2 thanks a lot, moreover,
1. use `Programmatic subscriptions` way , The publisher is not need a components path with the rabbitmq YAML?
2. in custom.yaml how to custom multi topic and router

[2020-10-19 16:50] wcs1only opened #2283 "E2E container logs missing for windows containers."
## In what area(s)?

/area test-and-release

## What version of Dapr?

## Expected Behavior

The test framework should dump logs to DAPR_CONTAINER_LOG_PATH for the CI/CD pipeline to pick up and publish as artifacts.

## Actual Behavior

Test framework is not correctly saving container logs to DAPR_CONTAINER_LOG_PATH on windows. Windows paths use '\\' instead of '/' which is getting parsed out.:
[c

[2020-10-19 16:56] youngbupark opened #2284 "Collect dapr control plane service logs during e2e test"
## In what area(s)?

/area test-and-release

## Describe the feature

Now we collect dapr runtime and application's logs. Some features, such as actor, interact with Dapr control plane services. If we can collect dapr control plane services whenever the test is done, it will be useful to investigate the problems.

## Release Note

RELEASE NOTE: **ADD** the feature to collect Dapr control plane ser

[2020-10-19 16:57] youngbupark commented on #2284
@wcs1only if we can collect logs from dapr control plane services, it would be helpful for the investigation.

[2020-10-19 17:08] youngbupark commented on #2275
Please look at [CE spec](https://github.com/cloudevents/spec/blob/v1.0/json-format.md#23-examples); spec said `SpecVersion` is string.

Thus, dapr use string type for `SpecVersion` - https://github.com/dapr/components-contrib/blob/f647d9eedbfd98ec8fb297d18cee9ceb3c332dc2/pubsub/envelope.go#L30

Please use the correct type for `SpecVersion` in your application.

[2020-10-19 17:53] artursouza opened #2299 "Load test actors with Java SDK"
## Describe the proposal

One app with an actor.
Each actor has a timer that prints a message every 10s.
Run with 4 app instances.
Activate 30k actors.

Expected behavior:
* No app instance is restarted.
* No sidecar instance is restarted.
* Memory consumption for app is << 2G (threshold TBD)
* Memory consumption for sidecar is << 1G (threshold TBD)

[2020-10-19 18:27] aktxyz commented on #2278
Like always ... it depends ... gotta love a non answer.

Personally, for most things, I am still using a crud/postgres DB as it tends to fit with my scenarios the best.

My guess is if you are coming from a mongodb/nosql world, the statestore may be more likable, but even then I think it likely you use your favorite nosql directly.

That said, I do use the statestore for storing per service config

[2020-10-19 18:31] #2262 closed

[2020-10-19 18:49] wcs1only commented on #2284
Agreed, should be easy to do too.

[2020-10-19 19:09] #1829 closed

[2020-10-19 19:16] youngbupark commented on #2275
@aronchick To me, this is not the bug on dapr side. Application needs to follow CE spec.

[2020-10-19 19:16] #2275 closed

[2020-10-19 19:35] aronchick commented on #2275
By that logic, it means that we don't support any applications that don't support the CE spec?

[2020-10-19 19:37] yaron2 commented on #2275
The Dapr Pub/Sub API is Cloud Events compliant. If the user sends any payload to the publish endpoint, Dapr will create it's own format compliant with CE 1.0 and put the data inside the envelope.

Alternatively, users send their own CE 1.0 payload and Dapr passes it as-is.

[2020-10-19 19:53] youngbupark commented on #2275
His publisher applications doesn't use Dapr. Instead, it publishes the message to service bus directly. What we can improve this experience, we can bypass message to user application if the message is not compliant with CE spec.

We have the separate discussion about this - https://github.com/dapr/dapr/issues/2273

@yaron2 please look at this issue - https://github.com/dapr/dapr/issues/2273

[2020-10-19 20:00] #2284 closed

[2020-10-19 20:01] aronchick commented on #2273
I'd like to propose that if the payload does not conform to the CE spec, it should just be passed through as is.

[2020-10-19 20:42] yaron2 commented on #2273
Just to be clear: today, if the payload does not conform to the CE spec, Dapr puts it in the .data field of a CE envelope and then sends it.

Do you mean that Dapr should not use CE at all?

[2020-10-19 20:43] #1808 closed

[2020-10-19 20:44] mchmarny commented on #2273
@aronchick By design, pub/sub is intended to be used for message passing between services. CE are used there to add context to the content and enable routing without parsing the message. For triggering your code using events from outside of the application you may want to consider binding, which do not wrap the original content into CE.

[2020-10-19 21:19] mukundansundar commented on #2235
fix invalid status.

[2020-10-19 21:24] youngbupark commented on #1080
Since OTEL spec has been changed. we need to rename annotation attribute keys. - https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/database.md#connection-level-attributes

![image](https://user-images.githubusercontent.com/11863108/96512992-343e2300-1216-11eb-9eb1-099e79276381.png)

We need to update attribute key name to be complian

[2020-10-19 21:30] tcnghia commented on #1080
Thanks @youngbupark . I will file a separate issues tracking the OpenTelemetry spec changes

[2020-10-19 21:41] tcnghia opened #2288 "OpenTelemetry exporter uses out-dated/wrong attribute keys"
## In what area(s)?

/area runtime

## What version of Dapr?

All versions up to 0.11

## Expected Behavior

OpenTelemetry exporter uses updated attribute keys.

## Actual Behavior

We observed in https://github.com/dapr/docs/pull/870 that Dapr uses attribute keys from older OpenTelemetry spec. Samples of a few mismatches:

* `db.type` is now `db.system`
* `db.url` is now `db.connection_string`
*

[2020-10-19 21:41] tcnghia commented on #2288
cc @youngbupark @yaron2

[2020-10-19 21:43] youngbupark commented on #2288
@msfussell @yaron2 I marked this issue as P1. we should fix it to use OTEL collector.

[2020-10-19 21:55] tcnghia commented on #1080
Actually, we shouldn't add a doc to replace LocalForwarder with OpenTelemetry collector if the latter is currently broken. @msfussell do you agree? In that case, I think we should block this until dapr/dapr#2288 is fixed.

[2020-10-20 01:22] sirius1024 commented on #2278
@aktxyz Truly. I realized that is a mistake when I committed this issue. I don't think I'll use statestore entirely even I was told to do that. I have to rethink things like transaction, rollback, associate queries...I'm just in the mood to use dapr...

[2020-10-20 01:22] #2278 closed

[2020-10-20 02:05] tcnghia commented on #2288
I'm working on fixing this to unblock #1080

[2020-10-20 02:08] skyao commented on #2101
@yaron2  @youngbupark

After 4 PRs and 6 problems found and fixed as above discussed, we finally finished this grpc version upgrade.

This issue can be closed now.

[2020-10-20 02:26] yaron2 commented on #2101
Indeed, and like I commented on the PR, that was amazing work on your part. The project and community are grateful.

[2020-10-20 02:26] #2101 closed

[2020-10-20 04:17] mukundansundar commented on #2235
Based on this comment https://github.com/dapr/dapr/issues/2235#issuecomment-707275482,
https://github.com/dapr/dapr/issues/2235#issuecomment-707264820 is invalid. The change
`return errors.Errorf("unknown status returned from app while processing pub/sub event %v: %v", cloudEvent.ID, appResponse.Status) ` should remain but empty status should be considered success. https://github.com/dapr/dapr/pul

[2020-10-20 05:41] #2235 closed

[2020-10-20 17:58] tcnghia commented on #2270
Since the tool still have quirks, I wonder if we can add a label like *covergage-manually-verified* to skip the CodeCov steps in the (hopefully) rare cases where good PRs may be marked as failed (red ❌)

[2020-10-20 23:32] artursouza commented on #2067
@beiwei30  Please, comment on this issue so it can be assigned to you.

[2020-10-20 23:40] artursouza commented on #1742
@beiwei30 Please, comment on this issue so it can be assigned to you.

[2020-10-21 07:08] #2288 closed

[2020-10-21 14:35] youngbupark commented on #2093
cc/ @yaron2 @artursouza

[2020-10-21 16:59] youngbupark commented on #2163
The current implementation is not adding middleware for http and grpc. I found that Dapr still emits appchannel metrics.

I made the fix to disable entire metrics by delaying metrics intiailization. in #2295

[2020-10-21 18:24] tcnghia opened #2296 "Use OpenTelemetry Collector for metrics"
## In what area(s)?

/area runtime

## Describe the feature
In https://github.com/dapr/dapr/issues/1080 we confirmed that span data can be handled well by OpenTelemetry Collector. May be we should consider using OTel Collector for metrics also, not just trace?

Business values:
- Otel Collector can push to many [backends](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/maste

[2020-10-21 18:25] tcnghia commented on #2296
I am not sure how this would fit in our v1.0 prioritization. @yaron2 @msfussell @youngbupark WDYT?

[2020-10-21 22:23] yaron2 opened #2297 "Require versions in APIs"
We want to enforce the principle of predictable behavior for users when running their apps and dealing with new components.

Today, we have the `.version` field on the `Component` CRD which is unused.

Proposal:

1. Make the `version` field required. if a component is loaded without a version, log an error in the dapr sidecar. any calls to that component should get _clear_ errors so that users kno

[2020-10-21 22:46] mchmarny commented on #2297
@yaron2 I propose we remove the RC1 qualifier form the title of this issue and reason over the proposal on the bases of its merits (user/operator value)

[2020-10-21 22:46] yaron2 commented on #2297
Makes sense, changed.

[2020-10-21 22:59] mchmarny commented on #2297
The points 1 & 2 from the proposal are just validations on the component with pretty clear expectations of the failure mode in runtime. The points 3 & 4 the one about including the component version in the REST/gRPC API, have pretty broad blast radius. Given that, would be worth maybe splitting these into two proposals?

[2020-10-22 01:59] MedAnd opened #2298 "Support & samples for GraphQL state stores"
## In what area(s)?

## Describe the feature
Support & samples for GraphQL. Currently the Dapr runtime supports various state stores (accessed via REST and gRPC) however many modern micro-service applications are adopting GraphQL.

An important design consideration, how would GraphQL work over gRPC?

## Related feature
https://github.com/dapr/dapr/issues/1339

[2020-10-22 08:04] jsacapdev commented on #1679
@msfussell no, nothing more from me

[2020-10-22 08:04] #1679 closed

[2020-10-22 12:30] Li-Yanzhi opened #2301 "Dapr sidecar will stop working when input binding message processing time is longer than 60 seconds"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

* Dapr sidecar should have a configuration to configure timeout for message processing time.
* When timeout occurs, Dapr should send back current message to external queue and then fetch a new message to continue processing.

## Actual Behavior

- When app is processing input binding message longer than 60 seconds,  dapr sidecar

[2020-10-22 16:26] mchmarny commented on #2297
The more I think about it the more ... if I am using Dapr API directly in  my app and I change the component from Redis to Kafka the very promise of Dapr of abstracting the developer from the implementation detail will be broken (even if I keep the component name the same the versions will be diff which means I'll need to change my app).

I think this approach could be "breaking" the basic promise

[2020-10-22 16:29] yaron2 commented on #2297
I agree. We need to get more eyes on this.

[2020-10-22 16:43] #2269 closed

[2020-10-22 16:47] youngbupark commented on #2301
This is because the 60s timeout of app channel. I think it makes sense to allows to set custom timeout. We may need to allow internal gRPC channel timeout to be configurable as well.

@yaron any thoughts?

cc/ @msfussell @yolember

[2020-10-22 16:54] youngbupark commented on #2296
To me, the size of the work would be *Small*, but the business impact is relatively big because it gives lots of flexibility to the user.

With this small change, user doesn't need to use only `prometheus` for metrics. they can use any types of telemetry backend , datadog, stackdriver, etc, even for metrics. It would be good to have it after RC1.

@msfussell @yaron2  any thought?

[2020-10-22 17:00] yaron2 commented on #2296
This should be consistent with tracing. As long as we have flexible options for both, I don't really mind when it goes in.

[2020-10-22 17:17] msfussell commented on #2297
+1. Yes, this needs review with the community to get feedback and illustrate that some of the flexibility of interchange components will be affected

[2020-10-22 18:55] youngbupark opened #2303 "Use Go 1.15.3 to build binary"
## In what area(s)?

## Describe the feature

Fix Go version to 1.15.3 to use the latest version instead of always getting the arbitrary patch version of Go.

## Release Note

RELEASE NOTE: **USE** Go 1.15.3 to build binary

[2020-10-22 19:12] #2303 closed

[2020-10-22 19:28] yaron2 commented on #2301
Actually this is a bug the way this behaves currently. The most immediate resolution is to remove the timeout. An app can take as long as it wants. In the future we can make this configurable, this intersects with custom retries which are post RC1.0. but for now, the timeout should be removed.

[2020-10-22 19:50] youngbupark opened #2306 "Race condition and unnecessary heap alloc in actor locking"
## In what area(s)?

## What version of Dapr?

master

## Problem

When multiple invocation requests comes, we use lock to meet turn-based concurrency per actor and set the busy flag and create busy channel. these busy flag and busy channel are used to check the busy state of actor and signal to drain actors.

Drain actor logic
https://github.com/dapr/dapr/blob/b8e8eecb5fbb042f1e1246396e021abe5520

[2020-10-22 19:52] youngbupark commented on #2306
@yaron2 @artursouza Please review this issue. If you think I misunderstand, please point it out. Otherwise, we should fix this in this milestone. I found this problem when I profile memory of dapr runtime. it busy channel creation allocates lots of memory. we need to improve this part as well.

[2020-10-22 21:01] #2301 closed

[2020-10-22 21:01] yaron2 commented on #2301
@Li-Yanzhi this is now fixed.

[2020-10-22 21:43] lynn-orrell opened #2308 "Enhance pub/sub cloud event handling to support existing messaging infrastructure"
Currently, Dapr is overly opinionated with regard to enforcing the publishing of messages conforming to the Cloud Event specification. While this is perfectly acceptable for applications that are only using Dapr to both publish and subscribe, it will break new integrations with existing, non-daprized applications. I'll use a simple json payload for a coffee order for this discussion.

[code]

Let'

[2020-10-22 21:43] tcnghia commented on #1857
Talked with @yaron2: the grpc core component living in dapr/dapr should stay there, so there isn't much that needs to be moved to component-contribs. @yaron2 Please correct me if my summary is incorrect.

If this is a pure refactoring effort, maybe the priority should be lowered to P2? E2E tests / unit tests / other stability improvements / important features should have a higher priority due to m

[2020-10-22 22:08] aronchick commented on #2273
@yaron2 today, Dapr fails (and delivers nothing) if the payload does not conform to CE.

@mchmarny i'm not sure that's a great solution - are we really saying unless a publisher uses CE, you will get nothing as a subscriber? That seems to leave off an enormous amount of legacy publishers.

[2020-10-22 22:42] alicejgibbons commented on #2308
+1 This will become a problem for users in brownfield messaging scenarios (most users) who want to use Dapr for pub/sub without updating their legacy subscriber code.