[2020-10-22 23:00] youngbupark opened #2310 "Release 0.11.3 Hotfix"
This is to release 0.11.3 hotfix to resolve memory leak and improve reliability of placement service connection.

* PR - https://github.com/dapr/dapr/pull/2307
* Release note - https://github.com/dapr/dapr/pull/2309

[2020-10-22 23:18] lukekim commented on #2297
I propose version is an optional query string parameter. I.e. `?version={version}`

It looks less elegant that in URL, however it achieves the ability to be opt-in. API calls as today would work (and use latest) and apps that need to pin to specific versions can do so explicitly in code.

[2020-10-22 23:53] artursouza commented on #2310
I approve this hotfix.

[2020-10-23 01:15] #2232 closed

[2020-10-23 04:11] youngbupark opened #2313 "Remove the warning: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated"
## In what area(s)?

## What version of Dapr?

master

## Expected Behavior

No package warning

[code]

## Actual Behavior

[code]

## Steps to Reproduce the Problem

Run daprd

## Release Note

RELEASE NOTE:

[2020-10-23 04:12] youngbupark commented on #2313
@yaron2 @skyao I think this is related to gRPC pkg upgrade.

[2020-10-23 06:09] wmeints commented on #1787
Is it okay if I pick this up as part of hacktoberfest? We're running a hackathon today at Info Support and we're looking to help a few open source projects by fixing issues.

[2020-10-23 06:12] yaron2 commented on #1787
Sure thing.

[2020-10-23 11:43] wmeints commented on #1787
Before writing my own test, I str by running the other performance tests. My run is stuck when calling `make test-perf-all`.
It looks like the test never reaches the ingress. Any tips on how I can get around this to continue working on this issue?

This is the log I'm getting:

[code]

[2020-10-23 14:30] yaron2 commented on #1787
Which k8s distro are you using?

[2020-10-23 15:28] wmeints commented on #1787
I'm using the kubernetes distro that comes with Docker desktop on Windows 10 WSL2.

[2020-10-23 16:40] yaron2 commented on #2313
This message appears because the native exporter in `contrib` is using `grpc-gateway` which is depending on this package.

Based on our changes to exporters, we can blanket remove all exporters, is that correct?

[2020-10-23 18:58] wcs1only opened #2315 "[Unit Tests] Runtime: Improve test coverage of HTTP API."
## In what area(s)?

 /area test-and-release

## Describe the feature

The pkg/http API has some pretty large gaps that could stand to be filled as part of our unit test improvement project #2270 #2226

https://codecov.io/gh/dapr/dapr/src/08e92db1ed28d02ede2eb513901df91267a90b4a/pkg/http/api.go

## Release Note

RELEASE NOTE: **ADD** Additional unit test coverage for HTTP API

[2020-10-23 19:21] wcs1only opened #2316 "State store API does not offer idempotent endpoints."
## In what area(s)?

/area runtime

## Describe the feature

Many HTTP frameworks base retry logic on whether or not an idempotent HTTP verb was used. Our state store operations are idempotent in practice, but we only use the non-idempotent HTTP verb POST. Adding support for PUT verb as well will allow some third party HTTP clients to exercise their built in retry logic.

## Release Note

RELEASE

[2020-10-23 20:34] yaron2 commented on #2297
I agree that an optional query string param would be the best choice here and allow for backward compatibility.
Lets take an example from how versioning is done with Azure's ARM API:

The URL for an API endpoint consists of a pattern that has an _optional_ `?apiVersion` query string parameter which allows the users to specify a version. when the query string parameter is not present, the latest ve

[2020-10-23 22:48] aronchick opened #2320 "'blank' etag is treated as "no etag""
/area runtime

## What version of Dapr?

0.8

When using the following write to state store (redis), if I set the value of `etag` to be '' (blank), dapr treats this as having no etag.

[code]

This is not ideal. If this was in a thread where multiple threads read a value that did not exist, and then all tried to write it simultaneously, every one but the first write should fail from an etag mismat

[2020-10-24 08:32] wmeints commented on #1787
@yaron2 Update: I've got the performance test running on the following configuration: Azure Virtual Machine with Ubuntu 18.04 and an AKS cluster with two nodes. The minikube installation is somewhat unstable on Linux VMs and really weird on my Windows box. So I figured that I might as well spin up an AKS cluster since I'm working in the cloud anyway.

[2020-10-25 16:54] mchmarny opened #2323 "Incorrect error codes on access to denied resources"
When trying to access resources (secrets, topic, app) to which the access has been explicitly denied, Dapr should return consistent error codes (e.g. 403). Like In Dapr v0.11.2, when trying to access secret that is not in the `allowedSecrets` on app that has `defaultAccess` set to `deny` in the configuration Dapr returns, as expected, `403 Forbidden`.

However, when trying to publish to a topic wh

[2020-10-25 20:18] cilerler opened #2324 "Design for non-related applications on Kubernetes"
What should be the design for multiple non-related applications on Kubernetes when both applications are using **dapr**?

Should I install the **dapr** helm chart per application to have a **dashboard**, **operator**, **placement**, **sentry**, and **sidecar-injector** per application? Or should I install it only once per cluster?

[2020-10-25 20:19] yaron2 commented on #2324
Dapr expects a single, per cluster installation.

[2020-10-25 20:20] cilerler commented on #2324
Thank you!

[2020-10-25 22:59] cilerler opened #2325 "Add resources by default"
As stated [here](https://github.com/dapr/docs/tree/master/howto/deploy-k8s-prod#cluster-capacity-requirements)

Deployment | CPU | Memory
-- | -- | --
Operator | Limit: 1, Request: 100m | Limit: 200Mi, Request: 20Mi
Sidecar Injector | Limit: 1, Request: 100m | Limit: 200Mi, Request: 20Mi
Sentry | Limit: 1, Request: 100m | Limit: 200Mi, Request: 20Mi
Placement | Limit: 1, Request: 250m | Limit: 500

[2020-10-26 15:08] youngbupark commented on #2323
Changing 500 to 403 statuscode makes sense for pubsub.  @yaron2  any thoughts ?

@vinayada1 Can you please double-check why it returns 500 instead of 403?

[code]

[2020-10-26 16:30] #2316 closed

[2020-10-26 16:44] aronchick commented on #2320
Ok, some additional details thanks to @youngbupark

Currently, Dapr treats inserts as "upserts" which create a the value if nothing exists (or no/blank etag is provided). So, in this case, where there is no etag on first request, later requests are treated as overwrites, which is not intuitive. Using pseudo-code:
[code]

[2020-10-26 16:48] aronchick commented on #2320
To be clear, the user's expectation (I believe) would be around 'optimistic concurrency':

[code]

This could be addressed via metadata settings - e.g. `concurrency_mode=ConcurrencyMode.optimistic`

https://azure.microsoft.com/en-us/blog/managing-concurrency-in-microsoft-azure-storage-2/

[2020-10-26 18:11] pzou19741 opened #2328 "Require KeyCloak oauth example"
## In what area(s)?

## Describe the feature

## Release Note

RELEASE NOTE:

[2020-10-26 23:15] #2310 closed

[2020-10-26 23:27] #2325 closed

[2020-10-27 02:59] skyao commented on #2313
It seems that this warning dues to the project "github.com/census-instrumentation/opencensus-proto/": this project is version v0.2.0 which release in March 2019 and no more release after this. And project "github.com/grpc-ecosystem/grpc-gateway" has moved so fast from 1.9.4 to 1.15.2 and 2.0.1:

[code]

[2020-10-27 08:16] dybxin opened #2333 "in local how to dynamic configuration flags."
## Ask your question here
current, in local, every application run use `dapr run --app-id publisher --app-port 3000 --dapr-http-port 3500  go run main.go ` command. is it allowed config ` --app-port ` `--dapr-http-port` or other params in yaml file, or flags in `init()` func.

[2020-10-27 09:15] a641545621 opened #2334 "kubernetes Dapr.Actors.DaprException: error finding address for actor type TestService with id abc"
k8s Deploy two services
The client cannot access the server

var data = new MyData()
            {
                PropertyA = "ValueA",
                PropertyB = "ValueB",
            };
            var actorId = new ActorId("abc");
            var proxy = ActorProxy.Create<ITest>(actorId, "TestService");
            Console.WriteLine("Making call using actor proxy to save data.");

[2020-10-27 16:58] wcs1only opened #2335 "Intermittent unit test failure in GRPC pubsub runtime test"
## In what area(s)?

 /area test-and-release

## What version of Dapr?

## Expected Behavior

Tests should pass.

## Actual Behavior

Tests fail intermittently:

https://github.com/dapr/dapr/pull/2331/checks?check_run_id=1315636953
https://github.com/dapr/dapr/runs/1316069014

Fails on both linux and darwin.

## Steps to Reproduce the Problem

Run a CI job a half a dozen times, and you should get

[2020-10-27 17:40] tcnghia opened #2337 "Move Trace exporters to Dapr core and add OpenTelemetry support"
## In what area(s)?

/area runtime
/area docs
/area test-and-release

## Proposal

In https://github.com/dapr/dapr/issues/1080 we updated documentation using Local Forwarder to OpenTelemetry Collector. That opens the possibility to rely solely on OpenTelemetry Collector for our trace extensions and avoid maintaining an extension point for the exporter components since OpenTelemetry Collector alrea

[2020-10-27 17:41] tcnghia commented on #2337
cc @yaron2 @msfussell @youngbupark can you please help review?  Thanks

[2020-10-27 18:44] mukundansundar commented on #2335
Another test fail .. .https://github.com/dapr/dapr/pull/2329/checks?check_run_id=1311138412

[2020-10-27 18:45] mukundansundar commented on #2335
@wcs1only I do not think there should be a release note for this ... The test was added only as part of this milestone ... There is a separate issue for that https://github.com/dapr/dapr/issues/2235

any thoughts?

[2020-10-27 18:47] #2335 closed

[2020-10-27 19:13] wcs1only commented on #2335
Valid point, I'll remove release note line.

[2020-10-27 20:18] msfussell commented on #2337
Very clear write up.

Re the "However, moving to OpenTelemetry Collector will require the installation of the OpenTelemetry Collector process (in self-hosted mode), or Pods (on Kubernetes). On Kubernetes, this moves the default installation from 5 Pods (dashboard, operator, placement, sentry, sidecar-injector) to 6 Pods. The gain in functionalities may justify this foot-print increase" - **I agree

[2020-10-27 20:25] wcs1only opened #2338 "API status code irregularities"
## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior

## Actual Behavior

| Endpoint | Doc link | Code Does| Docs Say | Notes | Tests Verify All Status Codes |
|----|----|----| ---- | ---- | ---- |
| ```POST/PUT /v1.0/state/<storename>``` | [State](https://docs.dapr.io/reference/api/state_api/) | | POST only|  State stores not configured gives 400 (should be 500?)| [x

[2020-10-27 21:11] youngbupark opened #2339 "memory increase by tracking actor id in metric"
## In what area(s)?

/area runtime

## What version of Dapr?

master

## Problem

Tracking actorid in pending actor calls consumes lots of memory if number of actors is incrased.

## Release Note

RELEASE NOTE: **FIX** memory leak in pending actor call metric.

[2020-10-27 21:12] #2339 closed

[2020-10-27 21:15] youngbupark opened #2340 "prevent unnecessary mem alloc in actor invocation"
## In what area(s)?

 /area runtime

## What version of Dapr?

master

## Overview

After profiling dapr runtime under high load invocation, we found unnecessary memory allocations:

* Do not alloc actor object per invocation: `newActor` will alloc unnecessary actor whenever actor is called.
[code]
New way will try to load first and allocate actors. But there is a chance to allocate multiple actor

[2020-10-27 21:15] #2340 closed

[2020-10-27 21:27] tcnghia commented on #2337
Thanks!

My understanding is that since Prometheus is a scraper, we don't need any Prometheus configuration on our side. Dapr sidecar exposes a port that speaks Prometheus and that's it (cc @yaron2 @youngbupark)

I think since they are sort of different model (Prometheus: pull, OpenTelemetry: push), so it may be a bit less unusual to have them both? (cc @youngbupark)

Since `daprd` will serve Prom

[2020-10-27 21:48] tcnghia commented on #2337
@msfussell I've put the work items into **v1.0-rc1** and **v1.0-rc2** parts. Since we have about 3 days left before code freeze for **v1.0-rc1** I didn't put a whole lot of items in there. Let me know if this split looks good to you.

[2020-10-27 21:55] youngbupark commented on #2337
The configuration for prometheus can be set by command flags now e.g. `-metrics-port`. I would keep these configuration as is. Prometheus is de facto metric backend. Most of CNCF projects use prometheus by default. If metric.enabled is true without opentelemetry, then prometheus will be an exporter for metric. it will not break the existing scenario.

To be clear, Prometheus is not a collector, bu

[2020-10-27 21:56] youngbupark commented on #2337
@tcnghia I think we need to think about how to handle control plane services' metrics.

[2020-10-27 22:46] tcnghia commented on #1080
This can be closed since we track the epic in #2337 now

[2020-10-27 23:39] tcnghia commented on #1080
@artursouza can you please replace this with #2337 in the milestone? thanks

[2020-10-28 00:02] mchmarny commented on #2323
#2338

[2020-10-28 06:07] #2306 closed

[2020-10-28 06:09] youngbupark commented on #2093
Closing with #2292, #2295, #2302, #2332

[2020-10-28 06:09] #2093 closed

[2020-10-28 16:42] youngbupark opened #2342 "Make service invocation great again"
## In what area(s)?

/area runtime

## Background

Daprized application can communicates with the other applications. Application exposes HTTP/1.1 and gRPC endpoints and calls HTTP/1.1 and gRPC service invocation API to interact with Dapr sidecar. Dapr service invocation exchanges data between caller and callee regardless of which protocol applications use.

1. Caller ---`HTTP`--> Dapr Sidecar --`

[2020-10-28 17:25] yaron2 commented on #2338
LGTM on this, except for: `App side API - Needs verification. It's weird that we expect 2XX on a retryable message failure. Should be 503 with Retry-After: header?`

It's not retryable in terms of the HTTP operation, a 2xx can return with a body payload that tells Dapr how to treat the pub/sub event (ack, nack, abandon).

As far as I'm concerned, @wcs1only you can begin working on a PR to address

[2020-10-28 17:41] yaron2 commented on #2342
+1, I support this design proposal.

Just to be clear, this will not affect users who use service invocation for HTTP to HTTP and gRPC to gRPC, correct?

[2020-10-28 17:43] youngbupark commented on #2342
No, no impact/change for non-cross protocol scnearios.

[2020-10-28 18:21] wcs1only commented on #2338
Ok, I removed that one.

[2020-10-28 18:28] mukundansundar commented on #2338
@wcs1only this is a breaking change correct since the status code is changing? Additionally corresponding changes need to be done in SDKs right?

[2020-10-28 19:24] wcs1only commented on #2338
Technically, if someone depended on the error codes for anything, then yes it is a breaking change. I'm really curious, do the APIs care about whether they got a 4xx or 5xx? I'll need to audit them as well.

[2020-10-28 19:54] rynowak opened #2343 "Make the expections for merging a PR clear :+1:"
The [contributing guidelines](https://github.com/dapr/dapr/blob/master/CONTRIBUTING.md#pull-requests) are lacking any guidance for what should happen after your PR is approved.

I'd expect to see clarified:

- Is the maintainer responsible for merging or are you?
- What steps should contributors take when their changes are out of date?

[2020-10-28 19:59] rynowak commented on #2343
I'll also mention that (at least on `dapr/dotnet-sdk`) all three options for merging a PR are available when your changes are up to date. We should probably limit this to whichever workflow we're standardizing on.

[2020-10-28 20:52] artursouza commented on #2342
LGTM

[2020-10-28 20:53] artursouza commented on #2342
No need to call out breaking change in the RELEASE NOTE, the script understands the "braking-change" label.

[2020-10-28 21:17] mchmarny commented on #2342
In general, this makes sense. The bit I'm somewhat concerned about is the potential for "silent errors" resulting from the use-case number 3, existing gRPC callers targeting app over HTTP.

If I understand this correctly, in cases when the callee side has been updated to include the proposed implementation, all calling apps invocations on the gRPC API against user code over on HTTP would succeed..

[2020-10-28 22:50] msfussell opened #2345 "v1.0 Milestone 2 Plan"
*Milestone Lead:* @wcs1only
*Milestone Buddy:*  @artursouza

## Deliverables for this milestone

* [ ] Release v1.0-rcX
* [ ] Addressed customer feedback from previous RC
* [ ] Review of SDKs complete
* [ ] Review CLI complete
* [ ] Long Running tests measured daily
* [ ] Performance and scalability tests numbers measured and published
* [ ] P1 bugs
* [ ] GTM plan activities complete

**Starts - 1

[2020-10-28 22:56] msfussell opened #2346 "v1.0 Milestone 3 Plan"
*Milestone Lead:*
*Milestone Buddy:*

## Deliverables for this milestone

* [ ] Release v1.0-rc3
* [ ] Component certification complete and GA components signed-off
* [ ] Versioning testing sign-off
* [ ]  E2E Scenario Testing complete
* [ ] Release processes automated
* [ ] CELA Sign off
* [ ] Support guidance complete
* [ ] All known breaking changes complete
* [ ]  Samples and Quickstarts compl

[2020-10-28 22:57] msfussell opened #2347 "v1.0 Milestone 4 Plan"
*Milestone Lead:*
*Milestone Buddy:*

## Deliverables for this milestone

* [ ] Release v1.0-rc4
* [ ] Addressed customer feedback from previous RC
* [ ] Documentation complete
* [ ] Samples and quickstarts complete
* [ ] "Getting Started" usability review complete
* [ ] GTM plan activities complete

**Starts - 9th Jan 2021**
**Endgame starts - 25th Jan 2021**
**Release date - 28th Jan 2021**

[2020-10-28 23:11] cbellee opened #2348 "Support Virtual Kubelet integration"
## In what area(s)?
/area operator

## What version of Dapr?
0.11.x

## Expected Behavior
Dapr sidecar container is successfully created when running on AKS Virtual Nodes.

## Actual Behavior
An error is received when trying to run Dapr on AKS Virtual Nodes (virtual kubelet). The virtual kubelet container returns the error `"failed to sync pod \"<namespace>/<pod-name>\" in the provider: unsupporte

[2020-10-29 00:22] msfussell opened #2350 "v1.0 Milestone 1 Plan"
*Milestone Lead:* @artursouza
*Milestone Buddy:*  @youngbupark

## Deliverables for this milestone

* [ ] Release v1.0-rc1
* [ ] Functional feature complete
* [ ] Customers start using the RC release to provide feedback
     * [ ] Zeiss given early v1.0-rc1 release
     * [ ] Bosch given early v1.0-rc1 release
     * [ ] Ignition Group early given v1.0-rc1 release
* [ ] GTM plan activities  comple

[2020-10-29 01:14] yaron2 opened #2352 "Enforce timeout on component processing"
If one component out of several is experiencing trouble on the `Init` stage and freezes, the sidecar will halt operations and freeze forever.

This can be fixed by introducing a small (5s) timeout on the `Init` stage, with an _optional_ new `metadata` field on the Component CRD to set an `initTimeout` duration.

[2020-10-29 01:14] yaron2 commented on #2352
Reported by @malotho

[2020-10-29 08:50] chivandikwa commented on #1242
If the decision is made that dapr will not handle redirects it would also be great to document this somewhere so users know this early on. I found out the hard way wondering why the /dapr/subscribe was not being called and eventually saw a 307 in the logs, would have been nice to know up front about https.

[2020-10-29 12:51] Liriel opened #2353 "sidecar-injector failed to get authentication uid from service account on Typhoon K8s distro"
## In what area(s)?

/area runtime

## What version of Dapr?

0.11.0

## Expected Behavior

`dapr init -k` should start all required components

## Actual Behavior

erverything starts except `dapr-sidecar-injector`

## Steps to Reproduce the Problem

    dapr init -k

wait a bit

    dapr status -k

returns

    NAME                   NAMESPACE    HEALTHY  STATUS                      REPLICAS  VER

[2020-10-29 14:20] cilerler commented on #2324
@yaron2, you said the expectation is a single Darp installation per cluster; however, it looks like you stated that `You can only have one pub sub component in your cluster` in https://github.com/dapr/dapr/issues/1276#issuecomment-600780059

Are you saying that DARP expects us to use the same component for all applications? Let's say App1 uses Rabbit for PubSub, and App2 _(which is a completely se

[2020-10-29 14:26] yaron2 commented on #2324
That's no longer true, you can now use multiple pub subs.

[2020-10-29 14:27] #2324 closed

[2020-10-29 15:41] youngbupark opened #2354 "apiextensions.k8s.io/v1beta1 has been deprecated"
## In what area(s)?

## Describe the feature

The beta API (apiextensions.k8s.io/v1beta1) has been deprecated. let's switch to apiextensions.k8s.io/v1.

https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/

## Release Note

RELEASE NOTE: **Switch** apiextensions.k8s.io/v1beta1 to apiextensions.k8s.io/v1

[2020-10-29 15:42] youngbupark commented on #2354
@yaron2 the beta api is deprecated. I think we should switch all k8s v1beta api to v1 in our codebase.

[2020-10-29 15:47] youngbupark opened #2355 "Generate CRD based via controller-gen"
## In what area(s)?

/area runtime

## Describe the feature

The current code-generate makefile target does not generate crd so that all markers in types.go are not applied to the actual [crd](https://github.com/dapr/dapr/tree/master/charts/dapr/crds).

adding the options to code-generate, it will generate crd based on markers in types.go under https://github.com/dapr/dapr/tree/master/pkg/apis

th

[2020-10-29 15:49] youngbupark commented on #2355
@yaron2 markers in types.go are not applied to our crd yaml. to use the markers, we need to generate crds via controller.gen as well, not a manual way.

[2020-10-29 16:04] yaron2 commented on #2354
Yes, we should move to `v1` wherever possible.

[2020-10-29 16:36] mchmarny commented on #2226
Updated the go-sdk badge in the above table as the go-sdk repo uses the new default branch naming (`main`).

[2020-10-29 17:16] mchmarny commented on #2226
Reviewed (dapr/go-sdk#92), implemented control points to ensure no PRs degrading the coverage are accepted.

[2020-10-29 18:54] youngbupark commented on #2342
Caller using gRPC API always gets gRPC Status `OK` unless there is transport related errors.

maybe you want to say `in the status code` instead of `in the header`. **Even if callee returns error (HTTP error code)**, caller must look at `dapr-http-status-code` header to decide whether caller returns error or not.

Therefore the convenient layer in SDK must see header and return the error object or

[2020-10-30 02:24] #2354 closed

[2020-10-30 03:11] #2334 closed

[2020-10-30 06:34] a641545621 opened #2357 "error finding address for actor type TestService with id abc"
version:0.11.0-preview02
Local
     no problem
k8s
   {
    "errorCode": "ERR_ACTOR_INVOKE_METHOD",
    "message": "error finding address for actor type TestService with id abc"
  }

![1](https://user-images.githubusercontent.com/33652128/97668385-ccf95c00-1abc-11eb-83c4-8a3bdec2ce2e.jpg)
![2](https://user-images.githubusercontent.com/33652128/97668409-db477800-1abc-11eb-9239-314173a1c780.jpg)

No

[2020-10-30 06:39] a641545621 commented on #2357
kubectl get po -n dapr-system -w
NAME                                    READY   STATUS    RESTARTS   AGE
dapr-dashboard-c6c4f79bb-4rvsr          1/1     Running   0          3h21m
dapr-operator-669bf96fb9-kjdx8          1/1     Running   1          3h21m
dapr-placement-5dcb574777-tzqxm         1/1     Running   1          3h21m
dapr-sentry-8598986d8b-qg87l            1/1     Running   0

[2020-10-30 09:13] a641545621 opened #2358 "How to specify actor state store?"
https://github.com/dapr/dapr/blob/master/docs/decision_records/api/API-008-multi-state-store-api-design.md
If user is using actors and like to persist the state then user must provide actorStateStore: true in the configuration yaml. If the attribute is not specified or multiple actor state stores are configured, Dapr runtime will log warning. The actor API to save the state will fail in both these

[2020-10-30 12:18] mchmarny opened #2359 "Potential tracing docs inconsistency"
Our app config docs/examples indicate that the way you turn tracing sample rate is using `samplingRate`

[code]

But our tracing docs/samples show more verbose config which does not include the `samplingRate`

[code]

Few questions after reviewing the tracing docs:

* Is the union of these two what's required?
* Is `enabled` to turn it on and `samplingRate` to set the rate?
* What are the defaults

[2020-10-30 14:00] jigargandhi commented on #2323
I can take this up if unassigned

[2020-10-30 15:48] #2163 closed

[2020-10-30 15:56] youngbupark commented on #2359
The sample doc must be updated. the config in samples is out-dated.

Also we will migrate trace config to opentelemetry collector config. please look at https://github.com/dapr/dapr/issues/2337

cc/ @tcnghia

[2020-10-30 16:41] yaron2 commented on #2359
There is no union, this spec is wrong and should be removed from docs:

[code]

[2020-10-30 19:06] #2355 closed

[2020-10-30 19:07] mukundansundar commented on #2355
Fixed with #2356

[2020-10-30 21:01] #2094 closed

[2020-10-30 22:31] #1742 closed

[2020-10-31 00:26] ssabih commented on #1080
Hi, i have followed the documentation on setting OpenTelemetry Collector and it works perfectly fine with the distributed application but i cant seem to have it work with any of my applications although i have all the required annotations included in my deployment yaml. how do i troubleshoot this ?

[2020-10-31 00:41] yaron2 commented on #1080
Can you paste your exporter yaml, the config yaml and the annotations for the app?

[2020-10-31 00:59] ssabih commented on #1080
@yaron2 here you go. In the open-telemetry-collector, i have purposely replaced the instrumentation_key with xxxx, thanks
**Collector Component**
`apiVersion: dapr.io/v1alpha1
kind: Configuration
metadata:
  name: appconfig
  namespace: default
spec:
  tracing:
    samplingRate: "1"
---
apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: native
  namespace: default
spec:
  type: exporte

[2020-10-31 14:45] Liriel commented on #2353
I looked at https://github.com/dapr/dapr/blob/master/pkg/injector/injector.go#L98c - looks like there is no `replicaset-controller` in my service account

    curl -s http://localhost:8001/api/v1/serviceaccounts|jq .items[].metadata.name

gives a short small list (compared to minikube)
[code]

[2020-11-01 10:21] andreatosato opened #2365 "dapr-operator (0.11.3) has error: Waiting (CrashLoopBackOff)"
# Area
 /area operator

## What version of Dapr?
0.11.3

## Expected Behavior
| NAME | NAMESPACE | HEALTHY | STATUS | REPLICAS | VERSION | AGE | CREATED
|---|---|---|---|---|---|---|---|
|dapr-operator | dapr-system | True |  | 1 | 0.11.3 | 2m | 2020-11-01 11:09.36 |

## Actual Behavior

| NAME | NAMESPACE | HEALTHY | STATUS | REPLICAS | VERSION | AGE | CREATED
|---|---|---|---|---|---|---|---|
 |

[2020-11-01 15:03] yaron2 commented on #2365
Can you please paste here the logs for the operator?

[2020-11-01 15:11] andreatosato commented on #2365
How can I find log?
In dashboard I can see It?

[2020-11-01 15:29] andreatosato commented on #2365
[code]

[2020-11-01 15:34] yaron2 commented on #2365
It looks like one or more of your components are malformed.

Can you paste here the Component YAMLs you deployed to the cluster?

[2020-11-01 15:41] andreatosato commented on #2365
This 3 files
https://github.com/andreatosato/dapr/tree/master/logicapps/deploy/workflow2

[2020-11-01 15:43] yaron2 commented on #2365
Put quotes around `false` in enableTLS for Redis and reapply the yaml. Then, delete the pod for the operator and wait for it to come back.

[2020-11-01 15:52] andreatosato commented on #2365
It works well

[2020-11-01 15:52] #2365 closed

[2020-11-01 19:06] wmeints commented on #1787
I'm unable to get things working on my machine. And sadly, I don't have a lot of time to spend on learning the intricate details required to make this work. I hope someone else is willing to pick this issue up.

[2020-11-02 12:11] qqeasonchen opened #2366 "Any plan to support other plugin service registry such as zookeeper/consul/nacos ?"
## In what area(s)?

 /area runtime

## Ask your question here

How to let Dapr connect to existing registry such as zookeeper/consul/nacos?  when to support?
Is k8s is the only choice in Porduction?
How to extend it?

[2020-11-02 12:18] qqeasonchen opened #2367 "Why dapr needs Actors?"
## In what area(s)?

/area runtime

## Ask your question here

Is Actors required when invoke service using http/gRPC? also need placement service, seems too complex

[2020-11-02 12:22] skyao opened #2368 "Review and improve bulk operations of state for a unified user experience"
### Background

In dapr state component, we provide get/save/delete operations and also bulkGet/bulkSave/bulkDelete operations.

### Problems

The styles of the APIs are not unified, I listed all of them in below table :

|   Operation          | Go-sdk           | Daprd service                              | Store Interface |
| ----------- | ---------------- | ------------------------------------

[2020-11-02 16:19] jjcollinge opened #2369 "Helm 3 new repo locations"
## In what area(s)?

 /area runtime

## What version of Dapr?
v0.11.0-130-g667d0b52-dirty

## Expected Behavior
Running `make setup-helm-init` should initialize the helm repos correctly.

## Actual Behavior
Running `make setup-helm-init`
[code]
## Steps to Reproduce the Problem
Run `make setup-helm-init`

## Fix
This issue is caused by the hardcoded urls in `dapr/dapr/tests/dapr_tests.mk`, line 13

[2020-11-02 17:08] aktxyz commented on #2113
Hi Folks ... wondering if there is a chance for this anytime soon ... before going off and working on some app level solution for this ... thanks !

[2020-11-02 17:57] wcs1only opened #2370 "E2E tests failing on docker push"
## In what area(s)?

/area test-and-release

## What version of Dapr?

## Actual Behavior

Occasionally, docker push is failing with error EOF:
https://github.com/dapr/dapr/runs/1339003530?check_suite_focus=true
https://github.com/dapr/dapr/runs/1338536899?check_suite_focus=true

Hypothetical causes:
* Truncated files due to out of disk space on github node?
* Some kind of transient networking pro

[2020-11-02 18:32] #2299 closed

[2020-11-02 20:39] #1811 closed

[2020-11-02 20:59] mchmarny opened #2371 "Better support for non-default namespace deployments on Kubernetes"
Today, during Helm installation, Dapr applies the necessary role and RBAC for reading secrets to the default namespace. This makes deploy Dapr apps to that namespace easy (`dapr.io/enabled: true` and good to go).

However, if the user wants to deploy into any other namespace, additional secret related configuration is required:

[code]

It would be great if Dapr implemented namespace watcher so th

[2020-11-02 23:32] youngbupark commented on #2370
I wonder if it is related to new pricing policy of dockerhub. (we purchased `Pro` now) we need to reach out to dockerhub team to investigate the problem.

[2020-11-03 01:20] mukundansundar commented on #1493
Myself and @youngbupark went through the code flow one more time and these are the conclusions from it.
The ask: Start API servers before app is fully initialized.

### Existing runtime init code flow
Enable tracing and metrics
Establish security
Block until app is ready
Create App Channel
Load App Configuration
Init Name Resolution
Register components
Process (and start)components
Init Direct Mes

[2020-11-03 01:22] yaron2 commented on #1493
LGTM.

@jigargandhi can you change the order as described above?

[2020-11-03 01:56] artursouza commented on #2323
@wcs1only  Please, check if the work on this issue is included in #2338, if so, close this.

[2020-11-03 02:54] youngbupark opened #2373 "Design and implement raft server and its state for placement"
## In what area(s)?

/area runtime

## Describe the feature

This is part of Epic #663

1. Add initial Raft Server implementation.
2. Add DaprHostMemberState State for Raft Finite State Machine.
   - cmd log will construct the list of Dapr runtime member hosts and treat this list as a state. FSM will snapshot this list
3. Consistent hashing table map will be built based on the list of Dapr runtime

[2020-11-03 02:55] youngbupark commented on #2373
This is to split EPIC #663

[2020-11-03 02:55] #2373 closed

[2020-11-03 02:59] youngbupark opened #2374 "Use raft state to maintain membership state and hashing table in placement"
## In what area(s)?

/area placement

## Describe the feature

This is the part of #663

This switches in-memory dapr runtime host membership and hashing table to the state maintained by Raft. All the missing unit-tests need to be added.

## Release Note

RELEASE NOTE: **USE** Raft state to maintain dapr runtime host state and hashing table

[2020-11-03 05:19] youngbupark opened #2375 "Enable placement client in runtime to connect the leader of placement"
## In what area(s)?

/area runtime

## Describe the feature

This is the part of #663

- [ ] Enable placement client to connect the leader of placement
- [ ] Runtime needs to disconnect placement stream connection gracefully when it gets SIGINT signal.
- [ ] Add missing unit-test

## Release Note

RELEASE NOTE: **Enable** placement client in runtime to connect the leader of placement

[2020-11-03 05:23] youngbupark opened #2376 "Update helm chart to install multiple placement replicas for HA mode"
## In what area(s)?

/area placement

## Describe the feature

This is the part of #663

- [ ] Update helm chart to install three placement pods and services for HA mode

## Release Note

RELEASE NOTE: **UPDATE** helm chart to install three placement replicas for HA mode.

[2020-11-03 05:25] youngbupark opened #2377 "Shutdown placement gracefully"
## In what area(s)?

/area placement

## Describe the feature

This is the part of #663

When placement gets SIGINT signal from os, it will shutdown gRPC/raft servers gracefully.

## Release Note

RELEASE NOTE: **ADD** graceful server shutdown for placement

[2020-11-03 06:24] wcs1only commented on #2370
Other possibility: we could ship a docker registry to the cluster and push directly to that, like we do for kind builds.

[2020-11-03 11:38] jigargandhi commented on #1493
sure, I will change the order as above and push a commit.

[2020-11-03 13:35] skyao commented on #2368
@yaron2 please help to review this issue. We are preparing to let our business teams to try dapr, if we would like to improve and change the apis, we need do this quickly. Thanks a lot.

[2020-11-03 14:28] jjcollinge opened #2379 "Pass pubsub subscription metadata to pubsub component"
/area runtime

## Describe the proposal
Currently we allow subscriptions to define metadata but we drop it in the runtime. We should pass this to the pubsub components as part of the `SubscribeRequest` and `PublishRequest` as this can be used in the components to light up additional functionality such as [Azure Service Bus Sessions](https://docs.microsoft.com/en-us/azure/service-bus-messaging/mess

[2020-11-03 16:23] techgeek03 opened #2381 "The documentation is missing information that CRD's need to be installed prior helm chart install"
The documentation page https://docs.dapr.io/getting-started/install-dapr/#install-with-helm-advanced  is missing information that the custom crds need to be installed prior attempting to install the helm chart.

I resolved this issue by running this commands

[code]

[2020-11-03 16:44] yaron2 commented on #2381
The CRDs are installed with the Helm Chart.. which version of Helm are you using?

[2020-11-03 17:44] #2374 closed

[2020-11-03 17:45] #2089 closed

[2020-11-03 17:56] techgeek03 commented on #2381
I used the lates version of the helm chart, just followed the documentation and it failed the first time I tried indicating that the configuration crd is missing.

[2020-11-03 17:58] yaron2 commented on #2381
Sorry I wasn't clear: which version of Helm itself (the binary, not the chart) are you using?

[2020-11-03 18:00] techgeek03 commented on #2381
Ah sorry I also did not read good :) it is Helm 3.3.4

[2020-11-03 19:16] tcnghia commented on #1080
@ssabih did you label `config=appconfig` similar to this https://github.com/dapr/quickstarts/blob/master/distributed-calculator/deploy/go-adder.yaml#L20 ?

[2020-11-03 21:18] #2315 closed

[2020-11-03 21:30] ssabih commented on #1080
@tcnghia , all the annotations are there and dapr gets injected as well , i have tried with multiple applications and i cant seem to have it work but with distributed calculator it works fine. Have you been able to make it work with any other application except distributed calculator ? My understanding is that no instrumentation of the code is required and with dapr+right annotations it should wor

[2020-11-03 22:55] yaron2 commented on #2368
hey @skyao, thanks for the detailed table comparison.

I think we should also look at the actual user facing APIs names for consistency.
Specifically, I wouldn't change GetBulkItems to GetStates. Instead, I'd opt to change to something like GetBulkState and SaveBulkState (and by extension, DeleteBulkState).

I don't think we need a BulkGet in the components interface just yet, as the bulk operatio

[2020-11-04 01:06] #2313 closed

[2020-11-04 08:46] qqeasonchen opened #2386 "Any plan to support gRPC middleware components?"
## In what area(s)?

 /area runtime

## Ask your question here
Any plan to support gRPC middleware components?

[2020-11-04 11:14] jjcollinge commented on #2379
Think we'll need to think about `SubscribeRequest` and `PublishRequest` separately. Adding metadata from the `subscription` is easy enough to the `SubscribeRequest`. However, the data in `PublishRequest` comes directly from the user API request so we'd need to come up with a method for extracting additional parameters from the HTTP/gRPC request and populating them as metadata on the `PublishReques

[2020-11-04 18:17] yaron2 opened #2387 "Improve troubleshooting and finding errors"
I'd like to raise a discussion here about how we can make users more successful in finding out different errors in the Dapr sidecar.

An example of this would be the sidecar restarting on Kubernetes due to a failed health check while timing out on component initialization due to a bad config.
In that case, the pod will have restarted and the error log never shown, making it a tedious guess work to

[2020-11-04 18:43] rynowak commented on #2387
This is a similar issue to one I reported here from the last hackathon: https://github.com/dapr/dapr/issues/1868

Some ideas about how to make misconfiguration visible ... these are all my opinions and so I'm looking for more discussion and fleshing out.

**Best**

- Add the concept of a health check for a component (State Store) in this case - this would not affect runtime behavior but would be i

[2020-11-04 19:00] artursouza commented on #1386
Proposed change in scope for this item:

The actor activation latency test case includes a load test tool that is injected as a second pod into a node containing Dapr and a Dotnet actor app in the other pod.

A configuration file for the test will include the following parameters:

1. qps
2. number of connections
3. mode (withTelemetry, withoutTelemetry)
4. pod resource constraints (memory, cpu)
5

[2020-11-04 19:02] yaron2 commented on #1386
LGTM.

We should show 99th percentile too.

[2020-11-04 19:50] yaron2 opened #2388 "Add gRPC method to register actor timers"
Adding a gRPC method to register actor timers will achieve the following:

1. Improve throughput when creating lots of timers, especially in cases where actors create a timer on activation.
2. Provide API consistency between HTTP and gRPC.

[2020-11-04 21:16] youngbupark commented on #1726
that message will not be shown unless user set log-level to debug. by #2385

[2020-11-04 21:16] #1726 closed

[2020-11-04 22:11] #2388 closed

[2020-11-04 22:23] tcnghia commented on #2387
+1 to what @rynowak proposes about surfacing Component Status. On K8s Status Subresource is a common way to do this. If we follow the same practice it will make integration with tooling easier (like `kubectl wait`, `kubectl get`, etc, other Status-aware UIs), as well as making things easier for consumers familiar with K8s.

The downside of Status Subresource is that there is a learning curve assoc

[2020-11-04 23:50] vinayada1 commented on #1759
Note: There is a perf test for this and the new e2e tests can look at that for implementation.

[2020-11-05 02:08] mukundansundar commented on #2388
@yaron2 Add release note

[2020-11-05 02:37] artursouza commented on #1386
Telemetry is an env configuration via Configuration CRD in K8s and not a per-run setup.

[2020-11-05 02:50] youngbupark opened #2391 "Shutdown servers and clean up resources gracefully"
## In what area(s)?

/area runtime

## Describe the feature

Dapr prints out the message that it would shut down all operations. but it does nothing. we need to shut down the servers gracefully and clean up the resources before shutting down.

https://github.com/dapr/dapr/blob/f681714cf2bf3d5ffb8ab43ae208ffac60ec3950/pkg/runtime/runtime.go#L1380

## Release Note

RELEASE NOTE: **Shutdown** servers

[2020-11-05 05:25] artursouza commented on #2243
I replayed the example from the Java SDK using cosmosdb and I got the following error:
[code]

The reminders to get persisted in the Collection but the actor state do not.

[2020-11-05 07:14] dybxin opened #2393 "how to create(register) actors?"
## Ask your question here

 how to create(register)  actors?

[2020-11-05 07:40] artursouza opened #2394 "v1.0.0 Milestone 1 End Game"
End game Lead: @artursouza
End game buddy: @wcs1only

This is the schedule for the v1.0.0 Milestone 1 release

11/9 11:59 PM PST code freeze for the release
11/10 Preview build date

- [x] Code freeze at 11:59 pm 11/9
- [x] No P0 issues before code freeze.
- [x] E2E and perf tests are passing.
- [x] Create release-1.0 branch for component-contrib
- [x] Cut 1.0.0-rc1 release for component-contrib
-

[2020-11-05 07:55] ssabih commented on #1080
I got it working finally, i was not using dapr service invocation and was assuming service mesh type functionality. Once i updated my code to use dapr service invocation, i can see Application map in application insights. @tcnghia , thanks for your help.

[2020-11-05 11:05] amolenk commented on #2168
Just found out there's a PR for this exact functionality over in the components-contrib repo: https://github.com/dapr/components-contrib/pull/310

[2020-11-05 16:18] youngbupark opened #2395 "Secure Placement raft RPC channel"
## In what area(s)?

/area runtime

## Describe the feature

This is to enable tls on rpc channel for placement raft node. This is the part of #663

## Release Note

RELEASE NOTE: **ENABLE** TLS on Raft RPC layer.

[2020-11-05 16:44] yaron2 commented on #2395
There's no sensitive info or user data in that path, so I don't think we need TLS enabled.

[2020-11-05 17:10] yaron2 opened #2397 "Add gRPC Unregister Actor Timer method"
To provide better throughput and have consistency with the HTTP API surface for actors, we need to add an unregister timer method for gRPC.

[2020-11-05 17:31] pattisapu01 opened #2399 "How do I call a REST method that accepts parameters from daprClient.InvokeMethodAsync()?"
## In what area(s)?
dapr - .net SDK

## Ask your question here
I need to call a "method" on a service via "InvokeMethodAsync()". This method accepts parameters. How do I pass the params to the InvokeMethodAsync() call?
sample method  signature in serviceB API
[code]

[2020-11-05 17:37] #2397 closed

[2020-11-05 17:55] tcnghia commented on #1080
@ssabih super glad to see it works for you now! thanks a lot for the confirmation.

[2020-11-05 18:13] cmendible commented on #2168
@amolenk work on https://github.com/dapr/components-contrib/pull/310 is about to be merged and then we'll extend the dapr API.

Regarding the .NET configuration provider this PR: https://github.com/dapr/dotnet-sdk/pull/238 was reverted but will be resurrected as soon as #1493 is fixed.

[2020-11-05 18:36] amolenk commented on #2168
@cmendible Great! With the new BulkGetSecret api, the .NET configuration provider can be improved and built in a way that doesn't require the user to specify secret keys upfront. I added issue https://github.com/dapr/dotnet-sdk/issues/462 to the dotnet-sdk repo to track the work.

[2020-11-05 18:45] cmendible commented on #2168
That was the primary driver for the new API and I'll be enhancing the .NET provider as soon as we close this one.

[2020-11-05 18:51] #2375 closed

[2020-11-05 19:07] #2377 closed

[2020-11-05 21:59] yaron2 opened #2400 "Add actor invocation method for gRPC"
To provide better throughput and have consistency with the HTTP API surface for actors, we need to add a method for gRPC to invoke actors.

[2020-11-05 22:32] #2400 closed

[2020-11-06 00:34] msfussell commented on #2049
@aktxyz Can you try this out again on the v0.11.3 release and see if you can reproduce this?

[2020-11-06 00:52] #1386 closed

[2020-11-06 08:01] egmkang commented on #2367
Stateful Services

[2020-11-06 17:26] aronchick commented on #2308
+1 - The fall back for a message not being wrapped in a cloud event is to put the entire payload in the .data field (unaltered). I think there may be a value in having a .raw_payload field regardless - if someone wants to access it. I think rejecting it outright is probably an anti-pattern (Postel's Law - https://en.wikipedia.org/wiki/Robustness_principle#:~:text=The%20principle%20is%20also%20know

[2020-11-06 21:13] #2243 closed

[2020-11-06 21:32] #1810 closed

[2020-11-07 02:02] msfussell opened #2407 "Install the monitoring tools needed for Dapr via an option on Dapr Helm chart"
## Describe the feature
Make it easier to separately;
1) Install the required FluentD, Prometheus, Grafana, and Dapr Metrics dashboards tools
2) Install a tracing tool of your choice, such as ZipKin, Jaeger etc

## Release Note
RELEASE NOTE: Add ability to configure monitoring tools for metric and tracing via Helm chart.

Similar to this
helm install dapr dapr/dapr --namespace dapr-system --set me

[2020-11-07 08:13] yaron2 commented on #2399
Moving this to the dotnet SDK repo.

[2020-11-07 08:14] yaron2 commented on #2393
See here: https://docs.dapr.io/reference/api/actors_api/#invoke-actor-method

[2020-11-07 08:16] yaron2 commented on #2368
@skyao what do you think? ^

[2020-11-07 09:59] RadoslavGatev commented on #861
This is still valid. Currently, when output bindings are invoked, the same data is being sent to all of them. Furthermore, the operation is assumed to be `Create` and there is no way to specify any binding-specific metadata (which is crucial for some binding components).

[2020-11-07 11:51] XavierGeerinck commented on #2353
+1 on this bug at the moment, created a DigitalOcean kubernetes cluster from scratch and just deployed Dapr through the helm charts and this pops up

[2020-11-07 12:22] XavierGeerinck commented on #2353
@Liriel figured it out and this solved it for me!

So the error that pops up is something like this:

[code]

Which is obviously due to the missing service account `replicaset-controller` which we can check through `kubectl get serviceaccounts -A` which doesn't list this service account.

Now when going to https://kubernetes.io/docs/reference/access-authn-authz/rbac/#controller-roles it shows that

[2020-11-07 13:17] RadoslavGatev opened #2408 "State key naming convention not applied when persisting state via input binding response"
## In what area(s)?

 /area runtime

## What version of Dapr?

edge

## Expected Behavior

When the endpoint of an input binding returns a response to persist some state into a state store, the key should be prefixed with the App ID.

## Actual Behavior

The BulkSet function of the state component is being invoked without composing the name according to the key naming convention of the State Manag

[2020-11-07 14:50] jigargandhi commented on #2049
If it is reproducible and unassigned, I can take up the task to fix this.

[2020-11-07 14:53] yaron2 commented on #2049
@jigargandhi I assigned you.

[2020-11-07 18:12] yaron2 commented on #2408
Thanks for raising this.

[2020-11-07 20:38] mchmarny commented on #2407
The installation of the software is pretty well documented. The issue is the post installation configuration (e.g. Elastic index creation, loading dashboards into Grafana) which represent multi-step process which is error prone given the number of manual steps. Check here for ways to streamline this process:

https://github.com/mchmarny/dapr-demos/blob/ad6899c00d94a353f48336cd2827549f8d53969b/setu

[2020-11-07 22:28] #1493 closed

[2020-11-08 11:03] Liriel commented on #2353
@XavierGeerinck I can confirm that creating the `replicaset-controller` service account manually leads to the sucessful provisioning of the sidecar-injector pod.

Now get the empty error message when creating a new pod. The sidecar-injector log:
[code]
It seems that the `AdmissionReview` dies at some point.

[2020-11-08 11:08] XavierGeerinck commented on #2353
@Liriel indeed, I got the same issue here... looking forward to seeing a reply from the Dapr team 😊 it's a hacky solution in the end to manually create those controllers.

At my end I already contacted the Cloud Provider and they indeed acknowledged that the accounts should be there. Awaiting escalation now to get that resolved.

[2020-11-08 14:21] Liriel commented on #2353
this is definitly not only a permission issue. I gave the `dapr-operator` service account clusteradmin rights, but my pods still wont get a sidecar.
    kubectl create clusterrolebinding my-dapr-op-adm --clusterrole=cluster-admin --serviceaccount=dapr-system:dapr-operator
also tried to change the `failurePolicy` to "Fail" in the `MutatingWebhookConfiguration` but the sidecar injector still fails s

[2020-11-09 18:32] #2158 closed

[2020-11-09 19:32] wcs1only commented on #2323
Keeping this separate from #2338 (which is ready), while I figure out a good way to surface this error from the Publish callback function.

[2020-11-09 19:50] rynowak commented on #1242
We have another hit for this issue in .NET Core here: https://github.com/dotnet/tye/issues/765

[2020-11-09 20:27] #1688 closed

[2020-11-09 20:34] yaron2 commented on #2353
Hi,

As mentioned correctly by both @XavierGeerinck and @Liriel, this is not a permissions issue.

Kubernetes distributions that do not have the service account for the replicaset-controller are exposing users to security risks, namely any pod in the cluster can fake a request to the admission controller which has no way to determine if the request came from the Kubernetes API or from a malicious

[2020-11-09 22:28] #2209 closed

[2020-11-09 23:45] mukundansundar opened #2414 "runtime_init e2e restarts once before stabilizing"
## In what area(s)?

/area runtime

/area test-and-release

## What version of Dapr?

master
0.11.3

## Expected Behavior

There are no unexpected restarts of Pods in E2E tests.

## Actual Behavior

runtime_init fails to start properly initially, then restarts and then stabilizes.

[code]

## Steps to Reproduce the Problem

Run the runtime E2E test following the steps https://github.com/dapr/dapr/

[2020-11-10 00:17] #2083 closed

[2020-11-10 00:18] mukundansundar commented on #2414
checked with 0.11.3 also ... fails, pod restarts and then stabilizes
[code]

[2020-11-10 00:19] mukundansundar commented on #2414
cc @yaron2 @youngbupark

[2020-11-10 00:25] youngbupark commented on #2407
I do not think it is the right direction to put monitoring tool charts to dapr helm chart. Providing helm chart for monitoring tools or script separately may make sense because such monitoring tool setup highly depends on customer's infrastructure. Each customer will have the different setting such as authentication and addresses. or someone may not use zipkin.

cc/ @yaron2 @tcnghia

[2020-11-10 00:33] mukundansundar commented on #2414
I think this is the potential reason ... the runtime_init application immediately tries to publish to pubsub/bindings in main() function ....
https://github.com/dapr/dapr/blob/master/tests/apps/runtime_init/app.go#L68-L87

the blockUntilAppReady() call is being made in 0.11.3 before initializing daprd components

still in master that call is being made before input bindings are initialized and bef

[2020-11-10 00:42] #1760 closed

[2020-11-10 01:08] #2121 closed

[2020-11-10 01:12] #1080 closed

[2020-11-10 01:28] #2220 closed

[2020-11-10 02:05] dybxin opened #2415 "use vault secretstore occured error"
## Ask your question here
[code]
## Additional information
[code]
[code]
[code]
[code]

[2020-11-10 03:04] dybxin commented on #2393
oh,I noticed it,thank a lot !

[2020-11-10 05:56] jigargandhi commented on #2049
The issue is reproducible as mentioned by @aktxyz
What I see is that the reminder fires atleast once and then the error appears

`== APP == info: Microsoft.AspNetCore.Hosting.Diagnostics[1]

== APP ==       Request starting HTTP/1.1 PUT http://127.0.0.1:5000/actors/DemoActor/abc/method/remind/TestReminder application/json 56

== APP == info: Microsoft.AspNetCore.Routing.EndpointMiddleware[0]

== A

[2020-11-10 06:44] #2338 closed

[2020-11-10 07:01] #663 closed

[2020-11-10 07:29] #2376 closed

[2020-11-10 08:09] beiwei30 commented on #2333
no, the runtime configs have to passed in with the command line flags in the current implementation.

[2020-11-10 08:44] dybxin commented on #2333
ok, thanks a lot !

[2020-11-10 08:44] #2333 closed

[2020-11-10 08:47] a641545621 commented on #2357
dapr.io/app-id: daprserver
dapr.io/app-port: '80'
dapr.io/enabled: 'true'

Dapr.io/app-port: '80' is missing in the service deployment file yaml

[2020-11-10 08:47] #2357 closed

[2020-11-10 08:47] #2358 closed

[2020-11-10 12:26] Liriel commented on #2353
#### Starting the controller manager with the `--use-service-account-credentials=true` command line argument resolves the issue.

For **typhoon** in particular you have to alter the `kube-controller-manager.yaml` manifest in `.terraform/modules/mercury.bootstrap/resources/static-manifests/kube-controller-manager.yaml` after you did `terraform init` and before `terraform apply`. (see https://github

[2020-11-10 12:27] XavierGeerinck commented on #2353
Thanks @Liriel and @yaron2 for the responses! This is indeed the issue!

I am however wondering, what can be done in case these are not available by default?

[2020-11-10 18:46] youngbupark opened #2420 "Stop applying membership change and clean up heartbeat map when leadership is revoked"
## In what area(s)?

/area placement

## What version of Dapr?

master

## Expected Behavior

1. No table update in Dapr sidecars

## Actual Behavior

Not all the time. leader is established and revoked multiple times. some of members are outdated because placement doesn't clean up heartbeat records for runtime when leadership is revoked.

1. Couple of table updates happens in Dapr sidecars

## St

[2020-11-10 19:26] artursouza opened #2421 "Fix perf test prior to v1 Milestone 1 release"
## In what area(s)?

## What version of Dapr?

master

## Expected Behavior

perf tests pass.

## Actual Behavior

    actor_activation_test.go:97: target dapr app consumed 6m CPU and 156.22963199999998Mb of Memory
309
    actor_activation_test.go:98: target dapr sidecar consumed 2m CPU and 27.389951999999997Mb of Memory
    actor_activation_test.go:99: target dapr app or sidecar restarted 0 times

[2020-11-10 20:05] artursouza commented on #2421
Error:
[code]

[2020-11-10 20:54] cmendible commented on #2168
Hi @youngbupark can you asign this one to me?

[2020-11-10 23:30] #2420 closed

[2020-11-11 00:00] #2421 closed

[2020-11-11 02:50] wcs1only opened #2425 "Unexpected E2E test failure"
## In what area(s)?

 /area test-and-release

## What version of Dapr?

## Expected Behavior
Test should get 403 for disallowed secrets. Expected log
[code]

## Actual Behavior
At least once, we've observed the test able to access what should be a forbidden secret. This occurred on windows, though we do not yet know if this is a platform specific issue:
https://github.com/dapr/dapr/runs/1381813018

[2020-11-11 04:01] mukundansundar commented on #2425
cc @wcs1only @yaron2
Based on comments https://github.com/dapr/dapr/issues/1782#issuecomment-691257572 and https://github.com/dapr/dapr/issues/1782#issuecomment-680217302, the default behavior is to allow all secrets if no config is present.

Though I am able to see that the secretappconfig is [created](https://github.com/dapr/dapr/runs/1381813018?check_suite_focus=true#step:15:33)
[code]
and the

[2020-11-11 04:07] wcs1only commented on #2425
So, I have been running both the windows and linux stateapp tests in a tight loop. Each is at 10+ iterations. Working hypotheses:
1. Configuration was not applied correctly, despite the kubectl apply succeeding.
1. The pod was not created with the configuration correctly linked.
1. A bug in daprd causes us to fail to read the configuration.
1. A bug in daprd causes us to not respect the configurat

[2020-11-11 05:07] wcs1only commented on #2425
28x runs in a tight loop on both windows and linux. No repro yet. This doesn't eliminate the possibility of some configuration application failure.

[2020-11-11 06:31] #2283 closed

[2020-11-11 08:23] qqeasonchen commented on #2367
Seems service invoke is enough, can you help to clarify it more detail? thanks.

[2020-11-11 08:35] skyao commented on #2368
Let me split this discussion into three small topic for get/delete/put.

First, the simplest case, for delete and bulk delete, I agree with you that we only need to add the missing method.

Before this change:

| Operation   | Go-sdk           | Daprd service                              | Store Interface |
| ----------- | ---------------- | ------------------------------------------ | -----------

[2020-11-11 08:40] qqeasonchen opened #2428 "Upgrade dapr in service"
## In what area(s)?

 /area runtime

## Describe the proposal

Currently, if dapr need to upgrade, the application service need to be shutdown first , after dapr upgraded, star the application service again , is there any way more graceful to do?

[2020-11-11 08:52] skyao commented on #2368
For Get and Bulk Get, I agree to rename GetBulkItems() to GetBulkState() in go-sdk (And I will check other language sdks later).

But for BulkGet, I have a strong requirement from our customer teams that they need this feature to get more than one item in one request (for performance) withe serveral keys.

So, can we add this BulkGet() method in store interface now? We (Alibaba/Alipay) really need

[2020-11-11 09:05] egmkang commented on #2367
stateless service is not enough, the cost of recover the state is at least 10 times than stateful service.

[2020-11-11 09:34] trondhindenes opened #2429 "daprd command-line parameters start with a single hyphen according to --help"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

## Actual Behavior

according to `daprd --help`, parameters should be supplied using a single hyphen. This breaks with the standard for every other (linux-based) command line tool on the planet. `dapr run --help` lists parameters with the normal double-hyphen convention, so theres an inconsistency here. Daprd itself seems to acce

[2020-11-11 11:58] skyao commented on #2368
For Save and Bulk Save, I aslo agree to rename SaveStateItems() to SaveBulkState() in go-sdk (And I will check other language sdks later).

And how about to review and improve the design of saveState() method which is both used by put and bulk put?  The style is big different:

- In "get/bulk get" and "delete/bulk delete", the bulk method and request are different
- In "save/bulk save", the bulk s

[2020-11-11 17:33] yaron2 commented on #2429
Thanks for raising this. Is this something you'd like to help with?

[2020-11-11 17:38] wcs1only commented on #2425
Ok, overnight we got a total of
38 runs of the full test suite on windows
168 runs of the full test suite on linux
10 normal runs of the test.

We got 1  test failure (in a different test than secretapp). This time we have logs:
[code]

This is good news, and a hot lead. A failure of exactly this type would cause the behavior we observed in the first failed test.

[2020-11-11 18:47] youngbupark opened #2431 "Daprd panic during shutdown"
## In what area(s)?

 /area runtime

## What version of Dapr?

master

## Expected Behavior

1. No panic

## Actual Behavior

1. Panic with the below error:
[code]

## Steps to Reproduce the Problem

1. run daprd without running placement
2. ctrl+c

## Release Note

RELEASE NOTE: NOT APPLICABLE

[2020-11-11 19:19] #2425 closed

[2020-11-11 20:27] #2431 closed

[2020-11-12 02:26] qqeasonchen commented on #2367
In my opinion, recovering state of stateful service replies on k8s operator, service invoke only solve the problem of communication?

[2020-11-12 06:07] skyao commented on #2368
@yaron2 SaveStateItems and GetStateItems has been renamed, it's so easy. Let's go on.

[2020-11-12 06:22] yaron2 commented on #2368
Ok, let's implement the BulkGet on the Component interface, but consider this: the bulk get operation should work for all state stores. So the Component needs to tell Dapr if it can support a native GerBulk operation. If it can't, Dapr needs to fall back into the logic it has today.

[2020-11-12 09:19] skyao commented on #2368
It means that we have to add new method in store interface like ` supportBulkGet() bool` , by default it should return false and bulkget() throw error that "unsupported". It also means that we need to change every state store implementation.

Why just directly call bulkget method and add a default implementation of bulkget to every state store impl: do loop to call get(). In fact we just need to c

[2020-11-12 09:20] skyao commented on #2368
And how about this:

TBD: make decision to change SaveState() or not.

[2020-11-12 10:09] perokvist opened #2436 "PubSubMessage ContentType is always application/cloudevents+json (even if payload is not cloudevent)"
/area runtime
0.11.3

When sending a payload to pub sub **that is not** a cloud event I expect no change of content-type.

When sending a payload application/json (service bus explorer) the app endpoint is invoked with the payload but with content-type "application/cloudevents+json".

Seems like PubSubMessage is always of content-type application/cloudevents+json regardless of payload.

[2020-11-12 10:22] trondhindenes opened #2437 "Dapr health endpoint is incorrectly reporting healthy if bindings have failed to initialize"
## In what area(s)?

/area runtime

## What version of Dapr?
0.11.3

## Expected Behavior
Given this error during initalization:
`== DAPR == time="2020-11-12T11:15:44.96264973+01:00" level=error msg="failed to init output binding sqs-binding-item-cdc (bindings.aws.sqs): NoCredentialProviders: no valid providers in chain. Deprecated.\n\tFor verbose messaging see aws.Config.CredentialsChainVerboseEr

[2020-11-13 05:13] EdwinVW opened #2444 "Dapr sidecar docker image is always pulled from the registry (also when it is already present on the machine)"
## In what area(s)?

/area-k8sinjector

## What version of Dapr?

0.11.3

## Expected Behavior

When the daprd docker image (daprio/daprd:0.11.3) is already on the machine, it is not pulled from the registry every time I deploy my application to k8s.

## Actual Behavior

Every time I deploy my application to k8s, for every pod that is configured to be injected with a sidecar (using the Dapr annota

[2020-11-13 06:34] yaron2 commented on #2368
We can change the Component method for BulkGet to return (bool, response, error).

If bool is false, Dapr will fallback to iterate the Get method.
I prefer this than copy and pasting the same code in 15+ implementations.. what do you think?

[2020-11-13 06:36] yaron2 commented on #2368
Due to efficiency, I think keeping an array for save state is ok. State by the definition of the word can be a multitude of items.

[2020-11-13 06:45] dybxin opened #2445 "run locally, how to stdout json format logs."
## In what area(s)?

## Ask your question here
i noticed that dapr produces structured logs to stdout either as a plain text or JSON formatted. and to enable JSON formatted logs, in k8s need the flowing configuration:
[code]
and add the flowing to deployment

[code]
but, how to in locally env.

[2020-11-13 17:45] yaron2 commented on #2415
We'll take a look. I'm moving this to the components-contrib repo.

[2020-11-13 17:51] yaron2 commented on #2444
The `Always` pull policy is a remnant of less civilized times where Dapr used a `:latest` image. Please feel free to open a PR that changes this to `IfNotPresent`.

[2020-11-13 19:21] youngbupark commented on #2445
`daprd` has `--log-as-json` option to change the format of log to json, but cli doesn't.

@msfussell @yaron2 This is the very small change. Can we bring this to 1.0.0?

[2020-11-13 19:41] artursouza commented on #2437
This is a good point for discussion. The meaning of /healthz should be clear. Would users want to proceed if a component cannot be loaded? I can see why reporting non-healthy can be the right thing to do. On the other hand, I can see how an app with multiple components might not want to have a complete outage if only one of the components is unavailable and could not be initialized.

I believe thi

[2020-11-14 09:46] trondhindenes commented on #2387
from me:
- improve the "dapr run" output logs. Daprd logs are very readable, but "dapr run" logs are very messy
- implement request logging - at least in the debug and higher log-levels. It must be possible to log (service-to-service invocation, binding invocation etc) when developing apps locally (I tried the python sdk to build a grpc app, and since both the dapr sidecar and the grpc middleware

[2020-11-14 09:55] trondhindenes commented on #2387
@yaron2 about this:

kubernetes supports grabbing the log output from the previous container in case of restarts:
`kubectl logs abc -c def --previous`. So even if a pod container restarts, the output isn't lost. In addition, I would assume that most shops implement a centralized log solution based on filebeat or fluentd so that logs are persisted also after the emitting container is gone.

[2020-11-14 10:00] trondhindenes commented on #2429
why not - I can at least give it a go. Wil report back if its beyond my (failry limited) golang skills

[2020-11-14 10:49] li1234yun opened #2448 "Add debug mode to support `grpcui` ... etc debug tools"
## In what area(s)?

## Describe the feature
[grpcui](https://github.com/fullstorydev/grpcui)
grpcui is a grpc debug tool, maybe can use to debug dapr grpc call. I can not use it for now, because it need grpc server support reflection API. Execution occurs error is `server does not support the reflection API`.

[2020-11-15 05:53] EdwinVW commented on #2444
@yaron2 I found pr #2447 that adds a configuration-setting to specify the image pull behavior for the sidecar. That would solve this issue.

[2020-11-15 09:21] trondhindenes commented on #2429
@yaron2 so I did a bit of research here. It seems that the "flag" package that dapr uses has a "known discrepancy" in that it doesn't behave according to the "getopt standard".
This package https://github.com/spf13/pflag is meant as a drop-in replacement for the flag package in order to implement a more standardized behavior. However, the problem is that any changes made in this area will be break

[2020-11-15 09:30] trondhindenes commented on #2437
@artursouza yup, I agree. That said, I really think "strict" should be the default and allowing partial component failures should be opt-in. So, the flag would be `dapr.io/non-strict-health` or similar.

[2020-11-16 03:21] artursouza commented on #2437
What about having this to be specified per component? So, each component would have metadata about it being critical or non-critical. The default can be "critical=true" but users might decide to have one as non-critical.

[2020-11-16 09:22] trondhindenes commented on #2437
Yup, that's a neat way of doing it!

[2020-11-16 09:39] dybxin commented on #2393
@yaron2 I'm sorry, maybe I didn't describe it clearly.I have reviewed the relevant documentation.I still don't clear how to create actors.i noticed in default statestore.yaml likely flowing:
[code]
contains: actorStateStore attribute. and dapr run find logs :

[code]
the actors created already, but where the actortype and actorId.

[2020-11-16 12:00] trondhindenes opened #2449 "dapr sidecar is crash-looping, but the logs don't indicate that anything's wrong"
## In what area(s)?
/area runtime

## What version of Dapr?
1.0.0-rc.1

## Expected Behavior
Logs should print enough information to allow us to troubleshoot why dapr is failing

## Actual Behavior
There's not enough log information being printed to allow troubleshooting why dapr is failing

## Steps to Reproduce the Problem
Not sure how reproducable this is, but I'm gonna try:
These are the annot

[2020-11-16 12:28] trondhindenes commented on #2449
In this case it might have been a name resolution problem causing problems to initialize an sqs pub/sub component. I still think dapr should log "initializing component xyz.....". There might also be a bug in how component timeouts work. For slow-initializing components it seems that the semi-aggressive health probes that get configured interfere with dapr.

[2020-11-16 13:45] wcs1only opened #2450 "Deprecated kafka helm chart breaks E2E test run."
https://helm.sh/blog/charts-repo-deprecation/

The incubator/kafka chart was deprecated. This breaks the procedure for at least one quickstart (bindings). We'll need to update all references to incubator/kafka to a working helm chart.

## In what area(s)?

## What version of Dapr?

## Expected Behavior

## Expected Behavior
We need a running kafka after running helm install.

## Actual Behavior

[

[2020-11-16 16:02] #2450 closed

[2020-11-16 18:27] yaron2 commented on #2368
@skyao will you be working on this?

[2020-11-17 17:00] youngbupark commented on #2449
@trondhindenes is this issue happening when you use sqs pubsub component ?

[2020-11-17 17:01] #2369 closed

[2020-11-17 20:13] #2444 closed

[2020-11-17 20:16] trondhindenes commented on #2449
I believe it was happening when using a single binding  - of type sqs. I'm not sure if it's up to each binding implementation to time out or if daprd has logic to not wait forever for bindings to initialize. If the latter (which I guess is correct), it probably doesn't matter which binding I try to initialize.

One could of course argue that if the binding is slow enough to fail to initialize befo

[2020-11-17 22:58] yaron2 commented on #2449
Yeah we ran into this issue with a few users. `daprd` will wait until a component finishes the init stage, which makes the k8s health probes fail the sidecar if the component doesn't init before the threshold is met.

The solution I see here is to log the name of the component starting init so that users fetching the previous container logs can easily see which component took too long

[2020-11-17 23:28] yaron2 opened #2462 "Add components to metadata endpoint"
Dapr exposes a `v1.0/metadata` endpoint that returns information about the sidecar, including its health and registered actors if present.

To allow runtime discoverability of the different components loaded in the Dapr sidecar and their types and versions, we want to add a section to the response object returned by the endpoint:

[code]

[2020-11-18 00:05] #2394 closed

[2020-11-18 00:05] #2350 closed

[2020-11-18 00:27] youngbupark commented on #1857
@yaron2 I would think that we need to keep it open, but put it as P2.

[2020-11-18 00:28] youngbupark commented on #2386
We have the follow-up work item - https://github.com/dapr/dapr/issues/1857

[2020-11-18 00:30] youngbupark commented on #2370
it seems fine now. @wcs1only can we close it?

[2020-11-18 05:53] skyao commented on #2368
OK, I will PR for get bulk state soon.

[2020-11-18 08:39] qqeasonchen commented on #2386
got it, thanks

[2020-11-18 08:39] #2386 closed

[2020-11-18 08:47] dybxin opened #2463 "how-to:Use secrets building block retrieves the secret from the Map structure"
## Ask your question here
how-to:Use secrets building block retrieves the secret from the Map structure?

local-secret-store.yaml
[code]

secrets.json
[code]
after `dapr run `, i use the flattened key to access the secret.

[code]
i got errorCode: `ERR_STATE_GET`

[2020-11-18 15:07] skyao commented on #2368
for bulk get

### Plan A

- Adding BulkGet method on state store
- Dapr simply calls BulkGet method of store componnent implementation
- store componnent implementation decided to do bulk get or fallback to call get one by one

I have submit a PR for this plan to show what we will change:

https://github.com/dapr/components-contrib/pull/528

[2020-11-18 15:14] skyao commented on #2368
and

### Plan B

- Adding BulkGet method on state store which will return (bool, response, error)
- Dapr will calls BulkGet method first

    * if store  supports BulkGet, it will return true with resposne list
    * if store doesn't support BulkGet, it will return false with nil response; dapr need to fallback to call get method one by one

I will try this plan tomorrow and submit PR, we can comp

[2020-11-18 20:37] jjcollinge commented on #2436
I'd hesitate a guess that this change is required. @youngbupark if you agree I can quickly open a PR for this?
![image](https://user-images.githubusercontent.com/7241190/99584653-28907880-29dd-11eb-8f43-761f559cc5f3.png)
Comparing the HTTP publish to the gRPC publish impl - the HTTP publish assumes JSON whereas the gRPC implementation handles `text/plain` and `application/json` - is it worth makin

[2020-11-19 06:40] artursouza opened #2466 "Add Reminder and State APIs for Actors in GRPC"
## In what area(s)?

## Describe the feature
Add Reminder and State APIs for Actors in GRPC

## Release Note

RELEASE NOTE: **ADD** Reminder and State APIs for Actors in GRPC

[2020-11-19 08:02] skyao commented on #2368
@yaron2  I have summit two PR for Plan A and Plan B.

It seems there is no big difference in state store of component-contrib repo. Especially after I moved the duplicated code of bulkget/bulkput/bulkdelete into the DefaultBulkStore struct, Plan A and Plan B is almost the same in  component-contrib.

The big change is in file “pkg/grpc/api.go ” of dapr/dapr repo, in GetBulkState() method, we have

[2020-11-19 08:48] trondhindenes opened #2468 "Error: app not subscribed to binding"
/area runtime

## What version of Dapr?

## Expected Behavior
in a mutli-service setup where one app should listen to input binding events, and another not, the way to indicate which apps listen to events, is to have an endpoint with the name of that binding.
upon startup, daprd will do an `OPTIONS` call to the endpoint, and wire up the binding if a non-error response is returned.

In this example

[2020-11-19 10:09] jjcollinge commented on #2436
Related: [components-contrib/506](https://github.com/dapr/components-contrib/issues/506), [components-contrib/509](https://github.com/dapr/components-contrib/pull/509)

[2020-11-19 20:15] trondhindenes commented on #2449
yup I agree. Maybe I can try my hand at that.

[2020-11-19 20:21] trondhindenes opened #2469 "DynamoDB exists as a statestore type in dapr-components-contrib, but isn't enabled"
/area runtime

## What version of Dapr?
latest

## Expected Behavior

## Actual Behavior
In the dapr-components-contrib codebase, DynamoDB is listed as one of the statestore implementations. However, in daprd's `runtime.WithStates` statement, this state store type isn't loaded so it's not actually available for use.

If we assume DynamoDB is ready to use as a statestore, we should probably enable

[2020-11-19 20:47] andreatosato opened #2471 "Readiness probe failed /v1.0/healthz"
# In what area(s)?

/area test-and-release

## What version of Dapr?

0.11.3

## Expected Behavior

Startup container successful

## Actual Behavior

Readiness probe failed: Get "http://10.1.2.137:3500/v1.0/healthz": dial tcp 10.1.2.137:3500: connect: connection refused

## Steps to Reproduce the Problem

I use my [sample](https://github.com/andreatosato/dapr-calculator-rewrite/tree/master/deploy/

[2020-11-19 21:33] andreatosato commented on #2471
Fixed with latest dapr release

[2020-11-19 21:33] #2471 closed

[2020-11-20 00:57] htzhang2 opened #2472 "publish message with dotnet sdk failed with 404 (NotFound)"
Why I am getting 404 (NotFound) when publishing message from C# dotnet NetCore 3.1 web api?

1. dapr dotnet sdk version: 0.11-preview 2

2. Code to reproduce:
        [Topic("pubsub", "newOrder")]
        [HttpPost]
        [Route("orders/{storeType}")]
        public async Task<ActionResult<Order>> AddOrder(
            [FromRoute] string storeType,
            [FromBody] Order orderItem,

[2020-11-20 01:00] htzhang2 commented on #2472
4. Environment:
Windows 10 VM

5. Powershell command:
dapr run --app-id orderService --components-path .\Components\ --app-port 5020  dotnet run

[2020-11-20 06:58] dybxin opened #2473 "questions about service invocation and access control list configuration"
## Ask your question here
-  about service_invocation_api:

serviceA:
[code]
serviceB:
[code]
serviceA invoke serviceB's method. the call link should be `http://localhost:3500/v1.0/invoke/nodeapp/method/<method-name> `. but `http://localhost:3501/v1.0/invoke/nodeapp/method/<method-name>` and  `http://localhost:3500/v1.0/invoke/nodeapp/method/<method-name>` all can called.
in `POST/GET/PUT/DELETE h

[2020-11-20 07:30] sd797994 opened #2474 "how to configure oauth middleware in dapr1.0-rc1 and running?"
I follow the guide from: https://github.com/dapr/quickstarts/tree/v1.0.0-rc.1/middleware to test oauth middleware but it failed

environment:
docker for windows  v19.03.13
docker for windows kubernetes v1.19.3
ingress-controller: ingress-nginx  v0.41.2
dapr & daprcli 1.0.0-rc.1

step:
1. git clone -b 1.0.0-rc.1 https://github.com/dapr/quickstarts.git
2. visit Google APIs Console to register my OAu

[2020-11-20 07:42] skyao commented on #2368
@yaron2  We need to change struct GetResponse because it doesn't contain a error field.

[code]

I works well in Get method since there is a error return with this GetResponse.

[code]

And it also works well in old bulk get method: call get one by one, the error can return with get method for each key.

[code]

But now if the store support real bulk get and return the GetResponse slice for all ke

[2020-11-20 08:07] skyao commented on #2368
I checked the grpc and http api for get() and bulkget() and found that they don't reuse the same struct for response.

GetStateResponse and BulkStateItem in grpc api:

[code]

BulkGetResponse in HTTP:

[code]

For state get() response in HTTP api, it directly uses Data and etag:

[code]

[2020-11-20 08:48] dybxin commented on #2358
how to specify actor's type and  actorid?

[2020-11-20 17:01] #2049 closed

[2020-11-20 18:21] ProfessorMc opened #2475 "add image pull secret to the dashboard chart."
## In what area(s)?
/area docs
/area test-and-release

## Describe the feature
Helm charts current allow for a global.imagePullSecret to be applied to the deploy so I can reference a private registry.  The chart for the dashboard also supports registry override, but lacks support for the imagepull secret.

## Release Note

RELEASE NOTE: **ADD** Support for imagePullSecret Secret on Helm Chart

[2020-11-20 23:28] resouer commented on #2371
+1, the current approach of annotating PodTemplate is very hacky.

[2020-11-21 00:52] yaron2 commented on #2368
@skyao thanks for PRing the two options, that's really great. I must say I prefer option B, as it removes duplicate code from the components and keep the logic in one place, the `daprd` process as the orchestrator of interfaces here.

The responses for Get and BulkGet need to be different, as the return schema is different.

The BulkGet method in components-contrib will need to return a `GetBulkRe

[2020-11-21 10:47] jjcollinge opened #2478 "Graceful shutdown"
/area runtime

Currently daprd has a graceful shutdown mechanism by which it responds to SIGTERM signals. This invokes `runtime.Stop` but this only seems to clean up actors currently. It does not stop any more incoming requests to the gRPC or HTTP server whilst trying to cleanup existing inflight requests and it doesn't attempt to clean up other resources or ensure connections are closed. Addition

[2020-11-21 10:48] jjcollinge commented on #2478
Missed the duplicate: https://github.com/dapr/dapr/issues/2391 but I still think there's some valid questions we should consider above.

[2020-11-21 21:31] htzhang2 commented on #2472
BadRequest(ERR_PUBSUB_NOT_FOUND) will happen for POST request(port 5025) if add dapr-http-port to command:

dapr run --app-id orderService --components-path .\Components\ --app-port 5020 -dapr-http-port 5025 dotnet run

[2020-11-21 21:32] yaron2 commented on #2472
Can you paste here the logs from Dapr?

[2020-11-21 22:18] htzhang2 commented on #2472
←[93;1m== DAPR == time="2020-11-21T22:15:46.6584911Z" level=info msg="http server is running on port 5025" app_id=orderService instance=zhang-vm scope=dapr.runtime type=log ver=0.11.3
←[0m
←[93;1m== DAPR == time="2020-11-21T22:15:46.6584911Z" level=info msg="dapr initialized. Status: Running. Init Elapsed 3583.5943ms" app_id=orderService instance=zhang-vm scope=dapr.runtime type=log ver=0.11.3
←[0

[2020-11-21 22:21] yaron2 commented on #2472
Those are not all the logs..

[2020-11-21 22:25] htzhang2 commented on #2472
I used --log-level debug when starting app, what else can I do?

dapr run --app-id orderService --log-level debug --components-path .\Components\ --app-port 5020  --dapr-http-port 5025 dotnet run

[2020-11-21 22:28] yaron2 commented on #2472
I mean, there are other log output lines before what is pasted here

[2020-11-21 22:31] htzhang2 commented on #2472
Starting Dapr with id orderService. HTTP Port: 5025. gRPC Port: 57520
←[93;1m== DAPR == time="2020-11-21T22:29:06.2718148Z" level=info msg="starting Dapr Runtime -- version 0.11.3 -- commit a1a8e11" app_id=orderService instance=zhang-vm scope=dapr.runtime type=log ver=0.11.3
←[0m
←[93;1m== DAPR == time="2020-11-21T22:29:06.2718148Z" level=info msg="log level set to: debug" app_id=orderService inst

[2020-11-21 22:34] yaron2 commented on #2472
I don't see a Pub Sub component loaded.. can you paste the Pub Sub YAML from your components directory?

[2020-11-21 22:36] yaron2 commented on #2472
If you don't find it, you can copy the default one using Redis from here:

$HOME/.dapr/components for Mac, Linux and %USERPROFILE%.dapr\components for Windows

[2020-11-21 23:03] htzhang2 commented on #2472
Thanks! That works

[2020-11-21 23:06] htzhang2 commented on #2472
I thought dapr can read %USERPROFILE%.dapr\components\pubsub.yaml directly.

Pubsub document is not very clear that pubsub.yaml file should be copied under application Components folder

[2020-11-22 08:16] RadoslavGatev commented on #2337
The current implementation of the Azure Monitor exporter that talks to App Insights seems to support traces only.

[2020-11-23 01:51] keranbingaa opened #2479 "the performance of dapr decreased when the connections up"
## In what area(s)?

 /area runtime
stress test on dapr

## Ask your question here
when I did stress test on dapr, it's strange that the cost time rises fast when I increase the connections.
I use fortio to do test on my own pc, the qps is only 100 and connction number is 100:
![image](https://user-images.githubusercontent.com/19837929/99923387-7fe17080-2d70-11eb-8e93-8c829998fa5e.png)
the avg cos

[2020-11-23 01:59] skyao commented on #2368
I agree with this, OK, let's continue with Plan B. I will close PR of Plan A and finish PR of Plan B soon.

[2020-11-23 02:01] yittg commented on #2379
@jjcollinge I think we can provide a separate API to provide the metadata for the publish request instead of extracting from the actual request, not all at least.
@yaron2 what do you think?

[2020-11-23 07:38] jigargandhi commented on #2437
I can take this up

[2020-11-23 13:11] skyao commented on #2368
@yaron2 PRs of Plan B are completed now, please help to review.

[2020-11-23 16:32] artursouza commented on #2243
Partition key in the table must be `PartitionKey`.

[2020-11-23 18:17] #2472 closed

[2020-11-23 18:51] htzhang2 opened #2480 "dotnet subscriber unable to receive published message from controller post method"
Enviornment:
Windows 10 vm
dapr AspNetCore 0.11.0-preview 2

[app_root_folder]\Components\subscription.yaml:
apiVersion: dapr.io/v1alpha1
kind: Subscription
metadata:
  name: pubsub
spec:
  topic: newOrder
  route: /newOrderCreated
  pubsubname: pubsub

Controller code:
        [HttpPost]
        [Route("newOrderCreated")]
        public ActionResult<Payment> AddPayment(
            [FromBody] Pay

[2020-11-23 19:00] htzhang2 commented on #2480
publisher url:
http://localhost:5025/v1.0/publish/pubsub/newOrder

[2020-11-23 21:04] yaron2 commented on #2437
Thanks @jigargandhi! assigned.

[2020-11-23 21:29] yaron2 commented on #2479
Hi @keranbingaa,

The best way to test Dapr would be in a Kubernetes cluster.
While we have not yet tested performance for Self Hosted mode, I expect latency to be higher because for each request Dapr sends a multicast browse request to get a list of all services on the network.

This will be fixed when a PR is submitted for [this](https://github.com/dapr/components-contrib/issues/514).

[2020-11-23 22:45] #2449 closed

[2020-11-24 00:34] youngbupark opened #2481 "Generate *.pb.go and *_grpc.pb.go separately for dapr proto"
## In what area(s)?

/area runtime

## Describe the feature

We have used the old command to generate stub client from proto files.
https://github.com/dapr/dapr/tree/master/dapr#generate-go-clients

From 1.30.x gRPC, gRPC protoc generates *.pb.go and *_grpc.pb.go separately:

- *.pb.go, which contains all the protocol buffer code to populate, serialize, and retrieve request and response message ty

[2020-11-24 00:39] youngbupark commented on #2481
@mchmarny I recall that go-sdk uses new way to generate pb files, doesn't it?

cc/ @yaron2 @artursouza

[2020-11-24 00:49] mchmarny commented on #2481
Ye, with `libprotoc 3.13.0` you can just do this now (notice the `:` in path). No plugins necessary.

[code]

[2020-11-24 00:51] DanielWangZhanggui commented on #777
Do we support fallback handling for the upstream services when the services get a open state of circuit breaker.

[2020-11-24 06:41] keranbingaa commented on #2479
@yaron2  thanks, I get it. It means if I use other name resolution way(e.g., use nacos as a name resolver) instead of mdns, this question will be solved.  Do I understand correctly？

[2020-11-24 09:07] dybxin commented on #2393
i'm sorry,   so register actors is via  dapr calling to user service code, the endpoint `GET http://localhost:<appPort>/dapr/config
`

[2020-11-24 09:08] #2393 closed

[2020-11-24 09:16] dybxin opened #2482 "dapr register actor failed to receive placement table update from placement service: EOF"
## Ask your question here

dapr register actor  failed to receive placement table update from placement service: EOF.

i use the endpoint `GET http://localhost:<appPort>/dapr/config`, gets the registered actors types for this app and the Dapr actor configuration settings.

[code]

error logs
[code]

[2020-11-24 16:50] issacg opened #2483 "Devcontainer: Shared docker or docker-in-docker?"
## In what area(s)?

/area runtime

## Ask your question here
I saw that the devcontainer templates for dapr were recently moved to be hosted in the official repo at https://github.com/microsoft/vscode-dev-containers but I had a question around dapr and devcontainers in general...

I only started touching dapr in the last week or so, and spent a considerable amount of time getting stuck trying to

[2020-11-24 17:09] youngbupark commented on #2481
@mchmarny thanks for sharing the experience. @yaron2 I think we should generate go client with the latest protoc to conform with the latest version gRPC; we do not need proto file change. I suggest to mark this as P1.

cc/ @msfussell @artursouza

[2020-11-24 17:20] youngbupark commented on #2482
@dybxin Please try to use dapr 1.0.0-rc.1 we have lots of improvement in 1.0.0-rc.1

[code]

[2020-11-24 17:57] niclar opened #2484 "grpc-web proxy"
Hi, Is there any grpc-web proxying available in dapr for "seamless" web front-end integration ?

[2020-11-24 18:46] #2466 closed

[2020-11-24 19:54] youngbupark commented on #2337
This is true. We leverage [otel collector exporter](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/exporter/azuremonitorexporter) to emit trace to app insights. this exporter supports only trace.

[2020-11-24 20:09] XavierGeerinck opened #2485 "Dapr Component Reloading"
I currently have the use-case where I am developing (sometimes on Kubernetes) an application and want to reload the Dapr sidecar to get a new binding in, or a new pub sub system. However when doing this, it seems that Dapr doesn't automatically detect this.

Some points I would love to discuss about:
* Automatic component reloading when a binding/pubsub/... gets changed through `kubectl apply -f .

[2020-11-24 20:09] XavierGeerinck commented on #2485
@mchmarny ;)

[2020-11-24 20:14] XavierGeerinck opened #2486 "Missing sidecars on cluster node re-creation / Kubernetes Eviction Policies"
/area runtime

## What version of Dapr?

1.0-rc1

## Expected Behavior

Seeing Sidecars being injected successfully

## Actual Behavior

When restarting my cluster workers entirely (i.e. all nodes down besides master and restarting both of them) which sometimes happens, it seems that the sidecar injector fails to properly inject into those nodes.

I would expect the sidecar injector to periodicall

[2020-11-24 21:03] mchmarny commented on #2485
Thanks for writing this up. The component scoping and versioning is already there (examples below).

Versioning

[code]
Scoping

[code]

We talked about component reloading a few times now. The tech around watching objects and reloading them in Dapr are actually well understood and not that really complex (I'm told). The complexity lies in in guessing user intend in accounting for the failure mode

[2020-11-24 21:56] XavierGeerinck commented on #2485
Thanks a lot for providing that, I had no idea! :)

In regards to the other part, how I currently work in terms of updating components is that I change it and then reapply it. I then would indeed expect a restart of the sidecar without affecting the app (the app would call an endpoint anyways, so I would not expect that one to restart).

For example, I have a pod that gets scaled out by KEDA autom

[2020-11-24 23:09] mchmarny commented on #2485
Yes, thanks for the context

[2020-11-25 00:31] wcs1only opened #2489 "PRs should not be mergeable when e2e tests haven't been run in e2e."
## In what area(s)?

 /area test-and-release

## What version of Dapr?

## Expected Behavior

Latest commit ID must pass E2E on AKS before merging.

## Actual Behavior

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE: NOT APPLICABLE

[2020-11-25 08:21] youngbupark commented on #1769
dupe with https://github.com/dapr/python-sdk/issues/130

[2020-11-25 10:34] dybxin commented on #2482
@youngbupark  I tried version 1.0.0-rc.1.  and i use the way mentioned above to register actors, however, i not find it in dashboard.

![Screenshot from 2020-11-25 18-33-32](https://user-images.githubusercontent.com/14888437/100216044-c4c1fe80-2f4c-11eb-9ade-4267a6ea5f3c.png)

logs:
[code]

[2020-11-25 12:36] malotho opened #2490 "Head method not allowed by Dapr"
/area runtime

## What version of Dapr?

## Expected Behavior

Sending a HTTPHEAD request on the HTTPGET endpoint on a service must return OK

## Actual Behavior

405 Method Not Allowed is returned

## Steps to Reproduce the Problem

Send a HTTPHEAD request on a HTTPGET endpoint.

## Release Note

RELEASE NOTE:

[2020-11-25 18:25] youngbupark commented on #2482
@dybxin the dashboard shows the current activated actors, not actor types. So please try to invoke actor by actor client. then you will be able to see the activated actors.

[2020-11-25 23:07] yaron2 commented on #2490
@ShaileshSurya can you help with this? the place to add it is here:

https://github.com/dapr/dapr/blob/bf737654d677c6108aec81c1cc92b09ca329bd9f/pkg/http/api.go#L207

[2020-11-25 23:22] davidkarlsen opened #2492 "Run unprivilegied"
/area runtime

## Describe the proposal
Best practices are to run unprivileged and follow principle of least privilege.
This can be done by adding security contexts to the pods in the helm-chart.
When I use a restricted security policy if fails with:

[code]

[2020-11-25 23:22] davidkarlsen opened #2536 "Run unprivilegied"
/area runtime

## Describe the proposal
Best practices are to run unprivileged and follow principle of least privilege.
This can be done by adding security contexts to the pods in the helm-chart.
When I use a restricted security policy if fails with:

[code]

[2020-11-26 01:20] #2080 closed

[2020-11-26 02:53] dybxin commented on #2482
@youngbupark  Hi, I'm sorry. I don't understand where I am going to get actorID? and i can't activating an actor via http or grpc endpoints?  and i can only pass the example likely [.NET SDK Demo](https://github.com/dapr/dotnet-sdk/blob/6c271262231c41b21f3ca866eb0d55f7ce8b7dbc/src/Dapr.Actors/Runtime/ActorManager.cs#L199) to activing an actor?

[2020-11-26 03:24] ShaileshSurya commented on #2490
@yaron2  Sure. I will check and come up with questions and doubt if i have any.

[2020-11-26 06:46] malotho commented on #2490
Can we please verify if the TRACE and CONNECT also works?
________________________________
From: Shailesh <notifications@github.com>
Sent: Thursday, November 26, 2020 5:25:10 AM
To: dapr/dapr <dapr@noreply.github.com>
Cc: Nkosinathi Sangweni <mnatiris@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [dapr/dapr] Head method not allowed by Dapr (#2490)

@yaron2<https://github.com/yaron2>

[2020-11-26 10:07] amolenk opened #2494 "Cors support broken for Kubernetes"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

We're porting eShopOnContainers to Dapr. The front-end is implemented as a SPA application that runs on port 5014. The front-end sends requests to an Api Gateway (implemented using Envoy) that routes the incoming requests to the back-end microservices. The Api Gateway runs on port 5202. We've added a Dapr sidecar to the Api Gatew

[2020-11-26 13:00] cvictory opened #2495 "PublishRequest and SubscriberRequest need metadata"
## In what area(s)?

 /area runtime

## Describe the feature
When publish a message, we should transfer metadata from sdk to Dapr.   And I found it is defined in the java-sdk, but it is not used.
[code]
When subscribe the message, we should also need the metadata too.

## Release Note
In Component-contrib repository, we should add metadata into PublishRequest and SubscribeRequest.
In Dapr module,

[2020-11-26 14:07] youngbupark commented on #2482
Activation/deactivation are managed by Dapr actor runtime. You do not need to care about it. Activation happens when you first call actor via method invocation. Please see this api reference - https://github.com/dapr/docs/blob/master/daprdocs/content/en/reference/api/actors_api.md#invoke-actor-method

dotnet actor sdk also provides crafted api for the users. Here is the example to invoke actors in

[2020-11-26 14:08] jjcollinge commented on #2495
Related: https://github.com/dapr/dapr/issues/2379

[2020-11-26 15:09] yaron2 commented on #2379
Can you elaborate on how a separate API looks like? For consistency, other Dapr APIs extract metadata from the request

[2020-11-26 16:03] cvictory commented on #2495
I think we should also add metadata into PublishRequest. So I did some extra modification.

You can check it.

[2020-11-26 19:15] slayer opened #2497 "Ruby SDK"
/area runtime

It will be great to have Ruby SDK

[2020-11-26 19:22] yaron2 commented on #2497
/cc @msfussell

[2020-11-27 02:17] cvictory commented on #2495
After this modification, we should also update the pb and compile it in the SDK.

[2020-11-27 06:09] skyao opened #2498 "Add metadata in state get and bulk get operation"
## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior

In get state and bulk get states opeations, metadata is required in both request and response to carry extended information.

## Actual Behavior

|                                    | dapr proto                                             | java-sdk                                    | Go-sdk

[2020-11-27 06:20] jigargandhi commented on #2437
So as per discussion, I will add critical flag to component specification and report non ok status code if any critical components fail to initialize.

[2020-11-27 06:27] skyao commented on #2368
@yaron2 Please help to review the PR for Plan B.

We still have some work to do:

1. add bulk delete state in sdk and dapr proto
2. In get state and get bulk state, metadata is missing some whrere:  see https://github.com/dapr/dapr/issues/2498

In fact we are blocked now.

[2020-11-27 07:10] yaron2 commented on #2368
The components-contrib PR is now merged.

[2020-11-27 09:05] trondhindenes commented on #2437
@jigargandhi yup - and the default should be "true" for that flag, so non-critical components have to be explicitly declared.

[2020-11-28 01:51] qqeasonchen opened #2500 "Run dapr as gateway mode"
## In what area(s)?

 /area runtime

## Describe the feature

Dapr can run as gateway is popular in some scenarios, can we consider about that? thx.

## Release Note

RELEASE NOTE:

[2020-11-28 01:55] qqeasonchen opened #2501 "Timeout not work in service invoke"
## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior

Whatever the timeout is setted, an invoking will expire in 10 secondes, seems not work.

## Actual Behavior

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2020-11-28 01:57] yaron2 commented on #2501
Are you using an SDK or the HTTP/gRPC API?

[2020-11-28 05:44] dybxin opened #2502 "access control list configuration for service invocation invalid"
## Ask your question here

The dapr i using version 1.0.0-rc.1.

The scenario show how to deny access to the add method from the nodeapp2, where the nodeapp2 is in the myDomain trust domain and default namespace. The nodeapp1 is in the public trust domain.

desired result: the nodeapp2 can not access nodeapp1's add method.

actual results: the nodeapp2 can access nodeapp1's add method.

The fllowi

[2020-11-28 05:52] dybxin commented on #2502
In addition, i using [the scenario 1 in the document](https://docs.dapr.io/operations/configuration/invoke-allowlist/) to testing. the accessControl also invalid, if is my understanding of the document wrong?

[2020-11-28 10:25] yittg commented on #2379
@yaron2 it's ok to be consistent with other API

[2020-11-29 08:37] deaquino opened #2503 "Geek+ Partners Section"
The main Geek+ website is not secure. The certificate expired >4 months ago.

[2020-11-29 10:16] keranbingaa opened #2504 "the invocation chain is break when using service invoke"
## In what area(s)?

 /area runtime

## Ask your question here
When I use server invocation in dapr,I find the invocation chain is break(I use zipkin as trace tool).
For example,client A calls server B,and B calls C in the server implement. The invocation chain should be A ->B->C, but there will be two chains in zipkin:A->B and B->C.
I tried go sdk and java sdk, and the result is same. Must I deli

[2020-11-30 06:30] msfussell opened #2505 "Review Grafana dashboard and fix the inconsistency"
The dashboard is supposed to show the placement service like this https://github.com/dapr/dapr/blob/master/img/system-service-dashboard.png

This is what you see
![image](https://user-images.githubusercontent.com/11199644/100576122-4b027b80-3292-11eb-9d85-968f1672e0dc.png)

[2020-11-30 17:02] skyao commented on #2498
@yaron2 Help to review this proposal.

[2020-11-30 18:33] davidkarlsen opened #2508 "feat: Allow for defining env-vars for sidecar"
I need to define env-vars in the sidecar runtime-env in order to make SQS calls go via a http-proxy.
This is not possible today.
it could have syntax of dapr.io/env/varname=value and be placed in the annotations.

/area runtime

## Describe the feature
Allows for controlling env-vars of the sidecar.

## Release Note

Implement + update docs.

[2020-11-30 18:40] youngbupark commented on #2505
@msfussell I would like to change the title to "Review and fix Grafana dashboard"

[2020-11-30 21:10] pzou19741 opened #2509 "Example step cert does not work https://docs.dapr.io/operations/security/mtls/"
## In what area(s)?

I tried to follow https://docs.dapr.io/operations/security/mtls/   "Bringing your own certificates"
step certificate create cluster.local ca.crt ca.key --profile root-ca --no-password --insecure
step certificate create cluster.local issuer.crt issuer.key --ca ca.crt --ca-key ca.key --profile intermediate-ca --not-after 8760h --no-password --insecure

I ran into SSLHandshakeExc

[2020-11-30 21:13] pzou19741 opened #2510 "Require example of openssl generated cert for bring your own cert"
## In what area(s)?

I'm not able to make bring your own cert working. we use openssl to generate the cert.

Here are the steps:
openssl genrsa -out ca.key 2048
openssl req -x509 -new -nodes -key ${tmp_dir}/ca.key -sha256 -days 365 -out ca.crt -config ca.cnf -extensions v3_ca -subj /CN=Archean_CA

step certificate create cluster.local issuer.crt issuer.key --ca ca.crt --ca-key ca.key --profile int

[2020-11-30 21:18] pzou19741 opened #2511 "Dapr helm chart deployment should be failed if cert verification failed."
## In what area(s)?

I put "invalidate" cert but Dapr helm chart deployment success. I even can inject dapr sidecar for application deployment.
I thought it work until I found SSLHandleshake error from daprd container log.  It is not that easy to find because after that there are a lot of logging indicate success.

Cert validate failure should failed the deployment. It should fail fast.

## Descri

[2020-11-30 21:20] davidkarlsen opened #2512 "Add required roles to helm-chart"
/area runtime
/area operator
/area docs

## What version of Dapr?

1.0.0-rc.1

## Expected Behavior

Dapr operator should be fully functional after being installed with helm w/o additional actions needed.
This both serves as ease-of-use and also documents what permissions are in fact needed.

## Actual Behavior

operator will fail because of missing roles/permissions.

## Steps to Reproduce the Pr

[2020-11-30 21:32] pzou19741 commented on #2511
I use openssl to generated certs here.

openssl genrsa -out ca.key 2048
openssl req -x509 -new -nodes -key ${tmp_dir}/ca.key -sha256 -days 365 -out ca.crt -config ca.cnf -extensions v3_ca -subj /CN=Archean_CA

step certificate create [my k8s cluster] issuer.crt issuer.key --ca ca.crt --ca-key ca.key --profile intermediate-ca --not-after 8760h --no-password --insecure

[2020-11-30 21:34] pzou19741 commented on #2511
here are the error I found
time="2020-11-23T06:25:10.734550146Z" level=fatal msg="failed to start internal gRPC server: error from authenticator CreateSignedWorkloadCert: error from sentry SignCertificate: rpc error: code = Unavailable desc = connection error: desc = \"transport: authentication handshake failed: x509: too many intermediates for path length constraint\"" app_id=dashboard instance=d

[2020-11-30 23:13] withinboredom opened #2513 "Have Actor reminder and triggers support ISO 8601 intervals standard format"
## In what area(s)?

/area runtime
/area operator

## Describe the feature

Can we consider [ISO-8601 intervals](https://en.wikipedia.org/wiki/ISO_8601#Time_intervals)? Currently, intervals are very verbose and not very expressive. For example, if I want a reminder to be triggered every 10 minutes until next Friday at 5 pm UTC, I must do a bunch of math, ensure I stop my reminder after that time a

[2020-11-30 23:19] youngbupark commented on #2513
@yaron2

[2020-12-01 00:44] wcs1only commented on #2323
Fix is out for the pubsub issue. As for direct Invoke, Mark and I were unable to reproduce, so this may have been fixed already as part of another effort.

[2020-12-01 01:53] youngbupark commented on #2511
Just to be clear.

[Bring your own cert](https://github.com/dapr/docs/blob/a234e10fa34ea86192d0f2f455892f6d004186de/daprdocs/content/en/operations/security/mtls.md#bringing-your-own-certificates) instruction doesn't work in this scenario. We need to investigate this problem first.

[2020-12-01 08:12] artursouza opened #2515 "Migrate metrics config to Dapr Configuration"
Right now, Dapr enables metrics via helm chart config, injecting "prometheus.io/" annotations in the control plane deployments. Sidecar injector, then propagates the config as parameters to daprd container.

Instead, could this we have a "metrics" configuration in the Configuration CRD instead? This would be similar to how we enable tracing and mTLS.

[2020-12-01 08:29] yaron2 commented on #2494
Thanks for raising this. When Cors isn't enabled, Dapr does not reject any call, so it seems weird that this is what's causing the issue.

[2020-12-01 11:14] amolenk commented on #2494
The problem lies with the preflight request. When I don't specify `"-allowed-origins", "http://localhost:5104,http://localhost:5107"`, the Dapr sidecar gives the following response to the preflight request:
[code]

This is not enough to pass the access control check in the browser, because it doesn't contain an `Access-Control-Allow-Origin` header. Therefore, the browser blocks the actual request.

[2020-12-01 11:32] javageek79 opened #2517 "PartitionKey for cosmosDB state-store and actors not working"
## In what area(s)?

/area runtime

## What version of Dapr?

0.10.0 java sdk
1.0.0-rc.1 runtime

## Expected Behavior

Reminders and timers are getting created without errors in cosmosDB

## Actual Behavior
When calling
[code]
The sidecar failed to call cosomosDB successfully. (Same for timers)

[dapr_rt_error_reminder.log](https://github.com/dapr/dapr/files/5622162/dapr_rt_error_reminder.log)
[c

[2020-12-01 12:42] cvictory opened #2518 "Need to support transport metadata in http api"
## In what area(s)?

 /area runtime

## Describe the feature

In some situation, the metadata cannot be transported to sdk in http api.

For example the response of output binding have metadata, but it don't transport to app.

## Release Note

RELEASE NOTE:

[2020-12-01 16:52] javageek79 opened #2520 "error connecting to placement service"
## In what area(s)?

/area runtime

/area placement

## What version of Dapr?

1.0.0.rc-1

## Expected Behavior
using azure redis cache service as an actor statestore should work on AKS.

## Actual Behavior
Sidecar continuosly priniting to debug log (~3k within 15min)
[code]

## Steps to Reproduce the Problem
Add redis statestore
[code]
Azure Cache for Redis - Overview
![image](https://user-images

[2020-12-01 17:04] youngbupark commented on #2515
`prometheus.io/*` is the annotation defined by prometheus itself, not by Dapr. prometheus discovers metrics port/url by looking at this annotation. Azure monitor also refers this annotation to scrape the metrics - https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-prometheus-integration

[2020-12-01 17:07] youngbupark commented on #2515
We already have metrics configuration in CRD. https://github.com/dapr/docs/blob/a234e10fa34ea86192d0f2f455892f6d004186de/daprdocs/content/en/developing-applications/building-blocks/observability/metrics.md#configuration

[code]

if users set `metrics.enabled` to false, then Dapr sidecar will not emit the metrics.

[2020-12-01 17:14] youngbupark commented on #2520
Seems like runtime cannot connect to placement service because number of resolved addresses is zero.

From 1.0.0-rc.1, we use headless service `dapr-placement-server.dapr-system.svc.cluster.local` for placement server. CoreDNS will resolves this name to the IP address of placement server.

please run this to investigate the issue more.

[code]

[2020-12-01 17:21] youngbupark commented on #2501
@yaron2 I assume that this is because internal gRPC connection. The timeout for the internal gRPC connection is set to inf.
We may have to propagate the user app side timeout to internal gRPC connection and callee's appchannel.

[2020-12-01 17:24] yaron2 commented on #2501
I'm still not sure I understand exactly what the issue here, but based on a Gitter conversation this looks like an SDK issue.
In any case, if a user wants a timeout on any call made to Dapr, they can set this in their userapp code and terminate the request to Dapr. On-going requests will continue until the callee responds or terminates the connection.

[2020-12-01 17:26] youngbupark commented on #2492
Thanks for the suggestion. We already have the tracking issue to switch to nonroot distroless image - https://github.com/dapr/dapr/issues/1551

@artursouza the description mentions only dashboard example. can you try to switch to nonroot distroless image for dashboard first?

cc/ @wcs1only @yaron2 @mchmarny @tcnghia

[2020-12-01 17:28] yaron2 commented on #2508
Hey @davidkarlsen thanks for raising this.

I think `dapr.io/env/varname=value` is reasonable. /cc @artursouza @youngbupark wdyt?

[2020-12-01 17:39] davidkarlsen commented on #2508
Some context from [discord](https://discord.com/channels/778680217417809931/778680217417809934/783046809668288532) - @artursouza seems ok with it.

[2020-12-01 17:48] yaron2 commented on #2462
@juazasan can you please comment here so I can assign this to you? :)

[2020-12-01 17:58] juazasan commented on #2462
@yaron2 Sure. I already added a comment in the issue from the docs repo.

[2020-12-01 18:31] artursouza commented on #2515
Thanks for clarifying this Young Bu. I am closing this issue.

[2020-12-01 18:31] #2515 closed

[2020-12-01 18:45] javageek79 commented on #2520
Hi,

$ kp dapr-system -o wide

NAME                                   READY   STATUS    RESTARTS   AGE    IP           NODE                              NOMINATED NODE   READINESS GATES

dapr-dashboard-dcd7cc8fb-g7qff         1/1     Running   0          19d    10.1.1.6     aks-default-42010746-vmss000001   <none>           <none>

dapr-operator-54795b9d-9ch9d           1/1     Running   16

[2020-12-01 18:50] javageek79 commented on #2520
$ kubectl describe svc -n dapr-system dapr-placement

Name:              dapr-placement

Namespace:         dapr-system

Labels:            <none>

Annotations:       <none>

Selector:          app=dapr-placement

Type:              ClusterIP

IP:                172.16.60.80

Port:              <unset>  80/TCP

TargetPort:        50005/TCP

Endpoints:         10.1.0.226:50005

Session Affinity:  N

[2020-12-01 18:54] youngbupark commented on #2520
Your cluster is still running the older version of placement service. I guess that you didn't follow the upgrade instruction that 1.0.0-rc.1 release note describes.

https://github.com/dapr/dapr/blob/master/docs/release_notes/v1.0.0-rc.1.md#kubernetes

Please follow this upgrade instruction step by step.

[2020-12-01 19:06] javageek79 commented on #2520
We always completely delete dapr before we upgrade with helm to latest version.
So we basically applied, what is written in Starting fresh install on a cluster section under
 https://github.com/dapr/dapr/blob/master/docs/release_notes/v1.0.0-rc.1.md#starting-fresh-install-on-a-cluster

Nevertheless the described result differs in both section.
[cid:image002.png@01D6C81D.60F58C00]

Vs

[cid:image00

[2020-12-01 19:11] youngbupark commented on #2520
If you uninstall the older version of dapr completely, then you do not need to follow the upgrade instruction.

BTW, how did the latest helm chart install older version of placement ?

Let me repro on my clean minikube cluster.

[2020-12-01 19:12] tcnghia opened #2521 "Move Zipkin trace configuration into Configuration"
/area runtime

## Describe the feature
Per proposal in https://github.com/dapr/dapr/issues/2337, we want to extend our Configuration CRD to support the new field `tracing.zipkin.endpointAddress`.

[code]

## Release Note
RELEASE NOTE: **MOVE** Zipkin trace configuration from Zipkin exporter into Dapr core

[2020-12-01 19:15] tcnghia opened #2522 "Move Zipkin exporter code into Dapr core"
/area runtime

## Describe the feature
Per proposal in https://github.com/dapr/dapr/issues/2337 we will move Zipkin trace exporter into Dapr core and deprecate the Zipkin trace exporter component.

[2020-12-01 19:18] javageek79 commented on #2520
Delete Namespace - dapr-system

[cid:image001.png@01D6C81F.19EE0920]

Create Namespace - dapr-system

[cid:image002.png@01D6C81F.19EE0920]

Starting: Helm - Install dapr

[cid:image003.png@01D6C81F.19EE0920]

Von: Young Bu Park <notifications@github.com>
Gesendet: Dienstag, 1. Dezember 2020 20:12
An: dapr/dapr <dapr@noreply.github.com>
Cc: Thomas Kopp <thomas.kopp@bridging-it.de>; Author <author@n

[2020-12-01 19:20] youngbupark commented on #2520
@javageek79 can you please use GitHub UI instead of replying to email? because I do not see any images in your reply.

[2020-12-01 19:22] tcnghia commented on #2337
I've updated the plan with new proposal. TL;DR: we want to keep Zipkin support as the main tracing format before we completely switch to OpenTelemetry. This ensures that most users are not affected, and also reduce the number of work items.

[2020-12-01 19:23] youngbupark commented on #2520
I deployed it to minikube environment by following commands.

[code]

Then I can see the list of pods below:

You should see `dapr-placement-server-0`

[code]

[2020-12-01 19:35] javageek79 commented on #2520
our helm looks like
[code]

[2020-12-01 19:44] javageek79 commented on #2520
can you spot anything obviously wrong in our aproach?

[2020-12-01 20:23] youngbupark commented on #2520
What's the helm commands ? I am pretty sure that you didn't use `--version` tag in your helm install command.

Please do not use `global.tag` property as a version to install dapr. Instead, you need to use `--version` command of your helm install command.

For example, this is the example to install 1.0.0-rc.1 helm chart.

[code]

[2020-12-01 20:29] youngbupark commented on #2520
Please review your release pipeline to ensure that the helm install stop uses `--version` option correctly.

[2020-12-01 20:29] tcnghia opened #2523 "Add a validation webhook to validate Dapr resources before applying to K8s cluster"
## In what area(s)?

/area operator

## Describe the feature
With a [validation webhook](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#what-are-admission-webhooks), resources can be validated before applying to K8s cluster. Invalid resources will be rejected, and error messages will be surfaced sooner to the users, resulting in a faster feedback look and

[2020-12-01 20:31] tcnghia commented on #2523
cc @yaron2 @msfussell

[2020-12-01 20:33] tcnghia commented on #2523
Currently, we already have a webhook (the sidecar injector) so we may be able to reuse the same pod to avoid configuring more pod/certificate. However, if we choose to go down this path we probably want to rename the sidecar injector to avoid confusion.

[2020-12-01 22:33] #2379 closed

[2020-12-01 22:50] #2323 closed

[2020-12-01 23:26] #2462 closed

[2020-12-01 23:45] #2475 closed

[2020-12-01 23:59] yaron2 commented on #2368
Closed via https://github.com/dapr/dapr/pull/2467

[2020-12-01 23:59] #2368 closed

[2020-12-02 00:14] msfussell commented on #2462
https://github.com/dapr/docs/issues/825

[2020-12-02 00:42] mchmarny opened #2526 "Access control configuration invalid w/o at least 1 policy"
The following config doesn't seem to be currently supported in Dapr due to lack of at least one policy:

[code]

In case where user wants this app to be wide open but all the downstream apps in this trust domain to be accessed only by this application (common microservice pattern), it would be good to enable this config to work so they make this app a part of the `my-trust-domain` trust domain.

[2020-12-02 01:12] yaron2 commented on #2526
/cc @vinayada1

[2020-12-02 02:27] mukundansundar opened #2527 "Add Metadata gRPC API"
## In what area(s)?

/area runtime

## Describe the proposal

Add Metadata gRPC API

Similar to the [metadata HTTP API](https://github.com/dapr/dapr/blob/master/pkg/http/api.go#L988-L1028), add a metadata gRPC call also.

[2020-12-02 02:51] skyao commented on #2368
@yaron2 In this issue, we still have one part to do: bulk delete state.

Operation | Go-sdk | Daprd service | Store Interface
-- | -- | -- | --
Delete | DeleteState() | DeleteState() | Delete()
Bulk Delete | +DeleteBulkState() | +DeleteBulkState() | BulkDelete()

[2020-12-02 04:53] artursouza commented on #2517
@javageek79  Can you paste the Collection's settings here? This is an example of one that is correctly configured with `/partitionKey`.

![image](https://user-images.githubusercontent.com/130954/100829876-3f8c8d00-3417-11eb-8695-cced0771d86e.png)

[2020-12-02 05:08] artursouza commented on #2508
My name is Artur Souza and I approve this issue :)

[2020-12-02 05:09] artursouza commented on #2500
Can you elaborate? What does gateway mean here?

[2020-12-02 07:40] javageek79 commented on #2520
Thanks for the hint. I double checked with our ops.
Actually we do use `--version` in our command, as you can see our statement below.
[code]

Apart from that, if wrong tag was used or latest, shouldnt't then also be the numbers in the logs of `dapr-system`pods be different?

I've checked the operator logs. There e.g. only version `1.0.0-rc.1` shows up.

[2020-12-02 07:43] amolenk commented on #2494
@yaron2 I fixed our solution by moving the Cors handling to the Api Gateway (Envoy proxy), as that's a much better place to handle it anyway. Envoy then routes the requests to a Dapr sidecar which now doesn't need the `-allowed-origins` flag anymore.

I still think it's better to have parity between the flags you can specify manually and the K8s annotations. However, now that I've moved Cors handl

[2020-12-02 07:56] javageek79 commented on #2517
![image](https://user-images.githubusercontent.com/3714921/100844445-2c5fd880-347c-11eb-9415-f6d1f9cb47ca.png)

[2020-12-02 11:56] mchmarny commented on #2526
Here is the specific error

[code]

[2020-12-02 15:45] youngbupark commented on #2520
You changed `global.tag` value to 1.0.0-rc.1. So it will install 1.0.0-rc.1 docker image. that's why you can see 1.0.0-rc.1 version in the container log even if you use wrong version of helmchart.

I am pretty sure that `$(dapr_helm_chart_version)` value is not `1.0.0-rc.1`. please double-check this variable in CI.

1.0.0-rc.1 helm chart
https://github.com/dapr/dapr/blob/b55e66307cfe34c735cf96079c

[2020-12-02 16:01] youngbupark commented on #2520
@javageek79 Can you use discord - https://aka.ms/dapr-discord  ? Please IM to me (`youngbupark`) in discord.

[2020-12-02 17:00] youngbupark commented on #2520
[code]

[2020-12-02 17:34] yaron2 commented on #2517
@javageek79 I see what your issue is. You are using the MongoDB version of CosmosDB, and not the SQL API version. The MongoDB Cosmos API has a shard key which is not compatible with the partition key used by the SQL API.

[2020-12-02 17:57] javageek79 commented on #2517
@yaron2, so, does this mean, that with our setup, we couldn't use cosmosDB as a statestore?

[2020-12-02 17:59] yaron2 commented on #2517
It means you need to create a CosmosDB with the SQL API version.

[2020-12-02 18:04] javageek79 commented on #2517
this you mean?
![image](https://user-images.githubusercontent.com/3714921/100912683-17616480-34d1-11eb-816b-f88b20a09282.png)

[2020-12-02 18:06] yaron2 commented on #2517
Correct

[2020-12-02 18:15] yaron2 opened #2528 "Register DynamoDB state store"
DynamoDB state store exists in components-contrib, but not registered in Dapr: https://github.com/dapr/dapr/blob/a67a76d468c748c76122b04f28d8181a1170249c/cmd/daprd/main.go#L159

[2020-12-02 18:21] youngbupark commented on #2520
@javageek79 I am closing this. If you need more help, please reopen this issue.

[2020-12-02 18:21] #2520 closed

[2020-12-02 18:58] artursouza commented on #2492
Let me move this issue to dashboard.

[2020-12-02 19:16] artursouza commented on #2517
OK. I am closing this issue. @javageek79 Please, reopen if issue continues after the change proposed by @yaron2.

[2020-12-02 19:16] #2517 closed

[2020-12-02 20:40] eNeRGy164 opened #2529 "Make development documentation complete for newcomers"
## In what area(s)?

/area docs

## Describe the proposal

Update the development documentation on _Setup environment_, _Developing Dapr_ and _Developing components_ to make it consistent and correct.

When I started adding a new component, my starting point was [developing-component.md](https://github.com/dapr/components-contrib/blob/master/docs/developing-component.md), which directs to [setup-d

[2020-12-03 03:10] vinayada1 commented on #2526
@yaron2 - I can pick this one up.

[2020-12-03 06:45] qqeasonchen commented on #2500
@artursouza Just like an api gateway, not only a sidecar.

[2020-12-03 06:50] cvictory opened #2531 "Can we use request/streaming way to implement input binding or sub message"
Now if we want to implement the input binding or sub message, we should :
1.start http or grpc server in app
2.the dapr start to input binding or sub message.
3.If some message comes, the dapr should invoke the app by appchannel of grpc/http

In this way we should know the app ip or just use local ip, refer https://github.com/dapr/dapr/pull/2330 .

Maybe it can work in this way:
1.app and dapr sta

[2020-12-03 06:55] wqliang commented on #2501
using dapr Java SDK and HTTP api

[2020-12-03 15:04] mchmarny commented on #2526
Thanks @vinayada1. Let me know if you need something tested. The [hardened repo](https://github.com/mchmarny/dapr-demos/tree/master/hardened) has a bunch of tests we can use

[2020-12-03 17:44] halspang commented on #2205
This test scenario is already covered by the existing service invocation tests. The http to grpc tests involve two different services that are from different images and are thus making cross container calls.

https://github.com/dapr/dapr/blob/master/tests/e2e/service_invocation/service_invocation_test.go#L53

[2020-12-03 17:51] #2205 closed

[2020-12-03 22:30] wcs1only opened #2533 "Goroutine leak in grpc connection retry."
## In what area(s)?

/area runtime

## Expected Behavior

## Actual Behavior

On a connection failed, we leak a grpc context. This was exposed by the longhaul tests.

## Steps to Reproduce the Problem

Retry an invoke to a down service in a loop.

## Release Note

RELEASE NOTE: **FIX** Grpc context leak on failed connection.

[2020-12-04 00:11] #1759 closed

[2020-12-04 19:38] #2521 closed

[2020-12-05 10:57] shubham1172 commented on #2528
I would like to take this.

[2020-12-05 11:26] trondhindenes commented on #2528
Fixes #2469

[2020-12-05 14:23] yaron2 commented on #2469
/cc @shubham

[2020-12-05 15:12] #2528 closed

[2020-12-05 15:29] shubham1172 commented on #2469
Thanks, @yaron2.

[2020-12-05 23:21] withinboredom opened #2540 "Cloud Events Don't Follow Spec?"
## In what area(s)?

/area runtime

## What version of Dapr?

1.0.0-rc.1

## Expected Behavior

I'd expect Dapr to generate a compliant Cloud Event.

## Actual Behavior

A Cloud Event's `source` [MUST be a non-empty URI-Reference](https://github.com/cloudevents/spec/blob/v1.0/spec.md#source-1)(emphasis theirs) following [RFC 3986 4.1](https://tools.ietf.org/html/rfc3986#section-4.1). However, the

[2020-12-05 23:45] withinboredom commented on #2540
Ah, I totally missed the example below

Let's consider this an application-specific identifier and I'll close this :)

[2020-12-05 23:45] #2540 closed

[2020-12-05 23:49] yaron2 commented on #2540
That's what it is for Dapr :)

[2020-12-06 19:10] pzou19741 commented on #2328
any update?

[2020-12-07 00:45] davidkarlsen commented on #2508
Any guess which release it will go into?

[2020-12-07 10:42] trondhindenes commented on #2468
just a fyi: this confused me again, and I just spent an hour troubleshooting cloud access permissions (which I thought was the problem).

[2020-12-07 17:25] youngbupark commented on #1769
This is the different issue. reopening now.

[2020-12-07 17:32] #2505 closed

[2020-12-07 18:40] yaron2 commented on #2490
@ShaileshSurya any update on this? if you can't complete it this week, please let me know so we can assign someone else.

Essentially, this line: https://github.com/dapr/dapr/blob/ca4e4374aac0f9d9cc85f077452db039fab06683/pkg/http/api.go#L219

Should turn into

[code]

[2020-12-07 20:12] halspang commented on #1812
This may already be done, @vinayada1 or were there more cases you wanted?

https://github.com/dapr/dapr/blob/master/tests/e2e/actor_invocation/actor_invocation_test.go#L168

[2020-12-07 20:16] #2469 closed

[2020-12-08 01:43] moluzhui opened #2546 "Pubsub-based message transfer exceptions under kubernetes"
## In what area(s)?

## What version of Dapr?

dapr --version
CLI version: 0.11.0
Runtime version: n/a

## Expected Behavior

A single Pod service should receive pubsub messages for **a specific number of times**

## Actual Behavior

With the kubernetes version of dapr, a service with multiple replicas pod sends  message to another single pod service through `the pubsub plugin`, **repeatedly and i

[2020-12-08 02:42] skyao commented on #2498
Done

[2020-12-08 02:42] #2498 closed

[2020-12-08 03:32] dybxin commented on #2482
@youngbupark thanks a lot. i execute the following application.

[code]

[code]

use postman
![Screenshot from 2020-12-08 11-29-48](https://user-images.githubusercontent.com/14888437/101436260-c4603500-3948-11eb-8d44-b54fa581a8cd.png)

find error:

[code]

the dashboard:
![Screenshot from 2020-12-08 11-31-44](https://user-images.githubusercontent.com/14888437/101436357-fbcee180-3948-11eb-9b5e-5500

[2020-12-08 03:49] dybxin commented on #2502
i'm sorry, Has anyone noticed the problem?

[2020-12-08 05:25] pzou19741 commented on #2328
I'm not able to make keycloak integration works.
I modified  https://github.com/dapr/quickstarts/tree/master/middleware  echoapp.

**Here is component yaml:**
[code]
**configuration yaml**

[code]

deployment yaml

[code]
I added console.log for debug   echoapp/app.js

[code]

[2020-12-08 06:26] pzou19741 commented on #2328
I'm able to get Access Token via postman by   clientId, clientSecret, scope, authurl, tokenurl which defined on component yaml.
But when I
 curl http://localhost:3500/v1.0/invoke/echoapp.default/method/echo?test
I got response:
Access token: undefined Text: undefined

[2020-12-08 06:30] pzou19741 commented on #2509
I close this one.  It just logged errors but after retry it worked even though invalid cert has exact same error as well.

time="2020-12-08T02:43:35.288916284Z" level=error msg="error from operator stream: rpc error: code = Unavailable desc = connection error: desc = \"transport: authentication handshake failed: x509: certificate relies on legacy Common Name field, use SANs or temporarily enable C

[2020-12-08 07:04] pzou19741 commented on #2510
After dump default dapr cert

kubectl get secret dapr-trust-bundle -n dapr-system   -o json | jq '.data | map_values(@base64d)'
openssl x509 -noout -text -in ca.crt
openssl x509 -noout -text -in issuer.crt
for cert detail .
I found default cert use Signature Algorithm: ecdsa-with-SHA256.
I checked dapr code it only support rsa and esdsa .  https://github.com/dapr/dapr/blob/master/pkg/sentry/certs/

[2020-12-08 07:26] dybxin opened #2548 "error invoke actor method"
## What version of Dapr?

## Expected Behavior

expected call actor method success.

## Actual Behavior

expected call actor method fail.

## Steps to Reproduce the Problem

1. app.js
[code]

2. use postman call api.(actorID: 1000/1001/1002/1003)
![Screenshot from 2020-12-08 15-23-52](https://user-images.githubusercontent.com/14888437/101452903-6e4fb980-3969-11eb-9030-61c988ba7324.png)

3. logs
[c

[2020-12-08 07:27] youngbupark commented on #2482
You didn't implement deactivation and invocation endpoint on your application.

Please see this - https://docs.dapr.io/reference/api/actors_api/#http-request-10

This python-SDK implementation will give you more hint to implement actor appcallback layer. - https://github.com/dapr/python-sdk/blob/3570ec3c1db1a0cda93a8632c51a3a58d25bea97/ext/dapr-ext-fastapi/dapr/ext/fastapi/actor.py#L76

[2020-12-08 08:19] dybxin commented on #2482
@youngbupark ok,thanks a lot.

[2020-12-08 08:21] #2548 closed

[2020-12-08 09:06] moluzhui commented on #2546
The Clientid Conflict issue occurred when I checked the EMQX logs today. Is there any one ID shared by all MQTT clients in the duplicate? If so, is there any configuration that makes Clientid not fixed?

[code]

[2020-12-08 15:36] PeterGerrard opened #2549 "Allow configuring the Mutating Webhook Failure Policy"
## In what area(s)?

/area operator

## Describe the feature
Currently the Mutating webhook used to inject the dapr sidecar has a failure policy of ignore. We want to be able to fail the webhook if there are any issues

## Release Note

RELEASE NOTE: **ADD** configuration for webhook failure policy in sidecar injector helm chart

[2020-12-08 15:38] yaron2 commented on #2549
Would you be interested in taking this up?

[2020-12-08 15:39] yaron2 commented on #2490
@sayboras are you available to take this?

[2020-12-08 15:40] PeterGerrard commented on #2549
Yup, was about to start doing that

[2020-12-08 19:27] mchmarny commented on #2510
@yaron2, do we support openssl for bring your own certs?

[2020-12-08 19:28] yaron2 commented on #2510
Yes, but the instructions need a change because of our recent SPIFFE support and a breaking change in Go 1.15 for handling certificates.

[2020-12-08 19:33] mchmarny commented on #2328
You will need to provide the missing header parameters in curl like you do in Postman (client_id and client_password) using HTTP Basic Authorization.

[2020-12-08 20:28] artursouza opened #2551 "Dapr returns escaped text in error message"
## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior

Error messages returned in HTTP API JSON response should not be HTTP escaped.

"ERR_STATE_STORE_NOT_FOUND: state store unknown state store is not found"

## Actual Behavior

Error message is HTTP escaped.

"ERR_STATE_STORE_NOT_FOUND: state store unknown%20state%20store is not found"

## Steps to Reproduce the Probl

[2020-12-08 21:58] pzou19741 commented on #2328
@mchmarny  Thank you. Not sure if I understood correctly.  https://github.com/dapr/quickstarts/tree/master/middleware is oauth for google api.  I put all oauth required configuration on CRD component.    Also Step 5. only require put http://dummy.com/v1.0/invoke/echoapp/method/echo?text=hello on the browser..It did work for me for example.                    For Keycloak oauth, we are running Keyc

[2020-12-08 22:54] #2533 closed

[2020-12-09 00:05] #1767 closed

[2020-12-09 00:11] vinayada1 commented on #2502
I am taking a look.

[2020-12-09 14:38] javageek79 opened #2554 "Actor Reminder fires only once after restart"
## In what area(s)?

/area runtime

/area placement

## What version of Dapr?

1.0.0-rc.1

## Expected Behavior
After a pod/sidecar restart reminders have been restored and are getting fired according to their duration and period settings.

## Actual Behavior

after a sidecar restart, the `receiveReminder()` method is only called once per persisted reminder. Subsequent tries produces error log ent

[2020-12-09 19:03] #2207 closed

[2020-12-09 20:49] mchmarny commented on #2535
This is mainly terminology... however the SDK method/parameters are not "the API". I've renamed the Go SDK issue but I see we still refer to the APIs in .NET.

[2020-12-10 00:13] yaron2 commented on #1790
https://daprperf.azurewebsites.net/

[2020-12-10 00:13] #1790 closed

[2020-12-10 00:15] yaron2 commented on #2490
@yittg Are you free to take this up? it's a rather small change

[2020-12-10 00:56] pzou19741 commented on #2328
@mchmarny  There is no missing parameters here.  I used same keycloak oauth parameters via post man and I'm able to get Access Token.    I thought Dapr will load all the configurations defined on component.yaml while invoking  "curl http://localhost:3500/v1.0/invoke/echoapp.default/method/echo?test"

[2020-12-10 01:29] mchmarny commented on #2328
So hold on, the same parameters you use in Postman do not work in curl? That has to be client side issue as it all looks the same on the server side.

[2020-12-10 02:37] artursouza commented on #2554
@javageek79 Thanks for reporting this. I've written an integration test testing the restart of the sidecar and the reminder continues to work. This issue seems to be related to something else. As per the logs pasted above, the issue happens after placement table is updated:
[code]
It seems that the given actor id got moved to another instance but the reminder kept firing. Can you check if the remi

[2020-12-10 03:49] #2352 closed

[2020-12-10 07:23] javageek79 commented on #2554
Hi @artursouza, as I took the logs from my local system, instance was the same after restart. On k8s, behaviour is the same. After restart, reminder is triggered and executed only once. The secon try produces the decribed error.

[2020-12-10 13:07] brunocascio commented on #635
Hey folks,

Is there any implementation of Dapr over swarm?

@behoyh Did you finally use Dapr with Swarm?

[2020-12-10 17:20] yaron2 opened #2557 "Fix validation test for empty chars"
The validation package test that currently tests for empty characters doesn't have empty characters in the text.

[2020-12-10 17:22] yaron2 commented on #2557
Hi @1046102779 can you please comment here so I can assign this issue to you? it's related to the PR you opened.

[2020-12-10 17:42] #2557 closed

[2020-12-10 18:00] #2549 closed

[2020-12-10 18:26] ksivamuthu commented on #2490
Hi @yaron2 I can work on it. Please assign it to me.

Couple of questions / tasks on what expected in this issue:

1. Is it only for DirectMessaging Endpoint? or including other endpoints?
2. Test the HEAD endpoint returns 200 status code and the headers (without the body)
3. There is a question on TRACE, CONNECT support. I assume, that's not needed to address in this issue. If it's required, we c

[2020-12-10 18:46] yaron2 commented on #2490
1. Only for DirectMessaging endpoint
2/3: Look at my earlier comment, we need to use a Wildcard and then all methods will be supported including TRACE and CONNECT.

[2020-12-10 19:26] juazasan commented on #2551
@artursouza Happy to try to get this fixed but to be honest I am having some difficulties to reproduce it.

For instance, if I run dapr locally and try this to an unknown state store:
 curl "http://localhost:3500/v1.0/state/unknown state store/order"
Then I get this: {"errorCode":"ERR_STATE_STORE_NOT_FOUND","message":"state store unknown state store is not found"}%

The only way I get the escape c

[2020-12-10 19:38] #2522 closed

[2020-12-10 22:11] tcnghia opened #2563 "Coverage of pkg/actors/internal/placement.go randomly fluctuate"
## In what area(s)?

/area test-and-release

## What version of Dapr?

HEAD

## Expected Behavior

Test coverage of pkg/actors/internal/placement.go is stable across run.

## Actual Behavior

Coverage changes between runs.

Not only this causes incorrect coverage reporting, this _may_ allow a bug to go in some times and cause flakiness after.

## Steps to Reproduce the Problem

Check our pull requ

[2020-12-10 22:12] pzou19741 commented on #2328
@mchmarny I put the same list of parameters to component.yaml (configuration)  CRD.   I do not think I need to add same parameters to header  while invoke  curl http://localhost:3500/v1.0/invoke/echoapp.default/method/echo?test

https://github.com/dapr/quickstarts/tree/master/middleware -> Diagram displayed.  Dapr OauthMiddleware will get from configuration and then talk to Oauth Server then push

[2020-12-10 22:16] tcnghia opened #2564 "Coverage of pkg/placement/membership.go randomly fluctuate"
## In what area(s)?

/area test-and-release

## What version of Dapr?

HEAD
## Expected Behavior

Test coverage of pkg/placement/membership.go is stable across runs.

## Actual Behavior

Coverage changes between runs.

Not only this causes incorrect coverage reporting, this may allow a bug to go in some times and cause flakiness after.

## Steps to Reproduce the Problem
Check our pull requests to

[2020-12-10 22:17] tcnghia commented on #2563
This bug may be related to https://github.com/dapr/dapr/issues/2564, since we often see a correlation when one file gets increased coverage, the other sees a reduction. It is possible that these two code location gets covered in mutually exclusive scenarios.

[2020-12-10 22:22] tcnghia commented on #2564
cc @artursouza @wcs1only

[2020-12-10 22:22] tcnghia commented on #2563
cc @artursouza @wcs1only

[2020-12-10 22:24] #2490 closed

[2020-12-10 22:24] yaron2 commented on #2490
Thanks @ksivamuthu!

[2020-12-10 22:43] mchmarny commented on #2328
/cc @yaron2 @mukundansundar

[2020-12-11 00:21] yaron2 commented on #2495
Closed by #2496

[2020-12-11 00:21] #2495 closed

[2020-12-11 09:12] dybxin opened #2567 "prometheus--targets--state--down"
## Ask your question here

- prometheus.yml

[code]

- docker ps
![Screenshot from 2020-12-11 17-10-14](https://user-images.githubusercontent.com/14888437/101884522-cb4ea800-3bd3-11eb-89f9-45be85799b63.png)

- Run as Container

[code]
- prometheus
![Screenshot from 2020-12-11 17-09-27](https://user-images.githubusercontent.com/14888437/101884445-a9edbc00-3bd3-11eb-88e1-bcc1d23aa8e3.png)

[2020-12-12 02:08] rrylee opened #2571 "invoke service not support route '/'"
## In what area(s)?

## What version of Dapr?

1.0.0-rc.1

## Expected Behavior

my service have route '/'，dapr invoke service can call '/' method

## Actual Behavior

dapr will return ERR_DIRECT_INVOKE error

## Steps to Reproduce the Problem

1. `dapr run --app-id=my-service` a http service, http mux handler '/' route.

2. use go-sdk invoke my-service

[code]

## Release Note

RELEASE NOTE: FIX

[2020-12-12 09:02] jjcollinge commented on #1617
@msfussell sorry for the delay in getting back to you. Adding the OPA and OAuth2 client credentials has definitely closed the gap on this issue. However, there are a few items that I still believe we need to at least discuss before 1.0.
- HTTP Middleware on the Callee side. You can then protect your API as the API host not as the API client.
- HTTP Middleware selectors for applying middleware to s

[2020-12-12 13:36] rrylee opened #2572 "invoke service not parse query in url"
## What version of Dapr?

## Expected Behavior

[code]

in go-sdk has no method to set querystring, so just add query in method。but dapr can not parse this.

## Actual Behavior

daprd will call upstream just localhost:port/method, not contains query.

## Steps to Reproduce the Problem

as above

## Release Note

RELEASE NOTE: **FIX** invoke http method will ignore query in url.

[2020-12-13 17:54] #2526 closed

[2020-12-14 17:08] #2437 closed

[2020-12-14 17:52] wcs1only opened #2575 "v1.0.0 Milestone 2 End Game"
End game Lead: @wcs1only
End game buddy: @artursouza

This is the schedule for the v1.0.0 Milestone 2 release

12/11 11:59 PM PST code freeze for the release
12/14 Preview build date

- [x] Code freeze at 11:59 pm 12/11
- [x] No P0 issues before code freeze.
- [x] E2E and perf tests are passing. (Known perf test failures, deemed not a blocker. Known E2E failure not a blocker).
- [x] Merge master i

[2020-12-14 19:37] vinayada1 commented on #2502
Hi @dybxin,
1. Looks like you are trying to run your app in self-hosted mode. The access control list feature depends on the sentry service to issue the appropriate SPIFFE ids for the apps, without which it will not match the policies. I have updated the steps for self-hosted mode with this PR: https://github.com/dapr/docs/pull/996. Please take a look and let us know if you are still seeing any is

[2020-12-14 19:54] artursouza commented on #2554
OK, the issue could not be reproduce out of master branch but was reproduced with the rc1 release. The reason is because this bug has been fixed already in #2049. Closing as duplicate.

[2020-12-14 19:54] #2554 closed

[2020-12-14 20:20] mukundansundar opened #2576 "Encryption over network channel communication"
## In what area(s)?

/area runtime

## Describe the proposal

As part of enabling over the network communication between a daprd process and the application, https://github.com/dapr/dapr/pull/2330, there also needs to be ability to encrypt the communication between a daprd process and a non-local application.

This is to enable secure communication over network app channel communication. Tracking

[2020-12-14 20:23] wcs1only commented on #2576
How about authentication? Do we have a story around authentication?

[2020-12-14 20:35] mukundansundar commented on #2576
We currently have the capability to provide DAPR_API_TOKEN to authenticate with Dapr to access the Dapr APIs.

[2020-12-14 20:47] #2168 closed

[2020-12-14 20:50] wcs1only commented on #2576
I strongly recommend that we make authentication and encryption required by default when allowing non-localhost daprd.

[2020-12-14 21:23] yaron2 commented on #2572
@rrylee the following call:

[code]

To this app:

[code]

Will output:

[code]

So to me, it looks like Dapr parses query strings correctly.

[2020-12-14 22:00] artursouza commented on #2551
This reproduces the problem:
curl --location --request POST 'http://localhost:3500/v1.0/state/unknown%20state%20store' \
--header 'Content-Type: application/json' \
--data-raw '[]'

%20 is the URL encoding for empty space.

[2020-12-14 22:09] #1972 closed

[2020-12-14 22:26] yaron2 opened #2577 "Update release note generator"
If no release note or N/A comment exist on an issue, fallback to Issue Title.

[2020-12-14 23:01] #2510 closed

[2020-12-14 23:02] wcs1only commented on #2510
Dupe of dapr/docs#1008

[2020-12-14 23:15] #1966 closed

[2020-12-15 02:34] rrylee commented on #2572
close it, i will fix it on go-sdk

[2020-12-15 02:34] #2572 closed

[2020-12-15 03:07] rrylee commented on #2572
@yaron2 here
https://github.com/dapr/go-sdk/pull/127

[2020-12-15 03:53] artursouza opened #2582 "[Proposal] Enable Pub/Sub CloudEvent filtering for subscribers"
## In what area(s)?

 /area runtime

## Describe the feature
Subscribers should be able to filter based on the CloudEvent subject and other properties. See https://github.com/cloudevents/spec

## Release Note

RELEASE NOTE: **ADD** Support for CloudEvent filtering in PubSub's subscriber

[2020-12-15 05:49] pzou19741 commented on #2328
Any update?

[2020-12-15 05:55] yaron2 commented on #2571
Closed with #2568

[2020-12-15 05:55] #2571 closed

[2020-12-15 05:55] yaron2 commented on #2571
Thank you @rrylee

[2020-12-15 06:23] dybxin commented on #2502
Hi, @vinayada1,i follow the steps in docs, [Self-hosted Running Sentry system service](https://v1-rc2.docs.dapr.io/operations/security/mtls/) and [hello world Self-hosted mode](https://v1-rc2.docs.dapr.io/operations/configuration/invoke-allowlist/#tabs-4-linuxmacos).

i run `./daprd --app-id nodeapp1 --dapr-grpc-port 50002 -dapr-http-port 3501 --log-level debug --app-port 3001 --enable-mtls --sent

[2020-12-15 16:37] pzou19741 commented on #2328
I'm able to make progress after deep into https://github.com/dapr/components-contrib/blob/master/middleware/http/ source code.

[2020-12-15 17:24] yaron2 commented on #2328
Can you share the progress you've made?

[2020-12-15 18:07] wcs1only opened #2586 "Daprbot to ensure issues are tagged to a milestone."
## In what area(s)?

## Describe the feature

## Release Note

RELEASE NOTE:

[2020-12-15 18:39] vinayada1 commented on #2502
From the error, looks like port 9090 is already in use. You can use the --metrics-port option to specify a different port to run on

[2020-12-15 19:43] juazasan commented on #2551
/assign

[2020-12-16 06:46] mukundansundar commented on #2586
Potentially every PR that is merged is checked for linked issues, if present, the issues are added to the right project and if the PR has no issue, add the PR to the project. (in review column)

[2020-12-16 07:02] artursouza opened #2588 "Tracing not showing call stack correctly in Java SDK example"
## In what area(s)?

 /area runtime

## What version of Dapr?

1.0.0.rc-2

## Expected Behavior

The call stack should be inside the parent span from sidecar CallLocal() and not parallel to Dapr call.

## Actual Behavior

![image](https://user-images.githubusercontent.com/130954/102315641-53f97b00-3f29-11eb-8a2e-276fae5943dc.png)

## Steps to Reproduce the Problem

Run the tracing sample in Dapr J

[2020-12-16 07:19] dybxin commented on #2502
I have tried it, but the access control list configuration still invalid.

[2020-12-16 14:08] li1234yun opened #2589 "The differences between HTTP server and GRPC server"
## In what area(s)?

## Ask your question here
When my server is http server or grpc server, the differences the dapr call this server. Whether grpc server is better, such as: dapr sidecar will use long-connection with grpc server etc. When I consider the performance, you recommand which type server? Maybe you can document the differences between http server and grpc server.

Thank you very much!

[2020-12-16 19:49] wcs1only opened #2590 "Add AKS test cluster that has appropriately sized instances for perf tests"
## In what area(s)?

## Describe the feature
Our current AKS clusters do not have adequate horsepower for our perf tests. We can:
* Upgrade the existing node pools on our 4 AKS test clusters (more expensive)
or
* Have separate test cluster for perf tests.

The instance type we believe we need is Standard_D8d_v4.

## Release Note

RELEASE NOTE: NOT APPLICABLE

[2020-12-17 00:46] #2588 closed

[2020-12-17 05:56] jigargandhi commented on #2527
@mukundansundar i can help here, please assign this to me.

[2020-12-17 10:59] onatm opened #2595 "dapr-sidecar-injector fails to make requests to tunnelfront service on AKS"
## In what area(s)?

/area runtime

## What version of Dapr?

1.0.0-rc.1

## Expected Behavior

dapr-sidecar-injector should not make any requests to tunnelfront on AKS.

## Actual Behavior

This is a really interesting problem we faced last week. AKS support has a theory that this issue happened because something wasn't ready in the system but they are not sure.

dapr-sidecar-injector makes reque

[2020-12-17 11:02] pzou19741 commented on #2328
Sure.  Due to lack of Dapr logging.  I wrote on my golang and use "golang.org/x/oauth2" suggested by https://github.com/dapr/components-contrib/blob/master/middleware/http/ . I ran golang oauth code at my local and point to local Keycloak .   I  do not find Authorization  appear on request header  but everything worked as expected.    I felt Dapr oauth should be able to Keycloak.

This time I chan

[2020-12-17 18:42] mchmarny opened #2596 "Error during rc2 upgrade on rc1 in HA config"
## In what area(s)?

## What version of Dapr?

Upgrading `1.0.0-rc.1` to `1.0.0-rc.2`

## Expected Behavior

Successful cluster update with exported certs

## Actual Behavior

[code]

## Steps to Reproduce the Problem

Install Dapr `v1.0.0-rc.2` in HA mode and go through the documented steps for Dapr upgrades

[2020-12-17 18:47] artursouza commented on #2596
I had this error when I was upgrading non-ha mode rc1 to ha mode rc2. You cannot move from non-ha mode to ha mode in an upgrade.

[2020-12-17 18:54] mchmarny commented on #2596
Non HA to HA and vice versa will err like this. Adding the HA flag sorted that out. Closing

[code]

[2020-12-17 18:54] #2596 closed

[2020-12-18 14:07] amolenk opened #2600 "GetBulkSecrets fails when access limits are set in config"
## In what area(s)?

/area runtime

## What version of Dapr?

edge

## Expected Behavior

GetBulkSecrets returns all secrets to which the application has access.

## Actual Behavior

If the application doesn't have access to a secret in the store, the GetBulkSecrets operation fails:

[code]

## Steps to Reproduce the Problem

1. Create a local secret store with two secrets:

  secrets.json:
[code]

[2020-12-19 04:10] rrylee commented on #2600
i think returns all secrets to which the application has access is more reasonable.

[2020-12-19 18:22] cmendible commented on #2600
When I developed the Bulk API I respected the way it was implemented in the GetSecret API: https://github.com/dapr/dapr/blob/445972d1c3ca69ad34b7039fd6ca7b5d7c1dd6aa/pkg/http/api.go#L630 but I agree that returning just the secrets to which the app has access is a better solution.

@yaron2 what are your thoughts on this?

[2020-12-19 18:49] RadoslavGatev commented on #2221
@youngbupark for some reason I'm having the issue once again in 1.0.0-rc.3. Can you please check?

[2020-12-20 21:06] RadoslavGatev opened #2602 "Uppercase middleware is not loaded"
## In what area(s)?

 /area runtime

## What version of Dapr?

## Expected Behavior

As per the [middleware documentation](https://docs.dapr.io/concepts/middleware-concept/) state, the component of middleware.http.uppercase is pre-registered. When included in a middleware pipeline it should convert the request body to upper case.

## Actual Behavior

The request body is not converted to upper case

[2020-12-21 13:03] F-Sidney opened #2605 "Install Dapr to an arm64 Kubernetes cluster(k3s v1.19.3) using the Dapr CLI(v1.0.0-rc.3) failed, all pods pending."
## Expected Behavior

Install Dapr to an arm64 Kubernetes cluster(k3s v1.19.3) using the Dapr CLI(v1.0.0-rc.3) should works.

## Actual Behavior

After init, the Dapr status -k output error messages,
and Dapr pods are all pending, with message: "0/3 nodes are available: 3 node(s) didn't match node selector."

[code]
[code]
## Steps to Reproduce the Problem

1. Setup an arm64 Kubenetes cluster use

[2020-12-21 13:45] li1234yun commented on #2589
Hello,

Can you provide some examples of grpc service invocation that dapr and raw grpc service, I want to learn some things from yours, Thank you!

[2020-12-21 15:55] rrylee commented on #2589
depends on your app original protocol, if app is more sensitive on lantency，suggest choose grpc. anyway，dapr is a sidercar inject your pod，i think the io consume can be ignore
The important point is whats your app provider for client.

[2020-12-21 17:23] yaron2 commented on #2595
I can confirm Dapr does not make any requests to tunnelfront.

[2020-12-21 17:27] yaron2 opened #2603 "Make missing app-id annotation have a clearer log message"
If a Dapr k8s deployment is missing an `dapr.io/app-id` annotation or uses the deprecated `dapr.io/id` annotation, the logs only show the k8s string parsing error:

`Error creating: admission webhook "sidecar-injector.dapr.io" denied the request: invalid app id: a lowercase RFC 1123 label must cons  ist of lower case alphanumeric characters or '-', and must start and end with an alphanumeric chara

[2020-12-21 17:29] mrchypark commented on #2603
error message from code below.

https://github.com/dapr/dapr/blob/445972d1c3ca69ad34b7039fd6ca7b5d7c1dd6aa/pkg/validation/validation.go#L26

[2020-12-21 17:57] mrchypark commented on #2603
I'm on it.

I'll add check app-id string len is 0 or not and add error message.

[2020-12-22 01:26] li1234yun commented on #2589
Thank you!

[2020-12-22 02:49] wcs1only commented on #2605
Moved to dapr/dapr, as this is primarily an issue with the helm charts, not the CLI.

[2020-12-22 05:50] artursouza commented on #2536
I took a look at this today. I could manage to run dashboard unprivileged by changing the Dockerimage to use `USER 405` since 405 is the guest user in Alpine.

Now, running with readonly root was not possible. I got an error because K8s could not find the proper secret in the filesystem:
[code]

[2020-12-22 06:34] #2603 closed

[2020-12-22 09:55] onatm commented on #2595
@yaron2 what's the best way to find out why we've seen such an error in the logs? AKS support couldn't find anything related to this and suggested me to create an issue here. I cannot think anything other than monitoring it and ask on discord for help if it happens again

[2020-12-22 18:39] yaron2 commented on #2595
First, can you make sure that Linkerd proxies are not injected into the Dapr control plane pods?

Also, if you can paste the entire log output for the injector that would help.

[2020-12-22 20:20] youngbupark commented on #2221
Please open new issue to follow this issue. cc/ @yaron2 @ryanvolum @vinayada1

[2020-12-22 20:34] wcs1only commented on #2589
Just to follow up on your question with a few more details. If you are using one of the provided Dapr SDKs to build your application, the question of gRPC vs HTTP for Dapr communication is abstracted by the SDK. You generally don't need to think about this, unless you are writing your own Dapr API client from scratch. We generally recommend that you use one of the provided SDKs, unless you have a

[2020-12-22 20:34] #2589 closed

[2020-12-22 20:51] #2605 closed

[2020-12-22 22:47] #2536 closed

[2020-12-23 00:15] wcs1only commented on #2345
Released on Dec 18th!

[2020-12-23 00:15] #2345 closed

[2020-12-23 03:03] F-Sidney commented on #2605
Yes, it works, thank you Charlie, now the dapr runing well, but I found it not in dapr-system namespace,
so I used this command

 `helm install dapr dapr/dapr --namespace dapr-system --set global.daprControlPlaneArch=arm64 --version 1.0.0-rc.2`

here is the whole story:

[code]

[2020-12-24 02:13] FlatMapIO commented on #2468
I have the same problem, I installed pubsub and statestore to my apps namespace and then ran the multiplyapp example

[code]

[2020-12-26 21:25] vzdesic opened #2610 "Running .NET Framework application as part of the DAPR distributed application"
Please, I would like to confirm my thoughts. As I understand DAPR is declared as platform to work with any framework, any language on any cloud, in local environment or in a single server, with or without containers (--slim option) etc. DAPR Sidecar can run on both Linux or Windows containers (according to #842) or as a separate process on Windows or Linux in parallel with the concrete application

[2020-12-28 10:51] #2610 closed

[2020-12-28 10:52] vzdesic commented on #2610
In a meantime I found my answer and confirmation to this question in other posts.

[2020-12-28 18:58] artursouza opened #2611 "PubSub drops some fields for CloudEvent payload"
## In what area(s)?

 /area runtime

## What version of Dapr?

1.0.0-rc.2

## Expected Behavior

When a publisher publishes a payload that is a CloudEvent, dapr should not drop some fields and publish it as-is.

## Actual Behavior

Dapr only supports some fields and drops other fields, like `time`.

## Steps to Reproduce the Problem

Use pubsub and publish a CloudEvent with the `time` attribute an

[2020-12-28 19:07] yaron2 commented on #2611
There's an issue tracking this here: https://github.com/dapr/components-contrib/issues/506

[2020-12-28 19:20] artursouza commented on #2611
OK. We can close this one as duplicate.

[2020-12-28 19:20] #2611 closed

[2020-12-29 00:00] artursouza opened #2612 "Handle binary data in PubSub"
## In what area(s)?

/area runtime

## What version of Dapr?

1.0.0-rc.2

## Expected Behavior

PubSub and publish and receive binary payloads as per CloudEvent spec: https://github.com/cloudevents/spec/blob/v1.0.1/json-format.md#31-handling-of-data

## Actual Behavior

Binary data is simply converted into unicode.

## Steps to Reproduce the Problem

Use the Java SDK example for PubSub. Change it

[2020-12-29 03:21] dybxin opened #2613 "upgrade dapr runtime in k8s error"
## In what area(s)?

## Ask your question here
before i used dapr runtime version v1.0.0-rc-1, when i upgrade dapr runtime version in k8s. i found the following error:
[code]

before i upgrade dapr version, i use `dapr uninstall --kubernetes`, after i use `dapr init -k --runtime-version 1.0.0-rc.2`.

refer logs:

[code]

[code]

[2020-12-30 00:26] yaron2 commented on #2527
@jigargandhi are you going to add the implementation of the proto as well?

[2020-12-30 02:47] jigargandhi commented on #2527
Yes, I am working on it. Am taking a vacation till Monday

On Wed, Dec 30, 2020, 05:56 Yaron Schneider <notifications@github.com>
wrote:

[2020-12-30 02:52] yaron2 commented on #2527
Ok no pressure

[2020-12-30 19:41] #2216 closed

[2021-01-03 13:12] tomkerkhove commented on #2353
I have the same on an AKS cluster which did not have RBAC enabled. Using a cluster with RBAC enabled fixed it for me.

[2021-01-03 13:37] tomkerkhove opened #2615 "Workload with valid app id is being denied"
## In what area(s)?

/area runtime

## What version of Dapr?

1.0.0-rc.2

## Expected Behavior

App with name `dapr.io/id: k8s-event-bridge` is allowed to be deployed.

## Actual Behavior

App with name `dapr.io/id: k8s-event-bridge` is denied with error:

## Steps to Reproduce the Problem

Deploy [this YAML template](https://github.com/tomkerkhove/k8s-event-bridge/commit/fc9f2168406024c262da5c14b

[2021-01-03 14:25] yaron2 commented on #2615
I suggest to follow the release notes for breaking changes from the version you were on: annotations have changed on 0.11.3.

Now dapr.io/app-id and dapr.io/app-port

[2021-01-03 16:41] tomkerkhove commented on #2615
Thanks for pointing that out, I've clearly missed that - Sorry!

Would be nice, though, to add the found value to help identify these things and provide more context maybe?

[2021-01-03 16:44] yaron2 commented on #2615
Done with this PR: https://github.com/dapr/dapr/pull/2604

[2021-01-03 16:44] #2615 closed

[2021-01-03 17:43] RadoslavGatev opened #2616 "gRPC AppCallback OnInvoke is not invoked for HTTP->gRPC"
## In what area(s)?

/area runtime

## What version of Dapr?

 0.11.3

## Expected Behavior

[code]

## Actual Behavior

[code]
## Steps to Reproduce the Problem

1. Run gRPC AppCallback service with debug log level
Example: https://github.com/RadoslavGatev/Dapr-gRPC-Invoke
[code]
2. Run a Dapr sidecar for the caller
[code]
3. Invoke the gRPC service
[code]
## Release Note

RELEASE NOTE: FIX gRPC

[2021-01-03 18:15] RadoslavGatev commented on #2221
Done #2616 2616

[2021-01-03 18:44] tomkerkhove commented on #2615
Thanks Yaron!

[2021-01-03 18:53] RadoslavGatev opened #2617 "Cannot send traces to App Insights using Open Telemetry"
## In what area(s)?

 /area runtime

## What version of Dapr?

0.11.3, Kubernetes mode

## Expected Behavior

I expect to see traces coming into Application Insights. I was able to make it work in the previous version where there was a discrete exporter component that is not needed anymore.

## Actual Behavior

No data is ingested to App Insights. The Open Telemetry collector does not report anyth

[2021-01-03 18:55] RadoslavGatev commented on #2617
My example is deployed into AKS. I am willing to give permissions to both AKS and App Insights if you want to explore further.

[2021-01-04 09:06] amolenk opened #2619 "Return HTTP 409 Conflict when ETag doesn't match"
## In what area(s)?

## Describe the proposal

When encountering an ETag mismatch while trying to update state, Dapr will return an HTTP 500 status code. It would be better to return an HTTP 409 Conflict status code to distinguish from other server failures.

The error code in the HTTP response body is `ERR_STATE_SAVE`, which is also pretty generic for an ETag conflict.

[2021-01-04 09:35] amolenk commented on #2320
I agree there’s something missing in the way Dapr works with OCC right now. Not sure if it's a design issue or a bug, but it definitely should be looked at.

Let’s say there are multiple users working on a set of articles. Using Dapr first-write-wins and ETags we can be sure that no user overwrites the work of another user:

[code]

This works great.

However, if you start from a situation where t

[2021-01-04 10:23] PeterGerrard commented on #2595
We don't inject linkerd into the dapr control plane.

Here is the logs of one of the failures (We've not had any more recently, probably because we've all been off)

[code]

and according to `kubectl get svc -owide -n kube-system` the ip `10.240.0.108` id that of the tunnelfront pod

Sometimes it happens immediately on pod startup like this, othertimes it can take a while

[2021-01-04 17:02] davidkarlsen opened #2620 "RBAC issue on OpenShift when installing with Helm"
/area operator

## What version of Dapr?

1.0.0-rc.2

## Expected Behavior

dapr injector should work out of the box when installing with helm

## Actual Behavior

[code]

## Steps to Reproduce the Problem

install into a k8s cluster, in my case openshift 4.6.9 which is k8s 1.19

[2021-01-04 17:04] tcnghia commented on #2617
@RadoslavGatev are you using 0.11.3 or are you using 1.0.0-rc.2?

[2021-01-04 17:39] yaron2 commented on #2620
Just to be specific, this happens on Open shift due to how OS handles RBAC

[2021-01-04 18:13] davidkarlsen commented on #2620
solved by adding to clusterrole `dapr-operator-admin`:
[code]

[2021-01-04 18:16] yaron2 commented on #2620
It'd be great if you opened a PR for this

[2021-01-04 18:50] tcnghia opened #2621 "E2E test to verify trace export"
## In what area(s)?

/area test-and-release

## Describe the feature
As part of #2337 we want to have E2E tests to make sure traces are correctly exported.

## Release Note

RELEASE NOTE: **ADD** E2E test to verify trace export

[2021-01-04 19:11] rynowak commented on #2619
Piling on this with a somewhat related bug (gRPC caller in this case): https://github.com/dapr/dotnet-sdk/issues/426

For SDKs and just general sanity we need to make sure it's possible to *programmatically* tell the difference between an ETag mismatch and other types of state store failure.

[2021-01-04 19:24] tcnghia opened #2622 "Request to be an approver"
## In what area(s)?
/area runtime
/area docs
/area test-and-release

## Describe the proposal
I'd like to be a dapr/dapr approver. Justifications:

* Merged PR:  https://github.com/dapr/dapr/pull/2144 https://github.com/dapr/dapr/pull/2192 https://github.com/dapr/dapr/pull/2293 https://github.com/dapr/dapr/pull/2532 https://github.com/dapr/dapr/pull/2547 https://github.com/dapr/dapr/pull/2552 http

[2021-01-04 19:48] vinayada1 commented on #2616
@RadoslavGatev - I downloaded your sample code to repro the issue and I do not see any error.
Dapr Runtime version = 1.0.0-rc.2
Dapr dotnet sdk version = 1.0.0-rc02

Logs:
== DAPR == time="2021-01-04T11:39:42.588359-08:00" level=warning msg="redis streams: BUSYGROUP Consumer Group name already exists" app_id=testgrpc instance=vinayas-mbp.lan scope=dapr.contrib type=log ver=1.0.0-rc.2

== DAPR == t

[2021-01-04 20:22] msfussell commented on #2600
Yes, this should return the secrets that the application has access to. That way IT ops can change app priviledges and code does not break, but simply logs a warning.

[2021-01-04 20:29] msfussell commented on #2494
@amolenk - Can this issue be closed now, since I do not think there is a issue here with the Dapr runtime needing to handle Cors.

[2021-01-04 20:55] #2575 closed

[2021-01-04 21:11] RadoslavGatev commented on #2617
@tcnghia that's a good point. I noticed that but I thought there isn't feature parity between the versions of the CLI and the runtime itself. Actually, when I installed v1.0.0-rc.3 of the CLI I tried initializing and uninstalling it a couple of times to prove I wasn't crazy. I just did it once again, and it seems to download 0.11.3:
![image](https://user-images.githubusercontent.com/3099248/103580

[2021-01-04 21:18] yaron2 commented on #2617
dapr init downloads the latest stable release, which is 0.11.3. since 1.0 is RC, you need to explicitly set the runtime version.

[2021-01-04 22:01] vinayada1 commented on #2502
Could you paste logs of the error that you are seeing?

[2021-01-04 22:45] #2620 closed

[2021-01-04 23:38] yaron2 commented on #2479
Yes.

However, in the last Dapr release (1.0.0-rc.2) we did work on the mDNS resolution which should now considerably improve performance. I'd be really interested in you running the same tests and reporting again.

[2021-01-05 06:48] #2494 closed

[2021-01-05 08:01] RadoslavGatev commented on #2617
Well, it was due to the old version. I have never used the `--runtime-version` flag. It works now! Thanks a lot @yaron2 @tcnghia! 🎉

[2021-01-05 08:01] #2617 closed

[2021-01-05 08:57] alpha-baby opened #2627 "Add Known Types repeated twice"
https://github.com/dapr/dapr/blob/master/pkg/apis/components/v1alpha1/register.go#L40
https://github.com/dapr/dapr/blob/master/pkg/apis/configuration/v1alpha1/register.go#L40
https://github.com/dapr/dapr/blob/master/pkg/apis/subscriptions/v1alpha1/register.go#L40

## Ask your question here

why Add Known Types two Twice？
Is it written wrong?

If it is written wrong, i can commit  a PR to fix it.

[2021-01-05 10:28] akkie opened #2628 "Allow to propagate a response from the caller back into an input binding"
## In what area(s)?

/area runtime

## Describe the feature
I try to [implement a new input binding](https://github.com/akkie/components-contrib/blob/zeebe-bindings/bindings/zeebe/jobworker/jobworker.go) for the [Zeebe](https://zeebe.io/) workflow engine. For this I need to acknowledge the binding with a result (process variables) that I then send back to Zeebe to complete the job. Based on the [d

[2021-01-05 10:29] akkie commented on #2628
@yaron2 FYI

[2021-01-05 17:03] RadoslavGatev commented on #2616
Thank you for checking this! It's a shame I didn't know about the `--runtime-version` flag when initializing dapr.
It works with:
[code]

[2021-01-05 17:03] #2616 closed

[2021-01-05 17:19] tcnghia commented on #2617
@RadoslavGatev glad to hear. It's good that you file this issue since future users if running into the same can use the information here to troubleshoot their cases.

[2021-01-05 19:23] #2590 closed

[2021-01-05 21:37] vinayada1 opened #2630 "Create a dashboard to monitor e2e tests"
## In what area(s)?

## Describe the feature
Create a dashboard which will show the history of e2e test results. This will help identify flaky tests and improve the test stability.

## Release Note

RELEASE NOTE: **ADD** e2e test dashboard

[2021-01-05 21:59] ianrocha opened #2631 "Improve RabbitMQ Bind/Pubsub Components"
## In what area(s)?

 /area operator

## Describe the feature

Make rabbitmq binding declaration receive arguments for dead-letter and dead-letter-routing-key. Adding this feature will make easier the configuration for rejected messages to be sent to dead-letter-exchanges.
Make rabbitmq pubsub declaration accept exchangeKind argument, so now user would be able to create exchanges of any type accep

[2021-01-05 22:10] ianrocha commented on #2631
Wrong place to open this issue, sorry.

[2021-01-05 22:10] #2631 closed

[2021-01-05 22:44] #2600 closed

[2021-01-06 00:51] DarqueWarrior commented on #2529
Looks like you and I were having the same experience. I will work to improve the documentation that assumes a clean machine on all three platforms.

[2021-01-06 02:48] #2551 closed

[2021-01-06 04:11] mohsenmahdieh opened #2634 "Open telemetry monitoring doesn't handle the exception properly"
/area monitoring-open-telemetry-appinsight

## What version of Dapr?

v1.0.0-rc.2

## Expected Behavior

Lets says you have an application, composed of multiple dapr apps interacting through pub/sub, when there is an exception thrown on pub/sub handlers, the exception should be added to failure section in appinsight dashboard.

## Actual Behavior

None of the exception thrown by pub/sub handler en

[2021-01-06 04:13] databasedav commented on #771
so if we use NATS, is there a way to conditionally get broadcast behavior even if the app-id's are the same? I need both queue behavior for some services and broadcast for others; can I not use NATS? @abhirockzz

[2021-01-06 06:55] yaron2 commented on #2613
I'm not sure what's the issue, but try removing Dapr again.

Run dapr uninstall -k followed by kubectl delete ns dapr.

Then reinstall.

[2021-01-06 10:13] juazasan commented on #2296
@yaron2 @tcnghia Happy to give this a try provided time is not a big constrain and you are able to provide some support. Thanks.

[2021-01-06 16:34] mmisztal1980 commented on #2217
Please consider implementing a poison topic as well,

- dead letter for messages that fail to reach the recipient
- poison for messages that fail to process

[2021-01-06 18:10] vinayada1 commented on #1812
Looks like covered. Will close the issue

[2021-01-06 18:10] #1812 closed

[2021-01-06 18:20] #2527 closed

[2021-01-06 18:24] yaron2 commented on #2627
Yes, this seems redundant. Please submit a PR! thanks :)

[2021-01-07 00:52] rynowak commented on #2342
Chiming in to say that the current experience is broken for a lot of different use cases for .NET.

When the application is using HTTP and returns a non-200 response there's typically some content to go along with it, and using metadata to flow that limits its size. The .NET SDK currently uses gRPC for invoke, which results in this truncation occurring for .NET services called via invoke through t

[2021-01-07 04:36] #2627 closed

[2021-01-07 09:00] pzou19741 opened #2637 "Dapr does not support Daemonset"
Add dapr related to annotation to Deemonset and rollout status indicates success but pod does not add daprd containers

[2021-01-07 09:04] pzou19741 commented on #2637
I  install ingress-nginx as daemonset but without success.

export INGRESS_NAMESPACE="[your namespace]"
helm install nginx ingress-nginx/ingress-nginx \
     --set controller.replicaCount=2 \
     -f ingress-annotations.yaml \
     -n $INGRESS_NAMESPACE

Here is ingress-annotations.yaml
controller:
  hostNetwork: true
  dnsPolicy: ClusterFirstWithHostNet
  podAnnotations:
    dapr.io/enabled: "tru

[2021-01-07 09:06] pzou19741 commented on #2637
I also did remove all the dapr related annotation. After that, I perform kubectl edit [nguix-ingress-ctl] and add dapr.io related parameters. there is no error but after restart daprd does not create.

[2021-01-07 18:11] brunocascio opened #2638 "[Dapr + Podlike] Service-to-service invocation troubles"
## In what area(s)?

/area placement

## Ask your question here

Hi guys, I'm trying to use dapr with docker swarm using [podlike](https://github.com/rycus86/podlike). Here's my PoC https://github.com/brunocascio/dapr-poc

I decided to use podlike to simulate kubernetes pods since in the company we use docker swarm and I'd like to use sidecar pattern.

**Context**

The PoC is about a simple order

[2021-01-07 18:20] msfussell commented on #2577
This is complete

[2021-01-07 18:20] #2577 closed

[2021-01-07 18:21] msfussell commented on #2567
Are you talking to Dapr over a Docker Network?

[2021-01-07 18:32] msfussell commented on #2512
Closed as a dup of #2620

[2021-01-07 18:32] #2512 closed

[2021-01-07 18:35] msfussell commented on #2511
Helm cannot validate the certs (and this would be a good feature to have in Helm). The improvement to the docs are the preferred way to address this

[2021-01-07 18:35] #2511 closed

[2021-01-07 18:47] msfussell commented on #2497
Open to the community. We would love to have a Ruby SDK!

[2021-01-07 18:49] msfussell commented on #2428
Just like other side-car project, pods have to pick up the new side car instance. You can do this in K8s with a graceful rollout. See the docs on how to achieve this.

[2021-01-07 18:49] #2428 closed

[2021-01-07 18:54] msfussell commented on #2408
The feature of being able to interpret the response and do another action, will be removed from the V1.0 release. Hence will not be adding any new capabilities to this.

[2021-01-07 18:59] msfussell commented on #2486
Rollout restart your pods after the dapr side care injector starts. This will not occur in prod scenarios, since the control plane should always be running in HA mode

[2021-01-07 18:59] RadoslavGatev commented on #2408
This makes sense. I like it! Feel free to close the issue. @msfussell

[2021-01-07 19:01] msfussell commented on #2484
Can you explain your scenario more? What are you trying to achieve? @yaron2

[2021-01-07 19:03] #2482 closed

[2021-01-07 19:10] msfussell commented on #2436
This is by design

[2021-01-07 19:10] #2436 closed

[2021-01-07 19:14] msfussell commented on #2429
@yaron2

[2021-01-07 19:14] #2408 closed

[2021-01-07 19:18] msfussell commented on #2370
@wcs1only - Is this happening? can you please close this if not.

[2021-01-07 19:26] msfussell commented on #2281
@dybxin For this issue:
1. use Programmatic subscriptions way , The publisher is not need a components path with the rabbitmq YAML?
You need components path for programmatic and declarative subscriptions

2. in custom.yaml how to custom multi topic and router
Here you can use multiple subscriptions yaml files

[2021-01-07 19:26] #2281 closed

[2021-01-07 19:46] trondhindenes opened #2639 "Not all pubsub implementations respect concurrency settings"
## In what area(s)?
/area runtime

## What version of Dapr?
1.0.0-rc.1

## Expected Behavior
When configuring dapr with a rabbitmq pubsub and setting the concurrency to a value higher than 1, I would expect multiple requests to be sent to the app in paralell - new messages should not have to wait for current messages to be finished processing

## Actual Behavior
At least for rabbitmq pubsub, concu

[2021-01-07 19:48] yaron2 commented on #2639
Just to be clear, the concurrency control is about throttling Dapr requests to the app - this setting doesn't affect or interact with components directly.

[2021-01-07 19:49] yaron2 commented on #2639
So the issue here is about some pub/sub implementation sending in parallel while others don't. for all implementations that do parallel sends, the app max concurrency will work.

[2021-01-07 19:51] trondhindenes commented on #2639
I understand. I do think this should be documented somewhere - it's a very important distinction when chosing a pubsub (we switched from redis to rabbitmq but are now considering switching back)

[2021-01-07 19:54] trondhindenes commented on #2639
The doc states that "Using Dapr, you can control how many requests and events will invoke your application simultaneously" <https://v1-rc2.docs.dapr.io/operations/configuration/control-concurrency/>
My point is that pubsub implementations that don't support this, should be called out.

[2021-01-07 19:55] yaron2 commented on #2639
I think it should be documented, but in addition I would like to add parallel sends to all pub/subs. It should be straightforward.

[2021-01-07 20:18] trondhindenes commented on #2639
awesome!

[2021-01-07 20:24] yaron2 commented on #2639
I'll notify you when this is in, so you can take an edge image and work with that.

[2021-01-07 20:24] trondhindenes commented on #2639
Thanks! Appreciate it.

[2021-01-07 22:44] #2468 closed

[2021-01-08 02:30] artursouza commented on #1551
This is the current content for `Dockerfile`:

[code]

It does not make sense to fix the golang version because building happens outside of the container and golang is not used at all. The current version already uses nonroot distroless base image for runtime. Closing this issue.

[2021-01-08 02:30] #1551 closed

[2021-01-08 02:33] artursouza commented on #1551
Fixed as part of: #2536

[2021-01-08 02:42] carolove opened #2643 "can dapr use grpc xds feature for resovloer and load banlance"
## In what area(s)?
i found grpc is going to support xds resolver and loadbanlance, will dapr use this feature in the  future.

/area runtime

RELEASE NOTE:

[2021-01-08 09:21] trondhindenes opened #2645 "Helm install: Make it possible to use a different runtime image than "infra" image"
## In what area(s)?
/area runtime

## Describe the feature
When testing dapr, I often want to use an edge image or a custom daprd image that I've built myself for the sidecar container. This means that when running Helm install, I want need to be able to tell the installer that it should setup all dapr-system containers using one image/tag, but to use another image/tag when performing sidecar inje

[2021-01-08 17:12] youngbupark commented on #2634
@artursouza Can you please check if the last change of retry logic would record trace span correctly?

[2021-01-08 19:43] yaron2 commented on #2643
Very possible, as we are imagining a new experience for Dapr and gRPC going forward. Can you link to more info about the XDS resolver?

[2021-01-08 19:45] yaron2 commented on #2638
Hi @brunocascio, Dapr's service invocation API currently only works on Kubernetes or environments that support mDNS.
This is extensible, and so it is possible to write a Dapr name resolution component that will allow Dapr to use Docker Swarm DNS: https://github.com/dapr/components-contrib/tree/master/nameresolution

[2021-01-08 19:51] yaron2 commented on #2645
This should be doable:

[code]

[2021-01-08 19:52] yaron2 commented on #2645
I'm closing this for now as it's verified from my end, feel free to re-open if this doesn't work.

[2021-01-08 19:52] #2645 closed

[2021-01-08 22:36] artursouza commented on #2504
@keranbingaa I have changed the Java sample for tracing to showcase the scenario you mentioned here. There is some coding needed on the app side to handle the tracing headers correctly but the demo now should be more clear. Please, take a look: https://github.com/dapr/java-sdk/pull/436

[2021-01-08 23:03] #2504 closed

[2021-01-09 05:25] amolenk commented on #2619
I don't think this should be closed yet. It was closed by https://github.com/dapr/components-contrib/pull/579, but that PR only partially closes this issue. It ensures that a specialized `ETagError` is used by all state components, but those errors still need to be translated to HTTP 409 status codes by the runtime.

[2021-01-09 05:27] yaron2 commented on #2619
GitHub closed it automatically because it was mentioned

[2021-01-10 13:42] kzmake commented on #2473
may need to run Sentry service in self-hosted mode.

https://docs.dapr.io/operations/configuration/invoke-allowlist/#hello-world-examples

If Sentry service is not running, the debug log will be output as follows.
[code]

[2021-01-11 14:17] trondhindenes commented on #2645
arg my bad. I just looked in the values file (where I couldn't find that setting), but realizing now there's a readme with a plethora of additional settings. Sorry.

[2021-01-11 22:29] #1168 closed

[2021-01-11 22:43] artursouza commented on #2342
@rynowak Do you think the proposal here will be helpful to solve that? See "Populate content-type header and response body to common.InvokeResponse" in the description. This issue seems to be a priority (P1) for v1.0.0, not?

[2021-01-11 23:40] #2619 closed

[2021-01-12 00:02] rynowak commented on #2342
This either must be addressed or we need to stop using gRPC for invocation in requests. Any HTTP service that uses the response body for error info (super common) will likely see their responses truncated.

[2021-01-12 03:46] artursouza commented on #2342
I had a conversation with @yaron2  and he explained your point to me. I can see why using HTTP for the invoke feature makes sense. For scenarios where grpc to grpc is preferred due to performance, we can make it a configuration in the SDK. The Java SDK, for example, has some flags that can be set via environment variables.

[2021-01-12 04:51] artursouza commented on #2546
@moluzhui I am not an expert on MQTT but it seems that you need the shared subscription feature, as described here: https://docs.emqx.io/en/broker/latest/advanced/shared-subscriptions.html#shared-subscription

Dapr does not support that as of now, since the consumerId is shared and not randomly generated - but we can add this feature for this month's release. Please, confirm this would solve the i

[2021-01-12 11:27] cmendible opened #2649 "Secret API "bulk" http endpoint does not work"
## In what area(s)?

 /area runtime

## What version of Dapr?

v0.11.0-292-g8b9103b8

## Expected Behavior

Making a request to /v1.0/secrets/{secretStoreName}/bulk enpoint should work

## Actual Behavior

Making a request to /v1.0/secrets/{secretStoreName}/bulk enpoint results in:

 `{"errorCode":"ERR_STATE_GET","message":"secret bulk not found"}`

## Steps to Reproduce the Problem

Create a secr

[2021-01-12 11:43] Ares3266 opened #2651 "Helm chart fails to install with clashing resources"
The lastest Helm chart (and Dapr CLI command) fails to install if there are clashing resources, in this instance the ClusterRoleBinding which was already there as part of our Vault deployment

Command: `helm install dapr dapr/dapr --namespace dapr-system --wait`

Error:
[code]

Existing resource in question:
[code]

Resource Dapr drops if I delete the old one:
[code]

Quick workaround was to delet

[2021-01-12 17:34] cmendible opened #2652 "Update Bulk Secrets API to return map[string]map[string]string"
## In what area(s)?

 /area runtime

## What version of Dapr?

## Expected Behavior

Once https://github.com/dapr/components-contrib/issues/590 is fixed code must be update to reflect the changes and make the bulk secrets API (http & grpc) return map[string]map[string]string

## Release Note

RELEASE NOTE:

[2021-01-12 19:24] msfussell commented on #2337
@tcnghia - Is this now complete and can this be closed?

[2021-01-12 19:27] tcnghia commented on #2337
@msfussell we still need an E2E test (before 1.0) and the  OpenTelemetry migration (after 1.0)

[2021-01-12 19:32] msfussell commented on #2370
Is this needed for v1.0?

[2021-01-12 19:35] msfussell commented on #2414
@wcs1only @mukundansundar  - Can you comment more on this for v1.0?

[2021-01-12 19:44] mukundansundar commented on #2414
Ideally we should have only expected pod restarts in e2e tests. One fix will be to only start publishing after dapr sidecar is ready. Could potentially be based off of the health check, or could just retry instead of directly trying to publish in the main method of the application.

[2021-01-12 19:48] msfussell commented on #2342
This affects each of the SDKs. Separate bugs are needed to track each SDK work.

[2021-01-12 20:15] msfussell commented on #2473
@vinayada1 - Can you take a look at this?

[2021-01-13 01:34] yaron2 commented on #2342
@youngbupark assigned to you, FYI. As mentioned, we only need to work on the HTTP to gRPC changes.

[2021-01-13 06:34] carolove commented on #2643
grpc xds resolver and lb purpose can find @ https://github.com/grpc/proposal/blob/master/A27-xds-global-load-balancing.md

grpc xds example can find @ https://github.com/grpc/grpc-go/tree/master/examples/features/xds
a more detail example @ https://github.com/salrashid123/grpc_xds

grpc xds related code @ https://github.com/grpc/grpc-go/tree/master/xds

and in dapr we can reflect App ID into xds d

[2021-01-13 11:27] slacksach opened #2657 "Component load failures are ignored when dapr"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2021-01-13 11:27] slacksach opened #3092 "Component load failures are ignored and no retry is attempted when running dapr+istio"
## In what area(s)?
/area runtime

## What version of Dapr?
1.0.0 rc2

## Expected Behavior
Dapr and Istio should be able to work together, in this instance Dapr needs to retry the attempts to load components. This was handled in https://github.com/dapr/dapr/issues/689 but the fix does not appear to be working, the components are never loaded and although an error occurs the dapr sidecar does not

[2021-01-13 12:06] skyao opened #2658 "Add DeleteBulkState in state component"
## In what area(s)?

/area runtime

## Describe the feature

As discussed in this closed issue:

https://github.com/dapr/dapr/issues/2368

But in fact there is one work item left: bulk delete state.

Operation | Go-sdk | Daprd service | Store Interface
-- | -- | -- | --
Delete | DeleteState() | DeleteState() | Delete()
Bulk Delete | +DeleteBulkState() | +DeleteBulkState() | BulkDelete()

Let's fin

[2021-01-13 12:15] apuzyrevsky opened #2659 "Add possibility to define custom fasthttp server MaxRequestBodySize parameter to handle uploading of big files."
## In what area(s)?

## Describe the feature

During the writing and deployment of the service which uploads files (up to 2GB), I've encountered an issue that files bigger than 4 megabytes are not uploading. I've gone on an investigation where exactly the issue lies and eventually find out that dapr using for HTTP server fasthttp library, which by default got a 4 MB limit on max body size and in d

[2021-01-13 13:14] skyao commented on #1793
I'm also confused by the type of SetRequest.Value:

- it always should be byte[] from http and gRPC sdk remote request
- but it's defined as interface{}, and we have to convert it to []byte

And I try to fix this issue and replace the interface{} with []byte, but there are too many unit test case need to fix.

So, what's the conclusion for this data type of SetRequest.Value? Should it be interface

[2021-01-13 13:18] skyao commented on #1793
So, in original design, this SetRequest.Value field should be an interface{} to support more than []byte, but later change to only support []byte.

I'm interested with this issue because now we need to support more data type: both for key (now only string is supported) and value (now only []byte is supported). Of cause we can convert anything to string and []byte, but since then we lost the data t

[2021-01-13 18:04] yaron2 commented on #2659
Thanks for raising this, and we would gladly appreciate a PR.

This would need to propagate to Dapr in the form of command line flag, I suggest using `-dapr-http-max-request-size`.

The CLI flags are located here: https://github.com/dapr/dapr/blob/master/pkg/runtime/cli.go

[2021-01-13 18:06] vinayada1 commented on #2473
Will take a look

[2021-01-13 18:18] vinayada1 commented on #2502
Is this a dup of #2473 ?

[2021-01-13 19:13] artursouza opened #2661 "Move component loading into components-contrib"
The logic to load components is in daprd, but now we have conformance tests that also need to load components but run on components-contrib instead. It causes duplicate logic for loading components, leaving the production code to load components outside the coverage for conformance tests.

[2021-01-13 20:38] apuzyrevsky commented on #2659
@yaron2 Thank you for the fast reply. I've figured out about the CLI flag, although it's still not clear to me how can I pass it via annotation in yaml. Is that located here or I looking in not the right way? https://github.com/dapr/dapr/blob/master/pkg/injector/pod_patch.go

[2021-01-13 20:43] yaron2 commented on #2659
Yes, the args are set here: https://github.com/dapr/dapr/blob/4678e477562e7e35a1d6ba04a9b17b6c9c00a025/pkg/injector/pod_patch.go#L524

[2021-01-13 21:28] slacksach commented on #2657
@yaron2 Maybe something for the docs, we found that when running on k8s, we had to set the following annotation on all our dapr application pods otherwise the components failed to load.

`proxy.istio.io/config: '{ "holdApplicationUntilProxyStarts": true }'`

[2021-01-14 06:52] dybxin commented on #2502
@vinayada1 i'm sorry, is Indeed repeat.

[2021-01-14 07:22] dybxin commented on #2473
@kzmake the following logs is the sentry service is not running: I didn't get a similar error.

- dapr run --app-id nodeapp1 --app-port 3001 --dapr-http-port 3501 node app.js --config ./config.yaml
[code]

-  dapr run --app-id nodeapp2 --app-port 3002 --dapr-http-port 3502 node app.js --config ./config.yaml

[code]

[2021-01-14 07:25] dybxin commented on #2473
@kzmake @vinayada1 the following logs is the sentry service is running:
- dapr run --app-id nodeapp1 --app-port 3001 --dapr-http-port 3501 node app.js --config ./config.yaml

[code]

- dapr run --app-id nodeapp2 --app-port 3002 --dapr-http-port 3502 node app.js --config ./config.yaml
[code]

[code]

[2021-01-14 07:35] dybxin commented on #2473
@vinayada1 @kzmake We can use Discord to communicate?

[2021-01-14 09:05] dybxin commented on #2281
@msfussell thanks a lot.

[2021-01-14 09:11] dybxin commented on #2613
@yaron2 I have tried to reinstall it, and delete namespace. is still error, confusion?. currently i replace a machine to install.

[2021-01-14 09:12] dybxin commented on #2567
yes.

[2021-01-14 15:43] jigargandhi commented on #2658
@skyao I can take this issue if unassigned.

[2021-01-14 15:47] jigargandhi commented on #2612
I can take it up if unassigned

[2021-01-14 16:23] apuzyrevsky commented on #2659
Hi @yaron2
I've made appropriate changes and during testing encountered on the two new issues.
1. When I trying pass to my upload service via darp file more than 4 MB and less than 16 MB (I'll explain it in the next item) receiving the following error:
`{
    "errorCode": "ERR_DIRECT_INVOKE",
    "message": "rpc error: code = ResourceExhausted desc = grpc: received message larger than max (1073023

[2021-01-14 18:40] yaron2 commented on #2659
Regarding 1, since Dapr uses gRPC to send messages in service invocation, the max size needs to propagate to the the code where Dapr starts its gRPC server and makes the gRPC call. In both cases it's a simple addition, you can see this issue that explains how to do it (the first comment shows the server side, and the second the client: https://github.com/grpc-ecosystem/grpc-gateway/issues/943)

Th

[2021-01-14 19:09] gidich opened #2665 "Invoke Dapr self-hosted service on macOS Big Sur results in ERR_DIRECT_INVOKE "couldn't find service" error"
## In what area(s)?

 /area runtime

## What version of Dapr?

v0.11
v1.0-rc2

## Expected Behavior

When running samples or [very simple sample code ](https://gist.github.com/gidich/6435301b7aa7dea4485f4e5400536319) using `dapr run` would expect to issue `dapr invoke` / `dapr invokeGet` or invoke from URL (browser/postman) and get a successful response.

Same procedures work smoothly on a Windows

[2021-01-14 19:17] yaron2 commented on #2665
Can you try and run the following and see if it helps?

[code]

[2021-01-14 19:25] yaron2 commented on #2665
I can confirm it's working on MacOS catalina (multiple machines). Haven't tested on Big Sur yet.

[2021-01-14 19:35] gidich commented on #2665
@yaron2 - your comment on Discord sent me in the right direction, I created a new network profile and removed both Cisco AnyConnect VPN and another VPN (which weren't even active) and that fixed it.

![image](https://user-images.githubusercontent.com/1847881/104639537-87890b80-5675-11eb-97cc-d188c9d766b1.png)

System Preferences > Network

Choose Location : Edit Location

Create a new Location, re

[2021-01-14 19:35] #2665 closed

[2021-01-14 21:48] artursouza commented on #2612
@jigargandhi Absolutely. Please, work on this on top of this PR since there is a refactoring to handle content type: https://github.com/dapr/components-contrib/pull/602

[2021-01-14 23:15] #2320 closed

[2021-01-14 23:27] yaron2 commented on #2602
@RadoslavGatev did you also put this file in your components?

[code]

[2021-01-15 00:05] #2128 closed

[2021-01-15 01:25] #2474 closed

[2021-01-15 01:25] #2602 closed

[2021-01-15 06:12] skyao commented on #2658
Youa re welcome, So glad to hear this.

I just submit a small PR to modify the proto file and update grpc api in daprd.

There are still many works to do:

- update http api
- update sdks: java / golang and others

[2021-01-15 07:33] KaiWalter commented on #2628
@yaron2 please add it to our project, thanks --- @akkie is on our team

[2021-01-15 18:12] vinayada1 commented on #2502
The 500 error could be because of the statestore error if your /neworder is using it.
1. I see you are using dapr rc.1 version which is not the latest (it's not related to your issue but you should probably move to the latest release)
2. There should be a statestore.yaml in your default components path: $HOME/.dapr/components. Could you check if it's there? If not, could you reinstall dapr and mak

[2021-01-16 03:17] #2649 closed

[2021-01-16 13:54] apuzyrevsky commented on #2659
Hi, @yaron2 I figured out how to pass an argument to the dapr/pkg/grpc/server.go, and I did a hardcode for testing purposes in dapr/pkg/messaging/direct_messaging.go, it seems that resolved the issue,  but I am struggling to pass this property as a config argument. Is there any example that I can use as a reference?

And if you have any thoughts regarding the second issue that I wrote, please shar

[2021-01-16 22:14] #1781 closed

[2021-01-17 03:08] yaron2 commented on #2659
This is where you need to pass the new argument to the direct messaging package: https://github.com/dapr/dapr/blob/2849ede55102ff4c6a5da74de727b486f652f449/pkg/runtime/runtime.go#L456

Regarding the log error issue, it seems like the HTTP server is trying to write to a file and is denied because there's no filesystem mounted on the container. We (maintainers) will fix that in parallel to your PR.

[2021-01-17 05:42] naheedk-pwc opened #2672 "Java SDK build failure due to repo.spring.io library dependency"
## In what area(s)?

/area runtime
Unable to build using mvn clean install, due to dependency issue https://repo.spring.io/libs-milestone/com/github/gmazzo/okhttp-mock/1.3.2/. this repo, now, does not support anonymous user access

## What version of Dapr?

0.2.x

## Expected Behavior

successful build of https://github.com/dapr/java-sdk

## Actual Behavior

Build failed with following exception
[

[2021-01-17 17:12] Fabian-Schmidt opened #2674 "Service Invocation non 2xx response read full result body"
## In what area(s)?

 /area runtime

## Ask your question here

I want to perform a service-to-service method call. The other service is called via HTTP by the DAPR sidecar and is returning a non 2xx result (e.g. 400). How I can read the full result body of the http response. In the error body field only the first 64 bytes are transfered to the calling service, but I need the full body.

Cheers,
F

[2021-01-17 17:26] yaron2 commented on #2674
This will be fixed in the upcoming version

[2021-01-17 20:34] RadoslavGatev commented on #2602
Yes, it used to work only when there was such a component in the folder.

[2021-01-17 21:26] mmisztal1980 opened #2675 "Feature Request: Extend the Pub/Sub API with delayed event scheduling"
## In what area(s)?

/area runtime

## Describe the feature
At this moment the Dapr pubsub's event publishing API supports publishing  only, please consider extending this API with delayed event scheduling.

A user should be able to messages to a pubsub for delayed processing.
Examples:
- Scheduling a job to become available for processing by a system at a certain time.
- Scheduling reminders/noti

[2021-01-18 00:41] artursouza commented on #1165
I've finished a modified version of these tests. See PR.

[2021-01-18 01:13] pzou19741 opened #2677 "Daprd failed to start metric server due to address already in use even though configuration metric disabled."
## In what area(s)?
I ran into this issue while install ingress controller. my k8s cluster is on bare-metal

I also disabled global configuration daprsystem.

Spec:
  Metric:
    Enabled:  false

this is  ingress-annotations.yaml  value file.
-----------------------------------------------------------------
controller:
  hostNetwork: true
  dnsPolicy: ClusterFirstWithHostNet
  podAnnotations:

[2021-01-18 07:36] pzou19741 opened #2678 "Daprd ran into failed to start metrics server: listen tcp :9090: bind: address already in use error once add hostName: true and dnsPolicy: ClusterFirstWithHostNet error"
I ran into this issue while install ingress controller. my k8s cluster is on bare-metal
this is ingress-annotations.yaml value file.

controller:
hostNetwork: true
dnsPolicy: ClusterFirstWithHostNet
podAnnotations:
dapr.io/enabled: "true"
dapr.io/app-id: "nginx-ingress"
dapr.io/app-protocol: "http"
dapr.io/app-port: "80"
dapr.io/api-token-secret: "dapr-api-token"
dapr.io/config: "ingress-config"
d

[2021-01-18 09:22] Fabian-Schmidt commented on #2674
Is there an issue or PR as reference?

[2021-01-18 11:42] apuzyrevsky commented on #2659
Hi, @yaron2 I made a PR in the WIP stage, feel free to comment on it, thank you.

[2021-01-18 14:22] tomkerkhove opened #2680 "Need help troubleshooting Dapr sidecar that is constantly restarting"
## In what area(s)?

/area runtime

## Ask your question here

I'm currently troubleshooting a sidecar that's failing to start up.

After going through https://v1-rc2.docs.dapr.io/operations/troubleshooting/common_issues/#my-pod-is-in-crashloopbackoff-or-another-failed-state-due-to-the-daprd-sidecar I've increased our logging to debug but it's not giving more insights:

[code]

After doing a descr

[2021-01-18 14:25] iliasjennane opened #2681 "Observability docs issue - App Insights"
In the dapr observability docs for setting up Azure Application Insights with the open telemetry collector: https://docs.dapr.io/operations/monitoring/open-telemetry-collector/#how-to-configure-distributed-tracing-with-application-insights , it asks for :
Check out the file open-telemetry-collector.yaml and replace the <INSTRUMENTATION-KEY> placeholder with your APP_INSIGHTS_KEY. However that file

[2021-01-18 16:24] yaron2 commented on #2680
If this is your only component, then it's 100% failing to load it. The component is timing out, but after the sidecar readiness probe kicks in and restarts the container, not giving you enough time to see the error.

Do the following:

1. Set the `initTimeout` [option](https://v1-rc2.docs.dapr.io/operations/components/component-schema/) on the component to something like `2m` to start with
2. Incr

[2021-01-18 16:28] yaron2 commented on #2680
Also, seeing you are running in a custom namespace, making sure you saw this:

https://v1-rc2.docs.dapr.io/operations/components/component-secrets/#non-default-namespaces

[2021-01-18 18:05] mrchypark commented on #2675
How about creating a service that has a queue to publish to pubsub on a schedule that treat as state? This way can support the functionality for all pubsubs.

[2021-01-18 18:09] tomkerkhove commented on #2680
Thanks, I'll look into these options!

[2021-01-19 01:14] artursouza commented on #2501
Moving this to Java SDK repo. We are fixing this in https://github.com/dapr/java-sdk/issues/399.