[2022-09-26 07:43] skyao commented on #2218
I don't think adding a new service is a good way, thought the reason make sense for this time.

Because we can use this reason every time when we plan to add something new in appcallback, and we will add more and ore services......

I can't image how many services will we add in the future.

I suggest to stop adding new service at this time.

[2022-09-26 10:28] DeepanshuA commented on #2218
What is the way out for this one then?
Can we name new service in such a way that any new Alpha RPCs can be added to it, something like `AppCallbackAlpha` and when the rpc graduates, only then we add it to `AppCallback`?

[2022-09-26 10:57] scott-moxham opened #5244 "PubSub only sending to single subscriber with some brokers"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

 /area runtime

## Ask your question here
I'm having issues with Dapr PubSub in our C# / .Net6 WebAPI project where it's only triggering ONE subscriber instead of all subscribers. On developer

[2022-09-26 13:49] mcandeia opened #5245 "feature: Add pluggable components versioning support"
## In what area(s)?

/area runtime

## Describe the feature

When [registering pluggable components](https://github.com/dapr/dapr/blob/master/pkg/components/pluggable/registry.go#L32), version is not being used, the full name should be used instead which contains the version on it (i.e `$componentName/$version`) as it is the expected format for all implemented registries.

1. [state store](https:/

[2022-09-26 13:49] mcandeia commented on #5245
/assign

[2022-09-26 16:52] mcandeia commented on #5245
Can you elaborate more? The proposal here is to make versioning working for pluggable components the behavior is the same as we already have

which is:

If specified as `$name/$version` it should be registered with its version, if not specified with `$name/version` so the runtime fallback to the "implicit" versioning (as it is today, I didn't mention that):

https://github.com/dapr/dapr/blob/maste

[2022-09-26 16:56] mcandeia commented on #5245
Anyways, I'm going to close this as it does not apply given that removing of pluggable component crd.

[2022-09-26 16:56] #5245 closed

[2022-09-26 17:18] mcandeia commented on #5210
Let's say we decided to take the approach you mentioned, for bindings specifically, how would you suggest to discover if the component implements input or output or both? With the Pluggable Components CRD approach it has different names,

`type: inputbinding` and `type: outputbinding`,

[code]

Create a new field that serves only for bindings?

[2022-09-26 17:21] amulyavarote commented on #5226
I agree with this.

[2022-09-26 17:23] amulyavarote commented on #5226
@cgillum What I meant is, as we are adding management APIs to the existing SDK, the SDK wont be light weight.

[2022-09-26 17:47] berndverst commented on #5226
Please note that Python is different from DotNet and Java. The actors functionality is not a separate SDK but a different namespace / import within the main SDK. Separate versioning isn't possible there. Therefore my separate proposal for Python above still applies.

[2022-09-26 17:50] yaron2 commented on #5210
Can we make pluggable components consistent with how we discover the binding direction today?

[2022-09-26 18:00] mcandeia commented on #5210
Currently, we are using [`Has`](https://github.com/dapr/dapr/blob/master/pkg/runtime/runtime.go#L646) methods from Bindings registry. That `Has` methods returns `true` when a component with the specified name + version is available to be created. For inlining

1) Or we have to "Register" the pluggable component (which does not makes sense to me due to [this](https://github.com/dapr/dapr/issues/521

[2022-09-26 19:04] mcandeia commented on #5210
For documentation purposes:

As we aligned offline, for the 1.9 release:

1) Pluggable Components CRD will be removed.
2) The bindings support will require implementing both, input and output.

cc: @yaron2 @artursouza

[2022-09-26 19:16] mukundansundar commented on #2218
Based on our discussion @yaron2, @artursouza we will have one service called `AppCallbackAlpha` which will contain all the APIs that are in Alpha stage and once it graduates to stable stage, we will most probably create a breaking change in `AppCallback` with the new stable API.

[2022-09-26 19:24] mcandeia commented on #5210
I'm on it right now, and as soon as I find a blocker I'll need your help to align it quickly so we don't get stuck as we have a tightly deadline

Related to our "check" if socket exists or not on registry

As we aligned [here](https://github.com/dapr/dapr/issues/4925#issuecomment-1222719786) the socket name is based on the ComponentCRD `metadata.Name`, since our registries does not have access to

[2022-09-26 21:42] #5105 closed

[2022-09-26 21:44] #5137 closed

[2022-09-26 21:55] mcandeia commented on #5210
As aligned offline with @yaron2 and @artursouza, if we have enough time to do, l'll implement the following changes:

## Pluggable Components AutoRegistration

Use a common and shared folder to create sockets with **arbitrary names**. Dapr Runtime will discover components by looking into a specific folder for sockets available to connect. The socket name (without any extension) will be the compone

[2022-09-27 00:21] mcandeia commented on #5210
In addition to that: I'm going to remove the pluggable components feature flag as we are relying on socket creation to work. So I think it should be sufficient.

[2022-09-27 00:40] yaron2 commented on #5210
I agree.

[2022-09-27 00:51] skyao commented on #2218
Agree with this.

For the sdk implementation to handle this breaking change, there is a common design in Java:

1. for each interface of service, create an abstract class which implements the interface and add a default implementation for all the methods defined in the interface. The default method should be empty and return like "null / 0 / false". In this proposal, the interfaces are AppCallback

[2022-09-27 02:00] raymondsze commented on #5223
Thanks.
Seems like its still hard to implement the event store with the actor state manager. Especially if we have ton of events that we need query by version (if we have snapshot). Seems more suitable to have a custom eventstore with custom schema but not just key and value.

Its still possible there are some issues between event publishment and state saving (eg. the saving take longer time than

[2022-09-27 02:51] #5210 closed

[2022-09-27 06:05] #4168 closed

[2022-09-27 06:31] edetime commented on #4187
hi ,can you send your config file and project  directory tree to have a look!

[2022-09-27 09:59] olitomlinson commented on #4576
Sorry, I think we might be confusing two different things here.

I'm going to write here about what Azure Durable Functions does, and then @cgillum can fact-check if this is proposed to be the same for the embedded workflow engine in Dapr, or not.

---

If there is a transient infrastructure failure/node failure, this **will not** put the workflow into an terminal status of `failed` - the workflow

[2022-09-27 10:23] olitomlinson commented on #4576
@cgillum As per our brief chat on Twitter, has there been a direction set for the isolation/scoping of registered workflows in a cluster?

Consider the following line where a workflow named `ProcessOrder` is registered

[code]
I would consider the registration to have a scope that follows the convention of :

`{namespace}.{dapr_app_id}.ProcessOrder`

Such that two Apps with the same dapr App ID on

[2022-09-27 11:45] mcandeia opened #5258 "proposal: Self-contained pluggable components protos"
## In what area(s)?

/area runtime

## Describe the proposal

Currently, pluggable components proto resides inside the `components/v1` folder. My proposal is to make this folder the self-contained entrypoint for all components proto, hence separating the component API lifecycle from dapr API lifecycle. Which means that none component can import from dapr API proto.

The only thing that's being ref

[2022-09-27 11:47] mcandeia commented on #5258
/assign

[2022-09-27 11:50] mcandeia commented on #5258
@yaron2 @artursouza One more before 1.9

[2022-09-27 11:52] mukundansundar commented on #2218
There is one issue that is observed here when implementing Java SDK HTTP API.
If user gives a custom serializer for the event, the event is serialized using that and again when the whole request is serialized, the byte[] of serializedEvent is automatically base64 encoded and written.

For the 1.9 version of HTTP bulkPublish Alpha API, we support the json serializer only. Custom serialization will

[2022-09-27 11:55] vicioussn opened #5259 "Sidecar 'ReadOnlyRootFilesystem' property"
## In what area(s)?

## Describe the feature
Hello,

Our security team require me to have 'ReadOnlyRootFilesystem' configured for all containers in pods. Currently it's not possible to control this. Can you please implement this?

## Release Note

RELEASE NOTE: **ADD** Sidecar will have 'readOnlyRootFilesystem' set to 'true'.

[2022-09-27 13:34] cgillum commented on #4576
@olitomlinson the workflow engine depends on the state management organization of the underlying actors subsystem. Workflows will therefore inherit the isolation behavior of actors. We’re otherwise not making any explicit decisions about isolation for workflows. If actors are improved with better isolation guarantees, then workflows should be able to easily inherit the same improvements.

[2022-09-27 16:14] olitomlinson commented on #4576
@cgillum An Actor is essentially isolated by its Actor ID. Is there any reason that the namespace and app Id can't be included in the Actor ID to get that isolation?

[2022-09-27 16:55] ItalyPaleAle commented on #5244
This is not really a Dapr issue, but it's about how pubsub brokers work. Some send a message to a single subscriber, some send the messages to all.

In the case of Azure Service Bus, the pubsub component uses ASB topic subscriptions, so all subscribers get a message. The binding however uses ASB queue subscriptions, so only 1 subscriber is notified of each message.

[2022-09-27 17:00] mcandeia opened #5261 "proposal: Pluggable Components Discovery"
## In what area(s)?

/area runtime

## Describe the proposal

This proposal aims to solve few problems

1) Bindings Input/Output registry ambiguity, currently we're assuming that a binding component implements both, input and output
2) The socket name is defined by dapr runtime but used by pluggable component - for sake of simplicity the pluggable component can choose its own name
3) [Reuse gRPC c

[2022-09-27 17:00] mcandeia commented on #5261
/assign

[2022-09-27 17:04] yaron2 commented on #5258
LGTM

[2022-09-27 17:09] #5258 closed

[2022-09-27 20:12] artursouza opened #5264 "Proposal: resiliency policy from app callback API"
## In what area(s)?

 /area runtime

## Describe the proposal

Today, users need to define their resiliency policies via YAML placed in the components folder or as a K8s resource. This proposal is to offer a programmatic way to expose the resiliency policies of an app via a callback API, like `/resiliency` - where the application would declare its policies as JSON and sidecar would load them at st

[2022-09-27 20:31] halspang commented on #5264
I think this is an interesting idea. We've seen consistently that users do have issues with ownership in resiliency. A lot of it come from an app/service-centric viewpoint and they don't understand the current component-like ownership model.

As for the composition of it, it does feel a lot like how we already do actors with the configuration object that we pass through. I'm curious if there's a d

[2022-09-27 21:25] scott-moxham commented on #5244
Thanks for your reply @ItalyPaleAle, but I found the solution today.
The problem was that the `consumerId` was a static string so that all instances used the same Id and thus belonged to the same group and so only one received it.
By changing the consumerId to {uuid}, all instances have a different id and so all instances receive the message.
My config is now
[code]

[2022-09-27 21:25] #5244 closed

[2022-09-27 21:47] #4656 closed

[2022-09-27 22:17] ItalyPaleAle commented on #4508
# API design proposal

## High-level vs subtle

The building block features 2 kinds of operations:

- Low-level or "subtle" (term frequently used to indicate low-level crypto operations; one example is how in browsers, low-level operations are in the [`crypto.subtle`](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto) object). These offer developers full control over the schemes that a

[2022-09-28 03:30] ZhaoYueNing opened #5268 "A Dapr-based cross-service invocation was written in Java, passed as a string, and the result is blank"
## In what area(s)?

## What version of Dapr?

## Expected Behavior
Returns a non-empty string

## Actual Behavior
Return an empty string

## Steps to Reproduce the Problem

server project `s code
[code]

client project `s code
[code]

boot code
[code]
It is normal to access the server directly

![image](https://user-images.githubusercontent.com/12961676/192680893-3e05a022-b47a-49e9-8ea8-86df2e7be

[2022-09-28 03:52] #5268 closed

[2022-09-28 06:35] mukundansundar commented on #2218
@artursouza Based on the discussion that we had and based on https://github.com/dapr/java-sdk/pull/790

Skipping the impl for Java SDK HTTP Client as of now ...

[2022-09-28 09:42] olitomlinson commented on #4508
Great proposal!

I'm struggling to get my head round the interoperation between the sidecar and the KeyVault / HSM, so maybe a sequence diagram might help aid my understanding of how it all hangs together :)

[2022-09-28 10:10] olitomlinson commented on #5264
+1 for this proposal.

Some thoughts...

One thing thats always challenged my way of thinking is that tools like `polly` put the responsibility of resilience onto the `service consumer`. Where as dapr resiliency puts the responsibility on the `service owner` to enforce the resiliency policy, which makes resiliency configuration transparent to all consumers. It's a responsibility shift from consume

[2022-09-28 10:50] DeepanshuA opened #5271 "Few Refactors in E2E Bulk Subscribe"
## In what area(s)?

 /area e2e tests

## Describe the proposal

There are few areas in e2e tests for bulk subscribe implementation where some refactoring can be done.
This issue is opened to take care of those small refactoring changes.

It will also address comments under `e2e refactor` head from https://github.com/dapr/dapr/pull/5256.

[2022-09-28 11:48] mcandeia opened #5272 "typo fix: Pluggable Components proto FeaturesResponse missing plural"
## In what area(s)?

/area runtime

## Describe the feature

Add plural on [FeatureResponse](https://github.com/dapr/dapr/blob/master/dapr/proto/components/v1/common.proto#L32)

## Release Note

RELEASE NOTE:

[2022-09-28 11:48] mcandeia commented on #5272
/assign

[2022-09-28 12:02] DeepanshuA commented on #5271
Few comments to be addressed as part of this:
https://github.com/dapr/dapr/pull/5256#discussion_r981946168
https://github.com/dapr/dapr/pull/5256#discussion_r981951309
https://github.com/dapr/dapr/pull/5256#discussion_r981951383
https://github.com/dapr/dapr/pull/5256#discussion_r981954058
https://github.com/dapr/dapr/pull/5256#discussion_r981954206

[2022-09-28 15:39] akhilac1 commented on #5183
Configuration Subscribe API should respond to app health changes like in the case of pub sub. Dapr runtime shoul automatically unsubscribe when app is unhealthy and re-subscribe when app status changes to healthy.

@pravinpushkar @mukundansundar @rabollin

[2022-09-28 16:04] #5272 closed

[2022-09-28 16:53] github-xcbroker opened #5276 "Dapr sidecar not injected in Pod"
## In what area(s)?

/area runtime

## What version of Dapr?

1.8.3

## Expected Behavior

When we create a Pod object in kubernetes, the sidecar injection should happen in the pod in question.

## Actual Behavior

Sidecar injection does not happen if the kind is Pod and hence we can not communicate with any of the services from within the created Pod.

## Steps to Reproduce the Problem

Kubernete

[2022-09-28 17:23] gunniwho commented on #4317
Make sure that "allowing outgoing API calls" also means proxied grpc service invocations 🙂

[2022-09-28 17:26] ItalyPaleAle commented on #4508
@olitomlinson does this help?
<img width="1792" alt="Dapr crypto proposal diagram" src="https://user-images.githubusercontent.com/43508/192848967-6597ab5e-8c1e-4b96-b07d-06e3d3bba5d3.png">

[2022-09-28 18:39] #4937 closed

[2022-09-28 23:23] artursouza commented on #5276
Please, enable sidecar injector watchdog: https://docs.dapr.io/concepts/dapr-services/operator/#injector-watchdog

This is needed because the K8s API call into sidecar injector might not happen for Pod admission. We plan to make the watchdog enabled by default in the upcoming release.

[2022-09-28 23:26] XiangChen commented on #5276
I have already done that via the following command:
helm upgrade --install dapr dapr/dapr --version=1.8.3 --namespace dapr-system --create-namespace --set dapr_operator.watchInterval=2m --wait
However, my service pod got recreated but still without daprd container injected.

[2022-09-28 23:28] artursouza commented on #5264
I think that is a decision based on the team you are at. Resiliency in Dapr allows you to operate both ways (caller based or callee based). This particular proposal is biased towards the caller's deciding on the policy based on well known limitations on the callee's SLAs. An additional proposal, could integrate resiliency policy with configuration API, where values in the policy would come from a

[2022-09-29 04:50] vikas2k14 opened #5283 "Dapr Resiliency policy configuration at endpoint level"
## In what area(s)?

/area runtime

## Describe the feature

We wanted to have a different timeouts for different endpoints inside a service similarly retry policy can also be different depending on the nature of the endpoint hence it would be excellent to have EP level policy configuration option instead of service level configuration

## Release Note

RELEASE NOTE:

[2022-09-29 04:51] vikas2k14 commented on #5283
@mukundansundar @akhilac1

[2022-09-29 09:19] DRRRRRRRRRRRRR opened #5284 "kubectl logs show the error: flag provided but not defined: -enable-api-logging"
Hi, Can someone help me.
The darpd container failed to start as a siderCar When I apply the dapr in k8s.
The kubectl logs show the error: flag provided but not defined: -enable-api-logging.
It seems that I used the wrong image, but I did use the daprio/daprd: edge

I successfully installed dapr in an offline K8S environment and successfully applied redis statestore Component.
Both on dapr-sys name

[2022-09-29 15:54] danadesrosiers commented on #4604
@halspang, it does not appear that sessions are supported in 1.8.  I get the same error.  It is not supported according to @jjcollinge as of this comment from last month: : https://github.com/dapr/dapr/issues/4965#issuecomment-1203814818

[2022-09-29 17:12] artursouza commented on #5226
Based on the discussion, the Workflow SDK should be implemented the same way as the Actors SDK in each SDK repository under a preview or experimental namespace/class. We will not create a new repository.

/cc @msfussell  @yaron2

[2022-09-29 17:12] #5226 closed

[2022-09-29 17:33] artursouza commented on #5276
Also, is sidecar injector running? Do you have multiple instances of that?

[2022-09-29 17:35] github-xcbroker commented on #5276
Dapr operator logs were listed at the end of the last post. The sidecar injector is running and is a single instance. After the log "listening on 4000 port", there has been only one entry showing that Dapr is injected into an app.

Also when watch dog is activated, it seems to be recycling dapr-enabled pods that does not have daprd injected and ignored those dapr-enabled pods that has daprd runnin

[2022-09-29 18:37] github-xcbroker commented on #5276
It seems that dapr-operator is going through the dapr-enabled pods on the specified time interval but somehow dapr-sidecar-injector is not picking up those dapr-enabled pods and injecting daprd to the pod as there is no new log entry in dapr-sidecar-injector.

[2022-09-29 19:01] #4981 closed

[2022-09-29 19:15] #4551 closed

[2022-09-29 19:48] mukundansundar commented on #5165
closed by https://github.com/dapr/dapr/pull/5243

[2022-09-29 19:49] mukundansundar commented on #5236
closed by #5250

[2022-09-29 19:49] #5236 closed

[2022-09-29 19:54] yaron2 commented on #5198
I think it makes sense to include service invocation APIs (including gRPC proxying) as part of the graceful shutdown period.

[2022-09-29 21:41] #5214 closed

[2022-09-29 21:41] ItalyPaleAle commented on #5284
How did you install Dapr in your Kubernetes cluster?

[2022-09-29 21:42] #5165 closed

[2022-09-29 21:43] #5029 closed

[2022-09-29 22:12] #4524 closed

[2022-09-29 23:11] #5261 closed

[2022-09-30 01:17] DRRRRRRRRRRRRR commented on #5284
Install by helm.
Download the daprio/dapr: edge and daprio/daprd: edge images to local and push them to my private Docker repositories.Then modify the values.yaml to use my private Docker repositories.
Atfer that, install with command:helm install dapr . -n dapr-sys

[2022-09-30 02:02] #4374 closed

[2022-09-30 04:16] #5142 closed

[2022-09-30 05:14] artursouza opened #5289 "Race conditions causing flaky unit test for pubsub unsubscribe on Windows"
## In what area(s)?

 /area runtime

## What version of Dapr?

1.9

## Expected Behavior

This unit test seems to fail with some frequency on Windows:

<img width="687" alt="image" src="https://user-images.githubusercontent.com/130954/193195096-51592a8b-f1fc-42ae-aced-251afebaa87b.png">

## Actual Behavior

Unit test runs at 100% success rate (5 times in a row should be enough).

## Steps to Repro

[2022-09-30 05:34] #4915 closed

[2022-09-30 11:36] DeepanshuA opened #5290 "v1.9 Endgame"
Release Coordinator: @addjuarez
Release Buddy: @DeepanshuA
Build and Test Champion:

Last Day of Planning: 7/22/2022
Preflight check: 9/27/2022
Code freeze: 9/29/2022
Endgame starts: 10/3/20222
RC1 date: 10/3/2022 (earliest)
Release date: 10/12/2022

Release Tasks:

- [x] No P0 issues before code freeze.
- [x] Code freeze at 9/29/2022
- [x] Check all new components are registered in dapr/dapr @yar

[2022-09-30 12:06] shivamkm07 commented on #5290
PR for adding Dapr CLI Installer to winget: https://github.com/microsoft/winget-pkgs/pull/81209

[2022-09-30 13:53] mukundansundar commented on #5290
Potential P1 issue to close before release

https://github.com/dapr/go-sdk/issues/291

[2022-09-30 15:13] ItalyPaleAle commented on #5284
Can you show the Dapr charts you're using? Sounds like something may be corrupted in your cluster.

[2022-09-30 16:24] mcandeia opened #5291 "bug: gRPC Connection is closed before opened stream"
## In what area(s)?

/area runtime

## What version of Dapr?

1.9

## Expected Behavior

When discovering pluggable components, the reflect client expects to be reset before the gRPC connection is closed, this will release unused resources like gRPC streams. Currently this is handled by the GC, when the object is [gargabe collected](https://github.com/jhump/protoreflect/blob/master/grpcreflect/cli

[2022-09-30 16:24] mcandeia commented on #5291
/assign

[2022-09-30 16:43] XavierGeerinck opened #5293 "PubSub is failing when non-epoch receiver is not allowed"
## In what area(s)?

 /area runtime

## What version of Dapr?

1.8.4

## Expected Behavior

Correctly be able to handle events

## Actual Behavior

I see the following on the Dapr logs (logging with debug doesn't provide anything extra)

[code]

When trying it with the raw payload by specifying `rawPayload: true` as metadata I can receive messages. Looking at the Subscribe handler it seems that go

[2022-09-30 17:49] yaron2 commented on #5293
cc @artursouza @ItalyPaleAle

[2022-09-30 17:50] ItalyPaleAle commented on #5293
/assign

[2022-09-30 17:51] ItalyPaleAle commented on #5276
@github-xcbroker It appears that there may be some issues with your service accounts.

Can I recommend trying to uninstall Dapr (`helm uninstall dapr -n $DAPR_NAMESPACE`) and then try reinstalling it with Helm?

[2022-09-30 17:53] ItalyPaleAle commented on #5293
I don't think the message about the epoch receiver is related or relevant, because you are receiving messages.

It seems to be related to the unserialization of the message. I'm going to investigate

[2022-09-30 17:54] XavierGeerinck commented on #5293
Agreed, I also think the core is in the unserialization. Currently working with the base64 data as a workaround for now. In the meantime resolve some other bugs as well in the JS SDK regarding this issue

[2022-09-30 17:57] ItalyPaleAle commented on #5293
Can you share some examples of messages that are being sent to Event Hubs and that trigger this error?

[2022-09-30 17:58] XavierGeerinck commented on #5293
Definitely, this breaks it for example:

[code]

[2022-09-30 18:26] ItalyPaleAle commented on #5293
How are you publishing the messages?

I'm trying to reproduce this but it seems to work for me. Here's how I'm publishing the messages:

[code]

[2022-09-30 18:26] github-xcbroker commented on #5276
We have done that numerous times with no luck. We have noticed those warning logs about "Unable to get SA xx" when dapr-sidecar-injector starts but that appeared in the past when dapr injection worked.

[2022-09-30 18:29] XavierGeerinck commented on #5293
They are coming from IoT Hub in my case and I then subscribe to them with Dapr and the built in event hub of IoT Hub

Sent from Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Alessandro (Ale) Segala ***@***.***>
Sent: Friday, September 30, 2022 8:26:33 PM
To: dapr/dapr ***@***.***>
Cc: Xavier Geerinck ***@***.***>; Author ***@***.***>
Subject: Re: [dapr/dapr] PubSub

[2022-09-30 18:33] timgabrhel opened #5294 "Default resiliency policies for built-in components"
/area runtime

I'm evaluating implementing a resiliency policy into my (dapr 1.8) app but it does appear there are some defaults I cannot find documented.

One example I'd like to clear up is the occurrence of some sql state store failures I'm seeing. Most often, I see 4-5 attempts occur simultaneously (based on the timestamp of the log). I'm just trying to find confirmation of what behavior I'm s

[2022-09-30 18:35] ItalyPaleAle commented on #5293
Are you able to share the exact message that IoT hub sends? I suspect there's something wrong with that, perhaps a form we don't recognize/expect

[2022-09-30 18:35] ItalyPaleAle commented on #5293
I am still unable to reproduce, even when I send the payload you have above in a message with Content-Type `application/cloudevents+json`:

[code]

[2022-09-30 18:37] ItalyPaleAle commented on #5293
The only way I can repro this is if I put the payload inside a JSON array:

[code]

However this is not the format Dapr expects: we accept 1 message only per each body

[2022-09-30 18:39] XavierGeerinck commented on #5293
I just have IoT Hub and consume straight from Dapr through a subscription there so I am unsure if
IoT hub sends them as an array but it might indeed be the case.

When I manually create a receiver with the azure event hub npm libraries then I just receive the decoded body from the data_base64 so I am unsure why we are receiving this error

Sent from Outlook for iOS<https://aka.ms/o0ukef>
_________

[2022-09-30 18:42] github-xcbroker commented on #5276
I am leaning more towards an issue with the **dapr-operator** pod, with the watchdog activated, I can see logs about deleting the pod with no Dapr injected. As the dapr-enabled pod getting recreated, Dapr should see the annotation and try to inject dapr sidecar when restarting the dapr-enabled service pod. This is not happening as the dapr-sidecar-injector log (streamed with -f) stays put. At this

[2022-09-30 18:45] ItalyPaleAle commented on #5293
Are you able to capture the messages from Event Hubs that IoT Hub sends so we can inspect them?

[2022-09-30 18:47] XavierGeerinck commented on #5293
Yes I will try to get one tomorrow over the weekend! Thank you for helping so fast already

Sent from Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Alessandro (Ale) Segala ***@***.***>
Sent: Friday, September 30, 2022 8:45:45 PM
To: dapr/dapr ***@***.***>
Cc: Xavier Geerinck ***@***.***>; Author ***@***.***>
Subject: Re: [dapr/dapr] PubSub is failing when non-epoch

[2022-09-30 18:50] github-xcbroker commented on #5276
This is happening in 4 of our AKS clusters (and could be more as we are so afraid of deploying or restarting pods that could lead to the Dapr sidecar injection failure). Microsoft pushed us to use the Dapr and we now have a dependency that if the Darp injection does not happen, all our services become unavailable.

Also, we have tried AKS version 1.22.6, 1.23.8 with Dapr 1.8.3, 1.8.4, and even 1.9

[2022-09-30 18:51] ItalyPaleAle commented on #5293
It looks like that may be the case: https://learn.microsoft.com/en-us/azure/event-grid/event-schema-iot-hub?tabs=cloud-event-schema

IoT Hub does seem to be sending cloud event messages as array, which is something Dapr doesn't support today.

We could add that change, but first we'd need to understand if it's always 1 message, or if it can be more than 1. In the latter, we may have bigger problem

[2022-09-30 18:57] ItalyPaleAle commented on #5276
The logs about the service accounts are what worry me:

[code]

It means that there may be permission issues while trying to connect to the K8s APIs.

As for the injector, it should show a message stating that the injection succeeded, but before that it should also show a message saying that the webhook was received. If you don't see those either, it means that the admission webhook is not working

[2022-09-30 19:06] github-xcbroker commented on #5276
@ItalyPaleAle Here is the full log from dapr-sidecar-injector. As you can see there are two logs added after it is starting to listen on port 4000. These 2 entries were added when I deployed a sample test app to the same cluster that is experiencing the issue. This indicates that the injector has no issue connecting to k8s APIs because the injection does work for this sample test app. Our problem

[2022-09-30 19:06] XavierGeerinck commented on #5293
Good find! I’m unsure about that actually. Is it something that can be checked internally with the IoT Hub team? Then we could have a definitive answer

Sent from Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Alessandro (Ale) Segala ***@***.***>
Sent: Friday, September 30, 2022 8:51:57 PM
To: dapr/dapr ***@***.***>
Cc: Xavier Geerinck ***@***.***>; Author ***@***.**

[2022-09-30 20:27] olitomlinson commented on #5264
I've just re-read the docs and you are right, you can use `scopes` to restrict the resiliency policy to only apply from a particular consumer app.

As is the example [here](https://docs.dapr.io/operations/resiliency/resiliency-overview/#complete-example-policy), seems to show `app1` and `app2` are scoped, and the target is `AppB`

[code]

So if there was another app, called `app3`, the policy woul

[2022-09-30 20:58] ItalyPaleAle commented on #5276
What happens if you delete the deployment entirely? Not just stopping it, but deleting the deployment and re-create it?

[2022-09-30 21:12] olitomlinson commented on #4508
@ItalyPaleAle

 It really does help, I'm a visual learner, so many thanks for taking the time to provide the diagram.

1. My understanding is that the high-level encrypt/decrypt is implementing client-side/envelope encryption, where the encryption of payloads happens in the dapr runtime, and NOT in the KeyVault / KSM? Have I got that right? (I'm only asking because there was talk previously in thi

[2022-09-30 21:14] DarrenClevenger commented on #5276
I have tried all of that.

kubectl apply -f .\deployment.yml

I see nothing in the injector log. However, the operator starts seeing the container does not exist and starts deleting the pod. This turns into an endless loop.

Deleting the deployment and applying it again just results in the same.

This is a test AKS cluster with CNI and this is the only thing running on it.

`apiVersion: apps/v1
ki

[2022-09-30 21:18] ItalyPaleAle commented on #4508
Correct.

In the proposal I wrote above, the key name is always dynamic, meaning that components have access to all keys they are authorized to, and apps need to specify what key they want to use.

I think doing the opposite (hardcoding a key in the component's YAML) would also encourage bad practices, such as using the same key for data encipherment and signing.

Yes, this is a situation where we

[2022-09-30 21:31] ItalyPaleAle commented on #5276
Did you delete the deployment with `kubectl delete -f deployment.yml` before retrying `kubectl apply -f deployment.yml`?

Are you able to try with a brand-new AKS cluster? Seems that _something_ could have gotten corrupted there.

[2022-09-30 21:46] DarrenClevenger commented on #5276
I'm creating a new cluster now. I will let you know the results.

[2022-09-30 21:50] github-xcbroker commented on #5276
@ItalyPaleAle It is still negative with deleting the deployment and re-deploy. This is tried with the same deployment version that injected Dapr sidecar before and now it is still negative.

[2022-09-30 22:47] olitomlinson commented on #4576
It definitely would be cleaner, you're right there.

I only raise this because we can't use Dapr Actors directly in our product due to the inability to have namespace isolation of Actors. I would hate that Dapr Workflows falls into the same trapping, and once again, my team are unable to access another really valuable programming model.

[2022-09-30 23:55] #5291 closed

[2022-10-01 00:52] ItalyPaleAle commented on #5276
@github-xcbroker would you be available to work with me on this synchronously next week? Can you send me an email at `asegala` at "[my employer] dot com" with the best way to contact you and your availability and time zone?

[2022-10-01 08:37] XavierGeerinck commented on #5293
Coming back to this, from the `@azure/event-hubs` client I receive the `processEvents` which has multiple events that it can process and I have to loop over:

[code]

This results in the following as a message being returned. It thus seems that I get back an array that can contain multiple events  but often it is just one. It is an array though.

What is weird for me is that it often does work (I

[2022-10-01 09:00] MichaelHindley opened #5297 "Declarative subscriptions are not picked up by running pods with dapr sidecar injected"
## In what area(s)?

 /area runtime

## What version of Dapr?

## Expected Behavior

Given a declarative subscription definition like this in a file called `sub.yaml`;
[code]

when I  `kubectl apply -f sub.yaml`,
I expect messages published to that topic to be received by the scoped dapr apps on the `/checkout` route,
then when I run `kubectl delete -f sub.yaml`,
I expect to not receive messages p

[2022-10-01 09:49] MichaelHindley commented on #5297
After some more testing, I noticed that the subscription is not picked up unless the pod is restarted, meaning that in order to have declarative subscriptions, you need to rollout all of the subscribers and publishers each time any subscription related manifest is added, deleted or updated.

[2022-10-01 11:33] ryou90 commented on #501
Hope to finally see this feature in 1.10 Milestone?

[2022-10-01 18:12] ItalyPaleAle commented on #5293
Thanks for confirming.

At this point we are not able to implement support for arrays with cloud events. Supporting arrays is "easy", but the problem is what to do when for example only one of the messages fails. This may be a situation that we can look into again when pubsub batching is merged (cc: @mukundansundar  and @DeepanshuA )

For now, in your case the best solution would be to set `rawPay

[2022-10-01 18:13] XavierGeerinck commented on #5293
Ok that’s a workaround that I can work with for now! Let’s indeed see how to solve this at its core later and let me know how I can help!

Sent from Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Alessandro (Ale) Segala ***@***.***>
Sent: Saturday, October 1, 2022 8:12:20 PM
To: dapr/dapr ***@***.***>
Cc: Xavier Geerinck ***@***.***>; Author ***@***.***>
Subject: Re:

[2022-10-02 04:14] iamEzaz commented on #2481
I still couldn't figure it out how to create file_grpc.pb.go

[2022-10-02 05:12] yaron2 commented on #5297
Correct, that is currently by design. One note though, you need to rollout the subscribers, not the publishers.

[2022-10-02 14:00] DarrenClevenger commented on #5276
I was able to find the source of this issue. We just implemented our own operator and this seems to be the cause of the dapr injector not working. However, at this time I don't understand why. We have our own injector that injects our sidecars that one is still working.

I created a new cluster and installed dapr. Everything worked as expected. But, as soon as I added our operator it stopped worki

[2022-10-03 08:06] gdlcf88 commented on #4247
Hi @yaron2, I hope this issue can keep open until the Dapr team has a clear intention.

[2022-10-03 14:33] ItalyPaleAle commented on #4967
👋🤖

[2022-10-03 15:32] DarrenClevenger commented on #5276
I was able to solve this issue. What I found was when running "make deploy" it was also creating or updating the target namespace. That namespace included the label "control-plane: controller-manager". That is the default out of box. Removing this label allowed the dapr injector to start running again. I was able to reproduce this over and over. I removed this label from my other clusters and the

[2022-10-03 15:37] github-xcbroker commented on #5276
Looks like we found the root cause of the issue and we can safely close this ticket. Thanks to all!

[2022-10-03 15:40] #5276 closed

[2022-10-03 17:45] amulyavarote commented on #4898
Adding endgame issue to the release planning. https://github.com/dapr/dapr/issues/5290

[2022-10-03 18:39] amulyavarote commented on #5290
Can we change 1.9.0-rc.1 to 1.9.0-rc.3 in this issue based on the link here https://github.com/dapr/dapr/releases. We have rc.3 based on the list here.

[2022-10-04 02:42] johnewart commented on #5264
I think that defining resiliency policies programmatically is a great idea; not only is it easier to read and reason about but also reduces the room for error that writing / parsing YAML brings with it (e.g something like `timeout: ">500 ms"` in YAML is easy to make a mistake when writing) whereas being able to say `Retry().When(Upstream.Latency.IsGreaterThan(500 * Duration.Millisecond))` is both

[2022-10-04 02:44] johnewart commented on #5283
This feels like this could be combined with / solved by something like what is proposed in #5264 - in that a resiliency / rate limiting policy could programmatically take into account the endpoint or action being invoked; thoughts?

[2022-10-04 05:17] mukundansundar commented on #5290
Small P0 in cli https://github.com/dapr/cli/issues/1076

[2022-10-04 07:12] johnewart commented on #5196
The intention of this is to provide Spring-cloud compatible annotations (i.e `@EnableDiscoveryClient`) using the `dapr/java-sdk` talk to Dapr instead of another service or library, right?

So, as a trivial example, if I already had an app that was using Consul for discovery (using the `@EnableDiscoveryClient` annotation) I should be able to instead swap out the `spring-cloud-consul` component for

[2022-10-04 10:54] #4122 closed

[2022-10-04 14:03] shivamkm07 commented on #5290
Another P0 in cli: https://github.com/dapr/cli/issues/1079

[2022-10-04 17:09] artursouza opened #5304 "Processing messages on ASB binding causes sidecar to crash"
[code]

[2022-10-04 19:16] NickLarsenNZ opened #5306 "Resiliency CRD should specify a list of target components"
## In what area(s)?

## Describe the proposal

The `dapr.io/v1alpha1` spec for `Resiliency` has a field (`spec.targets.components`) which is currently a map.

The map keys each refer to a `dapr.io/v1aplha1` `Component`.

The way it is done now is quite inflexible with tools such as Kustomize, where the resource name might be prefixed, suffixed, or transformed in some other way (See kubernetes-sigs

[2022-10-04 19:45] NickLarsenNZ commented on #5306
So,

https://github.com/dapr/dapr/blob/f757b240a6a98f70838306c91d2513ff56b3afaf/pkg/apis/resiliency/v1alpha1/types.go#L59-L68

Could become:

[code]

[2022-10-04 20:50] ItalyPaleAle commented on #5306
CC: @halspang

I think this makes sense to me. There are other scenarios where an array is more flexible than a key-value pair too. Only problem here is maintaining backwards-compatibility with existing policies.

[2022-10-04 20:50] ItalyPaleAle opened #5309 "Update Dapr SDKs to use standardized user-agent"
This is a proposal for updating all Dapr SDKs to standardize the value they report in the user-agent header (and equivalent gRPC metadata), correctly identifying themselves.

Thanks to #5247 and #5295, when API logging is enabled, we now emit the user agent in logs. The next step would be to standardize the value that is reported by the Dapr SDKs, as today most SDKs do not report anything as user-

[2022-10-04 20:59] NickLarsenNZ commented on #5306
Does it need to maintain backward compatibility?

- The `Resiliency` feature is still in preview
- The API spec suggests it is alpha1

Unless you meant the same thing but for more established kinds? I can't say I have come across others like this yet.

[2022-10-05 13:44] wesselkranenborg commented on #5179
We would like to have access to the ApplicationProperties coming from the message (BrokeredMessage) from the Azure ServiceBus Queue to have it available somewhere in the Dapr Binding.

[2022-10-05 13:57] olitomlinson opened #5310 "Create state store/s via callback API"
## In what area(s)?

## Describe the feature

Currently the only way to create a state store is by authoring a component yaml.

I propose a programmatic way for a dapr-ized service to declare a state store component, borrowing heavily from how pubsub subscribers can be declared at container start-up via the `/subscribe` endpoint

For example :

[code]

[2022-10-05 18:30] artursouza commented on #5309
I don't think we should add the protocol. That information is redundant for 2 reasons:
* The API logging feature already knows the protocol being used.
* SDKs do not offer more than one protocol for communicating to the sidecar (exception is Java SDK but HTTP communication will be deprecating for talking to the sidecar)

Otherwise, LGTM

[2022-10-05 18:40] ItalyPaleAle commented on #5309
For gRPC, the protocol is automatically added and for most (all?) SDKs it's not configurable.

However, I'm ok with not mandating that in the contract. User agent headers very frequently contain a lot of things and normally clients are expected to just look for specific sub-strings. We could just mandate the `dapr-sdk-*/v*` part and nothing else?

[2022-10-05 23:59] ItalyPaleAle commented on #5264
With this proposal, I would like to add the proposal of standardizing all HTTP callbacks to [`/.well-known` URIs](https://en.wikipedia.org/wiki/Well-known_URI).

For example:

- `/.well-known/dapr/subscriptions` in place of the current `/dapr/subscribe` (we can fall back to `/dapr/subscribe` to ease migration)
- `/.well-known/dapr/resiliency` for resiliency policies
- `/.well-known/dapr/components

[2022-10-06 00:26] amulyavarote opened #5314 "Initial Dotnet SDK proposal for Dapr workflows"
## Dotnet SDK proposal for Dapr workflows.

This is an initial proposal for Dapr workflows regarding the structure and the methods to be considered.

The SDK implementation will be a wrapper to DurableTask dotnet client.

The nuget dependencies we will be using are:
1. `Microsoft.DurableTask.Client`, [Link](https://www.nuget.org/packages/Microsoft.DurableTask.Client/0.4.1-beta)
3. `Dapr.AspNetCore

[2022-10-06 06:34] #4640 closed

[2022-10-06 11:33] pravinpushkar commented on #5183
/assign

[2022-10-06 11:55] itsoli91 opened #5318 "Is there any plan/timeline when AWS services status are changing from Alpha to Beta/Stable?"
Hi
Since AWS currently is the most used cloud provider based on  [stackoverflow survey 2022 ](https://survey.stackoverflow.co/2022/)
Is there any plan/timeline when AWS services Status are changing from Alpha to Beta/Stable?

[2022-10-06 14:39] tony-clarke-amdocs commented on #1788
@yaron2 Do we have any benchmarks for the latency added by Dapr when the payload is big like 1MB? I see most of the metrics run with 1KB...but we do have use cases where we want to create a JSON document in couchbase that is 1MB. I fear this will add several milliseconds per invocation.

[2022-10-06 16:53] ItalyPaleAle commented on #4716
👋🤖

[2022-10-06 17:42] artursouza commented on #5314
Can you add examples of code showing this being used?

[2022-10-06 18:19] vinceyuan commented on #3837
I still see this issue in Go `1.18.5`. `295219529439528020` is recognized as `295219529439528000`.

[2022-10-06 23:21] berndverst commented on #5309
For Python the version string does not start with `v`, so I have now implemented this as `dapr-sdk-python/{version}` where `version` is `1.8.0` for example.

One correction @artursouza: The Python SDK uses HTTP for Actor APIs and gRPC for everything else.

[2022-10-07 00:12] ItalyPaleAle commented on #4730
👋🤖

[2022-10-07 01:43] DRRRRRRRRRRRRR commented on #5284
I am sorry for this late reply.My holiday is over😂
I used this charts:https://github.com/dapr/dapr/tree/master/charts/dapr and only changed image to use my private Docker repositories.

[2022-10-07 05:25] rahulpoddar-fyndna opened #5320 "Bulk Api for Secret Store throwing error"
Bulk Api for Secret Store shows error
{ 2 "errorCode": "ERR_SECRET_GET", 3 "message": "failed getting secrets from secret store gcp-secret-manager: failed to access secret version: rpc error: code = InvalidArgument desc = The provided Secret Version ID [projects/262969855916/secrets/projects/262969855916/secrets/BASE24_IS_UPI_PAYLOAD_ENCR_DR_TDES1/versions/latest] does not match the expected forma

[2022-10-07 05:27] rahulpoddar-fyndna opened #5321 "Trace issue while using Resiliency"
We are using resiliency with 1.8.4 version of Dapr and having following issue
Parent trace id getting generated as 00-00000000000000000000000000000000-0000000000000000-00 when timeout resiliency parameter is configured for the first entry point service.

@akhilac1 @mukundansundar

[2022-10-07 05:30] rahulpoddar-fyndna opened #5322 "Dapr throwing error while subscribing at start"
While starting application, some time we get issue as "not able to subscribe to topic" – It does not seem to be consistent. We are using declarative subscription.This is happening with kafka pub sub in version 1.8.4

[2022-10-07 05:42] #4950 closed

[2022-10-07 08:18] rabollin commented on #5321
Tagging @halspang to review this issue.

[2022-10-07 08:51] #4974 closed

[2022-10-07 12:29] mukundansundar commented on #5322
@rahulpoddar-fyndna will you be able to share the log that you are seeing? And also have you enabled api logging and if so the logs for that also on startup would be helpful.

[2022-10-07 12:30] mukundansundar commented on #5322
@rahulpoddar-fyndna additionally when you said that it does not happen consistently how often have you seen this issue?

[2022-10-07 12:33] mukundansundar commented on #5322
/assign

[2022-10-07 13:05] pravinpushkar commented on #5320
@rahulpoddar-fyndna Would you be able to confirm if this was working for you in previous Dapr version ?

[2022-10-07 16:28] MichaelHindley commented on #5297
I see, thank you for the design context @yaron2 . I guess it makes sense to align this feature with classic devops practices with external, controls for topics, where restarting to pick these up is somehwat common, and the access most likely lives somewhere that is not a part of the CI.

Some feedback I can offer is that this design decision makes it hard to use Dapr in a GitOps based workflow, wh

[2022-10-07 16:28] #5297 closed

[2022-10-08 00:20] cgillum commented on #4576
JFYI, first PR into the `feature/workflows` branch has been merged: https://github.com/dapr/dapr/pull/5301.

It introduces an internal actor concept which is used by the new durable task-based workflow engine. More PRs will be published over the next few weeks that flesh out the full workflow engine feature set.

[2022-10-08 07:48] #4955 closed

[2022-10-08 08:26] daixiang0 commented on #5003
Now @ItalyPaleAle is working on converting Dapr middlewares and HTTP channel from fasthttp to net/http, we do not need to consider fasthttp now.

[2022-10-08 10:16] sunzhaochang commented on #4252
/assign

[2022-10-08 16:49] jkears commented on #4576
This is awesome, looking forward to testing this.  We have just started to deploy and test 60+ microservices that were code-generated by our DDD based Domain Modeling tooling and all running with DAPR inside Azure Container Apps.   These services are for ERP capabilities, core services and future product offerings.

We plan to utilize your DAPR WF to manage any long running WF and SAGAs.

In the n

[2022-10-09 00:02] codefromthecrypt commented on #5003
thanks for the ping. In the finalizing proof-of-concept, we'll focus on net/http though having fasthttp is still useful for modeling. Also the interaction of the fasthttp adaptor with net/http is interesting as the response writing is deferred. good context for design thinking.

[2022-10-09 00:26] ItalyPaleAle commented on #5003
@codefromthecrypt I would recommend ignoring fasthttp as we'll eventually migrate off that for a variety of reasons (see #4979). In particular with regards to the response writing, fasthttp is doing it wrong, as it doesn't allow sending data to the client as a stream: it requires all data to be saved in memory before it begins flushing it out.

[2022-10-09 00:37] codefromthecrypt commented on #5003
@ItalyPaleAle ack yeah that buffering part is part of the issue, as if anything it should be opt-in.

For the case of dapr I'll ignore fasthttp and buffering, even if some wasm plugins need to buffer (or at least to be able to attempt to buffer).

[2022-10-09 00:39] codefromthecrypt commented on #5003
in case curious (not immediate need here), Web Application Firewall (WAF) can contain rules that require buffering, and so for example its wasm has configuration around that. OTOH supporting this is more about what the middleware is capable of doing vs whether or not fasthttp is involved. https://github.com/corazawaf/coraza-proxy-wasm

[2022-10-09 08:28] chenjpu commented on #3146
nomad 1.3 version, support for local service registry, can name resolution for dapr support this feature?

[2022-10-09 09:00] oyjGit opened #5328 "Can't invoke without service machine IP via service name on LAN"
![image](https://user-images.githubusercontent.com/12670712/194747479-ecc8953b-e812-4997-92f4-2d17c2d53e85.png)
This is localhost invocation. Server side running on linux(Ubuntu18.04)

![image](https://user-images.githubusercontent.com/12670712/194747603-0d2ca8b8-1264-41ca-81df-97614663f8fd.png)
This is LAN invocation. Client side running on Win10. It's seems mDNS not works, and how to resolve it.

[2022-10-09 11:26] #4965 closed

[2022-10-09 21:58] yaron2 commented on #4711
/keep-alive

[2022-10-09 23:01] yaron2 commented on #1788
We don't have a test setup for 1MB payloads, but I'll see if I can provide you with benchmark results for that in the next few days.

[2022-10-10 02:01] #4858 closed

[2022-10-10 04:04] mukundansundar commented on #5290
Potential P0 in CLI https://github.com/dapr/cli/issues/1082

[2022-10-10 12:00] pravinpushkar commented on #5320
@artursouza @yaron2 Can you please move it to dapr/components-contrib. The issue exists here - https://github.com/dapr/components-contrib/blob/740c1a649536129e85cc5821656d91627e9d30d9/secretstores/gcp/secretmanager/secretmanager.go#L159

[2022-10-10 12:01] pravinpushkar commented on #5320
/assign

[2022-10-10 14:14] #5289 closed

[2022-10-10 18:44] berndverst opened #5326 "Dapr Bot Enhancements (for maintainers)"
Dapr Bot should support the following commands which should only allowed to be run by maintainers:

`/forcemerge` - merges a PR even if required tests are failing or are pending. This is necessary because maintainers do not have admin access to the repo.
`/transfer *targetrepo*`, e.g. `/transfer dapr` - moves the issue to the target repo. This is necessary for timely transfer of wrongly filed issu

[2022-10-11 01:17] ItalyPaleAle commented on #4979
Still very much relevant

[2022-10-11 02:34] maqueisaprogrammer opened #5331 "pubsub retry not working"
**evnrionment**
machine: mac M1
docker image: daprio/daprd:edge， build by docker-compose
component: rabbitmq

**problem**
when a service subscribe the topic message and return the status code 500, i expect the dapr sidecar send the message to the service again, until it reach the `backOffMaxRetries`。
however，dapr sidecar only send the message once, never retry again. that confuse me. mabe this is

[2022-10-11 03:30] rahulpoddar-fyndna opened #5332 "PubSub Delivering Message to incorrect service end point with Kafka"
This is observed with version 1.8.0
We have one publisher contained in a service (Service A). This is publishing message to 2 different topics via Dapr Pub Sub component. Here we use Kafka. The two consuming end points (EP-1 and EP-2) are in Same service (Service B). Assuming Topic-1 is mapped to End point EP-1 and Topic-2 is mapped to end point EP-2.  Sometimes message published to Topic-1 is del

[2022-10-11 03:39] rahulpoddar-fyndna opened #5333 "Secrets API for fetching Bulk Secrets"
As of now Dapr supports fetching the Secrets for a specific Key and for fetching all the secrets in Bulk.
We are looking for API wherein we can provide list of Keys (more then one) and get secret values in bulk.  The keys can be passed to API as a List and get the values in Map (as key value pair)

@pravinpushkar

[2022-10-11 03:41] rahulpoddar-fyndna opened #5334 "Pub Sub Polling interval for Kafka"
The subscriber polls to get the messages from subscription topic in kafka. The interval at which request is made to get the new message is not configurable as of now. Making this parameter configurable will help in tuning the  application for performance needs.

@pravinpushkar

[2022-10-11 04:32] artursouza commented on #5290
I have validated dapr dashboard on standalone and K8s mode. I created one issue asking CLI maintainer to verify if it is a regression: https://github.com/dapr/cli/issues/1091

[2022-10-11 04:36] artursouza commented on #5290
PR to update chart for dashboard image: https://github.com/dapr/dapr/pull/5335

[2022-10-11 04:37] artursouza commented on #5290
I have already tagged dashboard to 0.11.0

[2022-10-11 07:31] skyao commented on #5196
Yes, this is not included in the first version of this proposal, because we are still discussing about how to integrated with spring cloud rest.

The core problem is that should dapr take all the capalibilities that spring cloud rest provides as curerent service invoke api does ?or Just provides some of them, for example, service discoveryj (so that dapr need to add a service discovery api and bui

[2022-10-11 07:36] skyao commented on #5196
Yes, this is the core value of this proposal: using dapr in spring-cloud (or xxxx) style

[2022-10-11 07:41] skyao commented on #5196
Agree with you!

Yet we don't have too many practices in similar project integation and we can't do a pefect design at beginning, so we can start from spring cloud first. And for the common code we can later move into dapr java-sdk project by code refactory.

[2022-10-11 07:45] skyao commented on #5196
Yes, this is a good use case and I want to implete.

But we need to make a desicion first that can dapr provide the capabilities and api in service invoke separately? Like service discovery (name resolver in service invoke).

@artursouza @yaron2 what's your suggestion about above question?

[2022-10-11 13:48] 1046102779 opened #5336 "How to locate the specific cause of e2e test failure?"
https://github.com/dapr/dapr/actions/runs/3226835048/jobs/5280847978

[code]

The CrashLoopBackOff  log when the container hangs is not found in the `tgz: v1.23.6_ha_test_logs` file. Are there  logs for  command: `kubectl logs xxxx daprd --previous` currently? Where is it? @yaron2 @daixiang0

[2022-10-11 16:05] mukundansundar commented on #5290
closed

[2022-10-11 16:06] mukundansundar commented on #5290
moved to 1.10, one issue with a mitigation in place for podman https://github.com/dapr/cli/issues/1090

[2022-10-11 16:50] amulyavarote commented on #4576
Linking dotnet-sdk proposal for dapr workflows:
https://github.com/dapr/dapr/issues/5314

[2022-10-11 18:49] #4603 closed

[2022-10-11 19:50] ricardozanini commented on #5314
Hi! Are you guys considering the [Serverless Workflow specification](https://serverlessworkflow.io)? We have a [dotnet SDK](https://github.com/serverlessworkflow/sdk-net) that might help. :)

[2022-10-11 20:11] cgillum commented on #5314
@ricardozanini we are considering this, yes, though that would be part of a separate proposal. Most likely we'd be looking to implement a runtime for the SLWF spec, in which case it would be useful to use your SDK for spec validation. Happy to discuss this further on https://github.com/dapr/dapr/issues/4576 if you'd like.

[2022-10-12 06:34] #4629 closed

[2022-10-12 07:49] 1046102779 commented on #5336
![image](https://user-images.githubusercontent.com/20457624/195282113-a29c44f7-0cf3-4df9-aa81-150641925cef.png)

[code]

I found log:

time="2022-10-12T07:38:56.823201813Z" level=fatal msg="error loading configuration: json: cannot unmarshal string into Go struct field TracingSpec.spec.tracing.samplingRate of type float64" app_id=reentrantactor instance=reentrantactor-567655c599-48vqk scope=dapr.r

[2022-10-12 10:10] XavierGeerinck opened #5341 "Building Block Proposal: Authorization Access Control (Gatekeeper Service)"
While working with software, one of the most common issues that pops-up is "Authorization". After a user is authenticated, how do we know that this user has access to a specific piece in your code? For this, developers typically reside towards implementing:
* RBAC (Role-based Access Systems)
* ABAC (Attribute-Based Access System)

The above is often considered a lengthy task, as users have to ensu

[2022-10-12 10:50] #4912 closed

[2022-10-12 12:22] pravinpushkar commented on #5332
@rahulpoddar-fyndna
one more question on this - Are you sending cloud events or raw payload messages ?
Also kindly share subscription yaml files or subscripton rules and any useful dapr logs.

[2022-10-12 14:05] Andemki opened #5342 "Kafka Binding v1.8: kafka: client has run out of available brokers to talk to (Is your cluster reachable?)"
## What version of Dapr?

## Expected Behavior

Dapr and Azure Event Hub integration using Kafka binding work without errors

## Actual Behavior

I've been using bindings.kafka component for recieving messages from Azure Event Hub in my application. Everything work properly in Dapr versions 1.6.x and 1.7.x. But when I updated dapr components to version 1.8, the sidecar container (daprd) of my appl

[2022-10-12 17:26] artursouza commented on #5341
I like the proposal. Is there a way to make this dynamic so we don't require users to change a CRD? Maybe reading from a database, like we do for configuration building block?

[2022-10-12 17:39] XavierGeerinck commented on #5341
I like that idea @artursouza! Might be nice to support "state stores" as components that persist the rules

[2022-10-12 23:13] artursouza opened #5345 "Flaky unit test for config API unsubscribe"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

Unit test passes consistently.

## Actual Behavior

<img width="755" alt="image" src="https://user-images.githubusercontent.com/130954/195464468-095815a7-a24a-42e9-9fd5-fdbbd5906ec7.png">

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2022-10-13 03:39] ItalyPaleAle commented on #5345
This is already fixed in release-1.9 by #5296 , just needs to be merged back into master

[2022-10-13 03:42] ItalyPaleAle commented on #5341
Another source for inspiration, which is very powerful and flexible (although perhaps complex), could be Zanzibar: https://research.google/pubs/pub48190/
One implementation is in Ory Keto: https://www.ory.sh/docs/keto/

[2022-10-13 03:44] ItalyPaleAle commented on #5336
This kind of error usually means that the app and/or daprd are stuck in a crash loop.
Best way to debug these is watching what's going on with Kubernetes (e.g. via `kubectl get pods` or `k9s`) while you start the test

[2022-10-13 03:50] 1046102779 commented on #5336
If the dapr developers has own dapr development environment, it is ok; But many dapr developers just submit PR and do not have a complex local integration test environment.

Therefore, the PR environment of the dapr community is needed to help locate and analyze problems. This should be the easiest way.

[2022-10-13 03:51] 1046102779 commented on #5336
Since the e2e test log is available, it may be as complete as possible

[2022-10-13 03:53] ItalyPaleAle commented on #5336
I agree with you that the logs can be improved! I was just responding to your question on how to locate the cause of test failures :)

However, speaking by experience, if you're making large changes on E2E tests, I strongly suggest you procure yourself a K8s cluster (even if just Minikube) to run your tests against. Our E2E test suite takes ~1 hour to run and that's not really sustainable for a de

[2022-10-13 03:55] ItalyPaleAle commented on #5345
This should already be fixed in release-1.9 by #5296 (just needs to be merged back into master). In that PR, the grpc package runs tests without any detected race condition.

[2022-10-13 03:56] 1046102779 commented on #5336
It is true that the current e2e integration test case is repeatedly created and destroyed in a k8s cluster and related dependencies are installed, which is indeed very time-consuming.

[2022-10-13 04:55] rahulpoddar-fyndna commented on #5322
The message thrown is
{"app_id":"payment-imps-inquiry-services","instance":"app-imps-payment-imps-inquiry-services-75846b8c7f-mmvxm","level":"debug","msg":"failed getting http subscriptions, starting retry","scope":"dapr.runtime","time":"2022-09-15T04:50:33.983475964Z","type":"log","ver":"1.8.0"}

The Details of the subscription and publisher yaml are in attached Dapr_Subscription.zip

imps-credit

[2022-10-13 06:13] rahulpoddar-fyndna commented on #5321
Few more details
Observations/Concerns :
1. If timeout is defined for the entry point service i.e ARef service, then the traceId gets generated as 00000000000000000000000000000000. While proper trace id gets generated if the timeout is defined as 0s or the timeout property is not at all defined.
2. If there is a dapr interaction happening from ARef -> CRef, traceId for ARef and CRef is not the sam

[2022-10-13 07:53] pooja-fyndna commented on #5321
[RefService.zip](https://github.com/dapr/dapr/files/9772142/RefService.zip)

Attached zip contains following artifacts to simulate issues :
1. ARef and CRef - Sample applications
2. /RefService/local/dapr-components - Folder containing the resiliency policy details
3. /RefService/local/dapr-config - Folder containing the dapr configuration details
4. /RefService/README.md - Text containing dapr ru

[2022-10-13 07:57] XavierGeerinck commented on #5341
Thank you @ItalyPaleAle! Added the resources already to post itself. Working on a graphic as well to explain in more detail how we could incorporate @artursouza's comment as well. Current way of thinking is to store policies in a state store building block which can be configured.

[2022-10-13 10:20] rahulpoddar-fyndna commented on #5322
The message thrown is
{"app_id":"payment-imps-inquiry-services","instance":"app-imps-payment-imps-inquiry-services-75846b8c7f-mmvxm","level":"debug","msg":"failed getting http subscriptions, starting retry","scope":"dapr.runtime","time":"2022-09-15T04:50:33.983475964Z","type":"log","ver":"1.8.0"}

The Details of the subscription and publisher yaml are in attached Dapr_Subscription.zip

imps-credit

[2022-10-13 11:28] gehhilfe opened #5347 "Only the first document of a multiple document yaml file is used for declarative subscriptions"
## In what area(s)?

/area runtime

## What version of Dapr?

edge

## Expected Behavior

When multiple subscription instances a described inside a single yaml inside the components folder, all subscription should be loaded.

## Actual Behavior

When subscription are loaded from a yamls inside component folder, only the first subscription from a single file is loaded.

## Steps to Reproduce the Pr

[2022-10-13 13:08] skyao commented on #5342
This bug should be very similar to this bug, which is happens in kafka pubsub:

https://github.com/dapr/components-contrib/issues/2182

In dapr v1.8, I have done code refactory for kafka binding and kafka puhsub to remove the duplicated code. See :

- https://github.com/dapr/components-contrib/pull/1695: Refactory kafka pubsub components for code reuse
- https://github.com/dapr/components-contrib/

[2022-10-13 13:28] ricardozanini commented on #4576
Frieds, If you're interested in the [Serverless Workflow specification](https://serverlessworkflow.io) for this effort, please let us know! We are at the CNCF slack, `#serverless-workflow` channel.

[2022-10-14 01:53] DRRRRRRRRRRRRR commented on #5284
I used dapr with tag 1.8.4 and fixed the error.

[2022-10-14 01:53] #5284 closed

[2022-10-14 03:02] dipankaj commented on #4588
@yaron2 @artursouza, can you please share the release calendar?

[2022-10-14 06:06] mukundansundar commented on #5290
Merge back to master CLI https://github.com/dapr/cli/pull/1101

[2022-10-14 08:45] #4621 closed

[2022-10-14 09:51] mukundansundar opened #5357 "[Proposal] Guidance/requirements for a new Alpha API in Dapr"
# Guidance/Requirements for a New Alpha API in Dapr

## Introduction

This proposal outlines the criteria for adding new building block or enhancing an existing building block.
The objective is to clearly document the criteria for building Alpha APIs in new or existing building blocks.

## Background

As the complexity of Dapr grows and we start adding new building blocks and new APIs, we need a c

[2022-10-14 15:06] safari137 opened #5358 "Dapr isolation in openshift"
## In what area(s)?

/area runtime

I am using open shift.  Is it possible to install Dapr into a single namespace and restrict its permissions to only that namespace?

My use case is that I do not want Dapr to be available to any other projects, especially with this being a POC.

[2022-10-14 17:40] lmolkova commented on #4133
I suggest following otel metrics spec here and remove path attribute altogether for service invocation. Perhaps it can stay as `http.route` for bindings as there (it seems) low-cardinality is guaranteed.

Since dapr metrics can't substitute in-app instrumentation anyway, applications can still report the level of details they need.

https://github.com/open-telemetry/opentelemetry-specification/blo

[2022-10-14 18:20] ItalyPaleAle commented on #4962
👋🤖

[2022-10-14 19:30] ItalyPaleAle commented on #5357
I support this proposal, with a couple of comments:

1. On the requirement that both HTTP and gRPC must be supported. I think that should be a strong encouragement, but we also need to recognize that there will be situation where this won't be possible or recommended. For example, APIs that require bi-directional streaming cannot be implemented in HTTP. So I think this needs the possibility to hav

[2022-10-14 21:49] hansmbakker commented on #4255
I see this and other issues related to event sourcing (#915 and #907) being autoclosed while having such functionality would be worthwhile to have.

@yaron2 would it be an idea to regard this issue as an umbrella issue and pin it?

[2022-10-15 04:58] #4739 closed

[2022-10-15 22:07] olitomlinson commented on #4917
Completely agree with this. The native DLQ is the perfect place to hold the messages until they can be triaged. In the past we have built 'shovel' tools that allow us to PeekLock a DL message, modify it if necessary, and then push it back to the queue/topic (never bothered with transactions across queues as our processes were idempotent and resilient to retries)

I'm currently thinking about how I

[2022-10-16 09:20] suxi opened #5364 "Is there any feature which supports manual ack in pub/sub based on redis stream"
Short description is as the title.
Long description is when I do something async task which takes about 5m. if I try to return status code 200 after the task has been finished. It always makes Dapr to resend the msg. Surely, I can set the pub/sub timeout. But it is also difficult to set a good timeout for all the tasks.

[2022-10-16 17:57] ItalyPaleAle commented on #5364
Dapr doesn't support manual ACKs. The idea is that the runtime ACK's a message when the app responds with a success message, or NACK's otherwise.

When possible, Dapr tries to continuously renew locks for messages that it acquires. However, I don't believe that's possible for Redis Stream-or at least, I couldn't find a command to do that in the Redis docs.

Your best option would be to set `proces

[2022-10-17 02:44] maqueisaprogrammer opened #5365 "can alicloud oss upload image/file ?"
**evnrionment**
machine: mac M1
docker image: daprio/daprd:edge， build by docker-compose
component: bindings.alicloud.oss

**problem**
when i use alicloud oss binding, i can upload a file with text, follow is my code:
[code]
i didn't use the php sdk, just use guzzlehttp to call the sidecar api, and it worked. I login aliyun，and i can see the file is there, i download the file, open it, and yes, it

[2022-10-17 08:54] shubham1172 opened #5367 "Re-structure Bulk Publish API request metadata"
## In what area(s)?

/area runtime

## Describe the feature

Related to #2218

Currently, the Bulk Publish API has the following request metadata:

|**Parameter**|**Description**|
|--|--|
|`metadata.bulkPublishSerially`|If true, the messages are sent to the broker serially, in the same order. Otherwise they are sent to the broker as parallel Publish requests. Only used by the default implementatio

[2022-10-17 09:05] shubham1172 opened #5368 "Update Bulk Publish API response"
## In what area(s)?

/area runtime

## Describe the feature

Related to #2218

### Brief

The proposal is to alter two behavior
1. Instead of returning status code 200 with a list of success responses, return status code 204 with an empty response body
2. In case of 500 errors, instead of return a list of response with success/failure, return only the failed entry IDs.

**EDIT**: for gRPC,
1. `sta

[2022-10-17 11:21] bossan commented on #5090
I have the exact same problem. To make this issue a bit more descriptive, I'll give a bit more details about our setup and what we've tried so far.

# Our setup
Let's say we have `namespace-a` and `namespace-b` for the application and `dapr-system` as the namespace for the generic Dapr stuff. The app runs as two separate instances in `namespace-a` and `namespace-b` as we want them to be completely

[2022-10-17 11:45] mukundansundar commented on #5342
@Andemki the fix for this issue has been released in https://github.com/dapr/dapr/releases/tag/v1.8.5

Please try it out and let us know if it works for you.

[2022-10-17 12:21] bossan commented on #5090
I've been looking through the closed issues and I came to the conclusion that the above error might have to do with Dapr not supporting [namespace isolation for actors](https://github.com/dapr/dapr/issues/4711). Can anyone confirm this?

[2022-10-17 13:30] DeepanshuA opened #5369 "Bulk Subscribe: Sending cloudEvent instead of bytes in an Entry to App when rawPayload NOT set"
## In what area(s)?

## Describe the feature

In normal subscribe, currently a cloudEvent is sent across.
In the current bulk sub implementation in https://github.com/dapr/dapr/tree/feature/pubsub-batching, event is sent across only as bytes. As per latest design agreement with dapr-maintainers, we need to use `oneof` where-in either cloudEvnt would be sent across for cloudEvent OR bytes will be s

[2022-10-17 13:36] #5106 closed

[2022-10-17 15:46] DarqueWarrior opened #5370 "Proposal: Dapr Output binding categories and shared metadata"
## In what area(s)?

/area runtime

/area docs

## Describe the proposal

Each output binding requires component unique metadata. Even though the goal of using the output binding is the same the code must be changed to move from the Local Storage component to the Azure Blob Storage or AWS S3 Storage components. I would consider all three of those to be in the same “category” of output bindings. Ne

[2022-10-17 16:35] yaron2 commented on #5310
Note from maintainer triage meeting: triaging to 1.10, should cover pluggable components too.

[2022-10-17 17:30] #4898 closed

[2022-10-17 18:00] nyemade-uversky opened #5373 "v1.10 Release Planning"
## Release team
Release lead: @nyemade-uversky
Release lead shadow(s): @msfussell and @greenie-msft
Perf test lead: @tmacam
Long haul test: @tmacam
Build manager: TBD

Read about the [Dapr release lifecycle](https://github.com/dapr/community/blob/master/release-process.md)

## Milestone dates
Feature definition starts: 10/17/2022
Feature definition ends: 11/04/2022
Code freeze: 01/27/2023
Endgame

[2022-10-17 18:05] nyemade-uversky commented on #5373
@dapr/maintainers-dapr, @dapr/maintainers-cli, @dapr/maintainers-components-contrib, @dapr/maintainers-java-sdk, @dapr/maintainers-python-sdk, @dapr/maintainers-dotnet-sdk, @dapr/maintainers-js-sdk, @dapr/maintainers-go-sdk, @dapr/maintainers-dashboard, @dapr/maintainers-quickstarts, @dapr/maintainers-php-sdk

We're going to start planning for 1.10. For that planning, would maintainers be able to

[2022-10-17 18:09] berndverst commented on #5373
@nyemade-uversky in most cases the milestones already exist, but not all existing issues have been migrated to the new milestone.

I doubt maintainers have had time to prioritize items for their various repos or can do so by tomorrow. So let's take this with a grain of salt tomorrow. The milestones will not yet reflect actual priorities tomorrow.

[2022-10-17 18:27] nyemade-uversky commented on #5373
Will do! I can do that now

Sounds good! Didn't want to step on toes, but it looks like I'm OK to just do this

[2022-10-17 18:43] berndverst commented on #5373
@nyemade-uversky yup, you are exactly the person who should be creating the issue since you are coordinating the release. Didn't see that earlier!

[2022-10-17 20:12] berndverst commented on #5146
Also note:
It is **not** a goal of DocumentStore to be compatible with data written by State Stores. Document Store will make decisions how to save data in the most appropriate manner to facilitate the querying of data, partial updates, possibly bulk updates etc.

[2022-10-17 23:55] yaron2 commented on #5146
Overall LGTM.

You mention `Delete documents` (as in plural), which I assume is Bulk delete documents? if that's the case, should we add a `Delete document` operation?

Do you reckon it should be a goal to be compatible with data written by non-Dapr users? (I understand the need to not be compatible with data written by State Stores).

[2022-10-17 23:57] berndverst commented on #5146
Yes, data written by non-Dapr users in general should be compatible. We should entirely shy away from specialized data representation @yaron2.

So in that sense state store data can be accessed too but you would need to understand the internals of Dapr state store to do that.

[2022-10-18 00:03] yaron2 commented on #5146
I am fine stating that State Store data and DocumentStore data are not compatible. It prevents crossing the streams and, more importantly, allows them to grow independently where otherwise this coupling would limit and entangle them and force compliance checks continuously.

I would like to avoid non-deterministic results and thus state upfront that users should not mix State Store data with Docum

[2022-10-18 00:05] berndverst commented on #5146
Added Bulk Save and Bulk Delete to be clearer.

I need to look a bit more at common APIs. We could require Save, Get, Delete etc to support one or more documents. Not sure that these really need to be distinct APIs. They could all support one or more items.

[2022-10-18 01:33] mukundansundar commented on #5183
The issue that I see with this is that on unsubscribe and resubscribe, the ID tracking the previously subscribed keys changes so app will not be able to unsubscribe from them again using the old ID . We have to make sure that on resubscribe the ID does not change.

Otherwise this looks good.

[2022-10-18 01:56] mukundansundar commented on #5357
For this one I think in Dapr we do try and make both http and grpc consistent with each other.
For example see this https://github.com/dapr/dapr/issues/4546#issuecomment-1161996237 making the APIs consistent might not be the only reason for this planned change but it is one of the reasons.
I also agree to the point that we will not have the benefits of grpc streaming if we ask people to make apis

[2022-10-18 05:37] msfussell commented on #5357
@mukundansundar Good write up and detailed on the specific Building block API perspective. Generally there needs to be a Feature Lifecycle Document that outlines the writing of a proposal through to the completion criteria for a feature (what is "done" defined as). This applies to any feature, although what you have done here is excellent for API features

I would propose:
1) Writing a proposal fo

[2022-10-18 06:13] samchenws opened #5378 "about pubsub"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

My pubsub file:
[code]
but
[code]
what?
`error connecting to redis at localhost:6379: dial tcp 127.0.0.1:6379: connect: connection refused`
## Actual Behavior

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2022-10-18 06:16] 1046102779 commented on #5378
In addition to the `pubsub.redis` component instance configuration, do you have a `state.redis` component instance configuration?

[2022-10-18 06:38] samchenws commented on #5378
thank you
This is the problem of  `state.redis`

[2022-10-18 06:38] #5378 closed

[2022-10-18 11:42] Andemki commented on #5342
@mukundansundar @skyao Hello. Yes, I confirm that this issue has been resolved in Dapr v.1.8.5. Kafka binding for Azure EventHub Listener works properly for us in this version. Thank you very much!

[2022-10-18 11:42] #5342 closed

[2022-10-18 13:20] olitomlinson commented on #5341
Related request https://github.com/dapr/dapr/issues/5094

[2022-10-18 21:27] greenie-msft commented on #5370
@artursouza, @yaron2 - any opinions on this proposal? I do think having something like this in place could harden Dapr's portability story.

[2022-10-18 21:31] yaron2 commented on #5370
Having consistent metadata for bindings, while not required, could make them more portable and so I think it would be good to have that.

Wouldn't use a "dapr." qualifier though

[2022-10-19 00:17] berndverst commented on #5146
Open questions:

- Query API: Should we reuse the generic queries we currently support in state store? Should we *also* enable the capability to run native queries (for those who need that) with the caveat that such queries cannot be run across different components?

- Create Document: Should this also allow replacing a complete document with the same key?

[2022-10-19 06:36] berndverst commented on #5146
Some relevant API references:
RethinkDB: https://rethinkdb.com/api/javascript/get
MongoDB (also AWS DocumentDB, Azure Cosmos DB): https://pkg.go.dev/go.mongodb.org/mongo-driver@v1.10.3/mongo
Azure Cosmos DB (SQL): https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/data/azcosmos

[2022-10-19 06:51] berndverst commented on #5146
Mongo APIs looks like this:
[code]

Meanwhile for RethinkDB this looks like:
[code]

Meanwhile Cosmos DB has:
Get Document (by collection and key)
List Documents (by collection)
Query Documents (note querying across multiple partitions is only supported with very simple queries)

--

On the document creation and update front it seems the consensus is:
[code]

[2022-10-19 07:13] vzdesic opened #5380 "Security related architecture (authentication & authorization)"
I am reading DAPR Docs related to OAuth2 and OIDC middleware components. I am trying to find the best security related solution for my case. Services are built as ASP.NET Core APIs and there is a Blazor WASM client. I want to have **separate Identity Server for Authentication** and also **separated service for Authorization**. I may choose to **fill the token with permissions** on the Identity Ser

[2022-10-19 11:23] DeepanshuA commented on #5367
Few QQ:
1. What is the by-default value of bulkPublishOption, when nothing is specified?
2. Does it error out if a component implementing bulk Publish API, is given value as `serial` or `parallel` for bulkPublishOption?

[2022-10-19 12:06] shubham1172 commented on #5367
I was initially thinking of `native`, but can we add another option `default`, that uses `native` if available, or else falls back to `parallel`?

I would propose that we allow users to intentionally use `serial`/`parallel` even if the component supports native bulk publish.

[2022-10-19 13:43] ctorresunimag95 opened #5382 "Can not see traces on App Insights using Open Telemetry"
## In what area(s)?

/area runtime

## What version of Dapr?

CLI version: 1.8.1
Runtime version: 1.8.4

## Expected Behavior

I expect to see traces coming into Application Insights.

## Actual Behavior

No data is ingested to App Insights. The Open Telemetry collector pod displays traces in my local machine but those traces are not being exported to App Insights.

Here are the logs on my Open Te

[2022-10-19 13:46] mukundansundar commented on #5367
I think adding a `default` value would be good.

[2022-10-19 14:31] Intecpsp opened #5383 "Resiliency feature unable to be found in `kubectl api-resources`, so unable to configure"
## In what area(s)?

 /area runtime

## What version of Dapr?

 1.9.0

## Expected Behavior

Resiliency feature is enabled and either the default configs are used, or the user is allowed to overwrite them

## Actual Behavior

When adding
[code]
And
[code]
I am getting things like
[code]
and
[code]

## Steps to Reproduce the Problem

1. Install Dapr 1.8.4 using Helm 3.6.1
2. Enable 'Resiliency' pre

[2022-10-19 14:50] DeepanshuA commented on #5368
Please correct: in the response `statuses`, I think it should be `entryId`.

[2022-10-19 14:56] Intecpsp commented on #5383
Edit to update version to 1.9.0. Also seeing the issue after updating

[2022-10-19 16:59] shubham1172 commented on #5368
Thanks @DeepanshuA, corrected.

[2022-10-19 17:13] shubham1172 commented on #5367
I think we will get rid of the `default implementation` terminology, and stick to `serial` and `parallel`. It also might be intuitive to call it `default` since empty/missing `bulkPublishOptions` means `default`.

If we do have a `default` option in place, the migration from one component to another will be seamless (fully using the power of Dapr), without the users having to look up each time if

[2022-10-19 18:04] yaron2 commented on #5367
Please do not use `default` or `native`, it's ambiguous.

[2022-10-19 22:16] yaron2 opened #5385 "Discussion: A shared Dapr instance across multiple applications"
This proposal looks to examine an additional operating mode for Dapr which enables sharing a single Dapr instance between many apps.
(On Kubernetes this would likely mean a Daemonset as the prefered sharing model would be per-node, for both security and performance considerations).

This opreating mode carries significant reliability and security risks, some of them cannot be mitigated in any way,

[2022-10-20 00:08] saber-wang commented on #5385
Could shared instances also simplify development?

[2022-10-20 00:39] yaron2 commented on #5385
When running locally, yes, it might.

[2022-10-20 01:19] saber-wang opened #5387 "mtls is closed, why does dapr-to-dapr communication still need to verify the certificate?"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

 /area runtime

## Ask your question here
Currently, component acquisition fails due to expired certificate
[code]

error:
[code]
**Our problem is that in many cases the system is unattended (d

[2022-10-20 02:09] yaron2 commented on #5387
Dapr always uses mTLS between the sidecar and the control plane. This is not for sidecar to sidecar communications

[2022-10-20 02:12] saber-wang commented on #5387
@yaron2
Yes, I see this description in the documentation, it is a difficult thing for me to renew the certificate (there may be hundreds of internal clusters to deal with)

Currently I'm also having issues using the CLI in the development cluster
[code]

[2022-10-20 04:43] #5259 closed

[2022-10-20 05:50] #5336 closed

[2022-10-20 08:14] akhilac1 opened #5389 "Cross cluster communication in Dapr"
## In what area(s)?

 /area runtime
 /area docs
/area/components-contrib

# Design for Cross cluster communication in Dapr

This document is a proposal to enable communication across clusters in a container environment,and discusses the design options to support this behaviour in Dapr enabled clusters.

## Table of Contents
1. [Objective / Scenarios](#objective)
1. [Goals](#goals)
1. [Out of Scope

[2022-10-20 08:35] white-label-development commented on #3169
Organization/Company: Sapphire Holidays
Website: in development
Country: UK
Contact: neil.thompson@sapphireholidays.co.uk
Usage scenario: Monolith to Microservices Transition. Pretty similar to eShopInDapr in principle.
Uses the Pubsub redis/Azure Service Bus, state redis, secrets Azure Key Vault. We LOVE not having to deal with Kubernetes as hosted on Azure Container Apps. Dapr+ACA looks to be ga

[2022-10-20 10:07] ManuDinicola commented on #4892
it happens today again on an upgrade of k8s.

[2022-10-20 10:17] shubham1172 commented on #4892
Can you share more information about your enviornment, and are you able to consistently see this reproducing?

[2022-10-20 10:35] dwagelaar commented on #4892
This problem only happens for us (@ManuDinicola and me) on kubernetes cluster upgrade according to this procedure: https://kubernetes.io/docs/tasks/administer-cluster/cluster-upgrade/

The problem does not occur when performing a rolling reboot of all kubernetes cluster nodes (with drain/uncordon and 2 min. wait between node reboots), even if two out of three replicas of dapr-placement-server are

[2022-10-20 11:00] TaurusM opened #5390 "Bigint value from PostgreSql lost precision query by dapr."
I use dapr in a k8s cluster, when call binding API through daprd, this problem happend.
Code with rust:

![image](https://user-images.githubusercontent.com/28164162/196930113-00dafd66-8c84-4177-9cd0-31e42ac4b864.png)

Data in PostgreSql:

![image](https://user-images.githubusercontent.com/28164162/196930405-a2287695-9dc5-45ea-9983-ad533ce895e8.png)

Container log:

![image](https://user-images.git

[2022-10-20 13:09] dwagelaar commented on #4892
FYI:

- we use ArgoCD to deploy dapr via Helm chart
- we set .Values.cluster.forceInMemoryLog true, because our cluster enforces runAsNonRoot in its PSP

[2022-10-20 14:12] jjcollinge commented on #5389
obviously your proposal goes further than this but just in case you find it useful [here is a proof of concept](https://github.com/dapr/dapr/pull/3254) for implementing Gateways across cluster.

[2022-10-20 15:37] yaron2 commented on #5389
I like the overall approach here. The out-of-scope, constraints and requirements sections are all well laid out.

Can you explain what network configuration needs to be done to allow cross-cluster traffic in the gateway scenario? In my eyes, the two clusters operate independently and the gateway accepts external traffic and then distributes it to the internal instances. From a configuration point

[2022-10-20 17:19] artursouza commented on #927
This feature is already present in the runtime API but not for app callback yet. The .Net SDK is being implemented in https://github.com/dapr/dotnet-sdk/issues/486

[2022-10-20 17:53] ItalyPaleAle opened #5392 ""Server-less" gRPC for applications"
## Problem we're trying to solve

For Dapr runtimes to communicate with applications, the application needs to have a server running, listening on an open port. Although not an uncommon practice, if we could get rid of this need, the experience of developers using Dapr would be better.

## How can we solve that?

Dapr currently has 2 app channels: HTTP and gRPC. For HTTP, there's not much we can d

[2022-10-20 18:17] jordanbean-msft opened #5393 "Installing Dapr on a non-RBAC enabled AKS cluster results in post-install webhook failing to update dapr-webhook namespace"
## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior

An error telling me that the AKS Dapr extension cannot be installed on an AKS cluster that does not have Kubernetes RBAC enabled when trying to install the AKS Dapr extension.

## Actual Behavior

I accidentally created an AKS cluster without Kubernetes RBAC enabled (using a Bicep template). I used the AKS Dapr ext

[2022-10-20 18:27] ItalyPaleAle commented on #5383
Is this a cluster you've upgraded from an older version of Dapr? If so, you may need to force an upgrade of the CRDs, which Helm doesn't do automatically.

Clone this repo, then do:

[code]

[2022-10-20 18:32] yaron2 commented on #5385
That's what I was thinking too. Create a (for a lack of a better term right now) `Dapr Manager` layer that creates programattic `daprd`s for the different apps. I don't think these instances would necessarily need to listen on their own ports if we can proxy the traffic through the single `Manager` instance.

[2022-10-20 18:42] ItalyPaleAle commented on #5385
Ok, that could work too. We'd need to have a way to clearly route messages to the right "daprd" based on "something" (something that is somehow related to SPIFFE?)

Regardless, the "daprd" instances don't need to be concerned with how the request is coming in. They could be given a different port each, or could be a requested routed by the "manager": they just care that there's a request coming in

[2022-10-20 18:49] yaron2 commented on #5385
Agree, that would be the way of least impact on the runtime.

[2022-10-20 19:10] Intecpsp commented on #5383
It is an upgraded cluster. Adding the resiliency CRD `apply` did the trick (we were already doing the others), thank you!

[2022-10-20 19:10] #5383 closed

[2022-10-20 20:20] ItalyPaleAle commented on #5392
Yes, but the case the docs highlight is bidirectional streaming. It is not possible for a gRPC server to create a gRPC client on an incoming connection. Which means that the only way to do 2-way communication is to use a gRPC streaming call (and that's what the second proposed approach is about - with its limitations).

Agree. I was not suggesting we deprecate the current AppCallback by the way.

[2022-10-20 21:24] berndverst commented on #5393
This is specific to the AKS Extension for Dapr, not the OSS project.

That being said, Dapr requires RBAC (this also applies to the AKS extension):
https://github.com/dapr/dapr/tree/master/charts/dapr#prerequisites

This seems like a documentation issue.

[2022-10-20 21:37] jordanbean-msft commented on #5393
The documentation does specify that you must have Kubernetes RBAC installed to install the AKS Extension for Dapr, but there is no error if you don't have that feature enabled. Instead, you find out later when Dapr doesn't work correctly. It would be better if there was a check at installation time to prevent installing Dapr in a state that won't work when you try to use it.

[2022-10-20 21:46] berndverst commented on #5393
Agreed. I will pass along that feedback.

By the way, I think AKS extension related issues can be filed here: https://github.com/Azure/AKS

We try to keep this repo cloud agnostic given the Dapr community is cloud agnostic :)

[2022-10-20 22:22] johnewart commented on #5385
(Perhaps unsurprisingly) I also have been thinking about this recently, though mostly in relation to the developer experience where working on multiple apps necessitates running multiple `daprd` instances and dealing with ports/config when all I really want is one `daprd` that multiple apps can connect to it and be up and running. I think that one way to achieve this would would be using streaming

[2022-10-21 02:33] TaurusM commented on #5390
I don't use JavaScript.

[2022-10-21 03:33] shubham1172 commented on #5393
@jordanbean-msft, you can use this to file issues with Dapr extension for AKS https://github.com/Azure/azure-cli-extensions

[2022-10-21 03:34] TaurusM commented on #5390
And more, I have two service A and B, the code show above is in A, the flow chart shows below:

Period 1: generate id and save to PG.

![image](https://user-images.githubusercontent.com/28164162/197103588-93aa4ad6-03aa-4a0d-a32f-f5cdeeeb9e39.png)

All is OK.

Period 2: query id from PG.

![image](https://user-images.githubusercontent.com/28164162/197104982-959adfa9-274f-4a3b-9b84-24b9c313b4aa.png)

[2022-10-21 06:17] ItalyPaleAle commented on #5390
Sorry, it looked like JS but now I see it’s Rust instead.

Can you please share:

1. Which component are you using? Postgres binding or state store?
2. How are you querying the database? Can you please share the code you use to invoke Dapr?
3. How are you parsing the response? Can you please share the code?
4. Can you please share the raw data returned by Dapr to your application? That’s the raw r

[2022-10-21 06:30] TaurusM commented on #5390
1. Postgres binding

![image](https://user-images.githubusercontent.com/28164162/197126404-42d40885-ec39-4ba3-9dea-ed25d9dada5e.png)

2. log

![image](https://user-images.githubusercontent.com/28164162/197127214-adf51541-8047-45fb-ba9d-a8c4a8d7585e.png)

code:

![image](https://user-images.githubusercontent.com/28164162/197127484-b6db3d30-3d3b-4df1-b3a6-f5be6a1dff88.png)

3. I don't rust-sdk to pa

[2022-10-21 06:31] ItalyPaleAle commented on #5385
See #5392

Although, Yaron and Artur so far are more concerned with only supporting input bindings and pubsub message delivery. Something that supports service invocation too (especially gRPC proxying, given that gRPC service invocation will be deprecated in the non-too-distant future) would only work with the transport-based approach proposed in the issue (TLDR is that there are 2 ways we could d

[2022-10-21 06:35] #5387 closed

[2022-10-21 06:41] shubham1172 commented on #5367
Are you suggesting only changing their names to something else, or the overall metadata itself?

[2022-10-21 06:42] TaurusM commented on #5390
Is there somewhere I can check the data interaction within dapr? such as runtime log or else.

[2022-10-21 06:44] ItalyPaleAle commented on #5390
This is unlikely going to be in the logs because we don't log data, as that may contain PII or other sensitive data.

Last things please:

- could you please share the table schema?
- could you confirm what version of Dapr you're using?

I have an idea where the issue could be coming from, and I'll check tomorrow morning

[2022-10-21 06:46] TaurusM commented on #5390
[code]

[2022-10-21 06:47] TaurusM commented on #5390
[code]

[2022-10-21 06:49] TaurusM commented on #5390
dapr info of operator:

![image](https://user-images.githubusercontent.com/28164162/197131188-1a949ad5-da6b-4384-8954-d5e6658f3335.png)

![image](https://user-images.githubusercontent.com/28164162/197131230-3730b051-00e9-4217-acd5-4202aa3d8e38.png)

![image](https://user-images.githubusercontent.com/28164162/197131268-26e7153c-c5a6-40c2-9f4e-7e4ded765ae4.png)

[2022-10-21 07:10] #4956 closed

[2022-10-21 07:38] XavierGeerinck commented on #5373
https://github.com/dapr/js-sdk/milestone/8 is our milestone :)

[2022-10-21 08:51] TaurusM commented on #5390
I just change the code from u64 to string. :joy:

[2022-10-21 09:39] shubham1172 commented on #4712
/assign

[2022-10-21 12:21] codefromthecrypt commented on #5003
@chn-xu can you take a look at the examples of the work in progress tinygo SDK for full access to HTTP?

https://github.com/http-wasm/http-wasm-guest-tinygo

We have a working implementation integrated with dapr (and mosn also), but want to make sure this has the functions needed before we wrap up for a PR

https://github.com/dapr/components-contrib/compare/master...http-wasm:components-contrib:ht

[2022-10-21 12:21] shubham1172 commented on #5326
Adding a few more enhancements to the list.

When an issue is labelled with:
1. `docs-needed` - automatically create an issue in dapr/docs
2. `sdk-needed` - automatically create issues across SDKs in the dapr org

[2022-10-21 14:11] #5010 closed

[2022-10-21 14:34] fabistb commented on #5032
ping. @artursouza is it possible to keep this open?

[2022-10-21 14:51] yaron2 commented on #5367
I'm suggesting to use either serial or parallel. can we not get around a "default/native" construct in any way?

[2022-10-21 15:04] shubham1172 commented on #5393
@jordanbean-msft can you please close this issue?

[2022-10-21 15:05] #5393 closed

[2022-10-21 15:18] mukundansundar commented on #5367
We can use only `serial` and `parallel` but then they only apply to the components that do not have native Bulk Publish implementation... That was the reason to add the other two values.

As it exists we do not have the capability at the dapr runtime level to say that the bulk publish call to components will be done in serial or parallel. As long as the component implements the `BulkPublish` inter

[2022-10-21 15:57] yaron2 commented on #5385
These use cases mirror the ones I had in mind.

[2022-10-21 15:59] yaron2 commented on #5367
Ideally instead of letting every component implement the same serial/parallel boilerplate code, this is something we can do once in `daprd`.

[2022-10-21 16:03] mukundansundar commented on #5367
@yaron2 currently the serial and parallel options are only used when individual publish calls are made because the component does not implement the bulk publish api ...

[2022-10-21 17:30] johnewart commented on #5385
![image](https://user-images.githubusercontent.com/27885/197254679-6673f2d1-24ac-4819-8e85-d6b7dddf6e41.png)

My mind ... to your mind... 😄

[2022-10-21 18:13] yaron2 commented on #5385
My biggest concerns are about the reliability issues which cannot be addressed or mitigated. Of course the associated security risks would keep anyone up at night too, but as you said these can be mitigated via 3rd party tooling and/or the hosting platform.

[2022-10-21 18:42] #4970 closed

[2022-10-21 19:39] mcandeia opened #5402 "Proposal: Pluggable components annotation for Kubernetes"
## In what area(s)?

/area runtime

## Describe the proposal

As pluggable components bootstrap is platform dependent (self-hosted vs Kubernetes), the pluggable component developers can't do anything to help configuration on those platforms. Similarly, the end-user requires specific knowledge to properly configure the used pluggable components. Currently, this knowledge is achieved by reading docu

[2022-10-21 19:39] mcandeia commented on #5402
/assign

[2022-10-21 21:24] johnewart opened #5403 "[Proposal] Move actor timer and reminder functionality into Dapr's control plane"
/area runtime

/area placement

## Describe the proposal

## Proposal: Migrating reminder and timer functionality to the control plane

### What does this propose?

This proposal suggests that we make some structural changes to the actor system in Dapr in order to improve performance and increase observability. In particular, this proposal focuses on the reminder and timer storage and dispatch mod

[2022-10-21 21:50] ItalyPaleAle commented on #5403
I like this proposal but with one condition: that the placement service gets rid of Raft once for all. This would become even more critical if you need to give the placement service more responsibilities.

Context: currently placement can run in two modes of operation: non-HA (single node, usually data is persisted on disk or it won't survive a restart of the container) and HA (exactly 3 nodes-not

[2022-10-21 22:36] ItalyPaleAle commented on #5390
@TaurusM I can reproduce the issue and will work on a fix.

Yes, changing from bigint to string would work, but then you have a primary key in your table that is a string, and that's MUCH less efficient.

[2022-10-21 22:52] ItalyPaleAle commented on #5390
@TaurusM looks like the problem is the use of the `to_json` function in postgres.

If you return the rows as-is, it will work and won't cast to float64.

[code]

Causes the value to be unserialized into a float64

While

[code]

Works

[2022-10-21 23:24] #5320 closed

[2022-10-22 01:33] johnewart commented on #5403
I am in favor of this idea, but I was deliberately trying to avoid scope explosion for this proposal for the sake of timeliness. That being said, it would be feasible (and possibly even simpler in some ways) to change placement service (placement v2?) to operate differently for both placement data as well as reminders and timers (i.e without raft) and rather than a feature flag in `daprd`, placeme

[2022-10-22 01:55] TaurusM commented on #5390
@ItalyPaleAle Yes you are right.

[2022-10-22 02:02] TaurusM commented on #5390
@ItalyPaleAle
You mean it's the `row_to_json` function in postgres cause the problem?

[2022-10-22 02:14] shuiyunwudi opened #5404 "dapr and kubernetes version compatibility Matrix"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

dapr v1.6.0

## Ask your question here
Is there any dapr and kubernetes version compatibility Matrix, I didn't find it on the dapr reference.

[2022-10-22 02:28] yaron2 commented on #5404
cc @msfussell

[2022-10-22 03:19] TaurusM commented on #5390
For test, I created a table named `test` under schema `public`:
[code]

insert a test value:
[code]

I test it with 3 sql commands, and with some codes.
`select * from public.test;`
`select row_to_json(test.*) from public.test;`
`select row_to_json(t.*) from public.test t;`

the log result:
1.

![image](https://user-images.githubusercontent.com/28164162/197316688-9eda8862-7c9c-48c3-8be5-fe6cc40214

[2022-10-22 03:21] ItalyPaleAle commented on #5390
Yea that's by design sadly and it's due to returning JSON from Postgres. What you could do it you absolutely need JSON data, you can try casting it to string: `to_json(u.*)::string`

I haven't tested that but should work.

[2022-10-22 03:24] TaurusM commented on #5390
OK, thank you!

[2022-10-22 04:27] shubham1172 opened #5405 "Dapr bot - read members from GitHub Team"
Today Dapr bot maintains a hard-coded list of members who can trigger privileged actions. This proposal is to read the list from groups dapr/approvers-dapr, dapr/maintainers-dapr, and dapr/maintainers.

[2022-10-22 05:05] yaron2 commented on #5403
Removing Raft is a separate discussion and should not be considered as a prerequisite for this proposal.

This is a false statement, if the placement is down applications do not experience downtime, and to be more specific, applications invoking actors and running actor hosts do not experience downtime either.

I am willing to accept a PR that incorporates the changes proposed here irrespective of

[2022-10-22 05:08] yaron2 commented on #5403
@johnewart what are your thoughts of moving this functionality to a separate, new service that has the sole responsibility of handling reminders and that can scale independently of placement?

[2022-10-22 06:58] ItalyPaleAle commented on #5403
Yup, that's what I was referring to. Depending on the application, that could cause some degree of service degradation, if not a full outage.

I think that makes sense. On K8s, this could use the K8s leader election APIs to elect a leader irregardless of the number of replicas (could even be an even number, hooray!). On self-hosted, could relay on the dapr-operator to perform leader election?

[2022-10-22 09:47] KaiWalter commented on #5146
@fabistb this proposal would also make more sense for most of our state store scenarios

[2022-10-22 10:47] KaiWalter commented on #5146
I was just listening to the discussion in the community call 71 and I would vote that Dapr keeps its own query language abstraction. If some of the component manifestations then in turn can use MongoDB API to talk to multiple providers - fine - but I would not make it any kind of a dependency.

[2022-10-23 10:36] mmisztal1980 commented on #2675
no point in keeping this open

[2022-10-23 10:48] DataWorm commented on #2675
We are still interested in this feature. From our point of view, there is still a reason to keep it open! ;-)

[2022-10-23 11:10] Shiko1st commented on #2675
Yes, we are, but seems nobody cares )))

[2022-10-23 11:10] Shiko1st commented on #2675
Is this feature now available?

[2022-10-23 11:49] codefromthecrypt commented on #5003
raised this as noticed we are missing a feature for logging https://github.com/dapr/kit/pull/24

[2022-10-23 16:18] yaron2 commented on #2675
Triaged into 1.10. I believe this should be doable. If anyone from the community interested in this feature wants to take the lead and help with design and implementation, that would greatly help.

[2022-10-23 22:38] ItalyPaleAle commented on #5367
So in that case, what's even the point of supporting this metadata option for components who DO support bulk publish?

- No native support: allow passing `bulkPublishMode` (unrelated, but I actually do prefer `mode` rather than `option`) as `parallel` (default) or `serial`
- Native support: metadata option `bulkPublishMode` is ignored, always use the native method.

[2022-10-23 22:48] #5390 closed

[2022-10-24 03:20] shubham1172 commented on #5367
This was the initial proposal (except the naming was different), but the concern raised was that `bulkPublishMode` will be a metadata that's only supported by a subset of components, and there will be no way to enforce certain behavior (e.g., throw an error if native is unsupported).

However, we have other components where we need to change metadata as we swap them. This provides a seamless exper

[2022-10-24 03:36] sunzhaochang commented on #5019
/assign

[2022-10-24 05:52] daixiang0 commented on #5370
kind like https://github.com/dapr/components-contrib/issues/1977

Agree with @greenie-msft , unified semantics can harden Dapr's portability story.

[2022-10-24 06:12] daixiang0 commented on #5385
Maybe we can start it by sharing in a namespace, not a node.

Also, it reminds me of the idea of ​​Dapr as a service. In this context, the shared Dapr sidecar is just like a service, if we can make it HA, the reliability would get a big guarantee.

[2022-10-24 06:39] jjcollinge commented on #5146
Just leaving this here for reference as this thread contains the thinking around the original query API and it seems some similar questions are coming up.

[2022-10-24 12:14] sunzhaochang commented on #5347
/assign

[2022-10-24 12:58] LionTao commented on #5079
I agree.

[2022-10-24 16:02] ItalyPaleAle commented on #5385
From an engineering POV, I don't think it makes a difference if we enable sharing in a namespace or entire cluster. THe challenges remain the same with regards to removing all shared state and ensure some boundaries

[2022-10-24 17:08] berndverst commented on #5146
@jjcollinge I do want to stress that we must not be burned by prior discussions and art with regards to query API in state store. After all we will focus on true document stores as opposed to relational databases which also previously had to be supported in state store by such an abstraction.

The problem is that the common set of query operations supported by all document stores can be quite limi

[2022-10-24 18:47] ItalyPaleAle opened #5408 "API logging could log PII with HTTP APIs"
## In what area(s)?

/area runtime

## What version of Dapr?

All

## Description

Currently, when API logging is enabled:

- In gRPC, we log the gRPC method name, which is something like `/dapr.proto.runtime.v1.Dapr/GetState`
- In HTTP, we log the entire request path, which is something like `GET /v1.0/state/my-state-store/state-key`

All good with gRPC, as we just log a method name.

But with HT

[2022-10-24 19:16] johnewart commented on #5403
As long as we are okay with adding more services to the control plane I am fine with adding a reminder service (I am in favor of smaller services as they are easier to work on anyhow). It will need to be able to place the actors onto nodes and thereby be dependent on placement service (not a problem, it can just retry for a bit and fall over if placement service isn't ready yet).

[2022-10-24 19:27] artursouza commented on #5402
LGTM

[2022-10-24 20:38] yaron2 commented on #5402
Having talked to @mcandeia offline, I think this is a big improvement in UX.

[2022-10-24 20:59] ItalyPaleAle commented on #5403
I personally think adding an extra service is not ideal (as it adds more operational complexities) UNLESS they can benefit from independent scaling, which seems to be the case here.

[2022-10-24 23:02] #1827 closed

[2022-10-25 01:29] chn-xu commented on #5003
Yeah, it looks great.

[2022-10-25 01:38] codefromthecrypt commented on #5003
cool. documentation is here now, though I owe some diagrams (will make a site for it)
https://github.com/http-wasm/http-wasm-abi/blob/main/http-handler/http-handler.md

I'll add a PR in the next few days to contrib

[2022-10-25 02:40] daixiang0 commented on #5225
Looks good overall, cc @yaron2 and @artursouza for more feedback.

[2022-10-25 09:03] akhilac1 commented on #5047
@saber-wang  - https://docs.dapr.io/reference/components-reference/supported-configuration-stores/
Consuming the configuration data can be followed for each supported configuration store from above specification.

Is the query related to setting up data in the configuration store? Can you please and some more info on what you are referring to by `management of configuration API`

[2022-10-25 09:08] #5045 closed

[2022-10-25 09:14] saber-wang commented on #5047
@akhilac1  https://github.com/dapr/dapr/issues/2988#issuecomment-853880907 According to the discussion, the Admin api is suspended, so I have no problems

[2022-10-25 12:24] pravinpushkar commented on #5333
One of the approach's that we can take is  -

The existing API for `Bulk fetch - secrets/{secretStoreName}/bulk` can be extended to accept parameters like -

`secrets/{secretStoreName}/bulk?name=k1&name=k2`. These parameters can then be collected and set in **updated** struct for `BulkGetSecretRequest` -

[code]
These keys can then be used to filter down the response returned by  `Bulk fetch`.
In

[2022-10-25 15:47] rabollin commented on #5075
This issue is under evaluation

[2022-10-26 11:13] akhilac1 commented on #5389
@jjcollinge @yaron2 - I am going through the shared references and will revert back soon. Thanks for sharing 👍

[2022-10-26 12:16] sunzhaochang commented on #5331
The built-in retry policies in pubsub components has bee disabled, see [Disable built-in retries in components](https://github.com/dapr/components-contrib/issues/1797)  for more information.

You can use [resiliency](https://docs.dapr.io/operations/resiliency/resiliency-overview/) instead to perform retry policy.

[2022-10-26 16:55] lloydfischer commented on #5341
See also openFGA, authZed etc. many zanzibars are rolling out.

[2022-10-26 17:01] lloydfischer commented on #5341
https://youtu.be/NVO3PUyEpkM is about authorization at Netflix. The key point is that their authorization servers are remote (as are Zanzibar derived ones). Since they are remote they can be unreachable so the client has a set of fallback rules to use in the meantime. That is a great spot for DAPR to fit in

[2022-10-26 18:34] dmitriy-pisarevskiy opened #5421 "Deploy dapr components using helm"
## In what area(s)?

Hey! How I  can  properly deploy Dapr components using helm to kubernets cluster for example crond ? how it should connect and trigger some endpoint on api project? so, currently it not working at all, but locally with docker-compose it working fine.

[code]

[2022-10-27 03:59] vikas2k14 commented on #5321
One more point I want to add here in Observations/Concerns :

How are traces going to look in incase of retry or timeouts? Will we be seeing multiple spans for multiple retries? will we be able to identify failed or timed-out spans from traces?

[2022-10-27 06:44] pooja-fyndna commented on #5321
[Timeout Logs.zip](https://github.com/dapr/dapr/files/9876432/Timeout.Logs.zip)

Attached are the application and dapr logs, when timeout is set more than 60s i.e 2m.

[2022-10-27 07:24] #5421 closed

[2022-10-27 07:56] akhilac1 commented on #5321
/assign

[2022-10-27 07:57] rabollin commented on #5321
For Point3 - There is no concept of default timeout, if no explicit timeout value is set then the timeout policy do not take any effect.  Point1 & 2 seem to be issues and to evaluate further.

[2022-10-27 08:18] 1046102779 opened #5422 "The problem of multiple PB dependencies"
## Background

Dapr proto is a standardized PB protocol in dapr community, which should be used by `dapr`, `components-contrib`, and `dapr sdk` in various languages, as well as other ecosystems of `dapr`, such as [dapr-sandbox](https://github.com/dapr-sandbox/components-go-sdk) etc.

The first thing I encountered was that `go-sdk` depended on `dapr` repo. [go-sdk v1.5 go.mod](https://github.com/da

[2022-10-27 10:40] #5055 closed

[2022-10-27 13:53] #5402 closed

[2022-10-27 19:31] danielgerlag opened #5423 "Dynamically add/remove pubsub subscriptions after app is running"
/area runtime

Is it possible to dynamically add/remove pubsub subscriptions after your app has already started?

[2022-10-27 21:48] ItalyPaleAle commented on #5423
Not yet but this is slated for 1.10.

PR: #5031
Issue: #814

[2022-10-27 21:48] #5423 closed

[2022-10-28 02:47] daixiang0 commented on #5422
Also, it is a bit cross with standard API.

[2022-10-28 08:05] DeepanshuA commented on #5367
I agree to this approach. Infact, this is almost similar to what I had posted few days back in an Internal teams channel and then realized what Shubham has pointed out, that conceptually this is also the approach with which we had started.

@yaron2 @artursouza , we would request if we can finalize the approach here. Thanks.

[2022-10-28 10:21] pravinpushkar commented on #5333
@artursouza @yaron2

[2022-10-28 10:42] pravinpushkar opened #5425 "Add E2E tests for configuration building block APIs"
## In what area(s)?

/area runtime

[2022-10-28 10:42] DeepanshuA commented on #5333
Sounds fine, though agree with @ItalyPaleAle here, it can be more crisp with `?names=k1,k2`.

Instead of enquiring all and then filtering, would it be possible to enquire only for these items in one call?

[2022-10-28 10:43] pravinpushkar commented on #4684
E2E tests - https://github.com/dapr/dapr/issues/5425

[2022-10-28 15:59] codefromthecrypt commented on #5003
We've significantly improved the speed of wazero, so will raise the PR once the new pre-release out is in (in a couple days). Note: this also speeds up wapc. For example, the current wapc basic URL rewrite benchmarks just under 2.8us/op where native is 1.0us/op. The same in the new ABI is 2.2us/op, or as fast as 1.7us if you use wasm directly instead of tinygo.  That said, the point of the new hos

[2022-10-28 16:08] adawalli commented on #5331
What is the commitment to retries moving forward in resiliency - Having this logic built-in to pubsub was a big draw to us and we moved our production over to this. Moving to a preview feature for this is concerning for us.

[2022-10-28 17:01] kayvonkhosrowpour commented on #5331
Echoing @adawalli 's concern. If the pubsub retries were disabled, why is this not documented in the Documentation? https://docs.dapr.io/reference/components-reference/supported-pubsub/setup-rabbitmq/

[2022-10-28 18:04] micheleissa opened #5426 "Dapr-ized NGINX Ingress controller pods in a different namespace"
Note: I opened this because Slack will not let me register at all..

Thanks in advance for looking into this

I have followed several tutorials/videos on how to dapr-ize nginx ingress controller to allow mTLS between the ingress and the backend services. I got it to work when all the ingress-controller pods and services are deployed in the same namespace as the services to be communicated with, bu

[2022-10-28 18:28] johnewart opened #5427 "[Proposal] Proposal / feature lifecycle process"
@mukundansundar and I have come up with a proposal that aims to bring structure and clarity to the process of bringing new features to Dapr from their proposal through "feature complete" lifecycle. The proposal, and related bits are located in this repository: https://github.com/johnewart/dapr-proposal-process; the proposal itself can specifically be found [in this markdown file.](https://github.c

[2022-10-28 18:47] mukundansundar commented on #5357
@msfussell As part of the https://github.com/dapr/dapr/issues/5427, there is also the API design guide that contains the details from this proposal along with what is required for the progression of an API ... specifically https://github.com/johnewart/dapr-proposal-process/blob/main/guides/api-design.md

cc @yaron2 @artursouza

[2022-10-28 19:05] yaron2 commented on #5427
As proposals and designs should be kept in the respective repositories (for example, Dapr API proposals go under dapr/dapr) I assume the README in the repository mentioned above is expected to become a markdown in dapr/dapr?

[2022-10-28 20:20] kayvonkhosrowpour commented on #5331
Also, I'm curious if @maqueisaprogrammer has had success with the resiliency configuration. Based on my understanding of the docs, my setup is not working as expected (i.e. behaves as if there is no resiliency configured). That is, there is no retry happening and events get sent to dead letter queue.

Enable preview:
[code]

Resiliency resource:
[code]
RabbitMQ component:
[code]

Based on the docs

[2022-10-28 21:52] johnewart commented on #5427
The intention of this proposal is to adopt a model similar to the process that other public projects use for project-wide proposals / designs where there is a centralized repository and process to help de-risk large changes. For example, the [rust-lang RFC process](https://github.com/rust-lang/rfcs), the [gRPC proposal process](https://github.com/grpc/proposal), [Geode's lightweight RFC process](h

[2022-10-28 22:10] berndverst commented on #5079
Somehow you have to specify which Actor Type (and optionally Actor Instance) should receive a certain message. So there needs to be a field on the cloud event to infer the Actor Type. The `actors/<actorType>/<actorId>/publish/<PubsubName>/<Topic>` endpoint does just that for mere convenience. It sets an `ActorType` field on the CloudEvent envelope.

With this design here you still can always send

[2022-10-29 02:34] #5063 closed

[2022-10-29 03:16] #5064 closed

[2022-10-29 08:04] mstrYoda commented on #5094
Hi @artursouza,

It seems like many other users also need this building block component. WDYT about this?

[2022-10-29 08:16] iamsourabh-in opened #5430 "Error when Dapr runs two services locally: 'Refreshing mDNS addresses for app id uploader timed out'"
## Expected Behavior

I have Two Service `Processor` and `Uploader`. Processor Service can reach out to uploader for getting any service details.

The Processor Service should be able to invoke method in Uploader Service

## Actual Behavior

Getting an error after trying Multiple Routes and Scenarios. Processor Service is unable to Invoke any method in Uploader Service

`An exception occurred whil

[2022-10-29 12:55] shubham1172 opened #5431 "[Security] Upgrade to golang 1.19.3 due to "critical vulnerability""
## In what area(s)?

/area test-and-release

## Describe the feature

See https://www.reddit.com/r/golang/comments/ygf0y5/those_who_using_cryptotls_be_prepare_to_update_on/
Seems related to https://github.com/golang/go/issues/56328

Upgrades should happen in other Dapr repositories also.

## Release Note

RELEASE NOTE: **UPDATE** Go version to 1.19.3

[2022-10-29 16:57] #5068 closed

[2022-10-29 18:15] #5070 closed

[2022-10-29 18:17] ItalyPaleAle commented on #5431
Our repos aren't pinned to a specific version, so rebuilding and re-releasing Dapr 1.9 should be enough: it will pick the latest patch release automaticaly (after the version is added to the GitHub Actions runners). (Dapr 1.8 is built with Go 1.18, not sure if affected)

Need more details on what the security vulnerability is, however, and how it impacts Dapr.

[2022-10-29 19:49] olitomlinson commented on #5430
@iamsourabh-in

dapr 1.9.1 contains a hotfix for mDNS issues. Probably worth upgrading? https://github.com/dapr/dapr/releases/tag/v1.9.1

[2022-10-29 20:01] codefromthecrypt commented on #5003
here's the PR, which is awaiting another to be merged first https://github.com/dapr/components-contrib/pull/2239

While I raised this PR, @anuraaga deserves a great deal of credit having supported this, troubleshot and co-designed some parts of it as well.

[2022-10-29 20:02] olitomlinson commented on #5079
@berndverst Understood.

Are you able to provide the proposed `CloudEvent` envelope that lights up delivery to an actor Type and delivery to a specific Actor Instance?

[2022-10-30 09:58] iamsourabh-in commented on #5430
@olitomlinson - Tried the same a suggested. The issue still persists.

Uninstalled the placement -> install the new version 1.9.1

[code]

New Logs from version 1.9.1

[code]

[2022-10-30 10:13] iamsourabh-in commented on #5430
@olitomlinson - The logs from the Uploader Service  (the service receiving the request)

When running AspNetCore in Debug, was able to get some insights, but still not able to invoke the method.

Seems to be a TLS Issue.

The dapr dashboard shows the below status

![image](https://user-images.githubusercontent.com/22702292/198873365-1af4d8a9-e802-41af-aad4-f9c509a3350f.png)

[code]

[2022-10-30 11:01] iamsourabh-in commented on #5430
Closing the issue, the issue was related to `HTTPS`, when the receiving service has the https Redirection Enabled

Removing the below line from the uploader service resolved the issues

[code]

[2022-10-30 11:01] #5430 closed

[2022-10-30 15:28] olitomlinson commented on #5430
@iamsourabh-in

Just as an FYI, It works for me with `UseHttpsRedirection` enabled.

This is my configuration for the App that receives the call from another App.
.NET 6.0 (Created with `dotnet new webapi`)

**.csproj**
[code]
**program.cs**
[code]

<img width="490" alt="image" src="https://user-images.githubusercontent.com/4224880/198887024-41ef1d64-d402-470b-b3df-cc4e9695b6c1.png">

[2022-10-30 17:15] dyexlzc opened #5433 "Seems dapr cli has not deregister consul after dapr cli was closed?"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

Runtime version: 1.9.0
## Ask your question here
when i use dapr cli slim mode to started a server, i actually this server had register to consul successfully, but when i close dapr cli use ctr

[2022-10-30 19:29] olitomlinson commented on #814
Given that developers _already_ have to maintain a source of truth of subscriptions for the initial load (when dapr calls `/dapr/subscribe`) it would be simpler, from an adopters perspective, to have a way to re-invoke that same initial load process.

Developer could invoke something like - `POST /v1.0/refresh-subscriptions` which would in turn schedule a call back to the usual `/dapr/subscribe` e

[2022-10-31 05:09] artursouza commented on #5427
I like this proposal since it organizes all the discussion via a PR instead of random comments on an issue.

[2022-10-31 05:12] ItalyPaleAle commented on #814
@olitomlinson thanks for the feedback. I like the direction where this is going, although not a fan of the "2-step" process (refresh and then runtime invoke the app).

Perhaps a good option could be to have a /v1.0/subscribe endpoint where the app sends to Dapr the full list of subscriptions. This can also be an alternative to the runtime invoking the app, making the solution more flexible and pos

[2022-10-31 05:45] pravinpushkar commented on #5333
The API will just pass the parameters to respective components. It is upto the respective component to make use of any inbuilt api(if there is any) to get the filtered result.

[2022-10-31 09:03] akhilac1 commented on #5357
@johnewart , @mukundansundar -
It would be good to include the criteria for moving to a new version of the API - aka. v1 to v1.1 or v2.

[2022-10-31 10:36] akhilac1 commented on #5389
@yaron2 - I went through the shared example where incoming traffic to nginx forwards all traffic to the Dapr sidecar using host path matching. And Dapr sidecar in-turn converts this into a gRPC call and forwards the request to right app within the cluster.

For egress, when app wants to invoke another app, we could have two options -
1. Manual Configuration - App is aware of the FQDN of target app

[2022-10-31 14:12] rabollin commented on #5367
Just to summarize the overall conversation, we all are aligning to the point:
1. when component do not have native support for **bulkpublish** :  have a parameter _bulkPublishMode_ with the values as parallel or serial, default value as **parallel**
2. when component supports bulkpublish natively. - bulkPublishMode_ parameter will be ignored

With this we can conclude on this approach. @yaron2  &

[2022-10-31 15:27] olitomlinson commented on #814
You're welcome, happy to contribute to the discussion.

From an adopter developer perspective, this is certainly the easiest, as it builds on top of what already exists, and it is super trivial to invoke that refresh subscription endpoint (it could even be wrapped up with a super simple SDK method `daprClient.RefreshSubscriptionsAsync()`)

Just out of curiosity, how come you are not a fan of this?

[2022-10-31 16:00] yaron2 commented on #5385
The OpenFunction project recently enabled a shared Dapr instance for their FaaS runtime: https://openfunction.dev/docs/concepts/baas_integration/#dapr-standalone-mode.

[2022-10-31 16:06] ItalyPaleAle commented on #814
I am not a fan of the 2-step process because I am concerned it may cause issues if things are out-of-sync.

With a 1-step process (either imperative, such as "subscribe to this, unsubscribe from that", or declarative, such as "here's the updated list, go and reconcile"), when Dapr responds, the app knows the change has been committed.

With a 2-step process, there could be a delay between the app

[2022-10-31 17:14] ItalyPaleAle commented on #5431
An update from Russ Cox:

[2022-10-31 17:18] ItalyPaleAle opened #5435 "Hot-reloading of resiliency policies"
## In what area(s)?

/area runtime

/area operator

## Describe the feature

Resiliency policies are defined in Resiliency CRDs and are loaded by `daprd` as soon as it starts up, requesting the list of policies from the Dapr Operator service. For self-hosted, they are loaded from disk when `daprd` starts.

Because they are only loaded once, if the resiliency policies change, pods need to be restar

[2022-10-31 21:01] GFlisch opened #5437 "PubSub Rabbitmq amqps with x509 authentication."
-> /area runtime

## Describe the feature
Elia Group are companies in the utilities.
We are using Rabbitmq and we perform the authentication based on amqps and certificate.

I have built a repo to setup a Docker image and a .NET client to connect Rabbitmq with a client certifcate =>https://github.com/gflisch/rabbitmqS

## Release Note
Support for amqps with x509 authentication.

  - name: host

[2022-11-01 07:06] DeepanshuA commented on #5427
I like this proposal as it improves upon the current process of proposal lifecycle. Just wanted to add few points to it.

Currently, this is the process for any feature incubation and then development:

1. Contributor A comes up with a proposal `foo` via a GitHub issue xx99. This proposal gets discussed on this GH issue xx99 and people may suggest its useful or not, if any amendment required in re

[2022-11-01 11:21] mukundansundar commented on #5357
@akhilac1 For v1-v1.1 ... it is considered a backwards compatible non-breaking change .... that is already covered in backward compatible API design guide section ...
Additionally v2 is considered a completely new API, so should follow the guidelines for a new API.

[2022-11-01 11:25] #5066 closed

[2022-11-01 14:49] ItalyPaleAle commented on #5433
Can you double-check that the `daprd` process was killed? I’ve seen situations when running with the Dapr CLI (if the runtime crashes) that `daprd` is still around: `sudo ps ax | grep daprd`

Just double-checking if the issue is a lingering daprd process, or an issue with the component

[2022-11-01 16:14] rabollin commented on #4684
/assign

[2022-11-01 16:42] shubham1172 commented on #5431
Should be safe to close this then, great news 🥳

[2022-11-01 16:42] #5431 closed

[2022-11-01 16:55] msfussell opened #5440 "Make resiliency policies stable"
Resiliency Policies.

## Describe the feature
Get resiliency features to stable status. Resiliency was released in the v1.4 milestone.
Link any other issues that need to be resolved in 1.10
This is the docs issue https://github.com/dapr/docs/issues/2873

[2022-11-01 17:07] mcandeia commented on #5427
I would like to add a few comments on the lifecycle of a proposal that I learnt from previous experiences working with RFCs.

- It's nice to have the proposal status being tracked outside the proposal itself (like a sorted and indexed table where you can see the current state of all proposals), the why is explained below
- Proposals should be immutable after being merged into `main` and their stat

[2022-11-01 21:59] francotiveron opened #5441 "Add actor Id on the actor metadata records"
/area runtime

## Describe the feature
Currently the metadata api only retrieves type and count for actors. I propose to replace the count element with an array of actor ids

[2022-11-01 22:14] itsoli91 opened #5442 "Is there any presentation / workshop for dapr in .NET Conf 2022?"
Is there any presentation / workshop for dapr in .NET Conf 2022?

[2022-11-01 22:42] #5408 closed

[2022-11-02 02:43] ItalyPaleAle commented on #5440
We'll need to remove the feature flag and all code paths where we bifurcate depending on whether resiliency is enabled or not.

@halspang  can you think of anything else we need to do to make this stable?

[2022-11-02 04:13] shubham1172 commented on #5442
Looks like the CFP is already closed and I don't see an existing talk in the [Agenda](https://www.dotnetconf.net/agenda)

[2022-11-02 04:31] shubham1172 commented on #5367
After some further discussion, the latest proposal is to remove the option altogether.

If a component does not support bulk publish natively, fallback to the `parallel` default implementation, i.e. make individual publish requests in parallel. It clearly needs to be documented that bulk-publish is an unordered operation.

If the user really wants to preserve order, they will be required to handle

[2022-11-02 07:40] zhenqxuMSFT opened #5443 "OpenTelemetry tracing does not work on 1.9.0"
## In what area(s)?

/area runtime

## What version of Dapr?

1.9.0

## Expected Behavior

Tracing data is collected by otel collector

## Actual Behavior

No tracing data is available. No error log in both otel collector and daprd sidecar

## Steps to Reproduce the Problem
1. Prepare two pods with dapr enabled
2. Invoke service to service call between pods
3. Check the data in destination configu

[2022-11-02 08:35] shubham1172 commented on #5373
@nyemade-uversky can you please add https://github.com/dapr/dapr/issues/2218 under "feature proposals that impact multiple repos"?

[2022-11-02 11:12] harshithgandham opened #5444 "Configuring a Timer Restart"
Whenever an actor restarts or an application containing an Actor restarts, the reminder associated with an actor automatically restarts.
Is there anyway to configure this?
If I do not want the remainder to restart when a service restarts, how to configure this.
Can someone pls confirm whether this feature exists with Remainders or not.

[2022-11-02 11:18] harshithgandham opened #5445 "Can we have multiple statestores for Actors?"
Can we have multiple statestores for Actors?
In the Documentation, it is mentioned "Only a single state store component can be used as the statestore for all actors."
Does it mean that there should be only one Database (if I take postgresql as example) in only one region?

[2022-11-02 14:56] DarrenClevenger opened #5448 "How can I get the placement service to run as nonroot?"
/area placement

How can I get the placement container to run as nonroot and is this even possible?

I see this in the chart deployment template, but I'm not sure what 'forceInMemoryLog' means.
[code]

[2022-11-02 16:09] halspang commented on #5331
@kayvonkhosrowpour - Resiliency policies don't override component retry/DLQ. So right now, they'll work in tandem. If you don't want them in the component, don't specify them and you'd rely just on Resiliency. The DLQ is setup in the subscription, and that'll also continue to function unless you don't specify it.

[2022-11-02 16:09] yaron2 commented on #5448
Are you using Dapr actors?

[2022-11-02 16:15] #4992 closed

[2022-11-02 16:44] DarrenClevenger commented on #5448
No.

[2022-11-02 17:48] berndverst commented on #5443
@zhenqxuMSFT samplingRate "0" means tracing disabled. Do you still experience this issue if you set samplingRate to the default value "1" ?

[2022-11-02 18:02] iamsourabh-in commented on #5430
Thank you so much @olitomlinson I tried it running on kubernetes with `mtls enabled` and https redirection on both services , it worked for me too.

[2022-11-02 21:08] artursouza commented on #5032
Yes. Pinning it now.

[2022-11-02 21:31] ItalyPaleAle commented on #5431
This is the vulnerability that was fixed in 1.19.3: https://github.com/golang/go/issues/56328

I don't believe it applies to Dapr or it should be a particular concern. We will pick it up with the next release, however.

[2022-11-03 03:06] zhenqxuMSFT commented on #5443
Hi @berndverst, oops I pasted a wrong configuration. Here's the configuration on the problematic cluster, the samplingRate is "1" and it's not working. And we just changed the image version of daprd to 1.8.3 and tracing started to work. The configuration itself is unchanged.
[code]

[2022-11-03 03:49] shubham1172 commented on #5431
Thanks for checking, @ItalyPaleAle!

[2022-11-03 07:26] NickLarsenNZ commented on #1172
@engeluke I don't think there is a hot reload yet, this appears to be an open proposal.

[2022-11-03 07:28] NickLarsenNZ commented on #1172
In Kubernetes, would like the operator to do a rollout on the Deployment so that if the new component configuration breaks things, the rollout doesn't proceed.

Of course, the rolled back pods would now have the new broken configuration and also be down, but this is the same outcome as when pods are restarted (K8s node down, or rescheduled) or the Deployment is scaled up so I think that concern ca

[2022-11-03 08:25] shuiyunwudi opened #5450 "dapr v1.9.0 tracing with opentelemetry error"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

dapr v1.9.0
kubernetes v1.22.0

## Ask your question here
we try dapr v1.9.0 tracing with otel protocol,but we encounter an error in dapr container,like that：
![image](https://user-images.githu

[2022-11-03 08:26] wimvc1 commented on #4549
Any progress on this proposal?

[2022-11-03 08:56] amolenk commented on #5443
Running into the same problem with the following config and 1.9.2:
[code]

Service invocations using HTTP get logged and are visible in Zipkin. Service invocations using gRPC do not show up. When I downgrade to 1.8.6, both HTTP and gRPC calls show up.

[2022-11-03 10:14] MACEL94 commented on #5345
@ItalyPaleAle so this can now be closed?

[2022-11-03 10:33] shuiyunwudi commented on #5450
I got it, otel-collector's default  protocol is grpc, I changed the configuration protocol from http to grpc, it work normal.

[2022-11-03 10:33] #5450 closed

[2022-11-03 12:54] rabollin commented on #5064
Commenting to keep the issue as active

[2022-11-03 12:56] rabollin commented on #4684
Capturing all the different issues in one place to define the scope for making Configuration API as stable as possible:

1. https://github.com/dapr/dapr/issues/5424
2. https://github.com/dapr/components-contrib/issues/2187
3. https://github.com/dapr/components-contrib/issues/2156
4. Is it implemented in all (or most) SDKs?
5. Are all APIs available via HTTP and gRPC?
6. https://github.com/dapr/dap

[2022-11-03 16:46] iamsourabh-in commented on #5426
@micheleissa , I was trying to do the same **but stuck** , strugling to resolve it , having the ingress controller and the service pods to be in different namespace, the ingress though resides in the same namespace as nginx-controller.

No luck yet getting few issues!

[code]

# Ingress

[code]
Image for Reference

![image](https://user-images.githubusercontent.com/22702292/199781469-beaf3f63-c97d

[2022-11-03 17:17] mcandeia commented on #5230
/assign

[2022-11-03 17:17] mcandeia commented on #5032
/assign

[2022-11-03 17:21] amulyavarote commented on #5314
Dotnet-sdk issue is linked here. https://github.com/dapr/dotnet-sdk/issues/979

[2022-11-03 17:32] olitomlinson commented on #5445
@harshithgandham

You can have many state stores deployed via dapr into a single k8s cluster, however _only one_ state store can be enabled to be used as a state store for actors within that cluster.

https://docs.dapr.io/developing-applications/building-blocks/state-management/state-management-overview/#actor-state

[2022-11-03 18:09] #5314 closed

[2022-11-03 18:39] artursouza commented on #814
I think the 2 solutions mentioned here are not exclusive. We can have the "refresh" call to re-invoke /dapr/subscribe on the app but we also need to imperative APIs proposed by @ItalyPaleAle - the reason is that subscriptions might be dynamic in the app to the point that is prohibitive to keep a global state with all subscriptions in the app. For example, the subscription might be be order being p

[2022-11-03 18:59] theperm commented on #5079
So how do you broadcast a message to all actors of all actortypes?

Typical scenario is you have an actor that represents some business domain of a user, but user belongs to a company as well. While its great to be able send an individual message to a a specific actor, how would you publish a message to be received by all actors that are a set of actors of a particular company.
This is whats also

[2022-11-03 19:10] ItalyPaleAle opened #5452 "1.9.3 Hotfix release checklist"
- [x] Dapr maintainer(s) communicate out the discovery of an issue that requires a hotfix and the reason why to the Discord Maintainers and Release channels. Hotfix is one of categories below:
   - [ ] Security vulnerability
   - [X] Regression that does not have a work around: https://github.com/dapr/dapr/pull/5455
   - [ ] Broken mainline scenario that has a missing test case
- [ ] ~~Create the

[2022-11-03 19:14] mukundansundar opened #5453 "Optimize/Parallelize Bulk Publish CE creation"
## In what area(s)?

/area runtime
## Describe the proposal

Following the comment in https://github.com/dapr/dapr/issues/5367#issuecomment-1299551649, if the bulk publish operation is being documented as being unordered, we can further optimise the code where incoming req in HTTP is deserialised as well as when payload is converted to CE when `rawPayload` flag is not set.

Currently in HTTP, line

[2022-11-03 20:00] ItalyPaleAle commented on #814
This is one of the tricky things to keep in mind. Subscriptions should not be created for each individual order. Any operation to add/remove subscriptions is asynchronous and, depending on the component, may require re-creating all subscriptions. I would not recommend changing subscriptions _too frequently_, like multiple times per minute.

[2022-11-03 23:35] olitomlinson commented on #814
@ItalyPaleAle

A delay is fine, my only expectations would be eventual consistency. In the same way that when I hit `kubectl apply` for a bunch of new subscriptions, I know _eventually_ my desired state will be achieved.

Dapr will always get the latest state that is available, thats the beauty of this method. If I make a bunch of changes to my source-of-truth (which is likely going to be persiste

[2022-11-03 23:39] ItalyPaleAle commented on #814
But what if the app is busy so it exhausts the retries for the refresh invocation? Dapr tries 3 times but all 3 times the app is too busy to respond. The app _thinks_ Dapr has the full list of subscriptions, but Dapr doesn't. Sure, the app could send Dapr another request to refresh the subscriptions, but the developer may not know they need to do that if they think Dapr has the proper list.

It re

[2022-11-03 23:57] olitomlinson commented on #814
I completely get this point, and I don't have an answer here. Great shout!

If the app is too busy to service a request for `/dapr/subscribe`, then I guess it would be too busy to service a request for `/dapr/subscribe/error` too...

In this case, I would expect my monitoring systems to be lighting up like a christmas tree that that there was a terminal failure in dapr.

However...

Once I learn t

[2022-11-04 03:03] #5003 closed

[2022-11-04 03:31] ItalyPaleAle opened #5457 "Add option to hide health checks from API logging"
## In what area(s)?

/area runtime

## Describe the feature

With API logging enabled, any call to the HTTP or gRPC APIs gets logged, and that includes health checks (the `/v1.0/healthz` endpoint). In certain environments, that can add a significant amount of noise, which may not be desirable: for example, on K8s I've seen apps logging 10-20 health checks per minute from the control plane. Aside f

[2022-11-04 03:51] #4443 closed

[2022-11-04 06:05] harshithgandham commented on #5445
@olitomlinson Can actors share different state stores?
If an actor(with Remindable) is stopped in a specific region, can it be restarted(with same state) from different region?

[2022-11-04 06:08] vivek-ac commented on #4588
@yaron2 any idea when would be 1.9 release ?

[2022-11-04 10:01] shivamkm07 commented on #5183
/assign

[2022-11-04 10:18] shivamkm07 commented on #5183
This issue needs to be added to 1.10. Can someone do that?

[2022-11-04 12:14] akhilac1 commented on #4760
Based on a recent review with the team -
- Loading is not of real value unless it is backed by unloading to achieve dynamic configuration update. For example, a user might want to update the attribute of a component which combines the unloading old configuration and reloading the component with new configuration. This requires all the building blocks to support graceful shutdown/un-init functional

[2022-11-04 16:24] dwagelaar commented on #4892
Update: the issue with kubernetes cluster upgrades only happens when forceInMemoryLog=true. We did this originally in order to run dapr as a non-root user. When using persistent disk storage, the cluster uograde works without problems.

P.S. Is there any specific reason why dapr has to run as root as soon as persistent storage is used? See also https://github.com/dapr/dapr/blob/master/charts/dapr/

[2022-11-04 16:35] ItalyPaleAle commented on #4892
Related to #5448

[2022-11-04 16:35] ItalyPaleAle commented on #5448
Looks like others are having issues with trying to run placement as non-root: #4892

@yaron2 do you know the reason why placement needs to run as root if data is kept in memory?

[2022-11-04 16:42] yaron2 commented on #5448
It should only run as root if data is kept on disk.

[2022-11-04 16:48] ItalyPaleAle commented on #5448
Sorry, I misspoke, I meant on disk. Why is that needed? Could we use different file permissions maybe?

[2022-11-04 16:55] artursouza commented on #5457
Can this be moved to the Config CRD? This seems to be too specific to be exposed in the annotations.

[2022-11-04 16:55] olitomlinson commented on #5445
@harshithgandham It sounds like you are describing an App failover scenario?

So you have two clusters, and your Actor App is active in one of those clusters, and you want to failover the Actor App to be active in the other cluster (and no longer active in the previous cluster) ?

[2022-11-04 16:56] ItalyPaleAle commented on #5457
I'm ok with that approach (using the Config CRD)

[2022-11-04 17:23] ItalyPaleAle commented on #5443
Fixed in release-1.9

[2022-11-04 17:23] #5443 closed

[2022-11-04 23:15] #5098 closed

[2022-11-05 00:26] ItalyPaleAle opened #5463 "With Resiliency enabled, many E2E tests fail"
When the Resiliency feature is enabled in all our E2E tests, many are failing.

Example: https://github.com/dapr/dapr/actions/runs/3397602121/jobs/5649909745

Part of: #5440

[2022-11-05 00:41] ItalyPaleAle commented on #5440
Perf-wise, enabling resiliency doesn't seem to have a significant negative impact:

|              | service_invocation_http | service_invocation_grpc | state_get_grpc | state_get_http | pubsub_publish_grpc | actor_timer_java | actor_activatio_java | actor_reminder_registration |                                                                      |                      |
|--------------|---------

[2022-11-05 07:13] harshithgandham commented on #5445
yes..   Is it possible. The clusters are in different regions.

[2022-11-05 13:33] DanielYWoo opened #5464 "How to support broker specific features in pubsub (or bindings)"
In Kafka, you can rewind to a specific offset, this is a very useful feature. However, this is not a common feature available in RabbitMQ and MQTT brokers. What is the best way to support it in dapr?

[2022-11-05 18:56] kochia4 opened #5465 "Dapr PubSub Usage"
I need to use dapr with different server VMs, so not the same host.
I'm bit confused how pubsub uses redis or any other queue management tool

for now, let's assume I'm using declarative approach for subscribers.

We have a worker server, accessible from other servers, which doesn't need any component itself, just to be called when an event occurs and call the specified route.
let's have simple ya

[2022-11-05 19:05] yaron2 commented on #5465
Yes, you need the pubsub config on the other side so that Dapr knows to connect to the pubsub and consume events from it.

[2022-11-05 19:17] kochia4 commented on #5465
Thanks Yaron,
So, having darp slim (without docket) would work in my case for subs?

[2022-11-05 19:38] yaron2 commented on #5465
Yes it should work for you.

[2022-11-05 21:20] #5465 closed

[2022-11-06 09:18] DanielYWoo opened #5466 "Ordering"
The brokers can support delivery ordering but in a distributed systems, this is not enough. e.g., a system generates an `order` event and then another system generates a `delivery ticket` event, the two events could be delivered to one or two topics out of order, the broker delivery ordering guarantee can do nothing to help the consumer to receive the two events in order. For a new microservice, w

[2022-11-06 09:20] DanielYWoo opened #5467 "Queue/Topic Provisioning"
The document shows everything is created on the fly, but in a real system, the topic provision has to be integrated with the CD system.  Moreover, we need to specify a whole of parameters like the number of Kafka partitions. How to do that efficiently with dapr?

[2022-11-06 19:13] yaron2 commented on #5117
You need to tell Dapr the name of the secret to get. This is how you would do it with the SDK: https://docs.dapr.io/developing-applications/building-blocks/secrets/howto-secrets/#calling-the-secrets-api-from-your-code

[2022-11-07 01:56] ggjjlldd commented on #4187
I have same question.

[2022-11-07 06:22] #4712 closed

[2022-11-07 08:16] #5110 closed

[2022-11-07 11:14] safanaj opened #5469 "Allow more flags in charts, mostly which one related to sentry trust bundle"
## In what area(s)?
/area runtime

/area operator

/area placement

## Describe the feature
This is strictly related (as it is a followup) to the closed issue #4428 , with that the possibility to use arbitrary filename/secret key name to refer the "dapr trust bundle" was introduced. This issue is to allow to use such additional flags from the helm charts.

[2022-11-07 11:24] olitomlinson commented on #5466
Trying to handle events in an ordered fashion across two separate ordered queues sounds like a great use-case for [dapr Workflows ](https://github.com/dapr/dapr/issues/4576) using the `WaitForExternalEvents` API

---

Each of the consuming Apps would raise the received message to a workflow instance

Let's assume `DomainSpecificId` is consistent across all events in this set

**Consuming App 1**
[

[2022-11-07 11:33] olitomlinson commented on #4576
@msfussell

FYI that the search term "dapr workflows" in google is probably returning less favourable results for when 1.10 ships - I suspect it would be desirable to be returning the new Workflow building block documentation, rather than the sandbox project?

![image](https://user-images.githubusercontent.com/4224880/200300107-0f79d792-a6a6-4c36-9395-578da080b165.png)

[2022-11-07 12:14] mcandeia opened #5471 "Proposal: Support k6 load testing"
## In what area(s)?

/area test-and-release
## Describe the proposal

### What is this proposing?
Currently, Dapr supports load testing (for tracking performance issues) by using a tool named [fortio](https://github.com/fortio/fortio) - a forked version of it, which is the Istio's load testing tool graduated to be its own project. Fortio runs at a specified query per second (qps) and records an hi

[2022-11-07 12:35] DanielYWoo commented on #5466
We already have this workflow-like state machine in new services. I am talking about the existing systems, quite difficult to change the code. Actually we also have a solution for the legacy systems, but we hope there is something better and easier than Kafka Stream.
Anyway, the workflow sounds great, I will take a look if time allows.

[2022-11-07 15:05] mcandeia commented on #5471
cc: @yaron2 @artursouza @johnewart

[2022-11-07 16:08] olitomlinson commented on #5466
Ok, going back to your original post, its not clear how you would like dapr to help with your legacy code scenarios? Are you able to provide more details? Thanks

[2022-11-07 16:17] yaron2 opened #5472 "Add namespaced topics to pub/sub namespaced consumer groups"
The namespaced consumer groups feature today allows a group of applications in a namespace to compete for messages sent in a given namespace by prefixing the consumer groups with the deployed namespace.

While this works and does the right thing (messages for a given topic will hit multiple consumer groups per namespace instead of a shared consumer group), the topics that are subscribed and publis

[2022-11-07 16:44] olitomlinson commented on #5444
It might be that the `Actor Timer` would better suit your needs

Read about it [here](https://v1-6.docs.dapr.io/developing-applications/building-blocks/actors/howto-actors/#actor-timers)

[2022-11-07 16:51] olitomlinson commented on #5445
Sorry @harshithgandham I'm trying to understand your scenario but I can't quite get it.

An Actor _Instance_ can only persist its state in one state store as part of its normal operation.

_However you have some kind of database-level redundancy configured where the actor state is copied to a different database, maybe in a different Region, but this Actor App in a different Region would have to of

[2022-11-07 17:06] DeepanshuA opened #5473 "Replace time.After with time.NewTimer to avoid memory leak scenario"
## In what area(s)?

## Describe the proposal
Use time.NewTimer or time.NewTicker instead of time.After in runtime files.
For e.g.:
https://github.com/dapr/dapr/blob/139b0129275d814785a3fbb589739d2bc118c3fb/pkg/actors/actors.go#L694

https://github.com/dapr/dapr/blob/139b0129275d814785a3fbb589739d2bc118c3fb/pkg/actors/actors.go#L1155

https://github.com/dapr/dapr/blob/139b0129275d814785a3fbb589739

[2022-11-07 17:06] olitomlinson commented on #5403
Is there any update on this? I understand this a blocker for a preview of embedded Workflows being available in 1.10 however this is not triaged into tho 1.10 milestone?

[2022-11-07 18:57] #5457 closed

[2022-11-08 01:11] daixiang0 commented on #5473
Good catch, are you interested in fixing them?

[2022-11-08 01:43] ggjjlldd opened #5477 "why did dapr not support mariadb?"
## In what area(s)?

## Describe the feature

why did dapr not support mariadb?
## Release Note

RELEASE NOTE:**ADD**

[2022-11-08 03:57] DeepanshuA commented on #5473
/assign

[2022-11-08 07:26] akhilac1 commented on #5426
@iamsourabh-in -
I am assuming you are using the default dapr setting for name resolution and not overriding it. Kubernetes name resolution documentation requires cluster name to reach resolve IDs that are in different namespaces - https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/

can you ssh to the dapr sidecar and check if NAMESPACE environment variable is accessible. Els

[2022-11-08 09:54] mcandeia commented on #5477
Hey @ggjjlldd how are you?

As one of the main goal of Dapr is being community-driven and supporting a variety of databases would be certainly a desired future and a metric of success for the entire community.

Offering support to MariaDB as a statestore is a matter of implementing the statestore component, and if you think this is important for you - as part of the community, raising the flag as

[2022-11-08 13:28] micheleissa commented on #5426
ssh inside dapr sidecar always returns an error

[2022-11-08 13:41] DeepanshuA opened #5478 "[Proposal] New Building Block: Experimentation"
With many services out there working on the basis of user behavior, services may want to roll out certain features in their app, based on the responses they receieve.
For this, they may want to add certain experiments in the system which can be added and executed. Based on the aggregated results, they may want to rollout certain feature or decide against it.
Right now, this aggregation can happen

[2022-11-08 14:33] mcandeia commented on #5478
How would this relate to the declarative way of doing experiments?

I like how [ArgoRollouts](https://argoproj.github.io/argo-rollouts/) did, by handling these ["experiments"](https://argoproj.github.io/argo-rollouts/features/experiment/) as a k8s resource, since it provides more visibility and fine-grained control.

[2022-11-08 16:53] #5115 closed

[2022-11-08 17:43] rahulpoddar-fyndna opened #5481 "Scale down in environment with Dapr Side Car does not work as expected - Getting 503 Response"
We are using Dapr Side car in our application and it is deployed in GKE. Our application is based on spring boot. We use KEDA for HPA. While scaling down the pods in GKE environment, we observed 503 http response code for many request.  We have configured the dapr.io/graceful-shutdown-seconds for Dapr container and gracefultimeout for our application as well (spring boot).

**Analysis of issue**

[2022-11-08 17:45] rahulpoddar-fyndna commented on #5481
@mukundansundar @akhilac1

[2022-11-08 18:10] DeepanshuA commented on #5478
Yeah, the ArgoRollouts is a very good example that you gave, and examples over there provide a good basis. There are few other ones as well, like [Flagger](https://github.com/fluxcd/flagger).

I just want to see if somehow we are able to cover other non-declarative or simply programmatic way of experiments as well, so that users using any non-declarative tool may also on-board.

I agree, runtime n

[2022-11-08 20:39] berndverst commented on #5389
@akhilac1 is this proposal also covering Dapr standalone deployments across VMs to communicate? Cross-cluster communication for selfhosted is a necessary feature.

[2022-11-09 03:48] akhilac1 commented on #5389
@berndverst - Thanks for looking at this proposal. Seeking clarity so that I can include the right scenario.
Communication across daprd running on different VMs would still work if the VMs were running in the same cluster. Do you see a scenario where self hosted daprd needs to communicate with another self-hosted daprd in a different cluster?

[2022-11-09 03:53] berndverst commented on #5389
Some users want to be able to use Azure Container Instances for example to run distinct Dapr apps and their sidecars (which are effectively in self hosted mode) but be able to communicate with each other using service to service invocation. This is a cross-cluster scenario, where each cluster is of size 1.

How do you define `cluster` by the way?

I may want to do service invocation with Dapr in s

[2022-11-09 08:52] stephenaggett commented on #3786
This is still an issue

[2022-11-09 09:42] akhilac1 commented on #5481
Issue acknowledged @rahulpoddar-fyndna. Thanks for details on GKE shutdown sequence.

<u>The issue we see in this scenario is that the pod continues to get traffic after the step 1.</u>

This is a valid observation. There should not be traffic sent to the POD once it is marked as terminating.

Please share daprd logs for inspecting the exact sequence of events.

Recap of the dapr shutdown sequence

[2022-11-09 10:16] dwagelaar commented on #5448
This is the cause: https://github.com/dapr/dapr/pull/2759
BTW, there was no bug/issue logged for this.

It appears this was before a PVC was created, which can be written to by non-root users...

[2022-11-09 11:20] akhilac1 commented on #5471
@sarsharma - FYI

[2022-11-09 12:39] BartNetJS commented on #4187
@edetime hereby the config:

kind: ConfigMap
apiVersion: v1
metadata:
  name: core-cm
  namespace: {{ .Values.namespace }}
  labels:
    app: justdemo
    service: core
data:
  ASPNETCORE_ENVIRONMENT: Development
  ASPNETCORE_URLS: http://0.0.0.0:80
  IdentityUrl: http://identity-api
  IdentityUrlExternal: http://{{ .Values.hostName}}/identity
  SeqServerUrl: http://seq

---

kind: Deployment
apiV

[2022-11-09 15:45] jjcollinge opened #5484 "Proposal: Add Service Invocation Metrics"
## In what area(s)?

/area runtime

## Describe the proposal

I'm proposing that we add a new set of lightweight metrics for service invocation that are protocol agnostic. Currently we have generic HTTP and gRPC metrics used throughout `daprd` but when simply trying to understand if App A called App B you have to rely on tracing (or parse the HTTP path but this only works for HTTP via the dapr/inv

[2022-11-09 17:57] yaron2 commented on #5484
We need to tackle high cardinality of labels independently (see issue [here](https://github.com/dapr/dapr/issues/4133)) and give users the option to tweak those based on need, so I think we can focus on including the labels that make sense without worrying too much about high cardinality.

I think we should track the response of an operation and including a status code label will be a good additio

[2022-11-09 18:16] jjcollinge commented on #5484
Ok that makes sense. The main advantage over adding the additional labels to the existing metrics on the Dapr API is that this is protocol agnostic so as a metrics querier I don't need to care what protocol the app is using to track this metric. We could add the labels to just the internal daprd gRPC client and server metrics but the `DefaultGRPCMonitoring` client and server metrics are used in ma

[2022-11-09 18:18] safari137 commented on #5358
Just following up on this again.

[2022-11-09 18:38] yaron2 commented on #5358
You can install Dapr into a namespace of your choice, which can be the same one you deploy your apps to. Since Dapr injects sidecars using annotations, only apps in your POC namespace that have the annotations will have access to Dapr.

[2022-11-09 19:18] safari137 commented on #5358
Excellent, thank you very much!

[2022-11-09 19:18] #5358 closed

[2022-11-09 20:37] tmacam opened #5487 "Metadata API contains components that fail to load"
## In what area(s)?

/area runtime

## What version of Dapr?

1.9.0

## Expected Behavior

If a component has `ignoreErrors: true` in its configuration AND it fails to load, it should not be present in the output of Metadata API.

## Actual Behavior

Metadata API lists APIs that fail to load.

## Steps to Reproduce the Problem

I am using Hashicorp Vault as an example here, but it should be the ca

[2022-11-09 20:37] kayvonkhosrowpour commented on #4187
We are also facing this issue

[2022-11-09 20:40] kayvonkhosrowpour commented on #4441
@yaron2 Is there a way to configure the log level of this from warning to something else? We ingest these logs into our monitoring platform and warning set off alerts.

[2022-11-09 23:44] yaron2 commented on #5448
@DarrenClevenger for your case, if you set `forceInMemoryLog` to `false`, placement should run as non-root. As you're not using actors, this shouldn't be an issue for you.

[2022-11-09 23:54] #4857 closed

[2022-11-10 05:39] shubham1172 commented on #1789
@suneetnangia did you get a chance to do that?

[2022-11-10 05:46] shubham1172 commented on #5473
The first way sounds better! i.e.,

[code]

[2022-11-10 07:11] codefromthecrypt commented on #5003
here's a WIP sample, which is mainly awaiting folks to decide it if is appropriate or not https://github.com/dapr/samples/pull/122

[2022-11-10 07:32] PavelPikat opened #5490 "Proposal: use container DNS for Windows containers in Docker Desktop instead of localhost"
## In what area(s)?

/area runtime

## Describe the proposal

### Current issue
- Our services run in Windows-based Docker containers
- Dev teams user Docker Desktop on Windows for local development
- We cannot use Dapr with docker-compose together with our Windows-based services, because Docker Desktop on Windows does not support sharing network between containers via `network_mode: service:[name

[2022-11-10 09:22] jjcollinge commented on #5484
Updated to include status
[code]

[2022-11-10 14:50] DarrenClevenger commented on #5448
Thanks. We will give this a try.

[2022-11-10 15:25] mhawarneh opened #5491 "Dapr sidecar discovery after App restarted"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

 Sidecare auto discovery the application

## Actual Behavior

Timeout returned after the backend application restart

## Steps to Reproduce the Problem

I have application with 2 services: Frontend and Backend , each has a dapr sidecar deployed on docker, when make restart for the backend service it is not accessible from its sid

[2022-11-10 16:43] yaron2 commented on #4549
WIP, an updated design will show up here next week.

[2022-11-10 17:37] cwe1ss commented on #4233
still important IMO.

[2022-11-10 18:32] mcandeia commented on #5471
/assign

[2022-11-10 19:41] mcandeia opened #5492 "Proposal: Orchestrated/Managed pluggable components"
## In what area(s)?

/area runtime

/area docs

## Describe the proposal

### What is this proposing?

Pluggable components are components that are not included as part of the runtime, as opposed to built-in ones that are included. The major difference between pluggable components and built-in components is the operational burden related to bootstrap/start the pluggable component process that are

[2022-11-10 19:42] mcandeia commented on #5492
/assign

[2022-11-10 20:20] artursouza commented on #5492
Please, create a PR against /proposals repo.

[2022-11-10 23:14] #5367 closed

[2022-11-10 23:16] #5155 closed

[2022-11-11 06:35] msfussell commented on #5389
I want to start with the scenarios themselves and really see a practical example that a customer would actually put into production, with a real need and get that customer to talk openly on what their problem space is. Regarding scenarios 1-3. For 1 I do not understand this scenario, it seems to be the same as scenarios 2. For scenario 2 I have never come across a case of cross cluster actors and

[2022-11-11 08:22] mukundansundar commented on #5357
@artursouza @msfussell I think this issue can be closed as tentatively dapr/proposals#1 has been merged. WDYT?

[2022-11-11 10:30] shubham1172 opened #5497 "Add performance test for bulk publish gRPC"
## In what area(s)?

/area test-and-release

## Describe the feature

This issue proposes adding a performance test for the bulk publish API being introduced in 1.10 by #2218.

The baseline test is to make individual publish requests with 1000 messages of size 1 KB, and actual test is to have 1000 messages of size 1 KB in a single bulk request.

TODO: Add QPS

Also compare baseline and bulk publis

[2022-11-11 10:35] shubham1172 commented on #5497
/assign

[2022-11-11 10:37] pravinpushkar commented on #5333
/assign

[2022-11-11 10:59] pravinpushkar commented on #5441
Seems like a reasonable change in my opinion. Following struct will change-
[code]
As far as a saw it is being used only in Metadata API.
WDYT @artursouza @berndverst @ItalyPaleAle

[2022-11-11 11:51] DeepanshuA opened #5499 "Add Declarative Support to Bulk Subscribe"
## In what area(s)?

/area runtime

/area docs

## Describe the feature
RIght now, Bulk Subscribe is added only for Programmatic Way. The ask is to be able to use Bulk Subscribe in a Decalarative Way as well.

## Release Note

RELEASE NOTE:

[2022-11-11 12:47] rabollin commented on #5322
@rahulpoddar-fyndna - I assume the new Health API is resolving the issue, please review and close the issue as appropriate.

[2022-11-11 13:08] DeepanshuA opened #5500 "Add Resiliency Support to Bulk Publish"
## In what area(s)?

/area runtime
/area docs

## Describe the feature
Right now, when bulk publish is re-tried (if it does at all), then irrespective of whatever messages failed, it will try re-sending whole bunch of messages. Whereas, ideally, it should re-try only failed messages. Hence, this change needs to be introduced, instead of directly calling bulk publish function via resiliency policy.

[2022-11-11 13:12] DeepanshuA opened #5501 "Add Resiliency Support for Bulk Subscribe"
## In what area(s)?

/area runtime
/area docs

## Describe the feature
In current bulk subscribe implementation, resiliency policy directly calls all messages for retry etc., whereas only failed messages should be subscribed again.

## Release Note

RELEASE NOTE:

[2022-11-11 13:17] DeepanshuA opened #5502 "Add performance test for bulk Subscribe HTTP"
## In what area(s)?

/area runtime

## Describe the feature
As a Dapr user, I want to be able to see performance benefits of using bulk subscribe option.
The baseline test is to make individual subscribe requests with 1000 messages of size 1 KB, and actual test is to have 1000 messages of size 1 KB in a single bulk subscribe request.

The objective is to measure the processing done by Dapr and the

[2022-11-11 13:46] DeepanshuA commented on #5369
/assign

[2022-11-11 13:47] DeepanshuA commented on #5499
/assign

[2022-11-11 13:52] rabollin commented on #5332
@rahulpoddar-fyndna - Since the issue is fixed after pointing your API to DAPR1.8 release, can you please review and close the issue.

[2022-11-11 14:13] mukundansundar commented on #5500
/assign

[2022-11-11 14:14] mukundansundar commented on #4546
Is this still relavent? @pravinpushkar @shivamkm07

[2022-11-11 14:16] pravinpushkar commented on #4546
Subscription id is present now..so issue is not relevant now.

[2022-11-11 14:29] Flern commented on #5090
I can 100% confirm that you are correct.  The placement server doesn't respect namespace placement of actors.  This makes the actor-based solutions in any cluster with namespace-based network segregation (which is every cluster I've ever worked in) a lot more difficult and non-intuitive to work with.  We add namespace-based suffixes programmatically to our actors to resolve the namespace scoping m

[2022-11-11 18:58] yaron2 commented on #5441
As a single actor host can potentially service 100k+ actor ids, this might become make calls to this API become very slow.

@francotiveron I'm interested in knowing why you'd like your app to know about an actor id that's hosted in it's Dapr sidecar? actors in Dapr are virtual which means actors get created on demand if they do not exist.

[2022-11-11 19:41] olitomlinson commented on #5145
Bump

[2022-11-11 20:01] aaronolds commented on #4834
Ah, I figured it out.  Or I have a hack...
If I want to use CRDs for subscriptions.  I need to do this:
[code]
Then I can handle and dispatch (mediatr.send) the topics to their handlers.

[2022-11-11 20:08] berndverst commented on #5441
My thoughts:
Replacing count -- no. This is used in the Dashboard for example. It would also be a breaking change.

Adding Actor IDs:
I do not think this is a good idea. The API response could get huge, and this particular API is a multi-purpose API that needs to be responsive.

I too want to know what use case would be addressed by knowing the IDs of the active actors in this same pod / instance.

[2022-11-11 22:26] ezYakaEagle442 commented on #3354
The Dapr value is obvious when I look at [Secret Management](https://docs.dapr.io/reference/components-reference/supported-secret-stores/gcp-secret-manager), but about writing SQL statements, it sounds to me like coming back to what I did 20 years ago, does not sound great.

It is even worse if it means that Dev. can not use EF with .Net or Hibernate ORM with Spring or Panache with Quarkus.
as lon

[2022-11-12 00:04] berndverst commented on #3354
Personally I do not think Dapr should become a SQL translation project.

Surely there must be other OSS projects that do this, and if not such a project should be started. Only if such a project exists outside of Dapr and is well-maintained do I feel comfortable bringing this functionality to Dapr. For example it could be exposed as a generic SQL Binding which can be initialized with different dat

[2022-11-12 00:29] francotiveron commented on #5441
If this makes things easier, I don't need to know the list of all active actorids, but just check whether a given actorid is active or not, without activating it is it is not.
I am happy also if I can do that without calling the DAPR api, but just accessing the store (redis in my case) directly with StackExchange.Redis

[2022-11-12 12:08] ezYakaEagle442 commented on #3354
@berndverst I now rethink of what the implementation could look like and realize that :

1. Dev. would not need to have Dapr as an ORM but instead would require Dapr to support existing ORM
 - For Java: JPA, Hibernate, integration with Spring Boot / spring-data-jpa
 - For MicroProfile : it means Jakarta EE / JTA integration with Dapr
 - For MicroProfile / Quarkus : it would mean integration with P

[2022-11-12 12:24] ezYakaEagle442 commented on #3354
### High-Level Design ideation for Python / Django ORM integration

- [Ref doc](https://docs.djangoproject.com/en/4.1/ref/settings/#password)
- see this [tutorial](https://www.digitalocean.com/community/tutorials/how-to-create-a-django-app-and-connect-it-to-a-database)

The Integration with Dapr could look like something simple like this :

[code]

Then the ORM framework would have to call the Dap

[2022-11-12 12:33] ezYakaEagle442 commented on #3354
### High-Level Design ideation for Python / .Net Entity Framework integration

- [Ref doc](https://learn.microsoft.com/en-us/ef/ef6/fundamentals/configuring/config-file)
- [https://learn.microsoft.com/en-us/ef/core/miscellaneous/connection-strings](https://learn.microsoft.com/en-us/ef/core/miscellaneous/connection-strings)
- [PgSQL](https://www.npgsql.org/efcore/index.html)

If you have .Net EF OR

[2022-11-12 12:53] ezYakaEagle442 commented on #3354
### High-Level Design ideation for Java SE Frameworks integration

1. JPA
2. Hibernate
3. Spring Boot / spring-data-jpa

Say you store the here under secrets in your Secret Store, Azure KV in this case , then spring.datasource.url, spring.datasource.username and spring.datasource.password will be automatically injected from KV secrets SPRING-DATASOURCE-URL, SPRING-DATASOURCE-USERNAME and SPRING-DA

[2022-11-12 13:27] ezYakaEagle442 commented on #3354
### High-Level Design ideation for Java Micro Profile integration

- [Reference](https://microprofile.io/)
- [Full presentation](https://docs.google.com/presentation/d/1PfXEOJzy8v2kGRudvknPox5elRasewv3MBeV0P4Rk6M/edit#slide=id.ga6bdad56ea_0_7](https://docs.google.com/presentation/d/1PfXEOJzy8v2kGRudvknPox5elRasewv3MBeV0P4Rk6M/edit))
- [https://microprofile.io/compatible/4-1/](https://microprofile.

[2022-11-12 16:54] fejpet commented on #4307
Same issue with the today latest quickstart/pubsub/csharp version on Windows 11 (on Windows 10 works without any problem). In postmen GET http://localhost:7002/dapr/subscribe returns valid JSON: [{"topic":"orders","pubsubName":"orderpubsub","route":"orders"}].

The checkout app publish to the redis stream correctly.

[2022-11-12 17:03] fejpet opened #5506 "Quickstarts / pubsub / csharp on Windows 11 pubsub initialize subscription fails with "error getting topics from app: invalid character '<'""
/area runtime

## What version of Dapr?
1.9.3
Windows 11 self hosted

## Expected Behavior
Subscriber can fetch messages from redis stream without problem.

## Actual Behavior
Error during initalization of pubsub:
"time="2022-11-12T17:51:24.5066562+01:00" level=error msg="error getting topics from app: invalid character '<' looking for beginning of value" app_id=order-processor instance=DESKTOP-80

[2022-11-12 17:07] artursouza commented on #5506
What is the run command you are using?

[2022-11-12 19:01] jackbond commented on #4891
This should not be marked as stale. I've been losing my mind for the last five days trying to get an actor to work using docker-compose. I finally stumbled upon this issue.

@maxpu80 Did you ever have any success? I've tested with the lastest Docker and Dapr NuGets with no success.

[2022-11-12 20:24] fejpet commented on #5506
dapr run --app-id order-processor --components-path ../../../components --app-port 7002 --log-level debug --enable-api-logging -- dotnet run

[2022-11-12 21:23] fejpet commented on #5506
https://github.com/dapr/dapr/blob/ed40d9ca5dfc57b7f1c896a0c73ecfb10daa874c/pkg/runtime/pubsub/subscriptions.go#L109

Somehow it can't read the correct subscription content from the application, but log says it found application on port 7002. Here is the complete log:
time="2022-11-12T22:00:04.1590374+01:00" level=info msg="application protocol: http. waiting on port 7002.  This will block until th

[2022-11-13 19:14] #5117 closed

[2022-11-13 19:39] jackbond commented on #4891
I've dug into this issue deeper. The error message "the state store is not configured to use the actor runtime" is clearly a red herring. As others have commented, you need to be sure you've got the --app-port correct, and what this hints at, is that if the  sidecar isn't able to communicate with its related service, it gives the really poor state store error. In my case I've got serviceA attempti

[2022-11-14 04:42] shubham1172 commented on #5368
/assign

[2022-11-14 04:43] #4863 closed

[2022-11-14 05:32] pravinpushkar opened #5507 "Publish Dashboard's mariner variant images"
## In what area(s)?

 /area test-and-release

## Release Note

RELEASE NOTE: **ADD** Publish `Dashboard's` mariner image variant

[2022-11-14 06:44] #5368 closed

[2022-11-14 07:09] artursouza commented on #5491
Please, try out this preview feature. It is intended to handle downtime of the app from the sidecar perspective: https://docs.dapr.io/developing-applications/building-blocks/observability/app-health/

[2022-11-14 07:30] vikas2k14 opened #5508 "Two Way SSL configuration for HTTP Binding"
We are using dapr HTTP binding for all the external calls in our application. Our external application needs two-way SSL for communication in one of our use cases.

I wanted to check if it's supported right now and how to configure it.

[2022-11-14 07:51] #4585 closed

[2022-11-14 08:23] harshithgandham opened #5509 "unResisterReminder is not working ... [java]"
I have registered a Reminder  as

 super.registerReminder(
                "sample1",
                timerJson,
                Duration.ofSeconds(1),
                Duration.ofSeconds(5)).block();

As per the above parameters, the callback should run for every 5 seconds.

When I tried to unregister the remainder using:

 super.unregisterReminder("sample1"),

the callback is still running.
Ideal

[2022-11-14 08:25] harshithgandham commented on #5509
Sry.
My bad.
I should use super.unregisterReminder(remainderId).block();.
Cloding the issue.

[2022-11-14 08:25] #5509 closed

[2022-11-14 14:44] fejpet commented on #5506
I compiled on my machine from scratch dapr, that I can debug and extend logs, but after this the issue disappeared. It looks like it is a race condition and int 1.9.3 version is calling too early the /dapr/subscription endpoint.

[2022-11-14 15:57] yaron2 commented on #5484
These metrics are more aligned with the "golden metrics" concept I'd expect. I like how this is able to capture both http and gRPC protocols.

[2022-11-14 16:11] yaron2 opened #5510 "Add subscriptions data to metadata endpoint"
It's useful for an application to be able to programmatically verify the integrity of its pub/sub subscription intent by getting the list of topic subscriptions from the metadata endpoint.

[2022-11-14 16:57] jfefes opened #5511 "Pubsub Retries are ignored when Deadletter is set?"
## In what area(s)?
/area runtime

## What version of Dapr?
1.9.x

## Expected Behavior
* Pubsub Retry is configured to attempt 3 times before permanently failing
* Pubsub message is published to deadletter after 3rd failure

## Actual Behavior
* Failures immediately get deadletter'd after the first failure

## Steps to Reproduce the Problem
here is my retry.yaml. I know I shouldn't use all of the

[2022-11-14 17:06] yaron2 commented on #4313
cc @trondhindenes

[2022-11-14 17:08] famarting commented on #5510
I created this https://github.com/dapr/dapr/pull/5512 as a proof of concept. @yaron2 let me know if something like this would be something that is accepted and I'll get to work on the missing bits

[2022-11-14 17:24] yaron2 commented on #5511
cc @halspang

[2022-11-14 17:26] akhilac1 commented on #5481
@rahulpoddar-fyndna @artursouza
Pre-stop hook allows the POD to slow down the termination. This is required to give enough time for the dependent apps to complete their job at hand and enter into termination phase.
dapr should support a pre-stop hook annotation along with graceful shutdown interval -
#4313 https://github.com/dapr/dapr/issues/4313 proposes to use graceful shutdown internal.
Please

[2022-11-14 17:29] yaron2 commented on #4546
If we found a solution to include subscription ID and keep the streaming API, we should not change it to a callback type.

[2022-11-14 17:50] yaron2 commented on #5510
Looks good @famarting.

[2022-11-14 18:09] yaron2 commented on #5481
Shouldn't we change the current shutdown sequence to close the HTTP/gRPC servers and app channels only after the graceful shutdown period has elapsed?

[2022-11-14 18:35] jfefes commented on #5511
In case it's helpful -- the hopeful use case here is to handle occurrences of transient issues, while keeping a deadletter defensively to avoid infinitely retrying a bad event.

For example, an event needs to make an API call or DB call. If the API returns a 5xx response or a db read/write fails but we expect a retry to work, we want to seemlessly retry these events. This would be exponential back

[2022-11-14 19:15] fejpet commented on #5506
If it is failing it receives this with HTTP 200:
<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<response>\t<status>fail</status>\n\t<errorCode>536870934</errorCode>\n</response>\n

[2022-11-14 20:02] #4058 closed

[2022-11-14 20:10] nyemade-uversky opened #5513 "Support more APIs with Pluggable components for 1.11"
**Description:** In 1.9 we released pluggable components with support for 3 building blocks (pubsub, state store, bindings). For 1.10 we want to continue with support for additional building blocks.

**1.10 Requirements:**

- Support following language SDKs for existing APIs (pubsub, state store and bindings):
     - .NET (nuget) @philliphoff
     - Java (Maven) @tmacam
     - Go @tmacam
- Support

[2022-11-14 20:43] fejpet commented on #5506
Other application is using the same port and provides this false response. Change the application port to something different or stop application which is using the same port then it will work fine. Tip: without running dapr or your application make a request to localhost:7002/dapr/subscribe and it need to fail.

[2022-11-14 20:43] #5506 closed

[2022-11-14 21:52] #4866 closed

[2022-11-14 22:11] olitomlinson opened #5515 "[PubSub] override cloud event attributes via metadata"
## Describe the feature
At present, there are two ways to publish a Cloud Event via PubSub

1. Supply a payload, which is then automatically wrapped by Dapr in a Cloud Event envelope.
2. Developer supplies the full [Cloud Event envelope](https://docs.dapr.io/developing-applications/building-blocks/pubsub/pubsub-cloudevents/#publish-your-own-cloudevent) as-is.

I propose a 3rd way, a developer can

[2022-11-15 08:43] harshithgandham opened #5517 "Reminder Count Java"
I am trying to register a reminder in java using the below code snippet.

 super.registerReminder(
                "sample1",
                timerJson,
                Duration.ofSeconds(5),
                Duration.ofSeconds(2)).block();

The above method "registerReminder" doesn't provide argument for count (number of invocations).
The reminder register above starts after 5 seconds and then run

[2022-11-15 10:48] etghanibahman opened #5518 "DAPR, error when reading response headers"
I am trying to have a very simple call to sidecar of a service:
http://localhost:50001/v1.0/invoke/blabla/method/weatherforecast

But I'm getting this error:
fail to invoke, id: blabla, err: error when reading response headers: read tcp4 127.0.0.1:64061->127.0.0.1:5001: wsarecv: An existing connection was forcibly closed by the remote host.. Buffer size=22, contents: "Cirrato Client 21.5.0\x00""

[2022-11-15 11:04] DeepanshuA opened #5519 "Verify Headers Getting Properly Subscribed in normal and Bulk Pubsub in e2e test"
## In what area(s)?

## Describe the feature
Till dapr v1.9, we have used redis for all pubsub related e2e test.
Recently, in master branch, we have Bulk Publish and Bulk Subscribe added, which also uses kafka.
But, none of the e2e test currently verifies headers getting subscribed correctly in normal pubsub or bulk pubsub.

Many customers use kafka as pubsub and it would be good to incorporate in

[2022-11-15 11:19] shubham1172 commented on #5497
The in-memory component does not have a native support for bulk publish, and can be used with Dapr runtime's default bulk publish implementation (it allows making bulk publish calls to a component and makes parallel Publish requests internally). The component overhead will be minimal as it's purely in-memory, and it will give a good estimate of the API's performance, and the latency introduced by

[2022-11-15 11:42] mcandeia opened #5520 "Better error handling for StateStore pluggable components"
## In what area(s)?

/area runtime

## Describe the feature

Returning semantic errors is also part of the components contracts, and for pluggable component specifically there is no error mapping from gRPC returned errors to semantic errors, as one example you can see the [etag mismatch](https://github.com/dapr/components-contrib/blob/master/state/errors.go#L32) error. There should be a way to ret

[2022-11-15 15:44] shivamkm07 opened #5522 "Proposal: Make Configuration API stable"
# Configuration API as Stable

This is the main tracking issue for moving Configuration API to stable. It follows the lifecycle process template defined [here](https://github.com/dapr/proposals/blob/main/templates/lifecycle.md).

## Links
Links to any relevant resources go here:
* API design proposal: https://github.com/dapr/dapr/issues/2988
* Another related issue: https://github.com/dapr/dapr/is

[2022-11-15 17:12] nyemade-uversky commented on #4684
This proposal has been replaced with #5522. Closing issue

[2022-11-15 17:12] #4684 closed

[2022-11-15 17:21] yaron2 commented on #5440
The following issues need to be resolved before making resiliency stable:

* https://github.com/dapr/dapr/issues/5511
* https://github.com/dapr/dapr/issues/5321

[2022-11-15 20:22] R-Lamberson commented on #4031
So I have just been able to upgrade our dev and prod environments to 1.9.3 and will see if this helps the stability problem.

[2022-11-15 21:11] ItalyPaleAle commented on #5508
Moving to the components-contrib repo. Will need an option to specify what client cert to present

[2022-11-15 21:37] berndverst commented on #5515
I think it is best to be even more specific -- let's make it `dapr-cloudevent-` as prefix?

[2022-11-16 01:38] tmacam opened #5524 "Dashboards: CPU Usage metric is aggregated by POD id and not by applicaton"
There isn't an appropriate area for _"dashboards and monitoring"_

## What version of Dapr?

1.9.x

## Expected Behavior

In Grafana dashboards _"Total CPU usage"_ should be aggregated by application instead of by individual pods as bellow:

![image](https://user-images.githubusercontent.com/93761/202060763-8396ff47-cbff-4698-b330-e055c838a71d.png)

## Actual Behavior

Right now, each pod has its

[2022-11-16 04:28] #5510 closed

[2022-11-16 05:27] akhilac1 commented on #5481
/assign

[2022-11-16 06:55] #4368 closed

[2022-11-16 07:29] mukundansundar commented on #5515
This change needs to be done on the bulk publish API too if and when a change is done.

[2022-11-16 10:06] harshithgandham commented on #5444
@olitomlinson Any idea on the thread https://github.com/dapr/dapr/issues/5517

[2022-11-16 10:06] harshithgandham commented on #5517
@olitomlinson Any idea on this?

[2022-11-16 17:31] mcandeia opened #5526 "Proposal: Use workflow_dispatch for dapr-bot commands"
## In what area(s)?

/area test-and-release
## Describe the proposal

Currently, the [dapr_bot](https://github.com/dapr/dapr/blob/master/.github/scripts/dapr_bot.js#L137) is using the [repository_dispatch](https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#repository_dispatch) event  - which can only trigger workflows based on `default-branch` workflow yaml, for runni

[2022-11-16 20:18] ItalyPaleAle commented on #5452
Closed as complete

[2022-11-16 20:18] #5452 closed

[2022-11-17 00:54] ItalyPaleAle commented on #5511
I cannot reproduce this issue. I have created an app (that uses Azure Service Bus for PubSub, but that shouldn't matter) and with resiliency enabled, I see the messages retried before they're sent to the DLQ. Additionally, I reviewed the code and I don't see anything that would cause this bug.

Can you please check that you've configured Dapr correctly?

In particular, can you check Resiliency is

[2022-11-17 02:00] anhldbk commented on #955
@xdmushui I see a related blog here: https://medium.com/@ApacheAPISIX/how-to-integrate-with-dapr-to-build-apache-apisix-gateway-controller-28464b12b13f

[2022-11-17 06:19] ItalyPaleAle opened #5530 "Resiliency: setting `maxRetries: 0` is ignored, retries indefinitely instead"
## In what area(s)?

/area runtime

## What version of Dapr?

## Description

With Resiliency enabled, create a policy with `maxRetries: 0`, for example:

[code]

(This is used by a pubsub, but the error happens regardless of what the target is)

Per documentation, `maxRetries: 0` should make it so Dapr never retries in case of errors.

However, the value of `0` is internally converted to `-1` and

[2022-11-17 07:34] JY29 opened #5533 "panic: runtime error: invalid memory address or nil pointer dereference"
macos   10.15.7
CLI version: 1.9.1
Runtime version: 1.9.3

dapr run --app-id dicom-service --app-port 3000 --app-protocol http --dapr-http-port 3001  --dapr-http-max-request-size 1024 --dapr-grpc-port 3002  node .

curl http://localhost:3001/v1.0/invoke/dicom-service/method/series
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0

[2022-11-17 09:11] DeepanshuA commented on #5501
/assign

[2022-11-17 13:26] erwbgy commented on #5389
Dapr newbie here, but a real user.  Scenarios 1 and 2 are what I'd like to see solved.  I think scenario 3 may be better solved via a service mesh or something like Skupper.

We enable Kubernetes cross-cluster connectivity using ghostunnel with Pod hostAliases (or /etc/hosts):

client (TCP) → ghostunnel-client (TLS) → Envoy (TLS passthrough) → (TLS) ghostunnel-server → (TCP) server

The client loo

[2022-11-17 18:21] berndverst commented on #5133
@ItalyPaleAle can you add the "pinned" label so this doesn't get closed? (And maybe you know what to do for this issue)

[2022-11-17 18:54] #5471 closed

[2022-11-17 19:06] addjuarez opened #5536 "1.9.4 Hotfix release checklist"
- [x] Dapr maintainer(s) communicate out the discovery of an issue that requires a hotfix and the reason why to the Discord Maintainers and Release channels. Hotfix is one of categories below:
   - [ ] Security vulnerability
   - [x] Regression that does not have a work around: https://github.com/dapr/dapr/pull/5534
   - [ ] Broken mainline scenario that has a missing test case
- [ ] ~~Create the

[2022-11-17 19:35] #5484 closed

[2022-11-17 19:46] nyemade-uversky opened #5537 "Dapr Workflow Building Block / Engine"
[Workflow proposal](https://github.com/dapr/dapr/issues/4576)

## Lifecycle Expectations

### Alpha (1.10 Release Target)

* Built-in workflow engine will be available as an initial preview feature
* API will support workflow management for 3 methods (START, STOP, GET STATUS)
* API will be released as alpha
* API Support for Temporal as a workflow engine
* API Support for Built-in engine
* Authori

[2022-11-18 05:28] mukundansundar commented on #5357
Closing this issue as the API design has been accepted and merged into dapr/proposals

[2022-11-18 05:28] #5357 closed

[2022-11-18 05:57] trondhindenes commented on #4313
sorry, I was completely out of the loop here. Yes I believe it does.
There is a situation which I believel we aren't fully covering:

Imagine a pubsub scenario where a messagehandler processes messages, and for each processed message, it needs to send a message to another queue (confirmation message). Each message might take between 10 seconds and 10 minutes to complete (this is real-life btw, we

[2022-11-18 06:19] yaron2 commented on #4313
@trondhindenes check out Dapr health checks: https://docs.dapr.io/developing-applications/building-blocks/observability/app-health/.

[2022-11-18 07:18] jjcollinge opened #5541 "Add success label to service invocation response metrics"
## In what area(s)?

/area runtime

## Describe the feature
This is an extension to the [recently added service invocation metrics](https://github.com/dapr/dapr/pull/5485) to add a `success` label to the `dapr_runtime_service_invocation_res_*` metrics. The reason for adding this new label would be to provide a protocol agnostic way of determining whether the service invocation was successful or no

[2022-11-18 07:48] trondhindenes commented on #4313
ah, nice. I guess the combination of `graceful-shutdown-seconds` and health checks will solve this. I'll do some testing! Thanks!

[2022-11-18 09:12] shivamkm07 commented on #5536
Installer Bundle 1.9.4 released: https://github.com/dapr/installer-bundle/releases/tag/v1.9.4

[2022-11-18 16:10] yaron2 commented on #4993
/keep-alive

[2022-11-18 17:14] #5536 closed

[2022-11-18 17:22] jfefes commented on #5511
Hi, thanks for the extra doc, the docs I read on deadletter and retry did not indicate this was a preview feature.

* https://docs.dapr.io/developing-applications/building-blocks/pubsub/pubsub-deadletter/
* https://docs.dapr.io/operations/resiliency/policies/#retries
* https://docs.dapr.io/operations/resiliency/

I'll give this another try with those settings configured.

[2022-11-18 19:20] jfefes commented on #5511
@ItalyPaleAle the preview config was exactly what I was missing here! Huge thanks for calling that out :)

Working example:
[code]

[2022-11-18 19:20] #5511 closed

[2022-11-18 19:43] ItalyPaleAle commented on #5511
Great, thanks for confirming!

[2022-11-18 19:48] mukundansundar commented on #5530
@dapr/maintainers-dapr for now added this to 1.10

[2022-11-18 22:41] ItalyPaleAle commented on #5541
I'm not sure I understand the issue. Why can't we look at the response status code to determine if it's successful?

[2022-11-18 22:56] jjcollinge commented on #5541
Yes, you certainly can look at the status code but it requires the querier to interpret the status code across both HTTP and gRPC. The `success` label would be more convenient for the querier as daprd knows the protocol so can interpret the status code specifically.

Without a `success` label you have to apply some general rule such as `status = 0 || (status >= 200 && status < 300)`.

With a `succ

[2022-11-19 00:22] #5530 closed

[2022-11-19 15:40] shubham1172 commented on #3451
/keep-alive

[2022-11-20 05:05] shubham1172 commented on #4158
/keep-alive

[2022-11-20 07:31] #5040 closed

[2022-11-20 10:13] spolab commented on #5515
To override the CloudEvent fields, I would probably prefer a `WithEventType(string)` type of `PublishEventOption` (I use the golang SDK). That would be backward compatible with the existing API.

[2022-11-20 16:04] ItalyPaleAle commented on #5515
Instead of using metadata keys to override properties, what would you think about accepting a new content type for a PARTIAL cloud event envelope?

Dapr would then automatically populate the missing keys only.

[2022-11-20 17:55] olitomlinson commented on #5515
@ItalyPaleAle can you provide a sample of what that would look like?

[2022-11-20 20:15] ItalyPaleAle commented on #5515
@olitomlinson

From the HTTP API example, to publish a cloud event (with a full envelope), you do:

[code]

Note the `Content-Type: application/cloudevents+json` header

We could add a new Content-Type header such as `application/x-dapr-cloudevent` where we don't require a full cloud event envelope. Such as:

[code]

Dapr would parse the envelope and complete the missing fields.

Just an option of

[2022-11-20 20:56] mukundansundar commented on #5205
/keep-alive

[2022-11-20 23:21] #5216 closed

[2022-11-21 06:05] hellofengge opened #5542 "Transport: authentication handshake failed: x509: certificate has expired"
dapr init --kubernetes --enable-mtls=false
使用CLI 禁用mtls后，仍然在读取证书文件，一旦删除证书，dapr-sentry无法启动
After disabling mtls with CLI, the certificate file is still being read. Once the certificate is deleted, dapr entry cannot be started

[2022-11-21 06:08] hellofengge commented on #5542
Reinstallation does not take effect ,but system config（kubectl edit configurations/daprsystem
） show  --enable-mtls=false

[2022-11-21 06:10] hellofengge commented on #5542
my dapr version is1.5.0

[2022-11-21 06:54] artursouza commented on #5478
Is this API targeting "management" of experiments or applying it (app picking treatment vs control behavior)?

[2022-11-21 09:10] rabollin commented on #5542
DAPR1.5 is out of date now, so can you try with latest version 1.8 or 1.9 and share the update here.

[2022-11-21 16:44] #5178 closed

[2022-11-21 21:37] ItalyPaleAle opened #5545 "Mounting volumes in the Dapr sidecar should only be permitted in certain folders"
## In what area(s)?

## What version of Dapr?

## Description

This is a potential security issue.

Starting with Dapr 1.8 (#4663) we can allow mounting volumes inside the "daprd" container by passing the `dapr.io/volume-mounts` or the `dapr.io/volume-mounts-rw` annotations.

The mount paths are unrestricted, which means that people could mount volumes anywhere in the `daprd` container. This inclu

[2022-11-21 21:38] ItalyPaleAle commented on #5545
CC: @shubham1172 @artursouza @yaron2

[2022-11-22 00:52] saber-wang commented on #5013
activity

[2022-11-22 00:54] saber-wang commented on #5542
https://docs.dapr.io/operations/security/mtls/#root-and-issuer-certificate-upgrade-using-cli-recommended
You can refer to this article to update the certificate.

[2022-11-22 05:08] vikram-thiru opened #5546 "Dapr not showing in index management Kibana"
## In what area(s)?

Setting up Kibana and fluend

https://docs.dapr.io/operations/monitoring/logging/fluentd/

## What version of Dapr?

CLI version: 1.9.1
Runtime version: n/a

## Expected Behavior

![image](https://user-images.githubusercontent.com/113989405/203226598-85010d12-4cc5-4086-a03a-92481f5d579d.png)

## Actual Behavior

![Screenshot from 2022-11-22 10-32-41](https://user-images.github

[2022-11-22 05:12] vikram-thiru commented on #5546
![image](https://user-images.githubusercontent.com/113989405/203227256-8425746a-966c-402f-bbac-eda9b9e18fd9.png)

[2022-11-22 06:55] hellofengge commented on #5542
ok，thanks

[2022-11-22 06:55] #5542 closed

[2022-11-22 10:11] XavierGeerinck commented on #5341
Added extra information on how the Gatekeeper service could work! Really interested to see this become a reality and view everyone's opinion

[2022-11-22 10:52] shubham1172 commented on #5471
FYI, looks like https://github.com/grafana/k6 (used by https://github.com/grafana/k6-operator) is non-compliant with CNCF's licensing [guidelines](https://github.com/cncf/foundation/blob/main/allowed-third-party-license-policy.md). We can raise a request to get an exception here - https://github.com/cncf/foundation/issues.

Also see https://github.com/cncf/foundation/blob/main/agpl-recommendations

[2022-11-22 11:51] #5182 closed

[2022-11-22 16:25] nyemade-uversky opened #5547 "DocumentStore Building Block for 1.11 Tracking Issue"
### 1.11 Milestone

- DocumentStore API as alpha
- Support for mongoDB
- Support for 1 major language SDK (e.g., .NET, Java, Python, or Go)
- Documentation
- Code samples

**Related Issue:**
DocumentStore Proposal #5146

[2022-11-22 16:27] ezYakaEagle442 opened #5548 "[Proposal] Secret Auto-Injection"
## In what area(s)?

The Area is about Secret Management.

I create this proposal following my discussion with the Dapr maintainers.

__Context__:

- I started to look at the DB Bindings such as the [PostreSQL](https://docs.dapr.io/reference/components-reference/supported-bindings/postgres/) and saw it asks the Dev. to write SQL statements whereas any Dev. would prefer to use an ORM framework
- Da