[2021-04-06 05:19] artursouza commented on #3015
Dapr watches for components only in the init stage - it does not reload components automatically after it is up and running. So, reloading components would be a new feature too. Then, subscription can be reloaded too.

Also, reminding that subscription can also come from apps' callback endpoint - but it is OK if we don't reload that.

Like I said, I am concerned about automatic rollout of changes

[2021-04-06 05:21] artursouza opened #3025 "[E2E Test] Public endpoint closing connection"
E2E tests sometimes fails on Windows with the following error:

![image](https://user-images.githubusercontent.com/130954/113662609-45aca780-965d-11eb-95c9-477c86b1ec17.png)

[2021-04-06 05:24] artursouza opened #3026 "[E2E Test] Sidecar injection delay"
This error is frequently seen on Windows runs and sometimes on Linux runs too:

![image](https://user-images.githubusercontent.com/130954/113662779-9e7c4000-965d-11eb-9148-5dcfeb303c9d.png)

![image](https://user-images.githubusercontent.com/130954/113662794-a4722100-965d-11eb-9689-c879c124cd52.png)

[2021-04-06 05:26] artursouza opened #3027 "[E2E Test] Kubernetes Job does not complete"
This error happens on Linux and more frequently on Window runs:

![image](https://user-images.githubusercontent.com/130954/113662909-e307db80-965d-11eb-82e4-c40336ce10a3.png)

[2021-04-06 05:27] artursouza opened #3028 "[E2E Test] Kubernetes Job completes but subscriber fails"
This error is seen on Windows only so far.

The K8s Job for publisher completes but the subscriber never gets the message.

![image](https://user-images.githubusercontent.com/130954/113663006-1185b680-965e-11eb-9ca7-4b14b7d568f3.png)

[2021-04-06 05:29] artursouza opened #3029 "[E2E Test] Many actor failures in the same run"
On Linux runs, sometimes the test shows multiple failures on actor tests.

![image](https://user-images.githubusercontent.com/130954/113663116-514c9e00-965e-11eb-97f9-b5feab0b8636.png)

[2021-04-06 05:30] artursouza opened #3030 "[E2E Test] Pubsub failures"
On Windows runs, sometimes tests fail with multiple pubsub test cases:

![image](https://user-images.githubusercontent.com/130954/113663240-8a850e00-965e-11eb-9744-df572c448a10.png)

[2021-04-06 05:32] artursouza opened #3031 "[E2E Test] Binding failures"
Infrequently, on Windows runs, multiple binding test cases fail:

![image](https://user-images.githubusercontent.com/130954/113663345-b6a08f00-965e-11eb-95d4-553a34e5abb1.png)

[2021-04-06 05:37] artursouza commented on #2739
I am OK with 1c. It would need to be part of the v2alpha1 API since it is a breaking change.

[2021-04-06 05:42] artursouza commented on #3028
@Hugome Have you tested this feature on Windows? We get some issues in our E2E tests.

[2021-04-06 08:12] nobodyiam commented on #2739
Given the current context, I think 1c is the better option.

[2021-04-06 11:49] seanfitzg commented on #2954
So, in the simple example, the express node app is running using port 3001.  So this example runs correctly:
[code]

But, if I try calling it via the DAPR sidecar, which is running under port 3500, an error is returned:
[code]

[2021-04-06 16:11] halspang opened #3032 "v1.2.0 Release Planning"
Release Coordinator: @halspang
Release Buddy: @berndverst

Code freeze: 05/14/2021
Endgame starts: 05/20/2021
Release date: 05/25/2021

**Note** This release is gated by the e2e tests passing consistently on aks

Milestones in scope for this release:
Dapr: https://github.com/dapr/dapr/milestone/8
Java-SDK: https://github.com/dapr/java-sdk/milestone/1
Python-SDK: https://github.com/dapr/python-sdk/

[2021-04-06 20:14] aczarkowski opened #3033 "Azure KeyVault secret store fails to decode pkcs12 certificate"
## What version of Dapr?

## Expected Behavior

I am following the documentation on https://docs.dapr.io/operations/components/setup-secret-store/supported-secret-stores/azure-keyvault/ in order to use Azure KeyVault as secret store. I can create service principal and the certificate without any problems. I should be able to access the secret from the KeyVault.

## Actual Behavior

When starting t

[2021-04-07 00:35] mukundansundar opened #3035 "Fix dapr-dev container build"
## In what area(s)?

/area test-and-release

## What version of Dapr?

1.x

## Expected Behavior

Dapr dev container build works as expected snd dev container is published.

## Actual Behavior

Dapr dev container build fails.

https://github.com/dapr/dapr/actions/workflows/dapr-dev-container.yml

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE: **FXED** dapr-dev container build

[2021-04-07 07:54] skyao commented on #2739
I agree to 1c.

@yaron2 Is anybody start working for this update? If no, I would like to take it.

[2021-04-07 08:20] Betula-L commented on #2659
@apuzyrevsky it seems that this issue has not been finished yet, while docs released.

[2021-04-07 13:54] yaron2 commented on #2739
Thanks! assigned you to the issue.

[2021-04-07 15:10] skyao opened #3036 "any and emtpy changed in proto generated code"
## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior

When we follow the steps to generate code from protos, as described in https://github.com/dapr/dapr/tree/master/dapr:

We should get the same result of the generated golang code. So after somebody changed and submitted the generated code, when somebody regenerated the code by `make gen-proto`, there should be no ch

[2021-04-07 18:47] #3009 closed

[2021-04-08 01:29] luckyxiaoqiang commented on #3013
`.` is a separator to separate app id and namespace. Valid app id format is `appid` or `appid.namespace`.

[2021-04-08 17:55] artursouza commented on #2739
@skyao Please, start the v2alpha1 API as part of this work since it cannot go into the v1 API - breaking change.

[2021-04-08 21:52] #2975 closed

[2021-04-08 22:23] #1721 closed

[2021-04-09 00:52] ToNewDay commented on #2806
I flow this guid ,and have same error.
https://docs.dapr.io/getting-started/get-started-component/

[2021-04-09 07:22] mlatoszek opened #3039 "Missing required field "version" in io.dapr.v1alpha1.Component.spec"
## In what area(s)?

/area test-and-release

## What version of Dapr?

After upgrading 1.0.0-rc4  to 1.0.0 on kubernetes

## Expected Behavior

Successful release

## Actual Behavior

After upgrading dapr from 1.0.0-rc4 to 1.0.0 we cannot update our application anymore. After we're trying to release our helm package we get:

upgrade.go:121: [debug] preparing upgrade for codestrikes-prod
Error: UPG

[2021-04-09 09:00] mstrYoda opened #3040 "Inject application port to dapr automatically"
## In what area(s)?

/area runtime
/area operator

## Describe the feature

Currently we are providing application port using **dapr.io/app-port** annotation. I think we can set app port while injection dapr sidecar on mutating admission webhook. Taking first containers exposed port as app port should work for most of the applications. If it is not fit multi-container pods, they still use **dapr.i

[2021-04-09 14:35] Hugome commented on #3028
@artursouza Unfortunately I've not tested this on windows.

I remember having hard time debugging the GH E2E tests because logs from the job pod was not saved on the XXXX_container_logs artifact, I didn't deep dive on "why" my search was stopped at those lines
https://github.com/dapr/dapr/blob/73a5b62d49ea3d473d9abeef685a23a9faf32261/tests/platforms/kubernetes/appmanager.go#L651-L657
I was thinkin

[2021-04-09 16:26] yaron2 commented on #3039
v1.0.0 made mandatory the `version: v1` field on the component, so you need to add it to your existing components. See here: https://docs.dapr.io/operations/components/component-schema/.

[2021-04-09 17:20] halspang commented on #2901
Updated design:

### Decisions Made
- Launch as a preview first to confirm decisions
- Call chain/context will not be persisted but rather live in memory
- GUID will be related with lock in runtime, if lock matches the GUID we can bypass it
- State will not be shared in initial version
- Document not to use multi-threaded calls to other actors
- Impose an arbitrary limit for reentrant depth

### F

[2021-04-09 18:12] artursouza commented on #3000
The retry logic can be set per component but (IMO) it makes more sense to be done per request. This would also simplify the solution. Extra metadata can be passed through via the request object where the default behavior is no retry.

For example of retry params:
retryStrategy: str (off/linear/exponentialbackoff)
retryMaxCount: int
retryTimeoutSeconds: int

Those can have nice defaults, so user ju

[2021-04-09 18:18] mlatoszek commented on #3039
Hi @yaron2, thanks. Just an hour ago I just realised that. After adding version in spec the problem disappeared.  Strange thing was that the cluster was running on 1.0.0-rc.4 (and previously on 0.11) and the version wasn't required - so it seems like upgrading custom components resource definition failed in some place. After upgrade to 1.0.0 everything was upgraded correctly and then my problem wa

[2021-04-09 18:18] mlatoszek commented on #3039
PS. Closing the bug as it's not a bug ;)

[2021-04-09 18:18] #3039 closed

[2021-04-09 21:23] artursouza commented on #2820
We should fix this circular dependency by creating the `kit` project. @yaron2 any objections?

[2021-04-09 21:27] yaron2 commented on #2820
Nope I'm good with this.

[2021-04-09 23:43] pkedy commented on #2820
Here is the PR for moving the logger to dapr/kit: dapr/kit#1

[2021-04-10 07:03] juazasan commented on #3000
Love the idea of including the retry settings in the request. It is the most flexible option. Still, IMO it makes sense to keep the option of configuring the defaults per component. Will implement both and see.
Thanks.

[2021-04-10 12:27] withinboredom commented on #3032
PHP-SDK: https://github.com/dapr/php-sdk/milestone/7

[2021-04-12 07:18] kishanTakeda opened #3045 ""process component pubsub error: init timeout for component pubsub exceeded after 5s""
Hi Team,

I am using DAPR , Docker in my .net core microservice.
I have made following configuration in docker-compose.yml to run broker and dapr pubsub configuration.

PUBSUB.yml
[code]
and **Dockercompose.yml**

[code]

My dapr car is not getting initialize in local environment , its throwing error as follows

![image](https://user-images.githubusercontent.com/80945137/114355557-3bbf0300-9b8d-11

[2021-04-12 07:18] charles-woshicai commented on #2978
Is there any update?

[2021-04-12 13:32] Rob623 opened #3046 "mesh together local (win) dapr with k8s dapr"
## In what area(s)?
/area runtime
/area docs

## Ask your question here
Hi,
My use case: I have a local k8s cluster where most of my applications are running but due to legacy hardware devices/driver, which are very difficult to replace, some of my hardware facing apps/services must run on native windows. I would like the developers in our company to be able to use dapr sdk to communicate between

[2021-04-12 17:02] javageek79 opened #3047 "StatusRuntimeException - INTERNAL: error when publish to topic [...] the connection has been closed: Sender"
## In what area(s)?

/area runtime

## What version of Dapr?

1.1.0

## Expected Behavior

No "[...]connection has been closed: Sender[...]" errors in the logs

## Actual Behavior

During a loadtest, we faced a high increase of errors, saying that connection to azure service bus has been closed by sender, causing messages not beeing published to its related topic.

## Steps to Reproduce the Proble

[2021-04-12 17:12] javageek79 commented on #3047
Maybe there is a relation between this issue and #809 as can be seen in this diagram
![image2021-4-12_16-33-10](https://user-images.githubusercontent.com/3714921/114433973-bfdfad80-9bc2-11eb-9fb8-d7cd793b122f.png)
During the above described loadtest, we can see the error situation decribed in #809 before the actual "connection has been closed" errors taking place

[2021-04-12 17:21] pkedy commented on #3047
Hi, @javageek79! We are going to attempt to reproduce this. Would it be possible to share with us your testing code?

[2021-04-12 18:26] halspang opened #3048 "Add Opt-in for Preview Features"
## In what area(s)?

/area runtime

## Describe the feature
Going forward, features in dapr may first be released as a preview feature. The runtime needs a method to opt-in to these features for both standalone and kubernetes.

The first feature that will be previewed is Actor Reentrancy #2901

## Release Note

RELEASE NOTE: **ADD** Opt-in for preview features

## High Level Overview

- Enabled fe

[2021-04-12 18:31] halspang opened #3049 "Add Configuration for Actor Reentrancy"
## In what area(s)?

/area runtime

## Describe the feature
Actor reentrancy has several configuration values that must be understood by the runtime/actors. The configuration is provided to the runtime during the call to `dapr/config` see the [actor ref](https://docs.dapr.io/reference/api/actors_api/#get-registered-actors) for more information.

The configuration that we're adding can be found in

[2021-04-13 03:16] charles-woshicai commented on #2978
/assign

[2021-04-13 08:32] kshitijcode opened #3051 "Use Managed Identity for EventHub pub/sub component without defining connectionString"
## Describe the feature

In the Dapr component definition for pub/sub for EventHub, we need to explicitly specify the connection string to establish a connection in the component definition. There is no option to run it without the same.
This also adds an additional requirement to define a secret store to fetch the connectionString.

On the contrary, while using managed identity we do not require

[2021-04-13 19:27] juazasan commented on #3000
@yaron2 @artursouza Just a quick update I am already making progress. I am expecting to have something for you to review by the end of the week.

[2021-04-13 22:08] yaron2 commented on #2308
Update: I don't feel comfortable adding this yet, have synced with @artursouza on this.

Removing from milestone for now. /cc @orizohar

[2021-04-13 23:31] orizohar commented on #2308
We should sync on this. My understanding from @artursouza as of last week is that it is still something we can look to address in v1.2

[2021-04-14 00:06] wcs1only commented on #3047
We have successfully reproduced this issue:

[code]

Key to reproduction appears to be a large amount of publisher concurrency with the Azure Service Bus component. We believe we have isolated the issue to pubsub and it does not appear to be related to actors. We're working with the upstream team to figure out if the fastest path will be retrying with the ASB component, or patching the upstream li

[2021-04-14 03:46] ericjee commented on #1850
Face the same scenario, @azureluo Did u find a way to handle this?
Or it's a scenario that Dapr can't do at the current time

[2021-04-14 07:06] skyao commented on #2988
I have raised some PRs to give a end-2-end prototype implementation for current configuration api based on redis, you can see the code here:

- components-contrib: https://github.com/dapr/components-contrib/pull/790
- dapr:  https://github.com/dapr/dapr/pull/2992
- go-sdk:  https://github.com/dapr/go-sdk/pull/156

Yet this is just a prototype to demo how to implement this configuration api proposa

[2021-04-14 07:43] skyao commented on #2820
Good proposal !

[2021-04-14 15:51] yaron2 opened #3054 "Allow choosing which APIs are available on a sidecar"
In certain cases, users may want to choose which Dapr APIs are allowed access.
This might be used in low/no-trust environments and reduce an attack surface on a specific API.
In addition, this would allow operators and/or infosec teams to pursue an "enable what you use" philosophy, and comes handy in scenarios where an Ingress might expose the Dapr APIs to external consumers.

### Design proposal

[2021-04-14 18:26] wcs1only commented on #3047
So we were able to root cause our own reproduction of this issue to throttling by the upstream service. It seems we get a very generic error back from the upstream SDK and we are not properly retrying with backoff. The most immediate solution will be to add retry with backoff to the Azure Service Bus Dapr component. We hope to have a release candidate available by end of day PST.

[2021-04-14 18:56] #3047 closed

[2021-04-14 22:22] pkedy commented on #3000
Hi @juazasan! I'm joining this convo late. I wanted to point you to a configurable retry package I was working on here:

https://github.com/pkedy/components-contrib/tree/configurable_retry/internal/retry

The idea was for this to eventually be a shared package in dapr/kit but we aren't there yet. If is it useful, it would totally be OK to copy it to the `internal` package of dapr/dapr.

Cheers!

[2021-04-14 22:33] wcs1only opened #3056 "Dapr-Dev-Container build is broken."
## In what area(s)?

/area test-and-release

## What version of Dapr?

[code]

## Expected Behavior

Dapr dev container should be built any time we tag a release.

## Actual Behavior

It seems to have been broken from v1.1.0 on.
https://github.com/dapr/dapr/runs/2347626802?check_suite_focus=true

[code]

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2021-04-15 04:59] yaron2 commented on #2513
@jigargandhi you can work on this, thanks!

just make sure to keep backward compatibility in mind, so we need to ALSO accept ISO 8601 intervals.

[2021-04-15 06:43] veselfil opened #3057 "Upgrading DAPR in a HA production environment"
## In what area(s)?

/area runtime

## Ask your question here

Hi, I have a question about updating DAPR runtime in a production environment without any outages. I have read the documentation where it says the control plane should be updated first and after that a rolling restart should be done for all applications that use DAPR.

However, I feel that there's an issue with SDK compatibility. For e

[2021-04-15 07:39] nobodyiam commented on #3057
Based on my understanding, runtime 1.1.0 is compatible with sdk 1.0.0, but let's wait for the formal answer 😀

[2021-04-15 09:10] saber-wang opened #3058 "Dapr sidecar failed to start: certificate has expired or is not yet valid"
time="2021-04-15T09:05:57.761065457Z" level=fatal msg="failed to start internal gRPC server: error from authenticator CreateSignedWorkloadCert: error from sentry SignCertificate: rpc error: code = Unavailable desc = connection error: desc = \"transport: authentication handshake failed: x509: certificate has expired or is not yet valid: current time 2021-04-15T09:05:55Z is before 2021-04-15T09:06:4

[2021-04-15 10:41] veselfil commented on #3057
According to the docs I don't think that's the case, but it sure would make sense for them to be compatible

[2021-04-15 12:47] tanekim77 opened #3059 "Relational Database and Entity Framework (EF) Core Support"
It would be great if there is another category for state store for Relational Databse, with Ef Core support. Many companies are already using ef core, so this feature will help them transition smoothly into dapr framework

[2021-04-15 12:49] quickstar opened #3060 "An attempt was made to access a socket in a way forbidden by its access permissions"
## What version of Dapr?
v1.1.1

## Actual Behavior
Everything worked like a charm after applying the latest windows updates.

I'm using dapr locally on my dev machine. If I try to start dapr on a specific port e.g.
[code]
I get the following exception `level=fatal msg="listen tcp4 :51001: bind: An attempt was made to access a socket in a way forbidden by its access permissions." app_id=kratos-adm

[2021-04-15 16:55] yaron2 commented on #3057
Hi, Dapr maintainer here: 1.1.0 SDKs are compatible with Dapr runtime 1.0.0.

[2021-04-15 17:01] yaron2 commented on #3058
It looks like there's a clock skew in your environment, but it also looks like the clock skew compensation logic in the sidecar isn't kicking in. I'll investigate.

[2021-04-15 17:17] veselfil commented on #3057
That's great, solves the problem for us. Is that always the case? The docs say that "Any other combinations of releases are not supported", so I assume this is more of a coincidence than a rule. Am I wrong?

[2021-04-15 17:30] kpantos opened #3063 "failed to start internal gRPC server"
## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior

I've deployed a couple of services to a **Dapr enabled AKS cluster**. All of them work fine except one which the daprd sidecar container crashes

## Actual Behavior

daprd sidecar crashes with following error message:

`time="2021-04-15T14:27:04.3816297Z" level=fatal msg="failed to start internal gRPC server: error

[2021-04-15 18:03] yaron2 commented on #3063
Which AKS version are you using?

[2021-04-15 18:11] yaron2 commented on #3063
Also, if you restart the pod does that solve the problem?

[2021-04-15 18:47] juazasan commented on #3000
Thanks @pkedy Will take a look.

[2021-04-15 23:17] halspang commented on #3048
@yaron2 can you assign this to me and add it to the 1.2 milestone?

[2021-04-15 23:17] halspang commented on #3049
@yaron2 can you assign this to me and add it to the 1.2 milestone?

[2021-04-16 03:18] saber-wang opened #3065 "Does it support grpc Server streaming or Bi-directional streaming?"

[2021-04-16 03:31] rizzi37 opened #3066 "Q: Self Hosted Mode how to mdns load balancing? the app_id can't same."
it there has a `hello world` demo ?

[2021-04-16 09:54] 1029219814 opened #3067 "How to run knative with dapr"
## In what area(s)?

## Ask your question here
i want  to injection  dapr when use knative, this my yaml:

kind: Service
metadata:
  name: helloworld-go
  namespace: default
spec:
  template:
    metadata:
      annotations:
        dapr.io/enabled: "true"
        dapr.io/app-id: "dapr-knative"
        dapr.io/app-port: "3000"
		dapr.io/metrics-port: "19090"
		dapr.io/log-level: "debug"
    spec:

[2021-04-16 12:05] mjtansin opened #3071 "Add method to check a actor exists (means in memory or in db) by given actorId"
Sometimes we need to check whether a given actorId is valid or not, but currently we cannot do this, for any input actorId we always get a actor.
Would you like to offer a function to find actor?  If that actor created before then return true, otherwise return false

Thank you!

[2021-04-16 14:12] withinboredom commented on #3057
IIRC, the dapr sidecar will support the previous version of the API (if it changes), so the SDK's will be using the previous API and this won't cause a problem. Once the SDKs support the new API, you can take advantage of it by updating the SDK.

@yaron2, it might make sense to have two matrices. X1 = Supported Dapr Version, Y1 = API Version and X2 = SDK Version, Y2 = API Version. Or something lik

[2021-04-16 15:08] DoNnMyTh opened #3068 "Requesting Dapr.io on civo's opensource marketplace"
As our customer requested for Dapr.io on my marketplace, Can I reach out a maintainer who is willing to submit application to out one click marketplace. I'll help you all along the way.

 we only allow the maintainers to maintain and make changes to app that they have submitted. as we have strict rules around it. even if someone else want to make a change with a PR he needs approval of the maintai

[2021-04-16 15:35] GeneralFox opened #3069 "openshift deployment"
## In what area(s)?

/area operator

## Ask your question here
Hello to all,
I'm trying to install dapr for our development team under OpenShfit 4.7 with the helm chart.
Out of the box the chart doesn't work for OCP security enforcement however with some tuning on the permission ( oc adm policy add-scc-to-user nonroot -z dapr-operator -n dapr-system ) I was able to deploy the chart but I have fail

[2021-04-16 15:37] pkedy commented on #2513
Is it more useful for actors to set timers (do X every Y minutes) or to have recurrence rules (do X at 8pm EST every day)? or are both useful? For recurrence rules, there is the [iCalendar RFC 5545 spec](https://tools.ietf.org/html/rfc5545). Some examples can be found in this Go package.

https://github.com/teambition/rrule-go

Unless I missed something, it looks like ISO 8601 and RFC 5545 solve f

[2021-04-16 15:45] veselfil commented on #3057
If this is the case I'm gonna feel really stupid 😄 We've been coordinating large rollouts/upgrades at our company since 0.5.1.

[2021-04-17 00:47] lokinfey commented on #3032
any news about dapr in apple silicon

[2021-04-17 06:02] kpantos commented on #3063
Hi Yaron, my AKS cluster is v 1.20 but not sure if that's the issue as it runs the other two services without issues. Yes, I've deleted and restarted the pod multiple times.

[2021-04-17 07:48] jigargandhi commented on #2906
We can think of adding a `repeatTimes` to the Reminder/ Timer json which can act as a TTL and optionally and `endTime` and stop the reminder/ timer which ever occurs earliest

[2021-04-17 07:54] jigargandhi commented on #2513
I was going to start code on this. But I saw a similar issue was closed https://github.com/dapr/dapr/issues/249 earlier by @LMWF
@LWMF your thoughts on this one?

[2021-04-17 19:06] jeffdoolittle commented on #2882
I'd like to add a vote for making #501 happen. The ability to pub/sub between virtual actors could be incredibly powerful and elegant.

[2021-04-19 07:15] kpantos commented on #3063
Doing `kubectl delete -f deployment.yaml` and redeploying wasn't working.
I tried `kubectl delete pod pod-name` and it automatically restarted the pod without the issue - it worked

[2021-04-19 20:49] satishviswanathan opened #3076 "Dapr pub sub"
I'm using dapr pubusb and the component that i'm using is rabbit mq.

My publisher is able to publish the message but on the subscriber side I'm seeing the following error.

_retriable error returned from app while processing pub/sub event 91a402ec-2b2f-41cd-be8c-37cce4c9fa03: {\"error\": \"client error: the server closed connection before returning the first response byte. Make sure the server re

[2021-04-19 21:06] #2820 closed

[2021-04-19 21:24] LMWF commented on #2513
If I remember right it just wasn't a priority at the time.  It could be done now if there's a need.

[2021-04-19 22:49] Jeffwan opened #3299 "Granular level Tracing Support?"
## Ask your question here

Seems tracing is supported out of box. However, seems the granularity is at single request level.

My question is if we need more granular level tracing in the code. What would be the best way to do that?

For example, I would like to instrument the request to dependencies (storage, or other services) in the single request.

[2021-04-19 23:22] halspang opened #3078 "Add reentrancy bypass for actor locks"
## In what area(s)?

/area runtime

## Describe the feature
In order to allow for reentrancy, the actor locking system has to be updated to match it to reentrant requests. On a matching request, the lock should allow another call to the actor. If the request does not match it should lock as normal.

For more detail, see: #2901

## Release Note

RELEASE NOTE: **ADD** Reentrancy bypass for actor loc

[2021-04-20 16:02] tianjipeng opened #3079 "DaprRuntime.sendToOutputBinding make slice inappropriate？"
## In what area(s)?

 /area runtime

## What version of Dapr?
v1.1.2

## Expected Behavior

In ``DaprRuntime.sendToOutputBinding`` function, ``supported`` variable is initialized :
[code]

## Actual Behavior
Maybe it should be initialized like ``supported := make([]string, 0, len(ops))``?
I can make a pr if it should be like this.

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2021-04-20 16:12] Rob623 commented on #3046
We managed to get HTTP service invocation working by doing the following:
from k8s to win:
1. added to dns entry testapp-dapr.external.svc.cluster.local (id = testapp, namespace = external (this is fake)) pointing to the windows ip
2. starting the app on windows without dapr
3. starting daprd (not dapr! but the sidecar) with args:  --mode kubernetes --dapr-http-port 3500 --dapr-grpc-port 50001 --d

[2021-04-20 16:33] artursouza commented on #2308
Here is how we will solve this problem:

For Dapr subscriber receiving events from non-Dapr publishers, Dapr runtime will auto-wrap non-cloud event into a cloudevent based on a subscription configuration.

For Dapr publishers sending events to non-Dapr subscribers, we will document how output bindings should be used and have E2E test + a sample showcasing it.

[2021-04-20 16:44] aronchick commented on #2308
Can you confirm that if i am trying to consume a dapr produced message from a legacy system that i can't add output bindings for and doesn't support cloud events, this will work?

Scenario:
- I'm at an enterprise that uses an older version of kafka as our universal pub/sub. I'm a dev and don't have the ability to change our global IT infrastructure, but would very much like to use dapr.
- At the e

[2021-04-20 16:55] halspang commented on #3018
Looks like I duplicated this here: https://github.com/dapr/dapr/issues/3048. There's a PR for it there as well.

[2021-04-20 16:56] artursouza commented on #2308
@aronchick Yes, it will work. The app that used Dapr will publish via output binding and it will land on a topic/queue and the legacy system will consume from that using "native" client for the topic/queue. There is no CloudEvent involved in that.

What we can do to improve this experience is to have expose many of the current pubsub components as bindings too, since the implementation is very sim

[2021-04-20 17:03] artursouza commented on #3076
@satishviswanathan Are you running Dapr in standalone mode or on Kubernetes? I suspect there is a connectivity problem to `localhost:5672`.

[2021-04-20 17:08] artursouza commented on #3071
@mjtansin Actors in Dapr are Virtual Actors, which means they "always" exist. What is the scenario that you are trying to solve for?

[2021-04-20 17:19] satishviswanathan commented on #3076
@artursouza thanks for your reply. I'm running dapr in self hosted mode

[2021-04-20 17:31] aronchick commented on #2308
Yep, thank you!
________________________________
From: Artur Souza ***@***.***>
Sent: Tuesday, April 20, 2021 6:56 AM
To: dapr/dapr ***@***.***>
Cc: David Aronchick ***@***.***>; Mention ***@***.***>
Subject: Re: [dapr/dapr] Enhance pub/sub cloud event handling to support existing messaging infrastructure (#2308)

@aronchick<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.

[2021-04-20 17:34] satishviswanathan commented on #3076
Finally i got it working but had to make it an http end point instead of https. Seems like app2 dapr sidecar is not able to get to communicate with app2 when it is https enabled.

[2021-04-20 22:40] artursouza commented on #2308
@aronchick Yes, it was covered in my comment too.

[2021-04-20 23:23] satishviswanathan commented on #3076
For https support we need to add the argument **--app-ssl** while starting the dapr side car.

[2021-04-20 23:23] #3076 closed

[2021-04-20 23:27] satishviswanathan opened #3081 "Dapr pub sub retry not working"
Using dapr i'm publishing the message and on the subscriber i'm throwing an error with http status code 500. I was expecting the retry to happen. Not sure why it didn't work.

Not sure what i'm missing here. Appreciate help on this,

**pubsub.yaml**

apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
name: pubsub
namespace: default
spec:
type: pubsub.rabbitmq
version: v1
metadata:

name: host

[2021-04-21 05:40] aronchick commented on #2308
SG!

[2021-04-21 07:45] marviniter opened #3082 "operator exited with status 1 but no error log output"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

when operator get kubernetes config error output the error message

## Actual Behavior

operator exit with status 1 and there are no error log
[code]
## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2021-04-21 13:28] pattisapu01 opened #3084 "Ability to "ResetOffset" for Kafka pub/sub"
## In what area(s)?

/area components  (kafka pub/sub)

## Describe the feature
The current kafka pub/sub component targets just the minimum interfaces to publish and subscribe. We need an enhancement to the kafka component to support "ResetOffets". This means, we need to be able to invoke an API call to the dapr sidecar to "reset" the current offset to a previous value so that messages can be rep

[2021-04-21 16:48] yaron2 opened #3085 "Enable Dapr sidecars to pick up newly added components without restart"
This issue is a part of https://github.com/dapr/dapr/issues/2485 and deals specifically with allowing Dapr sidecars to pick up new components without requiring a sidecar restart.

[2021-04-21 16:49] #3085 closed

[2021-04-21 16:50] yaron2 commented on #3085
@1046102779 can you please comment here so I can assign this to you? you can simply comment "/assign".

[2021-04-21 18:08] jthin opened #3086 "read items from Azure Event Hub with Dapr Binding"
## In what area(s)?
/area docs
/area runtime

## What version of Dapr?
- Actual Dapr Runtime: 1.1.2

## Description
For test purpose, I am using Dapr binding with Azure Event Hub to read items. (I don't want to use pub/sub because a service will push item in Event Hub).
According to documentation, *partitionID* is optional in Dapr component manifest. But when I run `dapr run` command, I have the f

[2021-04-21 23:15] 1046102779 commented on #3085
/assign

[2021-04-22 01:09] artursouza commented on #2988
Thanks for this proposal and sorry for the delay on this. This is a comprehensive design and we wanted to get the proposer time to understand it before giving feedback.

Level 0 seems to be a good start. We can baseline on that with some changes in the principles of the design:
* Cloud services are used for storage only and no complex query happens there. Any processing should happen in-memory in

[2021-04-22 01:26] yaron2 commented on #2988
@skyao we had a maintainers sync today and came up with the above insights.

Here are some additional clarifications and a few items from my side:

@artursouza I would remove the part about the Dapr CLI, as there are many gotchas there, like the CLI depending on a user's local kube/config RBAC permissions, multiple contexts issues and more. For now I wouldn't suggest *what* exactly should support

[2021-04-22 13:04] denis111 commented on #2659
Does Dapr buffer the whole request? If so than it's not right behaviour for uploading large files, it must act like a proxy then sending the stream of bytes to the destination service.
I'm also interested to be able to pass huge files without size restriction through Dapr.

[2021-04-22 15:03] seanfitzg commented on #2954
I've created a very simple test project using Node & Express to recreate this issue:
https://github.com/seanfitzg/dapr-test

[2021-04-22 15:20] jthin commented on #2954
@seanfitzg In your test project, try `dapr run --app-id express-app --app-port 3001 --dapr-http-port 3500 node index.js ` with 3001 for the app port.

[2021-04-22 15:27] seanfitzg commented on #2954
That worked!  Thanks.
I assumed that setting the port inside the node app would be enough.  But I didn't see _--app-port xxx_ in the documentation (though I might have missed it).

[2021-04-22 16:21] artursouza commented on #2865
The PRs for DNS seems to be unrelated to this issue.

Installing Dapr requires rights to the cluster. Dapr is a cluster level concern. An app that uses Dapr can be deployed as usual to its namespace and, with the proper annotations, the Dapr sidecar will be injected.

[2021-04-22 16:59] #3007 closed

[2021-04-22 23:35] halspang commented on #3048
## High Level Overview

- Enabled features are specified via the standard dapr configuration
- Features can be enabled/disabled individually
- Applications can specify which features are enabled individually or reference a common configuration

## Sample Configuration
[code]

## Applying the Configuration
### Local
For local dapr, the configuration can be specified when running an application.

[c

[2021-04-23 15:42] Taction opened #3090 "Fix get secret route to `key:* `"
## In what area(s)?

 /area runtime

## Describe the feature

Fix get secret route to `key:* `, because in vault component the key of a secret may contain `/`.

## Release Note

RELEASE NOTE:

[2021-04-23 17:38] artursouza commented on #2806
Can you paste the logs from daprd here?

[2021-04-23 17:58] orizohar commented on #3048
I think this good. How would Dapr features that are not in the scope of one application be handled? I'm thinking of possible new features in the k8s control plane or things that happen between applications (like service invocation features)

[2021-04-23 18:33] wisecoders commented on #3092
in my case, we are using Istio 1.3.6 and holdApplicationUntilProxyStarts option is not available until Istio 1.7. Requested for upgrade and placed my POC on hold until then.

[2021-04-23 18:37] artursouza commented on #3092
@wisecoders You mean, the upgrade to Istio 1.7 has to be done by somebody else in your company?

[2021-04-23 18:39] wisecoders commented on #3092
yes. my colleague has taken ownership of that..

[2021-04-23 19:36] artursouza commented on #3076
Good that it worked. Thanks.

[2021-04-23 19:38] artursouza commented on #2659
@Betula-L Please, where is the docs you are referring to?

@denis111 I agree that ideally we should stream requests and not buffer. Can you create an issue for that?

@apuzyrevsky Please, send a PR to add this configuration setting. Even if not ideal for a large file upload, it can unblock users that need this for a slightly larger payload than the default. This should be configurable for K8s too,

[2021-04-23 19:47] artursouza commented on #2978
@charles-woshicai  This is assigned to you now. Please, create a new GitHub workflow that triggers on demand and does a few things:

0. Takes the release version as input: "1.2.0, for example"
1. Checkouts the code and goes tot he release-x.y branch.
2. Change the versions in help charts for Dapr.
3. Commits the changes above.
4. Creates a tag with the correct version and pushes the change.

This

[2021-04-23 19:52] artursouza commented on #2658
@skyao Any updates on this issue?

[2021-04-25 02:39] skyao commented on #2658
@artursouza java sdk is still not updated now.

[2021-04-25 03:26] Betula-L commented on #2659
https://docs.dapr.io/operations/configuration/increase-request-size/

[2021-04-25 14:20] charles-woshicai commented on #2978
OK, will try.

[2021-04-26 01:24] #3090 closed

[2021-04-26 09:49] rolfik opened #3096 "gRPC service streaming invocation"
Hello,
I am studying DAPR to know more about its capabilities and I am wondering how to use service invocation to call gRPC service implementing client or server streaming calls?
It seems DAPR service invocation API misses this case.
Or should only some name resolution service be used and call gRPC via standard generated clients?

Marek

[2021-04-26 12:47] Rob623 commented on #3046
Update: since the sidecar only serves 1 app at a time, its currently seems impossible to use it in kubernetes mode on windows to serve more than 1 app

[2021-04-26 13:03] apuzyrevsky commented on #2659
@artursouza will do that

[2021-04-26 15:18] yaron2 commented on #3096
You are correct, Dapr doesn't support gRPC streaming use cases *today*. However, we are planning on re-visiting the gRPC experience and look into letting users use their existing gRPC protos.

[2021-04-26 15:45] wsams commented on #2922
Hello @artursouza , thanks for the information. After some consideration we have decided to let the infrastructure team manage Dapr on our clusters.

[2021-04-26 15:45] #2922 closed

[2021-04-26 16:09] rolfik commented on #3096
Maybe some HttpClient integration with URL rewriting handler to resolve real service URL would be enough...
Is Your plan in near or far future?

[2021-04-26 18:43] halspang commented on #3048
For things like service invocation/multi app features my working assumption is that requests would be denied/operate as if the feature was not present. For instance, with reentrancy, a reetrant call to an actor app that hasn't enabled the feature would just be treated as a standard actor call and undergo standard locking.

For certain features we could definitely have requests get denied, I think

[2021-04-26 19:38] mstrYoda commented on #3040
Any thoughts on this @artursouza?

[2021-04-26 19:56] amirmm11 opened #3098 "Binding to Hasura (GrapghQL)"
## In what area(s)?

## Describe the feature
To be able to connect to a GrapghQL server (Hasura) for querying and mutation

## Release Note

RELEASE NOTE:

[2021-04-26 21:00] yaron2 commented on #3040
Taking the first exposed container port is too non-deterministic. Many pods run multiple containers, and this makes the decision process much more difficult.

In addition, since in Kuberentes pod spec container ports are *not* necessary in order to expose the actual ports on the container, many people omit them.

I think the overall feature is useful, but here's a different spin on it:
What about

[2021-04-26 22:03] #3027 closed

[2021-04-26 22:44] mstrYoda commented on #3040
I could not understand your suggestion exactly. How does Dapr will know what port is listening by application container? If I understand it, I am volunteer to implement that feature if it is okey.

[2021-04-27 03:22] sgalcheung commented on #3045
When I followed this[ tutorial](https://docs.dapr.io/getting-started/get-started-api/#step-1-run-the-dapr-sidecar), I also encountered a similar problem

[code]

[2021-04-27 04:26] satishviswanathan opened #3101 "Named resolution using Consul not working"
I have been trying to follow the ink below to get the consul dns resolver working.

https://github.com/dapr/components-contrib/tree/master/nameresolution/consul

Can anyone share any examples to get it working?

[2021-04-27 05:27] artursouza commented on #3040
I agree with Yaron that the first container port (first port of the first container) is a strong assumption. Even when an app listens to an HTTP port, it might not use Dapr callback API.

Now regarding Dapr selecting a random port for the app seems to be crossing a line into provisioning. This feature seems to belong to an application model (like OAM) instead of a programming model.

I vote for th

[2021-04-27 05:33] artursouza commented on #3015
There is a design decision in Dapr where components are only loaded on start up and not reloaded afterwards, this will avoid the scenario where a bad config change brings down the whole cluster. Orchestrators (like Kubernetes) offer rolling policies, so operators have control over the rolling strategy of the app to avoid a major outage during restarts/updates. If Dapr loads changes automatically,

[2021-04-27 05:44] artursouza commented on #2659
@Betula-L @apuzyrevsky  The problem is that the flag was added to daprd but not CLI. I am moving this issue to CLI repo.

[2021-04-27 06:20] artursouza commented on #3101
@satishviswanathan  This is in master only for now, which means you will need to use the `daprio/daprd:edge` image for sidecar. It can be changed by setting the `SIDECAR_IMAGE` env in sidecar injector.

[2021-04-27 06:51] marviniter commented on #3082
solved this issue，close！

[2021-04-27 06:51] #3082 closed

[2021-04-27 15:21] denis111 opened #3103 "Stream requests and not buffer on invoke service method."
## In what area(s)?

/area runtime

## Describe the proposal
Dapr should stream requests (and responses) and not buffer when invoking remote service. Use cases: sending large file to another service (request), receiving large file or result set from service (response).

I know that there's MaxRequestBodySize (here's related issue https://github.com/dapr/cli/issues/699) but large request bodies sho

[2021-04-27 18:30] halspang opened #3104 "Add Global Scope for Preview Features"
## In what area(s)?

/area runtime

## Describe the feature

The current spec for preview features is limited to a per application scope. This was a conscious decision as there is currently no global preview features being targeted. This issue exists to track any features that we wish to bring to a global scope and which will most likely be enabled via a cluster-level configuration.

## Release No

[2021-04-27 18:31] halspang commented on #3048
We're purposefully not targeting a global or cluster level scope for preview features and plan to bring it in as an incremental improvement. The reason for this is simply that we don't have a global preview feature yet nor do we have one targeted.

https://github.com/dapr/dapr/issues/3104

[2021-04-27 21:47] jjcollinge commented on #3066
In self hosted mode Dapr will automatically load balance across the different instances running with the same Dapr ID. You can demonstrate this using the existing [hello world quickstart](https://github.com/dapr/quickstarts/tree/master/hello-world) by starting multiple instance of the python app with the same app id but different ports.

[2021-04-28 06:25] rizzi37 commented on #3066
@jjcollinge thanks

[2021-04-28 07:20] Tallone commented on #2885
+1 for this feature

[2021-04-28 08:29] mjtansin commented on #3071
One common object has a lifecycle, born -->alive-->dead. Since Actors are aways alive, I wonder my following logic whether or not cause some memory/db problem.
1. I got an actorId and I  try to use it, but I am not sure the actor was really created before. And I check some state of it, and give up  for not initialized state. However my checking will result in an actor with that id created, maybe t

[2021-04-28 10:27] slacksach commented on #3081
@satishviswanathan can you post your dapr container logs, these will provide additional information to help diagnose the issue.

[2021-04-28 10:35] DiyuanZhang opened #3107 "Dapr pub sub erratic subscriber"
## In what area(s)?
Dapr

Packages

## Ask your question here
I'm using dapr pubusb and the component that i'm using is Azure Event Hub.
My current workflow should be:
- A will publish an event such as 'event-a' to 'topic-A'
- B will subscribe to 'topic-A' and will send another event 'event-b' to 'topic-B'
- C will subscribe to 'topic-B'.

But I found after A published 'event-a' to 'topic-A', B wi

[2021-04-28 11:21] Rob623 commented on #2885
I wrote here a solution/workaround that enables the use of dapr in k8s mode with 1 app running locally (e.g. for debug). Maybe you`ll find it useful:
https://github.com/dapr/dapr/issues/3046

I do hope that this feature gets implemented officially.

[2021-04-28 13:43] abossard commented on #3045
I got the same problem at the moment.

[2021-04-28 13:56] abossard commented on #3045
I had to restart my Linux and then it started working.

[2021-04-28 18:35] satishviswanathan commented on #3101
@artursouza thanks for your reply. I'm using the following command to start my application.

dapr run --app-id daprBackEndService1 --app-ssl --dapr-http-port 4500 --app-port 4000 --components-path ../dapr/components --config ../dapr/configuration/tracing-config.yaml

Do you know how it needs to be modified to get it working?

[2021-04-28 18:43] yaron2 commented on #3101
The Dapr run command uses a binary from a Dapr release. This change is not yet released. If you want to try it out, you'll need to clone the Dapr repository and build the `daprd` yourself.

[2021-04-28 21:13] satishviswanathan commented on #3101
Thank you @yaron2 I used the image daprio/daprd:edge with the following dapr configuration

apiVersion: dapr.io/v1alpha1
kind: Configuration
metadata:
  name: appconfig
spec:
  nameResolution:
    component: "consul"
    configuration:
      client:
        address: "127.0.0.1:8500"
      selfRegister: true

But I'm getting this error. Not sure what i'm missing.

DaprService1-dapr_1  | time="2021-

[2021-04-28 23:43] satishviswanathan commented on #3081
on the subscriber side I was deliberately returning http 500 error to see if the retry works and got the error below.

time="2021-04-28T18:41:10.2218342-05:00" level=error msg="rabbitmq pub/sub: error handling message from topic 'Order', retriable error returned from app while processing pub/sub event 6e8f2e37-cf78-433b-b63e-a16a6f04c702: {\"type\":\"https://tools.ietf.org/html/rfc7231#section-6.6

[2021-04-29 05:21] artursouza commented on #3101
I am not expert on Consul but my first question would be: is the agent running?

Another problem this might uncover is a race condition where daprd is starting up before the consul agent - can you see if this is the case?

[2021-04-29 05:27] artursouza commented on #3071
An actor has a lifecycle internally in daprd. An actor is activated on the first call and then it is deactivated after a period of idle time. You can implement onActivate() and onDeactivate() methods on your Actor class to handle those callbacks. This way, you might be able to handle the lifecyle of your app's object.

[2021-04-29 07:05] #3107 closed

[2021-04-29 15:57] satishviswanathan commented on #3101
@artursouza Yes I do have my consul agent running. So basically i started my consul agent first and then started my dapr and that's when I see this error that I had shared.

Also I did hit the url http://127.0.0.1:8500 to make sure the agent is running and I can see it is working fine.

[2021-04-29 16:25] yaron2 commented on #3101
@pkedy is there anything @satishviswanathan is missing here?

[2021-04-29 16:25] yaron2 commented on #3101
/cc @a-elsheikh

[2021-04-29 18:08] a-elsheikh commented on #3101
@satishviswanathan can you share more details of your deployment setup. You're using the daprd image so I assume you're running this in a pod on kubernetes?

Also, how is your consul agent hosted? If you're running it locally and that's why the address (http://127.0.0.1:8500) is working for you it doesn't necessarily mean the dapr pod will route port 8500 traffic to your agent.

[2021-04-29 18:09] wcs1only commented on #3032
Please see:
dapr/cli#582

[2021-04-29 19:18] jthin commented on #3086
misreading from my part. storage account key value is wrong, must set "account key" value only :)

[2021-04-29 19:18] #3086 closed

[2021-04-29 19:22] yaron2 commented on #3101
@a-elsheikh as he pointed out [here](https://github.com/dapr/dapr/issues/3101#issuecomment-828686761), I believe he's running this locally.

[2021-04-29 19:25] pkedy commented on #3101
I’m a little stumped. I’m going to try it locally again and report back (perhaps with exact steps to running it). Need some time though.

[2021-04-29 22:32] pkedy commented on #3101
Hi, @satishviswanathan! I was able to get it working in the [Distributed Calculator Quickstart](https://github.com/dapr/quickstarts/tree/master/distributed-calculator).

**Create configuration w/ Consul**

[code]

**Start Consul via Docker**

[code]

**Run each of the applications in a new terminal** (Note that they use the `consul.yaml` configuration created above)

[code]

[code]

[code]

[code]

[2021-04-30 00:33] satishviswanathan commented on #3101
Really appreciate helping me out on this issue.

 I'm using the daprio/daprd:edge image since the namedresolution feature is available only in the  master.

DaprService1-dapr_1  | time="2021-04-30T00:10:37.3642735Z" level=info msg="starting Dapr Runtime -- version edge -- commit f7e48d1" app_id=DaprService1 instance=37fa0bee0d51 scope=dapr.runtime type=log ver=edge
DaprService1-dapr_1  | time="202

[2021-04-30 02:46] yaron2 commented on #3101
It looks to me that since you're running `daprd` in a container, it can't reach Consul on localhost. You should put both of them in the same Docker network.

[2021-04-30 10:16] W7T2A commented on #3032
Will dapr support javascript or typescript server side? Or is it just planned for using js on client side?

[2021-04-30 12:15] fjvela opened #3113 "Add nodeselector option in helm chart"
## In what area(s)?
/area runtime

## Describe the feature
Add nodeselector option in helm chart

## Release Note

RELEASE NOTE: **ADD**  nodeselector option in helm chart

[2021-04-30 16:15] pkedy commented on #3101
Might also be able to use `host.docker.internal` as the host for Consul from your configuration. In theory it would connect out to the host and into the consul container via the exposed port.

[2021-05-01 14:28] XavierGeerinck commented on #2882
I would love to cast a vote for #1339

[2021-05-01 16:39] jigargandhi commented on #2952
I installed docker on the host and used Wsl2 backend. I then did dapr init in wsl2 and have used it.

[2021-05-01 17:10] jigargandhi commented on #3054
This can be very important for security purposes and audit.
However, can we provide little more flexibility to add `*` to name which denotes allow all by default.

[2021-05-02 14:07] bencod commented on #814
@jacoblroberts Can you please specify how it can be accomplished "_by setting a state flag to process the message_". I haven't found an API which enables update the subscribed topics during app runtime.

[2021-05-02 17:14] satishviswanathan commented on #3101
Thank you all, really appreciate all the help even though it it is not purely a dapr related question.

docker-compose.yml

version: '3.4'

services:

  daprService1:
    image: ${DOCKER_REGISTRY-}daprservice1
    build:
      context: .
      dockerfile: DaprService1/Dockerfile
    ports:
      - "53000:50001"
  DaprService1-dapr:
    image: "daprio/daprd:edge"
    command: [ "./daprd",
        "

[2021-05-02 21:05] jacoblroberts commented on #814
@bencod  After reviewing the edits to build a bigger picture, this is no longer relevant and is removed.

[2021-05-03 06:43] bencod commented on #814
@jacoblroberts thanks for the quick reply.
So you see dynamic subscription as part of the pubsub roadmap?

[2021-05-03 11:55] jacoblroberts commented on #814
This is a huge rabbit hole...  The use cases for doing this is hard to grasp.  I can only imagine 2 scenarios 1) to spy on random message busses. 2) to change context like switching from prod environment to dev environment.

#1 seems like a huge security concern so to spy should be a business idea integrated.
#2 seems like a client perspective where the client is responsible for switching, not the

[2021-05-03 12:44] frvasquezjaquez opened #3119 "Prometheus is not colleting the Dapr Metrics"
## In what area(s)?

 /area runtime

## Ask your question here
I just deployed Dapr with the prometheus stack, but prometheus is not getting the Dapr apps metrics. i think that the darp service monitor is missing. should i create it? those steps are not described in the Dapr doc.

[2021-05-03 14:58] zivfuture opened #3120 "Dapr Serialization Error"
## In what area(s)?

## What version of Dapr?

## Expected Behavior
publish event, and recive event

## Actual Behavior
publish event success, but receive event failed

## Steps to Reproduce the Problem
1. there is  one api project named  "product" (appid),  code as below:
[code]
2. another api project named "order"
[code]
3. pubsub component yaml:
[code]
4. publish success:
![image](https://user-

[2021-05-03 16:00] yaron2 commented on #3119
@wcs1only can you assist here kindly?

[2021-05-03 16:41] yaron2 commented on #3120
Looks like the app returned this error to Dapr, in this case it looks like it's the Dotnet SDK prior to hitting your event handler.

I'll be moving this to the dotnet SDK repo for now.

[2021-05-03 17:00] HitNoBug commented on #2952
Thank you! I will try it out - in the meantime I am going ahead and closing the issue.

[2021-05-03 17:00] #2952 closed

[2021-05-04 05:40] artursouza commented on #814
If we implement an gRPC stream API for pubsub subscribe, we could offer this functionality since apps would not need to setup an endpoint for subscription anymore.

[2021-05-04 05:45] artursouza commented on #3101
What are the expectations for this issue now? It does not seem related to Dapr.

[2021-05-04 06:24] artursouza commented on #3084
@pattisapu01 Dapr provides the common interface among components by design. Adding specific feature for each component would pollute Dapr's interface. Is there some other way to achieve this? Can a metadata be added to the subscriber to send a reset offset?

I am curious to understand how the offset reset happens in your scenario. Is this something that happens automatically from the app or does t

[2021-05-04 10:47] israelevi-code commented on #814
@jacoblroberts
router service breaks the "Smart endpoints and dumb pipes" principle see :
https://martinfowler.com/articles/microservices.html
and I can add that from my personal experience the router become a performance bottleneck and a single point of failure

[2021-05-04 12:45] jacoblroberts commented on #814
@israelevi-code is 'dumb pipes' the router service? quote from that link - "The infrastructure chosen is typically dumb (dumb as in acts as a message router only) ".   This would indicate you subscribe a service to all and then publish that data into one subscription and process as needed. Also, reading further they mention, "act more as filters in the classical Unix sense - receiving a request, a

[2021-05-04 14:48] matt-lethargic opened #3123 "[Proposal] Search Building Block"
## In what area(s)?

 /area runtime

## Describe the proposal

### Overview
Most modern application these days have some kind of search functionality to enable users to locate content, products or items quickly without placing a burden on the database, I believe this is a key building block that is missing from Dapr and with every cloud provider offering a search solution this would be welcomed by

[2021-05-04 16:18] halspang commented on #3032
@W7T2A What do you mean by server-side?

[2021-05-04 16:19] fjvela opened #3124 "Could be interesting add a values.prod.yaml in helm chart?"
## In what area(s)?
/area runtime

## Ask your question here
I prepared a values.prod.yaml (request, limits for all components and ha enabled) in order to deploy dapr in prod mode. Do you think it could be interesting add it in helm chart?  (you can't use it directly but you can uncompress helm chat and have a file ready) or may be it only in documentation?

Best regards,

[2021-05-04 17:04] #3113 closed

[2021-05-04 19:48] wcs1only commented on #3030
I have root caused this:

Windows AKS nodes are breaking TCP connections every time a new public service IP is added to a cluster. When this happens, the redis pubsub component will hang on an XReadGroup. See also: dapr/components-contrib#852

The connection reset problem still exists, but we should be resilient to it with the given change.

[2021-05-04 22:12] wcs1only commented on #3028
This is very very likely to be the same as dapr/components-contrib#852

[2021-05-05 03:34] araxis opened #3126 "add Send command support"
hello!
is it possible add command dispatching on pubsub componet?

[2021-05-05 05:19] W7T2A commented on #3032
As I understand currently you are only able to use .net, java and go for creating server extensions (?)
Is there also a plan to support JS/Node for this ?

[2021-05-05 06:36] artursouza commented on #3126
We do support publish. Is it what you mean by "dispatch"?

[2021-05-05 06:42] artursouza commented on #2882
Please, vote by going into the issue directly and reacting with 👍🏻

[2021-05-05 08:28] araxis commented on #3126
an event when published ,multiple subscriber can handle it, but a command must handle with exactly one handler.
you are right, maybe , 'send'  is better word.

[2021-05-05 09:31] ptrubini opened #3128 "Crash in daprd sidecar when multiple invocation requests are made without the server running"
## In what area(s)?

/area runtime

## What version of Dapr?

1.1.x, edge

## Expected Behavior

When the remote dapr instance is down, sending multiple simultaneous grpc invocation requests should complete all the requests with an error (after 3 retries).

## Actual Behavior

In Kubernetes mode, when the remote dapr instance is down, two concurrent grpc invocation requests from a client app crash

[2021-05-05 09:36] LukeRH commented on #3096
Hi,
We want to adopt Dapr but the lack of gRPC streams support is a blocker for us. Do you have an idea when the near future will be ?
Thanks

[2021-05-05 14:19] Amenocy commented on #3032
you listed all SDKs except js-node :)

[2021-05-05 18:36] artursouza commented on #814
@jacoblroberts I don't fully understand the scenario you are describing. Can you elaborate with an example?

[2021-05-05 18:52] #3048 closed

[2021-05-05 19:48] RChrisCoble commented on #2484
I'm interested in doing this as well.  Client is Blazor talking to a dapr backend over gRPC-Web.  Any updates?

[2021-05-05 19:49] RChrisCoble commented on #927
I'd like to do this as well, is there any update?

[2021-05-05 20:15] pattisapu01 commented on #3084
Targeting a "Least Common Denominator" may make the dapr-kafka client "Least commonly used". I am not saying we need to incorporate every interface available on the Kafka API.
Our need is to "re-process" messages from a specific offset (primarily for event sourcing setup). We have an option to use the java client library or the use kafka-dapr bindings. Since we are already injecting "dapr" side ca

[2021-05-05 21:49] jacoblroberts commented on #814
Since it takes time to switch from one topic to another, not to mention if you aren't listening to a topic it won't store old messages for you, how do you justify missing messages?  How do you justify the time it takes to switch since you get no messages during that time?  What tells you that you need to switch topics and to which one do you switch to?  How do you handle the different message type

[2021-05-05 23:46] sdeoras commented on #1621
i ran into this error today with version 1.1.2 on arm64 based cluster. i installed via helm as follows.
[code]
sidecar injector pod had errors in the logs but not in the status and the pod requiring sidecar gets created without any warnings or errors as well but it had no sidecar.

i tried `kubectl -n=dapr-system rollout restart deployment dapr-sidecar-injector` as @PeterGerrard suggested but I co

[2021-05-06 03:29] yaron2 commented on #3054
@jigargandhi thanks, but I was planning on taking this myself :)

I think the default behavior is to allow all by default, and when setting which APIs are allowed, all the rest are automatically denied.

[2021-05-06 08:34] jjcollinge opened #3131 "TLS Server Name"
I'm not sure if this is tracked elsewhere but couldn't find anything so I thought I'd open an issue.

A [change to the Kubernetes name resolution component](https://github.com/dapr/components-contrib/commit/62dbc782cb1746268f8381eb486623da855decd2#diff-8b5bda38f86249406585127000a16a021af0b51e1f8ad46c0979446bfb7208ea) was recently made to support config to set the cluster domain in Kubernetes name

[2021-05-06 09:33] abogdanov37 opened #3132 "Application with actors cant register in placement"
Hi folks! I've got a Java application with 2 actor types. Most part of the time all is OK. I run an application with a sidecar in the Kubernetes cluster. And can call actor methods. In sidecar logs, I see
[code]
But time by time after restarting the pod (for example to upgrade the application version) I can't run actor methods with the message
[code]
The application container works fine at that mo

[2021-05-06 11:13] krishnabhargav opened #3134 "Dapr sidecar keeps restarting with middleware.http.bearer"
## In what area(s)?

Component for Bearer Middleware
[code]
Pipeline configuration
[code]
The configuration has been applied through the config annotation.

/area runtime

## What version of Dapr?

## Expected Behavior
The requests made through the sidecar gets validated for the JWT included in the request or requests are denied other.

## Actual Behavior
Dapr sidecar doesn't start .. it keeps "sh

[2021-05-06 12:18] frvasquezjaquez commented on #3119
@wcs1only any doc that you can share?

[2021-05-06 15:24] benjaminhuo opened #3137 "Can Dapr Application consume pub/sub message in non cloud event format?"
/area runtime

I noticed in https://docs.dapr.io/developing-applications/building-blocks/pubsub/pubsub-overview/ that
`Dapr uses the CloudEvents 1.0 specification as its message format. Any message sent by an application to a topic using Dapr is automatically “wrapped” in a Cloud Events envelope, using Content-Type header value for datacontenttype attribute.`

Just wondering if a Dapr application

[2021-05-06 16:11] mukundansundar commented on #3018
closed as duplicate.

[2021-05-06 16:11] #3018 closed

[2021-05-06 16:52] artursouza commented on #3084
When apps use specific features of a component, it naturally loses the portability advantages of using Dapr - which might be required in some cases.

The way to perform dynamic changes to the subscriber (reset offset could be one of them) would be via the HTTP response that the subscriber app returns to Dapr. That response would include some metadata that each pubsub component can interpret. There

[2021-05-07 14:13] jigargandhi commented on #2897
@artursouza  you mentioned discovery problem, however can't we broadcast messages from one daprd and listen from other daprd. This has been implemented for example in Orleans https://dotnet.github.io/orleans/docs/deployment/kubernetes.html

[2021-05-07 16:59] artursouza commented on #2897
@jigargandhi Yes, it is a possible implementation of this and might remove the need for Placement service. Like I said previously here, the current solution was a middle ground approach to bring redundancy without a completely changing the original approach of relying on Placement service.

[2021-05-07 17:48] artursouza commented on #3126
@araxis So, the scenario is to publish a message but having only one subscriber to consume it?

[2021-05-07 19:10] #3054 closed

[2021-05-08 02:58] araxis commented on #3126
if ServiceA & ServiceB, subscribe MessageA, and then send MessageA, only one of them must handle the message.

[2021-05-08 03:10] araxis commented on #3126
just one question, when a command sent, how we know that  handler, handle command successfully?

[2021-05-08 03:57] 1046102779 opened #3142 "issue: use normalizeOperation necessity"
I think normalize of  method or operation should be guaranteed by the upstream client.  i suggest to remove normalizeOperation method.

1. remove normalizeOperation method;
2. lazy use normalizeOperation  to execute before the getOperationPrefixAndPostfix method in IsOperationAllowedByAccessControlPolicy， so that if we use default access contol list (default action: access , trust domain: public)

[2021-05-08 03:58] 1046102779 commented on #3142
#2768

[2021-05-08 10:53] jjcollinge commented on #3131
Looks like the SNI RFC says you can only use domain names in the SNI field which rules out the SPIFFE id - but I will explore this more to see if we can make this less coupled to K8s DNS.

[2021-05-08 12:51] 1046102779 commented on #1229
1. dapr v1.0.1
2. daprd that no limit resource cpu and memory. aitokens  1cpu and 1Gi
2. mtls enabled
3. metric enabled
4. tracing ratesample 1e-4

![image](https://user-images.githubusercontent.com/20457624/117539680-4c548300-b03e-11eb-9741-7298a7afd641.png)

When daprd resource limited cpu 1cpu and 1Gi, the usage cpu of daprd is twice the aitokens server.

![image](https://user-images.githubuser

[2021-05-08 13:01] jigargandhi commented on #2892
@rynowak @artursouza can metadata be used to specify content type of the payload, or does it have to be an additional field?

[2021-05-08 13:41] yaron2 commented on #3032
Today, you can only use Go to write Dapr components, which is what I think you mean by server extensions.

[2021-05-10 11:29] voltcode opened #3146 "Dapr + Hashicorp Nomad?"
Hashicorp Nomad is gaining traction as low-ops just-works alternative to Kubernetes.

Does Dapr support Nomad out-of-the-box or can be easily adapted to run on Nomad?

If no, then what would it take for Dapr to support Nomad? Would you consider adding Nomad support?
Being distributed platform-agnostic (ie. not Kubernetes-only), would certainly convince more people to give Dapr a chance, as being w

[2021-05-10 14:54] tomkerkhove opened #3147 "Helm - Spread instances across zones in Kubernetes cluster for high availability"
## In what area(s)?

/area runtime
/area operator
/area placement

## Describe the feature
Spread instances across zones in the Kubernetes cluster to not all be scheduled on the same failure zone.

This can be done by using [pod anti-affinity](https://www.danielstechblog.io/increase-your-application-availability-with-pod-anti-affinity-settings-in-azure-kubernetes-service/) or [pod topology spread

[2021-05-10 14:54] tomkerkhove commented on #3147
Happy to help where I can.

[2021-05-10 14:57] tomkerkhove opened #3148 "Helm - Use Pod Disruption Budget to ensure Dapr remains up"
## In what area(s)?

/area runtime
/area operator
/area placement

## Describe the feature
Use Pod Disruption Budget to survive voluntary removal such as node update, rollout of new version, etc which defines how many % of instances can be removed at the same time.

This could potentially only be enabled when running in HA is enabled.

## Release Note

RELEASE NOTE: **ADD** Use Pod Disruption Budg

[2021-05-10 16:13] javageek79 opened #3149 "Timer not garbage collected after actor deactivating"
## In what area(s)?

/area runtime

## What version of Dapr?

1.1.x

## Expected Behavior

After a timer registration with a following period of inactivity,
timer should be garbage collected upon actor deactivation according to the configured idle time.
A timer callback should not be executed if, as shown in screenshot, after ~3 days of inactivity

## Actual Behavior

![dapr_timer_error](https://u

[2021-05-11 08:40] benjaminhuo commented on #2678
9091 works for me , 19090 still the same error

[2021-05-11 08:41] tomkerkhove opened #3151 "Enabling HA for existing Dapr installations on Kubernetes"
## In what area(s)?

/area placement
/area docs

## Ask your question here

It would be good to have guidance on how to enabling HA for existing Dapr installations on Kubernetes.

Unfortunately, this is not a walk in the park since Kubernetes does not allow you to update volume claims for existing StatefulSets and thus you will get this error:

_While this error comes from Helm, it is actually due

[2021-05-11 10:01] benjaminhuo commented on #3137
This requirement is solved by using input bindings

[2021-05-12 00:26] CodeMonkeyLeet commented on #2844
/assign

[2021-05-12 00:31] artursouza commented on #2173
Closing this issue since answer was provided and no activity for a few months.

[2021-05-12 00:31] #2173 closed

[2021-05-12 02:48] #3142 closed

[2021-05-12 02:51] artursouza commented on #3126
The publisher does not know if the subscriber consumed the message - this is something that needs to be built-in the application logic. If you want to have two consumers sharing the pubsub topic, it should be possible depending on the component you are using. For example, you can use a shared topic in MQTT today. Are you using Kafka, MQTT, Redis?

[2021-05-12 03:03] artursouza commented on #3067
This should probably be a new sample, showing how to use Dapr with Knative. @yaron2 ?

[2021-05-12 03:08] artursouza commented on #3069
Creating a How To in dapr/docs repo for deploying to OpenShift would be a good outcome of this issue.

[2021-05-12 03:11] artursouza commented on #3046
@Rob623 We are investigating the scenario to support multiple apps with a single sidecar. It will not happen soon but might become a priority.

[2021-05-12 03:26] araxis commented on #3126
We use nats stream as message broker,and yes it supports this,but how connect this to dapr?

[2021-05-12 05:45] artursouza commented on #1339
This feature would require some sort of mapping between the OData syntax and the underneath querying language for the database. Depending on the query, it might not be feasible to achieve full portability.

Another way to support this would be to have some basic querying done on the server side and full odata in memory for daprd. So, applications can use what makes more sense for their app.

More

[2021-05-12 06:22] #3078 closed

[2021-05-12 08:44] imjoey opened #3154 "[Feature Request] New building block: universal ecommercial online payment"
## In what area(s)?

/area runtime

## Describe the feature

Nowadays on e-commerce, there are various third-party online payments  ( also called `payment provider`), such as Alipay, Wxpay, Unionpay in China and PayPal, Google Pay in the U.S. As a developer who works for an e-commerce company,  probably you are now maintaining your own aggregated payment middleware to add multiple payment provider

[2021-05-12 08:59] lichen782 commented on #1339
true. This is trade-off. even SQLs have their dialects, which we back in 3 classic tier projects, were handled by ORM (jpa, mybatis, hibernate). So  I think essentially, dapr lacks an ORM, abstracting plain SQL to query objects.

[2021-05-12 12:14] Rob623 commented on #3046
Great! Thanks for the update. Do you have an issue# that I can track?

[2021-05-12 12:31] marviniter opened #3157 "when component yaml format error but there no error log"
## In what area(s)?

## What version of Dapr?
1.1.2

## Expected Behavior
output the detail error when format component yaml error

## Actual Behavior
the are not detail error log when the component yaml format error and the component not work

## Steps to Reproduce the Problem
dapr run with --components-path=./components and the component yaml format is error

## Release Note

RELEASE NOTE:

[2021-05-12 15:58] marviniter opened #3159 "gracefully stop runtime when exited with log.Fatalf"
## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior
func processComponents() will execute log.Fatalf when a.processComponentAndDependents(comp) return error,should gracefull stop runtime and clean resource

## Actual Behavior
daprd exited with status code 1 and not clean resource
[code]

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2021-05-12 16:36] yaron2 commented on #3148
A PR for this would be great and most welcomed.

[2021-05-12 16:37] yaron2 commented on #3058
Closed by https://github.com/dapr/dapr/pull/3153

[2021-05-12 16:37] #3058 closed

[2021-05-12 16:38] tomkerkhove commented on #3148
I'll work on this!

[2021-05-12 22:29] berndverst commented on #3149
Hello @javageek79,

From your logs I don't see `AutomationTimerActor` being activated or scheduling timers after inactivity. This appears to be a different actor called `TimerActor`.

I am assuming that these are different actors based on the different log levels and different log messages for actor activation.

I've been investigating whether it is possible for an actor to trigger a timer after d

[2021-05-13 01:50] CodeMonkeyLeet commented on #2840
Hi @goodforever, are you following the instructions from [developing-dapr.md]( https://github.com/dapr/dapr/blob/master/docs/development/developing-dapr.md)? If so, the section on [Developing on a Kubernetes environment](https://github.com/dapr/dapr/blob/master/docs/development/developing-dapr.md#developing-on-kubernetes-environment) describes how to build and publish the dapr Docker images that c

[2021-05-13 02:02] CodeMonkeyLeet commented on #2844
Hi @goodforever, can you elaborate a little more on the scenario you're trying to exercise? What kind of environment are you looking to run Dapr without containerization?

[2021-05-13 03:19] Taction commented on #3081
When using rabbitmq pubsub component, if `requeueInFailure ` metadata option is set to true and `autoAck ` set to false(just the same as your config),  the message will be handled twice at most. In your case, the mesaage will be handled twice and then dropped. I don't know if this corresponds to your problem.

[2021-05-13 06:55] sd797994 opened #3162 "why bindings.postgres can't read uuid column in postgres 13.2?"
I'm testing using Component bindings.postgres to read postgres‘s data, postgres version is 13.2.
I create a test table like this:
![image](https://user-images.githubusercontent.com/26075482/118088392-97cdaf00-b3f9-11eb-8f57-03c676a28308.png)
when I follow the guide to use httpclient visit binding component ,the response like this:
![image](https://user-images.githubusercontent.com/26075482/1180895

[2021-05-13 09:19] marviniter opened #3163 "Injector customize cluster domain of k8s when access some system service"
## In what area(s)?
/area runtime

## Describe the feature
Injector get clusterDomain configuration by enviroment,the defualt value is "cluster.local"

## Release Note

RELEASE NOTE:

[2021-05-13 09:24] tomkerkhove commented on #3147
@yaron2 ok if I send a PR as well?

Only thing I'm not sure about is what approach to use. I'd go for topology spread but that is 19+ but can add both with a config flag.

[2021-05-13 09:34] haowaiwai opened #3165 "Failed to start the service for the first time"
When dapr run, the mqtt service is not available
`
FATA[0000] process component messages error: network Error : dial tcp 127.0.0.1:1883: connect: connection refused  app_id=chat instance=shentu-TianYi510S-07ICB scope=dapr.runtime type=log ver=1.1.2
`
After a while, the mqtt service starts, or an error is reported:
`
== APP == pubMessage PublishEvent error: error publishing event unto test topic: r

[2021-05-13 09:48] sgalcheung commented on #3045
I am using Linux in the VM. After restarting, it works normally

[2021-05-13 16:03] halspang commented on #21
This is a duplicate of: https://github.com/dapr/dapr/issues/2901

[2021-05-13 16:03] #21 closed

[2021-05-13 19:11] bjorkstromm opened #3167 "Actor Placement service isolation"
Currently, dapr-placement-server exists as a single service within a kubernetes cluster. This makes it hard to isolate Actors between solutions within the same kubernetes cluster.

Consider that in my solution, I have a Actors called `MyActor`. Now, what if I want to run both DEV and TEST within the same kubernetes cluster to save cost? That isn't possible. Now I need to somehow prefix my Actors w

[2021-05-13 19:11] artursouza opened #3168 "Offer multiple flavors of Dapr sidecar"
Today, dapr sidecar is a monolith aggregating all component implementations: Kafka, Redis, Azure CosmosDB, Azure Service Bus, AWS DynamoDB, etc. As more components get implemented, we should consider offering different "flavors" of the sidecar to keep it small.

* Complete: includes everything, like it is today.
* Azure: only Azure components.
* Alibaba: only Alibaba components.
* AWS: only AWS co

[2021-05-13 19:15] wcs1only commented on #3168
I suspect the potential permutations are quite huge. What would really be powerful to our users is to be able to provide a way to do this arbitrarily.

But agreed, this is absolutely something we need.

[2021-05-13 19:16] artursouza commented on #3168
@wcs1only I agree that ideally it should be pick and choose. This is a step until we can offer a a-la-carte daprd.

[2021-05-13 19:19] mukundansundar commented on #3168
As @artursouza and @wcs1only mentioned, ideally need to have an a-la-carte option some form of plugin based model. But in the meantime this might be good. Additionally certain components should be available across all implementations eg: name resolution, middleware ? etc.

[2021-05-13 19:20] berndverst commented on #3168
For now we could provide a base image (perhaps the OSS components). Then every platform specific provider image can be a layer on top of the base image and published via platform specific tags.

[2021-05-13 19:27] AaronCrawfis commented on #3168
Agree, while a-la-cart is the eventual goal I think we should have these versions:

| **daprd Version** | OSS comp. | Azure comp. | AWS comp. | GCP comp. | Alibaba comp. |
|----------------|--------------|---------------|--------------|-------------|-----------------|
| Base edition | ✔ | ❌ | ❌ | ❌ | ❌ |
| Azure edition | ✔ | ✔ | ❌ | ❌ | ❌ |
| AWS edition | ✔ | ❌ | ✔ | ❌ | ❌ |
| GCP edition | ✔ |

[2021-05-13 19:29] artursouza commented on #3168
Making sure we all get our French right, it is called "à la carte" :)

[2021-05-13 19:31] msfussell commented on #3168
This should be addressed with pluggable components of your choice, that is all that is needed.

[2021-05-13 19:31] wcs1only commented on #3168
It would be really nice if we could have our build system take in a an component list, then maintain a matrix of the flavors as say individual github actions. That would also make it nice and easy for downstream customers to fork our build with their own arbitrary list.

[2021-05-13 19:32] AaronCrawfis commented on #3168
See https://github.com/dapr/dapr/issues/3168#issuecomment-840775573

[2021-05-13 19:33] artursouza commented on #3168
Pluggable components solves a different problem (but there is an intersection with this). Pluggable components will allow dapr sidecar for implementations that are not in the Dapr repo - maybe even private source. This issue does not exclude the need for pluggable components.

[2021-05-13 20:59] CodeMonkeyLeet commented on #3168
I think the suggested breakdown along cloud provider editions plus OSS per [Aaron's matrix](https://github.com/dapr/dapr/issues/3168#issuecomment-840781269) makes a lot of sense to me; I would expect most distributed apps to be developed against a single cloud provided plus some cloud-agnostic components.

From the future extensibility perspective though, the OSS component edition seems like it's

[2021-05-13 21:21] AaronCrawfis commented on #3168
Was thinking about this a little more and have some notes:

- We should only go down the path of cloud-specific versions of daprd if we intend to have this feature after à la carte is released. If à la carte makes this feature unnecessary, we should remove it.
- In a perfect à la carte solution, users don't have to preemptively decide what components to load into daprd. Instead, the presence of a

[2021-05-13 22:06] CodeMonkeyLeet commented on #2483
Hi @issacg I'm looking into this question now and would be interested in understanding your scenario. My experience is that the existing devcontainer aims for a "transparent" dev experience rather than providing an isolated test environment and I can see reasons for both. To clarify:

* Is isolation of the container cache for local `dapr init` deployments your primary concern? Or are there other i

[2021-05-13 22:35] #2308 closed

[2021-05-13 22:59] mukundansundar commented on #3163
@marviniter How does this affect DNS resolution for service to service invocation?
cc @artursouza

[2021-05-14 00:04] marviniter commented on #3163
Hi @mukundansundar i think i have miss some importment message in the description
* kubelet clusterDomain config Pod /etc/resolv.conf search domain such as svc.cluster.local for use service_name.namespace DNS record to service invocation
* kube-dns or CoreDns add DNS record for DNS resolution. the cluster.local is the default domain configuaration but can also self define,eg CoreDns configuartion:

[2021-05-14 04:50] msfussell opened #3169 "Are you using Dapr?"
# Are you using Dapr?
If you are using Dapr, first we would like to Thank You. Our goal is to grow the community, improve Dapr and help each other.

## The purpose of this issue
We are always interested in finding out who is using Dapr, what attracted you to using it, how we can listen to your needs and if you are interested, help promote your organization.

- We have people reaching out to us ask

[2021-05-14 05:40] ShaileshSurya commented on #2716
@yaron2  @artursouza  Is this still open. If it is can you help me with what all areas should I look into?

[2021-05-14 05:46] artursouza commented on #3163
The PR itself does not impact DNS resolution but the motivation for this issue (custom domain cluster) might. The fix should also take place in the middleware code in dapr/dapr.

[2021-05-14 05:48] artursouza commented on #2716
@ShaileshSurya  Look at the interfaces for the building blocks in dapr/components-contrib repo.

[2021-05-14 05:57] artursouza commented on #2892
@jigargandhi I like the use of metadata in runtime API. Although the SDKs might decide to handle it as a first class attribute.

[2021-05-14 06:56] tdcare commented on #3128
I have the same bug.

[2021-05-14 10:31] XavierGeerinck commented on #3169
Organization/Company: Roadwork
Website: https://roadwork.io/
Country: BE
Contact: xavier@roadwork.io
Usage scenario:
* Using Dapr for https://scraper.ai, utilizing its Bindings for automatically scaling the cluster based on a RabbitMQ Queue (HTTP)
* Using Dapr its Actor framework for high-scale and high-volume Sensor abstractions (protobuf)
Status: Production
Contributions: https://github.com/Road

[2021-05-14 10:35] XavierGeerinck commented on #3169
**Organization/Company:** Roadwork
**Website:** https://roadwork.io/
**Country:** BE
**Contact:** xavier@roadwork.io
**Usage scenario:** Using Dapr its Actor framework for high-scale and high-volume Sensor abstractions (protobuf)
**Status:** Production

[2021-05-14 11:04] JCFawkes commented on #3063
I have the same problem with Dapr 1.1.2. Some pods get in CrashLoopBackOff/Error states. I delete the pods, sometimes they restart healthy, but usually they don't.
Also, it started happening when I upgraded to 1.20.

You have an estimated release date for the issue fix you've mentioned?

Thanks!

[2021-05-14 14:29] ipfans commented on #3169
Organization/Company: EKEYNOW Pte. Ltd.
Website: https://www.ekeynow.com/
Country: Singapore / China
Contact: kevin@ekeynow.com
Usage scenario: Moving to Dapr to build large scale SaaS applications.
Status: In Development

[2021-05-14 15:30] xewn commented on #3169
Organization/Company: StaringWorld
Website: http://www.staringworld.com/
Country: Chengdu / China
Contact: huan.zhang@staringworld.com
Usage scenario: Abp vNext SaaS application based on Dapr.
Status: In Development

[2021-05-14 15:52] jjcollinge commented on #3131
Got a little time to investigate the SPIFFE angle more today - looks like the SAN entry for SPIFFE is just a URI and not a DNS so it won't work as a valid server name and it looks like this isn't a valid use case for the SVID so I'll park that and look at alternative ways to support cross platform certificate host names.
[code]

[2021-05-14 18:33] yaron2 commented on #3168
This is, for the very foreseeable future, a true statement. The à la carte solution should not be expected in the next year or so, and If I'm not being cautious I'd even say 2 years or more. There's almost zero progress on this front in the Go community.

Since we cannot guarantee the  à la carte solution, the correct thing to do would be to go down with cloud specific `daprd` images.

In addition

[2021-05-14 18:36] artursouza opened #3172 "GetState API does not return metadata in HTTP"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

HTTP must return metadata too, it would need to be handled with the "metadata." prefix in the header, similar to how it handles incoming metadata: https://github.com/dapr/dapr/blob/39b076c273126791a72bc952f4a3805841b987fe/pkg/http/api.go#L1356

GRPC endpoint handles that correctly: https://github.com/dapr/dapr/blob/39b076c2731267

[2021-05-14 19:15] yaron2 opened #3173 "Rename master branch to main"
In accordance with GitHub policies and the new naming defaults, we should rename `master` branch to `main`.

Ideally this is done across all Dapr repositories.

[2021-05-14 19:22] artursouza commented on #3168
I see two advantages: smaller and predictable sidecar size and predictable dependencies where random libraries are not included in the build. Remember that Go's init function can cause some damage like we saw in the Aerospike lib.

[2021-05-14 19:39] yaron2 commented on #3168
Ok, lets start with smaller and predictable sidecar size.

In terms of predictable, both full edition and a vendor edition are predictable. you always know which components exist in every release of both, and the binary and Docker images sizes are publishes.

As for smaller - is this really an issue though? For example, I tested the two extreme versions.

The base (OSS) edition is 68.1Mb in size.

[2021-05-15 00:34] halspang commented on #2901
Note for a decision that was made during the PR process. We've decided to no longer support the `methods` field in the reentrancy config. Upon consideration it seemed better as an incremental improvement as we can determine what level of control users may want.

Actor config is now:

[code]

[2021-05-15 03:26] yaron2 commented on #3128
Thanks for this extremely detailed report!

It looks like the panic is coming from the gRPC Go package.. we might need to open the issue there. I will dig more into this.

/cc @artursouza

[2021-05-15 03:29] yaron2 commented on #3128
Can you please try to disable Dapr metrics and see if this reproduces?

See here: https://docs.dapr.io/operations/monitoring/metrics/metrics-overview

[2021-05-15 06:15] tdcare commented on #3128
I have disable Dapr metrics in two production environment.I will report whether it reproduces in the next few days.

[2021-05-15 18:40] georgestevens99 commented on #3169
**Organization/Company**: Solid Value Software
**Website**: https://dotnetsilverlightprism.wordpress.com/2021/05/03/discover-dapr-the-dapr-mesh-and-a-net-code-sample/
**Country:** United States
**Contact**: gstevens@solidvaluesw.com
**Usage scenario**: Using Dapr for client contract software development projects to speed delivery and enable easier-to-build-and-maintain distributed software systems

[2021-05-16 03:24] sdeoras opened #3175 "operator and sidecar boot sequencing error is being ignored causing messaging pipeline to break on k8s node reboot"
## In what area(s)?

/area runtime

## What version of Dapr?

1.1.2

## Expected Behavior

if the `DAPR` operator pod is down or not fully booted, the sidecar logs a `connection refused` error, but does not exit with error. This causes k8s to not being aware of the error since all pods conditions are `Ready`. Eventually, in my specific case, I discovered the error when MQTT message pipeline did no

[2021-05-16 09:48] tdcare commented on #3128
time="2021-05-16T09:44:33.452844471Z" level=info msg="placement tables updated, version: 0" app_id=gateway-service instance=gateway-service-v1-5c94745d65-f769j scope=dapr.runtime.actor.internal.placement type=log ver=1.1.2

panic: runtime error: invalid memory address or nil pointer dereference

[signal SIGSEGV: segmentation violation code=0x1 addr=0x18 pc=0x7b92ed]

goroutine 2018 [running]:

goo

[2021-05-17 06:13] tdcare commented on #3169
Organization/Company: Tdcare
Website: http://www.tdcare.cn/
Country: ChangSha / China
Contact: tzw@tdcare.cn
Usage scenario: Hospital information system  based on Dapr. Have five production.
Status: Production

[2021-05-17 06:32] marc-mueller opened #3176 "Allow PubSub to opt-out from competing consumer pattern to send events to every instance"
## In what area(s)?

## Describe the feature

The existing functionality with concurrent consumer pattern that one instance of a group receives the event is great for 95% of our use cases. We have additional requirements where we need to publish an event to all instances which means also all instances of a subscriber group. This is mainly for publish configuration changes where each instance needs

[2021-05-17 12:57] AaronCrawfis commented on #3168
From a security perspective this would be another scenario that customers would want. It limits the blast radius of any potential future breach.

For example, let's say there's a vulnerability in cloud provider X's pubsub component. A user of cloud provider Y wouldn't want that vulnerable code in their daprd image. Even if it may not be code that's run (since the component is never used), this als

[2021-05-17 15:16] msfussell commented on #3063
A  fix will be in the v1.2 release where there will be a RC this this week. See https://github.com/dapr/dapr/issues/3032 for release date.

[2021-05-17 15:37] ptrubini commented on #3128
I tested again disabling the metric with:
[code]
and it crashes with a similar callstack. I don't think the middleware encapsulating the request for the span can be disabled (or I don't know how):
[code]

[2021-05-17 15:53] ptrubini commented on #3128
@yaron2 : Thanks to you for your digging. I would ask (just for confirmation or in case you will need more complex configuration changes at the cluster level), if you can take my deployed container and see whether it is causing the issue also to your scenario or not (I have limited access to our cluster in R&D). I can also provide the complete source code, but basically is what I put into the issu

[2021-05-17 16:25] jjcollinge opened #3177 "Default config is invalid when mTLS disabled"
The default config that is loaded if the global config isn't provided is defined [here](https://github.com/dapr/dapr/blob/e60ffabf668cd8204e661544d1cefc13c3958f51/pkg/config/configuration.go#L205):
[code]
This config adds an access control spec - however, if mTLS is disabled this config will cause an issue [as the receiver will try to extract the SPIFFE ID](https://github.com/dapr/dapr/blob/e60ffa

[2021-05-17 16:40] jjcollinge commented on #3177
Turns out my code was out of data. Looks like `applyAccessControlPolicies` returns true now with the default configurations which allows the call to work as expected. However, we do see the error related to SPIFFE as a debug message - should we even attempt to read the certificate identity if mTLS is disabled?

[2021-05-17 16:47] #3177 closed

[2021-05-17 17:36] bjorkstromm opened #3178 "Guidance around securing pubsub subscription endpoint"
Is there some guidance around securing pubsub subscription endpoint?

Context:
We are building a SignalR service exposed externally using a LoadBalancer in k8s. On the same service, we have a couple of pubsub subscription endpoints in order to push events out from the application using SignalR. The problem with this approach is that in addition to exposing the SignalR service externally, we are al

[2021-05-17 18:04] JCFawkes commented on #3063
We'll go with the RC then, thanks!

[2021-05-17 20:37] wcs1only commented on #3030
The above commit fixes the pubsub tests somewhat. We've now gone from "the tests always fail" to "the tests sometimes pass". We're still seeing intermittent connection resets which are still causing non-deterministic failures across this and other tests. I have engaged the appropriate team, and am working with them on a resolution. Leaving this issue open for now.

[2021-05-17 20:47] wcs1only commented on #3028
So, there were ultimately two root causes we're seeing for these failures. One of them was dapr/components-contrib#852 and is confirmed fixed. The other is that due to a networking issue on our windows test clusters, sidecars are occasionally not being injected. This has to do with the kubernetes sidecar callback failing without retry. I have engaged the appropriate team and am working with them o

[2021-05-17 20:51] wcs1only commented on #3029
No failures for this particular test on linux in >45 runs. It is exceptionally rare, and therefor pretty low on the priority list compared to some other more frequent issues.

[2021-05-17 20:56] wcs1only commented on #3031
I have not root caused this issue. I suspect it may be caused by something similar to the networking issues we have seen with other tests. Namely, connections can be spontaneously dropped dropped by the windows container networking stack. I am working with the appropriate team to see about an upstream fix. But, there may be work here we can do to make sure that our software is handling connection

[2021-05-17 20:59] wcs1only commented on #3026
There were two root causes here. One of them is fixed in #3139, the other should be fixed by the same root cause as some of the other test failures we've had on Windows. Namely, TCP connections within the cluster are getting randomly reset, including inbound connections to the sidecar injector from kubernetes.

[2021-05-17 21:00] wcs1only commented on #3026
I had closed this, but on second thought, I should leave it open until we get a resolution on the TCP connection issue. Either by it being fixed upstream, or by having kubernetes retry reset connections (if that is possible).

[2021-05-17 21:05] halspang opened #3179 "v1.2 Endgame"
End game Lead: @halspang
End game buddy: @berndverst

This is the schedule for the v1.2 release

### May 17th to May 25th
- [x] Ensure the docs are clear about using the correct CLI, runtime and SDK versions (1.2.0 for CLI/Runtime) (@AaronCrawfis)
- [x] No P0 issues before code freeze.
- [x] Code freeze at 11:59 pm 05/14.
- [x] E2E and perf tests are passing. (Known perf test failures, deemed not

[2021-05-18 00:26] wcs1only commented on #3025
This is almost certainly shares a root cause with some of the other issues we have open with Windows E2E tests.

[2021-05-18 01:11] edwin19861218 opened #3181 "service that owner referencing with a deployment will be removed"
## In what area(s)?

/area operator

## What version of Dapr?

1.1

## Expected Behavior

I am evaluating dapr in a k8s dev environment. It is awesome.
But I find a wield issue: the k8s service which has an attribute ownerReferences that bind with a deployment will be removed automatically.

I checked our audit logs and found the dapr operator did it. After checking the source code, I found some l

[2021-05-18 01:27] yaron2 commented on #3181
Yes, looks like this is a bug.

[2021-05-18 01:38] yaron2 commented on #3168
Dapr is an OSS project, so I'm not sure what you mean by customers so I'll assume this means users. I think we should revisit this *if* we see users asking for this.

Again, I see 18Mb (and 4Mb in Docker terms) as having no impact whatsoever.

As a maintainer of the Dapr OSS project, I find it hard to make a decision for the project based on marketing concerns. Having vendor specific images do not

[2021-05-18 02:19] CodeMonkeyLeet commented on #2844
@goodforever, if you need a starting point, here are a few options:

- If you're interested in what command line arguments the executables take, you can run them with the `--help` option to see the usage list.
- If you're interested in exercising example use cases for Dapr without Docker, refer to [How-To: Run Dapr in self-hosted mode without Docker](https://docs.dapr.io/operations/hosting/self-ho

[2021-05-18 02:33] #3181 closed

[2021-05-18 05:08] tomkerkhove commented on #3179
Is it possible that I contribute the following issues and include it in this release?

- https://github.com/dapr/dapr/issues/3147
- https://github.com/dapr/dapr/issues/3148

/cc @yaron2

[2021-05-18 05:08] tomkerkhove commented on #1942
Thoughts @yaron2 ?

[2021-05-18 06:03] 1046102779 commented on #3169
Organization/Company: Tencent
Website: https://www.tencent.com
Country: China
Contact: seachen@tencent.com
Usage scenario: Using Dapr for Q&A robot ai  in game industry , utilizing its  ServiceInvocation and State capabilities.
Status: Production

[2021-05-18 06:05] cvictory commented on #3169
Organization/Company: Alibaba Cloud
Website: https://www.alibabacloud.com/
Country: HangZhou / China
Contact: shengli.caosl@alibaba-inc.com
Usage scenario: Using Dapr to invoke the baas on the Function Compute of Alibaba Cloud
Status: Production

[2021-05-18 06:11] cinience commented on #3169
Organization/Company: DingTalk
Website: https://www.dingtalk.com
Country: China
Contact: xiongfeng.bxf@alibaba-inc.com
Usage scenario:  Dapr provides multi-language support and portability for dingtalk to deploy on cloud and on-premises environments.
Status: Production

[2021-05-18 06:24] shawn-deng commented on #3169
Organization/Company: AutoNavi
Website: https://amap.com/
Country: China
Contact: gdtech@alibaba-inc.com
Usage scenario: Using Dapr sidecar in Faas runtime to support existing service invocation, state management, etc.
Status: Production

[2021-05-18 06:30] sd797994 commented on #3169
Organization/Company: personal
Website: https://github.com/sd797994/Oxygen-Dapr.EshopSample
Country:  China
Contact: 360107272@qq.com
Usage scenario: E-commerce Web-Site && Management system
Status: In Development

[2021-05-18 11:17] cheimu commented on #3169
Organization/Company: RED(XiaoHongShu E-commerce)
Website: https://www.xiaohongshu.com/protocols/about?language=en-US
Country: China
Contact: yimo@xiaohongshu.com
Usage scenario: 1. Using Dapr to extend RED's own faas platform's function ability 2. Interested in combining it with Envoy
Status: In Development

[2021-05-18 12:50] marviniter commented on #3159
resolved,closed it!

[2021-05-18 12:50] #3159 closed

[2021-05-18 21:22] yaron2 commented on #3178
What's a subscription endpoint? is this the endpoint your application tells Dapr which topics to subscribe on? eg. `/dapr/subscribe`?

If so, you can configure Dapr to authenticate itself with your app: https://docs.dapr.io/operations/security/app-api-token/

[2021-05-18 21:31] dhowardimpinj opened #3190 "Helm - Add annotations to Dapr service account"
## In what area(s)?

/area runtime
/area operator

## Describe the feature
The ability to add annotations to the Dapr service account in the Helm chart.

This makes it easier to configure Dapr's AWS credentials when using EKS' IAM Roles for Service Accounts.

## Release Note

RELEASE NOTE: **ADD** Annotation support for the Dapr service account.

[2021-05-18 21:43] yaron2 commented on #3165
Did you make sure the mqtt broker is running before Dapr?

[2021-05-19 00:25] CodeMonkeyLeet opened #3192 "Helm install of custom sidecar container image without injector fails"
## In what area(s)?

/area test-and-release

## What version of Dapr?

## Expected Behavior

Installing dapr through Helm with a custom sidecar image that does not contain the injector service should succeed.

## Actual Behavior

The deployment template for dapr_sidecar_injector uses the same `image.name` value for both the injector service and the injected sidecar, although the documentation sugg

[2021-05-19 00:50] luhanCRM commented on #3169
Organization/Company: China Re Catastrophe Risk Management Company
Website: https://www.chinarecrm.com.cn/zhzjz/622292/index.html
Country: China
Contact: luhan@chinarecrm.com.cn
Usage scenario: Using DAPR to integrate with message queue in order to realize event driven scalable architecture on K8S.
Status: Production

[2021-05-19 00:52] luhanCRM commented on #3169
Organization/Company: China Re Catastrophe Risk Management Company
Website: https://www.chinarecrm.com.cn/zhzjz/622292/index.html
Country: China
Contact: luhan@chinarecrm.com.cn
Usage scenario: Using DAPR to integrate with message queue in order to realize event driven scalable architecture on K8S.
Status: Production

[2021-05-19 02:57] haowaiwai commented on #3165
I want to know that mqtt breaker is not run when dapr is started intentionally. What I want to know is to start mqtt breaker later. Dapr cannot recover the call to mqtt

Thanks

[2021-05-19 04:58] MedAnd commented on #3169
Organization/Company: Endeavour Group
Website: https://endeavourgroup.com.au/
Country: Australia
Contact: andrej@medic-consulting.com
Usage scenario: Using DAPR for new e-commerce initiatives targeting AKS.
Status: In Development

[2021-05-19 05:24] msfussell commented on #2888
You can only do this in GoLang, to create middleware.  Dapr is unlikely to have support for any other language for middleware.

[2021-05-19 14:26] yaron2 commented on #3132
/cc @artursouza

[2021-05-19 14:49] wcs1only commented on #3168
So, I've been researching this as part of an embedded device exploration, and in this case, both disk space and in memory binary size are indeed a major concern. The memory budget for the user is measured in hundreds of MB, and our ability to meet this will make the difference between them being able to use Dapr or not. I did an experimental build with just the user's desired components and the de

[2021-05-19 18:59] badgeratu commented on #3169
Organization/Company: Man Group
Website: https://www.man.com/
Country: UK
Contact: TradingTechPlaformEngineering@man.com
Usage scenario: Dapr is key to our strategy for evolving our core operational and investment management platform, significantly accelerating our delivery of technical, operational and efficiency improvements in a hybrid environment consisting of Windows, Linux , .NET Framework/C

[2021-05-20 00:52] rovangju commented on #3169
Organization/Company: Border States Electric
Website: https://borderstates.com/
Country: USA
Contact: jrovang@borderstates.com
Usage scenario: Using Dapr to build micro services and EDA heavily integrated with our ERP.
Status: Production

[2021-05-20 01:55] VenkateshSrinivasan commented on #3169
Same here

[2021-05-20 01:57] VenkateshSrini commented on #3169
Same here

[2021-05-20 05:18] artursouza commented on #3154
Have you considered using the input binding building block?

[2021-05-20 05:21] artursouza commented on #3132
@abogdanov37 Does it work if you put a random sleep before the first Actor invocation?

I wonder of this might be related to this https://github.com/dapr/dapr/issues/3023

[2021-05-20 05:22] artursouza commented on #3179
We are past code freeze. We only add critical fixes now. The changes above will be considered for 1.3. Thanks.

[2021-05-20 05:45] artursouza commented on #3192
@CodeMonkeyLeet  Please, comment on this issue so it can be assigned to you.

[2021-05-20 05:46] abogdanov37 commented on #3132
Most part of time it happend when I run application in debug mode. I'll try with random sleep. Where should I put this sleep?

[2021-05-20 05:51] artursouza commented on #3132
Right before invoking`OmCalculationActor` - I wonder if there is a race condition between restarting the actor app and the client invocation. We might explore having an exponential retry in the dapr runtime if that is the case.

[2021-05-20 05:53] artursouza commented on #3029
Closing this since it does not seem to be reproducible anymore.

[2021-05-20 05:53] #3029 closed

[2021-05-20 05:55] artursouza commented on #3046
/cc @wcs1only Do we have an issue to track one sidecar to many apps?

[2021-05-20 05:58] artursouza commented on #3126
@araxis Please, check this documentation: https://docs.dapr.io/reference/components-reference/supported-pubsub/setup-nats-streaming/

[2021-05-20 12:27] MoonShining opened #3199 "add metadata field to InvokeServiceRequest"
## In what area(s)?

/area runtime

## Describe the feature
add metadata field to InvokeServiceRequest

metadata is an neat way to extend the rpc feature, other dapr API also suuport metadata

![image](https://user-images.githubusercontent.com/8097849/118978064-78aac080-b9a9-11eb-9d3e-a3e6d987a016.png)

[2021-05-20 14:57] c0h1b4 opened #3200 "Error with dapr init"
## In what area(s)?

/area runtime

## What version of Dapr?

1.1.x

## Expected Behavior

Fresh new install on a Mac OS Big Sur (Intel cpu) with docker desktop installed.

Versions:
MacOS: Big Sur 11.3.1
Docker Desktop: 3.3.3 (engine 20.10.6)
Dapr cli: 1.1.0
Dapr runtime: 1.1.2

Right after the command "dapr init"

dapr init
⌛  Making the jump to hyperspace...
→  Downloading binaries and setting

[2021-05-20 15:47] CodeMonkeyLeet commented on #3192
/assign

[2021-05-20 16:27] #3030 closed

[2021-05-20 16:49] wcs1only commented on #3031
No incidence of this since we applied the windows kubernetes fix. Closing.

[2021-05-20 16:51] wcs1only commented on #3026
No since of this since we deployed the windows container networking fix. Closing.

[2021-05-20 16:51] #3026 closed

[2021-05-20 16:56] wcs1only commented on #3025
So I have confirmed the root cause for the majority of these was the same as https://github.com/dapr/dapr/issues/3030. If any of these remain, they have a different root cause, and we can investigate separately.

[2021-05-20 16:56] #3025 closed

[2021-05-20 17:15] jjcollinge opened #3201 "Trust bundle should use leaf certificates"
## In what area(s)?

/area runtime
/area operator
/area placement
/area docs

## What version of Dapr?
All

## Behavior
When any of the Dapr control plane components load (operator, placement, sidecar injector, sentry), they load with the trust bundle secret which includes the (`ca.crt`, `issuer.crt` and `issuer.key`). The trust bundle secret is created by Sentry with either provided or generated

[2021-05-20 18:11] #3190 closed

[2021-05-20 18:40] yaron2 commented on #3190
@dhowardimpinj why did you close this?

[2021-05-20 19:38] bjorkstromm commented on #3178
Not specifically the `/dapr/subscribe` endpoint, but the endpoints that are part of the response when calling that endpoint.

Example response when calling `/dapr/subscribe`
[code]

So in this case it's securing the following endpoints
* api/sub/created
* api/sub/updated
* api/sub/deleted

Does that also work with the approach described in https://docs.dapr.io/operations/security/app-api-token/

[2021-05-20 20:01] berndverst commented on #2901
Just in case anyone ends up here, the `limit` param was renamed to `maxStackDepth`.

[code]

[2021-05-20 20:20] dhowardimpinj commented on #3190
I closed it to due to some confusion I had with the Dapr docs. I'm trying to use IAM Roles for Service Accounts and I thought the pod who's service account should have the role annotation should be the dapr operator one. But instead the side car is the one that actually talks to AWS and thus the annotation should be on the service account for the application pod instead. So this feature isn't need

[2021-05-20 22:03] yaron2 commented on #3178
Yes indeed! that's the way to go.

[2021-05-20 22:28] berndverst commented on #3200
Can you manually run `docker pull daprio/dapr:latest` ?

[2021-05-20 22:38] mukundansundar commented on #3200
@c0h1b4 I am seeing the error is from docker, could you try restarting Docker and see if that works as well as trying to pull the latest dapr container manually as shown in the above comment.

[2021-05-20 22:51] berndverst commented on #3200
As an aside - @c0h1b4 - @mukundansundar and I cannot reproduce this on issue on Intel Mac with 11.2.3 and 11.3.1 respectively. I installed the latest stable version of Docker for Mac. I also cannot reproduce this on M1 ARM with 11.3.1 and latest Docker for ARM Mac.

As @mukundansundar says, this seems very specific to your installation or configuration of Docker.

[2021-05-21 06:27] bjorkstromm commented on #3178
Thanks! Just tried it out locally, and I can confirm by setting environment variable `APP_API_TOKEN` then Dapr will send this as HTTP header. The header key is `Dapr-Api-Token`.

[2021-05-21 06:27] #3178 closed

[2021-05-21 09:30] yaobo-lab opened #3208 "Error with dapr init"
## In what area(s)?

## Ask your question here

dapr init -k

failed to install CRD crds/components.yaml: unable to recognize "": no matches for kind "CustomResourceDefinition" in version "apiextensions.k8s.io/v1"

![image](https://user-images.githubusercontent.com/21329253/119115833-31c8d380-ba5a-11eb-90a3-c78bea03babb.png)

[2021-05-21 11:29] c0h1b4 commented on #3200
@mukundansundar I restarted the whole computer and I still have the same issue.

@berndverst
I tried the `docker pull daprio/dapr:latest` and got this error:

Error response from daemon: Get https://registry-1.docker.io/v2/: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)

I can confirm that my computer and docker is downloading all other im

[2021-05-21 11:32] c0h1b4 commented on #3200
I think I found the issue. It is a problem with the company proxy.

Thanks everyone for the help.

[2021-05-21 11:32] #3200 closed

[2021-05-21 13:04] cheimu opened #3209 "Questions about the performance of daprd (data plane)"
## In what area(s)?

/area runtime
/area docs

## Ask your question here
Hi Dapr community. I'm currently trying to do a load testing experiment of the data plane of dapr, daprd. The official document I found is [this](https://docs.dapr.io/operations/performance-and-scalability/perf-service-invocation/).  I got some maybe pretty boring questions would like to ask. My questions are
1. How is the ex

[2021-05-21 13:39] mheisenberg commented on #927
Same here. Also, why do the docs specifically call out gRPC support?
https://docs.dapr.io/developing-applications/building-blocks/actors/howto-actors/
"You can interact with Dapr to invoke the actor method by calling HTTP/gRPC endpoint"

[2021-05-21 15:00] jjcollinge commented on #3209
Hi @cheimu - although I don't have the answers to your questions (I'll defer them to @yaron2), I will point you to [this document](https://github.com/dapr/dapr/blob/3be2bf821a70a7a773a9cbd66c135f3d01a45d54/tests/docs/running-perf-tests.md) which shows you how to setup and run the perf test yourself. Hopefully this will allow you to get some numbers that make sense in your context. HTH.

[2021-05-21 15:36] RChrisCoble commented on #927
Is it supported now and we just don't realize it?

[2021-05-21 16:19] cheimu commented on #3209
Thank you @jjcollinge :)

[2021-05-21 21:48] rovangju commented on #3176
Yes! This would also probably clean up some tracing related things since tracing is showing appId.

[2021-05-21 21:55] rovangju commented on #3199
Any chance something like this could help with forwarding the `TraceParent` data as well?
https://github.com/dapr/java-sdk/issues/546#issue-892059304

I haven't found a way to stitch together Grpc like you can with Http calls.

[2021-05-22 00:45] yaron2 commented on #3209
We run our performance tests every several hours on an AKS cluster with 3 nodes. Every release, we update the performance numbers accordingly with the latest findings.

1 Kb.

We ran the test with clusters of 3, 50 and 100 nodes. Unlike service meshes for example, Dapr is not affected by the number of services or nodes in a cluster in regards to the service invocation performance. The test measure

[2021-05-22 03:19] artursouza commented on #3176
We have added support to '{uuid}' in the group to randomly generate a consumer id. This feature is per component and the uuid solution works well with a shared topic in mqtt.

Which component are you using?

[2021-05-22 03:28] cheimu commented on #3209
Hi @yaron2 , Thank you!

Is it because Dapr does not need to know the whole traffic and can fetch them when dapr needs using mdns while Pilot(istio control plane)issues whole traffic rules to the mesh?

Okay, then I will try to do some experiment on large json schema and even on some big data engine. 1Kb is kind of small...

I'm also interested in this. I saw Dapr uses Consul as well, so maybe it

[2021-05-22 07:02] thangchung commented on #3169
Organization/Company: NashTech
Website: https://nashtechglobal.com/
Country: Vietnam
Contact: thangchung@ymail.com
Usage scenario: Researched and delivered some virtual presentations last year. This year, we implement it into the in-house product which leverages cloud-native on Kubernetes to solve problems for our customers around the world.
OSS used Dapr: https://github.com/vietnam-devs/coolstore

[2021-05-22 12:50] tjwp commented on #927
I don't think the app callbacks for actors are in gRPC yet: https://docs.dapr.io/reference/api/actors_api/#dapr-calling-to-user-service-code

[2021-05-23 08:49] jjcollinge commented on #3209
@cheimu I have managed to setup cross cluster Dapr service invocation and run some perf tests. I will share my findings soon.

[2021-05-23 20:25] frvasquezjaquez commented on #3119
I was able to solve the issue, i had to create a service monitor to scrape the dapr metrics.

When using the prometheus operator or prometheus stack helm charts, you have to follow the following steps:

1. Apply the `prometheus operator` with the following `values.yaml`.
[code]

2. Create a service monitor to scrape the sidecars metrics.
[code]

[2021-05-23 20:25] #3119 closed

[2021-05-24 11:44] Amenocy opened #3216 "Http opa middleware crash"
## In what area(s)?

 /area runtime

## What version of Dapr?

 1.1.x

## Expected Behavior

applying opa middleware should work

## Actual Behavior
app crashes

with this error

![image](https://user-images.githubusercontent.com/2260390/119342743-2f56bb80-bc9e-11eb-9c8d-dd1a0ab044fb.png)

[code]

## Steps to Reproduce the Problem

adding OPA middleware on 1.1.2

this is my config.yaml
[code]

and

[2021-05-24 13:51] pohorely commented on #2882
I like the legend, but it seems to be useless if nothing is in progress... Can you please update the state, or is it actual?

[2021-05-24 15:27] cheimu commented on #3209
@jjcollinge Cool, looking forward to it!

[2021-05-24 22:53] tanekim77 opened #3217 "Dapr with Oauth2 + Tye"
Tye allows me to not worry about ports of apps, but Dapr's Oauth2 middleware requires tokenURL, according to the following link:
https://docs.dapr.io/operations/security/oauth/
If one of the apps in Tye is an Oauth2 application with specific port assigned by Tye, how can I specify the tokenURL of the app, if I do not know what port the Tye will assign it to?

[2021-05-24 23:53] yaron2 commented on #3209
Yes :)

[2021-05-25 09:37] bvahdat opened #3219 "Configuration settings by Kafka binding for the Azure EventHubs using it's Kafka endpoint"
## In what area(s)?

## Describe the feature

In order to communicate with Azure EventHubs using it's Kafka endpoint there're some recommended settings being mentioned here:

https://docs.microsoft.com/en-us/azure/event-hubs/apache-kafka-configurations

And I wonder if it would be possible to support these settings configurable through the Kafka binding:

https://docs.dapr.io/reference/components-

[2021-05-25 13:03] akkie opened #3220 "Add response body to error in case of error status code for binding event"
## In what area(s)?

/area runtime

## Describe the feature
Currently the runtime will only return an error message with the status code in case a binding returned HTTP status code 400 as example: https://github.com/dapr/dapr/blob/8a7b2b759f74ac20f2e841d954f8a06be9e96235/pkg/runtime/runtime.go#L721

Mostly the body contains useful information why a binding call failed. Currently this information g

[2021-05-25 14:26] doddgu commented on #3169
Organization/Company: Masa Stack
Website: In Development
Country: HangZhou / China
Contact: gushoudao@masastack.com
Usage scenario: Using Dapr to build .net development technology stack. We want to make a contribution. Can we have a talk?
Status: In Development

[2021-05-25 16:03] yaron2 commented on #3216
Thanks, we'll investigate.

[2021-05-25 17:38] bvahdat commented on #3219
Closing in favour of https://github.com/dapr/components-contrib/issues/884

[2021-05-25 17:38] #3219 closed

[2021-05-25 19:06] #3217 closed

[2021-05-26 05:54] daixiang0 commented on #3173
Glad to hear it, it is wired for `docs` repo neither use `master` nor `main`.

[2021-05-26 06:29] daixiang0 commented on #2529
@msfussell is it still active?

[2021-05-26 06:32] artursouza commented on #2882
We have completed raw message in pub/sub in release 1.2.

[2021-05-26 06:40] artursouza commented on #2529
@mukundansundar This issue seems to be related to what we discussed today. We need a solid new dev onboarding experience.

[2021-05-26 06:41] artursouza commented on #3173
Docs repo is different because each branch represents a live version in the website. So there is not really a `main` branch.

[2021-05-26 06:42] daixiang0 commented on #2529
@artursouza I can join as a role of bare new contributor:)

[2021-05-26 06:53] daixiang0 commented on #3173
From my side, master branch is for develop, for docs case, it is for the version developed and would release soon. Before release, checkout to version branch based on master branch.

I know what you mean, add a master branch may be more clear and common I think.

[2021-05-26 08:14] ptrubini commented on #3128
any news on this?

[2021-05-26 18:03] wcs1only commented on #3031
So this has definitely recurred:
We've now seen this on Linux, Window, and Kind.
https://github.com/dapr/dapr/pull/3196/checks?check_run_id=2673098441

[2021-05-26 19:14] artursouza opened #3225 "Add support for metadata in pub/sub subscription CRD"
## In what area(s)?

## What version of Dapr?

1.2

## Expected Behavior

Subscription CRD does not contain metadata map, like in the programmatic subscription payload.

[code]

[code]

## Actual Behavior

[code]

## Steps to Reproduce the Problem

Try to use rawPayload feature in pubsub via the Subscription CRD.

## Release Note

RELEASE NOTE:

[2021-05-26 21:40] mukundansundar commented on #3172
/assign

[2021-05-26 21:49] mukundansundar commented on #3225
/assign

[2021-05-27 00:32] CodeMonkeyLeet commented on #3208
@yaobo-lab Can you try this on a kubernetes cluster that is at least v1.16? My understanding is that the CRD support the dapr needs only moved out of beta in that release and CRDs were previously defined under `apiextensions.k8s.io/v1beta1`

[2021-05-27 00:53] xewn opened #3226 "components-contrib#749 The URL is wrong"
In Dapr Runtime v1.2.0 Release Note.

Consul name resolution component 749

#749 The URL is wrong  "https://github.com/components-contrib/issues/749"

The correct one should be
"https://github.com/dapr/components-contrib/issues/749"

[2021-05-27 01:38] daixiang0 commented on #3226
/assign

[2021-05-27 01:44] daixiang0 commented on #3226
@mukundansundar I think it would be better to cherry-pick to v1.2, WDYT?

[2021-05-27 03:26] artursouza commented on #3149
@javageek79  Any updates on this?

[2021-05-27 03:29] #3226 closed

[2021-05-27 06:16] daixiang0 opened #3228 "Add SO_REUSEPORT support"
## In what area(s)?

/area runtime

## Describe the proposal

Now dapr use `fasthttp` as http library, while in some case, still use `net/http`.

`net/http` do not allow linear scaling server performance on multi-CPU servers while `fasthttp/reuseport` does as [doc](https://pkg.go.dev/github.com/valyala/fasthttp/reuseport).

On the other hand, unify http library would reduce the difficulty of maint

[2021-05-27 06:38] AndreaPersico commented on #3169
**Organization/Company:** Nicolis Project
**Website:** https://www.nicolisproject.com/
**Country:** IT
**Contact:** andrea.persico@nicolis.com andrea.tosato@hudi.it
**Usage scenario:** Using Dapr for B2B application focused on Retail market, using pub-sub, service2service invocation, state and secret management, observability and bingings. The main focus is to deploy our solution (both on cloud an

[2021-05-27 14:39] yaron2 commented on #3209
@cheimu please reach back with the results of your test, you are running in an extremely large scale cluster and we'd be interested in the results.

[2021-05-27 15:55] CodeMonkeyLeet commented on #2367
@qqeasonchen, you can use service invoke without using actors if you wish. The [actors building block](https://docs.dapr.io/developing-applications/building-blocks/actors/actors-overview/) provides you with additional functionality to build distributed, stateful apps without having to manage the concurrency, fault recovery and resource lifetimes yourself. If you have further questions on this, fee

[2021-05-27 20:27] rehbergtr commented on #3169
Organization/Company: Schwarz IT KG
Website: https://it.schwarz
Country: Germany
Contact: tristan.rehberg@mail.schwarz
Usage scenario: Currently refactoring our internal Warenwirtschaft; event-driven architecture; aks in combination with keda running on Azure.
Status: PoC

[2021-05-27 20:52] CodeMonkeyLeet opened #3229 "Support GitHub Codespaces for contributing to dapr project"
## In what area(s)?

/area test-and-release

## Describe the proposal

The dapr project already has a VSCode devcontainer definition, but it does not load successfully as a [GitHub Codespace](https://github.com/features/codespaces) today. Providing a containerized dev environment with all of the appropriate prerequisites and tools for building and testing contributions to dapr would help reduce th

[2021-05-27 21:06] wcs1only commented on #2982
I root caused this while investigating #3030 and #3026. The callback connection from the kubernetes control plane to the sidecar injector was getting RST by the windows kube-proxy crash. If this happened to collide with a sidecar request, injection would fail.

[2021-05-27 21:06] #2982 closed

[2021-05-27 21:26] wcs1only commented on #3168
I propose that we implement the following as an intermediate step down the path to flavored Dapr builds:

Our build system should take a configuration file as an input with a list of components to include in the build. Based on this input, we should generate a component loader that is used by cmd/daprd/main.go. The output would be a daprd binary that only contains the desired modules, and nothing

[2021-05-27 21:42] msfussell commented on #3208
Dapr support Kubernetes v1.17 and above. If does not support versions below this. Will make sure this is in the docs to address this issue. v1.15.2 is not supported for Dapr.

[2021-05-27 21:50] yaron2 commented on #3168
I support that. Making our (project) and users consumption of components more manageable is a goal with clear benefits.

[2021-05-27 22:19] yaron2 commented on #3096
@LukeRH I'm planning to start work on this fairly soon. I expect this to be released in 1.3 or 1.4.

[2021-05-27 22:22] yaron2 commented on #3128
@ptrubini I was able to reproduce this. This looks like a bug in the upstream gRPC Go SDK. I'll try to initiate a fix in the upstream repo and in parallel consider a workaround for Dapr if it's available.

[2021-05-27 22:26] yaron2 opened #3231 "Call existing gRPC methods and bring your own gRPC protos - renewed gRPC experience."
Today, Dapr requires users to implement a special gRPC service to receive calls and exposes a specialized endpoint to invoke generic gRPC endpoints.

This is an undesired behavior because it negates the native gRPC experience and stops users from using their own protos. Furthermore, the current approach requires users to own proto specific serialization of byte arrays into the data format they are

[2021-05-27 22:33] artursouza opened #3232 "SDK for integration testing with Dapr"
Publish a new library in the SDKs to allow application developers to easily write integration and end-to-end testing with Dapr. Ideally, supporting both standalone and K8s environments.

POC for integration tests on standalone mode: artursouza/java-sdk@a284a0e

This is heavily inspired by our own integration testing code for the Java SDK.

Java SDK: https://github.com/dapr/java-sdk/issues/541
.Net

[2021-05-27 23:28] artursouza commented on #3124
These configs are specific per organization. Even the segregation of prod, dev, beta, etc is an opinion about deployment that Dapr should not take. Instead, please, use your deployment workflow to pass different values into the helm chart per environment.

[2021-05-27 23:28] #3124 closed

[2021-05-27 23:31] yaron2 commented on #1330
Closing, Dapr now supports bidirectional bindings.

[2021-05-27 23:31] #1330 closed

[2021-05-27 23:32] yaron2 commented on #2918
@skyao are the linked PRs enough to close this issue?

If not, whats left?

[2021-05-27 23:53] yaron2 commented on #2736
This is implemented as of 1.2.

[2021-05-27 23:53] #2736 closed

[2021-05-27 23:53] artursouza commented on #2736
Issue is not resolved and also this is a duplicate of https://github.com/dapr/dapr/issues/2308

[2021-05-28 01:45] chenglanguo opened #3234 "both istio trace and dapr trace"
## Ask your question here
[code]

We use both istio and dapr,  also otel, to trace network and pubsub event. then send istio trace and dapr trace to otel, then export to application insight. Transaction looks file, but the map can't connect together
, any idea?

[2021-05-28 02:05] qqeasonchen commented on #2367
@CodeMonkeyLeet thanks.

[2021-05-28 03:14] skyao commented on #2918
Block1: block App until daprd is outbound ready
State： done after PR #3052  and #3150

Block2: block Daprd until App is ready
State：need to improve.

Is this solution I mentioned in the proposal OK?

[2021-05-28 05:10] artursouza commented on #3173
/cc @AaronCrawfis  @orizohar  @msfussell

[2021-05-28 06:02] artursouza commented on #2367
Closing as per answer from @CodeMonkeyLeet

[2021-05-28 06:02] #2367 closed

[2021-05-28 12:38] ptrubini commented on #3128
thank you

[2021-05-28 13:56] javageek79 commented on #3149
Hi @berndverst sorry for taking that long for a response.
`TimerActor` referes to a business object in our service. The actual dapr actor is then `AutomationTimerActor`.
It works in a way, that per `TimerActor` a dapr `AutomationTimerActor` is instanciated and for each weekday of `TimerActor` a dapr-timer is registered that triggers once a week.

Strange thing is, that there is one activation and

[2021-05-28 17:18] AaronCrawfis commented on #3173
We used to have this behavior but contributors kept putting typo fixes and other changes that were applicable to the current version in the wrong branch.

We decided to make the currently released version of docs the primary branch because we want the default to be where we want contributors to go. For code, you want contributions to come into the branch for the next version. You don't want new fe

[2021-05-28 20:36] artursouza commented on #1439
This was closed as part of the work done in https://github.com/dapr/dapr/issues/2689

[2021-05-28 20:36] #1439 closed

[2021-05-28 21:11] tanvigour commented on #2815
/assign

[2021-05-28 21:12] msfussell commented on #3146
Dapr is not tied to Kubernetes. Dapr can run on any hosting platform, including (currently) a group of networked VMs or physical machines. Yes, it would be wonderful to have Dapr supported on Nomad as another hosting platform and supporting this is in line of having Dapr on many platforms (for example other have raised Open Stack, Azure Service Fabric and Docker Swarm as other examples)

No work h

[2021-05-28 21:18] msfussell commented on #3154
Yes, this seems better suited to Dapr bindings that provide integration to other systems, but open to hearing why this could be considered a general API.

[2021-05-28 21:53] pkedy commented on #2391
Related to #3088

[2021-05-28 21:53] pkedy commented on #2478
Related to #3088

[2021-05-28 21:54] pkedy commented on #112
Partially clovered by #3088.  Need to verify server/listeners are closed as well.

[2021-05-28 23:22] msfussell commented on #3098
This should be in the components contrib repo for bindings

[2021-05-28 23:29] msfussell commented on #3059
Can you explain your scenario more on what you hoping to achieve, when you say transition? Dapr is not a replacement for Entity Framework Core (EF Core) or any objection/relational mapping technology, so if that is what you are needing I would just use this in your application directly. If you are asking about the ability to query stores generally then this issue is maybe what you are looking to h

[2021-05-28 23:39] msfussell commented on #3057
@veselfil - dapr is backward compatible across versions. There are no breaking changes between APIs in versions unless explicated stated and these would be listed here https://docs.dapr.io/operations/support/support-versioning/#versioning. So upgrading from v1.0.0 to v1.1.0 to v1.2.0 hasino breaking changes.

The supported versions refer to fixing reported issues where the current and previous rel

[2021-05-28 23:55] msfussell commented on #3046
@yaron2 @Rob623 - If these machines (Windows, K8s) are all on the networked together, you are then looking for a consistent DNS resolution capability for service invocation. Would the Consul DNS name resolution component in v1.2 solve this for you? You can deploy apps to K8s cluster and use the Consul name resolution component (rather than the K8s DNS name resolution).

[2021-05-29 00:02] yaron2 commented on #3046
The Consul component should enable this scenario now. There's no reason to have Dapr serve more than one app as that was a limitation related to the specific workaround that was done.

I am closing this for now, @Rob623 feel free to open again if this isn't solved with our Consul integration.

https://v1-2.docs.dapr.io/reference/components-reference/supported-name-resolution/setup-nr-consul/

[2021-05-29 00:02] #3046 closed

[2021-05-29 00:09] msfussell commented on #3006
@haowaiwai - Is this still and issue?

[2021-05-29 00:10] tanekim77 commented on #3059
One use case for relational storage is that it stores data in the most compact way, but it is usually slower in query because it requires table joins. Currently, dapr seems to store data non-relationally, which is not compact. Companies that store many relational data need to have compact storages.

The reason Dapr's relational storage support would be very helpful is that it would allow other Dap

[2021-05-29 00:10] #3006 closed

[2021-05-29 03:02] yaron2 commented on #3128
I added this to the next milestone, so this should be fixed in the upcoming release.

[2021-05-30 08:27] tdcare commented on #3128
tks

[2021-05-31 01:23] daixiang0 commented on #3173
Oh, I see.

[2021-05-31 01:27] daixiang0 commented on #3231
It is so cool!

Could you more details like design for this?

[2021-05-31 02:41] yinxiaoling commented on #3169
Organization/Company: 宇动源（北京）信息技术有限公司
Website: http://cosmosource.com
Country: China
Contact: cosmosource@cosmosource.com
Usage scenario: Explore the evolution of platform architecture.
Status: PoC

[2021-05-31 02:42] yinxiaoling commented on #3169
Organization/Company: 宇动源（北京）信息技术有限公司
Website: http://cosmosource.com
Country: China
Contact: cosmosource@cosmosource.com
Usage scenario: Explore the evolution of platform architecture.
Status: PoC

[2021-05-31 02:44] yinxiaoling commented on #3169
Organization/Company: 宇动源（北京）信息技术有限公司
Website: http://cosmosource.com
Country: China
Contact: cosmosource@cosmosource.comUsage scenario: Explore the evolution of platform architecture.
Status: PoC

[2021-05-31 04:26] yaron2 commented on #3231
Of course :)

Dapr exposes two gRPC servers today: one for public APIs (user facing) and the other for Dapr to Dapr calls (service invocation, for example) that has mTLS enabled.

The plan is to register a generic handler for both gRPC servers. This handler will handle requests for services that are *not* registered with the gRPC server.

So when a user calls the Dapr gRPC endpoint with his own cu

[2021-05-31 11:14] iamazy opened #3238 "Restrict components to have unique names in standalone mode"
## In what area(s)?

/area runtime

## Describe the feature

In latest dapr version, when one component has the same metadata name as another component，one will replace another one，can dapr restrict components to have unique names ？e.g. when its two components have the same name，it will terminate the daprd process.

## Release Note

RELEASE NOTE:

[2021-06-01 00:04] artursouza commented on #3238
I am supportive of this change.

[2021-06-01 01:07] yaron2 commented on #3238
Just to be clear @iamazy we're talking about self-hosted mode, is that correct? on Kubernetes components are namespaced, and you cannot have multiple components with the same name.

[2021-06-01 01:32] iamazy commented on #3238
Yes

[2021-06-01 03:12] xunavy opened #3239 "Bug:Security scan :Redis Server Unprotected by Password Authentication"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

## Actual Behavior

When I install the dapr and run the runtime for a long time. We got the security scan result for the host machine with related docker image such as  redis-server .
![image](https://user-images.githubusercontent.com/5848051/120260896-5c702300-c2c9-11eb-8831-4c9eb5ebccd5.png)

[root@fnwk1 ~]# docker ps
CONTAINER

[2021-06-01 05:52] daixiang0 opened #3240 "Add PKCS#8 support"
## In what area(s)?

/area runtime

## Describe the feature

With [PKCS#8](https://en.wikipedia.org/wiki/PKCS_8), the security of key would improve.

## Release Note

RELEASE NOTE: **ADD** PKCS#8 support

[2021-06-01 09:04] guangdashao opened #3244 "Can't use domain like devops.ansteel.com.io？"
## In what area(s)?

 /area runtime

## Ask your question here
dapr work with oauth2 middleware , and use nginx to proxy http request.
when config niginx with domain like devops.ansteel.com.io，login action will fail
 but config niginx with domain like devops.ansteel.io, login action will success

[2021-06-01 09:09] guangdashao commented on #3244
Code snippet in [sessions](github.com/fasthttp-contrib/sessions) down is not work  as expected

`// RFC2109, we allow level 1 subdomains, but no further
			// if we have localhost.com , we want the localhost.cos.
			// so if we have something like: mysubdomain.localhost.com we want the localhost here
			// if we have mysubsubdomain.mysubdomain.localhost.com we want the .mysubdomain.localhost.com h

[2021-06-01 15:20] wcs1only commented on #3168
Correct me if I'm wrong, but I don't think it needs to. I believe it is ok to have something in go.mod which you don't actually end up importing.

[2021-06-01 15:58] tanvigour opened #3245 "Git Automation"
## In what area(s)?

area test-and-release

## Describe the proposal
### Background

This is a proposal to automate git workflow in terms of assignments, clean ups and maintenance of PRs.
We already have dapr-bot that does some part of automation for example auto merge and ok-to-test but we don't currently have a way to make assignments, auto close stale PRs or ping maintainers when certain PR is

[2021-06-01 16:04] #2901 closed

[2021-06-01 19:30] thombrn commented on #3231
This is the reason why we couldn't adopt Dapr. We are heavily reliant on gRPC and the way this is currently implemented makes it impossible for us to use our existing proto services, around 30 in number.

[2021-06-01 19:37] yaron2 commented on #3245
Good proposal.

One comment: anyone should be able to /assign, regardless if they're a Dapr org member or not.

[2021-06-01 19:39] yaron2 commented on #3168
It's just the components contrib version, there's no need to specify individual sub packages, in the scope of this change or outside of it.

[2021-06-01 21:30] berndverst commented on #3149
The delay of ~12 seconds can entirely be related to the variance of the actor idle scan interval (60 seconds).

A particular timer, say `timer1` exists only once on the combination of `actorType` and `actorID`, regardless of the number of pods you have.

`delay` > `actor idle time` does work. The actor will stay activated until the `delay` has passed and then trigger the timer once. If the actor g

[2021-06-01 23:10] halspang commented on #3244
Can you share the error that you get from the login action or the configuration of your nginx/oauth?

I know .com is considered a top level domain, so I wonder if something is keying off of that and doesn't like seeing .com.io?

[2021-06-02 02:29] daixiang0 commented on #3245
/assign @daixiang0

[2021-06-02 02:45] daixiang0 commented on #3245
@yaron2 seems not work as expected :(

[2021-06-02 06:59] marviniter opened #3249 "before make e2e-build-deploy-run should delete mutatingwebhookconfigurations file"
## In what area(s)?

## What version of Dapr?

## Expected Behavior
before make e2e-build-deploy-run  delete mutatingwebhookconfigurations file

## Actual Behavior
not delete mutatingwebhookconfigurations cause caBundle content not match the secret key,the Injector will not work fine.
[code]

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2021-06-02 07:28] daixiang0 commented on #3245
Also, would be better to add `OWNER` to notify maintainers to review.

[2021-06-02 09:48] #3036 closed

[2021-06-02 13:34] darren-wang opened #3251 "Will Dapr sidecar proxy all the network traffic like Istio?"
Hi, community members, recently I read about the introduction in dapr docs on dapr and service mesh, however, I still have one question.

like the title said, will dapr's sidecar proxy all the nework traffic in the pod like Istio's Envoy, or dapr's sidecar is only aware of the traffic using dapr's building blocks like service invocation?

[2021-06-02 15:00] yaron2 commented on #3251
Dapr is only aware of the traffic that is explicitly directed to it.

[2021-06-02 15:42] thesobercoder opened #3252 "Allow daprd hostname to be passed in as a parameter"
## In what area(s)?

## Describe the feature
Currently, the hostname used in the `daprd` binary is hardcoded to be `localhost` as can be seen here

https://github.com/dapr/dapr/blob/b4b8f83c6cbf68ef9028b84cbe2aa998b51685b4/pkg/runtime/runtime.go#L1695

## Release Note

RELEASE NOTE: **ADD** a new parameter to `daprd` executable to accept the hostname via a new CLI parameter.

[2021-06-02 16:10] yaron2 commented on #3252
This is the hostname for the application that Dapr calls when it's trying to figure out if it's active or not.

Is your greater ask that Dapr will be able to deliver messages to apps that do not listen on localhost?

[2021-06-02 16:20] thesobercoder commented on #3252
@yaron2 I'm trying to have the sidecar run inside K8s while the service that I'm developing is running locally on my machine. If you start accepting the hostname for local development, I will pass in `host.docker.internal` instead of `localhost`, and hopefully, it should be able to connect.

[2021-06-02 16:23] uipo78 opened #3253 "Recommended K8S RBAC roles"
## In what area(s)?

/area docs

## Ask your question here

I was just wondering if you all have any recommended RBAC roles to distinguish permissions between Dapr admin vs users (or any similar separation of roles). Thanks!

[2021-06-02 16:25] CodeMonkeyLeet commented on #3079
@tianjipeng thanks for catching this! Yes, it looks like the intent of the code snippet was to initialize the capacity of the slice rather than the fill it with empty entries; a PR would be appreciated!

[2021-06-02 17:10] CodeMonkeyLeet commented on #3245
@tanvigour For some standard project management tasks like stale issue management, have we considered just reusing existing GitHub actions such as https://github.com/actions/stale instead of spinning our own implementations under dapr-bot?

[2021-06-02 17:33] tanvigour commented on #3245
I like that. It would be nice to ping maintainers for unreviewed changes sitting for say 3 days. Thanks for suggesting

[2021-06-02 17:35] tanvigour commented on #3245
That's what the latest changes by https://github.com/dapr/dapr/pull/3248 by Long Dai seems to be using.

[2021-06-02 17:37] yaron2 commented on #3245
This functionality is not implemented yet :)

[2021-06-02 17:58] nielsbauman opened #3255 "Unable to setup MongoDB cluster as statestore"
## In what area(s)?

/area runtime

## Ask your question here

Hi there,

I'm trying to set up a MongoDB cluster as statestore in DAPR, but I can't get it to work.

I have the following `mongo.yaml` in my components directory:
[code]

I run the following command:
[code]

And the error I'm getting is:

I was however able to get it working with a locally running docker container from mongo. I have a

[2021-06-02 18:12] virginoid commented on #3231
Related to gRPC. Any chance Dapr will do away with need for sidercar as per this article: https://cloud.google.com/traffic-director/docs/proxyless-overview ?

[2021-06-02 18:22] yaron2 commented on #3231
Most likely no, since that would mean the entire Dapr Go code base would need to be re-implemented and duplicated to every possible programming language.

[2021-06-02 18:45] wcs1only commented on #1702
We added support for Windows containers in v0.10.0. The ```dapr init``` cli command still uses redis and zipkin containers, which are Linux only 3rd party state store and telemetry providers. You'll need to use ```dapr init --slim``` to skip installing them to use Dapr on a machine with Docker in Windows container mode.

[2021-06-02 18:45] #1702 closed

[2021-06-02 19:04] wcs1only commented on #2637
If you are still experiencing this issue, can you please reply with the container logs:
[code]

I was able to install with the following:
[code]

[2021-06-02 19:08] wcs1only commented on #1702
Also, if you are looking to deploy your windows containers to kubernetes, we have a guide here:
https://docs.dapr.io/operations/hosting/kubernetes/kubernetes-hybrid-clusters/

[2021-06-02 19:31] wcs1only opened #3256 "[Proposal] Provide alternative service resolution mechanism besides mdns"
## In what area(s)?

/area runtime

## Describe the feature

We commonly get reports that service invocation does not work with dapr standalone mode:
https://github.com/dapr/dapr/issues/2665
https://github.com/dapr/quickstarts/issues/361
https://github.com/dapr/quickstarts/issues/388
https://github.com/dapr/quickstarts/issues/399 (May also be a general failure to start daprd?)
https://github.com/d

[2021-06-02 20:37] AaronCrawfis commented on #1048
https://github.com/dotnet/tye is the best option if you're a .NET developer

[2021-06-02 21:36] CodeMonkeyLeet opened #3257 "Standardize and clean up dapr child helm chart values and behaviors."
## In what area(s)?

/area helm

## Describe the proposal

Using the [advanced instructions to deploy Dapr using Helm](https://docs.dapr.io/operations/hosting/kubernetes/kubernetes-deploy/#install-with-helm-advanced), it feels that there are a range of inconsistencies in the way some [global values](https://github.com/dapr/dapr/blob/master/charts/dapr/README.md) interact with ones defined by child

[2021-06-02 23:05] wcs1only commented on #3165
This is related to #2940

[2021-06-03 02:17] darren-wang commented on #3251
OK, got it!

[2021-06-03 02:17] #3251 closed

[2021-06-03 02:24] yaron2 commented on #3256
We can point users to use Consul in self hosted mode.

Alternatively, if we find another cross machine self discovery mechanism that doesnt involve an external agent (as this is already provided with Consul) we can consider that.

[2021-06-03 02:55] daixiang0 commented on #3257
I would pick `dapr.area.xxx` format.

[2021-06-03 07:30] billpoole-mi commented on #3096
+1 for me. We're very interested in this feature too.

[2021-06-03 08:01] PlusMinus0 commented on #2817
AsyncAPI is heavily inspired by OpenAPI and as of March 31 also [part of the Linux Foundation](https://www.linuxfoundation.org/en/press-release/linux-foundation-will-host-asyncapi-to-support-growth-and-collaboration-for-industrys-fastest-growing-api-spec/).

[According to AsyncAPI](https://www.asyncapi.com/docs/getting-started/coming-from-openapi), they are compatible with the OpenAPI spec, with a

[2021-06-03 09:41] XavierGeerinck opened #3258 "Go Panic on Actors usage (Redis) with PubSub (Redis) on Start"
## In what area(s)?

/area runtime

## What version of Dapr?

1.2.0

## Expected Behavior

I would like to utilize Redis as my state store and placement store for Actors as well as create a component to the same Redis for Pub/Sub usage.

In my opinion this is happening due to the fact that the statestore is not correctly initialized. When going to the [source](https://github.com/dapr/dapr/blob/8aa

[2021-06-03 12:13] XavierGeerinck commented on #3258
Update: also appears to happen on other components 🤔 tried it with PubSub for RabbitMQ and doesn't work either.

[2021-06-03 12:51] kiran290 opened #3259 "Need Example Projects to Integrate Dapr in DotNet Core 5 or any Videos and Reflinks"
I am New to Dapr and I need to Integrate Dapr into My Application using DotNet Core 5  any examples in Github please send the locations.

[2021-06-03 13:44] skyao commented on #2988
proposal v0.2

## Overview

According to the above discussion, I update the new proposal of configuration api to v0.2. There are some changes to previous proposal (called v0.1):

- ~~Hierarchical capability model~~ suspended: let's start from level-0 configuration model, only configuration item list in app configuration, no group / tag / label now.
- ~~Admin API~~ suspended: let's focus on the api

[2021-06-03 15:13] pkedy commented on #1602
Hi, @mychajlo! We've discussed features that might be related but have not created any RFCs yet. Could you please elaborate or provide a detailed scenario of what you mean by "interface-based programming models"? This will help us better understand your proposal.

[2021-06-03 15:30] yaron2 commented on #3255
Can you run with the `--log-level debug` and see if you get any meaningful info?

[2021-06-03 15:44] nielsbauman commented on #3255
@yaron2 unfortunately not:
[code]

[2021-06-03 15:49] pkedy opened #3260 "v1.3.0 Release Planning"
Release Coordinator: @pkedy
Release Buddy: @berndverst

Code freeze: 07/14/2021
Endgame starts: 07/15/2021
Release date: 07/21/2021

Milestones in scope for this release:
Dapr: https://github.com/dapr/dapr/milestone/9
Java-SDK: https://github.com/dapr/java-sdk/milestone/2
Python-SDK: https://github.com/dapr/python-sdk/milestone/2
CLI: https://github.com/dapr/cli/milestone/4
PHP-SDK: https://github

[2021-06-03 15:55] mychajlo commented on #1602
Phil,

Thanks for reaching out. This particular ask is near and dear to a large community and swath of devs who are accustomed to using straightforward interface-based programming techniques in service-oriented systems. An abstraction that’s missing with more raw HTTP Uri-based and message-based interactions.

Basically we’d like to have the same straightforward interface-based programming model f

[2021-06-03 18:12] CodeMonkeyLeet commented on #3257
Are you suggesting converting the values of the format `dapr_dashboard` to the format `dapr.area.dashboard`? I'm a little hesitant to recommend that because these values are actually expressed as a naming hierarchy in yaml, so a user would have to nest their declarations for no apparent benefit, because there are no values that would be defined under the `dapr` or `dapr.area` tiers.

[code]

My un

[2021-06-03 18:33] milijan commented on #1703
@msfussell I am curious about this feature request...What would this allow me to do as an IoTEdge App developer? In particular, IoTEdge supports nested devices so we could image a parent-child relationship. Would an app on device-A be able to discover an service on device-B (or other layers)? Or for that matter a service on a kubernetes cluster?

[2021-06-03 20:48] mukundansundar commented on #3032
release complete

[2021-06-03 20:48] #3032 closed

[2021-06-03 20:49] pkedy commented on #1602
Couldn't agree more! I think achieving this "style" of developer experience in popular programming languages is the what needs careful consideration. For example:

* The features in the .NET SDK might be considered a "framework" in other languages. Should the other Dapr SDKs become more like frameworks or become smaller by pushing framework features to the Dapr runtime (`daprd`)?
* What exactly ar

[2021-06-03 22:13] rynowak commented on #3231
Yes please, there has been tons of confusion from users of the .NET Dapr SDK around how to leverage gRPC successfully. The proxy-based approach makes all of the main gRPC programming experiences *just work* which is awesome.

[2021-06-03 23:00] artursouza commented on #2860
This issue is about supporting returning metadata from the component for raw payloads. If using CloudEvent, datacontenttype attribute already handles this.

[2021-06-04 04:01] andreatosato commented on #1820
Any news?

[2021-06-04 05:04] yaron2 commented on #1602
Thanks for revisiting this after such a long time @mychajlo. This issue doesn't normally belong in this repository as it's outside the scope of the dapr runtime, and should be opened in the repository of each respective Dapr SDK but we can keep it here in the meantime until we can find a better home for it.

In general, my opinion here is that creating something like this in the face of establishe

[2021-06-04 08:15] kevinten10 opened #3261 "[Discussion] Dapr api for SDK model"
dapr is an exciting project!

According to my understanding, dapr aims to provide a unified abstraction layer for heterogeneous middleware and heterogeneous API, so that the code only needs to be written once, and it can run anywhere.

But the problem is that I need to **deploy the dapr sidecar process**. Although the _sidecar_ model is the future, the current situation is still mostly in the _SDK

[2021-06-04 08:29] nmeisenzahl opened #3262 ""secretKeyRef" in components prevents dapr sidecars from starting when using Kubernetes jobs"
## In what area(s)?

/area runtime

## What version of Dapr?

1.2.0

## Expected Behavior

We are using `secretKeyRef` to map secrets into components (like PubSub with Azure Service Bus). We are using Azure Key Vault (AKV) as a secret store component. It authenticates via a managed identity (AAD pod identity). When we now schedule a Deployment/Pod everything works as expected.

## Actual Behavior

[2021-06-04 08:39] #3165 closed

[2021-06-04 12:34] 1046102779 opened #3269 "Jaeger version 1.22 not showing trace data"
jaeger version 1.21 upgrade to 1.22. jaeger  didn't any tracing data, And after degrade to 1.21 , it will ok and occur tracing data.
![image](https://user-images.githubusercontent.com/20457624/120801238-7fbdfb00-c573-11eb-8a3c-b96f78ad3e9c.png)

jaegertracing/all-in-one:1.21:
![image](https://user-images.githubusercontent.com/20457624/120801602-f0fdae00-c573-11eb-9549-b844c5a78c34.png)

jaegertrac

[2021-06-04 13:39] mychajlo commented on #1602
Yaron, thanks for the prompt response and clarity on the misplaced issue.

I appreciate your perspective on gRPC. It’s definitely a step in the right direction. For the Dev communities and shops I commonly work with though, gRPC still represents way too much ceremony and boilerplate, in addition to a semantic that doesn’t quite jive with code. Ideally, I wouldn’t need to know that gRPC or Protobuf

[2021-06-04 17:25] yaron2 commented on #1602
Providing a language idiomatic experience for our SDKs is important, some of our SDKs are more geared towards that than others (our Go SDK is a good example).

[2021-06-04 18:07] halspang commented on #3253
Can you explain a bit more what you're looking for? Dapr doesn't require you to setup RBAC nor do we really recommend you adjust it's security sections. If you're curious we describe Dapr's security model here:

https://docs.dapr.io/concepts/security-concept/

[2021-06-04 18:09] yaron2 commented on #3261
@kevinten10 that model was first looked at when we started the Dapr project and was quickly decided as not feasible.

It would mean the entire Dapr code base, plus it's existing components and any future components, would need to be duplicated and written in every language that needs to have Dapr support. This does not scale. I'm closing this issue, but we can continue discussing here nontheless.

[2021-06-04 18:09] #3261 closed

[2021-06-04 18:25] CodeMonkeyLeet opened #3263 "Dapr instructions for security reporting in issue templates have bugs"
## In what area(s)?

/area docs

## What version of Dapr?

1.2x

## Expected Behavior

Issue templates point to security disclosure instructions at https://docs.dapr.io/operations/support/support-security-issues
Issue template selection should have options to contact dapr in ways that don't involve filing an issue for security disclosure, as suggested in the config.yml.

## Actual Behavior

Issue

[2021-06-04 18:47] artursouza commented on #2865
Closing as will not fix since this is a design choice.

[2021-06-04 23:51] yaron2 opened #3265 "Apply max request body to gRPC channel"
Today we support setting a max request size for the gRPC server, but we don't apply it to the gRPC channel that Dapr uses to talk to the app.

This means that if a user sets a 16MB limit, Dapr will allow the call to go through one Dapr instance to another, but will fail when trying to deliver the message to the app.

This call option: https://github.com/dapr/dapr/blob/e9ef871f8eeed59a3680a3aa8fd8d

[2021-06-04 23:59] yaron2 commented on #3265
@apuzyrevsky can you take this?

[2021-06-04 23:59] #3172 closed

[2021-06-05 00:37] rynowak commented on #1602
Personally, I feel like gRPC gets this *just right* in a way that Actor SDKs definitely do not today. By that time you add cross-language interop and error handling, you basically end up with something like gRPC and protobuf. I personally feel like Dapr (and .NET SDK) have technical debt here - the actor model isn't fleshed out enough to be seamless across languages. Creating a new programming mod

[2021-06-06 13:49] kevinten10 commented on #3261
Thank you for your reply!

As you said, I believe the community must have considered this model.

Although there are many problems with the SDK model, I think this is still a model that needs to be considered for a long time.

What I expect is that dapr can provide an _abstraction layer_.

If I need this SDK model, then _I can implement it based on the abstraction layer_.

Whether it is the _sidec

[2021-06-06 13:51] kevinten10 commented on #3261
The community does not need to implement these functions.

As long as the API design of the abstraction layer is easy to extend.

Then people who have this need can do it themselves (for example, me)

[2021-06-06 20:46] rynowak commented on #3231
@yaron2 - possibly a separate issue, but it would be great to think about whether we can make pubsub/bindings work the same way as they do for HTTP based on this support.

Ex: if I have 5-6 pubsub topics to handle, then I have to implement my own dispatching in appcallback. It would be great if I could reference the Dapr message types for pubsub and write my own gRPC service + metadata to wire tho

[2021-06-06 21:52] ahaWDY commented on #2939
I'm seeing the same issue. May I ask if you solved the problem? @the-virt @ol-sudo @regul4rj0hn

[2021-06-07 00:39] daixiang0 commented on #3257
No, I mean it like `dapr.dashboard.xxx`, `dashboard` is the area.

[2021-06-07 01:52] daixiang0 commented on #3031
Not sure it is network issue :(

[2021-06-07 01:58] daixiang0 commented on #3265
I would like to take this if possible.

[2021-06-07 01:59] tianjipeng commented on #3079
@CodeMonkeyLeet ok，I'll make a pr to fix it.

[2021-06-07 07:21] artursouza commented on #1820
This issue is being considered in our 6-month planning from maintainers.

[2021-06-07 08:07] juaby opened #3268 "It is recommended that both Thrift and gRPC be supported"
It is recommended that gRPC be replaced with Thrift. Or support both Thrift and gRPC

1. To improve performance
2. There is more cross-language ability

[2021-06-07 14:10] the-virt commented on #2939
Hi @ahaWDY. Unfortunately, I was not able to resolve that.

[2021-06-07 16:27] CodeMonkeyLeet commented on #3257
I see, that makes more sense. Even so, the guidance for helm charts is to [prefer flat values](https://helm.sh/docs/chart_best_practices/values/#flat-or-nested-values).

I think changing the naming scheme for the dapr values is an interesting discussion, but one that probably deserves its own issue. There are a couple of other changes that are probably useful, such as converting from snake_cased t

[2021-06-07 21:24] yaron2 commented on #3265
@daixiang0 for this issue there's already a contributor in the pipeline. in the meantime we are busy reviewing all your other great work :)

[2021-06-07 21:32] yaron2 commented on #3261
@kevinten10 take a look at this issue, does this more relate to what you have in mind?

https://github.com/dapr/dapr/issues/2817

[2021-06-07 21:34] yaron2 commented on #3231
Yeah that experience makes sense. It should be a separate issue though as you said.

[2021-06-07 22:17] artursouza commented on #2914
Dapr only listens on localhost today. What is the scenario this will resolve?

[2021-06-08 01:12] daixiang0 commented on #3265
@yaron2 thanks for your careful  review :)

[2021-06-08 02:25] #3147 closed

[2021-06-08 02:30] kevinten10 commented on #3261
@yaron2 Yes, the _abstraction layer_ is what I want to say.

But when designing the API, please consider the _SDK model_, not just the _sidecar model_.

thank you for your reply!

[2021-06-08 06:58] akkie commented on #3220
@artursouza @yaron2 Is this something that needs to be discussed or can I start to implement that?

[2021-06-08 07:43] cmendible commented on #2914
@artursouza at the present it's possible to call the secrets endpoint form another pod in the cluster. The idea is to reject any invocation of the secrets endpoint that comes from outside the pod, reducing the attack surface.

[2021-06-08 07:59] daixiang0 commented on #3258
I think need to wait dapr/components-contrib make a release including https://github.com/dapr/components-contrib/pull/757, it would add `Ping()` to check store state. @artursouza

/assign @daixiang0

[2021-06-08 10:10] LukeRH commented on #3096
@yaron2 Excellent thanks alot :)

[2021-06-08 15:59] marc-mueller commented on #3176
We are currently using the redis pubsub component.

[2021-06-08 16:23] wcs1only opened #3271 "Autogenerate component includes at build time."
Splitting this off of #3168. This is a step towards #3168 that adds value to several different scenarios, whether or not we decide to build #3168 or not.

## In what area(s)?

/area runtime

## Describe the feature
I propose that we implement the following:

Our build system should take a configuration file as an input with a list of components to include in the build. Based on this input, we shou

[2021-06-08 16:29] wcs1only commented on #3168
I split off the work of autogenerating component import code based off a YAML file into #3271 since we determined that would be worthwhile to build in 1.3, even if we don't end up going down the flavor route.

[2021-06-08 16:56] halspang commented on #3049
This was merged in https://github.com/dapr/dapr/pull/3145.

[2021-06-08 16:56] #3049 closed

[2021-06-08 18:50] artursouza opened #3272 "Sign Dapr artifacts in GitHub"
## In what area(s)?

/area test-and-release

## Describe the feature
The artifacts in a Dapr release are not signed. A signature file should also be included for each corresponding artifact, not only the checksum.

![image](https://user-images.githubusercontent.com/130954/121240781-930ce700-c84f-11eb-99d4-60114f3f9cbd.png)

This should also comply to OpenSSF's score card requirement: https://githu

[2021-06-08 20:28] wcs1only commented on #3256
I'm hoping for a solution a little more out of the box than "point users to this." This seems to be tripping up users on the quickstart hello-world path, and the last thing I'd want to do is introduce another thing to install/understand before getting started.

[2021-06-08 21:51] artursouza opened #3273 "Support Actor reminder renaming"
## In what area(s)?

## Describe the feature
In addition to registering a reminder, also offer an API to rename reminders. This can make the migration easier when an app needs to change the reminder name but does not want to wait until existing reminder with the old name are all triggered.

## Release Note

RELEASE NOTE:

[2021-06-09 04:53] beiwei30 commented on #3258
I have a prototype on this, pls. assign

/assign @beiwei30

[2021-06-09 06:10] liamgib commented on #3128
Hi @yaron2, did you happen to find a workaround for Dapr in the meantime?
I was able to reproduce this on both Ubuntu and MacOs, thanks.

[2021-06-09 06:22] billpoole-mi commented on #3096
Does #3231 (bring your own proto) meet this requirement? If you're bringing your own proto, can you define/use streaming endpoints?

[2021-06-09 06:38] daixiang0 commented on #3272
I would like to take it if possible.

[2021-06-09 08:53] apuzyrevsky commented on #3265
@yaron2 Sure, will do that

[2021-06-09 13:04] RayneHwang opened #3276 "[Feature Request] PublishEvent API returns a response with concrete semantics and extensible metadata"
## In what area(s)?

/area runtime

## Describe the feature

### Background
Currently in Dapr API spec, [PublishEvent](https://github.com/dapr/dapr/blob/master/dapr/proto/runtime/v1/dapr.proto#L43) only returns an Empty. Such API design holds for CloudEvents because CloudEvents specification assumes that the event source (or more commonly referred as producer in messaging systems) should have all

[2021-06-09 17:37] AaronCrawfis commented on #3239
@dapr/maintainers-dapr can we look into adding a password to the Redis config ([article here](https://nickjanetakis.com/blog/docker-tip-27-setting-a-password-on-redis-without-a-custom-config)) and then add it to the statestore.yaml and pubsub.yaml configs?

[2021-06-10 00:04] wcs1only commented on #2914
Can you give an example of this? This should not be possible, and if it is I'm not sure your suggestion would fix/change anything, given that we only listen on localhost already.

[2021-06-10 00:24] yaron2 commented on #2988
@skyao I've reviewed the v2 proposal, this is much better for level 0, thanks for taking the changes into account.

Even though hot-reloading is now non-default, how do you feel about including it as an add-on after the initial PR that includes the level-0 feature list? The reason why I want that is to reduce the scope of features from the first iteration of a completely new building block.

[2021-06-10 01:01] wcs1only commented on #2914
Ok, I just tried this, and you're right this is totally allowed. I have some broken assumptions I need to track down.

[2021-06-10 04:08] seeflood commented on #2988
Some ideas for discussion:
## Let’s see if dynamic updates are supported, and if this is a common scenario.
There are actually two types of configuration: static configuration and dynamic configuration.
Static configuration refers to those very important technical parameters,which do not support hot reloading. If the configuration changes the server needs to be restarted;
Dynamic configuration is

[2021-06-10 05:35] artursouza commented on #2988
I like to change `version` to be a string. Now, I would keep the name `version` because we don't use the term `revision`, even when `version` is a string: https://github.com/dapr/dapr/blob/1cbf67f8a5da0bb5be4e3a123632c17ebb173f4e/dapr/proto/placement/v1/placement.proto#L22

Now, regarding filter - I would not add it to the dapr runtime API yet. Apps can easily filter on the app side. Also, the con

[2021-06-10 05:45] artursouza commented on #2914
Thanks Charlie for tracking this down. We must close this door.

[2021-06-10 05:53] #3240 closed

[2021-06-10 06:22] #2483 closed

[2021-06-10 07:02] artursouza commented on #3229
@CodeMonkeyLeet Please, update the reference to the updated image

[2021-06-10 07:06] artursouza commented on #3272
You would need to assume a private key exists in some secret in GitHub. It should be easy to verify with your fork but only maintainers will be able to validate in dapr/dapr repo (after merging).

[2021-06-10 07:35] #3258 closed

[2021-06-10 07:46] artursouza commented on #3176
The Redis configuration has a `consumerID` field. Set it to `{uuid}` and see if Redis behaves the same way as MQTT. https://docs.dapr.io/reference/components-reference/supported-pubsub/setup-redis-pubsub/

[2021-06-10 07:50] sora-kashiwagi commented on #2988
Hi,I am currently continuing to pay attention to the progress of the API, because our company want to implement it in our production environment. As a future user of this API, the current document schema may not meet our needs.
## Our scenarios
Please allow me to introduce our internal real needs here:
1. We have a need for dynamic configuration. For example, when a new feature is created on the w

[2021-06-10 08:29] daixiang0 opened #3280 "Support rebase rather than merge when pr not sync with master"
## In what area(s)?

 /area test-and-release

## Describe the feature

Now dapr repos setup each pr need sync with master, "update branch" or bot would do merge if not sync.
It would occur a pr cover too many un-related contributors like https://github.com/dapr/dapr/commit/74417d3be70c354cfe7647052f317f1cc1fec032.

Here is a long-time [discuss](https://github.com/isaacs/github/issues/88), now [a g

[2021-06-10 08:57] sora-kashiwagi commented on #2988
Hi,I am using redis as configuration center,and I read through your code but find a prefix being added to the key stored in redis  automatically:
![image](https://user-images.githubusercontent.com/85631276/121495029-d8761380-ca0b-11eb-9579-7a4f9fcab5a2.png)
We already have many keys in redis,so **how can we mitigrate our legacy system into this prefix schema**?
Of course,we can refactor the redis

[2021-06-10 09:14] marc-mueller commented on #3176
Hi Artur,

thanks for your feedback! I'm not sure if I understand this correctly. If I set the consumerID to {uuid} then all of the topics would be distributed to every instance, right? As I wrote, we have the requirement that i.e. Topic A and B do follow the competing consumer pattern but Topic C would be published to every instance. This is currently not possible within the same component, right

[2021-06-10 09:42] zcong1993 opened #3281 "Dapr runtime panic when handle Pub/Sub without CloudEvents status retry or drop"
## In what area(s)?

/area runtime

## What version of Dapr?

1.2.0

panic log

[code]

related source code:

https://github.com/dapr/dapr/blob/8e960e2632d435ccc4cf1cd1d2f8446784e0c39a/pkg/runtime/runtime.go#L1220

rawPayload not always have the `pubsub.IDField(id)` field

[2021-06-10 15:46] gunniwho commented on #2682
I'm having problems using dapr in conjunction with Argo Workflows where the daprd sidecar is not injected into the workflow pods created by Argo. It could be related to this issue... I'm getting this in the dapr-sidecar-injector logs:
[code]
The last line looks like the sidecar was successfully injected but it never is. The first line is also a little weird...

[2021-06-10 17:17] moonchanyong commented on #2167
I think the component-contrib should be merged to the 1.3 version before the test for a dependency.

[2021-06-10 18:24] wcs1only commented on #3228
Are you planning on doing a lot of accept() calls? SO_REUSEPORT is generally for processes with a lot of accept() calls, like loadbalancers, ingress controllers, etc. I'm really interested to hear about the scenario you are optimizing for?

[2021-06-10 23:20] msfussell opened #3283 "The metadata API needs to expose runtime information to enable tools to show components"
There is no way to get the list of components (or health information) on a running Dapr instance that can then be used in tooling such as the CLI, or Dashboard. This feature is to provide a list of components through the metadata API to that the CLI

works in self hosted mode and the Dapr dashboard https://github.com/dapr/dashboard/issues/135 and VS Code extensions can also show this information.

[2021-06-10 23:20] artursouza commented on #3167
Dapr is not designed to support multi-tenancy today. The scope for this issue is beyond just Actors. Dapr today is a cluster concern and not namespaced.

This is another related issue asking for namespace isolation in Dapr: https://github.com/dapr/dapr/issues/2865

[2021-06-11 00:41] daixiang0 commented on #3228
Dapr support host mode, without this it would not get benefit from multi-CPU.

[2021-06-11 01:34] wenxuwan commented on #2988
May be we need an ability to aggregate the scattered keys of the app into a document.

[2021-06-11 01:38] heyanwei opened #3284 "Can't receive the topic data with topic name '/robot/info/#'"
Dear sir,
If my topic use '#' such as '/robot/info/#', it will show errors when received some messages.

[code]
And the error will show

ERRO[0002] Failed processing MQTT message: /robot/info/1/6007: error returned from app while processing pub/sub event 504b29fb-98cd-40d0-990f-1495357446dc: rpc error: code = Unknown desc = pub/sub and topic combination not configured: mqtt-pubsub//robot/info/1  a

[2021-06-11 05:47] guangdashao commented on #3244
use the domain emsp.dev.anstee.com, config like :
nginx config
`server {
    listen       80;
    server_name  emsp.ansteel.qa emsp.dev.anstee.com;
    rewrite_log on;
   ....
location /security {
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        rewrite ^/security/(.*)$ /v1.0/invoke/

[2021-06-11 08:38] withinboredom commented on #3284
It may be that the SDK isn't url-encoding your topic names. If so, it's sending to the topic `/robot/info/` which probably doesn't work. Try `/robot/info/%23` and see if that goes to the right topic.

[2021-06-11 10:34] cmendible commented on #2914
Hi, what I attempt to suggest is a filter to verify that the caller is indeed inside the pod or an allowed list, which is different from the fact that Dapr listens on localhost.

[2021-06-11 10:38] issacg commented on #2483
Thank you! I know I haven't been able to be responsive as my day job had me busy, and haven't tried out the codespaces feature yet (because I'm *still* too busy :D) but wanted to say kudos for addressing it anyway 🙏🙏🙏

[2021-06-11 13:58] alvinhenrick commented on #3265
@yaron2 thank your for looking into this. Please assigning it to me.

[2021-06-11 14:19] davygeek opened #3285 "Discussion on the performance degradation caused by any.Any in InvokeService"
In our actual performance testing work, we found that the type of any. Any in the proto file will lead to performance degradation. The specific scenarios are as follows

**Scene 1:**
Dapr native SDK is used for testing, and the access link is
ForceBoot(Dapr-SDK-Client-Java) =>  Dapr  => Server

performance data
![image](https://user-images.githubusercontent.com/12783140/121698908-0be69a00-cb01-11e

[2021-06-11 16:18] CodeMonkeyLeet commented on #2483
@issacg you're welcome! If you do get the chance to try out [Codespaces](https://github.com/features/codespaces/signup) or just the updated devcontainer definition, let me know what you think of the experience!

[2021-06-11 16:34] #3229 closed

[2021-06-11 16:57] yaron2 commented on #2801
This is now fixed in Dapr 1.2: https://docs.dapr.io/developing-applications/building-blocks/pubsub/pubsub-raw/

[2021-06-11 16:57] #2801 closed

[2021-06-12 00:02] yaron2 commented on #3265
Assigned.

[2021-06-12 04:32] tianjipeng commented on #3079
Pr was merged，close this issue
https://github.com/dapr/dapr/pull/3270

[2021-06-12 04:32] #3079 closed

[2021-06-12 04:34] yaron2 commented on #3285
See this PR: https://github.com/dapr/dapr/pull/3277

This will allow you to use your own protos and would not require the use of Any.

[2021-06-12 07:02] davygeek commented on #3285
@yaron2 thanks

[2021-06-12 12:21] idrennanvmware commented on #3146
We have a pretty substantial investment in Nomad at the moment, and while K8s is on the roadmap the orchestrator of choice should be ideally abstracted away from the engineers writing services.

To me its just another layer in the abstraction.  The underlaying platform (Nomad, K8s, or even vms) provide the mechanism to run Dapr, the platform also provides the service (storage, state, etc) which th

[2021-06-12 20:56] Hynn01 opened #3286 "Cannot set up zipkin in k8s for dapr service following the tutorial"
## In what area(s)?
I followed the tutorial (https://docs.dapr.io/operations/monitoring/tracing/supported-tracing-backends/zipkin/) but I still can't set up zipkin in k8s for my dapr service. I have no idea why...

## Ask your question here

tracing.yaml
[code]

paymentservice.yaml
[code]

I run
[code]

and in the paymentservice's log I got

[code]

Does anyone know what I do wrong?
Or is there a

[2021-06-13 06:30] nobodyiam commented on #3276
This proposal will affect the current api a lot, but given the real world cases, I think it's worth to have a thorough discussion in the dapr community.

[2021-06-13 07:21] withinboredom commented on #3271
Personally, I'd like to see json vs. yaml since it's easier to generate, build an API around and you don't have to remember to quote certain things.

[2021-06-13 07:24] withinboredom commented on #3271
There's some prior art doing this with [Caddy](https://caddyserver.com/download) which may be useful.

[2021-06-13 08:48] CodingSinger opened #3287 "use dapr.io/enable-debug: "true" to debug dapr failed"
When I tried to debug dapr following the steps in the document [Doc address](https://docs.dapr.io/zh-hans/developing-applications/debugging/debug-k8s/debug-daprd/) the pod failed to start.

kubectl describe pod nodeapp-7659cb75f6-cf28b

[code]

Version Info:

[code]

[code]

[2021-06-13 10:30] Hynn01 commented on #3286
I'm able to remove zipkin from my application now, so the zipkin connection is no longer a issue. I will close this issue.

[2021-06-13 10:30] #3286 closed

[2021-06-13 20:16] #3231 closed

[2021-06-13 20:16] #3065 closed

[2021-06-13 20:16] #3096 closed

[2021-06-13 22:14] artursouza commented on #2914
Charlie is looking into that. If Dapr only listens to localhost and not exposed to other PODs, then the filter would be redundant.

[2021-06-13 22:57] artursouza commented on #2988
Hot reloading will be part of this first version - we had enough asks to justify it. Mainly for the feature switch. I like the description that @sora-kashiwagi mentioned about controlling which machine/host has which configuration version - that is the type of problem SREs run into because they need fine control over how the config changes are deployed. Now, the deployment concerns start to leak i

[2021-06-13 23:01] artursouza commented on #2988
Regarding document based config, it can support fine grained configuration too. Daprd can merge common config with more specific config into a single document. A key is just a "JSON path":

[code]

Apps can retrieve values with the following keys:
* `myapp.db.username`
* `myapp.db.password`

If there is a common config that adds or new values, it can just merge into a common document and there is

[2021-06-13 23:27] artursouza commented on #3220
@akkie I am fine with this. Is this only for Zeebe or for the Bindings API in general? Depending on your solution, we might need to see how the gRPC API would be impact. It is not always easy to map functionality  between gRPC and HTTP.

[2021-06-13 23:34] artursouza commented on #3176
With a single component, no. If you need different behavior, they need to be separate components in Dapr. Please, let me know if that works since this feature was validated with mqtt and would be good to see it working with Redis too.

[2021-06-14 06:03] rolfik commented on #3096
Thank You for the work.

Could You please fill in documentation with how to use this feature?
- Let us say when I want to use gRPC from .NET Core, what Dapr specific tasks should I do?
- Is there any limitation put on gRPC in Dapr?
- Can I use standard .NET Core gRPC client/server?

[2021-06-14 09:06] apuzyrevsky commented on #3265
@yaron2 Yaron, I am already working on that issue.

[2021-06-14 14:19] alvinhenrick commented on #3265
@apuzyrevsky @yaron2 I have already fixed the issue and was about send the pull requests.  Let me know whatever works.
https://github.com/alvinhenrick/dapr/tree/max-req-grpc-channel-issue-3265

[2021-06-14 14:43] WhoAteDaCake opened #3288 "Pod level app-max-concurrency settings"
## In what area(s)?

/area runtime

## Ask your question here

From what I understand `app-max-concurrency` is set up to work per deployment, is there an equivalent way of telling dapr not to send more than 1 message at a time when using pubsub **for each pod**? Or is that something, which is done automatically ?

Let's say I have topic **A**, subscribers **S1**, **S2** and producer **P1**. If eve

[2021-06-14 15:24] apuzyrevsky commented on #3265
Well, long response and you can lost your task 😅
@alvinhenrick It seems ok, I can do a review of your PR when you'll send it.

[2021-06-14 15:36] alvinhenrick commented on #3265
@apuzyrevsky Will do it now :) . Thanks

[2021-06-14 17:33] CodeMonkeyLeet commented on #2529
/assign

[2021-06-14 21:47] #2529 closed

[2021-06-14 22:32] #3263 closed

[2021-06-15 02:52] jakkaj commented on #2682
See this comment: https://github.com/dapr/dapr/pull/2828#issuecomment-800853220

[2021-06-15 03:21] daixiang0 commented on #3287
@artursouza `triaged/resolved` maybe mislead, `triaged/wait for resolved` is better I think

[2021-06-15 05:32] yaron2 commented on #3265
Thank yoi both :)

[2021-06-15 06:16] ItalyPaleAle commented on #2739
(I didn't read the entire conversation, forgive me if someone already wrote this)

I had the same issue: needed to store a value in store so it would be written only if the key didn't exist before.

I found this workaround:

[code]

(I am using MaxInt32 in case there are 32-bit integers anywhere)

This makes it succeed only if the key doesn't exist. There's clearly a limitation in the maximum numb

[2021-06-15 07:03] javageek79 opened #3294 "Can't create actor reminder due to "Request size is too large" error on azure cosmosdb"
## Expected Behavior

No error on registering actor reminder

## Actual Behavior

[code]

## Steps to Reproduce the Problem

Having many reminders for one actor type, so that actor-type document on cosmosdb statestore exceeds 2MB size.

## Release Note

RELEASE NOTE:

[2021-06-15 09:21] Amenocy opened #3291 "other transport layers"
Is there any plan for implement other transport layers for dapr like Kafka, nats ..., besides Grpc?
in my opinion, it would be nice and in Kafka for example, it is more reliable.

[2021-06-15 17:19] AaronCrawfis opened #5529 "Dapr should throw a warning when users provide plaintext credentials"
## Describe the feature
Dapr should throw an warning like `Warning: you are using plaintext credentials in your <component-name> component definition. You should be using secretRef references instead. Visit https://aka.ms/dapr/secretRef for more information.`

This will require:
- Ability to mark metadata fields as "secret", where it contains a password/certificate/token/etc.
- Warning when a meta

[2021-06-15 17:37] XavierGeerinck opened #3292 "Dapr - Workflow Manager through Actors"
In a recent community call, the idea of "Actor Workflow Managers" was shown. Personally, this is an area I have been looking more in-depth due to No-Code ideas. The idea here is to replace the [Node-RED](https://nodered.org/) ecosystem through Dapr and utilizing actors everywhere.

The main questions I have here, and I would love opinions on are:
* Would actors be sufficient so far? (Which feature

[2021-06-15 18:53] hirensharma opened #3293 "Dapr middleware doesn't work with PubSub"
Hi,

I am developing an App in .NET core, using Dapr Pub Sub component along with middleware.http.oauth2clientcredentials middle ware. For Pub Sub I am using Service Bus and for oauth, I am using Azure AD.

**The middle ware works well if I use daprclient to make an HTTP call to another service. However, it fails miserably with 401 when used with PubSub.**

Since the setup works with Service Disco

[2021-06-15 22:09] berndverst commented on #3294
Parent issue: #2889

[2021-06-15 22:21] mmisztal1980 commented on #2882
just watched the community call #40 about 1.3 - nice work.

Is there are roadmap of what's planned for:
- 1.4
- 1.5
- 1.6
?

[2021-06-16 01:02] Taction commented on #3288
Maybe you can try to set the concurrent mode for the pubsub component to see if that can solve your problem. For [rabbitmq](https://docs.dapr.io/reference/components-reference/supported-pubsub/setup-rabbitmq/) you can set `concurrencyMode` to `single`; and for [Redis Streams](https://docs.dapr.io/reference/components-reference/supported-pubsub/setup-redis-pubsub/) you can set `concurrency ` to `1`

[2021-06-16 02:43] daixiang0 commented on #3287
/assign

[2021-06-16 02:49] javageek79 opened #3295 "Long living requests to PUT /actors/{type}/{id}/method/{method}"
## Expected Behavior

Request times out after certain amount of time

## Actual Behavior

[code]
We have many requests on our environment takeing hours
![image](https://user-images.githubusercontent.com/3714921/122010152-1df36180-cdbb-11eb-8bd5-1f58b48dd9b0.png)

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2021-06-16 02:57] beiwei30 commented on #3287
I can investigate this further tomorrow. @daixiang0 You can go ahead if you are interested in this.

[2021-06-16 03:04] beiwei30 commented on #3287
@CodingSinger did you follow the instruction https://docs.dapr.io/zh-hans/developing-applications/debugging/debug-k8s/debug-dapr-services/ to rebuild binaries and docker images?

[2021-06-16 03:06] sora-kashiwagi commented on #2988
Thanks a lot! Hot reloading and rollout deployment are really helpful !

[2021-06-16 04:07] seeflood commented on #2988
## What if there are too many common configurations
Yep, the document model can merge private configuration and public configuration into a single document, but the problem is that the public configuration of the entire company might be too large, and an app may only want to use some of the keys, and don’t want all the configuration items returned every time it is inquired.
So how does the app tel

[2021-06-16 05:21] daixiang0 commented on #3287
Root cause is that images from dockerhub do not support debug, if do not build, it would crash into error.

I have tested twice at local, one without build and fail, one with build and succeed.

[2021-06-16 05:42] CodingSinger commented on #3287
i follow the instruction to build docker images success.  But when I deployed on minikube,  reported an error “runAsUser container has runAsNonRoot and image has non-numeric user (root)”

[2021-06-16 06:31] akkie commented on #3220
@artursouza It's a generell solution, not only for Zeebe. My proposal was to only add the response message as string to the error for certain content types like json, text, xml an also to limit the length of the response message.

But now it seems that a standard error response/structure over both HTTP and gRPC, as @pkedy mentioned in an email conversation, would be a better approach. This is defi

[2021-06-16 06:38] daixiang0 commented on #3287
@CodingSinger yep, I have met it too, you can update charts as pr shows.

[2021-06-16 07:54] kshitijcode commented on #2801
@yaron2 : This issue is still reproducible on 1.2.
The Dapr Sidecar still goes into a panic state if we are expecting a cloud event but a non CE is received.

`panic: interface conversion: interface {} is nil, not string

goroutine 3137 [running]:
github.com/dapr/dapr/pkg/runtime.(*DaprRuntime).publishMessageHTTP(0xc0004bfd40, 0x3d9b968, 0xc000060038, 0xc000d38280, 0x38e3201, 0xc000d38280)
/home/r

[2021-06-16 09:19] CodingSinger commented on #3287
i pick this pr, but error is still there.

[2021-06-16 10:42] sandipsmahajan opened #3298 "Sidecar is not injecting in Azure AKS"
=

## What version of Dapr?

## Actual Behavior

The sidecar must be inject in the pod through the deployment in the Azure AKS.

Following YAML we used to deploy:

---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: eventengine
  name: eventengine
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eventengine
  template:
    metadata:
      annotations:
        daprio/ap

[2021-06-16 11:32] WhoAteDaCake commented on #3288
That would set it globally, wouldn't it? My problem is that some services can handle a lot concurrent requests, but others can't, so setting it to 1 for all of them, I would be slowing the whole system down

[2021-06-16 11:49] kshitijcode commented on #2801
@yaron2 : Is there a way in Dapr 1.2 through which we handle unexpected non CE event while processing CloudEvents?

We tried Dapr 1.2 with metdata.rawpayload as value true while subscribing. We are using .NET 5 Dapr SDK.  Dapr 1.1 used to automatically unwrap the payload to the CloudEvent object in .NET.
But with the 1.2 release, converts the payload into a byte array and wraps it inside another c

[2021-06-16 17:11] CodeMonkeyLeet commented on #3293
@hirensharma Are you encountering the same issues as being discussed in https://github.com/dapr/components-contrib/issues/938?

[2021-06-16 17:49] hirensharma commented on #3293
@CodeMonkeyLeet Thanks for responding. My issue is different. I am able to configure the OAuth Middleware (I found the documentation to be satisfactory).
I tried it with PubSub and Service Discovery but it worked only in case of Service Discovery. In case of PubSub, no jwt-token was injected in the header.

[2021-06-16 18:02] CodeMonkeyLeet commented on #3268
@juaby Is there a particular performance concern that you're seeing with Dapr that you'd like addressed? Given my limited understanding of Thrift, there doesn't seem to be a clear performance benefit to using Thrift. Particularly given the demand to support streaming connections (that gRPC supports natively via HTTP/2, but Thrift does not), it seems like it would be a challenge to have Dapr's feat

[2021-06-16 19:20] AaronCrawfis opened #3301 "Add `POST` endpoint to secrets API to store secrets in secret store"
## In what area(s)?

/area runtime

## Describe the feature

The secrets API should allow users to store new secrets and update existing secrets using a `POST` request. This will allow Dapr applications to not only read secrets, but also securely store and manage secrets in a Dapr secret store.

This unlocks new uses for the secrets API, where applications can use secret stores to save and get sec

[2021-06-16 20:35] yaron2 commented on #3301
We looked into this in the past and received fierce feedback against this feature, since this opens Dapr to mutate an organizations secrets if compromised.

Similar projects that fetch and sync secrets for developers to be able to consume them, such as the Azure Key Vault CSI driver, take the same approach and work in a one way direction and does not allow to change secrets.

[2021-06-16 20:37] AaronCrawfis commented on #3301
Can we make it be "opt in", where only GET is enabled by default and if a user wants to add/update secrets they can enable the POST endpoint on a component-by-component basis within the component definition?

[2021-06-16 20:44] yaron2 commented on #3301
Inserting secrets is not a main runtime application concern. Secrets are usually handled by ops/infrastructure and the applications consume them when deployed to get started.

The scenario where an app would mutate secrets as part of it's business logic during runtime seems very niche, and I'm not sure that having this enabled, even if off by default, is worth the attack surface it can potentially

[2021-06-16 20:48] tanvigour commented on #3295
/assign

[2021-06-16 20:49] tanvigour commented on #2953
/assign

[2021-06-16 21:14] yaron2 commented on #3301
@AaronCrawfis I'm closing this for now, we can re-open if needed and I see you've already opened the CLI issue.

[2021-06-16 21:14] #3301 closed

[2021-06-16 21:39] yaron2 opened #3304 "Container order change clashes with readiness probes"
The [PR](https://github.com/dapr/dapr/pull/3150) to make Dapr the first container in the pod causes a regression in cases where apps have readiness probes and has Dapr waiting for the app to respond on a given port.

This causes Dapr to detect the app is running only when the failure threshold of the user app is met.

[2021-06-16 22:21] yaron2 commented on #3304
Closed via https://github.com/dapr/dapr/pull/3300.

[2021-06-16 22:21] #3304 closed

[2021-06-17 01:30] alexdresko commented on #3169
Organization/Company: Myself
Website: https://www.alexdresko.com
Country: USA
Contact: me@alexdresko.com
Usage scenario: Budget and spending analysis tool. First microservicesy thing.

[2021-06-17 02:25] deepziyu commented on #2984
approach discuss at  [App container unable to connect to network before sidecar is fully running](https://github.com/istio/istio/issues/11130)

[2021-06-17 03:04] yaron2 commented on #2988
@skyao any thoughts regarding the latest comments?

[2021-06-17 03:52] artursouza commented on #3298
I see that you are using a custom registry. Does the pod have permission to download from the registry? Does the error persist if you use our published image directly?

[2021-06-17 03:55] artursouza commented on #3292
@pkedy you have some thoughts about the workflow area.

[2021-06-17 04:47] artursouza opened #3311 "Run E2E tests on Amazon EKS"
## In what area(s)?

## Describe the proposal
Run E2E tests not only on Azure, but also on Amazon EKS on Linux and Windows nodes.

[2021-06-17 04:50] artursouza opened #3312 "Run E2E tests on GKE"
## In what area(s)?

/area test-and-release
## Describe the proposal
`/ok-to-test` runs E2E tests only on Azure. It should also run on Google Kubernetes Engine, on Linux and Windows nodes.

[2021-06-17 04:59] artursouza opened #3313 "Automate Release Process"
## In what area(s)?

/area test-and-release
## Describe the proposal

Today, releasing Dapr requires the work of multiple people across multiple days (about 1 week). Automation should reduce the number of manual steps to a minimal.

Opportunities for automation in RC stage:
* Update helm chart for dapr/dapr
* Generate RCs for contrib, dapr, CLIs
* Validate RC installation and upgrade
* Release RCs

[2021-06-17 05:03] artursouza opened #3314 "Reduce E2E run on AKS from 60 min to 30 min and enforce it as PR entry gate"
## In what area(s)?

/area test-and-release
## Describe the proposal

Reduce E2E run on AKS from 60 min to 30 min and enforce it as PR entry gate.

Potential areas to reduce time to run:
* Build of apps on Linux and Windows
* Wait time for a public IP
* Increase parallelism

[2021-06-17 05:08] artursouza opened #3315 "Run perf tests within 30 min and add perf test to PR entry gate"
## In what area(s)?

/area test-and-release
## Describe the proposal

Run perf tests within 30 min and add perf test to PR entry gate.

Potential areas to reduce time on perf test:
* Increase number of clusters available for perf
* Build time for test apps
* Add parallelism since all tests are running sequentially right now

Which additional tests are needed to make it a PR entry gate?
* Time for

[2021-06-17 05:53] artursouza opened #3316 "Test Dashboard"
## In what area(s)?

 /area test-and-release
## Describe the proposal

Create a one stop shop dashboard to present the following information:
* Unit test code coverage on master branch for dapr/dapr, dapr/components-contrib, dapr/cli
* Health dashboard for long running test app
* E2E test results from master branch on AKS and any other cloud provider
* Contrib's conformance test results
* Perf tes

[2021-06-17 06:45] daixiang0 commented on #3313
What does "Remove the RC prefix in all repos" mean? Is it RC tag?

[2021-06-17 07:26] daixiang0 commented on #3287
cannot reproduce it at local, @beiwei30 please help look, I guess #3296 may fix.

[2021-06-17 13:07] stefanJ-hub opened #3317 "Pub/Sub - exponential backoff for RETRY (AzureServiceBus)"
## In what area(s)?

/area runtime

## Describe the feature

We use Dapr for Pub/Sub. The underlying event infrastructure is AzureServiceBus.
In order to ensure proper event consumption our consumers might place an Event back into the topic with RETRY. (e.g. when a third party service necessary for proper consumption ("business logic") was not available)
(see also https://docs.dapr.io/developing-a

[2021-06-17 13:19] Banchio opened #3318 "Use custom component (or custom version of existing component) in Kubernetes"
## In what area(s)?
Not sure about the area

## Ask your question here
I made a pull request for a component and I was able to test it locally using the contribution guideline.
Is there a way to test such "beta version" in a kubernetes cluster? I'm wondering if there is a way to generate my own dapr sidecar image (with the custom built daprd), load it on my ACR and then inject it by changing sidec

[2021-06-17 15:26] apuzyrevsky opened #3319 "Pass ReadBufferSize argument to fasthttp server and grpc server"
## Describe the proposal
fasthttp server ReadBufferSize argument limits the maximum header size, by default this argument is set for 4KB
We are using bigger than default 4KB size headers in our solution, so we need to pass that particular option.

I've already got these code changes and am ready to contribute if you approve them, although I depend on this issue: https://github.com/dapr/dapr/issues

[2021-06-17 16:34] artursouza commented on #2988
Just to clarify, I am not proposing to store a configuration document on multiple keys. It is one key to reference the document and everything else in the document is referred by a key path.

[2021-06-18 01:17] daixiang0 opened #3320 "Unify markdown style"
## In what area(s)?

 /area docs
 /area test-and-release

## Describe the proposal

The Markdown markup language is designed to be easy to read, write, and understand. It succeeds - and its flexibility is both a benefit and a drawback. Many styles are possible, so formatting can be inconsistent. Some constructs don't work well in all parsers and should be avoided.

Since we have lots of markdown f

[2021-06-18 02:03] berndverst commented on #3149
@javageek79 can we close this issue? Everything appears to be working as intended.

[2021-06-18 04:57] artursouza commented on #3317
@stefanJ-hub Thanks for creating this issue. We have prioritized configurable retries across Dapr for the next 6 months. This issue should be covered as part of https://github.com/dapr/dapr/issues/1820

[2021-06-18 04:57] #3317 closed

[2021-06-18 06:36] artursouza commented on #2739
Did you try setting CONCURRENCY_FIRST_WRITE ? Which database did you use?

[2021-06-18 06:42] artursouza commented on #3280
I am fine to support the rebase command from maintainers only. The rebase will reset any approvals, so it is better if done by maintainers only, so they can approve the PR again right away.

[2021-06-18 06:43] artursouza commented on #3280
@yaron2 concerns here?

[2021-06-18 06:45] daixiang0 commented on #3280
I think rebase command should from author as well, of course it support config callers.

[2021-06-18 06:47] daixiang0 commented on #3320
/cc @yaron2 @artursouza

[2021-06-18 07:10] artursouza commented on #3293
The OAuth middleware is not designed to provide authentication to Azure resources in Dapr, it is used to enable the token to be available in service invocation methods in the app. See sample here: https://github.com/dapr/samples/tree/master/middleware-clientcredentials

If you need to authenticate with PubSub without using connection string, then we need to add support to managed identities for th

[2021-06-18 07:12] artursouza commented on #3320
@daixiang0 I am OK to add another linter to the project. I honestly think we have other work items with higher priority, especially when we consider all the markdown files to be impacted by this change across all dapr repositories. I would encourage to help address other issues in higher priority before adding lint to markdown files.

@yaron2 @wcs1only thoughts?

[2021-06-18 07:21] artursouza commented on #3280
Supporting author is OK too - although authors can do it directly from their git repo anyway.

[2021-06-18 07:23] artursouza commented on #3313
it is the RC "suffix" - I fixed the description. It is because we label the releases with vX.Y.Z-RC.W and when we release, it must be vX.Y.Z - so, yes, it is the tag.

[2021-06-18 07:24] daixiang0 commented on #3320
Of course issues in high priority like P1 would be fixed first, it is why mark them as P1.

[2021-06-18 07:28] daixiang0 commented on #3313
I still some RC tag from github UI.

btw, use tag rather than branch would be complex when backport, it need update all the time.

[2021-06-18 07:33] artursouza commented on #3096
@rolfik The only difference is that the client will need to add an extra metadata information so Dapr can redirect the call to the right daprd instance based on the app id.