[2022-03-23 08:21] shubham1172 commented on #4218
After the PR:
(1 is CLI, 1 is GUI, 1 is Dapr)
![image](https://user-images.githubusercontent.com/22132944/159654703-6d2ea00d-2982-4bd5-bd70-38dea1275120.png)

[2022-03-23 11:19] abhishek-galoda opened #4415 "EKS - Failed to get authentication uids from services accounts Get \"https://10.100.0.1:443/api/v1/namespaces/kube-system/serviceaccounts/replicaset-controller\": context deadline exceeded""
## In what area(s)?

 /area runtime

 /area operator

 /area placement

## What version of Dapr?

1.5.1

## Expected Behavior

When we Install DAPR using  helm charts, the installation should happen without any errors.

` helm install dapr-helm dapr\ --namespace dapr-system`

## Actual Behavior

PS: We are not using dapr-dashboard

On EKS, When we use HELM Charts for DAPR 1.5.1 we are getting the

[2022-03-23 13:08] #3488 closed

[2022-03-23 15:00] IvanILanekassen opened #4416 "Publish to service bus fails with i/o timeout after a couple of ms and requires pod restart"
## In what area(s)?

/area runtime

## What version of Dapr?

1.6.0

## Expected Behavior

Publish operations should work flawlessly

## Actual Behavior

Some pods suddenly get into a "defunct" state when it comes to publishing messages (other pods publish messages to the same topics at the same time without any problems). The error message is on the form: `time="2022-03-16T11:37:43.267942204Z" le

[2022-03-23 15:46] itsoli91 opened #4417 "Is it possible (or a good practice) to use Dapr actors' reminder for scheduling tasks?"
I want a method of my app to get called every 10 minutes (asp.net core). I already know that there is a Cron binding in Dapr that can do this for me, but if we have multiple instances of an app then the binding is going to be called for all instances ( if I'm wrong just let me know please?)
I want to ask, is it possible to use Dapr actors' reminder to achieve the same functionality? If it is possi

[2022-03-23 16:27] Seanxwy opened #4418 "Aliyun Windows Server 2019 unable to run dapr"
Aliyun Windows Server 2019 unable to run dapr

docker: failed to register layer: failed to start service utility VM (applydiff 88e57cc977280a42ef93829fad29a6ffbe1be1320278764f77575546056c1800): container 88e57cc977280a42ef93829fad29a6ffbe1be1320278764f77575546056c1800_svm encountered an error during CreateContainer: failure in a Windows system call: The virtual machine could not be started because

[2022-03-23 16:29] berndverst commented on #4209
/assign

[2022-03-23 16:37] amulyavarote commented on #4413
**Release blocking issues:(P0)**

https://github.com/dapr/components-contrib/issues/1355
https://github.com/dapr/dapr/issues/4218
https://github.com/dapr/cli/issues/726

[2022-03-23 19:19] berndverst commented on #4209
@rogerex @jamuro77 what are the values you are sending for `ScheduledEnqueueTimeUtc`?

The value must be of this format or otherwise it will be treated like an empty string:

TimeFormat is the time format to use when generating times in HTTP headers. It is like time.RFC1123 but hard-codes GMT as the time zone.

Are you sure sending the string in this format? By default most SDKs wouldn't necessari

[2022-03-23 19:42] rogerex commented on #4209
Thanks, now it works
`          var queryParams = new Dictionary<string, string>
            {
                {"metadata.ScheduledEnqueueTimeUtc", (DateTime.UtcNow + delay).ToString("R")}
            };`

[2022-03-23 21:05] techgeek03 opened #4419 "When actor reminders are used single actor instance is assigned on two pods in kubernetes"
## In what area(s)?

/area runtime

/area operator

/area placement

## What version of Dapr?

1.6.0

## Expected Behavior

When actor reminders are used single actor instance should only be placed in one pod in kubernetes.

## Actual Behavior

When actor has reminder configured; under certain circumstances; single actor instance can be placed on two pods. Obviously this brakes the actor pattern a

[2022-03-23 23:03] yaron2 commented on #4419
cc @jjcollinge

[2022-03-24 04:56] mukundansundar commented on #3909
I agree providing common metadata keys in SDKs as constants would be better.

[2022-03-24 04:58] anobleperson commented on #4168
@yaron2 I have the same issue as @xendren, unless I make a Role and RoleBinding Cluster wide, I get the error about forbidden. I note that in the example you sent that the role bindings are ClusterRole and ClusterRoleBinding. We're interested in Namespace scoped Roles and RoleBindings.  I've attached two sample yaml's to indicate what works and what gives the error. I'm sure I shouldn't have to gi

[2022-03-24 05:16] mukundansundar commented on #4413
P0 for Java SDK https://github.com/dapr/java-sdk/issues/712

[2022-03-24 05:54] mukundansundar commented on #4413
needs to be merged for easier CLI bootstrapping for query API Redis --- https://github.com/dapr/dapr/pull/4411

[2022-03-24 07:30] pravinpushkar commented on #4413
https://github.com/dapr/cli/pull/929
It needs to be merged after merging #4411. See above comment

[2022-03-24 08:18] mukundansundar commented on #4418
@Seanxwy This seems to be an error log from docker, are you able to run other `docker` commands and pull down and run images normally ?
Also what version of CLI are you using and what version of runtime are you trying to initialise ?

[2022-03-24 11:42] #4417 closed

[2022-03-24 14:32] jjcollinge commented on #4419
Can confirm this is a reproducible bug - thanks for the sample @techgeek03 - just trying to narrow down the cause.

[2022-03-24 16:00] EPinci opened #4422 "Istio startup delay hangs daprd sidecar"
## In what area(s)?

/area runtime

## What version of Dapr?

We have a v1.22.2 AKS cluster with:
- istio v1.10 deployed
- dapr v1.6 with mTLS disabled

## Expected Behavior

darpd sidecar startup happening fine or keep retrying.

## Actual Behavior

When a pod with both istio and dapr injection starts, istio has an init-pod that locks the traffic, then traffic is allowed back as configured only w

[2022-03-24 16:26] yaron2 commented on #4422
Thanks for reporting @EPinci, we'll retry more aggressively on connecting to the operator in 1.8 (issue triaged).

Regardless, I think we have enough information on Dapr + Istio behaviors now to have a dedicated section for it in the docs.

[2022-03-24 16:59] jjcollinge commented on #4419
@techgeek03 if you have time, could you verify whether the fix in https://github.com/dapr/dapr/pull/4421 works for you please?

[2022-03-24 17:08] yaron2 commented on #4218
@63hogan hot-reloading of components is actually not an intended feature, and more of a bug at the moment.

The expected behavior is to perform a rolling update of your deployments after a change to a component. As such, we will be preventing the in-place updates in this release and introduce hot-reload (properly, with a feature flag) in the next release (1.8).

[2022-03-24 19:36] IvanILanekassen opened #4423 "Disable service bus subscription (and potentially other errors?) will stop message processing in Dapr sidecar and needs pod restart to resume"
## In what area(s)?
/area runtime
## What version of Dapr?
1.6.0
## Expected Behavior
Intermittent service bus errors should not stop Dapr message processing
## Actual Behavior
We discovered this issue when disabling the service bus subscription to stop message processing. We immediately get errors in the dapr side car on the form:
[code]
And after only 1 minute and 20 seconds we get this error:
[

[2022-03-24 20:58] techgeek03 commented on #4419
@jjcollinge Thank you very much. Looks like a simple fix 👍 I will test with #4421 and confirm.

[2022-03-24 21:44] jeffhollan commented on #3169
Organization/Company: Microsoft
Website: https://microsoft.com
Country: USA
Contact: jehollan@microsoft.com
Usage scenario: Use Dapr to build our application platform like Azure Container Apps
Status: Production

[2022-03-25 00:50] ItalyPaleAle commented on #4418
Two things:

1. Looks like you're trying to use Dapr for Linux on Windows Server. Is there a reason why you want to use the Linux bits on top of Windows? We publish Dapr for Windows too, including Docker containers for Windows 2019.
2. If you do need to use the Linux containers, they require virtualizing a Linux environment, and on a VM like on Aliyun it requires support for nested virtualization.

[2022-03-25 08:09] skyao opened #4426 "[m1 support]Improve go build in dockerfile to support build docker images on m1 macbook"
## In what area(s)?

 /area test-and-release

## What version of Dapr?

master

## Expected Behavior

Develop on m1 macbook (mac + arm64), update code and build/push docker images to docker hub. Then run e2e tests and performance in k8s (linux + amd64) for test before commit the code to github.

The images should work on k8s (linux + amd64).

## Actual Behavior

The images for performance test don

[2022-03-25 11:07] calvin2021y commented on #4346
Very disappointed with this project.

go-sdk update slow, after 2 weeks no once care to response for basic question.

[2022-03-25 11:33] techgeek03 commented on #4419
I used the edge build of dapr and the fix is working as expected! 👍  Thank you very much for this quick response!

[2022-03-25 11:49] pravinpushkar commented on #4413
Needs to be merged in cli -
https://github.com/dapr/cli/pull/930
https://github.com/dapr/cli/pull/931

[2022-03-25 12:04] ls-2018 opened #4427 "github action fail"
Need someone to fix it.

![image](https://user-images.githubusercontent.com/38821215/160117497-1a68b714-325b-4f06-9baa-a37136ec99bf.png)

[2022-03-25 15:46] safanaj opened #4428 "Issuer filenames configurable via options"
/area runtime
/area sentry

## Describe the feature
Currently the path for the dapr-trust-bundle secret, used by sentry to issuing certs are set as constants:
https://github.com/dapr/dapr/blob/4cf499448ef6ee87c83db6a11b84e83237e92665/pkg/credentials/certchain.go#L7

This don't play well for integration with other CA/certificates managers like cert-manager, and the k8s standard way to layout TLS ce

[2022-03-25 16:23] yaron2 commented on #4346
Apologies @calvin2021y, for the past 2 weeks we've been mostly busy with the 1.7 release. Our Discord server is also useful to get eyes on a problem from the larger community.

Regarding your issue, I see the log messages for the components being discovered, but not loaded. This makes me suspect one of the components might be failing the others for some reason. Can you remove all components except

[2022-03-25 16:24] yaron2 commented on #3713
/keep-alive

[2022-03-25 16:39] amulyavarote commented on #4413
1 round of e2e tests and 1 round of performance tests

[2022-03-25 16:42] ItalyPaleAle commented on #4426
I think this would only partially solve the issues, as no all test apps are written in Go. Some are in Java, .NET, Python, etc, and building those dockerfiles requires other steps besides building Go code.

A more complete solution would be to change how the E2E test apps are built and use Docker Buildx instead of the "regular" Docker Build. Then make sure that QEMU is installed if we need to cros

[2022-03-25 16:42] amulyavarote commented on #4413
We need this before the release
https://github.com/dapr/dapr/pull/4425

[2022-03-25 16:48] ItalyPaleAle commented on #4427
Will be fixed by #4425

We currently have an issue with the Azure subscription where our tests were running on.

[2022-03-25 18:28] #3914 closed

[2022-03-25 18:52] yaron2 commented on #4195
That would be great 👍

[2022-03-25 23:30] #4427 closed

[2022-03-26 08:29] Seanxwy commented on #4418
@ItalyPaleAle   Can dapr be deployed based on Windows containers?There is no related description in the document.Can build deployment be done entirely based on Windows containers?

[2022-03-26 12:53] Seanxwy commented on #4418
@ItalyPaleAle  Windows Server 2019 with Docker installed.You need a Linux container to install dapr.Windows containers are not supported
![1648299123(1)](https://user-images.githubusercontent.com/15828095/160240296-ff542616-1f15-4e5e-b366-e08f0165284d.png)

[2022-03-26 15:26] ItalyPaleAle commented on #4418
Yes, there are windows server 2019 containers. See here: https://docs.dapr.io/operations/hosting/kubernetes/kubernetes-hybrid-clusters/

Docker images are here: https://hub.docker.com/layers/dapr/daprio/dapr/latest/images/sha256-ef2fa7ef389025a9627c9c61a06a244bbd8da39e77f016a69f931dabccbc0ef6?context=explore

Note that you need to install Docker for windows too: https://docs.microsoft.com/en-us/vi

[2022-03-27 11:47] Seanxwy commented on #4418
Must be deployed based on kubernetes to use windows containers?
If you use docker swarm cluster deployment, you can't use windows container? There is no plan to use kubernetes for the time being. What should I do?

[2022-03-27 14:54] skyao commented on #1787
I checked Service Invocation http test case and find that in current design we heavily depends on fortio, as shown in this picture:

<img width="1394" alt="1" src="https://user-images.githubusercontent.com/1582369/160286459-8966c946-ac6c-49ad-bc65-c92c1542fb3e.png">

Fortio is OK to support http1.1, but the support of gRPC in fortio is very very limited: fortio only support standard health and bui

[2022-03-27 15:00] yaron2 commented on #1787
@skyao the performance test should not use a particular SDK, as we need to establish a baseline. This is a Dapr runtime performance test and not a Go SDK performance test. Any tests that involve SDKs should be added to the SDK repository

[2022-03-27 15:02] yaron2 commented on #1787
In addition, for service to service calls we are actually discouraging use of SDKs. For gRPC, users need to use the gRPC proxying feature, which doesn't involve an SDK.

[2022-03-27 16:05] ItalyPaleAle commented on #4418
You can use Swarm on windows: https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/swarm-mode

[2022-03-27 16:08] skyao commented on #1787
hi, Yaron, I have a different idea about this point: since we provide SDK and these SDK projects are important parts of dapr, and in fact many customer will use SDK in their code, I think the SDK should be a part of dapr end-to-end call chain. And the most important is that dapr project should guarantee and verify the performance of these SDK.

Of cause, we can call current perf test as "Dapr runt

[2022-03-27 16:13] yaron2 commented on #1787
SDK performance tests can be covered in their respective repositories. For the service invocation tests, there is no SDK involved anyway.

Regardless, we should add performance tests for other building blocks such as state, pub/sub etc.

[2022-03-27 16:21] skyao commented on #1787
OK. Since the SDK should not involved in current perf test, then proposal 1 should be picked.

![](https://user-images.githubusercontent.com/1582369/160286669-b2e99e94-8f14-406e-86d4-f2626692bdd4.png)

And for other building blocks such as state, pub/sub, binding, secrets,  should we test them via http or gRPC ? Or both?

[2022-03-28 02:35] shubham1172 opened #4432 "Prevent component updates for k8s"
Hot reloading for components is currently unsupported and is planned to be implemented and shipped by v1.8. As discussed in #4218, the k8s components updates were buggy and should be disabled till the hot-reloading feature is completed (for both k8s and standalone).

Till then, in-place component updates should be prevented.

[2022-03-28 06:28] dengyangxi opened #4434 "Whether distributed transaction module can be provided for dapr."
Whether distributed transaction module can be provided for dapr.  ?
TCC

Similar: Saga  ,  Seata

[2022-03-28 09:41] shubham1172 commented on #4413
@amulyavarote can you please add another line to the list of validations - Validate Dapr CLI on Windows, and assign it to me?

[2022-03-28 11:14] badsyntax commented on #978
@jjcollinge does telepresence actually work with dapr? see https://github.com/telepresenceio/telepresence/issues/2215

[2022-03-28 17:28] yaron2 commented on #4415
@amirmm11 have you ever experienced something like this?

[2022-03-28 17:28] yaron2 commented on #4415
@abhishek-galoda is this a vanilla cluster? are you running any type of CNI, service mesh or other software on top of your cluster?

[2022-03-29 01:24] yaron2 commented on #4152
@shubham1172 did you end up taking a look at this?

[2022-03-29 02:21] shubham1172 commented on #4152
No @yaron2, but I can track this going forward. Well, this looks like the root cause https://github.com/apache/rocketmq-client-go/issues/678

[2022-03-29 02:22] shubham1172 commented on #4152
/assign

[2022-03-29 02:29] adxpcc opened #4441 "Failed to listen on [::1]:50001 with error: listen tcp [::1]:50001. what dose 50001 port and 3500 port do?"
dapr 1.6

Hi  I followd  official documentation :
https://docs.dapr.io/operations/hosting/kubernetes/kubernetes-overview/
deployd  in my k8s.

In my case  the pods is ok
[root@master dapr-test]# kubectl  get pod -ndotnet
NAME                             READY   STATUS    RESTARTS   AGE
backend-http-874d7f6cf-rlqng     2/2     Running   0          13m
frontend-http-6b58764856-gcfpp   2/2     Runnin

[2022-03-29 02:35] yaron2 commented on #4441
It's ok to see this, it just means Dapr failed to bind the ports on IPv6. You can ignore these warnings.

[2022-03-29 02:37] a121984376 commented on #4441
Thinks

[2022-03-29 03:26] skyao commented on #4426
Agree with you to bring a complete solution.

But before we achieve this target, can we do some small fix to improve the development experiences on m1 macbook? From my point, I use m1 macbook for daily work.

This PR is just fix somewhere, and I have verified only for perf test (including java and golang code to build docker images). Now I can code for the perf test on my m1 macbook and build the

[2022-03-29 04:17] ItalyPaleAle commented on #4426
I think I'd rather just do it right first.

I spent a couple of hours this afternoon updating the dev container so it can work on ARM64. It's almost done and I just need to test a few things. That way, inside the dev container you'll be running ARM code natively and all apps will be built for ARM. Just give me a couple more days :)

In the meanwhile, what I normally do in these cases when I need t

[2022-03-29 07:54] trondhindenes commented on #4415
We're running dapr using the official helm chart on EKS and have not discovered this. So at least it's not a "global" issue affecting all EKS installations.

[2022-03-29 10:19] skyao commented on #4426
I have tried something similar on my m1 macbook. Docker and k8s (run in docker desktop) work well, but dapr need some arm64 images, for example redis for arm64. Another problem is that helm doesn't support to install redis arm64.

Waiting your update.

[2022-03-29 11:43] mukundansundar commented on #4413
https://github.com/dapr/cli/pull/903

[2022-03-29 12:40] #4346 closed

[2022-03-29 13:34] ankitkgcs opened #4443 "Dapr liveness and readiness probe failed in AKS"
## In what area(s)?

## What version of Dapr?

## Expected Behavior
Dapr liveness and readiness probe should pass.

## Actual Behavior
Dapr liveness and readiness probe failed.

## Steps to Reproduce the Problem
Provision a container in AKS that has a Dapr side-car.
Run the following command.
`kubectl describe pod <pod_name> -n <namespace>`

![image](https://user-images.githubusercontent.com/36360

[2022-03-29 14:13] yaron2 commented on #4415
Thanks for the validation!

[2022-03-29 15:57] stg609 commented on #1444
what if i need a pod affinity ?  can i make use of the istio consistent hash

[2022-03-29 16:50] #4221 closed, assigned to nobody

[2022-03-29 16:55] msfussell commented on #3940
#4328

[2022-03-29 17:03] msfussell commented on #3586
Closed. Phase 1 work complete

[2022-03-29 17:09] msfussell commented on #4218
#4433 PR closes this

[2022-03-29 17:09] #4218 closed

[2022-03-29 17:18] msfussell commented on #4229
This feature is going to be deprecated in the v1.8 release.

[2022-03-29 17:18] #4229 closed

[2022-03-29 17:21] halspang opened #4445 "Mark Actor Reminder Rename API Deprecated"
## In what area(s)?
/area runtime

## Describe the proposal
This feature was added in v1.6 without much oversight. Community discussion has shown that we don't feel this API is really needed so we should mark it as deprecated in v1.8.

Opening this issue to facilitate a communication channel for anyone who has opinions on this feature/API.

RELEASE NOTE: Deprecation notice of Actor Reminder's Rena

[2022-03-29 17:21] halspang commented on #4229
https://github.com/dapr/dapr/issues/4445

[2022-03-29 18:56] halspang commented on #4044
So basically we're saying that the issue is re-opened because whatever was done for it didn't actually accomplish the issue's goal? I think the person re-opening the issue would be responsible. However, I don't see a ton of cases where this happens that it would invalidate the previous release notes where we could launch without either fixing it or reverting the offending commit.

[2022-03-29 18:57] berndverst commented on #4044
I'd be happy to try this in Contrib and Python SDK (as a maintainer for those). Step one would be to update the `Contributing.md` if present, and then to consistently enforce this with approvers and maintainers.

[2022-03-29 18:58] halspang commented on #4044
Contrib is an interesting one to offer as it has a lot of community traction. I can also do it for .NET :)

[2022-03-29 19:04] ItalyPaleAle opened #4447 "E2E tests: move the "test controller" to a container within the Kubernetes cluster itself"
## In what area(s)?

/area test-and-release

## Describe the proposal

Currently, E2E tests are designed to be executed by a "test controller" app that runs "locally" (in the case of the GitHub Action, that means within the Actions runner itself). This "test controller" communicates with the K8s cluster to create new apps, then connects to the apps to verify their behavior.

When the tests run on

[2022-03-29 19:10] artursouza commented on #4447
I am supportive of running the test code from within the AKS cluster itself. My only concern would be if that can be achieved without moving the GitHub Actions Runner entirely too.

[2022-03-29 19:11] ItalyPaleAle commented on #4447
Yes, not moving the Actions Runner (that is, not needing to create self-hosted ones) is a requirement.

[2022-03-29 19:19] timoknapp commented on #4301
Hi @artursouza , @daixiang0 ,

I recently noticed a weird behavior with Dapr. Why is it, that Dapr sets a default Content-Type header of "text/plain;charset=UTF-8" whenever the Content-Type header has not been set by the outgoing request? I am getting weird errors of my upstream services when performing outbound GET requests, which do  not consist of a Content-Type header.
Is there any way of tell

[2022-03-29 20:21] halspang commented on #4044
@berndverst - If we have them write the changelog manually, it could just include a link to their issue/PR. Should achieve the same thing, yeah?

[2022-03-29 20:28] ItalyPaleAle commented on #4447
My hope is that given that this would make less network calls and less frequently, it should be more stable.

If the runner couldn't even make a single call to deploy a pod, and then another one to retrieve the results, that would be really bad

[2022-03-29 20:53] halspang opened #4449 "Revisit Dapr Built-in Retry to Resiliency Migration"
## In what area(s)?

 /area runtime

## Describe the proposal
With Resiliency coming out as a preview feature in 1.7, we need to start looking at ways to migrate from the existing retries in Dapr to using just Resiliency. With the preview feature, they'll exist side-by-side which will cause more retries than intended.

This was attempted here: https://github.com/dapr/dapr/pull/4407 but we found it

[2022-03-30 03:04] shubham1172 commented on #4218
@msfussell, #4433 closed #4432, which turns off component updates. However this bug still remains open. It should be fixed before we turn on components updates again. Can you please reopen the issue?

[2022-03-30 03:32] CrazyHZM commented on #4292
Resolved at https://github.com/dapr/dapr/pull/4334

[2022-03-30 03:32] #4292 closed

[2022-03-30 03:46] #4112 closed

[2022-03-30 07:38] vanthoainguyen commented on #4233
The Outbox pattern problem statement is this 👇

If DAPr implements the pattern the question will be **where it stores the message**?
It can store the message in it's [State Store](https://docs.dapr.io/developing-applications/building-blocks/state-management/state-management-overview/) which might be a different db type from the application db.
Hopefully you have a distributed transaction on differ

[2022-03-30 10:04] wimvc1 commented on #4443
Do you have an `/healthz` endpoint?
Docs: https://docs.dapr.io/developing-applications/building-blocks/observability/sidecar-health/

[2022-03-30 11:50] techgeek03 opened #4451 "When actor is executing long running operation single instance of the actor is executing two actor methods in parallel in two different pods"
## In what area(s)?

/area runtime

/area operator

/area placement

## What version of Dapr?

1.6.0
edge

## Expected Behavior

1. When actor is executing long running operation the runtime should block subsequent call on that actor.
2. The Dapr sidecar should respect the dapr.io/graceful-shutdown-seconds defined time and still accept requests from the main application

## Actual Behavior

When a

[2022-03-30 11:52] Seanxwy commented on #4418
Pretty tedious, hope to enhance the Windows ecosystem application

[2022-03-30 15:29] jjcollinge commented on #4233
A simplistic approach to getting reliable database updates and messages might just be to use the Dapr pubsub abstraction on a DB where a record is written to the data table and an event entry is written to an events table in a single transaction on publish - and subscribers simply consume the events using an offset in the DB to get subscription semantics (with ack, nack, etc.). This approach does

[2022-03-30 16:01] mukundansundar commented on #4413
CLI issues to close on :
- [ ] https://github.com/dapr/cli/issues/937
- [ ] https://github.com/dapr/cli/issues/938
- [ ] https://github.com/dapr/cli/issues/939

[2022-03-30 16:40] amulyavarote commented on #4413
Next P0 issues to track:
https://github.com/dapr/dapr/issues/4451

[2022-03-30 16:45] halspang opened #4454 "Circuit Breaker open state not handled correctly for service invocation"
## In what area(s)?

/area runtime

## What version of Dapr?

edge

## Expected Behavior
When a circuit breaker is open, we should get a 500 back stating the error.

## Actual Behavior
We get a 200 with no indication of the circuit breaker working other than the application not getting called.

## Steps to Reproduce the Problem
Create a resiliency policy with circuit breaking and assign it to a se

[2022-03-30 16:45] halspang commented on #4413
Resiliency fix: https://github.com/dapr/dapr/issues/4454

[2022-03-30 17:07] timoknapp commented on #4301
@yaron2  - Alright, keep me posted on when it will be fixed.

[2022-03-30 18:17] techgeek03 commented on #4451
Thank you for the answers @yaron2 Let me try to answer your questions:

I can confirm this happens even with delays of 5-10sec. The reason why is 60s is because it is easier to reproduce and see the problem. I was usually testing with 5 sec delay. But I think that this problem can happen even in shorter time intervals if the conditions are right :)

Yes true;  however for some operations; such as

[2022-03-30 18:47] yaron2 commented on #4451
@techgeek03 we pushed a possible fix for the double activation issue into `master` branch, and this is now available on the `edge` version. Please re-pull (make sure your Docker pull policy is Always) and confirm if this solves the issue.

[2022-03-30 19:54] artursouza commented on #4451
LGTM. I am mostly concerned about how to have E2E test to certify these.

[2022-03-30 21:16] amulyavarote opened #4457 "Actor samples are not working in dotnet-sdk"
The way actors report their errors in the runtime has changed.

## In what area(s)?

## What version of Dapr?

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2022-03-30 21:17] amulyavarote commented on #4457
@halspang The issue is created for the actor samples in dotnet-sdk. Can you please add the description here?

[2022-03-30 21:23] halspang commented on #4457
The reason this is happening is .NET actors communicate errors with a header instead of sending failing requests. The SDK handles the error internally by inspecting for that header. With resiliency, we made that error a real error (so we could retry on it). It seems like .NET didn't like that so I'll fix the issue to no longer return an error after the retry loop.

Thanks for finding this @amulyav

[2022-03-30 21:23] msfussell commented on #3761
Reopen

[2022-03-30 21:27] yaron2 commented on #4457
@halspang Discord seems to be down, can you join a short call with me?

[2022-03-30 21:28] halspang commented on #4457
@yaron2 - Sure can.

[2022-03-30 21:30] yaron2 commented on #4457
@halspang https://meet.google.com/qbe-eehz-yfc

[2022-03-31 01:26] daixiang0 commented on #4390
We should unify them.

[2022-03-31 03:13] daixiang0 commented on #4390
Is it an epic task? Not familiar with it.

[2022-03-31 03:27] 1046102779 commented on #4390
<img width="1616" alt="image" src="https://user-images.githubusercontent.com/20457624/160970258-763d0bb7-5d16-4544-9bd4-e3726f5ecdcd.png">
<img width="1158" alt="image" src="https://user-images.githubusercontent.com/20457624/160970356-204f03d8-074b-454c-9afa-bb1d08ed73df.png">
Internally,  I changed it to Opentelemetry implementation, which is very easy to use and super convenient

[2022-03-31 03:58] daixiang0 commented on #4390
Could provide a proposal about implementing it?

[2022-03-31 03:59] 1046102779 commented on #4390
Ok, i try it.

[2022-03-31 05:56] mickdelaney commented on #3084
Any idea when this could be discussed again ? I’m looking at a new greenfield project and this has come up again in relation to Kafka.

[2022-03-31 06:02] yaron2 commented on #3084
We currently only support an oldest/newest offset setting with the initialOffset metadata param: https://docs.dapr.io/reference/components-reference/supported-pubsub/setup-apache-kafka/#spec-metadata-fields.

It should be fairly simple to add a custom offset value. I'm moving this issue to the contrib repository.

[2022-03-31 09:26] sergiibielskyi opened #4459 "Querying the state does not work in Azure Containers App"
Hi team,
I am trying to find the solution to how to get results from state storage by using a specific query, not just getting item by id. I found a good explanation here https://docs.dapr.io/developing-applications/building-blocks/state-management/howto-state-query-api/. And I prepared method to use query state.

CancellationTokenSource source = new CancellationTokenSource();
CancellationToken ca

[2022-03-31 09:40] sergiibielskyi commented on #4459
Update. Found an error into app logs
Dapr.DaprException: Query state operation failed: the Dapr endpointed indicated a failure.
See InnerException for details.  ---> Grpc.Core.RpcException: Status(StatusCode="Unknown",
Detail="cannot proxy request: missing dapr-app-id metadata")
at Dapr.Client.DaprClientGrpc.QueryStateAsync[TValue](String storeName, String jsonQuery,
 IReadOnlyDictionary`2 metadat

[2022-03-31 10:33] Banchio commented on #4122
reactivating issue because I think it is important to have such a configuration. @yaron2 what do you think about this?

[2022-03-31 11:12] vinz6751 commented on #4057
Can you tell what the problem was please ? (I have the same problem)

[2022-03-31 11:55] techgeek03 commented on #4451
I tested with latest 'edge' image and it looks like the actor is still executing two methods in parallel as in the described case.

[2022-03-31 12:31] #4041 closed

[2022-03-31 14:35] DeepanshuA commented on #3533
I further verified, this issue seems to be fixed by https://github.com/dapr/components-contrib/pull/1498/commits/e4ad31d36cc28fd3b0c0c97e6d416ed24819e546.
I reverted this commit and got an issue while running actor-reminder-partition tests. Though, it is not same as what Artur received as per previous comment, but it fails. Seems record is not getting saved properly, so while going to delete, it i

[2022-03-31 15:34] Sound-Snows opened #4460 "dapr init appear,How to solve?"
![image](https://user-images.githubusercontent.com/51314287/161093561-1062c195-caae-436e-a8a5-49d4edaaf7f9.png)

[2022-03-31 16:07] thielepaul opened #4461 "PubSub wildcard supscriptions do not work with grpc"
## In what area(s)?

/area runtime

## What version of Dapr?

edge: v1.5.1-rc.3-551-g36a7c440

## Expected Behavior

When I subscribe to a wildcard (or shared subscription) topic over grpc, I want to receive the messages.

## Actual Behavior

I receive the error from the go-sdk:
[code]
also see: https://github.com/dapr/go-sdk/blob/main/service/grpc/topic.go#L87

This may seem like a problem with t

[2022-03-31 16:15] torosent commented on #4459
Hi @sergiibielskyi , Can you reference this issue here https://github.com/microsoft/azure-container-apps/issues?
We will take a look.

[2022-03-31 16:27] yaron2 commented on #4459
Thanks @sergiibielskyi, closing this as this belongs to the container apps GitHub repository.

[2022-03-31 16:27] #4459 closed

[2022-03-31 16:28] yaron2 commented on #4461
@thielepaul can you try to reproduce this with gRPC directly (not through the SDK)?

[2022-03-31 16:35] rogerex commented on #4270
In my case, pod dapr is not been injected when dapr gets a restart (not sure if it was a restart, pod was still in place), but I got these logs from dapr sidecar injector
`time="2022-03-31T13:05:46.228940756Z" level=info msg="AdmissionReview for Kind=/v1, Kind=Pod, Namespace=ingress-system Name= () UID=8219638e-ea13-480b-adb4-f28126f148ed patchOperation=CREATE UserInfo={system:serviceaccount:kube-

[2022-03-31 16:39] abhishek-galoda commented on #4415
Found the issue was with N/W Polices. By default, it was deny all (Calico Policies) changed it to relevant policies.

[2022-03-31 16:42] thielepaul commented on #4461
without the sdk I could write a custom topic-to-callback matcher. So this would be a workaround but not really a solution.

This would mean that the sdk would need to understand mqtt wildcard/shared-subscription rules, as the topic could also be "hello/+/world" or "$share/GROUPID/TOPIC"

adding the original topic as well as the actual one to the message sent to the app could help though.

[2022-03-31 16:46] yaron2 commented on #4461
Correct, we don't have a global wildcard identifier so this is a no-go.

I'll look into sending this as part of the metadata.

[2022-03-31 16:47] thielepaul commented on #4461
I guess the `topic` variable could be passed to `publishFunc` here: https://github.com/dapr/dapr/blob/36a7c4400a1551c8cf0eea3bd8b07bebc827b0c3/pkg/runtime/runtime.go#L624

[2022-03-31 17:23] thielepaul commented on #4461
I think it would be even more flexible to add an id field to the subscription which is then  included in the data sent to the app. I think this would be especially helpful when using declarative subscriptions with gRPC

[2022-03-31 18:37] sergiibielskyi commented on #4459
did not find. Thanks.

[2022-03-31 22:35] yaron2 commented on #4461
@thielepaul I've discussed this with other maintainers, and we've decided to [fix this in the Go-SDK](https://github.com/dapr/go-sdk/pull/271) for now (without needing to know any component specific wildcard semantics).

This is because:

1. The majority of SDKs do not abstract the gRPC subscriber method, and so the Go-SDK is "special" in that regards. So this is not an issue for HTTP subscribers,

[2022-04-01 06:06] thielepaul commented on #4461
Yes, that sounds reasonable!
Thank you!

[2022-04-01 06:09] yaron2 commented on #4461
You can try the master branch of the Go SDK and set DisableTopicValidation to true and the subscription struct.

[2022-04-01 07:12] thielepaul commented on #4461
I just tried it and it works fine :)
Currently we only have a single subscription per microservice to this solves it for our usecase

[2022-04-01 09:05] #4460 closed

[2022-04-01 10:53] yaron2 commented on #4451
@techgeek03 I sent you several test images on Discord.

[2022-04-01 11:30] apurba-biswas-9 opened #4465 "Dapr integration with Azure Notification Hub"
We are developing cloud-agnostic services using Dapr. We have to implement push notifications that support cloud-agnostic but right now the only option we have is Apple Push Notifications (APN) in Dapr. Any plans to integrate Azure and AWS Push Notification?

[2022-04-01 12:20] anmalkov commented on #3565
@fanfanbj Thanks for that. Do you have an estimation when it can be done?

[2022-04-01 15:41] ChristianWeyer commented on #4170
Do you already have an idea when we could see a release @amulyavarote? Thanks!

[2022-04-01 16:19] #4454 closed

[2022-04-01 16:48] amulyavarote commented on #4170
We are targeting coming week.

[2022-04-02 14:14] #3793 closed

[2022-04-03 16:09] techgeek03 commented on #3169
Organization/Company: Nexi Group - Relay
Website: https://www.nexigroup.com/
Country: Norway, Sweden, Denmark
Contact: [gordan.jandreoski@nexigroup.com](mailto:gordan.jandreoski@nexigroup.com)
Usage scenario: High throughput payment processing gateway, where Dapr actors are at the core of the processing platform. Event driven architecture, with distributed services (micro services).
Status: Develo

[2022-04-03 16:18] techgeek03 commented on #4451
Thank you @yaron2 It was pleasure working with you on this issue

[2022-04-04 05:22] #4457 closed

[2022-04-04 06:29] IvanILanekassen commented on #4416
Hi again,

Any news here? We just got the exact same issue in production,

[2022-04-04 12:37] IvanILanekassen commented on #4416
As another observation, we do not see any of the errors from this code line: https://github.com/dapr/components-contrib/blob/ec5fda587ba8d54d28bbc8487dc2ed652b38b5ee/pubsub/azure/servicebus/servicebus.go#L395 (or from line 397). Moreover, we are not able to find the error message "error when publish to topic..." that we observe in our logs in the dapr-components code base (or in the dapr code base

[2022-04-04 15:15] itsoli91 opened #4468 "Support defining a component on runtime"
Hi,

Imagine I have defined a CRON Binding, how can I updated the CRON expression dynamically from my app?
Is it possible to change configuration of components on runtime?
My App Calls an API of sidecar --> define a component for itself.

[2022-04-04 16:24] ItalyPaleAle commented on #4468
Are you running on Kuberentes? One option could be to invoke the K8s APIs to change the component definition

[2022-04-04 16:39] artursouza opened #4469 "Fix handling of content-type header in service invocation"
Issue created from https://github.com/dapr/dapr/issues/4301#issuecomment-1082278188

From @timoknapp

=======================================================================

Hi @artursouza , @daixiang0 ,

I recently noticed a weird behavior with Dapr. Why is it, that Dapr sets a default Content-Type header of "text/plain;charset=UTF-8" whenever the Content-Type header has not been set by the outg

[2022-04-04 17:30] itsoli91 commented on #4468
Currently just using docker-compose for development, but soon we will use k8s for production.
But my question is more general: Is Dapr going to have this feature in future?

Just consider this example

Currently to setup cron binding we create a component of type bindings.cron like below and put this file inside k8s or inside a components folder beside docker-compose file:

[code]

But what I need

[2022-04-04 17:31] kwehden commented on #3169
**Organization/Company:** IBM Research Accelerated Discovery
**Website:** https://research.ibm.com/science
**Country:** United States of America
**Contact:** [karl.wehden@ibm.com](mailto:karl.wehden@ibm.com)
**Usage scenario:** Using DAPR to orchestrate simulations, hypothesis generation, knowledge management and telemetry across scientific discovery workflows on novel compute resources, including

[2022-04-04 17:40] ItalyPaleAle commented on #4468
Your proposal is something that our Steering Technical Committee would have to decide on. I see the value in what you're asking, but there are many things to consider IMHO and it could come with some additional security concerns.

For your specific use case, perhaps we could suggest some other workarounds? For example have a service that is invoked (via cron) every 1 minute, and that service is th

[2022-04-04 18:22] itsoli91 commented on #4468
Yes, I understand.These kind of requests need many security checks. I think if Dapr considers these components private to each service and not accessible from other services/sidecars then security challenges will be less.

Thank you. Currently we are checking different approaches and one of them is what you suggested, however there some other tools out the like [Hangfire ](https://www.hangfire.io/

[2022-04-04 19:55] GFlisch opened #4471 "Subscription is not working on IIS Express"
## Expected Behavior

We have a test project sending an event via a pubsub component and receiving the message back via a subscription. The start of the daprd is handled by Man Sidekick AspNetCore.
Everything is working well when running the service with Kestrel.
We want to have the same behavior when running the service via IIS Express.

## Actual Behavior

When we run the same application with I

[2022-04-04 20:36] yaron2 commented on #4471
Can you pull out the `daprd` logs when running under IIS Express? I'm pretty sure this is a port issue which prevents Dapr from either init or sending the message to the subscriber.

[2022-04-05 02:08] prashanthbhattc opened #4474 "app id is case sensitive"
when we are using http client  the app id is case sensitive for example if i give my app id as  MyBackEnd the second url wont work
1.http://localhost:50001/v1.0/invoke/MyBackEnd/method/WeatherForecast
2.http://localhost:50001/v1.0/invoke/mybackend/method/WeatherForecast

[2022-04-05 04:07] ls-2018 commented on #4474
The registered application ID must be the same as the application ID specified during the invocation

[2022-04-05 06:04] GFlisch commented on #4471
Hi @yaron2 , I have added the log when running with IIS Express

For me the Daprd port is the good one.
C:\Users\web\.dapr\bin\daprd.exe with arguments '--app-id daprdemo --app-port 44360 --app-ssl --dapr-grpc-port 50001 --dapr-http-port 3500 --log-as-json --log-level debug --metrics-port 9090 --placement-host-address 127.0.0.1:6050 --components-path C:\Prj\DaprDemo\DaprDemo\bin\Debug\net5.0\compo

[2022-04-05 09:58] prashanthbhattc commented on #4474
The registered application ID must be the same as the application ID specified during the invocation but its case sensitive

[2022-04-05 10:50] shubham1172 commented on #4152
This issue has been fixed with the latest prelease by https://github.com/apache/rocketmq-client-go/issues/678. Here is a small example, the latest version does not cause any jump in go-routines.

### Baseline

[code]

[code]

### RocketMQ v2.1.0

[code]

[code]

[code]

### RocketMQ v2.1.1-rc2

[code]

Same code as above.

[code]

However, the latest version is still a pre-release - v2.1.1-rc2. Gi

[2022-04-05 11:12] IvanILanekassen commented on #4416
Hi again,

This problem creates lots of issues for us in production.

We have done some more research, and we have some findings:
- Dapr is using dapr/components-contrib
- dapr-components-contrib is using github.com/Azure/azure-service-bus-go v0.10.10
- azure-service-bus-go is deprecated (Azure/azure-sdk-for-go should be used instead).
- I suppose a migration to the new SDK might need a lot of wor

[2022-04-05 11:25] IvanILanekassen commented on #4416
@yaron2 Can you assist us here? We are not that proficient in Go, so I think we need some assistance in creating an updated version of components-contrib using the latest azure-service-bus-go library.

[2022-04-05 13:16] thielepaul commented on #4461
@yaron2  I just realized that the same problem exists with the python-sdk: https://github.com/dapr/python-sdk/pull/381

[2022-04-05 13:42] yaron2 commented on #4461
For this one you'll need to switch to native gRPC for the time being as we don't have time to get it into the 1.7 ver of the SDK..

[2022-04-05 14:27] ewassef opened #4475 "Proposal: HTTP Pipeline isn't executed in service-to-service invocation"
## In what area(s)?

  /area runtime

## What version of Dapr?

## Expected Behavior

If I am setting an HTTP pipeline in a configuration and the service is an HTTP service. I expect the svc-to-svc invocation to go through this pipeline. This seems to be omitted due to the grpc channel used for the execution. This should invoke the local appchannel AFTER the grpc pipeline to keep the functionality

[2022-04-05 22:21] rogerex commented on #4031
I have this issue too, I'm not understanding very well the issue, I didn't know either that dapr client was using grpc options
but I can reproduce the issue doing load testing, in my case I'm using my own client calling a http client `new Uri($"http://localhost:3500/v1.0/publish/{DaprComponentsConstants.ComponentPubSubName}/{topic}" + queryUrlParams);` due to custom cloud event properties
The erro

[2022-04-05 22:24] rogerex commented on #4416
Now we are 2 having this issue, we found this issue with dapr feature flag on in prod, we disabled it to avoid this issue, but we were able to reproduce it in load tests in test envs, which is good, not expert in components-contrib or go, but I can take a look, because we really want to solve this issue and use dapr for prod

[2022-04-05 22:54] yaron2 commented on #4416
Looking into it. cc @berndverst @ItalyPaleAle @halspang

[2022-04-05 23:02] ItalyPaleAle commented on #4416
Thanks for the ping and sorry you're experiencing these issues.

Updating the SDK to the new (internally called "track2") one is in the roadmap but because it's a complete rewrite, we haven't gotten to that yet (but we will). However, because it's a complete rewrite, while it's possible that it may fix your issues, it may introduce new ones as well that we can't foresee, so it will need to be done

[2022-04-05 23:04] halspang commented on #4416
We've done this in the past and found regressions. This is actually why the longhauls have a ASB test in them at all.

I have a PoC for the track2 SDK but it had a bug in it that I wasn't able to track down/haven't had time to revisit. Perhaps that time is coming up quickly :)

[2022-04-05 23:08] yaron2 commented on #4416
@ItalyPaleAle I looked at all the updates since our current version, and there have been multiple commits addressing reliability issues.

[2022-04-05 23:20] yaron2 commented on #4416
What feature flag were you using in conjunction with the Azure Service Bus pub/sub component?

[2022-04-05 23:22] ItalyPaleAle commented on #4416
@rogerex you mentioned being able to repro this in dev. Are you able to try with the 1.7 RC build and see if that makes any improvements please?

[2022-04-05 23:24] rogerex commented on #4416
sure I can take a look at it, I will let you know the results

[2022-04-06 03:01] skyao commented on #1787
To support gRPC perf test with Fortio, I have to fork fortio to add support for dapr project.

The background is that:

- in fortio, there are only two call supported in grpc: standard health check and fortio build-in echo server
- to support other grpc call, the related golang code generated by the proto must be provided to fortio for code compiling.
- I think fortio won't accept us PR to add dap

[2022-04-06 03:33] barrricade opened #4480 "Run dapr command has got stuck"
## Ask your question here
Run `dapr list` has been stuck
![image](https://user-images.githubusercontent.com/26743428/161889496-f84510c9-55c0-4514-a6b5-fe0b2144ee1d.png)
And other dapr command
![image](https://user-images.githubusercontent.com/26743428/161889662-0ddef2ab-d77c-469a-8ec0-b8c5d371f154.png)
## What i want
I have multiple services running，and they  are working fine.But i cant run new se

[2022-04-06 03:35] artursouza commented on #3533
Closing issue since @DeepanshuA confirmed it has been fixed in 1.7

[2022-04-06 03:35] #3533 closed

[2022-04-06 04:25] #4469 closed

[2022-04-06 07:05] BhargavaM91 commented on #4386
@shubham1172 thank you for your response, It is solved now. the issue is the path from where I am testing the curl command is wrong. After changing the path it's working,

[2022-04-06 07:05] #4386 closed

[2022-04-06 07:09] skyao commented on #4426
I have tried two solutions to work with my m1 macbook, the background is that I want to coding on m1 macbook, and build images to do test without committing these code changes to github. I don't want to commit untest code to github at that time.

The first solution is to run k8s in m1: I tried with docker desktop, I almost succeed except that there's no arm64 redis images (perhaps also for mongodb

[2022-04-06 08:24] IvanILanekassen commented on #4416
We observe that the logs from dapr-components are not coming to stdout in the Dapr sidecar. Is it possible to turn this log "on"? We would like to see the logs from this line: https://github.com/dapr/components-contrib/blob/1a24c8c546777b48039ef58ee2a8fcd75003f694/pubsub/azure/servicebus/servicebus.go#L395 (and also line 397).

As a sidenote, we also observe that the logging done in this line shou

[2022-04-06 09:33] #4480 closed

[2022-04-06 14:32] yaron2 commented on #4152
Let's bring this back in 1.8.

[2022-04-06 16:44] R-Lamberson commented on #4031
I am reopening this item as we still see this issue in our environments (production and development) and while adding the grpc options seems to help this still occurs and causing support issues to manage resending of messages.   Very similar logging associated to what @rogerex  reported above with regards to the underlying failure being an i/o timeout.

[2022-04-06 18:27] berndverst commented on #4475
Sidecar to Sidecar communication is always done via gRPC.

You have to choice whether to call your sidecar with gRPC or HTTP, but for sidecar to sidecar communication it is gRPC only.

[2022-04-06 20:19] rogerex commented on #4416
So far, using 1.7 RC runtime and sdk dotnet we didn't find the issue anymore in our tests, but we will keep doing load tests this week, just let you know that we are in good path

[2022-04-06 20:35] ewassef commented on #4475
@berndverst pls take a look at the repo above. This is using the sample from the dapr.io website and a service calling another service that has an HTTP Pipeline configured.

[2022-04-07 00:14] yaron2 commented on #1787
@skyao I'm ok with forking Fortio. Regardless, if you think that we can contribute gRPC support to Fortio upstream (without any Dapr specifics) I think that'll be really valuable.

[2022-04-07 05:00] amulyavarote commented on #4413
Pending P0s:
https://github.com/dapr/dapr/pull/4491

[2022-04-07 05:42] skyao commented on #4426
After talking with @ItalyPaleAle , I decided to close this PR since this solution only fixes the golang app.

 @ItalyPaleAle is trying to build cross-platform Docker images using Docker Buildx.

[2022-04-07 05:42] #4426 closed

[2022-04-07 07:36] safanaj commented on #4428
Hi @daixiang0 , sorry for the delay, yes of course I am interested into have this implemented, are you asking for a patch proposal?

[2022-04-07 09:29] trondhindenes commented on #4317
nice! I'd be happy to do some testing once there's some commits on this. We have a lot of test code for simulating slow-moving message processors so I'd be interested in running this tests with this new functionality.

[2022-04-07 11:33] IvanILanekassen commented on #4416
@ItalyPaleAle Ref the comment above, has there been any changes to the SDK version in version 1.7 RC?

Also, we have another interesting finding from our issue in production; We have always had "a hunch" that all subsequent publishes from the pod will fail after this issue occurs, but we have not had 100% proof of this since we have not seen any logs on "successful publish". We have now added such

[2022-04-07 14:19] GFlisch commented on #4471
Hi @yaron2, if you want the DaprDemo project updated with the log (when you are running it on IIS) I can share it.

Thanks for your help.

[2022-04-07 18:19] b26 commented on #3169
Organization/Company: Vizzn
Website: http://www.vizzn.ca/
Country: Canada
Contact: [bosman@vizzn.ca](mailto:bosman@vizzn.ca)
Usage scenario: currently using dapr to run our microservices. so far its awesome.
Status: In Production

[2022-04-07 20:09] rogerex commented on #4416
Today so far we didn't find the timeout error anymore on logs, but we found another logs like:
`time="2022-04-07T19:49:41.63877994Z" level=debug msg="{ERR_PUBSUB_PUBLISH_MESSAGE error when publish to topic dapr_xyz in pubsub pub-sub--xyz: EOF}" app_id=ir instance=abc-deployment-845c67f55f-8qx2p scope=dapr.runtime.http type=log ver=1.7.0-rc.1`
and
`time="2022-04-07T19:48:56.56004794Z" level=debug m

[2022-04-07 21:13] artursouza opened #4495 "Parallelize steps in KinD E2E workflow"
All the steps for Kind E2E are now sequentially and are taking a long time (about 37 minutes). Since these run on every PR, we could expedite time to merge approved PRs by reducing the overall time for these runs.

[2022-04-07 21:28] ItalyPaleAle commented on #4495
/assign

[2022-04-08 01:09] ItalyPaleAle opened #4497 "Publish base test images, e.g. for Java and Python test apps"
## In what area(s)?

/area test-and-release

## Describe the feature

Currently, as part of our test pipelines (E2E and perf), we are building Docker images for every test app. Most images are quick to build, but the [Java](https://github.com/dapr/dapr/blob/master/tests/apps/actorjava/Dockerfile) and Python ones can take many minutes each.

Additionally, @skyao reported issues trying to cross-comp

[2022-04-08 01:09] ItalyPaleAle commented on #4497
/assign

[2022-04-08 07:11] gormal commented on #501
Any update on this? It's not part of Milestone 1.8?

[2022-04-08 15:41] ankitkgcs commented on #4443
Tested by adding `/healthz` endpoint but still the Dapr liveness and readiness probes are failing.
[code]
![image](https://user-images.githubusercontent.com/36360842/162475946-60338805-bb8e-4ccc-8579-57222b2601fa.png)

[2022-04-08 16:21] yaron2 commented on #1787
@skyao can you please run the tests with unix domain socket and report the results?

you basically set up a path with this annotation: `dapr.io/unix-domain-socket-path`.

[2022-04-08 22:47] #4170 closed

[2022-04-08 23:14] cgillum opened #4500 "Unbounded backlog of Actor reminder notifications when app becomes unresponsive"
## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior

If an actor has subscribed to a recurring reminder and becomes unresponsive for a period of time, after it becomes responsive again, Dapr should deliver a single reminder to the actor and only then resume its normal recurrence schedule.

## Actual Behavior

If an actor has subscribed to a recurring reminder and bec

[2022-04-08 23:33] ItalyPaleAle commented on #4495
@artursouza I've looked into this but I'm afraid that this can't be optimized much with parallelization. The different KinD clusters are already running in parallel so that can't be improved much.

What could be done here, however, is increasing the use of caching. The second-longest task is building e2e test images, which could presumably be cached extensively. This is also connected to #4497

[2022-04-09 02:23] 1046102779 opened #4501 "Proposal: Response Status Code Conversion Specification for different protocol"
gRPC: https://github.com/grpc/grpc-go/blob/master/codes/codes.go#L195
http: https://en.wikipedia.org/wiki/List_of_HTTP_status_codes

The incoming and outgoing traffic is exchanged on the protocol, because Dapr provides a standard API, so the protocol  is common, but there is no standard to support the exchange of response status code. The problem this brings is:

The HTTP 200 return code, obtained

[2022-04-09 14:58] yaron2 commented on #4471
Thanks, will take a look and respond soon

[2022-04-09 15:36] skyao commented on #1787
Fortio supports gRPC now. The limitation is that to do gRPC call, the generated code from proto file is required and this will cause hard couple.

Now all the code I added in fortio are dapr related......

[2022-04-09 15:38] skyao commented on #1787
OK. I can add a test case to use unit domain socket before tester app and daprd.

[2022-04-10 06:22] 1046102779 opened #4504 "Is the Configuration SubscribeConfigurationAlpha1 Design reasonable?"
https://github.com/dapr/dapr/blob/master/dapr/proto/runtime/v1/dapr.proto#L93

[code]

The design of this SubscribeConfiguration is a little strange. Why should it be designed in the Dapr API and not in the MicroLogic AppCallback API?

https://github.com/dapr/dapr/blob/master/dapr/proto/runtime/v1/appcallback.proto#L29

Although it supports streaming, if it is a language that does not support stre

[2022-04-10 10:38] skyao opened #4506 "Add performance test for state and pubsub"
## In what area(s)?

/area runtime

## Describe the feature

Dapr currently only has a performance test for actor and service invocation.

This issue is to add perf test for state. The protocol will be gRPC.

![Selection_001](https://user-images.githubusercontent.com/1582369/162614018-5489aa66-9710-4ea9-b9a2-4bd5741d7816.png)

There are some tasks for this issue:

![Selection_003](https://user-ima

[2022-04-11 01:05] LukePammant commented on #2765
Hey, it's me again. I havnt worked on the project since hitting this road block last year. I've decided to pick it back up and I'm still getting the same error. I've updated dapr runtime and SDK but still hitting the error when running in kubernetes.

 Are there any tools or additional logging that has been added to actors that might help me get to the bottom of this?

[2022-04-11 08:38] ermaugustinas opened #4507 "Flooding of `csr validation failed` requests"
## In what area(s)?

/area operator

## What version of Dapr?

## Expected Behavior

dapr-sentry to allow for token validations

## Actual Behavior

Sentry gets flooded with:

[code]

Causing throttling to occur and pods can't establish mTLS causing processing to stall.

## Steps to Reproduce the Problem

I'm not quite sure, I'm trying to understand the possible causes for this, where could I star

[2022-04-11 09:44] 1046102779 commented on #4504
My understanding of the API currently has three categories:
  - AppCallback API (MicroLogic Inbound)
- ServiceInvocation API (internal RPC)
- Dapr API (Sidecar Inbound)

Now the `SubscribeConfiguration` method is placed in the Dapr API, which feels unreasonable, or I don't understand the Dapr API clearly.

[2022-04-11 09:44] 1046102779 commented on #4504
/cc @yaron2 @artursouza @daixiang0

[2022-04-11 17:19] yaron2 commented on #4469
@timoknapp please notice we enabled a preview feature to disable the default content-type to not break existing clients: https://v1-7.docs.dapr.io/operations/support/support-preview-features/#current-preview-features.

[2022-04-11 17:35] berndverst commented on #4507
Did you mean you are running Dapr 1.5.1, or are you actually running 1.1.5?

At this point only versions 1.6.0, 1.6.1 and 1.7.0 are supported.

Can you please upgrade Dapr?

Also, is it possible your root certificate has expired?
`dapr mtls expiry`

With the help of Dapr CLI v1.7.0 upgrading the certificates is easy now -- take a look at the relevant docs here: https://docs.dapr.io/operations/secu

[2022-04-11 17:35] berndverst commented on #4507
/assign

[2022-04-11 17:47] berndverst commented on #4504
@1046102779 Please review the design proposal and also comment there:
https://github.com/dapr/dapr/issues/2988

[2022-04-11 17:49] yaron2 commented on #4507
@ermaugustinas what Kubernetes service/distribution are you using? Is your cluster RBAC-enabled?

[2022-04-11 17:55] berndverst commented on #4465
Anybody can contribute these integration to Dapr, but there are no current plans among the Dapr maintainers to build these integrations. We'll happily review PRs however.

You can already use the Dapr HTTP Output Binding and call the Azure Notification Hub APIs for example:
https://docs.dapr.io/reference/components-reference/supported-bindings/http/
https://docs.microsoft.com/en-us/rest/api/notifi

[2022-04-11 20:47] ItalyPaleAle opened #4508 "Proposal: Building block API for cryptography"
**Note: Crypto as in cryptography, NOT cryptocurrency!!**

## In what area(s)?

## Describe the proposal

This is a proposal for a new building block for Dapr to allow developers to leverage cryptography in a SAFE and consistent way. Goal is to expose an API that allows developers to ask Dapr to perform operations such as encrypting and decrypting messages, and calculating and verifying digital si

[2022-04-11 20:55] yaron2 commented on #4508
I support adding a cryptography API as it will hide a lot of complexity and provide best practices in an area where they are very needed.

I particularly find useful the "local" version of the component.

[2022-04-11 21:43] withinboredom opened #4509 "Actor client requires an actor state store even if not using actors."
## In what area(s)?

/area runtime

## What version of Dapr?

- 1.5.2
- 1.6.1
- 1.7.0

## Expected Behavior

An actor client shouldn't need any access to state stores unless it is utilizing a state store.

## Actual Behavior

An actor client needs access to a state store configured for actors, not necessarily the same state store.

## Steps to Reproduce the Problem

The easiest way is to check out

[2022-04-11 22:44] yaron2 commented on #4509
@Taction can you look into this please?

[2022-04-11 23:29] rogerex commented on #4416
Update, so far timeout is not happening anymore for today, but we are getting the above issue due to a closing connection `time="2022-04-07T21:48:42.478995353Z" level=warning msg="azure service bus error: closing subscription entity for topic dapr_xyz: EOF" app_id=abc instance=abc-deployment-9bc894c66-chksp scope=dapr.contrib type=log ver=1.7.0-rc.1`
`time="2022-04-07T21:48:42.479013954Z" level=er

[2022-04-12 00:48] georgestevens99 commented on #4508
I support a "Building block for cryptography".   And I would like to add a feature to your list of features.  When using encrypted messages flowing between 2 services (that may be located who knows where, and not just locally, but it applies to a local cluster/host as well) end to end message encryption is highly desireable, especially for portions of the message that are seriously private.  In or

[2022-04-12 00:57] 1046102779 commented on #4504
I see it, thanks, @berndverst .

<img width="990" alt="image" src="https://user-images.githubusercontent.com/20457624/162857193-6217792f-08f6-4e0b-ada8-83b3f7b44d93.png">

[2022-04-12 01:05] ItalyPaleAle commented on #4508
Hey @georgestevens99  thanks for sharing your thoughts!

I would like to understand more about your requirements for E2E encryption in this case.

As you know, communication between Dapr-ized applications already uses TLS. Between Dapr sidecars, communications use gRPC with mTLS, which offers network-level encryption and mutual authentication. Communication between applications and the Dapr sideca

[2022-04-12 01:45] georgestevens99 commented on #4508
E2EE for a message (or parts of it) is suggested by the dapr documents for highly confidential info.  But dapr currently supplies no way to do such encryption.

While E2EE can certainly be done at a low level as is your idea, the fact of the matter is that there are vast numbers of developers that do not have the experience, knowledge, nor skills to use the "lower level crypto privatives" you are

[2022-04-12 02:27] ItalyPaleAle commented on #4508
A fully-transparent E2EE would only be possible between Dapr sidecars, but Dapr sidecars already talk to each other using mTLS (which is enabled by default), which should provide equal levels of security and authentication.

Perhaps a middle-ground would be to implement an API that performs the ECDH between two services (technically, between two sidecars) and gives the application a shared secret

[2022-04-12 05:03] shubham1172 opened #4511 "Remove outdated dependency from tests"
## Description
In https://github.com/dapr/components-contrib/issues/1474, https://github.com/keighl/postmark was replaced with https://github.com/mrz1836/postmark. Our test apps' `go.sum` file still contains them. See this https://github.com/dapr/dapr/search?q=github.com%2Fkeighl%2Fpostmark

This work item is to run `go mod tidy` on the test `go.sum` files and get rid of the old dependency.

[2022-04-12 06:01] shubham1172 commented on #4511
It's due to using an older version of Dapr. For example,
https://github.com/dapr/dapr/blob/d07b81693a7154f27bd7990369c360198c23f0bf/tests/apps/binding_output/go.mod#L6

[2022-04-12 06:16] LukePammant commented on #2765
I believe I figured it out. It turns out there was a rogue controller route assigned to "/{id}" which was taking all traffic and returning a 400.

[2022-04-12 07:49] ermaugustinas commented on #4507
Hi, I was using 1.5.1, my apologies for a typo. We've upgraded the 1.7.0 version and it's still happening.

@yaron2 We are using Azure kuberentes cluster at 1.21.9 version. I've just confirmed RBAC is enabled.

[2022-04-12 08:03] Taction commented on #4509
@yaron2 Sure, I'll look into this.

[2022-04-12 17:04] #4413 closed

[2022-04-12 17:47] halspang commented on #4468
@itsoli91 - Anther option you have here is to use reminders/timers with Actors. With Reminders, they're persistent and can activate an actor but you also have the ability to delete/add new reminders with different timing requirements. This feels like it'd be a good option.

[2022-04-12 18:53] halspang opened #4512 "Provide a Default Policy Experience for Resiliency"
## In what area(s)?

/area runtime

## Describe the proposal
With the initial launch of Resiliency in 1.7, we should provide an easier way for people to adopt it. Specifically, there will be a time when we want people to move to Resiliency and _remove_ the internal, built-in Dapr retries. This proposal is to get users to a place where they can more confidently adopt Resiliency without worrying tha

[2022-04-12 18:59] berndverst commented on #4512
@halspang for service invocation -- could we also have circuitbreakers that can use a scope of per app, per path, or both? similar to how we have scopes for actors?

[2022-04-12 18:59] halspang commented on #4512
@berndverst mentioned that this sounds like it could cover all defaults, like all bindings/statestores/etc. The goal here is just to cover the built-in retries that Dapr already has, but as a future thought, we could use a similar thing here to cover all operations. This does let users simplify their policies if they have a lot of components for example.

Food for thought, not planning on targetin

[2022-04-12 19:00] halspang commented on #4512
That's something we could add. I think it'd be worth compiling an issue with ideas for future thoughts of Resiliency, in addition to the Phase 2 plans already in the original issue. I'll open one for discussion later :)

[2022-04-12 19:00] yaron2 commented on #4512
The service invocation API has an internal retry that needs to retry based on a very specific gRPC status code (Unauthenticated). How do we enable that with a Resiliency policy today?

[2022-04-12 19:03] yaron2 commented on #4512
I'm not sure this sentence is accurate (specifically the `give them an avenue for using only Resiliency` part) because users do not proactively *use* any internal retries today. It's completely transparent to them and used to ensure the very basic reliability and/or stability of a call.

[2022-04-12 20:07] halspang commented on #4512
Resiliency policies just retry on errors, they don't care what they are except for 2 special cases for Circuit Breakers that indicate a permanent failure. What you can do though is:

[code]

What I'm going for here is to bring the built-in retries into the resiliency space so that we can master everything under one path. Since we provide defaults, most people will never have to _use_ the built-in

[2022-04-12 20:20] halspang commented on #4512
To make that overwriting part a bit clearer, here's what I'm thinking terms of the default policy and how a customer can overwrite it. Yaron, if you don't think overwriting is a good idea for now, we can also reserve these names and error out if they try and overwrite them.

### In-Memory Constant
[code]

### User Overwrite
[code]

So like I said, the goal is to allow users full control, but to do

[2022-04-12 23:27] georgestevens99 commented on #4508
@ItalyPaleAle -- Thanks so much for taking the time to write up the various alternatives that aim at fulfilling my requrements.  I really appreciate it.  It forced me to think through my requirements and also the limitations inherent in Dapr as it now stands.

I was hoping there was a way to use Dapr's future capabilities to implement industrial strength E2EE for messages.
 However, given the cave

[2022-04-13 04:17] pravinpushkar opened #4513 "v1.8.0 Release Planning"
Release Coordinator: @pravinpushkar
Release Buddy: @amulyavarote
Build and Test Champion: @pravinpushkar

Preflight check: 06/14/2022
Code freeze: 06/21/2022
Endgame starts: 06/22/2022
RC1 date: 06/22/2022 (earliest)
Release date: 06/30/2022

Milestones
Dapr - https://github.com/dapr/dapr/milestone/14
CLI - https://github.com/dapr/cli/milestone/9
Docs - https://github.com/dapr/docs/milestone/11
Co

[2022-04-13 08:11] IvanILanekassen commented on #4416
Hi again,

I have two updates here:
First, this problem was so critical for us that we decided to "short cut" the publication of messages. We are on C# and .NET core and decided to migrate to the https://www.nuget.org/packages/Azure.Messaging.ServiceBus/ package for publication. So when we publish, we are not using the DaprClient, but we are using the ServiceBus SDK instead. Luckily, this works wi

[2022-04-13 08:34] javageek79 opened #4514 "broken backward compatibility for ttl feature of actor timers"
## In what area(s)?

/area runtime

## What version of Dapr?

 1.5.x
 1.6.x
 1.7.x

## Expected Behavior

Actors working as before when migrating from rt v1.5 to v1.6 or v1.7

## Actual Behavior

_just make sure to keep backward compatibility in mind, so we need to ALSO accept ISO 8601 intervals._

_Originally posted by @yaron2 in https://github.com/dapr/dapr/issues/2513#issuecomment-820095976_

A

[2022-04-13 09:07] famarting opened #4515 "restructure dapr-operator-admin ClusterRole"
Currently the [`dapr-operator-admin` ClusterRole](https://github.com/dapr/dapr/blob/master/charts/dapr/charts/dapr_rbac/templates/ClusterRoleBinding.yaml#L33) grants RBAC permissions to a mix of resources from different api groups. It extensively uses wildcard(`*`) api groups and mixes dapr CRDs with kubernetes CRDs.

Generally it's a good practice to narrow the scope as much as possible when gran

[2022-04-13 11:35] Taction commented on #4509
This is because the `initActors()` func has checked if the actor state store is defined: https://github.com/dapr/dapr/blob/master/pkg/runtime/runtime.go#L1771

To fix this issue, we can add the check of `actorConfig.EntityConfigs.Entities` to tell if it is server-side or client-side.
But consider #4273, we can turn this error into a warning log. If the actor server uses the state store and the act

[2022-04-13 16:36] artursouza commented on #4416
This is a warning. Does it impact publishing or subscribing?

[2022-04-13 17:04] halspang commented on #4514
Just to clarify, on 1.5 you see no issues. It's when running 1.6 _or_ 1.7 that this failure comes up?

[2022-04-13 17:13] halspang commented on #4514
Also, what version of the Java SDK are you using?

[2022-04-13 17:50] yaron2 commented on #4509
That's a great find, and agree about changing the error to a warning log.

[2022-04-13 20:08] rogerex commented on #4416
Yes, the message is shown before to get `500 internal server error` when trying to publish a message (1.7 or 1.7.0-rc.1), unique solution: restart k8s deployment, I'm going to do the same as @IvanILanekassen, I will give a try to use azure service bus as publisher (not DaprClient) to send messages and use dapr as subscriber, I like dapr routing.

More context about my project: we have our message

[2022-04-13 21:56] halspang commented on #4514
@javageek79 - Are you using DueTimes at all? I was just playing around with this in .NET and ran into your error. Tracking it down I found my Timer was failing because it thinks the DueTime is in the past when in reality it was sent in as 0 to fire immediately.

This is a change that was introduced in 1.6. https://github.com/dapr/dapr/commit/0c070e1afb620987141443c18db0cd34817ad794

@yaron2 @artur

[2022-04-13 21:59] halspang commented on #4514
PR for that commit, not sure why it didn't associate directly: https://github.com/dapr/dapr/pull/4075

[2022-04-13 23:49] yaron2 commented on #3787
@patrickhuber, confirming this is triaged into the next (v1.8) milestone. let me know if you need any assistance in driving this feature to completion.

[2022-04-14 00:05] mike-geiger opened #4517 "Service invocation fails to validate client certificate"
## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior

Service invocation communication is successful.

## Actual Behavior

Service invocation fails with this error logged by grpc on the server sidecar. Logging is not currently enabled on the client sidecars.

## Steps to Reproduce the Problem

Unknown. According to the client sidecar logs, dapr successfully renewed th

[2022-04-14 00:22] yaron2 commented on #4517
This happens where there's non-synced clocks on different nodes. From the error message, it looks like there's a 49 minutes skew. Dapr by default allows for `15m`. You'd want to upgrade Dapr using Helm with this setting:

[code]

[2022-04-14 02:04] artursouza commented on #4514
@halspang  The commit you mentioned seem to be wrong because there is no guarantee that the timer will fire right away. We need some configuration to call a timer dueTime to be stale (1min, 5min or something). We would also need an E2E test to verify that. /cc @tanvigour

[2022-04-14 02:13] artursouza commented on #4514
/cc @yaron2 I think this is a P0 and should be a hotfix in 1.6 and 1.7.

[2022-04-14 02:22] yaron2 commented on #4514
Yeah it looks like it.

[2022-04-14 02:23] berndverst commented on #4514
@artursouza @halspang that code is only for Timers and not Reminders though...

[2022-04-14 02:27] berndverst commented on #4514
Ah -- I was confused due to the title and original description -- yes Timers are broken here, not reminders.

[2022-04-14 02:35] mike-geiger commented on #4517
I'm not sure that's it. We are still getting this message and the time difference is just increasing.

The timestamp is indicating that it is trying to validate the old certificate, issued at 2022-04-12T22:34:06.855048462Z (+1d15m->2022-04-13T22:49:06Z)

[2022-04-14 02:39] yaron2 commented on #4517
Can you try to uninstall Dapr and reinstall with the new skew setting?

[2022-04-14 04:03] yaron2 commented on #4515
Triaged into 1.8, @famarting you can work on this.

[2022-04-14 06:45] javageek79 commented on #4514
@berndverst sorry, I corrected the title, ofcourse, this affects timers.

@halspang yes, our actor has two timers, one has a duetime of 0 to start right away and a period, the other has a due time to `n`-min and a period of zero. The second timer we would like to get rid of once we can use the ttl feature as it is only a workaround to cancle the first timer after `n`-min

[2022-04-14 13:35] Admiralkheir commented on #3169
Organization/Company: DeFacto - Defacto Teknoloji
Website: https://corporate.defacto.com.tr/
Country: TURKEY
Contact: SoftwareArchitecture@defacto.com
Usage scenario: Using Dapr to build large scale ERP applications running on OpenShift. We are developing microservices by centering dapr on the newly developed ERP platform. We are using dapr in many processes like waybill, allocation, mobile pos ap

[2022-04-14 15:12] mike-geiger commented on #4517
This was occurring in our production environment, which is currently in a quarter end control period, so I can't make this kind of a change. I resolved for now by restarting the deployments of the client side of this failure. I had checked the clocks from the app containers and both sides were close enough that the difference could be attributed to my own network latency.

[2022-04-14 15:28] duglin commented on #2218
I think it's important to keep in mind that the term "batching" can mean different things to different people. Some folks think of it as "multiple messages delivered in one chunk at a time" - which is what I think most of this issue is about. However, there are some folks who (correctly or not) say "batching" when they mean "I have millions of messages that need to be processed as quickly as possi

[2022-04-14 17:15] halspang commented on #4514
/assign

[2022-04-14 19:25] artursouza commented on #4301
@timoknapp Please, check out the documentation for the feature flag that will enable the behavior you need  for content-type: https://v1-7.docs.dapr.io/operations/support/support-preview-features/#current-preview-features

[2022-04-14 22:30] #4514 closed

[2022-04-15 06:32] daixiang0 opened #4523 "FOSSA scan fail"
See https://github.com/dapr/dapr/runs/6033380196?check_suite_focus=true#step:3:1.

@shubham1172 could you take a look and fix it?

RELEASE NOTE: N/A

[2022-04-15 19:58] ewassef commented on #4475
@yaron2 @berndverst any luck?

[2022-04-15 20:44] artursouza commented on #4513
Microsoft's priorities for 1.8:
+ Metrics for Resiliency
+ Sane defaults in Resiliency for built-in retries
+ More stable components:
++ Azure Table storage
++ CosmosDb state store Certification Tests
++ Azure Event Hubs pubsub
++ Azure Event Hubs binding
++ Certification tests for Redis cache
+ PubSub micro-batching
+ MQ PubSub component
+ Migrate Azure Service Bus PubSub & Binding to Azure's "tr

[2022-04-15 21:16] yaron2 opened #4524 "Add metrics for Resiliency"
We need to add request count and error rates for:

* Retries
* Circuit Breakers
* Timeouts

The label should contain the component name and namespace.

Before Merging complete docs https://github.com/dapr/docs/issues/2401

[2022-04-15 21:16] yaron2 commented on #3787
Thanks @patrickhuber, that's a great update.

[2022-04-15 21:18] halspang commented on #4513
Azure Service Bus Bindings already have conformance tests, can we clarify that those are just for pubsub? Or if we want more for bindings?

https://github.com/dapr/components-contrib/tree/master/tests/certification/bindings/azure/servicebusqueues

[2022-04-15 21:20] yaron2 commented on #814
cc @thielepaul

[2022-04-15 21:21] yaron2 commented on #2836
@juazasan can you work on this?

[2022-04-15 21:22] yaron2 commented on #4513
Items Diagrid would like to see make it to v1.8:

* [Metrics for Resiliency](https://github.com/dapr/dapr/issues/4524)
* Preview feature: [gRPC components](https://github.com/dapr/dapr/issues/3787)
* Alpha: [Distributed Lock API](https://github.com/dapr/dapr/issues/3549)
* Move all AWS bindings from Alpha to Beta
* Move AWS SQS pub/sub component to Stable
* [Dynamic Subscriptions](https://github.c

[2022-04-16 12:34] timoknapp commented on #4301
@artursouza - thanks for the feedback. I will keep that in mind when Azure Container Apps has been updated to use Dapr version 1.7.

[2022-04-17 09:58] h0730303779 commented on #4310
Did you solve it? Me too

[2022-04-17 18:12] darraghjones opened #4527 "panic: runtime error: invalid memory address or nil pointer dereference when hosting an actor with --enable-api-logging"
## In what area(s)?

/area runtime

## What version of Dapr?

dapr --version
CLI version: 1.7.0
Runtime version: 1.7.0

## Expected Behavior

API methods to be logged without any errors

## Actual Behavior

When I start my dapr actor host application like this:

 `dapr run --app-id myapp --app-port 5000 --dapr-http-port 3500 --log-level debug --enable-api-logging -- dotnet run`

when an actor is i

[2022-04-17 18:16] yaron2 commented on #4527
cc @amulyavarote

[2022-04-18 07:49] IvanILanekassen commented on #4416
@artursouza No, we have not taken the chance on upgrading to 1.7, since we have no clear repro steps/it is hard to verify if the changes we do will work or not in production.

[2022-04-18 09:49] shubham1172 commented on #4523
All our FOSSA workflows are broken due to a recent change in the action repo. As an immediate work item, I have created a PR to fix the same https://github.com/fossas/fossa-action/pull/23

Going forward, we should stick to a particular version of the action, rather than using `@main`.
We have a GH issue for moving common workflows to a separate repository (TODO: add link). FOSSA workflow can be pi

[2022-04-18 14:29] yaron2 commented on #4523
Fixing it in FOSSA's main branch is right thing to do long term, but wouldn't the immediate action be to use a versioned release that doesn't have this change?

[2022-04-18 16:32] amulyavarote commented on #4527
@darraghjones Hi, I tried to reproduce this error on my end using our sample dotnet actor examples. I did not get this error. Can you please provide more details?
- How are you running this? On your local system? Which OS are you running your application on?

[2022-04-18 17:38] yaron2 commented on #4527
@amulyavarote I think there needs to be a nil for `*info` [here](https://github.com/dapr/dapr/blob/22240790c02d141bfffcf8cd18136bb3a60d280d/pkg/grpc/server.go#L317) and not log if it's empty.

[2022-04-18 20:41] brandonmaul commented on #4226
@yaron2 The bot has marked this as closed. Can you reopen it and label it please?

[2022-04-18 21:02] darraghjones commented on #4527
I'm running this locally on Windows 10

[2022-04-18 22:24] mukundansundar commented on #4244
@berndverst Is there any update on this issue?

[2022-04-19 03:53] LaurenceLiZhixin opened #4528 "[Proposal] Add rest API for configuration store."
## In what area(s)?
Configuration store rest API.

## Describe the proposal

We would support 3 configuration rest API, get, subscribe and unsubscribe, like gRPC API does.

- ConfigurationItem JSON
[code]

### Configuration Get API

- request

Method: Get
Route: configuration/{storeName}
Version: v1apha1
Query Param: key=key1,key2,key3

- response body
[code]

### Configuration Subscribe API

- re

[2022-04-19 03:55] LaurenceLiZhixin commented on #4528
@yaron2 @daixiang0
cc @beiwei30

[2022-04-19 04:28] EashShow commented on #3830
I faced the same problem #4336

[2022-04-19 05:38] jigargandhi commented on #4395
/assign

[2022-04-19 06:53] EashShow commented on #4310
No, it seems that dapr doesn't suport websocket.
I change the websocket to SSE. But another problem occurs.

[2022-04-19 07:25] XavierGeerinck opened #4529 "fail to get [] from Configuration Store"
## In what area(s)?

/area runtime

## What version of Dapr?

1.7.0

## Expected Behavior

I should be able to subscribe to all configuration keys when passing `[]`

## Actual Behavior

Introduced in 1.7.0 we have the Configuration API - Listen to all keys (see PR #4189). However, when calling this I receive the following error:

[code]

The PR introduced a test (https://github.com/dapr/dapr/blob/

[2022-04-19 10:13] shubham1172 commented on #4523
@yaron2 sure, that makes sense since it might take a while to be reviewed. Here we go:
1. https://github.com/dapr/kit/pull/15
2. https://github.com/dapr/cli/pull/967
3. https://github.com/dapr/dashboard/pull/203
4. https://github.com/dapr/dapr/pull/4530
5. https://github.com/dapr/components-contrib/pull/1676
6. https://github.com/dapr/java-sdk/pull/734
7. https://github.com/dapr/go-sdk/pull/282
8.

[2022-04-19 13:24] rrati commented on #3787
@patrickhuber If you would like some additional testing please let me know.  We are very interested in this feature, but haven't been able to participate in much other than watching github (no access to discord yet).  We'd be very happy to be early adopters/additional testers/bug fixers for this feature.

[2022-04-19 13:48] juazasan commented on #2836
Hi Yaron,

I can work on it right after Kubecon. Does that work?

Thanks.

From: Yaron ***@***.***>
Sent: viernes, 15 de abril de 2022 23:21
To: ***@***.***>
Cc: Juan Carlos ***@***.***>; ***@***.***>
Subject: Re: [dapr/dapr] Support trace exporting to Open Telemetry protocol (#2836)

@juazasan<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fjuazasan&data=04%7C01%7C%

[2022-04-19 16:21] DeepanshuA commented on #4227
/assign

[2022-04-19 16:27] berndverst opened #4531 "Misleading service invocation error when dapr-app-port and dapr-http-port are identical"
## In what area(s)?

/area runtime

## What version of Dapr?

All versions -- tested since 1.4.2.

## Expected Behavior

The Dapr sidecar / daprd should not start when `dapr-app-port` and `dapr-http-port` are identical and return a meaningful error.

## Actual Behavior

Dapr sidecar starts, but upon service invocation returns an error unrelated to the problem.

`{"errorCode":"ERR_DIRECT_INVOKE","m

[2022-04-19 16:28] berndverst commented on #4531
@artursouza @yaron2 please mark as "good first issue", "help wanted" and tag for release-1.8

[2022-04-19 16:31] pravinpushkar commented on #4513
Shared list -

dapr -
Metrics for Resiliency - https://github.com/dapr/dapr/issues/4524
Preview feature: External grpc component - https://github.com/dapr/dapr/issues/3787
Alpha: Distributed Lock API - https://github.com/dapr/dapr/issues/3549
Sane defaults in Resiliency for built-in retries
Dynamic subscription - https://github.com/dapr/dapr/issues/814
https://github.com/dapr/dapr/issues/2836 - ht

[2022-04-19 21:43] yaron2 commented on #3787
@rrati Thanks for your willingness to test drive this feature, this means a lot. I can help coordinate this. Can you please join our discord channel and reach out (through a friend invite)? My handle is `yaron2`.

[2022-04-20 09:14] saber-wang opened #4534 "[operator]metadata.resourceVersion: Invalid value: \"\": must be specified for an update"
## In what area(s)?

## What version of Dapr?

logs
[code]

[2022-04-20 09:25] martynas-m opened #4535 "dapr init fails on Linux"
## In what area(s)?

in  Dapr CLI, running

[code]

## What version of Dapr?

1.7.0

## Expected Behavior

initialize dapr

## Actual Behavior

fails with following error:

[code]

trying to specify runtime versions returns other error:

[code]

## Steps to Reproduce the Problem

run `dapr init`

[2022-04-20 10:10] yedf2 commented on #4434
dtm is a distributed transaction framework that support Saga, Tcc, OutBox, XA, support multiple language, support multiple microservice protocol.

Is anyone interesting in implementing the dapr support of dtm?

https://github.com/dtm-labs/dtm/issues/274

[2022-04-20 14:17] mukundansundar commented on #4535
@martynas-m Are you using this behind a firewall or a proxy which does not have access to GitHub?

[2022-04-20 14:29] berndku opened #4537 "Concurrent streaming requests fail with dapr grpc proxy"
## In what area(s)?

/area runtime

## What version of Dapr?

1.7.0

## Expected Behavior

Multiple grpc streaming requests over the dapr grpc proxy should be supported.

## Actual Behavior
A single streaming request through dapr works. After adding a 2nd concurrent streaming request the following error is observed:

[code]

We have also seen that the 2nd streaming call got established, but return

[2022-04-20 18:12] shubham1172 commented on #4523
FYI, the main branch of the fossa action is also fixed.

[2022-04-20 21:03] artursouza commented on #4535
This seems to be an issue with your computer reaching out to github.com. Is GitHub or dapr cli being blocked by a firewall?

[2022-04-20 23:24] artursouza commented on #4534
Can you provide more details on how to reproduce this issue?

[2022-04-21 00:00] artursouza commented on #4523
All PRs are now merged. Thanks for fixing this @shubham1172. Another instance where fixing to "master" or "edge" or "latest" version of a dependency breaks us.

[2022-04-21 00:00] #4523 closed

[2022-04-21 00:34] daixiang0 commented on #4529
/cc @LaurenceLiZhixin

[2022-04-21 00:36] daixiang0 commented on #4535
Maybe we need to add a doc about how to handle network issues when install.

[2022-04-21 00:55] saber-wang commented on #4534
@artursouza  Not yet.  At present, there will be a connection referred error when the daprd is started. I'm not sure whether this has anything to do with it
[code]
The connection referred exception of daprd has a great impact at present, because it will start normally. It is not found that some pods are not running normally until the exception is reported

[2022-04-21 01:55] saber-wang commented on #4534
@artursouza `metadata.resourceVersion` It refers to `metadata.resourceVersion` in service deploy

[code]

[2022-04-21 03:00] CrazyHZM commented on #4531
/assign

[2022-04-21 04:57] martynas-m commented on #4535
git hub is not blocked- I've tried from several different networks, and also clicking on the link for download the download link is opened on browser and file is downloaded successfully. The yaml files also can be opened in the browser. Maybe the problem is with the download code? also  it seems strange the following line in error: `lookup github.com on [::1]:53:` - isn't `::1`address for localhos

[2022-04-21 06:45] thielepaul opened #4541 "Use Protobuf Cloudevent Format"
## In what area(s)?

/area runtime

## Describe the feature

Currently, dapr wraps pub-sub messages in JSON cloudevents like this:
[code]

Instead of this, dapr could use the [protobuf cloudevent format](https://github.com/cloudevents/spec/blob/v1.0.2/cloudevents/formats/protobuf-format.md).

This has the following advantages:
- Protobuf serialization is more efficient than JSON (smaller packet si

[2022-04-21 08:55] shubham1172 commented on #4535
`[::1]:53` indicates that there is some issue going on with your DNS.
Can you try setting:
nameserver 8.8.8.8
nameserver 8.8.4.4
in your /etc/resolv.conf?
(source https://github.com/docker/cli/issues/2618#issuecomment-702332241)

[2022-04-21 11:37] martynas-m commented on #4535
hi,
one of suggestions in thread actually helped- I needed to symlink my resolv.config.

thank you very much for your help

[2022-04-21 11:37] #4535 closed

[2022-04-21 12:25] pravinpushkar commented on #4237
/assign

[2022-04-21 14:32] shubham1172 commented on #4268
As discussed, we will go ahead with giving access to all the maintainers of Dapr repos with FOSSA integration.

[2022-04-21 18:12] piotrkpc commented on #927
Isn't this already implemented in ? https://github.com/dapr/dapr/pull/240

[2022-04-21 21:45] halspang commented on #4512
@artursouza / @yaron2 - Any more thoughts here before I get started on an implementation?

[2022-04-22 03:59] mukundansundar commented on #4512
This does mean that they have to define the policy for that building block specifically otherwise the default policy would be used right? As in if user defines policy only for Actors, the default policy for service invocation should not be ignored. Is that correct?

In 1.7 if my understanding is correct, even if a more specific policy is defined, the default retries exist for the more generic use

[2022-04-22 08:28] #4239 closed

[2022-04-22 14:11] rogerex commented on #4416
We are able to reproduce this issue in an dev env without any load testing on it and frequently, checking and digging the steps for it

[2022-04-22 15:25] yaron2 commented on #4416
cc @artursouza @ItalyPaleAle

[2022-04-22 15:32] ItalyPaleAle commented on #4416
Thanks for letting us know. I'm on vacation but I'll look at this once I'm back

[2022-04-22 16:43] halspang commented on #4512
@mukundansundar

That is correct. We'll use the default policy where they don't define a more specific one. So if they only specify actors we'll use the default for service. It is worth noting though, that this is trying to cover just the retries that exist, it doesn't intend to give a full "backup" policy for every component. That being said though, it seems a logical next step after this as this

[2022-04-22 16:57] yaron2 opened #4544 "API logging enabled crashes sidecar for Service Invocation"
How to reproduce:

1. Install Dapr 1.7.1
2. Run the Dapr [hello-kubernetes tutorial](https://github.com/dapr/quickstarts/tree/master/tutorials/hello-kubernetes), and add `dapr.io/enable-api-logging: "true"` to the node and python app YAMLs.
3. Deploy the apps and see node app crashing

Stack trace:

[code]

[2022-04-22 17:35] halspang opened #4546 "Add Id to Configuration Subscription API"
## In what area(s)?

/area runtime

## Describe the feature
Add an Id to the Configuration Subscribe API request. This can provide two functionalities:

- Easier Unsubscribe experience as you can name your own subscriptions.
- Potential to resubscribe to an existing configuration.

I came across this while implementing the API in the .NET SDK. The experience of having to wait for a message from th

[2022-04-22 19:09] amulyavarote opened #4548 "v1.7.2 Release Hotfix Checklist"
This is for the v1.7.0 branch

## Checklist
- [ ] ~Create the `v1.7.2-rc.1` Hotfix release (code changes) and test it~
- [ ] ~Create `v1.7.2-rc.1` Tag [@]~
- [ ] ~Performance tests passing  [@]~
- [ ] ~End to End tests passing on Linux and Windows [@]~
- [ ] ~Notify users to try RC1~
- [ ] ~Update the longhaul tests to use `1.7.2-rc.1` [@]~
- [x] Write and review release notes [@artursouza]
- [x]

[2022-04-22 19:17] amulyavarote commented on #4548
PRs required for this Hotfix release.

Make sure to use release-1.5 branches only!

Dapr/Dapr:

https://github.com/dapr/dapr/pull/4545

[2022-04-22 20:43] greenie-msft commented on #4548
Docs PR for updating the version to 1.7.2 - https://github.com/dapr/docs/pull/2390

[2022-04-23 17:04] Shiko1st commented on #2675
Seems nobody cares...

[2022-04-23 17:09] yaron2 commented on #2675
Oh, folks care. Just 2 days ago I spoke with several end users who are very interested in this. I'll see if we can triage to 1.8 or 1.9.

[2022-04-24 08:45] pigletfly commented on #2716
@skyao @artursouza I'd like to contribute to the binding part.

[2022-04-24 18:45] berndverst commented on #4548
All items in the checklist are done @amulyavarote -- but not the docs update and announcing the hotfix.

The hotfix is already published.

[2022-04-24 19:48] berndverst commented on #2716
@pigletfly I reviewed your PR. I left instructions on your PR for next steps you must complete once the contrib PR is merged:
- open PR against `dapr/dapr` `runtime.go` to set the context for the bindings methods, and also make sure to import latest `components-contrib` into `dapr/dapr`
- Once the `dapr/dapr` PR is merged, open PR to import the latest `dapr/dapr` into the certification test framew

[2022-04-25 01:13] #4273 closed

[2022-04-25 04:59] yaron2 opened #4549 "Proposal: Extend service invocation to non-Dapr endpoints"
Dapr's service invocation building block gives developers many features including mTLS, resilience, telemetry, service discovery and access control.

Each one of the features mentioned above is either pluggable via a component or optional (can be enabled / disabled).
In order to make use of some of Dapr's service invocation features like resiliency and telemetry when talking to external HTTP endpo

[2022-04-25 07:36] beiwei30 commented on #4528
LGTM. Pls. clarify how metadata is encoded in query.

[2022-04-25 07:39] beiwei30 commented on #3586
cross-building block middleware concept in my opinion.

[2022-04-25 10:35] rahulpoddar-fyndna opened #4551 "PostgreSQL support for Configuration API"
Dapr Configuration API is supported with Redis  store.  Would be great to see postgres support for configuration.
We plan to use yugabyteDB and want to use the same for configurations as well.

[2022-04-25 10:37] jjcollinge commented on #4153
/no-stale

[2022-04-25 16:00] #4509 closed

[2022-04-25 16:17] yaron2 commented on #4528
@beiwei30 @LaurenceLiZhixin today, Dapr uses regular HTTP Restful endpoints to invoke the app. I suggest we keep this consistent behavior and not introduce websockets.

For example, when an app consumed a pub/sub event over HTTP, Dapr will send a POST request to the app on `/<name-of-topic>`.

It'd be preferable to invoke the app on a path like `dapr/configuration/<name-of-component>` and send the

[2022-04-25 16:54] yaron2 commented on #3921
@MoeweX can you check with 1.7.2? We introduced this: https://github.com/dapr/dapr/pull/4421.

[2022-04-25 19:01] lloydfischer commented on #4549
+1
A little flavor on my use case. I have an outbound REST call and I had hoped to offload the creation of an OAuth token with client credentials flow to the middleware component that already does that. The bindings API call does pass through the middleware on the way in to daprd but that token is not passed to the HTTP binding since it only honors the metadata that was passed in from the originat

[2022-04-25 19:12] yaron2 commented on #4549
Yeah I forgot to add middleware to the list of supported features, updated the list above! Thanks, and it makes sense to apply middleware on outgoing calls to external services.

[2022-04-26 06:51] beiwei30 commented on #4065
I don't agree with the idea of "take nameresolution as the bottom-level general capability".  In fact, the current runtime does keeps the map of all registered components, including different name resolution supports:

[code]

So the question should be:
- Should we allow one component to use other component's ability, which I think it is quite useful in some cases.
- How could the runtime inject t

[2022-04-26 07:20] MoeweX commented on #3921
Refactored the respective code parts, so we cannot check if this still persists, sorry

[2022-04-26 07:35] shuiyunwudi commented on #3862
I have the similar problem, the diffrence is I use istio and dapr sidecar; but service invocation by http://localhost:3500/v1/invoke/demo2/method/test failed; the log show in daprd sidecar also like that: “Dapr.DaprApiException: error invoke actor method: rpc error: code = Unimplemented desc =   ”； and the istio-proxy diecar shows that: 200 NR route_not_found. Anyone have solution? @yaron2

[2022-04-26 08:37] javageek79 opened #4553 "service-to-service call fails with 400 bad request"
## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior

Service-to-service calls work as before

## Actual Behavior

The call works with 1.6.2 and fails with latest patch release.

Inner cause is
[code]

## Steps to Reproduce the Problem

Create a invoke call with

[code]
## Release Note

RELEASE NOTE:

[2022-04-26 09:04] rmzf9192 opened #4554 "idea starts dapr locally"
I use idea   and start dapr source code locally.  what do I need to do

[2022-04-26 12:36] pigletfly commented on #2716
@berndverst as for the pubsub component, should be change the interface into

[code]

[2022-04-26 14:51] yaron2 commented on #4553
Do we move this to the Java SDK repo then?

[2022-04-26 17:37] amulyavarote opened #4556 "Converting configuration API response from an array to dictionary."
## In what area(s)?

## Describe the proposal

Make all configuration APIs in all the SDKs to return a dictionary rather than an array.

In an array, we will have to iterate to get the value needed. But in the dictionary, we can get the value based on the key.

We are already passing the keys to get the configuration or subscribe to the configuration. From a dictionary, we can easily get the value

[2022-04-26 21:10] halspang commented on #4556
I think this is a good change, and the .NET SDK already does this for you if you utilize the extension paradigm that it offers, though that part is out for PR right now.

Why don't we do this at the proto level too though? That'd force the change and make it native at all levels?

[2022-04-26 21:50] rynowak commented on #4556
Is there any scenario where duplicate keys are legal? That's one of the main tradeoffs here.

[2022-04-26 22:04] amulyavarote commented on #4556
We are using state store to store the configurations. I don't think we will have a scenario of duplicate keys.

[2022-04-26 22:06] halspang commented on #4556
@rynowak - The configuration API has a rough idea around versioning a key in that it expects you can have multiple versions of the same key but will attempt to only provide the latest version. That is at least my understanding.

[2022-04-27 00:56] francotiveron opened #4557 "VS Code daprd task relies on port 3500 even when a different port is selected"
## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior

Actor method invocation should work

## Actual Behavior

"errorCode": "ERR_ACTOR_INVOKE_METHOD",
    "message": "error invoke actor method: error from actor service: System.Net.Http.HttpRequestException: No connection could be made because the target machine actively refused it. (127.0.0.1:**3500)**\r\n ---> System

[2022-04-27 02:24] shuiyunwudi commented on #3862
hi, @tunoi are you solved this problem？I encounter similar situation.

[2022-04-27 02:53] beiwei30 commented on #4528
@yaron2 without websocket, I think we cannot be able to support configuration notification via 'subscribe', and in fact, pubsub HTTP API doesn't support 'subscribe' either.

[2022-04-27 03:37] yaron2 commented on #4528
[Pub/sub calls the user's HTTP endpoint to get subscriptions](https://github.com/dapr/quickstarts/blob/5bd523f849e838bbeda047dd89e02a0284e0cac6/pub_sub/javascript/http/order-processor/index.js#L7) and then once an event arrives, [Dapr notifies the app through a different HTTP endpoint](https://github.com/dapr/quickstarts/blob/5bd523f849e838bbeda047dd89e02a0284e0cac6/pub_sub/javascript/http/order-p

[2022-04-27 03:51] artursouza commented on #4553
Not yet. We are validating if the latest Java SDK is compatible with the previous runtime (1.6.x) for service invocation containing "/".

[2022-04-27 06:29] kendonPy opened #4558 "why dapr state does not support capabilities such as incrby which redis already has"
I wonder why dapr state does not support capabilities such as incrby which redis already has,It makes it very difficult for us to migrate the original redis based project to dapr，cause I need to keep the API supported by redis but not supported by dapr，and I have to keep them both.So I want to ask if we need to define a new component like dapr-cache，I would appreciate it if someone could answer my

[2022-04-27 06:30] kendonPy opened #4559 "why dapr state does not support capabilities such as incrby which redis already has"
I wonder why dapr state does not support capabilities such as incrby which redis already has,It makes it very difficult for us to migrate the original redis based project to dapr，cause I need to keep the API supported by redis but not supported by dapr，and I have to keep them both.So I want to ask if we need to define a new component like dapr-cache，I would appreciate it if someone could answer my

[2022-04-27 06:40] #4559 closed

[2022-04-27 08:03] bjorkstromm opened #4560 "Transport: authentication handshake failed: x509: certificate has expired"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

It looks like mTLS certificate has expired in our dev cluster, and will most probably expire in production in a month. From the sidecar logs I can see the following:

A look in the sentry service I see this:

time="2022-04-27T07:46:00.419202572Z" level=info msg="validator created" instance=dapr-sentry-67d5bdf885-kwx4d scope=dapr.

[2022-04-27 08:05] pravinpushkar commented on #4553
Summary of tests executed -

**Runtime- 1.6.2 and java-sdk 1.5.0**
caller method name - "/say/test"
expected callee mapping - "/say/test"

caller method name - "/say/method1%2F111/test"
here %2F is converted to "/" and thus callee expects a mapping "/say/method1/111/test"

**Runtime- 1.7.2 and java-sdk 1.5.0**
caller method name - "/say/method1%2F111/test"
here %2F is not converted to "/" and thus

[2022-04-27 08:14] gdlcf88 commented on #4247
ping?

[2022-04-27 08:15] LaurenceLiZhixin commented on #4529
The problem is that you subscribe all keys of redis. And there are some keys that not 'string' data structure, like hash. You can delete key 'model-result-processor' and try again.

Thanks for your feedback, I would fix this problem in redis configuration component. To ignore unsupported data structure.
@XavierGeerinck

[2022-04-27 08:16] javageek79 commented on #4553
Hi @pravinpushkar, does this mean, sdk 1.5.0 is compatible with rt 1.6.2?

[2022-04-27 08:59] pravinpushkar commented on #4553
@javageek79 We can say it is compatible, only thing is it needs to have the fix https://github.com/dapr/dapr/issues/4008 for not decoding the %2F.

Can you please verify this at your end also?

[2022-04-27 09:25] javageek79 commented on #4553
As said, our preferred setup would be,

1. step, run runtime v1.6.2 with sdks 1.5 or 1.4
2. step, run runtime v1.7.2 with sdk 1.5

If those scenarios are possible, it's all fine.

[2022-04-27 09:58] bjorkstromm commented on #4560
Uninstalled Dapr, and reinstalled sovled the issue. This way I got a fresh `dapr-trust-bundle` secret generated. But I'd like to think Dapr runtime should handle this automatically, no?

Quick fix:
[code]

[2022-04-27 09:59] mukundansundar commented on #4560
@bjorkstromm This is expected ... There is page in the docs which explains the mTLS certification and the rotation process for the same.
https://docs.dapr.io/operations/security/mtls/
Please read through that completely as there are many paths for certification rotation as well as demo on how certificates can be rotated.

[2022-04-27 10:18] shuiyunwudi opened #4561 "Upgrade Dapr version from 1.6.0 to 1.7.2 encounter problem"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

as the top description, I upgrade dapr version from 1.6.0 to 1.7.2 on my kubernetes cluster, I follow the reference: https://docs.dapr.io/operations/hosting/kubernetes/kubernetes-upgrade/#helm

[2022-04-27 10:38] pravinpushkar commented on #4553
Could you please verify with SDK 1.5 and runtime v1.7.2 or v1.6.2.
These should be fine unless you have method names with `%2F` character like `method1%2F111`. If this is the case then you will need runtime version v1.7.2.

[2022-04-27 11:10] XavierGeerinck commented on #4529
Thanks a lot for your reply! Super happy to see the PR to resolve this 😊😊😊

[2022-04-27 12:10] pravinpushkar commented on #4560
You are right. Pods must be restarted. We will update the documentation to highlight this in CLI section also. Thanks for pointing this out.

[2022-04-27 12:46] bjorkstromm commented on #4560
@pravinpushkar thanks for the clarification! and thanks @mukundansundar for pointing me to the docs.

I'm closing this issue.

[2022-04-27 12:46] #4560 closed

[2022-04-27 18:40] amulyavarote commented on #4556
If all the maintainers agree on the changes, I will go ahead and add respective issues in the sdks. We can start picking up one by one.

[2022-04-27 18:48] XavierGeerinck commented on #4556
Tbh I am not sure how I would think about this. I agree that it would make life way more convenient. Some brainstorming points that I have while I was thinking around this:

1. Redis has ["binary safe" keys](https://redis.io/docs/manual/data-types/data-types-tutorial/#keys). Do all the languages support this?

As far as I know currently (need more info here), JSON for example is not seen as binary

[2022-04-27 20:39] #4548 closed

[2022-04-27 23:59] amulyavarote commented on #4556
@artursouza Any inputs on changing the structure in the runtime itself?

[2022-04-28 08:41] #4561 closed

[2022-04-28 13:50] k33lan commented on #4459
Hi, did you find a solution to this issue? I've gotten this error, but ONLY for querying. Everything else is fine.

[2022-04-28 13:55] yaron2 commented on #4459
Azure Container Apps uses Dapr 1.4 which doesn't support querying. I know they're going to upgrade to 1.7 soon. cc @torosent

[2022-04-28 13:56] k33lan commented on #4459
Ah, that makes perfect sense. Wish I'd have asked this question a few days ago.

Many thanks for the info!

[2022-04-28 21:07] GFlisch commented on #4471
I have done the test with Dapr v1.7 and the problem is still there.

I can see a message during the initialization:
app returned http status code 400 from subscription endpoint

[export-8da295aa01ba08d.csv](https://github.com/dapr/dapr/files/8586509/export-8da295aa01ba08d.csv)

[2022-04-28 22:32] yaron2 commented on #4557
cc @philiphoff

[2022-04-28 23:18] philliphoff commented on #4557
@francotiveron What platform are you using (e.g. Mac, Linux, or Windows), and which version of the Dapr extension for VS Code?  I don't see this issue with the latest build on my Mac. It may be that the extension is unable to extract the HTTP port when polling for Dapr instances for whatever reason, in which case, it falls back to port `3500`.

[2022-04-28 23:49] francotiveron commented on #4557
platform Windows
Dapr ext 0.6.0

[2022-04-29 06:19] yaron2 commented on #2836
@juazasan sure thing, thanks!

[2022-04-29 06:30] Venkat1188 commented on #3175
Still, I am facing issue after restarting application pods,
Error : ERR_PUBSUB_NOT_CONFIGURED

[2022-04-29 06:46] Venkat1188 commented on #3175
Created pubsub component and deployed spring boot publisher and subscriber on Kubernetes.
I can see pubsub component in Dapr dashboard,

messagebus.yaml
-----------------------------------
kind: Component
apiVersion: dapr.io/v1alpha1
metadata:
  name: messagebus
  namespace: default
spec:
  type: pubsub.kafka
  version: v1
  ignoreErrors: false
  metadata:
    - name: brokers
      value: 'pkc-3w2

[2022-04-29 08:28] shuiyunwudi opened #4566 "Dapr+ istio+consul as nameresolution service invocation encounter a problem"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

dapr v1.6.2( or 1.7.2)( mtls disabled)
consul v1.8.3
istio v1.11.4

I need to user service invocation cross k8s and vm environment，so I config consul as nameresolution; when I integrate dapr wi

[2022-04-29 09:21] ls-2018 commented on #4554
I hope it helps
https://github.com/RicardoNiepel/dapr-docs/blob/master/howto/intellij-debugging-daprd/README.md

[2022-04-29 11:38] wimvc1 opened #4568 "General "Resiliency" question"
## In what area(s)?

 /area runtime

 /area docs

## Ask your question here

I have 2 general questions about the new "[resiliency](https://docs.dapr.io/operations/resiliency/resiliency-overview/#related-links)" features introduces as preview feature in Dapr v1.8

1. When applying `retry` and/or `circuit breaker` to an app or component, what logic does Dapr use to kick in those features? Is there

[2022-04-29 12:21] callebjo commented on #4568
Great  question Wim ...  looking  forward to answers. (Y)

[2022-04-29 15:28] patrickhuber commented on #3787
Is there any desire in the future to use a different protocol for plugins? For example grpc, [wasm+interface types](https://github.com/bytecodealliance/wit-bindgen), [wapc](https://wapc.io/)? I was thinking about making this a string type instead of boolean.

[2022-04-29 17:07] philliphoff commented on #4557
@francotiveron That's interesting, I don't see the issue on Windows either, with 0.6.0 or the latest bits.  What do you see in the Dapr panel; is the application listed with the correct ports (e.g. as in the following screenshot)?

<img width="226" alt="Screenshot 2022-04-29 at 10 06 31" src="https://user-images.githubusercontent.com/6402946/165991024-0b95780e-7c83-41b6-aaba-dc8a950f4980.png">

[2022-04-29 20:00] artursouza commented on #4227
For 1.8, I propose we add a new annotation to disable the built-in K8s secrets components in the sidecar. /cc @yaron2

[2022-04-29 22:37] berndverst commented on #4556
This will need SDK changes regardless -- take a look at the Python implementation ( @amulyavarote authored this )

https://github.com/dapr/python-sdk/blob/master/dapr/clients/grpc/client.py#L923

I think this change should be made in the Runtime and then the SDKs should be updated.

[2022-04-29 22:39] ChristianWeyer opened #4571 "End-to-end tracing: No consistent trace in Zipkin or Jaeger: Service invocation in .NET via HTTP -> Pub in .NET via SDK -> Sub in Go via HTTP -> Pub in Go via SDK -> Sub in .NET via SDK"
Hi all,

we are not sure whether this is a bug - or a given fact (and if the latter, we might be missing the 'automagic end-to-end tracing' promise by Dapr).

@yaron2 - as briefly talked about in the Discord channel.
Here goes...

## In what area(s)?
/area runtime

## What version of Dapr?
edge (1.7.2)

## Expected Behavior

This is the application scenario we are talking about:

![Dapr_sample](ht

[2022-04-29 22:52] yaron2 commented on #4571
Dapr generates the trace headers and propagates them for service to service or pub/sub to service calls, but for the scenario you're describing you'd need to extract the trace headers from the incoming call to the app (either pub/sub or service invocation) and put the trace header on the Cloud Event or the call you're making to Dapr with service invocation.

Read here: https://docs.dapr.io/develop

[2022-04-30 00:08] msfussell commented on #2217
https://github.com/dapr/docs/issues/2395

[2022-04-30 03:14] #2217 closed

[2022-04-30 15:45] #4279 closed

[2022-05-01 15:07] wmeints opened #4572 "Dapr doesn't route traffic through istio virtual services."
## In what area(s)?

/area runtime

## What version of Dapr?

1.7.0

## Expected Behavior

Dapr routes traffic to the virtual service so that we can apply traffic splitting/shifting.

## Actual Behavior

When I use service method invocation the traffic is routed directly to pods by the dapr sidecar. I replaced my client
code that invokes the service through the sidecar with a HTTP client that call

[2022-05-01 18:59] yaron2 commented on #4572
Dapr sidecars call a k8s service and aren't doing anything Istio specific. This is most likely an Istio configuration issue.

Be mindful that when running Dapr with Istio you should disable mTLS in Dapr.

cc @slacksach as a Dapr and Istio user to perhaps provide the insights here.

[2022-05-02 16:44] yaron2 commented on #3787
Yep, best to make this a string.

[2022-05-02 17:26] halspang commented on #4568
@wimvc1 - Thanks for raising this issue!

You're correct that it retries on any error, including `4xx` responses. For the initial version of resiliency, we took the approach of more retries is better than no retries. In the future, we may add in additional filters/scenarios that you can trigger a retry off of. I know there were plans to add in more CEL level expressions for Phase 2 of resiliency.

[2022-05-02 19:27] aktxyz opened #4573 "odd grammar on error message"
[code]

https://github.com/dapr/dapr/blob/6f6ca73cbf0f85cb8ce4d40dd3cb93400f8ec924/pkg/runtime/runtime.go#L1937

[2022-05-02 21:48] yaron2 commented on #4573
That is odd :)

Would you like to submit a PR that fixes this?

[2022-05-02 23:13] johnewart opened #4576 "[Proposal] Workflow building block and engine"
## In what area(s)?
/area runtime

## What?

This document proposes that the Dapr runtime be extended to include a new workflow building block. This building block, in combination with a lightweight, portable, workflow engine will enable developers to express workflows as code that can be executed, interacted with, monitored, and debugged using the Dapr runtime.

## Why?

Many complex business pro

[2022-05-02 23:26] yaron2 commented on #4576
cc @beiwei30 @daixiang0 @cvictory @msfussell @Forrest-zhao @paulyuk

[2022-05-02 23:55] francotiveron commented on #4557
@philliphoff  Did you try to call an actor method from postman at

http://localhost:3507/v1.0/actors/Type/Name/method/Method ?

Below my situation:

![image](https://user-images.githubusercontent.com/8280970/166343878-ba2119be-79a4-48b5-9694-5b501b05ddd0.png)
![image](https://user-images.githubusercontent.com/8280970/166343895-fb4759c4-7f16-4a97-ac56-af18554a7aa7.png)
![image](https://user-images.

[2022-05-03 00:10] johnewart commented on #4576
(Fixed the placement image, there were previously two duplicate Actor entities)

[2022-05-03 05:24] francotiveron commented on #4557
There is something wrong on the VS code extension when working with actors.
I find several issues when changing the port from the standard 3500. For example, accessing the actor state manager in OnActivateAsync fails with ERR_ACTOR_INSTANCE_MISSING.

Unfortunately, as with multi-targeting different ports are required, this makes impossible to debug multiple micro-services together in VS Code

[2022-05-03 08:15] #4297 closed

[2022-05-03 10:26] gleeb commented on #4534
run into the same issue actually, I got here because the tutorials on the DAPR website are just not working (pub/sub SQS).
Can someone explain this?

[2022-05-03 16:23] halspang commented on #4546
Ping @yaron2 @artursouza

[2022-05-03 16:24] amulyavarote commented on #4513
@pravinpushkar Can you please add this issue to the above list?
[https://github.com/dapr/components-contrib/issues/1305](https://us02st1.zoom.us/web_client/1q1nf58/html/externalLinkPage.html?ref=https://github.com/dapr/components-contrib/issues/1305)

[2022-05-03 17:11] duglin commented on #4549
I like the idea of this in general. However, are you planning on still requiring some special steps by the client-side code or will it be done via something more like how service meshes do it and it intercepts all tcp connections? I'd prefer the service mesh way then it's a feature that's "just there" w/o any changes to the client code. Of course, that moves things closer to duplicating a service

[2022-05-03 17:33] artursouza opened #4578 "Add throttling to Resiliency"
## In what area(s)?

 /area runtime

## Describe the proposal

Some internal services or cloud services might have SLAs based on reserved QPS or TPS, this way, clients must have traffic control to avoid being throttled by the server side. It is a common pattern for clients to implement client side throttling via token bucket, for example.

This proposal is to add client-side throttling to Resilien

[2022-05-03 17:39] rynowak commented on #4546
Can someone link me to the rationale on why subscribe/unsubscribe are a pair of operations instead of *just* subscribe?

I'm asking because It's pretty vexing to implement in the SDK with the separate unsubscribe operation. The actual *streaming* of updates is scoped to a single request/connection and so I'm not sure why we need a stateful out-of-band mechanism to hang up.

What I'm used to with t

[2022-05-03 17:43] halspang commented on #4578
I think this is a good thing to add to resiliency in Dapr. I think we just need to be very clear that it'll be on a per-sidecar basis so your overall request rate ends up being `numberSidecars*rateLimit` so long as those sidecars are calling into a singular resource (like a component).

[2022-05-03 18:21] yaron2 commented on #4549
Right, but a very core principal of Dapr is to actually encourage code changes by being a set of documented and explicit APIs, and this is apparent in all the other 7 building blocks.

Having Dapr expose service invocation as APIs and not as connection interceptions allows us to:

1. Increase performance by avoiding IP Table look ups
2. Increase performance by using an internal gRPC based mechanis

[2022-05-03 19:01] yaron2 commented on #4546
That makes sense.

I guess the only reason I can think of for unsubscribe is when an app wants to get updates multiple keys and at some point in time stop getting updates for a specific key.

Whether or not this case which might be considered an edge case justifies the complexity mentioned here, I don't know. I don't feel like I have a good grasp on that and would like to hear from @LaurenceLiZhix

[2022-05-03 21:01] msfussell commented on #4571
This is an issue that needs to be addressed. The difficulty here is that the SDKs could be improved to have overloads that allow for the propagation of the trace headers. For example in the diagram above when the request arrives from the Gateway service, right now you will have to create a new cloudevent and copy the trace headers into this cloud event, rather than letting Dapr create a cloud even

[2022-05-03 21:04] halspang commented on #4576
Workflows are one of my favorite areas for actors so I'm happy to see them here :) Quick question though.

Can you describe more on how you're planning on using reminders? Are they just to let users start a workflow on a given period? Or, are we going to be registering reminders for every workflow step and then deleting them when they are done?

If it's the latter, that could end up being a lot of

[2022-05-03 21:18] yaron2 commented on #4571
The Gateway Service calls the Order Service. This will have Dapr generate the trace ID for the call. In the Orders Service HTTP endpoint, you need to inspect the request and get the Trace ID header. To publish a message using that trace Id, you need to use the SDK method to publish your own Cloud Event which contains the `traceid` field. This will then show up on the Cloud Event on subscribers, an

[2022-05-03 22:27] yaron2 commented on #4578
We need to make it clear in general that all policies are on a per-sidecar basis.

[2022-05-03 22:42] pkedy commented on #4578
On that note, I think this article was interesting and could be something to consider in the design of distributed rate limiting.
https://www.mailgun.com/blog/it-and-engineering/gubernator-cloud-native-distributed-rate-limiting-microservices/
Thoughts?

[2022-05-03 23:10] olitomlinson commented on #4576
Looking forward to this! Initial Qs...

The description of DTFx-go reads `"lightweight, portable, embedded workflow engine (DTFx-go) in the Dapr sidecar"`

- Does this mean that you get a workflow engine out-of-the-box, by default, in any environment that is running Dapr? So I don't have to select SLWF, or temporal.io etc?

- Do I have to specify a state-management component to provide the state s

[2022-05-03 23:46] cgillum commented on #4576
The exact details are still being ironed out, but it's essentially a variation of the latter - i.e., one active reminder per workflow instance (though not necessarily per action). I agree that leveraging the reminder partitioning work is the right way to ensure this remains scalable. We need to do a bit more research here to figure out the details.

[2022-05-04 00:08] cgillum commented on #4576
Correct - the embedded engine will be the "out of the box" option for anyone that doesn't want to install additional infrastructure into their cluster. We want external workflow services to be supported by the building block (we expect many will prefer to use workflow systems that they already know and love), but not required.

Yes, this is essentially a programming model that sits on top of actor

[2022-05-04 00:20] olitomlinson commented on #4576
@cgillum got it thanks.

Suggestion : It might be worth updating the section `Storage of state and durability` to be a little more explicit that an “Actor compatible” dapr state store component is required in order to light-up the embedded engine.

[2022-05-04 04:41] francotiveron commented on #4557
See https://github.com/dapr/docs/issues/2417

[2022-05-04 04:41] #4557 closed

[2022-05-04 05:24] pravinpushkar commented on #4513
Above issues are added here also - https://github.com/orgs/dapr/projects/57/views/1

[2022-05-04 10:45] ChristianWeyer commented on #4571
@yaron2 are you talking about passing raw payload to the DaprClient in the API controller of the Orders service?
If yes, then it seems this will not work?
https://github.com/dapr/dotnet-sdk/issues/773#issuecomment-953193705

[2022-05-04 10:57] olitomlinson commented on #4576
- Any indication if workflows _must_ be deterministic, due to replay semantics?

[2022-05-04 12:12] jplane commented on #4576
Very interesting proposal... look forward to seeing it progress!

I wonder about the feasibility of a pluggable execution layer... certainly you can define contracts for required integration points (surfacing metadata, lifecycle management, state hydration, etc.) and implement, say, SLWF on top of that from scratch.

How would you envision that working for an existing runtime like AWS Step Functio

[2022-05-04 12:44] wimvdc commented on #4568
Thanks for the response.
I have checked the roadmap / board but couldn't find anything related to `CEL level expressions for Phase 2 of resiliency`
Do you have a link / issue number by any chance? It would be nice if we could track this progress.

[2022-05-04 13:16] cveld opened #4579 "Quote in username errors dapr init"
## In what area(s)?

Dapr cli; in particular dapr init

## What version of Dapr?

dapr --version
CLI version: 1.7.0
Runtime version: 1.7.2

## Expected Behavior

Dapr init runs smoothly.

## Actual Behavior

Dapr init errors out because it doesn't use proper escaping of the userprofile env var path.

[code]

## Steps to Reproduce the Problem

I believe just set the userprofile env var to something

[2022-05-04 17:09] halspang commented on #4579
@cveld - Thanks for reporting this!

@yaron2 - Seems like we can safely move this to `dapr/cli`?

[2022-05-04 17:12] halspang commented on #4544
@yaron2 - Is there anything left here? The fix is merged and released in 1.7.2.

[2022-05-04 17:19] cgillum commented on #4576
Yes, thanks @olitomlinson for calling this out. @johnewart I think we need to update the description above to reflect this important coding constraint.

[2022-05-04 17:40] cgillum commented on #4576
@jplane I wonder if there might be a slight misunderstanding. We're not proposing that the internal execution engine should support plugging in existing WF runtimes like Step Functions or Temporal.io. That would be a really hard problem to solve, as you suggested, and may not be in everyone's best interest. Rather, we're proposing two specific stories for how other workflow languages and/or runtim

[2022-05-04 19:00] aktxyz commented on #4573
will do ! as long as it does not require a test case :) :) :)

[2022-05-04 19:06] yaron2 commented on #4573
We love tests but this one doesn't :)

[2022-05-04 21:14] ItalyPaleAle commented on #4416
Wanted to share an update that work is in progress on updating the underlying SDK to the "track2" one. The PR is here: https://github.com/dapr/components-contrib/pull/1702 It needs a bit more testing before it can be merged, and it has dependencies on 2 more PRs which are currently blocked.

My hope is that we can give you a binary to test in a few days :)

[2022-05-04 22:40] jplane commented on #4576
Thx @cgillum for the explanation... that makes sense now.

I really like the direction... be ruthlessly sparse with the engine programming model, and let a thousand higher-order models bloom on top of it. Nice!

Not 100% sold on the BYOruntime sales pitch just yet... the Dapr WF engine's semantics will become a pseudo-standard, so anything that does state management, work scheduling, etc. differen

[2022-05-04 23:14] yaron2 commented on #4576
The goal is to make the Dapr WF APIs (and all Dapr APIs in general) a standard and via [work that is on-going](https://github.com/dapr/sig-api/issues/3) on our API-spec special interest group.

I agree with what you're saying here, but I actually think its valid. In this case, we certainly want to encourage users to choose the default, tested and optimized path of least resistance yet open the doo

[2022-05-05 02:04] benjaminhuo commented on #3169
Organization/Company: QingCloud Technologies
Website: https://kubesphere.io/
Country: China
Contact: benjamin@kubesphere.io
Usage scenario: Using Dapr to build open-source cloud native FaaS platform OpenFunction
Status: Production
Project Name and URL: https://github.com/OpenFunction/OpenFunction
Can we use your logo on the Dapr.io website? Yes. Logo image available at https://github.com/OpenFunct

[2022-05-05 02:39] LaurenceLiZhixin commented on #4528
I think this would be the best solution to solve configuration subscription in without websocket, I try to follow this idea to implement.
@yaron2

[2022-05-05 03:57] Taction opened #4580 "Dead letter unit test failed occasionally"
## In what area(s)?

 /area runtime

## Expected Behavior

Unit tests always pass.

## Actual Behavior

The dead letter unit test failed occasionally. For example https://github.com/dapr/dapr/runs/6284493034?check_suite_focus=true

## Reason

The test resiliency has a single inbound policy with a 100ms timeout, sometimes the timeout limit is exceeded and causes a retry to publish.

[2022-05-05 06:44] ankitkgcs commented on #4443
I am still facing dapr liveness and readiness probe failure issue and not able to deploy the resources to AKS cluster.

[2022-05-05 07:51] IvanILanekassen commented on #4416
Thanks for the update, since we primarily are experiencing this in production, I suppose we will wait for Dapr 1.8 and then try to upgrade production to see any effect.

[2022-05-05 09:22] shuiyunwudi commented on #4566
you mean add "traffic.sidecar.istio.io/excludeOutboundPorts: 50002" annotations on my application? In my case, I would like integrate dapr with istio, and use  istio's traffic management function,  dapr as service invocation, if I add that annotation, it will destroy istio's traffic management?

[2022-05-05 10:04] fumaluca commented on #4534
I've got the same issue, with dapr:1.7.2 installed with dapr cli on an Azure AKS.

@artursouza this is how to reproduce the issue in my case.
I've got the error for every deployment/service that use dapr, the following is an example with one service.

This is the dapr service, (retrieved using _kubectl get service vat-consumer-dapr -n oneplatform -o yaml_)
`apiVersion: v1
kind: Service
metadata:

[2022-05-05 11:55] webup commented on #3169
Organization/Company: UISEE
Website: https://www.uisee.com/en/
Country: China
Contact: [haili.zhang@uisee.com](mailto:haili.zhang@uisee.com)
Usage scenario: We're using Dapr along with OpenFunction to build a cloud agnostic FaaS platform for Autonomous-Driving cloud system. For an Autonomous-Driving platform, the complex use cases and numerous modules pose huge challenges to the entire architectur

[2022-05-05 13:36] #4580 closed

[2022-05-05 18:22] halspang commented on #4568
We just have the original issue which outlines Phase 2. I don't know if we ever determined if it was going to be CEL specifically, it just seems like the right tool.

https://github.com/dapr/dapr/issues/3586

I'll see if I can't compile a "future features" issue that references some of the resiliency updates that we're targeting going forward.

[2022-05-05 18:39] davidmrdavid commented on #4576
Excited to finally see this being discussed! Which means I get to learn more about it myself :-)

I'm a bit unsure about the capabilities of the "worker" actor. Is it correct to say that all `context.invoker.invoke` commands in the sample code translate to an operation in the worker? Is it also safe to say the worker actor exists simply to provide a framework-compatible means of performing I/O, wh

[2022-05-05 19:13] cgillum commented on #4576
Behind the scenes, yes. This actor is designed to do any work that may take an indeterminate amount of time to complete, like service invocation. This frees up the scheduler actor to do other work, like respond to queries.

Not necessarily. Technically, the scheduler actor could do all the I/O on behalf of the workflow code. The worker actor is really only for potentially long-running I/O, to keep

[2022-05-05 19:48] olitomlinson commented on #4576
- Can a single container image host multiple different types of workflow? Any theoretical limits you are aware of at this point?

- Can a container image that hosts a workflow also invoke endpoints hosted in that same container image?

[2022-05-05 20:18] cgillum commented on #4576
Yes, absolutely. The code samples above show only one call to `workflowClient.addWorkflow(...)`, but multiple calls can be made to register multiple workflows from the same app.

Yes, a single container image/app can host workflows and service invocation endpoints together, so if the `context.invoker.invoke` call targets the currently running Dapr app, then the same container image would be the on

[2022-05-05 20:52] davidmrdavid commented on #4576
Thanks, this makes sense. So I suppose that there will be a pre-determined mapping that makes certain APIs, like `context.invoker.invoke` always go onto the worker actor, while other more constrained APIs will go to the scheduler.

Something else that stood out to be is that I don't see any reference to `context.invoker.invoke` in the API listing of the original post. Will that be part of a differ

[2022-05-05 21:34] cgillum commented on #4576
The original post goes into the details of the workflow _building block_ APIs, which describe how existing app code can interact with Dapr workflows, whether self-hosted or externally hosted.  APIs for _implementing_ self-hosted workflows like `context.invoker.invoke` aren't currently enumerated. Right now, we're expecting to cover core Dapr APIs, like service invocation, pub/sub, bindings, etc. b

[2022-05-05 21:38] olitomlinson commented on #4576
The `context` object — is part of the Workflow SDK, right?

User code must use this context object from the SDK? There is no option to use a HTTP API?

If what I’ve said is correct, this wouldn’t align with the dapr principle of being language agnostic, right? Might that cause a rub?

[2022-05-05 21:54] cgillum commented on #4576
Correct, and @johnewart mentioned this in the original post in the "Workflow as code" section:

The building block APIs will be exposed over HTTP; just not the workflow runtime APIs. Indeed, it's a deviation from how other Dapr building blocks work, including actors, but I think it's an appropriate tradeoff that allows us to build a fully-featured workflows runtime implementation. It would be very

[2022-05-05 21:55] b26 commented on #4067
this would go in `deployment.spec.template.annotations`

[code]

[2022-05-05 22:07] yaron2 commented on #4576
Not much of a deviation. The Configuration API started out as gRPC only, and the upcoming Distributed Lock API is also gRPC only.

[2022-05-05 22:13] yaron2 commented on #4566
First, make sure you've installed Dapr with mTLS disabled. This isn't directly connected to this issue, but if you haven't disabled mTLS in Dapr you'll be facing other issues later on.

If you don't want to exclude the Dapr ports, you need to either:

1. Configure Istio to not route traffic through a Virtual Service for Dapr
2. Create Virtual Services for all Dapr services (Dapr creates a k8s serv

[2022-05-05 22:19] yaron2 commented on #4067
FYI check out this PR: https://github.com/dapr/dapr/pull/4456.

After it is merged we'll change the docs to explain the shutdown behavior.

[2022-05-05 22:27] olitomlinson commented on #4576
Sorry I should have said

The API surfaces for the building blocks are simple hence why you can bring your own HTTP or GRPC client (and avoid using SDKs) but with the workflow SDK the API surface is complex (as Chris just mentioned) so not using a language specific WF SDK Is unavoidable.

To me it’s fair to say that this is a deviation. Trade-off? Sure, but still a deviation from the status quo. N

[2022-05-05 22:38] yaron2 commented on #4576
True, but you'll find it's the same with actors, that de-facto necessitate an Actor SDK to provide a simple programming model that is otherwise very complex when using the APIs directly.

[2022-05-05 22:46] ItalyPaleAle commented on #4580
Hi @Taction thanks for fixing this :) It seems that we're having some issues with the e2e tests that were added in #4399 too. Could you please take a look and see if those can be fixed too? See: https://github.com/dapr/dapr/actions/workflows/dapr-test.yml

[2022-05-05 22:52] olitomlinson commented on #4576
Got it. I forget that dapr Actors require an SDK for the programming model. In that case, ignore everything I’ve said!

[2022-05-06 01:49] Taction commented on #4580
@ItalyPaleAle Sure, I'll look into the e2e tests, sorry for not noticing this before.

[2022-05-06 02:17] saber-wang commented on #3714
/reopen

[2022-05-06 02:23] saber-wang opened #4584 "Can I add sliding expiration for status management?"
## In what area(s)?

/area runtime

## Describe the feature

at present, some state management components already support TTL. Can further provide sliding expiration?

[2022-05-06 03:29] shuiyunwudi commented on #4566
Thanks for your answer, I hope my case will give other people some help.

[2022-05-06 05:25] wajika opened #4585 "How to record distributed tracing when using dapr pub/sub broker components?"
Originally my data propagation path was like this
![dt-trace-ex2](https://user-images.githubusercontent.com/17058349/167071277-ad9c3539-6a44-4da1-8568-cdd62638904f.png)

But after adding middleware in the middle, the propagation path is interrupted.
![dt-trace-ex3 (1)](https://user-images.githubusercontent.com/17058349/167071503-1c2c9d20-45b9-4fa1-abe2-77fbac89b973.png)

We mainly use dapr pub/sub

[2022-05-06 08:26] wajika commented on #3119
I have the same problem, after I manually add servicemonitor, dapr-placement-server and dapr-sidecar-injector appear on prometheus, but other services still don't appear, I can't find the reason.
![image](https://user-images.githubusercontent.com/17058349/167095231-3cf11d60-17e6-4563-8983-281bc8071a11.png)

dapr: 1.3.1
K8S: v1.20.4
kube-prometheus: 2.26.0

[2022-05-06 08:57] Venkat1188 opened #4586 "No pubsub congigured"
level: debug, msg: rpc error: code = FailedPrecondition desc = no pubsub is configured, scope: dapr.runtime.grpc.api, type: log, ver: 1.6.0

[2022-05-06 09:56] callebjo opened #4587 "Use self signed certificate for HTTP binding"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

area runtime

## Ask your question here
We have a HTTP binding calling an external url with a self signed  certificate. Is it possible to trust that  certificate  in the dapr sidecar?

[2022-05-06 11:44] willjr20 commented on #3146
Did anyone ever decide to use Dapr on Nomad?

[2022-05-06 13:39] withinboredom commented on #3146
@willjr20 I couldn't ever get it to work about 6mo ago before I gave up. Issues that I ran into -- and maybe resolved by now:

- Consul integration isn't compatible with Nomad (too opinionated/specific to k8s).
- No raw DNS integration to workaround the weird Consul integration.

[2022-05-06 15:51] yaron2 commented on #3787
@patrickhuber how's progress going?

[2022-05-06 16:35] patrickhuber commented on #3787
I spent some time with @johnewart working on transitioning the work over to him. I haven't been able to dedicate the time necessary and he has a good background in plugin infrastructure to move it forward.

I have everything unit tested. Biggest hurdle is integration testing. I don't think many more feature changes are necessary, just bug fixes.

[2022-05-06 16:41] johnewart commented on #4576
@olitomlinson -- I think those are great questions so thanks for asking them! I will avoid sounding like an echo chamber since Chris, Hal and Yaron mostly answered everyone's questions (before I even saw them).

That being said, I can see a world where it might be possible to define workflows _without_ using a language SDK, similar to how GitHub declares its workflows as YAML, with built-in predef

[2022-05-06 16:48] yaron2 commented on #4576
No, you did bring up a valid point. While we aim to keep APIs accessible and usable over standard protocols directly (HTTP REST, gRPC) to increase adoption and be inclusive to all programming languages and frameworks, the first principle of Dapr to make developers successful does allow for more opinionated programming models like Actors and Workflows, provided there is a well reasoned, non-nightma

[2022-05-06 17:07] #3922 closed

[2022-05-06 17:13] amulyavarote commented on #4586
Hi! Can you please provide more information on this?

[2022-05-06 18:35] ItalyPaleAle commented on #4587
What I'd recommend in this case is to create your own CA which is used to sign the certificate of the external server. Then, add the root CA (public) certificate to the trust store in your container. Dapr uses the operating system's trust store to validate CA certs.

[2022-05-06 18:37] ItalyPaleAle commented on #4587
Some tools you could use to manage your own CA are [step](https://smallstep.com/docs/step-ca) or [CFSSL](https://github.com/cloudflare/cfssl).

Once you generated a CA certificate, you can then add it to the trust store in your container. See here: https://stackoverflow.com/a/60187535/192024

[2022-05-06 21:02] yaron2 commented on #4586
@Venkat1188 specifically, please provide the full logs of the Dapr sidecar.

[2022-05-07 06:56] LaurenceLiZhixin commented on #4546
Here is previous discussion about unsubscribe API
https://github.com/dapr/dapr/issues/3906
Explicit unsubscribe API  can have better control over subscription. We can't stop getting updates for a specific key as yaron mentioned. We also can't gracefully close an subscription after the subscription grpc stream is closed, as dapr sidecar 's related subscription goroutine would keep blocked, and only

[2022-05-07 08:10] vangheem opened #4588 "Support binary mode for CloudEvents"
## In what area(s)?

/area runtime

## Describe the feature

Support CloudEvents binary mode so that payloads for message brokers can more easily work with non-json payload types and dapr can more easily work with non-dapr systems.

For example, if you produce a Kafka message in Avro or Protobuf format, you will want to be able to use the message seamlessly with tools like ksql and confluent conne

[2022-05-07 11:27] beiwei30 commented on #4576
Great proposal it is. I only have one minor question against API, that is, as you said,  there's "A set of APIs for managing workflows (start, schedule, pause, resume, cancel)", but I cannot tell how a workflow can be paused and resumed from the section of "API".

[2022-05-07 12:29] jplane commented on #4576
I agree the wording is confusing, but I'm guessing the intent is to use the RaiseEvent API... some external process sends a custom 'PauseEvent' to the workflow, and then later a custom 'ResumeEvent'. The workflow just needs to understand and anticipate those events and react accordingly. Presumably the workflow programming model will expose the events from DaprWorkflowClient or similar (from the c

[2022-05-07 16:14] hanxinimm opened #4589 "daprd --config not work"
daprd.exe  --config ./config.yaml

![image](https://user-images.githubusercontent.com/13499426/167262713-733cb2b6-2322-4887-8b5c-9dd23834117b.png)

![image](https://user-images.githubusercontent.com/13499426/167262765-81e7a60b-dfe1-4fd8-8366-7f37e52d321a.png)

[2022-05-07 16:38] cgillum commented on #4576
@beiwei30 @jplane sorry for the confusion, this was an oversight. You are correct that pause/resume could be implemented in the workflow logic using external events, and that this is what people have done traditionally with DTFx and Durable Functions. However, our intent for Dapr Workflow is to make this a first class feature that’s built in since it tends to be a pretty useful feature. We’ll upda

[2022-05-07 21:15] #4529 closed

[2022-05-08 02:24] Taction commented on #4580
@ItalyPaleAle I found the reason why e2e failed. The e2e triggered by https://github.com/dapr/dapr/actions/workflows/dapr-test.yml is using `pubsub.azure.servicebus` with config https://github.com/dapr/dapr/blob/master/tests/config/dapr_servicebus_pubsub.yaml. This component config sets `disableEntityManagement` to `true`, which disables automatically creating topics and subscriptions according to

[2022-05-08 02:25] ItalyPaleAle commented on #4580
Wow great find.

I don't have full context either. But because this is a component, I'm adding @berndverst too

[2022-05-08 05:33] hanxinimm opened #4590 "add dapr port load config from environment variables"
ver=1.6.1

## Describe the feature
I want to run dapr in Service Fabric, the samples https://github.com/dapr/samples/tree/master/hello-service-fabric
APP_HTTP_PORT DAPR_HTTP_PORT DAPR_GRPC_PORT is hard code,
but Service Fabric can automatically assign ports, we can get the port from  environment variables;
ref https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-environment-variabl

[2022-05-08 06:56] osamaz26 opened #4592 "Retry policy with kafka-pubsub"
## In what area(s)?

/area runtime

I have used the following config for the retry policy

[code]
It seems the sidecar respects the duration between the tries but after the max retries reached, the app receives the same message again. I'm using kafka-pubsub with .net sdk to consume messages with Resiliency activated.

My question is what happens after the maxRetries is reached? Should the sidecar

[2022-05-08 08:28] cveld commented on #4576
Just curious, is there any reason that this proposal is not added to the roadmap overview https://github.com/orgs/dapr/projects/52?

[2022-05-08 13:19] yaron2 commented on #4576
Yes, it hasn't been accepted yet.

[2022-05-08 15:04] olitomlinson commented on #4576
Given the parity to Durable Functions programming model, is it in scope to bring across the `ContinueAsNew` API and the `Entities` API too? Thanks

[2022-05-08 20:41] cgillum commented on #4576
ContinueAsNew, yes - this will be important for application patterns like eternal workflows.

Durable entities is TBD. Dapr already has native support for actors, but I can imagine we might bring it in to support things like distributed critical sections in workflows at some point.

[2022-05-09 03:24] francotiveron opened #4593 "Bridge to Kubernetes debugging in Visual Studio Code doesn't work for .NET 6 application"
## In what area(s)?
/area runtime

## What version of Dapr?

aks extensions (https://docs.microsoft.com/en-gb/azure/aks/dapr)

## Expected Behavior
Following the instructions in https://docs.dapr.io/developing-applications/debugging/bridge-to-kubernetes/ I'd expect to debug my .NET app in kubernetes locally with VS code

## Actual Behavior
The debugger fails to start with the following error
![ima

[2022-05-09 04:00] beiwei30 commented on #4528
Agree, we should align with the solution pub/sub uses.

[2022-05-09 04:46] #4291 closed

[2022-05-09 05:04] #4593 closed

[2022-05-09 05:12] Venkat1188 commented on #4586
2022-05-09T05:05:06.539Z  {"app_id":"dpar-publish","instance":"dpar-publish-6b56f94b4b-hjpfl","level":"info","msg":"starting Dapr Runtime -- version 1.7.2 -- commit 1f8c0abfc73bb14a71435519e56b2aecb4385f01","scope":"dapr.runtime","time":"2022-05-09T05:05:06.53933544Z","type":"log","ver":"1.7.2"}
2022-05-09T05:05:06.539Z  {"app_id":"dpar-publish","instance":"dpar-publish-6b56f94b4b-hjpfl","level":"

[2022-05-09 05:17] Venkat1188 commented on #4586
This is the dapr component for kafka pubsub
kind: Component
apiVersion: dapr.io/v1alpha1
metadata:
  name: messagebus
  namespace: default
spec:
  type: pubsub.kafka
  version: v1
  ignoreErrors: false
  metadata:
    - name: brokers
      value: 'pkc-3w22w.us-central1.gcp.confluent.cloud:9092'
      secretKeyRef:
        name: ''
        key: ''
    - name: consumerGroup
      value: 'dpar-consum

[2022-05-09 05:23] Venkat1188 commented on #4586
This is the code used for sending message to Kafka topic
daprClient
        .publishEvent(
            PUBSUB_NAME,
            TOPIC_NAME,
            message,
            singletonMap(Metadata.TTL_IN_SECONDS, MESSAGE_TTL_IN_SECONDS))
        .block();

[2022-05-09 07:15] callebjo commented on #4587
Thank for your feedback.
As far as I can see, this is how I could make it work in my application container.
But for  HTTP bindings  I assume the https call to my external server will have the dapd container as client.
Is there a way to do the same magic on the daprd container?

[2022-05-09 07:35] beiwei30 commented on #4590
Will this solve the problem before dapr runs, @hanxinimm ?

[code]

[2022-05-09 11:37] akhilac1 opened #4594 "add dependabot to dapr/dapr"
## In what area(s)?

 /area test-and-release

## Describe the feature

Include dependabot to scan dapr/dapr dependencies for any known vulnerabilities

## Release Note

RELEASE NOTE:

[2022-05-09 16:19] ItalyPaleAle commented on #4587
Yes, you are correct.

In your case, you'd have to create your own Docker images for `daprd` and inject your TLS certs. For example:

[code]

(Note that we use `distroless` as base images, hence the two-step process)

You will need to update the Helm charts to point to the Docker image you've customized.

At this time we don't have a better way to handle this (CC: @berndverst @yaron2 as this may b

[2022-05-09 16:45] #4531 closed

[2022-05-09 16:46] amulyavarote commented on #4580
@berndverst Any update on this?

[2022-05-09 16:50] salaboy commented on #4576
Hi folks, this looks like a great proposal. My name is Mauricio Salatino and I work for the [Knative](HTTP://knative.dev) community, I believe that we are evaluating the same topic for Knative and I was wondering if someone interested in workflows in DAPR is going to KubeCon EU in Valencia, Spain, it will be great to catch up and see if we can align some of these initiatives. Feel free to drop me

[2022-05-09 17:07] amulyavarote commented on #4580
@Taction Lets go for the 2nd option to resolve the issue.

[2022-05-09 17:26] yaron2 commented on #4580
@Taction @amulyavarote we don't know if this will work yet, but agree on opening this PR to test out the hypothesis.

[2022-05-09 17:36] artursouza commented on #4587
This looks like a feature gap in the sidecar where the sidecar could trust a cert in a path (volume mount in case of K8s) and/or a flag to trust all certs (for not prod scenarios).

[2022-05-09 17:38] yaron2 commented on #4576
Most Dapr maintainers and STC members won't be attending KubeCon EU physically to the best of my knowledge. It would be best to schedule a virtual call to discuss this.

[2022-05-09 20:31] rbisecke opened #4596 "SQS binding missing endpoint option (and others) from the pubsub integration"
## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior

When testing dapr integrations locally with a localstack image to simulate AWS, the sqs/sns pub sub binding allowed for a custom endpoint to be provided: [AWS SNS/SQS](https://docs.dapr.io/reference/components-reference/supported-pubsub/setup-aws-snssqs/). The sqs binding however is missing this option, preventing

[2022-05-09 21:15] amulyavarote commented on #4580
@Taction I created this PR based on the above discussion. This is failing on Linux and is passing on Windows. Can you please take a look?
https://github.com/dapr/dapr/pull/4595

[2022-05-09 21:24] amulyavarote commented on #4580
@yaron2 I see the same tests failing here.
https://github.com/dapr/dapr/runs/6359195699?check_suite_focus=true#step:18:846

[2022-05-09 21:31] yaron2 commented on #4580
1. Prior to this change, 100% of tests were failing for both Windows and Linux
2. The mentioned failing tests had different failure reasons than what's observed now
3. Several test runs on that PR failed due to completely different issues like bindings and actor reminders

[2022-05-09 21:49] yaron2 commented on #4580
The best way to tell if the change to the pub/sub component YAML resolved the reported issues is to run the e2e tests manually on a standalone cluster with only the relevant dead letter e2e tests.

[2022-05-10 02:59] Taction commented on #4580
I checked the container log for https://github.com/dapr/dapr/runs/6359195699?check_suite_focus=true#step:18:854, publishing to topic `pubsub-dead-topic-http` is succeed from `message-http-005` to `message-http-057`, but seems stucked to publish `message-http-058`, resulting in the publish timeout exceed.
Here is related publisher app container log.
[code]

[2022-05-10 06:17] hanxinimm commented on #4590
it can't  load config from environment variables ,only set environment variables

[2022-05-10 06:35] salaboy commented on #4576
That sounds good to me. The week after KubeCon might be a good option for me at least, would that work?

[2022-05-10 07:35] francotiveron opened #4598 "Actor is deactivated on K8s deployment scaling"
**Configuration**
- AKS cluster
- 1 dapr application with pod HPA (1..4 replicas)

**Event sequence**
- **2:12:55**, Deployment: 1 instance is started

[code]

- **2:16:20**, due to reaching 100% cpu usage, 2 new replicas are created

[code]
[code]

- **2:16:28**, placement tables updated to version 21 in the 3 dapr sidecars. Note the missing version 20 in some logs
[code]

[code]

[code]

- **2:1

[2022-05-10 08:34] francotiveron commented on #4598
I removed the HPA and deployed a single replica of the application with more resource so to never reach 100% CPU. While everything was running I manually scaled the deployment to 2 replicas (kubectl scale deployment..). Just after the second pos has been created, the app actors in the first pod were deactivated. Is this expected?

[2022-05-10 15:57] marcindulak commented on #4113
:eyes:

[2022-05-10 16:05] yaron2 commented on #3787
Thanks for the work you've done on this and helping push this forward. It was a tremendous help to get this feature off the ground.

[2022-05-10 16:26] msfussell opened #4600 "Improve the logs for resiliency policies"
## In what area(s)?

## What version of Dapr?
V1.7.2

## Expected Behavior
Currently the logs showing that a resiliency policy if loaded is set to debug, unlike subscriptions and components, so that you can see which resiliency policy has loaded

In addition, when a Resiliency policy is activated there are no info logs that show this activation so it is hard to understand what has happen. Having m

[2022-05-10 18:54] berndverst commented on #3813
Let's make this Stable for 1.8. We are also enabling this in Container Apps!

[2022-05-10 19:39] artursouza commented on #3813
We need more E2E test scenarios for this to happen. Volunteers?

[2022-05-10 22:10] spottedmahn opened #4601 "❌ stat /home/codespace/.dapr/components: no such file or directory"
I'm following the [quickstart: Service Invocation](https://docs.dapr.io/getting-started/quickstarts/serviceinvocation-quickstart/) & I opened the sample in a dev container.

I'm able to build the project:

Build succeeded.
    0 Warning(s)
    0 Error(s)
Time Elapsed 00:00:06.24

But when I try to run the app, it can't find the components directory:

❌  stat /home/codespace/.dapr/components: no su

[2022-05-11 00:32] yaron2 commented on #4576
Sounds good. I'll reach out on Twitter after I circle back with the relevant people on the Dapr side.

[2022-05-11 01:32] seeflood opened #4603 "proposal: make `metadata` in Dapr API more portable"
## In what area(s)?

 /area runtime

## Describe the proposal

### The problem we want to solve: the APIs are not portable!
We use dapr API in production environment. When we want to deploy same app on different clouds, we are sad to find that the app is not portable due to the `metadata`. We can't make the app "Write once, run on any cloud".

I will give some scenarios below.

#### Scenario 1. an

[2022-05-11 03:54] #4344 closed

[2022-05-11 05:55] jmfloreszazo opened #4604 "Input binding with Azure Service Bus and session queue and .NET SDK"
I am performing a binding against Azure Service Bus Queue with Session.

![image](https://user-images.githubusercontent.com/9931443/167778315-9383e6ed-db82-4e75-8386-bca624333908.png)

And I have this message from the sidecard:

Error reading from Azure Service Bus Queue binding: *Error{Condition: amqp:not-allowed, Description: It is not possible for an entity that requires sessions to create a no

[2022-05-11 06:24] XavierGeerinck commented on #4576
Amazing to see this proposal! Big yes to it!!

[2022-05-11 08:17] seeflood commented on #4603
The disadvantage of the enumeration design is that It's an incompatible change. The key of metadata is modified from string to PublishRequestEnum:

[code]

So there's a compatible Solution B here:

We don't modify the proto. The key of metadata is still string.
[code]

Instead, we define const for all metadata keys. For example, in `components-contrib/pubsub` package, we add const:
![image](https:

[2022-05-11 17:28] jfilipe-trd opened #4606 "MQTT subscriptions broken after v1.7"
## What version of Dapr?

## Expected Behavior

Sending a MQTT message to a given topic should be consumed by the routed rest endpoint.

## Actual Behavior

After release 1.7 and with multiple pub/sub topics the subscription is broken.

## Steps to Reproduce the Problem

full reproducible example here:

https://github.com/jfilipe-trd/dapr-mqtt-issue

Sending a message to the mqtt topic: `device/en

[2022-05-11 17:42] yaron2 commented on #4606
Thanks for reporting @jfilipe-trd, this is a known issue and is already tracked here: https://github.com/dapr/components-contrib/issues/1709.

[2022-05-11 17:42] #4606 closed

[2022-05-12 01:58] yaron2 commented on #4576
### Steering Committee Update

The Dapr STC voted in favor of accepting this proposal and the Workflows building block.

[2022-05-12 02:28] chenjpu commented on #3146
[code]

[2022-05-12 09:34] rnarayana commented on #4604
I think this is not yet supported. See this: https://github.com/dapr/components-contrib/issues/289

From the thread, I understood migrating to the newer azure sdks will open doors to support sessions. I'm also waiting for this feature. Hopefully it is in 1.8

[2022-05-12 10:01] jmfloreszazo commented on #4604
Thnak you @rnarayana

[2022-05-12 14:25] willjr20 commented on #3146
Thanks withinboredom and chenjpu for both of your responses. I realize the is an old issue.  I ended up creating/testing a 3 master/3 worker Kubernetes cluster, but I will still take a look at Nomad

[2022-05-12 16:15] seeflood opened #4607 "ci: one-line command for local development"
## In what area(s)?

/area test-and-release
## Describe the proposal

As a new-comer , I spent a lot of time fixing the CI issues when working on #4379
I think we can add an one-line command for local development.
For example , `make format` will format all the code, and `make check` will format, lint and test all the code.
With this tool, contributors can `make check` and find the CI issues local

[2022-05-12 17:45] #4607 closed

[2022-05-13 00:43] daixiang0 commented on #4523
@shubham1172 https://github.com/dapr/components-contrib/runs/6406024654?check_suite_focus=true#step:4:39, does it fail again? No helpful info for contributors looks bad.

[2022-05-13 01:31] seeflood opened #4610 "ci: improve `make check`"
## In what area(s)?
/area test-and-release

## Describe the proposal

Enhance the one-line command for local development.
After typing `make check`, it will:
- format, test and lint all the code
- check if you forget to `git commit` something.

[2022-05-13 03:32] shubham1172 commented on #4523
That is the problem with using push-only API keys. The FOSSA access is in process of being extended to Dapr maintainers so I won't be a bottleneck anymore. FYI, this failed because it started throwing false positive for github.com/chzyer/logex (it's already MIT licensed).

[2022-05-13 09:15] #4311 closed

[2022-05-13 15:07] skyao opened #4612 "Dapr sidecar injector won't work after dapr namespace deleted without helm uninstall"
## In what area(s)?

/area sidecar-injector

## What version of Dapr?

edge

## Expected Behavior

I need to refresh dapr control plane for e2e test in my local k8s cluster.

I removed current deployed dapr by deleting the namespace (dapr-tests), and re-create this namespace by `make create-test-namespace` command. and when re-deploy dapr by command `make docker-deploy-k8s`.

I expected that dapr

[2022-05-14 04:06] skyao commented on #4612
In e2e test README document, it required to execute helm uninstall command before deleting the dapr namespace.

So please follow this document.

And if somebody run into this problem like me, you can recover by helm uninstall command, not need to re-build the k8s cluster.

[2022-05-14 08:29] #4339 closed

[2022-05-14 10:25] ManAnRuck commented on #2595
@LLLLimbo @weibaohui Were you able to fix the issue?
I currently have the same issue on a **local Kubernetes** with [**Colima**](https://github.com/abiosoft/colima)

[2022-05-14 12:16] #4340 closed

[2022-05-14 15:19] oyjGit opened #4617 "Invoke failed when reply message size larger than 4MB even if called 'SetMaxReceiveMessageSize'"
On Ubuntu 20.04 WSL
## What version of Dapr?
![image](https://user-images.githubusercontent.com/12670712/168430715-59fad90a-070f-483e-8316-e375a8b7764f.png)

Run command 'docker-compose' to start daprd docker:
![image](https://user-images.githubusercontent.com/12670712/168433384-6b31e9f8-dc9e-4bb5-ba36-296acc35a235.png)

server side code:
![image](https://user-images.githubusercontent.com/12670712

[2022-05-15 11:48] #4434 closed

[2022-05-15 11:48] dengyangxi commented on #4434
that you

[2022-05-15 11:53] dengyangxi commented on #4325
The problem has been solved ：

dapr run --dapr-http-port 3501 --app-port 5006 --app-id orderapi  **--app-protocol  grpc**  **--app-protocol http**  dotnet .\Micro.Order.API.dll  --app-ssl

 dapr run  XXXXXX  **--app-protocol  grpc**   **--app-protocol http**    XXXXX

[2022-05-15 11:55] dengyangxi commented on #4291
The problem has been solved  :    [https://github.com/dapr/dapr/issues/4325](url)

dapr run --dapr-http-port 3501 --app-port 5006 --app-id orderapi --app-protocol grpc --app-protocol http dotnet .\Micro.Order.API.dll --app-ssl

dapr run XXXXXX --app-protocol grpc --app-protocol http XXXXX

The problem has been solved  :    [https://github.com/dapr/dapr/issues/4325](url)

[2022-05-15 17:00] #4343 closed

[2022-05-15 19:40] jjcollinge commented on #4010
/no-stale

[2022-05-16 00:10] Eitol commented on #4601
it happens the same to me. I have installed dapr using brew

[2022-05-16 01:20] #4395 closed

[2022-05-16 03:44] shubham1172 commented on #4236
Closing this issue - separate SDK issues will be track this.

[2022-05-16 03:44] #4236 closed

[2022-05-16 04:10] kevinten10 commented on #4603
What I'm curious about is how the user's program gets custom fields such as `partitionkey`.

Is it possible to move custom configuration(metadata fields) from the code into the `config component` in order to make the code "write once, run on any cloud".

My idea is to free the complex metadata custom logic from the code. Put it in the config component or in an external custom callback function lik

[2022-05-16 06:29] jigargandhi commented on #4587
Its definitely a gap in sidecars, we can add following configuration to sidecar to load the certificate, for the implementation, we can add a key in `httpPipeline` in sidecar configuration, the values can be a list of paths for self-hosted mode and volume mount or secret key ref for kubernetes.

[2022-05-16 06:32] callebjo commented on #4587
Sounds great!

Op ma 16 mei 2022 om 08:30 schreef Jigar ***@***.***>:

--

*Johan Callebert*

*ICT Middleware Developer*
*Randstad group*

*Keizer Karellaan 586 bus 81082 Brussel/Bruxelles*

tel. +32 2 472 60 50
gsm. +32 478 68 03 35

--
Disclaimer:This e-mail is confidential and intended for the addressee(s)
only. If you are not an addressee please promptly notify the sender and
delete the messag

[2022-05-16 06:34] jigargandhi commented on #4587
/assign

[2022-05-16 06:35] rabollin opened #4620 "Authority header in Service-to-Service invocation(gRPC) not being set correct"
Authority header in the Service-Service invocation request is set to “{daprappId}.{namespace}.svc.cluster.local” . The ask is how to get  :authority header to be the same as resolved DNS name. ex: “{daprappId}.dapr”

the authority header that is being updated when the message is posted by the dapr sidecar of processor app is handled by GO. [[meta]: `authority` issues · Issue #4717 · grpc/grpc-go (

[2022-05-16 07:54] oyjGit commented on #4617
@davidkarlsen @ItalyPaleAle @patrickdevivo @lukekim
Help!

[2022-05-16 09:44] oyjGit commented on #4617
Problem has been resolved, Daprd is too old! Upgrade it then works.

[2022-05-16 11:13] pravinpushkar opened #4621 "[Proposal] Capabilities API for Components"
## In what area(s)?

 /area runtime

## Background
Today, components have different capabilities for a given building block. In state store, for example, we have ETag and Transaction as optional capabilities. In PubSub, we have TTL. For reference, here is list of complete set of capabilities supported by different components for state store - https://docs.dapr.io/reference/components-reference/sup

[2022-05-16 11:22] pravinpushkar commented on #4367
Question -
What are all the capabilities, we want to capture by this API ?

Capabilities categorized under Features -
https://github.com/dapr/components-contrib/blob/948540e5a7d0c0a8ef0b0a614adc6d8c9663b054/state/store.go#L20

or All the features listed here like (CRUD, ttl, actors, query along with transactional and Etag)-
https://docs.dapr.io/reference/components-reference/supported-state-stores

[2022-05-16 12:13] jigargandhi commented on #4587
There are two places where we can configure the certificate bundle.
- Add a configuration to side car config
- Add a configuration to binding config.

### Adding to side car config
A config entry to side car configuration can be added in the `httpPipeline` section of side car config.
This would be very useful in case multiple components are using or are planning to use the certificate (which they

[2022-05-16 13:36] timoknapp commented on #4469
Hey @yaron2 , can you maybe share a sample snippet on how to enable this feature? I am missing a sample in your docs.

Thanks!

[2022-05-16 18:54] #4350 closed

[2022-05-16 20:33] yaron2 commented on #4620
Removing `kind/bug` as this is not a bug.

You can set the header with the `grpc.WithAuthority` option: https://pkg.go.dev/google.golang.org/grpc#WithAuthority.
As this is not (and should not be) configurable in Dapr, you'd need to make these changes to `daprd` here: https://github.com/dapr/dapr/blob/d837e76a042b3205d80d9fa893ffbc49e260962b/pkg/grpc/grpc.go#L100

[2022-05-16 21:21] yaron2 commented on #2595
We haven't tested Dapr with Colima, but this error seems to come up when a Dapr installation isn't cleaned up properly (meaning - namespace is deleted manually instead of `dapr uninstall -k` or `helm uninstall dapr -n dapr-system`.

[2022-05-16 21:27] halspang commented on #4621
@pravinpushkar - Both of these options seem fine to me, probably leaning more towards the first than the 2nd.

However, I'd love to hear some backstory here. Do we have user asks for one or the other? Do you have examples of when someone would use this? I think having those in the issue will give us a better way to decide which option to go with.

[2022-05-16 21:32] yaron2 commented on #4621
+1 on need for this. As for the options, strong preference towards option 1. Option 2 has too much in the way of maintainability issues and fragmentation of APIs.

[2022-05-16 21:39] yaron2 commented on #4469
You'd need to create this configuration file:

[code]

And then apply it to your deployment YAML with the following annotation:

[code]

[2022-05-17 00:05] artursouza commented on #4469
This feature will be enabled by default in CApps.

[2022-05-17 00:08] #4098 closed

[2022-05-17 02:28] hanxinimm commented on #2987
@artursouza  where is demo? how to do it?

[2022-05-17 03:46] iweixubin opened #4623 "How can I get into daprio/daprd:edge-linux-amd64 container"
docker run --net="host" --mount type=bind,source="$(pwd)"/components,target=/components daprio/daprd:edge ./daprd -app-id <my-app-id> -app-port <my-app-port>

images
daprio/daprd:edge-linux-amd64
daprio/daprd:1.7.2-linux-amd64

/bin/ash
/bin/bash
/bin/sh

all failed

[2022-05-17 05:08] msfussell commented on #4621
@pravinpushkar - As per the comment from @halspang can you explain with an example, what is exactly in the capabilities for a component, is this just the metadata properties (the spec definition) for each component or more.

And a proposal should really describe some more of the why with some example scenarios. Can you give 2-3 scenarios for the usage? I ask since capabilities for components has b

[2022-05-17 06:03] timoknapp commented on #4469
Thanks @yaron2 and @artursouza !

@artursouza : Since CApps is already using Dapr version 1.7.2, does this mean that this is already enabled for all Azure regions?

[2022-05-17 11:59] pravinpushkar commented on #4621
@halspang @msfussell I have updated the proposal with the background story. Kindly check it out.

@msfussell As you rightly mentioned, these APIs are for grouping of different types features that different component exposes.
Updated the title also.

[2022-05-17 17:41] johnewart opened #4625 "v1.7.3 Release Hotfix Checklist"
- [ ] ~~Create the v1.7.3-rc.1 Hotfix release (code changes) and test it~~
- [ ] ~~Create v1.7.3-rc.1 Tag [@]~~
- [ ] ~~Performance tests passing [@]~~
- [x] End to End tests passing on Linux and Windows [@]
- [ ] ~~Notify users to try RC1~~
- [ ] ~~Update the longhaul tests to use 1.7.3-rc.1 [@]~~
- [x] Write release notes [@johnewart]
- [x] Review release notes [@artursouza]
- [x] Create v1.7.3

[2022-05-17 18:37] #4495 closed

[2022-05-17 18:37] #4497 closed

[2022-05-17 22:15] berndverst commented on #4623
You cannot because it uses the distroless base image. So the question is really how you can get into any distroless container.

If you need to do this please build the debug containers yourself:

`make build-linux`  (or `make DEBUG=1 build` if you want to attach a debugger)
`make DEBUG=1 docker-build` (this builds the dapr containers but instead of distroless uses Ubuntu so you can get into the co

[2022-05-18 06:42] hanxinimm commented on #4527
i get the same error

[2022-05-18 06:46] yaron2 commented on #4527
This is fixed in 1.7.2

[2022-05-18 06:46] #4527 closed

[2022-05-18 06:50] hanxinimm commented on #4527
@yaron2

what's wrong ?

.\daprd.exe --app-id identity-authentication-webapi-service --components-path ./components --app-protocol http --app-port 20441 --dapr-http-port 20439 --dapr-grpc-port 20438 --metrics-port 20440 --log-level debug --app-max-concurrency -1
time="2022-05-18T14:31:20.5919444+08:00" level=info msg="starting Dapr Runtime -- version 1.7.2 -- commit 1f8c0abfc73bb14a71435519e56b2ae

[2022-05-18 09:20] Venkat1188 commented on #1276
@Topic(name = "testingtopic", pubsubName = "messagebus")
  @PostMapping(path = "/testingtopic")
  public Mono<Void> handleMessage(@RequestBody(required = false) CloudEvent<String> cloudEvent) {
    return Mono.fromRunnable(
        () -> {
          try {
            System.out.println("Subscriber got: " + cloudEvent.getData());
            System.out.println("Subscriber got: " + OBJECT_MAPPER.wri

[2022-05-18 09:33] itsoli91 opened #4627 "Dapr sidecars don't see each other when they are defined in multiple docker-compose files"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

I have multiple docker-compose for multiple solution in visual studio. All these docker-compose are in a same network by configuration. When I use service invocation I get a 500 Server Error from service sidecar but when I call the service directly it's ok and working.
I put configuration below with logs.

My always running docke

[2022-05-18 09:54] Venkat1188 opened #4628 "Dapr pubsub subscriber issue"
@Topic(name = "testingtopic", pubsubName = "messagebus")
  @PostMapping(path = "/testingtopic")
  public Mono<Void> handleMessage(@RequestBody(required = false) CloudEvent<String> cloudEvent) {
    return Mono.fromRunnable(
        () -> {
          try {
            System.out.println("Subscriber got: " + cloudEvent.getData());
            System.out.println("Subscriber got: " + OBJECT_MAPPER.wri

[2022-05-18 09:56] Venkat1188 opened #4629 "Pubsub kafka component"
I have a few open questions dapr kafka pubsub component,
1)In pub/sub in what situation Dapr retries sending a message again..
  I read in the documentation that the delivery is at least once.
  what is considered successful delivery and how to test it?
2) How dapr handle Autocommit? can we have the option to set autocommit time?
3) Dapr pub/sub tries to send it to subscribers and subscribers fail

[2022-05-18 11:32] iweixubin opened #4630 "Add container dapr_redis network Aliases"
I can't ping dapr_redis
so i inspect  dapr_redis and found out

Networks
  bridge
    Aliases   is null !!!!!

i want to
apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: statestore
spec:
  type: state.redis
  version: v1
  metadata:
  - name: redisHost
    value: `dapr_redis`:6379
  - name: redisPassword
    value: ""
  - name: actorStateStore
    value: "true"

dapr_placement
dapr_z

[2022-05-18 11:52] #4630 closed

[2022-05-18 15:55] #3874 closed

[2022-05-18 18:02] rtrindvg commented on #4302
I have the same problem. If my Redis goes down for any reason, the daprd sidecars keeps logging this error until it is restarted and nothing depending on the pubsub works.

[2022-05-18 22:09] #3415 closed

[2022-05-18 22:10] yaron2 commented on #3415
Thanks for this @aditirao7!

[2022-05-18 22:24] #4610 closed

[2022-05-18 23:39] yaron2 commented on #4188
Closed via https://github.com/dapr/dapr/pull/4320.

[2022-05-19 00:47] dk-lockdown opened #4638 "Should dapr support database protocol proxy, such as mysql"
<img width="965" alt="image" src="https://user-images.githubusercontent.com/33612882/169178136-e6990cea-f125-4c11-b7f5-ee85bde7129d.png">

If we supported sql protocol, we can route the sql requests however we want. we can do read write splitting, and sharding, and we also can solve distributed transaction problem. We all know that the database can guarantee the atomicity of an operation, but in t

[2022-05-19 00:51] dk-lockdown commented on #4638
and there is a project named [dbpack](https://github.com/cectc/dbpack) does support sql protocol proxy, if we need it, i can do a fusion of dbpack and dapr.

[2022-05-19 03:57] Syuparn commented on #4537
I am wondering how to fix it.

**plan 1. keep an old connection alive even after connectionPool replaces it with the new one**

This will cause a goroutine leak.

[code]

**plan 2. recreate connection and retry only when connection or certification error occurs in gRPC Proxy (like HTTP invocation)**

https://github.com/dapr/dapr/blob/v1.7.3/pkg/messaging/direct_messaging.go#L157

This seems imposs

[2022-05-19 04:43] shubham1172 commented on #4628
@Venkat1188 can you share the entire logs?

[2022-05-19 08:24] famarting commented on #4515
done here https://github.com/dapr/dapr/pull/4320

[2022-05-19 08:24] #4515 closed

[2022-05-19 12:55] callebjo commented on #814
We are working on an "event to webhook" service. Allowing platform events to be forwarded to external resources using a http post to an external API. This allows external resources to "Subscribe" on platform events.

To be able  to dynamically Subscribe/Unsubscribe we think we need this feature in one way or the other.

[2022-05-19 14:02] 1046102779 opened #4640 "Dapr Client API: a unreasonble design for Shutdown method"
SDK API design:

## Dapr Client API:

[code]

## Dapr Service API

[code]

## Problems

There are several parts to the incoming traffic of Dapr Sidecar:
1. Non-Dapr ecological external service traffic;
2. The outgoing traffic of the local MicroLogic;
3. Dapr standardizes the InputBinding of component capabilities and the subscribe message of pubsub;
4. RPC requests from other Dapr Sidecars;

For t

[2022-05-19 15:57] yaron2 commented on #4537
@Syuparn Plan 3 looks ok with me, any concerns with it?

This will cause a goroutine leak.

If we have a timeout on the connection, will that not be enough to clean up unused connections?

[2022-05-19 17:06] ItalyPaleAle commented on #4587
@shubham1172 and I had a discussion about this and he'll try running an experiment shortly.

Proposed design (assuming our tests are successful):

- On Linux containers, users will be allowed to pass a folder containing the root certificates they want to use as a Docker volume to the `daprd` container. By setting `SSL_CERT_DIR` we can then tell Go to use the certs from that folder (and only those)

[2022-05-19 17:07] pravinpushkar commented on #4621
For example, building blocks and list of capabilities/features that can be supported through this API.
Please share your thoughts on this.

#### State Store
    Transaction
    ETag
    Actors - Can be derived from above two
    TTL
    Query
    BulkStore operatons  - Will it be useful? As when component does not support bulk, dapr falls back to individual operations automatically.

#### Pub/Sub

[2022-05-19 20:54] ItalyPaleAle commented on #4416
Hi all, the change is now in the master branch and will be published with 1.8. Our initial tests seem to show greatly improved performance for Azure Service Bus (both PubSub and Binding), and hopefully improved reliability too.

Would anyone be willing to help us testing this by deploying a nightly build in their test clusters?

[2022-05-19 23:32] #4195 closed

[2022-05-20 01:09] francotiveron opened #4641 "Declarative pub/sub subscriptions are picked from stand alone components even if they are not in a .yaml file"
## What version of Dapr?

## Expected Behavior
If I rename subscription.yaml to subscription.txt, the subscription should not be picked. This is useful for test purpose, otherwise we must delete the file and then recreate it.
## Actual Behavior
Subscription is activated as if the file still has .yaml subscription

[2022-05-20 02:46] #4352 closed

[2022-05-20 03:55] Syuparn commented on #4537
@yaron2

It is hard to check whether the connection is unused. Although timeout is set to the connection by `context.Timeout`, this is independent to connections state (only `ClientConn#Close()` could change the state).

I just concerned plan 3 is a little hard to read, not techinical reasons.

I will try plan 3 and make a fix PR.

[2022-05-20 04:49] #3591 closed

[2022-05-20 08:39] 360build commented on #4475
I am facing the same problem.

Configured 2 services: Service A and Service B where service A is talking to service B
Service B is configured with a DAPR middle ware. This middle ware is an OPA configuration witch is checking an AD access token.

When making direct calls to the service B from an other pod or outside of the cluster the middle-ware gets called. :
| Service A |  --> | dapr ---> servi

[2022-05-20 14:39] olitomlinson commented on #4508
+1 for this proposal.

Particularly interested in this building block, as we want to offer a Bring Your Own Keys feature to our customers.

It would be super neat if a tenant in our multi-tenant system could share with us their key (one-time, super locked down SDLC for this part of the app which receives keys) and then we never get to see that key ever again because it is tucked away in a cloud ve

[2022-05-20 14:52] olitomlinson commented on #4603
A great example of this problem space is in bindings :

This is the `Local storage` binding

![image](https://user-images.githubusercontent.com/4224880/169552659-86ed2d6d-c982-415a-b5bd-f335a0fac4e2.png)

This is the `AWS S3` binding :

![image](https://user-images.githubusercontent.com/4224880/169552810-a2d74ccd-0d76-42f5-a484-c5b82835540d.png)

This is the `Azure Blob Storage` binding :

![image

[2022-05-20 15:46] IvanILanekassen commented on #4416
Hi and thanks for the update. Do you have any instructions to how to do this in the most efficient manner? We are running on Kubernetes, using Helm and have our code in C#. Hence we might need to upgrade som NuGet packages, together with all sidecars and the Dapr control plane. We have 23 pods deployed.

[2022-05-20 15:54] ItalyPaleAle commented on #4416
Hi @IvanILanekassen thanks for the response and for offering to test this in your test cluster :)

You should be able to run a nightly build of Dapr by changing the tag of the Dapr Docker image in your Helm charts. If you're using our Helm charts, that just requires changing `global.tag` to `edge` (or you can pinpoint to a specific version, such as `nightly-2022-05-19`).

Changing NuGet packages s

[2022-05-20 17:17] #4370 closed

[2022-05-20 17:25] johnewart commented on #4625
This has been released, I am going to close this issue

[2022-05-20 17:25] #4625 closed

[2022-05-20 21:43] halspang commented on #4500
The way I read the documentation about reminders, this feels like the intended behavior to me. Even if an actor isn't active, a reminder is supposed to fire. If anyone depends on this behavior, which they may, this would be a breaking change for them.

https://docs.dapr.io/developing-applications/building-blocks/actors/howto-actors/#actor-reminders

@cgillum - Do you think you could use timers ins

[2022-05-20 21:44] halspang commented on #4449
The proposal ended up in another issue: https://github.com/dapr/dapr/issues/4512. Closing this issue so we can track it in the actual proposal.

[2022-05-20 21:44] #4449 closed

[2022-05-20 21:49] cgillum commented on #4500
@halspang thanks for the comment. The odd thing is that the behavior seems to be different depending on whether the app is completely down or just unresponsive. If the app is down, I see the "expected" behavior of just one reminder. It's only when the app is "unresponsive" when I see the reminder pile-up. It feels like we should be doing one or the other.

In my case, I need reminders because I re

[2022-05-20 22:49] ItalyPaleAle commented on #3968
👋 bot

[2022-05-21 12:31] #4371 closed

[2022-05-21 19:01] #4268 closed

[2022-05-22 21:39] barorion commented on #4638
The distributed tx is an advanced usecase. But db proxying can probably be usefull for more common/simple usecases, as it gives better observability on the inputs & outputs of the component. This is very valuable for event sourcing, where you want to have a single ( and ordered) 'stream' of input events.

[2022-05-23 00:53] saber-wang commented on #4374
/active

[2022-05-23 09:37] iweixubin opened #4650 "How SaveState meta usage?"
[code]

[2022-05-23 12:38] 1046102779 opened #4651 "ListInputBinding: MicroLogic Server for HTTP"
https://github.com/dapr/dapr/blob/a1f71d1a47cd613b62662ac558e3f4314d1ea26e/pkg/runtime/runtime.go#L1202

Why does MicroLogic Server not provide an API similar to ListInputBinding to pull the list of InputBindings component names when Dapr Sidecar starts by specify `-app-port`?  Instead, all loading component Bindings satisfy InputBindings, and will take the initiative to read events. Although read

[2022-05-23 12:56] olitomlinson commented on #4576
What's the timescales looking like for getting something in hand, even if its just an alpha build that we can play around with? Thanks

[2022-05-23 13:24] wimvc1 commented on #4549
Any idea if this going to make it into the v1.8 release?

[2022-05-23 18:08] yaron2 commented on #4549
No, this will likely go into 1.9 or 1.10.

[2022-05-23 18:57] juazasan commented on #2836
@yaron2 I am looking at this but have some doubts about the approach for this issue. Wondering if you could please confirm the intend is to completely replace OpenCensus with OpenTelemetry and avoid introducing a breaking change by keep leveraging the Zipkin exporter.

Also, do we need to allow for other otel exporters to be used as part of the issue?

Thanks.

[2022-05-23 19:10] yaron2 commented on #2836
I confirm that's the intent. We want to introduce support for the OTLP exporter in addition to Zipkin.

[2022-05-23 21:37] artursouza opened #4656 "Test In-memory placement restart"
Placement service keeps the placement table saved in a PVC via Raft. We need to test Actors invocation, reminder and timers when the in-memory placement instances restart. Scenarios should cover single placement instance as well as a 3 instance setup.

[2022-05-24 02:18] #4651 closed

[2022-05-24 07:31] IvanILanekassen commented on #4416
Hi again,

I did a short test locally yesterday. We have a solution that uses docker-compose to run the "system locally". I bumped all the dapr images to the edge tag, and when all the container were up and running, the system did not work. I reverted to version 1.6.0 of the Dapr images, and then everything worked. I have limited time to test this, but if you have a specific nightly version tag th

[2022-05-24 13:23] ItalyPaleAle commented on #4416
Thanks for trying this. Do you have any specific detail of what the error was?

[2022-05-24 13:43] YuryZevakin opened #4660 "Some pubsub messages have been lost with log message "non-retriable error returned from app while processing pub/sub event <nil>""
## In what area(s)?

## What version of Dapr?

ver=1.7.2

Hi guys,

We have started to use Dapr in our new project and it seems like everything is going well.
But after deployment in AWS EKS we have faced a strange issue.

We have /api/PubSub/workflow  endpoint (.net core 6)
and it is look like this:

[HttpPost("workflow")]
        public async Task<IActionResult> WorkflowEventSubscribe([FromBody]

[2022-05-24 14:06] ItalyPaleAle commented on #4416
I would appreciate that, please

[2022-05-24 18:47] IvanILanekassen commented on #4416
Hi again, just tried this again, and it seems to work now locally. I will look into retrying this in an environment tomorrow. As I mentioned I do not have too much time to work on this, but if it is relatively easy, we'll do it.

[2022-05-24 19:51] #4397 closed

[2022-05-24 21:47] yaron2 commented on #4640
@1046102779 does this solve the issue? https://docs.dapr.io/operations/security/api-token/

[2022-05-24 21:55] yaron2 commented on #4660
The message `non-retriable error returned from app while processing pub/sub event` occurs only when Dapr is trying to send a message to your app's configured endpoint that should receive the event and getting back a 404 NOT FOUND error.

This might occur because your app container is restarting or otherwise unavailable at the time of the request. Do you see container restarts in your Pod during th

[2022-05-25 00:46] jollyaakash opened #4662 "VolumeMounts support for Side Car Daprd"
## In what area(s)?
 /area runtime

## Background
Today Dapr doesn't support  providing a capability via which the Volumes that are part of the Pod can be mounted on the side car - daprd container as well. The Volume might be needed by the Side car to communicate with host or other elements living on a K8s cluster. One real case example of this is how SPIRES implementation of SPIFFE [concepts here

[2022-05-25 01:28] 1046102779 commented on #4640
I'm going to try it, but I think the second solution is better.

[2022-05-25 05:50] greghoover commented on #3991
is this still a priority?

[2022-05-25 09:25] hanxinimm commented on #4537
@Syuparn  do you have plan? production it is fatal， what's time it will fix? thanks

[2022-05-25 09:38] YuryZevakin commented on #4660
Hi Yaron, thank your for your response.
app container is working without restarts.
I see origin of 404.

I have snssqs-pubsub dapr  component

apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: snssqs-pubsub
  namespace: default
spec:
  type: pubsub.snssqs
  version: v1
  metadata:
    - name: accessKey
      value: ""
    - name: secretKey
      value: ""
    - name: region
      valu

[2022-05-25 09:55] YuryZevakin commented on #4660
Additionally I am still searching lost messages in SNS/SQS
I am sending two approve events for each workflow, but in most cases i have got jut one event in the subscription.
![image](https://user-images.githubusercontent.com/95746365/170234451-b90a7b81-62aa-4506-a37f-067258b06d76.png)

Important to know that I am sending events to SNS/SQS from AWS StepFunctions.

Thank you again for your attention

[2022-05-25 13:37] ItalyPaleAle commented on #4587
@shubham1172  I think implementing it on top of #4662 makes sense. Aside from how it’s implemented, however, do you think it could make sense to create a separate annotation for this that abstracts steps 1 and 2 for the user and it’s specifically for TLS root certs?

Were you able to test this on Linux and Windows btw? Does it work?

[2022-05-25 15:41] shubham1172 commented on #4587
@ItalyPaleAle we can take either approach. Adding a separate annotation will save one step for the user, i.e., setting `SSL_CERT_DIR` environment variable; or we can document a how-to and let users use our two primitive annotations - `volume-mount` and `env`. Do you think it would add value to abstract it?

Yet to test the behavior, will update this thread once I do!

[2022-05-25 15:46] ItalyPaleAle commented on #4587
If it's not too much hassle to add the "shorthand" annotation, I think it would bring value by simplifying a step for users (reducing the possibility of errors too).

[2022-05-25 18:18] artursouza commented on #4662
I like this approach better.

[2022-05-25 19:39] bencz commented on #927
Any news ?

[2022-05-25 20:27] rlfcunha commented on #4317
Sorry if I'm a bit slow to understand, but what is the relationship between this and https://github.com/dapr/dapr/issues/4313?

The service I'm building needs the functionality described in https://github.com/dapr/dapr/issues/4313, but I'm not sure what's being described here is the same thing mentioned there.

[2022-05-26 00:47] Syuparn commented on #4537
@hanxinimm

I have just created a PR.

[2022-05-26 00:57] saber-wang commented on #4374
@yaron2 Is there a plan to deal with this problem?

[2022-05-26 02:10] asanjabi commented on #4474
I've run into this also, looks like InvocationHandler uses System.Uri to retrieve the host which is always converted to lowercase.

[2022-05-26 03:29] shubham1172 commented on #4662
/assign

[2022-05-26 07:58] YuryZevakin commented on #4660
Hi Everyone.
Dapr is great.
I have resolved my issue with adding Scopes in subsciptions

apiVersion: dapr.io/v1alpha1
kind: Subscription
metadata:
name: imr-workflows-subscription
spec:
topic: imr-workflows
route: /api/pubsub/workflow
pubsubname: snssqs-pubsub
scopes:
  - imr-workflows     # !!!!!!

apiVersion: dapr.io/v1alpha1
kind: Subscription
metadata:
name: imr-textbook-subscription
spec:
top

[2022-05-26 07:58] #4660 closed

[2022-05-26 09:44] Venkat1188 commented on #4628
Getting an nullpointer exception on reading  cloudEvent.getData(),
Error on dapr sidecar
 {"app_id":"dpar-subscribe","instance":"dpar-subscribe-67c7f44cc4-ndpm5","level":"error","msg":"non-retriable error returned from app while processing pub/sub event fd9d23c3-1f68-4222-8e9e-7960554017c3: \u003c!doctype html\u003e\u003chtml lang="en"\u003e\u003chead\u003e\u003ctitle\u003eHTTP Status 404 – Not Fo

[2022-05-26 09:51] saber-wang opened #4668 "Add full CURD function for supported Secrets management components"
## In what area(s)?

 /area runtime

## Describe the feature

I want to block the use of the original SDK to operate a resource. Using the original SDK to operate violates the original intention of using dapr.

[2022-05-26 09:53] sammytran90 opened #4669 "Failed to load Dapr secrets to .NET configuration API"
## What version of Dapr?

## Actual Behavior

I got an error when trying to bind dapr secret to .NET configuration API. Below are my secret configuration:
#### Dapr secret store
[code]
#### Extensions.cs
[code]
#### Program.cs
[code]
#### Actual error occurred on Kubernetes
[code]
#### Data I got from http://localhost:<daprPort>/v1.0/secrets/systemnetv2-secretstore/bulk
[code]

I have spent hours

[2022-05-26 09:57] shubham1172 commented on #4628
`non-retriable error returned from app while processing pub/sub event fd9d23c3-1f68-4222-8e9e-7960554017c3: <!doctype html><html lang="en"><head><title>HTTP Status 404 – Not Found</title><style type="text/css">body {font-family:Tahoma,Arial,sans-serif;} h1, h2, h3, b {color:white;background-color:#525D76;} h1 {font-size:22px;} h2 {font-size:16px;} h3 {font-size:14px;} p {font-size:12px;} a {color:

[2022-05-26 10:00] shubham1172 commented on #4628
You can also check this quickstart - https://github.com/dapr/quickstarts/tree/master/pub_sub/java/sdk

[2022-05-26 11:02] Venkat1188 commented on #4628
public String publishMessage(String reqMessage) throws Exception {

		String message = "This is message :  " + reqMessage;
		Map<String, String> metadata = new HashMap<>();
		// metadata.put(Constants.KAFKA_PARTITION_KEY, eventAuditDTO.getRequestId());
		metadata.put(Constants.KAFKA_PARTITION_KEY, UUID.randomUUID().toString());
		metadata.put(Metadata.TTL_IN_SECONDS, MESSAGE_TTL_IN_SECONDS);
		//

[2022-05-26 12:41] amimimor opened #4670 "support async output binding behavior"
## In what area(s)?

 /area runtime

## Describe the feature

It might be beneficial to 'fire-and-forget' a message sent to an output binding without waiting for the request to be fulfilled.
Possibly, this entails exposing an *async* write endpoint on an output binding component so that it would immediately reply and perform the writing to the binding in a context external to the http/grpc request

[2022-05-26 13:00] scano12 commented on #4031
Has there been any movement on this issue that we know? This is also causing an intermittent issue from time to time in our prod env.

[2022-05-26 16:24] yaron2 commented on #4152
Closed via https://github.com/dapr/components-contrib/pull/1740.

[2022-05-26 16:25] yaron2 commented on #4152
Reopening as not in `daprd` yet.

[2022-05-26 22:16] halspang commented on #4670
@amimimor - Thanks for opening this issue!

My main question here is is this not something that we should do/already support in the SDKs? For instance, in the .NET SDK, all of the client calls are already async calls. If you wanted to "fire and forget" it, you could just throw it in a background task. This does give the benefit of also being able to see if the put succeeded. Especially in the case

[2022-05-27 00:06] ItalyPaleAle opened #4673 "Proposal: Publish additional Docker images based on Mariner"
## In what area(s)?

/area test-and-release

## Describe the proposal

Currently, our Docker images for Dapr for Linux are based on distroless, specifically the ["static" images](https://github.com/GoogleContainerTools/distroless/blob/main/base/README.md) which are barebones. Essentially, they only contain the TZ database and (crucially) the CA root cert store, both derived from Debian.

With the

[2022-05-27 00:10] yaron2 commented on #4673
By "customers" I assume you mean users? Or is that to mean money will be charged for using these images?

[2022-05-27 00:13] ItalyPaleAle commented on #4673
Changed to "users" so it's clear this is all OSS software we're talking about :) Mariner is FOSS (GPL)

[2022-05-27 00:15] ItalyPaleAle commented on #4673
Changed to "users" so it's clear this is all OSS software we're talking about :) Mariner is FOSS (MIT)

[2022-05-27 00:23] yaron2 commented on #4673
Right, thanks. I don't see with additional images, it's quite common.

[2022-05-27 03:33] 1046102779 opened #4674 "Proposal: a solution for coupling dependency between dapr core and component repository"
## Problem Description
There are two scenarios to describe here.

1. Dapr fully imports all components of [components-contrib](https://github.com/dapr/components-contrib), which brings heavy dependencies. It is impossible for us to use all instances under all types of components for a service,  a product or a company; The best way is to use it according to the needs of a product team; (more than 1

[2022-05-27 04:47] daixiang0 commented on #4674
For internal components or private components, developers still need another repository, it does not change much: for now, they still can use the forked repository to build.

I like the custom part -- users can select the desired component to build, in this way, they can get a smaller size and smaller attack surface.

[2022-05-27 04:50] skyao commented on #4612
Close this issue since it's just a record for this problem, not a actual issue.

[2022-05-27 04:50] #4612 closed

[2022-05-27 04:54] yaron2 commented on #4674
That's an interesting proposal!

In the end, users still need to build their own `daprd` binary, then build a container image and store it in a registry, correct?

I'm interested in learning more about the actual problem(s) you are seeing with having all the dependencies loaded up front? From your description I'm able to understand that you want a team to be able to only load the component it need

[2022-05-27 05:08] 1046102779 commented on #4674
1. In the end, users still need to build their own daprd binary, then build a container image and store it in a registry, correct?
yes.

[2022-05-27 05:13] amimimor commented on #4670
These are good points. In my use case we are using Python that has limited
async semantics in some cases (too long to detail here). Furthermore we do
have use cases that writing a json to a datalake system is a side effect of
a server operation (we use that for shadowing in canary deployments) so
it’s not that important if a file is missing as it can be recovered from
the server’s own persistency.

[2022-05-27 05:39] shubham1172 commented on #4662
@artursouza can you please move this to 1.8 milestone?

[2022-05-27 06:55] #4393 closed

[2022-05-27 08:22] shubham1172 commented on #4628
Note, @Venkat1188 is getting the same error with the quick start https://github.com/dapr/quickstarts/tree/master/pub_sub/java/sdk. They are running Dapr on GKE.

[2022-05-27 09:08] shubham1172 commented on #4628
Next action item is to update Java SDK from v1.4.0 to v1.5.0 based on https://github.com/dapr/java-sdk/issues/694

[2022-05-27 09:42] 1046102779 commented on #4674
A detail design:
<img width="1420" alt="image" src="https://user-images.githubusercontent.com/20457624/170672949-4b79ce59-44de-4428-a8a9-30219bd40b63.png">

Two benefits of the design:

1. Able to introduce privatized components, so that Dapr can be more accepted and recognized by the business team;
2. The Dapr core warehouse only needs to fork and then change go.mod replace components-loader; the

[2022-05-27 10:10] beiwei30 commented on #4603
I agree with @seeflood 's idea of promoting common used keys from metadata to fixed enum for each kind of component, since by doing this, I believe it will introduce a minimal acceptable portability among different component offers.

For others keys unique to one specific component offer (impl), should we introduce an new API on daprd side so that the app has chance to realize the component offer

[2022-05-27 10:42] shubham1172 commented on #4628
Still facing issues after update. @mukundansundar can you please move this to Java SDK?

[2022-05-27 14:01] ngiind commented on #4143
I think I am getting this error still, with dapr v1.7.0. Am I missing something?

[code]

[2022-05-27 18:42] halspang commented on #4600
@msfussell - Are you asking for info level logs every time a policy is loaded? Or just for the initialization?

For the actual usage of the policies, I'd think those would be debug statements as there could potentially be a lot of them and it'd clutter the logs.

Based off of the app config and subscription logs, I think what would be best here is to have:

- Info log on resiliency being loaded
-