[2021-06-18 07:34] artursouza commented on #3313
We have a branch per release. Do you mean to have a branch per RC too?

[2021-06-18 07:38] daixiang0 commented on #3313
with `git tag -l`, lots of RC tags exist, remove them is new here?

No, my mistake, backport should only occur to vX.Y.Z(+1), not RC.

Also, consider the repo count, maybe split this into multiple sub tasks is better and easy to reach.

[2021-06-18 07:53] rolfik commented on #3096
@artursouza then it would be nice to fill it into documentation please.
Thank You

[2021-06-18 07:53] #3287 closed

[2021-06-18 08:46] skyao commented on #2988
Let me summarize the requirements of configuration api first:

### user-case1: "app-a" wants to get the configuration items which belongs to "app-a" itself.

This is the first user case we discussed and we have setup a level-0 to level-2 Hierarchical Capability Model, and we agree to start from level-0.

In this case:

- Any configuration item must belong to an application
- One configuration item

[2021-06-18 08:47] hirensharma commented on #3293
Well as per the doc here: https://docs.dapr.io/concepts/middleware-concept/, it says "The pipeline applies to all Dapr API endpoints, including state, pub/sub, service invocation, bindings, security and others."

And even with pubsub, similar to service discovery, it's the sidecar that makes an HTTP call to the end point which is independent of underlying cloud provider and should work the same wa

[2021-06-18 09:06] zhonghaochen opened #3322 "If I use Helm to install Dapr on Kubernetes, do I install it on the master node of Kubernetes?"
## In what area(s)?

## Ask your question here

[2021-06-18 16:53] CodeMonkeyLeet commented on #3322
@zhonghaochen No, Dapr does not need to be installed to the master node of your Kubernetes cluster. You should be able to follow the [Helm installation instructions](https://docs.dapr.io/operations/hosting/kubernetes/kubernetes-deploy/#install-with-helm-advanced] without specifying any pod to node mapping. Note that Dapr does need to be deployed into the `dapr-system` namespace specifically though

[2021-06-18 17:00] CodeMonkeyLeet commented on #3318
@Banchio Is the documentation for [developing on Kubernetes environment](https://github.com/dapr/dapr/blob/master/docs/development/developing-dapr.md#developing-on-kubernetes-environment) what you're looking for?

[2021-06-18 17:04] Banchio commented on #3318
Indeed! Thanks, I missed that part!

[2021-06-18 17:04] #3318 closed

[2021-06-18 17:05] CodeMonkeyLeet commented on #3320
I like the suggestion, and if folks are concerned about churning too much code at once, I would still encourage contributors to run the tool when updating markdown docs. FWIW, I'm already running the [VSCode Markdownlint extension](https://marketplace.visualstudio.com/items?itemName=DavidAnson.vscode-markdownlint) which is based on the markdownlint being proposed.

[2021-06-18 19:01] dmitsh commented on #2906
/assign

[2021-06-18 21:25] sejnub commented on #814
@jacoblroberts
I have been designing event driven systems for 25 years now and in absolutely every system it was vital that subsystems or microservices or actors or whatever you call them were able to dynamically subscribe to whatever they were interested in.
So I am really fascinated by our different point of view or my big misunderstanding.

Let us take the most simple use case I can imagine. We

[2021-06-18 22:16] jacoblroberts commented on #814
I'm not sure I follow.  Changing means removing one and adding another in its place.  This would indicate a business rule that say you can only subscribe to a finite number of user tweets and when you hit that limit, the UI is smart enough to ask you to unsubscribe to something else first.  I'm not sure why one would switch like this unless it was from a UI perspective of simply clicking on that u

[2021-06-19 00:24] seeflood opened #3323 "Race condition in grpc/api.go"
## In what area(s)?

 /area runtime

## What version of Dapr?

latest(v1.2.2)

## Description

Since it is found when I was reading the code,I won't give the steps to reproduce the problem.

The problem is that in grpc/api.go,we append the slice without synchronization,so there is no guarantee of concurrent safety
![image](https://user-images.githubusercontent.com/26001097/122625368-65d5f980-d0d7-

[2021-06-19 01:27] zhonghaochen commented on #3322
Thank you very much, I will give it a try

[2021-06-19 01:45] skyao commented on #2988
Back to document model, in above discussion, we learned that it is very hard to be compatibility with existing configuration systems since these existing configuration systems have totally different data structure to our configuration document and to each others. For example, "verson" support.

So, from my point, I want to declare something about the basic design of my dapr configuration api propo

[2021-06-19 06:51] jigargandhi commented on #2892
/assign

[2021-06-19 16:20] Yiyiyimu commented on #3060
Hi @quickstar it seems hyper-v already reserves that port and you could refer to this solution
https://github.com/docker/for-win/issues/3171#issuecomment-459205576

[2021-06-20 16:20] nathanawmk opened #3349 "Cloud Native Workflows with Google Cloud Functions and/or AWS Step Functions"
## Describe the proposal
To really make DAPR a first-class citizen in the multi-cloud world, it needs to integrate with Google Cloud Functions and/or AWS Lambda + Steps. Currently DAPR only integrates with Logic Apps, if not mistaken?

Proposal to integrate DAPR with Google Cloud Functions and AWS Lambda to make it fit for functions across multiple cloud?

[2021-06-20 21:08] RChrisCoble commented on #814
I'm doing a lot of research on Dapr for widespread use in our cloud and am just astounded this isn't supported.  Was considering this for use with "Industrial" IoT type applications where clients only want to listen on certain topics, with the assumption a topic is a single piece of IoT data, with all the 'live' data sitting in redis.  A client knows which values it wants to listen to, and should

[2021-06-21 02:20] doddgu opened #3325 "No connection could be made because the target machine actively refused it"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

## Actual Behavior

We use dotnet sdk call invoke by http, sometimes client sidecar throw exception "No connection could be made because the target machine actively refused it", sometimes a success and a failed. I try use postman to call server-side sidecar, it always success.

## Steps to Reproduce the Problem

I can't find the

[2021-06-21 02:31] beiwei30 commented on #3276
I made a prototype with the change (https://github.com/beiwei30/dapr/commit/1aeacd208648c6814bcd64d4060ce7d67a6b6268) on the dapr side, and the change (https://github.com/beiwei30/components-contrib/commit/1ed8c982b9bba9d40ba80a1eaaa2bd3a4104e6f5) on the components-contrib side.

@yaron2 Let me know if it is a valid feature request from your point of view, then I can proceed to submit the pull req

[2021-06-21 03:11] beiwei30 opened #3326 "InvokeBinding API does not return metadata in HTTP"
## In what area(s)?

/area runtime

## What version of Dapr?

edge: v0.11.0-608-gb0a7fed2

## Expected Behavior

HTTP should return metadata too for InvokeBinding like gRPC does

## Actual Behavior

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2021-06-21 03:49] #3326 closed

[2021-06-21 03:51] RChrisCoble commented on #814
I'll leave some UC PSR information in this issue just to give some context.

Industrial IoT type applications are often "asset" based.  An asset is any piece of equipment from something small like an IoT device, to million dollar wind turbines.  Each asset has [1..n] tags.  These tags are typically int, double, float, string, etc.  But UC's are emerging now to support a more expansive set of data

[2021-06-21 03:54] beiwei30 commented on #3283
@msfussell Not sure if this is what you want. I checked the code, and found out it's already supported: https://github.com/dapr/dapr/blob/master/pkg/http/api.go#L1156, but at the same time, I noticed that grpc's impl doesn't align with http's impl, see this:

##### gPRC's response
[code]

##### http's response

[code]

[2021-06-21 04:40] ItalyPaleAle commented on #2739
@artursouza

I am using Redis and I am using "first-write". As Dapr works today, it is required for me to set an ETag otherwise subsequent invocations override the value.

Example:

[code]

If you try making the pseudo-request above twice, the second time it will fail.

However, if you change it to:

[code]

It will update the value if it exists.

So it seems that an ETag is required at least with

[2021-06-21 05:10] #2979 closed

[2021-06-21 05:42] daixiang0 commented on #3280
Seems it only support role from [Github Setting](https://docs.github.com/en/graphql/reference/enums#commentauthorassociation).

[2021-06-21 06:03] jigargandhi opened #3328 "`make lint` command does not lint e2e"
## linting e2e tests
/area test-and-release

## What version of Dapr?

## Expected Behavior

command `make lint` should lint tests too

## Actual Behavior

`make lint` runs `golangci-lint run --timeout=20m` and it ignores does not include e2e tags because of which the e2e tests folders are not linted.
When we run `golangci-lint run --build-tags e2e` we see a lot of errors.
[code]

## Steps to Repr

[2021-06-21 06:12] beiwei30 commented on #3281
/assign

[2021-06-21 06:12] #3280 closed

[2021-06-21 07:46] beiwei30 commented on #3281
https://github.com/dapr/dapr/pull/3330 and https://github.com/dapr/components-contrib/pull/967 should be able to fix this issue.

[2021-06-21 08:37] sejnub commented on #814
@jacoblroberts
Thank you very much for your answer. Please forgive me that I dont go into it's details. I think we had a lot of misunderstandings there. Therefore I tried to get back to the main subject of this issue.

@RChrisCoble
I am happy that you support this issue. And I think the last part of your post should go somewhere else as it is not about runtime subscriptions.

I would like to get b

[2021-06-21 12:04] jigargandhi commented on #3328
/assign

[2021-06-21 13:44] RChrisCoble commented on #814
Apologies, I wasn't suggesting we modify the pub/sub pattern in Dapr, I was just trying to describe our entire UC specific to our potential usage of Dapr.  To put it more simply, we need a way for publishers to dynamically change which topics they are publishing to, as the total amount of topics would be too large otherwise.  I believe we can handle this ourselves with existing Dapr functionality.

[2021-06-21 13:54] RChrisCoble commented on #814
One other piece of functionality (assuming Dapr doesn't do this already) is that when a dynamic subscription is established, if a value is present in the redis, that value is sent to the subscriber automatically.  Perhaps this could be a flag on the subscribe as I assume this behavior may not be desired in all situations for wider Dapr users.

[2021-06-21 14:32] RChrisCoble opened #3331 "Support ability to join two Dapr mesh's together (Cloud + Edge)"
## Use Case

In the Industrial Control space, large customers are often running in what we call "Hybrid" topologies (Cloud+Edge) wherein they have [1..n] plants which are generating varying amount of equipment telemetry (Dapr topics) and a variety of Cloud workloads looking to access that telemetry for Visualization, AI, business processes, etc.  This model will be the case for quite a while as In

[2021-06-21 15:36] sejnub commented on #814
@RChrisCoble

Did you have a look at other pubsub brokers. For many of them published topics are not persisted only subscribed topics are.
If you have a lot of published topics (millions are totally normal in my experience) you should try to use a broker that doesn't have a problem with this. Otherwise you start ugly workarounds (I have been there).

Examples:
- Azure Service bus does persist publ

[2021-06-21 15:56] RChrisCoble commented on #814
That's a good point @sejnub.  If a subscriber crashes it can restart and re-subscribe, so no persistence there.  If a publisher crashes however and it's keeping a known subset of topics it should be publishing to, how does it recover?  It would need to be redundant or maintain that state externally outside of the publisher itself, like perhaps in an actor.

[2021-06-21 16:50] theperm commented on #814
I also have issues that subscription at run time is not supported. I was expecting to have that but also wild card subscriptions as well where subscribe to /topic/*   where * matches with all messages on /topic/subtopic effectively dicing the topic structure into seperate topics. Its not uncommon to have multiple levels in a topic and be to subscribe at an specific level or catch all with a wildca

[2021-06-21 17:35] yaron2 commented on #3281
@zcong1993 @beiwei30 this should be supported if the instructions here are followed: https://docs.dapr.io/developing-applications/building-blocks/pubsub/pubsub-raw/

Specifying as a subscriber that you're interested in a raw payload will cause `daprd` to inspect the data as raw and not as a Cloud Event.

[2021-06-21 17:46] RChrisCoble commented on #3331
From George Stevens in the Discord chat:

[2021-06-21 18:48] sejnub commented on #814
@theperm: As I understand it wildcards are supported and since 2020-07 also the original topic is deliverd: https://github.com/dapr/dapr/issues/1786

[2021-06-21 19:01] theperm commented on #814
Thanks... Not once have I seen this mentioned in documentation or in any examples. This is an important feature that I think should get more attention as I got the impression its not possible.

[2021-06-21 19:14] yaron2 commented on #814
Hi all, Dapr maintainer here.

I agree that dynamic subscriptions are an important feature, and the reason we've held off until now is because of the nature of an app-sidecar lifecycle relationship making this somewhat complex. We should revisit this topic now.

First, to be clear, publishers *do not* need to know in advance the topic they will be publishing to.

As for subscribers, this is where

[2021-06-21 19:37] drk9999 commented on #814
@yaron2 You actually as the app can know if the sidecar crashed and re-started. It will call the App to get a list of topics, subscribed to. If you're using the raw rest API then it would be up to the App to keep track of it, however if using one of the Language SDKs then the SDK should handle the tracking.

Also if I recall right, this whole issue came out of answering the question: How could the

[2021-06-21 19:38] RChrisCoble commented on #814
Hello @yaron2!  Thanks for responding.

Regarding the side car crashing, or losing connection, or anything else that would terminate the connection.  We handle this today in our software by the client:

1. Assumes all subscriptions are dead.
2. Re-acquires the endpoint (as a redundant same name app may be able to service the call)
3. Client re-issues the subscriptions like it's starting from scrat

[2021-06-21 19:45] drk9999 commented on #814
@RChrisCoble Just one thing to remember. Now the sidecar calls back to the App, to get a list of subscriptions, no need to retry subscriptions, when the Sidecar will call you to get the list of subscriptions you just have to track them.

[2021-06-21 19:47] RChrisCoble commented on #814
Consider the real world example of a customer with 10 plants and a central control room that looks at all 10 plants.  There's a Dapr mesh running on each of the 10 plants, and another running in the cloud.  They are all joined together in a hub/spoke model.  (assuming [Support ability to join two Dapr mesh's together (Cloud + Edge) #3331 is built](https://github.com/dapr/dapr/issues/3331))

The ce

[2021-06-21 19:54] RChrisCoble commented on #814
I'm open to better ways of solving this @yaron2, if you have Dapr architecture knowledge that might make this UC easier.  Like Dapr tracking the number of subscribers on a topic, the ability retrieve that information by thee publisher, publisher callbacks notifying subscriber topics that have recently been requested, etc.

[2021-06-21 19:55] GeorgeTsiokos commented on #1657
Idempotency for state (PUT) was released #2316. We still need it for pub/sub messaging.

[2021-06-21 20:34] yaron2 commented on #3331
@RChrisCoble I think most if not all of these requirements are possible *today* assuming you're using the Consul name resolution component.

This should be doable using the Consul name resolution component.

This should be doable if the Dapr Pub/Sub component is the same broker

For me, this is a subset of name resolution working across meshes.

This should work if setting up Dapr's Sentry service

[2021-06-21 20:43] pkedy commented on #3281
This doesn't seem like an issue in components-contrib but instead in the logging statement. `id` is a mandatory field, but I don't think the logging statement should assume it is present and safe to cast as a `string`. In fact, if you remove the cast it should probably fix this problem.

change

[code]

to

[code]

[2021-06-21 21:13] #3148 closed

[2021-06-21 22:01] RChrisCoble commented on #3331
The pluggable name resolution is pretty neat, thanks for pointing that out.  (I'm still learning here)

How can this overall behavior be improved in the future?
- Joining two mesh's is more "plug and play" than currently?
- Pub/Sub works when there's two different brokers across joined meshes.
- Mesh's align on a shared cert automatically?  Or at least negotiate a secure connection between the com

[2021-06-21 22:11] #3265 closed

[2021-06-21 22:23] pkedy commented on #3220
@akkie Sorry for the late reply. I have not forgotten about this. Not having good error handling can become a problem when we think about retries and not knowing which errors are retry-able and which are not (e.g. 404 Not Found when requesting state).

[2021-06-22 02:07] #3323 closed

[2021-06-22 03:24] seeflood commented on #2988
@skyao Gread insight.Here is my personal opinion:
## 1. Totally agreed with the priority
Portability>Easy to use>compatibility
## 2. Disagreed with the opinion of the advantages and disadvantages of the two models
Document does not mean "portability + ease of use", and key level does not mean bad portability.
### 2.1. Observation
#### 2.1.1. The extendibility of Document Model is not good
From the

[2021-06-22 05:28] tomkerkhove commented on #1849
Is there an update on the progress @msfussell ?

[2021-06-22 05:49] jjcollinge commented on #3331
@RChrisCoble I did a little experiment into cross network Dapr deployments here https://github.com/dapr/dapr/pull/3254 - let me know if this is useful or not and we can explore this further.

[2021-06-22 07:21] ItalyPaleAle commented on #814
I have found myself in need of this capability too. Simplifying it:

1. There's a front-end app (let's call it **api**) that receives jobs on an endpoint `/submit`. There can be multiple instances of **api**.
2. `/submit` creates a new job and sends it to a pubsub topic. It then responds to the client with a 202 ("Accepted") response that contains a URL where the client can check for the status of

[2021-06-22 07:47] ItalyPaleAle opened #3332 "PubSub: notify all instances of an application (rather than "competing consumers")"
## In what area(s)?

/area runtime

## Describe the feature

Currently, Dapr's PubSub implements the "competing consumers" pattern: if there's more than one instance of an application, one and only one of them will receive a message from a topic.

However, there are situations when it is necessary for all subscribers to a topic to receive all messages; you may call this "fan-out". For example, thi

[2021-06-22 07:47] ItalyPaleAle commented on #814
Thinking about it, my use case may be solved with support for a "fan-out"-kind of pattern, in which all applications that subscribe to a topic receive all messages. I opened a separate issue: https://github.com/dapr/dapr/issues/3332

[2021-06-22 12:50] seeflood commented on #2988
How about this, we sit down and look for a win-win solution:
Based on the above discussion, we have to accept a reality: In fact, there are already two different user scenarios, so they can be defined as level0 and level1.
## win-win solution: level 0 as key level API,level 1 as document API
We define level 0 as key level API, which supports query by key, while level 1 supports document model, or

[2021-06-22 13:06] pjanaya commented on #3128
We are also experiencing this issue. @yaron2, could you give us a status update? any possible workaround? Thanks!

[2021-06-22 15:10] yaron2 commented on #3128
Testing a fix now, this will be done for the upcoming 1.3 release.

[2021-06-22 15:23] yaron2 commented on #3128
@ptrubini @liamgib @pjanaya I created a `daprd` image that's based on an upstream gRPC fix. can you please test with this image and verify if you're able to reproduce?

Image:
[code]

[2021-06-22 15:35] yaron2 commented on #3128
If you need to run this locally you can exec to the container and pull out the `daprd` binary.

[2021-06-22 16:47] RChrisCoble commented on #3331
Thanks @jjcollinge, I think this makes a lot of sense.  Is there any limit to how many mesh's could be bridged together with a gateway?

Is the "hub and spoke" model realistic with a single Kubernetes dapr mesh acting as the hub with 3...20...100 other mesh's gateway'd in?

[2021-06-22 16:49] RChrisCoble commented on #3331
For the record, this looks useful for my UC and my vote is explore further.  :)

[2021-06-22 17:48] #3249 closed

[2021-06-22 18:05] wcs1only opened #3333 "E2E container logs are being lost for the first set of tests."
## In what area(s)?

/area test-and-release

## What version of Dapr?

## Expected Behavior

Logs should be saved.

## Actual Behavior

[code]

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE: N/A

[2021-06-23 00:47] greenie-msft opened #3335 "Dapr Roadmap"
[The Dapr Roadmap](https://github.com/orgs/dapr/projects/52) is a tool to help with visibility into investments across the Dapr project.

Dapr encourages the community to help with prioritization. Please vote by adding a 👍 on the GitHub issues for the feature capabilities you would most like to see Dapr support. This will help the Dapr maintainers understand which features will provide the most va

[2021-06-23 02:02] daixiang0 commented on #3335
Cool, may be better to add to README.

[2021-06-23 02:03] zhonghaochen opened #3336 "For example, I have 20 services, 18 of which are deployed in the local minikube, and the other 2 are deployed locally. How do the two local services call the services deployed in the local minikube, thank you!"
For example, I have 20 services, 18 of which are deployed in the local minikube, and the other 2 are deployed locally. How do the two local services call the services deployed in the local minikube, thank you!

[2021-06-23 02:52] daixiang0 commented on #3336
you can try nodePort or host mode for service, then app at local can reach app in k8s.

[2021-06-23 05:00] doddgu commented on #2988
I agree.
I think dapr Configuration API can easier. Provide key and document API and some schema to help user organize architecture(Cluster isolation, Too many apps management, Multi K8s share config). As far as permissions, monitoring, gated release, should not be within Dapr. So, I think dapr can not be a full configuration center, why not focus the base functions and opening up more capabilitie

[2021-06-23 06:18] sora-kashiwagi commented on #2988
Awesome! I learned a lot from the conversation between you and @skyao
I like this solution,which seems to be able to solve our company's problems.

[2021-06-23 06:59] tomkerkhove opened #3337 "Provide insights on actor provisioning and lifecycle"
## In what area(s)?

/area runtime

/area placement

## Describe the proposal

It would be good if there would be insights on how actors are being provisioned, hydrated, dehydrated so that people can extend them. Ideally, this would be both through SDK as well as CloudEvents on which we can subscribe.

Concrete scenario - We are investigating issues related to performance on downstream service and

[2021-06-23 07:18] zhonghaochen commented on #3336
哈，加你qq  ：）

[2021-06-23 07:33] doddgu commented on #2988
We are designing a config center based on Dapr, We will copy all capabilities from apollo and some new capabilities, for example organize configuration relationships according to the system architecture view, three layers configuration penetration. The design will help us fine-grained manage configuration, share sso, uniform management across environments  and so on. I want the configuration API t

[2021-06-23 07:47] doddgu commented on #2988
Some ideas:
1. provide two ways to operate configuration, pure text and key-value.
2. only validate secret key, allow across app-id to get another app configuration, or abstract a new concept parallel to app-id for shared configuration. I prefer new concept that aren't confused with app-id.

[2021-06-23 07:49] seeflood commented on #2988
We have developed an apollo component implemention of the Configuration API v0.0.1 (level 2) and it is open sourced.But v0.0.1 proposal has been rejected by community :(
I can share u our implementation.I have sent a friend request in discord

[2021-06-23 08:06] doddgu commented on #2988
layotto? I sent an add friend to your qq.

[2021-06-23 08:19] mhoad commented on #3337
I'd love to see some documentation regarding how to instantiate actors WITHOUT using an SDK and just via gRPC and HTTP as well if possible.

[2021-06-23 08:20] seeflood commented on #2988
OK.Since our company doesn't let us use qq with computer, I'm struggling downloading qq using my phone
Or we can talk on discord or Dingtalk group (in chinese,haha).Our dingtalk group 31912621

[2021-06-23 09:02] wenxuwan opened #3338 "Support for Streaming on Input and Output Bindings [OutBinding cannot support large file transfer]"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

OutBinding can support large file transfer with Aliyun OSS

## Actual Behavior

OutBinding cannot support large file transfer with Aliyun OSS,
`rpc InvokeBinding(InvokeBindingRequest) returns (InvokeBindingResponse) {}` interface should used for CRUD

`const (
	GetOperation    OperationKind = "get"
	CreateOperation OperationKind

[2021-06-23 09:22] afterwire commented on #927
This was actually super confusing for me trying to get up to speed on the Actors in general. I couldn't figure out how I could possibly use them with gRPC I just thought the docs were not up to date. I'm working with a language that currently has no SDK (Dart) and I would *strongly* prefer to try and keep all Dapr related stuff happening via a single protocol (gRPC) if possible. So I guess I would

[2021-06-23 09:47] MoonShining opened #3339 "support de facto standard"
there are de facto standard  in many situations:
- sql in RDBMS
- aws-s3 in Object Storage
- redis protocol in Key-Value Store
- ...

users are familier with these api and lots of applications already built on them.

GRPC api require users to change their code, which brings unacceptable cost.

in order to let existing applications benifit from "mecha",   how about support the de facto standard pro

[2021-06-23 10:46] withinboredom commented on #3337
I can give some insight here, at least in regards to the PHP-SDK (in which other SDKs follow a similar process):

On app startup, the sidecar [requests `/dar/config` or the GRPC equivalent](https://docs.dapr.io/reference/api/actors_api/#get-registered-actors). The app returns the registered actors and their requested configuration. The sidecar calls [`/healthz`](https://docs.dapr.io/reference/api/

[2021-06-23 11:45] logamanig opened #3340 "Scoping by namespace is not working with Azure Event Hub PupSub Subscription"
We have two environments in the same K8S cluster with identical services running in each.

Dev Environment:
Services:
Instance of App1 with dapr id: app1
namespace: DEV

Dapr:
pubsub component - eventhub1 (dev eventhub namespace)
consumer group - app1
subscription - withscope - app1
namespace: DEV

SIT Environment:
Services:
Instance of App1 with dapr id: app1
namespace: SIT

Dapr:
pubsub componen

[2021-06-23 15:35] dmitsh opened #3341 "Add git commit hash to version output"
## In what area(s)?

/area runtime

## Describe the feature
Add git commit hash to version output

## Release Note

RELEASE NOTE:
**ADD**  Add git commit hash to version output

[2021-06-23 15:37] dmitsh commented on #3341
This is similar to https://github.com/dapr/cli/issues/599

/assign

[2021-06-23 15:54] TenSt commented on #3169
Organization/Company: Ventus Cloud AG
Website: https://ventuscloud.eu
Country: Switzerland/Ukraine
Contact: support@ventus.ag
Usage scenario: Using Dapr to support and protect our API infrastructure. We use invocation, state management, pub/sub, observability, middleware.
Status: Production (first version was with Dapr v0.10.0)

[2021-06-23 16:21] orizohar commented on #2882
Roadmap is not tracked via https://github.com/dapr/dapr/issues/3335

[2021-06-23 16:21] #2882 closed

[2021-06-23 17:33] #2513 closed

[2021-06-23 17:44] CodeMonkeyLeet commented on #3338
@wenxuwan To clarify, is this an ask for Dapr to support streaming output bindings via `OutputBinding.Invoke()` or for the implementation of the existing AliCloud OSS output binding to be implemented differently? In the latter case, the 5GB size constraint appears to due to the dependency on the aliyun-oss-go-sdk PutObject implementation, and it could potentially work around this by using the mult

[2021-06-23 17:48] CodeMonkeyLeet commented on #3339
@MoonShining can you elaborate on which protocols you would like to see? On the HTTP API side, are the choices being discussed in #2817 along the lines of what you're interested in?

[2021-06-23 18:22] mmisztal1980 commented on #3335
Awesome, thanks for listening

[2021-06-23 18:35] RChrisCoble commented on #814
So @yaron2, how early could a feature like this arrive in preview?  I know we'd be interested in consuming this behavior in the next month or so.

[2021-06-23 18:48] tomkerkhove commented on #3337
Thanks for explaining and I'm already aware of those, but having events for activation/deactivation and such would really be helpful.

[2021-06-23 20:28] halspang commented on #3295
I think it's important to distinguish between a lock timeout and a request timeout here. If we start adding timeouts to the lock without canceling the request, we can get into a case where we lose the single-threaded nature of actors.

Knowing your use case here would be helpful @javageek79. Is the intent to have really long running actor calls or is this a case of the system getting hung up?

[2021-06-23 20:53] jjcollinge commented on #978
Just an FYI, there are some tools (telepresence, bridge to k8s (although this doesn't support sidecar yet)) which allow you to debug Dapr components and apps locally whist "tunnelled" into a Kubernetes cluster. This lets you use debugging in your local tooling (e.g. vscode) rather than using dlv over SSH. The tooling can mirror service accounts and environment variables so you can continue to use

[2021-06-23 21:10] withinboredom commented on #3337
As a workaround, it'd be pretty straightforward to do something like create a common base class for your actors:

[code]

It would look very similar in C#, but I'm not sure about other SDKs.

From there, creating a simple dashboard showing the distribution is decently straightforward (ignoring the potential sudden death of nodes). Though, this really should be in the dapr dashboard and not reliant

[2021-06-24 01:16] wenxuwan commented on #3338
It is the first case, in my opinion the second case is what components should do, the first case is dapr should support between dapr and app.

[2021-06-24 02:54] daixiang0 commented on #3338
I would like to see dapr support streaming output bindings.

/cc @artursouza @pkedy

[2021-06-24 03:19] MoonShining commented on #3339
mysql for example, almost every web application needs to access database.

the common evolution is
- use single mysql instance at begining
- use client sharding sdk，connect to multiple instance to scale out
- use distributed mysql-competible database such as tidb
- ...

If dapr can provide mysql competible service, then we can do above evolution transparently.

The new GRPC/HTTP API is awesome, bu

[2021-06-24 06:05] #3333 closed

[2021-06-24 09:38] wenxuwan commented on #3338
How about adding two file(data) transfer interfaces separately instead of outbings?

`
// Gets the object for a specific key.
  rpc GetObject(stream GetObjectRequest) returns (stream GetObjectResponse) {}

  // Put the object for a specific key.
  rpc PutObject(stream PutObjectRequest) returns (stream PutObjectResponse) {}
`

[2021-06-24 09:39] wenxuwan commented on #3338
How about adding two file(data) transfer interfaces separately instead of outbings?

`// Gets the object for a specific key.
rpc GetObject(stream GetObjectRequest) returns (stream GetObjectResponse) {}

// Put the object for a specific key.
rpc PutObject(stream PutObjectRequest) returns (stream PutObjectResponse) {}`

[2021-06-24 09:53] sejnub commented on #814
@RChrisCoble

I still think you should reconsider your tight coupling that is introduced by your idea that publishers should only publish what subscribers are interested in. I see that this reduces load but it gives you a lot of complexity by breaking the fundamental idea of pubsub.

There are brokers out there for which receiving unsubscribed publishes is extremely cheap: They just throw them awa

[2021-06-24 10:00] sejnub commented on #814
@ItalyPaleAle

That is a typical solution for pubsub handling a request/reply pattern. It is natively supported in some brokers like NATS and RabbitMQ. But it is very easily implemented on client side. So I totally agree with you that your use case is a good reason for dynamic subscriptions.

[2021-06-24 10:09] sejnub commented on #3332
@ItalyPaleAle
On page https://docs.dapr.io/developing-applications/building-blocks/pubsub/pubsub-overview/ it says

Are you sure that "Dapr's PubSub implements the 'competing consumers' pattern"?
My understanding is the other way round. DAPR provides fanout and we could ask for additional support for "competing consumer" or, to use another name, "workload distribution".

[2021-06-24 10:14] sejnub commented on #814
My understanding is that DAPR already implements fan-out and not "competing consumer". Have a look at #3332 for my reason to believe so.

[2021-06-24 10:17] apuzyrevsky commented on #3319
/cc @yaron2

[2021-06-24 10:17] doddgu opened #3344 "Operate state throw exception FailedPrecondition on windows"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

Get state success.

## Actual Behavior

OS: Windows 10 19042.1052
Mode: Self hosted

Note: I run the .net program on windows, not docker.

[code]
RpcException: Status(StatusCode="FailedPrecondition", Detail="state store is not configured")

![image](https://user-images.githubusercontent.com/7299249/123245392-5d3a5480-d517-11eb-87

[2021-06-24 10:24] sejnub commented on #814
@yaron2

My proposal is to keep the current behaviour. When DAPR crashes and restarts it just calls `http://localhost:<appPort>/dapr/subscribe`. So it is up to the client app if it enables `http://localhost:<appPort>/dapr/subscribe` to keep track of the dynamically added or removed subscriptions. The advantag is that the DAPR-implementation would probably be easy.

If then later customers need DAP

[2021-06-24 11:45] sejnub commented on #3332
A typical impülementation of this would be to add a consumer group (a string) to each subscription. The behaviour would then be:
- each subscription with empty consumer group gets a copy
- for every subcribed consumer group only one member gets a copy

[2021-06-24 13:05] lghinet commented on #3293
Hey,
I was having the same issue, the config-pipeline is not executed when a new event comes through the pub/sub subscriber
i was wondering if I can create a pipeline with some middlewares, let's say ..for dead letter queue, or resiliency that are not specific to a particular queue, but it's a general messaging pattern,
any ideas how can I do that ?

[2021-06-24 13:30] heyanwei opened #3345 "Dapr RPC Client Get Data From Dapr Serivce in Other Computer"
Dear Sir,
Could you please tell me how can I use dapr rpc client(Computer A) to get data from Computer B?
Computer B has a dapr service.

Thank you very much!

[code]

[2021-06-24 15:25] ItalyPaleAle commented on #3332
But this wouldn't work with auto-scaled consumers. See #814.

[2021-06-24 15:59] ItalyPaleAle commented on #3332
I've been thinking about this more and I've also been doing some research.

**First:** while I wrote this as part of a request for PubSub, in reality it may not need to be done asynchronously and it could be done synchronously too. The underlying goal is that I need a "notifier" that allows me to send a message to all services of the same time (like, all apps scaled out) - a "fanout" pattern. Beca

[2021-06-24 16:22] berndverst commented on #3056
@CodeMonkeyLeet are you working on this by chance?

[2021-06-24 16:25] wcs1only commented on #3056
Should be fixed by #3230. If when we build the RC, the dev-container works, we can just close this.

[2021-06-24 16:45] #2473 closed

[2021-06-24 16:58] artursouza commented on #2502
Closed due to inactivity.

[2021-06-24 16:58] #2502 closed

[2021-06-24 18:01] wcs1only commented on #3271
True, but yaml is pretty much the default everywhere else with dapr. And since all json is yaml (with a few edge case exceptions), json will still be accepted and valid.

[2021-06-24 18:03] wcs1only commented on #3271
Oh, thanks! I'll be sure and check this out.

[2021-06-24 18:04] tjwp commented on #2497
I have not been actively working on this, but I'm still happy to transfer https://github.com/tjwp/dapr-ruby-sdk/ if it helps to keep things moving.

[2021-06-24 18:06] denis111 commented on #3103
I think it must not be closed.

[2021-06-24 18:40] yaron2 commented on #3103
In 1.3 Dapr will support native gRPC streaming.

[2021-06-24 18:46] tomkerkhove commented on #1942
Keep alive

[2021-06-24 20:53] apuzyrevsky commented on #3319
I allowed myself the audacity to create a PR itself in WIP stage, so could you guys review it when there will be a chance :)

[2021-06-24 21:12] #3341 closed

[2021-06-24 21:28] dmitsh opened #3348 "Replace E2E pipelines for Kubernetes 1.17/1.18 with 1.20/1.21"
As Kubernetes community releases new versions, we need to keep up and update our pipelines.
Kubernetes supports past 3 minor versions for up to 12 months (1.18 and older for up to 9 months).

Currently supported versions are 1.21, 1.20, 1.19.
https://kubernetes.io/releases/version-skew-policy/

I propose removing pipelines for versions 1.17 (and potentially 1.18), and replacing them with 1.20 and

[2021-06-24 21:32] artursouza commented on #3348
/cc @yaron2 @msfussell @halspang @pkedy thoughts on this?

[2021-06-24 22:02] halspang commented on #3348
I think we should definitely have tests for whatever is officially supported. As for removing old versions, I'd be OK with that if we, again, aligned directly with kubernetes.

However, I think my ideal case would be to keep the most recent deprecated version(s) supported until we can align them with our own release/documentation cadence that gives the clear heads up we won't be testing it anymore

[2021-06-24 23:05] #3040 closed

[2021-06-24 23:07] artursouza commented on #3015
@yaron2 Any thoughts on this. I am inclined to close it as "wontfix" since we do not hot reload subscriptions or components in Dapr by design.

[2021-06-24 23:11] artursouza commented on #3348
I agree to adding new versions of K8s to our tests. When it comes to removing, I am concerned about us removing versions that we have a "significant" number of users still using.

[2021-06-24 23:13] artursouza commented on #3132
This issue might be related to https://github.com/dapr/dapr/issues/3023

[2021-06-24 23:14] artursouza commented on #3126
Closing as stale.

[2021-06-24 23:14] #3126 closed

[2021-06-24 23:15] #3071 closed

[2021-06-24 23:18] dmitsh commented on #3348
I agree that we should care about user base, but Dapr is an open source project. If Kubernetes (another open source project) stops supporting certain version, so should we.
It might be different for the managed Dapr service, where we would have a dedicated team supporting paying customers.

[2021-06-24 23:31] halspang commented on #3348
@artursouza it would be great to be able to get that kind of information, though I don't know how we could do that across all the different k8s platforms.

Deprecation is always a careful narrative. Balancing the new features (that can not function on older k8s) and supporting older versions which stops us from making new features. Since people are free to choose what version of dapr they want to

[2021-06-25 00:06] yaron2 commented on #3349
Moving to dapr/dapr.

/cc @msfussell

[2021-06-25 00:53] #3284 closed

[2021-06-25 01:07] doddgu commented on #3345
No, you can't. Azure API Management Service can operate multiple dapr, dapr isself does not have this capability. You can use pub/sub or bindings support it for a while.

[2021-06-25 02:10] doddgu commented on #3344
time="2021-06-25T10:09:09.8998877+08:00" level=warning msg="failed to init actors: actors: couldn't connect to placement service: address is empty" app_id=masa-dcc-service-admin instance=SSHZ014 scope=dapr.runtime type=log ver=1.2.2

[2021-06-25 02:39] msfussell commented on #3349
This is good discussion and one that would greatly benefit Dapr and the cloud developer ecosystem. The LogicApps integration is demonstration of what is possible with a general workflow engine and having this generalized is certainly a long term goal

[2021-06-25 03:11] vikingcodes opened #3351 "Difference Between dapr and KrakenD or API Gateway"
What is Difference Between dapr and KrakenD or API Gateway.

Can we can use dapr as API Gateway ?

[2021-06-25 03:15] doddgu commented on #3344
I set actorStateStore value to false, it still throw this exception.

[2021-06-25 03:50] marviniter commented on #3163
had finished,close it!

[2021-06-25 03:50] #3163 closed

[2021-06-25 03:52] marviniter commented on #3157
I think it is neccess to output the format error log,should i close this issue?

[2021-06-25 03:54] doddgu commented on #3344
I run daprd with placement-host-address parameter, it sill throw this exception.

Log looks like actor is working.

`time="2021-06-25T11:51:03.3649354+08:00" level=info msg="actor runtime started. actor idle timeout: 1h0m0s. actor scan interval: 30s" app_id=masa-dcc-service-admin instance=SSHZ014 scope=dapr.runtime.actor type=log ver=1.2.2`

[2021-06-25 04:14] doddgu commented on #3344
I run daprd with -placement-host-address localhost:6050 parameter, then placement is working.

[code]

[2021-06-25 04:44] msfussell commented on #3351
Questions like this are best asked on the Dapr Discord channel, here https://aka.ms/dapr-discord

Dapr is not intended to be used as an API gateway, since it does not have feature such as throttling etc and there are many different API gateway already available today. Dapr can be used to "Daprize" existing API gateway such as NGINX, Envoy, Kong and KrakenD  in that is can run as a sidecar to them

[2021-06-25 04:44] #3351 closed

[2021-06-25 04:51] msfussell commented on #3348
There is a balance here. I tend to agree that we should only support the latest version of Kubernetes, however for widest adoption we have also been careful to make sure that Dapr can run on v1.17.x and above. To this extent we added this to the docs for v1.0 release. https://docs.dapr.io/operations/hosting/kubernetes/kubernetes-overview/#supported-versions. It would be good to be data driven here

[2021-06-25 05:10] abogdanov37 commented on #3132
I think yes. How we can fix it?

[2021-06-25 05:14] msfussell commented on #3345
@doddgu  is correct. Dapr is expected to be used by each application as a sidecar process for service invocation. You will need to use an API gateway to communicate to the Daprized service. You can use NGINX for example like this https://carlos.mendible.com/2020/04/05/kubernetes-nginx-ingress-controller-with-dapr/ to communicate with an HTTP client via NGINX to Dapized service (or API Management a

[2021-06-25 05:14] #3345 closed

[2021-06-25 05:20] msfussell commented on #3344
@doddgu - Can you summarize this issue. Are you saying that setting actorStateStore false should not result in needing the Placement service running, since so actors are being created? Or are you saying that the SaveStateAsync needs to have the Placement service running?

What exactly is the bug that you are reporting here?

[2021-06-25 05:29] msfussell commented on #3339
@MoonShining - Maybe this is what you are expecting, https://github.com/dapr/dapr/issues/1339 some form of query support on Dapr Statemanagement APIs. However this will never be a full replacement for ANSI SQL APIs or a full database API, since this are numerous and varied. Dapr does not prevent you from using DBs libraries in your code to access databases of your choice. You should however not ex

[2021-06-25 05:39] doddgu commented on #3344
I want to run daprd on windows, not in docker.
So I start daprd in my .net program, the invocation can run but the state can't.

I think these are two questions, and the first I resolved.

1. Run daprd must with -placement-host-address localhost:6050, it will resove below log's problem. Document does not give clear instructions, on Windows OS and self hosted mode how to do is correct.
[code]
2. I

[2021-06-25 05:40] msfussell commented on #3336
@zhonghaochen  - If this is for local development only there are different choices. However really to span across different environments you should use the Consul name resolution https://docs.dapr.io/reference/components-reference/supported-name-resolution/setup-nr-consul/ components

[2021-06-25 05:40] #3336 closed

[2021-06-25 05:50] msfussell commented on #3322
You simply need to install the dapr control plane services onto the cluster into a namespace of your choice (dapr-system is the default)

[2021-06-25 05:50] #3322 closed

[2021-06-25 05:51] dmitsh commented on #3348
I tend to disagree :)

My concern is that once the support for a certain Kubernetes version is deprecated, the Kubernetes community stops patching fixes in that version. So, if, for example, there is a security bug, we would either have this vulnerability in Dapr, or would have to patch it ourselves (meaning that we would need to follow up on all issues and see if they apply to the deprecated vers

[2021-06-25 06:20] berndverst commented on #2821
After spending a bunch of time trying to understand the code path I have discovered that no code changes is required! 🥳

Just add the following component to your local components folder, or deploy the YAML to Kubernetes:

[code]

Now your app can get secrets from Kubernetes via:
`http://localhost:${daprPort}/v1.0/secrets/myk8ssecretstore/${secretName}`

🎈  BONUS: This even works locally assuming y

[2021-06-25 06:27] berndverst commented on #2821
@DarqueWarrior just to confirm, you want to refer to the secret store locally and in Kubernetes by the same name or am I missing something?

The following should do the trick for you as a one time operation on your Kubernetes cluster (assuming you don't change the secret store name in your code)

[code]

[2021-06-25 06:52] javageek79 commented on #3294
Any update on this issue here?

[2021-06-25 07:07] mstrYoda commented on #2950
@artursouza do you have any thoughts on this?

[2021-06-25 07:16] juazasan commented on #3000
@artursouza little heads up on this issue to be about to be close automatically. Not sure what you wanted to do with this and the related PR as I did all the fixes you asked for but haven't seen any follow up action. Thanks.

[2021-06-25 07:16] berndverst commented on #2821
All secret stores return dictionaries / maps, but in the case of Kubernetes can contain multiple values. Today you already will index into this map with the key value you are interested in, regardless of the number of keys contained in the secret.

What else is required / desired here @orizohar @artursouza ?

[2021-06-25 08:44] doddgu commented on #3344
I found another warning
[code]

[2021-06-25 08:59] doddgu commented on #3344
@msfussell I resolved, but I'm not sure it's a bug. Two parameters can resolve it.
1.  -placement-host-address localhost:6050
2.  -components-path C:\\Users\\YourComputerName\\.dapr\\components

[2021-06-25 09:54] cvictory opened #3354 "[Proposal] database api design"
Why did I submit the proposal of database? I think there are some reasons as following:
1. The database is so populor that almost every application is using it, we want to make the development as simple as we can.
2. If we use state api or binding api, the database semantics are not very clear.  There are some operation in dababase, but the operation can't be expressed clearly in state and binding

[2021-06-25 13:56] withinboredom opened #3355 "Service Invocation Requires double url encoding"
## In what area(s)?

/area runtime

## What version of Dapr?

All

## Expected Behavior

Calling a service with an encoded method should pass through.

## Actual Behavior

The method name requires double encoding.

## Steps to Reproduce the Problem (with WSL/Linux)

1. Create a basic file to get:

[code]

2. Start a webserver in the current directory:

[code]

3. In another terminal, start up dapr

[2021-06-25 14:16] withinboredom commented on #3354
This looks cool, though I'd be wary of using any kind of db transaction at scale. Speaking of transactions, where is the ability to set isolation levels (read committed, etc)?

[2021-06-25 14:55] withinboredom commented on #3332
Personally, I'd like to see it be `/v1.0/notify/[name]/method/[method]`. If the pubsub route is chosen, how is this issue different from #3176?

Here's a couple of my thoughts:

1. If the call is synchronous, how would failures in say 1% of the calls be handled, would they be retried?
2. What if the sidecar making the call dies while retrying?
3. What about if callee takes a really, really long ti

[2021-06-25 16:11] ItalyPaleAle commented on #3332
@withinboredom I did not find #3176 but it looks very similar to this issue indeed, at least in the first post which was just about PubSub.

As I sent my message yesterday, I actually realized that what I needed was more "higher level", and it could be either synchronous or asynchronous to solve my use case (or both). I believe the first part would be to improve the nameresolver to be able to retu

[2021-06-25 17:36] yaron2 commented on #3332
Returning a list of addresses for service to service calls is my least favorite option.

I think we can easily enable Pub/Sub fanout by allowing an opt-in feature that'll create a consumerID per instance. that'll cause fan out to be enabled, however on platforms like Kubernetes, if a pod dies and is rescheduled, messages will be lost as it'll come up with a different consumerID.

[2021-06-25 18:12] wcs1only commented on #3348
What does it actually cost us to keep 1.17.x testing around? Is there any harm for us knowing that we broke something and making a decision based on that information? It is better for us as maintainers to know something doesn't work, and thus be able to exercise our judgement, and communicate to our users so that they know they need to upgrade?

I vote we keep running the tests until such time as

[2021-06-25 18:28] wcs1only commented on #3344
So, when running in standalone mode, generally the `dapr run` command will take care of setting `-components-path` for you. I'm interest to hear about your use case for this, are you taking this approach to specifically avoid using docker containers?

Once https://github.com/dapr/cli/pull/746 is merged and released, would that be sufficient to unblock you using `dapr run`, and therefore resolve th

[2021-06-25 18:28] pkedy commented on #3332
To add on to what @yaron2 said, you need to be careful PubSub (durable brokers) fanout with unbounded consumerIDs for two reasons.

1) You may start consuming from the beginning of the stream and receive messages the app is no longer interested in
2) Creating random/unbounded consumerID creates subscriptions that could overload the broker and just be wasteful

Obviously behaviors vary by broker bu

[2021-06-25 18:42] dmitsh commented on #3348
@wcs1only , I agree with you in general. Today it does not cost us much to test v1.17.x. But we are not testing v1.20 and v1.21.
Next month v1.22 will be available. At that point we should be testing 6 Kubernetes versions.
From my limited experience with Dapr testing pipelines, they fail on random errors relatively often. With doubled amount of the test pipelines, the chance of hitting random erro

[2021-06-25 19:05] ItalyPaleAle commented on #3332
Pub/Sub would be fine IMHO.

This isn't a problem for the scenario I have and for other common scenarios I read about, as explained above.

For what @pkedy  said: yes, that is a valid concern.

In part that could be mitigated by enforcing a TTL on those messages (could be an actual enforcement hardcoded in the code, like 1hour, or could be a _strong recommendation_ made in the docs). All queues sh

[2021-06-25 19:11] wcs1only commented on #3348
Running the tests less is not an acceptable solution to intermittent test failures. The solution to intermittent test failures is to fix them, full stop.

[2021-06-25 19:13] yaron2 commented on #2961
Do not close this.

[2021-06-25 19:18] pkedy commented on #3332
@ItalyPaleAle The gRPC streaming idea to a single "hub" service is an interesting idea. The devil may lie in the details though. Could your app tolerate skipping/missing messages (e.g. if the hub/notifier dies or is shutdown by the cloud provider and the gRPC needs to reconnect).

[2021-06-25 19:34] ItalyPaleAle commented on #3332
@pkedy if the hub is shut down, it's not consuming messages from the pubsub topic, so they will be sent again once the service restarts and connections are re-established (but good callout, I should set a timer so at startup, messages aren't processed for N seconds, so all services have a chance to reconnect).

The only issue that would cause skipped messages is when the hub crashes after receivin

[2021-06-25 19:39] wcs1only commented on #3325
There are a lot of reasons that could cause this issue, but if you are running your own daprd instance, one of the possible explanations would be a race between the startup of daprd and the startup of your APP. Are you getting this error right at startup, or continually/intermittently long after your app is already running?

An important detail we'll need to understand is where this exception is b

[2021-06-25 21:45] dmitsh commented on #3175
/assign

[2021-06-26 01:56] doddgu commented on #3325
Q:  Are you getting this error right at startup, or continually/intermittently long after your app is already running
A: I'm sure it's already running, I saw logs said started.

Q: Are you getting this error right at startup, or continually/intermittently long after your app is already running
A: Sometimes continually, sometimes intermittently, and wait a few minutes, it will be well.

Q: Is it wh

[2021-06-26 02:20] doddgu commented on #3344
Q: are you taking this approach to specifically avoid using docker containers
A: Yes, I use .net program start daprd imitate inject sidecar. I solved the problem use %USERPROFILE%\.dapr\components in my starter config, and before start, I replace %USERPROFILE% to absolute path. It is best if daprd can get the user directory by default during starting.

Q: Once dapr/cli#746 is merged and released,

[2021-06-26 02:26] doddgu commented on #3344
if indx := strings.Index(placementHostAddr, ":"); indx == -1

Before it, I think need set placementHostAddr := "localhost" if placementHostAddr is nil. But, I'm not sure the address is empty warning is before or after this.

[code]

[2021-06-26 02:30] doddgu commented on #3344
I think it need to be [<hostname>][:<port>], and default hostname is localhost. It will solve this problem.

[2021-06-26 04:38] artursouza commented on #3348
@dmitsh Can you send a PR adding the new K8s versions until we make a decision on deprecation?

[2021-06-26 05:34] cvictory commented on #3354
Yes， the isolation level and propagationBehavior should be supported.

[2021-06-26 12:01] vCillusion commented on #3298
Hi @artursouza
I face the similar issue for on premise environment. What permissions are required on a registry?
The ImageSecret is added to the service account and deployment file. Are there any additional permissions?

[2021-06-26 20:30] #3288 closed

[2021-06-27 01:30] zhonghaochen commented on #3336
Thanks

[2021-06-27 01:31] zhonghaochen commented on #3322
I have installed it, thank you

[2021-06-27 10:04] zhonghaochen opened #3357 "An error occurred when deploying an application in minikube."
Exec lifecycle hook ([/daprd --wait]) for Container "daprd" in Pod "finecollectionservice-7d966fc9b-688g9_dapr-trafficcontrol(883babd9-f9ea-4eec-a46d-ab7b1aae4988)" failed - error: command '/daprd --wait' exited with 126: , message: "OCI runtime exec failed: exec failed: container_linux.go:363: creating new parent process caused: container_linux.go:1946: running lstat on namespace path \"/proc/619

[2021-06-27 11:43] mhoad opened #3358 "Provide conformance test tooling to assist with SDK development"
## In what area(s)?

/area test-and-release

## Describe the feature
In order to help facilitate the development and maintenance of various language specific SDKs I would like to propose creating some kind of API contract conformance tooling which can be used as a part of a CI testing pipeline.

For example another project that has a similar set of problems (multiple language language implementati

[2021-06-27 12:19] sora-kashiwagi commented on #2988
hi guys, any progress lately?

[2021-06-27 16:37] tdcare commented on #3128
I've tested it with image yaron2/daprd1a:v1 , and this bug has been fixed. Thank you!

[2021-06-27 21:35] abatishchev commented on #630
It's hard to think more pointless than a bot that closed issues because they're "stale". Remove it now.

[2021-06-28 01:21] VenkateshSrini commented on #639
There are many implementations without project Erini. That is only an option and I'm not sure if all the customer will be able to do that

[2021-06-28 03:11] skyao commented on #2988
I'm preparing for configuration api proposal v0.3 now, to support key model as level-0 and document model as level-1 in one api.

This is a hard work, let me find a good way to do it.

[2021-06-28 07:41] daixiang0 commented on #3357
could you share reproduce steps?

[2021-06-28 08:35] stephaneey opened #3360 "Cannot connect to placement service"
## In what area(s)?

area placement

## What version of Dapr?
![image](https://user-images.githubusercontent.com/2558877/123602787-6d914e80-d7f9-11eb-9562-534ed82e372d.png)

## Expected Behavior

No error in dapr sidecar logs

## Actual Behavior

I keep getting the following log entries:

time="2021-06-28T07:57:13.2010765Z" level=debug msg="error connecting to placement service: rpc error: code =

[2021-06-28 08:41] daixiang0 commented on #3355
/assign

[2021-06-28 09:49] lghinet opened #3361 "DLQ middleware for pub/sub"
## In what area(s)?

 /area runtime

## Ask your question here

Hello,
I am trying to create a config-pipeline is executed when a new event comes through the pub/sub subscriber,  let's say ..for dlq, or resiliency that are not specific to a particular queue, but it's a general messaging pattern,
any ideas how can I do that ?

as I understand config-pipelines and middlewares are executed only for h

[2021-06-28 10:24] anedelko opened #3362 "Set dialTimeout dynamically"
## In what area(s)?

/area runtime

## Describe the feature

In our app there is several long running tasks. So we need configurable [dialTimeout](https://github.com/dapr/dapr/blob/d56d7b67277343b52a10ee371418904818c50171/pkg/grpc/grpc.go#L115) because task exceed timeout dapr retries to invoke again.

[2021-06-28 13:48] CodingSinger opened #3364 "unblockPlacements concurrent calls will raise panic bug"
## In what area(s)?

/area placement

## What version of Dapr?

master branch

## Expected Behavior

[code]

`unblockPlacements` Will be called concurrently.

When the `unblockPlacements` method is called concurrently, the program is normal.

## Actual Behavior

program panic

[code]

## Steps to Reproduce the Problem

[code]

## Release Note

[2021-06-28 13:49] CodingSinger commented on #3364
I submitted an MR to fix this problem. #3365

[2021-06-28 15:24] artursouza commented on #3295
We discussed this today with @javageek79 and it seems to be related to the reminder issue #3294 where the reminder is not saved and there is an exponential backoff in runtime and it keeps retrying "forever". We should fix #3294 before considering this a bug by itself.

[2021-06-28 15:47] dmitsh opened #3366 "Add E2E pipelines for Kubernetes 1.20/1.21"
## In what area(s)?

/area test-and-release

## Describe the feature

Add E2E pipelines for Kubernetes 1.20/1.21

Related to #3348

[2021-06-28 15:47] dmitsh commented on #3366
/assign

[2021-06-28 16:17] sejnub commented on #3332
Shouldn't we merge this issue with #3176?
Both issuse discussions highlight different implementation details but the requirement seems to be the same. Or do I get it wrong?

[2021-06-28 16:40] dmitsh commented on #3348
https://github.com/dapr/dapr/pull/3367

[2021-06-28 17:25] yaron2 commented on #3128
Thanks!

[2021-06-28 17:26] #3128 closed

[2021-06-28 17:26] yaron2 commented on #3128
This will be released in 1.3, the upcoming version.

[2021-06-28 17:30] artursouza commented on #2513
@jigargandhi Can you also create the issues to add this to the SDKs?

[2021-06-28 17:39] artursouza opened #3368 "Fix reported vulnerabilities and add check to build pipeline"
Fix any reported vulnerability in https://deps.dev/go/github.com/dapr/dapr/v1.2.2 (or latest Dapr version) and add this check to our build pipeline.

[2021-06-28 17:43] CodeMonkeyLeet commented on #3368
URL correction: https://deps.dev/go/github.com%2Fdapr%2Fdapr/v1.2.2

[2021-06-28 18:10] artursouza commented on #501
I think there is only one scenario: subscription for ActorType+ActorId. The other scenarios are a specific scenario of this one. The reason why is that Dapr does not track which actors exist since they are virtual actors. The fact that an actor is active does not mean it only exists in that period of time. Virtual actors "always" exist.

So, there must be a call to say "subscribe these actors Ids

[2021-06-28 18:24] #3179 closed

[2021-06-28 21:15] spasumalaithevan commented on #1172
Any plans to fix this issue.

[2021-06-29 01:47] daixiang0 commented on #3362
Why it reach timeout? Network issue or design?

[2021-06-29 01:54] daixiang0 commented on #3368
/assign

[2021-06-29 02:58] anedelko commented on #3362
@daixiang0 it is by design

[2021-06-29 03:43] daixiang0 commented on #3362
Could share this case with details?

[2021-06-29 07:36] daixiang0 opened #3374 "Update dapr test dependence"
/area test-and-release

Now tests use low version of dapr core:
[code]

[2021-06-29 07:37] daixiang0 commented on #3374
wait for #3368

[2021-06-29 08:11] zhonghaochen commented on #3357
the steps are in the [link](https://github.com/EdwinVW/dapr-traffic-control) here. A learning project.

[2021-06-29 08:44] anedelko commented on #3362
We use pub/sub. When a subscriber receives a message, it takes longer than the standard timeout to process it. Because of this, the Dapr does not receive acknowledgement and tries again invoke method.

[2021-06-29 09:03] ptrubini commented on #3128
It is working also for me. Great, thank you

[2021-06-29 10:43] EdwinVW commented on #3357
I will look into this.
This is a copy of https://github.com/EdwinVW/dapr-traffic-control/issues/9

[2021-06-29 22:00] msfussell commented on #2821
@berndverst - The primary asks now is the consequence of this across the repos. This is my take.

1) Update https://docs.dapr.io/reference/components-reference/supported-secret-stores/kubernetes-secret-store/
2) Update the https://github.com/dapr/quickstarts/tree/master/secretstore/node/components to include a named K8s secret store
Interestingly why does this code succeed then https://github.com/

[2021-06-30 00:42] msfussell commented on #3348
@dmitsh - You are right. Ensuring that we test and support the latest version of K8s is important and we should make this statement in the support policy for Dapr. We should also move to supporting just the current K8s support releases as per all the major cloud provider and the K8s ecosystem.  My only thoughts for keeping a test running for 1.17 were to identify any breaking changes and "minimal

[2021-06-30 01:36] daixiang0 commented on #3173
@artursouza seems stale bot still works wired ...

[2021-06-30 06:48] cshi0 opened #3376 "Dapr lifecycle management improve - running time"
## In what area(s)?

/area runtime

## Describe the proposal

This proposal is a complement to #2918 that defines the behaviors of dapr when the application is down and restarts at running time.

[2021-06-30 07:32] cshi0 opened #3377 "Dapr lifecycle management improve - stop"
## In what area(s)?

## Describe the proposal

This proposal is a complement to #2918 that defines the behaviors of dapr when the pod is about to be destroyed.

When a pod is about to be destroyed, the application might be left with some requests that has not finished processing, therefore, dapr cannot be closed before the app closed. So, when dapr receives the signal of pod destruction, it needs

[2021-06-30 07:36] daixiang0 commented on #2918
@skyao what is the solution for "block Daprd until App is ready"?

[2021-06-30 08:20] daixiang0 opened #3378 "add OWNERS to notify maintainers to review"
Now there are many PRs hung, most of them do not have maintainers review, contributor need ask for review, like ping @artursouza or @yaron2 . Slow feedback do not help Dapr great grow I think.

I notice that we do not have OWNERS file to notify, with it, we can split review work to specified maintainers, reduce direct ask, and speed up review and merge, make Dapr evolve faster.

WDYT? @dapr/mainta

[2021-06-30 08:29] daixiang0 commented on #3376
Cool, really happy to see it accepted!

What I am curious is when app failed, how dapr handle input/output data? Cache them or leave it at binding side?

[2021-06-30 08:32] daixiang0 commented on #3377
When app crash, does dapr need to shutdown or wait?

[2021-06-30 08:43] daixiang0 commented on #2582
@artursouza please help add label to remove stale.

[2021-06-30 09:38] cshi0 commented on #3377
Dapr can definitely provide some kind of API for the app to notify it that the app is finished with all its work, but we cannot make sure that all apps follow this paradigm. I assume app crash is rather rare, and the longest grace time for the app to close is 30 seconds which might not be enough for it to restart and continue all the works. When the grace time reaches its end, the app will be shut

[2021-06-30 09:42] cshi0 commented on #3376
Dapr leaves it at binding side, and dapr does not promise anything. Some components retry after failure, and it is why a short grace time is put before unsubscribe inbound traffic. However, it is not promised, and messages might loss because of the app crash and specific binding side design.

[2021-06-30 09:56] lghinet opened #3379 "failed to debug daprd sidecar on kubernetes"
## In what area(s)?

/area runtime

## What version of Dapr?

edge: v1.0.0-rc.4-268-gca41362e

## Actual Behavior

Liveness probe fails when deployed in kubernetes with ``dapr.io/enabled: 'true'``
Liveness probe failed: Get http://10.244.1.192:3500/v1.0/healthz: dial tcp 10.244.1.192:3500: connect: connection refused

logs from daprd cotainer
[code]

no other logs are printed, even if i have --log

[2021-06-30 18:08] wcs1only commented on #3313
Is there any harm in having the tags? They are our source of truth for at what point release candidates were cut. We regularly refer back to them when investigating issues and understanding when they were introduced.

So we already have tools to do each one of these steps (except the helm chart updates), but they exist across different repos and have a dependency order that is manually done by the

[2021-06-30 18:15] wcs1only commented on #3313
Rereading this, and the description. I think we're just having a misunderstanding in terminology. By remove RC suffix, I think what @artursouza means is PRs like this one: https://github.com/dapr/python-sdk/pull/212

[2021-06-30 18:46] CodeMonkeyLeet commented on #3358
@msfussell there's not anything on the [Dapr roadmap](https://github.com/orgs/dapr/projects/52) specifically around SDK improvements, but this is an interesting suggestion that speaks to reducing the cost of keeping up with polyglot Dapr.

[2021-06-30 18:47] pkedy commented on #3225
I'm working on this right now and considering a small change to the YAML, specifically changing the metadata to a map instead of a list of name/value pairs. That makes it congruent to the API structure that exists now in the subscriptions callback. The only reason _not_ to make that change is if we wanted to use secrets in the metadata.

@yaron2 @artursouza can you think of a reason secrets would

[2021-06-30 18:54] CodeMonkeyLeet commented on #3361
@lghinet My impression from #3293 is that the dapr pub/sub APIs themselves would need to change. Could you elaborate more on the architecture you're trying to put together? For DLQ, there are other outstanding issues such as #2217 that indicate where that pattern of use is going in Dapr ... would that address your needs?

[2021-06-30 18:59] CodeMonkeyLeet commented on #3362
@anedelko is the ability to configure a global value for all grpc connections sufficient or is the request specifically for tuning specific connections such as the particular subscriber connection?

[2021-06-30 21:42] yaron2 commented on #3348
+1 on supporting the supported Kubernetes distros.

[2021-06-30 21:56] yaron2 commented on #3378
We have the CODEOWNERS file as recommended to use by GitHub: https://github.com/dapr/dapr/blob/master/CODEOWNERS.

[2021-06-30 22:02] yaron2 commented on #3377
Hi @cshi0 thanks for opening this.

It makes sense for Dapr to stop accepting input bindings and pub/sub events before closing down.

Regarding probing the app, the checks are non-deterministic and seem error prone. In `daprd` we can drain calls before shutting down the container *with* the addition of a 30s timeout.

@skyao what's your opinion?

[2021-06-30 22:04] yaron2 commented on #3360
@stephaneey Docker Desktop k8s is an untested distro as far as Dapr is concerned. personally, I've heard people having trouble using it with Dapr (and other projects with some non-trivial network setup) due to how it treats IP addresses from the local machine.

Can you kindly try KiND or Minikube?

[2021-06-30 22:06] yaron2 commented on #3376
@cshi0 what's the reasoning behind this? to allow other consumers in a possible consumer group to get messages delivered to them immediately?

[2021-06-30 22:07] yaron2 commented on #3362
@anedelko which version of Dapr are you using, and are you using HTTP or gRPC in your app?

[2021-06-30 22:10] AaronCrawfis commented on #3378
@yaron2 it looks like the CODEOWNERS file is broken and not correctly assigning PRs to the maintainers-dapr and approvers-dapr teams.

[2021-06-30 22:12] CodeMonkeyLeet commented on #3378
I like the suggestion to more effectively split up the work between maintainers and improving code velocity, though I suspect that the bottleneck is in the very small number of existing approvers spread out across many repos. Minimally, dapr/components-contrib would need similar attention, and it's possible that the existing approvers are getting too many notifications rather than not enough.

@ya

[2021-07-01 00:23] wcs1only commented on #3379
Here are a few commands you can run that might give us some more clues about what is going wrong:
[code]

Also, on a side note, you can head on down to https://aka.ms/dapr-discord to join our community discord for more realtime help debugging your issue.

[2021-07-01 00:54] #3366 closed

[2021-07-01 01:15] yaron2 commented on #3354
@tanvigour can you please look at this proposal and let us know your thoughts?

[2021-07-01 01:16] yaron2 commented on #3354
/cc @artursouza @msfussell @paulyuk

[2021-07-01 02:31] daixiang0 commented on #3283
@artursouza @yaron2 the difference is design or kind of things to sync?

[2021-07-01 03:05] cshi0 commented on #3376
@yaron2 Yes. It is the biggest reason.

[2021-07-01 03:10] anedelko commented on #3362
@CodeMonkeyLeet ability to configure a global value for all grpc connections sufficient.

@yaron2 version 1.2.2, gRPC.

[2021-07-01 03:18] yufan022 opened #3383 "Does state stores support Redis Cluster?"
## In what area(s)?

/area runtime

## Ask your question here
Does state stores not support Redis Cluster?

I notice state stores are not suuport redis cluster. In a production environment, redis cluster mode is very common. It can achieve higher concurrency and availability through sharding.

Is there any special reason why cluster mode is not supported?

https://docs.dapr.io/reference/components

[2021-07-01 04:28] lghinet commented on #3379
@wcs1only  thanks for your reply,
here are the logs

![image](https://user-images.githubusercontent.com/12889810/124064055-c6045e00-da3c-11eb-86c0-aedf912c4c7d.png)

``kubectl describe pod <your_pod>``

[code]

[code]

[2021-07-01 04:37] ddseapy opened #3384 "State size management"
## In what area(s)?

/area docs

## Ask your question here

What capabilities/strategies are there surrounding limiting the size of state being stored so that one application that misbehaves doesn't impact others?  I see there is a ticket for TTL (https://github.com/dapr/components-contrib/issues/306). Are there any other storage-limiting related capabilities that exist or are in development, for

[2021-07-01 05:11] lghinet commented on #3361
hey @CodeMonkeyLeet , thanks for your reply,
having a composable pipeline for incoming messages or for publishing messages, is extremely useful, as it is for incoming and outgoing http requests.
more so the DLQ and resiliency, multitenancy header decoding, tracing, logging, observability concerns, or adding some specific headers to the message envelope, doing some headers transformations or messag

[2021-07-01 05:21] msfussell commented on #3255
@nielsbauman  - Did you manage to debug this any further and find out more?

[2021-07-01 06:32] lghinet commented on #3361
also somehow related to https://github.com/dapr/dapr/issues/2582

[2021-07-01 07:00] quickstar opened #3385 "Support for Kubernetes services"
## In what area(s)?
/area test-and-release

## Describe the feature
As of today the load balancing between Pods is done by dapr and therefore no Kubernetes services are involved. This makes great sense since the K8s svc's are very basic and in most cases they're completely redundant.

Since the development of microservices can be challenging in terms of environmental dependencies, tools like [Tele

[2021-07-01 08:08] skyao commented on #3228
Is there any banchmark for SO_REUSEPORT? Is fasthttp/reuseport widely used and stable enough?

[2021-07-01 08:23] daixiang0 commented on #3228
I think so, refer to [doc](https://github.com/valyala/fasthttp#performance-optimization-tips-for-multi-core-systems) and [benchmark](https://www.techempower.com/benchmarks/#section=data-r19&hw=ph&test=plaintext)(prefork use SO_REUSEPORT).

[2021-07-01 09:15] stephaneey commented on #3360
Hi @yaron2 ,

Thanks for your reply. Note that everything else (Istio, KEDA, etc.) is working perfectly fine in the cluster. I'll close this issue and I'll check if I encounter the same problem with AKS.

Thanks
Best regards

[2021-07-01 12:53] #3339 closed

[2021-07-01 13:04] MarHolyR opened #3387 "GKE not starting sidecars"
Hello,

I'm sorry but I'm pretty new to GKE and Dapr but I'm really excited about it.

I'm trying to run first service with Dapr sidecar on Google K8s engine. But my pods have never assigned a Dapr sidecar.

I have installed Dapr using Helm into K8s:

[code]

And I have running all pods runing:
[code]

I have first microservice (ASP.NET 5.0) with deployment:

[code]

But when I run deployment usin

[2021-07-01 15:44] msfussell commented on #3283
@daixiang0  - Yes, you are right. See https://docs.dapr.io/reference/api/metadata_api/ however you may have discovered a bug in the implementation 👍

[2021-07-01 17:28] yaron2 commented on #3364
Thanks for this @CodingSinger

[2021-07-01 17:28] yaron2 commented on #3364
Closed with #3365

[2021-07-01 17:28] #3364 closed

[2021-07-01 17:48] #378 closed

[2021-07-01 17:48] #1421 closed

[2021-07-01 17:48] #625 closed

[2021-07-01 17:48] #699 closed

[2021-07-01 17:48] #771 closed

[2021-07-01 17:48] #809 closed

[2021-07-01 17:48] #861 closed

[2021-07-01 17:48] #881 closed

[2021-07-01 17:48] #907 closed

[2021-07-01 17:48] #915 closed

[2021-07-01 17:48] #2755 closed

[2021-07-01 17:48] #926 closed

[2021-07-01 17:48] #932 closed

[2021-07-01 17:48] #955 closed

[2021-07-01 17:48] #2866 closed

[2021-07-01 17:48] #1012 closed

[2021-07-01 17:48] #1013 closed

[2021-07-01 17:48] #1031 closed

[2021-07-01 17:48] #1071 closed

[2021-07-01 17:48] #1098 closed

[2021-07-01 17:48] #1119 closed

[2021-07-01 17:48] #1166 closed

[2021-07-01 17:48] #1171 closed

[2021-07-01 17:48] #1186 closed

[2021-07-01 17:48] #1192 closed

[2021-07-01 17:48] #1193 closed

[2021-07-01 17:48] #1229 closed

[2021-07-01 17:48] #1253 closed

[2021-07-01 17:48] #2867 closed

[2021-07-01 17:48] #1307 closed

[2021-07-01 17:49] #1360 closed

[2021-07-01 17:49] #1377 closed

[2021-07-01 17:49] #1390 closed

[2021-07-01 17:49] #1414 closed

[2021-07-01 17:49] #1420 closed

[2021-07-01 17:49] #1515 closed

[2021-07-01 17:49] #1516 closed

[2021-07-01 17:49] #1528 closed

[2021-07-01 17:49] #1554 closed

[2021-07-01 17:49] #1556 closed

[2021-07-01 17:49] #1559 closed

[2021-07-01 17:49] #1587 closed

[2021-07-01 17:49] #1601 closed

[2021-07-01 17:49] #1603 closed

[2021-07-01 17:49] #1617 closed

[2021-07-01 17:49] #1624 closed

[2021-07-01 17:49] #2594 closed

[2021-07-01 17:49] #1737 closed

[2021-07-01 17:49] #1739 closed

[2021-07-01 17:49] #1755 closed

[2021-07-01 17:49] #1761 closed

[2021-07-01 17:49] #1763 closed

[2021-07-01 17:49] #1768 closed

[2021-07-01 17:49] #1769 closed

[2021-07-01 17:49] #1773 closed

[2021-07-01 17:49] #1789 closed

[2021-07-01 17:49] #1791 closed

[2021-07-01 17:49] #1793 closed

[2021-07-01 17:49] #1822 closed

[2021-07-01 17:49] #1857 closed

[2021-07-01 17:49] #1894 closed

[2021-07-01 17:49] #2693 closed

[2021-07-01 17:49] #2709 closed

[2021-07-01 17:49] #2710 closed

[2021-07-01 17:49] #2712 closed

[2021-07-01 17:49] #2717 closed

[2021-07-01 17:49] #2738 closed

[2021-07-01 17:49] #2752 closed

[2021-07-01 17:49] #2761 closed

[2021-07-01 17:49] #2765 closed

[2021-07-01 17:49] #2806 closed

[2021-07-01 17:50] #2808 closed

[2021-07-01 17:50] #2816 closed

[2021-07-01 17:50] #2827 closed

[2021-07-01 17:50] #2839 closed

[2021-07-01 17:50] #2840 closed

[2021-07-01 17:50] #2844 closed

[2021-07-01 17:50] #2858 closed

[2021-07-01 17:50] #2869 closed

[2021-07-01 17:50] #2871 closed

[2021-07-01 17:50] #2878 closed

[2021-07-01 17:50] #2881 closed

[2021-07-01 17:50] #2891 closed

[2021-07-01 17:50] #2888 closed

[2021-07-01 17:50] #2898 closed

[2021-07-01 17:50] #2907 closed

[2021-07-01 17:50] #2910 closed

[2021-07-01 17:50] #2916 closed

[2021-07-01 17:50] #2917 closed

[2021-07-01 17:50] #2943 closed

[2021-07-01 17:50] #2945 closed

[2021-07-01 17:50] #2947 closed

[2021-07-01 17:50] #2954 closed

[2021-07-01 17:50] #2960 closed

[2021-07-01 17:50] #2969 closed

[2021-07-01 17:50] #2972 closed

[2021-07-01 17:50] #2985 closed

[2021-07-01 17:50] #2987 closed

[2021-07-01 17:50] #2995 closed

[2021-07-01 17:50] #3011 closed

[2021-07-01 17:50] #3012 closed

[2021-07-01 17:50] #3013 closed

[2021-07-01 17:50] #3021 closed

[2021-07-01 17:50] #3035 closed

[2021-07-01 17:50] #3045 closed

[2021-07-01 17:54] #1964 closed

[2021-07-01 17:54] #1998 closed

[2021-07-01 17:54] #2005 closed

[2021-07-01 17:54] #2007 closed

[2021-07-01 17:54] #2079 closed

[2021-07-01 17:54] #2135 closed

[2021-07-01 17:54] #2155 closed

[2021-07-01 17:54] #2156 closed

[2021-07-01 17:54] #2170 closed

[2021-07-01 17:54] #2176 closed

[2021-07-01 17:54] #2213 closed

[2021-07-01 17:55] #2226 closed

[2021-07-01 17:55] #2227 closed

[2021-07-01 17:55] #2255 closed

[2021-07-01 17:55] #2256 closed

[2021-07-01 17:55] #2257 closed

[2021-07-01 17:55] #2259 closed

[2021-07-01 17:55] #2270 closed

[2021-07-01 17:55] #2273 closed

[2021-07-01 17:55] #2298 closed

[2021-07-01 17:55] #2328 closed

[2021-07-01 17:55] #2343 closed

[2021-07-01 17:55] #2353 closed

[2021-07-01 17:55] #2366 closed

[2021-07-01 17:55] #2370 closed

[2021-07-01 17:55] #2371 closed

[2021-07-01 17:55] #2387 closed

[2021-07-01 17:55] #2395 closed

[2021-07-01 17:55] #2407 closed

[2021-07-01 17:55] #2414 closed

[2021-07-01 17:55] #2429 closed

[2021-07-01 17:55] #2448 closed

[2021-07-01 17:55] igorpalant opened #3388 "Dapr Operator liveliness and readiness probes failed."
## In what area(s)?

/area operator

## What version of Dapr?

1.0.x

## Expected Behavior

liveliness and readiness probes report healthy status

## Actual Behavior

liveliness and readiness probes fail to report healthy status due to refusal of connection.

## Steps to Reproduce the Problem

I have ensured that I have only one Operator running in the cluster (recommendation from documentation)
I

[2021-07-01 17:55] #2479 closed

[2021-07-01 17:55] #2486 closed

[2021-07-01 17:55] #2500 closed

[2021-07-01 17:55] #2518 closed

[2021-07-01 17:55] #2567 closed

[2021-07-01 17:55] #2595 closed

[2021-07-01 17:55] #2613 closed

[2021-07-01 17:55] #2630 closed

[2021-07-01 17:55] #2638 closed

[2021-07-01 17:55] #2643 closed

[2021-07-01 17:56] #3092 closed

[2021-07-01 17:56] #2661 closed

[2021-07-01 17:56] #3134 closed

[2021-07-01 18:02] #3101 closed

[2021-07-01 18:02] #3131 closed

[2021-07-01 18:30] igorpalant commented on #3388
I forgot to mention that I enabled DEBUG logging level and do not see any issues in the logs

[2021-07-01 18:41] #1242 closed

[2021-07-01 20:34] wcs1only commented on #3379
Oh, I think I may know what is happening. If you have the debugger enabled I believe the process will block waiting for the debugger to attach. This means that healthchecks will not pass, and the container will get restarted. To keep this from happening, you need to set the liveness/healthcheck  timeouts to be something really large to keep kubernetes from killing the container long enough for you

[2021-07-01 21:06] wcs1only commented on #3387
You're correct, in that it appears that the sidecar is not running in your cluster. Also, looking at your config, nothing stands out as obviously broken. In general, the sidecar logs should print success or failure anytime the k8s control plane sends it an event, so that suggests that no such event is being sent. Do you still have trouble when using `kubectl apply` instead of `kubectl patch` ? My

[2021-07-01 21:43] tanekim77 commented on #1339
Can't we have a special Relational Database support? Relational databases alrady have Entity Framework Core ORM that already support complex queries and updates. Rather than trying to support both non-relational and relational storages in single Dapr storage, I would like to see there are special type of storage support for relational database that utilize Entity Framework Core

[2021-07-01 21:46] nielsbauman commented on #3255
@msfussell I did not unfortunately. I switched my setup to host the mongodb instance within the same kubernetes cluster as where dapr was running. With that setup I managed to get it working.

[2021-07-01 21:49] wcs1only commented on #3387
Also, just FYI: for more interactive debugging help, we have a community discord: https://aka.ms/dapr-discord . We have some GKE users in the community that might be able to speak to the nuances of running Dapr there.

[2021-07-01 22:07] yaron2 commented on #26
We need to wait until we have a way to get all keys.

[2021-07-01 22:13] wcs1only commented on #3388
So, there are many possible reasons that the operator service may not be running on your cluster. If the cluster doesn't have enough capacity, the operator container may never be launched. If there is an error with the service itself, we should see something in the logs. Here are a few of commands that might give us more information:

[code]

Some other useful information to help with troubleshoot

[2021-07-01 22:26] wcs1only commented on #3383
We have an issue about this in our components-contrib repo already, and a community contribution has already been merged to add support for it. dapr/components-contrib#851 and dapr/components-contrib#859. This is slated to be released with v1.3.

Closing this issue as a duplicate.

[2021-07-01 22:26] #3383 closed

[2021-07-01 22:54] wcs1only commented on #2489
Part of #3315

[2021-07-01 22:58] wcs1only commented on #2489
Actually closing as a dupe of #3314

[2021-07-01 22:58] #2489 closed

[2021-07-01 23:08] wcs1only commented on #2854
This is still broken @AaronCrawfis, can you take a look?

[2021-07-01 23:23] wcs1only commented on #2895
This is confirmed behavior:
[code]

[code]

[code]

[2021-07-01 23:26] wcs1only commented on #2895
We can definitely log an error for this case. We'd have to think about how to surface this for the app.

[2021-07-01 23:33] georgestevens99 commented on #2895
Surfacing an error would significantly decrease the debug time for this. Sent from Mail for Windows 10 From: Charlie StanleySent: Thursday, July 1, 2021 7:26 PMTo: dapr/daprCc: georgestevens99; AuthorSubject: Re: [dapr/dapr] Missing component in components directory does NOT cause error message nor exception in a gRPC service (#2895) We can definitely log an error for this case. We'd have to think

[2021-07-02 00:39] igorpalant commented on #3388
Thank you for quick response. The issue is happening after upgrade to 1.2.2 as well. Liveliness and readiness probes  were working for a while and now it does not work anymore since 2 days ago.
I can start the pod if I disable liveliness probe. Otherwise, it is killed within 3 seconds. Here is the output from describe command:
  Warning  Unhealthy  2m15s (x8498 over 7h7m)  kubelet, cluster-dev-tes

[2021-07-02 00:58] wcs1only commented on #3362
I'm a little confused by this. Is your application really taking 30s+ to do TCP handshake? The value you have referenced here simply refers to the time it takes to successfully open the connection, not the time it takes for a request to be returned. Are all accept() calls blocked in your application while a subscription event is outstanding? Also can you provide a sample program that reproduces th

[2021-07-02 02:02] wcs1only commented on #3384
You are basically looking for per app-id storage quotas? This would have to be supported by the underlying state store, as Dapr would have no way of accounting between instances of the same app-id. Can you give an example component where the upstream service supports what you are looking for? Such quotas couldn't be set per object like TTL in the example you gave. This would probably look like ens

[2021-07-02 02:39] wcs1only commented on #3344
So once the dapr/cli#746 is merged and released you would accomplish what you want with the following:
[code]

Until that is merged, you can actually start the placement service on the Linux port (provided you don't have a service running on 6050):
[code]

Then if you use the CLI to run dapr, it will automatically set the components directory and the correct port:
[code]

[2021-07-02 03:13] ddseapy commented on #3384
I see what you are saying, maybe per per-id wouldn't make sense as generally isn't a great way to do this within databases (at least not in a non-hacky way).

For pub/sub one can restrict an application to certain topics through "scope" capabilities.  And then subsequently one can restrict per topic using things like kafka's `retention.bytes` or similar on other underlying pub/sub implementations.

[2021-07-02 03:13] #3384 closed

[2021-07-02 03:48] doddgu commented on #3344
So, I should use dapr run, rather than daprd

[2021-07-02 04:31] anedelko commented on #3362
Yes, you understood correctly. I misunderstood the meaning of the dialTimeout constant. What I need is configured in the redis pubsub component with the processingTimeout option. Thanks for your time. I close the request.

[2021-07-02 04:31] #3362 closed

[2021-07-02 05:53] MarHolyR commented on #3387
It seems you have a solution directly in your documentation. Specifically here in the section for private GKE clusters:

https://docs.dapr.io/operations/hosting/kubernetes/cluster/setup-gke/

We added port 4000 permission to the firewall and Dapr booted properly.

I apologize for the useless question and next time I will use Discord.
Thanks for the great work!

[2021-07-02 05:53] #3387 closed

[2021-07-02 06:10] lghinet commented on #3379
thanks,

[2021-07-02 06:10] #3379 closed

[2021-07-02 06:28] beiwei30 commented on #3281
@pkedy pls. review dapr/components-contrib#967 again.

[2021-07-02 06:38] skyao commented on #3377
@yaron2 I have discussed with @cshi0 for long time and make agreement before he raised this proposal.

[2021-07-02 06:45] skyao commented on #3376
Yes, yaron, you get the point. This is very important for pub/sub, if one instance is down, the other instances in the same consumer group  should continue to consumer.

[2021-07-02 06:45] daixiang0 commented on #3379
@wcs1only I think it would be helpful to add comment in debug doc.

[2021-07-02 06:50] cshi0 commented on #2918
@daixiang0 Hi！We've proposed a process of checking the availability of the app in these issues: #3376 and #3377

[2021-07-02 07:50] daixiang0 commented on #3378
@AaronCrawfis thanks for fix, will close it as fix done in all repos.

[2021-07-02 08:28] logamanig commented on #3340
Any idea on this issue?

[2021-07-02 13:01] lgbin879 opened #3390 "dapr init 404 Not Found"
$ bin > dapr init
⌛  Making the jump to hyperspace...
❌  Downloading binaries and setting up components...
❌  cannot get the latest release version: https://api.github.com/repos/dapr/dashboard/releases - 404 Not Found

$ bin > dapr --version
CLI version: 1.2.0
Runtime version: n/a

$ bin > uname -a
Linux computende4 5.10.27-051027-generic #202103310028 SMP Thu Apr 1 02:16:48 UTC 2021 x86_64 x86_64

[2021-07-02 15:52] wcs1only commented on #3390
Are you still experiencing this issue? The release URL is currently working without issue:

[code]

Are you behind a web proxy/firewall that may be filtering traffic?

[2021-07-02 19:16] artursouza commented on #1339
@tanekim77 Supporting a Relational Database as a native Dapr API is one of the possibilities but it does not exclude this issue. The idea here is to have basic query capabilities for state stores and not to have feature parity with SQL databases. This is an example of a solution in a noSQL database with similar inspirations: https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ql-refer

[2021-07-02 19:23] artursouza commented on #3132
At a high level, I would wait for the dissemination table to be updated before accepting any Actor calls in sidecar. Do you think you can send a PR for that?

[2021-07-02 20:30] abogdanov37 commented on #3132
I try but I'm not sure(

[2021-07-02 21:10] AaronCrawfis commented on #1048
Also see https://github.com/dapr/docs/pull/1608

[2021-07-02 21:54] artursouza commented on #2821
The documentation should discourage using the default K8s secrets store because most applications want to use a different one locally and hardcoding the "kubernetes" name is against the portability guarantees when using Dapr.

[2021-07-02 22:14] berndverst commented on #2821
Sounds good I will document these things.

[2021-07-03 02:37] #2854 closed

[2021-07-03 02:48] artursouza commented on #3283
This is a bug. The GRPC and HTTP implementations should be equivalent.

[2021-07-03 02:50] artursouza commented on #3283
In summary, this feature already exists but there is an unrelated bug as per the code sample above.

[2021-07-03 03:23] artursouza commented on #3348
Do you mean *only* supporting those or *at least* those?

[2021-07-03 03:32] artursouza commented on #3225
@pkedy My concern is about consistency too. On the other hand, it seems that we are not consistent already:

Metadata as object: https://github.com/dapr/dapr/blob/8ed0406ee55fc16883cffcdc9e221151719a9080/charts/dapr/crds/configuration.yaml#L23

Metadata as list of key/value pairs:
https://github.com/dapr/dapr/blob/8ed0406ee55fc16883cffcdc9e221151719a9080/charts/dapr/crds/components.yaml#L44

IMO,

[2021-07-03 03:39] artursouza commented on #3313
Yes, "removing RC suffix" does not mean removing the tag itself but creating a new one without the suffix.

And yes, this issue is an Epic. We are using this issue as a parent issue.

[2021-07-03 03:44] artursouza commented on #3298
We need documentation on how to use Dapr with a private Docker repo.

[2021-07-03 03:46] dmitsh commented on #3298
/assign

[2021-07-03 04:28] wcs1only commented on #3344
Where you following this guide?:

https://docs.dapr.io/operations/hosting/self-hosted/self-hosted-no-docker/

I think this doc needs an update to reflect that the placement server needs a different port on Windows.

[2021-07-03 04:39] doddgu commented on #3344
I use the warning message, and then look up the source code to locate the problem

[2021-07-03 09:32] liamgib commented on #3385
Are you referring to the communication between a sidecar and an application pod? or the communication between services?

Currently, dapr will register the sidecar as a Kubernetes service under "<daprServiceName>-dapr", and the sidecars will use this to invoke other services. I haven't tried telepresence before, but I believe this should already be possible with the existing infrastructure layout.

[2021-07-03 14:51] #3209 closed

[2021-07-03 22:33] #3199 closed

[2021-07-04 02:07] #3234 closed

[2021-07-04 07:02] zivfuture opened #3393 "Another Dapr started."
Why doesn't Dapr support service mesh?

Here is another "Dapr" started.  [layotto](https://github.com/mosn/layotto)  Because Dapr has no "service mesh" capability. and we need Service Mesh in reality。

![image](https://user-images.githubusercontent.com/49356505/124376373-4fd05780-dcd9-11eb-9d5f-c84d07264642.png)

[2021-07-04 11:30] leonids2005 commented on #3119
It would be good to incorporate  ServiceMonitors creation into helm charts (optionally)

[2021-07-04 11:31] leonids2005 commented on #3119
otherwise, it should be at least described in the documentation.

[2021-07-04 18:42] RChrisCoble commented on #2484
Bad bot.

[2021-07-04 21:25] #635 closed

[2021-07-04 21:33] #3154 closed

[2021-07-04 23:32] #3081 closed

[2021-07-05 00:32] #2967 closed

[2021-07-05 03:37] lianxue7851 opened #3396 "How to maintain strong data consistency across multiple services"
## Ask your question here
Hello, I would like to ask how to maintain strong consistency of data under the.NET SDK of DAPR when I want to implement multiple services within one transaction. The description about this part in the document feels vague, do you have a more specific explanation?

[2021-07-05 06:57] #2961 closed

[2021-07-05 07:00] daixiang0 commented on #3396
I think https://github.com/dapr/samples/tree/master/dapr-distributed-calendar is a good example.

[2021-07-05 07:09] lianxue7851 commented on #3396
Thank you very much for your reply. Let me take a look at this case first

[2021-07-05 09:33] stephaneey commented on #3360
Hi @yaron2,

As I told you, I would also check with AKS (K8s 1.19.11) and I have the exact same issue.

[2021-07-05 17:48] RChrisCoble commented on #2484
Just to add to this thread a bit...perhaps this concept is not fully in the core concepts of Dapr in its envisioned architecture.  You could easily argue including a web browser into the Dapr mesh is absurd.  That being said (in my opinion), web browsers are in a transition phase, and on my end we're investing in what I personally consider to be the next gen architecture of rich web applications.

[2021-07-05 18:56] withinboredom commented on #3377
I feel like this can be handled more gracefully via [`STOPSIGNAL`](https://docs.docker.com/engine/reference/builder/#stopsignal) without requiring liveness probes -- potentially even just trapping `SIGTERM`. There's also an [open issue](https://github.com/kubernetes/kubernetes/issues/30051) to support something like that at the pod-level in K8s.

What will it do if it is not running in Kubernetes?

[2021-07-06 03:37] skyao commented on #3393
Dapr has service invocation.

As my understanding,  service-service communication is not the core value that dapr focuses, istio is a good chooise.

[2021-07-06 05:35] doddgu commented on #3325
I found the reason.
Members of our team all using self hosted to develop on local machine. This can cause the mDNS to become contaminated.
Perhaps the self hosted mode can only run on Docker when working as a team?

[2021-07-06 05:41] doddgu commented on #3325
Is there a parameter to limit mDNS on local machine.

[2021-07-06 05:45] imjoey commented on #3154
@artursouza @msfussell, sorry for the late reply. Agreed on using bindings, which is definitely a proper way to implement this feature. Thank you for the nice advice. 😄

[2021-07-06 06:19] geffzhang commented on #2817
That's a good question, I'll do it, don't close it

[2021-07-06 09:57] cshi0 commented on #3377
@withinboredom

Do you mean daprd should trap a signal and enter the closing phase? But no one is going to send the signal to daprd because daprd and the application are in two different containers if I didn't understand it wrong. Or, cloud you please elaborate more on what do you mean by using the STOPSIGNAL?

The current plan is to scan the app-port if it is not in kubernetes and set a timeout i

[2021-07-06 12:12] withinboredom commented on #3377
If a container reaches the `succeeded` or `failed` state, the container will be restarted (or not) per its restart policy. Once that fails, it should stop the pod and maybe schedule another one. When it stops the pod, each container will receive a it's appropriate `STOPSIGNAL`[[1](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/)]. The reason I'm suggesting using that is to differ

[2021-07-06 16:15] ruslanguk commented on #724
Hi,

Here is our scenario:

We have a large number of “short” running tasks but with a lot of dependencies. On the diagram it shows that Task1 can’t perform its execution until other tasks are completed.
Task2 can’t complete its execution until Task4 and Task7 are completed and so on. The tree is pretty large and the Task1(actor) might wait (deactivated)  several hours until the rest of the actors

[2021-07-06 16:42] stephaneey commented on #3360
Hi @yaron2 ,

I have some news. It seems that I found the culprit...I forgot that I had injected the dapr-system namespace with Istio. However, I noticed that the culprit came from the TLS setting for the dapr-placement container:

        - --tls-enabled

When the istio-proxy tries to connect to it, it keeps failing with the errors depicted before. If I remove this line, it works like a charm.

C

[2021-07-06 17:35] tanvigour commented on #3354
@cvictory Thanks for proposing this design. I am not very sure  if we really need database API. Could you elaborate little more around the use case?

[2021-07-06 17:40] yaron2 commented on #501
Another thing to think about here is how an actor expresses the [pub/sub response](https://docs.dapr.io/reference/api/pubsub_api/#expected-http-response) for acking/nacking/retrying the request. This might need a change in the programming model that'll make it's way to the SDKs, assuming we want to support it.

Another approach would be to use a simplified event model for actors pub/sub where a su

[2021-07-06 18:16] stephaneey opened #3399 "Cannot connect to placement service - Istio"
## In what area(s)?

 /area placement

## What version of Dapr?
![image](https://user-images.githubusercontent.com/2558877/124642300-fa8a7680-de8f-11eb-93af-05cb28f2de6f.png)

## Expected Behavior

I expect Dapr and Istio to work seamlessly together, especially when Dapr's mTLS is disabled.

## Actual Behavior
Dapr cannot connect to the placement server and keeps retrying (no exponential backoff r

[2021-07-06 18:16] stephaneey commented on #3360
Closing this one and created a new issue #3399

[2021-07-06 18:16] #3360 closed

[2021-07-06 18:36] withinboredom commented on #3377
It just occurred to me that one issue with this design of only using probes: it won't prevent the OS/machine from sending a stop signal. K8s, the OS, or anything can still just kill it without allowing `daprd` to clean up. With some carefully placed traps, even if someone accidentally runs `shutdown -h now` or `shutdown /s` without draining the node, the OS should respect the trap and give the con

[2021-07-06 18:40] pkedy commented on #501
Given the nature of how most pubsub brokers work, a single topic subscription can be shared by several clients (e.g. Kafka topic partitions balanced across consumers). This means some component will need to (re)route the message to the node that is serves (or will serve) that specific Actor Type/ID. If this component invokes the actor via the current architecture, then it is responsible for ACK/NA

[2021-07-06 18:58] withinboredom commented on #3376
Can you explain more about why this is necessary?

- Kubernetes will kill the container if the liveness probe fails. By not having a restart policy, `daprd` will also be killed when the pod is killed due to the failed container.
- If the application fails, it should die with a non-zero exit and kubernetes will automatically schedule a new pod and kill `daprd` container (via killing the pod).

Is t

[2021-07-06 20:13] samcov commented on #3354
While there is a bit more fleshing out of the details to do, **_I just love it_**!!!

[2021-07-06 20:55] #3281 closed

[2021-07-06 21:13] lloydfischer commented on #501
If ordering is critical then there cannot be multiple clients. Actors provide a nice way to ensure that messages are handled in order. Imagine enrollment changes for a family - they must be processed in order. Routing them to an actor for the family solves that but only if they arrive at the actor in order. A single consumer for the partition can guarantee that. If there are multiple consumers the

[2021-07-06 21:50] pkedy commented on #2988
I'm adding my thoughts for this design. They may overlap some of the thoughts from others above.

By focusing on configuration access patterns, I believe it will become apparent that many backends can support configuration. For example, Spring Cloud Config supports K/V (e.g. Redis), RDBMS, Blob storage, Property files, JSON/YAML/TOML. I know that we all want a simple API surface area that still ac

[2021-07-06 22:13] pkedy commented on #501
@lloydfischer Correct, that is something to be very mindful of.

To add on, speaking strictly in the case of Kafka, the key of the message usually determines which partition it is written to. A single partition is assigned to a single consumer that processes the messages one-by-one and in order. In other words, the topic partitions are the unit of parallelism in Kafka. What I meant above is that t

[2021-07-06 23:13] yaron2 commented on #3399
If you're using Istio's Envoy sidecar for mTLS, you should *install* Dapr without mTLS. I verified that when mTLS is disabled (either through the [CLI](https://github.com/dapr/cli#installing-with-mtls-disabled) or with helm via the `global.mtls.enabled` setting, the `--tls-enabled` arg will not be present in the stateful set.

[2021-07-06 23:16] yaron2 commented on #3396
@lianxue7851 in microservice architectures you'll find things like the Saga pattern to orchestrate distributed transactions across multiple services. This can be done with a combination of Dapr's at-least-once pub/sub and the [transactional state API](https://docs.dapr.io/reference/api/state_api/#state-transactions).

[2021-07-06 23:18] yaron2 commented on #3385
That is correct.

@quickstar, Dapr indeed does load balancing by keeping a list of endpoints from Kubernetes services for gRPC dns based load balancing, but it still utilizes Kubernetes services under the hood.

[2021-07-06 23:31] CodeMonkeyLeet commented on #3340
@logamanig To clarify that I understand the problem:
* There are 2 dapr pubsub components (sit-eventhub and uat-eventhub) targeting 2 separate Event Hubs namespaces.
* There is a single K8s cluster and dapr deployment
* There are 2 K8s namespaces (SIT and DEV), with the app deployed using the same dapr id (app1) in both namespaces.
   * you mention that the services are identical, but I'm assuming

[2021-07-06 23:38] yaron2 commented on #3393
@zivfuture the Mosn project is building on top of Dapr as a platform. The word "Service Mesh" often conveys the wrong meaning - instead of saying Service Mesh I think it's worth talking about feature sets. Dapr is slowly coming to support more SM like features, starting with 1.3 you'll have transparent gRPC proxying. Dapr's intended to work alongside service meshes, so if you want to use Dapr + Li

[2021-07-06 23:40] yaron2 commented on #3388
@igorpalant any updates on this?

[2021-07-06 23:45] yaron2 commented on #3358
This is interesting to consider. /cc @artursouza

[2021-07-06 23:59] yaron2 commented on #501
The orchestration should happen at the `daprd` level. individual components should not know to send messages to nodes, pods, or if they are serving actors or not.

The pub/sub events will be delivered using actor service invocation and will obey the single threaded nature of actors.
Ordering of messages is decoupled from the actor functionality. If we decide ordered delivery needs to be enabled, w

[2021-07-07 00:02] yaron2 commented on #3361
Not to stray away from the topic, but specifically for multi-tenancy I think you can work with existing Dapr primitives today - Dapr pub/sub allows you to specify allow/deny lists and scopes for different apps: https://docs.dapr.io/developing-applications/building-blocks/pubsub/pubsub-scopes/.

[2021-07-07 00:20] lloydfischer commented on #501
Completely agree that guaranteeing order is best done in the runtime. And
to echo your earlier comment, that means that the ack can only go back to
the transport if we are certain that the message will be delivered, in
order, to the actor. I worry about the wait in the channel, for instance.
If the runtime crashes, are the messages in the channel lost? We can
recover them by replay but guaranteein

[2021-07-07 02:18] nobodyiam commented on #3393
@zivfuture

Thanks for starting this discussion, MOSN layotto team member here 🙂

Dapr is a great project! It defines a very good abstraction layer between application code and the backend services, which makes `Write once, Run anywhere` possible.

We really like this idea, so we started a discussion (#2817) and had a talk with the dapr team months ago. Given the current situation on our side: 200

[2021-07-07 03:29] GuoYL123 commented on #3393
How to understand “transparent gRPC proxying”？

[2021-07-07 06:22] stephaneey commented on #3399
Hi @yaron2,

Ok indeed. Unfortunately, switching mTLS to false in the configuration CRD does not have the same effect. I think this should be documented. I'm not sure to see the point to be able to disable mTLS through a CRD but still having a statefulset that is insensitive to this config. Bottom line: disabling mTLS through CRD or directly through the CLI does not result in the same thing.

[2021-07-07 09:04] cshi0 commented on #3377
The above proposal assumes that the stop signal is sent by the k8s. If an application stops, dapr respects its restart policy and will not shutdown immediately (check #3376) unless the pod is destroyed. The current design is to use a short period of grace time before dapr shutdown to clean everything up, but it might not be enough, so the above proposal essentially proposes a way to determine when

[2021-07-07 09:08] cshi0 commented on #3376
@withinboredom

Yes. Besides that, an application might become unavailable even it is alive to the container, and in that case, dapr should not give it any requests.

[2021-07-07 09:47] logamanig commented on #3340
Hi @CodeMonkeyLeet , yes, your understanding is absolutely correct,

Regarding, Component scopes, I applied in both Pubsub Compoment and Subscriptions level too. But, it doesn't make any difference.

[2021-07-07 10:36] withinboredom commented on #3376
Could this then exacerbate a misconfiguration? Say an app can only accept 100 concurrent requests but `daprd` isn't configured correctly. Currently, IIRC, in this case, Dapr would timeout or wait forever to try the 101st request, eventually the app would make progress and accept it.

If this proposal goes through, a 100 concurrent request app would now have to account for the probes and normal wor

[2021-07-07 11:27] quickstar commented on #3385
I'm referring to the communication in general.

I think what this would enable us to do is to intercept the service for the dapr sidecar (I wasn't able to intercept the dapr sidecar). What I try to do is to intercept just my "application-pod" with Telepresence in order to be able to debug only this pod locally.

If there is a way how to do this with Telepresence as of today, I wasn't able to figur

[2021-07-07 15:35] yaron2 commented on #3399
You can also disable through the CRD, but you then need to restart the Dapr control plane pods to pick up on those changes.

[2021-07-07 15:53] stephaneey commented on #3399
I restarted all the deployments & statefulset (kubectl scale deploy --all --replicas=0 -n dapr-system), then --replicas=1. Did the same with the statefulset. Isn't it enough?
I don't see any "restart" command in the CLI.

Thanks

[2021-07-07 16:01] regul4rj0hn commented on #2939
Still a problem.

[2021-07-07 16:28] juazasan commented on #3000
@yaron2 @artursouza Please let me know what you want to do with this issue after having closed the related PR as requested. I assume you may want to reassign it. Thanks.

[2021-07-07 16:44] pkedy commented on #501
To clarify, by "some component" I mean some piece of code running in `daprd` that is responsible for actor service invocation and optionally ensuring in-order processing (but I think in-order processing depends on the behavior of the underlying broker). So I think we are on the same page there.

For handling runtime crashes (or other cases where messages are sent again such as rebalancing), my tho

[2021-07-07 17:43] #3328 closed

[2021-07-07 18:10] CodeMonkeyLeet commented on #2218
/assign

[2021-07-07 20:09] dmitsh commented on #3298
@sandipsmahajan, I'm unable to reproduce the issue.
I deployed containers from public and private container registries with AKS. In both cases dapr sidecar containers have been successfully added.
Do you still experience this issue? If so, could you clarify your scenario?
Is dapr operator up and running? Please list these pods.

[2021-07-08 07:08] yaron2 commented on #3399
Yes you're right, for the placement service the tls enabled flag is set by Helm at deploy time.

I'm going to close this now as there's a resolution, and we'll look into making the placement code be configured differently based on the CRD.

[2021-07-08 07:09] #3399 closed

[2021-07-08 07:18] yaron2 commented on #3393
See the demo and discussion here: https://youtu.be/B_vkXqptpXY

[2021-07-08 07:19] yaron2 commented on #3388
Since we cannot reproduce this, is it ok to close the issue for now?

[2021-07-08 07:24] cshi0 commented on #3376
@withinboredom Yes, we can use a timeout to determine a failed connection. However, I want to recover the connection between daprd and inbound traffic sources like kafka or rocketmq after the app is alive again. In this case, I think I have to continuously probe the status of the app (or the container).

[2021-07-08 07:25] cshi0 commented on #3376
The design of probing process is slightly changed as I mentioned in the PR.

[2021-07-08 07:26] cshi0 commented on #3377
The design of probing process is slightly changed as I mentioned in the PR.

[2021-07-08 13:22] lloydfischer commented on #501
Agreed that idempotency is a separate thing. For daprd the key, as Yaron noted, is that there be a single consumer. More generally there must be always exactly one path for a message to reach an actor. If there is a possibility for a message to take a sneak path it will find it. Any secondary path will be have the potential for a message to pass another and arrive out of order. Multiple arrivals a

[2021-07-08 16:44] AaronCrawfis commented on #2865
@artursouza any update here? Can we close?

[2021-07-08 17:20] pkedy commented on #2582
Here is a proposal to satisfy filtering using a routing approach. It extends the existing Subscription CRD by adding the ability to specify multiple routing rules.

For context, the current CRD is structured like this and allows for a single topic subscription. `scopes` are the list of Dapr application IDs that use this subscription. The fields of importance are `pubsubname`, `topic`, and `route`.

[2021-07-08 17:43] artursouza commented on #2582
@pkedy LGTM.

[2021-07-08 17:44] artursouza commented on #2582
/cc @yaron2 what do you think?

[2021-07-08 17:51] #3175 closed

[2021-07-08 17:55] artursouza commented on #2961
@skyao Thanks for reviewing this. As a maintainer, please, don't forget to assign issues and add them to the milestone before merging the corresponding PRs.

[2021-07-08 18:28] #3225 closed

[2021-07-08 18:50] dmitsh opened #3404 "Runtime to gracefully exit on errors"
## In what area(s)?

/area runtime

## Describe the feature
Currently, the runtime uses `log.Fatal(...)` to exit on some errors, mostly from the go-routines.
I would suggest that we restructure the code, and properly propagate and act on these errors.
The propagation could be done via contexts or channels, for example.

## Release Note

RELEASE NOTE:

[2021-07-08 18:51] dmitsh commented on #3404
cc @artursouza @pkedy

[2021-07-08 19:02] yaron2 commented on #3404
@dmitsh to consider this change, I'd need to understand the benefits of a change and the problem that it would solve.

[2021-07-08 19:03] dmitsh commented on #3298
@cosmintiru , I was able to deploy a container with Dapr sidecar in AKS.
I tested 3 scenarios, all successful:
 - a container in a public docker.io repo
 - a container in a private docker.io repo
 - a container in ACR

Do you keep your container image in ACR? If so, did you deploy the cluster in the same subscription with your ACR?

[2021-07-08 19:03] shakyShane opened #3405 "How best to observe calls to external services"
## In what area(s)?

/area runtime

## Ask your question here

Hi! I have a situation where we will be using `invoke` for cross-service communications - but we don't want tracing to end at each service that we have under Dapr. If we call an external API (to an on-prem service, for example) we'd like the same telemetry to apply there (at least the outgoing & incoming message)

I've looked at using

[2021-07-08 19:08] dmitsh commented on #3404
Mostly two reasons:
- `log.Fatal()` results in `panic`, which might indicate unexpected runtime error. If we process the error in a controllable way, we can potentially provide more meaningful info the the users.
- We will have a chance to properly clean up the runtime before exiting.

[2021-07-08 19:58] yaron2 commented on #3404
Thanks:

In cases where `log.Fatal()` is used, a panic is actually fine as it's meant to be used for termination of a program when a condition occurs that does not allow any further execution. The use of `log` for it makes it consistent in terms of error reporting, as the desired outcome is `panic + log`, which is achieved with `log.Fatal()`.

#3175 is a prime example of why not to clean up the ru

[2021-07-08 21:42] yaron2 commented on #2582
Preliminary thoughts:

I like the usage of CEL, it also has parity with the Knative Cloud Event filtering mechanism and other components.

I have concerns regarding the following:

1. Versioning - making a field in a CRD optional in order to support backward compatibility isn't a good practice. It's also confusing for users as the schema will be open to interpretation without reading a matching de

[2021-07-08 22:02] yaron2 commented on #3405
Hey Shane, thanks for opening this issue. Today, the only way to get Dapr's telemetry into other non-Dapr services is by using the (currently very basic) HTTP binding. If you think that using this binding would be sufficient for your needs regarding telemetry, we can look at providing other missing features you might need for this binding.

Longer term, I'd like to explore Dapr using eBPF as a tra

[2021-07-08 22:49] pkedy commented on #2582
1. I wouldn't think that having a field go from "required" to "optional" is a breaking change... Seems legit in JSON schema, Right?
2. The above would works with programmatic solution as well and has party with the `.spec` (already have that coded).
3. The reason for a collection of routes is avoid being "stuck" with a single filter. In practice, on Day 1 you might only handle 1 event type/filter,

[2021-07-08 23:45] msfussell commented on #2582
@pkedy - Can you also provide programmatic example of the above proposal?

Also for my understanding, given a cloud event like this https://github.com/cloudevents/spec/blob/master/spec.md#example can you do filter on both the CloudEvent envelop as well as the data? It would be useful to see more examples (especially for data) so that we are clear on the scope. In the example above is "event.type"

[2021-07-09 00:06] artursouza commented on #2582
@pkedy @pkedy Looking into `routes.name`, it would cause confusion to have the gRPC differentiation in the schema. We can reuse the route itself into the gRPC implementation as we do today. Regarding versioning, I am a little bit iffy to reuse the current version for this change. So, what if we leave the current version for the Subscription CRD untouched and introduce a new version here:

[code]

[2021-07-09 00:12] yaron2 commented on #2582
Right, but that's not what I wrote. As you wrote on the original proposal, the field was made optional to avoid a breaking change when introducing the `routes` collection, which it will do. However, a more accepted way to do it would be to utilize the versioning scheme of the CRD and create a new `dapr.io/v2alpha1`. That makes the scheme clearer to both developers and operators and will require no

[2021-07-09 00:14] artursouza commented on #2582
OK, the new version would be v2alpha1 instead of v1alpha2 since the spec change is somewhat "significant".

[2021-07-09 01:35] pkedy commented on #2582
Correct.

Yes, this is absolutely possible and could be very powerful. That said, since the data would need to be decoded based on `datacontenttype`, I was leaning toward not supporting filtering on the contents of data initially. I'm on the fence because XML, JSON, MsgPack could all be supported easily since they are schema-less. However, it opens the door to building proper Codec support in Dapr

[2021-07-09 02:31] artursouza commented on #2582
For the programmatic API, I actually prefer Option B.

[2021-07-09 02:39] CodeMonkeyLeet commented on #3340
@logamanig I can't reproduce this issue if I set up the K8s cluster the way I described. Each app only gets the appropriate events from the pubsub component that it is subscribed to (this is even without using component scopes).

If you haven't already, maybe try asking the [Dapr Discord](
https://aka.ms/dapr-discord ) to see if anyone else has seen this too.

[2021-07-09 03:07] artursouza commented on #3377
The sidecar already checks for the app's health for actors. Can we reuse that logic? Of course, this will only work for the scenarios where the app has an HTTP port for the sidecar to probe.

[2021-07-09 03:11] artursouza commented on #3376
This seems to be referring to circuit breaking. @pkedy is looking into that space as well.

[2021-07-09 03:22] #2865 closed

[2021-07-09 04:12] artursouza commented on #3000
Let's keep this issue open and let @pkedy track this as a sub item of the major effort he is proposing.

[2021-07-09 04:19] artursouza commented on #3358
I like this idea. There are some important considerations to see if this is even practical:

1. SDKs are handcrafted to be idiomatic towards each language, so there are differences beyond just naming conventions.
2. Each language SDK makes design and style choices within what the developers in the community are used to, so how can the test suite be adaptable to these decisions without re-writing t

[2021-07-09 04:31] igorpalant commented on #3388
Yes, please.

Thank you,
Igor

[2021-07-09 05:17] lghinet commented on #3361
that's a good feature, but the multitenancy was just an example ..
another example can be auditing all commands, for GDPR .. and many others, pipelines are indispensables as they are for http

[2021-07-09 05:23] artursouza commented on #2950
I like the idea of caching in Dapr. Also, I like the idea to make it generic and not per component implementation.

The middleware is a good approach.

Also, have you considered making this feature as a binding? Creating a new component type is a big deal but a binding can be a way to prove the concept. The problem would be that the binding would have dependency on another component.

If you write

[2021-07-09 06:46] beiwei30 commented on #3361
I believe what @lghinet wants is an extra pipeline to intercept before the request sent to the main app from daprd (either via http or via grpc), which looks like this:

![image](https://user-images.githubusercontent.com/18651996/125035266-2c841e80-e0c4-11eb-8946-df926bd4ac0d.png)

[2021-07-09 08:29] mstrYoda commented on #2950
Thank you for answering this. I thought that middleware would be more eligible. As you said, it will have a dependency to another component (hence dapr needs to connect to an external cache store in a way).

Then I will make a POC by implementing middleware cache feature, I just need to think about how to connect external cache stores. Probably creating a binding for it might be useful.

[2021-07-09 08:38] cshi0 commented on #3377
I found it would require the app to implement an http endpoint for health checking, and it is a method belongs to the ActorRuntime. So, I cannot call it directly in the runtime?

[2021-07-09 08:43] cshi0 commented on #3376
An implementation of the proposal is submitted as a PR #3403 .

[2021-07-09 08:43] cshi0 commented on #3377
An implementation of the proposal is submitted as a PR #3403 .

[2021-07-09 09:43] tiankanghello opened #3407 "ERR_DIRECT_INVOKE: fail to invoke, id: invokedemo, err: cannot invoke local endpoint: app channel not initialized #577 opened 13 minutes ago by tiankanghello"
I encountered this error when I used springboot to run the call. What should I do to enable me to call the local dapr program normally

[2021-07-09 10:00] lghinet commented on #3361
sort of  ..
I just tried publishing a message and the existing pipeline mechanism is being used, which was kind of funny,
because on the subscribing side it is not ..

![image](https://user-images.githubusercontent.com/12889810/125060990-8e895780-e0b5-11eb-97c9-36318f2899fd.png)

[2021-07-09 11:45] mhoad commented on #3358
I'm not actually too deep on the knowledge here but I made the suggestion initially just because I saw a project with a similar set of problems and what looked to be a nice solution at first glance. Beyond that I am not close at all to the Functions Framework whatsoever. So everything I am saying here should probably be verified properly but just in the interests of starting that conversation...

[2021-07-09 12:14] saber-wang opened #3408 "Service invocation Error: Too big request header"
Error when header is larger than 4KB
![image](https://user-images.githubusercontent.com/45062099/125076179-2d33a980-e0f2-11eb-8b4c-5821e4b12f6a.png)

[2021-07-09 14:58] liamgib commented on #3388
For a period of time, I did experience this issue in our local development environment on Kubernetes.
We have some services that require information from another service on startup, and when all of the pods are starting that other service might not be fully online.

Could this potentially be linked to https://github.com/dapr/dapr/issues/3128?
@yaron2 When using `yaron2/daprd1a:v1` I didn't see the

[2021-07-09 15:26] GregorBiswanger opened #3410 "Azure Cosmos DB with MongoDB API as a state store - error initializing state store"
Hello everyone,

I have a problem using Azure Cosmos DB with MongoDB API as a state store. I only get the following error message when starting Dapr:

[code]

I have tried Azure Cosmos DB with SQL and it only worked when I created a database and a container manually (normally this should also be created by itself with NoSQL).

I tried the same with the Azure Cosmos DB with MongoDB API. Despite the

[2021-07-09 15:36] beiwei30 commented on #3361
Yep. The middleware pipeline is served for Dapr's HTTP API only. I agree with you that it would be useful if there's another pipeline to interpret the response from Dapr's component before daprd hands it over to the main application.

Let's wait for @yaron2's opinion on this. If he supports this feature, I'd like to give it a try.

[2021-07-09 16:10] halspang commented on #3023
/assign

[2021-07-09 16:22] halspang commented on #3023
Took some time to debug this and came across what looks like the culprit. When doing table updates (upsert/delete) the state of the FSM being maintained is locked. When a dissemination occurs, it takes a snapshot of the state using a read lock. When these two operations occur at the same time, the dissemination can take a snapshot of the soon to be out of date state before the update locks it.

Wh

[2021-07-09 18:18] artursouza commented on #3096
Yes, this is a new feature in the upcoming release (1.3) and we are adding documentation for it.

[2021-07-09 20:17] msfussell commented on #2582
The second programmatic option is easier to read IMO.

[2021-07-09 20:18] artursouza commented on #2892
@jigargandhi I will assign it to you. Beware this is not an easy issue, and it has impacts across the codebase and must be done in a backwards compatible way. Also, consider the impact to the SDKs.

[2021-07-09 21:52] artursouza commented on #2739
@ItalyPaleAle I am concerned about that observation. We should expand our conformance tests to reproduce this. Did you create an issue for this?

[2021-07-09 22:47] artursouza opened #3412 "Index actor reminders in memory"
Index actor reminders per ActorType/ActorId/ReminderName and remove loops that find a reminder.

As per suggestion in:

https://github.com/dapr/dapr/pull/3297#discussion_r667207911

[2021-07-10 00:23] artursouza opened #3413 "Claim OpenSSF CII's Best Practices Badge"
Fill out and claim badge as per: https://github.com/ossf/scorecard/blob/main/checks/checks.md#cii-best-practices

[2021-07-10 00:39] artursouza commented on #3413
@yaron2 I answered the survey. Please, review the badge for Dapr as per: [![CII Best Practices](https://bestpractices.coreinfrastructure.org/projects/5044/badge)](https://bestpractices.coreinfrastructure.org/projects/5044)

[2021-07-10 00:41] artursouza opened #3414 "Add fuzzing test"
Fuzz test Dapr APIs as per: https://github.com/ossf/scorecard/blob/main/checks/checks.md#cii-best-practices

[2021-07-10 00:43] yaron2 commented on #3413
lgtm

[2021-07-10 00:44] artursouza opened #3415 "Enable dependabot"
Enable dependabot as per https://github.com/ossf/scorecard/blob/main/checks/checks.md#automatic-dependency-update

[2021-07-10 00:51] artursouza opened #3416 "Follow up on false negatives for OpenSSF's score card"
OpenSSF reports the following as not passing, although Dapr has those today:

**1. Frozen dependencies**
https://github.com/ossf/scorecard/blob/main/checks/checks.md#frozen-deps

**2. Packaging**
![image](https://user-images.githubusercontent.com/130954/125147070-05d2e180-e0de-11eb-875d-8b762b3f15d0.png)

**3. Static code analysis**
https://github.com/ossf/scorecard/blob/main/checks/checks.md#sast

[2021-07-10 00:53] artursouza opened #3417 "Setup GitHub token permission in Dapr workflows"
OpenSSF score card fails because workflow files do not define GH token permissions:

https://github.com/ossf/scorecard/blob/main/checks/checks.md#signed-tags

[2021-07-10 00:55] artursouza opened #3418 "Require Git tags to be signed"
Require GitHub tags to be signed as per https://github.com/ossf/scorecard/blob/main/checks/checks.md#signed-tags

[2021-07-10 00:57] artursouza commented on #3272
We are reopening the issue because we need further discussion on how the certificate will be issues and how the binaries are signed. For example, how will the executable be signed for Windows. This work also needs to happen on CLI.

We will make a PR disabling signing in the release until the maintainers agree on a path forward for the above.

/cc @msfussell @yaron2

[2021-07-10 01:00] artursouza opened #3419 "Add security policy file"
Add security policy file as per https://github.com/ossf/scorecard/blob/main/checks/checks.md#security-policy

[2021-07-10 02:03] mhoad commented on #3414
https://github.com/dapr/dapr/issues/2916 Glad to see this picked up again ✌️

[2021-07-10 07:41] luckyxiaoqiang opened #3420 "Need failure recovery of components update"
## In what area(s)?

## What version of Dapr?

## Expected Behavior
When there is a temporary failure  in `Dapr.beginComponentsUpdates` because of network failure or operator server restart, dapr should be able to recover automatically.

## Actual Behavior

If an error occurs in `Dapr.beginComponentsUpdates`, it exits directly.  Thus, dapr will not receive any component updates.

[code]

## Steps

[2021-07-10 13:39] luckyxiaoqiang commented on #3420
/assign

[2021-07-10 13:39] DanAbara commented on #3419
I would like to work on this as i'm new to open source and a beginner programmer.

From the link you shared:

How do I find this information? Thank you @artursouza

[2021-07-10 19:53] vincentfree commented on #2960
I am experiencing the same issue with Dapr version `1.2.2`

[2021-07-12 00:58] #1602 closed

[2021-07-12 02:20] daixiang0 commented on #3417
Need maintainers do it.

[2021-07-12 05:21] luckyxiaoqiang opened #3423 "Data races of placement member state."
## In what area(s)?

## What version of Dapr?

## Expected Behavior

Concurrent access of placement member state should be safe.

## Actual Behavior

There are data races.

One example:

Read DaprHostMemberState.Members without lock:

[code]

Write DaprHostMemberState.Members:

[code]

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE: **FIX** Data races of placement member state.

[2021-07-12 05:21] luckyxiaoqiang commented on #3423
/assign

[2021-07-12 07:19] doddgu commented on #3325
Finally, I wrote a dapr starter program. When I start debug, I start the dapr starter in dotnet configureservice. It will auto suffix the appid with a mac address. It's working fine.

[2021-07-12 16:55] djojoz opened #3428 "Service-to-service invocation fails in Kubernetes (AWS EKS)"
## In what area(s)?

/area placement

## What version of Dapr?

1.2.x

## Expected Behavior

Service-to-service invocation through HTTP in Kubernetes deployments should work with no error.

## Actual Behavior

The http call returns:
[code]

## Steps to Reproduce the Problem

I'm running Dapr on Kubernetes (Amazon EKS + Fargate).
I installed it using `dapr init -k --enable-mtls=false` (enabling mtl

[2021-07-12 18:09] #3023 closed

[2021-07-12 21:24] artursouza commented on #3417
Can you explain why? It seems like a PR into the workflow files, not?

[2021-07-12 21:29] artursouza commented on #3419
Create a `SECURITY.md` file linking to https://docs.dapr.io/operations/support/support-security-issues/

@AaronCrawfis I think it is better to link than duplicate content here. Any concerns?

[2021-07-12 21:41] AaronCrawfis commented on #3419
Looks good to me, thanks!

[2021-07-12 21:42] #2889 closed

[2021-07-12 23:00] #3419 closed

[2021-07-13 01:05] Carmen675 commented on #3024
I  didn’t approve to have someone running my whole damn phone!! This is
hacking and bullshit
On Mon, Jul 12, 2021 at 9:04 PM Artur Souza ***@***.***>
wrote:

--
Mrs. Amanda Luft

[2021-07-13 01:13] daixiang0 commented on #3417
This step needs maintainers.

[2021-07-13 01:19] lianxue7851 commented on #3396
Thank you very much for your reply.

[2021-07-13 13:29] shakyShane commented on #3405
Thanks @yaron2 !

eBPF-based tools would certainly help with general telemetry yeah. (and Pixie looks great).

But in our case, it seems such a shame to have service discovery and communications between services happening in Dapr and then have to use a separate tool just to observe the final HTTP call in the 'chain'

Because using bindings would require us to change our implementation code (to con

[2021-07-13 18:35] pkedy commented on #3361
Ironically, I built out a Dapr POC that uses this approach. I'm working to get it out on GitHub soon.

[2021-07-14 04:21] ItalyPaleAle commented on #2739
@artursouza here it is: https://github.com/dapr/components-contrib/issues/1010

[2021-07-14 08:10] ShaileshSurya commented on #2716
@artursouza I see that the component-contrib/state is being consumed by the Dapr repository.

We might need to open two different PR's on component-contrib and dapr. This can cause both the repo's going out of sync for a while.

How can we go around this?

[2021-07-14 08:50] kevingbb commented on #3216
This issue is still happening with version 1.2.2.

time="2021-07-14T08:32:41.840504204Z" level=info msg="API gRPC server is running on port 50001" app_id=receiver instance=receiver-576d9b595b-rrsvg scope=dapr.runtime type=log ver=1.2.2
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x16c55ba]

goroutine 1 [runnin

[2021-07-14 14:39] GregorBiswanger opened #3432 "Kubernetes (AKS) - Azure Key Vault Secret Store: failed to get oauth token from certificate auth: failed to read the certificate file"
Hey Community,
I have problems using my **certificate** in **Kubernetes** (AKS) for my **Azure Key Vault Secret Store**.

It works wonderfully with local hosting. I made the configuration according to the instructions and also added the certificate file to the Kubernetes Store. But unfortunately I get the following error message with Kubernetes when starting the dapr sidecar:

time="2021-07-14T14:

[2021-07-14 16:34] yaron2 commented on #2582
+1.

[2021-07-14 18:59] workfigure opened #3435 "New parameters to add custom label on pod level."
We would like to add custom labels on the pod manifest file and it will be valuable to pass custom pod label as parameter at global level.

[2021-07-14 19:49] pkedy commented on #2582
Just circling back on GitHub info from a verbal discussion. For now, we are using Option A because when `metadata` is involved, it is unclear how to normalize the subscriptions. Option B assumed only keying off `pubsubname` and `topic`. We will get more feedback on this.

[2021-07-14 20:04] GregorBiswanger commented on #3432
It was my fault. I used `spnCertificateFile` and that is for local.
I changed it to `spnCertificate` and now it works.

[2021-07-14 20:04] #3432 closed

[2021-07-14 22:26] apuzyrevsky commented on #3319
@yaron2 Kind reminder. Could you please take a look at this issue?

[2021-07-15 02:22] daixiang0 commented on #3435
Could you share use cases for this?

[2021-07-15 03:35] #3348 closed

[2021-07-15 06:41] daixiang0 commented on #3407
please share reproduce steps and logs.

[2021-07-15 09:09] withinboredom commented on #2682
Coming here to say that I've also seen this happen when the namespace is brand-new (within 1-2s of creating the pod). You can recreate pretty simply by specifying a namespace along with the pod:
[code]

[2021-07-15 09:21] drriguz opened #3439 "Can we execute blocking operations inside actor?"
Hi there,

Can we execute long-time I/O job in an actor, eg. call other API with retry? I didn't find any documentation about that, my understanding is that there is not limitation about that, the lock of an actor does not have a duration.However, in other actor systems like Vert.x if we have blocking operations we'll need to run it inside some other type of  actor instance(the worker verticle).

[2021-07-15 09:26] drriguz opened #3440 "Will invocations to actor lost if application crashes?"
Hi there,
I'm curious about the actors implementation, my understanding is that calls to the same actor will be processed sequentially just like they're queued.

If multiple calls to the same actor are requested, let's say(R1, R2, R3...R5), if the application crashes somehow when running R1(ie. R1 processing is not finished), will R1~R5 be re-processed if the application recovers later?

Thanks

[2021-07-15 13:21] Tojuro commented on #3169
Organization/Company: UWM (United Wholesale Mortgage)
Website: https://www.uwm.com
Country: USA
Contact: trodgers@uwm.com
Usage scenario: Using DAPR as a key part of our next generation microservices
Status: In development

[2021-07-15 15:24] MotaOcimar commented on #1229
For those looking for how to reproduce [this tests](https://docs.dapr.io/operations/performance-and-scalability/perf-service-invocation/), see https://github.com/dapr/dapr/tree/master/tests

[2021-07-15 16:08] halspang opened #3441 "v1.3 Endgame"
End game Lead: @pkedy
End game buddy: @berndverst

This is the schedule for the v1.2 release

### May 17th to May 25th
- [x] Ensure the docs are clear about using the correct CLI, runtime and SDK versions (1.2.0 for CLI/Runtime) (@AaronCrawfis)
- [x] No P0 issues before code freeze.
- [x] Code freeze at 11:59 pm 05/14.
- [x] E2E and perf tests are passing. (Known perf test failures, deemed not a b

[2021-07-15 16:09] #3441 closed

[2021-07-15 16:10] halspang commented on #3441
Attempt to create one for Phil, but he can't edit it so he's making his own.

[2021-07-15 16:15] pkedy opened #3442 "v1.3 Endgame"
End game Lead: @pkedy
End game buddy: @berndverst

This is the schedule for the v1.3 release

### July 15th to July 20th

- [x] Ensure the docs are clear about using the correct CLI, runtime and SDK versions (1.3.0 for CLI/Runtime) (@AaronCrawfis)
- [x] No P0 issues before code freeze.
- [x] Code freeze at 11:59 pm 07/14.
- [x] E2E and perf tests are passing. (Known perf test failures, deemed not

[2021-07-15 16:20] ecw1973 commented on #2939
Having the same issue with the eShopOnDapr sample running via Docker Compose.   Zipkin trace and dependencies are empty.   Anyone know how to fix this?

[2021-07-15 17:51] navndn commented on #3067
@artursouza  is it possible use dapr with GCP cloud-run?

[2021-07-15 19:41] berndverst commented on #3442
Consider bumping dashboard helm chart version and release tag to 0.7.1 so these match again.

[2021-07-15 19:42] workfigure commented on #3435
We have corporate policies that require any pod should have certain labels.

[2021-07-15 19:45] calebcartwright commented on #3435
Precisely and to expand a bit on @workfigure's response

We have policies in our corporate environment that require certain labels be used on all deployment types on our clusters. The inability to specify these labels via parameters with the current helm chat requires us to copy the manifest files and build our own chart in order to be able to deploy dapr on our cluster.

This will suffice for now

[2021-07-15 22:33] wcs1only commented on #3056
Confirmed build is working again: https://github.com/dapr/dapr/runs/3081049401?check_suite_focus=true

[2021-07-15 22:47] #3056 closed

[2021-07-15 22:52] yaron2 commented on #1229
Also, here are our daily perf tests dashboard: https://daprperf.azurewebsites.net/

[2021-07-16 01:34] daixiang0 commented on #3442
Oh, it is an epic task! Thanks for all of you, and I would like to participate in if possible.

[2021-07-16 14:56] skyao commented on #2988
### Configuration api proposal v0.3

Proposal v0.3

## Overview

According to the above discussion, I update the new proposal of configuration api to v0.3. The biggest change between v0.3 and previous proposal (v0.2) is that after a long time discussion we made an agreement that we need to support "key model": in some case, there is no relationship between appid and keys.

- intruduce key model as

[2021-07-16 16:44] drriguz commented on #3439
After I tried it out, now I believe that the virtual actor is just like any other API, request → execution → response , so you'll not get the response until the execution finishes. In that way, execution should not take too long, because otherwise the caller might not be able to get response due to timeout.

[2021-07-16 16:45] #3439 closed

[2021-07-16 16:52] drriguz commented on #3440
Aha it's not working in that way. Invocations of actors are made by HTTP requests, so:
R1, R2, R3....R5 are just http calls, and will be blocked if other requests are still running. So it's like this:

----------> time
start(R1) ... end(R1)
start(R2) ...... end(R2)
start(R3) ......... end(R3)
start(R4) ............ end(R4)
start(R5) ............... end(R5)

The requests itself are not saved,  if t

[2021-07-16 16:52] #3440 closed

[2021-07-16 19:21] markgar opened #3448 "Homebrew installation seems be be broken"
![image](https://user-images.githubusercontent.com/13386095/125998444-5ca81efd-d570-492f-94ef-0e39732892ac.png)

![image](https://user-images.githubusercontent.com/13386095/125998399-97ba545d-11d8-4238-a3cb-b94838c92084.png)

[2021-07-16 21:15] orizohar commented on #3442
Tracking docs release tasks here https://github.com/dapr/docs/issues/1652

[2021-07-17 06:07] doddgu commented on #2988
Whether a merge scenario needs to be designed?
For exmaple:
app-id: dapr-test, the default config name is dapr-test.json, content is
[code]
app-id: dapr-test, env: dev, the config name is dapr-test.dev.json, content is
[code]
then I use the sdk
[code]
console output:
[code]

[2021-07-17 08:52] skyao commented on #3393
Layotto is not start for service mesht. Even dapr has a wonderful service mesh, laytotto will still start, like istio/envoy and mosn.

And for "new dapr", you can have a look at this project: https://github.com/micro/micro

![](https://micro.mu/images/micro-3.0.png)

[2021-07-17 11:15] andreatosato opened #3449 "[Proposal] State management ttl"
## Area

 /area runtime

## Proposal
State management is similar to caching system.
I think that state management must have 2 principal feature:
- slide expiration (expiration after time that key is not accessed)
- time to live (expiration after time the key is created)

State management now is similar to database because there isn't system that invalidate cache data.

I think that IDistributedcac

[2021-07-17 14:57] skyao commented on #2988
This case is included in proposal v0.1 and named as "Configuration aggregation". Please go back to the end of proposal v0.1.

Comments from Yaron:

Since we still don't agree with the core design of this proposal, I don't include this topic about "Configuration aggregation" in v0.2 and v0.3.

From my point of view, I would like to implement "Configuration aggregation" in daprd and also "hidden" th

[2021-07-18 06:03] #3244 closed

[2021-07-18 15:07] withinboredom opened #3450 "Add supported features to sidecar metadata endpoint"
Right now, a developer has to keep track of which features are enabled and utilize them. SDKs cannot detect available features and enable optimized code paths automatically or disable them to prevent crashing/output nicer errors.

Here are some features that can be enabled depending on the sidecar version/configuration, for example:

- Actor reentrancy
- ISO-8601 timers/reminders

## In what area(

[2021-07-18 15:21] withinboredom opened #3451 "sidecar /healthz returns 204 before placement server can route to actors on running service"
## In what area(s)?

/area runtime

/area placement

## What version of Dapr?

All

## Expected Behavior

`/healthz` to not return a `204` until it can actually activate actors.

## Actual Behavior

A `204` response is returned even though it isn't possible to activate any actors on the service.

## Steps to Reproduce the Problem

1. Start a simple service that can host an actor. On startup, have

[2021-07-19 01:37] doddgu commented on #2988
I think Configuration aggregation in the Configuration item can help aggregate the part of the change, this is a very common scenario.  It may not be supported in earlier versions, but it is useful in the long run, otherwise each SDK would have to implement it.

[2021-07-19 01:42] artursouza commented on #3252
Why is the sidecar running inside K8s and not locally with your app? We would need to understand the scenario before adding this configuration. There might be ramifications of allowing this.

[2021-07-19 01:52] artursouza commented on #3199
https://github.com/dapr/dapr/issues/3231 should fix these issues since keeping parity between GRPC and HTTP is not a clean cut.

[2021-07-19 01:53] daixiang0 commented on #3451
The `healthz` means it self can work, if depend on others. error info is enough I think,

[2021-07-19 01:56] artursouza commented on #3131
@jjcollinge Does this issue need to be reopen after your assessment on May 14th?

[2021-07-19 02:06] artursouza commented on #3011
This issue should resolve gRPC invocation usage: https://github.com/dapr/dapr/issues/3231

[2021-07-19 02:08] artursouza commented on #2987
Please, look at this new experience for gRPC service invocation: https://github.com/dapr/dapr/issues/3231

[2021-07-19 02:12] artursouza commented on #2917
@a121984376 Dapr's pubsub can offer queue instead of broadcast, it depends on which component you are using and how it is configured. Please, look at out documentation about PubSub: https://docs.dapr.io/developing-applications/building-blocks/pubsub/howto-publish-subscribe/

[2021-07-19 02:14] artursouza commented on #2916
We ended up tracking this work as part of the OpenSSF effort: https://github.com/dapr/dapr/issues/3414 Thanks.

[2021-07-19 02:17] artursouza commented on #2907
It is hard to design a service invocation API that is protocol agnostic since each protocol (gRPC and HTTP, for example) have specific design decisions that are not necessarily portable.

The gRPC experience has been redefined with this new capability: https://github.com/dapr/dapr/issues/3231

[2021-07-19 02:20] artursouza commented on #2891
Please, for PubSub routing (filtering), please follow this issue: https://github.com/dapr/dapr/issues/2582

[2021-07-19 02:36] artursouza commented on #2825
It is OK to have differences in functionality between implementations. Like in state store, not every component implements all capabilities (transaction or etag, for example). It does not mean we create new building blocks for each feature set. I think the scenario described should be achieved with some components in pubsub. If our kafka and pulsar abstractions do not allow that, then we should un

[2021-07-19 02:46] artursouza commented on #2643
Please, consider the new gRPC experience for service invocation: https://github.com/dapr/dapr/issues/3231

[2021-07-19 02:48] artursouza commented on #2630
Tracking issue in https://github.com/dapr/dapr/issues/3316

[2021-07-19 02:55] daixiang0 commented on #3450
Do you mean to make those features as plugins?

[2021-07-19 04:00] iamazy commented on #3238
@artursouza Hi, I'm willing to do this, Can you assign it to me?

[2021-07-19 05:04] artursouza commented on #2485
Reopening this issue because this is a common ask. Right now, dapr does not offer auto reloading of components (or hot reloading) because it can be a dangerous behavior in production. There are different update strategies to handle with production changes to avoid a bad config to bring down the app. If we decide to go this route, this feature would only make sense for development scenarios but sho

[2021-07-19 05:09] yaron2 commented on #2576
Closing, as we decided to not pursue Dapr invoking the app over non localhost.

[2021-07-19 05:09] #2576 closed

[2021-07-19 05:16] yaron2 commented on #3252
@artursouza we already discussed this in the past, implemented this feature and then reverted it due to security concerns. I'm closing this for now. The scenario in this issue is for development.

[2021-07-19 05:16] #3252 closed

[2021-07-19 07:14] #3285 closed

[2021-07-19 07:31] a121984376 commented on #2917
thanks

[2021-07-19 09:04] nobodyiam commented on #2988
In the GetConfigurationRequest, how about we paas `names` instead of `name` so that we could filter multiple names which is compatible with `name`
[code]

[2021-07-19 12:25] avvijeet opened #3453 "Requests like interface for smooth transition to dapr"
## In what area(s)?

## Feature request

Context : Dapr-Python-Sdk
**API Usage**
I have created dapr_api_wrapper which is a requests like interface over dapr client for smooth transition from requests to dapr
[code]
**Questions**
1. Can add this feature be added to dapr-python-sdk?
2. If not, is it okay to publish the above pip module on PyPI?

[2021-07-19 17:19] yaron2 commented on #3067
@navndn you can't use the Dapr annotations for Kubernetes to run in GCP Cloud Run, since that service doesn't have Dapr enabled. In order to get that support, you'd have to submit a request to GCP to enable this scenario.

[2021-07-19 17:25] yaron2 commented on #2939
@the-virt @regul4rj0hn @ecw1973 please confirm the following:

1. The Zipkin container and the Dapr container are both in the same Docker network
2. The Dapr service is configured to point to the Configuration YAML.

[2021-07-19 17:30] yaron2 commented on #3423
Thanks for the PR @luckyxiaoqiang, i've triaged this into 1.4.

[2021-07-19 17:35] yaron2 commented on #3420
@luckyxiaoqiang thanks for bringing this up.

don't you think the desires behavior here is to let the instance crash? In environments that run Dapr using container orchestrators, the underlying platform will continously restart the service until it is healty again.
That puts the lifecycle concerns on the orchestrator and removes the need for the sidecar to do it.

[2021-07-19 19:15] msfussell opened #3455 "Metric API for application level metric reporting"
## Describe the feature
Applications write traces and logs and also have the requirement to write out their own metrics, for example performance, load times etc. Although Dapr captures metrics on its APIs that are used by the application, an application should be able to take advantage of Dapr's existing metric pipeline that has been set up. This proposal cam out of a conversation on the https://g

[2021-07-19 19:38] yaron2 commented on #3455
I support this.

Concretely, this means a new building block API. /cc @artursouza @skyao.

[2021-07-19 23:06] luckyxiaoqiang commented on #3420
Thanks for your comment. I prefer robustness. Failures are common in distributed system, like temporary network failure, service upgrade, service restart. If any failure results in Dapr crashing and restarting, the cost is too high and availability is too low. For example, a normal upgrade of Operator will cause all connections and streams closed. If this results in all Dapr instances crashing and

[2021-07-20 01:06] daixiang0 commented on #3455
+1

It needs to consider how to get the existing custom metric of applications as well.

[2021-07-20 01:08] daixiang0 commented on #3453
Better to discuss it in dapr/python-sdk

[2021-07-20 06:36] #3453 closed

[2021-07-20 11:14] skyao commented on #2988
Now this method (appid + item name) is only used for key model which have to query each configuration item in config.get() method:

![](https://user-images.githubusercontent.com/1582369/125968264-d877f595-9941-4582-8a7b-dee3e32de3aa.jpg)

[code]

It seems that we don't have the user case for "appid + multiple names".

Anyway, changeing name to names is OK if we really have the requirement.

[2021-07-20 15:28] workfigure opened #3458 "Typo on documentation"
The name of the global.imagePullSecret and dapr_dashboard.image.imagePullSecret has typo in the [doc](https://github.com/dapr/dapr/tree/master/charts/dapr). It miss 's' at the end.
Need to update the doc with global.imagePullSecrets and dapr_dashboard.image.imagePullSecrets

Doc url: https://github.com/dapr/dapr/tree/master/charts/dapr

[2021-07-20 19:46] pkedy commented on #2582
Here is the latest iteration on the CRD/YAML and `dapr/subscribe` structures based on feedback received.

`rules` are now nested under `routes` along with an optional `default` for path.

[code]

`routes` encapsulation structure was added.

[code]

[2021-07-20 21:40] matthewgaim commented on #3220
/assign

[2021-07-20 21:48] matthewgaim commented on #3220
@akkie I've added the response body for both HTTP and gRPC in the binding error.

[2021-07-20 22:37] clonedonaldmarshall opened #3460 "Multicluster Kubernetes"
How do you do Kubernetes federation with dapr

[2021-07-20 23:51] #3176 closed

[2021-07-21 00:07] georgestevens99 commented on #2582
I find this feature very useful and am looking forward to using it some day.  FYI I too like the 2nd of the 2 most recent code examples.

However the terminology used in the yml and code examples seems to have run off the rails.  When I look at the general usage of pubsub in the industry I see the following primary terms being used:
* Events
* EventTypes
* Publishers
* Subscribers
* Event Handlers

[2021-07-21 00:38] #3298 closed

[2021-07-21 00:54] daixiang0 commented on #3458
/assign

[2021-07-21 01:53] #3220 closed

[2021-07-21 02:19] artursouza commented on #2988
The proposal for 0.3 is bringing back multiple levels of isolation again, something we had discussed and agreed not to do now. Bringing this back will just keep the discussion going. Can we bring this discussion back to a simple key-value API with a watch (or listen) API?

Some other details:

* `store_name` is a ephemeral and should not be part of the API. It is simply an identifier the app can u

[2021-07-21 05:59] kinglionsoft opened #3462 "error from sentry SignCertificate: rpc error"
## In what area(s)?

 /area runtime

## What version of Dapr?

## Expected Behavior

## Actual Behavior

[code]

[2021-07-21 06:14] saber-wang commented on #3408
How should I deal with this error now?😂

[2021-07-21 06:38] yaron2 commented on #3408
Do you really need such long headers or maybe is this something you can pass on a request body?

[2021-07-21 10:55] agriessbosch commented on #3420
I second the preference for robustness that @luckyxiaoqiang has.

I have just run into that same problem in an installation with both istio and dapr injecting sidecars into the same pod. When daprd tries to do its initial Dapr.beginComponentsUpdates that will fail immediately, since the istio sidecar didn't receive its configuration yet.

Can confirm that #3421 solves my issue as well.

[2021-07-21 11:19] kb2ma opened #3463 "Crash from Sentinel issue on arm 32-bit"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

No crash at startup.

## Actual Behavior

dapr v1.2.2 crashes at startup on arm 32-bit due to an integer overflow issue in Sentinel v1.0.2, as I [reported](https://github.com/alibaba/sentinel-golang/issues/418) upstream, including a stack trace. What's odd is that I have not configured dapr to actually use Sentinel -- no componen

[2021-07-21 12:10] the-virt commented on #2939
Hi @yaron2
1. I confirm that Zipkin and Dapr container are both in the same Docker network
2. I'm not sure how Dapr service could be additionally configured to point to the Configuration YAML. All I did is described in the initial question.
Do you have a suggestion? I will appreciate that!

[2021-07-21 12:37] WhoAteDaCake commented on #2348
I'm not sure this issue is fixed yet? I've tried deploying:

[code]

The dapr sidecard keeps shutting itself down: https://pastebin.com/kDNaXb9d

[2021-07-21 12:55] WhoAteDaCake opened #3464 "Dapr sidecar keeps shutting itself down when deployed to container instances via az aks virtual node"
## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior

Using dapr in combination with virtual-nodes on azure aks, should work

## Actual Behavior

Pod deployed via:

[code]

The dapr sidecard keeps shutting itself down: https://pastebin.com/kDNaXb9d

## Steps to Reproduce the Problem

`kubectl apply -f dapr-test.yml`

## Release Note

RELEASE NOTE:

Fix dapr sidecard s

[2021-07-21 14:58] clonedonaldmarshall opened #3465 "Universal Namespace"
May anyone please help with universal namespace? e.g. two clusters recognizing the other's service

[2021-07-21 15:15] saber-wang commented on #3408
@yaron2 Yes, I need such a long header 😢

[2021-07-21 17:22] georgestevens99 commented on #2582
@artursouza   I get your confused emoji, I think.  Thanks.

Please apply all that I said about "routes" above, to the term "path".  Instead of "path" I'd like to see "eventHandler".  In other words the name of the method that gets invoked as a result of the "path".  I think that is what "path" means, and please correct me if I am wrong.

The idea I am  trying to promote is at the customer interfac

[2021-07-21 22:47] HectorMeneses333 commented on #3069
Has anyone been able to deploy in openshift?
I would like to give it a shot myself, but want to know if anyone has been successful already.

[2021-07-22 00:54] luckyxiaoqiang commented on #3420
@skyao @artursouza what's your opinion?

[2021-07-22 05:52] tomkerkhove commented on #1849
/keep-alive

[2021-07-22 07:10] javageek79 opened #3468 "high cpu usage of dapr sidecars after upgrading to runtime 1.3.0-rc.x"
## In what area(s)?

/area runtime

## What version of Dapr?

1.3.0-rc.x

## Expected Behavior

cpu usage of sidcars does not change significantly after upgrade

## Actual Behavior

After up upgrading from dapr rt 1.2.0 to 1.3.0-rc.1 in a first run followed by a second run with rc.2, we experienced an unexpected high cpu consumption of our dapr sidecars across our services.

cpu usage of java/node

[2021-07-22 07:27] stefanJ-hub commented on #3468
fyi @artursouza

[2021-07-22 07:32] quickstar commented on #3060
I didn't change any thing in particular... it just startet to work again 😕

[2021-07-22 07:32] #3060 closed

[2021-07-22 07:38] quickstar commented on #3385
According to the [Dapr community call 42](https://www.youtube.com/watch?v=ZwFOEUYe1WA&t=108s),  [Bridge to Kubernetes](https://github.com/microsoft/mindaro) now seems to support K8s. Which is exactly what I was looking for! Very cool, I'll give it a try the next days 👍

[2021-07-22 08:49] sep2 opened #3469 "Method invocation on multiple ports of the same service, is it possible?"
## In what area(s)?

 /area runtime

 /area operator

With the current service invocation api, one can only call methods on one port of the remote service, can we support multiple ports?

Hypothetical api:
`
http://localhost:3500/v1.0/invoke/calculator/method-<remote-port>/add
`

When the remote port is different, the following actual request on remote service will be called:
`
http://calculator:3

[2021-07-22 09:36] mtaghavi2005 opened #3470 "Tracestate (W3C trace header) cannot be propagated in PubSub"
By using PubSub component only traceparent from W3C trace headers can be propagated (traceId), but the tracestate gets lost. I checked [cloudevents.go](https://github.com/dapr/dapr/blob/58ebe431029706bbe9663296b36ec53db385bf01/pkg/runtime/pubsub/cloudevents.go)  which dapr runtime uses to create a cloudevent object and publish it to the broker, but the place where tracestate can be stored is missi

[2021-07-22 10:23] fabistb commented on #3470
@msfussell can you please add this issue to our project?

[2021-07-22 11:14] theperm commented on #1786
I having difficulty getting Wildcard topics to work from a .Net Core controller and I am getting no help on Discord -  i think it might be a bug but I dont know where it is. DaprD is logging the subscription as being made.

`app responded with subscriptions [{service-pubsub MyTopic.* MyTopic map[] []}]" app_id=
app is subscribed to the following topics: [MyTopic.*] through pubsub=service-pubsub" a

[2021-07-22 13:16] rajagopalanrg opened #3471 "Dapr not able to find service after type changed from ClusterIP to LoadBalancer"
We have five microservices and using dapr for inter communication. All the services were running initially as LoadBalancer and we changed it to CluserIP and then put it back to LoadBalancer. Now the services are not able to connect and we are getting the below error,
Dapr.Client.InvocationException: An exception occurred while invoking method: 'v1/users/getbyid?id=57c8a29b-ebc3-4f4f-9a3f-bf3cf3417

[2021-07-22 16:11] mtaghavi2005 opened #3472 "Dapr runtime sends InputBinding events to undesignated locations"
On startup Dapr sends OPTIONS request to check if the app has already subscribed to an input binding or not, but while sending request if the app is not available for any reason, the sidecar starts to read from all input binding and sends unrelated binding events to the app.

## In what area(s)?
Input Binding
## What version of Dapr?

## Expected Behavior
App should only receive InputBinding event

[2021-07-22 16:29] fabistb commented on #3472
@msfussell can you please add this issue to our project?

[2021-07-22 16:57] wcs1only commented on #3469
So, dapr today only supports talking to your app over a single port. There are a lot of assumptions in the code based on that pattern today, so a change like this would not be trivial. If you need this functionality today, one way you could get it would be to run multiple daprd instances, one for each port on your application.

I'd love to hear a little more detail on the use case here. Are you ru

[2021-07-22 17:02] wcs1only commented on #3468
Just to add some context, we have a known regression in 1.3.0-rc.1 that was rolled back in 1.3.0-rc.2. If you've upgraded to rc.2 be sure and do a rolling restart of your services to pick up the fix. We also fixed another performance regression in 1.3.0-rc.3, but it is specific to the dotnet, and python SDK's and their actor implementation.

If you've already updated to rc.2 and done a rolling res

[2021-07-22 17:10] wcs1only commented on #3468
Here's how you can definitively verify that you've got the rc.2 fix fully deployed:

[code]

If you see that Liveness is using an HTTP probe as above, you've got the fix (and the CPU regression is something yet unknown)

[2021-07-22 17:24] wcs1only commented on #3468
If we can rule out the above, the next best step will be to see if we can capture a profile: https://docs.dapr.io/operations/troubleshooting/profiling-debugging/

If we can get one against 1.2.2 and one against 1.3.0-rc.3, we can compare them, and the CPU usage should stick out pretty dramatically, based on the size of the regression you've seen.

[2021-07-22 17:48] pkedy commented on #3468
Here is a handy tool to visualize the pprof data: https://github.com/remeh/diago

[2021-07-22 18:29] xavidram opened #3474 "DaprClient not finding correct port to invoke call?"
## In what area(s)?

/area runtime

## Background

I am trying to configure a multiple service project using `tye` and `dapr`. Following the documentation provided on both github repositories I landed on the following tye.yaml

This is the tye.yaml
[code]

When running the yaml file. All containers spin up correctly. Dapr creates the sidecars for the `clients.api` and `members.api`. The webapp is

[2021-07-22 23:07] artursouza commented on #3239
Would binding to localhost only instead of 0.0.0.0 be enough to pass the criteria for the scanner?

[2021-07-22 23:11] wcs1only commented on #3239
We should use https://github.com/dapr/cli/issues/741 to build this.

[2021-07-22 23:13] wcs1only commented on #2914
Reopening for 1.4, we had to revert this due to a performance regression introduced by the new healthcheck type.

[2021-07-22 23:20] wcs1only opened #3475 "Add an optional public dapr endpoint for healthz and metadata."
## In what area(s)?

/area runtime

We need this for #2914. We need an optional endpoint that exposes just the healthcheck and metadata and nothing else. The primary purpose is to allow the dashboard and health checks in k8s cluster without exposing the rest of the dapr API on a public port.

## Describe the feature

## Release Note

RELEASE NOTE:

[2021-07-23 01:24] daixiang0 commented on #3463
Do you have interested to fix it?

[2021-07-23 05:16] pandagodyyy opened #3476 "the Route of subscription API does not work"
## In what area(s)?

/area runtime

## What version of Dapr?

1.2.1

## Expected Behavior

my environment use pulsar as message broker to build pubsub component.
I have two microservices A and B. A is the publisher of topic C and B is the consumer of topic C
I use programmatic way to subscribe a topic, the  response  via /dapr/subscribe  from B is
[
{
pubsubname: "pubsub",
topic: "C",
route: "/eve

[2021-07-23 05:31] sep2 commented on #3469
Thank you for your detailed reply!

We are developing a sass system,  which is an activity/event site generator.

The system itself is accessible from `example.com`, and tenants can login into this system to create their own activity sites,  those created sites would be accessible by their customers from `xxxx.example.com`, `yyy.example.com`, etc, to provide some kinds of online activity experienc

[2021-07-23 06:05] withinboredom commented on #3450
No. Currently, there's no way for an application to know whether the sidecar supports these features until it makes a call and discovers an error. For example, the new configuration API will still be using `/v1/` HTTP API version, but will only work in a certain Dapr version.

In actuality, it may just be simple enough to pass a header from Dapr with the current sidecar version.

[2021-07-23 07:00] jjcollinge commented on #3131
@artursouza the crux of this issue is the question, does keeping the certificate subjects as `cluster.local` regardless of the actual hostname cause any problems or expose us to any more risk. As we are talking about the certificates used in the mTLS handshake between 2 Dapr instances I don't believe it currently does - as long as they have a common root of trust then they don't really care what t

[2021-07-23 09:32] withinboredom commented on #3475
What about going the other way? In other words, have sidecars post their metadata to somewhere (storage/state/metrics) that can quickly be aggregated. If there are a metric ton of sidecars, it probably doesn't make sense to have a single service trying to do this through iteration; it'd be too slow at scale.

[2021-07-23 14:28] javageek79 commented on #3468
Hi, thanks for the hints. We rolled out dapr runtime 1.3.0-rc3. We still experience a high CPU consumption of the sidecars with this version.

Some points we discovered:
-	It takes some time until the high CPU consumption happens – it does not happen directly after the update/restart
-	Our services use Pub/Sub. Some services subscribe and publish and other services only use publish. We see the hig

[2021-07-23 15:27] #3299 closed

[2021-07-23 16:38] xavidram commented on #3474
Figured it out. This issue was due to me not using a Hosted BlazorWasm application to serve the UI. The hosted model has the server backend which can then read the tye service discovered ports using the Microsoft.Tye.Extensions.Configurations library as mentioned here https://github.com/dotnet/tye/blob/main/docs/reference/service_discovery.md

Then after making that work I was able to use the Dapr

[2021-07-23 16:38] #3474 closed

[2021-07-23 16:53] kb2ma commented on #3463
I would prefer not to work with the upstream Sentinel repository because I have no experience with it and don't need to use it. This work would take time that I really don't have ATM.

It does seem odd that just compiling dapr with the Sentinel plugin present but not configured would cause this issue in dapr. Once again though I don't need to use Sentinel and have a working solution, and unfortuna

[2021-07-23 18:15] #3268 closed

[2021-07-23 20:12] gunniwho commented on #2825
Thanks for your comment, although I'm not sure I agree. The state management building block is an abstraction over key-value storage and as such it wouldn't make sense to add "relational" (sql-like) capabilities to that API. Similarly, the pub/sub building block is an abstraction over message passing and as such it doesn't make sense to add partitioned log capabilities to that API. Mainly because

[2021-07-23 20:46] georgestevens99 commented on #1657
We still need it for pubsub as far as I know.

[2021-07-23 21:11] artursouza commented on #3448
It has been fixed. Thanks.

[2021-07-23 21:11] #3448 closed

[2021-07-23 21:48] wcs1only commented on #3468
We believe that we have identified a potential root cause for the issue you have described. We'll be cutting a 1.3.0-rc.4 shortly.

[2021-07-23 22:08] yaron2 commented on #2988
@skyao thanks for the new proposal.

If I understand correctly, level-0 does not add the `appID` to the `GetConfigurationRequest`, but the API spec you put makes it look like it does.

Specifically, level-0 looks good. We only have concerns with having the `app-id` be in the API request, as it might create problems in zero trust networks where apps are not supposed to trust each other.

I suggest

[2021-07-23 23:05] wcs1only commented on #3468
Release 1.3.0-rc.4 is now available, and we believe it may address the issue you have reported. Please let us know if it solves your issue.

[2021-07-23 23:12] yaron2 commented on #3463
/cc @artursouza @wcs1only

[2021-07-24 13:42] ItalyPaleAle commented on #814
@dapr-bot ping :)

[2021-07-25 08:02] linxuyalun opened #3480 "dapr js sdk examples"
Are there any good examples of dapr js-sdk?

ALTHOUGH I find examples [here](https://github.com/dapr/js-sdk/blob/master/examples/simple/app.js), it seems out-of-date, and I cannot use them directly in my application

[2021-07-26 03:27] nobodyiam commented on #3276
Any update on this?

[2021-07-26 09:40] tstojecki opened #3481 "Pubsub redis redelivers a message after 1 min"
By default, with a vanilla dapr-redis and pubsub, it appears that redis redelivers a message if a subscriber doesn't respond within 1 min. That might be by design or it might be a function of redis more than dapr.

This discussion started on discord. Not sure if this is the right dapr/ repo to post on, happy to move it if required. The suggestion there was to set processingTimout to 0 in component

[2021-07-26 10:57] AlseinX commented on #3260
It is 07/26/2021. Anything wrong with 1.3 release?

[2021-07-26 12:15] eosgortor opened #3482 "Init without CLI"
## In what area(s)?

/area runtime

## Ask your question here
Is there a way to init dapr in a Kubernetes cluster without using the CLI? The usecase would be to initialize new clusters dynamically. E.g. per tenant.

Thanks in advance

[2021-07-26 15:26] denis111 commented on #3103
@yaron2 is it also true for http services invocations? (for large file transfers or, for example, if we put dapr as a sidecar to api gateway we also must be able to handle requests and responses of any sizes).

[2021-07-26 15:29] yaron2 commented on #3103
@denis111 currently proxying works for gRPC only. We will also look at enabling it for http.

[2021-07-26 15:32] yaron2 commented on #3103
Reference: https://v1-3.docs.dapr.io/developing-applications/building-blocks/service-invocation/howto-invoke-services-grpc/

[2021-07-26 15:34] yaron2 commented on #3482
You can also install with Helm: https://docs.dapr.io/operations/hosting/kubernetes/kubernetes-deploy/#install-with-helm-advanced

[2021-07-26 15:42] yaron2 commented on #3276
@RayneHwang @nobodyiam:

Regarding about a boolean value indicating success: the API today tells the publisher if the message was delivered or errored out.
In HTTP, this will result in an HTTP `500` error with the error message being the response, and in gRPC you'll get a native gRPC error returned from the method.

So are we talking about a `metadata` key/value map to be returned from a publishin

[2021-07-26 15:46] yaron2 commented on #3480
/cc @XavierGeerinck

We are now revamping the Dapr js-sdk completely.
Please use this SDK: https://github.com/Roadwork/dapr-js-sdk

In the next week or so, this code will be ported over to the official js-sdk repository.

[2021-07-26 15:48] yaron2 commented on #3157
@marviniter would you like to submit a PR to fix this?

[2021-07-26 15:49] yaron2 commented on #1820
Re-opening due to still being relevant.

[2021-07-26 15:53] marviniter commented on #3157
Hi, I had submit a PR to fix this https://github.com/dapr/dapr/pull/3158

[2021-07-26 16:45] marcmaranon commented on #2755
Hello! This issue has not been resolved but I agree it makes sense to allow an application to subscribe multiple times to a single topic.

For example, a DeliveryCompleted event should be handled by the Notifications service that must do multiple notifications in parallel (as SMS, Push and Email). If one of these notifications fails, we do not want to retry all of them, as the user has been notifi

[2021-07-26 16:46] tstojecki commented on #3481
Thanks @yaron2
Before I close this issue, do you think adding a bit of a warning to the docs about this 'default' behavior would be warranted? Not sure if this is documented anywhere but it may not be that hard to run into and there is not that much in a way of logs as you see below. I was expecting some sort of warning about a one min timeout.

Here are the logs from a sample app and with the red

[2021-07-26 17:51] yaron2 commented on #3335
lol dapr-bot wants to close our roadmap :)

/cc @artursouza @greenie-msft

[2021-07-26 17:53] yaron2 commented on #2755
@marcmaranon we have a design in place that will allow that, please see here: https://github.com/dapr/dapr/issues/2582#issuecomment-883649283

[2021-07-26 18:22] yaron2 commented on #3260
Will be released in the next couple of days.

[2021-07-26 21:03] #3404 closed

[2021-07-26 21:22] yaron2 commented on #3481
@tstojecki we can add a note in the docs, sure. actually, if you want to submit a PR for it, that'd be awesome.

[2021-07-27 03:06] linxuyalun commented on #3480
This info is very important to me, thanks a lot. I think the official js-sdk repo README could be updated  to alert others

[2021-07-27 04:06] yaron2 commented on #2988
@skyao

[2021-07-27 04:53] eosgortor commented on #3482
And AKS API can execute Helm commands in a cluster. So this is possible. Thank you.

[2021-07-27 04:53] #3482 closed

[2021-07-27 06:24] javageek79 commented on #3468
thx for the effort and the fix. With rc.4 issues were gone.

[2021-07-27 06:37] seeflood commented on #2988
Wow,it's a simple and clever approach to make the API compatible with both legacy systems using key level configuration and systems using app-id level configuration which might be built for zero trust networks .

Just to ensure,based on this idea,the level-0 API definition will look like:

[code]

If we start from level-0,the 'complete' field will not be needed;

App-id won't appear in the request

[2021-07-27 06:42] daixiang0 commented on #2836
Now Go SDK has reached 1.0 RC2, see https://github.com/open-telemetry/opentelemetry-go/releases/tag/v1.0.0-RC2

[2021-07-27 07:43] seeflood commented on #2988
In addition, there are some details for discussion:
1. Can we define the SubscribeConfiguration API based on grpc stream? like:
[code]
Under current design,users have to implement two appcallback API if they want to subscribe configuration changes,and it's complex for Dapr runtime to maintain the subscription relationship.
It's ok for http users,since we can translate HTTP/JSON requests into gRPC

[2021-07-27 08:42] Pitlis opened #3488 "Run application at the same time on HTTP (for bindings, pubsub) ang gRPC (only for service invocation)"
Is it possible to run server both on gRPC and HTTP at the same time? I'd like to use gRPC proxy only for service invocation, but I want to use all build in dapr features (from dotnet asp.net sdk) without the need to implement a custom mechanism pubsub, bingings, etc.
From the server side it's ok to listen two ports at the same time, but I cannot pass two ports to dapr sidecar.

[2021-07-27 10:29] skyao commented on #2988
Yes, in level-0, appid is not required. But to be compatible with level-1 and level-2+, it's better to set appid in the GetConfigurationRequest. So that if later this application is moved to other configuration component which supports level1+, the code won't need to update to add appid argument.

The core logic  is "portable": when the user writes the code to use dapr configuration api, he don't

[2021-07-27 13:26] markgar commented on #3448
Can confirm.  I was able to get this to install this morning.

[2021-07-27 19:17] tanvigour opened #3492 "v1.4.0 Release Planning"
Release Coordinator: @tanvigour
Release Buddy: @pkedy

Code freeze: ~08/30/2021~   09/3/2021
Endgame starts: ~08/31/2021~  09/7/2021
Release date: ~09/09/2021~  09/14/2021

Milestones in scope for this release:
Dapr: https://github.com/dapr/dapr/milestone/10
Java-SDK: https://github.com/dapr/java-sdk/milestone/3
Python-SDK: https://github.com/dapr/python-sdk/milestone/3
CLI: https://github.com/dap

[2021-07-27 23:49] yaron2 commented on #1090
Triaged into 1.4. /cc @artursouza

[2021-07-27 23:51] yaron2 commented on #3488
Can you share the gRPC and HTTP port? I think this is doable with ASP.NET core.

[2021-07-28 00:02] yaron2 opened #3495 "Fetch secrets from Operator on Kubernetes and not from sidecar"
Today, Dapr components reference secrets that are being fetched by the sidecar at startup.
On Kubernetes, this requires the Pod running the Dapr sidecar to be assigned special RBAC policies with `GET` permissions for Secrets within that namespace.

This RBAC policy is applied on install by the Dapr Helm Chart on the `default` namespace. When running Dapr apps on non-default namespaces, users need

[2021-07-28 00:03] yaron2 commented on #3495
/cc @wcs1only

[2021-07-28 00:15] yaron2 commented on #3495
Triaged into 1.4, cc @artursouza

[2021-07-28 00:41] yaron2 commented on #3123
/keep-alive.

[2021-07-28 01:34] artursouza commented on #2988
`app_id` and `store_name` should not be in `ApplicationConfiguration`. It should be similar to state API, IMO.

[2021-07-28 05:18] daixiang0 commented on #3488
@yaron2 is it done by ASP.NET? Could use SO_REUSEPORT to support it?

[2021-07-28 05:31] yaron2 commented on #3488
Yes this should be done on the app side, by asp.net core, and thus SO_REUSEPORT won't help here.

[2021-07-28 05:41] lghinet commented on #3361
@yaron2  do you think this can turn into a proposal ?

[2021-07-28 05:44] daixiang0 commented on #3488
Got.

[2021-07-28 06:45] seeflood commented on #2988
## Regarding the design goals: make both SDK and grpc API easy to use
The current design goal of @skyao is: no matter what model (document or key model) is used in the configuration center, users can use the same set of SDK api to make their apps easy to migrate between the two at will, and they don’t need to know what the model is.

This design goal leads to a conclusion: **Don't use grpc API dir

[2021-07-28 07:20] Pitlis commented on #3488
For ASP.NET we can define two ports: one for gRPC (http2) and the second one for HTTP (http1). But how to tell DAPR sidecar use gRPC only for Service Invocation and HTTP for all other operations?

[2021-07-28 08:18] daixiang0 opened #3496 "[Proposal] Implement WASM for state/pubsub"
## In what area(s)?

/area runtime

## Describe the proposal

Now Dapr becomes bigger and bigger since more and more middleware, database and so on, even main codes store in `dapr/components-contrib` repo, the size growth is inevitable. Dapr becomes a full-function set while users may use a limited number of them, there are some discussions making components configurable when build to reduce the b

[2021-07-28 16:12] wcs1only commented on #3495
My first question reading this proposal: Does this change the expectation by the user of the way RBAC works on an existing kubernetes cluster? Could a user inadvertently change the scope of existing secret access just by installing Dapr? Say a user is not using Dapr for Kubernetes secrets and already has RBAC for their secret store set up according to their needs. By installing Dapr with the opera

[2021-07-28 17:04] yaron2 commented on #3496
This issue really addresses two things:

1. Dynamic loading of components that are not built into `daprd` at compile time
2. Allowing users to implement components in other languages than Go

Due to the unfortunate state of Go Plugins, I see the following options to address these two issues:

1. gRPC based components based on current interfaces
2. WASM modules based on current interfaces, as propo

[2021-07-28 17:04] yaron2 commented on #3496
/cc @pkedy

[2021-07-28 17:07] yaron2 commented on #3495
This change aligns much more with what users would expect Dapr's RBAC permissions to be like.
The Dapr control plane already has GET secrets permissions for its own usage, which are scoped to a particular Service Account in the `dapr-system` namespace.

This change would use the existing control plane permissions to fetch the secrets, instead of having every instance of every Dapr-enabled pod in e

[2021-07-28 17:09] ItalyPaleAle commented on #3332
👋 bot. Still a very relevant issue to me 😄

[2021-07-28 17:16] artursouza commented on #3354
What is the advantage of the database API for the application compared to use JDBC, ADO.Net and similar frameworks?

[2021-07-28 17:24] artursouza commented on #2950
It will require some change in the runtime to allow a component to refer to another component.

[2021-07-28 18:04] artursouza commented on #2716
This is common. You work on both repos at the same time and submit the PR for both. After we merge the PR for contrib, the PR for dapr/dapr is updated with the latest contrib version in master and we merge that one too.

[2021-07-28 18:05] CodeMonkeyLeet commented on #3496
If I could restate the case that @daixiang0 is making, my takeaway is the primary motivation is to enable developers to build and deploy custom Dapr components with more agility _by not being coupled to the Dapr contribution and release cycle._ Dynamic loading of Dapr components (not limited to pubsub or state) is a prerequisite for that, and WASM is the suggested mechanism for enabling dynamic lo

[2021-07-28 18:07] pkedy commented on #3496
I've used WASM in projects and implemented tooling for it. In time, WASM has a strong chance to be _the_ mechanism for solving platform extensibility. Unfortunately, due to the limitations @yaron2 pointed out as well as limited support for [Interface Types](https://github.com/WebAssembly/interface-types/blob/master/proposals/interface-types/Explainer.md) and to some degree [WASI](https://wasi.dev)

[2021-07-28 18:36] CodeMonkeyLeet commented on #3476
@pandagodyyy Could you attach your logs to the issue, particularly for the pulsar version of the consumer service B?

[2021-07-28 22:09] rovangju commented on #1090
I'd be concerned about performance implications of an 'all or nothing' state store; or, I guess having to run two state store configurations to get around that, but ... Would it be worthwhile to entertain the ability to opt-in to an 'encryption enabled' state store via a parameter passed with the SDK state calls?

[2021-07-28 22:26] #2821 closed

[2021-07-29 02:11] yaron2 commented on #1090
Encryption will be opt in, not enabled by default, and will be enabled either by configuring the state store component globally or on a per call basis using metadata.

[2021-07-29 02:37] daixiang0 commented on #3496
@yaron2 thanks for clear the limitation of WASM and the challenge of implementation.

@CodeMonkeyLeet you get it, yep, the primary motivation is to enable developers to build and deploy custom Dapr components with more agility by not being coupled to the Dapr contribution and release cycle, my suggestion is WASM.

@pkedy you remind me, now interfaces are good to implement with Golang not WASM, I t

[2021-07-29 07:44] WhoAteDaCake commented on #3464
Has anyone had similar experiences? Or tried to deploy and succeeded?

[2021-07-29 07:54] jjcollinge commented on #3496
For what it's worth, I agree that longer term WASM/WASI will likely become a strong candidate by which polyglot components can extend Dapr - but also, it'll likely provide an alternative method of using Dapr itself as a WASM module rather than as a separate process. It feels like defining the Dapr component interfaces as gRPC (or alternative @pkedy) is probably a good iterative step in this direct

[2021-07-29 13:15] seenu433 opened #3497 "Configuration provider for Dapr"
Applications needs configuration and with services like Azure App Configuration, it is centralized across apps and environments. It might be beneficial to have a configuration provider abstracting the specifics products.

[2021-07-29 14:13] rajagopalanrg opened #3498 "Dapr failed to connect with Azure Key vault secret store"
We are using dapr to read and write secrets into Azure Key Vault and we followed the instructions as given in this link
https://docs.dapr.io/reference/components-reference/supported-secret-stores/azure-keyvault-managed-identity/

We constantly see the dapr is failing to refresh the AD tokens and we see the below error
`Dapr.DaprException: Secret operation failed: the Dapr endpoint indicated a fail

[2021-07-29 15:47] Ashnam1100 commented on #2637
Hi,
I added the same Dapr annotations to my Daemonset:
        `dapr.io/enabled: "true"`
        `dapr.io/app-id: "geneva-services"`
        `dapr.io/app-protocol: "http"`
        `dapr.io/app-port: "3500"`
        `dapr.io/log-as-json: "true"`
and ran `helm upgrade`, but am having the same issue of daprd containers not being created.

There are no daprd container logs, since the container was not

[2021-07-29 17:49] yaron2 commented on #3476
Let's move this to contrib for now.

[2021-07-29 21:51] GregorBiswanger opened #3501 "oAuth2 with Azure AAD Exception: panic: runtime error: invalid memory address or nil pointer dereference"
Used Version 1.3

I have assigned the oAuth Middleware pipeline to the Api Gateway (Envoy). Except when I was authenticated and the journey was back, I got the following error message from Envoy: `upstream connect error or disconnect/reset before headers. reset reason: connection termination.`

**The Dapr container breaks and restarts.** What could be the reason?

My Api Gateway Dapr Sidecar log:

[2021-07-29 22:36] artursouza commented on #2637
@Ashnam1100 The app port should not be 3500, since it is the port used by Dapr sidecar. Please, pick another port for your app to listen to.

[2021-07-30 01:37] daixiang0 opened #3502 "[Proposal] Support Unix domain socket"
## In what area(s)?

/area runtime

## Describe the proposal

Now Dapr can work well with Service Mesh, while once use Service Mesh, one extra jump cannot be avoided.

If Dapr supports Unix domain socket to passthrough to Service Mesh, there would be a great acceleration, as result in https://stackoverflow.com/questions/14973942/tcp-loopback-connection-vs-unix-domain-socket-performance said.

Also

[2021-07-30 01:40] daixiang0 commented on #3497
Now we are discussing configuration API in https://discord.gg/6ScKGxYG.

[2021-07-30 14:45] yaron2 commented on #3502
I agree, we recently looked into this. If you can create a POC and post your findings here that would be awesome.

[2021-07-30 15:18] Ashnam1100 commented on #2637
Thanks for catching that @artursouza. I updated the app port to 80, but the same issue persists. The dapr-sidecar-injector logs look the same:

`time="2021-07-30T15:00:37.618464498Z" level=error msg="" instance=dapr-sidecar-injector-588ffddb78-mhqls scope=dapr.injector type=log ver=unknown`
`time="2021-07-30T15:00:37.618940404Z" level=info msg="ready to write response ..." instance=dapr-sidecar-in

[2021-07-30 17:40] halspang commented on #2637
I haven't been able to repro this either. Running through it I see my replicas both receive a daprd instance that is up and running. Could you post the config that you're referencing for it? Maybe that has an issue that is stopping dapr from starting?

Do you get an daprd logs from your nginx pods? Or do they not even get recognized as needing the injection? From the logs you posted it looks like

[2021-07-30 18:18] Ashnam1100 commented on #2637
@halspang thanks for your response! What are you referring to as the config? I don't have anything listed when I run `dapr configurations -k`, and below is the configuration CRD description:
![image](https://user-images.githubusercontent.com/33374380/127695227-5e2f7a36-6891-4129-b37e-465f047b6a3d.png)

And unfortunately there are no daprd logs to look at because there is no daprd container at all.

[2021-07-30 18:23] halspang commented on #2637
Gotcha, in your original post's config you had this line:

So I was wondering if the config didn't exist. However, I think if it doesn't exist, you would still get a dapr container with an error stating that it couldn't find it. I'll keep trying to think of reasons that the containers aren't starting.

[2021-07-30 18:44] Ashnam1100 commented on #2637
Got it! The first post was actually @pzou19741, maybe they have more context.

Thanks so much!

[2021-07-30 18:51] artursouza commented on #3502
This seems to be a duplicate of https://github.com/dapr/dapr/issues/2864

[2021-07-30 18:51] #3502 closed

[2021-07-30 18:56] artursouza commented on #3497
Duplicate of #2941

[2021-07-30 18:56] #3497 closed

[2021-07-30 18:58] #3468 closed

[2021-07-30 19:31] #3458 closed

[2021-07-31 00:31] wcs1only commented on #2637
So part of the problem is definitely that we're not correctly logging an error here that might have pointed us to the problem sooner. The other part of the problem is that the daemon-set-controler is not on the list of authorized controller accounts, and therefore we were denying the injection request.

[2021-07-31 10:20] withinboredom opened #3507 "[Proposal] Local Pure Actor Methods/Read-Only State Access"
## In what area(s)?

/area runtime

## Describe the proposal

Actors contain behavior and (usually) state. In order for an application to access that state, the actor must define some kind of behavior to request that state or perform some operation before returning state (often called a `getter`). When the application calls these methods, a great deal of overhead is involved, requiring a multitude

[2021-07-31 18:27] #2497 closed

[2021-08-01 02:49] #3349 closed

[2021-08-01 05:51] #3337 closed

[2021-08-01 07:02] #3294 closed

[2021-08-01 08:44] tomkerkhove commented on #3337
While that's true, I don't think this gives enough insights as you'd want to know when it gets moved to other instances and such or what if an instance dies and the code was not called?

@msfussell has this come up before from others as well or is it just me?

[2021-08-01 18:25] omidb commented on #1192
I think this idea can be explored a little bit more. There could be a lot of optimizations about around aggregated actor. @Haishi2016 any update on this?

[2021-08-01 20:06] artursouza commented on #2988
@skyao @yaron2 This is a quick presentation I made based on the v0.3 of this proposal. This is what I think we can agree as the first iteration based on skyao's proposal. We can iterate more on top of that as separate proposals. I think this is a way for us to agree on a version of the Configuration API in this issue.

https://youtu.be/Ld0HsrBeHzo

[2021-08-02 01:02] daixiang0 commented on #3228
Still available.

[2021-08-02 01:23] daixiang0 commented on #2864
As #3502, potential solution is Unix domain socket.

[2021-08-02 01:55] daixiang0 commented on #3501
Could share setup steps?

[2021-08-02 04:56] #3344 closed

[2021-08-02 06:08] akkie commented on #3220
@matthewgaim It seems that this is not working correctly. The response will not be added for status code 500. I get only the following message with an empty body: fails to send binding event to http app channel, status code: 500 body:

For status code 400, it works as expected. Should I create a new issue?

[2021-08-02 06:52] seeflood commented on #2988
@artursouza great explanation!
I'm agreed with this design and willing to contribute some components implementation.
In addition, I see that http api does subscription notification through websocket, so does grpc still do subscription notification through appcallback? Since http can introduce domain-specific protocal like websocket, can grpc also use grpc stream for notification?

[2021-08-02 07:41] daixiang0 opened #3510 "[Proposal] Implement CGO to optimize performance of cryptography"
## In what area(s)?

/area runtime
## Describe the proposal

Now Dapr uses mTLS as default between Dapr sidecars as [doc](https://docs.dapr.io/concepts/security-concept/#sidecar-to-sidecar-communication) said which cost much CPU and memory.

As [design](https://go.googlesource.com/proposal/+/master/design/cryptography-principles.md) said, `Golang` does not put the performance in the mind.

There i

[2021-08-02 16:46] CodeMonkeyLeet commented on #3378
@artursouza Were you still interested in updating Dapr use of the CODEWONERS files or can this issue be closed?

[2021-08-02 16:55] yaron2 commented on #3378
Closing as fixed

[2021-08-02 16:55] #3378 closed

[2021-08-02 17:16] artursouza commented on #3378
@CodeMonkeyLeet  Yes, we need that in contrib. Can you cut an issue in that repo for the proposal? We need to allow authors of components to review PRs before a maintainer spends time on it.

[2021-08-02 20:53] artursouza commented on #2988
@seeflood Yes, I think gRPC API should get change notification via stream for this.

[2021-08-03 10:59] akkie commented on #3220
To be more precise. The body will not be appended if an exception occurred in the application. I think it might be useful it the first lines of the exception or at least the exception message can be returned.

[2021-08-03 19:40] dmitsh opened #3512 "Potential issues with actors timers"
I'd like to raise a question about repetitive callback invocations in actors timers.
When we enable timer, we can specify a period for timer callback invocations.
Also, there is a new feature that allows us to limit the number of repetitions, as well as to set TTL for timers.

However, timers are not persisted. If Dapr sidecar is restarted, the app will lose its recurring timers (without any notif

[2021-08-03 20:13] artursouza commented on #3512
I agree that timers might not be as useful as reminders because these are not persisted. I wonder what are the scenarios where timers are used that reminders cannot. @amanbha @yaron2 ?

[2021-08-03 21:39] ewassef opened #3513 "Enable gRPC based components"
## In what area(s)?

/area runtime

## Describe the proposal

All of the components of the Sidecar must be pulled into the source code and built into a single binary. As more and more components are added, this will bloat the size of the repository and the artifact tremendously and will limit the ability of third parties or consumers to extend the component list.
The proposal is to extract the com

[2021-08-03 21:39] ewassef commented on #3168
I've submitted a proposal to solve this here https://github.com/dapr/dapr/issues/3513

[2021-08-03 21:49] ewassef commented on #3513
/area runtime

[2021-08-03 22:14] #112 closed

[2021-08-03 22:30] Ashnam1100 opened #3514 "Secret Caching"
## In what area(s)?

 /area runtime

## Describe the feature

Allow the Dapr sidecar to cache the secret it retrieves from any secret store.

Use case: When using other secret retrieval tools, we've run into throttling issues because pods called into the Azure Key Vault too many times. With secret caching, the Dapr sidecar will need to retrieve the secret from AKV fewer times, still provide the po

[2021-08-03 23:04] artursouza commented on #3220
@akkie Can you provide an example on how to reproduce this?

[2021-08-04 01:24] daixiang0 commented on #3513
#3502 may fix the second issue.

[2021-08-04 01:50] #639 closed

[2021-08-04 02:26] yaron2 commented on #3513
Thanks for opening this issue @ewassef, I edited the topic to more closely resemble what is being offered here. As a Dapr maintainer, I'm supportive of offering gRPC based component functionality. @artursouza please take a look here as well.

In order to mitigate the potential issues you raised as much as possible and to also address any security concerns that may arise with cross machine or cross

[2021-08-04 02:48] artursouza commented on #3510
/cc @yaron2 @wcs1only

[2021-08-04 03:41] darren-wang opened #3516 "Aggregating all the configuraion values of dapr's chart into 1 values.yaml"
Hi, we are installing dapr in an off-line environment, so we downloaded dapr's chart and installed it with zipped file.

When I was installing dapr's chart I had to customize some values like `image.registry` and so on. I found the configurable values are scattered into several `values.yaml` and I have to extract the original chart file and change them separately to adapt to our environment.

Sinc

[2021-08-04 07:14] marviniter commented on #3157
This issue has been resolved, close it.

[2021-08-04 07:14] #3157 closed

[2021-08-04 08:44] #3355 closed

[2021-08-04 09:15] #3338 closed

[2021-08-04 09:44] AnThoi commented on #3408
How to change "content-length" in Dapr

[2021-08-04 13:41] yaron2 commented on #3361
I'm supportive of applying existing middleware components for Dapr to App scenarios. The Dapr OPA component for example would be a good fit for the requirements described here. /cc @beiwei30

[2021-08-04 14:14] yaron2 commented on #3513
Then the question is: if the intention is to limit the connectivity anyway, why open it up to non-localhost access at all?
This leaves the door open to security holes that might be exploited by users targeting systems of non-security oriented Dapr users.

SPIFFE is used in Dapr today for an app identity, but I don't see how that in itself would help here, unless you're thinking about using certs f

[2021-08-04 14:35] lghinet commented on #3361
now, the current OPA component has the type: middleware.http.opa, so http .. we either remove that "http" keyword .. or have another component with the same structure but with the type : middleware.pubsub.opa, olso the configuration might differ so in some scenarios that could be a good thing

[2021-08-04 15:04] lghinet commented on #3513
being in the same pod makes things much easier, also giving the separation that you need,