[2021-08-04 15:12] lghinet commented on #3513
the idea of having each component into a separate process, or as others would put it, break the daprd monolith,
should start from need of scaling, not from the concern of the daprd binary being too big,
or you do not want to independently scale each component/process into x replicas,
what we want is a way to add custom code to daprd, without rebuilding, and I think a simpler way is to find somehow

[2021-08-04 17:33] artursouza commented on #3510
I am OK to prioritize this work after a performance test is written showing the before and after of CPU and memory utilization. Our existing perf tests has framework to allow that.

[2021-08-04 20:49] artursouza commented on #3361
"Pipeline for pubsub" does not belong on HTTP Middleware, it should be implemented as a first class feature in Dapr, similar to how we are implementing filtering: https://github.com/dapr/dapr/pull/3406

Implementing this in HTTP Middleware will create an inconsistent experience in Dapr instead of a concise unified experience. I am OK to consider design proposals for "pipeline for pubsub" as part o

[2021-08-04 20:52] #3245 closed

[2021-08-04 22:02] #2637 closed

[2021-08-04 23:07] yaron2 commented on #3361
I think at this point in the discussion, we can narrow down the requirement being able to observe and apply transformations on incoming pub/sub events.

Filtering is more about "drop this event if this condition is true" and/or "route this event to this handler if this condition is true", whereas what's described here is about "apply this message or header transformation if this condition is true"

[2021-08-04 23:15] yaron2 commented on #2988
@skyao we can start with the implementation based on the feedback above.

[2021-08-05 01:01] georgestevens99 commented on #3361
From my point of view of having seen several distributed system frameworks in use, the way of going with a middleware pipeline to perform pre and post processing actions on requests and responses, produces the most parsimonious results, by far.

In other words today we need a special pipeline for pubsubs.  Then pretty soon we'll need a special pipeline for queue bindings and triggers.  Later we wi

[2021-08-05 02:15] yaron2 commented on #3510
I would really prefer to avoid CGO wherever possible.

I'll put an article here from one of the founders of Go for all to read: https://dave.cheney.net/2016/01/18/cgo-is-not-go

I'm not certain the theoretical improvement in performance is worth the cons listed above.

[2021-08-05 02:42] daixiang0 commented on #3510
As we have build flow by Github Action and Dapr is not an application which need build frequently, it is not a problem.

Since OpenSSL is corss-platform, no need to worry about this.

We only call OpenSSL via CGO, do not implement any extra functions by C, and OpenSSL is much strong efficient as it is used wired, we can trust it as a library.

For sidecar mode, there is no perception of users, for

[2021-08-05 02:50] StormSpirit22 opened #3517 "Will dapr support other data storage platforms, such as hive, clickhouse, es, etc.?"
Will dapr support other data storage platforms, such as hive, clickhouse, es, etc.? If not, is there any other way to access dapr? Or some of my complex data processing sql, how to implement it through dapr？

[2021-08-05 03:09] dmitsh opened #3518 "Improve the way to persist reminders"
## In what area(s)?

/area runtime

## Describe the proposal

Today we store reminders as structures of strings, including time.Time and time.Duration. That means, every time we need to [de]serialize reminder, we parse times/durations and check the errors, including during evaluation loop.
IMO, this is not very efficient. I would suggest storing time/duration in more straight-forward format: as is

[2021-08-05 04:44] lghinet commented on #3361
in order for us to understand each other, we have to adhere to some common patterns and terminology,
for me "middleware event handlers", sounds very strange .. so let's clarify

1. a middleware is  a piece of code that can wrap / decorate the next() middleware,  putting them together to form a pipeline

![image](https://user-images.githubusercontent.com/12889810/128291708-9f836908-40ae-4e92-8bc4-f

[2021-08-05 05:22] lghinet commented on #3361
thank you for your input @artursouza ,
the pubsub middleware, is not related to http middleware, because they do not share the same signature, one is using
[code]
and the new one
[code]
but they are very similar,

another change is in the Configuration CRD, where you configure the pipeline, so not in the Subscription CRD, as you suggested.
so after httpPipeline I added publishPipeline and subscrip

[2021-08-05 05:49] lghinet commented on #3361
I think there are some confusions, related to this subscription pipeline and the channel that daprd and the App are communicating,
again they are not related, the pipeline is run before and after.. sending the message to the app, on whatever channel you want.
Given the signature of the subscription middleware
[code]
you cannot access anything related to the communication channel, but you can chang

[2021-08-05 06:14] lghinet commented on #3361
about filtering .. https://github.com/dapr/dapr/issues/2582, how would I approach it, I know is tardive, but nevertheless
using the subscription pipeline, we have this handler signature
[code]
we can inject in the context, information regaring well, the current pubsub context, which can be
[code]
in some form, then having a routingMiddleware that will inspect the context and do the appropriate rou

[2021-08-05 06:22] #3480 closed

[2021-08-05 07:12] daixiang0 commented on #2864
/assign

[2021-08-05 13:22] ewassef commented on #3513
There isnt one really if we can modify the injection to add N sidecars. Ideally this would be easy enough to add custom sidecars too. The initial thought was to reduce the need for redundant containers (maybe via a daemonset or a common instance within the dapr namespace) but that would potentially cause bottlenecks as well and would need HPA. However, my initial thought was to replicate the Daprd

[2021-08-05 13:38] jjcollinge commented on #3513
Related: #3496 , #1311, #739, #3168, https://github.com/dapr/components-contrib/issues/297,

[2021-08-05 14:04] georgestevens99 commented on #3361
Regarding my use of the term "event handler".  You are correct, it is very different from a piece of middleware code that implements the "//logic" you have in your helpful diagram.  I will rephrase my proposal:

Rather than requiring all middleware "//logic" code to be implemented in Go within a given middleware component, also provide the capability for the middleware "//logic" code to be impleme

[2021-08-05 14:19] lghinet commented on #3361
totally ok in having middlewares outside daprd, not all of them, but some .. maybe even some lambda calls,
still the need for this pipeline exists, is just the nature of the middleware that is different, if it's in process or out of it, if it's sync or async

[2021-08-05 14:36] GregorBiswanger commented on #3501
I noticed it while reproducing. If I ONLY add the oAuth to one service.. the API Gateway it works. But not if several Dapr sidecars are assigned one. Unfortunately I can't fix anonymous routes and I don't get any authorization information.. but it is probably due to the API Gateway Envoy.. that must overwrite the header.. Envoy is really brutally complicated for me..

I would also like to be inter

[2021-08-05 14:49] yaron2 commented on #3510
Building and compilation is not only for GitHub pipelines: it's a repeated step that every Dapr contributor goes through.

Making optional CGO builds may add complexity to our build steps and code.

As said here before, let's first make sure this is actually an issue. To date, we haven't seen any high CPU usage issues from users. If you can run a test to validate the scenarios in which using openS

[2021-08-05 17:46] yaron2 opened #3520 "Allow input bindings to specify routes"
Today, Dapr uses the binding name as the route endpoint to invoke an HTTP app for an input binding event.
It would be beneficial to keep this as the default behavior but also allow users to specify the route to which they want to send the event to.

### Suggested schema

[code]

[2021-08-05 17:47] yaron2 commented on #3520
@artursouza wdyt about putting this in 1.4?

[2021-08-05 17:47] clonedonaldmarshall opened #3521 "Service Invocation"
## In what area(s)?

## Ask your question here

Attempting these instructions: https://docs.dapr.io/developing-applications/building-blocks/service-invocation/howto-invoke-discover-services/

this command works: dapr invoke --app-id cart --method add

this command does not: curl http://localhost:3500/v1.0/invoke/cart/method/add -X POST

[2021-08-05 19:05] yaron2 commented on #3517
If these data platforms support a key/value API, then its a matter of community members adding support for these as Dapr components.

Otherwise, these can be bindings that allow for a more general purpose access to such data stores.

[2021-08-06 02:05] daixiang0 commented on #3516
It would be more easy to maintain config.

/cc @artursouza @yaron2

[2021-08-06 13:44] drriguz opened #3523 "How to configure dapr gRpc max_receive_message_length?"
I'm using dapr binding to fetch azure blob,

[code]

However, if the blob is larger than 4mb, it will result in error:

[code]

Even if the `--dapr-http-max-request-size` is set, it seems that the gRPC option `max_receive_message_length` need to be set to a higher value. So how can we customize it？

[2021-08-06 16:30] sk593 opened #3524 "Add "stop" event listen to daprd Windows"
## In what area(s)?

/area runtime

## Describe the feature
daprd currently doesn't listen for a stop event on Windows, as it does for dapr instances run through the CLI. The changes in the [dapr list](https://github.com/dapr/cli/pull/763) implementation now display independently run daprd instances to users, so they should be allowed to stop independent daprd sidecars on windows using `dapr stop`

[2021-08-06 19:51] yaron2 commented on #2864
Please make sure to put the design here

[2021-08-06 20:55] #3423 closed

[2021-08-07 05:31] #3269 closed

[2021-08-07 06:26] darren-wang commented on #3516
https://github.com/dapr/dapr/blob/master/charts/dapr/README.md

I founf docs about this topic, does it mean that dapr already supports this feature?

[2021-08-07 11:43] tomkerkhove commented on #1849
What is the status of the incubation proposal @msfussell ?

[2021-08-07 17:04] XavierGeerinck opened #3525 "Dynamic Component Registration"
## In what area(s)?

/area runtime

## Describe the feature

Sometimes I want to enable a binding / pubsub / secret / state store / ... at runtime, but there seems to be an API lacking for this.

Some of the use cases I can think of:
* **Workflow engine:** requiring a component to be registered through JSON routes, without requiring a restart of the application
* **Hot Reload of Secret Swapping:**

[2021-08-07 21:52] #3255 closed

[2021-08-07 23:51] #3033 closed

[2021-08-08 18:21] stepro71 opened #3526 "workflow / azure storage"
Dapr Workflow: will this be developed further and finished, e.g. the requirement to have azure storage (not local) removed?

[2021-08-08 18:33] huangxunyi opened #3527 "Is dapr support kubernetes v1.12 ?"
## In what area(s)?

## Ask your question here

Is dapr support kubernetes v1.12 ?

I run dapr v.1.1  on k8s clust v1.12   and  enable HA ,  with 3 replicas

but when I watch logs of dapr-operator ,  Doesn't seem to work .

![image](https://user-images.githubusercontent.com/14898292/128642078-7a7dbe3a-7f34-4b5f-83fd-8872195ecfbe.png)

[2021-08-08 21:24] #1048 closed

[2021-08-09 01:09] yaron2 commented on #2918
Reopened

[2021-08-09 01:11] yaron2 commented on #1849
Currently under CNCF due diligence

[2021-08-09 01:18] robvet opened #3528 "Deploying the Dapr control plane to your cluster... can't connect to a Kubernetes cluster: multiple kubeconfigs in KUBECONFIG environment variable"
Hello Dapr Community...

Trying to initialize a Kubernetes cluster for Dapr on Windows 10:

     dapr init -k

I get the follow error message:

   Deploying the Dapr control plane to your cluster...
   can't connect to a Kubernetes cluster: multiple
   kubeconfigs in KUBECONFIG environment v
   ariable -
C:\Users<me>.kube\config

Behavior is consistent across Git Bash, Ubuntu with WSL2, and PowerS

[2021-08-09 01:22] daixiang0 commented on #2864
POC design(only consider standalone mode):

For `daprd`:
Add `--dapr-grpc-socket ` option, create socket file named as `appid-http.socket` and `appid-grpc.socket` and delete them when exit. Cli call this option and use this option to connect.

[2021-08-09 01:27] daixiang0 commented on #3526
Please share your use cases here :)

[2021-08-09 01:28] daixiang0 commented on #3524
It would be great! Could you post a PR for it?

[2021-08-09 03:25] drriguz commented on #3523
I solved this by adding the `GrpcChannelOptions` in `Startup.cs`:

[code]
I guess the `max_receive_message_length` option only changes the `MaxSendMessageSize` but not the `MaxReceiveMessageSize`, but currently I don't have much time to dig into it.

It would be nice if Dapr team can add more into the document :p

[2021-08-09 03:50] robvet commented on #3528
My KUBECONFIG environment variables points to ==> C:\Users\robvet\.kube\config
I have a single config file in that directory.

[2021-08-09 06:17] akkie commented on #3220
@artursouza After investigating the issue, I found out that this was an issue on our side. The implementation works as expected.

[2021-08-09 06:56] LaurenceLiZhixin commented on #2988
Skyao's work is handed over to me. I will continue to do this proposal. @yaron2

[2021-08-09 08:05] jjcollinge commented on #3525
I started an initial proposal for a `components` API last year but never progressed it further as I didn't see much feedback. It is just a PoC though and not fully features by any means but might be useful for reference.

[2021-08-09 16:02] yaron2 commented on #3521
Thanks for opening this, there seems to be a documentation issue there.

The `dapr invoke` helper command automatically discovers the Dapr port that the app is listening on, and `dapr run` automatically picks one if not specified.

If you want to invoke Dapr on `3500`, add the following flag to your Dapr run command:

`--dapr-http-port 3500`.

[2021-08-09 16:05] yaron2 commented on #3528
You seem to have multiple contexts though, so the `kubectl` command that Dapr tries to run can't choose the correct one.

Use `kubectl set-context` to set the context. See more info here: https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/

[2021-08-09 16:05] yaron2 commented on #3527
Dapr supports k8s 1.18+. I'm closing this for now, we'll re-open if needed.

[2021-08-09 16:05] #3527 closed

[2021-08-09 16:07] yaron2 commented on #3523
You're right, since the Dapr SDKs (mostly) use gRPC clients, the body size setting needs to be set on both Dapr and the gRPC client used by the SDK.

/cc @rynowak

[2021-08-09 16:07] yaron2 commented on #3523
I'm closing this for now, will make sure this is added to either SDK docs or elsewhere.

[2021-08-09 16:18] xavidram opened #3530 "Service to Service Invocation and JWT tokens"
## In what area(s)?
/area runtime

## Ask your question here

When invoking a request to a Dapr sidecar using the Dapr Client.  Should the Dapr_API_TOKEN be attatched automatically on all invoke requests? Or should I create a middleware to do so on each invoke request?

Following the docs:
https://docs.dapr.io/operations/security/app-api-token/

I created two API .NET projects each with their own

[2021-08-09 18:47] #1703 closed

[2021-08-09 20:19] robvet commented on #3528
Unfortunately, that's not helping. Through hacking at it, discovered that if I open a command shell in admin mode (either PowerShell or GitBash), the ‘dapr status -k’ command works correctly. But, if open the same command shell without admin mode (either PowerShell or GitBash), the ‘dapr status -k’ command errors with the ‘multiple contexts’ error.

Have not seen the 'Multiple Contexts' error on a

[2021-08-09 21:07] khous opened #3531 "daprd startup logs are not useful for debugging"
## In what area(s)?

/area runtime

## What version of Dapr?

1.1.x

## Expected Behavior

daprd should emit a log which indicates what it is waiting for.

## Actual Behavior

It is not easy and it may not be possible to tell why dapr is failing its readiness checks

## Steps to Reproduce the Problem

Unknown

## Example
These are the last lines I can see in the log before the pod fails its readin

[2021-08-09 23:23] yaron2 commented on #3530
@xavidram did you find a solution for this?

[2021-08-09 23:25] yaron2 commented on #2988
Hi @LaurenceLiZhixin, great to have you. I'd also like to thank @skyao for all the great work he's done for the Dapr project. Kudos, Sky.

[2021-08-10 01:19] artursouza commented on #3376
Can you show an example of loss of message? Dapr guarantees at least once delivery. Also @pkedy is working on circuit breaking feature in Dapr, which overlaps with this issue.

[2021-08-10 01:56] xavidram commented on #3530
No, not at all. Been doing some more tests. Even when i set up Access control policies, the dapr client doesn't get past the authorization attribute on the controllers.

[2021-08-10 02:57] #3517 closed

[2021-08-10 04:28] #3259 closed

[2021-08-10 06:12] doddgu commented on #777
This feature is very nice. I have a question, have you considered dynamically adjusting the configuration?

[2021-08-10 08:11] seeflood commented on #2988
Kudos, Sky!

[2021-08-10 08:39] #3262 closed

[2021-08-10 09:08] masoud-shayan opened #3532 "how Dapr helps to implement Saga pattern ?"
I am trying to implement Saga in my microservice project by myself but it is really hard and makes me stay away from the designing core business logic .

Can Dapr help with implementation of Saga then I no longer have to worry about consistency between databases?

may you introduce some more tools to implement Saga in .Net ?

Thanks.

[2021-08-10 11:05] voloda opened #3533 "Enabling Actor Partitioning caused hang in registering reminder with Postgres"
## In what area(s)?

/area runtime

## What version of Dapr?

1.3.0

## Expected Behavior

Registration quickly returns with success

## Actual Behavior

Enabling the experimental feature causes the API to hang

## Steps to Reproduce the Problem

* Enable the experimental feature for Actor reminder partitioning in config:
[code]
* Setup the actor state storage to PGSQL 13 (not sure if version matt

[2021-08-10 13:39] markheath commented on #3256
It would be really nice for there to be a simple alternative for self-hosted systems where this is an issue. There is something with our corporate network that is blocking service to service invocation. Every time I think I've worked out how to work around it, it comes back. I can imagine this could be a very frustrating issue for people trying out Dapr for the first time.

[2021-08-10 14:17] denis111 opened #3534 "Add tolerations support to Helm Chart values."
## Describe the feature
Please, add tolerations support to values of Helm Chart. There's only nodeSelector available but we have production nodes kind of isolated from other nodes with taints and would like to move Dapr to those nodes but it won't work with only nodeSelector. Most of other helm charts around have tolerations support through values.

## Release Note

RELEASE NOTE:
**ADD** Support f

[2021-08-10 14:48] xavidram commented on #3530
This would solve the issue and make it easier to implement: https://github.com/dapr/dotnet-sdk/pull/688

But the pull request is getting a little stale. For now I'll just follow the pull request example and implement my own authorization/authentication middleware for the Dapr API token as it doesn't seem to be implemented yet in the SDK.

my initial question was assuming this mechanism was already

[2021-08-10 16:41] #3420 closed

[2021-08-10 18:39] #3253 closed

[2021-08-10 19:09] stepro71 commented on #3526
The use case would be a customer in finance etc. and a workflow for accounts payable. Those customers do not want their solutions to “phone home” to Microsoft. So the requirement for azure storage is a problem.

[2021-08-11 02:22] artursouza opened #3537 "Standardize Go lint in all Go repositories"
Dapr has 5 different Go repositories: `dapr/dapr`, `dapr/components-contrib`, `dapr/cli`, `dapr/kit` and `dapr/go-sdk`. All these repositories should have the same lint configuration.

[2021-08-11 09:52] wajika opened #3538 "How to set up global.dnsSuffix?"
helm install dapr dapr/dapr \
  --version=1.3.0 \
  --namespace dapr-system \
  --create-namespace \
  --wait \
  --set global.dnsSuffix=hzss.cn \
  --set-string global.dnsSuffix='.hzss.cn'

I have used --set and --set-string to no avail.

[2021-08-11 10:40] wajika opened #3539 "NOAUTH Authentication required"
[code]

I have created two files redis-pubsub.yaml and redis-state.yaml which have specified the password.

[code]

[code]

[2021-08-11 13:11] sejnub commented on #3332
Same here! We have many use cases where a lot of instances (inside the same application) all have to receive the same messages.

[2021-08-11 15:06] tanvigour commented on #3539
I see a fix to this made long time ago https://github.com/dapr/dapr/pull/1886
Are you using latest version?

[2021-08-11 15:09] dmitsh opened #3540 "Missing validation in actor timers"
## In what area(s)?

/area runtime

## What version of Dapr?

edge

## Expected Behavior

If timer is expired before starting, an error should be returned.

## Actual Behavior

If timer is expired before starting, a warning is logged

[2021-08-11 15:10] dmitsh commented on #3540
/assign

[2021-08-11 15:14] tanvigour commented on #3538
Did that work? Default seems to be .cluster.local  https://github.com/dapr/dapr/blob/master/charts/dapr/README.md

[2021-08-11 15:32] artursouza commented on #3332
This feature is enabled via the '{uuid}' keyword in the consumer ID atribute in MQTT. This must be solved per component. Which component are you referring to? Like I said, we have one that works well in MQTT.

[2021-08-11 15:34] artursouza commented on #3332
Documentation for MQTT: https://docs.dapr.io/reference/components-reference/supported-pubsub/setup-mqtt/#consuming-a-shared-topic

[2021-08-11 16:02] yaron2 commented on #3528
Moving to the correct repository.

[2021-08-11 17:53] CodeMonkeyLeet commented on #3449
@andreatosato State does support [TTL semantics](https://docs.dapr.io/developing-applications/building-blocks/state-management/state-store-ttl/) for some components; it might be useful to refine the proposal in terms of how that support should be expanded (coverage of components, support for slide expiration).

[2021-08-11 17:55] #2484 closed

[2021-08-11 18:12] CodeMonkeyLeet commented on #3257
In a related, separate feature request https://github.com/dapr/dapr/issues/3534, there is an ask to support `global.tolerations` or similar mechanism for more refined node targeting in addition to the existing `global.nodeSelector`.

[2021-08-11 18:20] CodeMonkeyLeet commented on #3526
@stepro71 Are you referring to the [Dapr Workflows example in the docs](https://docs.dapr.io/developing-applications/integrations/workflows/)? It should work with any supported Dapr state store and so is not specific to Azure Storage.

[2021-08-11 18:34] CodeMonkeyLeet commented on #3531
@wcs1only Were you looking at a related question of improving daprd logging for startup failures?

[2021-08-11 18:50] voloda commented on #3533
With REDIS this seems to work just fine (have REDIS deployed to same GKE using the default setup in Bitnami HELM chart) - e.g. 3 replicas

[2021-08-11 19:21] stepro71 commented on #3526
@CodeMonkeyLeet: I have looked at this sample, but here you need an azure blob storage with an secret. I do not know, how to configure this locally.

[2021-08-11 19:39] Alvazz opened #3542 "Dapr in microservices and monolithic architecture designs"
I am a newbie in microservices. I have been doing monolithic service development before, but I know that microservices have advantages over monolithic services, so I also let myself continue to learn. I came across the Dapr project by chance, and it feels pretty good, because he is relatively friendly to developers and hides many details of microservices, but when I was understanding Dapr, I had s

[2021-08-11 19:43] Alvazz commented on #3542
Sorry, the second picture is wrong, I modified it.

![dd2](https://user-images.githubusercontent.com/50744096/129092874-c564e74c-670c-4555-acaa-eedf42e8ef71.jpg)

[2021-08-11 20:45] yaron2 commented on #2218
@CodeMonkeyLeet can we get a design here to be approved?

[2021-08-11 20:46] yaron2 commented on #2218
/cc @artursouza

[2021-08-11 20:57] #3540 closed

[2021-08-11 21:31] CodeMonkeyLeet commented on #3532
You should think of the Saga pattern as an design tool for maintaining state consistency between microservices that each have their own data stores; defining state consistency requires domain knowledge about both the business logic and the factoring of microservices in your app, so most frameworks like Dapr do not deal with explicitly managing the _logical_ consistency of your data.

Where Dapr ca

[2021-08-11 23:39] acartcat commented on #630
Given that SF provides relatively :-) straight forward path to process orchestration I would expect there would be many scenarios where even partial Dapr support would be beneficial for application development.  Certainly in our case which is largely guest executables.  At a minimum a section in the documentation for the SF community, what works at the start, what can work with a bit of effort.  M

[2021-08-12 00:24] wajika commented on #3539
I am using version 1.3.0

[2021-08-12 00:54] sandeep-ma commented on #630
Good idea... but do sf and mesh still exist?

[2021-08-12 01:11] wajika commented on #3538
I don’t know if this configuration can be used, so I hope to get some ideas.

[2021-08-12 02:33] ewassef commented on #3513
Sorry, probably a novice question, but whats next here?

[2021-08-12 02:49] yaron2 commented on #3513
@jjcollinge posted a really good summary here
 I think it's safe to agree that starting with gRPC based local components is the best way to go. ccing fellow maintainer @artursouza here.

Next steps are for someone to pick this work up, then create a design proposal here with the suggested proto interfaces and a general explanation of how the implementation is going to look like.

Once this is in p

[2021-08-12 03:43] #3538 closed

[2021-08-12 03:46] wajika commented on #3538
I made a mistake, I confuse 'dapr_sidecar_injector.kubeClusterDomain' and 'global.dnsSuffix'.

[2021-08-12 05:54] wajika commented on #3539
I read the document again and solved the problem of "error getting secret: secrets \"redis\" is forbidden".
But the "NOAUTH Authentication required." problem still exists.

[code]

[2021-08-12 06:14] wajika commented on #3539
I think I solved the problem because "auth.secretStore: kubernetes" did not specify.
I remember the document said "When running in Kubernetes, if the auth.secretStore is empty, the Kubernetes secret store is assumed", but it didn’t work.

[2021-08-12 06:14] #3539 closed

[2021-08-12 06:17] wajika commented on #3539
![image](https://user-images.githubusercontent.com/17058349/129147159-1550b3db-35b4-4d37-bf6a-151b6e3742d2.png)
In addition, there is no "auth.secretStore:" in the example, I did not notice that it is necessary.

[2021-08-12 11:07] cvictory commented on #3354
@artursouza

[2021-08-12 11:52] theonefx commented on #3520
May i take this job? I'm a colleague of @beiwei30 ^_^

[2021-08-12 12:23] trondhindenes opened #3545 "Service-to-Service invocation for "External" services"
## In what area(s)?

/area runtime

## Describe the proposal
Dapr support service-to-service invocation between "dapr-ized" services. It would be interesting to expand this to services outside dapr. My concrete use-case is invoking requests against an AWS Api gateway, or other api gateways that require some kind of specialized authentication logic. For AWS Api Gateway, the request data is signed a

[2021-08-12 12:52] LaurenceLiZhixin commented on #2988
According to the above discussion, I update the new proposal of configuration api to v0.4. The core design that key model as level-0 and file model as level-1 is unchanged. And there are some changes to preview proposal v0.3.

## Overview

- GetConfigurationRequest: remove app_id, use `metadata` to get app_id for level-1 and more high level request; rename from `name` to `keys` to get a batch of c

[2021-08-12 14:30] #3530 closed

[2021-08-12 16:00] khous commented on #3531
When the kafka pubsub component can't start a session with kafka because the server is in error, it fails silently and causes the sidecar to fail readiness with no logging.

[2021-08-12 16:45] yaron2 opened #3546 "Enable route based proxying for HTTP in addition to gRPC"
In 1.3, we improved developer experience for gRPC by allowing users to use their existing proto services and telling Dapr which service to discover using standard metadata headers.

Today, lift and shift scenarios or integrating Dapr into existing code requires users to change their URL paths to the following:

[code]

In the example above, `targetmethod` is the full URL endpoint of the target ser

[2021-08-12 16:47] paulyuk commented on #3546
I'd +1 @yaron2 to make the friction and lift much smaller for existing HTTP developers to immediately get value out of Dapr.  today you have to rewrite your HTTP code to tokenize and call our special dapr URIs

[2021-08-12 20:50] ewassef commented on #3469
I have a similar use case but rather our Admn API is on one port and our main API is on another

[2021-08-12 21:57] yaron2 commented on #3469
If it's the same process, you can run multiple ports and have Dapr connect to either the Admin or Main APIs, or maybe even dedicate a port for Dapr entirely.

[2021-08-12 23:47] halspang commented on #501
Bringing up a design here that I've discussed with a few people but would like to open up to a broader audience.

The goal of this proposal is to determine a simple-case path forward that let's Dapr provide value while also keeping the door open for future enhancements.

## Design
### High Level Choices
There are several key elements that should be called out before the actual design:
1. This feat

[2021-08-13 03:06] daixiang0 opened #3548 "[Proposal] Mark flaky tests"
Now we have little flaky tests in `dapr/dapr`, `dapr/cli` or others, mark them as flaky to:
- let reviewers know it may be not code issues
- reduce new contributors' debug time due to test failures
- easy to track

We all want none of the flaky tests to exist, but for now, mark makes sense,

[2021-08-13 03:06] daixiang0 commented on #3542
@yaron2 @artursouza /triage kind/question

[2021-08-13 09:44] theperm commented on #501
Good work,
is the example what the alternate CRD option would have been? That is not clear.

'Actors will provide a type/id to subscription configuration during their startup process.'
Do you have an idea of how or where this would take place. Can you clarify if it would be encapsulated in the Actor Class/Type (in C# anyway) and read one time when an Actor class is registered? Assuming this is bef

[2021-08-13 10:50] seeflood opened #3549 "[Proposal] Distributed Lock API design"
Note: this proposal has been updated (as v0.2) after the review and discusion on the first version(as v0.1).

Here is the first version (as v0.1) of this proposal. There are some modifications in [v0.2](https://github.com/dapr/dapr/issues/3549#issuecomment-984755423)

# In what area(s)?

 /area runtime
# 0. tl;dr
This proposal try to add TryLock and Unlock API.

The Lock Renewal API might be contr

[2021-08-13 15:42] yaron2 commented on #501
That's a very good proposal @halspang.

I want to make sure that we allow actors to be invoked via pub/sub in two ways:

1. By explicitly publishing messages to `POST http://localhost:<daprPort>/v1.0/actors/<actorType>/<actorId>/publish/<pubsubname>/<topic>/<method>
`.
2. By receiving events from any general purpose pub/sub component

Can you confirm this design supports actors being invoked with

[2021-08-13 15:53] yaron2 commented on #3549
Thanks for this detailed proposal, distributed locks for leader elections and similar scenarios is a feature that I've personally wanted to see in Dapr for a long time now.

I agree with your assessment to start with the basics and punt reentrant locks and leases to phase 2.

What I'm missing from this proposal is a little more detail on how the implementation will work - namely, what is the `lock

[2021-08-13 17:52] yaron2 commented on #3216
@berndverst would you be able to debug this sometime next week?

[2021-08-14 00:48] artursouza commented on #2988
@LaurenceLiZhixin Thanks for submitting an updated proposal. Moving "app-id" to the metadata and expecting components to handle that is the same thing as adding it to the API itself. If there is a need in your company to organize configuration per application, this can be an implementation of the component, where the app it can be in the metadata of the component and not in the API.

Also, the pro

[2021-08-14 00:53] CodeMonkeyLeet commented on #2218
# Dapr Pub/Sub Batching API Proposal

## Requirements

Summarizing some requirements presented from earlier in this issue:

- Add an optional parameter `maxBatchSize` defines the maximum number of messages to be delivered in a single receive loop.
- Distributed tracing should track each message inside the batch in such a way that users can still find them in the target telemetry backend.
- Pubsub

[2021-08-14 03:04] ziuyung commented on #3169
Organization/Company: Ricent
Website: http://www.ricent.com/
Country: Shenzhen / China
Contact: z@ricent.com
Usage scenario: Abp vNext SaaS application based on Dapr.
Status: In Development

[2021-08-14 09:21] RayneHwang commented on #3276
Boolean status code is just an example. The real problem is a metadata map. Imagine some message queue returns a message id from server-side.

[2021-08-14 11:42] LaurenceLiZhixin commented on #2988
Ok, maybe there are some problems with my understanding, and I'm honored to join in your sycn meeting. @artursouza

[2021-08-14 15:13] luckyxiaoqiang opened #3551 "Data races in placement"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

No data race.

## Actual Behavior

There are several data races in placement.

#### One case
`hasLeadership` read at:

[code]

`hasLeadership` write at:

[code]

Same problem with `faultyHostDetectDuration`, `disseminateNextTime`, `streamConnPool` and so on.

## Steps to Reproduce the Problem

[code]

## Release Note

RELEASE NOT

[2021-08-14 15:13] luckyxiaoqiang commented on #3551
/assign

[2021-08-14 20:32] calebcartwright commented on #3435
keep it fresh stale bot :laughing:

[2021-08-15 09:02] #3377 closed

[2021-08-16 17:36] berndverst commented on #3216
@yaron2 negative. I'm on vacation returning after labor day.

[2021-08-16 21:14] CodeMonkeyLeet opened #3555 "Test expectations around component lifecycle management by Dapr runtime"
## In what area(s)?

/area runtime

## Describe the proposal

In investigating [adding `Close()` to bindings](https://github.com/dapr/components-contrib/issues?q=is%3Aissue+close+author%3Apkedy+label%3A%22good+first+issue%22+), it turns out that many bindings tie the cleanup of component resources for `Read()` to the process lifetime of the component instead of with a cancellation context for Read

[2021-08-16 23:39] yaron2 opened #3556 "Update to Go 1.17"
Update `daprd` to compile with Go 1.17.

Release notes: https://golang.org/doc/go1.17.

[2021-08-16 23:55] artursouza commented on #3556
Can we move this to 1.5 and change all Go builds to the new Go version?

[2021-08-17 00:04] artursouza commented on #3549
Thanks for the proposal. I do think that the option A to keep the lock is simpler to use and understand.

Do you think we can have the lock API as part of the first iteration?

[2021-08-17 00:11] artursouza commented on #3548
The flaky tests we had were more generalized - fixed in https://github.com/dapr/dapr/pull/3554.

On the other hand, we have some instances where E2E test is flaky. To determine that, we need to observe a history. @wcs1only has been looking into those. Not sure we we have a way to tag those.

[2021-08-17 00:49] daixiang0 commented on #3548
I think it may help even mark as "not sure flaky"

[2021-08-17 08:34] stepro71 commented on #3526
Hi, any pointers, how I could get this to running?

[2021-08-17 22:09] CodeMonkeyLeet commented on #3526
@stepro71 Sorry, I was mistaken. I thought that the support for arbitrary Dapr storage had been added to the repo by now based on the [community call](https://www.youtube.com/watch?v=7fP-0Ixmi-w&t=850s) but it looks like that work is still pending.

@artursouza Do we have any traction on this? This might be the first community request I've seen for this since the feature was discussed.

[2021-08-17 22:19] #3149 closed

[2021-08-18 00:34] yaron2 commented on #3526
@stepro71 the Azure Storage requirement is part of the Azure Logic Apps engine, and not Dapr - so changes would have to be made on that front first.

[2021-08-18 05:34] thanhlq opened #3559 "Error when install dapr on a specific namespace then uninstall and install into another namespace"
## In what area(s)?

 /area runtime

## What version of Dapr?

1.3.0

## Expected Behavior

Reinstallation of dapr should work

## Actual Behavior

  Deploying the Dapr control plane to your cluster...
❌  rendered manifests contain a resource that already exists. Unable to continue with install: ClusterRole "dapr-operator-admin" in namespace "" exists and cannot be imported into the current releas

[2021-08-18 06:28] stepro71 commented on #3526
@yaron2: thank you for your response.

[2021-08-18 06:28] #3526 closed

[2021-08-18 07:24] #3325 closed

[2021-08-18 07:28] thanhlq commented on #3559
(There is one thing in my deployment, I missed  installing the Jaege operator, but the config in my app was with "tracing")

[2021-08-18 10:17] mariemzyr opened #3560 "Use Google Cloud Storage in DAPR service Python"
Hello to all.
I'm using DAPR for a short time, I use it more precisely to do service to service invocation.
**Have you ever used google services like google cloud storage with DAPR ?**
My goal is to make a python app (app.py) that generates a signed URL (google service), for that I have to use my google credentials.
So I created in my .yaml file a secret key containing the information of the googl

[2021-08-18 13:51] mariemzyr commented on #3560
Hello,
I apologize for the inconvenience.
It was a flask error and not a dapr error.
To solve the problem, replace get_json by .json.
Good day to you

[2021-08-18 13:51] #3560 closed

[2021-08-18 15:20] SaschaPWittwer opened #3561 "Metadata headers not sent to server via dapr gRPC proxy"
## In what area(s)?

 /area runtime

## What version of Dapr?

1.3.0

## Expected Behavior

Custom metadata headers besides `dapr-app-id` never arrive on the receiving gRPC server while using the new gRPC proxy feature from dapr.

## Actual Behavior

Custom headers should be handled correctly and be passed to the receiving gRPC server.

## Steps to Reproduce the Problem

Add some more metadata hea

[2021-08-18 16:27] yaron2 commented on #3561
Thanks, taking a look.

[2021-08-18 16:29] #3556 closed

[2021-08-18 17:23] yaron2 commented on #1090
## Design proposal

### Overview

This design proposal aims to capture the following assumptions:

1. The configuration of automatic encryption should be *simple* for both developers and operators
2. Have "best practices" in mind regarding security of the encryption key
3. Automatic encryption should be a non-breaking change and an opt-in feature

#### Operator/Developer Workflow

1. Define a secr

[2021-08-18 17:29] yaron2 commented on #3428
Reopening.

just checking again @djojoz, were you able to get this working?

[2021-08-18 17:32] yaron2 commented on #3560
Thanks for updating @mariemzyr.

We are keen on seeing Dapr usage on GCP, if there's anything you want to show on hop on a community call, feel free to contact us on our Discord channel, either directly or on the #show-and-tell channel. Thanks!

[2021-08-18 17:41] CodeMonkeyLeet commented on #2739
To clarify the expected error handling behavior for proposal 1c, we expect that any etag mismatches or existing key values with first write causes Dapr to return an error and not silently drop the write, correct?

StateOptions.Concurrency | Req.Etag | Expected Behavior in State Store | Error handling
-- | -- | -- | --
CONCURRENCY_FIRST_WRITE | not nil | Write if etag matches | If etag does not mat

[2021-08-18 17:47] artursouza commented on #1090
Can the encryption algorithm also be a setting? We can say that AES256 is the only one supported for now. It also brings the topic about asymmetric encryption, which takes in a public (to encrypt) and private (to decrypt) keys. Maybe encryption can be its own CRD and allow it to be extensible for multiple algorithms.

[2021-08-18 17:56] yaron2 commented on #1090
It could, but looking at bring-your-own-key solutions in the major cloud providers, an AES256 seems to be the only option (references [here](https://docs.aws.amazon.com/kms/latest/developerguide/importing-keys.html) and [here](https://docs.microsoft.com/en-us/azure/azure-sql/database/transparent-data-encryption-tde-overview?tabs=azure-portal).

Since this is considered a standard encryption algori

[2021-08-18 22:20] artursouza commented on #1090
We might be able to change the design to incorporate multiple algorithms later on. One more thing that crossed my mind - which might be a bigger deal here - is key rotation. We need somehow be able to encrypt new values with the most recent version of the key while decrypting with an older version. Since data is persisted, this needs to be handled early on.

[2021-08-18 22:27] notbasetwo opened #3563 "Project includes a dependancy that has a license that forbids its use"
Dapr depends on [bouk/monkey](https://github.com/bouk/monkey), which has a [license that forbids anybody to use it](https://github.com/bouk/monkey/blob/master/LICENSE.md).

The license is as follows:
[code]

The package seems to be used in pkg/components/standalone_loader_test.go.

[2021-08-19 00:07] CodeMonkeyLeet commented on #3563
Thanks for the heads up!

@yaron2 @artursouza this seems like it was introduced recently by PR https://github.com/dapr/dapr/pull/3158. Should this change be reverted?

[2021-08-19 01:15] daixiang0 commented on #3563
Still need to consider adding a license checker in case this issue occurs again.

[2021-08-19 01:45] #3396 closed

[2021-08-19 02:38] yaron2 commented on #3563
This is only used in the test (and thus not.compiled and distributed in our binaries).

We should not revert the entire PR, just rewrite the test.

[2021-08-19 02:38] yaron2 commented on #3563
Also thanks for reporting @daixiang0

[2021-08-19 03:12] cvictory opened #3564 "Support start-up time metrics item"
## In what area(s)?

 /area runtime

## Describe the feature

Maybe we should statistics the dapr start-up time, we should store the data into metrics ( such as Promethues)

## Release Note

RELEASE NOTE:

[2021-08-19 10:59] fbridger opened #3565 "How can I use HTTPS to communicate with the Dapr Sidecar?"
## In what area(s)?

/area runtime

## Ask your question here

How can I communicate with the Dapr Sidecar using a secure communication channel (HTTPS)?

I would like to be able to redirect all traffic coming from our API Gateway to the Dapr sidecars using a secure communication channel as described in the diagram. Is this possible? Or what is the correct way of doing this?

![Sidecar](https://use

[2021-08-19 14:27] ricardf opened #3567 "Be able to connect daprd kubernetes services to a daprd hosted only instance"
If you already have a dapr instance working in kubernetes with several services, is there any way to instanciate a service outside kubernetes (edge/stand alone) that is able to communicate with the services inside kubernetes? (using for instance daprd). How this could be achieved?

[2021-08-19 21:56] greenie-msft opened #3568 "Local Secret Store inconsistencies with Kubernetes Secret Store"
## In what area(s)?

/area runtime

## What version of Dapr?

1.3

## Expected Behavior
Secretstores.local.file does not support a secret with multiple keys like k8s does: https://docs.dapr.io/reference/api/secrets_api/#response-with-multiple-keys-in-a-secret-eg-kubernetes.
[code]
Request: http://localhost:3500/v1.0/secrets/kubernetes/test-secret

 Returns:
 ```{ "key1": "value1", "key2": "value2"

[2021-08-19 22:30] CodeMonkeyLeet commented on #3568
@greenie-msft Is this related to https://github.com/dapr/components-contrib/issues/1090 and better tracked in components-contrib?

[2021-08-19 22:39] greenie-msft commented on #3568
@CodeMonkeyLeet, yes it's the same. Thanks for checking, I will close this issue.

[2021-08-19 22:39] #3568 closed

[2021-08-19 22:54] CodeMonkeyLeet commented on #3567
Hi @ricardf, you should probably think of your dapr instances as distinct apps with the appropriate security boundaries between them. In general, this means using some kind of ingress service, which can also be daprized. There are some good links on that in https://github.com/dapr/dapr/issues/1976, and also various examples discussed in the [Dapr community discord](https://aka.ms/dapr-discord) suc

[2021-08-19 22:56] artursouza commented on #3460
/cc @yaron2 Is this possible? If so, then we should work on a demo for this.

[2021-08-19 23:09] CodeMonkeyLeet commented on #3565
@fbridger Have you taken a look at the docs on [integration of APIM with Dapr](https://docs.dapr.io/developing-applications/integrations/azure-api-management/)?

More generically dapr sidecar supports HTTPS communication with the app with `app-ssl` dapr CLI parameter or kubernetes annotation. See [Dapr arguments and annotations for daprd, CLI, and Kubernetes](https://docs.dapr.io/reference/argumen

[2021-08-19 23:17] yaron2 commented on #3520
Thank you @theonefx

[2021-08-19 23:20] CodeMonkeyLeet commented on #3564
@cvictory To clarify, are you suggesting adding a new [Dapr runtime service metric](https://github.com/dapr/dapr/blob/master/docs/development/dapr-metrics.md#dapr-runtime-metrics)? Is there a particular interval that you're specifically interested in, for example, the time until the healthz check for the dapr runtime indicates it is ready for the client to call?

[2021-08-20 00:12] yaron2 commented on #3564
We print out the total init time of the sidecar, which includes healthz. @cvictory do you mean that? if so, I agree that it would be a useful metric to add.

[2021-08-20 00:24] artursouza commented on #2739
Correct.

[2021-08-20 02:44] fbridger commented on #3565
Hi @CodeMonkeyLeet thanks for your reply.

I know DAPR Sidecar supports HTTPS communication with the Application.

However, the question is related to why the Dapr Sidecar only supports HTTP for **INCOMING** communications. It seems this is not currently supported and I wanted to understand if this was by design.

My main goal is to be able to secure all in-transit communication using a secure cha

[2021-08-20 03:02] daixiang0 opened #3571 "service account 'kubernetes-admin' not on the list of allowed controller accounts"
## In what area(s)?

 /area runtime

## What version of Dapr?

1.3

## Expected Behavior

Kubernetes admin can control.

## Actual Behavior

[code]

## Release Note

RELEASE NOTE: **FIX** put 'kubernetes-admin' in allow list.

[2021-08-20 06:18] cvictory commented on #3545
Good Idea !  Maybe the service invocation should implements as another component.

[2021-08-20 06:46] cvictory commented on #3564
What you expained is right.  But at alibaba, some network connection will be executed in init function, so the print total time is inaccurate, because it is only include the main function but not include the init function.

In serverless function situation, we should know the total time of dapr starting. The function users are very sensitive to starting time.

I can only find two ways to statistic

[2021-08-20 08:34] cvictory commented on #3460
In multiple cluster situation, we need an ingress and a new service discovery.
Maybe we can learn from Envoy.

[2021-08-20 08:36] cvictory commented on #3455
+1  maybe we also need the started time including the init function.  https://github.com/dapr/dapr/issues/3564

[2021-08-20 08:48] cvictory commented on #3475
I think we can add the endpoint feature like spring boot endpoint. https://docs.spring.io/spring-boot/docs/current/reference/html/actuator.html#actuator.endpoints

You can get some internal information, such as health, components info, or do some action.

[2021-08-20 09:12] theonefx commented on #3472
It seems that the Dapr runtime should discover the app relaunch, and re send OPTION request to determine that the app binding path is ready to work.

[2021-08-20 12:12] Pitlis commented on #3488
Is there any way to get around the problem?

[2021-08-20 12:50] ricardf opened #3572 "mTLS not working on self-hosted in windows when setting them into environment variables"
## In what area(s)?

 /area runtime

 /area placement

## What version of Dapr?

1.3.0

## Expected Behavior

With sentry configured and using their certificates, we first setup the environment variables so dapr sidecar can use mtls:

[code]

When launching daprd with enabled mtls the daemon should start correctly.

## Actual Behavior

When launching daprd command the following error appears:

[co

[2021-08-20 12:59] ricardf commented on #3567
Hi @CodeMonkeyLeet ! thanks for the answer.

The scenario looks like this:

![image](https://user-images.githubusercontent.com/16720621/130236453-5ee48e10-7190-4158-81a3-547f2d633051.png)

Will check all the options, thanks

[2021-08-20 13:16] jjcollinge commented on #3565
@fbridge just so that I understand the context of the question - are you running Azure API Management in [self hosted mode](https://docs.microsoft.com/en-us/azure/api-management/how-to-deploy-self-hosted-gateway-kubernetes) on Kubernetes or are you trying to expose the Dapr HTTP API directly to a cloud hosted Azure API Management service?

[2021-08-20 14:27] yaron2 commented on #3475
@cvictory see this:

https://docs.dapr.io/reference/api/metadata_api/

https://docs.dapr.io/reference/api/health_api/

[2021-08-20 15:33] jjcollinge commented on #3460
See #3254 for some thoughts on cross cluster connectivity - doesn't handle Dapr or Kubernetes federations directly but might be useful.

[2021-08-20 18:42] artursouza commented on #2864
Reopening until the solution is working end to end.

[2021-08-20 21:05] fbridger commented on #3565
Well, actually we are deploying our services to AWS. So we would be using AWS API Gateway and running them in ECS without Kubernetes.

So my intial intent or thought is to route all incoming traffic (from AWS API Gateway) through the Dapr Sidecar => Application to get Distributed Tracing information.

[2021-08-20 21:19] #3495 closed

[2021-08-20 21:21] yaron2 commented on #1090
As discussed offline, we will append the key name used to encrypt the data record to the base64 encoded value using a separator. That way, both `daprd` and users consuming the data outside of Dapr can have the encryption key reference.

[2021-08-20 21:24] jjcollinge commented on #3565
Ok thanks for the clarification. So the reason this isn't already a feature - is that Dapr is intended to run as a sidecar to an application. It wasn't design specifically to ingress north-south traffic (aka reverse proxy). Hence when you do this with Azure APIM you run an ingress gateway in your K8s cluster and Dapr is a sidecar to the gateway. That means the gateway has a HTTPS endpoint that can

[2021-08-20 22:54] CodeMonkeyLeet commented on #3571
I'm not familiar with Kubernetes management, but is `kubernetes-admin` a standard service account? It's not listed in any of the default namespaces like `kube-system`.

[2021-08-20 23:51] fbridger commented on #3565
What you are describing was what I was planning to do based on this constraint and limitation. Obviously, this requires yet an additional "jump".

Flow would look like this:

API Gateway = HTTPS => [Envoy = HTTP => Dapr Sidecar] = mTLS => [Dapr Sidecar = HTTP => Application]

Is this what you are describing?

[2021-08-21 01:06] CodeMonkeyLeet commented on #3572
So this is PowerShell issue, not a Dapr one: The problem is that PowerShell `Get-Content` behaves differently from `cat` even though it's aliased to it. When you assign `Get-Content` output to a variable, it replaces line endings with spaces, so you get:

[code]

That's illegal PEM, so Dapr correctly rejects it as malformed.

You need to use the `-raw` flag with `Get-Content` to preserve line-endi

[2021-08-21 06:55] #3407 closed

[2021-08-21 09:42] #3291 closed

[2021-08-21 11:38] ricardf commented on #3572
thanks, #1739 should fix it :)

[2021-08-22 04:09] Chay12368 commented on #3537
5

[2021-08-22 15:31] 89z commented on #3563
I mean, you could just use it before the license was added:

https://github.com/bouk/monkey/tree/697673d58359af7ebdcad66f99b81d011359d8ef

seems pretty close

[2021-08-22 15:34] mpldr commented on #3563
Nope, before the License, it's All rights reserved.

[2021-08-22 20:23] eligrey commented on #3563
If you dynamically link to this repository as a submodule and entirely switch over CI, deployment, and development to Codespaces then this is technically still legal. IANAL & TINLA

[2021-08-22 21:15] Oppen commented on #3563
The T&C of GH imply you can use it due to the fact it's in a public repository. You would probably need to add it as a submodule just in case, because the terms say the grant applies when accessed via the GH service.

See [clause 5](https://docs.github.com/en/github/site-policy/github-terms-of-service#5-license-grant-to-other-users):

Emphasis mine.

[2021-08-22 21:37] StoneCypher commented on #3563
@Oppen - GH's terms of service do not override the library's license.

[2021-08-22 21:39] StoneCypher commented on #3563
@eligrey - if you say "this is technically legal," that's legal advice.  Your saying "this is not legal advice" doesn't change anything.  You sound like the pirates on youtube who say "no copyright infringement intended."

Your legal advice is wrong, and the reason you gave that excuse is that, as you know, it's illegal for you to give legal advice without a legal background.

[2021-08-22 21:43] notbasetwo commented on #3563
The keyphrase here is "through the GitHub Service". That doesn't give you permission to use it on your own machine. It gives  you permission to eye up the repository.

There are no complicated legal matters here - this is proprietary software with a license that does not permit it's usage. Even if on a technicality it may not stand up somewhere, it is also not in the spirit of FLOSS development to

[2021-08-22 22:37] Oppen commented on #3563
No, but the agreement grants special rights besides the license. It's essentially similar to dual licensing 🤷

That's true.

That's a completely different discussion.

[2021-08-23 02:40] #3563 closed

[2021-08-23 02:40] yaron2 commented on #3563
Thanks for the participation everyone, this is now closed with https://github.com/dapr/dapr/pull/3570.

[2021-08-23 02:42] yaron2 commented on #3572
@ricardf would you like to submit a docs PR that addresses this?

[2021-08-23 09:14] #3393 closed

[2021-08-23 11:00] marc-mueller commented on #3176
Sorry for my long answer, I had to prioritize other work and then the summer holidays came. I tested you suggested approach and setting {uuid} as the consumer id of the redis pubsub component works as expected. I can confirm this approach.

Thanks for your help!

[2021-08-23 15:08] ItalyPaleAle commented on #814
@dapr-bot ping :)

[2021-08-23 18:47] ricardf commented on #3572
sure! @yaron2 will continue disucssion in @CodeMonkeyLeet issue in docs.

[2021-08-23 18:47] #3572 closed

[2021-08-23 18:53] artursouza commented on #814
Thanks @ItalyPaleAle. I've added the `triage/resolved` label to stop DaprBot on this one.

[2021-08-23 18:59] halspang commented on #501
The example is actually the actor configuration.

That's actually a leftover from the original design and we've now moved to not including the Id in the configuration. The type will still be included similarly to how it is today. To denote a pubsub invocation, this is what I'm thinking for the .NET sdk.

[code]

This will be interesting to work with and will require some adaptation when it happens

[2021-08-23 19:01] halspang commented on #501
Yes, that's the field that we're proposing to handle this case. I put it there to see if there's a strong desire for it which you've answered. I think we can get it into the initial version of the feature, though ideally we'd implement them separately but in the same milestone, just to reduce PR size/blast radius.

[2021-08-23 19:58] dmitsh opened #3576 "Adding e2e tests for Kubernetes v1.22"
We need to add e2e tests for the recently released Kubernetes v1.22

[2021-08-23 19:58] dmitsh commented on #3576
/assign

[2021-08-23 20:03] rynowak commented on #3546
We implemented something similar to this functionality in the .NET SDK and it really simplifies life for uses. Adding Dapr service invocation to an existing service can be a one line change!

I'm strongly supportive of this being added to the runtime (rather than the SDK). This will make the functionality accessible to everyone without thick SDKs acting as a polyfill.

[2021-08-23 21:11] #3576 closed

[2021-08-23 21:38] jjcollinge commented on #3565
I guess (as always) it depends...

If you are only exposing the Dapr API directly because you want distributed tracing. I would think you could do that without Dapr's API. Use Envoy's native support for Zipkin to capture the ingress traces. Then propogate the W3C header you receive from Envoy when you call Dapr from your app (traceparent) and you should be able to correlate everything in the Zipki

[2021-08-24 01:19] daixiang0 commented on #3571
It is the admin role when clusters create, Dapr should allow it I think.

[2021-08-24 02:26] daixiang0 opened #3578 "support authors call /ok-to-test and /ok-to-perf"
Now `/ok-to-test` and `/ok-to-perf` only support maintainers to call, if authors want to do tests, need to wait for maintainers' call, as both authors and maintainers want to PRs merged and all tests pass, support authors call them is harmless(may cost some resources).

/cc @artursouza @yaron2

[2021-08-24 02:36] daixiang0 commented on #2914
Any process for it @pkedy?

[2021-08-24 02:39] daixiang0 commented on #3475
Does it mean we have two endpoint for `healthz`? Or we move current one to other endpoint?

[2021-08-24 05:58] daixiang0 opened #3580 "[Proposal] support use local image during tests"
/area test-and-release

## Describe the proposal

Now tests always need to push to a register then pull again, which wastes much time, we can reduce by directly load images to cluster and use `IfNotPresent` to skip pull.

[2021-08-24 06:38] avvijeet opened #3696 "Support for PATCH request in service invocation"
## Describe the proposal
Currently, the dapr client for service invocation does not support patch requests.
Upon trying patch request it automatically makes a POST request instead.

I had to convert patch requests to post temporarily to get it working.

[2021-08-24 07:09] quanquangduc opened #3981 "Deploy dapr to k8s with mode HA"
Hello all,

I flow this guide to deploy dapr to k8s with mode HA

Install in highly available mode
https://docs.dapr.io/operations/hosting/kubernetes/kubernetes-deploy/

After run this command  $dapr init -k --enable-ha=true

Installation have a problem with Volume.

the 3 pods  dapr-placement-server-0 , dapr-placement-server-1, dapr-placement-server-2, not runing.

<img width="396" alt="dapr-2" s

[2021-08-24 14:23] xdmushui commented on #955
Have you tried it? Could you share your experience?

[2021-08-24 16:17] artursouza commented on #2864
@daixiang0 Can we also add support for Windows?

[2021-08-24 17:25] artursouza commented on #3546
I am supportive of this approach.

It probably means that the header will be handled in the runtime before the URL's path.

[2021-08-24 17:27] yaron2 commented on #3546
Exactly!

[2021-08-24 17:47] halspang commented on #501
After presenting at the community call, one topic that came up was broadcasting to multiple actors from a single message. Dapr has a couple of options for orchestration:

- Allow for `ActorId/inferredActorId` to be an array and call each actor accordingly.
- Have an event for each actor.

Another ask was to see how low touch we could make the initial feature in the SDKs. Can this just be a configu

[2021-08-24 18:08] georgestevens99 commented on #501
Hal, Thanks for the good presentation!

I would like to chime in be sure you plan on having some performance/load tests available as you develop, and thereafter as well.

Why?  Because actors are often used by the dozens, and even the hundreds or thousands in some cases.  And having pubsub capabilities can well act to amplify the load costs of actors on all or parts of a system.  For example it wo

[2021-08-24 21:17] #2906 closed

[2021-08-25 00:15] pkedy opened #3586 "[Proposal] Resiliency policies across all building blocks"
/area runtime
/area operator

The goal of this proposal is to create a mechanism where [resiliency patterns](https://docs.microsoft.com/en-us/dotnet/architecture/cloud-native/application-resiliency-patterns) can be applied consistently configured across all Dapr building blocks.

Design goals are:

* Support high-value resiliency policies: Timeouts, [Retries/Back off](https://docs.microsoft.com/en

[2021-08-25 00:43] daixiang0 commented on #2864
Need to dig into it due to little Win development experience first, if someone can quickly do it, feel free to assign to him.

[2021-08-25 02:19] artursouza commented on #3578
I do not agree with this because it would create vulnerability by allowing a random author to post a PR unreviewed and have the code to execute on the test environment with access to secrets. This restriction is by design.

[2021-08-25 02:42] daixiang0 commented on #3578
I see.

[2021-08-25 02:42] #3578 closed

[2021-08-25 06:42] daixiang0 commented on #2864
After a quick google, socket support for Window is very young, I do not consider add support for Windows for now.

[2021-08-25 09:38] jjcollinge commented on #501
@halspang just a quick comment after watching the community call, I noticed you intended to add the attributes `dapr.actorType` and `dapr.actorId` to the CloudEvent payload. In order to keep the CloudEvent aligned with the spec we'd need to use the [CloudEvent attribute naming conventions](https://github.com/cloudevents/spec/blob/v1.0.1/spec.md#context-attributes) which are lowercase and only allo

[2021-08-25 13:10] marviniter commented on #3563
I'm so sorry for my ignore to check package license,there are any way to auto check license when push a pr?I found some license check tools like google/go-licenses @yaron2

[2021-08-25 16:07] darren-wang opened #3587 "How to scrape metrics in app pod when using dapr?"
Hi, this doc provides the metrics dapr supports:

https://github.com/dapr/dapr/blob/master/docs/development/dapr-metrics.md

I'm not really familiar with Prometheus and Grafana, so I wonder if I can get the CPU, memory used by whole pod. It will be better if
 the app container metrics and daprd metrics can be displayed both.

[2021-08-26 02:47] marviniter opened #3590 "[Proposal] Auto check new packages license when push a PR"
## In what area(s)?

/area test-and-release
## Describe the proposal

[code]

[2021-08-26 02:48] marviniter opened #3591 "[Proposal] Auto check new packages license when push a PR"
## In what area(s)?

/area test-and-release
## Describe the proposal

[code]

[2021-08-26 03:51] #3590 closed, assigned to nobody

[2021-08-27 06:57] daixiang0 opened #3595 "Introduce Retry to CI"
## In what area(s)?

 /area test-and-release
## Describe the proposal

Now we have some tests may fail due to network issue or other we do not know, they can pass after some retry. Sadly, Github Action does not support retry a single test officially, contributors need to re-commit to trigger it, which means rerun all not only failed.

Add [Retry](https://github.com/marketplace/actions/retry-step)

[2021-08-27 13:23] Aditi33 opened #3596 "How to execute query on cosmosDB using C# DaprClient?"

[2021-08-27 19:17] fbridger opened #3598 "Error: app returned http status code 400 from subscription endpoint"
## In what area(s)?

/area runtime

## What version of Dapr?

1.3

## Expected Behavior

When running daprd.exe after my application has started, I would like Dapr Sidecar to send events to my Web Application

ASP.NET Core Sample application running in port 5000 is correctly responding to the /dapr/subscribe route

GET http://localhost:5000/dapr/subscribe
[code]

## Actual Behavior

**Problem**: N

[2021-08-27 19:47] #3598 closed, assigned to nobody

[2021-08-28 07:52] #3385 closed

[2021-08-29 00:04] fbridger commented on #3598
Opened issue in dotnet-sdk with proposed fix:
https://github.com/dapr/dotnet-sdk/issues/743

[2021-08-29 05:27] 1046102779 opened #3599 "dapr state&binding interfaces haven't destroy standard api."
if I dynamicly update or add many binding or state component crds, old resources won't be freed, such as redis, mysql and etc  connection pool.

So  how should we free old connection pool ?

[2021-08-29 06:02] kevinten10 commented on #2817
Hi team, I want to know...

What is the current progress of the standard API definition?

We explored similar ideas in #https://github.com/mosn/layotto/issues/188 :

[2021-08-29 06:04] kevinten10 opened #3600 "Decompose core-API and enhanced-API."
Now all API definitions are together, like [dapr.proto](https://github.com/dapr/dapr/blob/master/dapr/proto/runtime/v1/dapr.proto).

Do we need to decompose it? Otherwise, with more and more APIs, this `client` will expand more, but in fact, many APIs not core.

If we want to push the API into a unified standard, but in many cases, everyone will add some of their own unique implementations. At thi

[2021-08-29 20:25] #2825 closed

[2021-08-30 01:13] daixiang0 commented on #3374
update

[2021-08-30 01:14] daixiang0 commented on #3496
still available, @aronchick could help add pin label for this?

[2021-08-30 01:18] daixiang0 commented on #3599
Now pub/sub has close interfaces while state not, I am very happy to see it.

WDYT? @pkedy @artursouza

[2021-08-30 01:19] daixiang0 commented on #3596
If you want to use it as state/binging, you can read related docs, if you want to execute a complex query, I think directly use is better.

[2021-08-30 04:14] ewassef commented on #3546
I don't understand the problem here; almost all settings require the base url to be passed as input. This is the same for any pre-packaged solutions that we are trying to add dapr to via annotations. We haven't had an issue changing the env/config/setting from https://tempuri.org/ to http://localhost:3500/v1.0/invoke/tempuri/method/ . It literally works like magic and suddenly we can make sense of

[2021-08-30 06:44] pandagodyyy opened #3601 "Does dapr support scram-sha-512 sasl for Kafka"
## In what area(s)?

## Ask your question here
I deployed Kafka with Strimzi , it  only support

- Mutual TLS client authentication (on listeners with TLS enabled encryption)
-
- SASL SCRAM-SHA-512
-
- OAuth 2.0 token based authentication

https://strimzi.io/docs/operators/latest/overview.html#security-configuration-authentication_str

And out dapr support secured connecting with kafka with saslUs

[2021-08-30 06:53] yaron2 commented on #3546
Just to be clear, this will not replace the current service invocation format but will be an added option.

[2021-08-30 14:19] ngealy commented on #1621
I'm having this same issue.  How was it "solved via docs"?

[2021-08-30 16:30] #1090 closed

[2021-08-30 17:31] ewassef commented on #3546
Ah! That's a relief and makes much more sense. I don't see why that wouldn't be a great addition!

[2021-08-30 20:25] pkedy commented on #2582
@orizohar I have draft content for the Docs PR but it includes examples from the SDKs which don't have this feature added yet. For that reason I'm holding off on the Docs PR.

[2021-08-31 00:37] artursouza commented on #3546
I actually like the idea from @ewassef about not setting a header because it requires code change in the app do include the special Dapr header. If we can reuse the endpoint configuration, it makes adoption much easier. What if (in addition to HTTP header), we also allow this to be passed in via HTTP Basic Auth: `http://dapr-app-id:MyAppId@localhost:3500/any/path`

[2021-08-31 00:46] yaron2 commented on #3546
The Dapr header is consistent with how we do it for gRPC (using metadata), but I'm ok with adding more options for users to best choose how they want to format their service invocation URL best.

[2021-08-31 01:00] #3520 closed

[2021-08-31 01:02] artursouza commented on #2167
Removing this from a Milestone until it has traction again.

[2021-08-31 03:11] yaron2 commented on #3520
We need docs update for this. /cc @artursouza

[2021-08-31 05:55] li1234yun opened #3602 "How does the GRPC proxy use/provide state management, pub/sub etc all dapr capacity?"
1.3

## Ask your question here
I found the dapr supports the grpc proxy to invoking raw grpc server, it's GREAT! Thank you for your great work!

But I can't find related docs to example the grpc proxy usage in all respects, such as state store, pub/sub etc. So I just want to ask   whether the grpc proxy can use those capacity. Maybe you can provide some detail docs.

Thanks!

[2021-08-31 06:28] daixiang0 commented on #3601
If Bitanami with SCRAM-SHA-51 auth can not work, seems it is a bug in dapr, if not, it may be an issue of Strimzi.

/cc @pkedy

[2021-08-31 08:48] pandagodyyy commented on #3601
Actually I wired Dapr and bitnami kafka with plain internal listener (without auth), so it succeeded.. (because I set authRequired as true, I thought I configured the right listener, then I changed the password to wrong content and it still can connected, so I know I did silly thing)

Then I configured dapr with the listener secured user name and password to bitnami kafka. I met the same situation

[2021-08-31 09:39] peterbourgon commented on #3595
👎

Flaky tests must be fixed, not "patched" with retries.

[2021-08-31 14:16] #3546 closed

[2021-08-31 19:34] artursouza commented on #3533
The next steps for this issue is to add Postgres to conformance tests in contrib to make sure it behaves as expected for eTag matching operations. Because I worked on the reminder partition problem, my guess is that this issue will be reflected in the conformance tests for the component.

[2021-08-31 20:43] sheldonhull commented on #1621
I have been having issues with `remote error: tls: bad certificate` in my initial tests as well, so any additional insight on the fix would be great. Don't see any specific doc linked.

[2021-08-31 21:39] yaron2 commented on #3602
gRPC proxying is only applicable for service to service calls.

[2021-08-31 22:15] #3551 closed

[2021-08-31 23:50] daixiang0 commented on #3595
It is a way to find them :)

[2021-08-31 23:53] peterbourgon commented on #3595
I'm confused — the precondition for retrying is failure, right? Isn't that visible even without a retry?

[2021-09-01 00:04] daixiang0 commented on #3595
Retry make PRs quicker merged, reduces duplicate tests run, and we can fix the flakiest things first.

To be honest, I also do not want any flaky tests to exist, but for now, with Retry do benefit.

/cc @artursouza @yaron2

[2021-09-01 00:09] peterbourgon commented on #3595
😕 What? How? You explicitly _don't_ want to merge PRs that exhibit flaky tests.

[2021-09-01 01:37] li1234yun commented on #3602
Hello, @yaron2
Do you think about expose pub/sub specific method. When grpc service need to pub/sub, grpc service can achieve this method that returns the pub/sub methods just like http pub/sub register. It is just an advise, I just want to use the grpc server and dapr at the same time :->

Thank you!

[2021-09-01 11:27] LaurenceLiZhixin commented on #2988
I opened three pr for this proposal:
- dapr: https://github.com/dapr/dapr/pull/3606
- component: https://github.com/dapr/components-contrib/pull/1113
- go-sdk: https://github.com/dapr/go-sdk/pull/200

I my implements meet your expection, I would continue my work to fill ut and enhance.
@artursouza @yaron2

[2021-09-01 12:16] slacksach opened #3607 "Dapr v1.3.0 Crash Loop (v1.3.0 on k8s 1.20.5) - "panic: runtime error: invalid memory address or nil pointer dereference""
## In what area(s)?
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x40 pc=0x160482d]

goroutine 130 [running]:
github.com/dapr/dapr/pkg/actors/internal.(*ActorPlacement).Start.func4.2(0xc00079a620, 0xc000546150, 0xc000730f38)
	/home/runner/work/dapr/dapr/pkg/actors/internal/placement.go:258 +0x6d
github.com/dapr/dapr/p

[2021-09-01 12:27] slacksach commented on #3607
@yaron2 @artursouza - Is this fixed by https://github.com/dapr/dapr/pull/3552?, any workaround other than to downgrade to v1.2.2?

[2021-09-01 16:02] #1820 closed

[2021-09-01 17:08] itsoli91 opened #3608 "App has not subscribed to binding X. .NET Core"
## .NET Core App
Hi Guys.

I want to write an application that listens to a topic on MQTT Broker and print the message on console.

Binding configuration:

[code]

Docker-Compose:

[code]

.NET Core Startup class

[code]

And this is my Telemetry Controller

[code]

When I run the application it seems from log that it is reading the binding but at last line has written that **`level=info msg="app

[2021-09-01 17:33] #3608 closed

[2021-09-01 18:44] CodeMonkeyLeet commented on #3599
Binding and state components are expected to implement the `io.Closer` interface too. Daprd does attempt to invoke it where available and you should open [issues in dapr/components-contrib](https://github.com/dapr/components-contrib/issues?q=is%3Aissue+Close+author%3Apkedy) for components that need to release resources and are missing a `Close()` implementation.

Both Redis and MySQL state compone

[2021-09-01 22:19] #2914 closed

[2021-09-01 22:19] #3475 closed

[2021-09-02 01:25] aronchick commented on #3496
@daixiang0 think you might have tagged me incorrectly

[2021-09-02 01:29] daixiang0 commented on #3496
@aronchick sorry

@artursouza could help add pin label for this?

[2021-09-02 04:50] yaron2 commented on #3496
@daixiang0 we only pin very specific, long running issue. there's a maximum of 3 issues per repository and there's no room for new ones.

[2021-09-02 04:52] yaron2 commented on #3607
@slacksach we have long running environments that do not exhibit this behavior on 1.3.0. /cc @wcs1only to verify.

What components are you using? is your application using actors?

[2021-09-02 05:02] daixiang0 commented on #3496
Got it :)

It may depend on WASI.

[2021-09-02 09:04] slacksach commented on #3607
Thanks @yaron2, I'll do some further digging.

Our applications themselves are not using Actors in any way.

From the component perspective we observed this behaviour in the Dapr Sidecar across all our deployed PODS with Dapr v1.3.0 .NET 5.0 Microservices deployed, across multiple different component configurations,

We utilise the following components:

**State**
MongoDB

**PubSub**
RabbitMQ

[2021-09-02 09:41] kevinten10 commented on #3276
I also agree @RayneHwang.

To put it to the extreme, all `Empty` return types may need to be re-discussed.

Because in real practice, you can’t assume that all components in the field return `Empty` values.

Any update on this?

[2021-09-02 12:31] ricardf commented on #3331
Is there any documentation on how to make it work in the current state?

[2021-09-02 15:08] beiwei30 commented on #3533
@artursouza I tried to add state conformance test for Postgres with dapr/components-contrib#1118, and got the following result:

[code]

Most of tests fail due to the following error:

[code]

[2021-09-02 16:08] slacksach commented on #3607
Closing the issue as we discovered it was caused by an issue in our Dapr manifests, we're using a bespoke Dapr configuration and we had carried forward a  couple of Environment variables and other bits which resulted in the placement-service not advertising itself correctly and causing the pods to continuously hammer it with requests.

[2021-09-02 16:08] #3607 closed

[2021-09-02 17:44] georgestevens99 commented on #3586
Excellent proposal.  Very well written and thought out!

It may be useful to clarify (perhaps in the Non-Goals section) that retires, etc. do not apply in situations where the Dapr side car instance has crashed or was never started.   In other words, they do not apply at the service (aka app)/dapr communication link, but do apply only at the dapr/component-or-service-invocation communication link.

[2021-09-02 18:10] yaron2 commented on #3602
If I'm understanding you correctly, you're talking about proxying in the consumer Dapr pub/sub sidecar and invoking arbitrary methods on the app side instead of using the AppCallback interface.

Since Dapr has a well defined API and structure, I think the AppCallback interface is actually better here as it has the Cloud Event properties and it's strongly typed - using an arbitrary gRPC function wo

[2021-09-02 20:29] artursouza commented on #3533
@beiwei30 Thanks a lot. The component will need to be fixed then, maybe rewritten.

[2021-09-02 21:13] artursouza commented on #2988
@LaurenceLiZhixin The PRs are in the right direction. Thanks for your contribution. This will be the first new building block since 1.0 launch.

[2021-09-02 21:22] wcs1only commented on #3595
Yeah, I'm very against automatic test retries. Much awfulness can be hidden that way.

[2021-09-02 21:24] artursouza commented on #3595
I agree with @peterbourgon and @wcs1only here. We retry (manually) as a shortcut for known flaky tests. The fact that we manually retry those also serves as a way to catch which ones are flaky - if we retry, we will be hiding those under the rug.

[2021-09-02 21:24] #3595 closed

[2021-09-02 21:29] artursouza commented on #3599
I agree with @CodeMonkeyLeet. We don't support component reloading without restarting sidecar. So, I am curious to know where is the need to handle closing resourced beyond the shutdown case.

[2021-09-03 06:52] mjtansin opened #3613 "Error connecting to placement service in self-host slim mode"
## In what area(s)?

 /area runtime
 /area placement

## What version of Dapr?

1.3.0

## Expected Behavior

connect to placement service correctly in self-host slim mode

## Actual Behavior

dapr failed to connect to placement service

## Steps to Reproduce the Problem

1. dapr init -s
2. run C:\Users\xxx\.dapr\bin\placement.exe
`time="2021-09-03T11:36:14.6571088+08:00" level=info msg="starting D

[2021-09-03 09:04] beiwei30 commented on #3533
@artursouza I try to make postgresql to pass the test, pls. check  https://github.com/dapr/components-contrib/pull/1118#issuecomment-912381915

[2021-09-03 12:47] saber-wang commented on #3408
@yaron2  Any plans?

[2021-09-03 16:08] pkedy commented on #3586
Great point, @georgestevens99! I've added that to the list of non-goals.

[2021-09-04 08:02] #3464 closed

[2021-09-04 14:23] #3498 closed

[2021-09-04 17:19] #3442 closed

[2021-09-06 10:26] #3507 closed

[2021-09-06 12:59] ricardf commented on #3331
Is there any documentation with a similar scenario? (at least solving the connectivity side with consul and mTLS?)

[2021-09-07 01:24] daixiang0 commented on #3613
/assign

[2021-09-07 03:50] zhonghaochen opened #3622 "How do I call a service in minikube through dapr in my own development environment?"
How do I call a service in minikube through dapr in my own development environment? This service is in a computer on the LAN. Thanks!

[2021-09-07 03:54] #3622 closed

[2021-09-07 04:09] zarba7 opened #3623 "load balancing policies for invoking services"
## In what area(s)?

 /area runtime

## Describe the feature

How about support configurable load balancing policies for invoking services?

[2021-09-07 06:10] mjtansin commented on #3613
It's not a bug

[2021-09-07 06:33] daixiang0 commented on #3613
In fact it is a sync issue between CLI and runtime, the default port is different.

[2021-09-07 06:40] barrricade opened #3624 "Why does ERR_DIRECT_INVOKE occur. Run into error:err: failed to initialize resolver: socket 97"
## What version of Dapr?
1.3
#### Now dapr is deployed on the remote server,when i invoke my  app:

#### Then dapr return error:

#### But when dapr and app deployed on my other servers，return is right.
#### So I don’t understand what’s going on, and how to fix it

[2021-09-07 06:49] mikalst commented on #1621
I'm having this same issue. How was it "solved via docs"?

[2021-09-07 07:32] li1234yun commented on #3624
When you `linux server disabled the ipv6` will occur the problem, this may be a **bug**!

Check you grub config and convert `GRUB_CMDLINE_LINUX="ipv6.disable=1"` to `GRUB_CMDLINE_LINUX=""` , then you run `update-grub` and reboot! [Tested on Debian]

[2021-09-07 07:33] barrricade commented on #3624
thanks,brother

[2021-09-07 07:33] barrricade commented on #3624
thanks,brother

[2021-09-07 07:38] li1234yun commented on #3624
You are welcome :-)

[2021-09-07 07:59] li1234yun commented on #3602
Thank you! @yaron2

[2021-09-07 15:05] chenhongyi commented on #3488
Is there any way to get around the problem?

[2021-09-07 16:45] sheldonhull commented on #1621
@mikalst  just for reference, I did a full uninstall and reinstall of dapr, waited till it registered and then I was able to proceed. I'm not certain what happened, but so far I'm not having the same failures after teardown and rebuild of `dapr-system` namespace.

[2021-09-07 17:16] tanvigour opened #3626 "v1.4 Endgame"
Release Coordinator: @tanvigour
Release Buddy: @pkedy

Code freeze: 09/7/2021
Endgame starts: 09/7/2021
Release date: 09/14/2021

Release Tasks:
- [x] No P0 issues before code freeze.
- [x] Code freeze at 9:17 am 09/07.
- [x] E2E and perf tests are passing. (Known perf test failures, deemed not a blocker. Known E2E failure not a blocker). (@halspang)
- [x] Cut release-1.4 branch for component-cont

[2021-09-07 17:38] mikalst commented on #1621
I was just informed that this solved the problem for us also: Full reinstall of dapr.   No configuration change at all needed. Weird.

Thanks!

[2021-09-07 20:33] #3132 closed

[2021-09-07 22:24] CodeMonkeyLeet opened #3632 "Configure dlv-dap in install-go-tools.sh for devcontainer"
## In what area(s)?

kind/devExperience

## Describe the proposal
Visual Studio Code golang integration requires a debug adapter to be configured today as `dlv-dap`. Without it, an attempt to debug go apps or tests like daprd in VSCode will fail with a prompt to install `dlv-dap`.

The [install-go-tools.sh](https://github.com/dapr/dapr/blob/master/docker/custom-scripts/install-go-tools.sh) script

[2021-09-07 22:24] CodeMonkeyLeet commented on #3632
/assign

[2021-09-08 09:20] rojamajor opened #3636 "My Dapr application in self-hosted mode, how can I call Dapr application in Kubernetes mode through Dapr .NET SDK?"
My Dapr application in self-hosted mode, how can I call Dapr application in minikube mode through Dapr .NET SDK?

thanks！

[2021-09-08 14:20] kevinten10 commented on #3600
I did a split attempt in https://github.com/reactivegroup/cloud-runtimes-jvm

[2021-09-08 14:21] #3260 closed

[2021-09-08 14:40] aktxyz commented on #501
+100 for this feature !!  it sounds like something was presented or demo'd in a community call, any recollection which month?

[2021-09-08 15:09] yaron2 commented on #2988
Triaged into 1.5 :)

/cc @LaurenceLiZhixin @beiwei30

[2021-09-08 15:36] yaron2 commented on #501
https://youtu.be/5TTZV-HB10Y

[2021-09-08 18:33] theperm commented on #501
I just got round to watching the community call and reading this reply.

This approach has sender explicitly call the pubsub handler for an actor via proxy. The advantage here is you can call an Actor asynchronously, as was stated it creates an inbox for an actor. That is a good thing.
Because its explicit the producer knows where they will be sending, this is generally an event driven antipattern

[2021-09-08 18:48] halspang commented on #501
@theperm - Thanks for the feedback, answers are below!

As you state, we plan on having the ability to infer the actor id via the actor's configuration. This is the same configurations actors already provide with the added `pubsub` object.
[code]

This does require that the producer know to put the field into the message. Ideally, the field will already be there if we're working with an existing s

[2021-09-09 00:57] CodeMonkeyLeet commented on #3533
@artursouza Is there any reason that the postgresql component needs/wants to define the state store table as type `json` and not `text`? It doesn't seem to take advantage of that column type in the implementation anyway, and the use of `text` simplifies the fact that the conformance tests expect binary blobs are retrieved unmodified on `Get()`, which JSON would require to be base64-encoded (and no

[2021-09-09 10:07] theperm commented on #501
Great, that makes sense. I didn't originally pick up that the topic was for the new publish mechanism.

Yes you understand correctly. And as to your suggestion of what is technically possible today (skipping dynamic topics for now). I've built a .Net web controller (in the same process as the actor host) that subscribe to topics and then relay those to the actors by extracting ActorID from the mes

[2021-09-09 11:40] tilm4nn opened #3642 "Propagate arbitrary/configurable http headers from publisher to subscribers"
## In what area(s)?
/area runtime
/area docs

## HTTP request header propagation

It would be great if dapr sidecars used for pub/sub could be configured to forward certain headers from the publisher request to the subscriber request.

Example Use Case:
For collection of distributed traces in a microservice environment we use Datadog and for instrumentation of our Java-based micro services the Dat

[2021-09-09 11:40] tilm4nn opened #6075 "Propagate arbitrary/configurable http headers from publisher to subscribers"
## In what area(s)?
/area runtime
/area docs

## HTTP request header propagation

It would be great if dapr sidecars used for pub/sub could be configured to forward certain headers from the publisher request to the subscriber request.

Example Use Case:
For collection of distributed traces in a microservice environment we use Datadog and for instrumentation of our Java-based micro services the Dat

[2021-09-09 12:11] javageek79 commented on #2889
Hi @artursouza, we just applied the feature on our QA stage, where we hav multiple minreplicas. The migration warning in the logs, I can see multiple times. But I don't find any of the complete warnings. In the statestore, only the metadata entry is created.

Is there something  we need to take care of additionally or does the soloution deals with multiple cuncurrent migrations?

[2021-09-09 15:19] yaron2 commented on #3534
@denis111 would you be interested in submitting a PR for this?

[2021-09-09 15:23] yaron2 commented on #3642
Dapr supports arbitrary fields in a custom CloudEvents envelope, so theoretically the publisher can just add all those fields to the CloudEvent message and these would be visible to subscribers.

Does that meet your needs? https://docs.dapr.io/developing-applications/building-blocks/pubsub/howto-publish-subscribe/#sending-a-custom-cloudevent

[2021-09-09 15:23] yaron2 commented on #3623
Dapr uses Round Robin today.

Can you give examples of other policies you'd like to see?

[2021-09-09 15:27] yaron2 commented on #3600
Take a look at the issue here: https://github.com/dapr/dapr/issues/2817

Basically we're considering separating out the Dapr APIs from the implementation at some point. If that comes to pass, I imagine something like a Core API group might make sense. Feel free to join in the discussion in #2817.

[2021-09-09 16:13] orizohar commented on #3626
Docs endgame is tracked here: https://github.com/dapr/docs/issues/1764

[2021-09-09 16:56] artursouza commented on #2889
The code takes care of concurrent migrations. This issue has to do with how the code writes to the database since CosmosDB needs a partitionKey. I am fixing this now.

[2021-09-09 19:07] artursouza opened #3644 "Deploy CNCF's devstats for Dapr"
Provision CNCF's devstats for Dapr (CNCFs projects get included by default).

https://github.com/cncf/devstats

CNCF devstats instance: https://devstats.cncf.io

[2021-09-09 19:34] tilm4nn commented on #3642
When I add custom fields to the envelope do they arrive as HTTP request headers in the HTTP call from dapr sidecar to the subscriber? I am aware that I can manually read data from the envelope in the Java code of the subscriber but the Datadog Java agent instrumentation expects the tracing information in HTTP request headers. (Just the same way the OpenTelemetry Java agent does too, only other hea

[2021-09-09 20:25] #3512 closed

[2021-09-09 21:37] orizohar commented on #3492
v1.4 Endgame tracked in https://github.com/dapr/dapr/issues/3626

[2021-09-10 00:26] artursouza opened #3647 "Use Azure components in E2E test running on AKS"
Today, our E2E tests use Redis and Kafka only. When running on Azure (/ok-to-test), it should use Azure components instead. For PubSub, use Azure Service Bus. For State Store, use Azure CosmosDB.

The motivation for this work is that there are instances where a feature in daprd works with Redis but fails with other components - it can uncover a bug in the feature or in the component code.

For exa

[2021-09-10 00:36] artursouza commented on #2889
Fix is in the PR above. It will be part of the 1.4 release next week. Since this is a preview feature, this fix is specific to one state store and the 1.4 release is just around the corner, we don't plan to release a patch for 1.3. Please, let me know if this plan works for you.

[2021-09-10 02:11] saber-wang commented on #3642
I need the same function

[2021-09-10 02:12] artursouza opened #3651 "Delete shudown GET API, following deprecation"
Delete GET shutdown API as per deprecation notice:

https://docs.dapr.io/operations/support/support-release-policy/#announced-deprecations

[2021-09-10 02:33] daixiang0 commented on #3644
I think it is what CNCF does.

[2021-09-10 02:39] daixiang0 commented on #3651
/assign

[2021-09-10 02:58] artursouza commented on #3636
Dapr sidecar in standalone mode does not communicate with another Dapr sidecar in minikube.

Are you trying to debug you app while running it on minikube?

[2021-09-10 03:25] #3651 closed

[2021-09-10 04:17] daixiang0 commented on #3496
@artursouza @pkedy @yaron2 now CNCF sandbox project https://github.com/WasmEdge/WasmEdge has implemented what WASI miss.

[2021-09-10 05:12] daixiang0 commented on #3591
@artursouza @yaron2 https://app.fossa.com provide an easy way to add license check, just login and bind, then you can get a license checker with GH and status image via a PR, details refer to https://github.com/daixiang0/dapr/pull/2.

[2021-09-10 08:19] javageek79 commented on #2889
@artursouza, yes, this should be fine, thx

[2021-09-10 15:30] theonefx commented on #2918
@yaron2

[2021-09-10 17:40] artursouza commented on #3028
We have not observed this issue anymore. Closing it.

/cc @wcs1only

[2021-09-10 17:40] #3028 closed

[2021-09-10 17:54] ItalyPaleAle commented on #3332
👋 @dapr-bot

[2021-09-11 15:30] AlseinX commented on #1339
Disappointed to see the postponement of the most important feature that makes dapr minimum usable for most projects.

[2021-09-12 00:08] Taction commented on #3216
/assign

[2021-09-12 10:26] sep2 commented on #3469
Could anyone help add a tag to this issue?

[2021-09-12 11:22] zhonghaochen commented on #3636
For example, there are 5 developers in the office, and each person is responsible for a microservice. How do these 5 people call each other's services in the development environment?

[2021-09-12 11:23] zhonghaochen opened #3656 "For example, there are 5 developers in the office, and each person is responsible for a microservice. How do these 5 people call each other's services in the development environment?"
For example, there are 10 developers in the office, and each person is responsible for a microservice. How do these 10 people call each other's services in the development environment?

thanks！

[2021-09-12 14:31] Taction commented on #3216
The direct reason is because when json parses DefaultStatus, [a string value is parsed into int type](https://github.com/dapr/components-contrib/blob/master/middleware/http/opa/middleware.go#L194). [Daprd just ignored the error and returned a nil handler](https://github.com/dapr/dapr/blob/master/cmd/daprd/main.go#L474).

[2021-09-12 16:50] aredier commented on #2682
did you have any luck managing to make dapr work with argo workflows? having the same problem.

[2021-09-12 17:40] artursouza commented on #1339
We are actively working on it. @dmitsh will soon share a proposal for this. I tagged to 1.6 since it is the target to get it done given the priorities we have in 1.5 and the time to collect feedback on the proposal. We understand this feature as a top priority for this semester.

Thanks.

[2021-09-12 19:49] ovebastiansen opened #3658 "Dapr actor TTL in general"
Hi,

We have started using dapr with a keen interested of using the actor framework. We have also choosen Cosmos db as our store, both for actor state and other storage requirments for all of our "hot" data.

Now we have a requirement that we are hoping to solve with a "short-lived" actor. It gets a request and generate some state for that actor, and in case it get another request on that id in th

[2021-09-13 03:08] daixiang0 commented on #3591
There are lots of dependencies without licenses, as https://app.fossa.com/projects/git%2Bgithub.com%2Fdaixiang0%2Fdapr/refs/branch/master/5ad3b79a5ea607cde92e7d087c75d2f99a766f34/issues/licensing?filter=unlicensed_dependency&revisionScanId=6001899.

[2021-09-13 04:19] zarba7 commented on #3623
especially,  consistent hash. Use hash keys provided from metadata.

[2021-09-13 04:56] msfussell commented on #1002
Reopening issue, since this still needs to be reviewed. This also would be related to issue #3658

[2021-09-13 05:01] msfussell commented on #3656
In future, the best place to ask questions like this is on the Dapr Discord channel. There are more people answering questions there

Your choices are
1) Push code to a repo and sync changes to the repo onto each machine to test locally
2) Deploy to a test environment via a dev/ops pipeline, such as a K8s cluster and use observability logs to see the interaction. You need to do anyway for pre-prod

[2021-09-13 05:03] msfussell commented on #3596
You currently need to use the CosmosDb client to perform any queries on the data as @daixiang0  describes

[2021-09-13 05:03] #3596 closed

[2021-09-13 05:17] JasonTheDeveloper commented on #2682
We had a similar issue too. Long story short, you need deploy your workload as a job much like how it is done in the [Kubernetes Resource](https://github.com/argoproj/argo-workflows/blob/master/examples/README.md#kubernetes-resources) example. There's a bit of a trick to get the job to actually complete gracefully (the dapr sidecar remains active even after the job is done, preventing the job to c

[2021-09-13 06:27] #3516 closed

[2021-09-13 06:46] ovebastiansen commented on #1002
Does this mean, that if I call the delete action on actor api, I still need to go around and figure out how to delete state from the state store myself?

[2021-09-13 15:01] yaron2 commented on #3216
Added to 1.5 milestone.

[2021-09-13 16:13] fabistb commented on #3472
As a suggestion.
Would it be an option to change from an opt-out to an opt-in behavior?
Instead of reacting to the 404 - StatusNotFound to unsubscribe don't subscribe to any event by default and react to a 200 - OK to subscribe?

[2021-09-13 17:36] pkedy opened #3660 "Handle if the app is not completely started when checking for subscribed input bindings"
Users on Discord have reported the that their apps are not receiving events from bindings until they restart it a few times. This is likely because `daprd` initialized faster than the application. Dapr's runtime should handle the case when it comes up faster than the application and thus the HTTP OPTIONS or gRPC call fails.

/area runtime

## What version of Dapr?

0.X - 1.4

## Expected Behavior

[2021-09-13 20:45] calebcartwright commented on #3435
hang in there @dapr-bot, think we may take a pass at trying to implement this in the near future

[2021-09-14 05:00] dmitsh opened #3662 "State Store Query API"
## In what area(s)?

/area runtime
/area docs

## Describe the proposal
This proposal is a follow-up on #1339

This is a proposed design of the API for querying the **state store**.

:exclamation: ***Note:*** The purpose of this API is to provide the means for querying the state in a **state store**. This is **not** a generic database query API.

This design is split into 3 independent parts:
1. S

[2021-09-14 07:21] javageek79 commented on #2889
We still face some issues on our QA stage.

1. As partiotions can only be in creased, we started with a lower number of partiotions. Unfortunatelly, the number was too small, so that we ran into the same "Request size too large" issue in some of the partiotions. When increasing the number of partitions in such a state, the migration fails due to the same "Request size too large" error.

2. We trie

[2021-09-14 08:29] denis111 commented on #3534
@yaron2 I've submitted a PR. I've already tried it and it worked fine, pods are scheduled on tainted nodes.

[2021-09-14 17:30] artursouza commented on #1339
@AlseinX Please, take a look at the Query State API proposal in #3662

[2021-09-14 17:46] yaron2 commented on #3662
Thanks, generally this looks good.

The one concern I have is with the using facing `.filter` mechanism. It might be a tad overly simplistic. I'd like to consider ANSI SQL instead with clear definitions on which constructs are supported. The benefits of this are:

1. A known SQL query
2. Ability to expand to more SQL features over time (not doable with the current implementation).

wdyt?

[2021-09-14 20:27] jjcollinge commented on #3662
Thanks for the initial proposal - I need some time to form my thoughts but one thing I'd like to raise upfront would be the need for a way to `select` what columns/properties are to be return rather than assuming all. Appreciate we want to narrow the scope as much as possible here but I'd think this would be a required feature for any column-oriented databases.

[2021-09-14 22:15] fbridger opened #3664 "Subscribe to the same Topic from multiple routes in the same Application"
## In what area(s)?

/area runtime

## Describe the feature

Currently, the Dapr SideCar does not allow to subscribe from multiple routes to the same Topic.

I was under the assumption that this basic scenario was obviously supported but I recently found out that it is not.
Seems odd that we can't subscribe multiple/different endpoints to the same Topic from the same Application.

## Scenario to s

[2021-09-14 23:08] CodeMonkeyLeet commented on #3662
@dmitsh a couple of clarifications on the proposal:

- Is this API intended to only ever provided filtering functionality? (i.e. supporting `LIKE` or `OR`, or even more general ANSI SQL query semantics would be implemented on a different non-break API in the future). The encoding of the query request into separate structures suggests it would be hard to extend the supported syntax/query features w

[2021-09-15 00:34] yaron2 commented on #3664
@pkedy is that by any chance supported now in 1.4?

[2021-09-15 00:41] artursouza opened #3665 "Sidecar crashes when dapr operator is down in 1.3.0"
In 1.3.0, when Dapr Operator is down (can be when upgrading to 1.4, for example), it causes all Dapr sidecars in the cluster to crash due to this change: https://github.com/dapr/dapr/commit/2a4fde2c0280739e1091cf2b9b2e0cdabbb04c7a#diff-c4abdec7bd505d8a03b365a244374fd9cde3fd5b69976d463896b3d1c171772d

To workaround that, use 1.3.1 sidecar injector instead and perform a rolling restart of your deplo

[2021-09-15 01:08] daixiang0 commented on #3665
Fixed by #3666

[2021-09-15 01:13] daixiang0 commented on #3662
My concern is that modern SQL servers use their own protocols to achieve high performance of SQL executions, after this there may be a loss for performance, wdyt? @dmitsh

[2021-09-15 01:18] pkedy commented on #3664
I think what @fbridger is looking for is multiple event handlers to be invoked for a given message/event. For better or worse, that is not how the new PubSub routing feature works.  It uses rules to select 0-or-1 handler in code. Per the thread in the dotnet sdk, that was the silent behavior prior to this feature as well.

The concern I have with invoking multiple controller methods in the applica

[2021-09-15 01:52] ewassef commented on #3513
Any chance we can tag, pin or triage this @yaron2 ?

[2021-09-15 02:20] fbridger commented on #3664
@pkedy When developing event driven applications, many times you want an event to be processed by multiple consumers. I believe this is currently fully supported by Dapr but you need to consume this event (subscribe to the Topic) from different applications.

Using diagrams from Dapr Docs

## Supported
![image](https://user-images.githubusercontent.com/6483000/133358255-e40c7983-422c-40b7-aad6-0cb

[2021-09-15 02:37] artursouza commented on #3591
LGTM. Does the tool allow an exception to ignore some of the dependencies? We can check those manually to make sure we are safe before putting in as an exception. But, in case a new dependency is added without a license, then the check should fail for new violations.

[2021-09-15 02:47] daixiang0 commented on #3591
It supports I thnk as https://github.com/fossas/spectrometer/blob/master/docs/reference/fossa_yml.md#targets.

[2021-09-15 05:33] yaron2 commented on #3513
I triaged this for 1.6 unless someone picks this up for 1.5.

[2021-09-15 07:11] jjcollinge commented on #3664
I may not fully understand the issue/use case here so please forgive my ignorant questions. Does Dapr _actually_ need to invoke both routes on your app or can you simply have a single route that invoke both bits of functionality? The thing to consider here is that currently the Dapr sidecar will only receive a single message from the broker and then would have to invoke 2 routes on your app - so i

[2021-09-15 08:26] fbridger commented on #3664
Obviously, the app could internally invoke both bits of functionality. However, by doing this, we are loosing all the benefits that pubsub provides, like the ability to distribute those 2 independent messages (or even more) between the different instances of the application or, most important, retry logic in case of unexpected failure.

To get around this, we are currently receiving that event `B`

[2021-09-15 12:08] krutsko opened #3667 "Failed to init state store on EKS with error: "/.kube/config: no such file or directory""
Hello
I'm running Dapr `1.3.0` on EKS cluster `1.19` and getting the following error on `daprd` logs:
`failed to init state store secretstores.kubernetes/v1 named kubernetes: stat /.kube/config: no such file or directory`

Could you please suggest how to debug this issue?

dapr-system:
[code]
components:
[code]

daprd logs:
[code]

[2021-09-15 12:50] theonefx commented on #2940
My thoughts on this issue are as follows:
1. Each Microservice application use it's own module config. In your case, the daprd of state-manager application will not load the pub/sub module at all. @kamesh1677
2. Provides a mechanism for sending messages from applications to daprd to decide which modules to start.

---
In the suggestion 2, we can  enhance the “runtime.loadAppConfiguration()” method

[2021-09-15 15:41] tanvigour opened #3668 "Github release automation: Release note scripts"
Release notes generation script should also take care of unassigned issues either by assigning the owners or if the owners are not assignable - adding them to acknowledgement list in the notes automatically.

Another good addition would be to link the release tag creation process with automatic release note script generation, so that we don't have to keep generating the script each time new releas

[2021-09-15 17:28] pkedy commented on #3664
@fbridger, You get bonus points for drawing pictures!

In the scenario where the handlers are completely insulated from each other, could you not create a different pubsub config with a different consumerID? The message would be delivered to each handler and each would have their own independent acknowledgment/offset marking. It's really the same configuration as if it were a separate application.

[2021-09-15 17:40] artursouza commented on #3662
SQL query is beyond what a generic state store can process (JOIN, for example). I like that we start with a simple expression tree. DynamoDB started that way and recently introduced PartiQL as a custom built query language that matches the feature set of the database.

I think we should consider adding a query language later on but not in this iteration.

[2021-09-15 20:13] fbridger commented on #3664
@pkedy
_" could you not create a different pubsub config with a different consumerID?"_
Are you thinking something like this:

File: `redis-pubsub-appA-group1.yaml`
[code]

File: `redis-pubsub-appA-group2.yaml`
[code]

Application would then exponse in GET /dapr/subcribe
[code]

[2021-09-15 20:49] pkedy commented on #3664
@fbridger Yes, precisely!

Only detail I'd add is to be know that you can also limit which apps use a component configuration using `scopes`.

https://docs.dapr.io/operations/components/component-scopes/#application-access-to-components-with-scopes

[2021-09-15 21:22] aktxyz commented on #2050
still think this is a good idea ... so posting something to "unstale" it :)

[2021-09-16 00:44] seeflood commented on #3549
sorry for not replying ,I will improve this proposal according to above discussion after finishing my work. So don't close it 😢

[2021-09-16 04:33] dmitsh commented on #3662
Thank you all for reviewing this proposal. This is still work in progress, and I will keep updating the content.
Since `GitHub issues` does not support revisions, I will do my best to make localized/focused changes at a time.
Per @CodeMonkeyLeet suggestion, I renamed it to "State Store Query API".
Also, I updated the introduction and the first section "Syntax of the query request".
Please review a

[2021-09-16 07:44] tangly1991 opened #3674 "希望官方针对visual studio编辑器专门增加个快捷项目创建"
按照官方文档来创建的项目根本运行不了
提供的demo也一样不能运行
还不如针对vs2019增加个快捷创建，把所有的配置都交给编辑器管理，而不是人工
本来是冲着不用配置才来使用的，搞到后面，配置的东西一大堆，还不能成功运行

[2021-09-16 12:04] gbarceloPIB commented on #3571
It happens the same with rancher registered accounts that are given permissions in dapr's cluster. Resulting in those accounts blocked so they cannot schedule any pod...

[2021-09-16 15:25] yaron2 commented on #3571
@gbarceloPIB or @daixiang0 would you like to submit a PR to fix this?

[2021-09-16 15:48] aktxyz opened #3675 "retriable pubsub error should include the topic in the logging"
It sure would be nice if the logging of pubsub delivery errors would include the topic.  Right now the cloudevent id field is included ... not as convenient as knowing which topic has the issue.

https://github.com/dapr/dapr/blob/694fbd4ebb73e51fcfcefb7a22bb49b0ace5082d/pkg/runtime/runtime.go#L1406

Here is an example of the log output currently ... would it be possible to add "topic xyz" to this

[2021-09-16 16:58] msfussell commented on #3644
Yes, this is done by CNCF, once Dapr is accepted into it.

[2021-09-17 00:22] berndverst opened #3685 "v1.5.0 Release Planning"
Release Coordinator: @berndverst
Release Buddy: @halspang

Code freeze: 11/3/2021
Endgame starts: 11/4/2021
Release date: 11/11/2021

Milestones in scope for this release:
Dapr: https://github.com/dapr/dapr/milestone/11
Python-SDK: https://github.com/dapr/python-sdk/milestone/4
JS-SDK: https://github.com/dapr/js-sdk/milestone/1
CLI: https://github.com/dapr/cli/milestone/6
PHP-SDK:
Docs: https://gi

[2021-09-17 00:47] daixiang0 commented on #3548
Still need.

[2021-09-17 00:50] daixiang0 commented on #3674
Please try dapr/quickstart first.

[2021-09-17 03:31] #3674 closed

[2021-09-17 07:59] theonefx commented on #2940
As my suggestion 2, i submit a PR https://github.com/dapr/dapr/pull/3688

[2021-09-17 07:59] daixiang0 opened #3689 "[Proposal] file upload/download API"
/area runtime

## Describe the proposal

Here's a very initial rough draft to iterate on:

File upload/download is common in web applications, developers need to consider:
- how to transform files, need to verify them?
- where to store, local or remote store?

Maybe dapr can do this, applications only need to invoke and bypass the file stream.

API likes this:
[code]

We can set a store when init

[2021-09-17 12:51] theonefx commented on #3488
It's complex, daprd use a `AppChannel` to communicate with application. If using http and grpc at same time, we need to know which channel to use in different scenarios.

[2021-09-17 17:58] #3216 closed

[2021-09-17 17:59] #3632 closed

[2021-09-17 18:06] artursouza commented on #3514
I think this is about an optimization to avoid calling the backing service multiple times. Issue dapr/components-contrib#1037 is about local development.

[2021-09-17 18:08] artursouza commented on #3514
Considerations for working on this issue:
- In-memory cache must be encrypted.
- Cache TTL must be configurable via component metadata.
- Allow getSecret API to invalidate the cache entry (force retrieve)

[2021-09-18 10:14] geffzhang commented on #3571
The installation of dapr 1.4 ha, when installing other helm packages, also gets this error：

admission webhook "sidecar-injector.dapr.io" denied the request: service account 'system:serviceaccount:cattle-system:rancher' not on the list of allowed controller accounts

[2021-09-18 10:40] geffzhang commented on #3571
Fall back to version 1.3.1 and the issue disappears

[2021-09-18 10:47] Tokumicn opened #3690 "Excuse me, Where is dapr sidecar source code ?"
## In what area(s)?

## Ask your question here

Excuse me, Where is dapr sidecar source code ?

[2021-09-18 16:15] #3531 closed

[2021-09-19 01:37] yaron2 commented on #3690
pkg/runtime

[2021-09-19 01:37] #3690 closed

[2021-09-19 17:07] #3542 closed

[2021-09-19 19:13] tanekim77 opened #3691 "Custom Dapr Middleware Without Pull Request"
In some cases, we need to create dapr middleware that need company specific codes, that are not useful for the general public, and sometimes not appropriate to be exposed due to legal reason. Currently, only way to implement dapr middleware seems to be to request Pull Request, and once merged, it will be available to general public.
It would be great if dapr allows running custom middleware that d

[2021-09-20 18:27] pkedy opened #3693 "PubSub routing fails when using `event` more than once"
I ran into an issue with the following CEL expression for PubSub Routing.

`has(event.data.important) && event.data.important == true`

Using `event` more than once causes an error because it tries to compile an underlying CEL program with the variable defined multiple times.

## What version of Dapr?

1.4.0

## Expected Behavior

The `event` variable should be able to appear in the CEL expression

[2021-09-20 21:45] dazinator commented on #635
Any updates to this?

[2021-09-20 23:57] #3693 closed

[2021-09-21 00:24] artursouza commented on #3613
Reopen since fix created a regression in tests on Win K8s.

[2021-09-21 04:09] Aditi33 commented on #3596
@msfussell & @daixiang0, thank you for helping me here. We have taken approach to use cosmos client for query executions. and basic CRUD operations with Dapr.

[2021-09-21 16:30] wcs1only commented on #3031
We believe we've root caused this to races between the publisher and the subscriber. We believe that #3614 should fix this.

[2021-09-21 16:59] artursouza commented on #3031
Closing in 1.4. Thanks.

[2021-09-21 17:43] avvijeet commented on #3696
@wcs1only  I had verified the missing patch request by walking through the proto file.
Anyways thanks for the fix.
When will this change roll out?

[2021-09-21 18:27] fraozy opened #3699 "Sidecar-injector.dapr.io admission webhook deny access to AKS nodes"
## In what area(s)?

 /area runtime

## What version of Dapr?

1.4.0 (chart: dapr-1.4.0)

## Expected Behavior
Using recommended Azure procedure, I should be able to connect to AKS nodes (https://docs.microsoft.com/en-us/azure/aks/ssh).

## Actual Behavior
Tried to connect to a worker node of my AKS, using the recommended command (**kubectl debug node/_<node name>_ -it --image=mcr.microsoft.com/ak

[2021-09-21 20:27] karolz-ms opened #3700 "Should Dapr provide an endpoint for structured application logging?"
The benefits of structured logging (searchability, avoiding data parsing errors etc) are well-known. Most logging libraries, log shippers such as fluentD, and log storage/indexing systems preserve and use log structure. The weak link is the way how application logs are captured: from the standard output of the service container. This requires the log scraper/shipper to parse the data, making the w

[2021-09-22 01:38] #3696 closed

[2021-09-22 02:17] #3571 closed

[2021-09-22 02:24] artursouza commented on #3613
The fix (IMO) should be to only use port 50005 and remove any logic that uses port 6050.

The port 6050 seems to be referenced only in the CLI code: https://github.com/dapr/cli/search?l=Go&q=6050

/cc @yaron2 Do you remember why (at some point) we decided to use port 6050 for placement on Windows? This logic is currently only present in CLI and is causing issues in slim mode.

[2021-09-22 02:25] wcs1only commented on #3696
@avvijeet This will be in our 1.5 release (which does not yet have a public target date). You can watch https://github.com/dapr/dapr/issues/3685 to track the progress of the release.

[2021-09-22 02:45] daixiang0 commented on #3700
Maybe not an endpoint, but a flag for structured logs.

[2021-09-22 02:46] daixiang0 commented on #3699
Similar as https://github.com/dapr/dapr/issues/3571

Could try this https://github.com/dapr/docs/pull/1799?

[2021-09-22 02:48] melodicdeath opened #3701 "middleware.http.opa Error at dapr run: invalid memory address or nil pointer dereference"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

Normal start

## Actual Behavior

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x15a444d]

goroutine 1 [running]:
github.com/dapr/dapr/pkg/middleware/http.Pipeline.Apply({{0xc000cafa30, 0x17, 0x368d6ff}}, 0x4)
        /home/runner/work/dapr/da

[2021-09-22 02:52] #2984 closed

[2021-09-22 07:11] Taction commented on #3701
Thanks for reporting it. Duplicated with #3216, has been fixed but hasn't been fully merged. And you may see it soon.

[2021-09-22 08:08] foreverddong commented on #3636
From what I understand, you'll need some kind of external service discovery components if you want to call services that are hosted in different modes. (in your case kubernetes -> self-hosted). I would first take a look at https://docs.dapr.io/reference/components-reference/supported-name-resolution/setup-nr-consul/ for reference

[2021-09-22 08:13] stefanJ-hub commented on #3699
by looking into: https://github.com/dapr/dapr/issues/3571#issuecomment-922256942

i could get the impression that 1.3.1 did not have this.
AND milestone has been added for 1.5 (https://github.com/dapr/dapr/milestone/11)

could this also be brought to a 1.4 hotfix?
we do NOT want to go to 1.3 and 1.5 is too far ahead

[2021-09-22 10:56] wenxuwan opened #3702 "[Proposal] file API"
Does dapr plan to increase the API for file operation? It can realize the basic addition, deletion, modification and checking operations of files。The interface looks like the following

    // Get file with stream
      rpc GetFile(GetFileRequest) returns (stream GetFileResponse) {}

      // Put file with stream
      rpc PutFile(stream PutFileRequest) returns (google.protobuf.Empty) {}

      //

[2021-09-22 16:13] SamuelMcAravey commented on #3699
We are seeing the same error being triggered by cert-manager trying to verify a TLS endpoint with Let's Encrypt:

`admission webhook \"sidecar-injector.dapr.io\" denied the request: service account 'system:serviceaccount:cluster-svcs:cert-manager' not on the list of allowed controller accounts`

Reverting to 1.3.1 worked, but this means we can't upgrade to 1.4.0 until this issue is resolved.

[2021-09-22 16:17] yaron2 commented on #3699
/cc @artursouza @msfussell

This might warrant a 1.4.1 with notes that call to upgrade if this error is encountered.

[2021-09-22 16:23] yaron2 commented on #3549
Not closing @seeflood, this is a good proposal and I would like to have this in 1.5 if possible.

[2021-09-22 16:34] yaron2 commented on #3699
@SamuelMcAravey we will release a 1.4.1 hotfix today.

[2021-09-22 16:52] artursouza commented on #3699
I am cutting a hotfix now for this. We will have 1.4.1.

[2021-09-22 17:17] yaron2 commented on #3699
You can try the :edge version now if you want as it contains the fix. Will help us validate.

[2021-09-22 17:22] artursouza commented on #3549
Pinned to avoid closing by stale bot.

[2021-09-22 19:36] yaron2 commented on #3699
We need to understand why the cert manager service account is showing up here.

[2021-09-22 19:37] fraozy commented on #3699
I also tried here on my end and still the same issue. I tried to follow the steps documented at dapr/docs#1799 as a workaround, but it did not worked.

[code]

I tried to create a serviceaccount called 'masterclient' (the one "sidecar-injector.dapr.io " is complaining) and added it at a clusterrolebinding (binding with clusterrole dapr-operator-admin), but the error continue.

[code]

 Tried to mo

[2021-09-22 19:38] yaron2 commented on #3699
@SamuelMcAravey I just want to make sure: are sidecars not getting injected, or is the issue just these error messages showing up in the logs?

[2021-09-22 19:53] SamuelMcAravey commented on #3699
No sidecars are being injected with the cert-manager containers. We have it annotated to include `dapr.io/enabled: "false"` on those just to be sure.

From what I can tell cert-manager makes use of the admission webhooks to spin up the resources needed for cert-manager. It looks like with Dapr 1.4.0 there was a new webhook introduced which is failing when looking at the service account. That appea

[2021-09-22 21:36] berndverst commented on #3311
/assign

[2021-09-22 22:13] yaron2 commented on #3699
Alright, elevating this to P0 status.

[2021-09-22 22:14] yaron2 commented on #3699
Alright, elevating this to P0 status.

[2021-09-22 23:30] pkedy commented on #3699
I confirmed that the latest commit to `master` (bb97511fc20ecf2863b36e002ef887e9f3a63b41) fixes the issue
![image](https://user-images.githubusercontent.com/714039/134433033-0594059b-2046-4aa7-a0a2-18db96a94237.png)

I confirmed using the following build/deploy steps between `master` and `0b105361c1ba47910c33bf388506f3f877e53258`.

[code]

I also discovered that if I comment this issue out in 1.4.

[2021-09-23 02:03] daixiang0 commented on #3702
Looks that cover https://github.com/dapr/dapr/issues/3689.

/CC @artursouza @pkedy

[2021-09-23 02:18] #3374 closed

[2021-09-23 03:00] tieudaotu90 opened #3704 "Cannot call API with large header"
## In what area(s)?

/area runtime

## What version of Dapr?

Version 1.2.2

## Expected Behavior

2 Microservices communicate with each other with using DapR sidecar successful as same as directly communication

## Actual Behavior

If any header field is over 3818 Byte , we got error **431 Request Header Fields Too Large.**

## Steps to Reproduce the Problem

* Install Dapr
* 2 Microservices that

[2021-09-23 03:12] yaron2 commented on #3704
@daixiang0 can you please check what setting we need to expose or change to fix this?

[2021-09-23 03:46] daixiang0 commented on #3704
@tieudaotu90 did you test with many kinds of data sizes and confirm 3818 is a limit? Could you share the request which result in this error?

It often produces when:
- request URL is too long
- too many cookies sent in the request

Also you said that the error occur in the microservice logs, does microservice limit this size?

[2021-09-23 04:38] tieudaotu90 commented on #3704
@daixiang0 Here is my scenario:
- Postman client call to MS2 , and then MS2 forward this request to MS1 (include the header from Postmant client).
- I was put a Http header called Authorization (just for testing , I dont use any data in this field).
- Both Microservices (spring boot) has config **server.max-http-header-size=48000**   (I was test without DapR, larger header is not problem )

In Pos

[2021-09-23 04:46] daixiang0 commented on #3704
Do you test without Dapr? 500 means error is from MS.

[2021-09-23 04:52] tieudaotu90 commented on #3704
yes, without DapR with the same postman testcase. this show OK.
500 mean http status = 500 from MS2 return to Postman. we don't need to pay attention to this place.
431 means error is from MS1 return back to MS2 and only occur if communication with DapR sidecar.

[2021-09-23 05:21] daixiang0 commented on #3555
@CodeMonkeyLeet could we add a TODO list to track all things?

[2021-09-23 06:04] daixiang0 commented on #3704
I test with https://github.com/dapr/quickstarts/tree/master/hello-kubernetes:
[code]

So I think it may be spring cloud issue, sorry that I am not familiar with it.

[2021-09-23 06:13] tieudaotu90 commented on #3704
I was read this page, but it's seem the Authorization is not used to forward from Python-Pod to Node-Pod.
Your test case is normal case that call from client to a Pod and then return result (this is Rest API - HTTP,   Authorization will not forward to other Pod).
Could you try to forward the Authorization header between 2 pods ?

[2021-09-23 06:17] daixiang0 commented on #3704
Need time to create this case, could you share dapr logs for this?

[2021-09-23 06:27] tieudaotu90 commented on #3704
Where log you need to view, is sidecar log ? And if you don't mind, can you tell me how to enable dapr debug log

[2021-09-23 07:50] Taction commented on #3704
@daixiang0 This may be a problem related to fasthttp. It has a `ReadBufferSize` parameter, which limits the maximum header size. And its default value is 4096.

[2021-09-23 08:32] saber-wang commented on #3704
I also have this problem #3408

[2021-09-23 10:53] HongjiangHuang opened #3705 "helm charts dashboard ingress"
I would like to know why [dapr_dashboard charts](https://github.com/dapr/dapr/tree/master/charts/dapr/charts/dapr_dashboard/templates) does not support ingress.

[2021-09-23 17:55] yaron2 commented on #3699
@SamuelMcAravey the fix is out with `1.4.1`.

[2021-09-23 18:03] CodeMonkeyLeet commented on #3555
@daixiang0 I don't think there's enough clarity at the moment to break this down into portable task items. Per the description the proposal, the next step is to specify/design the `Init()`/`Close()` contract that daprd expects each of its components to implement, which is not explicitly documented today. There are some considerations there that probably need to be expanded into a guidance proposal

[2021-09-23 23:30] georgestevens99 commented on #3664
Here is the same comment I posted to the bug .NDT-SDK #752.  It may be relevant to your work on this.

FYI A long, long time ago, before 1.0.0 was released, I did a test using the Dapr .NET SDK to verify that pubsub using both redis and Azure Service Bus Topics did indeed support multiple subscribers. I clearly remember this because I had to add a 3rd service (ServiceC) to my 2 service (ServiceA a

[2021-09-23 23:50] artursouza commented on #3658
First, regarding the removal from placement service. Actors are virtual but there is no record of it in placement service. Placement service keeps tracks of which dapr sidecars are available to process actors for a given actor type. But, an actor is kept active (with state cached in memory) while it is active. You can configure how long actors deactivate in Dapr.

Now regarding the state saved. I

[2021-09-23 23:56] artursouza commented on #3658
If you really want to delete the record in the database due to inactivity, you can use a reminder with a trigger > 3h and check if the record is logically expired.

[2021-09-24 00:47] fbridger commented on #3664
@georgestevens99 Dapr does supports multiple apps to subscribe to the same event.

The limitation (as described in the diagram) is allowing the same app to subscribe from multiple routes to the same event.

@pkedy has suggested a workaround for this but it does require one additional pubsub config yaml to be created for each route that wants to receive that event.

Hopes this clear things a little

[2021-09-24 00:58] georgestevens99 commented on #3664
@fbridger Thanks.  From quickly reading the comments on your bug I was fearful that the ability to support multiple subscribing apps had disappeared, so I responded.  Glad to hear that!

[2021-09-24 01:11] georgestevens99 commented on #3700
While I believe it is a waste of resources for Dapr to reinvent logging, I also believe it is an excellent use of resources for Dapr to ENRICH logging, namely through supporting a service (app) to use structured logging that makes dealing with distributed systems so much easier.  If feasible, this will add a lot of value to Dapr.

I encourage doing a feasibility study, starting with Serilog, and c

[2021-09-24 02:51] #3580 closed

[2021-09-24 07:49] lizzzcai commented on #3699
Hi @yaron2, I am still facing a similar error on `1.4.1`.

error message:
[code]

[2021-09-24 12:19] yaron2 commented on #3699
Thanks for reporting.

/cc @pkedy @wcs1only @artursouza

[2021-09-24 15:05] abertonica commented on #1181
@yaron2 Does this imply that daprd communication cross namespace is impossible, not only for components, but for all services with sidecars? Further, is this part of the reason ingress controllers are seeming unable to communicate with their respective sidecar?

[2021-09-24 15:11] yaron2 commented on #3699
Is the pod getting created without the Dapr sidecar, or is the pod not created at all?

[2021-09-24 15:45] yaron2 commented on #1181
sidecars can communicate across namespaces: https://docs.dapr.io/developing-applications/building-blocks/service-invocation/service-invocation-overview/#namespaces-scoping

[2021-09-24 17:12] abertonica commented on #1181
Apologies, I see. I am just trying to figure out why my controller traffic never makes it to daprd.

[2021-09-24 17:24] artursouza opened #3708 "Create unit test for admission control"
We had two bug fixes in 1.4, both related to a change in admission control handler. We must write unit test to validate the expected behavior, so changes do not create a regression. Testing all the scenarios end-to-end is ideal, but we should at least have unit test for the `handleRequest` method in `pkg/injector/injector.go`.

[2021-09-24 17:29] artursouza commented on #3708
The unit test should catch the bug fixed in this PR: https://github.com/dapr/dapr/pull/3707/files#

[2021-09-24 19:31] abertonica commented on #1181
@yaron2 can the first 12 minutes of this dapr community video be replicated today?? https://www.youtube.com/watch?v=8W-iBDNvCUM

Other than the updated dapr annotation names...

[2021-09-24 19:38] artursouza commented on #3699
Tracking this as a new issue since the original problem reported was fixed in 1.4.1.

[2021-09-24 19:38] #3699 closed

[2021-09-24 19:40] artursouza opened #3709 "OpenFunction does not work in Dapr 1.4.0 or 1.4.1"
As per https://github.com/OpenFunction/samples/issues/16, Dapr 1.4.0 or 1.4.1 does not work and gives the following error (reported by @lizzzcai):

error message:
[code]

[2021-09-24 20:31] artursouza commented on #3533
There are two aspects here. First, is that the components API does not have a content-type header and it handles values as interface{}. Ideally, the value should be byte[] with content-type specifying which value it is. Then the database component can decide how to handle based on the type.

The second thing is how each component choses to save data. CosmosDB has special logic to parse binary data

[2021-09-24 21:21] artursouza commented on #3699
@lizzzcai Please, try 1.4.2-rc.1 and let us know if it addressed the issue. Then we will cut 1.4.2 release.

[2021-09-24 21:27] ovebastiansen commented on #3658
Triggers is another issue as well, since we are spotting "empty" rows in the database on triggers that have triggered and are now removed. Does not seem that the trigger row is completely removed when deregistered.

So the recommendation is to set up a trigger to invoke the actor and then delete the state and that would completely remove all records of that actor ever existing in all of dapr store

[2021-09-24 23:14] artursouza commented on #3709
This issue seems to be related to Dapr 1.4.x + Tekton since @pkedy did not reproduce the bug with 1.4.0 or 1.4.1, following the OpenFunction sample.

[2021-09-25 00:29] artursouza commented on #3662
By looking at the PR, I noticed that it does not handle 2 scenarios:

1. Prepared statements: to avoid SQL injection at the component level, the Visitor interface should also return the map of key-value pairs. Does CosmosDB support prepared statement in their client interface?
2. Native filter object: by looking at the MongoDB implementation, it feels like the filter object could be generated via

[2021-09-25 03:28] dmitsh commented on #3662
@artursouza , how do you envision HTTP API for prepared statements? Will both the statement and the parameters be passed as part of the HTTP request? If so, this won't mitigate SQL injection.

[2021-09-25 13:09] lizzzcai commented on #3709
https://github.com/dapr/dapr/issues/3699#issuecomment-926926252

Hi @artursouza and @yaron2. Thanks for your amazing response and quick fix. I just tried out `1.4.2` and the issue is fixed.

[2021-09-25 15:57] artursouza commented on #3662
The HTTP API does not have this problem. This is about the query to the database.

[2021-09-25 17:01] dmitsh commented on #3662
I'm not designing an API to a database. I'm designing an API that provides a generic way to send a query to  any statestore component.
The statestore component, in turn, will have to implement this API and leverage an existing native database API to run the query.

In my PR https://github.com/dapr/components-contrib/pull/1153 I have added querying functionality to `cosmosdb` and `mongodb`. The `co

[2021-09-25 19:57] withinboredom opened #3713 "Unusually high CPU utilization waiting for app to come up"
## In what area(s)?

 /area runtime

## What version of Dapr?

<=1.4.x

## Expected Behavior

Before the application comes up, I'd expect nearly 0 CPU utilization once it reaches the waiting state.

## Actual Behavior

30MHz, continuous, is being utilized in my cluster until the app comes up, for each waiting sidecar. This is really only an issue when the cluster is spinning up a ton of app instan

[2021-09-26 01:10] daixiang0 commented on #3700
/cc @artursouza @yaron2

[2021-09-26 01:43] daixiang0 commented on #3704
@tieudaotu90 you can add `dapr.io/log-level: "debug"` to annotations to enable.

And "--dapr-http-max-request-size" is unlimited as default, see https://docs.dapr.io/operations/configuration/increase-request-size/.

[2021-09-26 01:55] artursouza commented on #3662
Let me rephrase my feedback: this is not about the API it is about how the query is constructed per database, then at that point - it is a database API. This is about how the code *uses* the database API and not about Dapr's query API. This can be addressed without changing anything in the API proposed, only in the implementation on how the query for each database is constructed.

The query to Cos

[2021-09-26 02:00] Taction commented on #3704
@daixiang0 The `--dapr-http-max-request-size` flag controls `[MaxRequestBodySize](https://github.com/valyala/fasthttp/blob/master/server.go#L261)`, the param I mentioned is `[ReadBufferSize](https://github.com/valyala/fasthttp/blob/master/server.go#L206)`. Besides, there is an existing pr #3346 working on this.

[2021-09-26 02:12] daixiang0 commented on #3704
Oh, sorry for that.

[2021-09-26 03:14] saber-wang opened #3714 "Currently state management already supports TTL. Can refresh TTL be supported?"
## Describe the proposal
Currently refreshing TTL requires saving the state again, which will cause unnecessary loss

[2021-09-26 06:15] #3462 closed

[2021-09-26 06:53] #3564 closed

[2021-09-26 12:29] #2939 closed

[2021-09-26 13:08] #3567 closed

[2021-09-27 02:18] #3228 closed

[2021-09-27 02:22] daixiang0 commented on #3496
https://github.com/bytecodealliance/wasm-micro-runtime has support filesystem and multiple threading, and the socket support would come soon.

@pkedy @yaron2 could we consider using it?

[2021-09-27 06:54] tieudaotu90 commented on #3704
Hi @daixiang0 @Taction , As I understand, this bug is in processing? Can you let me know about the plan when it's completed?

[2021-09-27 07:19] Taction commented on #3704
@tieudaotu90 Yes, you can pay attention to the pr I mentioned above.

[2021-09-27 08:19] cysnet opened #3715 "When I use rabbitmq as binding, I got an Error:Exception (501) Reason: \"EOF\""
When I use rabbitmq as binding, I got an Error:Exception (501) Reason: \"EOF\"

the binding yaml is

[code]

and the Error is
[code]

[2021-09-27 08:26] Taction commented on #3715
This seems an error from rabbitmq, have you checked the rabbitmq server logs?

[2021-09-27 08:32] #3715 closed

[2021-09-27 08:43] denis111 commented on #3103
Can anybody mark it not to close automatically?

[2021-09-27 15:27] dmitsh commented on #3662
I understand the concept and risk of query injection. However, in this API both the query and the parameters are supplied by the user. If a bad actor can gain access to the API endpoint, they could change the query as easily as the parameters. So, the parametrized query won't help.

[2021-09-27 16:13] javageek79 opened #3716 "cosmosdb statestore partitioning broken under load"
## In what area(s)?

/area runtime

## What version of Dapr?

1.4.0

## Expected Behavior

Having only one db entry called `actors||ACTOR_TYPE||metadata` and n buckets, where n is the number of partitions.

## Actual Behavior

There are multiple parent entries in db with name `actors||ACTOR_TYPE` for each `id` value, there are n partition-entries, in db containing 200 - 400 reminder entries. `valu

[2021-09-27 16:45] artursouza commented on #3256
@mukundansundar Any idea on this?

[2021-09-27 19:43] TenSt opened #3717 "Dapr sidecar refuses connection to invoke method on the echoapp from middleware quickstart"
## In what area(s)?

 /area runtime

## What version of Dapr?

 1.4.x

## Expected Behavior

Dapr sidecar allows connection to invoke a method on the echoapp.
Maybe I've missed something, but as I understand 1.4.x should work like 1.3.x in this scenario.

## Actual Behavior

I was following the quickstart for middleware to verify that all works well before upgrade Dapr to 1.4.2 and noticed that Da

[2021-09-27 20:35] yaron2 commented on #3717
In `1.4` the `daprd` process was locked down to only accept connections from the pod boundary for a good security measure.

If you want to enable calling Dapr externally, please add the following annotation:

[code]

[2021-09-27 23:15] #3675 closed

[2021-09-28 03:45] felixloeng opened #3719 "How AddDapr connect"
## In what area(s)?

dapr 1.4.0

## Ask your question here
Three asp.net core  microservices running on three different physical machines

how to config AddDapr mothed  on asp.net core  Startup.ConfigureServices

and an envoy gateway running on the fourth physical machine to.

is there a demo to study?

thank you

[2021-09-28 09:13] TenSt commented on #3717
Thanks, @yaron2. All worked well after adding the annotation. I will do a small PR to quickstarts repo to fix this too.

[2021-09-28 09:13] #3717 closed

[2021-09-28 14:52] wcs1only commented on #3031
So we definitely had at least one case of this over the weekend https://github.com/dapr/dapr/runs/3697541109?check_suite_focus=true#step:21:744 :
[code]

[2021-09-28 20:03] pkedy commented on #3256
Here are a few thoughts from an offline conversation:

Yes, Consul would absolutely work, but is another container that the CLI would have to install.

An alternative is to add "Consul lite" functionality to the placement service. This could range anywhere from a "local only mode" which holds a simple in-memory lookup table to a fully distributed/replicated lookup table via Raft. The placement ser

[2021-09-28 20:04] wcs1only commented on #3256
We might be overthinking this, we could just have a local resolver component that is just a flat file in ~/.dapr/

[2021-09-28 20:46] wcs1only commented on #3256
Alternatively, we could do whatever `dapr list` is doing.

[2021-09-28 20:51] pkedy commented on #3256
`dapr list` and the VS Code plugin both look at the running processes to discover app-id and ports. If we don't really need a distributed option, this makes a ton of sense and the code/logic already exists in the CLI.

[2021-09-29 00:38] yaron2 commented on #3256
I don't support expanding the placement service to provide service discovery, although I am guilty of suggesting the same in the past. Assigning extra responsibilities for a component that is targeted at placing actors just because it's the nearest neighbor isn't something I can advocate for.

I do support creating a local name resolution component that's explicitly clear about providing dev/singl

[2021-09-29 02:30] artursouza commented on #3662
Thanks for clarifying that and sorry for missing that part. I will come up with a PR to explain my point for the MongoDB part of the code. Great work here! This is looking good.

[2021-09-29 03:10] xiatiandegaga opened #3721 "DaemonSet-nginx-ingress-dapr-start failed:no such host"
## In what area(s)?
nginx-ingress

k8s:1.19.5
dapr:1.4.2

## Ask your question here

transport: Error while dialing dial tcp: lookup dapr-api.dapr-system.svc.cluster.local on 183.60.83.19:53: no such host

![image](https://user-images.githubusercontent.com/47713355/135196534-645a665d-3c40-4221-8971-25b35df64a2a.png)
![image](https://user-images.githubusercontent.com/47713355/135196575-09b9415a-639

[2021-09-29 03:13] mukundansundar commented on #3256
For the local component, we could replicate similar logic to Consul but have it in a datastore for example Redis. Since we are already using Redis as a state store an an actor store we can use it for service resolution also I think. This way a service can self register on Init and perform GET requests on ResolveID calls.

The potential issue in this is in the slim mode the fallback will still be m

[2021-09-29 04:18] wenxuwan opened #3722 "Are bindings omnipotent?"
I have some doubts about binding. I feel that it is not a very specific abstraction. Many capabilities can be implemented with it. For example, the pub/sub capabilities can also be achieved through outbindinggs/inbindings. So can someone tell me, what is the meaning of bindings? In other words, what types of capabilities should be implemented in bindings。

[2021-09-29 05:49] geffzhang commented on #3721
I've had this issue, too

[2021-09-29 05:58] ClementeGao commented on #3586
look forward to implement this function

[2021-09-29 13:21] #3293 closed

[2021-09-29 14:57] neumann1990 opened #3723 "sidecar-injector overly restrictive admissions impacts Openshift administration"
## In what area(s)?

/area runtime

## What version of Dapr?

1.4.2

## Expected Behavior

As an Openshift cluster admin, I should be able to create adhoc debugging pods on worker/master nodes.

Additionally, the [`kube-apiserver-operator`](https://github.com/openshift/cluster-kube-apiserver-operator#kubernetes-api-server-operator) (responsible for cluster health monitoring/upgrades) should be in

[2021-09-29 15:06] neumann1990 commented on #3723
Actually, it looks like completely removing and reinstalling dapr worked. Sorry about that.

[2021-09-29 15:06] #3723 closed

[2021-09-29 16:55] javageek79 commented on #3408
Hi @yaron2, we have the same issue in our environment. Unfortunately I can't figure out, wich header is causing the isse.
Would it be possible, to log the malicious header name or maybe add it to the DaprException?

In our application, that calls the invoke method, we only add three headers
[code]
api key contains 33 char.

The tricky thing is, that it only appears on our QA stage running dapr 1.4

[2021-09-29 17:05] artursouza commented on #3716
This seems to be a hot partition problem in CosmosDB. I recommend going through this documentation first: https://docs.microsoft.com/en-us/azure/cosmos-db/partitioning-overview#physical-partitions

Then, see if your provisioned throughput is enough to sustain this load. The throughput is evenly split across partitions, so there might be a need to overprovision to compensate for a hot partition.

A

[2021-09-29 17:11] javageek79 commented on #3716
ok, thx. We will try the prime approach first.

[2021-09-29 17:31] pkedy commented on #3256
@mukundansundar @yaron2 any concerns with using the `dapr list` approach? It would work in slim mode as well.

[2021-09-29 17:50] artursouza commented on #3704
Duplicate of #3408

[2021-09-29 17:50] #3704 closed

[2021-09-29 18:57] CodeMonkeyLeet commented on #3722
@wenxuwan It may be useful to think of Bindings as a lower level abstraction, where the application has more control, but benefits less from the abstractions that Dapr provides. The comparison with PubSub is a useful one as there are integrations like Kafka that have both PubSub and Bindings components:
* Dapr is generally opinionated in the way it provides building blocks like PubSub, which means

[2021-09-29 19:18] #3665 closed

[2021-09-29 19:20] wcs1only commented on #3656
Closing this issue.

[2021-09-29 19:20] #3656 closed

[2021-09-29 20:46] yaron2 commented on #3256
I do not support using Redis or any state store for service discovery purposes as that would create a tight coupling between a state store and a name resolution component.

@pkedy I'm fine with a file based approach or whatever `dapr list` does.

[2021-09-29 21:27] fbridger opened #3725 "Expose port 8080 in Placement Service when running `dapr init`"
## In what area(s)?

/area test-and-release

## Describe the feature
Currently, when running `dapr init` the Placement Service (docker container) is not exposing port :8080 where the Healthz server is listening.

It is only exposing port 6050 ➔ 50005/tcp

I would like to request that `dapr init` also expose port 8080 potentially in 6051 (6051 ➔ 8080/tcp)

[2021-09-29 21:34] fbridger commented on #3725
Moved this issue to the proper repository: https://github.com/dapr/cli/issues/800

[2021-09-29 21:34] #3725 closed

[2021-09-29 22:21] withinboredom opened #3726 "Sidecar with maxed out CPU trying to connect to placement service"
## In what area(s)?

/area placement

## What version of Dapr?

1.4.x

## Expected Behavior

`daprd` to fail to start.

## Actual Behavior

`daprd` uses as much CPU as it has available trying to connect to the placement service.

## Steps to Reproduce the Problem

I've been unable to reproduce this reliably, other than in a "production" environment by rebooting some random machines -- using an exp

[2021-09-29 23:00] withinboredom commented on #3726
This apparently happens when the sidecar isn't provided with the address to the leader, only non-leaders.

[2021-09-30 04:53] daixiang0 commented on #3691
https://github.com/dapr/components-contrib/issues/1171 may help.

[2021-09-30 04:55] daixiang0 commented on #3721
Is it like https://github.com/dapr/dapr/issues/3717 @yaron2 ?

[2021-09-30 05:13] yaron2 commented on #3708
@qmhu can you comment `/assign` on this issue please? thanks :)

[2021-09-30 05:16] yaron2 commented on #3721
No, because the failure here is from the sidecar trying to connect to the control plane.

@xiatiandegaga are you using any type of proxy or service mesh in your cluster? maybe you have network security policies enabled?

[2021-09-30 07:20] qmhu commented on #3708
/assign

[2021-09-30 07:51] xiatiandegaga commented on #3721
don‘t have any proxy or service mesh，just ingress-nginx，i’m checking for

[2021-09-30 09:37] krutsko commented on #3667
Finally, found the root cause. It was `automountServiceAccountToken: false` in our custom `ServiceAccount`.

[2021-09-30 09:37] #3667 closed

[2021-09-30 09:41] wenxuwan commented on #3722
@CodeMonkeyLeet   Thanks for your explanation. As you said, Dapr treats Bindings as black boxes. So user can do anything with it. According to my understanding, dapr treats abstract interfaces as separate implementations, such as pub/sub, but some capabilities that cannot be abstracted can be implemented through bindings. Here binding is just a transparent channel, Is there a problem with my under

[2021-09-30 10:33] ManuDinicola commented on #3561
Hello,

We encounter the same problem on our side, does a workaround exist or need to wait for a fix. We use dapr 1.4.2.

Regards

[2021-09-30 16:33] berndverst commented on #3472
@artursouza @greenie-msft please confirm with users and close issue.

[2021-09-30 16:39] yaron2 commented on #3709
Our pleasure @lizzzcai

[2021-09-30 16:39] #3709 closed

[2021-09-30 18:05] yaron2 commented on #3256
@artursouza that's my preferred approach then.

[2021-09-30 18:06] CodeMonkeyLeet commented on #3722
@wenxuwan Yes, insofar as the binding implementation is still restricted to the [Dapr API specification for bindings](https://docs.dapr.io/reference/api/bindings_api/), so for example, you don't have full control over the transport layer still (e.g. Dapr does not natively support streaming channels for bindings).

[2021-09-30 20:46] wcs1only commented on #3726
We must be tight looping on reseting the grpc transport
![Screen Shot 2021-09-30 at 1 46 04 PM](https://user-images.githubusercontent.com/7329298/135527726-a21943b4-d632-41fb-a394-9aab6cc58510.png)
t

[2021-09-30 20:48] pkedy opened #3727 "Panic in actor placement.go"
In this [workflow run](https://github.com/dapr/dapr/actions/runs/1276467499), the pubsub routing test fails because at the same time, `daprd` crashes with this error.

[code]

Possibly related to #3726

RELEASE NOTE: **FIX** Fixed panic sending on a nil gRPC stream in the placement heartbeat loop.

[2021-09-30 22:34] artursouza commented on #3716
The fact that you see Key "actors||ACTOR_TYPE" with PartitionKey "a7e27bd7-dc5b-45cc-8760-60d615d3b455" is odd because the first is the old way data was saved while the second is partitioned - which means the Id was supposed to be per reminder partition and not for the global "old" way.

[2021-09-30 22:34] artursouza commented on #3716
I am looking into this issue.

[2021-09-30 22:37] artursouza commented on #3716
To clarify, any instance of id "actors||ACTOR_TYPE" should have a partitionKey of "actors||ACTOR_TYPE" as well.

[2021-10-01 07:06] cvictory commented on #3586
[code]

Phase 2 is very important so that the policies can be defined by app developers.

-----

I have question how many requests the resiliency take effect? Maybe we should also consider how it work with the trace and metrics.

[2021-10-01 10:11] krutsko commented on #2869
Let me dig up this.

I think it's related to argocd issue https://github.com/argoproj/argo-cd/issues/5202
Do you think it is possible/reasonable to refactor Dapr helm chart to make it work?

[2021-10-01 14:48] fabistb commented on #3472
@berndverst, @artursouza we checked it again locally using the same steps as described above and it looks good.
Also in our live environments we haven't faced this problem since the update to 1.4.0.

From our point of view you can close it.
Thank you very much for the fix!

[2021-10-01 16:18] #3472 closed

[2021-10-01 17:15] slacksach commented on #3727
@pkedy We observed very similar behaviour similar to this and #3726 in our #3607, might be entirely unrelated but similar characteristics,

In our case it was due to custom manifests, we had done a comparison but not removed these lines from the args
[code]

Once removed and the ReplicaSet was updated the error no longer occurs in our setup.

[2021-10-01 21:59] denis111 commented on #1850
This issue should be reopened. Please, label it.

[2021-10-01 22:34] artursouza commented on #1850
It would be interesting to understand why the app needs to be invoked via both gRPC and HTTP.

[2021-10-01 22:53] denis111 commented on #1850
Well, it depends. The app may share some REST API for external calls (frontend, clients) and inter-service communication but use grpc for inter-service only things. Or it might be legacy app/monolith app slowly migrating to modern microservices architecture having(temporarily) both protocols. Or maybe it has some file upload endpoint and it seems that grpc is not very efficient for binary file upl

[2021-10-01 23:21] #3727 closed

[2021-10-02 00:06] #3534 closed

[2021-10-02 06:23] speedfl opened #3731 "Subscription v1alpha1 applied in v2alpha1"
## In what area(s)?

 /area runtime

## What version of Dapr?

1.4.2

## Expected Behavior

I would expect my subscription route to be called

## Actual Behavior

My route is not called.
After looking at the dapr logs I can see ""

## Steps to Reproduce the Problem

From: https://docs.dapr.io/developing-applications/building-blocks/pubsub/howto-publish-subscribe/

[code]

This cause an issue becau

[2021-10-02 14:50] #3708 closed

[2021-10-02 17:48] TenSt commented on #3067
@artursouza @yaron2 can I work on this? I was able to run distributed calculator quickstart hosting React app with Knative (with kourier), so I can create a new sample to show how to run Knative with Dapr.

[2021-10-02 22:02] yaron2 commented on #3067
That would be great. I would also ask that you show this on our community call if ok with you.

[2021-10-02 22:06] yaron2 commented on #3731
/cc @pkedy @artursouza

[2021-10-02 22:07] artursouza commented on #3731
/cc @pkedy

[2021-10-02 23:00] pkedy commented on #3731
Hi, @speedfl!  Thanks for reporting this. Looks like your example above is trying to use the `v2alpha1` structure with `v1alpha1`, which obviously won't work. I just want to confirm that is not the issue. This is what the YAML should look like for each version.

`v1alpha1`

[code]

`v2alpha1`

[code]

That said the output of `kubectl get subscriptions.dapr.io/myevent-subscription -o yaml`, seems w

[2021-10-03 00:17] #3057 closed

[2021-10-03 06:23] speedfl commented on #3731
Hi @pkedy

I tried yesterday with the v2 format and everything is going well.
Have a good day.

[2021-10-03 19:14] TenSt commented on #3067
Sure, it would be great to participate. Please let me know what is necessary from my side. Meanwhile, I will work on PR into samples repo.

[2021-10-04 03:00] artursouza commented on #3716
I reproduced a slightly different problem. The issue I found is that the "actors||ACTOR_TYPE" record is created even after the partition is set and none of the partition reminder records were used. I will find the root cause for this, which might lead to fix the issue you are seeing.

![image](https://user-images.githubusercontent.com/130954/135786827-9594907e-99f9-4e57-ba0e-1be755100c19.png)

[2021-10-04 11:23] #3357 closed

[2021-10-04 14:45] javageek79 commented on #3716
Hi @artursouza , sounds promising. As this is blocking us from moving forward with our releases, it would be great, to have a fix available soon.
Last loadtest run with 1009 partitions caused ~75.000 entries on the db, where only 1010 were expected due to this behavior ;-)

[2021-10-04 15:45] yaron2 commented on #3561
This will be fixed for 1.5.

[2021-10-04 15:46] yaron2 commented on #3561
I will update here when the fix is in master branch so you can test.

[2021-10-04 17:43] stefanJ-hub commented on #3408
Please do also see: https://github.com/dapr/java-sdk/issues/638 - which for the java-sdk plays a huge part in the header size

[2021-10-04 20:32] #1914 closed

[2021-10-04 21:38] fbridger opened #3733 "Does Placement Service supports HTTP or only gRPC?"
## In what area(s)?

/area placement

## Ask your question here

Does Placement Service supports HTTP or only gRPC?

Is there a way to allow Dapr Sidecars to communicate with Placement using HTTP instead of gRPC?

[2021-10-04 23:25] artursouza commented on #3716
@javageek79 I found the root cause for the behavior I was seeing before. Let me explain my test scenario:

test client ---> dapr sidecar A -----> dapr sidecar B ---> actor app

The issue I was facing is because sidecar A was being invoked to register a reminder but it was not configured with the `Actor.TypeMetadata` feature. Only sidecar B had that configuration. Once I added this config, it worke

[2021-10-05 05:49] javageek79 commented on #3716
Hi @artursouza, the feature is enabled in a `config.yml` which is referenced only by sidecar B.
The connection between sidecar A and sidecar B is via Azure Service Bus. Therefore have no direct connection.
Does every dapr related service needs to reference the config to make the feature work?
How can I verify that the feature was enabled in sidecars?

[2021-10-05 15:03] danbo commented on #2827
I would like to raise this again. The dapr documentation is not clear whether or not the current version supports multiple clusters / datacenters. ie, distributing / replicating the placement, state and tracing components

https://docs.dapr.io/operations/hosting/self-hosted/self-hosted-overview/
https://docs.dapr.io/operations/hosting/kubernetes/kubernetes-overview/

For example, akka talks about

[2021-10-05 15:13] wenxuwan commented on #3722
@CodeMonkeyLeet Thanks for your response. In my opinion, an important purpose of Dapr is to abstract a set of standard apis so that applications can realize non-sense migration. So I have some doubts about Binding, because it is not an abstract api, but as you said, the application may not benefit from Dapr's semantics. So compared to using Binding, users who use SDK directly may have better perfo

[2021-10-05 17:30] trondhindenes commented on #1820
definetely still relevant. Would be good to be able to configure retries on pubsub

[2021-10-06 01:34] abnormall opened #3734 "can i accomplish inter cluster service communication only by configuring dapr and how?"
## In what area(s)?

In the kubernetes environment, an app (denoted as **app1**) with a **dapr** sidecar calls another app (denoted as **app2**) with a **dapr** side car in the different clusters.

In addition, the app1 should call the app2 in the form of  _http://localhost:dapr-port/v1.0/invoke/app2-name/method/app2-function._

## Ask your question here
can i accomplish inter cluster service comm

[2021-10-06 14:13] speedfl opened #3735 "Dapr Nats/Jetstream Kubernetes: ERR_PUBSUB_PUBLISH_MESSAGE"
## In what area(s)?

/area runtime

## What version of Dapr?

1.4.2

## Expected Behavior

Dapr with Nats/Jetstream must work on kubernetes

## Actual Behavior

From Dapr:

[code]

## Steps to Reproduce the Problem

Clone repository:

https://github.com/speedfl/dapr-example-k8s/tree/main/dapr-resources

Install nats:

## Release Note

RELEASE NOTE:

[2021-10-06 14:18] speedfl opened #3736 "Dapr Nats/Jetstream Kubernetes: ERR_PUBSUB_PUBLISH_MESSAGE"
## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior

Dapr with Nats/Jetstream must work on kubernetes

## Actual Behavior

From Dapr:

[code]

## Steps to Reproduce the Problem

Install nats on k8s:

[code]

Clone following repository:
https://github.com/speedfl/dapr-example-k8s

It uses Java with Quarkus and k3d as local kubernetes cluster.

**If you have such envir

[2021-10-06 18:47] CodeMonkeyLeet commented on #3735
@speedfl is this superseded by the dupe issue #3736 that has more details?

[2021-10-06 18:54] speedfl commented on #3735
Dupe issue with #3736

[2021-10-06 18:54] #3735 closed, assigned to nobody

[2021-10-06 19:26] fbridger opened #3737 "Add SSL support communication with Placement service"
## In what area(s)?

/area runtime

/area placement

## What version of Dapr?
All versions

## Expected Behavior

Successfully run Dapr Placement hosted in AWS ECS.

Dapr Sidecar can communicate successfully with Dapr Placement through gRPC when application is hosted in AWS ECS.

More information about the problem:
- Deploying a gRPC service in ECS with the EC2 launch type: https://dev.to/chaitan9

[2021-10-06 19:28] aktxyz commented on #3256
Can you all please make sure that this works with applications launched thru daprd directly (ie not just thru the dapr process).
Currently, `dapr list` does not list things started via daprd directly.

[2021-10-06 19:30] ghost opened #3738 "Custom Partition Key in Azure Cosmos DB using Dapr"
I am having trouble adding a custom partition key to Azure Cosmos DB using Dapr sidecar.
Here is my Azure Cosmos DB instance:
![image](https://user-images.githubusercontent.com/44985701/136269890-3627b253-9fbe-44ff-9011-4cf3f19a863e.png)

From the documentation, I have named my partitionKey as /id. However, when I try to add a custom partition key value, I get this error:
![image](https://user-ima

[2021-10-06 19:32] javageek79 commented on #3716
In the one Service that uses the statestore or in all services that have sidecars?

[2021-10-06 19:40] dasaraiy commented on #3738
Closing this issue and opening it in dapr cli project.
https://github.com/dapr/cli/issues/805

[2021-10-06 19:40] #3738 closed, assigned to nobody

[2021-10-06 20:10] artursouza commented on #3256
There was a PR to fix that.

[2021-10-06 20:28] aktxyz commented on #3256
great ! thanks

[2021-10-06 23:24] yaron2 commented on #3733
@fbridger beginning 1.4, Dapr uses a secure gRPC channel between the sidecar and the placement service.

[2021-10-07 00:44] wenxuwan commented on #3722
@CodeMonkeyLeet Thanks again, with your help, the concept and positioning of binding has gradually become clearer

[2021-10-07 07:44] stephaneey opened #3740 "Subcription routing fails to apply routes"
## In what area(s)?

 /area runtime

## What version of Dapr?

1.4.0 (.NET SDK cli)
1.4.1 K8s
## Expected Behavior

Declarative subscription should route messages to the right endpoints.

## Actual Behavior

All messages are sent to the default route. No error in dapr logs

## Steps to Reproduce the Problem

My subscription:

[code]

The event payload in the CloudEvent format - app.UseCloudEvents(

[2021-10-07 07:49] stephaneey opened #3741 ".NET SDK and CloudEvents"
Hello,

When using CloudEvents with the .NET SDK, it does not seem possible to override Dapr's default event type. I have double checked the [eshoponDapr](https://github.com/dotnet-architecture/eShopOnDapr) example where the default event type, meaning, **com.dapr.event.sent** is always used. I don't find this very convenient if you want to use the subscription routes and route messages according

[2021-10-07 11:19] redaER7 opened #3742 "Helm install dapr on namespace "test" while dapr installed on namespace "dev""
Trying to install a second dapr helm chart on namespace "test" while it is already installed on namespace "dev"
[code]
already installed config exists whith following name:
[code]
I get the following error
[code]
Tried specifying a different version for the installation but with no success
[code]

Starting to think the current chart does not allow for multiple instances (development and testing )

[2021-10-07 16:23] berndverst opened #3743 "v1.4.3 Hotfix Release Checklist"
- [x] Create the `v1.4.3-rc.1` Hotfix release (code changes) and test it
- [x] Create `v1.4.3-rc.1` Tag [@artursouza]
- [x] Performance tests passing  [@artursouza]
- [x] End to End tests passing on Linux and Windows [@artursouza]
- [ ] ~Update the longhaul tests to use `1.4.3` [@halspang]~
- [x] One-off: Run Kubernetes Quickstart on Arm64 Cluster [@berndverst]
- [x] Create `v1.4.3` Tag [@artursou

[2021-10-07 20:27] CodeMonkeyLeet commented on #3734
@abnormall You might want to check out the http://github.com/dapr/community resources to see if anyone has done this, but I'm not aware of any successful examples, either in terms of sharing the dapr control plane between two clusters or having dapr sidecars in multiple clusters behave as a single dapr deployment. In general, while it might be possible to use networking redirects to fool dapr and

[2021-10-08 00:34] yaron2 commented on #3733
@fbridger and @cjsrinivas, we (maintainers and community) got you. we'll work with you until this is resolved.

Are you running the Sentry service and pointing Dapr to the ROOT CA? Sentry (the Dapr CA) is required for TLS. You can see how to do this here: https://docs.dapr.io/operations/security/mtls/#self-hosted.

Then, the placement service needs to run with the `--tls-enabled=true` flag paramet

[2021-10-08 03:15] artursouza opened #3745 "Allow sidecar image to be specified via K8s annotation in app's Deployment"
## In what area(s)?

 /area runtime

## Describe the feature

Today, the sidecar image being injected is defined globally by the SIDECAR_IMAGE environment variable in dapr-sidecar-injector. In addition, each app should also be allowed to override its sidecar image via K8s annotation: `dapr.io/sidecar-image`

Documentation to be updated (side-by-side with `--image` in CLI): https://docs.dapr.io/ref

[2021-10-08 18:44] CJHunter91 opened #3749 "Local Secret Store - Secret File won't use MultiValued option"
## In what area(s)?

 /area runtime

## What version of Dapr?

## Expected Behavior

Using the .Net client, calling GetSecretsAsync with a multivalue key should return a list of secrets

## Actual Behavior

Calling the GetSecretsAsync with the multivalue key throws an error. This is due to the key not existing because the keys are being flattened and expects key1:key2 to access the secret value.

[2021-10-09 00:00] artursouza commented on #3408
I did look into this issue this week. I tried to repro this in this test: https://github.com/dapr/java-sdk/pull/640/files

The auth header is not propagated to the receiving service. If anyone has an example where it does, it will help identify if it is a problem in the app code or in the SDK.

Regardless, also consider using the new way to do service invocation in Dapr, that does not require usin

[2021-10-09 02:25] saber-wang commented on #3408
@artursouza
windows11
dapr slim

curl -H 'test: 1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111

[2021-10-09 06:02] daixiang0 commented on #3745
/assign

[2021-10-09 07:49] javageek79 commented on #3408
The Problem actually is not the auth header, in our case, the spring security context attributes are propagated. This is also visible in the debugger screenshot above.
As the context might contain many scopes, this could lead to headers >4kB.

[2021-10-09 08:10] abnormall commented on #3734
@CodeMonkeyLeet  Thanks for your reply.

Two more questions:

1. Is it possible to expose dapr side car as a service? I tried but failed.  Nginx controller with dapr can be exposed by ingress successfully.
2. Can you explain the role of control plane in the process of service invokation as specific as possible?  With the tool of ksniff, I can see the dapr side car call the kube-dns to get the ip o

[2021-10-09 17:06] #3587 closed

[2021-10-09 21:41] #3599 closed

[2021-10-10 09:14] jjcollinge commented on #3734
I did some experiments around cross cluster communication in Dapr a while back. Not sure if useful but thought I'd share just in case:  https://github.com/dapr/dapr/pull/3254

[2021-10-10 21:15] theperm commented on #501
Keep open bot.

On Sun, 10 Oct 2021, 18:36 Dapr Bot, ***@***.***> wrote:

[2021-10-10 21:21] aktxyz commented on #501
agree with keep open bot

[2021-10-10 23:32] artursouza commented on #3408
I am trying to understand how the security context is setup in your app to repro this. Like I said, it might be a better option to use the new solution to do service invocation via HTTP where there is no need for an SDK but use an HTTP client directly.

In the example above, why is your code invoking a metadata API with such a large header? Can you app simply filter that out?

[2021-10-11 08:35] CJHunter91 commented on #3749
I don't think it's a .Net Client issue. The client makes the expected grpc call to the dapr service. The dapr service cannot resolve the secret based on the top level key alone. As per my example the "secrets" key. If however I were to have "secrets:secret1" dapr  would return that secret. Seems to be an issue setting the multiValued flag.

[2021-10-11 12:28] fjvela commented on #3731
/cc @pkedy @artursouza

I upgrade to 1.4.3.  I get this error:
`time="2021-10-11T12:18:35.519609747Z" level=info msg="log level set to: info" instance=dapr-operator-9bc45d8fc-czqd9 scope=dapr.operator type=log ver=unknown
time="2021-10-11T12:18:35.519784194Z" level=info msg="metrics server started on :9090/" instance=dapr-operator-9bc45d8fc-czqd9 scope=dapr.metrics type=log ver=unknown
time="2021-

[2021-10-11 14:15] gagzm opened #3753 "Multiple subscriber for a topic in Pub/Sub component with Event hub is not working as expected"
## In what area(s)?

## Ask your question here

Hello Team,

We have identified that the Behavior of Dapr (Pub/Sub) along with Event Hub is not as expected when we have multiple subscribers components of one topic. Following are the details:

1. Published messages are not delivered to a defined route for that topic every time.
2. If delivered, Published messages are not delivered to all the subscr

[2021-10-11 15:18] pkedy opened #3754 "Self-Hosted Mode: Warning with metadata is configured in a subscription YAML"
It appears as though in self hosted mode, Dapr tries to parse Subscription YAMLs as Components, which logs a warning.

## In what area(s)?

/area runtime

## What version of Dapr?

1.x

## Expected Behavior

Subscriptions YAML are filtered out when loading and parsing Component YAMLs.

## Actual Behavior

When a Subscription YAML is encountered that contains `metadata`, it fails to parse as a comp

[2021-10-11 16:46] yaron2 commented on #3745
Added to `1.5`.

[2021-10-11 16:46] #3745 closed

[2021-10-11 17:27] #3740 closed, assigned to nobody

[2021-10-11 23:28] artursouza commented on #3408
I found the root cause and it is being addressed in https://github.com/dapr/java-sdk/pull/642

Also, I have created this issue to track the feature request to wrap the new solution to make http invocation: https://github.com/dapr/java-sdk/issues/641

[2021-10-12 00:19] #3754 closed

[2021-10-12 03:52] abnormall commented on #3734
Since your PR has been closed.

I copy my question here.

@jjcollinge I would like to realize the same thing.

 You mention that new DNS entries could be added. And the new entries are meant to  direct traffic to the external gateway. I would not like to change the code of dapr. And this alternative approach is what I am going to do. Have you completed this alternative approach?

**Have done:**
I

[2021-10-12 16:18] fjvela opened #3756 "crash backoff in dapr operator after upgrade to 1.4.3 (helm doesn't upgrade CRDs definitions)"
## In what area(s)?

 /area operator

## What version of Dapr?

1.4.3
## Expected Behavior
dapr operator starts correctly

## Actual Behavior
crash backoff in dapr operator after upgrade to 1.4.3.
Related:
- https://github.com/dapr/dapr/pull/3732
- https://github.com/dapr/dapr/issues/3731

Running debug with helm doesn't apply CRD changes:
helm3 upgrade --install dapr dapr/dapr --version=1.4.3 --n

[2021-10-12 16:28] fjvela commented on #3731
It hasn't been updated

[code]

[2021-10-12 16:55] fjvela commented on #3756
https://github.com/dapr/dapr/issues/3731#issuecomment-941191734

[2021-10-12 17:04] pkedy commented on #3731
@fjvela That's actually intentional. If you delete a CRD, then it deletes all the instances of that CRD. So having Helm or the Dapr CLI delete them could lead to unintentional data loss.

[2021-10-12 21:33] pkedy commented on #3756
/assign

[2021-10-12 23:11] fbridger commented on #3572
@CodeMonkeyLeet  Yes, I solved this problem just as you said. I am setting the Environment Variables as you mentioned in this issue.

I was just adding this information in case anyone experienced the same problem.

[2021-10-13 02:06] darren-wang opened #3758 "How to attach to the daprd container or dapr services' containers?"
We are deploying dapr and dapr apps on K8S, and we want to know what kind of linux operating system the dapr service or daprd is using, so we tried to attach to these containers.

Unfortunately, I got errors like there is no `/bin/bash` or `/bin/sh` in daprd and dapr services' container, so, are there any ways we can attach to the daprd container or the dapr services' container?

[2021-10-13 02:31] artursouza commented on #3689
Please, take a look at https://docs.dapr.io/reference/components-reference/supported-bindings/http/

[2021-10-13 02:34] daixiang0 commented on #3689
It is a solution I think.

[2021-10-13 05:44] rhummelmose commented on #2941
Very much agree these would have to be cached in the sidecar

[2021-10-13 06:40] 1046102779 opened #3759 "daprd runtime handles logic server request to cost too much time occasionally"
Sometimes this kind of time-consuming happens occasionally, but the underlying redis and mysql are actually processed very quickly. How to locate and analyze this kind of in dapr runtime?

![image](https://user-images.githubusercontent.com/20457624/137080343-d2869ae1-70f6-4b2d-b906-dc71d30f5ea6.png)

![image](https://user-images.githubusercontent.com/20457624/137080358-33c811de-8821-4dde-9f32-51c6

[2021-10-13 06:54] abnormall opened #3760 "How to expose dapr side car as a service?"
## In what area(s)?

Environment:
In AKS

## Ask your question here
Question:
How to expose dapr side car as a service using LoadBalancer?

Problem:
I tried but failed.

My yaml file is:
[code]

[2021-10-13 08:33] 1046102779 commented on #3759
Occasionally  time-consuming, pprof can't process this situation.

[2021-10-13 11:43] aditirao7 commented on #3415
Can I work on this?

[2021-10-13 11:48] auhlik opened #3761 "Add kubernetes annotation to enable/disable placement component in daprd"
## In what area(s)?

 /area runtime

## Describe the feature
**Placement** component is marked as [optional](https://docs.dapr.io/operations/hosting/kubernetes/kubernetes-production/#optional-components) in dapr docs. **Dapr** and **daprd** indeed work without it, however, in debug mode  **daprd** log is full of unsuccessful attempts to connect to **placement**:
[code]
This might create an additio

[2021-10-13 13:36] 1046102779 opened #3762 "Standard APIs lacks context controller"
we maybe need to add transparent transmission context feature for binding, state and etc.

If standard apis hasn't context, the distributed tracing is incomplete, and we can't control request timeout.

![image](https://user-images.githubusercontent.com/20457624/137142553-95350897-476f-4f17-824d-3545856bc5e0.png)

[2021-10-13 18:08] fbridger opened #3763 "Amazon ECS: Is anyone using Dapr in Amazon ECS?"
## In what area(s)?

/area runtime
/area placement

## Help needed
I would like to get feedback or information from anyone that has already deployed Dapr in **Amazon Elastic Container Service** as we are struggling to get the Actors and Service invocation building blocks working.

## Is anyone using Dapr in Amazon ECS?
We are currently developing an application that is deployed in **Amazon Elastic

[2021-10-13 20:59] calebcartwright commented on #3435
Will be resolved once #3711 is merged

[2021-10-13 23:19] CrazyHZM opened #3765 "Support yaml configuration For placement"
## In what area(s)?

 /area placement

## Describe the feature
At present, when placement is started, only command line configuration is supported. Is it possible to support yaml configuration?

[2021-10-14 03:46] darren-wang opened #3766 "pubsub kafka can not be used"
I'm trying to use kafka as pubsub backend according to the dmo:

https://github.com/azure-octo/dapr-kafka-csharp/blob/master/deploy/kafka-pubsub.yaml

I changed the `brokers` section and here is my yaml:

[code]

I can ping and telnet the kafka broker successfully, and connect to it with kafka's official java SDK.

However, that yaml keeps my daprd from starting, and logs as follow:

[code]

and t

[2021-10-14 03:48] 1046102779 opened #3767 "feature: add log writer to collect and report logs."
In order to facilitate troubleshooting, we need to collect and report logs to third log platform , such as aws, alibaba cloud, tencent cloud and etc.

1. dapr/kit/logger need to supported many writers, such as: console, file and etc.
2. In deployment yaml, we maybe add new params in pkg injector :
    2.1. dapr.io/log-writers: "console, file" .
    2.2 dapr.io/log-filename: "/data1/logs/name.log"

[2021-10-14 13:27] abnormall commented on #3760
I tried to edit the  yaml file of -dapr serive.

This is the original one:
[code]
I changed `type: ClusterIP` to `type: LoadBalancer`.

But it seems the  `clusterIP `and `clusterIPs` also need to be modified. I changed the `clusterIP: None` to `clusterIP: ""`, but I don't know how to modify the `clusterIPs`.

[2021-10-14 13:29] repne opened #3769 "Disabling tracing breaks existing tracing implementations"
## In what area(s)?

/area runtime

## What version of Dapr?

1.4.2

## Expected Behavior

If tracing is turned off by setting samplingRate to 0, existing tracing solution should keep working and Dapr should not mess with W3C tracing headers.

## Actual Behavior

When samplingRate is 0, Dapr will replace any 'traceparent' header sent to the sidecar with the value "00-000000000000000000000000000000

[2021-10-14 13:33] adawalli opened #3770 "Restarting Pod on Config (state) change"
## In what area(s)?

/area runtime

## Ask your question here
Currently, our team uses consul-template to pull config from consul and secrets from vault. Once consul-template detects a changed value, a SIGTERM is sent to the exec'ed application process and the new config is loaded.

Is it possible to do something similar with DAPR? There are certain config options in our application that only get

[2021-10-14 15:44] #3340 closed

[2021-10-14 17:02] ChuchoCoder opened #3771 "actors: state store does not exist or incorrectly configured"
## In what area(s)?
/area runtime

## What version of Dapr?

1.4.3

## Expected Behavior

Actors example from dotnet-sdk to work correctly

I don't understand why is throwing an error related to the state store for the actors as I am using the default configuration.

I have tried the following:
- Removed all containers
- Restarted docker
- Restarted my machine

## Actual Behavior

Getting the foll

[2021-10-14 17:25] ChuchoCoder commented on #3771
I've also tried running the steps mentioned in [Use the Dapr API](https://docs.dapr.io/getting-started/get-started-api/) and I'm getting the following error: `state store is not configured`

[2021-10-14 17:27] ChuchoCoder commented on #3771
I've also tried running the steps mentioned in [Use the Dapr API](https://docs.dapr.io/getting-started/get-started-api/) and I'm getting the following error: `state store is not configured`

[code]

[2021-10-14 22:40] #3771 closed, assigned to nobody

[2021-10-15 00:57] AbbetWang opened #3772 "Why dapr run command cann't make app to run in background?"
## In what area(s)?

dapr run command

## Ask your question here
Why dapr run command cann't make app to run in background?
It's convenient that dapr runs app in background.

[2021-10-15 03:58] daixiang0 commented on #3772
Could you share your cases here?

[2021-10-15 06:17] AbbetWang commented on #3772
Background:
I followed the Hello-world project of quickstart.
When I inputs "dapr run ...."  as the picture shows.
![628cf612c82d810609cff159cacdae9](https://user-images.githubusercontent.com/28219139/137440547-02b079f7-f98f-4a55-b386-672e612a7d95.png)
I got the below result.
![e8ed3241b0c67d9eabb0acb4f5b8e91](https://user-images.githubusercontent.com/28219139/137440635-7f29cc15-49cd-4e72-9c45-ca0

[2021-10-15 07:16] lihanping2016 opened #3774 "Does dapr plan to support stateful?"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

## Ask your question here
I tried Stateful and Deployment. Stateful will cause the application service to fail to start normally

[2021-10-15 07:46] zhonghaochen opened #3775 "How to expose the port to front-end app development?"
For example, I developed 10 microservices with dapr. Each microservice has many service interfaces. Some interfaces are called by microservices. However, each microservice also has some interfaces that I want to expose to front-end app development. What should I do, thank you.

[2021-10-15 08:11] 1046102779 opened #3776 "dapr/cli upgrade dapr cluster from v1.3.0->v1.4.3"
After I upgraded dapr from v1.3.0->v1.4.3, the daprd runtime(v1.3.0) occurred panic, and the logic server kept reporting errors after the service restarted.

When i deleted logic server at v1.3.0 version, it will be ok.

daprd runtime:
<img width="1358" alt="Pasted Graphic 1" src="https://user-images.githubusercontent.com/20457624/137454055-25df1559-d1c8-4f50-801f-ff1dc7577835.png">

<img width="1

[2021-10-15 14:01] abnormall opened #3777 "can i configure dapr internal-grpc-port?"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?
In AKS

## Ask your question here
can i configure dapr internal-grpc-port?

If it is possible to configure the port, how to do that?

[2021-10-15 16:29] #3521 closed

[2021-10-15 21:35] aktxyz commented on #2050
touch

[2021-10-16 00:52] abnormall commented on #3777
@yaron2 I want to realize inter cluster communication by dapr in the environment of AKS. Sender app is deployed in one cluster and receiver app is deployed in another cluster.

I configure the coredns and map the <receiver-app-name>.<namespace> to the ingress ip of nginx in another cluster. The nginx is exposed the same port as internal-grpc-port. The dapr will then send request to  the ingress ip

[2021-10-16 04:42] stephaneey opened #3779 "Change dapr's internal port names"
Hello,

Is there a reason why Dapr's HTTP and gRPC ports are named respectively dapr-http and dapr-grc? This is causing issues when used together with Istio (and probably other products), which expect standard port names to be used, meaning in this case "http" and "grpc".

When using AuthorizationPolicy in Istio, Dapr's port names are causing issues. Changing these names in the Dapr-created servic

[2021-10-16 06:34] stephaneey commented on #3779
I managed to get it work through a service entry but not sure if this could have a side-effect.

[code]
However, the question remains.

[2021-10-16 12:26] fbridger commented on #3776
Might this issue be related to the 1.3.1 HotFix?

https://github.com/dapr/dapr/releases/tag/v1.3.1

[2021-10-16 13:31] 1046102779 commented on #3776
Yes. But there is a strange phenomenon here. When the logic server was pulled up by itself, it repeatly reported the same error.

For example:
1.  error when invoke output binding privateassitdb: couldn't  find output  binding privateassistdb;
2.  state store is not configured.

[2021-10-16 15:35] #3600 closed

[2021-10-17 06:33] #3772 closed

[2021-10-17 18:14] #3449 closed

[2021-10-18 01:11] Taction commented on #3766
Is tls enabled on your Kafka backend?

[2021-10-18 02:22] 1046102779 commented on #3759
the PR #3781  maybe solved this issue. Thks.

[2021-10-18 16:00] yaron2 commented on #3354
@artursouza

[2021-10-18 16:12] yaron2 commented on #3766
@darren-wang can you try pointing to a Kafka service and not direct pod IP? also, what Kafka installation are you using? I recommend you test with this one: https://bitnami.com/stack/kafka/helm. (assuming you're using Kubernetes)

[2021-10-18 16:23] Juneezee opened #3783 "Deprecation of io/ioutil"
The `io/ioutil` package has been deprecated in Go 1.16 (See https://golang.org/doc/go1.16#ioutil). We should move all usage of `io/ioutil` functions to the new definitions in `io` and `os` packages.

[2021-10-18 18:19] fbridger commented on #3763
## Problem 1 - Actors building block
Dapr Sidecars cannot communicate with Dapr Placement service using gRPC through our Application Load Balancer.

### Potential Fix: Use ECS Service Discovery
Seems that we can allow Dapr Sidecars to communicate to Dapr Placement by enabling and using [ECS Service Discovery](https://aws.amazon.com/blogs/aws/amazon-ecs-service-discovery/)

[2021-10-18 19:51] #3756 closed, assigned to pkedy

[2021-10-18 22:00] aytekinar opened #3784 "dapr-placement-server does not respect mTLS setting"
## In what area(s)?

/area runtime

/area placement

## What version of Dapr?

1.4.3

## Expected Behavior

Dapr'ized Kubernetes deployments should work.

## Actual Behavior

Dapr'ized Kubernetes deployments do not work due to the sidecar container reporting the following:

[code]

## Steps to Reproduce the Problem

Install Dapr by issuing `helm upgrade dapr dapr/dapr --install --namespace dapr-sy

[2021-10-19 01:58] darren-wang commented on #3766
@yaron2 Yeah, thanks, I'm deploying my dapr services and dapr apps on k8s, but our kafka cluster are not since they are hosted by another team and they only provides server IPs. I have to adapt to them, sad.

Our kafkas are of version 0.10.x. I think it is pretty old and could this be the reason?

Also, do you know the supported version list of kafka backends so I can check if it is version reason

[2021-10-19 11:35] leshchinin opened #3786 "Cross namespace actor invocation problem"
## In what area(s)?
/area runtime

## What version of Dapr?
1.3.1 or higher

## Expected Behavior
While using Actors API not able to invoke actor method hosted in another namespace.
Doing the same command in the same namespace works properly.

## Actual Behavior
curl -X POST http://localhost:3500/v1.0/actors/TestActor/1/method/RunAsync -H "Content-Type: application/json" -d '{"id": "test"}'
Return

[2021-10-19 15:59] jjcollinge commented on #3513
@yaron2 I had a couple of hours free this morning so I knocked together a very hacky PoC for external state stores over gRPC [here](https://github.com/jjcollinge/dapr-external-state). I was just playing with some ideas to see how it might work. This approach uses an `external` provider that is basically an adapter to call a remote gRPC service. In this case - the remote gRPC service is written in

[2021-10-19 16:59] #3783 closed

[2021-10-20 13:47] jjcollinge opened #3787 "External gRPC components"
/area runtime

## Describe the proposal

__Prototype__: https://github.com/jjcollinge/dapr-external-state

### What?
This proposal outlines an approach to enable Dapr to integrate with "external" (not compiled into daprd) state store providers using a gRPC API. There is a bigger objective to allow all components to be external/remote and/or written in other lanugages but this proposal only focuses

[2021-10-20 14:03] andrey-dubnik opened #3788 "Setting global.ha.enabled: true produces deployment yaml with 2 affinity elements"
We are using the FluxCD and it does not like the fact helm produces duplicates of the "affinity:" for the following templates where HA is enabled:

dapr/charts/dapr_sentry/templates/dapr_sentry_deployment.yaml
dapr/charts/dapr_operator/templates/dapr_operator_deployment.yaml
dapr/charts/dapr_sidecar_injector/templates/dapr_sidecar_injector_deployment.yaml

It may sound like FluxCD being picky and

[2021-10-20 17:44] #3660 closed

[2021-10-20 19:23] dmitsh opened #3800 "Add e2e test for Query StateStore API"
## Describe the feature
Add e2e test for Query StateStore API

## Release Note

RELEASE NOTE:

[2021-10-21 09:38] berkaysakarg opened #3793 "Error in sidecars after upgrading from 1.3.1 to 1.4.0"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

upgrading DAPR from 1.3.1 to 1.4.0 should work without an error in the sidecars.

## Actual Behavior

I upgraded DAPR from 1.3.1 to 1.4.0
then sidecars failed.

## Steps to Reproduce the Problem

We use DAPR helm chart. After the upgrade we see an error in the sidecar logs.
`failed to append PEM root cert to x509 CertPool`

Sidec

[2021-10-21 10:30] xiatiandegaga commented on #3721
![image](https://user-images.githubusercontent.com/47713355/138260482-89d30dc7-6f75-476c-8940-26dd7f28754c.png)

[2021-10-21 17:24] akourbat commented on #3741
I'd like to know this too.  Dapr .net client has  an overload method
```Task PublishEventAsync<TData>(string pubsubName, string topicName, TData data, Dictionary<string, string> metadata, CancellationToken cancellationToken = default);```
and I thought `metadata` parameter will allow to override the `type` filed, alas it is not so, the message is still sent with `com.dapr.event.sent` default value

[2021-10-21 18:24] andrey-dubnik opened #3794 "Kubernetes -darp service is created as Headless"
## In what area(s)?

## What version of Dapr?

1.4.

## Expected Behavior

Service should be created as a Cluster IP rather than Headless which would actually enable the load balancer on port 80->3500

## Actual Behavior

curl -v -H 'dapr-app-id: echoserver' http://echoserver-dapr.default:3500/
HTTP-200

curl -v -H 'dapr-app-id: echoserver' http://echoserver-dapr.default:80/
curl: (56) Recv failur

[2021-10-21 18:47] andrey-dubnik opened #3795 "OPA does return HTTP-200 where response is set to 301"
## In what area(s)?

## What version of Dapr?

1.4

## Expected Behavior

I would expect following policy to return 301 status code. I'm not sure if my understanding correlates with what I can see as a result of the test scenario but I'm getting HTTP-200 returned where I would expected to see 301...

[code]

## Actual Behavior

Request returns HTTP-200

< HTTP/1.1 200 OK
< Server: echoserver
< Dat

[2021-10-21 22:55] artursouza opened #3798 "Declarative feature set (profiles) for components"
Scenario: Sidecar fails to initialize if component does not satisfy requirements of features declared by the app. For example, if state store does not support eTag, sidecar will fail to initialize instead of running and allowing the application to have unpredictable behavior by ignoring the eTag param in the state store.

Components can declare their feature sets, for example:
* CosmosDb State sto

[2021-10-21 23:07] yaron2 commented on #3798
@artursouza removing from Roadmap until we have a clear design for the API and acceptance of the design. Once the user experience is deemed acceptable, then we can put it in roadmap. Also, I'd like more community response on this before going into a roadmap.

[2021-10-22 22:05] pkedy opened #3801 "PubSub subscription `dataAsPayload` flag that sends only the `data/data_base64` value of the data attribute to the application"
/area runtime

This feature applies only to the HTTP application protocol. This is not a usability issue with the gRPC API spec.

In some cases, the application may not need the full CloudEvent payload sent to the HTTP application. This is particularly the case with raw events, where receiving the CloudEvent wrapper is unexpected/confusing. This also avoids some performance hit in Base64 encoding/

[2021-10-24 12:27] cilerler opened #3976 "dapr-operator CrashLoopBackOff"
I am using ArgoCD to install Dapr to Kubernetes on my Docker-Desktop.

Installing Dapr from https://dapr.github.io/helm-charts/ and v1.4.3
the `dapr status -k` says

[code]

the console logs of **dapr-operator**

[code]

please advise.

[2021-10-25 09:32] krutsko opened #3806 "Pubsub is not working with Kafka 0.10.x"
## In what area(s)?

/area pubsub

## What version of Dapr?

1.3.0

## Steps to Reproduce the Problem

- I prepared Kafka PubSub setup according to the doc https://docs.dapr.io/reference/components-reference/supported-pubsub/setup-apache-kafka/
- It is targeted to our existing Kafka cluster with pretty old version -- *0.10.1.0*

## Actual Behavior

- As a result daprd is running and:
✅  can publis

[2021-10-25 15:19] dennishog opened #3807 "Cross namespace grpc proxy call in kubernetes fails"
## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior

When adding metadata dapr-app-id with namespace (for instance my-service.my-namespace) the call is not working.
This should work according to documentation (https://docs.dapr.io/developing-applications/building-blocks/service-invocation/howto-invoke-services-grpc/). See namespace section in documentation.

## Actua

[2021-10-25 15:28] abertonica opened #3808 "Additional Azure API Managment dapr Policy"
## In what area(s)?

/area runtime

/area operator

/area test-and-release

## Describe the feature

Currently, a policy needs to be added for every dapr method sought to be exposed. This is a manual time consuming process.

Add azure apim policy allowing entire APIs to be associated with dapr service.

This reduces time investment for API changes and integrations
This will enable developers to ma

[2021-10-25 21:41] pkedy opened #3810 "Certification test: Runtime should shutdown all HTTP and gRPC APIs"
/area runtime

There are scenarios where a certification test would want to stop and start a sidecar using the same config but with different components. e.g. Testing various component settings. Presently, when shutdown, the runtime does not also shutdown the HTTP and gRPC APIs and their underlying listeners. This means that ports are never released and the 2nd start hits a port collision.

RELEAS

[2021-10-25 21:50] halspang opened #3811 "Actor Reentrancy No Longer a Preview Feature"
The purpose of this issue is to gather supporting evidence that Actor Reentrancy has been in preview long enough or has been sufficiently vetted by the community to be considered a full feature.

Release version: 1.2

Supported SDKs: .NET, Python, PHP
Missing SDKs: Java, JS

[2021-10-25 21:59] halspang opened #3813 "Actor Reminder Partition No Longer Preview Feature"
The purpose of this issue is to gather supporting evidence of Actor Reminder Partitioning no longer needing to be a preview feature.

Release version: 1.3
Supported SDKs: Java, Python, PHP, .NET
Missing SDKs: JS

[2021-10-25 22:02] halspang opened #3814 "gRPC Proxying No Longer Preview Feature"
The purpose of this issue is to discuss if gRPC Proxying no longer needs to be a preview feature.

Release version: 1.3
SDK support: Not strictly required so long as a customer can pass a header to service invocation, though SDKs can provide convenience utilities.

[2021-10-26 23:58] #3810 closed, assigned to pkedy

[2021-10-27 02:26] #3769 closed, assigned to CrazyHZM

[2021-10-27 10:08] mjtansin opened #3817 "Can not access -dapr service on kubernetes"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

Can talk to dapr sidecar service.

## Actual Behavior

I deployed a dapr app called nodeapp in kuberntete, and get two services:
`nodeapp          LoadBalancer   10.103.25.185    <pending>     80:31013/TCP                          3h`
`nodeapp-dapr     ClusterIP      None             <none>        80/TCP,50001/TCP,50002/TCP,9090/

[2021-10-27 21:14] #3743 closed, assigned to nobody

[2021-10-28 06:30] lihanping2016 opened #3820 "I can't get the trace context from the target grpc service through gRPC metadata through "grpc-trace-bin""
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

## Ask your question here
![dapr-trace](https://user-images.githubusercontent.com/17421710/139198224-5dd98b8a-4fc8-4043-a6d2-418041eac6ab.png)

When I call some methods of grpc service  through

[2021-10-28 11:33] 1046102779 opened #3822 "upgrade version incompatibility in production from v1.3.0 to v1.4.3"
Before I upgraded the system service in dapr-system and all logic services (v1.3.0->v1.4.3), except for the following upgrade problem, there are no other problems:

[code]

At that time today I discovered that I forgot to upgrade ingress-nginx-controller. Today I scrolled down it. I found that all the ingress traffic of the cluster was reported incorrectly. Scared me!!!

Then I checked the nginx l

[2021-10-28 15:10] andrey-dubnik opened #3824 "Envoy (Kuma) to Dapr does not like HTTP and only works with TCP"
Hi, I'm trying to pair Kuma Mesh with Dapr which overall works with a small but which I hope someone can help clarifying...

When I'm setting up the traffic flow the only protocol I can use to get Dapr to work is a TCP, Envoy (or Kuma) just do not seem to like the way Dapr replies. This have an implication as I'm not able to use any L7 rules for that as it all boils down to me calling Dapr sidecar

[2021-10-29 01:55] tbhat05 opened #3825 "Upgrade vmware-go-kcl to the latest version"
vmware-go-kcl has released v1.5.0 which uses go 1.17. Suggest upgrading to this version in DAPR

[2021-10-29 06:37] mhozhda-agiliway opened #3826 "Return the original status code to the caller on service invocation. Error based retry configuration"
## In what area(s)?

Dapr service invocation (version 1.4.3) used via dot.net sdk (version 1.4)
Dotnet version: dotnet 5.0

## What version of Dapr?
1.4.3

## Expected Behavior

After calling other service endpoint via dapr service invocation I expect to get the actual status code of the response.

## Actual Behavior

The service returns 404 (NotFoundObjectResult) though dapr performs a few retrie

[2021-10-29 20:58] #3647 closed

[2021-10-29 21:28] yaron2 commented on #3822
@wcs1only @artursouza can you assist?

[2021-10-29 21:46] artursouza commented on #3822
@1046102779  Thanks for creating this issue. This was an intentional breaking change in 1.4.0: https://github.com/dapr/dapr/releases/tag/v1.4.0

The reason is that the Dapr sidecar is not intended to be called from outside the POD. So, we decided to keep the most secure option as the default, but give users an option to override when needed. When using Dapr in production, I highly recommend checki

[2021-10-30 00:28] 1046102779 commented on #3822
How should we deal with the risk of upgrading across major versions in the future? Is it to deploy double dapr clusters and to split during the upgrade process?

[2021-10-30 02:19] #3702 closed

[2021-10-30 03:08] yaron2 commented on #3761
Thanks for reporting this @auhlik, thanks to @CrazyHZM this will be fixed in the upcoming 1.5 release.

[2021-10-30 03:10] DexManx opened #3829 "VS Code Dapr Extension does not seem to work!"
## In what area(s)?
/area docs
/area test-and-release

## What version of Dapr?

 1.4,3

## Expected Behavior
Have services run with Dapr and have there app Ids showing in extension and Dashboard.
Following the tutorial for the Dapr Extension with QuickStart Hello World.

## Actual Behavior
'''

Executing task: daprd-debug-python <
 Executing command: daprd --app-id "pythonapp" --components-path "

[2021-10-30 04:37] CrazyHZM commented on #3825
I tried to upgrade and found that the external dependencies of dapr still have some old version dependencies. These old version dependencies will cause conflicts due to upgrading vmware-go-kcl. I think we can wait a little longer.

[2021-10-30 04:48] CrazyHZM commented on #3825
For example：The `Worker` API of vmware-go-kcl has changed

[2021-10-30 04:53] CrazyHZM commented on #3825
I will follow up on this matter.

[2021-10-30 06:02] xiatiandegaga commented on #3794
thanks，it works well，i have be bother some days，well，thank you

[2021-10-30 07:20] CrazyHZM commented on #3825
Precondition：https://github.com/dapr/components-contrib/issues/1252

[2021-10-30 11:14] #3705 closed

[2021-10-30 13:40] dberecz opened #3830 "SSE support"
## In what area(s)?

 /area runtime

## Ask your question here

Hi all, I'm struggling with using dapr in case of Server Sent Events. I have an HTTP endpoint which is SSE configured, and can also return a plain JSON, depending on `accept` header. If I call the endpoint directly in case of SSE, I get the correct streamed responses. If I call it through dapr, I get no response back, see below. Does

[2021-10-31 19:55] yaron2 commented on #3807
ping @dennishog

[2021-10-31 19:56] yaron2 commented on #3806
It'd be great if you open a PR for this!

[2021-10-31 23:51] taojwmware commented on #3825
https://github.com/dapr/components-contrib/pull/1257 is updating the vmware-go-kcl to the latest.

[2021-11-01 01:53] daixiang0 commented on #3830
Looks it is a new feature, could you provide more details about SSE and use cases?

[2021-11-01 01:57] CrazyHZM commented on #3825
Very good, I will update the `vmware-go-kcl ` version in this warehouse after the components-contrib release.

[2021-11-01 03:26] daixiang0 commented on #3613
ping @artursouza @yaron2

[2021-11-01 03:27] daixiang0 commented on #3368
@artursouza could close it?

[2021-11-01 08:15] jigargandhi opened #3833 "`make gen-proto` fails because `check-proto-version` fails"
In Windows machine
`make gen-proto` fails in a git bash shell because `check-proto-version` target fails to detect `protoc-gen-go`

Also, since go 1.17 go get is deprecated, however, `make init-proto` runs go get and fails.

## In what area(s)?

/area test-and-release

## What version of Dapr?

## Expected Behavior

`check-proto-version` should succeed in windows environment when protoc-gen-go of

[2021-11-01 08:17] jigargandhi commented on #3833
I can take this up. Please assign it to me

[2021-11-01 08:17] jigargandhi commented on #3833
/assign

[2021-11-01 18:06] fjvela commented on #3793
Did you try to upgrade to 1.4.3?

[2021-11-01 23:03] CrazyHZM commented on #3470
This is indeed a problem, I will work on it in the near future.

[2021-11-02 02:37] CrazyHZM commented on #3470
After https://github.com/dapr/components-contrib/pull/1264 is merged and the new version of dapr/components-contrib is released, I will change the changes in dapr/dapr to complete the feature

[2021-11-02 03:26] #3714 closed

[2021-11-02 09:12] PeterGerrard commented on #3793
We have upgraded to both 1.4.0 and 1.4.3 and seen the error

[2021-11-02 15:45] CrazyHZM commented on #3714
Do you mean to support separate TTL refresh?