[2022-05-27 19:03] #4152 closed

[2022-05-27 21:13] olitomlinson opened #4676 "Option to prefix state key with namespace"
## In what area(s)?

/area operator

## Describe the feature
It would be great if there was an option to automatically prefix a state store key with the namespace, such that

`{appId}||{key}` becomes `{namespace}||{appId}||{key}`

**Example**

Two state store components (with the same name, but in different namespaces) which target the same Postgres database instance :
[code]

[code]

The `myState

[2022-05-27 21:17] yaron2 commented on #4676
I agree this would be a very useful addition to the state sharing strategies we have today. I've heard the demand for this from other users as well. We already have the means to support key prefixes via defined strategies today, so this would essentially mean adding a new `namespace` strategy.

[2022-05-28 09:34] #4400 closed

[2022-05-28 09:51] #4408 closed

[2022-05-28 12:25] saber-wang commented on #4676
@yaron2 I think all components that depend on external objects need similar settings.

[2022-05-29 03:33] 1046102779 commented on #4650
There is no standard for the metadata in this response data, and it needs to be determined according to the specific implementation of specified component instance behind state. Such as:
1.  `postgresql`: response's metadata is request.metadata; reference: https://github.com/dapr/components-contrib/blob/master/state/postgresql/postgresdbaccess.go#L235 (postgresql, mysql, azure/blobstorage, ...)
2.

[2022-05-29 03:33] 1046102779 commented on #4650
There is no standard for the metadata in this response data, and it needs to be determined according to the specific implementation of specified component instance behind state. Such as:
1.  `postgresql`: response's metadata is request.metadata; reference: https://github.com/dapr/components-contrib/blob/master/state/postgresql/postgresdbaccess.go#L235 (postgresql, mysql, azure/blobstorage, ...)
2.

[2022-05-29 16:29] #4391 closed

[2022-05-29 20:02] #4209 closed

[2022-05-30 00:25] yaron2 commented on #4676
PR issued here here: https://github.com/dapr/dapr/pull/4677.

In accordance with our current prefix strategy, a new `namespace` strategy was added:

[code]

Note @olitomlinson that keys are generated as `NS1.myService||key`. This is because the `||` separator is used to separate the actual key name.

[2022-05-30 00:28] yaron2 commented on #4676
I fully agree, this can also benefit pub/sub and configuration management. I opened a PR to address state using the existing mechanism for state, and for 1.9 will examine how to bring this to pub/sub and configuration also.

[2022-05-30 02:16] #4676 closed

[2022-05-30 06:16] shubham1172 commented on #4587
Fix using #4662 has been verified with Linux containers. On adding a volume mount and setting the `SSL_CERT_DIR` env, the certificate is getting picked. Check out the deploy yaml [here](https://github.com/shubham1172/dapr-cert-tests/blob/master/deploy/python-withfix.yaml). More details are here https://github.com/shubham1172/dapr-cert-tests

Windows containers are yet to be tested, but I was able

[2022-05-30 09:43] olitomlinson commented on #4676
In the same vein, would this change also support Apps which use Dapr actors, ensuring that state would be kept isolated by the key prefix?

[2022-05-30 16:30] #4422 closed

[2022-05-30 21:06] yaron2 commented on #4586
Is your app deployed into the `default` namespace?

[2022-05-31 02:52] beiwei30 commented on #4590
@hanximm, I made a mistake in my last reply. My point is, you can always reference the target environment variables in command line like this:

[code]

[2022-05-31 05:33] Venkat1188 commented on #4586
Yes

On Tue, May 31, 2022 at 2:37 AM Yaron Schneider ***@***.***>
wrote:

[2022-05-31 08:46] wwbweibo commented on #4641
/assign

[2022-05-31 08:58] XavierGeerinck opened #4678 "Community Reshape to Discord + GitHub Discussions"
For the JS SDK we are opening a [GitHub discussions page](https://github.com/dapr/js-sdk/discussions/categories/announcements) to keep track of the [soon to be released articles page](https://github.com/dapr/js-sdk/blob/503143cd0466d670300c8ec69c8f5cc23ffd6c64/daprdocs/content/en/js-sdk-docs/js-examples/_index.md) as part of a larger [README overhaul](https://github.com/dapr/js-sdk/blob/503143cd04

[2022-05-31 09:07] olitomlinson commented on #4676
@yaron2 Thanks.

This will likely be a blocker for us to adopt dapr Actors if we can't run it in a namespaced capacity on a shared cluster.

Would you like me to open up another GH issue for this?

[2022-05-31 09:53] hareesh-mandaloju opened #4680 "Dapr integration with Agones"
## In what area(s)?

 /area runtime

## Describe the feature

Agones is an open source platform, for deploying, hosting, scaling, and orchestrating dedicated game servers for large scale multiplayer games, built on top of the industry standard, distributed system platform Kubernetes. Dapr sidecar admission is failing due to "service account 'system:serviceaccount:agones-system:agones-controller' n

[2022-05-31 10:42] sammytran90 commented on #4669
Hi @halspang, thank you for your suggestions. I have found the cause of the duplicated keys issue above. It was because I deployed Dapr along with my app into the same namespace:
[code]
which generated multiple nested ```tls.crt``` and ```tls.key``` keys in Dapr kubernetes secret store.

Correct me if I'm wrong but I think Dapr internal secrets should be excluded from the secret store as they are

[2022-05-31 12:36] calvin2021y commented on #2675
any update?

[2022-05-31 15:46] yaron2 commented on #4524
| Metric Name  | Description   | Type       | Tags
| ------------- | -----------  | ---------- | -------------
| total  | Number of resiliency policies loaded | UnitDimensionless | name <br> namespace <br> policy
| count  | Number of times a resiliency policy has been executed | UnitDimensionless | name <br> namespace <br> policy

#### Tags

| Name  | Description
| ------------- | -----------
| na

[2022-05-31 16:35] yaron2 commented on #4556
Ping @LaurenceLiZhixin

[2022-05-31 16:35] artursouza opened #4683 "Remove APP_API_TOKEN from SDKs"
APP_API_TOKEN is used for sidecar to communicate to the APP when there is an authentication token required. Some SDKs (.Net, Go and PHP) also offer a way to propagate this token from the caller application. I propose we remove this feature from SDKs and keep it in runtime only. Having both ways can cause confusion and fragmentation in the Dapr setup.

[2022-05-31 16:37] amulyavarote commented on #4556
I cant see @LaurenceLiZhixin on Discord.

[2022-05-31 16:42] artursouza opened #4684 "Proposal: Make Configuration API stable"
Identify gaps in Configuration API that is stopping it from becoming stable. Create a plan, drive consensus and deliver on items to make it stable.

Examples:
+ Is it implemented in all (or most) SDKs?
+ Are all APIs available via HTTP and gRPC?
+ Have we decided on https://github.com/dapr/dapr/issues/4556 ?
+ E2E tests issue - https://github.com/dapr/dapr/issues/5425
+ There are also other questi

[2022-05-31 17:01] artursouza commented on #4524
`total` and `count` are not descriptive enough since they are measuring different things (loaded count vs execution count). Does it make sense to have total since there is always one policy per name, not?

I propose we just have `count` or `execution_count` and it would avoid the confusion.

If we really think `load_total` is needed, we can have `loaded` or `load_count` and it would always emit th

[2022-05-31 17:10] artursouza commented on #4524
I think that removing the `policy` tag makes more sense now. LGTM.

[2022-05-31 17:14] artursouza commented on #4524
What is the meaning of `name` tag? Is it the policy's name?

[2022-05-31 17:36] juazasan commented on #2836
@yaron2 tbh I do not know. I have been going through the differences between opencensus and opentelemetry apis and I may not be looking at this in the right way but as for now what I see is a bunch of changes needed which I am not completely sure they will be covered by the existing test cases. I am also investigating the potential usage of a [bridge](https://github.com/open-telemetry/opentelemetr

[2022-05-31 17:40] artursouza commented on #4475
For gRPC, the HTTP middleware should not apply. We tried making a mapping between the HTTP and gRPC protocols and it falls short. Each middleware component should be protocol specific IMO.

[2022-05-31 18:20] yaron2 commented on #4524
@artursouza updated the list based on convo.

[2022-05-31 18:30] halspang commented on #4578
@pkedy - That library seems pretty nifty! Though I think I'd rather stick with per-sidecar for now since everything else is also per-sidecar. Seems an easier introduction until we can potentially make a plan to have everything be distributed or to introduce a separate distributed TPS as opposed to singular TPS.

[2022-05-31 18:33] halspang commented on #4678
Do you have any examples of other repos that are doing this and how it works with their community? I haven't seen a repo do this, though I haven't looked too hard. Or is this all new and we'd be pioneering it?

Aside from that though, I think this could be cool. I like the idea of being able to find everything in a more centralized location and allowing users to share articles about dapr/the repo.

[2022-05-31 18:37] halspang commented on #4604
This PR moved ASB to the new SDKs: https://github.com/dapr/components-contrib/pull/1702. Looks like it should be in 1.8 @jmfloreszazo @rnarayana

[2022-05-31 20:31] piotrkpc commented on #4524
would it be useful to capture more detailed metrics for circuit breakers like, `number of times operation was called in half-open state` and `open state` ?

I declared on chat that I would work on  this but I had to take couple days off recently. Sorry for not starting this earlier.

[2022-05-31 21:20] yaron2 commented on #2836
Thanks 🙏

[2022-05-31 23:01] ItalyPaleAle commented on #4673
/assign

[2022-05-31 23:31] ItalyPaleAle opened #4687 "v1.7.4 Release Hotfix Checklist"
- [ ] Dapr maintainer(s) communicate out the discovery of an issue that requires a hotfix and the reason why to the Discord Maintainers and Release channels. Hotfix is one of categories below:
   - [ ] Security vulnerability
   - [ ] Regression that does not have a work around
   - [ ] Broken mainline scenario that has a missing test case
- [ ] ~~Create the v1.7.4-rc.1 Hotfix release (code changes

[2022-06-01 01:00] skyao opened #4688 "Daprd crashed for race condition of grpc connection pool"
## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior

Perf test should pass.

## Actual Behavior

In perf test case (service invoke http) , Daprd crashed for race condition of grpc connection pool.

See page:
https://github.com/dapr/dapr/actions/runs/2418445782

Download the file [perf_container_logs](https://github.com/dapr/dapr/suites/6737249116/artifacts/257110634)

[2022-06-01 01:11] yaron2 commented on #4688
Thanks @skyao it looks like we need a lock there. I'll open a PR.

[2022-06-01 01:11] skyao commented on #4688
@yaron2 I will PR for this to quick fix.

[2022-06-01 01:16] skyao commented on #4688
To quick fix this issue, I add a write lock for Register method of connectionPool.

[code]

@yaron2 You can merge this PR and let's see if perf test fixed.

[2022-06-01 01:18] yaron2 commented on #4688
Ok, mention me for a review.

We need read locks for reading from `p.pool` in `Register` and write locks for assigning a connection on line 191. Same thing for `Release` and `referenceCount`.

[2022-06-01 01:20] 1046102779 commented on #4683
https://github.com/dapr/dapr/issues/4640

[2022-06-01 01:22] skyao commented on #4688
I still have some suggestion about the usage of the lock, now it's a field in Manager struct:

[code]

Can we move it into the connectionPool struct:

[code]

Then we can get/release the lock in the methods of connectionPool struct with defer, for example:

[code]

I suggest to do this refactory because follow code is not safe to release lock if the goroutine panic in the g.connectionPool.Share()

[2022-06-01 01:29] skyao commented on #4688
And the share() method of connectionPool is proteced by a Read Lock, but it changed the p.referenceCount[], so there is still a race condition in this share() method: if there are many goroutines to invoke the share() method, all of them can get the read lock and then update the p.referenceCount[] at the same time.

[code]

[2022-06-01 01:31] 1046102779 commented on #4674
/cc @yaron2 @daixiang0

Help evaluate this plan to see if it is reasonable, and then continue to do it, I am more concerned about this.

[2022-06-01 01:50] skyao commented on #4688
There is another risk:

[code]

So Release() method of connectionPool is called without lock:

[code]

I'm not sure if it is safe since p.referenceCount[] is also a map.  Is the ++ / -- opeations are safe to map[]?

[2022-06-01 01:51] yaron2 commented on #4688
Yeah we need to `Lock` on incrementing in `Share`. Also, `Release` is returning the teardown method and that is used concurrently:

[code]

We have to put read/write locks inside of `Release`.

[2022-06-01 01:51] yaron2 commented on #4688
@skyao we are writing concurrently about the same things :D

[2022-06-01 01:54] yaron2 commented on #4688
No, they're not.

[2022-06-01 02:17] skyao commented on #4688
Yes, I did a test and verified that ++/-- is not safe:

[code]

It crashed for:

[code]

So we need to update all the code to handle p.referenceCount[].

[2022-06-01 02:18] yaron2 commented on #4688
Yep. Do you want to do it or shall I?

[2022-06-01 02:36] yaron2 commented on #4688
Ok

[2022-06-01 02:36] yaron2 commented on #4688
@skyao Do the perf tests pass now?

[2022-06-01 03:04] beiwei30 commented on #4556
I agree with your idea @amulyavarote but with one minor suggestion, which is, since we are using dictionary now, we should avoid duplicating "key" property in the value part.

[code]

[2022-06-01 03:29] artursouza opened #4690 "Add perf test dryrun on PR validation"
## In what area(s)?

/area test-and-release
## Describe the proposal

Today, a PR can break perf tests without maintainers being aware. Running /ok-to-perf is expensive on every PR given the time it takes to complete. This proposal is to add a new workflow for PRs that will validate that the perf tests can run on Kind and ignore the perf numbers - so it is called "dry-run".

[2022-06-01 04:32] artursouza commented on #4662
Please, add doc explaining that this can be used with file based secret store.

[2022-06-01 04:34] artursouza commented on #4662
Also, it is possible to mount Secret as volume mount on K8s: https://kubernetes.io/docs/concepts/configuration/secret/

[2022-06-01 04:37] shubham1172 commented on #4662
@artursouza, yes, all of these (including k8s secrets) are supported https://kubernetes.io/docs/concepts/storage/volumes/

[2022-06-01 04:40] 1046102779 commented on #4674
When I extract the dependencies required by `components-loader` repository, the code changes in the dapr core repository are as follows:

[code]

[2022-06-01 04:42] artursouza commented on #2167
Instead, can we use a more specific path:

`http://localhost:3500/v1.0/healthz/components/<component_name>` -> Health of a specific component
`http://localhost:3500/v1.0/healthz/components` -> Health of all components (all required components should be healthy)

[2022-06-01 05:17] ItalyPaleAle opened #4692 "Proposal: Option to disable certain components at runtime"
## In what area(s)?

/area runtime

## Describe the proposal

At present, developers are able to use every supported component in Dapr, by creating a component CRD with the desired component type.

In some situations, that may not be desired. For example, cluster administrators may want to restrict the type of available components (e.g. to disable certain state stores, secret stores, etc, either v

[2022-06-01 05:23] yaron2 commented on #4692
This is possible via scopes today.

https://docs.dapr.io/operations/components/component-scopes/

[2022-06-01 05:42] ItalyPaleAle commented on #4692
I think that’s something different though, isn’t it?

scoping is about making a configured component visible to certain apps only. For example, a component of type pubsub.in-memory instantiated with name “mypubsub” could be used by certain apps only.

This proposal is about restricting the types of components that can be created. Let’s say that the admin configures Dapr to disallow in-memory pubsu

[2022-06-01 05:48] LaurenceLiZhixin commented on #4556
I agree with the idea from @amulyavarote , and I think configuration Item struct defination at https://github.com/dapr/dapr/blob/master/dapr/proto/common/v1/common.proto#L139 can be updated as:
[code]

[2022-06-01 05:57] yaron2 commented on #4692
This is exactly what scopes does. If a component is scoped to app one,  app two cannot instantiate the component or use it in any way. The component never goes through init and cannot be used.

[2022-06-01 05:59] ItalyPaleAle commented on #4692
Right, but what if I want no app to be able to use components of a certain kind? Like, say the admin doesn’t want *any* app to be able to use AWS S3.

[2022-06-01 06:01] yaron2 commented on #4692
If by instantiate you mean able to create the resource in Kubernetes via kubectl apply, then this is not supported by Kubernetes.

[2022-06-01 06:03] ItalyPaleAle commented on #4692
No… AWS S3 is a service so it can’t be restricted.

in this case, the admin doesn’t want any developer to use S3 with Dapr, so they add “state.aws.s3” to the deny list.

[2022-06-01 06:05] ItalyPaleAle commented on #4692
Yes but that doesn’t forbid a developer from creating another component CRD for components of that type.

the problem in this case isn’t disallowing a “component”, but a “component type”.

[2022-06-01 06:11] yaron2 commented on #4692
Ok, I understand. Usually it would be operators who are in charge of the component CRD creation with RBAC, and tbh I can't seem to think of any real world usage for this. Can you give some concrete examples of why an operator would want to forbid a developer from creating a certain component type?

[2022-06-01 06:12] beiwei30 commented on #4640
No matter 'Shutdown' or proposed 'GracefulShutdown', it is too dangerous to deploy dapr apps in production env if they are not secured, and I believe that's where [api-token](https://docs.dapr.io/operations/security/api-token/) kicks in as @yaron2 points out.

And this issue cannot be solved by removing the corresponding admin commands from client SDK, since these APIs can be accessed without SDK.

[2022-06-01 06:13] ItalyPaleAle commented on #4692
For sure.

A concrete example is this customer who wants to disable accessing some secret stores, including the K8s and the other local secret stores. Can share more details on discord if needed.

I can also think of this being useful in cases when a customer has compliance requirements for using certain data stores only, for example.

[2022-06-01 06:26] yaron2 commented on #4692
It's possible today to disable the k8s built in secret store, with a change that went in for 1.8.

As for the use cases you gave, I do not find them satisfactory, for the following reasons:

1. The app can still connect to whatever data store by simply having the developer writing the code in their app to do so. If the intent is to restrict a developer persona from creating a component, this fails

[2022-06-01 06:49] beiwei30 commented on #4556
/assign

I have some bandwidth in this week. I can give it a try if we all reach a consensus.

[2022-06-01 08:44] saber-wang opened #4694 "The metadata in the request should be used preferentially in the settings related to publication and subscription"
## In what area(s)?

/area runtime

## Describe the feature

Giving priority to the metadata in the request can meet more personalized needs.
For example, you can customize the persistence settings of `topic`.
This function can also be extended to all other components.

Together with proposal dapr/dapr#4603, it can also provide more versatility

[2022-06-01 09:18] hanxinimm commented on #4537
@Syuparn the error still exists, the version 1.7.4

![image](https://user-images.githubusercontent.com/13499426/171370910-f03420f7-1d50-48f6-a2a5-16368b647d49.png)

and i find a  strange  log

![HR X5J`H{58@JR@LL6VDQ~Q](https://user-images.githubusercontent.com/13499426/171370435-1c0e4e9f-8ca0-489a-b688-f920591a4dfa.png)

[2022-06-01 09:43] beiwei30 commented on #4556
@LaurenceLiZhixin pls. review dapr/components-contrib#1771

[2022-06-01 10:03] daixiang0 commented on #4674
@1046102779 glad to see your try at local. It is really a big change and I want to see more feedback. Could you show it in the next community call?

/cc @artursouza @skyao

[2022-06-01 10:49] DanielHazlewood commented on #501
Would also like to chime in, this feature would be amazing.

[2022-06-01 12:21] 1046102779 commented on #4674
When I extract the dependencies required by `components-contribs` repository, the code changes are as follows:

[code]

[2022-06-01 14:35] shubham1172 commented on #4587
The approach has been confirmed for Windows as well. For the PoC, please refer to https://github.com/shubham1172/dapr/pull/9
The README in https://github.com/shubham1172/dapr-cert-tests contains more information.

I will work towards creating an actual PR. FYI, I have used PowerShell in my PoC but as @ItalyPaleAle pointed out earlier, it might increase the attack surface and it is also heavier (~5

[2022-06-01 14:36] ItalyPaleAle commented on #4587
Great work @shubham1172 confirming that everything works and running a successful POC :)

[2022-06-01 16:26] yaron2 commented on #4537
@hanxinimm the fix for this issue will go into 1.8. It wasn't released in 1.7.4.

The errors you are showing are fine as Dapr runs without mTLS in self-hosted mode by default.

[2022-06-01 16:57] shubham1172 commented on #4587
Hey @callebjo, we are targeting this for v1.8. You should be able to test it as soon as it lands in master using our nightly builds, or you can wait for the first release candidate!

[2022-06-01 18:19] eguer004 opened #4697 "Dapr Service Invocation in Self Hosted Environment with Docker and mTLS"
## In what area(s)?
 /area runtime

## Ask your question here
I am in the middle of setting up Dapr service invocation in a self hosted environment using Docker and docker-compose. The goal is to setup two web services using HTTPS with their own corresponding sidecars and have the sidecars communicate via mTLS and using the Sentry CA service to validate the certs.

I am having trouble with the sid

[2022-06-01 18:25] artursouza opened #4698 "Sidecar injector to discover patch releases of Dapr sidecar"
## In what area(s)?

/area operator

## Describe the proposal

Today, the Sidecar Injector will always inject the same sidecar image, even if there is patch available. Since Dapr follows Semantic Versioning, it should be relative safe to inject a patched version of the sidecar for new Pods, even if it means fragmenting the cluster. It means that it should be safe to run all patch versions of 1.7.X

[2022-06-01 18:39] yaron2 commented on #4698
This is an advanced feature for power users who know what they're doing. I'm good with adding that as it can save some operational overhead with managing hotfixes.

[2022-06-01 19:26] piotrkpc commented on #4524
I was thinking about following metrics:
| Metric name                            | Description                                                                                    | Type              | Tags                                               |
|----------------------------------------|------------------------------------------------------------------------------------------------|--------

[2022-06-01 19:43] eguer004 commented on #4697
Thank you for responding @yaron2. Changing localhost:50001 to sentry:50001 fixed the connectivity issue and I can now connect the service sidecars to the sentry service.

Also I confirmed that I can use the Docker Hub daprio/sentry image successfully.

At this point, I think ServiceB's sidecar is communicating with ServiceA's sidecar using mTLS. How can I confirm this? I don't see any success logs

[2022-06-01 20:41] mcrio commented on #4604
+1 for sessions 👍

[2022-06-01 21:43] eguer004 commented on #4697
Ahh I see, okay thank you very for your help.

[2022-06-01 21:43] #4697 closed

[2022-06-01 23:07] safanaj commented on #4428
Hi @daixiang0 , I started to work on a proposal for this feature, the draft PR is #4699

I would appreciate some guidance about make that PR compliant/ready for the approval.

Thanks

[2022-06-02 00:31] daixiang0 commented on #3968
@safanaj I see you create a transformer as https://github.com/safanaj/dapr-cert-transformer, are you interested in introducing it into dapr, not a single project but an internal pkg?

[2022-06-02 00:53] daixiang0 commented on #4680
/assign

[2022-06-02 02:20] #4688 closed

[2022-06-02 04:36] suraciii opened #4703 "Dapr produces high cardinality span names on creating/deleting reminders"
## In what area(s)?

/area runtime/actor

## What version of Dapr?

## Expected Behavior

Dapr produces trace spans with certain static names, like 'DeleteReminder/{ActorType}/{ReminderName}'

## Actual Behavior

Dapr produces spans with bad names like '/v1.0/actors/{ActorType}/c5ab0479-a6c3-4ae6-a724-028bfc4d1b9e/reminders/{ReminderName}'

## Steps to Reproduce the Problem

1. Enable tracing feat

[2022-06-02 04:45] #3719 closed

[2022-06-02 04:48] suraciii commented on #4703
I checked [related code](https://github.com/dapr/dapr/blob/1d69ce63c9c92a9087034aac2729d5b475121008/pkg/diagnostics/http_tracing.go#L55) in dapr, seems it will fall back to use request path as span name if there's no span name set in `spanAttr[daprAPISpanNameInternal]`

Can this behavior change to using route pattern as default span name? like `"{http_method} actors/{actorType}/{actorId}/reminders

[2022-06-02 07:33] skyao commented on #4576
Since this proposal is accepted by STC, we will start to design and try to bring the first simple, yet runnable demo to quickly verify our ideas and thus it will be a baseline to us for more deep and detail discussion.

[2022-06-02 07:40] safanaj commented on #3968
@daixiang0 I wrote that "transformer" as workaround because the filenames/keys for the TLS secret are constants, I would suggest to fix that instead to add a component, but also the latter approach could be ok, just I don't think I have time to work on a proper integration code now

[2022-06-02 13:51] ItalyPaleAle commented on #3968
@safanaj what does your code do? It wasn't clear from the README and I am not allowed to read your code because it's GPL'd 😔

[2022-06-02 17:18] osamaz26 commented on #3169
Organization/Company: KalmarEnergi
Website: https://kalmarenergi.se
Country: Sweden
Contact: osama.zarraa@kalmarenergi.se
Usage: Using Dapr between microservices for different scenarios such as automatic connect/disconnect electric meters and consuming messages from Kafka.
Status: Production

[2022-06-02 17:27] osamaz26 commented on #4592
I have been investigating this issue and I check the code to know the reason behind this issue. If I understand it correctly, there is no way in current version 1.7 to prevent Kafka pubsub from keeping retrying to consuming a message since it will not consume the message if an error occurs. Compared with the last code from version 1.8, it seems there is a new parameter which is called ConsumeRetry

[2022-06-02 17:40] yaron2 commented on #4592
The retry policy determines the number of retries a local Dapr sidecar will attempt to re-deliver the message to it's local app. After the retries in the policy are exhausted, Dapr will fail the message to Kafka (or whatever pub/sub you're using), at which point the message bus will attempt to redeliver the message to other consumers. If there's only one instance of a consumer, it will be re-deliv

[2022-06-02 17:43] osamaz26 commented on #4592
Thanks, @yaron2 for clarification.

[2022-06-02 17:44] #4592 closed

[2022-06-02 17:49] roynilanjan opened #4705 "keycloak Integration with Dapr"
Hi,
We are trying to integrate keycloak with Dapr . Can you share an example on this .
Thanks.

[2022-06-02 21:35] berndverst opened #4706 "Log app response for incoming invocation requests if API logging is enabled"
/area runtime

Today it is difficult to troubleshoot failures related to service invocation. Most of the time these errors occur on the callee / receiver side but the sidecar logs no information there. This then causes a user or operator to unnecessarily investigate the caller / sender app or the transport layer.

I propose that whenever the existing `enable-api-logging` flag is enabled, we also l

[2022-06-02 21:41] berndverst commented on #4706
/assign

[2022-06-03 00:27] ItalyPaleAle commented on #4447
After the changes made in #4626 we have seen stabilization in the E2E tests. Network timeouts seemed to have been primarily caused by SNAT port exhaustion in the Actions runners. Mitigations implemented in #4626 seem to have significantly reduced those kinds of issues (although there are other issues to fix :) ).

I am not sure if this work is still needed now.

[2022-06-03 06:59] gdlcf88 commented on #4233
I created a module to implement the Outbox/Inbox pattern using [DTM](https://en.dtm.pub). It supports the multi-tenant multi-database scene, no matter how many different DBs.

See https://community.abp.io/posts/introduce-dtm-for-multitenant-multidatabase-scene-23ziikbe

This implementation is slightly different from the above. It may be another possible way.

[2022-06-03 06:59] gdlcf88 commented on #4247
See https://github.com/dapr/dapr/issues/4233#issuecomment-1145650624

[2022-06-03 08:32] 0xakihiko commented on #3514
This looks mostly finished in https://github.com/dapr/dapr/pull/3941 - any reason it was removed from the v1.7 milestones?

[2022-06-03 16:25] artursouza commented on #4703
In the example above, do you mean to strip the actorType, actorId and name values by placeholders?

[2022-06-03 16:27] artursouza commented on #4698
This logic would probably need to understand semantic versioning, and, ideally, not depend on GitHub APIs. Discovering patches on any registry would be ideal.

[2022-06-03 16:29] artursouza commented on #4678
I do prefer the forum discussion over random chat on Discord. Is is hard to follow discussions in a single big thread. I am all in for this proposal. /cc @msfussell  @yaron2

[2022-06-03 17:22] halspang commented on #4684
There are also other questions on the Configuration API:

https://github.com/dapr/dapr/issues/4546

[2022-06-03 17:27] suraciii commented on #4703
Thanks for your response.

For reminders creation/deletion:
It's better to give it a readable name, like `"DeleteReminder/OrderActor/CancelOrderReminder"`, actor id needs to be omitted since it has unbounded values.
just as same as span names for actor invocation
https://github.com/dapr/dapr/blob/1d69ce63c9c92a9087034aac2729d5b475121008/pkg/diagnostics/http_tracing.go#L295

Also, I propose to not

[2022-06-03 17:32] ItalyPaleAle opened #4708 "Issues with `go.opentelemetry.io/otel` dependency"
There seems to be an issue with our dependency on `go.opentelemetry.io/otel`, specifically used here:

https://github.com/dapr/dapr/blob/57f82682498d2e58558a0bcd0b2ae94175c45a42/pkg/diagnostics/tracing.go#L31

@pkedy brought to my attention that the library has been updated to version 1.7.0 and that changed the import path too. It should be imported as `semconv "go.opentelemetry.io/otel/semconv/1.

[2022-06-03 18:35] yaron2 commented on #4546
I'm fine with that, but I want @LaurenceLiZhixin to approve this as well.

[2022-06-03 20:39] aaronolds commented on #3169
Organization/Company: Camelot SI LLC, Sharper Image Licensee of SharperImage.com
Website: [https://sharperimage.com](https://sharperimage.com)
Country: USA
Contact: aolds@sharperimageonline.com
Usage: We are using Dapr on the back end of our Headless e-commerce website.  We are using Dapr for service-to-service communication via gRPC, Pub/Sub with Kafka, and Secrets Store.
Can we use your logo on

[2022-06-03 22:52] cloudguruab commented on #4690
@artursouza ramping up in the codebase can you provide some context on "run on kind and ignore the perf numbers - so it is called 'dry-run'"

[2022-06-04 02:50] yaolc opened #4710 "windows 10 install dapr 1.7.3 failed"
C:\WINDOWS\system32>dapr init --from-dir D:\daprbundle
Making the jump to hyperspace...
Local bundle installation using --from-dir flag is currently a preview feature and is subject to change. It is only available from CLI version 1.7 onwards.
Installing runtime version 1.7.3
Extracting binaries and setting up components...
error moving dashboard binary to path: ʹ�á�3�����������á�SetEnvironmentVar

[2022-06-04 20:32] #4044 closed

[2022-06-04 21:04] olitomlinson opened #4711 "Support namespace isolation/multi-tenancy for Dapr Actors"
## In what area(s)?

## Describe the feature
_Apologies in advance, this issue probably needs a better title!_

In the same vein as this [issue - Option to prefix state key with namespace](https://github.com/dapr/dapr/issues/4676), we want to deploy many copies of our entire system to our dev test cluster. However, Dapr Actors do not currently support this level of namespace isolation/multi-tenanc

[2022-06-05 12:03] #4418 closed

[2022-06-06 00:53] yaolc commented on #4710
The system is Windows10 Professional. The result of  Get-ExecutionPolicy  is RemoteSigned. The user of windows  is Administrator and the CMD is also used By Administrator.

[2022-06-06 02:03] #4392 closed

[2022-06-06 04:18] #4390 closed

[2022-06-06 04:43] shubham1172 opened #4712 "Use the correct Docker images in Helm charts"
## In what area(s)?

/area test-and-release

## Describe the feature

For sentry, operator, placement, and injector, we always use the Dapr image.

https://github.com/dapr/dapr/blob/ae49999f48858116830d18e3075f25fe7bf8cac3/charts/dapr/charts/dapr_sentry/templates/dapr_sentry_deployment.yaml#L78-L82

https://github.com/dapr/dapr/blob/ae49999f48858116830d18e3075f25fe7bf8cac3/charts/dapr/charts/dapr_

[2022-06-06 04:54] pravinpushkar opened #4713 "Publish Dashboard image to GHCR"
## In what area(s)?

 /area test-and-release

## Expected Behavior

Currently `Dasboard` image is getting published only to `DockerHub`.

## Actual Behavior

We should make the change here `https://github.com/dapr/dashboard/blob/master/.github/workflows/build.yml` to publish it to GHCR also similar to other images.

## Steps to Reproduce the Problem

Check the published packages here https://githu

[2022-06-06 05:09] pravinpushkar opened #4714 "Remove hardcoded registry from values.yaml for dashboard"
## In what area(s)?

 /area test-and-release

## Expected Behavior
Dashboard should be able to pick from different registry configured by `global.registry`

## Actual Behavior

Currently registry value for `Dashboard` is hardcoded here https://github.com/dapr/dapr/blob/ae49999f48858116830d18e3075f25fe7bf8cac3/charts/dapr/charts/dapr_dashboard/values.yaml#L5

So, even if `global.registry` is set to

[2022-06-06 05:24] artursouza commented on #4710
Moving this to CLI.

/cc @mukundansundar

[2022-06-06 07:43] safanaj commented on #3968
Hi @ItalyPaleAle , basically it just keep watching a secret (especially dapr-trust-bundle) for the keys "tls.key" and "tls.crt" and copy the content respectively to "issuer.key" and "issuer.crt" , this is pretty useful if you want the dapt-trust-bundle to be be managed by cert-manager, and provide it to dapr-sentry and all other components.

what do you mean?

[2022-06-06 09:09] auhlik commented on #3761
Reopen

[2022-06-06 13:09] pravinpushkar commented on #4713
PR- https://github.com/dapr/dashboard/pull/209

[2022-06-06 13:41] ItalyPaleAle commented on #3968
@safanaj thanks for explaining, makes sense now and I see its value - although I agree that we should probably be looking into an integrated solution rather than (yet another) background service.

As for the last part… because you released your source code under a GPL license, our policies require that I do not study/read your code, otherwise there's the risk that I may (even unconsciously) copy y

[2022-06-06 17:13] ItalyPaleAle opened #4716 "Change logger library from logrus to zerolog"
## In what area(s)?

/area runtime

## Describe the proposal

Currently, the Dapr runtime (including all components) write logs out using [dapr/kit](https://github.com/dapr/kit), which contains a wrapper around [logrus](https://github.com/sirupsen/logrus).

Although logrus works fine, it's a "done" project that is currently in maintenance mode.

More importantly, all logging calls made with logrus

[2022-06-06 17:55] yaron2 commented on #4706
Logging responses can be very dangerous in terms of IO perf and creating bottlenecks (both for local IO and log sink like Elastic etc.) if there's a high throughput request rate with sizable responses. Another issue of course is creating noise in the logs making actual errors unable to spot.

The second issue here is with tying this functionality to the API logging. The declared, single purpose of

[2022-06-06 18:04] artursouza commented on #4313
Summarizing the approach:

Stops new incoming messages right away for PubSub, Binding and Service Invocation.
Continue allowing outgoing API calls during grace period for all APIs.
Allow this to be configurable via K8s annotation.

[2022-06-06 18:15] yaron2 commented on #4524
@piotrkpc These are good metrics to have for troubleshooting as you pointed out. my only concern is in regards to making metrics volume size bigger. This is already an issue today, as Dapr metrics are already rather verbose and when sent to an out-of-cluster metrics store, this incurs some serious egress fees. Considering this is used for troubleshooting mainly (as opposed to monitoring aggregated

[2022-06-06 18:38] artursouza commented on #4317
As per #4131, I would propose:

Stops new incoming messages right away for PubSub, Binding and Service Invocation.
Continue allowing outgoing API calls during grace period for all APIs.
Allow this to be configurable via K8s annotation.

[2022-06-06 23:42] Calebjh opened #4718 "Configurable default daprd sidecar resources for Kubernetes HPAs"
## In what area(s)?

 /area operator

## Describe the feature
I think it would be beneficial to support default resource settings on injected daprd sidecars, set in the sidecar-injector parameters.
For using Kubernetes HPAs, having containers without resource settings in a pod causes issues. Being able to set cluster-wide defaults for daprd sidecars, with labels used to override those defaults, wo

[2022-06-07 01:43] NepPure commented on #635
Any updates to this?

[2022-06-07 07:20] beiwei30 commented on #4627
@itsoli91 it looks like mDNS fails to work in your environment, pls. make sure your VPN software is not running. Right now the community are working on simpler solution like: https://github.com/dapr/components-contrib/pull/1455 and https://github.com/dapr/components-contrib/pull/1380. Feel free to give it a try.

[2022-06-07 07:36] beiwei30 commented on #4621
+1 This capability proposal could also allow the user app to discover the difference of supported keys across the different components. see discussion in https://github.com/dapr/dapr/issues/4603

[2022-06-07 09:43] lunatrik commented on #635
There are any news regarding dapr compatibility with Docker swarm? I'm trying to figure out if my solution currently can be dapr, but if it doesn't work with docker swarm I have to fall back for another solution.

[2022-06-07 10:11] LaurenceLiZhixin commented on #4546
I thought about your plan, and I think what you say makes a lot of sense.
There were some problems in our previous design. I tested that the one-way flow mode gRPC server could get the disconnected singnal and execute the unsubscribe operation, which did not need to be actively triggered by users. And there is no go-routine keep blocking if we handle it properly.
So, I think the API can be modifie

[2022-06-07 15:17] MattCosturos commented on #4171
Will this issue be fixed in 1.8?
We had an outage, and our system did not recover due to this issue.

[2022-06-07 15:19] yaron2 commented on #4171
@artursouza to provide info here as triager.

[2022-06-07 16:28] ItalyPaleAle commented on #814
With dapr/components-contrib#1756 merged, all components's `Subscribe` method now support a context that allows canceling the subscription. Although that was implemented originally for another reason, we now have everything in place in the components to be able to support this feature.

[2022-06-07 18:03] berndverst commented on #4171
@yaron2 I just updated all my incorrect understanding in the issue. @ItalyPaleAle is currently investigating.

One possible option may be to set the AdmissionWebhook Failure Policy to `Fail`. We'll be evaluating that approach.

[2022-06-07 18:08] ItalyPaleAle commented on #4171
We are seeing this issue in the E2E tests too, randomly, and I've been investigating this for a few days.

With the logs we have so far, it looks like the injector service(s) do not receive the webhook call at all. I am waiting for #4719 to be merged so I can access the audit logs and see exactly what happens on the K8s side (our current logs only report what's happening on the injector side). My

[2022-06-07 18:52] ItalyPaleAle commented on #4171
I proposed changing the default value to `Fail` in #4721. This can be done in parallel to the investigation into figuring out _why_ the injector isn't getting messages.

[2022-06-07 19:29] gunniwho commented on #4171
I don't think it's a good idea to make `Fail` the default option as it can lead to a very bad situation: if you lose all instances of the sidecar injector then you won't be able to schedule _any_ pod, including the sidecar injector itself.

I believe it is natural that the sidecar injector periodically checks for active pods that have the dapr-enabled annotation but no dapr sidecar and in those ca

[2022-06-07 19:43] ItalyPaleAle commented on #4171
@gunniwho that makes sense. Looks like there's no way to restrict to pods with a certain annotation, so what you're saying is a real risk.

[2022-06-07 19:53] gunniwho commented on #4171
@ItalyPaleAle we learned it the hard way the other day (albeit with another sidecar injector) 😅

[2022-06-07 20:38] ItalyPaleAle commented on #4171
@MattCosturos that sounds like a possible issue as well, when all injectors die.

In the case of E2E tests, the injectors are running, but the webhook dosn't get delivered.

Perhaps a watch-dog is what we need.

[2022-06-07 20:49] gunniwho commented on #4171
We see this happen frequently on our dev env. We update the AMI of our nodes every week (if there is an updated AMI at that point), resulting in the entire node pool getting recycled a few nodes at a time (this does not honor PDBs). This usually results in this exact issue, ie the injector comes up after some of the application pods making us have to manually delete the affected pods.

[2022-06-07 23:27] tanvigour opened #4723 "Adding alicloud.dubbo component caused spike in total cpu usage in longhaul"
This component was added on Jun 2nd after which longhaul nightly showed sudden spike in Total CPU usage data. The image of dashboard below shows the sudden spike.

<img width="668" alt="image" src="https://user-images.githubusercontent.com/60332928/172499645-27ddfcaf-8589-4314-bf62-b7925c28bc73.png">

After commenting out the component import and loader in cmd/daprd/main.go, the data seems to have

[2022-06-08 01:00] artursouza opened #4724 "Proposal: Remove Dashboard from Dapr's Helm Chart"
Dashboard does not seem to be widely used (feeling, no data yet - happy to be proven wrong here). It is also in a different maturity level compared to the rest of the project (still pre 1.0). I propose the following:

+ Remove Dashboard from Dapr's Helm Chart
+ Create a new subcommand in CLI: `dapr dashboard init` that also supports picking the dashboard version to be used.
+ Release Helm chart fo

[2022-06-08 01:07] artursouza commented on #4598
Yes, placement will rebalance Actors as new app instances become available.

[2022-06-08 01:42] ItalyPaleAle commented on #4601
This sounds like an issue with the CLI, rather than the dev container, to me? If the `~/.dapr/components` folder doesn't exist, it should probably not throw an error.

+ @mukundansundar what do you think?

[2022-06-08 04:15] DeepanshuA commented on #2167
After discussing with @artursouza, following points were discussed:

1. Pinger interface to remain in components-contrib only.
2. Making Ping function optional so that it doesn't become mandatory for all components to implement it.
3. Adding http://localhost:3500/v1.0/healthz/components along with http://localhost:3500/v1.0/healthz/components/<component-name> as an endpoint.
4. All stable componen

[2022-06-08 04:22] DeepanshuA commented on #2167
@moonchanyong Thanks for your PRs that are already there to cater to this issue. They provide a direction to close this issue. I tried to reach you via https://github.com/dapr/components-contrib/pull/1217#issuecomment-1141696676; in order to try this out for v1.8, I will try doing changes on top of your PRs, thanks.
Please feel free if you want to do the changes yourself and we can collaborate.

[2022-06-08 06:07] shubham1172 commented on #4587
/assign

[2022-06-08 06:13] callebjo commented on #4587
Great  Tnx!

Op wo 8 jun. 2022 om 08:07 schreef Shubham Sharma ***@***.***

--

*Johan Callebert*

*ICT Middleware Developer*
*Randstad group*

*Keizer Karellaan 586 bus 81082 Brussel/Bruxelles*

tel. +32 2 472 60 50
gsm. +32 478 68 03 35

--
Disclaimer:This e-mail is confidential and intended for the addressee(s)
only. If you are not an addressee please promptly notify the sender and
delete the m

[2022-06-08 09:56] pravinpushkar commented on #4621
Interesting, but currently the proposal and the PR above intends to only list out the features and specific API support if there is any. I have not taken into account the metadata for components.
If we want to list out all supported metadata for the loaded components, then probably we should put those under a different key in response like `properties` or something. We can also do this change in a

[2022-06-08 12:45] MattCosturos commented on #4171
This is problematic for running dapr in a production environment. Are there any docs/guides on using dapr in a production environment where downtime would best be avoided?
Obviously I can get alerts when my application dies, but in the middle of the night, no one is around to manually delete the pods to resolve this side-car injector issue

[2022-06-08 14:40] ItalyPaleAle commented on #4171
/assign

[2022-06-08 15:51] eburnette opened #4726 "Support RedPanda"
## In what area(s)?

 /area runtime

## Describe the feature

RedPanda, like Pulsar, is compatible with Kafka but has improved performance and other features. This is a request to support RedPanda as a first-class pub/sub broker alongside Kafka and Pulsar.

## Release Note

RELEASE NOTE: **ADD** Added support for RedPanda.

[2022-06-08 16:19] ItalyPaleAle commented on #4171
I'm going to look into this issue and we'll try to get a fix into 1.8

[2022-06-08 18:24] #4673 closed

[2022-06-08 20:30] #4662 closed

[2022-06-08 23:07] ItalyPaleAle opened #4730 "Merge injector into operator service"
## In what area(s)?

/area operator

## Describe the proposal

Right now, running Dapr on Kubernetes requires multiple control plane services, including operator and injector.

The operator is a larger application that performs a few separate tasks, including offering an API server for all sidecars to receive the configuration objects.

The injector, instead, is a simpler application with a single

[2022-06-08 23:23] berndverst commented on #4706
@yaron2 the problem is that if the target app is erroring this isn't sufficiently clear in the service invocation response today. You never know just how far the request actually made it.

This is what I want to address somehow. It doesn't have to be this logging feature here, but we need something better than what we have today.

[2022-06-09 00:30] yaron2 commented on #4706
I'd argue that rarely do you not know how far the request actually made it. The most common example is the app trying to invoke Dapr before the sidecar is running, resulting in `connection refused`. Clearly, the request never made it to Dapr.

The second most common example is invoking an app and due to a network error or any failure in either Dapr sidecar, which results in Dapr returning a Dapr s

[2022-06-09 01:54] beiwei30 commented on #4723
will follow up.

[2022-06-09 02:01] LaurenceLiZhixin commented on #4723
/assign

[2022-06-09 05:12] mukundansundar commented on #4621
I agree. That it should be a separate PR as well as a separate field in the metadata API response.

@pravinpushkar Quick question ...  I am seeing that in the developer persona of the API, you have added a separate capability API. Is that the intention that the developer of the app will request that API for whether the component will support certain capabilities and if the response is negative the

[2022-06-09 12:12] LaurenceLiZhixin commented on #4723
I I replicated the problem and found the cause. It's a bug in the dubbo basic library. Do we to remove this module out of dapr runtime first? Then I need to resolve the versions referenced by this set of packages and upgrade the underlying libraries.

[2022-06-09 15:44] akhilac1 opened #4760 "[ Proposal ] Support for dynamic loading of component configuration in Dapr Self-hosted mode"
/area runtime
/area docs

## Describe the proposal

Prototype :  [ https://github.com/akhilac1/dapr_delayedComponentLoading](https://github.com/akhilac1/dapr/tree/dapr_delayedComponentLoading)

## What?
This proposal outlines the approach to enable dynamic loading of components using HTTP and gRPC API, when Dapr is running in  *self-hosted* mode. Dapr should be able to persist the configuration in

[2022-06-09 21:11] mayoatte opened #4734 "Forward Traces To Open Telemetry Collector Daemonset"
## In what area(s)?

/area runtime

## Ask your question here

We are evaluating Dapr and have run into an issue trying to send traces to the open telemetry collector.

We installed the open telemetry collector as a daemonset (per recommendations from the open telemetry collector docs) and we are trying to get the dapr sidecars to send telemetry to the open telemetry collector on each node.

How c

[2022-06-09 21:19] halspang commented on #4546
@LaurenceLiZhixin - Are you advocating for not including the ID in the request and fully removing the `Unsubscribe` side of the API so we can do it all via gRPC stream controls?

[2022-06-09 22:02] artursouza opened #4736 "Actor type metadata as stable feature"
Make Actor.TypeMetadata as stable feature. This allows reminders to be partitioned since the partition information is persisted as the actor type's metadata.

Docs issue: https://github.com/dapr/docs/issues/2506

[2022-06-10 02:43] msfussell opened #4738 "Add metrics for subscriptions"
## In what area(s)?
/area runtime

## Describe the feature
With the introduction of dead letter topic for subscriptions in v1.8 https://github.com/dapr/docs/issues/2395 there is a need to be able to see metrics on a subscription for on the number of dead letter messages forwarded, with the name of the failed . Although there are resiliency metrics https://github.com/dapr/dapr/issues/4524 that may

[2022-06-10 03:08] msfussell commented on #4678
The tricky issue here is that there is a large Discord community now and we cannot move that. So this would have to become a both GitHub Discussions and Discord and that means some duplication of issues, questions etc.

[2022-06-10 03:36] ItalyPaleAle commented on #4674
@1046102779 thanks for the very detailed proposal. I agree that we have a lot of components, and we add more on almost every release, and of course no customer will use all of them.

Have you looked into the proposal for the external gRPC components? https://github.com/dapr/dapr/issues/3787 This is something that we're actively working on (hopefully for Dapr 1.9). It should help solving your secon

[2022-06-10 03:58] LaurenceLiZhixin commented on #4546
Yes, I agree with you. @halspang

[2022-06-10 04:00] AdamvvYau opened #4739 "how to deploy application to not default cluster domain"
k8s clusterDomain isn't cluster.local but like "cluster.lhz-k8suat"

dapr init with params:
  dnsSuffix: ".cluster.lhz-k8suat"
dapr_sentry:
  trustDomain: cluster.lhz-k8suat
dapr_sidecar_injector:
  kubeClusterDomain: cluster.lhz-k8suat

Then two services , serviceA & serviceB,  the dapr sidecar could be injected ,also can be saw at dapr dashboard,but serviceA could not invoke  serviceB. error mes

[2022-06-10 04:04] AdamvvYau commented on #4739
is any setting wrong?

[2022-06-10 06:27] tlawrie opened #4740 "In Memory Pub/Sub fails apply to Kubernetes"
## In what area(s)?

Components on Kubernetes

## What version of Dapr?

1.7.4

## Expected Behavior

According to the documentation you create the In Memory pub/sub component with no spec.metadata field

https://docs.dapr.io/reference/components-reference/supported-pubsub/setup-inmemory/

## Actual Behavior

[code]

## Steps to Reproduce the Problem

Attempt to apply the YAML from the documentati

[2022-06-10 06:36] 1046102779 commented on #4674
Thanks.

Indeed, for this solution, users do not need to compile their own dapr image version, which also ensures stability.

[2022-06-10 06:39] pravinpushkar opened #4742 "Enable Pub/Sub routing as stable feature"
## In what area(s)?

 /area runtime

## What version of Dapr?

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE: Enable Pub/Sub routing as stable

[2022-06-10 07:38] LaurenceLiZhixin commented on #4546
There is a problem as to how we can stop a subscription without a ID for the HTTP API. I think we can consider subscribing only by gRPC, and  it's enough for restful only support Get API . @halspang @yaron2

[2022-06-10 07:41] connerfreeman commented on #4537
this concurrency problem has tormented me for a big while
i already used it on my project.
found this problem in a test
please release 1.8 ASAP
Thanks

[2022-06-10 10:10] skyao opened #4743 "Fix the low performance problem found by dapr perf test"
## In what area(s)?

/area runtime

## What version of Dapr?

edge: output of `git describe --dirty`

## Expected Behavior

In perf test case, we expected that the latency added by dapr sidecar should be less than 2 ms.

So in the perf test case of service invoke http / grpc, state, pubsub, we have a check for this:

[code]

## Actual Behavior

Sometimes the perf test case will failed for the late

[2022-06-10 12:40] Syuparn commented on #4537
I found nightly build images in [DockerHub](https://hub.docker.com/r/daprio/dapr/tags). I am not sure how to use it in self-hosted mode, but in Kubernetes mode it worked.

[code]

[2022-06-10 13:37] safari137 commented on #1820
I am especially interested in having  this for pubsub.

[2022-06-10 13:42] EashShow opened #4745 "dapr callback value"
Dapr CLI version: 1.5.1
Dapr Runtime version: 1.6.0
Dapr Client version: 1.6.0
OS: Windows10

the target action is:
http://localhost:5000/api/Common/SystemTime
I get the system time correctly. It works fine.

http://localhost:5000/api/Common/SystemTime88888888
The action is not exist, I get the http status code is 404, It works fine.

I invoke the action by Dapr:
http://localhost:3600/v1.0/invoke/

[2022-06-10 14:54] yaron2 commented on #1820
See this: https://docs.dapr.io/operations/resiliency/resiliency-overview/.

[2022-06-10 15:40] yaron2 commented on #4745
This needs to be looked at for 1.8. cc @artursouza @daixiang0

[2022-06-10 15:51] skyao commented on #4743
To analyze the perf problem, I collected the test data on github CI of perf test. Then I found that the data showed very large performance fluctuations, and I suspected that it might due to that different performance tests were running on different machines, which brought about deviations in the test data.

So I built the test environment on my development machine and then collected performance te

[2022-06-10 15:52] skyao commented on #4743
### service invoke http

Perf test records collected from github CI：(1.86 - 1.05) / 1.05 = 77%

[code]

Perf test records collected from my local test env：(1.41 - 1.31) / 1.31 = 8%

[code]

### service invoke grpc

Perf test records collected from github CI：(1.92 - 1.44) / 1.44 = 33%

[code]

Perf test records collected from my local test env：(2.27 - 1.69) / 1.69 = 34%

[code]

### state get

Perf

[2022-06-10 16:11] yaron2 commented on #4723
Reopening as we have a fix for this issue here: https://github.com/dapr/components-contrib/pull/1782.

cc @artursouza @tanvigour

[2022-06-10 16:26] IvanILanekassen commented on #4416
Hi again,

We have now been running for two weeks with the `nightly-2022-05-24` version in one of our test environments. The environment has been running without any publish problems. I have also performed a load test processing 1000 applications and it also worked flawlessly. So it seems that this issue has been resolved in version 1.8.

The cluster acts a bit strange, I am having problems kubect

[2022-06-10 16:45] ItalyPaleAle commented on #4416
Hi @IvanILanekassen , THANK YOU SO MUCH for testing our nightly build and confirming that Service Bus is working well for you! 🙏 And even putting it under load testing!

I think we can go ahead and close this issue, but please do let us know here (or in another issue) if you experience other problems with Service Bus.

What can you see in `kubectl describe pod ...` or in other logs? If you see any

[2022-06-10 17:42] iamjazzar opened #4748 "Tekton on Kind Cluster service account not on the list of allowed controller accounts"
I'm trying to run dapr with my Tekton pipeline on kind cluster (`version 0.13.0`), and I keep getting this error message

[code]

I tried adding the service account to the `clusterrole=dapr-operator-admin` with no luck:

[code]

I'm puzzled because when I look at the code ([pkg/injector/injector.go#L54](https://github.com/dapr/dapr/blob/16fcd3e4072ebce4121c736fcb26332113b7c57f/pkg/injector/injecto

[2022-06-10 18:13] artursouza commented on #4549
I was thinking about this too recently. I think we should make HTTP binding v2, where the HTTP call is all configured, except the payload - which will come from the app invoking the binding.

[2022-06-10 21:02] #4736 closed

[2022-06-11 03:19] skyao commented on #4743
From above collected perf test data on github CI we can find that the performance data is not stable,  we can compare with the perf test records collected in my local test env (the perf test will fixed to run on this machine).

So to do analyze base on stable test result, I will run the perf test case mainly on my local test env.

[2022-06-11 05:06] dengyangxi opened #4756 "Hope dapr can provide distributed transaction solutions ！~"
## Hope dapr can provide distributed transaction solutions ！~

In the development of microservices, distributed transactions must be solved.

Now, there is no transaction solution that provides microservices. Users need to install other distributed transaction resolution frameworks by themselves. .

[2022-06-11 13:51] #4461 closed

[2022-06-11 16:51] juazasan commented on #2836
@yaron2 Just wanted to give you a heads up I think I will be able to complete this issue on time for the freeze. Not sure about the documentation updates though. Please, does that needs to be completed by the 21st as well?

[2022-06-12 07:09] Taction commented on #4745
@EashShow I've checked v1.6.2 and v1.7.4, invoke the action by Dapr getting the expected 404. Can you please update the Dapr Runtime version and check if this is solved?

[2022-06-12 08:30] Taction commented on #4740
I think setting the `metadata` as required is useful, but in-memory pubsub component does not need metadata. I recommend changing the in-memory component in the tutorial to:
[code]

[2022-06-12 14:36] hueifeng commented on #4756
Duplicate, see: https://github.com/dapr/dapr/issues/4233 、https://github.com/dapr/dapr/issues/4247

[2022-06-13 00:55] daixiang0 commented on #4748
/assign

[2022-06-13 01:22] daixiang0 commented on #4748
Root cause is that we always find sa in kube-system:
https://github.com/dapr/dapr/blob/16fcd3e4072ebce4121c736fcb26332113b7c57f/pkg/injector/injector.go#L145

[2022-06-13 02:14] skyao commented on #4743
From the perf test data for service invoke http and service invoke grpc, it seems that gRPC is even slow than http.

To confirm this, I added a new perf test case of state get http which will use http protocol to do perf test of state get operation. State get is a simple  perf test case which only has a remote call from tester app for dapr sidecar, and the logic of in-memory state is simple and fa

[2022-06-13 02:26] LaurenceLiZhixin commented on #4723
@tanvigour The fixed dubbo component is updated in master branch of component-contrib, could you please help to test the component again, to make sure the problem is resolved?

[2022-06-13 02:30] LaurenceLiZhixin commented on #4546
ping @halspang

[2022-06-13 09:48] marco783 commented on #2218
@yaron2 why have you postponed this proposal to 1.9?
I'm waiting for this feature for ages :(

[2022-06-13 09:58] EashShow commented on #4745
I have updated the Dapr to V1.7.4, the problem is solved.
Thank you very much! @yaron2 @Taction

[2022-06-13 13:50] yaron2 commented on #4195
@CacheCoww can you please open a docs PR for this that updates with the new value?

[2022-06-13 15:32] yaron2 commented on #4748
@daixiang0 maybe we can provide users with a way to configure a key/value ConfigMap (through the Helm Chart) that get mounted to the injector, where key/value are `service-account:namespace`?

[2022-06-13 15:35] #4745 closed

[2022-06-13 18:31] CacheCoww commented on #4195
Yes will work on this

[2022-06-13 20:43] tanvigour commented on #4723
<img width="830" alt="image" src="https://user-images.githubusercontent.com/60332928/173441508-f9b4836e-b20a-493d-964e-90a7a0efb7fe.png">

I can confirm looking at the dashboard that the fix has been picked up and data looks good.  Looks like the fix was merged around 6/9  and deployment after that seems to be showing normal data. Thanks for the fix!

[2022-06-13 20:48] tanvigour commented on #4723
This is being currently tested, will update you as soon as we know more

[2022-06-13 21:02] #4398 closed

[2022-06-13 22:19] berndverst commented on #2167
@artursouza who is going to open the issues and prioritize the work to update the certification tests and implement this in stable components though?

[2022-06-14 00:54] daixiang0 commented on #4748
It is a solution but introduces an extra mount, now all config of the injector comes from ENV, since other components also use ENV config, keeping the same here is better to maintain I think.

[2022-06-14 02:26] yaron2 commented on #4748
I actually think it's ok for updates. An HA installation of Dapr won't result in downtime for the Injector. I'm ok to keep this with env.

[2022-06-14 11:11] CrazyHZM commented on #4740
Agree with @Taction

[2022-06-14 13:26] akkie opened #4766 "Release daprio/dapr-dev image for GO 1.18"
## In what area(s)?

/area test-and-release

## Describe the feature
There is currently no Dapr Dev image for GO 1.18. The lates image https://hub.docker.com/layers/dapr-dev/daprio/dapr-dev/0.1.7/images/sha256-da18edd83667f4231c635730a89adbfb27a5213c09b758ce55b10356a7d1c30a?context=explore is build for 1.17.10. But dapr depends now on GO 1.18. So it's not possible to use the image.

[2022-06-14 14:04] k33lan opened #4767 "QueryStateAsync returns "Not Implemented" error when querying cosmos db via dotnet sdk + Azure container app, but works locally."
Hi I'm running into an issue when querying cosmos db with the dotnet sdk in an Azure container app. The query works locally, but not when deployed via bicep to a container app.

The error from Dapr returned is the following:

[code]

Having checked with the container app documentation, they have now upgraded them to support 1.7.3, which I thought would support querying: https://docs.microsoft.com/

[2022-06-14 14:24] akkie opened #4768 "Actor autoscaling with Keda doesn't work as expected"
## In what area(s)?

/area runtime

## What version of Dapr?

1.7.2

## Expected Behavior

If I use actor scaling, then actors should not fail.

## Actual Behavior

Actor state API returns error "actor instance is missing" if actor scaling is enabled.

### Detailed description about our findings

We have an actor that executes a process based on multiple tasks. After each task we call the state st

[2022-06-14 14:26] akkie commented on #4768
@fabistb Please add any missing information

[2022-06-14 14:59] yaron2 commented on #4768
It's normal for an actor to not be present for a short period of time as it gets rebalanced, and this should be a retriable error that resolves once the tables are updated. Can you confirm that this error occurs after retries that happen after scaling has finished?

[2022-06-14 15:22] akkie commented on #4768
It's gone after our retry mechanism kicks in. Do I understand that correct that Dapr will also retry automatically after rebalancing?

[2022-06-14 16:35] yaron2 commented on #4768
Dapr will only retry calls if the error is a transient network error or an authentication error from the target sidecar. It will not retry if it's a missing actor error, so retrying here is up to your app.

[2022-06-14 22:59] tlawrie commented on #4740
@Taction happy to help submit a PR for the docs... would you be able to point me to the repo for it?

[2022-06-14 23:38] yaron2 commented on #4740
https://github.com/dapr/docs

[2022-06-15 00:21] artursouza commented on #4768
Can this be done via resiliency feature? /cc @halspang

[2022-06-15 01:34] chenjpu commented on #3338
Is I missing something? The problem is solved?

[2022-06-15 02:22] LaurenceLiZhixin commented on #4546
Do you agree with this proposal, I'll record it to docs. @yaron2

[2022-06-15 03:14] #4501 closed

[2022-06-15 03:58] Taction commented on #4740
@tlawrie Here is the doc contribution guide: https://docs.dapr.io/contributing/contributing-docs . And there is an easier way to click `edit this page` on the top right of this page https://docs.dapr.io/reference/components-reference/supported-pubsub/setup-inmemory . Please make sure you have read the guide.
Hopes this is helpful for you.

[2022-06-15 04:04] ItalyPaleAle commented on #4698
I agree this is a good idea and it should be safe to do so.

As I read this, however, I wonder if before we do this, we should start signing our releases? (I was actually thinking of opening that as a separate issue the other day)

Today, we publish the checksums of the releases but we don't publish signatures. Having signatures can make people feel more comfortable that they're getting legit soft

[2022-06-15 06:57] XavierGeerinck commented on #4678
I do not necessarily agree, I think we can push the community to put more constructive discussions on GitHub discussions, while Discord is more for ad-hoc help from maintainers / community.

Vercel is doing it this way as well and it is working out quite nicely for them :)

[2022-06-15 07:16] CrazyHZM commented on #4742
/assign

[2022-06-15 08:11] erfan0798 opened #4778 "error for connect a dapr to HashiCorp vault secret management lable/Question"
Hello everyone
I want to connect  dapr to HashiCorp vault for secret management and I have a problem to get a vaule in dapr:
I connect a dapr to vault with this configuration :
 //===================================
[code]

 //===================================
and when I run my nodejs sdk code I get this error:

[code]
my-app is my key and my sercret in vault
can someone help me about this probl

[2022-06-15 08:20] #4778 closed

[2022-06-15 08:25] erfuuan opened #4779 "Error for connect a dapr to HashiCorp vault for secret management"
Hello everyone
I want to connect  dapr to HashiCorp vault for secret management and I have a problem to get a vaule in dapr:
I connect a dapr to vault with this configuration :
 //===================================
[code]

 //===================================
and when I run my nodejs sdk code I get this error:

[code]
my-app is my key and my sercret in vault
can someone help me about this probl

[2022-06-15 08:41] erfan0798 commented on #4779
label:"Question"

[2022-06-15 09:33] tlawrie commented on #4740
PR opened for the change. Thank you everyone for your guidance.

[2022-06-15 11:02] pravinpushkar commented on #4742
Check criteria for moving to stable feature #4228

[2022-06-15 13:42] juazasan commented on #2836
/assign

[2022-06-15 14:14] yaron2 commented on #2836
Docs can be done until 24th. What changes do you see for docs?

[2022-06-15 14:17] juazasan commented on #2836
Replacing all references to usage of Opencensus for tracing and then documenting the configuration options for the otel protocol.

[2022-06-15 15:00] #4740 closed

[2022-06-15 15:45] berylshow commented on #3642
@yaron2  please Is there any plan to support x-b3 tracking protocol? thanks

[2022-06-15 17:43] halspang commented on #4768
In this case, resiliency doesn't cover it. Resiliency for actor state operations is handled at the component level. We could always bump it up a little bit to add retries around actor discovery if we think something like this is likely to be transient.

[2022-06-15 17:43] tanvigour commented on #4723
We have successfully tested the fix to resolve the issue. The data looks good now.

[2022-06-15 20:27] #4165 closed

[2022-06-15 23:09] #4171 closed

[2022-06-15 23:13] cgillum commented on #4576
For awareness, I've started working on a reference implementation for the embedded workflow engine. If you're interested in following along, it can be found [here](https://github.com/cgillum/durabletask-dapr).

Note that the reference implementation is for demonstrating the feasibility of building a reliable Durable Task-based workflow engine backed by Dapr Actors. It's written in C#, uses the Dap

[2022-06-16 01:59] skyao commented on #4743
There is one possibility that the machines to run perf test on github CI are different and perhaps some of them are slow and make the perf test slow and failed.

To support this judgment, I need to collect more test data：on github CI, and one my local machine ( as a comparison).

To get more information, I changed the perf test case and output more perf information, not only added latency of 90th,

[2022-06-16 02:32] #4742 closed

[2022-06-16 04:40] msfussell commented on #4600
The above seems reasonable, although can you explain the second one more. When is this displayed. Should the above be

- Info log on the named resiliency yaml file being loaded
- Debug log displaying the name of each policy for a given resiliency named file. Q: When is this written, at what point?
- Debug log displaying policies being used at invocation, calling actor methods and when components a

[2022-06-16 06:14] skyao opened #4784 "Env issue found in perf test - resource group could not be found"
## In what area(s)?

/area test-and-release

## What version of Dapr?

edge: output of `git describe --dirty`

## Expected Behavior

The perf test should run with correct azure resource group.

[code]

## Actual Behavior

Something the perf test case failed for resource group not found.

## Steps to Reproduce the Problem

This happens only on github action, I can list some failed run here. More in

[2022-06-16 06:15] skyao commented on #4784
@ItalyPaleAle  as discussed I use this issue to follow this problem.

[2022-06-16 06:46] ItalyPaleAle commented on #4784
GitHub is “censoring” the test prefix. Each job in the pipeline has a task “Build test prefix”. It is always returning the same result, but in the “Perf tests” job, sometimes the first characters are “censored”:
![1B33C877-E947-4E41-A753-9AD21D512C0B](https://user-images.githubusercontent.com/43508/174008750-aaed1d2d-4066-490f-9f28-13c39111d94f.jpeg)

I am not sure why, but I can investigate

[2022-06-16 06:48] ItalyPaleAle commented on #4743
I don’t think this is an infrastructure issue as the infra hasn’t changed in months. Most likely, an issue with the code itself

[2022-06-16 07:28] skyao commented on #4743
Confirmed with @ItalyPaleAle:

-  the machines used in our perf test are not changed for a long time.

- And the machine is "Standard_D8s_v4", not "Standard_D3_v2". ("Standard_D3_v2" is used for e2e tests.)

    https://github.com/dapr/dapr/blob/master/.github/workflows/dapr-perf.yml#L128

[code]

So I will continue to find what's in the code affect our perf.

[2022-06-16 07:36] LaurenceLiZhixin commented on #4723
I'm happy to hear that. cc @beiwei30

[2022-06-16 08:36] skyao commented on #4743
@ItalyPaleAle

For the log code you added in every perf test case:

[code]

I have tested in my local machine, it seems this code won't affect the performance.

with `utils.SetupLogs("service_invocation_grpc")`:

[code]

Without `utils.SetupLogs("service_invocation_grpc")`:

[code]

[2022-06-16 11:53] skyao commented on #4743
We are now facing the reality that performance of dapr showing the perf test is getting worse and worse.

1. the added latency in service invoke http and service invoke grpc is required to be less than 2 ms, and the QPS required in actor_timer is more than 55 QPS (I don't know why it is 55)
3. Two weeks ago after perf test is back to runnable (perf test had been failed to run for a long time), I f

[2022-06-16 20:36] jjcollinge opened #4787 "Proposal: Post Initialization Webhook"
## In what area(s)?

## Describe the proposal
It would be valuable if the dapr runtime supported a post initialization webhook that could be used to send metadata to an external system. The current metadata API provides a pull based approach to this (albeit limited due to start up ordering) but given Dapr's decentralized topology I believe it would also be valuable to allow the sidecar to optional

[2022-06-16 20:55] yaron2 commented on #4779
Will take a look.

Can you post the code calling Dapr here?

[2022-06-17 02:56] skyao opened #4789 "Env issue found in perf test - fail to get metrics"
## In what area(s)?

/area test-and-release

## What version of Dapr?

 edge: output of `git describe --dirty`

## Expected Behavior

The perf test case should get metrics after perf test is completed.

## Actual Behavior

The perf test case failed to get metrics:

[code]

## Steps to Reproduce the Problem

This happens only on github action, I can list some failed run here. More information pleas

[2022-06-17 03:20] skyao commented on #4743
I have added two issues to trace the Env issue found in perf test:

- resource group could not be found: https://github.com/dapr/dapr/issues/4784
- fail to get metrics: https://github.com/dapr/dapr/issues/4789

These issues will cause perf test run fail, but they should be env issues, not the code.

[2022-06-17 03:58] OyuO opened #4790 "Pubsub grpc function, appcallback.onTopicEvent() can't be called"
## In what area(s)?

 /area runtime

## What version of Dapr?

   1.7.4

## Expected Behavior

The appcallback.onTopicEvent() be called when message arrive what I sucribed.

## Actual Behavior

Grpc, dapr can call the listTopicSubscriptions() and get topic 'hello'.But when I pub message to the topic 'hello',nothing happend.
When I use http same as your demo, it work.

## Steps to Reproduce the Pro

[2022-06-17 06:15] helbing opened #4791 "gopls report errror: found module "app" twice in the workspace"
Hi, I have a question about the dapr repository, when I open the dapr repository with vscode will report an error, Error loading workspace: found module "app" twice in the workspace. The reason is that  there are many `go.mod` files in the tests/app directory set `module app` and it makes gopls not working, I want to know how to fix it or can I submit a PR to fix it, thx

os: macOS Monterey 12.4
g

[2022-06-17 06:46] yaron2 commented on #4768
Actor instances not found can be treated as transient IMO.

[2022-06-17 08:06] adi-braniste commented on #4568
Hi, I am trying to enable resiliency for pubsub but for some reason the resiliency.yaml is not applied. There are no related logs in the sidecar and the retry policy is not applied (retries are performed endlessly each 5s).
Any ideas what could be wrong?

**/components/resiliency.yaml**
[code]

**/configuration/config.yaml**
[code]

**docker-compose.yaml**
[code]
Thanks.

[2022-06-17 15:23] ItalyPaleAle commented on #4789
Sounds like another issue related to networking? Requests fail within apps in the cluster, on AKS and on KIND too.

[2022-06-17 18:09] artursouza commented on #4790
Can you provide a code sample and how you are running the Dapr sidecar?

[2022-06-17 18:56] ItalyPaleAle commented on #4791
Yes, this is a known issue with gopls and not specific to Dapr.

Go 1.18 added "workspace mode" which was supposed to fix issues like these, but when we tried that with the dapr repos, it was causing more issues.

The only workaround is that if you need to modify something in a folder where there's a nested `go.mod`, you need to open that in a separate VS Code window (or add it as a separate works

[2022-06-18 01:08] CrazyHZM commented on #4513
@pravinpushkar Can you please add this issue to the above list?
issue: https://github.com/dapr/dapr/issues/3761
PR: https://github.com/dapr/dapr/pull/4094
v1.8 Documentation has changed: https://github.com/dapr/docs/issues/2074

[2022-06-18 02:51] helbing commented on #4791
Can I modify the `go.mod` file that has the same module? I will submit a PR if I can

[2022-06-18 03:30] #4234 closed

[2022-06-18 05:14] ItalyPaleAle commented on #4791
What do you mean? Which `go.mod` would you like to modify?

Overall, modifications to a `go.mod` in PRs are acceptable if needed.

[2022-06-18 06:02] #4511 closed

[2022-06-18 08:15] #4507 closed

[2022-06-18 08:22] helbing commented on #4791
Sorry, My English is not good. I want to modify the `go.mod` files in the `tests/app` directory and the `module app`.

<img width="1662" alt="image" src="https://user-images.githubusercontent.com/7275620/174429301-5a39377e-4db4-455f-9276-31c0f7e62aab.png">

[2022-06-18 16:51] ItalyPaleAle commented on #4791
You can make a PR modifying that :)

[2022-06-18 18:02] #4468 closed

[2022-06-18 18:36] ItalyPaleAle commented on #4171
This should be fixed in master now and there's a watchdog service (disabled by default and can be enabled via some Helm options: https://github.com/dapr/dapr/tree/master/charts/dapr#dapr-operator-options ). If you want to test it, it can be found in the nightly builds!

[2022-06-18 18:42] ItalyPaleAle opened #4797 "Dapr binaries should have a digital signature available"
## Describe the proposal

Currently, we are publishing Dapr binaries as GitHub releases and we are also adding files containing their checksums. However, we are not publishing digital signatures for those binaries.

To help giving our users more confidence in the binaries they run in production, and reduce the risk of supply chain attacks, we should publish digital signatures as well for our binar

[2022-06-20 01:56] Taction commented on #4779
@erfan0798 the [HashiCorp vault component](https://docs.dapr.io/reference/components-reference/supported-secret-stores/hashicorp-vault/#spec-metadata-fields) has prefix defined by `vaultKVPrefix ` who's default value is `dapr`. Can you please add the following line to the component metadata and have a try?
[code]

[2022-06-20 02:23] #4680 closed

[2022-06-20 02:46] OyuO commented on #4790
I tried it today and it worked.It's my fault,sorry!

[2022-06-20 02:46] #4790 closed

[2022-06-20 15:26] #4517 closed

[2022-06-20 16:32] yaron2 commented on #4768
@akkie @fabistb This will be handled for 1.8.

[2022-06-20 16:56] ItalyPaleAle commented on #4784
@skyao after #4785 was merged I don't believe this issue has appeared again. Did that fix it? Can we close this issue?

[2022-06-20 17:10] ItalyPaleAle commented on #4766
Ohhhhh I think I know how that happened. When we released the 1.7.3 and 1.7.4 hotfixes, the dev containers were rebuilt based on the 1.7 branch.

A maintainer should be able to trigger https://github.com/dapr/dapr/actions/workflows/dapr-dev-container.yml again and use the master branch.

[2022-06-20 18:47] cgillum opened #4801 "Unregistered reminders never get removed from the state store"
## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior

When I unregister a reminder, it should get removed from the state store.

## Actual Behavior

When I unregister a reminder for an actor, I see that it still exists in the state store. Here's an example of what I see when examining the state in Redis.

[code]

Note that `ReliableActivityInvokerActor||4b1af4ac085a43

[2022-06-20 22:47] artursouza opened #4804 "Blob storage building block"
Today, we use binding for multiple components, without a consistent API spec but there are a subset of those components that behave like a blob storage. There is an opportunity to consolidate those into a defined API spec (new building block). The API would be simple to POST and GET to/from blob storage, offering portability.

[2022-06-20 22:51] #4768 closed

[2022-06-20 23:03] yaron2 commented on #4804
If the API for blobs is a subset of the API for state, I'm concerned that multiple implementations (3 - bindings, state stores, blobs) might be confusing, and developers will naturally go to the one that has the most API surface, ie. state.

In the likely event that developers will also want to delete and post multiple objects, we'll see the Blob API become an almost mirror reflection of the state

[2022-06-21 04:45] halspang commented on #4600
What I ended up going with after talking with @msfussell

1. Info statement stating we loaded resiliency into the runtime.
2. Info statement stating the names of the policies we're including.
3. Debug statement displaying the actual policies we're including.
4. Debug statement showing the policy being used for a call.

@greenie-msft - Did you have anything else you wanted to see in here?

[2022-06-21 04:48] halspang commented on #4600
Also here's what it looks like:

### Log level Info
[code]

### Log level Debug
[code]

[2022-06-21 05:29] #4600 closed

[2022-06-21 10:35] suneetnangia commented on #1789
This would have helped if it was done, we will perform some tests in this area and post back the results.

[2022-06-21 14:07] #4241 closed

[2022-06-21 16:38] halspang commented on #4546
@LaurenceLiZhixin - Chatting with Yaron, we agreed that the HTTP API should take the ID and that the gRPC API should be made to look more like the HTTP API once we have it. I think this would mean removing the gRPC streaming API and doing it in a more traditional sense for HTTP and gRPC for the sake of a consistent API.

I think that would put us into a more traditional event based solution or a c

[2022-06-21 20:18] #4367 closed

[2022-06-22 02:24] daixiang0 commented on #4748
Closed as fixed.

[2022-06-22 02:24] #4748 closed

[2022-06-22 03:15] #4723 closed

[2022-06-22 03:16] #4227 closed

[2022-06-22 03:21] artursouza commented on #3813
Enabled this by default in 1.8.

[2022-06-22 03:21] #3813 closed

[2022-06-22 03:27] #4416 closed

[2022-06-22 03:43] ItalyPaleAle commented on #4804
I think the missing part in current state stores, to make them effective for managing blobs, is support for streaming. Our current APIs load everything in memory in multiple steps (application and sidecar both load the entire blob in memory), so this is not ideal for large blobs.

A suggestion I brought up to @berndverst recently was to add support for streams to state stores, when the underlying

[2022-06-22 03:48] artursouza commented on #4743
Issue seems to have been caused by a bug in how the performance tests were calculated and it was fixed by @ItalyPaleAle. It was also identified that this issue was magnified by network randomness and it has been reduced since there is now pod affinity for same node.

[2022-06-22 03:48] #4743 closed

[2022-06-22 03:49] #4428 closed

[2022-06-22 03:50] #4784 closed

[2022-06-22 04:03] addjuarez commented on #4801
/assign

[2022-06-22 04:14] ItalyPaleAle opened #4813 "go get warning: module github.com/golang/protobuf is deprecated"
When running `go get -v ./...`, the following appears in the console:

[code]

Need to update the protobuf package.

[2022-06-22 04:15] hspaay commented on #1850
I have the same need. A directory service with a gRPC API for internal use that also needs to be accessed by external clients over HTTP.
When reading the docs I actually assumed that this worked already as sidecart-sidecart communication already works over gRPC, even when the service is written using HTTP communication.

[2022-06-22 04:36] pravinpushkar opened #4814 "v1.8 Endgame"
Release Coordinator: @pravinpushkar
Release Buddy: @amulyavarote
Build and Test Champion: @pravinpushkar

Preflight check: 06/14/2022
Code freeze: 06/21/2022
Endgame starts: 06/22/2022
RC1 date: 06/22/2022 (earliest)
Release date: 07/07/2022

Release Tasks:

- [x] No P0 issues before code freeze.
- [x] Code freeze at 06/21/2022
- [x] Check all new components are registered in dapr/dapr @berndverst

[2022-06-22 04:36] pravinpushkar commented on #4513
Endgame Task  - https://github.com/dapr/dapr/issues/4814

[2022-06-22 05:12] pravinpushkar commented on #4814
Kindly mention release blockers here in the comments (if there are any)

[2022-06-22 09:29] Ribo01 opened #4816 "Dapr communications"
Hello everyone, glad to be here. I can say I am pretty new to dapr implemention. So here’s my scenario. I deployed dapr on a k8 cluster through dapr cli. Everything works fine all pods for dapr running. My deployment has the “dapr annotations” and I also have a dapr service created after deployment. The major issues I am having is best way to test and sure dapr is actually working and can talk to

[2022-06-22 14:32] berndku commented on #4537
We retested the fix today with **v1.8.0-rc.1**. Unfortunately, concurrent streaming requests are still not working.

Though the connection closing exceptions are gone, the dapr proxy does now seem to have an issue with the management of the concurrent requests.

It looks like the streaming responses of the first requests are returned to all concurrent requests and the responses of the 2nd request

[2022-06-22 14:54] wujunwei commented on #4714
If we set `registry` of dapr dashboard to global.registry which have shown above ,the image address may not exist. because dashboard's registry may be different from the others.

[2022-06-22 15:55] orgal-ea opened #4818 "During local development, how can I simultaneously debug multiple services?"
## In what area(s)?

/area runtime

## Ask your question here

### My scenario:
I have N daprized services and all of them act as both a server and a client, and I want to be able to debug multiple services locally at the same time.

### The challenge:
In order to debug them in parallel I must run a sidecar for each of them. This means I need to manually allocate a different `dapr-http-port` to ea

[2022-06-22 16:35] berndku commented on #4537
We haven´t tried unary, since our use-case demands streaming.

[2022-06-23 01:28] #4573 closed

[2022-06-23 03:29] hanxinimm commented on #4537
@yaron2

error log:

what happens?

Grpc.Core.RpcException: Status(StatusCode=\"Internal\", Detail=\"Additional data after the message received.\")\r\n   at ServiceModel.Grpc.Client.Internal.UnaryCall`2.CallAsync[T](AsyncUnaryCall`1 call, CallContext context, CancellationToken token)

[2022-06-23 11:44] OyuO opened #4826 "Sub topic with wildcards,can't get the actual topic what publisher sent when dapr callback.The callback topic the same as what I sub,still remain wildcards."
## In what area(s)?

/area runtime

## What version of Dapr?

1.7.4

## Expected Behavior

If I sub *.weve.event, I should receive  topics without wildcards,such as  123.weve.event,hello.wev.event

## Actual Behavior

But when callback, I  get topic from the grpc request, I get "*.weve.event" actually,I is amazing,I can't get the real topic. I need get info from topic.

## Steps to Reproduce the P

[2022-06-23 12:11] Syuparn commented on #4537
@yaron2

I tried [this](https://github.com/dapr/dapr/issues/4537#issuecomment-1130751284) concurrent unary request again in `1.8.0-rc.2`. Both request 1 and 2 are returned.

[code]

[code]

[2022-06-23 16:13] tanvigour opened #4827 "Add infrastructure to longhaul nightly to run against release branches"
Right now we have to manually run this through my foirk updating to a certain release, we should have infra where it picks up release branch and runs longhaul tests against it.

[2022-06-23 17:10] ItalyPaleAle opened #4828 "E2E tests on Windows fail with pods that are stuck in a crash loop"
## In what area(s)?

/area test-and-release

## Description

As we address causes of E2E test failures, new ones come out 🙃

Latest, occurring fairly frequently, is with pods on Windows (and only Windows) AKS clusters that fail to start and are stuck in a crash loop.

For example: https://github.com/dapr/dapr/runs/7015001579?check_suite_focus=true

Our test logs show:

Looking at the Kubernetes lo

[2022-06-23 23:01] francotiveron commented on #4598
@artursouza  Is there a way to avoid this? I mean, I am ok with the Garbage collection on timeout, but can I tell the system to deactivate an actor ONLY as usual and not when a deployment scale up occurs?

[2022-06-23 23:12] yaron2 commented on #4598
It's expected that in some cases actors will get rebalanced, but actually the algorithm we're using should optimize to not reshuffle actor IDs if not needed. we should look into distribution algorithm.

cc @artursouza

[2022-06-24 00:00] greenie-msft opened #4830 "Expose runtime version in Metadata API"
The feature ask - expose Dapr runtime version in the Metadata API: https://docs.dapr.io/reference/api/metadata_api/

There are certain scenarios where apps would like to check that they are running within a tested Dapr version.

[2022-06-24 11:09] #4537 closed

[2022-06-24 13:10] safari137 opened #4831 "General Resiliency Questions"
## In what area(s)?

## Ask your question here

1. When setting up the resiliency config, I tried to apply this at the scope and app level, but it did not work until I applied it at the component level.  This makes sense to me since an app could have many components.  It might have saved me some time if that was documented though. -> https://docs.dapr.io/operations/resiliency/resiliency-overview/

[2022-06-24 13:26] safari137 opened #4832 "Dapr Security Best Practice"
## In what area(s)?

I understand that default behavior between Dapr sidecars is to use mTLS.

However the communication between the application and Dapr is plain text http.  Are there security concerns with this approach or is it generally considered safe?

[2022-06-24 22:42] #4244 closed

[2022-06-25 04:29] hspaay commented on #4818
I have the same question. So many ports to juggle.

[2022-06-25 06:54] #4310 closed

[2022-06-27 02:41] hg533 opened #4834 "error getting topic list from app: rpc error"
When use dapr(use grpc protocol) to init my program i receive this error:
ERRO[0000] error getting topic list from app: rpc error: code = Unimplemented desc =   app_id=DaprGrpc instance=localhost.localdomain scope=dapr.runtime type=log ver=1.7.4
ERRO[0000] error occurred while beginning pubsub pubsub: rpc error: code = Unimplemented desc =   app_id=DaprGrpc instance=localhost.localdomain scope=dap

[2022-06-27 04:36] addjuarez commented on #4830
/assign

[2022-06-27 04:57] shubham1172 opened #4835 "Add e2e test for root cert installation"
## In what area(s)?

/area test-and-release

## Describe the feature

#4741 introduces an entrypoint script to install root certificates to Windows. Add a new e2e test to ensure that root certificates are installed on Windows and Linux (where SSL_CERT_DIR env variable takes care of it out-of-box). Test plan as discussed in the issue:
1. Deploy an app that offers an HTTP server with a TLS cert sign

[2022-06-27 07:27] #4713 closed

[2022-06-27 10:12] ermaugustinas commented on #4143
@Taction This is still happening in 1.7.0

[code]

Do we need to apply a patch version?

[2022-06-27 11:23] olitomlinson commented on #4804
Completely agree with this.

I still struggle with there being a first-class State Management building block, but then also a myriad of bindings that do state operations as well... it just feel somewhat fragmented and IMO doesn't paint a solid story for Dapr and state management concerns.

Would it really hurt to change the guidelines on bindings so that any contribution are directed more to towar

[2022-06-27 15:42] berndverst commented on #4804
@ItalyPaleAle the suggestion makes sense but instead first requires support from dapr/dapr maintainers.

Today the sidecar does not support streaming calls from app to sidecar and of course the SDKs will need to support this too. There is no point in supporting streaming calls from sidecar to service if there is no way to stream data to the sidecar itself. So lets have @dapr/maintainers-dapr addre

[2022-06-27 17:49] tlbboy opened #4839 "Why daprd cann't work well when I upgrade dapr-java-sdk version from 1.4.0 to 1.5"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

 /area runtime

## Ask your question here

runtime 1.7.4
k8s

when I upgrade   dapr-java-sdk version  from 1.4.0  to 1.5+  in my  springboot service,I found   daprd  can not work well on startu

[2022-06-27 17:52] ItalyPaleAle commented on #4804
Yes, this needs to be coordinated with the runtime. If components do support streaming but the runtime doesn't, then I agree there's no much value added.

Thus said, I do think that support for streaming will be key at least for state stores. It's not practical to use the current state stores to store large (many MBs to GBs) blobs.

[2022-06-27 18:06] berndverst commented on #4804
I agree - that is because our state stores are intended to be Key Value stores only.

Maybe an object storage building block would make sense (blob could be one such flavor) and streaming support should be one of the criteria there.

[2022-06-27 19:06] ItalyPaleAle commented on #4804
Or object storage could could just be a feature of (certain) state stores. Now that we have the capabilities API, we can also expose which state store supports object storage (prerequisite is support for streaming) and which don't?

For example: Cosmos DB would not mark itself as "supporting object storage". Azure Storage would.

[2022-06-27 19:15] yaron2 commented on #4804
@berndverst you are spot on with needing to have `daprd` support streaming capabilities on the API layer before this can extend to one or more building blocks. The moment we have streaming support, extending this into building blocks should be easy enough with an interface very similar to what @ItalyPaleAle suggested.

FYI, we recently added the ability for the S3 binding to read a file from the f

[2022-06-27 19:17] yaron2 commented on #4804
I like this direction better.

[2022-06-27 20:03] masters3d commented on #1772
Another reference implementation for dotnet http://masstransit-project.com/usage/sagas/automatonymous.html#instance

[2022-06-28 02:04] lijing3232 commented on #4143
I have the same problem in 1.7.4

[2022-06-28 02:42] Taction commented on #4143
@lijing3232 @ermaugustinas Thanks for reporting this. I'll look into it. The previous fix is mainly about reconnect logic. `channel not initialized` error mostly be caused by connection errors or something wrong with the command sent to rabbitmq server. Can you please have a look at the rabbitmq server log to see if there are any error messages?

Also @ermaugustinas can you please provide more sid

[2022-06-28 02:54] lijing3232 commented on #4143
Sorry, there is a problem with my connection string, not a bug

[2022-06-28 04:28] hspaay opened #4840 "Which is the correct go import for InvokeRequest?"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

/area runtime

## Ask your question here
Testing the callbackAPI causes the following panic:

Indeed, the common/v1 API is defined in two places. It looks like InvokeRequest exists  here

and h

[2022-06-28 09:21] shubham1172 commented on #4835
/assign

[2022-06-28 10:30] mukundansundar commented on #4814
Java SDK testing and validation ...  https://github.com/dapr/java-sdk/pull/756

[2022-06-28 10:42] shubham1172 commented on #4587
This is now closed. @callebjo you can test it with the latest RC for v1.8.

[2022-06-28 12:51] fabistb commented on #4768
@halspang , @artursouza , @yaron2 , fyi.

Thank you very much for looking into this.

We tried dapr 1.8.0-rc.3 and 1.8.0-rc.4 and with our tests and we are unfortunately still able to reproduce this _actor instance is missing_ exception.

Can we provide you some log or something like this to get this sorted out?

[2022-06-28 14:07] Taction commented on #4143
@ermaugustinas This error is excepted to occur when your server is down. If your server restart this should disappear unless the connection info to the server is changed. If the connected node went done and another was started the connection would be recovered since it keeps retrying to reconnect to the server.

Since all the above is solved, I'll close this issue. Feel free to ping me or reopen t

[2022-06-29 01:17] safari137 commented on #3256
This may already be covered by another issue, but a work around for me works as follows:

1. Disconnect from VPN (Cisco AnyConnect in my case)
2. Start the apps with Dapr
3. Re-connect to VPN

This is pretty painful in development as I do restart the apps often as I make changes.  If my application didn't have to access the corporate network, that wouldn't be a big deal though.

I'm going to work

[2022-06-29 23:34] georgestevens99 commented on #4549
Hello,
A quick thought.  How about putting these end points in an Environment
Variable some how, with the component only knowing the name of the
Environment Variable, but not the contents which are supplied later.
Thanks,
George

On Wed, Jun 29, 2022 at 6:00 PM Oliver Tomlinson ***@***.***>
wrote:

[2022-06-30 02:12] saber-wang commented on #4443
Have the same problem and need to be repeated to succeed

[2022-06-30 02:58] #4282 closed

[2022-06-30 04:54] thinkgandhi opened #4847 "Blockchain Component Support as a State Store"
Just wanted to put in front of the community. Can we support Blockchain in Dapr ? Just a thought. I will keep updating this proposal coherently in coming days.

[2022-06-30 07:31] saber-wang opened #4848 "Health of components shall be provided"
## In what area(s)?

 /area runtime

## Describe the feature

Runtime needs to know the health status of components.

[2022-06-30 12:57] sunzhaochang opened #4849 "Dapr service still exists after the deployment deleted"
## In what area(s)?

/area operator

## What version of Dapr?

## Steps to Reproduce the Problem

1. Install dapr on kubernetes cluster
2. Deploy the Node.js app with the Dapr sidecar
[code]
3. Delete the Node.js app
[code]

The dapr service still exists when the deployment is deleted. In fact, it should be deleted as well.

[2022-06-30 19:07] halspang commented on #4849
@sunzhaochang - Thanks for opening this issue! I just tried to reproduce it and don't appear to be able to. How long were you giving the system to cleanup the resources? Does this happen every time?

[2022-06-30 19:18] halspang commented on #4831
I'm not exactly sure what you're asking for in the documentation for your first point. Can you elaborate a bit more?

For your 2nd point, you're right that it's just being redelivered endlessly. Currently, resiliency and component level retries don't know about each other/how to interact. So, your resiliency policy is being run, and once the retries are exhausted it returns it to the broker. It's

[2022-06-30 22:20] Phiph commented on #4818
In the dotnet world I use https://github.com/dotnet/tye

It allows me to spin up multiple csproj's with first class support for Dapr.

While I use it for csproj files, you can reference dockerfiles directly, so it's great if you use a multi-stage docker build image:) Hope this helps!

[2022-06-30 23:39] halspang opened #4852 "Generalized Resiliency Policies"
## In what area(s)?

/area runtime

## Describe the proposal
Resiliency as it exists in 1.8/1.7 requires that policies be applied to specific targets (apps, actors, or components). In sufficiently complex systems, this could lead to a very large resiliency configuration. Importantly, this could also lead to applications/actors/components not having a policy by mistake.

To address this, I propose

[2022-07-01 03:07] saber-wang opened #4853 "Some configurations of `dapr sidecar` should support global configuration"
## In what area(s)?

 /area runtime

## Describe the proposal
At present, many `dapr sidecar` configurations can only be configured on each `deploy`
for example: Handle large http body requests
[code]
There are many other `sidecar` configurations:
        `dapr.io/sidecar-memory-request: "56Mi"`
        `dapr.io/sidecar-cpu-request: "200m"`
        `dapr.io/sidecar-memory-limit: "512Mi"`
        `

[2022-07-01 03:23] saber-wang opened #4854 "Recommended sidecar container cpu/memory limits limits?"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

 /area runtime

## Ask your question here
What is the recommended  sidecar container cpu/memory limit?

[2022-07-01 04:01] #4278 closed

[2022-07-01 06:28] mukundansundar commented on #4854
@saber-wang Please see production guidelines documentation. https://docs.dapr.io/operations/hosting/kubernetes/kubernetes-production/

[2022-07-01 06:30] #4854 closed

[2022-07-01 13:20] sunzhaochang commented on #4849
@halspang This problem happens every time and it has nothing to do with the waiting time. Because there is no OwnerReference field in the dapr service:
[code]

There are more information about the issue (k8s on kind):
[code]

[2022-07-01 14:33] #4294 closed

[2022-07-01 17:03] ItalyPaleAle commented on #4832
You can read about Dapr's security architecture here: https://docs.dapr.io/concepts/security-concept/

Communicate from the application and the sidecar is not encrypted (plain-text HTTP or gRPC), but we do not believe that to be a concern. The two should always be placed side-by-side, in the same pod (if running on Kubernetes), and communicate only over localhost.

[2022-07-01 17:56] safari137 opened #4855 "Dapr gRPC concurrency error"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

I expect to be able to make concurrent requests to the Dapr side car over gRPC

## Actual Behavior

When making concurrent requests to the Dapr side car over gRPC one request is successful, but all the other concurrent requests get the following .NET exception.

`Grpc.Core.RpcException: Status(StatusCode="Cancelled", Detail="grpc

[2022-07-01 17:59] yaron2 commented on #4855
This is fixed in 1.8 already.

[2022-07-01 17:59] #4855 closed

[2022-07-01 18:23] safari137 commented on #4831
@halspang thanks for confirming the second point!

As for the first point:

The documentation says:

However, if I set this up with just a target of apps, it does not seem to take effect.
[code]

So I'm assuming while I can use the targets to narrow down the "scope" of the policy, minimally, I must use the components target.  Or is my issue that the apps target is only for service invocation (that

[2022-07-01 18:34] halspang commented on #4831
Yes, the `app` target is just for service invocation. When calling a component, you must use the component target.

apps: Service invocation
actors: Actor invocation
components:
  inbound: Calls from dapr to your app (like a message delivery)
  outbound: Calls from dapr to the component (like publishing a message)

If you feel that's not clear in the docs, please open an issue in the docs repo and

[2022-07-01 18:46] berndverst commented on #4847
You can contribute any state store component you'd like. Should there be a new blockchain building block entirely? Probably not :)

[2022-07-01 18:49] safari137 commented on #4831
I think it's pretty clear actually, I just overlooked it.  Thanks for confirming!

[2022-07-01 18:49] #4831 closed

[2022-07-01 18:57] safari137 commented on #4855
After upgrading to 1.8.0-rc4 this works as expected.  Thank you!

[2022-07-01 20:54] halspang commented on #4568
@adi-braniste - What does your component CRD look like? It may not be getting applied because the name doesn't match.

Also, if you enable debug logging we can see if resiliency is enabled or not. If the enable didn't work, you'll see a line like:

`Resiliency is not enabled.`

[2022-07-01 21:57] LilCSharp opened #4857 "Invocation Issues and Mysterious URL Changes on Local Kubernetes Deployment"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

/area runtime

## Issue in Question
Hello!

I have a set of two ASP.NET Core services that have the ability to send GET requests to receive basic information from each other. I am facing two pr

[2022-07-02 05:26] hspaay commented on #4840
Not yet,

I'm working on a series of examples (in golang) that explores various methods of invocation for gRPC and HTTP. Once I've gone through these I should have a better understanding on how to use dapr, and hopefully an answer.  The examples should provide a bit more explanation than the quickstarts and the docs.

FYI, examples repo: https://github.com/wostzone/echo-dapr
This is very much work

[2022-07-03 21:07] bill-poole opened #4858 "Can Dapr actors be invoked with streaming requests?"
I'm researching Dapr to see if it meets our requirements. We have a need for messages to be streamed between actors as is supported by gRPC. If not, is there any way to work around this limitation?

[2022-07-04 01:40] datznt commented on #4840
You should try using "[NewService](https://docs.dapr.io/developing-applications/sdks/go/go-service/grpc-service/)" instead of "AppCallbackServer".
This makes it possible for me to use both client and service at the same time :))

[2022-07-04 07:24] hg533 commented on #4834
@halspang Thank u! Can u give me a C# sample?

[2022-07-04 13:00] safari137 commented on #4832
@ItalyPaleAle  that covers what I need.  Thank you.

[2022-07-04 13:00] #4832 closed, assigned to nobody

[2022-07-04 21:32] #4471 closed

[2022-07-05 03:24] hspaay commented on #4840
@datznt thanks, I got it working using NewService :)
Guess we can close this now :+1:

[2022-07-05 06:18] joeakim opened #4859 "How secure is the Sidecar?"
/area runtime

Hi there,

I am a noob when it comes to containers, etc. yet I need to clarify a few security questions. Maybe the questions are nonsense. So, any help is appreciated 🙂
I have an Azure Container App Environment which has dapr components configured and hosts Container Apps.
For the sidecars to able to connect to the components, I assume they "somehow" need the connection strings incl

[2022-07-05 09:27] #4554 closed

[2022-07-05 14:16] hspaay commented on #4834
@hg533 I ran into the same issue using the go sdk as per documentation: https://docs.dapr.io/developing-applications/sdks/go/go-service/grpc-service/ uses 'AddServiceInvocationHandler'. Running this gives the rpc errors mentioned above.
I've created a documentation issue https://github.com/dapr/dapr/issues/4840 for this. It also doesn't mention the appcallback.proto.

@halspang is there any docume

[2022-07-05 15:32] hspaay commented on #4840
@datznt Further update after a lot more confusion:

First, to confirm, the example does work with NewService() and the client does communicate over gRPC. So that part is good and thank you for the suggestion to use NewService.

Second. My confusion stems from the incorrect assumption that this lets you use your own gRPC service generated with protobuf. Eg create a gRPC service instance as you'd no

[2022-07-05 21:48] yaron2 commented on #4816
If you're asking on how to debug a Dapr sidecar in your k8s cluster, I recommend you port-forward to a pod and then curl on `http://localhost:3500`.

[2022-07-05 21:50] yaron2 commented on #4826
Must you use `rawPayload=true`?

[2022-07-05 21:50] yaron2 commented on #4839
cc @mukundansundar @artursouza

[2022-07-05 21:55] yaron2 commented on #4857
Are you sure the target service is healthy and running before your caller service invokes it?

[2022-07-05 21:59] yaron2 commented on #4859
Hey there @joeakim, I think the best place to ask this question is on the Container Apps GitHub repo here: https://github.com/microsoft/azure-container-apps.

Based on my understanding of the service, Container App secrets are saved in an underlying secret store and Dapr uses its [secret reference mechanism](https://docs.dapr.io/operations/components/component-secrets/) to fetch these secrets.

Da

[2022-07-05 21:59] #4859 closed

[2022-07-05 22:01] yaron2 commented on #4858
We don't support actor to actor streaming. It'd be great to hear about your scenario and understand the requirement behind this.

You could use Dapr to stream gRPC requests between non-actor services that in turn invoke actors and return the response.
Also, we're actively working on pub/sub and actors integration.

[2022-07-05 22:20] LilCSharp commented on #4857
Yep! The command `kubectl get pods -A` showed that that both pods for both services were running, and I ran `kubectl describe all` to verify if there were any errors. There didn't appear to be anything.

[2022-07-05 23:37] yaron2 commented on #4857
Can you try and run the [Hello Kubernetes tutorial](https://github.com/dapr/quickstarts/tree/master/tutorials/hello-kubernetes) and see if that works for you? If it does, you should be able to understand the difference in setups between that and your app.

[2022-07-06 00:13] berndverst commented on #3991
@greghoover
Related to the issue here I discovered that Cloud Events SDKs send additional attributes as headers / metadata which today are not stored by Dapr PubSub components. As one of the maintainers of Components-Contrib (and also the Python SDK) I am investigating the best way for the PubSub components to store this - and return this. The problem is of course backwards compatibility.

Ultimat

[2022-07-06 02:32] naah69 opened #4863 "dapr run support some parameters to connect control-plane in k8s"
## In what area(s)?

 /area runtime

## Describe the feature
we have a demand that is use `dapr run ` in hosts to connect dapr in k8s on development envirement.
it can't be implement directly now even though both of the hosts network and k8s network is linked.
we can only use `consul` as the registry.

so we hope that `dapr run` has some parameter or config to connect control-plane in k8s.
such as

[2022-07-06 03:47] BenLocal opened #4865 "panic in grpc proto message v1 client"
I want to use nacos as nameresolution sever, but nacos-sdk-go use grpc proto message v1 to connect to the nacos server,
The following panic appear：
[code]

[2022-07-06 03:57] yaron2 commented on #4865
What version of Dapr are you using?

[2022-07-06 05:00] hspaay opened #4866 "Why is grpc via dapr slower than http?"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

/area runtime

## Ask your question here
A simplistic performance comparison of invoking a method via gRPC and http with and without dapr shows that without dapr the grpc calls are more efficie

[2022-07-06 05:03] BenLocal commented on #4865
master branch code
All grpc client will use `"github.com/dapr/dapr/pkg/grpc/proxy/codec".protoCodec` in dapr, except dapr self, other third package’s grpc client too.
but `"github.com/dapr/dapr/pkg/grpc/proxy/codec".protoCodec` only supports converting proto v2 message(`"google.golang.org/protobuf/proto".Message`)
If use proto  v1 message(`"github.com/golang/protobuf/proto".Message`) in grpc clien

[2022-07-06 05:13] BenLocal commented on #4865
I think, `"github.com/dapr/dapr/pkg/grpc/proxy/codec".protoCodec` needs to support proto v1 message

pkg\grpc\proxy\codec\codec.go line89:
[code]

[2022-07-06 05:50] naah69 commented on #4169
i had the same problem.

<img width="1187" alt="image" src="https://user-images.githubusercontent.com/25682169/177478226-191040c9-cabb-4abf-8c0f-46a080dcd128.png">
<img width="1057" alt="image" src="https://user-images.githubusercontent.com/25682169/177478260-15d22089-44e0-4bf0-b6f9-e8094881ff3b.png">

[2022-07-06 05:54] #4587 closed

[2022-07-06 06:08] akhilac1 commented on #4760
@halspang - There is a WIP implementation of hot-reloading for k8s. Hence it is excluded from the scope for standalone.
Agree with your comment on getting this to work for both K8S and standalone. There is additional design to be included for K8S - the configuration should be updated in K8S too, so that a restart triggered from K8S will not init the configuration to the default state.

Why can't w

[2022-07-06 07:03] OyuO commented on #4826
Yes! Because I need to communicat with other system,they don't use dapr.

[2022-07-06 08:17] naah69 opened #4869 "consul register health check error in k8s,cause by port 3500 binds on localhost"
## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior

Dapr Health Status is pass

## Actual Behavior

in sidecar,3500 binds on localhost, so health check error.
<img width="1063" alt="image" src="https://user-images.githubusercontent.com/25682169/177502951-f48abea8-29d0-44f7-9825-dc5fe57c96a8.png">
<img width="786" alt="image" src="https://user-images.githubuserconten

[2022-07-06 08:19] bill-poole commented on #4858
We're building an "industrial metaverse" application, where an actor exists for each industrial/manufacturing process, which acts as a "digital twin" of that process. Each process in an industrial value chain receives inputs from upstream processes and sends outputs to downstream processes. Sometimes, external events arrive out of order or are later updated, in which case all subsequent process st

[2022-07-06 12:59] MariusOvergard opened #4870 "Publishing events where properties starts with non-ascii chars doesn't adhere to PropertyNamingPolicy"
## In what area(s)?

/area runtime

## What version of Dapr?

1.7.4

## Expected Behavior

Publishing an avent using the pubsub component and the DaprClient with a json payload that has properties starting with "nordic" (æøå) characters should adhere to the JsonSerializer.PropertyNamingPolicy defined in JsonSerializerOptions.

When PropertyNamingPolicy is set to JsonNamingPolicy.CamelCase the foll

[2022-07-06 13:02] omidb commented on #4572
@wmeints it would be great if you can have an example here. What are you using for traffic splitting? I had the same problem last time I tried.

[2022-07-06 19:58] hspaay commented on #4840
Closing this issue as the original question has been answered. Thanks datznt for the input.

[2022-07-06 19:58] #4840 closed

[2022-07-06 20:01] yaron2 commented on #4840
@hspaay the recommended way to do service invocation with gRPC (and use your own proto) is this: https://docs.dapr.io/developing-applications/building-blocks/service-invocation/howto-invoke-services-grpc/.

[2022-07-06 21:23] olitomlinson opened #4872 "Support namespace isolation option for Dapr PubSub"
## In what area(s)?

## Describe the feature

In the same vein as namespace isolation support for [State Management building block in v1.8](https://v1-8.docs.dapr.io/developing-applications/building-blocks/state-management/howto-share-state/) (`namespace` option), please can dapr PubSub support `namespace` isolation too.

An opt-in configuration when enables any topics and queues that are created

[2022-07-07 02:00] berndverst commented on #3991
@greghoover Take a look at my draft PR - this also shows how the fields would be readable via the Python SDK and presumably similar in the DotNet SDK if implemented.

Essentially the Cloud Events SDK expose a dictionary / map / hash called `extensions` which should contain all the fields not defined as optional or required by the cloud events spec. Any other field is considered an extension attrib

[2022-07-07 02:49] hspaay commented on #4840
@yaron2 Ah that is good to know. Thank you for pointing towards the right direction.

[2022-07-07 03:26] #3875 closed

[2022-07-07 12:47] sunzhaochang opened #4874 "Operator cannot create events resource"
## In what area(s)?

 /area operator

## What version of Dapr?

1.8.0-rc.7

## Expected Behavior

The events resource can be created successfully.

## Actual Behavior

The operator cannot create resource "events", there are error logs in operator:
[code]

[2022-07-07 18:11] berndverst commented on #4866
What is the payload size here? Could you repeat the test for small payloads and large payloads?

There will be overhead in deserializing and serializing protobufs, but this should be negligible for larger requests. So I wonder if you see gRPC being more performant for larger requests.

[2022-07-07 18:38] mukundansundar commented on #4839
@tlbboy From the error that I am seeing, did the application start up correctly with 1.5 if not what error are you seeing in the application ? Since the daprd logs above mention error on connecting to the application port.

[2022-07-07 20:12] berndverst commented on #4869
Use `--dapr-listen-addresses` or in k8s: `dapr.io/sidecar-listen-addresses`

From the docs:

[2022-07-07 23:20] artursouza opened #4881 "Errors invoking actors on K8s cluster restart"
## In what area(s)?

/area placement

## What version of Dapr?

1.8.x

## Expected Behavior

Actor instances can be found during K8s cluster restart.

## Actual Behavior

When a K8s cluster is restarted, many actor invocations fail with `error invoke actor method: failed to invoke target 192.168.39.6:50002 after 3 retries`

The fix this issue, control plane and app Deployments must be restarted.

[2022-07-07 23:20] #4881 closed

[2022-07-07 23:45] artursouza opened #4882 "Errors invoking actors on K8s app container restarts"
## In what area(s)?

/area placement

## What version of Dapr?

1.8.x

## Expected Behavior

Actor instances can be found during K8s app container restart, with proper rebalance.

## Actual Behavior

When a the app's container is restarted, many actor invocations fail with `error invoke actor method: error finding address for actor type XYZActor with id c73a616c-7f8f-42b3-8c17-c5e6759b484b`

The w

[2022-07-08 00:18] artursouza opened #4883 "Block calls from sidecar to app when app is not healthy"
## In what area(s)?

/area runtime

## Describe the feature

Dapr sidecar should proactively ping a health endpoint on the app and block forever any calls into the app channel until app is healthy again. This should be configurable via K8s anotations and sidecar command line args:

`dapr.io/app-readiness-path` - path for health check via HTTP endpoint or method name for gRPC. Example: `/health` or

[2022-07-08 00:49] artursouza opened #4884 "W3C tracing for bindings"
## In what area(s)?

 /area runtime

## Describe the feature

Some binding components can handle metadata attributes and it would allow support for W3C tracing headers without forcing cloud events spec. This issue is to enable W3C tracing via metadata in input bindings and let each component handle that. Azure Service Bus binding should be the first one to enable this feature.

Related to https://

[2022-07-08 02:24] #4874 closed

[2022-07-08 05:18] hspaay commented on #4866
Running the test with a small, 1KB, 10KB and 100KB random text payload yields the following timing:

| Makefile | test                         | Hello world | 1K text | 10K text | 100K text  |
|----------|------------------------------|-------------|---------|----------|------------|
| run1     | 1000 plain grpc calls        | 150 msec    | 150 msec    | 200 msec  | 550 msec   |
| run2     | 1000

[2022-07-08 06:13] saber-wang commented on #4848
@mukundansundar This is all I need.

[2022-07-08 06:13] #4848 closed

[2022-07-08 16:44] ItalyPaleAle commented on #4866
@hspaay Thanks for the feedback.  I think I have an idea why this is happening and your last data, showing that bigger payloads are slower, seems to confirm it.

Currently the Dapr sidecar does not use streams internally. Which means that when you do service invocation through Dapr to call from app A to app B:

- app A sends the message to sidecar A
- sidecar A needs to read the entire message in

[2022-07-08 18:07] JoshVanL commented on #3968
Hi all :wave:

I am a [cert-manager](https://github.com/cert-manager/cert-manager) maintainer, and would be keen to implement an integration :slightly_smiling_face:

As I understand, this would involve adding a [`CertificateAuthority`](https://github.com/dapr/dapr/blob/bd96fea8d6ac77ad59013c5fbbbe1c1229471eec/pkg/sentry/ca/certificate_authority.go#L36) implementation for cert-manager?

`SignCSR` w

[2022-07-08 19:13] yaron2 commented on #3968
That would be great and highly appreciated!

Your understanding is correct. If changes are needed to the interface or request/response objects, that's definitely doable so long as it doesn't involve breaking changes to existing Sentry CA users.

[2022-07-08 19:17] JoshVanL commented on #3968
Understood, thanks @yaron2. I’ll see what I can do over the next week or so to get more familiar with the project and give it a go. Cheers!

[2022-07-08 20:13] ItalyPaleAle commented on #3968
@JoshVanL this is great, thanks!

My only comment is that we probably don't want to enable support for Let's Encrypt in Dapr, since all endpoints are private. However, support for the ACME protocol (and things like Boulder) could certainly be welcome :)

(The next step .... how could we promote Azure Key Vault integration in cert-manager? :) )

[2022-07-08 20:26] yaron2 commented on #3968
@ItalyPaleAle what's the concern with Let's Encrypt and public endpoints? we allow Dapr to fetch secrets from public endpoints today, so I'm not sure why fetching a cert would be any different.

[2022-07-08 20:38] #4326 closed

[2022-07-08 20:40] JoshVanL commented on #3968
@ItalyPaleAle  Indeed publicly issued certs using ACME won’t work, however there is not a way to block that from the Dapr side easily. cert-manager uses untyped name references ([‘issuerRef’](https://cert-manager.io/docs/projects/istio-csr/#which-issuer-type)) to the issuer to sign the request. The best we can do is similar to [istio-csr](https://cert-manager.io/docs/projects/istio-csr/#which-issu

[2022-07-08 20:45] ItalyPaleAle commented on #3968
@yaron2

Two reasons:

1. It is unlikely to work, or at least not easy/convenient. The HTTP-01 and TLS-ALPN-01  challenges require each service to be directly addressable from the Internet. Although possible, I would not recommend users to expose every single service publicly. The DNS-01 challenge is the only one that could be usable, but it requires every service to have a DNS name that is part o

[2022-07-08 20:56] ItalyPaleAle commented on #3968
@JoshVanL as for implementation details. When I (briefly) looked into this the biggest challenge I found was in the data structure used to store the certs issued by Sentry.

Currently, Sentry expects exactly 3 files to be started:

https://github.com/dapr/dapr/blob/a4eefaed5e7f376f04968a1c6366a39a855ddff8/cmd/sentry/main.go#L93-L95

- "issuerCert" and "issuerKey" are the certificate and key for th

[2022-07-09 00:33] hspaay commented on #4866
@ItalyPaleAle I hadn't considered streaming. Not sure what that means in this context but if it means that gROC re-uses a single http/2 connection it would be more efficient. @yaron2 is that what you are referring to?

@yaron2 yes I saw your response on the documentation issue that the recommended way to use Dapr with gRPC is for Dapr to proxy the message, not to use the SDK. Thanks for helping ou

[2022-07-09 13:09] JoshVanL commented on #3968
Thanks for the detailed explanation :smile:

Indeed, this current way of doing this is incompatible with how cert-manager would do things- not least since we don't have direct access to the signing key.

I'll see how I get on, and keep in mind making sentry more generic to allow for other external CA implementations.

[2022-07-09 17:18] yaron2 commented on #3787
/keep-alive

[2022-07-09 21:42] ItalyPaleAle commented on #4866
@hspaay Yaron and I synced offline as we meant different things with "streaming".

However, if both the caller and callee apps in your case use gRPC, you may be able to get pretty good performance by using gRPC proxying with Dapr. https://docs.dapr.io/developing-applications/building-blocks/service-invocation/howto-invoke-services-grpc/

I've been investigating the issue and I think there are some

[2022-07-10 03:39] kevinten10 commented on #4883
Hey, I want to ask: In k8s, why not use the k8s native health check probe?

[2022-07-10 03:53] kevinten10 commented on #4863
Hey, I feel like this is a common problem in the sidecar community, how to run a sidecar in the development environment (local hosts) and connect it to the online k8s cluster.

Can we learn from the istio/envoy community's solution?

[2022-07-10 04:45] kevinten10 commented on #4585
.Can you put the `trace-id` in the message of the pub/sub.

[2022-07-10 20:50] jefersonmanjos opened #4891 "Show correct error message when trying to use actors without specifying an app-port."
When I try to run actor I received the flow message even with statestore configured with actorStateStore value true.

`{
    "errorCode": "ERR_ACTOR_RUNTIME_NOT_FOUND",
    "message": "the state store is not configured to use the actor runtime. Have you set the - name: actorStateStore value: \"true\" in your state store component file?"
}`

So I have this component:

apiVersion: dapr.io/v1alpha1
k

[2022-07-10 21:26] hspaay commented on #4866
@ItalyPaleAle thanks for the update. Btw the tests are based on that example and include this in the client:

[2022-07-11 03:45] naah69 commented on #4869
<img width="881" alt="image" src="https://user-images.githubusercontent.com/25682169/178184670-6e0e154f-154b-40af-bb9a-258456c0e702.png">

it worked! thanks.

do u know how to set namespace when register to consul?

[2022-07-11 13:17] ManuDinicola opened #4892 "Darp placement - Raft and Health are not started."
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

/area placement

## Ask your question here

Hi ,

After an upgrade of our kubernetes version , the placement server are in CrashLoopBackOff
![image](https://user-images.githubusercontent.com/20

[2022-07-11 13:32] DeepanshuA commented on #4892
Hi @ManuDinicola, I am not very sure. May be some other contributor can suggest better options.
As of now, this is what I can think of trying out:
1. Changing delay-seconds for placement service, like in https://github.com/dapr/dapr/issues/3976#issuecomment-1046966372
2. Enabling debug logs for placement service and troubleshooting logs (refer: https://docs.dapr.io/operations/troubleshooting/logs-

[2022-07-11 13:58] ManuDinicola commented on #4892
Have already try the 2 options with no luck .
The logs are set in debug and the delay is set to 60.

[2022-07-11 14:51] #4534 closed

[2022-07-11 17:10] artursouza commented on #4883
This is a good point. I think we can have the sidecar injector to use the K8s settings first and only override with the ones above if those are set.

[2022-07-11 17:26] DeepanshuA commented on #4892
Could you please also check logs through following command, if it gives out any more info:

kubectl logs -n <namespace> --all-containers -f <pod_name>

[2022-07-11 17:40] sahilangra-TA opened #4893 "How to expose Dapr externally from Kubernetes cluster"
/area runtime

I have basically initialized my dapr on kubernetes and is running on port 3500. I would like to expose this URL to the outside world using which multiple clients can connect to this directly. Any suggestions on how may I achieve this?

[2022-07-11 18:13] ItalyPaleAle opened #4894 "Switch default `global.registry` to GHRC?"
Currently our Helm charts default to use Docker Hub. Should we switch to GHCR as default?

[2022-07-11 18:14] ItalyPaleAle commented on #4892
Hi @ManuDinicola what version of Dapr were you upgrading from?

It may be that the Raft log is corrupted or it's in a bad state. I would recommend removing the stateful set for Placement (completely delete all pods and all data on disk) and re-creating it.

Nothing in the Placement service's state is crucial and data loss there is ok.

[2022-07-11 20:12] artursouza commented on #4884
This can also add work to SDKs to automatically add the traceid metadata from the application.

[2022-07-11 20:18] artursouza commented on #4884
@halspang  Please, consider the end-to-end experience form the .NET SDK perspective too.

[2022-07-11 21:43] ItalyPaleAle commented on #4883
As per discussion, I have two proposed designs to address this problem. They are not necessarily either-or options, as we may support both (users would be able to choose the behavior).

# Path 1

This requires users to create an health endpoint in the app. Could be either:

- a `/healthz` API (name is configurable) that must respond with 200 OK if the app is all healthy
- a gRPC call that returns

[2022-07-12 03:09] #4584 closed

[2022-07-12 06:28] rojamajor opened #4896 "how many replicas should be set for dapr-sidecar-injector,dapr-sentry and dapr-operator?"
Hi, how many replicas should be set for dapr-sidecar-injector,dapr-sentry and dapr-operator?
thanks!

[2022-07-12 07:07] hongbaotong opened #4897 "Why discard the dapr-internal-grpc-port parameter？"
Why discard the dapr-internal-grpc-port parameter？

How do I set the internal grpc port?

[2022-07-12 09:07] shuiyunwudi commented on #4897
you should use daprd command, not dapr commond, refer to: https://docs.dapr.io/reference/arguments-annotations-overview/

[2022-07-12 09:19] hongbaotong commented on #4897
thanks！

[2022-07-12 09:19] #4897 closed

[2022-07-12 09:39] ManuDinicola commented on #4892
@DeepanshuA

Have the same log message.
`
![image](https://user-images.githubusercontent.com/20815049/178460117-72744d8a-05b8-49e4-bc76-cbf794de1eb6.png)

`

@ItalyPaleAle
This problem arrive just after an upgrade from k8s 1.21.8 to 1.22.9. At this time we were on dapr 1.7.4.
After that we have update dapr to 1.8, but the error still occur.

Have remove the stateful set for Placement with no luck.

[2022-07-12 11:14] #4321 closed

[2022-07-12 11:27] irbekrm commented on #3968
Same as @JoshVanL would also be interested to see more what folks would want to gain from this integration.

We have looked at a few ways how AKV could work with cert-manager.
What we mostly get asked is whether there is some mechanism how to simply sync cert-manager issued certs from Kubernetes `Secret`s to AKV (for consumption by Azure services that don't consume certs from Kubernetes `Secret`s)

[2022-07-12 16:25] artursouza commented on #4513
Congrats! Thanks for the great work coordinating this, @pravinpushkar and @amulyavarote!

[2022-07-12 16:25] #4513 closed

[2022-07-12 16:47] addjuarez opened #4898 "v1.9.0 Release Planning"
Release Coordinator: @addjuarez
Release Buddy: @DeepanshuA
Build and Test Champion: @addjuarez

Last Day of Planning: 7/22/2022
Preflight check: 9/27/2022
Code freeze: 9/29/2022
Endgame starts: 10/3/20222
RC1 date: 10/3/2022 (earliest)
Release date: 10/10/2022

Milestones
Dapr - https://github.com/dapr/dapr/milestone/16
CLI - https://github.com/dapr/cli/milestone/10
Docs - https://github.com/dapr/

[2022-07-12 20:53] ItalyPaleAle commented on #3968
@irbekrm thanks for your thoughts!

This was my first idea as well, and perhaps a "lower-hanging" (though possibly not "low-hanging") fruit. You could store your CA's keys into Azure Key Vault. The advantage of doing that is that signing operations would then be performed within the key vault: using ["sign" invocations](https://docs.microsoft.com/en-us/rest/api/keyvault/keys/sign), you can send AK

[2022-07-12 21:01] ItalyPaleAle commented on #4892
@ManuDinicola do you have the logs from the previous (crashed) containers for inspection?

[2022-07-12 21:59] artursouza commented on #4883
I am in favor of path1 since it is not coupled with K8s.

[2022-07-12 22:05] yaron2 commented on #4883
Path 1 is the only viable option. Path 2 is 100% non-idiomatic for how users expect k8s health probes to operate in regards to pod lifecycle, and, we should do our best to avoid k8s only features.

[2022-07-13 00:26] ItalyPaleAle commented on #4883
My only concern with path 1 is that it does require users to opt into this feature.

Can you think of any other signal we could use to probe when the app is "back to life" that wouldn't require users explicitly creating a new endpoint?

[2022-07-13 03:49] #4336 closed

[2022-07-13 04:28] akhilac1 opened #4899 "Support PostgreSQL as the configuration store"
## In what area(s)?

 /area runtime

 /area docs

## Describe the feature

### Verbatim requirement from users posted here - ###
"Configuration API as of now supported with Redis. Our primary database is YugabyteDB and hence looking for PostgreSQL support with configuration API

As of now postgreSQL is supported with state store in Dapr. We are looking for support in the configuration API as well.

[2022-07-13 06:54] mukundansundar commented on #4896
See the [Production guidelines](https://docs.dapr.io/operations/hosting/kubernetes/kubernetes-production/) in docs.

[2022-07-13 06:56] mukundansundar commented on #4894
Similarly should the default change for CLI too?

[2022-07-13 08:40] akhilac1 opened #4900 "Common Configuration for daprd and dapr cli"
## In what area(s)?

 /area runtime

 /area docs

## Describe the feature

dapr cli and daprd have custom defaults. daprd derives defaults from config.go. Define a common package for defaults that can be used across dapr cli and daprd.

This could be extended to be leveraged by SDK as well.

This will also address issue[ [Default Dapr gRPC port is inconsistent with documentation · Issue #1023 · da

[2022-07-13 08:40] akhilac1 commented on #4900
@mukundansundar

[2022-07-13 08:40] #4338 closed

[2022-07-13 08:53] akhilac1 commented on #4899
/assign

[2022-07-13 09:53] RainingNight commented on #4233
Any news?

[2022-07-13 10:21] hanxinimm commented on #4891
me too.

[2022-07-13 10:57] konstantin-magg commented on #4714
Hi,
I run into the same issue as you, @pravinpushkar . Did you already find a good workaround to pull the container `dapr-dashboard` from a custom registry?

I would expect the value `global.registry` to have effect on all container images. I could try to draft a PR. Are you interested? And who would be a good person for a review?

[2022-07-13 13:20] ssijbabu opened #4902 "How to add SPAN and Tags using dapr observability?"
Anyone knows how to create span and tags using dapr observability? or is it even possible?

[2022-07-13 13:54] pravinpushkar commented on #4714
@konstantin-magg  Unfortunately, I do not have good workaround.  Apart from dashboard, all other images can be pulled from different registry or GHCR instead of dockerhub.

Sure, feel free to submit a PR. All PRs are reviewed by approvers and Maintainers.

[2022-07-13 15:12] ItalyPaleAle commented on #4894
@artursouza @yaron2 thoughts?

[2022-07-13 23:31] #4687 closed

[2022-07-14 04:56] mukundansundar commented on #4899
duplicate of #4551

[2022-07-14 04:56] #4899 closed

[2022-07-14 06:11] caiwenhao commented on #3169
Organization/Company: POWERWIN
Website: https://www.powershopy.com
Country: Shenzhen / China
Contact: devops@empowerwin.com
Usage scenario: POWERWIN uses Dapr for its all-in-one commerce platform
Runs on Amazon EKS, using the Pubsub redis component, with development in Go & PHP, deployed using zadig, tracing using aliyun Tracing Analysis
Status: Production

[2022-07-14 07:02] geertn commented on #4133
Another related issue: https://github.com/dapr/dapr/issues/4703

[2022-07-14 07:17] FangXing723 commented on #4891
I also encountered the same problem when trying the actor example on the official website of dapr.

[2022-07-14 11:57] Sence87 commented on #4891
I'm also running into this issue. I also tried everything as exactly done within the https://github.com/dotnet-architecture/eShopOnDapr/blob/main/docker-compose.override.yml file from the official sample project.
It seems like the redis store actually is connected and the component was found within the specified volume.

[2022-07-14 14:36] bencz commented on #3169
Organization/Company: Mottu
Website: https://mottu.com.br/ (Brazil) / https://mottu.com.br/es_mx/aluguel/ (Mexico)
Country: Brazil / Mexico
Contact: alexandre@mottu.com.br
Usage scenario: We are using Dapr to manage the highly scalable and highly available food delivery and e-commerce delivery system.
Status: In Development

Dapr Features Used
=============
- Pubsub
- State store
- Actors
- Actor

[2022-07-14 14:49] Jejuni opened #4904 "Upgrade to 1.8 broke connection to Azure Service Bus"
## In what area(s)?
/area runtime

## What version of Dapr?
1.8.0

## Expected Behavior

Dapr sidecars are capable of connecting to Azure Service Bus

## Actual Behavior

Dapr sidecars fail to connect to azure service bus.
On default settings they simply fail liveness check and get restarted forever.
After extending the liveness probe delay to 60 seconds log output of all our containers show a var

[2022-07-14 15:12] yaron2 commented on #4904
cc @ItalyPaleAle

[2022-07-14 15:17] ItalyPaleAle commented on #4904
Hi @Jejuni I'm not sure if this was different in 1.7, but at least in 1.8, with the new SDK, `namespaceName` must be a fully-qualified namespace. For example, `myservicebus.servicebus.windows.net`.

Can you check to make sure that the namespace is fully-qualified?

We should also update the docs and make that more explicit.

[2022-07-14 15:54] Jejuni commented on #4904
@ItalyPaleAle changing the `namespaceName` from `myapp-test-bus` to `myapp-test-bus.servicebus.windows.net` fixed the problem:

[code]

In v1.7 just using the namespace definitely worked, because that's what we were doing.
So it would be cool if the docs were updated for other people facing the same problem.

Big thanks for the quick help!

[2022-07-14 17:24] artursouza commented on #4904
I was thinking of this as a breaking change but this is undocumented behavior - we did not guarantee that the suffix would be auto-appended for the user before and the documentation did not setup this expectation either. I think it is acceptable NOT to have a hotfix and update the docs for the expected configuration.

[2022-07-14 17:30] yaron2 commented on #4133
Triaged into 1.9. cc @artursouza @daixiang0

[2022-07-14 17:50] ItalyPaleAle opened #4905 "Use ACME for obtaining (and auto-renewing) TLS certificates"
## In what area(s)?

/area sentry

## Current situation and issues

Currently, Dapr relies on sentry, a homegrown service, to issue TLS certificates to sidecars to enable communicating via TLS and mTLS authentication.

Sentry is a single-purpose service that includes a gRPC server with one endpoint: [`SignCertificate`](https://github.com/dapr/dapr/blob/9c6ab20ec023079211ee906c5db5cc08985be2e8/dapr

[2022-07-14 23:09] yaron2 commented on #4905
Interesting proposal (TL;DR - should certainly enable cert-manager, which has been a long standing item). However:

This can be solved with Sentry.

Changing Sentry to keep the private key is an easy change.

IPs in distributed system environments (Kubernetes as one example) are changing dynamically and issuing a cert per-ip is not useful. Similar to service meshes, identity validation is enabled

[2022-07-14 23:25] yaron2 commented on #4904
I agree. Merged docs PR.

[2022-07-15 00:01] msfussell commented on #4814
Completed and released

[2022-07-15 00:01] #4814 closed

[2022-07-15 00:52] ItalyPaleAle commented on #4905
Eventually, the question we should answer is whether we want to invest in Sentry and make the changes that are needed, continuing to maintain a homegrown solution, or whether we prefer to move to external solutions based on external standards. There are certainly pros and cons to both.

Thanks for the comments. A few additions:

While that's "easy", I'm afraid that it would not be enough. I've doc

[2022-07-15 01:22] yaron2 commented on #4905
Your documentation there is really good, and is a very good example of a change that's certainly doable today for Sentry.

Even 20 days fall within the scope of the next release. It's great that you estimated the work needed (I think you are a bit on the optimistic side, we all are) and this is another good example that we can resolve this within a single release as opposed to the work needed to r

[2022-07-15 07:06] vzdesic opened #4910 "Removing messages from the pub-sub topic"
How to ensure that message is removed from the pub-sub topic after all subscribers have received it?
I am using Redis pub-sub component.

Any common pattern, configuration or setup? Is it my responsibility? Shouldn't this be automatic action, actually?

Thanks a lot!

[2022-07-15 07:35] wucm667 commented on #3767
Any news? I have the same need.

[2022-07-15 09:06] shubham1172 commented on #4892
@ItalyPaleAle interesting that this issue is not very rare. I can see it happening multiple times randomly. It might require further investigation.

[2022-07-15 11:51] #4594 closed

[2022-07-16 02:05] codefromthecrypt commented on #3787
drive-by on webassembly

### witx, components etc
It might be ambitious to make a webassembly interface types plugin, yet, as specs are moving around in how they are marked up and also limited language support (ex no go). I might wait a bit and let WASI consistently consume a coherent witx markup, knock the kinks out, then evaluate it later.

[2022-07-16 02:07] codefromthecrypt commented on #3787
accidental enter on above comment. please refresh for the rest!

[2022-07-16 16:01] ItalyPaleAle commented on #4826
/assign

[2022-07-16 16:29] #4113 closed

[2022-07-17 13:35] shubham1172 commented on #4892
In my case I was not trying to upgrade, it was a direct installation.

[2022-07-17 19:35] JoshVanL commented on #4905
Hi both :wave:

Wanted to weigh in a bit to give some insights from a cert-manager perspective :slightly_smiling_face:

I would agree that ACME might not necessarily be the way to go. DNS and IP are not particularly static things in the cloud native world. Identities will often have their DNS + IPs changed underneath them or even share them with other identities often. It therefore makes it diffic

[2022-07-18 00:53] daixiang0 commented on #4905
An interesting proposal!

After touching ACME and knowing how it works, I would agree that ACME might not necessarily be the way to go too. The main reason is flexible DNS and IP in the cloud native world.

As I proposed in https://github.com/dapr/dapr/issues/3968, enabling cert-manager is easy for users and maintainers. Think about that you have Istio, Dapr, and custom clusters, maintaining a CA

[2022-07-18 02:00] athrayee opened #4911 "I am using a Dapr with Azure Container apps with .NET SDK. in Azure Container Apps facing issue with updating state in Azure Blob Storage"
I am using Azure Container apps with Azure Blob Store as a state store. It is a simple Hello World (weather service) app using dotnet 6. App starts up fine, on Post I am trying to save the generated weather information to Azure Blob Store as JSON. I have configured Dapr components in Azure Container Apps for StateStore using Azure blob storage. I am using storage key (secondary key) as explained i

[2022-07-18 05:38] akhilac1 opened #4912 "Discrepancy in Dapr dapr_http_server_request_count and dapr_http_client_completed_count"
## In what area(s)?

 /area runtime

## What version of Dapr?

1.8
## Expected Behavior

We have an application called "Governor" deployed in the k8 (GKE) . Services are enabled with dapr side car.
Ran a test for 4 hrs with 1400 TPS.
We use k6 as the testing tool which is outside the cluster.
Measured the input http request counts and response counts at K6 level. All http request and response coun

[2022-07-18 05:38] akhilac1 commented on #4912
@rahulpoddar-fyndna

[2022-07-18 14:16] slacksach opened #4913 "Operator - Unable to update service bug"
## In what area(s)?
/area operator

## What version of Dapr?

1.7.4

## Expected Behavior
No errors

## Actual Behavior
`unable to update service, abc/abc, err: Service \"abc\" is invalid: metadata.resourceVersion: Invalid value: \"\": must be specified for an update"
`
See original issue + PR for some context
https://github.com/dapr/dapr/pull/4563

## Steps to Reproduce the Problem
- Deploy 1.7.4

[2022-07-18 16:24] ItalyPaleAle commented on #4905
Thanks all for the feedback and advice. I'm going to close this as sounds like we won't move forward on this path, BUT the conversation was very productive.

[2022-07-18 16:24] #4905 closed

[2022-07-18 16:52] yaron2 commented on #4913
This was resolved in 1.8.0.

[2022-07-18 19:45] ItalyPaleAle commented on #4904
@yaron2 can we mark this as closed / resolved ?

[2022-07-18 19:48] ItalyPaleAle opened #4914 "1.8.1 Hotfix release checklist"
- [X] Dapr maintainer(s) communicate out the discovery of an issue that requires a hotfix and the reason why to the Discord Maintainers and Release channels. Hotfix is one of categories below:
   - [ ] Security vulnerability
   - [X] Regression that does not have a work around: https://github.com/dapr/components-contrib/issues/1881
   - [ ] Broken mainline scenario that has a missing test case
- [

[2022-07-18 20:23] perymerdeka opened #4915 "ERROR: for ptf-dapr Cannot start service ptf-dapr: failed to create shim task: OCI runtime create failed: runc create failed: unable to start container process: exec: "daprd": executable file not found in $PATH: unknown ERROR: for ptf-dapr Cannot start service ptf-dapr: failed to create shim task: OCI runtime create failed: runc create failed: unable to start container process: exec: "daprd": executable file not found in $PATH: unknown ERROR: Encountered errors while bringing up the project. make: *** [Makefile:5: up] Error"
I just used Dapr to develop microservices.

I use Flask as the framework, I use docker and docker compose for deployment, I run the command

` ["daprd", "-app-id", "flask-ptf", "-placement-host-address", "placement:50006","-components-path", "/app/backend/components/" ]`

to run dapr with docker compose.

reference
* https://docs.dapr.io/operations/hosting/self-hosted/self-hosted-with-docker/
* ht

[2022-07-18 21:19] #4904 closed

[2022-07-18 23:05] yaron2 commented on #4910
If your application returns a 200 OK (in the case of HTTP) or a non-error response (gRPC) to Dapr, the sidecar will remove the message from the topic for the given consumer group (based on the application `app-id`).

See here: https://docs.dapr.io/developing-applications/building-blocks/pubsub/howto-publish-subscribe/#message-acknowledgement-and-retries.

[2022-07-19 05:46] vzdesic commented on #4910
I understand, thanks!

[2022-07-19 05:56] vzdesic commented on #4910
But what if this doesn't happen? What can be a problem?

[2022-07-19 06:03] yaron2 commented on #4910
Do you mean that you start your app, return 200 OK, then restart the same app and you see the same message appear?

[2022-07-19 06:30] vzdesic commented on #4910
I mean, when service subscribed to some topic picks up the message, message remains there, on the topic.

Do you want to say that restarting of the service will do something to the system what is different than just normal work of the service?

[2022-07-19 06:48] XavierGeerinck commented on #4847
P.S. Just adding this, but some vendors offer Blockchain support on their databases (e.g. SQL has "SQL DB Ledger"). Just wondering if Blockchain should be a state store or a "bigger" proposal. @thinkgandhi what are your thoughts? (I am not really at home in the Blockchain world)

[2022-07-19 06:54] yaron2 commented on #4847
@thinkgandhi Dapr state stores require the implementation to honor the Update and Delete operations - how do you see that play out with Blockchain?

[2022-07-19 08:33] #4913 closed

[2022-07-19 10:33] clemensv opened #4917 "Deadletter mechanism does not integrate well w/ transactional message brokers"
https://github.com/dapr/dapr/blob/b8ae13bf3f0a84c25051fcdacbfd8ac8e32695df/pkg/runtime/runtime.go#L548

The deadletter mechanism in DAPR creates a broken abstraction for all scenarios where the underlying provider is a transactional message broker that has native DLQ functionality. The broker itself will generally continue to use its own deadlettering mechanism when messages expire or when message

[2022-07-19 15:26] ItalyPaleAle commented on #4508
👋🤖

[2022-07-19 18:32] yaron2 commented on #4917
Thanks for raising this @clemensv. Dead letter topics are off by default, and are an opt-in feature. I suggest we move this to docs as this is really about documenting a best practice which advises users to not turn on Dapr Dead Letter Topics if the underlying message broker supports it natively.

[2022-07-19 18:34] amulyavarote commented on #4898
Hi @addjuarez Can you please add this quickstarts milestone to the issue?
https://github.com/dapr/quickstarts/milestone/5

[2022-07-20 01:51] 1046102779 opened #4920 "ISSUE: apply a new protocol repository in dapr group."
Can we abstract api github.com/dapr/dapr/dapr/proto into github.com/dapr/protocol? I think it is necessary.

In this way, each language sdk does not have to rely on the dapr core repository, and the pb protocols of all languages are stored in the protocol repository, which exists as a standard.

https://github.com/dapr/go-sdk/pull/305#issuecomment-11897129

/cc @daixiang0 @yaron2 @skyao @artursouz

[2022-07-20 02:44] 1046102779 opened #4921 "dockerfile base image permission"
There are some components in components-contrib, such as: polaris(nameresolution).

![image](https://user-images.githubusercontent.com/20457624/179884407-13a519d3-9879-4c76-bf0a-96849520bf19.png)

[code]

[2022-07-20 03:48] #4865 closed

[2022-07-20 17:43] #3549 closed

[2022-07-20 17:51] ItalyPaleAle commented on #4921
No, please do not change the base image.

What components need to write files locally?

A better approach would be to mount a volume into the daprd container ([something we can do now](https://docs.dapr.io/operations/hosting/kubernetes/kubernetes-volume-mounts/)).

Perhaps this is a docs issue - something we need to update in the docs for the impacted components?

[2022-07-20 17:52] ItalyPaleAle commented on #4920
I think your request makes a lot of sense, BUT adding (yet another) repo does add to quite a bit of complexity.

What if we kept the files there, but added a `go.mod` in that folder? This way, it would be possible to manage that as a separate Go module, that can be fetched with `go get github.com/dapr/dapr/dapr/proto` and can stay on Go 1.17.

[2022-07-20 17:54] ItalyPaleAle commented on #4915
Because we use entrypoints, I don't think you need to pass `dapr` in the commands:

[code]

Can you try with just

[code]

And see if that works?

PS: Unrelated, but I think you may have a typo here: `FROM python:3.9-bulleye` -> should be `bullseye`.

[2022-07-20 22:35] ItalyPaleAle commented on #4910
Removing processed messages is the responsibility of the broker, not Dapr. Dapr can only notify the broker that the message has been completed (sending an ACK); what happens next is beyond Dapr's control, I'm afraid.

[2022-07-21 02:34] mukundansundar commented on #4158
@shubham1172 what are tasks pending in this issue?

[2022-07-21 03:22] 1046102779 commented on #4920
Ok, i try it.

[2022-07-21 04:30] yaron2 commented on #3787
Interesting. @daixiang0 what do you think?

[2022-07-21 05:59] DeepanshuA commented on #2218
Task List:

- [ ] Batch Publish gRPC Implementation
- [ ] Bulk Suscribe gRPC Implementation
- [ ] HTTP API
- [ ] Raw Payload Support
- [ ] Tracing support
- [ ] Resiliency
- [ ] DLQ support
- [ ] Adding two component support - Kafka + Azure
- [ ] Component Conformance tests
- [ ] SDK integration
- [ ] Bulk Subscribe advanced
- [ ] Supporting incompatible components
- [ ] E2E tests

[2022-07-21 06:46] vzdesic commented on #4910
What is mechanism which enables broker to know that all subscribers to the message received the message, and that this message can be deleted?

[2022-07-21 11:05] sundong1982 opened #4924 "How to install sentry in dapr self-host"
Once `dapr run xxxx --app-ssl` is used. No Dapr instances found will appear.
C:\Users\Administrator>dapr list
No Dapr instances found.

Is sentry not installed？

[2022-07-21 15:31] johnewart opened #4925 "[Proposal] (Updated) gRPC Components (aka "Pluggable components")"
To reset the conversation a bit in preparation for 1.9, this is an updated proposal for gRPC-based components. This proposal and its underlying implementation does not deviate much from the previous proposal and work from @patrickhuber but adds a bit more clarity around the design and proposed packaging of components.

# Dapr Pluggable Components

## Proposal

To build a general-purpose mechanism

[2022-07-21 16:31] yaron2 commented on #4925
Original issue: https://github.com/dapr/dapr/issues/3787.

[2022-07-21 16:40] yaron2 commented on #4925
Thanks for the proposal @johnewart. To be clear, are you proposing that in self-hosted mode it's `daprd`'s responsibility to execute the component process, or the developer's?

[2022-07-21 17:50] ItalyPaleAle commented on #4914
1.8.1 was released and all tasks completed

[2022-07-21 17:50] #4914 closed

[2022-07-21 18:09] scosta-kar commented on #4891
Ran into that same issue setting up a poc project. On my end problem was the port you specify when running dapr needs to match the port asp is running on:
` dapr run --app-id myapp --app-port 5028 --dapr-http-port 3500 -- dotnet run --urls "http://*:5028" `

[2022-07-21 18:11] tlbboy commented on #4839
thanks for your Reply @mukundansundar .
I   had found the reason.  Because dapr  sdk 1.4 used  grpc 1.39 version  and sdk1.5 used grpc 1.42.1 version.
 if  gcompat   not install in my docker image , the jvm will crash. Now  it's ok.

[2022-07-21 18:11] #4839 closed

[2022-07-21 19:13] halspang commented on #4891
Yes, you need to specify the app port for it to initialize the actor runtime. If you don't you'll get this error.

This error isn't clear for what's actually happening though. It'd be worth looking into why this specific error is raised and if we can change it to something more appropriate.

[2022-07-21 19:36] vzdesic commented on #4910
Thanks a lot @ItalyPaleAle !

You pointed me in the right direction. I searched according to your comment and found this two interesting issues: #4247 and #4233. I will investigate more in this direction.

Before I close this can you just tell more abut broker you use? What would you recommend? Is broker some available component or can this be my custom component?

[2022-07-21 20:42] olitomlinson commented on #4917
@yaron2

I wonder if it is a possible to author a component which has a native DLQ (such as Azure Service Bus) differently

- Skip the creation of a dapr-owned DLQ
- Skip the movement of the message to that dapr-owned DLQ, and let the underlying broker handle it as expected

**However** dapr could _still_ bind to the native DLQ, and delegate messages to the user-code handler as normal?

The dev ex

[2022-07-21 20:57] yaron2 commented on #4917
Reading [this](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dead-letter-queues) link, it seems that if Dapr DLQ isn't enabled, AND if any of the scenarios leading to a message going into the ASB DLQ occurs, then from Dapr's perspective the message is rejected.

Let's play out the following scenario:

User keeps Dapr DLQ disabled and uses ASB that's configured to send me

[2022-07-21 21:19] olitomlinson commented on #4711
@yaron2

Do I understand correctly that [this](https://github.com/dapr/dapr/issues/4226) change would be a pre-requisite for this particular ticket?

[2022-07-21 21:44] ItalyPaleAle commented on #4910
All brokers have similar functionalities and it really depends on what you're looking for.

If you are deploying to Azure, I would recommend using Azure Service Bus.

If you're not on Azure or want a self-hosted solution, some of my _personal_ picks (not an official recommendation :) ) are:

- Kafka is the most stable one in Dapr and has the most features, but it's also more heavy
- Redis Streams

[2022-07-21 21:48] olitomlinson commented on #4917
I understand that Dapr won't interfere with the native DLQ mechanism **providing that** Dapr DLQ is disabled.

I could be out of my depth here, but I'm hearing here is Clemens is saying is that when Dapr PubSub DLQ **is enabled** AND the component utilises a Native DLQ in the broker, then the Dapr-Created DLQ should not be utilised under any circumstance (And I interpret this as any calls to `send

[2022-07-21 21:53] yaron2 commented on #4917
I agree. Hence my suggestion to move this to docs, since this should really be a recommendation that says "only enable Dapr dead letter if your message broker doesn't support native dead letter".

Dapr can't know if a message broker has native DLT support (and whether it's enabled or not).

[2022-07-21 22:22] olitomlinson commented on #4917
I guess my thoughts on this is if we know that enabling DLQ on ASB component is going to cause a potential dangerous situation, _is a recommendation enough?_ Should the ASB component be hardcoded to DLQ Disabled and not overridable by the user?

[2022-07-21 22:37] yaron2 commented on #4917
You mean Dapr DLQ disabled? I don't think so. If a user enables ASB DLQ and then explicitly also enables Dapr DLQ then there's not much we can do. Dapr DLQ is not a component specific implementation, it sits in `daprd` and this can't be disabled per component.

[2022-07-21 22:47] olitomlinson commented on #4917
Sorry, I've not been explicit enough. I'll try again

I guess my thoughts on this is if we know that enabling Dapr PubSub DLQ (and the underlying broker is ASB) is going to cause a potential dangerous situation, is a recommendation enough? Should the ASB component be hardcoded to DLQ Disabled and not overridable by the user?

---

Btw I'm pretty sure that native-DLQ are always enabled in ASB, and

[2022-07-21 22:52] yaron2 commented on #4917
Technically, we can't program the ASB component to have DLQ disabled.

[2022-07-21 22:55] ItalyPaleAle opened #4927 "1.8.2 Hotfix release checklist"
- [X] Dapr maintainer(s) communicate out the discovery of an issue that requires a hotfix and the reason why to the Discord Maintainers and Release channels. Hotfix is one of categories below:
   - [ ] Security vulnerability
   - [X] Regression that does not have a work around: https://github.com/dapr/dapr/pull/4926
   - [ ] Broken mainline scenario that has a missing test case
- [ ] ~~Create the

[2022-07-21 22:59] ItalyPaleAle opened #4929 "Create E2E test to catch #4926"
## In what area(s)?

/area test-and-release

## Describe the feature

We need an E2E test to catch future regressions such as #4926

[2022-07-21 22:59] ItalyPaleAle commented on #4929
/assign

[2022-07-22 03:03] shubham1172 commented on #4924
@sundong1982 you need to manually set it up, have you seen this? https://docs.dapr.io/concepts/dapr-services/sentry/#self-hosted-mode

[2022-07-22 03:56] shivamkm07 commented on #4927
Installer bundle v1.8.2 is released: https://github.com/dapr/installer-bundle/releases/tag/v1.8.2

[2022-07-22 07:06] clemensv commented on #4917
Deadlettering may quite well be a conscious act by the application that considers a message and finds it faulty. That path and any other condition at the DAPR level that causes the message to be deadlettered should go into the native DLQ. I have not found where DAPR has a path to explicitly move messages into the native DLQ along with a reason code; did I miss that?

[2022-07-22 09:58] perymerdeka commented on #4915
if have tried without,  `daprd` as you suggested but I still got errors like this

[code]

can you help, please?

[2022-07-22 10:18] #4924 closed

[2022-07-22 11:06] jjcollinge commented on #4917
I don't believe there is any capability to explicitly move a message to a DLQ (ASB or otherwise) in Dapr today. @yaron2 could we potentially do this is using explicit response codes from the app's handler (similar to retry/drop)? We match the response code and raise a specific error, do not retry on that error type, passing it back up to the pubsub component's handler (assumes Dapr's DLQ is disabl

[2022-07-22 16:22] shubham1172 commented on #4158
@mukundansundar only external issues are pending as of now that we are waiting for CNCF to resolve ([this](https://github.com/dapr/dapr/issues/4158#issuecomment-1027765105) contains issue links). We still have this issue open to track those.

[2022-07-22 20:36] #4620 closed

[2022-07-23 01:26] tanvigour commented on #4827
/assign

[2022-07-23 05:35] #4139 closed

[2022-07-24 03:37] yaron2 commented on #4506
@mukundansundar is this not closed via https://github.com/dapr/dapr/pull/4543?

[2022-07-24 04:35] mukundansundar commented on #4506
closing.

[2022-07-24 04:35] #4506 closed

[2022-07-24 10:08] dipankaj commented on #4588
I saw this defect got closed. Does this issue fix in any recent release?

I was trying to publish CloudEvent of Mode Binary from a non-dapr systems. Unfortunately, I am not able to read the header information. Any suggestion is most welcome.

[2022-07-24 19:40] #4910 closed

[2022-07-24 21:02] vangheem commented on #4588
@dipankaj I think the maintainers might have lost interest or are too busy.

https://github.com/dapr/components-contrib/pull/1715 was the first step

The approach I designed works. The 2 PRs, if accepted would allow for using dapr with binary mode.

[2022-07-25 03:34] JackLiao2014 commented on #4475
Could you please share the solution of this change in high level in advance?

We tried below way, it works, but don't know if it's a reasonable way: forward request from gRPC server to HTTP Server(where HTTP middleware be executed)
Before the change:
| service A -> dapr | ---> | dapr **gRPC server---> service B** |
After the change:
| service A -> dapr | ---> | dapr **gRPC server-> HTTP Server--->

[2022-07-25 03:57] dipankaj commented on #4588
Thanks, @vangheem, I am sure there will be many like me eagerly waiting for this to merge. This will help to integrate non-dapr systems with dapr one.

[2022-07-25 04:59] perymerdeka commented on #4915
hey @ItalyPaleAle, can u send me an example of dockerfile and docker-compose? I'm very confused about that

[2022-07-25 07:41] VenkateshSrini opened #4932 "Side car not getting injected in the kubernetes pod"
Hi All,
Sidecar is not getting injected into the pod. The deployment yaml is as below
`apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: dapr-state
  annotations:
    dapr.io/enabled: "true"
    dapr.io/app-id: "dapr-state"
    dapr.io/app-port: "80"
    dapr.io/enable-api-logging: "true"
  name: dapr-state
  namespace: default
spec:
  replicas: 1
  select

[2022-07-25 10:02] sunzhaochang commented on #4932
The dapr annotations in deployment yaml should be set to `.spec.template.metadata.annotations`, not `.metadata.annotations`. So the yaml should be:
[code]
BTW, the warning log `Unable to get SA xxx` here is not printed correctly, and it will be fixed by #4901

[2022-07-25 10:15] heagma commented on #3994
@yaron2 can you please give me some references?.  I would like to start working on this.
Just took a quick look and found the OpenCensus library used quite a bit.

[2022-07-25 15:01] yaron2 commented on #4925
Also, @johnewart can you please provide an end to end user experience for this, including the CRD?

[2022-07-25 19:00] yaron2 commented on #4588
Maintainers have not lost interest. We'll be engaging this effort for 1.9.

[2022-07-25 19:43] ItalyPaleAle opened #4934 "Blob storage capability in state stores: API design"
This is a design proposal for adding support for a set of "blob storage" APIs to state stores. These APIs are an optional capability that state store components can implement, but they will not be required to (just like querying is an optional capability, for example).

See #4804 for an initial discussion on the topic. After an initial proposal that was calling for a brand-new building block, we a

[2022-07-25 19:47] yaron2 commented on #4804
@artursouza can this now be closed in favor of https://github.com/dapr/dapr/issues/4934?

[2022-07-25 19:50] yaron2 commented on #4934
Please change `v1.0/blob` to `v1.0/state/blog` (or any alternative convention that ties this to state) as the current design suggests this is a new API, which is what we agreed we wouldn't do based on the discussion in #4804.

[2022-07-25 19:52] #4849 closed

[2022-07-25 19:57] johnewart commented on #4925
Yes, in standalone mode (as it stands now), `daprd` starts the containers -- though it's possible to avoid that by using a 1-to-1 mapping of `PluggableComponent` to `Component` and specify the path to the domain socket manually. This would be, as we discussed out-of-band, for the case where `daprd` is run in standalone mode but not deployed with elevated privileges and so would not be able to run

[2022-07-25 20:01] yaron2 commented on #4925
Thanks. To be clear, I'd like to avoid `daprd` starting containers or processes, optional or not. This should be done via developers / infrastructure teams, as Dapr is not a container orchestrator and from a security perspective this will require Dapr to run with elevated, root privileges.

[2022-07-25 20:35] ItalyPaleAle commented on #4934
@yaron2  I thought of that, but when I started writing the proposal, I realized there were 2 problems with it:

**First**, a conflict with the API to retrieve states, which is `GET http://localhost:<daprPort>/v1.0/state/<storename>/<key>`.

**Second** the blob API should behave differently from the state store API, including two things I listed above (for both technical and "philosophical" reasons

[2022-07-25 21:17] yaron2 commented on #4934
Ok, that *kind of* makes sense :)

I'm not sure about the API conflict as the router should resolve `/state/<dynamic>/<dynamic>` and `/state/blob/<dynamic>/<dynamic>` just fine.

I agree the main thing here is to not make this a new building block by qualifying a new component class and this proposal addresses that concern.

[2022-07-25 21:26] yaron2 commented on #4934
What's the reasoning behind that?

[2022-07-25 23:15] ItalyPaleAle commented on #4934
I was concerned about the case where blob keys contain `/`, but looks like we don't support that scenario today anyways. So yes, this would not be a problem for GET (or POST) requests.

I understand that for state we add prefixes because we design that to be an app-specific thing: apps can store their own state and its meant for them only (there are ways to not have a prefix, but that's another to

[2022-07-25 23:50] yaron2 commented on #4934
Developers could simply set the `keyPrefix: none` setting on their component (example [here](https://docs.dapr.io/developing-applications/building-blocks/state-management/howto-share-state/#none)) to achieve the functionality you're describing and remain consistent with how Dapr handles state for non-blob entities. WDYT?

[2022-07-26 01:29] daixiang0 commented on #4925
I agree that `daprd` should not become a process / container orchestration, which is not the goal / foucs of Dapr.

I can understand the basics of this idea refer to https://docs.dapr.io/operations/hosting/self-hosted/self-hosted-overview. Based on the current architecture of self-host, introducing docker-compose to cover the gPRC components is a choice (maybe include Redis and Zipkin). We can pro

[2022-07-26 01:29] ItalyPaleAle commented on #4934
It's an option. I think it all depends on how users will want to use this, and on whether we use `v1.0/state` (in which case the closest we are to the current behavior, perhaps the better) or `v1.0/blob` for this (in which case we can make decisions more freely

Do you think this could use some UX research?

[2022-07-26 01:43] yaron2 commented on #4934
For sure.

[2022-07-26 02:02] ItalyPaleAle commented on #4934
Summoning our PM @nyemade-uversky :)

[2022-07-26 02:56] yaron2 commented on #4475
How did you forward the request from gRPC to the HTTP server, and how did you translate the gRPC call to an HTTP1.1 call?

[2022-07-26 05:33] dipankaj commented on #4588
@yaron2, what is the release date for 1.9?

[2022-07-26 07:17] dengyangxi opened #4936 "Is it a good idea for dapr to integrate the pyroscope to solve real-time performance analysis?"
Is it a good idea for dapr to integrate the pyroscope to solve real-time performance analysis?

 **Pyroscope is multilingual support, and dapr is also multilingual support, which is highly complementary ！
I hope the two of them can be well combined**

 Improve the observability of dapr

[https://github.com/pyroscope-io/pyroscope/issues/1309](https://github.com/pyroscope-io/pyroscope/issues/1309)
p

[2022-07-26 09:30] coverdh opened #4937 "gRPC proxy recreates connection on every request"
## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior

invoke grpc method via dpard, without increase memory

## Actual Behavior

![image](https://user-images.githubusercontent.com/4685645/180972340-4e8e51c0-19c4-4043-946f-f7e902ec78dd.png)
![image](https://user-images.githubusercontent.com/4685645/180972509-bd2a43ee-192d-4f87-a134-4a921512cac2.png)

## Steps to Reprod

[2022-07-26 09:52] olitomlinson commented on #4934
I think it's misplaced to assume that developers won't want any isolation guarantees for blobs. I understand that a canonical use-case for large blobs is for sharing photos and possibly other _public_ content, however in my use-case (which is pharma/therapeutics) we often deal with large blobs of sensitive data, and our architecture would benefit greatly from layers of isolation that is out of the

[2022-07-26 13:03] mstrYoda commented on #2950
Kindly reminder @artursouza @jjcollinge @yaron2 .

Can you check my last comments, I will prepare a PR for this development according to your responses 🙏

[2022-07-26 15:38] yaron2 commented on #4937
Thanks for the memory map @coverdh, this helps a lot. @Syuparn can you take a look?

[2022-07-26 16:09] addjuarez commented on #4898
Microsoft Dapr Priorities

 Pluggable Components as preview feature - @John Ewart
Fixes and enhancements reported by Zeiss.
Resiliency as a stable feature and metrics - @Hal Spang
More stable components
Windows installer for Dapr CLI
CosmosDB binding and state store using Track 2 SDK - @Ryan Lettieri
PubSub batching - @Mukundan Sundararajan
Export to OpenTelemetry Protocol.
PostgresSQL as configur

[2022-07-26 18:27] ItalyPaleAle commented on #4934
Perhaps I misspoke (mis-wrote? :) ) myself.

Yes, we will support concurrency control using ETags. But if the ETag isn't specified, then the write will always succeed. I may have misunderstood how FWW (and that's totally possible), but I thought that with FWW, no etag would make the write fail.

[2022-07-26 18:28] ItalyPaleAle commented on #4934
Thanks also for sharing your input on prefixes. I think that there are enough reasons to implement support for prefixes (and it's a relatively low-cost thing to do).

What I think we could still debate on is what the default value should be. Should we behave like "regular" state stores and keep a prefix on by default, or should that be opt-in?

[2022-07-26 18:28] ItalyPaleAle commented on #4934
Thanks also for sharing your input on prefixes. I think that there are enough reasons to implement support for prefixes (and it's a relatively low-cost thing to do).

What I think we could still debate on is what the default value should be. Should we behave like "regular" state stores and keep a prefix on by default, or should that be opt-in?

Perhaps @nyemade-uversky or @paulyuk have thoughts on

[2022-07-26 18:31] yaron2 commented on #4934
Consistency is key for user experience. I highly encourage to keep the same defaults and allow users to override based on their individual need.

[2022-07-26 21:50] artyom-p commented on #3642
Any updates on that?

[2022-07-27 00:27] Syuparn commented on #4937
@yaron2

This line seems to cause memory leak. `p.referenceCount[conn]` and `p.pool[address]` should be deleted once conn closed.
(I have not tried memory leak repro yet though)

https://github.com/dapr/dapr/blob/v1.8.2/pkg/grpc/grpc.go#L228

[2022-07-27 03:56] #4927 closed

[2022-07-27 04:43] yaron2 commented on #4937
@Syuparn I think this might just be a side effect of creating a new connection for every request, as opposed to reusing it and creating a new one only if `code == codes.Unavailable || code == codes.Unauthenticated`. In the past you wrote that in a streaming connection we can't resend the frame, but since then we have enabled the Resiliency feature which is able to do that. Take a look here and tel

[2022-07-27 08:42] yedf2 opened #4939 "[Proposal] Support distributed transactions."
Most users of dapr are microservice architectures . In the development of microservices, distributed transactions should be solved.

[DTM](http://github.com/dtm-labs/dtm) is a widely used distributed transaction framework. I'm trying to support DAPR services in DTM, and there are some design issue that needs help from DAPR.

DTM use url and request body to specify the services participating Saga/T

[2022-07-27 09:01] heagma commented on #4912
@akhilac1 This is probably on the query from your Prometheus on Grafana. It looks like it is displaying duplicates.

[2022-07-27 09:03] JackLiao2014 commented on #4475
We made some changes by referring to this:
[https://github.com/dapr/dapr/blob/master/pkg/channel/http/http_channel.go#L142](https://github.com/dapr/dapr/blob/master/pkg/channel/http/http_channel.go#L142)
The "http channel" is used to "InvokeMethod invokes user code via HTTP."

We change it from "invokes user code via HTTP" to "invokes HTTP Server via HTTP"

[2022-07-27 09:15] hubinix commented on #4858
me too, we are building a metaverse application.And need a actor-placementservice and streaming message between actors

[2022-07-27 09:17] hubinix commented on #4858
actor and pubsub may work.

[2022-07-27 12:44] olitomlinson commented on #4508
@ItalyPaleAle Has there been any further discourse behind the scenes around moving this proposal forward? Cheers!

[2022-07-27 13:59] Syuparn commented on #4937
@yaron2
When a connection is recreated, a stream should also be recreated because its made from the connection. Can we resend the frame from another stream?

[2022-07-27 14:00] Syuparn commented on #4937
I made an experiment of referenceCount I mentioned first.

https://github.com/dapr/dapr/blob/v1.8.2/pkg/grpc/proxy/handler.go#L128

Even though connections are closed by `teardown()`, they are kept in the referenceCount keys.

[code]

[code]

If connections are deleted from keys when its closed, referenceCount pools only active connections as expected.

[code]

[code]

[2022-07-27 19:24] artursouza commented on #4508
Not yet. We would welcome a POC + proposal from the community.

[2022-07-28 03:02] coverdh commented on #4937
A connection is established between the application and daprd, and a connection is established between daprd and daprd
. In the case of an expired certificate, it should be possible to rebuild the stream between daprd and daprd without disconnecting the stream with the application and daprd. Therefore, the connection of daprd and daprd should be able to be managed uniformly. It is not necessary to

[2022-07-28 03:32] yaron2 commented on #4937
I agree

[2022-07-28 07:57] saber-wang opened #4941 "Metadata cannot be obtained through grpc"
## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior

Get metadata through grpc

## Actual Behavior

Get empty object
![image](https://user-images.githubusercontent.com/45062099/181452619-eebabaae-3348-4e10-9e8e-9a484f50dcc8.png)

## Steps to Reproduce the Problem

It can be considered that it has not been achieved···:
https://github.com/dapr/dapr/blob/451f75d83023fde

[2022-07-28 14:10] Syuparn commented on #4937
@coverdh @yaron2
I got it. I was confused about serverStream and clientStream.
Now I understand clientStream (between daprd and daprd) can be recreated and frames can be resended using bufferedCalls.

[2022-07-28 15:24] anoymouscoder commented on #4445
/assign

[2022-07-28 17:53] ItalyPaleAle opened #4943 "1.8.3 Hotfix release checklist"
- [X] Dapr maintainer(s) communicate out the discovery of an issue that requires a hotfix and the reason why to the Discord Maintainers and Release channels. Hotfix is one of categories below:
   - [ ] Security vulnerability
   - [X] Regression that does not have a work around: https://github.com/dapr/dapr/pull/4942
   - [ ] Broken mainline scenario that has a missing test case
- [ ] ~~Create the

[2022-07-28 18:01] amulyavarote commented on #4898
Stable Components issues are being tracked here.
https://github.com/orgs/dapr/projects/59/views/1

[2022-07-28 21:51] #4638 closed

[2022-07-29 02:33] FangXing723 commented on #4891
I have found the problem. In order to avoid this problem and other situations, please confirm the following:

（1）Asp.NET startup port number configured by the web application is consistent with the port number of the hosting service enabled by the dapr command

(2) The specified actor name is consistent with the created actor class name,otherwise, the error "please confirm the status store as true

[2022-07-29 02:52] shivamkm07 commented on #4943
Installer bundle 1.8.3 released: https://github.com/dapr/installer-bundle/releases/tag/v1.8.3

[2022-07-29 07:26] CrazyHZM commented on #4313
I found `dapr.io/graceful-shutdown-seconds` to meet this requirement, can you use `dapr.io/graceful-shutdown-seconds` to try to solve your problem? @trondhindenes

[2022-07-29 09:14] hanxinimm commented on #4891
@halspang

app port is required？my app just a client to call actor service.

how long time to fix it? it break my production environment

[2022-07-29 17:22] johnewart commented on #4925
Looks like my previous comment wasn't saved (probably my fault, sorry) -- here's a proposed CRD for `PluggableComponent` (and a `Component` that uses it). It would be feasible to put the pluggable bits inside the `Component` definition but even if it's there I think that it's important to have a type-safe structure for specifying the pluggable definition because it allows for various ways of descr

[2022-07-29 18:07] #4929 closed

[2022-07-29 21:31] ItalyPaleAle commented on #4692
I have watered down this proposal and made a PR here that allows us to achieve the goals we need while being not as complex as the original proposal: https://github.com/dapr/dapr/pull/4945

This uses an env var `DENY_COMPONENTS` to include a (comma-separated) list of components that should not be allowed to be loaded. They are still registered (unlike this proposal), but they cannot be instantiate

[2022-07-30 08:44] cmendible opened #4947 "Register configuration.azure.appconfig configuration store"
## In what area(s)?

 /area runtime

Since https://github.com/dapr/components-contrib/pull/1874 is merged, configuration.azure.appconfig configuration store must be registered in daprd main.

[2022-07-30 13:15] Shiko1st commented on #2675
@yaron2 any news?

[2022-07-30 13:39] VenkateshSrini commented on #4932
thanks that solved the issue

[2022-07-30 13:39] #4932 closed

[2022-07-30 13:58] VenkateshSrini opened #4949 "Unable to use Dapr to persist and retrieve from state store in Kubernetes Job"
## In what area(s)?

/area runtime

## What version of Dapr?

1.8.0

## Expected Behavior
The application should be able to seamless read from state-store when run with console application

## Actual Behavior

I have a console application written in .NET. The code for console application is at [code](https://github.com/VenkateshSrini/dapr-state-store-app/tree/main/dapr.state.console). The applicat

[2022-07-31 01:34] anoymouscoder commented on #4445
Hi, I would like to know what kind of Deprecated notice I need to add, is it a warning log like [this](https://github.com/dapr/dapr/blob/9c6ab20ec023079211ee906c5db5cc08985be2e8/pkg/runtime/runtime.go#L2355) or something else?
Another thing I want to confirm is that the RenameReminder api is[ this one](https://github.com/dapr/dapr/blob/b8ae13bf3f0a84c25051fcdacbfd8ac8e32695df/pkg/actors/actors.go#

[2022-07-31 19:08] artursouza commented on #4445
Yes, it also needs to be marked as deprecated and added the notice to the release notes for 1.9 as per: https://docs.dapr.io/operations/support/support-release-policy/#breaking-changes-and-deprecations

[2022-07-31 19:27] artursouza commented on #4760
I agree that this proposal should not be standalone only and should also target K8s mode. It seems that for this feature to work, a state store component would need to be provided and have some sort of attribute in configuration to set a given state store as the "storage for dynamic components".

Other things to consider:
* The new API should only be accessible by admin/ops and should return 403 i

[2022-07-31 20:00] yaron2 commented on #4760
Why do we need a state store? On k8s, sidecars are already updated whenever components are added or removed, and of course no state store is needed since k8s is the state store and handles persistence, reconciliation etc.

On self hosted mode we need a "similar" mechanism that watches the filesystem and updates the sidecar when there's an update. Since components are loaded from the filesystem, th

[2022-07-31 21:18] artursouza commented on #4939
I am not familiar with DTM. Can you provide an example on how it could work with Dapr?

[2022-07-31 21:53] #4947 closed

[2022-08-01 01:21] yedf2 commented on #4939
OK, I will share a Golang runnable example using dapr in this week.

[2022-08-01 02:35] daixiang0 commented on #4523
@shubham1172 Hi, where Dapr maintainers can see the detailed error like https://github.com/dapr/dapr/runs/7601629813?check_suite_focus=true?

[2022-08-01 03:42] shubham1172 commented on #4523
@daixiang0 you can check it here https://app.fossa.com/projects?teamId=1282

[2022-08-01 03:50] daixiang0 commented on #4523
@shubham1172 now push-only keys make contributors no access to detailed error, is it safe to use other keys?

/cc @artursouza @yaron2

[2022-08-01 05:07] shubham1172 commented on #4523
@daixiang0, we can configure a central key in Dapr organization for FOSSA (similar to Dapr bot). However, push-only keys were the recommended way for open source projects, and maintainers have access to triage/resolve the issues from the FOSSA portal.

The only scenario in which other API keys might be useful can be when a contributor is introducing a new dependency which is incompatible and gets

[2022-08-01 05:16] daixiang0 commented on #4523
Got, as a user, I want to FOSSA can report issues where it runs, at least a web link.

Now I know how FOSSA action work, it depends on maintainers, assume maintainers, not contributors to fix, different from other CI flow.

[2022-08-01 05:30] wangchao732 opened #4950 "dapr zipkin authentication handshake failed: read tcp xxx read: connection reset by peer"
dapr : helm upgrade --install dapr dapr/dapr --version=1.7.4 --namespace dapr-system --create-namespace --set global.ha.enabled=false --wait

zipkin :https://docs.dapr.io/zh-hans/operations/monitoring/tracing/supported-tracing-backends/zipkin/

 time="2022-08-01T05:20:46.737008042Z" level=info msg="starting Dapr Runtime -- version 1.7.4 -- commit 9b3512921bb52af190a2474f3d31f39a1a7a9879" app_id=da

[2022-08-01 05:54] #4936 closed

[2022-08-01 07:18] hubinix commented on #4858
Instead,I deeply modified the dapr go-sdk, bind with nats，and use timed restful-invoke to make the actors active.

[2022-08-01 14:11] artursouza opened #4952 "Dapr sidecar logs error with `context canceled`"
## In what area(s)?

## What version of Dapr?

1.8.0

## Expected Behavior

Dapr sidecar does not log `context error`.

## Actual Behavior

Logs error `context error` but does not seem to have any side effect.

## Steps to Reproduce the Problem

TBD.

## Release Note

RELEASE NOTE:

[2022-08-01 14:23] artursouza opened #4953 "Error: `could not find active timer ActorType||ActorId||TimerName`"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

No error message on timers.

## Actual Behavior

Error message shows up some times in prod but no side effect is noticed.

## Steps to Reproduce the Problem

TBD

## Release Note

RELEASE NOTE:

[2022-08-01 14:34] artursouza opened #4954 "unable to update service, service_name_goes_here, err: rpc error: code = Unavailable desc = transport is closing"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

This call is retried.

## Actual Behavior

Error message shows up in a small window of time for all services:

`unable to update service, service_name_goes_here, err: rpc error: code = Unavailable desc = transport is closing`

https://github.com/dapr/dapr/blob/a9cd26ea96e67c12b289fba015d428613d7fdd8e/pkg/operator/handlers/dapr_ha

[2022-08-01 15:15] anoymouscoder commented on #4445
@artursouza Got it, can you provide more context to explain why this function is no longer needed, so I can describe it in the release note

[2022-08-01 16:18] ItalyPaleAle commented on #4952
Do you have any details on when this happens and what was being performed?

For example, during shutdown those logs are common and are generally harmless

[2022-08-01 16:19] ItalyPaleAle commented on #4943
All done

[2022-08-01 16:19] #4943 closed

[2022-08-01 16:27] artursouza commented on #4237
This should be done in the context of resiliency policies.

[2022-08-01 16:29] artursouza commented on #4031
Does this issue still happen in 1.8? Also, which components are affected?

[2022-08-01 17:35] akhilac1 commented on #4760
Thanks for the review, feedback and follow-up conversations for helping me gain clarity @artursouza  @yaron2 @halspang

To simplify checkpoint and restore and ensure that K8S and standalone behavior are aligned, dynamic loading of components will be via filesystem events - add file to load/update configuration of a component and delete file to unload a component. I will investigate the implementat

[2022-08-01 17:37] yaron2 commented on #4925
That conversation should happen on the CLI repository. Personally, I think it's feasible to allow tooling to help with this, but ultimately I think for local dev, > 90% of users will use industry known tools like Docker compose, and would very much like to have documentation in place that meets users where they are. In any case, I do not think we should allow the `container` section at all, see re

[2022-08-01 17:42] yaron2 commented on #4760
Sounds good, thanks!

[2022-08-01 18:26] artursouza commented on #4445
This implementation is not fault tolerant, as someone might end up without the reminder if it tails to save after deleting. Renaming by just deleting-then-inserting-again does not add value. This solution would need to be redesigned and also it should start as an Alpha API and not directly into stable, like it was done here.

[2022-08-02 02:29] wxbty opened #4955 "redis common sdk components"
Does the dapr built-in support redis common api, not just state storage? If the external component supports it, please let me know which one it is

[2022-08-02 02:35] johnseed commented on #3523
@yaron2 Is there a java equivalent?

[2022-08-02 03:21] CrazyHZM commented on #4954
@artursouza
I think here we can use the exponential backoff retry strategy, and retry three times.

[2022-08-02 03:25] CrazyHZM commented on #4953
@artursouza
I think the logging level can be changed to `warn`.

[2022-08-02 07:39] RcXu commented on #4955
Maybe there is no standard redis api support in the Dapr right now which you need, The redis widely used as persistent storage or middleware in    bindings、configuration and pub/sub api.

[2022-08-02 07:55] wangchao732 opened #4956 "service dapr sidecar authentication handshake failed: xxx connection reset by peer"
dapr on kubernetes ：

helm install  --version=1.5.1  --set global.mtls.enabled=false   --namespace dapr-system   dapr dapr/dapr
When mtls dapr is disabled, it can start normally, but the sidecar of the service reports an error ：”error from operator stream: rpc error: code = Unavailable desc = connection error: desc = \"transport: authentication handshake failed: tls: first record does not look lik

[2022-08-02 08:05] CrazyHZM commented on #4941
/assign

[2022-08-02 12:41] sunzhaochang commented on #4954
The `Reconcile` function will automatically retry when it returns error, which is implemented in controller runtime by default.

[2022-08-02 16:12] johnewart commented on #4925
Sounds good, I think we can figure out a way to make it easier for developers to bootstrap their local dapr environment without having to create any coupling between `dapr` and `daprd`. Since our current expectation is that people will self-manage their pluggable components we can stick with just having the `socket` implementation (but that does allow for future mechanisms where it makes sense).

[2022-08-02 18:53] RyanLettieri opened #4959 "Building a new component that uses GRPC protocol crashes due to codec being globally applied"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

Expected that everything would run smoothly, and the new component client would be created with no issues

## Actual Behavior

Actual behavior is the following crash:
"panic: interface conversion: *workflowservice.GetSystemInfoRequest is not protoreflect.ProtoMessage: missing method ProtoReflect"

It occurs due to the following l

[2022-08-02 19:04] yaron2 commented on #4959
@RyanLettieri can you elaborate on how the component uses gRPC protocol? is it opening a gRPC server? is it communicating with `daprd` via gRPC in any way?

[2022-08-02 19:16] yaron2 commented on #4956
Can you please try the following:

[code]
Then:

1. `helm uninstall dapr -n dapr-system`
2. `kubectl delete ns dapr-system`
3.  `helm install -set global.mtls.enabled=false --namespace dapr-system --create-namespace=true dapr dapr/dapr`

Note this will also install the latest version of Dapr (1.8.3).

[2022-08-02 20:18] yaron2 commented on #4925
Sounds good, thanks for driving this.

[2022-08-02 23:20] RyanLettieri commented on #4959
@yaron2 The new component will eventually be using gRPC for communication, but at the moment, the only API being developed is the HTTP side. The issue was appearing prior to the component being invoked. When the component init method was being called on dapr boot-up the error was occurring

[2022-08-02 23:26] ItalyPaleAle opened #4962 "E2E tests: connect to AKS using a Wireguard tunnel"
## In what area(s)?

/area test-and-release

## Describe the proposal

One of the leading causes of E2E test failures (on AKS) continues to be network timeouts. These are commonly reported in the logs with errors such as "context deadline exceeded".

The issue, as [confirmed by the Actions team](https://github.com/actions/virtual-environments/issues/5850), is that we are making too many outbound c

[2022-08-02 23:39] yaron2 commented on #4959
@RyanLettieri How can I reproduce this? Are you saying that all components in Dapr today are erroring on the Init stage? That seems very unlikely. What's special about this component?

[2022-08-03 01:21] yaron2 commented on #4959
I suspect that a Go package you're using in the component is importing an older version of gRPC/proto that's causing this. Can you show the delta between 1.8 and your branch's `go.mod`?

[2022-08-03 01:36] wangchao732 commented on #4956
I am very happy to receive your reply. The problem now is different from before. The services call each other and timeout occurs. Please help analyze the problem in the attached log, and hope to get your reply again.

***@***.***

From: Yaron Schneider
Date: 2022-08-03 03:17
To: dapr/dapr
CC: wangchao732; Author
Subject: Re: [dapr/dapr] service dapr sidecar authentication handshake failed: xxx con

[2022-08-03 02:02] VenkateshSrini commented on #4949
Hi Team, Any help on this please

[2022-08-03 04:43] wangchao732 commented on #4956
Next, debug info

default dapr ports,no port 50005

dapr-placement-server running

***@***.***

From: ***@***.***
Date: 2022-08-03 09:35
To: dapr/dapr; dapr/dapr
CC: Author
Subject: Re: Re: [dapr/dapr] service dapr sidecar authentication handshake failed: xxx connection reset by peer (Issue #4956)
I am very happy to receive your reply. The problem now is different from before. The services call ea

[2022-08-03 10:04] adeliab opened #4965 "PubSub vs Binding"
## In what area(s)?

/area runtime

## Ask your question here
What is the different purpose of pubsub and binding components? I found this post: https://github.com/dapr/quickstarts/issues/404 that says pubsub should be used for dapr-to-dapr communication.
I want my API to receive message from a service bus topic subscription (with session enabled). The messages on this topic come from external sou

[2022-08-03 11:18] adeliab opened #4966 "Event grid system topic subscription"
## In what area(s)?

/area runtime

## Ask your question here
I want to have an API that will receive IoT hub events via Event Grid system topics. The events need to be filtered in the subscription because otherwise there'll just be a huge number of events coming in.
Is there a way to achieve this with Dapr? It seems that there's no way to add events filtering to the subscription.
It would be nice

[2022-08-03 11:20] jjcollinge commented on #4965
- Currently sessions are not supported in Dapr for Azure Service Bus, see the related issues for details: https://github.com/dapr/components-contrib/issues/1161
- https://github.com/dapr/components-contrib/issues/289

[2022-08-03 12:53] gidduk opened #4967 "Proposal: Signed dapr.exe"
Please sign the dapr.exe and daprd.exe its one of the requirement in our organization for developers to use open source software.
I am sure this requirement will be there for others as well.
Its a simple request that will go a long way.

[2022-08-03 12:56] #4668 closed

[2022-08-03 13:04] yedf2 commented on #4939
saga examples for each case can be found here: https://github.com/yedf2/dtm-dapr-sample

[2022-08-03 13:06] pravinpushkar opened #4968 "Error thrown while using HTTP Configuration Subscribe API"
## In what area(s)?

 /area runtime

## What version of Dapr?

 1.8.3

## Actual Behavior

Encountered error while receiving the subscribed configuration changes. Below is the error message got in my console -

_ERRO[0016] panic in handleSubscribedChange(）method and recovered: runtime error: invalid memory address or nil pointer dereference  app_id=test instance=Pravins-MacBook-Pro.local scope=dap

[2022-08-03 13:10] pravinpushkar commented on #4968
@LaurenceLiZhixin Any pointers on this would be helpful. Basically, I was trying to use this API in java-sdk and encountering this issue.

[2022-08-03 14:27] #4830 closed

[2022-08-03 17:04] sjwl opened #4969 "Why does `dapr` need `ClusterRole` access to `Secrets`?"
## In what area(s)?

/area runtime

## Ask your question here

Why does `dapr` need `ClusterRole` access to `Secrets`?

I understand why `dapr` needs namespaced `Secrets`, but why cluster wide?  My company's security policy blocks the `ClusterRole` policy that `dapr` helm chart requests here: https://github.com/dapr/dapr/blob/91af1367f29d77f16f8acee1cfff53830bc42b63/charts/dapr/charts/dapr_rbac/te

[2022-08-03 17:37] berndverst commented on #501
We have an intern working on this over the summer. Most likely it will not be included in the 1.9 release, but there is a good chance it will be out in 1.10.

[2022-08-03 17:45] yaron2 commented on #501
There's a PR open and work is in progress but this will not make it to 1.9.

[2022-08-03 19:07] berndverst commented on #4724
I support this proposal.

@dapr/maintainers-dapr @dapr/approvers-dapr thoughts on this?

[2022-08-03 19:27] berndverst opened #4970 "Proposal: Clarification on criteria for stable component status and deprecation of "stable candidate" term."
/area docs

## Clarification on criteria for stable component designation

As a maintainer of **components-contrib** I propose the following requirements for a component to be designated as stable:

- The component was included in the previous release (both alpha and beta state are acceptable). _This means a brand new component cannot be introduced and immediately be considered stable. It must be

[2022-08-03 19:31] berndverst commented on #4970
cc @dapr/maintainers-components-contrib @dapr/maintainers-dapr

[2022-08-03 20:48] tanvigour commented on #4970
This would make certification test stage approval more stricter so that we can directly move beta to stable instead of waiting one release to move to stable, is that correct?

[2022-08-03 20:53] berndverst commented on #4970
No, this formalizes what was already the requirement upheld by contrib maintainers. Further, it removes the unnecessary stable candidate designation which h introduced a waiting period that served no purpose as we haven't seen any increase in adoption of beta components that were stable candidates. This introduced unnecessary complexity and so we are getting rid of this.

In theory with this chang

[2022-08-03 21:21] gidduk opened #4971 "RethinkDB State Store error - Dapr v1.8"
## In what area(s)?
/area runtime

## What version of Dapr?
1.8
## Expected Behavior

I am trying to use RethinkDb as my stateStore.
statestore.yaml in default users profile folder.

apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: springBootState
spec:
  type: state.rethinkdb
  version: v1
  metadata:
  - name: address
    value: localhost:28015
  - name: database
    value: test