[2021-11-02 15:48] CrazyHZM commented on #3714
I think we can provide grpc and http api to refresh TTL.
@yaron2 What do you think, if necessary, I can try to do this.

[2021-11-02 15:49] CrazyHZM commented on #3714
@dapr-bot  reopen

[2021-11-02 17:23] wcs1only commented on #3779
In general this is to distinguish between Dapr's service ports and those of your app, which also might be using http or grpc. I am curious how this creates issues with Istio specifically. Can you provide more details, and perhaps an example config that is causing you trouble?

Also, for more real time help from the Dapr community, I encourage you to head over to our discord server:
https://aka.ms/

[2021-11-02 17:38] wcs1only commented on #3770
If you are sending a SIGTERM to your application, you can send one to the daprd container as well. Or you can use the Dapr shutdown API to restart the daprd sidecar and cause a reload (assuming that your hosting platform will automatically restart the daprd container):

https://docs.dapr.io/operations/hosting/kubernetes/kubernetes-job/

Does that cover your use case?

Also, for more immediate comm

[2021-11-02 17:42] adawalli commented on #3770
well, **consul-template** was sending the sigterm - in this case, wouldn't dapr be taking over my consul-template-like operations and need to be aware to do this?

[2021-11-02 19:15] stephaneey commented on #3779
Well, not sure what's going on at the level of Istio but it is crystal clear that when keeping the default Dapr port names, any AuthorizationPolicy results in a 503 (Service Unavailable) issue. Without authorization policies everything works well. So, it is rather tedious but the only fix I found is to patch the Dapr service and stick to the default port names (http & grpc). If this is just "cosme

[2021-11-02 20:36] wmeints commented on #2864
It would be really nice to have this on Windows too. It makes the experience for devs a lot better. You mention this feature is pretty new on Windows. Does this mean it's too unstable to be used there?

[2021-11-02 23:14] #3662 closed

[2021-11-02 23:21] yaron2 commented on #777
/keep-alive

[2021-11-03 07:45] kskem opened #3837 "Serialization of 64bit values are truncated with .net sdk"
## In what area(s)?

/area runtime

## What version of Dapr?

edge: output of `git describe --dirty`
starting Dapr Runtime -- version edge -- commit b1cad9a76e2ebbb5acee814f9897b47f43f9f4bb

## Expected Behavior

Sending 64bit values with pub/sub are expected to arrive unchanged.

## Actual Behavior

Receiving 64bit values are truncated in the trailing two decimal digits.
Best guess is that the se

[2021-11-03 07:53] rainfd commented on #3354
Looking forward to this. Binding interface is too simple to support complex sql logic. And it is the difficulty in stopping  our migration from gorm app to dapr.

[2021-11-03 09:12] sol-lee opened #3838 "How to set system pods log level after Kubernetes installation?"
## In what area(s)?

 /area runtime

## Ask your question here
Title - How to set system pods log level after Kubernetes installation?
I've checked the doc:
https://docs.dapr.io/operations/troubleshooting/logs-troubleshooting/#setting-system-pods-log-level

Looks like it demo how to set pods log level by "helm install"
helm install dapr dapr/dapr --namespace dapr-system --set <COMPONENT>.logLevel=

[2021-11-03 09:30] mcrio opened #3839 "Retry /dapr/subscribe in case of failure or wait for app to get into Ready state"
Hi,

Posting a pub/sub related problem for discussion:

Problem:
In case `/dapr/subscribe` is not available when the sidecar starts, the app will not subscribe to the event queue.

Scenario (reproducible using Tye):

- App has readiness and liveness health-checks defined
- Dapr sidecar starts, App is not yet in `Ready` state
- Dapr sends `/dapr/subscribe` request but the connection is refused beca

[2021-11-03 11:56] tpiperatgod commented on #3838
If you are referring to modifying the logging level of the dapr-operator deployment in Kubernetes cluster, then you can use the command `kubectl edit deployments.apps -n dapr-system dapr-operator` to modify the configuration of the dapr-operator deployment.

For reference on where to modify: https://github.com/dapr/dapr/blob/master/charts/dapr/charts/dapr_operator/templates/dapr_operator_deploymen

[2021-11-03 14:53] andrey-dubnik commented on #3824
I've run additional cases and it seem there are different Headers and servers responding when it comes to the protocol, e.g. for http envoy is the responding body where in the tcp it is fasthttp. I'm not sure if this is relevant to the issue but though worth sending those out.

## Case #1 - point to the workload service

[code]

[code]

[code]

## Case #2 - point to the Dapr sidecar with the HTTP

[2021-11-03 17:53] fjvela opened #3840 "Update api version PodDisruptionBudget from policy/v1beta1 to policy/v1 (deprecated in v1.21+, unavailable in v1.25+;)"
## In what area(s)?

/area runtime

## Describe the feature
Update api version PodDisruptionBudget from PodDisruptionBudget to policy/v1 (deprecated in v1.21+, unavailable in v1.25+;)

![image](https://user-images.githubusercontent.com/5806680/140165177-bc06dc2d-f48f-4d1a-a29e-dfd4ec28daa6.png)

## Release Note

RELEASE NOTE: **UPDATE** Update api version PodDisruptionBudget from policy/v1beta1 to

[2021-11-03 18:08] fjvela opened #3841 "charts/dashboard isn't using global values registry and imagePullSecrets"
## In what area(s)?

/area runtime

## What version of Dapr?

1.4.3

## Expected Behavior
When you update global registry and imagePullSecrets with custom values I expect that they are applied in dashboard charts

## Actual Behavior
registry and imagePullSecrets values aren't updated in dashboard chart from global values when they are updated

## Steps to Reproduce the Problem
Update registry and

[2021-11-03 18:13] fjvela commented on #3841
/assign

[2021-11-03 18:24] andrey-dubnik commented on #3824
Got some response from the Envoy as well

[code]

[2021-11-03 18:52] fjvela commented on #3793
Today one of our cluster has been upgraded to 1.21.5 (EKS) and It's running dapr 1.4.3 without any problem.

Did you try to uninstall it and install it?
if you are using helm3 to upgrade Darp did you upgrade CRD?

[2021-11-03 22:15] derek-burdick opened #3844 "Run without Operator and automatic injection"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

/area operator

/area docs

## Ask your question here

Is it possible to use DAPR for abstractions without installing anything in to the Kubernetes Cluster? I cannot install third party operato

[2021-11-04 04:30] tehmoth opened #3845 "Create perl-sdk, Dapr namespace on cpan"
Need Perl version of the SDK, for Client / Service / Actor.    Sync releases with cpan.   Base code on PHP / Python (possibly Go).

[2021-11-04 05:03] CrazyHZM commented on #3714
@artursouza

[2021-11-04 07:55] saber-wang opened #3846 "pubsub and Bindings uses the response content to ACK-ing a message"
## In what area(s)?

All current webapi return values and exceptions will be wrapped and will always return a `200 ok` status, resulting in the use of response codes and the ACK-ing an message cannot be completed.
Is it possible to ACK-ing an message by responding to a special identifier?

[2021-11-04 08:05] ionut-balazs-lateral opened #4012 "mTLS settings from config.yaml are not used for Dapr instances"
## Expected Behavior

When configuring dapr instance yaml for mTLS, I expect mTLS to be configured at runtime.
Also, it would help if the configuration would accept a _sentryAddress_ property in the _mtls_ section.

## Actual Behavior

Updates to _config.yaml_ doesn't seem to affect the Dapr instance runtime, _mTLS_ is still disabled. The only way it works now is by supplying the flags _--enable-m

[2021-11-04 09:40] PeterGerrard commented on #3793
When going to 1.4.3 we didn't originally but did now. It now gets the same error as when we update to 1.4.0.

[code]

[2021-11-04 09:50] zhangshuiyong opened #3847 "Can not find the APP_ID Environment variable in Dapr(1.4.3) Application running on K8s"
I want to use the **APP_ID Environment variable** in Dapr Application described at this official doc https://docs.dapr.io/reference/environment/

But, when I deploy a demo Dapr Application on K8s，then log in the App using kubectl, I can not find the APP_ID Env var.See the below:

![image](https://user-images.githubusercontent.com/1655233/140292700-e33f3c4a-7d18-446a-bbad-0e3375041a1a.png)

![image

[2021-11-04 10:02] robinmanuelthiel commented on #2353
Still happens on AKS clusters without RBAC enabled...

[2021-11-04 10:59] PeterGerrard commented on #3793
For reference here is the config we use to install dapr:

[code]

[2021-11-04 11:24] CrazyHZM commented on #3273
@artursouza  I can try to finish it, please assign me

[2021-11-04 16:23] berndverst opened #3848 "v1.5 Endgame"
Release Coordinator: @berndverst
Release Buddy: @halspang

Code freeze: 11/04/2021
Endgame starts: 11/04/2021
Release date: 11/11/2021

Release Tasks:
- [x] No P0 issues before code freeze.
- [x] Code freeze at 12:00 pm 11/04.
- [x] E2E and perf tests are passing. (Known perf test failures, deemed not a blocker. Known E2E failure not a blocker). (@artursouza )
- [x] Update components-contrib certi

[2021-11-04 16:34] #2988 closed

[2021-11-05 03:54] daixiang0 commented on #3847
@zhangshuiyong I think Dapr does not inject ENV, only use them if existed.

[2021-11-05 04:01] zhangshuiyong commented on #3847
So, the official doc means Dapr users can set this Env by theirself?

[2021-11-05 15:39] 1046102779 commented on #3759
@daixiang0 @artursouza @yaron2

https://github.com/dapr/kit/pull/9

I want to add trace or context to daprd runtime and add file log output. By injecting two params, included dapr.io/log-output and dapr.io/log-path into the daprd container, I can write the log to the file, and I want to pass the log Platform collection of logic server logs and daprd logs are integrated to facilitate the location o

[2021-11-05 16:39] artursouza commented on #3716
Moving this to 1.6. The action item is to remove the transaction logic and use batch write instead since transaction is not really required. Also, we will change the partitionKey to be simply the key - which is a breaking change and will need to provide a script to migrate the data.

[2021-11-05 16:43] artursouza commented on #3788
Reopening because test to upgrade in HA mode failed in 3-node cluster during release activities for 1.5. This issue needs to be revisited.

[2021-11-05 16:44] artursouza commented on #3761
Moving this to 1.6

[2021-11-05 16:51] andrey-dubnik commented on #3788
What was the error?

[2021-11-06 02:46] yaron2 commented on #3847
You need to set the app id yourself as an environment variable on your user code container, if you want to get it.

[2021-11-06 02:49] zhangshuiyong commented on #3847
Got it. Thx

[2021-11-06 04:54] #3691 closed

[2021-11-06 18:58] #3847 closed

[2021-11-06 18:59] yaron2 commented on #3826
Triaged to 1.6

[2021-11-07 03:52] CrazyHZM opened #3860 "Correct use of go get and go install in Makefile"
## In what area(s)?

## Describe the feature
Starting in Go 1.17, installing executables with go get is deprecated. go install may be used instead.
We should change the installation of `protoc-gen-go` and `protoc-gen-go-grpc` to `go install`.
If you find that there are other changes that need to be made together, you can raise them below.

Quote：https://golang.org/doc/go-get-install-deprecation

#

[2021-11-07 16:43] tunoi opened #3862 "Actor cannot be invoked in kubernetes when istio is enabled"
I am testing the dapr actors istio integration and I am facing an issue with actor invocation
My test environment setup:
- dapr v1.4.3 (mtls disabled)
- k8s v1.20.2 (kind)
- istio v1.11.4

I am running a very basic dapr actor and dapr enabled actor client dotnet applications, both created by following this documentation: https://docs.dapr.io/developing-applications/sdks/dotnet/dotnet-actors/dotnet

[2021-11-08 02:25] daixiang0 commented on #3537
@artursouza all tasks are done, we can get it in v1.5. Please move it to v1.5 then we can safely close it.

[2021-11-08 06:27] daixiang0 commented on #3840
Fixed by https://github.com/dapr/dapr/pull/3799

[2021-11-08 06:27] #3840 closed

[2021-11-08 08:26] nitroin commented on #3169
Organization/Company: mondora srl sb
Website: https://mondora.com/
Country: ITA
Contact: info@mondora.com
Usage scenario: Using Dapr bindings to abstract message-brokers specifics and streamline service-to-service invocations, gradually adopting Virtual Actors to scale and provide concurrence and parallelization guarantees.
Status: Development

[2021-11-08 10:11] iweixubin opened #3865 "Coding in Windows，Dapr‘s runtime in Ubuntu"
My development environment

Win10  Dapr CLI  only!!!
Hyper-V (Ubuntu20，Docker, Daprd-Dapr‘s runtime)

how can i
run Dapr CLI comman in Win10, and then Dapr‘s runtime in Ubuntu20 receive

[2021-11-08 13:06] speedfl commented on #3736
Up!

[2021-11-08 16:43] doggy8088 commented on #3865
You can use [Remote - WSL](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-wsl) for your Dapr developments.

[2021-11-08 17:08] artursouza commented on #3788
It gets stuck in pending due to the affinity rules.

[2021-11-08 17:11] andrey-dubnik commented on #3788
I guess the solution can be to switch to soft rules, which won't guarantee HA as with soft rules pods can still consolidate in non-HA way...

Does test system runs with a single node?

[2021-11-08 17:18] artursouza commented on #3788
It is a 3 node cluster.

[2021-11-08 17:58] Abhilash-Chandran opened #3867 "[Proposal] Dart-sdk for Dapr"
## In what area(s)?

## Describe the proposal
The main goal of this proposal is to initiate a new SDK for [Dart](https://dart.dev/) language.

Dart enables UI frameworks such as Flutter and Angular-Dart.

Especially Flutter is aimed at becoming a forerunner as a cross-platform UI - kit. This means mobile apps, desktops apps and web apps developed using a single codebase using dart should be able t

[2021-11-08 18:12] andrey-dubnik commented on #3788
Changed to use the soft anti-affinity, which should not block the upgrade

[2021-11-08 19:08] omidb opened #3869 "gRPC Proxying on Kubernetes is not working"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

## Ask your question here

I'm trying to follow the Kubernetes example for gRPC Proxying and I have no luck. It works fine with `dapr run` locally but when I try to do the same thing on Kuberne

[2021-11-08 21:31] DexManx opened #3870 "One code snippet works and the other doesn't?"
Confusing issue, I'm hoping someone can shed some light on:

This works:
[code]
However this doesn't work!:
[code]
Has anyone got any idea why?
[code]
Version: 1.4.3 running via docker-compose localy.

[2021-11-08 21:38] omidb commented on #3869
Update: sending on port 50001 on Kubernetes works and it doesn't get configured to send on port 50007

[2021-11-09 06:04] rizamarhaban opened #3873 "Support Dapr for .NET 5 and .NET 6 minimal API"
Using Dapr for minimal API. I tried and the service require to add controllers `services.AddControllers().AddDapr()`
I was wondering if we can just do `services.AddDapr()`  So no need to add controllers.

[2021-11-09 06:28] yaron2 commented on #3869
The Dapr gRPC port is 50001, that's what you should be using.

[2021-11-09 07:45] Fredborg opened #3874 "Dapr v1.4.3 Crash (v1.4.3 on k8s 1.20.5)"
## In what area(s)?

/area runtime
/area placement

## What version of Dapr?

1.4.3

## Expected Behavior

We are running Kubernetes Jobs on an AKS cluster, that uses Dapr to manage secrets and pub/sub messaging.
When running 100 Jobs in parallel, only 96 completes. The 4 failed jobs, is related to a Dapr issue.

We expect Dapr to handle all 100 Jobs without errors. A total of 2000 Messages are be

[2021-11-09 09:58] Fredborg commented on #3874
When we check the services of the cluster, it seems that the Dapr placement-server doesnt have an IP.

_dapr-placement-server ClusterIP None <none> 50005/TCP,8201/TCP 11d_

Is that intentional? Or does it need an IP address?

[2021-11-09 10:41] dennishog commented on #3807
Sorry @yaron2, I've been on vacation.

After leaving the call running for about 15 minutes we get the following in daprd container for testa:
time="2021-11-09T10:35:09.4165782Z" level=error msg="error from operator stream: rpc error: code = Unavailable desc = error reading from server: EOF" app_id=testa instance=testa-5f8847cd5-7pbhc scope=dapr.runtime type=log ver=1.4.3
time="2021-11-09T10:35:09.

[2021-11-09 12:38] 1046102779 opened #3875 "injector: the following code will be executed at time?"
dapr/pkg/injector/pod_patch.go:162
![image](https://user-images.githubusercontent.com/20457624/140925217-d03fd4b2-a7e7-440d-89b0-2d90a886c709.png)

When will this code take effect?

[2021-11-09 17:53] berndverst commented on #3492
/close

[2021-11-09 17:54] berndverst commented on #3492
@dapr-bot close

[2021-11-09 17:55] #3492 closed

[2021-11-09 18:28] ItalyPaleAle commented on #3332
Hi bot 👋 Still relevant to me

[2021-11-09 21:14] pkedy commented on #3734
@abnormall By configuring Dapr to use Hashicorp Consul for DNS, you can invoke applications across clusters.

https://docs.dapr.io/reference/components-reference/supported-name-resolution/setup-nr-consul/

Totally understand if you would not want to manage another dependency in your architecture but I wanted to pass this info along. I believe that is the only option to achieve this at this time.

[2021-11-09 21:57] pkedy commented on #3787
For communicating with polyglot components via external processes, I envisioned it working as a language proxy as well. Instead of hosting one component, like in your fantastic experiment app, it would be able to proxy to multiple components of each building block type. One challenge is that `metadata.name` is not accessible from the component's scope. `name` would be helpful to pass in the gRPC r

[2021-11-09 22:11] subash89 opened #3876 "Annotation dapr.io/env Not supporting values with commas"
I am trying to pass NO_PROXY to daprd via dapr.io/env.  This annotation allows to pass multiple key=value pairs separated by commas. a Example dapr.io/env: "HTTP_PROXY=\"http://myproxy.com\",NO_PROXY= \"localhost,127.0.0.1,.amazonaws.com\""

When my pod deployed, and inspect the daprd container, NO_PROXY environment variable is set, but only the localhost value is there.
Looks like the String spli

[2021-11-09 23:22] pkedy commented on #3876
Looks like the logic is to split by comma for each variable which is too aggressive for this use case.

https://github.com/dapr/dapr/blob/8f5400a113370ec1c0b385694e02d14d2c3ad3dc/utils/utils.go#L78-L96

For backward compatibility, we might consider splitting on a regex pattern. Based on this convention for environment variable names below, `/(,)[a-zA-Z\_][a-zA-Z0-9\_]*=/gm` _might_ work and it wou

[2021-11-10 00:19] daixiang0 commented on #3876
@pkedy Seems this func is to handle env in annotations, see https://github.com/dapr/dapr/blob/8f5400a113370ec1c0b385694e02d14d2c3ad3dc/pkg/injector/pod_patch.go#L606

[2021-11-10 00:32] omidb commented on #3869
@yaron2 Is there a way to set this up in Kubernetes config?

[2021-11-10 00:58] #3806 closed

[2021-11-10 10:35] slacksach opened #3877 "Release Documentation has incorrect command"
## In what area(s)?

## What version of Dapr?
https://github.com/dapr/dapr/releases/tag/v1.4.0

## Expected Behavior
Upgrade command should run

## Actual Behavior
`Error: unknown flag: --enable-ha`

## Steps to Reproduce the Problem
Run the command supplied in the release docs (`dapr upgrade --runtime-version 1.4.0 --enable-ha=true -k`)
Observe Error: unknown flag: --enable-ha

## Fix
Change to:

[2021-11-10 10:36] #3877 closed

[2021-11-10 13:20] Rob623 opened #3878 "Allow specific components to be globally accessed in a cluster"
## In what area(s)?
/area runtime
/area operator

## Describe the feature
Allow components to be configured for global accessed in a cluster:
From what I understand, this was the way it worked some time ago (#1181) but was changed for security (and possibly other reasons).
However, for our use case, we would like to use a more dynamic approach to starting and stopping common services like a cluste

[2021-11-11 01:02] berndverst commented on #3848
For future:

Pre-code freeze checklist (1 week prior):

- [ ] Can any preview features be made stable?
- [ ] Can alpha APIs be made stable?
- [ ] For any new runtime feature are there tracking issues in all SDKs for implementation?

[2021-11-11 01:56] daixiang0 commented on #3876
/assign

[2021-11-11 02:04] prabhakarreddy1234 opened #3881 "Panic while using cosmos db output binding"
## In what area(s)?
cosmos db binding

docs - https://docs.dapr.io/reference/components-reference/supported-bindings/cosmosdb/

## What version of Dapr?
1,4
self hosted

## Expected Behavior

doing a POST on http://localhost:58219/v1.0/bindings/cosmosdb-output should create an item in cosmos container.

## Actual Behavior

[dapr-second-dapr_e1dcfc90-c]: panic: reflect: call of reflect.Value.Elem o

[2021-11-11 22:48] pkedy commented on #3874
This panic was fixed by #3727/#3728 and will be in the v1.5 release.

I believe the placement service is designed to be a headless service (`clusterIP=None`) also that all pod IPs are discovered via DNS (not just the single clusterIP). This is likely done to support the Raft protocol that the placement service uses.

[2021-11-11 23:56] pkedy commented on #3874
@Fredborg v1.5.0 has been released. Please try this and close if this version resolves your issue.

[2021-11-12 01:23] berndverst commented on #3685
Released v1.5.0. Closing this planning issue.

[2021-11-12 01:23] #3685 closed

[2021-11-12 03:05] saber-wang opened #3888 "Actor or Actor State bug?"
There are two apps, daprdemo1 and daprdemo, which are hosting the same actor demoactor at the same time. At this time, the requesting actor will randomly create actor instances before the two apps.

Let me stop app daprdemo. The actor instance will be transferred to daprdemo1, but the state name starts with the app name. At this time, a new state key will be generated. Is this normal? Is the state

[2021-11-12 06:56] xinyii commented on #3830
Node.js SSE Server example:

[code]

As shown above, the response will not be returned at once, but written in multiple times, and even the response will never end.

See also:

- <https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events>
- <https://html.spec.whatwg.org/multipage/server-sent-events.html>

[2021-11-12 08:29] Fredborg commented on #3874
Hi,
@pkedy
Thanks. We will update ASAP, and re-run some tests. We will let you know it is fixed.

[2021-11-12 12:18] 1046102779 opened #3891 "horus: jwt-go v3.2.0 upgrade to v4.0.0-preview failed"
horus: https://nvd.nist.gov/vuln/detail/CVE-2020-26160

go mod edit -replace github.com/dgrijalva/jwt-go@v3.2.0+incompatible=github.com/dgrijalva/jwt-go/v4@a58974ee87a68abcf6cfb2315224e89135cf3311

I don’t know how to upgrade the vulnerability of this jwt-go v3.2.0 version to be OK?

![image](https://user-images.githubusercontent.com/20457624/141465612-96f66198-be2d-43f9-a918-c438671c1495.png)

[2021-11-12 15:02] omidb commented on #3067
@TenSt any update on Dapr + KNative ?

[2021-11-12 15:08] TenSt commented on #3067
In progress, I will create a PR over the weekend or next week. I was pinned down right after the start and then the Knative v1.0 version came out. So I want to change my sample to use it instead of the previous version (v0.26) - need to check that all work in the same way.

[2021-11-12 16:03] yaron2 commented on #3067
Once you open the PR for samples you can come on any community call and show this. I'll reach out to you via email for.more details after the PR is submitted.

[2021-11-12 17:26] pkedy commented on #3891
We should probably switch to `github.com/golang-jwt/jwt/v4` which is a community maintained version of that package.

[2021-11-12 19:50] mukundansundar opened #3894 "Fix unix domain socket shutdown call"
## In what area(s)?

/area runtime

## What version of Dapr?

1.5.0

## Expected Behavior

Shutdown closes the API servers without error and exits the app.

## Actual Behavior

Shutdown call with unix domain socket hangs and then the app has to be terminated manually.

## Steps to Reproduce the Problem

Run `dapr run --app-id testapp --unix-domain-socket /tmp` in one shell

Run `curl --unix-socket

[2021-11-12 19:58] mukundansundar opened #3895 "Fix log output for "daprd --version" call"
## In what area(s)?

/area runtime

## What version of Dapr?
1.5.0

## Expected Behavior

[code]

## Actual Behavior
[code]

## Steps to Reproduce the Problem

run `daprd --version` directly

## Release Note

RELEASE NOTE:

[2021-11-12 21:55] berndverst commented on #3848
Checklist complete :)

[2021-11-12 23:17] 1046102779 commented on #3891
The v3 and v4 versions are incompatible, resulting in some methods being lost, such as the test package, request package, and other packages.

This makes it more troublesome to solve, many packages rely on jwt-go.

# go mod graph |grep jwt-go |wc -l
[code]

[2021-11-13 00:27] yaron2 commented on #3867
Hi @Abhilash-Chandran, this is really awesome to see, and opens the door for more Dapr-Client use cases.

Would you be interested in maintaining this SDK if we want to move it under the Dapr org? You would need to agree to the Apache2.0 license (as mandated by CNCF). Otherwise, we do not currently have enough community resources to take the code and maintain it ourselves.

[2021-11-13 01:33] CrazyHZM opened #3899 "When PartitionCount is configured as 0, the index of the array is illegal"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

When PartitionCount is configured as 0, the index of the array is legal.

## Actual Behavior

When PartitionCount is configured as 0, the index of the array is illegal.

## Steps to Reproduce the Problem
Related code：

[code]

[code]

## Release Note

RELEASE NOTE:

[2021-11-13 05:10] francescocristallo opened #3900 "Local SecretStoreProvider: Failed to init state store secretstores.local.file - invalid character 'ï'"
## In what area(s)

/area runtime

## Ask your question here
I've followed the docs here:
https://docs.dapr.io/reference/components-reference/supported-secret-stores/file-secret-store/

and SecretStoreConfigurationProviderSampleexample here:
https://github.com/dapr/dotnet-sdk/tree/master/examples/AspNetCore/SecretStoreConfigurationProviderSample

but I can't make the local secrets file work.

My s

[2021-11-13 05:47] francescocristallo commented on #3900
It looks like the Issue was with the Encoding of the json file.
I solved the problem recreating the .json file from Visual Studio with Add => New Item.

In my original project I created the file as .txt directly in the folder and changed the extension to .json manually, and somehow the file was "corrupted" in the process.

[2021-11-13 05:47] #3900 closed

[2021-11-13 09:45] Abhilash-Chandran commented on #3867
Hi @yaron2,

I am very much interested in maintaining this package. I am sure once it gains some traction in flutter & dart community there will be even more contributors. Would you recommend moving it under Dapr org now or after some basic requirements such as documentation, X set of API, and test coverage?

As of now, all the packages are under MIT license. I noticed other SDK's are also under M

[2021-11-13 11:41] #3000 closed

[2021-11-13 15:43] #3624 closed

[2021-11-14 00:49] yaron2 commented on #3895
@CrazyHZM can you please comment here with /assign so the issue get assigned to you? Thanks for the PR.

[2021-11-14 00:52] CrazyHZM commented on #3895
/assign

[2021-11-14 00:54] CrazyHZM commented on #3895
This bot is very easy to use. ： ）

[2021-11-14 00:56] CrazyHZM commented on #3899
/assign

[2021-11-14 02:29] #3524 closed

[2021-11-14 04:08] timeshift92 opened #3902 "Docker stack (swarn) on Dapr"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

## Ask your question here

Hello everyone, I just can't run dapr in swarm mode, please show an example of how to set up a network

[2021-11-15 01:54] #3876 closed

[2021-11-15 02:01] yaron2 commented on #3759
Including the trace ID in the log is fine, but why do you need to write logs to disk? This incurs unwanted I/O. Can't you set log forwarders from stderr/stdout?

[2021-11-15 02:10] 1046102779 commented on #3759
Because there is a problem at present, the business container logs are collected to the log platform. If the daprd runtime logs do not support file collection, the console is not easy to troubleshoot in the following situations:
1. The POD restarts and the daprd runtime log is lost;
2. The business team cannot log in to the container platform directly, but can only view the business service logs.

[2021-11-15 02:12] 1046102779 commented on #3759
It supports console and file, the default is console.

[2021-11-15 02:25] daixiang0 commented on #3891
@1046102779 you need upgrade it in component repo first, then upgrade component version here.

[2021-11-15 04:02] 1046102779 commented on #3891
This is too difficult to push. it exists too many dependent libraries. And some are not our dapr ecological library

[2021-11-15 04:12] daixiang0 commented on #3891
jwt-go is not a direct dep for Dapr runtime:
[code]

In fact it needs 3rd repo upgrade.

[2021-11-15 07:27] daixiang0 commented on #3894
After debug, I find it hang when close HTTP server, while I cannot find root cause as I write a single code to test close fasthttp based on socket and it works...

[2021-11-15 10:59] berkaysakarg commented on #3793
Hi @yaron2 , @fjvela, thanks for your comments.
Do you need any additional information by our side?

[2021-11-15 13:52] subash89 commented on #3876
I had almost similar thing done locally to get things working locally. Awesome.  Thanks for the quick update

[2021-11-15 17:35] yaron2 commented on #3793
It looks like this happens when mTLS is disabled.

We should add upgrade e2e tests for non-mTLS installations as well. I'll take a look at reproing and fixing it this week.

[2021-11-15 22:33] yaron2 commented on #3867
First I'll need to bring this up with the Steering committee to have the SDK accepted. The STC meets beginning of December and you'll be updated about the decision.

If the SDK is officially accepted, we can move the existing code and make sure to note this SDK is in 0.1-alpha state and is work in progress. It's currently undocumented but so far the requirements for an SDK to make a stable 1.0 ver

[2021-11-16 00:53] wcs1only opened #3905 "On WSL2 each daprd invocation leaks a dbus-daemon process"
## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

Run a default WSL2 Ubuntu image:
[code]

[code]

It looks like we picked up a new dependency when we update pulsar in 8f926003b72a8544e6cb0e67fa8b950b3f8eebc1:
[code]

I have confirmed this issue does not exist in daprd v1.4.3. I think the dbus library is tryin

[2021-11-16 03:15] LaurenceLiZhixin opened #3906 "Unsubscribe of configuration API."
I'm working on configuration API of multi-language sdks https://github.com/dapr/go-sdk/pull/200, and found subscription problems of configuration api https://github.com/dapr/dapr/pull/3903 . Now the implement of subscribe API is server-side-grpc-stream, and once the subscription is called, the return statement of server side causes the stream ends, and user's client can't get update event from con

[2021-11-16 03:38] wcs1only commented on #3905
The library does the right thing if dbus is running. A valid workaround for this is to run the following in the parent shell session:
[code]

[2021-11-16 05:23] jigargandhi commented on #3713
We try to do a `net.DialTimeout("tcp"...` with timeout of 500 ms with gap of 50ms, this polling will is causing the CPU utilization.
We can increase the timeout and (probably) increase the delay between subsequent polls

[2021-11-16 05:23] jigargandhi commented on #3713
/assign

[2021-11-16 06:08] #3775 closed

[2021-11-16 08:27] Abhilash-Chandran commented on #3867
Sure this makes sense. I will await the decision. Meanwhile, I will work on setting up basic documentation as well so that it will help the SC to see a documented repo 🚀 .

[2021-11-16 16:16] rtrindvg commented on #3839
I am seeing the same behavior on my environment, with the added problem of the super verbose stderr logging.

We are using a redis as a pub/sub service. We had to upgrade the node pool to a bigger instance and since all the pods were relocated to the new nodes, it seems the redis was late to be available to the pub/sub services. This is the sample line which logs nonstop (millions of lines per day

[2021-11-16 17:10] dmitsh opened #3908 "v1.6.0 Release Planning"
Release Coordinator: @dmitsh
Release Buddy: @amulyavarote

Preflight check: 01/06/2022
Code freeze: 01/13/2022
Endgame starts: 01/14/2022
Release date: 01/20/2022

## Priorities
* Improving e2e test stability @dmitsh
* CNCF onboarding activities
  * @artursouza , @greenie-msft , @msfussell , @willtsai , @yaron2
* Resiliency - phase 1 (out of scope of 1.6)
  * @pkedy @halspang
* More stable compone

[2021-11-16 17:24] amulyavarote commented on #3908
- Release buddy!

[2021-11-16 21:43] artursouza commented on #2860
From my understanding the scope of this issue is to pass through metadata as HTTP headers when using RAW event subscription. Equivalent for gRPC subscription. Today, this is done in Dapr by using the "metadata." prefix so the metadata keys don't collide with existing HTTP headers.

[2021-11-16 22:40] berndverst opened #3909 "[Discussion] Should SDKs surface common Metadata Keys?"
Today the SDKs require that users specify metadata keys as freeform strings. It would be more convenient if SDKs provided common metadata key options natively.

@artursouza mentioned the Java SDK already provides common metadata keys, but this list is incomplete (needs link).

For example providing a TTL for State Store Set requests requires the metadata key `ttlInSeconds` to be set. SDKs could su

[2021-11-16 23:19] dmitsh commented on #3800
/assign

[2021-11-17 01:46] daixiang0 opened #3910 "[Proposal] improve PR review flow"
## Describe the proposal

Today more and more contributors join Dapr, while maintainers and approvers are very rare, even one person needs to maintain multiple repos. In this case, some PRs are slow to review/merge which makes contributors feel bad and the whole project can't iterate at high speed. Directly ping may help speed up one PR but reduce the chance of other PRs being reviewed/merged inde

[2021-11-17 04:25] msfussell opened #3911 "Update the License from MIT to Apache 2.0 as required by CNCF submission"
The CNCF submission https://github.com/cncf/toc/issues/738 requires the license to be Apache 2.0 in all repos, *other than* Documentation which is creative commons, which has a separate tracking issue for the license.

This issue to to update to Apache 2.0 license in the repos (other than docs) to the same as this one in KEDA in https://github.com/kedacore/keda/blob/main/LICENSE

[2021-11-17 09:47] lihanping2016 opened #3913 "Native grpc call can not get the trace context"
## In what area(s)?

## Describe the feature

## Release Note

RELEASE NOTE:

[2021-11-17 10:07] #3913 closed

[2021-11-17 16:57] #3525 closed

[2021-11-17 19:15] fjvela opened #3914 "Subscription v1alpha1 is not transformed in v2alpha1 correctly (scopes field is missing)"
## In what area(s)?

/area operator

## What version of Dapr?

1.5.0 / 1.4.3

## Expected Behavior
When Dapr transforms a Subscription v1alpha1  in v2alpha1 scope field must be created

## Actual Behavior
When Dapr transforms a Subscription v1alpha1  in v2alpha1 scope field is not created
![image](https://user-images.githubusercontent.com/5806680/142266676-e9f57a1c-5146-4ce8-b9a9-84e1ba2332eb.png)

[2021-11-17 20:34] yaron2 commented on #3914
cc @pkedy @artursouza

If this is correct, it'll warrant a hot fix most likely.

[2021-11-17 21:58] yaron2 commented on #3906
I would always encourage the explicit (and in this case, also non-breaking) API design. So, I support adding an Unsubscribe method.

[2021-11-17 22:00] #3833 closed

[2021-11-17 22:38] L-Sypniewski opened #3915 "dapr initialization on macOS - takes 90-100 seconds or doesn't work at all"
## In what area(s)?

 /area runtime

## What version of Dapr?

1.5.0
1.4.0

## Expected Behavior

dapr gets initialized in reasonable time after executing command `dapr run` on macOS

## Actual Behavior

After executing `dapr run` on macOS (both Big Sur and Monterey) dapr doesn't get initialized (`dapr initialized. Status: Running. Init Elapsed` is not displayed) therefore input bindings do not wo

[2021-11-18 00:58] artursouza commented on #3533
Issue is still going on. I could reproduce using the E2E test with postgres as state store. The following error is printed in the daprd container of the test app:

[code]

To repro:
[code]
[code]

[code]

[2021-11-18 02:52] LaurenceLiZhixin commented on #3906
OK, I'll follow up.

[2021-11-18 04:32] 1046102779 opened #3917 "feature/gateway: a simple dapr gateway in k8s."
Currently, when deploying dapr gateway,  the daprd injector mode I know two implementations:
1. Use nginx-ingress-controller and then inject daprd; The traffic outside the cluster first goes through CLB->nginx->daprd runtime->east-west traffic
2. Use dapr SDKs in various languages ​​to create an empty service, and then inject the daprd runtime. This empty service is a fake app. Add a CLB to the da

[2021-11-18 07:19] seeflood commented on #3549
Sorry for not replying,I'm back and it's time to continue working on it!
Let's first look at the remaining issues:

Good point! There are two approaches to implement distributed lock components:

- Write a new type of component from scratch,we can call them "lock store components".
Actually I'm going to do this. I will write a redis standalone lock component or an etcd lock component as an example

[2021-11-18 07:23] #3820 closed

[2021-11-18 07:24] seeflood commented on #3549
@yaron2 @artursouza Hi guys,can I start writing code based on discussion above?

[2021-11-18 07:27] #3774 closed

[2021-11-18 12:08] darren-fu commented on #1857
any news about this topic？

[2021-11-18 13:15] saber-wang opened #3918 "The actor status key supports ignoring the app id"
## In what area(s)?

## Describe the feature
see #3888

This request is because I want to distribute actors through nuget and may be hosted in multiple apps, but the current actor key prevents the ability to host the same actor in multiple apps

[2021-11-18 15:07] pkedy commented on #3914
@fjvela @yaron2 Can confirm this is correct. Thanks for reporting this! I opened a PR against the 1.5 release branch. It was only a 1 line fix but probably does warrant a hotfix because it means the CRD will be picked up by all applications.

[2021-11-18 15:43] lullen opened #3920 "Issue matching wildcard topics for pubsub"
## In what area(s)?

/area runtime

## What version of Dapr?

1.3.1

## Expected Behavior

Dapr should call my application when an event is received on all matching topics.

## Actual Behavior

Dapr skipps processing event and gives the following message

`no matching route for event <nil> in pubsub mqtt-pubsub and topic app/device-simple/event; skipping`

## Steps to Reproduce the Problem

Publis

[2021-11-18 16:19] MoeweX opened #3921 "Sometimes a reminder is triggered twice"
## In what area(s)?

/area runtime

## What version of Dapr?

1.4.3

## Expected Behavior

A single reminder is only triggered once, which means that the actor is also reminded only once.

## Actual Behavior

Sometimes a reminder is triggered twice, which means that the actor is also reminded twice at pretty much the same time by two different actor runtimes (see screenshots, reminded at 22:52:31.

[2021-11-18 17:43] fjvela commented on #3914
@pkedy keep in mind fix it also in 1.4.3 :)

[2021-11-18 18:05] pkedy commented on #3914
@fjvela Yes, absolutely! Thanks!

[2021-11-18 19:27] dpr-dev opened #3922 "[pubsub] retry count details"
can we pass information about retries (retry count field) to the service through dapr ? it will be helpful to control moving flow to the DLQ when max attempts are reached

[2021-11-18 23:27] artursouza opened #3926 "Create DaprBot repo"
Today, each repo duplicates the dapr-bot-schedule.yaml workflow. Instead, migrate it into a new centralized repository that will trigger all the jobs for DaprBot, referencing other repos from within the workflow.

This will centralize the scheduled jobs for maintenance of repositories and avoid duplicate code.

[2021-11-18 23:58] yaron2 commented on #3910
I think this is essentially what we are encouraging to happen today.. approvers are always pinged to review any PR. As a maintainer, some PRs I do merge based on an approver LGTM. We also have auto merge based on a label.

Based on the above, what would you like see added or changed?

[2021-11-19 01:16] #3848 closed

[2021-11-19 01:26] daixiang0 commented on #3910
Now some PRs are in approved status but no maintainers check, so I post that add label by approvers and maintainers should check them ASAP.

[2021-11-19 05:31] #2682 closed

[2021-11-19 06:44] yaron2 commented on #3067
@TenSt any update? Ideally we'd like to show this on the November 30 community call.

[2021-11-19 11:22] EmixamZ opened #3929 "Service Invokation - Service not found"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

/area runtime
CLI version: 1.4.0
Runtime version: 1.5.0

## Ask your question here

Good morning,
I'm creating this issue regarding service invokation :
I'm running two APIs (One in .NET 5.0 an

[2021-11-19 13:36] jigargandhi commented on #3256
So I am planning to start work on this issue.

As per the discussions, I will create a new name resolution component `local` that imitates `dapr list` and does process name and argument parsing. This will make sure that if mdns is disabled on local machine then `local` name resolution component will work.

[2021-11-19 13:37] jigargandhi commented on #3256
/assign

[2021-11-19 14:20] TenSt commented on #3067
@yaron2, I apologize for the delay. PR is created and ready for review - no more delays with this.

[2021-11-19 18:02] badgeratu opened #3930 "Daprd 1.5.0 does not respond to shutdown API command down in a timely fashion on Windows."
## In what area(s)?

/area runtime

## What version of Dapr?

1.5.0

## Expected Behavior

On Windows 10 sending the POST HTTP shutdown command to `/v1.0/shutdown` should shut down the `daprd.exe` process in around 5 seconds.

## Actual Behavior

The sidecar does not shut down in a timely fashion unless the same command is re-executed and then it forcibly shuts down after 5 seconds.

## Steps to R

[2021-11-19 20:14] #3733 closed

[2021-11-20 00:33] artursouza commented on #3908
@msfussell @yaron2 @greenie-msft See priorities for this release highlighted above.

[2021-11-20 13:29] #3760 closed

[2021-11-20 16:41] seeflood commented on #3549
Update: I missed the fact that state API already support ["set-with-ttl"](https://v1-5.docs.dapr.io/developing-applications/building-blocks/state-management/state-store-ttl/),but it does not affect the truth that state stores have no "compare-and-set" method.

**Q: Why not just add a "compare-and-set" method to state store components and build the distributed lock API on them?**
A: Considering we

[2021-11-20 17:02] jigargandhi commented on #3549
@seeflood can the TryLockResponse include additional data like which app is owning the lock this can be helpful in troubleshooting

[2021-11-21 04:02] seeflood commented on #3549
@jigargandhi Some implementation (e.g. redis Redlock) can not return the current lock owner when `TryLock` and `Unlock` failed.
So instead of giving the user a field that may be empty, we can let each component try their best to log the current lock owner ( a random uuid) .It's helpful in troubleshooting too. What do you think?

[2021-11-21 11:03] yaron2 commented on #3784
Nope, there isn't.

Can we close this issue for now?

[2021-11-21 21:31] ewassef commented on #3513
watching this...

[2021-11-22 00:59] #3777 closed

[2021-11-22 02:15] 1046102779 commented on #3891
[code]

Too many dependencies, unable to update, I think pulsar is already OK.

https://github.com/apache/pulsar-client-go/commit/fe3b7c4e445b3de42974ca692574229ad9099a45

[2021-11-22 13:37] #3776 closed

[2021-11-22 15:00] dberecz commented on #3830
We would like to have a server (with dapr) providing an SSE endpoint (similarly as @xinyii described above) so that a frontend can subscribe and receive events to update the UI. Similar to websockets but only one-way communication. Does it sound reasonable?

[2021-11-22 17:41] Abhilash-Chandran commented on #3867
Hi @yaron2,

Just a short update.

I have implemented both client and service api as outlined in the proposal.
Its based on reference implementations from js-sdk, go-sdk and python-sdk. Tests are close to js-sdk.
I will add more tests during the documentation process during which I will verify the specification for each building and ensure that the sdk conforms to the spec.

Upcoming weeks I will

[2021-11-22 18:33] msfussell commented on #630
A sample has been provided here https://github.com/dapr/samples/tree/master/hello-service-fabric
Service Fabric is still very much in existence and extensively used. SF Mesh evolved into Container Apps as a more general version and in essence very much showed the path to the serverless container offering.

[2021-11-22 18:39] artursouza opened #3934 "Configuration per Actor Type"
Actor configuration is global instead of per Actor Type. This is an issue when there are multiple actor types in an app and each one has different requirements for garbage collection.

This issue also includes SDK changes.

[code]

[code]

Optionally, the actor type configuration can come from class annotations. That is a decision per language SDK.

RELEASE NOTE: **ENABLES** actor options to be co

[2021-11-22 20:11] aytekinar commented on #3784
Yes. I think we should close this issue now not to confuse the Dapr developers/community.

[2021-11-22 20:11] #3784 closed

[2021-11-23 01:44] aktxyz commented on #3256
+1 !!!

[2021-11-23 03:07] 1046102779 commented on #3910
+1

[2021-11-23 05:07] jigargandhi commented on #3921
Can you share dapr logs?

[2021-11-23 08:46] ls-2018 opened #3936 "Daprd parameters lost after injection"
It's in file pkg/injector/pod_patch.go. I see that the parameter for daprd is set to --dapr-listen-addresses、--dapr-public-port、--dapr-http-read-buffer-size. However, when daprd is injected into pod, I do not see these three parameters, and other parameters are set successfully. Why is this
![image](https://user-images.githubusercontent.com/38821215/142994008-6222074c-1569-4390-8c19-f05426be74ac.p

[2021-11-23 08:48] #3936 closed

[2021-11-23 08:48] ls-2018 commented on #3936
version diff

[2021-11-23 12:32] Taction commented on #3514
/assign

[2021-11-23 17:03] espenairmine opened #3937 "Components registered twice, unable to delete"
Upgraded to dapr 1.5.0
Registered Cosmos state component, sidecar not picking up component, registered component again.
State component now works, but have the component registered twice, deleting removes one but not the other.
Unsure if the dapr installation is now in an undefined state

[code]

## In what area(s)?

/area runtime

## What version of Dapr?

1.5.0

## Expected Behavior

Registering

[2021-11-23 17:05] espenairmine commented on #3937
My bad, registered the first component in wrong namespace, but no immediate feedback in cli/dashboard

[2021-11-23 17:05] #3937 closed

[2021-11-24 01:11] berndverst opened #3938 "v1.4.4 Hotfix Release Checklist"
- [x] Create the `v1.4.4-rc.1` Hotfix release (code changes) and test it
- [x] Create `v1.4.4-rc.1` Tag [@berndverst ]
- [x] ~Performance tests passing  [@artursouza]~
- [x] ~End to End tests passing on Linux and Windows [@berndverst]~
- [x] ~Update the longhaul tests to use `1.4.4` [@halspang]~
- [x] Release notes
- [x] Create `v1.4.4` Tag [@berndverst]
- [x] Update the documentation: Latest vers

[2021-11-24 01:12] berndverst opened #3939 "v1.5.1 Hotfix Release Checklist"
- [x] Create the `v1.5.1-rc.1` Hotfix release (code changes) and test it
- [x] Create `v1.5.1-rc.1` Tag [@berndverst ]
- [x] ~Performance tests passing  [@artursouza]~
- [x] ~End to End tests passing on Linux and Windows [@berndverst]~
- [x] Notify users to try RC1
- [x] Update the longhaul tests to use `1.5.1-rc.1` [@halspang]
- [x] Release notes
- [x] Wait until Dec 6th for feedback on RC1
- [x]

[2021-11-24 01:32] berndverst commented on #3938
PRs required for this Hotfix release.

Make sure to use **release-1.4** branches only!

## Components Contrib
- [ ] https://github.com/dapr/components-contrib/pull/1180 (cherry-pick from master)
- [ ] https://github.com/dapr/components-contrib/pull/1232 (cherry-pick from master)
- [ ] https://github.com/dapr/components-contrib/pull/1329 (cherry-pick from master)
- [ ] https://github.com/dapr/compo

[2021-11-24 01:36] berndverst commented on #3939
PRs required for this Hotfix release.

Make sure to use **release-1.5** branches only!

## Components Contrib
- [ ] https://github.com/dapr/components-contrib/pull/1329 (cherry-pick from master)
- [ ] https://github.com/dapr/components-contrib/pull/1278 (cherry-pick from master)

## Dapr/Dapr
- [ ] https://github.com/dapr/dapr/pull/3919 (**should be merged back to master**)
- [ ] https://github.co

[2021-11-24 01:47] berndverst commented on #3939
If this issue gets addressed in time we will also cherry-pick it into the hotfix release:
https://github.com/dapr/dapr/issues/3930

[2021-11-24 03:56] tanvigour opened #3940 "Logging for mTLS cert expiration"
Kubernetes cluster cert expires after a year. After the expiration the cert need to be updated. There needs to a way of notifying the  user of this expiration through logging. One way could be using Kubernetes events to log the warning at the expiration event.

Feel free to chime in with more ideas around better logging notifications.

[2021-11-24 16:47] DVDripXvid commented on #3921
I also managed to reproduce it.

Context:
- Dapr cluster is running in HA mode and replica count is set to 2 (including placement service)
- We have a k8s deployment with 2 replicas (campaign-manager-deployment)
- We have 3 actor instances and each of them have a single reminder registered (period: 210 sec)

Problem:
- One of the actors (5d00f3f5d8c6950001678975_5829a6a4-3e3e-4a6d-80cd-1f92244d525

[2021-11-24 18:27] #3763 closed

[2021-11-24 23:45] ryou90 commented on #501
Too bad that this feature is constantly postponed, although it is so highly rated. I've been waiting for it for so long...

[2021-11-24 23:47] yaron2 commented on #501
@artursouza @halspang what's the reason for moving this to 1.7?

[2021-11-25 01:17] #3800 closed

[2021-11-25 03:35] dmitsh opened #3942 "feature preview vs alpha API"
I'd like to raise a question about having a preview feature vs alpha API.
In both cases it indicates that the feature is not stable and there might be breaking changes.

So, why do we have both? Why not to have a uniformed way of indication of feature maturity?

I will give a concrete example.
Recently I delivered State Store Query API. After some deliberations it has been decided to release it as

[2021-11-25 03:36] artursouza commented on #3942
I agree to use feature flag for alpha APIs so minimize breaking changes.

[2021-11-25 09:46] guyzyl opened #3943 "Improve Helm chart examples"
The documentation for the Dapr Helm chart contains a few deployment examples.
All of the examples assume the `dapr-system` namespace exists on the user's cluster, causing the examples to fail in case the namespace doesn't exist.

The documentation should be improved so the examples will work out of the box.

[2021-11-25 10:45] fjvela opened #3945 "Error ERR_PUBSUB_NOT_CONFIGURED"
## In what area(s)?

/area operator

## What version of Dapr?

1.5.0  deployed in HA with helm (AKS 1.20.9)

## Expected Behavior
Dapr loads pubsub config correctly

## Actual Behavior
- Sometimes Dapr don't load pubsub config
- Information about other subscriptions are show in other pods

Logs: [api-6fcbdbc65d-4fgf6-daprd.log](https://github.com/dapr/dapr/files/7602226/api-6fcbdbc65d-4fgf6-daprd.

[2021-11-25 12:25] slacksach opened #3946 "Operator stream EOF error every 60 minutes in daprd sidecar - Dapr v1.5.0, K8s 1.20.9"
Across multiple kubernetes clusters, in both HA and Single instance configurations we see this error every 60 minutes on the dot. This then causes all components to be reloaded when the connection is re-established and exacerbates an issue with connections.

## Expected Behavior
Should not see an EOF error or reload components

## Actual Behavior
EOF logged every 60 minutes
`"error from operator s

[2021-11-25 12:38] slacksach opened #3947 "Log sidecar pod name in Dapr Operator"
At present it is impossible to tell which sidecar the operator has updated.

{"instance":"dapr-operator-6d9ffb6bd8-86bg7","level":"info","msg":"updated sidecar with component {name} (state.mongodb)","scope":"dapr.operator.api","time":"2021-11-25T12:30:03.650607344Z","type":"log","ver":"unknown"}

## In what area(s)?
/area operator

## Describe the feature
Add pod name to help identify sidecar

##

[2021-11-25 12:40] slacksach opened #3948 "Operator logs - Version always shows "ver: unknown""
In the dapr-operator logs, the version in log messages always shows as unknown

## In what area(s)?
/area operator

## What version of Dapr?
1.5.x

## Expected Behavior
Version should be accurate

## Actual Behavior
Version shows unknown

## Steps to Reproduce the Problem
Check dapr-operator logs

## Release Note
Fix dapr-operator logging version

[2021-11-25 12:45] slacksach opened #3949 "Operator unable to see secrets across namespaces when processing component updates - K8s"
It appears as though the Dapr Operator is looking for secrets in the wrong place when processing component updates for components in different namespaces.
`
{"instance":"dapr-operator-76db4d6d4f-8qsf8","level":"warning","msg":"error processing component {name}: Secret \"{secretname}\" not found","scope":"dapr.operator.api","time":"2021-11-25T10:04:03.97648577Z","type":"log","ver":"unknown"}
`

The

[2021-11-25 13:26] rsysanishsharma commented on #1768
Do we have any updates on how can we invoke a secured external API?

[2021-11-25 15:20] yaron2 commented on #3067
Closed, we now have: https://github.com/dapr/samples/tree/master/knative-distributed-calculator

[2021-11-25 15:20] #3067 closed

[2021-11-25 15:40] joncoelloaccess opened #3950 "I have some applications in private hosted VMs whats the best practice for self hosted dapr"
Most of my application is running in Azure but I still have some traditional applications running in IIS on a VM in our private hosting.

What's the recommended way of running the dapr process?  I can launch it standalone but without any container runtime it has not inherent reliability.  Do I need to wrap my services around it to start it, stop it etc or is their anything that exists for non cont

[2021-11-25 15:51] nunofilipecosta commented on #2567
also facing this, what am I missing ?

[2021-11-25 17:09] yaron2 commented on #3942
I do not agree. The usage of a preview flag for APIs creates a horrible implicit behavior and inconsistency in almost all cases.

APIs need explicit maturity because URL paths, parameters, expected headers and data formats can change. You cannot reason about a transition from alpha to beta to stable based on a feature flag, nor can't you create multiple iterations of the API with a feature flag. (

[2021-11-25 17:48] yaron2 commented on #3949
@slacksach just to be clear, Dapr today does not in-place update components. Components can be added or removed to an existing sidecar without a restart to the `daprd` process/container, but updates will not get applied.

Regardless, this issue should be fixed. When you write `Trigger component update from operator`, do you mean change a field in the schema of the component?

[2021-11-25 18:03] #3470 closed

[2021-11-25 18:45] yaron2 commented on #3943
Thanks! assigned to you and moved to 1.6.

[2021-11-25 18:46] #3943 closed

[2021-11-25 21:56] swoop-admin commented on #3949
Hi @yaron2, I think I may actually close this issue as it is potentially caused by our Secrets operator which automatically refreshes secrets and might be doing so when the operator is checking components causing the missing updates.

It might be worth a docs upgrade just to say that the dapr-secret-reader role only applies to the original namespace and as such for any subsequent namespaces contai

[2021-11-25 21:58] slacksach commented on #3949
Hi @yaron2, I think I may actually close this issue as it is potentially caused by our Secrets operator which automatically refreshes secrets and might be doing so when the operator is checking components causing the missing updates.

It might be worth a docs upgrade just to say that the dapr-secret-reader role only applies to the original namespace and as such for any subsequent namespaces contai

[2021-11-25 23:44] yaron2 commented on #3949
Ok. While submitting a [PR](https://github.com/dapr/dapr/pull/3952) for this I actually found a different issue and changed my PR to account for that. I'm closing this for now.

[2021-11-25 23:44] #3949 closed

[2021-11-25 23:44] yaron2 commented on #3948
Can you attach a screenshot?

[2021-11-26 00:09] yaron2 commented on #3950
For your needs, you would treat the Dapr process as any executable that needs to be managed independently. Containers are one way to guarantee lifecycle management, others would be Chef, Puppet, Octopus Deploy etc. The Dapr process is unopinionated about what's running it, and as such there's no formal recommendation to be given.

[2021-11-26 00:13] yaron2 commented on #3929
The default name resolution when running in self-hosted mode is mDNS, so the fact this happens intermittently probably speaks to a multicast issue on the local network.

Why would you need to run two apps on two different laptops if you can run both on the same machine?

[2021-11-26 00:16] yaron2 commented on #3867
Thanks, I took a look at the repo - there's work to be done but it's shaping up :)
This is great, let me bring this to the STC, after which I'm quite certain we can move this as-is to the org.

[2021-11-26 04:24] kmaheswar commented on #1849
Happy to see that its now in CNCF Incubator. https://www.cncf.io/blog/2021/11/03/dapr-distributed-application-runtime-joins-cncf-incubator/

[2021-11-26 05:34] daixiang0 commented on #3948
It is a common bug, as we only add version info in cmd main.go, like https://github.com/dapr/dapr/blob/master/cmd/operator/main.go#L23-L39,
And define new one in internal, like https://github.com/dapr/dapr/blob/master/pkg/operator/api/api.go#L46.

[2021-11-26 05:55] #1849 closed

[2021-11-26 06:36] 914268308 opened #3953 "Can dapr init supply a offline install way？"
If I want to use dapr on a production  ENV with no Internet ,how can I do?

[2021-11-26 07:49] Abhilash-Chandran commented on #3867
Thanks for you feedback. I will keep working on the documentation.

[2021-11-26 09:23] EmixamZ commented on #3929
Hi,
I will try on a different network for testing purposes.

Running both applications on the same laptop was a workaround, normally they would have to communicate between two laptops. Isn't it the purpose of the mDNS component ?

Thank you for your answer ! I will try to add some logs during the week.

[2021-11-26 15:20] darren-wang commented on #3947
Good suggestion

[2021-11-26 15:28] darren-wang commented on #3953
Good question

[2021-11-26 15:36] darren-wang commented on #3939
@berndverst we found resource leakage in tests before adoption of dapr, now we are waiting the hotfix version, can you cherry pick this pr in 1.5.1?

https://github.com/dapr/dapr/pull/3890

Now our adoption process is stuck due to this bug.

[2021-11-26 16:36] yaron2 commented on #3939
See my comment on the PR: I need to understand if this is a regression (have you not seen this with 1.4.x), and want to understand exactly what the impact is and under which conditions it occurs.

[2021-11-27 06:43] Taction commented on #3948
Those loggers defined at package level will not be set correct version until https://github.com/dapr/kit/blob/main/logger/options.go#L74(including these defined in main package). This func get all loggers and sets the correct version by calling https://github.com/dapr/kit/blob/main/logger/dapr_logger.go#L54.
If we can ensure that all log info is outputed after this function, the version info will

[2021-11-27 06:53] Taction commented on #3948
Besides, this function should be called after `logger.DaprVersion = version.Version()`, but in operator it is called in `init` func.

[2021-11-27 09:28] zhftxdy opened #3955 "HA mode dapr-placement-server pending"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

 /area placement

## Ask your question here
I just started using DAPR and try to Install in highly available mode,how can i fix it.
![image](https://user-images.githubusercontent.com/26455837/1

[2021-11-27 10:14] zhftxdy opened #3956 "daprd body size exceeds the given limit"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

## Ask your question here
I just started using DAPR and when I upload more than 4m files via darpd,I got an error log like "error when serving connection "127.0.0.1:3500"<->"127.0.0.1:37856": b

[2021-11-27 10:35] #3721 closed

[2021-11-27 12:13] yaron2 commented on #3956
See "max-request-size" here: https://docs.dapr.io/reference/arguments-annotations-overview/

[2021-11-27 12:30] zhftxdy commented on #3956
thand you@yaron2

[2021-11-27 12:30] #3956 closed

[2021-11-27 17:31] #3741 closed

[2021-11-27 17:43] aktxyz commented on #501
ugg bummer this got bumped again

[2021-11-28 14:47] ewassef commented on #3788
We have had to turn off HA in all of our clusters until this is resolved

[2021-11-28 21:03] tonyqus commented on #3953
how about Docker image loading?

For completeness: For Docker on Windows the following syntax applies:

[code]
**Reference**
https://stackoverflow.com/questions/26707542/how-to-backup-restore-docker-image-for-deployment

[2021-11-29 03:59] tanvigour commented on #3940
/assign

[2021-11-29 06:53] #3895 closed

[2021-11-29 07:23] jagjeetst opened #3957 "Subscription Component Not Working"
**Pub/Sub component structure**

**apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
    name: pubsub
    namespace: dev
spec:
    type: pubsub.redis
    version: v1
   metadata:
        - name: redisHost
          value: "redis-XXXXXXXXXXXXXXXX.cloud.redislabs.com:19XXX43-sample-XXXXXXX"
        - name: redisPassword
          value: "RdEfycOlPeUSnaEpXj0GXXXXXXXXXXXXXX"**

Publishing Data on

[2021-11-29 08:38] tanvigour commented on #3953
you can host Dapr docker images in your registry to install offline: https://github.com/dapr/cli/issues/626

[2021-11-29 09:38] tanvigour commented on #3955
what does the following show?

kubectl describe pods dapr-placement-server-0 -n dapr-system

[2021-11-29 09:39] berkaysakarg commented on #3793
Hi @yaron2 , thanks for your response. do you have any updates about the fix?

[2021-11-29 09:39] tanvigour commented on #3955
what does the following give?

kubectl describe svc -n dapr-system dapr-placement-server

[2021-11-29 11:30] XavierGeerinck commented on #3169
Organization/Company: Tinx.ai
Website: https://tinx.ai/
Country: BE
Contact: xavier@tinx.ai
Usage scenario: Tinx.ai provides AI as a service and enables no-code scenarios. It uses Dapr in combination with Consumer Apps for workload management and automatic queue processing.
Status: Production

[2021-11-29 12:21] jagjeetst commented on #3957
Hello,

I have another update for the above mentioned issues. By using preview feature of DAPR
**https://docs.dapr.io/developing-applications/building-blocks/pubsub/howto-route-messages/#declarative-subscription**

This event is successfully subscribed or posting by DAPR to default Route of application.
For that , we need to enable routing feature for DAPR which is
**https://docs.dapr.io/developin

[2021-11-29 13:32] zhftxdy commented on #3955
@tanvigour
Single mode
![image](https://user-images.githubusercontent.com/26455837/143876294-af2c2d2f-fce1-42cd-9cb3-7530dabe25cd.png)

HA mode
![image](https://user-images.githubusercontent.com/26455837/143875740-9a406060-d885-48ce-8811-331e7e7b1345.png)
kubectl describe po dapr-placement-server-0 -n dapr-system
![image](https://user-images.githubusercontent.com/26455837/143876478-514a3aad-8237-4

[2021-11-29 13:37] seeflood commented on #2817
Hi guys ,I read [an interesting interview with @yaron2 ](https://www.infoq.com/news/2021/11/dapr-joins-cncf/) about making Dapr API a new standard :)
I'm very curious how it is going , especially:
1. According to discussion above, our next plan is to write a protocal-neutral spec for current Dapr API instead of extracting Dapr API into another repo like `open xxx spec`. Am I right?
2. We will not

[2021-11-29 13:38] saber-wang commented on #3918
Are there any comments available? 😕

[2021-11-29 13:51] withinboredom commented on #3918
Have you [tried this](https://docs.dapr.io/developing-applications/building-blocks/state-management/howto-share-state/)? I have no idea if it works, but you may need to have a separate state component just for actors so you won't have clashes with other data.

[2021-11-29 16:49] #3894 closed

[2021-11-29 17:19] halspang commented on #3813
@artursouza - Can you triage this so it doesn't go stale?

[2021-11-29 17:19] halspang commented on #3814
@artursouza - Can you triage this so it doesn't go stale?

[2021-11-29 17:19] halspang commented on #3811
@artursouza - Can you triage this so it doesn't go stale?

[2021-11-29 17:23] yaron2 commented on #3814
Done. For added information, gRPC proxying should be gated as preview until this is resolved: https://github.com/dapr/dapr/issues/3807.

[2021-11-29 17:23] yaron2 commented on #3807
Thanks @dennishog will look at it for 1.6.

[2021-11-29 17:27] yaron2 commented on #3813
Notice I triaged to 1.6.

[2021-11-29 17:28] yaron2 commented on #3811
I understand what you're saying about actors being very SDK oriented, but the functionality is in the Actor APIs on the runtime itself, and thus I do not think we need to have a hard requirement for this to come out of preview. Triaged to 1.7.

[2021-11-29 17:45] artursouza commented on #501
Given the priorities in 1.6, we simply do not have the resources to deliver this feature in 1.6. We can move the date for 1.6 but we are already overshooting. The amount of work to deliver resiliency and more stable components + missing features in SDKs is already taking all our capacity for 1.6. This was a hard cut. I am happy to help someone from the community to deliver this in 1.6 if we have v

[2021-11-29 17:47] yaron2 commented on #501
@artursouza I triaged to 1.6 and assigned myself. This is best effort, if I don't get to it we'll move this to 1.7.

[2021-11-29 17:48] halspang commented on #501
@yaron2 - I have a PoC locally. I can post it up if you want a starting point. It needs some clean-up and testing but is otherwise pretty close to ready.

[2021-11-29 17:58] berndverst commented on #3939
@rabollin doesn't look like anyone is working on it yet, so it isn't likely to make it into 1.5.1. Hopefully someone will take a look for 1.6.

[2021-11-29 17:58] berndverst commented on #3939
Yes @darren-wang per the discussion on https://github.com/dapr/dapr/pull/3890 and the support from @yaron2 for cherry-picking this, it will be included in the 1.5.1 hotfix release.

[2021-11-29 18:39] dmitsh opened #3960 "simplify query JSON and fix label typo"
## In what area(s)?

/area runtime
/area docs
/area test-and-release

## Expected Behavior

Simplify query JSON and fix label typo

## Actual Behavior

The Query JSON contains unnecessary top-level label, and has a typo in a nested label.

[2021-11-29 18:39] dmitsh commented on #3960
/assign

[2021-11-29 20:02] #3948 closed

[2021-11-29 20:15] artursouza commented on #3811
My concern about making it out of preview is more about getting customer feedback? Are people using it? I would actually consider removing this feature.

[2021-11-30 00:51] t2y commented on #2217
I'm considering how to use the dead letter queue on dapr. The milestone of this issue is [v1.6](https://github.com/dapr/dapr/milestone/12) and the release date is 2022-01-20. If someone has been developing the feature, I might be able to help with testing on our enviroment. Does anyone know the beta version of the feature or repository?

[2021-11-30 01:54] saber-wang commented on #3918
@withinboredom No, the actor does not follow this setting

[2021-11-30 04:02] 1046102779 commented on #3917
/cc @yaron2 @artursouza @daixiang0

[2021-11-30 04:07] daixiang0 commented on #3917
Now dapr still cannot work as a service, what is the case for gateway?
Also, besides ingress gateway, there are some else API gateway, how do you think about them?

[2021-11-30 07:09] daixiang0 opened #3968 "Support use third-party CA to replace sentry"
/area sentry

## Describe the proposal

From what I know, now `sentry` component works as a CA server and control mTLS between Dapr sidecars.

Consider this case -- a Kubernetes cluster has API server, it works as a CA, setup service mesh like Istio, it also setup a CA, setup Dapr, another CA. Now we have 3 CA servers, maybe more due to business needs. Each CA has its own expire date but provides

[2021-11-30 09:31] mcrio commented on #3839
Hi @rtrindvg It seems like the problem you described deserves a separate issue. This one is just about the subscriptions discovery endpoint that the application provides, while the scenario you described is a sidecar <> pub/sub connection problem.

@Team-Dapr do you think it makes sense to have this retry logic. The subscriptions discovery procedure seems a bit unreliable at the moment.

[2021-11-30 09:44] sora-kashiwagi commented on #3549
It's an interesting proposal. Recently we happen to have a need to implement a distributed lock. When will this API supported be Dapr?

[2021-11-30 14:40] seeflood commented on #3549
@sora-kashiwagi Thanks for your feedback! I'm trying to collect feedback on this proposal. I will start coding once it gets enough attention

[2021-11-30 16:30] yaron2 commented on #3839
I think it does make sense. I'll look into that for 1.6.

[2021-11-30 16:32] yaron2 commented on #3922
Not currently, but this is tracked here: https://github.com/dapr/dapr/issues/3586

[2021-11-30 17:12] yaron2 commented on #2817
Hey @seeflood, this is still early days but at least what I'm envisioning is starting with the current Dapr API as the basis of the spec, which will be either extracted into a separate repository in the `dapr` org or be a made a completely new org. I kind of favor the former.

Since most of Dapr's APIs are 1.0, I imagine existing APIs will not change in the process, and any changes will be the bas

[2021-11-30 17:25] yaron2 commented on #3549
@seeflood personally I really favor adding capabilities to existing state stores. There's two reasons for this:

1. Avoiding duplication of code - see the configuration stores, for example. we are seeing brand new implementations of a store, and I would like to avoid that as much as possible
2. Reuse of existing features like TTL, FWW
3. Consistency  - see how we implemented Transactions. We could

[2021-11-30 18:28] artursouza opened #3969 "Increase component default init timeout"
## In what area(s)?

/area runtime

## Describe the proposal

When connecting to cloud services in other regions, the sidecar might take longer than 5s to connect. Finding this setting is also not obvious to users. The default timeout value now is 5s. Can we increase it? I recommend 10s.

[2021-11-30 21:11] yaron2 opened #3970 "Configuration API subscribe method crashed daprd"
Calling the `SubscribeConfigurationAlpha1` proto method will result in  a`daprd` panic.
Further more, the method will never update the app when configuration changes and instead will close the connection right away.

[2021-11-30 21:32] #3658 closed

[2021-11-30 22:02] pkedy commented on #3957
@jagjeetst I'm not sure I understand the question. It looks like you got your application working with Kubernetes. Are you now asking if the Pub/Sub routing feature is ready for production usage?

[2021-11-30 22:41] greenie-msft opened #3972 "Update license information at the top of each file to Apache 2.0"
The licenses in each Dapr repo are transitioning to Apache 2.0.  As part of this transition, license information at the top of each file needs to be updated from:

[code]
to
[code]

We need to do this for all Dapr repos **EXCEPT** the Dapr Docs repo.

[2021-11-30 23:08] yaron2 commented on #3945
Are you seeing restarts for the operator pods? can you paste a log of a restarted operator pod here?

[2021-12-01 00:35] daixiang0 commented on #3972
/assign

[2021-12-01 00:35] georgestevens99 commented on #3549
Thanks for the proposal.  It said "Although users have to directly deal with the lease renewal logic when using grpc, it is not hard for developers to understand."  My experience is that these sort of things may not be hard for some developers to understand, but will definitely be hard for others not so experienced to understand.

So I encourage you to build Dapr features that are easy to use for

[2021-12-01 00:59] #3960 closed

[2021-12-01 01:16] daixiang0 commented on #3972
Also
[code]

[2021-12-01 01:19] seeflood commented on #2817
@yaron2 Thanks for your reply! I am very interested in this Dapr SIG and willing to join it. Setting standards for the future is very cool.

Another detailed question :
Currently there is the word 'dapr'  in grpc API ,for example, `dapr.proto`,the package name `dapr.proto.runtime.v1`, the service name `Dapr`. Shall we consider a new name  like `CloudEvent` , `OpenTracing` and remove the word `dapr

[2021-12-01 02:41] t2y commented on #2217
I found RabbitMQ pubsub already supported the dead letter feature in v1.5. Fortunately, I have wanted it with RabbitMQ. I can test it.

* https://github.com/dapr/docs/pull/1844

[2021-12-01 04:15] kevinten10 commented on #2817
Hi, as a community developer, I think the standards is cool.

I mainly consider two characteristics:
1. The standard api and dapr are not strongly bound, we hope to use an industry standard open api.
2. Able to support `custom expansion api`. For Example, I can fork the standard api and plug and unplug it. This may require a `microkernel` design, rather than putting it in a large and comprehensive

[2021-12-01 06:17] jagjeetst commented on #3957
@pkedy
Once I start my application, subscription components does not work for it. I am unable to subscribe or listen to the Topic Data.

So, My application is working but Subscription components are NOT.

Secondly, I am using pub/sub for my DEV env for now, but for DEV env too,  subscription components are not working.

Please let me know if the above makes sense, or should I explain more.
Thank y

[2021-12-01 06:21] darren-wang commented on #3939
Hi, when is v1.5.1 planned to release?

[2021-12-01 06:45] yaron2 commented on #3939
Dec 6.

[2021-12-01 07:36] zsq1576154634 opened #3977 "Dashboard access bug"
## What version of Dapr?

## Expected Behavior

![image](https://user-images.githubusercontent.com/52565295/144190519-ad89ff9f-38e1-4827-80ce-b9f0bb2e7ca6.png)

## Actual Behavior
![image](https://user-images.githubusercontent.com/52565295/144191313-d83dddd0-deb2-4642-ba53-3b114dc85e6c.png)

![image](https://user-images.githubusercontent.com/52565295/144190640-a5c7bb8c-6ece-49b2-967f-f33f10a0066d.

[2021-12-01 10:10] fjvela commented on #3945
sure.

![image](https://user-images.githubusercontent.com/5806680/144215212-a28eab4c-f588-41ee-909a-03f093710f8e.png)
[dapr-operator-logs.zip](https://github.com/dapr/dapr/files/7632928/dapr-operator-logs.zip)

[2021-12-01 12:18] gagzm commented on #3957
@pkedy  What you mentioned in your last comment is exactly what we are asking. Basically, we are able to make this work with the preview feature.

However, the question is if we should be able to use this in production.

[2021-12-01 15:36] #3808 closed

[2021-12-01 17:23] yaron2 commented on #3977
I just tried to reproduce this but couldn't. Installed Dapr 1.5 on k8s and port-forwarded like this:

```kubectl port-forward dapr-dashboard-854cf9ccb4-zz7qd -n dapr-system 8080:8080```

[2021-12-01 18:48] yaron2 commented on #3807
Update: I was able to reproduce this. Working on fixing..

[2021-12-01 19:18] yaron2 commented on #3807
Fix: https://github.com/dapr/dapr/pull/3979.

Will go into 1.6.

[2021-12-01 20:11] #3807 closed

[2021-12-01 20:12] #3972 closed

[2021-12-01 20:33] pkedy commented on #3957
Gotcha. You should not need pubsub routing for apps with 1 route. I think we need to work though what is different about your K8s deployment. One thing to double check is that the app id is listed in the subscription `scopes`. `scopes` are the way Dapr assigns component configuration to applications. If there is a mismatch, that would explain why the subscription is not being picked up.

I'm not s

[2021-12-01 22:18] rahulpoddar-fyndna opened #3980 "Dapr Health Check Response Code"
We are deploying our application service enabled with dapr on to google cloud using GKE. This is multicluster deployment with global load balancer. With the we also have to configure the end point for health check in MultiClusterService from google.
It expects the http response code of 200 from dapr health check url /v1.0/healthz. However as per specification the dapr returns http response code of

[2021-12-01 22:23] berndverst commented on #3980
Kubernetes itself accepts liveness and readiness probes with status codes ranging from 200-399.

[code]

https://github.com/kubernetes/kubernetes/blob/master/pkg/probe/http/http.go#L129

Additionally, the GCP documentation seems to list HTTP 200 as an example, but doesn't make it clear whether only 200 is supported, or whether any 2XX status (or 2XX-3XX status) works.

A regular single cluster GKE

[2021-12-01 22:38] berndverst commented on #3980
This looks to be an inconsistency in the multicluster ingress component.

Per the code I linked above and also https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/ Kubernetes considers status codes from 200-399 to be successful liveness and readiness probes.

If the multicluster ingress component does not support this full range of status codes for

[2021-12-01 23:38] yaron2 commented on #3980
I agree with @berndverst's observation and recommend you talk to GKE support.

[2021-12-02 02:30] CrazyHZM commented on #3825
Already done in #3933, this issue can be closed.

[2021-12-02 06:25] zsq1576154634 commented on #3977
maybe i use rancher to create k8s?

[2021-12-02 07:59] berndku opened #3982 "daprd crashes if gRPC request arrives before runtime init completes"
## In what area(s)?

/area runtime

## What version of Dapr?

1.5.0

## Expected Behavior
Using below two building blocks together in a single app is working:
- call gRPC server over [dapr gRPC proxying with asyncio channel](https://github.com/dapr/python-sdk/blob/master/examples/grpc_proxying/invoke-caller.py)
- [Programmatically subscribing](https://docs.dapr.io/developing-applications/building-

[2021-12-02 08:38] KaiWalter commented on #630
The guest EXE model is fine for a start and a very basic deployment. Question for me is, whether it makes sense or whether there is any priority that

a) Dapr works with Service Fabric name resolution at some time to allow service resolution across multiple apps
b) Service Fabric will have support for sidecars or something like pods at any time or whether we only have this guest EXE stacking insid

[2021-12-02 08:56] shivamkm07 commented on #3930
/assign

[2021-12-02 11:20] jagjeetst commented on #3957
@pkedy let's discuss this in detail on Discord, You can share your username for the same or you can find me on Discord with below details. As things are not yet clear with K8s deployment with  dapr.io/v1alpha1 version, yet they are not working for me. As I am using preview feature for now.

jagjeet.sbiz
#0688

[2021-12-02 13:11] hareesh-mandaloju opened #3983 "Make the grace period configurable"
Please make the grace period configurable.
## In what area(s)?

## Describe the feature

Please make the grace period (defaultGracefulShutdownDuration) configurable. It's default value is 5sec. This will be helpful for applications which handles SIGTERM and shuts down gracefully by taking its own time (Ex: game servers and other stateful apps). Having only 5sec is causing an issue as the dapr side

[2021-12-02 15:52] seeflood commented on #3549
Thanks all for your great suggestions!
It's 23:00 Beijing time. After a day’s work, I finally have time to sit down and write a new proposal :)
Here's proposal v0.2.0
It is basically the same as v0.1.0, except for some optimizations based on discussion above.

## About code reuse

### Make it consistent with how we implement  TransactionalStore
The component interface will be :
[code]

The impleme

[2021-12-02 16:14] javageek79 commented on #3921
@artursouza, @jigargandhi, short update on what @MoeweX reported initially. We found out, that there are two identical reminder entries in our cosmosdb statestore.
<img width="587" alt="grafik" src="https://user-images.githubusercontent.com/3714921/144459761-28a139bd-316d-4439-93e4-6e3c0d208906.png">

Expectation would be, ofcourse, that it is only one, and that reminder-name is unique.

We are cu

[2021-12-02 18:01] adawalli commented on #3770
This is not stale - no clean solution exists currently

[2021-12-02 19:00] wcs1only opened #3984 "[E2E Test failure] Reminder test with >40% failure rate."
## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior

## Failure Signature

[code]

Also failing:
[code]

These two failures are not correlated, but may be causally related?
<img width="1529" alt="Screen Shot 2021-12-02 at 10 38 47 AM" src="https://user-images.githubusercontent.com/7329298/144482942-a30408cd-4628-42ee-a3f3-0f26028f0391.png">

This signature goes back

[2021-12-02 20:27] yaron2 commented on #3770
@adawalli can this now be done with the new Configuration API? your app can get notified whenever a config item changes.

https://docs.dapr.io/developing-applications/building-blocks/configuration/configuration-api-overview/

[2021-12-02 20:31] yaron2 commented on #3970
Closed via #3971.

[2021-12-02 23:00] dmitsh commented on #3984
/assign

[2021-12-03 00:58] msfussell commented on #777
/keep-alive

[2021-12-03 01:11] acartcat commented on #630
Kai,
Thanks to Mark back in 2016 the company I work for has a global solution
using Service Fabric and relies on guest executables as the primary
application deployment pattern.  Given that SF is a process orchestrator in
addition to a container orchestrator we have great flexibility for building
apps, in our case Java/Spring.  We use a combination of SF DNS service
along with the reverse proxy. I

[2021-12-03 01:33] dmitsh commented on #3984
Just a quick initial summary:

Based on the error stats, all failures happen in actor framework.

A half of the failures originate in actor implementation of php-sdk.
The other half is equally spread between `TestActorReminder/Actor_reminder_changes_number_of_partitions` and `TestActorFeatures/Actor_reminder_with_app_restart`.

[2021-12-03 02:30] daixiang0 commented on #3969
Agree to make it configurable.

[2021-12-03 02:43] Taction commented on #3549
This is a good proposal! What about adding the `Close() error` function to release resources (locks and connections) immediately in this method when closing dapr.

[2021-12-03 03:15] tanvigour commented on #3984
Are these sporadic or happen with every run? From the logs they seem to be failing every time

[2021-12-03 03:26] dmitsh commented on #3984
They are not failing every time. Sometimes they pass :)

[2021-12-03 03:27] tanvigour commented on #3983
Should we make it configurable or just make default grace to Kubernetes default of 30sec? Basically, does it mean something if app takes too long to shutdown that we would be ignoring if we make it customized?

[2021-12-03 05:31] dmitsh commented on #3984
So I did more detailed analysis of the data, and it is not that bad.

I looked at a dozen recent failing e2e tests, resulting with over 25 failures.
There are *only* 4 types of failing individual tests. Here is their distribution:
- tests/e2e/actor_features:TestActorFeatures/Actor_reminder_with_app_restart - 42%
- tests/e2e/actor_reminder_partition:TestActorReminder/Actor_reminder_changes_number_o

[2021-12-03 06:51] GreenShadeZhang opened #3988 "About a port containing grpc and http traffic"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

dapr 1.5

## Ask your question here
I have a service that includes http and gprc. When I use dapr, the only part of the protocol configuration is http or grpc. When I choose grpc, using dapr fr

[2021-12-03 08:21] Macrow commented on #3066
@jjcollinge Hi, can you tell me how to starting multiple instance of the python app with the same app id but different ports?

I've tried, but it tells ```"dapr with ID pythonapp is already running"```, it seems self-hosted mode does not support multiple instances with same app-id ?

[2021-12-03 08:56] denis111 commented on #3103
Please, reopen it. @yaron2 I'm not sure who is maintainer to ping, please, label it.

[2021-12-03 09:01] jjcollinge commented on #3066
@Macrow this is a restriction imposed by the `dapr` CLI but not by the `daprd` runtime. I was actually mistaken in my comment above that suggested running multiple instances of the python app. As the python app calls the node app - you in fact want to run multiple instances of the node app. This is do able by running the `daprd` directly using
`~/.dapr/bin/daprd -app-id nodeapp -app-port 3000 -dap

[2021-12-03 09:37] hareesh-mandaloju commented on #3983
Making it configurable with a default value of 30sec is good I think. Making it configurable will be useful, so that developer can set it (higher than or equal) to the grace period of the main application, this will make both main application and dapr sidecar containers shut down almost at the same time.

[2021-12-03 13:08] seeflood commented on #3549
@Taction Thanks for your feedback!
In [proposal v0.2](https://github.com/dapr/dapr/issues/3549#issuecomment-984755423), the `LockStore` interface is actually a special kind of state store component.
Since Dapr already has the functionality to close the state store components , there is no need for us to add another `Close()` . See https://github.com/dapr/dapr/blob/99e039a102c7e9e84c15646fdf74f4190

[2021-12-03 13:40] jigargandhi commented on #2892
I got a feedback on the [discord](https://discord.com/channels/778680217417809931/901141713089863710/914206213254823946) that we should add content type to more components, however not all components require a content type. On looking at a list of components here are the component types that require a content-type

So *apart from state management*, here are the places I think require content type

[2021-12-03 14:16] Taction commented on #3983
During graceful shutdown, new requests will not be accepted. 5sec may be enough for common cases to finish the incoming request. Making it configurable and limiting it to a maximum of 30s seems better.

[2021-12-03 14:41] Macrow commented on #3066
@jjcollinge Thanks for your help, indeed, ```daprd```could start two instances with same app-id,
[code]
- I must specify metrics port and grpc port, if not,  it could not start the second instance

 But after that, the ```dapr``` can not discovery the two instances, the dashboard(``` dapr dashboard -p 9999```) can not locate the two instances at all,
I try to ```curl http://localhost:3500/v1.0/inv

[2021-12-03 15:03] Macrow commented on #3066
@jjcollinge Thanks for you help.

```daprd```could help to start two instances indeed.

In this situation, the python app how to decide which instance should be invoke? with load balance?

[code]

[2021-12-03 22:22] jjcollinge commented on #3066
Daprd will scan for addresses using mDNS - when it receives the first response it will start using that. In the background it will scan for any more addresses. If it finds more addresses, it will start to distribute the requests across the addresses by iterating through them in a linear manner. There is no smart strategy to decide which instance to send the request to at the moment.

[2021-12-03 22:32] pkedy opened #3991 "Add optional & extension CloudEvents attributes"
Per the [1.0.1 CloudEvents spec](https://github.com/cloudevents/spec/blob/v1.0.1/spec.md), the following optional fields are missing from [TopicEvent](https://github.com/dapr/dapr/blob/master/dapr/proto/runtime/v1/appcallback.proto#L49-L85).

* dataschema
* subject
* time

Extension attributes are also unsupported.

It might make sense to borrow for CloudEvents does this:

[code]

At some point (v

[2021-12-03 23:03] artursouza commented on #3988
This is an interesting feature request. I think we could support both protocols at the same time for app ports and default to HTTP when both are set and need to callback for /subscribe or /dapr/config. But the service invocation feature should be protocol specific and only use the corresponding port of the protocol.

[2021-12-04 02:58] Macrow commented on #3066
Thanks, it helps.

but sorry for one more question, in service invocation

[code]
or use ```Additional URL formats```
[code]

We need to specify the dapr http port, if I have two dapr http ports, for example 3500 and 3501, I just pick one, dapr will smart to route another one for load-balance?

[2021-12-04 07:06] cero-t opened #3992 "PostgreSQL and Secrets, "Missing postgreSQL connection string""
## In what area(s)?

## Ask your question here

I tried to use PostgreSQL datastore with its connection string in secrets, but I could not start it successfully.

components/postgresql-store.yaml
[code]

components/postgresql-secret.yaml
[code]

components/postgresql-secret.json
[code]

And ran PostgreSQL on docker.
[code]

I started dapr by this command.
[code]

or started without my appliction
[

[2021-12-04 07:19] cero-t commented on #3992
I confirmed the secret string could be get propery (without postgresql-store.yaml).

When I used secrets API directly,
[code]

and I got connection string.
[code]

[2021-12-04 08:40] cero-t commented on #3992
I'm sorry, I solved it myself. I misunderstood the spec of secrets.

It works well with the following configuration.
[code]

[2021-12-04 08:40] #3992 closed

[2021-12-04 09:29] saber-wang commented on #3846
@dapr-bot

[2021-12-04 11:51] #3817 closed

[2021-12-04 12:09] Taction commented on #3983
/assign

[2021-12-04 15:45] et1975 commented on #501
Could someone elaborate on what ideal back pressure story is like in dapr?
I'm also curious how processing guarantees in all-awaitable chain of Fabric actors vs fire-n-forget models of execution are to be maintained.

[2021-12-04 16:26] rainfd opened #3994 "Add more detail for tracing"
Currently tracing message only show dapr api name, give us infomation useless.
![截屏2021-12-01 上午2 55 28](https://user-images.githubusercontent.com/10191719/144716420-64fdefc8-65ca-414d-837f-bc49af9b2ede.png)

What about adding more detail? such as adding component name and operation name for binding

![截屏2021-12-05 上午12 24 17](https://user-images.githubusercontent.com/10191719/144716871-5622aff5-f

[2021-12-04 16:53] #3626 closed

[2021-12-05 00:25] withinboredom opened #3995 "Reminders and Timer ISO-8601 off-by-one error"
## In what area(s)?

/area runtime

## What version of Dapr?

1.2+

## Expected Behavior

Not every day has 24 hours, every minute 60 seconds, nor every year has 365 days. When delaying a reminder from 2021-12-02 for 4 years, I'd expect it to be 2025-12-02.

## Actual Behavior

The reminder gets scheduled for 2025-12-01.

## Steps to Reproduce the Problem

Create a reminder in the future that pass

[2021-12-05 01:25] #3066 closed

[2021-12-05 14:34] GreenShadeZhang commented on #3988
It would be very exciting to see this feature in the future version, because our current service call uses dapr internally and only uses grpc. After all, only one port exposes traffic. If you use HTTP, an error will be reported. Therefore, this will be a good feature, so our service architecture does not need to be adjusted.

[2021-12-06 03:26] #3829 closed

[2021-12-06 06:15] #3794 closed

[2021-12-06 11:34] CrazyHZM commented on #3947
What version are you using?

[2021-12-06 12:06] slacksach commented on #3947
1.5.0

[2021-12-06 12:43] CrazyHZM commented on #3991
/assign

[2021-12-06 13:54] Taction commented on #3969
Consider of finding this setting may not obvious to users. What about increasing it to 10s, and making it configurable.

[2021-12-06 21:02] #3726 closed

[2021-12-07 02:11] Taction commented on #3946
@slacksach I'm using Dapr v1.5.0 in one cluster, haven't reproduced this EOF issue. If you are using cross clusters, have you checked if those daprd in the same cluster have the same problem? This may be related to the configuration of the gateway.

Besides, components are only reloaded when their definition is updated. Disconnect with the operator will case daprd get the current components list,

[2021-12-07 07:15] bgelens opened #4002 "dapr init -s installs old runtime version"
## Expected Behavior

dapr init -s to install 1.5.1

## Actual Behavior

installed 1.4.4

## Steps to Reproduce the Problem

Install latest dapr cli via brew in my case
uninstall current runtime
install using dapr init -s

Workarround, specify runtime-version argument with 1.5.1

## Release Note

RELEASE NOTE:

[2021-12-07 08:55] pb0501x opened #4003 "How do I get this custom metadata data in the SDK(.net core or other SDK)"
How do I get this custom metadata data in the SDK(.net core or other SDK)

[2021-12-07 08:56] zhulixiang commented on #4003
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2021-12-07 13:00] guyzyl opened #4004 "Unable to retrieve secret from Kubernetes secret store"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

## Ask your question here
I'm having issues retreiving secrets from a Kubernetes secret store.

I created the k8s secret:
`kubectl create secret generic secret-store --from-literal=hello=world`

[2021-12-07 17:43] timonmasberg commented on #814
For me, this is also an important issue. We use Dapr with a PubSub Component to handle GraphQL subscriptions in a Gateway. Every time a GraphQL Subscription changes or one gets added or deleted, we have to roll out the Gateway to make sure the new topics are subscribed as well.

[2021-12-07 18:14] ryou90 commented on #814
@timonmasberg same here

[2021-12-07 19:24] yaron2 commented on #4004
Dapr defaults to k8s as a secret store when running in that env, can you try removing the component and see what you get?

Also, try naming the k8s secret `hello`, so: `kubectl create secret generic hello --from-literal=hello=world`

[2021-12-07 19:49] guyzyl commented on #4004
Yes! It worked!

The [Dapr documentation](https://docs.dapr.io/operations/components/component-secrets/#referencing-a-kubernetes-secret) should be updated to reflect this usage, it's currently very confusing.

[2021-12-07 19:49] #4004 closed

[2021-12-07 19:52] dmitsh commented on #3984
Current plan:
1. Append k8s logs after container restart (@wcs1only )
2. Investigate TestActorReminder/Actor_reminder_changes_number_of_partitions (@dmitsh @artursouza )

Future (tentative) plans
- Consider creating new k8s cluster for each test
- Alternatively, update k8s version for the current clusters
-  Consider replacing cosmosdb with redis (requires additional investigation about cause of t

[2021-12-07 21:54] wcs1only commented on #4002
Root cause: github API returns releases in order of when they were created, not in version order. In this case, we were releasing v1.4.4 and v1.5.1 simultaneously, and v1.4.4 won the race to deployment.  We have worked around this issue by recreating the v1.5.1 release. We will also need to add logic to the CLI to prevent this in the future, as there is no guarantee that release will be created in

[2021-12-07 22:10] briandenicola opened #4006 "ERROR: column \"isbinary\" does not exist (SQLSTATE 42703)"
## In what area(s)?

/area runtime

## What version of Dapr?
 1.5.0
 1.5.1
[code]

## Expected Behavior
When I query my state store, I expect it to return my objected stored in it like it does in v1.4.4
[code]

## Actual Behavior
[code]

## Steps to Reproduce the Problem
1. Create an Azure PostgreSQL single server (I'm using private endpoints in my environment but I do not think it matters)
2. Sto

[2021-12-07 22:30] slacksach commented on #3946
Thanks @Taction, we are using Dapr in 6 clusters at present but all within multiple AZ's in Azure. All exhibiting this same EOF issue.
Occurs across k8s versions - K8s 1.20.9, 1.20.7 and 1.20.5 and Dapr versions 1.4.x and 1.5, need to test 1.5.x

[2021-12-08 00:06] yaron2 commented on #3946
I think I found the issue, will be fixed for `1.6`.

[2021-12-08 02:08] briandenicola commented on #4006
Logs with dapr.io/log-level set to debug
[code]

[2021-12-08 02:40] yaron2 commented on #4006
@briandenicola I found the issue. We had a [breaking change](https://github.com/dapr/components-contrib/commit/117408f76deb459bcd3184d3743fc5ee51260927) in `1.5` that added an `isbinary` column.

The workaround for this would be to manually add a column named `isbinary` which is `boolean` and `NOT NULL`.

[2021-12-08 02:46] #3942 closed

[2021-12-08 04:05] artursouza commented on #4006
@berndverst We will probably need a hotfix for this one too.

[2021-12-08 04:06] artursouza commented on #4006
We avoid breaking changes in our components but Postgres is Alpha. The workaround by @yaron2 is the right way to proceed.

[2021-12-08 04:47] artursouza commented on #3969
It is configurable already. So this is about changing the default.

[2021-12-08 05:26] Taction commented on #3969
Agree with increasing its default value to 10s. And it may be better to refer to the config key in the timeout log(such as 'timeout can be configured by xxx').

[2021-12-08 09:09] mcrio opened #4008 "Method invocation / Dapr automatically decodes %2f in URL"
## In what area(s)?

## What version of Dapr?

Runtime 1.5.1, 1.4.3

## Expected Behavior

1) Method invocation with URL that contains a urlencoded `/` character that is `%2F`:
`http://localhost:[DAPR_PORT]/v1.0/invoke/[MY_SERVICE]/method/test/value%2F123`
2) Expected ASP.Core service endpoint to be called from the sidecar:
`/test/value%2F123`

## Actual Behavior

1) Method invocation with URL tha

[2021-12-08 09:43] withinboredom commented on #4008
Which SDK are you using? SDKs should be encoding/decoding routes properly. This is handled correctly in the PHP SDK, so this is likely a bug with that SDK and not necessarily with Dapr.

If you're not using an SDK, you need to double encode routes IIRC.

[2021-12-08 09:54] mcrio commented on #4008
I am actually using [YARP rev. proxy](https://github.com/microsoft/reverse-proxy) to proxy to a sidecar, so no direct SDK involvement.

Also tested calling the sidecars invoke endpoint using `curl` ie: `curl  http://localhost:12345/v1.0/invoke/my_service/method/test/value%2F123`.

Any idea where that might be documented or maybe the spot in the source?

p.s. I'll do an additional test using the .N

[2021-12-08 10:16] mcrio commented on #4008
Same issue with the .Net SDK. I'll go through the PHP and .net sources, especially PHP to see how it handles double encoding, but would be really cool to verify any additional requirements in Dapr code or documentation.

[2021-12-08 13:21] mcrio commented on #4008
Hi @withinboredom

Just checked double encoding the values as it is implemented by the PHP SDK.
Please can you confirm it works for you? Asking as Dapr seems to be decoding that recursively until no `%` chars left.

Original: `http://localhost:[DAPR_PORT]/v1.0/invoke/[MY_SERVICE]/method/test/value%2F123`
Double encoded method: `http://localhost:[DAPR_PORT]/v1.0/invoke/[MY_SERVICE]/method/test/valu

[2021-12-08 15:25] msfussell commented on #3983
@Taction @tanvigour - This is a docs change also and needs a good description of when and how to use this. Can you raise the docs issue and include the text for this. The doc issue should be PRed at the same time as the code. At the least it should go here https://docs.dapr.io/reference/arguments-annotations-overview/ and maybe I would consider a paragraph in this doc https://docs.dapr.io/operatio

[2021-12-08 15:32] msfussell commented on #3969
This is a good idea and what we should do more of, telling the user in the error message exaclty how to fix an issue. Given that @Taction did not know this was configurable, then most people will not know this either.

@artursouza  - What config setting are you referring to specifically, can you name this? Is it listed here https://docs.dapr.io/operations/configuration/configuration-overview/? If

[2021-12-08 16:48] briandenicola commented on #4006
Thanks for the workaround. I'll try out it for now to test. Thanks!

[2021-12-08 18:33] artursouza commented on #3969
This is initTimeout in https://docs.dapr.io/operations/components/component-schema/#fields

[2021-12-08 18:47] artursouza commented on #4008
Does the same occur if you use the new HTTP invocation solution: https://docs.dapr.io/developing-applications/building-blocks/service-invocation/howto-invoke-discover-services/#additional-url-formats

[2021-12-08 18:59] artursouza commented on #2892
I agree with the approach above. My ask would be to make the following adjustments for backwards (and forward) compatibility.

* Make content-type a string* to reflect it being optional in the structs, similar to how we do for eTag.
* When both contentType attribute and metadata["content-type"] is provided, contentType attribute should take precedence and overwrite value in metadata["content-type"

[2021-12-08 19:10] berndverst commented on #4004
Here is the problem with your original approach @guyzyl:

Your secret was called `secret-store` (this is a very confusing name for a secret). To access that secret with your defined secretstore (named `secret-store`) you would have to:

`curl http://localhost:3500/v1.0/secrets/secret-store/secret-store`

This would return a JSON which includes the `hello` key.

[2021-12-08 20:29] mcrio commented on #4008
Hi @artursouza

Using the `curl -H 'dapr-app-id: myservice' ` approach it's the same result as described above.

Tried using HTTP Basic Auth approach as well, but for some reason always getting:
`{"errorCode":"ERR_DIRECT_INVOKE","message":"failed getting app id either from the URL path or the header dapr-app-id"}%` Haven't figured out the reason yet. (v1.5.1)

[2021-12-08 20:53] guyzyl commented on #4004
@berndverst thanks for the reply!
I was already able to solve this thanks to @yaron2 's suggestion.

The problem was with the secret creation.
I created a secret using `kubectl create secret generic secret-store --from-literal=hello=world`
When what was needed was: `kubectl create secret generic hello --from-literal=hello=world`

The problem is that this isn't documented anywhere, but at least now

[2021-12-08 21:35] trondhindenes commented on #2918
We're working on some long-running requests at tme moment, so I'll leave some notes here:
- during startup, dapr consideres the app healthy once it responds on its designated port. This might not always be desirable. Dapr should offer the ability to use the app container's readiness state health check (if confidered) instead of simple port pinging. This would tie nicely into native kubernetes cons

[2021-12-08 21:39] withinboredom commented on #4008
That's probably not good and could be a security issue if the app expects one thing but actually gets another. ie, `POST /name/rob%2Fdelete%3F/new` shouldn't result in `POST /name/rob/delete?/new`...

[2021-12-08 21:55] withinboredom commented on #4008
Not technically documented, but an open issue: #3355 -- or rather, a bot closed it 😂

Hmm, yeah. That looks weird. So single encoded using "hello/world":

[code]

double encoded:

[code]

triple encoded:

[code]

So, at least it isn't just decoding forever, but it appears there's no way to get the `%2F`... but if your client can expect double encoded values, you can triple encode it as a work-arou

[2021-12-08 23:25] philliphoff opened #4010 "Expose subscribed topics via metadata API"
## In what area(s)?

/area runtime

## Describe the proposal

The Dapr sidecar metadata API should return the topics to which the application is subscribed. This would allow, for example, tooling to infer the topics a developer may wish to publish in order to test pub-sub for a given application.

Specifically, I would like to see the request:

`GET http://localhost:<daprPort>/v1.0/metadata`

Retu

[2021-12-09 03:04] maikebing opened #4011 "LOL, A Microsoft open source product, an open source product for .net, but not use C# nor vb.net."
A Microsoft open source product, an open source product for .net, but not use  C# nor vb.net.

[2021-12-09 03:09] yaron2 commented on #4011
Closed as not relevant.

[2021-12-09 03:09] #4011 closed

[2021-12-09 03:20] daveman1010221 commented on #3146
This is a great idea, I hope it didn't get lost because of dapr-bot.

[2021-12-09 03:21] yaron2 commented on #3146
Reopened

[2021-12-09 03:27] daveman1010221 commented on #3146
One of the neat-o things about Nomad is the ability to target orchestration on deployments other than OCI containers. I suppose one thing I haven't found yet is Dapr docs on how to, for example, set up a Dapr sidecar when there is no pod (I'm sure there is something). That seems to be the core of what this issue is about, the configuration bits to tie the two together.

[2021-12-09 05:52] yaron2 commented on #3867
@Abhilash-Chandran I'm happy to update the Dapr STC has approved the inclusion of the Dart SDK into the Dapr org and to make you repository maintainer.

In the coming week we will create a dapr/dart-sdk repository and make you maintainer. You will then be able to push the code there. We will track work items needed to make the SDK a stable 1.0 release in the newly created repo.

[2021-12-09 07:45] mcrio commented on #4008
I see, thx.

Optimally there would be no double, triple encoding required but `/v1.0/invoke/myservice/method/test/hello%2Fworld` would result in `/test/hello%2Fworld`.

[2021-12-09 09:42] berkaysakarg commented on #3793
Hi @yaron2 , @fjvela
Do you have any updates about the fix?

[2021-12-09 10:09] Abhilash-Chandran commented on #3867
Hi @yaron2 , this is great news. So glad that the proposal went through. Let me know if there is anything that I could prepare for the new repository.

I am still working on the documentation under daprdocs directory so that dapr site could generate the necessary docs.

[2021-12-09 11:18] t2y commented on #3642
@yaron2 I also need this.

[2021-12-09 11:56] Taction commented on #3983
I,ve finished the doc pr.

[2021-12-09 12:43] theperm commented on #501
Currently every call to an actor in a chain requires every call to return
before the next can proceed. So this causes back pressure on every actor.
Even tho the calls are asynchronous (non blocking) you are effectively
making a synchronous call to the last actor in the chain.

There is no fire and forget if you want introduce asynchronous calls say in
the middle of the chain so the end actors don'

[2021-12-09 14:00] et1975 commented on #501
Thanks, but I understand how things works when everything is based on RPC transport. What I'm asking is how this proposal will maintain the back pressure and processing guarantees if the transport is based on unbounded queues.
What I'm getting at is that making the transports simply a matter of configuration may seem attractive, but might be a mistake - they are not interchangeable as far as abstr

[2021-12-09 14:41] daveman1010221 commented on #3146
This example is the one I am going to attempt to get working with Nomad, time permitting:

https://github.com/second-state/dapr-wasm

[2021-12-09 15:47] jason-visotrust commented on #501
Why would it need backpressure? The actor is going to pull messages at its own rate?

[2021-12-09 15:56] yaron2 commented on #501
Dapr will consume the pub/sub message and then invoke the actor as if it were a synchronous RPC message, meaning it will respect the turn based concurrency of the actor.

[2021-12-09 16:29] codesmon commented on #777
Hi Team, is there any news on when this will be ready for use? It appears it was Alpha in August, has it progressed since then?

[2021-12-09 16:45] yaron2 commented on #3146
That will be a really good use case. We'd love for you to come show this on a community call if/once you get to it.

[2021-12-09 17:55] et1975 commented on #501
To be clear my concerns stem from the "send", not "consume" side of things.

The concern is fault handling, here's the scenario: Actor A -queue-> Actor B.

From A's perspective, the invocation to B is complete and successful the moment dapr publishes it to the broker. This changes the semantics of the interaction from trustworthy (B's done it's work) to untrustworthy (A has no idea if B will ever

[2021-12-09 18:34] AmrElsehemy commented on #1850
Same need/use case here.
Containers do service invokes over gRPC, and have an HTTP for external clients (frontend)

Now I need to build an aggregator or bff; which basically routes http

[2021-12-09 18:41] ItalyPaleAle commented on #3332
And we're back one month later. Hi bot!

[2021-12-10 05:57] NiubilityOptimus opened #4015 "Hate iron but not steel"
Why **.Net** is not popular all the time is largely due to Microsoft itself. Ironically, _Dapr_ as a good project, but doesn't use .Net to develop, nevertheless use **golang**

[2021-12-10 06:08] yaron2 commented on #4015
Closing as irrelevant.

[2021-12-10 06:08] #4015 closed

[2021-12-10 06:59] denis111 commented on #1850
The use case is mentioned before: transferring large files (inputStreams), for example multiple file validation and content extraction services which pass a file or modified file or extracted content between them. gRPC doesn't seem to be a good choice for large binary file transfers...

[2021-12-10 10:57] hareesh-mandaloju commented on #3169
Organization/Company: Openplay Technologies Pvt. Ltd.
Website: https://www.openplaytech.com/
Country: India
Contact: hareeshkumar.mandaloju@openplaytech.com
Usage scenario: Using Dapr to enrich inter process communication with pubsub, observability and other features.
Status: Development

[2021-12-10 11:02] geekgao opened #4017 "ERR_DIRECT_INVOKE: fail to invoke: app channel is not initialized"
We deploy app to k8s cluster (TLS disabled). But app caller is error, like this:

[code]

**io.dapr.exceptions.DaprException: ERR_DIRECT_INVOKE: fail to invoke, id: policy, err: rpc error: code = Internal desc = app channel is not initialized**

Any suggestions?

---
This is my k8s conf piece:

[code]

seems the port and host is ok:
[code]
Network is works.

[2021-12-10 11:15] hareesh-mandaloju commented on #3983
By having maxGracefulShutdownDuration as 30sec, user will be forced to choose either 5sec or 30sec graceful shutdown period, think of a user who may need a grace period of more than 30sec. If its configurable, user can leave it to default of 5sec or to a value which suits his application requirements. If we don't have this limit, no harm will happen, if user need to set this, he will set it based

[2021-12-10 12:02] #3838 closed

[2021-12-10 17:29] martin-bucinskas commented on #4017
Is your idp service on the same namespace as the policy service? If not, then you can invoke the service in another ns (https://docs.dapr.io/developing-applications/building-blocks/service-invocation/howto-invoke-discover-services/#namespaces)

[2021-12-10 18:27] #3824 closed

[2021-12-10 18:36] #3938 closed

[2021-12-10 18:38] #3939 closed

[2021-12-10 19:54] yaron2 commented on #4017
Can you paste here the deployment YAML of the target service you're trying to call?

[2021-12-10 22:16] greghoover commented on #3991
In addition to modifying the envelope structure, please also make it possible for PublishEventAsync and InvokeBindingAsync to explicitly assign as many CloudEvents attribute values as appropriate. Maybe it would not be appropriate to allow explicit assignment for some of the attributes that dapr auto-assigns, but having the option to populate and/or override attribute values via the .NET SDK would

[2021-12-10 22:25] #3844 closed

[2021-12-11 03:20] geekgao commented on #4017
different namespace

[2021-12-11 03:21] geekgao commented on #4017
Different namespace

[2021-12-11 04:54] #3845 closed

[2021-12-11 05:15] geekgao commented on #4017
Already solved.
Cause: Several services have the same app-id name, but some are not listening on the port.

[2021-12-11 05:15] #4017 closed

[2021-12-11 05:18] geekgao commented on #4017
That's my mistake. But I don't think Dapr has a very clear hint either

[2021-12-11 05:27] Taction commented on #3983
@hareesh-mandaloju Thanks, sounds reasonable. Setting maxGracefulShutdownDuration to 30sec is because I think this may only be needed to set in Kubernetes and its graceful period is 30sec. I will remove this limit and keep the doc to remind users not to set this value larger than 30sec in Kubernetes.

[2021-12-11 07:59] Taction commented on #4008
I've found the reason. Dapr has added a unescape middleware for those routes that have parameters in the path(related to dapr/dapr#3355). https://github.com/dapr/dapr/blob/master/pkg/http/server.go#L313

Add a parameter `KeepParamUnescape` in `Endpoint` to define if this route needs this middleware.  Another thing is fasthttp will decode the path, so double encoded is needed, I would like to know

[2021-12-11 07:59] Taction commented on #4008
/assign

[2021-12-11 08:18] withinboredom commented on #4008
Fixing it would be a breaking change, but I think fixing it is the right thing to do. Right now it's doing unexpected things and unexpected things breed bugs.

We can also fix it by just documenting the behavior and providing a "best practices" for escaping that SDKs should implement so that application devs don't get surprised.

As it is right now, an SDK can double escape before sending. This wo

[2021-12-11 11:01] mcrio commented on #4008
Hi. If there will be any auto unescaping of URLs, ideally that would be very well documented as not everyone is using or can use SDKs. Preferably we'd go the defensive way and not automatically decode anything as it can lead to more unforeseen problems at the application level.

Does the router match the method to be invoked as path parameter and decodes that automatically when passing to request

[2021-12-12 00:44] tonyqus commented on #3902
Docker swarm doesn't support pod at all. Where will the sidecar container be put for each service?

[2021-12-12 03:41] #3869 closed

[2021-12-12 04:51] timeshift92 commented on #3902
At the moment, our organization has its own small data center, and it is already in kubera (huawei fusion)
therefore, I wanted to minimize resource consumption by adding docker to swarm mode, I have 3 servers
1 - maganer
      - docker registry
      - dapr
2 - worker-1
   ---- app
  ---- app-sidecar

2 - worker-2
  --- app2
--- app2-sidecar

in swarm mode I did not succeed

[2021-12-13 02:34] CrazyHZM commented on #3761
@artursouza
Please reopen this issues.

[2021-12-13 07:38] xj524598 opened #4022 "When grpc middleware can be used like http middleware"
Hi,Dapr:
 When  grpc middleware can be used like http middleware? i colud not find it in road map

[2021-12-13 08:16] real-zony commented on #3837
I have this problem too.

[2021-12-13 11:01] tanvigour commented on #3983
Yes I agree with @Taction here, if we set this user configurable and user decides to set it greater than 30 sec, we should mention in the doc so users watch out for huge shutdown period that might mask other issues. Also, it might make sense to throw a warning in the code as well if grace period is set beyond 30

[2021-12-13 11:13] Taction commented on #4008
After a quick view of fasthttp's config, I found some configs used for proxy. These configs disabled default path normalization behavior, act just like there is no proxy.
https://github.com/valyala/fasthttp/blob/master/uri.go#L61

@withinboredom This change only affects direct method call from sidecar->app, state store keys and names will be unescaped as before. And SDK escape was not needed now.

[2021-12-13 11:31] #3742 closed

[2021-12-13 12:03] Syuparn opened #4023 "AppID validation does not work when 59 <= length <= 63"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

When invalid AppID is given to the injector, it raises a validation error.

## Actual Behavior

When using AppID whose length is between 59 and 63 characters, sidecar service is not created.
However, sidecar injector does not raise the validation error.

This is due to sidecar service suffix `-dapr`. While injector ensures AppID

[2021-12-13 12:39] Rob623 commented on #3878
btw, I get that dapr wants to work by the namespaced k8s objects as best practice.  But there is a reason that its a best practice and not a "law". For example, k8s could have blocked cross namespace activities completely if they were automatically considered bad design. but sometimes you do need this ability.

use case:
k8s cluster as a single system where namespaces encapsulate applications for

[2021-12-13 15:34] Taction commented on #3983
@tanvigour Good suggestion, I'll add a warning log later.

[2021-12-13 16:59] yaron2 opened #4025 "Clarify message about app channel not initialized"
In order for Dapr to deliver events to the app, users need to supply Dapr with the app-id. The error message that appears in the logs if a sidecar that doesn't have an app-id is trying to get invoked is that the app channel is not initialized. This could be made clearer by changing the log message to something like:

`app channel is not initialized. did you make sure to configure an app-port?`.

[2021-12-13 17:18] yaron2 commented on #2817
I agree that the API and Dapr should not be strongly bound in that the APIs can develop independently from the Go implementation of Dapr.

Supporting custom APIs is also something I think would benefit the community a lot, and this needs some thought inside `dapr/dapr` as for how this works with middleware, tracing, metrics and security. I don't see an issue there, but at the very least, this can

[2021-12-13 17:20] yaron2 commented on #2817
@seeflood and @kevinten10 I will bring this up to the Dapr steering committee on the next meeting and request to open a SIG for this. I'm including you both unless you tell me otherwise.

[2021-12-13 19:13] yaron2 commented on #3826
Reopened

[2021-12-13 23:38] yaron2 commented on #3867
@Abhilash-Chandran we now have a new [Dart SDK repo](https://github.com/dapr/dart-sdk). Please look out for a GitHub invitation to join the Dapr Org and maintainers team.

You can now push the code to the new repo. Congrats :)

[2021-12-14 00:19] seeflood commented on #2817
@yaron2 Thanks! I'm in .

[2021-12-14 00:21] seeflood commented on #3549
@yaron2 OK. I will start coding recently

[2021-12-14 00:22] yaron2 commented on #3549
Hold on for just a bit! I want an approval on this from @artursouza too, then you can start :)

[2021-12-14 00:24] seeflood commented on #3549
@yaron2 OK  :)

[2021-12-14 01:04] tony-clarke-amdocs commented on #3256
I am facing the same issue. I had to log off VPN before I could get the first example to work. It took several hours even before I came to that point. Even now it's not clear to me how the VPN is causing issues. Is there a way to make mDNS work with the VPN on?

[2021-12-14 03:51] kevinten10 commented on #2817
@yaron2 Thanks! All right!

[2021-12-14 04:13] loyldg opened #4026 "jsoniter.Unmarshal deserialization int64 lose precision"
## In what area(s)?

dapr use jsoniter.Unmarshal to decode json string,
when decode int64 value (greather than 2^52) into map[string]interface{} ,it will decode int64 as float64,and will lose precision.
## What version of Dapr?

## Expected Behavior

pubsub:The subscriber receive the same data as published
[code]

## Actual Behavior

The subscriber received data is
[code]

## Steps to Reproduce th

[2021-12-14 04:15] #3860 closed

[2021-12-14 06:09] beiwei30 commented on #3942
I agree with Yaron's opinion.

[2021-12-14 13:51] Abhilash-Chandran commented on #3867
Hey @yaron2, thanks a lot for the invite and I have accepted the invite now. I will check-in the source after today's community call. 😃

[2021-12-14 15:18] haobiaosheng opened #4029 "the zipkin container with the latest darp has the log4j, version is 2.13.3,this version is bug,when to update it ?"
darp init

and will start a zipkin container in host

exec into the zipkin container, in /ziplin/BOOT-INF/lib/log4j-core-2.13.3.jar this path, the log4j version has bug, when tu update the zipkin image version with the latest Dapr version.

[2021-12-14 17:36] #3862 closed

[2021-12-14 17:50] fvelaayl commented on #3169
Organization/Company: Dedalow / NTT DATA
Website: https://dedalow.com/
Country: Spain
Contact: fvelaayl@nttdata.com
Usage scenario: Using Dapr to integrate cloud services (Azure and AWS):
- AWS S3
- Azure Blob Storage
- Redis Streams
- Azure Service bus
- SMTP

Status: Production

[2021-12-14 18:35] hoffe86 opened #4030 "Allow HTTP PATCH on Dapr Invoke request"
## In what area(s)?
/area runtime

## Describe the feature
For our solution we are using Dapr for to secure the internal and external communication with TLS.
Therefore http requests are rewritten from a external to dapr invoke URI schema , which will be injected into the sidecar architecture via a daprized nginx pod.

This also applies to requests for the AAD SCIM Provisioning to our SCIM POD with

[2021-12-14 20:37] R-Lamberson opened #4031 "Dapr Publish to Topic failing - requires restart of contaienr"
## In what area(s)?

In the dapr runtime

## What version of Dapr?

using  1.2.x

## Expected Behavior

We have a .net core service worker process that is publishing messages to an Azure service bus Topic.   Expectation is that this will run stabily without user intervention

## Actual Behavior

The service worker process runs stabiliy for periods of time but will encounter the following error whi

[2021-12-15 01:19] doddgu commented on #3169
Organization/Company: Lonsid
Website: In Development
Country: WenZhou / China
Contact: gushoudao@masastack.com
Usage scenario: Using Dapr to refactoring Lang Tao Mall and IoT projects using DAPR.
Status: Lang Tao Mall(Production)  IoT (POC)

[2021-12-15 01:25] wcs1only commented on #4030
Can you confirm what version of the Dapr runtime you are using? We had a change in v1.5 to enable PATCH, for service invocation scenarios: #3697

If you are on v1.5 already, can you please provide us with reproduction steps? We do have an automated E2E test around this scenario, and I've confirmed that it is currently passing. That doesn't preclude a problem, but if we do have a problem it is on a

[2021-12-15 02:38] CrazyHZM commented on #3991
Second step：

##### PublishEventRequest adds attributes：

[code]

##### TopicEventRequest added attributes

[code]

[2021-12-15 03:09] HugoChanD commented on #3624
This didn't solve my problem

[2021-12-15 03:26] #4025 closed

[2021-12-15 03:26] yaron2 commented on #4025
@theonefx thanks for the PR. can you comment here with `/assign` so we can include this in our 1.6 release notes? thanks :)

[2021-12-15 03:28] #4023 closed

[2021-12-15 03:34] rojamajor opened #4033 "Through daprClient.GetSecretAsync() call, an exception occurred, and I don't know why。"
{"EventId":13,"LogLevel":"Error","Category":"Microsoft.AspNetCore.Server.Kestrel","Message":"Connection id \u00220HMDVEB6O480K\u0022, Request id \u00220HMDVEB6O480K:00000002\u0022: An unhandled exception was thrown by the application.","Exception":"System.AggregateException: One or more errors occurred. (Secret operation failed: the Dapr endpoint indicated a failure. See InnerException for details

[2021-12-15 03:54] yaron2 commented on #4033
I think you're running in a non-default namespace.

Did you apply these resource in your namespace? https://docs.dapr.io/operations/components/component-secrets/#non-default-namespaces

[2021-12-15 04:51] hueifeng commented on #3837
Any update?

[2021-12-15 05:01] artursouza commented on #3549
I have a concern about making the distributed lock API to fit into the state store. These are difference use cases. There might be a way to implement the lock API in some of the components that also offer state store. I propose we keep those separate. The more "optional" APIs we add to a building block, less portable it becomes. We might end up with very few actual compatible implementations as th

[2021-12-15 05:26] artursouza commented on #4029
Moving this to CLI

[2021-12-15 05:38] yaron2 commented on #3549
Yeah I agree, but this proposal support the solution.
Either lockstore components or existing state store components can implement the interface. The factory loaders in `daprd` are interface based, which means that they can load both state store components that implement the interface and separate lockstore components.

This also allows lockstore components to gradually make it into statestore com

[2021-12-15 06:06] paulyuk commented on #3549
I agree portability is a value we want to preserve without diluting, and also want to watch out for both "API explosion" and "option explosion" as we do more features like this.  That said I think I prefer the problem of more optional APIs in a building block versus more duplicate building block APIs and a matrix of components to cover each feature permutation.  Could we get more specific what the

[2021-12-15 06:39] rojamajor commented on #4033
The problem is solved，thank u !

[2021-12-15 07:02] artursouza commented on #3549
Before we optimize for reuse of component code, what will actually be reused? The storage for lock seems to be separate from the state storage we have now. Components that implement both interfaces would need to create two different "tables" even if only one is used. I am leaning towards no reuse and keep it separate from state store.

[2021-12-15 07:06] artursouza commented on #3549
One more point is how this will affect existing state stores that are stable. Does it mean we have to mark each capability as alpha-beta-stable? I would rather not overindex a building block with too much functionality.

[2021-12-15 07:15] yaron2 commented on #3549
Again, this is not an issue as we don't need to add it as a state store feature.

Then, we get the best of both worlds, and can have separate implementations and reuse a state store if that makes more sense on a case by case basis.

[2021-12-15 07:24] theonefx commented on #4025
/assign

[2021-12-15 07:25] theonefx commented on #3995
/assign

[2021-12-15 07:34] Taction commented on #3549
I prefer to keep it separate from the state store. Maybe we can create an adapter to reuse state store codes, just like:
- dapr/components-contrib#1305

[2021-12-15 08:43] ysjjovo opened #4034 "Can not save state in quickstart tutorial."
## In what area(s)?
/area docs
## What version of Dapr?
1.5.1
## Expected Behavior
Save sate successfully.

## Actual Behavior
empty response

## Steps to Reproduce the Problem
Here is my shell comand execution & output.
[code]

[2021-12-15 08:49] yaron2 commented on #4034
Can you run with the --log-level debug param and paste your logs here?

[2021-12-15 08:52] yaron2 commented on #3549
See my comment above.

[2021-12-15 08:53] #4033 closed

[2021-12-15 09:18] ysjjovo commented on #4034
Here is the 'dapr run' output with log-level debug param
[code]
After I run command ```curl -X POST -H "Content-Type: application/json" -d '[{ "key": "name", "value": "Bruce Wayne"}]' http://localhost:3500/v1.0/state/statestore```,get output below.
[code]

[2021-12-15 12:41] hoffe86 commented on #4030
Hey @wcs1only
Seems our POD was not updated to the latest version of dapr.
After the redeployment the HTTP Patch is working now.

I will also update the documentation for dapr invoke reference

[2021-12-15 12:50] hoffe86 commented on #4030
Fixes dapr/docs#2045

[2021-12-15 14:56] real-zony commented on #4026
This issue is the same as [https://github.com/dapr/dapr/issues/3837](https://github.com/dapr/dapr/issues/3837).
I think it is caused by the JSON deserialization. [https://github.com/square/go-jose/issues/351](https://github.com/square/go-jose/issues/351)

[2021-12-15 16:46] #3865 closed

[2021-12-15 18:05] artursouza commented on #3549
I have some minor comments on the API itself but I can defer that to the PR so this issue does not explode with comments. For now, I think we should not offer this feature in state store at all. Everything else, we can discuss in the PR. I think the distributed lock API is important.

[2021-12-15 18:31] yaron2 commented on #3549
@seeflood you can start working on the PR :)

[2021-12-15 21:42] #3870 closed

[2021-12-15 22:53] paulyuk commented on #3549
looking forward to this, and thank you @seeflood.  when you get a chance can you please clarify the top priority backends we want to enable locking for?

[2021-12-16 17:12] amulyavarote commented on #4034
I see that the statestore component is loaded. Are you using the default statestore yaml provided by dapr?

[2021-12-16 21:24] #3734 closed

[2021-12-16 22:17] patrickxiong commented on #2896
/assign

[2021-12-17 02:11] ysjjovo commented on #4034
Yes,I followed this '(get started)[https://docs.dapr.io/getting-started/get-started-api/]' turorial,```dapr init```will run redis with docker.
[code]

[2021-12-17 05:26] viveknuna opened #4038 "Why Azure event hub subscriber not working?"
I am implementing an azure event hub subscriber which is successfully able to connect but it's not receiving the message for a particular event hub in an event hub namespace. But it's working as expected for the other event hub in the same namespace. there is no error in the logs. Is there any way to find out the root cause of the issue?

I am successfully able to publish the message with the same

[2021-12-17 10:31] Taction commented on #4034
Seems it works fine from the start log. Haven't reproduced this issue.
@ysjjovo Can you please provide the result of `curl -X POST -H "Content-Type: application/json" -d '[{ "key": "name", "value": "Bruce Wayne"}]' http://localhost:3500/v1.0/state/statestore -v` and `cat /root/.dapr/components/statestore.yaml`?

[2021-12-17 17:49] amulyavarote commented on #4038
It is probably expecting data in a particular format. I recommend to check the docs of a particular language to see what data format is expected by the subscriber.

[2021-12-17 18:01] viveknuna commented on #4038
It was working as expected with the same code and configuration. But suddenly it stopped working. So I don't think it's related to data.

[2021-12-17 18:03] amulyavarote commented on #4038
Were you on a different Dapr version when it was working?

[2021-12-17 18:20] viveknuna commented on #4038
It's same version. Everything is as it is.

[2021-12-17 18:36] viveknuna commented on #4038
This is my subscriber code.

    [ApiController]
    public class DaprController : ControllerBase
    {
        private readonly ILogger<DaprController> _logger;
        public DaprController(ILogger<DaprController> logger)
        {
            _logger = logger;
        }

        [Topic("myservice", "mytopic")]
        [HttpPost("/mytopic")]
        public ActionResult ProcessData([FromBody] str

[2021-12-17 21:25] #3839 closed

[2021-12-18 01:57] ysjjovo commented on #4034
Here is the related result.
[code]

[2021-12-18 07:35] Taction commented on #4034
Thank you for your information. It seems that the request is proxied to daprd (not sure about it). If this is the case, the real error message may be hidden by the proxy.

[2021-12-19 08:38] #3758 closed

[2021-12-19 11:44] zivfuture commented on #2885
yes,  we need this feature!

[2021-12-19 12:13] zivfuture commented on #3385
Hi @quickstar , Have you tried  "bridge to kubernetes" ?    It doesn't  work for me.

[2021-12-19 13:03] zivfuture opened #4041 "invocation from local environment to k8s"
When we developing  some microservice in our local environment, we can't invoke other api in k8s from our laptop.
we tryed 'kubefwd', 'bridge to kubernetes' .  but failed. they don't fit dapr
How should i do?
Thanks!

[2021-12-19 13:12] zivfuture commented on #4041
[2885](https://github.com/dapr/dapr/issues/2885)  this is what i am looking for.  but i not found any solution on it .

[2021-12-20 02:47] SayHelloGsx commented on #3837
Yeah I got the same problem too. Could any one tell me how to fix it?

[2021-12-20 03:10] yaron2 commented on #4026
Closing as dupe of #3837

[2021-12-20 03:10] #4026 closed

[2021-12-20 03:11] yaron2 commented on #3837
I triaged this to be fixed in 1.6.

cc @artursouza

[2021-12-20 04:02] #3767 closed

[2021-12-20 05:31] artursouza commented on #3837
Is this a runtime or SDK issue?

[2021-12-20 05:55] yaron2 commented on #3837
Runtime

[2021-12-20 06:29] hueifeng commented on #3837
Serialization is used in [runtime.go](https://github.com/dapr/dapr/blob/cb6b557bc016c21aaecdbf6d634e5e4145af2d62/pkg/runtime/runtime.go#L513), but when it encounters 64bit it automatically identifies Number as float64.

For example:

[code]
<img width="702" alt="739f6f2a275078a3e0fe9d341219d33" src="https://user-images.githubusercontent.com/34702552/146720430-875f3b77-3004-451c-b0f3-e8b349c58b44.p

[2021-12-20 07:44] yaron2 commented on #3837
Related, possible: https://github.com/json-iterator/go/issues/510

[2021-12-20 07:47] git102347501 opened #4042 "DaprClient.InvokemethodAsync invokes the HTTP service under concurrent conditions and throws an exception"
## Area
China

## Runtime
- Net6.0
- VS2022
- Windows10
- Darp 1.5.0
- Docker version 20.10.11

## Docs
https://docs.microsoft.com/zh-cn/dotnet/architecture/dapr-for-net-developers/getting-started

## Ask your question
I try to use **DaprClient.InvokemethodAsync** to access the HTTP interface of another service. When there are more than 10 concurrent requests, one or two of them will occasionally

[2021-12-20 08:04] doddgu commented on #4042
I have a similar problem.

[2021-12-20 08:33] hueifeng commented on #3837
@yaron2 You can consider using the following code to solve.
[code]
Use the func (*Decoder) UseNumber method to deserialize the numeral type of json, instead of directly converting to float64, convert to json.Number, json.Number internal:
[code]

[2021-12-20 09:06] #4042 closed

[2021-12-20 09:12] viveknuna commented on #4038
@amulyavarote Adding more information:

I have tried my application with a different storage account and it's working as expected. So what is the issue? How can I resolve it? I want to work with my old storage account.

[2021-12-20 11:14] #3765 closed

[2021-12-20 12:11] Insighter2k opened #4043 "OpenTelemetry Collector (App Insights) with HTTP request / response body"
## Describe the feature
I have implemented your observability block for Application Insights, but I am missing the request / response body when I am checking the App Insights.
In discord, I have read that this feature is currently not planned. That's why I am asking for this feature, as this seems quite useful for additional tracing / loggins mechanism.

Kind regards

[2021-12-20 13:56] badgeratu commented on #3256
@artursouza Can you please provide a link to that PR? Because I don't believe `dapr list` is yet showing `daprd` instances started standalone:
![image](https://user-images.githubusercontent.com/5095203/146778314-d951421d-cec1-4635-ad8e-7b6c135bed2f.png)

[2021-12-20 17:42] halspang opened #4044 "Update to Release Note Generation"
## Description
Recently, I made a small update to the Azure Go SDK. When I made this change I found their release note process to be interesting. Instead of tagging the issues with a release note tag, they instead had a change log. Updating the change log was a required part of the PR. My question is, would people be interested in trying this for Dapr? Or perhaps one of the SDK repos (I volunteer

[2021-12-20 19:25] artursouza commented on #2892
Moving this to 1.7 so we have time to incorporate this in the SDKs with proper docs.

[2021-12-20 22:55] yaron2 commented on #3888
The short answer is that it's not allowed to host the same actor in multiple apps, yet this should be documented.

What's the use case for hosting the same actor in two different hosts with different IDs?

[2021-12-21 00:17] yaron2 commented on #3918
See here: https://github.com/dapr/dapr/issues/3888#issuecomment-998329817.

[2021-12-21 01:30] #3899 closed

[2021-12-21 01:55] saber-wang commented on #3888
@yaron2 For example, I provide actors through nuget. At this time, the same actor may be hosted in multiple services and perform the same functions。

[2021-12-21 05:50] greghoover commented on #3991
Will all of these fields be accessible via the .NET SDK? Curious as to what that API surface area becomes and which parts are readable and writable. I am not sure what to glean about the SDK by looking at the structure, and I'm not familiar enough with the structural details to provide any real constructive feedback (sorry). As long as there is a way to control pushing pre-defined and arbitrary co

[2021-12-21 06:55] zivfuture commented on #2885
Five months have passed since this issue started. Is there Any plan to support this?

[2021-12-21 07:16] li1234yun opened #4045 "Dapr stop app gracefully when dapr exit."
## In what area(s)?

## Describe the feature

When I use FastAPI with dapr like `dapr run -a app -H 3500  -G 50001 -p 8000 -P http --log-level info -- uvicorn --host 0.0.0.0 --port 8000 app.main:app`, I can not get the FastAPI `shutdown` singal when dapr exited. But When I use `kill pid` to stop FastAPI app will get the `shutdown` singal, use `kill -9 pid` to stop FastAPI app also will not catch t

[2021-12-21 09:59] uptutu opened #4046 "ambiguous import becuz found multiple modules"
## Problem

I used `antlr/antlr4` in my project and the package had some incompatible updates that I traced back to dapr using the package in `google/cel-go`, resulting in me not being able to compile it now.

Go version in My Project mod.go:
[code]
when I run `go mod tidy`:
[code]

If I change it to 1.17, then will edit my mod.go  `github.com/antlr/antlr4/runtime/Go/antlr v0.0.0-20211026222012-6a

[2021-12-21 10:04] tanvigour commented on #4046
let us know if upgrading package version solved the issue for you

[2021-12-21 10:09] tanvigour commented on #4044
I think this is a good suggestion. The current way of adding release notes at the end and sometimes that can get a bit tedious.

[2021-12-21 11:11] uptutu commented on #4046
Since I upgraded the mod from the dapr project, then my project is up and running. #4047

my previous mod.go:
[code]
and Run
[code]

now:
[code]
and Run:
[code]

[2021-12-21 13:22] Taction commented on #4045
I think this is related to dapr/cli. For now, https://github.com/dapr/cli/blob/master/cmd/run.go#L300 dapr kill the child process. In your case, you can use `Process.Signal` to inform the app process and wait a grace period until kills it. Better to add a flag such as `app-grace-exit` to make it configurable.

Would you be interested in submitting a PR to fix this?

[2021-12-21 21:14] Flern opened #4048 "Add TLS connectivity to gRPC proxy functionality when --app-ssl is enabled"
## In what area(s)?

/area runtime

## Describe the feature
Currently, the gRPC proxy feature establishes connectivity from the sidecar to the application container with the 'skipTLS' argument hard-coded to 'true'.  This feature would set that argument based on the 'app-ssl' configuration flag to enabling an SSL connection between sidecar and the application container.  This feature will allow the

[2021-12-22 07:29] bernoli commented on #3878
I strongly agree with Rob623, I see Dapr as toolkit for providing some great application capabilities out of the box,  and not deployment like K8s.
If I understand this correctly, Dapr will basically forcing applications to use 1 namespace if we wish to share components across all of our services. This is very limiting approach, I don't understand why do I have to have only namespaces like: produc

[2021-12-23 08:20] artursouza commented on #3910
We can add the label. That can expedite review.

[2021-12-23 12:53] quickstar commented on #3385
Hi @zivfuture, Yes it's running but you have to do a proper configuration which can be tricky especially if you're using devcontainers.

# Requirements to debug any service in our kubernetes cluster

1. Make sure that kubectl is installed inside the devcontainer
[code]
2. Mount the kubernetes config from the host
[code]

3. Add the [Kubernetes](https://marketplace.visualstudio.com/items?itemName=m

[2021-12-23 14:12] cero-t commented on #3169
- Organization/Company
  - Hoshino Resorts
  - Everforth
- Website:
  - https://www.hoshinoresorts.com/
  - https://everforth.co.jp/
- Country: Japan
- Contact: shin.tanimoto@everforth.co.jp
- Usage scenario: Trying Dapr as a key part of next generation platform of our microservices.
  - Runs on Amazon EKS w/ Java + Spring Boot + Aurora PostgreSQL + RabbitMQ + Amazon S3 + DataDog
- Status: Product

[2021-12-23 16:30] Admiralkheir opened #4051 "dapr-sidecar-injector include "not on the list of allowed controller accounts" error-log"
## In what area(s)?

/area runtime

## What version of Dapr?

## What version of OKD?

## Expected Behavior

dapr-sidecar-injector should not generate this error. I don't know this error effect some important thing or not

## Actual Behavior

dapr-sidecar-injector frequently generates this log but we don't have a problem with side car injection. Our pods have daprd sidecar.

The related injector l

[2021-12-24 06:49] shivamkm07 commented on #3930
The issue stemmed from [fasthttp](https://github.com/valyala/fasthttp) not closing idle connections on Shutdown earlier. However, the same issue has been fixed and merged in upstream(https://github.com/valyala/fasthttp/pull/1155). So just upgrading the dependency to latest commit(https://github.com/valyala/fasthttp/commit/4517204499caef79d5a956cc816e5f0903f0ff6d) works.

[2021-12-24 08:28] ls-2018 opened #4052 "Components are still visible after they are deleted"
**In what area(s)?**
/area runtime

**What version of Dapr?**
1.5.0

**Expected Behavior**
No longer contains components

**Actual Behavior**
The component is still included

**the component yaml**
[code]
**Steps to Reproduce the Problem**
 kubectl apply -f test.yaml
 wait 1 m
 kubectl delete -f test.yaml --force
 then wait many sennds
![image](https://user-images.githubusercontent.com/38821215/14

[2021-12-24 09:09] seeflood commented on #3549
Thank you all for your discussion !
Just to make sure:

## About code reuse
So our conclusion is not to add a new feature to the state component, but to separate the lock interface from the state interface. Meanwhile, the existing state components can implement the lock interface for code reuse.
The lock interface looks like:
[code]

For example, a redis Store might implement both `state.Store` an

[2021-12-24 09:12] Zombie123456 opened #4053 "How dapr run django ut in github action"
![image](https://user-images.githubusercontent.com/41881936/147338421-adc4d552-0daa-4f8c-917d-bed25fe4d2f3.png)

my command is
`dapr run --app-id test_app -- python manage.py test`

But what I expect is an abnormal exit, not a normal exit,
So that I can know that my unit test failed.
So that I can know that my unit test failed?

[2021-12-24 09:16] seeflood commented on #3549
I want to write a simple redis lock (not redlock) in the first iteration because it's simple enough to show the idea and have discussion on :)
We can add other components like zookeeper and etcd in the future iteration

[2021-12-24 09:21] seeflood commented on #3549
@artursouza Sorry, I forgot to reply
I prefer to have the lock API in the second or third iteration to prevent this issue explode 💥

[2021-12-24 10:24] ls-2018 opened #4054 "Error in component field causing daprd panic"
**In what area(s)?**
/area runtime

**What version of Dapr?**
1.5.0

**Expected Behavior**
There won't be panic

**Actual Behavior**
generate panci

**the component yaml**
[code]
**Steps to Reproduce the Problem**
daprd is already in operation
 kubectl apply -f test.yaml
 then wait many sennds
![image](https://user-images.githubusercontent.com/38821215/147344661-ff1d9b11-7624-4dd9-be51-2f4c6c6294d

[2021-12-24 10:52] ls-2018 commented on #4034
[code]
I run it locally and print the following log
[code]
It looks like your connection went to another machine

[2021-12-24 11:29] theonefx commented on #3947
This feature depends on sidecar knowing the PodName to which it belongs.
We can obtain the PodName at injection time.

[2021-12-24 12:22] ls-2018 commented on #4041
In our company, we will through the kubectl sentry, placement, operator port forwarding to the local, and set the program starts ca&pen & key to achieve the goal of local debugging

[2021-12-24 16:42] yaron2 commented on #4054
Thanks, I verified it this morning.

To be clear:

`daprd` will crash if a Pubsub component has the following (wrong) subscriptionTopics:

[code]

When this is the valid format:

[code]

[2021-12-24 16:43] yaron2 commented on #4052
on k8s, to update the sidecar with the latests components you need to rollout restart your deployment.

[2021-12-24 16:44] yaron2 commented on #4051
Thanks @Admiralkheir.

This should be easy to fix by adding the OKD service account to the list of allowed service accounts in Dapr. If you're up for it, please open a pull request.

[2021-12-24 16:47] yaron2 commented on #3947
Kubernetes calls the admission controller before the pod gets created, and at injection time it doesn't have a name yet. We can use the Kubernetes Downward API to inject the pod name, but we need to be mindful that many platforms supported by Virtual Kubelet don't honor the Downward API.

[2021-12-24 16:53] ls-2018 commented on #4052
yes,i know. restart pod but deleted component show again

[2021-12-24 17:00] yaron2 commented on #4052
After you delete the yaml, can you paste here the output for `kubectl get components redis-statestore -n mesoid`?

[2021-12-24 22:51] #3915 closed

[2021-12-25 00:56] ls-2018 commented on #4052
[code]

we can see statestore failed to delete

[2021-12-25 00:57] ls-2018 commented on #4052
It's as if the operator has a cache

[2021-12-25 07:07] CrazyHZM commented on #4054
/assign

[2021-12-26 09:23] git102347501 opened #4057 "daprClient.GetStateAsync: error starting gRPC call. HttpRequestException: Connection refused (127.0.0.1:50001)"
## In what area(s)?
runtime

## What version of Dapr?
1.5.0

## Expected Behavior
Can get status

## Actual Behavior
get status error

## Ask your question
I try to use dapr's state management in webapi project, but the error is reported when getting the state. Why？
- My Code：
![image](https://user-images.githubusercontent.com/37917403/147404016-5a3cfd88-17bb-4685-82ba-1d61dad09b89.png)
- My Excep

[2021-12-26 15:48] sedat-eyuboglu commented on #4051
@yaron2 Could you comment the side effects of this issue? As Admiralkheir said, we didn't face a problem while service invocation and using components state and pub/sub.
What is the negative effect of this issue?

[2021-12-26 21:45] mbimbij opened #4058 "server generated keys for statestore items"
## In what area(s)?

/area runtime
/area docs

## Describe the feature

Allow an application to let Dapr handle the creation of the key, with guarantee of uniqueness, etc. instead of being forced to provide it from the application

## Release Note

RELEASE NOTE: **ADD** server generated id for statestores

[2021-12-27 03:01] theonefx commented on #3947
Yes, you warned me about Downward API in another PR. But if the platform not support Downward API well, the solution is going to be more complicated:
* Watch Pod CREATE event to get POD_NAME;
* Set POD_NAME to daprd;

[2021-12-27 03:05] theonefx commented on #3947
/assign

[2021-12-27 03:57] CrazyHZM commented on #4051
This does not affect the components you mentioned, it only affects the problem of OKD injector

[2021-12-27 03:59] CrazyHZM commented on #4051
@yaron2
I think we can provide configuration capabilities for the list of allowed service accounts, what do you think?

[2021-12-27 04:59] tanvigour commented on #4058
I think if you do not create explicitly it defaults to generation of id https://v1-rc3.docs.dapr.io/developing-applications/building-blocks/state-management/howto-get-save-state/#step-2-save-and-retrieve-a-single-state

[2021-12-27 05:14] sedat-eyuboglu commented on #4051
@CrazyHZM We use OKD and we saw that dapr sidecar was injected into the POD. So What do you mean by OKD injector?

[2021-12-27 05:25] mbimbij commented on #4058
I tested with mySql statestore, it does not generate a key, it just uses the key `$app-id||` with an empty string:

1. I created an item without specifying the key - and the result in mySQL (5 rows)
`curl -X POST -H "content-type: application/json" localhost:3500/v1.0/state/statestore -d '[{"value": {"name": "learn istio", "state": "TODO", "otherValue": "someOtherValue"}}]' -w "\n"`
![image](https

[2021-12-27 05:29] #4054 closed

[2021-12-27 06:20] mbimbij commented on #4058
Same thing with Redis:

1. Create an entity without a key
`curl -X POST -H "content-type: application/json" localhost:3500/v1.0/state/redis-statestore -d '[{"value": "Batman"}]'`
![image](https://user-images.githubusercontent.com/1097193/147440768-09b26cd6-f337-42c6-8e83-55c36c69c1c6.png)

2. Create another entity without a key
`curl -X POST -H "content-type: application/json" localhost:3500/v1.0/

[2021-12-27 06:23] mbimbij commented on #4058
If the intended behaviour is to generate keys,
I think it should be added to unit /conformance / compliance tests

[2021-12-27 06:47] darren-wang opened #4059 "how to set timezone for dapr and daprd?"
I'm using v1.5.1 and found that my contol plane services and daprd are not logging with correct timezone.

I'm in China, which means the correct timezone should be `Asia/Shanghai` or `UTC+8`. However, according to the time control plane and daprd logged, they seem to use the `UTC+0` timezone.

I'm wondering how to set the timezone for dapr and daprd, thanks!

[2021-12-27 08:44] uptutu opened #4061 "Does Dapr plan to support stateful resource with create corresponding service?"
## Ask your question here
I found a related issue #3774 , but it's closed, I would like a faster response and more attention, so I am submitted this issue.

I had some similar confusion.

We have deployed a resource kind of Stateful and configured annotations  with "dapr.io/enabled". The pod is up and running with sidecar daprd, but is no corresponding k8s Service established, so that, it is unabl

[2021-12-27 16:49] yaron2 commented on #4061
We would welcome a contribution that enables creating a service for Stateful Sets in addition to Deployments, yes. Currently we are not planning on working on it (maintainers), but again, a community contribution will be accepted.

In the meantime, the workaround is to just create the Kubernetes service yourself.

[2021-12-27 16:54] yaron2 commented on #4059
It's not currently possible to change the timezone.

[2021-12-27 17:54] altitudems commented on #3976
Ditto ArgoCD, on k3s cluster.

Might it have to do with the liveness probe failing, and kubernetes doing a restart over and over?

[2021-12-27 18:00] altitudems commented on #3976
I'm not sure if this is the solution, and I don't know the root cause, but upgrading from v1.4.2  to v1.5.1 fixed the problem for me.

[2021-12-28 01:38] saber-wang opened #4062 "Dapr Operator Very High memory consumption"
## Ask your question here
![image](https://user-images.githubusercontent.com/45062099/147517874-7118a5ee-cebc-4346-93cb-ec52e5b39cce.png)

Last 100000 lines of log:
 [dapr-operator.zip](https://github.com/dapr/dapr/files/7782257/dapr-operator.zip)

[2021-12-28 02:31] #3602 closed

[2021-12-28 03:10] haoxins commented on #3976
https://github.com/dapr/dapr/pull/4049

we can custom probes after this PR~

[2021-12-28 03:12] theonefx commented on #4061
/assign

[2021-12-28 07:14] fanspace opened #4063 "grpc occur last connection error: connection closed error when cert expires"
**Note:** If you have a general support question and are looking for a quicker response, please checkout our discord channel for answers from the community:
https://aka.ms/dapr-discord

## In what area(s)?

/area runtime

## Ask your question here
dapr version  1.5.1   kubernetes  1.18
I build a grpc project in k8s base on
https://docs.dapr.io/developing-applications/building-blocks/service-invoca

[2021-12-28 08:28] #3636 closed

[2021-12-28 17:13] Rob623 commented on #3988
Good idea! We also need it.

+1 on this feature request

[2021-12-28 18:31] yaron2 commented on #4063
What is the "client" in your scenario? is it the app calling Dapr?

If the client is your app, when you say "restart" you mean the pod being restarted?

Also, can you run your app with the `dapr.io/log-level: debug` annotation and paste the updated logs here?

[2021-12-28 18:37] yaron2 commented on #3976
@haoxinst @altitudems can you confirm if Dapr 1.5.1 fixes this?

Also, if this is a probe timeout, then #4049 will enable this to work as @haoxins mentioned.

[2021-12-29 00:57] fanspace commented on #4063
thanks for your help
the "client" means  grpc client app,    which connect grpc port 50001,  and  this client app  is a  restful web service at port 7999
the "server" is my grpc server app, which  listening  at  port such as  8099 ...
when clinet occur connect closed,   i  had to  cmd  "kubectl delete pod xxsxxxx"  ,   the grpc client pod  will restart and all it works again
due to i dunno how to

[2021-12-29 02:30] geffzhang commented on #3169
Organization/Company: China Merchants International Technology Co., Ltd
Website: https://www.cmit1872.com/
Country: China
Usage scenario: Dapr is a core part of our microservice based Funding Platform, hosted on Rancher Kubernetes Service with a RabbitMQ Cluster for Pub/Sub , An aggregator acts as in intermediary/orchestrator between the microservices. All services  sit behind a APISIX API Gateway

[2021-12-29 09:03] 1046102779 opened #4065 "Proposal: support multi nameresolution"
At present, the nameresolution of the Dapr community is only used for service discovery between Dapr Runtimes, and the configuration initialization is completed through `a.globalConfig.Spec.NameResolutionSpec.Component` in the global config configuration;

However, when the business team uses binding external resources or accesses other external resources, it also needs to use nameresolution, and

[2021-12-29 09:16] 1046102779 commented on #4065
https://github.com/dapr/components-contrib/issues/1398

[2021-12-29 12:29] ls-2018 commented on #4065
Domain name resolution is currently only available in Direct Message. In K8S, based on the current messaging mechanism, is there any other way to resolve domain names?

[2021-12-29 12:33] 1046102779 commented on #4065
https://github.com/polarismesh/polaris
https://github.com/hashicorp/consul
and etc.

[2021-12-29 12:45] ls-2018 commented on #4065
Okay, I see what you're saying.

I see that the components library has an implementation of consul, but ```initNameResolution```  has some problems

[2021-12-29 16:15] trondhindenes opened #4067 "clarify intended behavior during shutdown"
## In what area(s)?
/area runtime

## Ask your question here
We find dapr pretty amazing, but we find ourselves struggling with how to deal with pod shutdowns.
I'd like to ask the maintainers to document the current expected functionality of dapr, no matter if it's less than perfect, so that we have a reference to validate against. Right now I have no idea how dapr is supposed to behave during pod

[2021-12-29 16:49] yaron2 commented on #3837
Thanks @hueifeng.

@artursouza after looking at this, I recommend we move away from `jsoniter` to the Go stdlib `encoding/json` library. It looks like since Go 1.14 performance is no longer a critical aspect of this library: https://github.com/json-iterator/go/issues/455.

[2021-12-29 20:32] #3983 closed

[2021-12-29 22:02] trondhindenes opened #4068 "important metrics are missing"
## In what area(s)?

/area runtime

## Describe the feature
while dapr exposes a while truckload of metrics, it seems to be missing what I would call the most relevant ones, such as pubsub messages in flight, service invocation requests in flight etc.

## Release Note

RELEASE NOTE:

[2021-12-29 23:55] artursouza commented on #3837
LGTM

[2021-12-30 00:00] yaron2 commented on #3837
@hueifeng would you like to contribute this change?

[2021-12-30 02:35] daixiang0 commented on #4065
Something like https://github.com/dapr/components-contrib/issues/1358

/cc @artursouza @yaron2

[2021-12-30 02:38] daixiang0 commented on #4068
@trondhindenes are you interested in adding them?

[2021-12-30 02:40] daixiang0 commented on #4062
Maybe need to enable the profile(https://docs.dapr.io/operations/troubleshooting/profiling-debugging/) to see which period costs too much memory.

[2021-12-30 02:42] daixiang0 commented on #4059
We would welcome a contribution that enables timezone config.

In the meantime, the workaround is to just mount the right timezone file to the container.

[2021-12-30 03:14] saber-wang commented on #4062
@daixiang0 If I don't see the debugging related to dapr operator, what should I do?

[2021-12-30 04:43] fanspace commented on #4063
after a day ,still occur  msg":"rpc error: code = Unavailable desc = last connection error: connection closed" error

i run app with debug mode,  haven't got the exact message  (another project with same config)

`{"app_id":"elearn-fore","instance":"elearnfore-57cc745dbb-d8r97","level":"info","msg":"enabled metrics http middleware","scope":"dapr.runtime.http","time":"2021-12-29T00:13:53.523177145Z

[2021-12-30 06:08] hueifeng commented on #3837
I can do it.

[2021-12-30 07:47] daixiang0 commented on #4062
Please check `charts/dapr/charts/dapr_operator/values.yaml` to enable it or `kubectl edit`.

[2021-12-30 08:26] trondhindenes commented on #4068
I would but I don't know how unfortunately.

[2021-12-30 09:52] trondhindenes commented on #4068
I had a look at the code now, and this is unfortunately a bit above my paygrade, not being a go dev. I assume it would be preferable to wire up these metrics not in each component implementation but in a location that will auto-enable these metrics for all pubsubs. I'm not able to understand how to do that, so I'm afraid I'll have to defer this to someone more comfortable with the codebase.

[2021-12-30 22:51] yaron2 commented on #3549
That is correct! :)

[2021-12-31 10:41] ls-2018 commented on #4059
The user program should not involve fetching dapr's runtime time zone.

[2021-12-31 11:18] abelperezok opened #4074 "Dapr sidecar injector does not complete its job"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

After installing dapr runtime in the kubernetes cluster (EKS) I expect that a new deployment will trigger the sidecar injector to add a dapr sidecar to my pod.

## Actual Behavior

However, it seems to do this half-way, it creates a new service (my manifest didn't contain one) with the same name of the deployment and a suffix "-d

[2021-12-31 20:08] yaron2 commented on #3945
@fjvela we need the logs of a crashed operator, you can get the logs of the previous container with the `kubectl logs --previous` flag.

[2022-01-01 02:16] ls-2018 commented on #3875
I don't think it would normally go this way; if the upper-level adminssionhook changes the number of spec.containers to 0, then it might go this way.

[2022-01-01 16:45] mbimbij opened #4076 "dashboard reports mTLS as disabled when enabled on self-hosted mode"
## In what area(s)?

/area dashboard

## What version of Dapr?

## Expected Behavior

dashboard should report mTLS as `enabled true` in config visualisation

## Actual Behavior

dashboard reports mTLS as `enabled false` in config visualisation in the first screen:
![image](https://user-images.githubusercontent.com/1097193/147855449-0a7445e5-15c1-4f36-9547-39dd4d6bde87.png)

mTLS is reported as ena

[2022-01-01 20:47] #3970 closed

[2022-01-02 00:34] #3950 closed

[2022-01-02 06:17] git102347501 commented on #4057
The reason is that there is a problem with my sidecar startup, which has been solved

[2022-01-02 06:17] #4057 closed

[2022-01-02 07:07] pkuma001 opened #4077 "Getting Empty reply from server for the curl request to consul component via Dapr sidecar."
## In what area(s)?

area runtime

## What version of Dapr?

CLI version: 1.5.1
Runtime version: n/a

## Expected Behavior

Giving curl request to consul component using dapr side car. Expected behaviour is to get the response for the api request.
Request sent from pod, “curl -k -v -X GET --header "dapr-app-id: consul" http://localhost:3500/v1.0/state/consul/v1/agent/members:

## Actual Behavior
T

[2022-01-02 09:34] #3929 closed

[2022-01-03 12:54] MoeweX commented on #3921
Not fixed

[2022-01-03 17:18] yaron2 commented on #3994
I support extending the trace information with API level and component specific information.

[2022-01-03 21:25] willtsai commented on #3982
I've tried to reproduce this, but getting a failure elsewhere when attempting to run invoke-receiver (below).
@wcs1only  - any ideas here?

[code]

[2022-01-03 22:31] willtsai commented on #3982
@wcs1only helped look into this. turns out the grpc proxying feature hasn't been released yet - I'm able to reproduce after installing the dev version SDK.

@wcs1only was able to repro as well and is looking into it.

[2022-01-03 23:02] wcs1only commented on #3982
So, I was able to reproduce this using `--app-port 50008` as you suggested. I suspect what is happening is that proxying crashes if a request comes in while daprd is waiting on the app to come up. If you are using the example unmodified, it doesn't listen on port 50008, so daprd will never complete its startup sequence.

You should get an error rather than a crash, however, so this is definitely a

[2022-01-03 23:03] yaron2 commented on #4077
Thanks for reporting this.

Can you explain what you're trying to do achieve by curling `http://localhost:3500/v1.0/state/consul/v1/agent/members`?

It's calling the Dapr state API, but I think what you want is to invoke a remote service using Consul. The correct endpoint would be: `http://localhost:3500/v1.0/invoke/<app-id>/<method>`.

The app-id is the ID of the remote app (as put in the YAML un

[2022-01-03 23:10] yaron2 commented on #3946
@slacksach I tried reproducing this in multiple environments and couldn't get the EOF error after 60m. Did you get to try this without Istio? is there any other operation that triggers any sidecar changes every 60m?

[2022-01-04 00:24] artursouza commented on #3798
I've updated the issue.

[2022-01-04 01:04] wcs1only commented on #3982
As suspected, the issue here is that a proxy request comes in from the app before daprd has finished initializing. Specifying an `--app-port` without an app actually listening on that port will cause daprd to block waiting for app startup. While in this state, any proxy request will cause daprd to crash. The linked PR #4079 will return an error for this case.

Even with this fix, you will still ne

[2022-01-04 01:26] #3982 closed

[2022-01-04 01:27] #3930 closed

[2022-01-04 03:00] daixiang0 commented on #4076
@yaron2 please help move it to `dapr/dashboard` repo.

[2022-01-04 03:36] #3753 closed

[2022-01-04 07:14] bgelens commented on #3169
Organization/Company: Wortell
Website: https://www.wortell.nl
Country: Netherlands
Contact: ben.gelens@wortell.nl
Usage scenario: Started using Dapr in our MDR (Managed Detection and Response) as a Service solution we offer to customers. Basically a whole bunch of microservices running in AKS with sidecar architecture leaning on pod assigned identities (where components are able to use them). Star

[2022-01-04 07:29] ls-2018 opened #4083 "compare field causing daprd panic"
**In what area(s)?**
/area runtime

**What version of Dapr?**
1.5.0

**Expected Behavior**
create reminder success

**Actual Behavior**
dapr panic

**Steps to Reproduce the Problem**

client.py
[code]
bug:   /pkg/actors/actors: reminderRequiresUpdate

[code]

![image](https://user-images.githubusercontent.com/38821215/148023017-880a27e6-ee5b-4f03-9e96-2dd1fb53656a.png)

[2022-01-04 08:45] zhftxdy commented on #3955
Not fixed

[2022-01-04 09:11] findmyway commented on #718
I find this feature is quite handy. What should we do to have it included in future releases?

[2022-01-04 09:30] danielberecz commented on #3830
@daixiang0 Would it make sense to pin this issue to avoid being closed?

[2022-01-04 09:31] dberecz commented on #3830
@daixiang0 Would it make sense to pin this issue to avoid being closed?

[2022-01-04 09:33] Admiralkheir commented on #4051
Hello,

We've made some changes to the injector.go in the dapr code. Referring to @yaron2's said, we added the "olm-operator-service account" user to this list. This time error turned into can't pull the UID of this user. When we examine the code a little more, dapr is thinking service accounts working the kube-system namespace cause of this dapr was pulling UID from kube-system namespace. At this

[2022-01-04 10:18] slacksach commented on #3946
Thanks @yaron2, I'm not aware of anything that would trigger a change each 60 minutes but I'll do some more digging.

[2022-01-04 11:38] qianlei90 commented on #3955
`kubectl get pvc raft-log-dapr-placement-server-0 -o yaml` @zhftxdy

[2022-01-04 13:42] berkaysakarg commented on #3793
Hi @yaron2 , @fjvela
Do you have any updates about the fix?

[2022-01-04 14:04] jjcollinge commented on #3830
@dberecz just trying to clarify your use case - your frontend is calling your backend service (with the SSE endpoint) via Dapr rather than directly? Where does your frontend run (browser, native, streamed, etc.)? Are you running a Dapr instance client side with your frontend or have you exposed the backend service's Dapr API?

[2022-01-04 14:23] pkuma001 commented on #4077
Hi @yaron2 ,

Thank you for your response :)

I have added my response inline to your questions,

**Can you explain what you're trying to do achieve by curling http://localhost:3500/v1.0/state/consul/v1/agent/members?**
_I am trying to reach consul component from my application through dapr sidecar. So, I am sending http request to consul dapr component using Dapr API._

**It's calling the Dapr st

[2022-01-04 15:38] fjvela commented on #3793
Hello @berkaysakarg!

I recheck your setup, Could you create your own certificate and setup it in flux? https://docs.dapr.io/operations/security/mtls/#bringing-your-own-certificates

Now  TSL is enabled by default for the placement service so I think you need a valid certificate.

At this moment I don’t have a computer to test it, sorry.

[2022-01-04 17:29] msfussell commented on #3761
@CrazyHZM - Please ensure that you also write the docs for this, before closing this issue. I have created this issue dapr/docs#2074

[2022-01-04 18:36] dmitsh commented on #3908
Preflight checklist:

* [ ]  Can any preview features be made stable (requires all SDKs to have implementation)?
* [ ]  Can alpha APIs be made stable?
* [ ]  For any new runtime feature are there tracking issues in all SDKs for implementation?
* [ ]  Are the long haul tests successful?

[2022-01-04 19:48] fjvela commented on #3945
Hello @yaron2!

Here: [dapr-logs.zip](https://github.com/dapr/dapr/files/7810045/dapr-logs.zip)

Now running: AKS 1.21.7 and DAPR 1.5

[2022-01-05 03:05] #4083 closed

[2022-01-05 05:27] #3537 closed

[2022-01-05 10:15] #3953 closed

[2022-01-05 13:07] jigargandhi commented on #3921
When we see the `registeredTime` for both the reminder one is registered on `2021-11-16T07:00:00Z` and other is registered on a different day `2021-11-09T07:03:16Z`. Which means a duplicate reminder was registered on 2021-11-16. Which ideally should not be allowed (its a bug):

This might have happened because of multiple reasons, one of them being: actor reminder created before the placement serv

[2022-01-06 00:04] #4052 closed

[2022-01-06 05:21] saber-wang commented on #4062
@daixiang0  This problem did not occur after dapr was upgraded to 1.5.1

[2022-01-06 05:21] #4062 closed

[2022-01-06 05:27] daixiang0 commented on #4062
@saber-wang glad to hear that.

[2022-01-06 06:09] zhftxdy commented on #3955
@qianlei90
![1641449333(1)](https://user-images.githubusercontent.com/26455837/148336860-57191964-cdfa-4ee1-aa5e-e165695807b0.png)

[2022-01-06 06:14] pkuma001 commented on #4077
Hi,

Could you please help me to resolve this issue.

[2022-01-06 07:16] yaron2 commented on #3955
It's probably that you don't have enough capacity in your cluster, but you can make sure with kubectl describe

[2022-01-06 07:25] lucasjellema opened #4095 "Incorporate OCI StorageService state store component in daprd"
## In what area(s)?

 /area runtime

## Describe the proposal

In PR https://github.com/dapr/components-contrib/pull/1401 a new state store component was introduced (based on OCI ObjectStorage). This PR is merged and the component is now ready to be included in the daprd runtime. This inclusion is the purpose of this proposal.

I will create a PR shortly to realize this issue.

[2022-01-06 08:06] zhftxdy commented on #3955
@yaron2
![1](https://user-images.githubusercontent.com/26455837/148348853-2768a1d8-f691-49d0-b13b-b980a4d9892f.png)
![2](https://user-images.githubusercontent.com/26455837/148348858-40c04792-644a-4e95-8833-9f3cfdb45c89.png)
Do I need to create persistent volumes manually?

[2022-01-06 10:03] PeterGerrard commented on #3793
We've disabled mTLS, does that mean we need to have it enabled or do we just need to supply a certificate for standard TLS in the placement service.

[2022-01-06 11:14] Shiko1st commented on #2675
Azure Service Bus supports this feature out-of-the-box, no need to invent a wheel, just a way to use ASB scheduling via dapr call...

[2022-01-06 17:26] jjcollinge commented on #718
Agree this would be a useful feature - I think initially I'd vote to have the interface similar to pubsub in that the Dapr runtime calls back into the user's app when there's a StateEvent rather than trying to offer a streaming interface. It looks like the initial PRs ([#719](https://github.com/dapr/dapr/pull/719 and https://github.com/dapr/components-contrib/pull/85) became stale and were abandon

[2022-01-06 17:32] T-REX-XP opened #4097 "Sidecar and main container can’t interoperate after a long period of time(3-4 weeks)"
## In what area(s)?
 /area runtime

## What version of Dapr?

## Expected Behavior
- Communication between the main container and their sidecar should work all time, even if any messages don't send for a long time.
- It will be great to see logs in case binding to Azure Service Bus has been broken

## Actual Behavior
Does anyone faced with a situation when the sidecar and main container can't inte

[2022-01-06 18:01] R-Lamberson commented on #4097
I see something similiar with Publish to Azure Service Bus through Dapr 1.2 & DotNetCore 5 however more frequenet.   It appears as a GRPC failure and requires a restart of the container to clear.   Very much a stability issue

[2022-01-06 18:07] yaron2 commented on #4097
@T-REX-XP @R-Lamberson please try to upgrade to 1.5.1 and see if this still occurs. There were changes to the Azure Service Bus component since 1.3.x.

[2022-01-06 18:18] yaron2 commented on #3955
No, Kubernetes dynamically creates and binds a PV/PVC. This means that whatever provider you're using for your Kubernetes distribution, it can't provision disks. What k8s distro is this?

[2022-01-06 20:37] #4095 closed

[2022-01-06 21:53] greenie-msft commented on #3906
Doc PR for this: https://github.com/dapr/docs/pull/2010

[2022-01-06 21:53] willtsai commented on #3271
created issue to track Dapr docs for this feature - https://github.com/dapr/docs/issues/2085

[2022-01-06 21:55] greenie-msft commented on #3514
Doc PR here: https://github.com/dapr/docs/pull/2019

[2022-01-06 23:44] artursouza commented on #3761
Can we achieve the same by setting an annotation that sets the placement addresses as empty? This will simplify the code a lot and make this an extensible solution.

[2022-01-06 23:47] artursouza commented on #3826
@yaron2, I am moving this to 1.7

[2022-01-07 00:28] zhftxdy commented on #3955
k8s distro is 1.19.15
![image](https://user-images.githubusercontent.com/26455837/148471501-9c789bdd-f786-4569-9193-ede611aafbc9.png)

[2022-01-07 01:14] artursouza commented on #3716
We have changed how reminder partitions are migrated in 1.6 by using batch instead of transaction, migrating only at start up and not on registering/unregistering reminders and blocking multiple migrations in parallel from the same process. This should reduce contention in reminder persistence.

In addition, we also fixed a bug that was allowing multiple state stores for actors to be randomly sele

[2022-01-07 01:18] artursouza commented on #3906
Moving to 1.7 since PR is still in progress.

[2022-01-07 01:19] #3984 closed

[2022-01-07 01:33] artursouza commented on #3837
E2E tests are not passing in the PR, moving to 1.7

[2022-01-07 01:35] #3995 closed

[2022-01-07 02:50] yang1626 opened #4098 "start more then one pods from k8s, only one of them started correctly"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

two or more pods with rabbitmq as pubsub component could start correctly

## Actual Behavior

I use rabbitmq as pubsub component,when I start two or more pods from kubernetes, one one could connect to rabbitmq,the other's daprd container couuld not start correctly, and report an error:

rabbitmq pub/sub: prepareSubscription for t

[2022-01-07 09:50] jsaelmackers opened #4105 "Cannot debug anymore Dapr Actors in Visual Studio 2022 targeting framework net6.0"
## In what area(s)?
 /area runtime

## What version of Dapr?

Dapr Actors 1.5.0

## Expected Behavior

To be able to debug step by step when attaching the code to a process.

## Actual Behavior

Since we are targeting the net6.0 framework, it is no more possible to debug the code in Visual Studio 2022.
Some error messages appears in the output console
'DaprActorService.exe' (CoreCLR: clrhost): Fai

[2022-01-07 10:00] #4105 closed

[2022-01-07 14:14] R-Lamberson commented on #4031
Upgraded to 1.5.1 runtime and client however still seeing sporadic failures related to publishing

Publish operation failed: the Dapr endpoint indicated a failure. See InnerException for details. Status(StatusCode="Internal", Detail="error when publish to topic external/####/#########/in in pubsub azure.servicebus.core.system: read tcp 10.0.4.15:33334->40.84.185.67:5671: read: connection reset by

[2022-01-07 15:02] jjcollinge commented on #4031
Thanks for the update @R-Lamberson. @pkedy I was just looking at our [existing recovery logic in the ASB publish method](https://github.com/dapr/components-contrib/blob/ab91ae1aa49b7efff5a9590dd1722668c9f7e686/pubsub/azure/servicebus/servicebus.go#L371). Currently we retry on an connection closed error but we don't actually recreate the connection (`sender`). I think on `connClosedError` we should

[2022-01-07 17:09] jjcollinge commented on #718
I think an issue we'd need to address with the current proposal is that it is only really applicable to the KV state store implementations that have the concept of key based events. This wouldn't be applicable to most document or relational stores and would rule out a lot of our current state store implementations. We might decided that this functionality is worth while on that subset of state sto

[2022-01-07 18:29] pkuma001 opened #4106 "components-contrib:cassandra- ERR_STATE_GET fail to get order from state store statestore: Bind variables cannot be used for table names"
## In what area(s)?

area runtime

## What version of Dapr?

dapr -v
CLI version: 1.5.1
Runtime version: n/a

## Expected Behavior

curl request to cassandra statestore using dapr api should get the order id from cassandra.

curl -k -v -X GET --header "dapr-app-id: statestore" http://localhost:3500/v1.0/state/statestore/order

## Actual Behavior

curl request to cassandra statestore using dapr api

[2022-01-07 23:43] #3980 closed

[2022-01-07 23:52] philliphoff commented on #4010
That's what I get for submitting issues during the holidays.  :-)

[2022-01-08 05:46] ls-2018 commented on #4098
Can you provide more logs？

[2022-01-08 05:56] ls-2018 commented on #4106
the data is not json format.

curl -k -v -X POST -H "Content-type: application/json" -H "Accept: application/json" -d '[{"key": "order", "value": "test"}]' --header "dapr-app-id: statestore" http://localhost:3500/v1.0/state/statestore

You can try again

[2022-01-08 06:16] ls-2018 commented on #4077
I'm a little confused about whether you want to get state or call a remote method. If it's the second one, the route should look like this
`http://localhost:3500/v1.0/invoke/executorapp/method/xxx`

[2022-01-08 09:48] mickdelaney commented on #3084
We handle Kafka errors by storing the offsets in a database (rather than using some of the more complex strategies).
It requires services containing consumers at startup to read the offsets, and using the confluent client lib we use those offsets in the DB to process from those points.
so we would need the ability to send this metadata to dapr kafka someone in order to continue with this error han

[2022-01-08 11:31] #3957 closed

[2022-01-08 14:07] jjcollinge commented on #4031
Actually I was mistaken on how the SDK handled this. Looks like [`Topic.Send(...)`](https://github.com/Azure/azure-service-bus-go/blob/a14e023504e9dadda9b2ca6458e62bb9ace81ef6/topic.go#L96) actually does create a new connection, session and link on each call so the cache shouldn't be causing an issue.

[2022-01-08 18:57] ItalyPaleAle commented on #3332
👋 boy

[2022-01-08 19:23] #3779 closed

[2022-01-08 19:23] #3822 closed

[2022-01-08 20:35] #3770 closed

[2022-01-08 22:01] paulyuk opened #4108 "Add auth policies to service invoke"
## Describe the feature
Add auth policies for service invoke.  This can fill a gap that requires a service mesh today.  This would also be very useful to enable calls to external APIs.

## Release Note
RELEASE NOTE: **ADD** Auth policies to service invoke

[2022-01-08 22:55] yaron2 commented on #4108
Dapr has identity based authorization policies for service invocation: https://docs.dapr.io/operations/configuration/invoke-allowlist/.

Does this correspond to what you have in mind? If not, please provide the feature set you'd like to see.

[2022-01-08 23:59] patrickhuber commented on #3787
@artursouza after our conversation last week, I have created a sample implementation of this as well.

@jjcollinge I like your implementation. It uses grpc services that are running externally correct? The big difference with this implementation is the use of [go-plugin](https://github.com/hashicorp/go-plugin) which is a wrapper around grpc and handles some of the component lifecycle. There are al

[2022-01-09 12:04] jwillmer commented on #3146
I subscribed to this issue since we would like to use dapr together with our Nomad deployment. Looking forward to keep stale bot busy 📢

[2022-01-09 13:26] pkuma001 commented on #4106
Hi @ls-2018 ,

Thank you for the response :)

I tried your suggestions and still I get the same error.

/app # **curl -k -v -X POST -H "Content-type: application/json" -H "Accept: application/json" -d '[{"key": "order", "value": "test"}]' --header "dapr-app-id: statestore" http://localhost:3500/v1.0/state/statestore**
Note: Unnecessary use of -X or --request, POST is already inferred.

Trying 127.

[2022-01-09 16:37] abelperezok commented on #4074
I've looked in the controller manager logs in CloudWatch from EKS control plane and I found this error, but not sure if it has anything to do with the behaviour I'm experiencing

Error syncing deployment" deployment="default/nodeapp" err="Operation cannot be fulfilled on deployments.apps \"nodeapp\": the object has been modified; please apply your changes to the latest version and try again"

The

[2022-01-09 16:47] abelperezok commented on #4074
I also found in kube-apiserver-audit logs inside CloudWatch from EKS control plane as well, something that gives a hint that the mutation is not happening.

[code]

[code]

The whole log document  is here:

[code]

[2022-01-09 17:35] jjcollinge commented on #3787
@patrickhuber great work 👍. I meant to look into trying go-plugin as an alternative so you've saved me the effort! If it manages the plugin lifecycle and security then this is a big win. I'll dig into your sample later this week.

[2022-01-09 18:27] #3841 closed

[2022-01-09 18:46] yaron2 commented on #4074
If you don't see any logs from the sidecar injector, it means its either not called or the Kubernetes API server is failing to call it. Are there any more EKS control plane logs you can pull?

[2022-01-09 18:49] yaron2 commented on #4074
Also, I found this: https://github.com/aws/amazon-eks-pod-identity-webhook/issues/83.

It might be a cluster level issue. Can you please spin up a different cluster and see if this reproduced?

[2022-01-09 20:39] amimimor commented on #3169
* Organization/Company: At-Bay
 *  Website: https://www.at-bay.com/
 * Country: USA & Israel
 * Contact: amitm@at-bay.com
 * Usage scenario: Using Dapr as our backbone for async microservices messaging while abstracting away the actual broker infrastructure that varies between local and cloud environments.
 * Runs on Amazon EKS,  using the Pubsub AWS SNS/SQS component,  with development in Python,

[2022-01-09 23:36] Dazfl commented on #3946
We are experiencing the same issue ... every 60 minutes we see the same error (`error from operator stream: rpc error: code = Unavailable desc = error reading from server: EOF`).

We are running a similar environment to @slacksach ... Dapr, K8s and Istio
Dapr - 1.5.1
K8s - 1.22.3-gke.700
Istio - 1.10.2

[2022-01-09 23:45] yang1626 commented on #4098
time="2022-01-06T06:58:07.200010441Z" level=info msg="app is subscribed to the following topics: [ExpandAssignmentUserSubmittedIntegrationEvent ExpeditingUserCorrectIntegrationEvent PersonalizedEnhanceAssignedIntegrationEvent ScopedQuestionAnnotateSavedIntegrationEvent TaskPublishedIntegrationEvent UserQuestionAnnotatedIntegrationEvent ExpandAssignmentCanceledIntegrationEvent ExpandAssignmentCorre

[2022-01-09 23:48] yaron2 commented on #3946
Seems like Istio is the common element here.

[2022-01-09 23:52] yaron2 commented on #3946
See here https://github.com/istio/istio/issues/23435.

Looks like the idleTimeout setting should be changed (defaults to 60m)

[2022-01-10 01:24] patrickhuber commented on #3787
Wonderful! I'm going to continue with some of the other plugin samples in
other languages. I think python will be next because there is already a
sample in the go-plugin repo.

On Sun, Jan 9, 2022, 12:35 PM Joni Collinge ***@***.***>
wrote:

[2022-01-10 03:16] sjwaight opened #4109 "Redis Output Binding: metadata format documentation missing"
## In what area(s)?

/area docs
/area bindings

## What version of Dapr?

1.5.1

## Expected Behavior

When invoking an output binding configured to use Redis I am unsure how to supply additional metadata about the item I am sending to the binding. There are no samples / documentation showing how to supply the metadata. Consequently I tried the following and expect the data to be handled.

[code]

[2022-01-10 09:33] slacksach commented on #3946
Thanks @yaron2, we've been attempting to reproduce this issue locally via MiniKube, will look into the idleTimeout to see if it helps.

[2022-01-10 09:35] #3846 closed

[2022-01-10 11:05] abelperezok commented on #4074
@yaron2 Thanks for the pointer, I had a read about that, it seems related. I kept digging in EKS Control Plane logs, this time the API Server logs (not audit) and I found these two lines:

[code]

It seems like somehow service url is not fully qualified

[2022-01-10 11:49] viveknuna opened #4112 "How to implement multiple publisher and subscriber using Dapr for the same Azure Storage Account?"
I have implemented two sets of Publisher and Subscriber applications (Pub1, Sub1)and (Pub2, Sub2). which are using the same container in the storage account.

At a given time only one set of publisher and subscriber is working. for example, only Pub1 and Sub1 set is sending and receiving messages. But Pub2 and Sub2 set is not working.

Also, the Lease Status is **Leased**.

I have tried creating a

[2022-01-10 12:11] slacksach commented on #3946
@yaron2 @Dazfl I was able to cause this error by executing a restart on the dapr-operator deployment, I'm going to see if I can get it to occur downstream
{"app_id":"daprpublisherrepro-api","instance":"daprpublisherrepro-api-9b8498596-2g9q4","level":"error","msg":"error from operator stream: rpc error: code = Unavailable desc = error reading from server: EOF","scope":"dapr.runtime","time":"2022-01

[2022-01-10 15:19] jesmith026 opened #4113 "Local Development Connecting to Local K8s"
When developing microservices is it possible to spin up a service on my local machine (not k8s) with a dapr sidecar that is communicating with dapr running in my local k8s cluster? Perhaps by exposing specific ports or updating any available configuration? I have searched around but have not been able to find anything on the topic so far.

[2022-01-10 16:36] yaron2 commented on #3946
Actually EOF is exactly what you're supposed to see if the operator restarts, it just means the gRPC connection on the other side died. Unless your operator restarts itself every 60m (and then we should find out why) this doesn't seem to reproduce what's happening in your environment.

[2022-01-10 17:26] slacksach commented on #3946
Thanks @yaron2, yeah, I'm working through the many logs to try and correlate the behaviour, the EOF is always followed immediately by a component re-load, this error also appears

{"app_id":"my-api","instance":"my-api-64f586cf47-8ph79","level":"debug","msg":"received unauthorized component update, ignored. name: test, type: pubsub.rabbitmq/v1","scope":"dapr.runtime","time":"2022-01-10T15:49:19.624

[2022-01-10 18:26] yaron2 commented on #3994
Reopened.

[2022-01-10 23:19] yaron2 commented on #4068
I agree that adding pub/sub and bindings metrics is an important. however, service invocation requests in flight are supported today for HTTP and gRPC.

[2022-01-10 23:35] slacksach commented on #3946
Update, on this particular issue, this appears to be just be a case of this scenario:
app-1 - 1 component with scope - app-1
app-2 - 1 component with scope - app-2

{"app_id":"my-api","instance":"my-api-64f586cf47-8ph79","level":"debug","msg":"received unauthorized component update, ignored. name: test, type: pubsub.rabbitmq/v1","scope":"dapr.runtime","time":"2022-01-10T15:49:19.624804438Z","type"

[2022-01-10 23:51] yaron2 commented on #3826
@mhozhda-agiliway I took a look at this and from what I can see Dapr does the right thing:

I ran two apps, A and B.

App B exposed a single endpoint: `/api/orders`.

I invoked App B from App A using Dapr with the following url `v1.0/invoke/appA/method/api/something` and received `404 Not Found`.
That's the expected response, as Dapr was able to discovery App B, route the message to it, and return

[2022-01-11 00:00] slacksach commented on #3946
Success, here's a quick global Istio EnvoyFilter that will cause the following to happen quickly,
1. Operator EOF
2. Component reload (due to [1] above)
3. Connection Count growth (due to reload of components)
[code]

[code]

[2022-01-11 00:19] slacksach commented on #3946
@Dazfl @yaron2 here's a more targeted version, specifically for the dapr-operator,
Set idle_timeout: to 0s to disable the timeout just for inbound traffic to dapr-operator on port 6500.

[code]

[2022-01-11 00:55] patrickhuber commented on #3787
I finished up the node and python examples.

[2022-01-11 01:01] yaron2 commented on #3787
Hey Patrick, this will be discussed in tomorrow's community call. It's be great if you could participate.

[2022-01-11 02:01] patrickhuber commented on #3787
Ok. I put it on my calendar, I'll try my best to be there.

On Mon, Jan 10, 2022, 8:01 PM Yaron Schneider ***@***.***>
wrote:

[2022-01-11 02:24] daixiang0 commented on #3910
@artursouza let's talk about in the community call and ensure the label to speed up review prosee :)

[2022-01-11 02:28] CrazyHZM commented on #3761
I'm not sure if there is an error message missing:
when the user wants to turn on placement, but forgets to configure the address.
If you use address as the basis for judging whether to disable placement, you will lose this error message
@artursouza

[2022-01-11 05:36] #3273 closed

[2022-01-11 11:39] jjcollinge commented on #3787
I won't be able to make the community call unfortunately but I think one thing we should try to address is what @pkedy mentioned. Basically, is it better to host a language proxy that can load multiple plugins to support multiple Dapr components and APIs (*Indirect plugins in the diagram below*). Or like in @patrickhuber sample, we just load plugins on demand for specific components (*direct plugi

[2022-01-11 14:30] dariuszbz opened #4116 "considering AKS - how dapr is different from AppGtw Url Path routing"
By the first look I can do routing plus scaling to specific containers using just AppGtw url routing - if developers use MVC.
I can separate traffic to single method, and run each method in separated deployments, etc. So what is the big deal about DAPR?!

What I'm missing is sort of:
what it really gives me what other technology can't offer.

I'm really sorry if you think it is a stupid question,

[2022-01-11 15:59] yaron2 commented on #4116
Hi @dariuszbz, for starters, Dapr is not an App Gateway.

App Gateways usually govern the flow of traffic at the Ingress level, from outside of a cluster and to a webserver.

In regards to service calls, which I think is what you're asking about here, Dapr helps developers connect different microservices or apps within a cluster, where communications are internal, and it does so securely (managed

[2022-01-11 15:59] #4116 closed

[2022-01-11 16:37] patrickhuber commented on #3787
There is also an opportunity to scope plugins in more of a provider model. So one plugin could provide multiple different services. I drew up a visual representation. The language aspects would be exposed via an sdk. The developer of a plugin would only need to consume the SDK, implement the service contracts and register the service in a key map. The model could apply to other component types as

[2022-01-11 17:23] jjcollinge commented on #3787
Good point, I guess you could load the same plugin for multiple Dapr components if the plugin happened to implement the relevant interfaces at least once. As you and @pkedy say, you'd need to provide some routing (via a thread safe map) in the plugin to invoke the appropriate component implementation.

[2022-01-11 18:56] artursouza opened #4119 "Log Dapr API calls"
## In what area(s)?

On every call into the Sidecar or into the App, a log message should be printed for both gRPC and HTTP. I propose this to be have DEBUG verbosity.

## Describe the feature

Display API calls to/from Dapr sidecar.

## Release Note

RELEASE NOTE: **ADDED** logging for Dapr API calls

[2022-01-11 19:06] yaron2 commented on #4119
This was discussed in the past and decided against. It's way too verbose and doesn't provide any value. We currently log API calls on Debug level.

Info would create an IO bottleneck,.degrade performance and create noisy output for user's log sinks.

[2022-01-11 19:14] yaron2 commented on #4119
Removed from 1.7 until further discussed.

[2022-01-11 19:20] yaron2 commented on #4119
@artursouza please update the proposal to `Debug` verbosity, then we can put in 1.7 as we'll have consensus.

[2022-01-11 19:23] yaron2 commented on #4119
As for the implementation, ideally this can be accomplished as a global HTTP handler for the HTTP API and as a gRPC interceptor for gRPC, instead of per endpoint/method.

[2022-01-11 21:49] abelperezok commented on #4074
@yaron2 The `hostNetwork` setting did the trick for me, I manually updated the chart by adding an extra value to the dapper injector deployment, I tested it in my cluster with the setting set to true and it worked successfully.

Is this a change you guys would like to accept from me ? I'm preparing a pull request with this particular solution in place.

There are other ideas explained very well in

[2022-01-11 21:59] yaron2 commented on #4074
So the issue was that you're using Calico as the CNI plugin for your EKS cluster? Yeah a PR would be welcome. It needs to be a well understood, and documented Helm setting.

[2022-01-11 22:14] abelperezok commented on #4074
Yes, exactly, so it will help anyone with that setup.
PR is on the way https://github.com/dapr/dapr/pull/4120
I'll be happy to expand in the docs repo

[2022-01-11 22:27] artursouza commented on #4119
@yaron2 @msfussell would it make sense to have this log level configurable with DEBUG as default, so some developers might want to have this at INFO and not DEBUG where the performance hit is not critical to their application. I am saying this because I have many past experiences where logging API calls were set as INFO and critical to debug production issues. Changing to DEBUG to force the API lo

[2022-01-11 22:39] yaron2 commented on #4119
Fine by me.

[2022-01-11 22:57] #4074 closed

[2022-01-12 03:24] yaron2 commented on #3513
Also discussed here: https://github.com/dapr/dapr/issues/3787.

[2022-01-12 04:44] artursouza commented on #3787
We need to find a solution to package this: multiple processes running in dapr sidecar container or extra container per component injected by sidecar injector?

I think it is important to restrict communication within localhost only so we don't need to implement mtls for components.

[2022-01-12 04:44] artursouza commented on #3787
Great job demo-ing this in today's community call.

[2022-01-12 09:14] dariuszbz commented on #4116
Thank You @yaron2

[2022-01-12 13:13] patrickhuber commented on #3787
Thanks :)

I can think of three execution contexts:

* Running on a machine without docker/containerd
* Running on a machine with docker/containerd
* Running in a kubernetes cluster

Does the container injector handle all of those or is there some other mechanism at play?

[2022-01-12 17:51] yaron2 commented on #3549
Hey @seeflood, reached out on Discord :)

[2022-01-12 18:13] artursouza commented on #3787
Dapr sidecar runs on 2 modes right now: as a standalone process (not containerized) or in K8s via a container injected into the pod. We need to create clarity for how to package and run the component processes in standalone mode and k8s mode. For standalone mode, the answer might use container since we already run control plane services for Dapr in containers but that would be difference from the

[2022-01-12 21:04] artursouza commented on #4065
Can someone provide an example of how this would work? I am interested to see how components, like Kafka or Azure CosmosDB would benefit from a custom DNS resolution (if possible).

[2022-01-13 03:05] patrickhuber commented on #3787
So it appears the go-plugin library supports reattaching to an already running plugin. So that should make it possible to connect to a plugin no matter where it resides (assuming network connectivity) or how it starts. Starting in the same pod or same machine is ideal to reduce latency

https://github.com/hashicorp/go-plugin/blob/56f9791a3f41b119e6f20fc5e1b1729fe0535418/client.go#L131

For kuberne

[2022-01-13 05:37] dmitsh commented on #2892
I propose a simple solution: using metadata to pass content type to the state store components, for example
[code]

[2022-01-13 09:15] #4003 closed

[2022-01-13 09:32] jjcollinge commented on #3787
I agree @patrickhuber, I think just packaging plugins as directories, using a filesystem convention (e.g. similar to `
.terraform`) and just running the plugin procs within the same execution context as the `daprd` proc (regardless of if `daprd` is on a host or in a container) is probably the best starting point for **both** standalone and k8s. We can add additional capabilities such as host cachi

[2022-01-13 15:12] yaron2 commented on #3867
Closing as we now have an official Dart SDK.

[2022-01-13 15:12] #3867 closed

[2022-01-13 15:46] Banchio opened #4122 "Globally manage DAPR options in kubernetes"
/area runtime

Wondering if a way exists to globally set an option like dapr.io/http-max-request-size or dapr.io/http-read-buffer-size. I have several services in kubernetes cluster and instead of putting everywhere these settings I would like to set and manage those centrally (maybe overridden by the deployment itself). Is it possible?

Thanks

[2022-01-13 17:27] msfussell commented on #1339
Closing this API issue. Issues tracking Alpha->Stable for the API and for Query API implemented in each of the SDKs are tracked separately.

[2022-01-13 17:27] #1339 closed

[2022-01-13 18:25] artursouza commented on #3787
Would this work on Windows?

[2022-01-13 18:59] jjcollinge commented on #3787
I think we'd have to prototype some more to fully understand the xplat story. But if we plan to support plugins in multiple languages, then some plugins would work xplat out the box and others would require native compilation. Granted, docker would simplify this aspect of the problem.